<template>
  <div class="allocation-target bg-primary-3" :style="'min-height: ' + screenHeight + 'px'">
    <reusable-toolbar page-name="Target Alokasi"></reusable-toolbar>
    <!-- Grafik -->
    <v-layout row wrap class="margin-toolbar" pt-3>
      <v-flex xs6>
        <v-card-text class="text-xs-center nexa-14-bold">
          Sekarang
        </v-card-text>
      </v-flex>
      <v-flex xs6>
        <v-card-text class="text-xs-center nexa-14-bold">
          Target
        </v-card-text>
      </v-flex>
    </v-layout>
    <v-layout row class="bg-primary-3 grafik-wrapper" pb-3 align-center id="grafik-wrapper">
      <v-flex xs6 class="nexa-16-bold pt-1 text-xs-right">
        <vue-high-chart class="my-0 pa-0 center-horizontal" classname="highcharts" style="height: 180px" :options="piePortfolioOptions.now" ref="pieChartNow"></vue-high-chart>
      </v-flex>
      <v-flex xs6 class="nexa-16-bold pt-1 text-xs-right">
        <vue-high-chart class="my-0 pa-0 center-horizontal" classname="highcharts" style="height: 180px" :options="piePortfolioOptions.target" ref="pieChartTarget"></vue-high-chart>
      </v-flex>
    </v-layout>

    <div class="wrap-description">
      <div class="wrap-card">
        <div class="wrap-color color-pasar-uang pb-2">
          <div class="border-left mr-2"></div>
          <span class="avenir-10-med color-grey">Reksa Dana</span> <br />
          <span class="avenir-12-reg">Pasar Uang</span>
        </div>
      </div>
      <div class="wrap-card">
        <div class="wrap-color color-tetap pb-2">
          <div class="border-left mr-2"></div>
          <span class="avenir-10-med color-grey">Reksa Dana</span> <br />
          <span class="avenir-12-reg">Pendapatan Tetap</span>
        </div>
      </div>
      <div class="wrap-card">
        <div class="wrap-color color-saham pb-2">
          <div class="border-left mr-2"></div>
          <span class="avenir-10-med color-grey">Reksa Dana</span> <br />
          <span class="avenir-12-reg">Saham</span>
        </div>
      </div>
      <div class="wrap-card">
        <div class="wrap-color color-emas pb-2">
          <div class="border-left mr-2"></div>
          <span class="avenir-10-med color-grey">Logam Mulia</span> <br />
          <span class="avenir-12-reg">Emas</span>
        </div>
      </div>
    </div>

    <div class="clear"></div>

    <v-divider class="mt-3"></v-divider>

    <v-layout column>
      <v-flex xs12 class="px-3 pt-4">
        <v-card-text class="nexa-14-bold">
          Rebalancing
        </v-card-text>
      </v-flex>
      <v-flex xs12 class="px-3 pt-2">
        <v-card-text class="avenir-12-reg">
          Fitur yang memudahkan kamu untuk menyesuaikan kembali alokasi aset sesuai targetnya sehingga bisa memaksimalkan keuntungan dan meminimalisir kerugian investasi.
        </v-card-text>
      </v-flex>
    </v-layout>

    <v-layout row align-center justify-space-between class="fixed-layout" pa-3>
      <v-flex xs12>
        <v-btn depressed block class="button-fixed-bottom" color="primary" @click="routeToRebalancing()">
          Rebalancing
        </v-btn>
      </v-flex>
    </v-layout>



  </div>
</template>
<script>
// import vuehighchart
import VueHighChart from 'vue2-highcharts'

import { VDivider } from 'vuetify/lib'

export default {
  components: {
    VueHighChart,
    VDivider
  },
  data: () => ({
    screenHeight: screen.height - 48,
    piePortfolioOptions: {
      now: {
        chart: {
          type: 'pie'
        },
        credits: {
          enabled: false
        },
        tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
          series: {
            dataLabels: {
              enabled: true,
              format: '{point.y}%',
              distance: -20,
              fontSize: 10,
              style: {
                color: 'white',
                fontWeight: 'normal',
                textShadow: false,
                textOutline: false,
                fontSize: 10
              }
            }
          }
        },
        size: '100%',
        colors: ['#10CF99', '#42A5F5', '#EF5350', '#FFB300'],
        title: false,
        yAxis: {
          title: false
        },
        series: [
          {
            name: 'Total',
            innerSize: '25%',
            colorByPoint: true,
            data: [
              {
                name: 'Pasar Uang',
                y: 10
              },
              {
                name: 'Pendapatan Tetap',
                y: 20
              },
              {
                name: 'Saham',
                y: 30
              },
              {
                name: 'Emas',
                y: 40
              }
            ]
          }
        ]
      },
      target: {
        chart: {
          type: 'pie'
        },
        credits: {
          enabled: false
        },
        tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
          series: {
            dataLabels: {
              enabled: true,
              format: '{point.y}%',
              distance: -20,
              fontSize: 10,
              style: {
                color: 'white',
                fontWeight: 'normal',
                textShadow: false,
                textOutline: false,
                fontSize: 10
              }
            }
          }
        },
        size: '100%',
        colors: ['#10CF99', '#42A5F5', '#EF5350', '#FFB300'],
        title: false,
        yAxis: {
          title: false
        },
        series: [
          {
            name: 'Total',
            innerSize: '25%',
            colorByPoint: true,
            data: [
              {
                name: 'Pasar Uang',
                y: 10
              },
              {
                name: 'Pendapatan Tetap',
                y: 10
              },
              {
                name: 'Saham',
                y: 10
              },
              {
                name: 'Emas',
                y: 70
              }
            ]
          }
        ]
      }
    }
  })
}
</script>
<style lang="sass">
  .allocation-target
    *
      padding: 0
      margin: 0

    .clear
      clear: both

    .v-divider
      border-width: 4px !important

    .button-fixed-bottom
      border-radius: 4px
      height: 46px !important

    .primary
      background-color: #388BF2 !important
      border-color: #388BF2 !important

    .fixed-layout
      position: fixed
      background-color: white
      width: 100%
      bottom: 0px

    .border-left
      width: 4px
      height: 32px
      float: left
      border-radius: 2px

    .border-bottom-card
      border-bottom: 1px solid #F2F2F2

    .color-grey
      color: #A0A5B7

    .margin-toolbar
      margin-top: 48px
      margin-bottom: -10px
      z-index: 10
      position: relative

    .v-toolbar--fixed
      z-index: 15 !important

    .color-pasar-uang
      width: 90px

      .border-left
        background: #10CF99
        margin-top: 6px

    .color-tetap
      width: 120px

      .border-left
        background: #42A5F5
        margin-top: 6px

    .color-saham
      width: 90px

      .border-left
        background: #EF5350
        margin-top: 6px

    .color-emas
      width: 90px

      .border-left
        background: #FFB300
        margin-top: 6px

    .wrap-description
      position: relative

    .wrap-card
      width: 50%
      float: left

    .wrap-card:nth-child(1) .wrap-color
      float: right

    .wrap-card:nth-child(3) .wrap-color
      float: right

    .wrap-card:nth-child(5) .wrap-color
      float: right


</style>
