<template>
  <div class="finavest-payment-zakat-list bg-primary-3 full-height">
    <reusable-toolbar page-name="Bayar Zakat"></reusable-toolbar>
    <v-container class="toolbar-margin">
      <div id="oala"></div>
      <v-layout column>
        <v-card flat class="card-radius box-shadow py-3 pl-3 mb-4" v-for="item in list" :key="item.routing" @click="routeToZakat(item.routing)">
          <v-layout row align-center justify-space-between>
            <v-flex xs6>
              <v-card-text class="pa-0 avenir-16-reg">{{ item.name }}</v-card-text>
            </v-flex>
            <v-flex xs6>
              <v-img :src="item.img" max-height="64px"></v-img>
            </v-flex>
          </v-layout>
        </v-card>
      </v-layout>
      <v-layout row align-center justify-space-between pt-1 px-3>
        <v-flex xs3>
          <v-img :src="require('@/assets/partners/rz.png')" max-height="37" max-width="70"></v-img>
        </v-flex>
        <v-flex xs9 class="avenir-10-med pl-2">
          Semua zakat di halofina akan dikelola <br /> oleh Rumah Zakat
        </v-flex>
      </v-layout>
    </v-container>

    <div class="fixed-layout px-3" v-if="dataPayment.length > 0" @click="routeToZakatPayment()">
      <v-layout row align-center justify-space-between px-3 py-2 class="cart">
        <v-flex xs9>
          <v-flex xs12 class="item avenir-12-reg color-primary-3">
            {{dataPayment.length}} item
          </v-flex>
          <v-flex xs12 class="nexa-14-bold color-primary-3">
            Rp {{numberingNumber(totalAmount)}}
          </v-flex>
        </v-flex>
        <v-flex xs3>
          <v-flex xs12 class="text-xs-right">
            <img src="@/assets/finavest/payment/zakat/cart.svg" alt="logo cart">
          </v-flex>
        </v-flex>
      </v-layout>
    </div>
  </div>
</template>

<script>
import {
  VImg
} from 'vuetify/lib'
import Api from '@/services/Api'
import { numberingNumber, dateFormat } from '@/services/Helpers'

export default {
  components: {
    VImg
  },
  data () {
    return {
      daysFitrahActive: null,
      dataPayment: null,
      list: [
        {
          routing: 'penghasilan',
          name: 'Zakat Penghasilan',
          img: require('@/assets/finavest/payment/zakat/penghasilan.svg')
        },
        {
          routing: 'fitrah',
          name: 'Zakat Fitrah',
          img: require('@/assets/finavest/payment/zakat/fitrah.svg')
        },
        {
          routing: 'emas',
          name: 'Zakat Emas',
          img: require('@/assets/finavest/payment/zakat/emas.svg')
        },
        {
          routing: 'investasi',
          name: 'Zakat Investasi',
          img: require('@/assets/finavest/payment/zakat/investasi.svg')
        }
      ]
    }
  },
  methods: {
    numberingNumber,
    dateFormat,
    routeToZakat (route) {
      this.$router.push('/finavest/payment/zakat/zakat_desc/' + route)
    },
    routeToZakatPayment () {
      this.$router.push('/finavest/payment/zakat/zakat_payment')
    },
    checkFitrahActive () {
      let days = localStorage.getItem('halofina-fitrah-days')
      if (Number(days) <= 59) {
        //
      } else {
        this.list.splice(1, 1)
      }
    },
    getDataList () {
      Api('finapay/zakat/list', {})
        .then((res) => {
          this.dataPayment = res.d
        })
        .catch((err) => {
          this.dataPayment = err.s
        })
    }
  },
  created () {
    this.getDataList()
    this.checkFitrahActive()
  },
  computed: {
    totalAmount: function () {
      return this.dataPayment.map(data => Number(data.amount)).reduce((prev, next) => prev + next)
    }
  }
}
</script>

<style lang="sass">
  .finavest-payment-zakat-list

    .box-shadow-up
      box-shadow: 0px -3px 12px 0px rgba(0,0,0,0.12)

    .fixed-layout
      position: fixed
      bottom: 14px
      width: 100%

    .cart
      background-color: #388BF2
      width: 100%
      border-radius: 4px
      color: #fff

      .item
        opacity: .7


</style>
