<template>
  <div class="finavest-payment-zakat-fitrah">
    <v-layout column class="min-height bg-primary-3">
      <v-flex>
        <!-- Zakat Timer -->
        <div class="px-3 my-3">
          <div id="demo">

          </div>
          <v-card-text class="avenir-16-reg pa-0 mb-2">Sisa Waktu</v-card-text>
          <v-layout row align-center justify-center class="text-align-center mb-3">
            <v-flex xs4 class="mr-2">
              <div class="timer-box center-vert center-horizontal color-primary-3"><span id="days">0</span></div>
              <v-card-text class="avenir-12-med pa-0 color-system-warning mt-2">hari</v-card-text>
            </v-flex>
            <v-flex xs4 class="mr-2">
              <div class="timer-box center-vert center-horizontal color-primary-3"><span id="hours">0</span></div>
              <v-card-text class="avenir-12-med pa-0 color-system-warning mt-2">jam</v-card-text>
            </v-flex>
            <v-flex xs4>
              <div class="timer-box center-vert center-horizontal color-primary-3"><span id="minutes">0</span></div>
              <v-card-text class="avenir-12-med pa-0 color-system-warning mt-2">menit</v-card-text>
            </v-flex>
          </v-layout>
          <v-card-text class="avenir-12-reg pa-0 color-secondary-5">Batas waktu zakat adalah sebelum sholat hari raya idul fitri, atau tanggal <strong>{{ dateFormat(dueDate, 'DD MMMM YYYY') }}</strong> (berdasarkan kalender nasional).</v-card-text>
        </div>
        <v-divider class="mb-4"></v-divider>
        <!-- Zakat Input -->
        <div class="px-3 mb-4 mt-4">
          <v-card-text class="nexa-16-bold pa-0 mb-2">Jumlah orang yang zakat</v-card-text>
          <v-layout row>
            <v-text-field solo flat v-model="person" hide-details type="number"></v-text-field>
            <div class="btn-box center-horizontal btn-radius ml-2">
              <v-icon color="primary" @click="decrementPerson()">remove</v-icon>
            </div>
            <div class="btn-box center-horizontal btn-radius ml-2">
              <v-icon color="primary" @click="incrementPerson()">add</v-icon>
            </div>
          </v-layout>
        </div>
        <v-divider style="border-width: thick !important" class="mb-4"></v-divider>
        <!-- Zakat Fitrah Summary -->
        <div class="px-3 mb-3">
          <v-card-text class="nexa-16-bold pa-0 mb-2">Biaya per orang</v-card-text>
          <v-card-text class="avenir-14-reg pa-0 mb-4">Rp {{ numberingNumber(nishabPrice) }}</v-card-text>
          <v-card-text class="avenir-12-reg pa-0 color-secondary-5">Zakat disetorkan berupa makanan pokok atau beras sebesar 3,5 liter / {{ numberingNumber(nishabWeight) }} kg. Untuk harga rata-rata beras sekarang adalah Rp {{ numberingNumber(nishabPerKg) }} /kg</v-card-text>
        </div>
        <v-divider class="mb-4"></v-divider>
        <!-- Zakat Fitrah Spent -->
        <div class="px-3 mb-4">
          <v-card-text class="nexa-16-bold pa-0 mb-2">Zakat yang harus dikeluarkan</v-card-text>
          <v-card-text class="nexa-16-bold pa-0 mb-2 color-primary-1">Rp {{ numberingNumber(totalZakat) }}</v-card-text>
        </div>
        <!-- Zakat button -->
        <div class="mx-3 mb-4">
          <v-btn color="warning" class="btn-radius btn-shadow py-2 full-width" :disabled="totalZakat === 0" depressed @click="formName = true">Bayar</v-btn>
        </div>
      </v-flex>
    </v-layout>
    <!-- Popup bottom -->
    <v-bottom-sheet v-model="formName" :persistent="true">
      <v-card flat style="border-top-left-radius: 12px; border-top-right-radius: 12px">
        <v-layout column pa-3>
          <v-layout row align-center>
            <v-card-text class="pa-0 avenir-16-med">Zakat Fitrah</v-card-text>
            <v-icon color="black" @click="formName = false">close</v-icon>
          </v-layout>
          <v-layout row>
            <v-card-text class="pa-0 avenir-14-med mb-3">Rp {{ numberingNumber(totalZakat) }}</v-card-text>
          </v-layout>
          <!-- Cashback -->
          <v-layout column mb-2>
            <v-flex xs12>
              <v-text-field v-model="name" solo flat hide-details label="Atas nama atau keluarga..." class="mb-4"></v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-btn @click="zakatCheckOut()" :disabled="name === ''" color="warning" block depressed class="btn-radius box-shadow py-2">Lanjut</v-btn>
            </v-flex>
          </v-layout>
        </v-layout>
      </v-card>
    </v-bottom-sheet>
    <!-- Loading Dialog -->
    <reusable-dialogs
        v-model="dialog.loading"
        :unclickable="true"
    >
        <div slot="layout">
          <v-card flat class="card-radius" style="width: 100%">
            <v-layout py-3 px-4 row align-center justify-center>
              <reusable-loading></reusable-loading>
              <div class="nexa-14-bold px-5">Memproses</div>
            </v-layout>
          </v-card>
        </div>
    </reusable-dialogs>
  </div>
</template>

<script>
import {
  VTextField,
  VDivider,
  VIcon,
  VBottomSheet
} from 'vuetify/lib'
import { numberingNumber, dateFormat } from '@/services/Helpers'
import Api from '@/services/Api'
import ReusableLoading from '@/components/reusable/ReusableLoading'

const { getTime } = require('date-fns')
const { convertToTimeZone } = require('date-fns-timezone')

export default {
  components: {
    VTextField,
    VDivider,
    VIcon,
    VBottomSheet,
    ReusableLoading
  },
  props: {
    zakatName: {
      type: String
    }
  },
  data () {
    return {
      person: 0,
      nishabWeight: '',
      nishabPrice: 0,
      nishabPerKg: '',
      nishabKg: '',
      name: '',
      dueDate: '',
      formName: false,
      dialog: {
        loading: false
      },
      counterDisplay: ''
    }
  },
  computed: {
    totalZakat () {
      return this.person * this.nishabPrice
    }
  },
  methods: {
    numberingNumber,
    dateFormat,
    convertToTimeZone,
    getTime,
    fetchDataNishab () {
      Api('finapay/zakat/info', {
        zakatname: 'Zakat Fitrah'
      })
        .then((res) => {
          this.nishabWeight = res.d.ref_weight
          this.nishabPrice = res.d.amount
          this.nishabPerKg = res.d.ref_price
          this.dueDate = res.d.duetime
          this.countdown(res.d.duetime)
          this.counter(res.d.duetime)
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    incrementPerson () {
      this.person++
    },
    decrementPerson () {
      if (this.person > 0) this.person--
    },
    // countdown date zakat fitrah
    countdown (endDate) {
      // Set the date we're counting down to

      // translate to format support i phone
      var countDownDateFormat = dateFormat(endDate, 'MM/DD/YYYY hh:mm:ss')
      // get time end date
      var countDownDate = new Date(countDownDateFormat).getTime()

      // Update the count down every 1 second
      var x = setInterval(function () {
        // Get today's date and time
        var nowDate = new Date()
        // change format support safari
        var nowDate2 = dateFormat(nowDate, 'MM/DD/YYYY hh:mm:ss')
        // get time
        var nowDate3 = new Date(nowDate2).getTime()
        // translate to format support i phone
        // Find the distance between now and the count down date
        var distance = countDownDate - nowDate3

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(Number(distance) / (1000 * 60 * 60 * 24))
        var hours = Math.floor((Number(distance) % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))
        var minutes = Math.floor((Number(distance) % (1000 * 60 * 60)) / (1000 * 60))
        // var seconds = Math.floor((distance % (1000 * 60)) / 1000)

        // Output the result in an element with id="demo"
        document.getElementById('days').innerHTML = days
        document.getElementById('hours').innerHTML = hours
        document.getElementById('minutes').innerHTML = minutes

        // If the count down is over, write some text
        if (distance < 0) {
          clearInterval(x)
          document.getElementById('days').innerHTML = '0'
          document.getElementById('hours').innerHTML = '0'
          document.getElementById('minutes').innerHTML = '0'
        }
      })
    },
    pad (num) {
      return ('0' + parseInt(num)).substr(-2)
    },
    zakatCheckOut () {
      this.dialog.loading = true
      Api('finapay/zakat/checkout', {
        zakat_name: 'Zakat Fitrah',
        amount: this.totalZakat,
        muzakki: this.name
      })
        .then((res) => {
          this.dialog.loading = false
          this.$router.push('/finavest/payment/zakat/zakat_payment/')
        })
        .catch(() => {
          this.dialog.loading = false
          this.dialog.dialogError = true
        })
    }
  },
  created () {
    this.fetchDataNishab()
  }
}
</script>

<style lang="sass">
  .finavest-payment-zakat-fitrah
    .btn-box
      width: 40px
      height: 40px
      border: 1px solid #E8EAEF

    .timer-box
      height: 40px
      background: #FBAF18
      border-radius: 4px
      font-size: 18px
</style>
