<template>
  <div class="finavest-payment-container text-align-center">
    <reusable-toolbar :page-name="zakatPage"></reusable-toolbar>
    <v-container class="pa-0">
      <v-layout column class="bg-primary-3 pa-3 full-height" align-center justify-space-between>
        <img :src="zakatImg" style="margin-top: 70px"/>
        <div>
          <v-card-text class="pa-0 nexa-20-bold">{{ zakatPage }}</v-card-text>
          <v-card-text class="pa-0 avenir-12-reg mt-2 color-secondary-5" v-html="zakatDesc"></v-card-text>
        </div>
        <v-btn color="primary" class="btn-radius btn-shadow py-2 full-width" depressed @click="routeToForm()">Mulai</v-btn>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import {
  VImg
} from 'vuetify/lib'
import { capitalizeWord } from '@/services/Helpers'

export default {
  components: {
    VImg
  },
  data () {
    return {
      zakatType: '',
      zakatPage: '',
      zakatImg: '',
      zakatDesc: ''
    }
  },
  methods: {
    routeToForm () {
      this.$router.push('/finavest/payment/zakat/zakat_container/' + this.zakatType)
    },
    switchZakatType () {
      switch (this.zakatType) {
        case 'emas':
          this.zakatImg = require('@/assets/finavest/payment/zakat/emas-big.svg')
          this.zakatDesc = 'Setiap muslim yang memiliki simpanan emas selama <br /> satu tahun dan mencapai 85 gram emas, maka wajib <br /> mengeluarkan zakat sebanyak 2,5%. Kami akan <br /> membantu menghitung zakatmu.'
          break
        case 'fitrah':
          this.zakatImg = require('@/assets/finavest/payment/zakat/fitrah-big.svg')
          this.zakatDesc = 'Ditunaikan oleh orang islam yang mampu setahun sekali pada saat awal bulan ramadhan hingga batas sebelum sholat idul fitri.'
          break
        case 'penghasilan':
          this.zakatImg = require('@/assets/finavest/payment/zakat/penghasilan-big.svg')
          this.zakatDesc = 'Dikeluarkan oleh orang islam dari hasil penghasilan profesi bila telah mencapai nishab.'
          break
        case 'investasi':
          this.zakatImg = require('@/assets/finavest/payment/zakat/investasi-big.svg')
          this.zakatDesc = 'Muslim yang memiliki Investasi lebih dari satu tahun yang mencapai senilai 85 gram emas, maka wajib mengeluarkan zakat sebanyak 2,5%. Kami akan membantu menghitung zakatmu.'
          break
      }
    }
  },
  created () {
    this.zakatType = this.$route.params.type
    this.zakatPage = 'Zakat ' + capitalizeWord(this.zakatType)
    this.switchZakatType()
  }
}
</script>

<style>

</style>
