<template>
    <div class="finavest-payment-detail-zakat" :style="'min-height: ' + screenHeight + 'px;'">
      <reusable-toolbar page-name="Invoice Pembayaran" :change-namespace="true" namespace="dashboard" route="/dashboard?tab=history"></reusable-toolbar>
      <div class="toolbar-bottom"></div>

      <v-layout row class="bg-supportive-blue-2 verification pa-3 align-start ma-3" v-if="disclaimerInvoice">
        <img src="@/assets/finavest/invoice/icon-verification.svg" class="pr-3" alt="icon verification">
        <v-layout column>
          <v-card-text class="nexa-16-bold color-supportive-blue-1 pa-0 pb-2">
            Transaksi Sedang Diproses
          </v-card-text>
          <v-card-text class="avenir-14-reg color-supportive-blue-1 pa-0">
            Transaksi kamu telah kami terima, pembelian investasi kamu akan diproses setelah verifikasi akun investasi kamu berhasil.
          </v-card-text>
        </v-layout>
      </v-layout>

      <v-layout row wrap align-center justify-space-between ma-3 class="wrap-countdown" v-if="status === 'Menunggu Pembayaran'">
        <v-layout row align-center>
          <img src="@/assets/finavest/invoice/icon-clock.svg" class="pr-2" alt="icon clock">
          <span class="avenir-14-reg color-denotive-yellow-3">Batas Waktu Transfer</span>
        </v-layout>
        <span class="avenir-14-med color-denotive-yellow-3 text-xs-right">{{counterDisplay}}</span>
      </v-layout>

        <!-- {{statusType}} -->
          <v-layout column>
              <v-card class="card-custom">
                <!-- Lifeplan Layout -->
                <v-layout column align-center my-4 pb-1>
                  <img src="@/assets/finavest/invoice/icon-zakat.svg" width="90px" height="86px" alt="logo rumah zakat" >
                  <v-card-text class="pa-0 text-align-center nexa-16-bold pt-3">Bayar Zakat</v-card-text>
                </v-layout>

                <v-divider></v-divider>

                <div class="bg-primary-3" v-if="status === 'Menunggu Pembayaran'">
                  <div class="px-20">

                    <!-- Total Transaksi -->
                    <v-card-text class="nexa-16-bold color-text-1 py-3 px-0">
                      Transfer Ke
                    </v-card-text>

                    <!-- Tujuan Bank -->
                    <v-layout row justify-space-between align-center class="border-bottom-dashed">
                      <v-flex xs8>
                        <v-layout column>
                          <v-card-text class="pa-0 text-align-left avenir-14-med" v-if="fromOutstanding === true">{{ accountName }}</v-card-text>
                          <v-card-text class="pa-0 text-align-left avenir-14-med" v-else>Virtual Account Mandiri</v-card-text>
                        </v-layout>
                      </v-flex>
                      <v-flex xs4 class="text-xs-right">
                        <img src="@/assets/finavest/bank/mandiri.png" width="90" alt="bank mandiri">
                      </v-flex>
                    </v-layout>

                    <!-- Nomor Virtual Account -->
                    <v-layout row justify-space-between align-center py-3 class="border-bottom-dashed">
                      <v-flex xs8>
                        <v-layout column>
                          <v-card-text class="pa-0 text-align-left avenir-12-reg color-text-1" v-if="fromOutstanding === true">Rekening Tujuan</v-card-text>
                          <v-card-text class="pa-0 text-align-left avenir-12-reg color-text-1" v-else>No. Virtual Account kamu</v-card-text>
                          <input :value="bankAccount" readonly class="pa-0 avenir-14-med" type="text" id="text-transaksii" />
                        </v-layout>
                      </v-flex>
                      <v-flex xs4 class="text-xs-right py-3">
                        <button class="r-16 btn-radius nexa-12-light btn-copy" @click="copyToClipboard(bankAccount, 'text-transaksii'); snackbars = true">
                          Salin
                        </button>
                      </v-flex>
                    </v-layout>

                    <!-- Total Transaksi -->
                    <v-layout row justify-space-between align-center class="border-bottom-dashed">
                      <v-flex xs8>
                        <v-layout column>
                          <v-card-text class="pa-0 text-align-left avenir-12-reg color-text-1">Total Transfer</v-card-text>
                          <input :value="numberingNumber(total)" readonly class="pa-0 avenir-14-med" type="text" id="text-transaksi" />
                        </v-layout>
                      </v-flex>
                      <v-flex xs4 class="text-xs-right py-3">
                        <button class="r-16 btn-radius nexa-12-light btn-copy" @click="copyToClipboard(total.toString(), 'text-transaksi'); snackbars = true">
                          Salin
                        </button>
                      </v-flex>
                    </v-layout>
                  </div>
                  <!-- Petunjuk Pembayaran -->
                  <v-layout @click="goInstructionPayment()" row justify-space-between align-center py-3 class="px-20">
                    <div class="avenir-14-med mr-2 text-xs-center" style="color: #388BF2;">Lihat Petunjuk Pembayaran</div>
                    <v-icon style="color: #388BF2; font-size: 10px;">arrow_forward_ios</v-icon>
                  </v-layout>
                  <v-divider></v-divider>
                </div>

                <v-card-text class="nexa-16-bold color-text-1 py-3 px-20">
                  Detail Transaksi
                </v-card-text>
                <!-- Status Pembelian -->
                <v-layout row class="px-20">
                  <v-layout row justify-space-between align-center py-3 class="border-bottom-solid">
                    <v-flex xs6>
                      <v-card-text class="pa-0 text-align-left avenir-14-reg color-text-1">Status</v-card-text>
                    </v-flex>
                    <v-flex xs6>
                      <div :class="'avenir-12-reg text-align-right ' + classColor"><span :class="'py-1 px-2 wrap-status ' + bgColor">• {{ status }}</span></div>
                    </v-flex>
                  </v-layout>
                </v-layout>

                <v-layout row class="px-20">
                  <v-layout row justify-space-between align-center py-3 class="border-bottom-solid">
                    <v-card-text class="pa-0 text-align-left avenir-14-reg color-text-1">No. Transaksi</v-card-text>
                    <v-card-text class="pa-0 text-align-right avenir-14-reg color-text-3">{{ transactionNumber }}</v-card-text>
                  </v-layout>
                </v-layout>
                <!-- Tanggal Pembelian -->
                <v-layout row class="px-20">
                  <v-layout row justify-space-between align-center py-3 class="border-bottom-solid">
                    <v-card-text class="pa-0 text-align-left avenir-14-reg color-text-1">Tanggal</v-card-text>
                    <v-card-text class="pa-0 text-align-right avenir-14-reg color-text-3">{{ dateFormat(dateTransaction, 'DD MMMM YYYY') }}</v-card-text>
                  </v-layout>
                </v-layout>
                <!-- Waktu Pembelian -->
                <v-layout row class="px-20">
                  <v-layout row justify-space-between align-center py-3>
                    <v-card-text class="pa-0 text-align-left avenir-14-reg color-text-1">Waktu</v-card-text>
                    <v-card-text class="pa-0 text-align-right avenir-14-reg color-text-3">{{ dateFormat(dateTransaction, 'HH:mm') }} WIB</v-card-text>
                  </v-layout>
                </v-layout>

                <v-divider></v-divider>
                <!-- Detail Pembayaran -->
                <div class="px-20">
                  <v-flex>
                    <v-card-text class="nexa-16-bold color-text-1 pa-0 py-3">
                      Detail Pembayaran
                    </v-card-text>
                    <v-layout row align-end v-for="(item, index) in items" :key="index" class="border-bottom-dashed">
                      <v-flex class="avenir-14-reg py-3" xs8>
                        {{ item.zakat_name }} <br>
                        <span class="avenir-12-reg color-text-3">{{item.muzakki_name}}</span>
                      </v-flex>
                      <v-flex xs4>
                        <v-layout column>
                          <v-flex class="text-align-right avenir-14-reg color-text-3 py-3">
                            Rp {{ numberingNumber(item.amount) }}
                          </v-flex>
                        </v-layout>
                      </v-flex>
                    </v-layout>
                  </v-flex>

                  <!-- Unique Code -->
                  <v-layout row align-center justify-space-between class="border-bottom-solid">
                    <v-card-text class="px-0 avenir-14-med">Kode Unik</v-card-text>
                    <v-card-text class="px-0 avenir-14-med text-align-right">Rp {{numberingNumber(uniqueCode)}}</v-card-text>
                  </v-layout>

                  <!-- Total -->
                  <v-layout row align-center justify-space-between>
                    <v-card-text class="px-0 avenir-14-med">TOTAL</v-card-text>
                    <v-card-text class="px-0 avenir-14-med text-align-right">Rp {{numberingNumber(total)}}</v-card-text>
                  </v-layout>


                </div>
                <!-- Show this section if status besides EXPIRED -->
                <div style="background: #F9FAFC;">
                  <!-- Tooltip if status only ENTRIED-->
                  <v-layout v-if="status === 'Menunggu Pembayaran'" row align-center justify-space-between style="background-color: #FF9C07;">
                    <v-card-text class="py-2 avenir-12-reg color-primary-3 text-align-center">Transfer tepat hingga 3 digit terakhir agar tidak menghambat proses verifikasi.</v-card-text>
                  </v-layout>
                  <!-- Voucher -->
                  <div class="btn-radius ma-3 pa-3 cashback" v-if="cashback.cashback !== null">
                    <v-card-text class="pa-0 avenir-12-med mb-3">Kode Voucher: <span class="color-primary-1">{{ cashback.cashback }}</span></v-card-text>
                    <v-card-text class="pa-0 avenir-12-reg" v-if="cashback.cashbackType === 'Cashback'">Potensi cashback senilai <strong>Rp {{ numberingNumber(cashback.cashbackValue) }}</strong> akan ditambahkan ke <strong>{{ cashback.cashbackAsset }}</strong> kamu setelah pembelian berhasil</v-card-text>
                    <v-card-text class="pa-0 avenir-12-reg" v-else>Potensi diskon senilai <strong>Rp {{ numberingNumber(cashback.cashbackValue) }}</strong></v-card-text>
                  </div>
                  <!-- Donation -->
                  <div v-if="Number(donation.donationAmount) > 0 && donation.donationAmount !== null" class="btn-radius ma-3 pa-3 cashback">
                    <v-card-text class="pa-0 avenir-12-med mb-3">Donasi: <span class="color-primary-1">Rumah Zakat</span></v-card-text>
                    <v-card-text class="pa-0 avenir-12-reg">Donasi senilai <strong>Rp {{ numberingNumber(donation.donationAmount) }}</strong> kamu akan disalurkan setelah transaksi berhasil</v-card-text>
                  </div>
                  <!-- if lifeplan type is campaign -->
                  <div v-if="lifeplanType === 'campaign' && status === 'Dalam Proses'"></div>
                  <!-- if lifeplan type is not campaign -->
                  <div v-else>
                    <!-- Button -->
                    <v-flex class="py-3 px-20">
                      <!-- Show text if status besides entried -->
                      <v-card-text class="avenir-12-reg color-secondary-5 text-align-center" v-if="status === 'Dalam Proses' || status === 'Dibatalkan' || status === 'Ditolak' || status === 'Menunggu Verifikasi'">Bukti Transfer</v-card-text>
                      <!-- Button -->
                      <!-- If status Menunggu Pembayaran -->
                      <div v-if="status === 'Menunggu Pembayaran'" class="mb-3">
                        <v-btn class="btn-radius nexa-14-bold btn-unggah-ulang mb-2" flat @click="pickScreenshot()" block :disabled="status !== 'Menunggu Pembayaran'">
                          <img src="@/assets/finavest/invoice/icon-upload.svg" alt="icon upload" style="margin-top: -2px;" class="mr-2">
                          <div class="color-primary-1 text-align-center">Unggah Bukti Transfer</div>
                        </v-btn>
                        <input type="file" style="display: none" ref="imagescreenshot" accept="image/*" @change="onFilePickedScreenshot">
                      </div>
                      <!-- If not -->
                      <div v-else-if="status === 'Kadaluarsa' || status === 'Berhasil'"></div>

                      <div v-else style="border-radius: 4px; border: 1px solid #E8EAEF;" class="avenir-14-reg text-align-center color-text-3 mb-3 pa-3 block text-truncate">{{ screenshotName }}</div>

                      <div v-if="statusType === 'PAID' || status === 'Menunggu Verifikasi'" class="mb-3">
                        <v-btn class="btn-radius nexa-14-bold btn-unggah-ulang" flat @click="pickScreenshot()" block>
                          <img src="@/assets/finavest/invoice/icon-upload-ulang.svg" alt="icon upload" style="margin-top: -2px;" class="mr-2">
                          <div class="color-primary-1 text-align-center">Unggah Ulang</div>
                        </v-btn>
                        <input type="file" style="display: none" ref="imagescreenshot" accept="image/*" @change="onFilePickedScreenshot">
                      </div>

                      <v-btn class="nexa-14-bold btn-beranda mt-3" depressed flat @click="backToDashboard()" block>
                        <div>Kembali</div>
                      </v-btn>

                    </v-flex>
                  </div>
                </div>
              </v-card>

          </v-layout>

        <!-- Dialog Screenshot -->
        <v-dialog v-model="dialog.dialogUpload" fullscreen transition="dialog-bottom-transition" scrollable style="margin: 0px !important; background-color: white">
            <v-card flat style="background-color: white">
                <v-toolbar card style="background-color: white">
                <v-toolbar-title>
                    Upload Bukti Transaksi
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon @click.native="dialog.dialogUpload = false; screenshot = ''">
                    <v-icon>close</v-icon>
                </v-btn>
                </v-toolbar>
                <v-layout column align-center px-3 justify-center v-if="resultType !== 'application/pdf'">
                    <img :src="result64" alt="Red dot" style="width:auto; height:auto; max-height: 400px;"/>
                </v-layout>
                <v-layout column align-center justify-center v-else>
                    <v-card-text class="text-align-center">{{ resultName }}</v-card-text>
                </v-layout>
                <v-layout row px-3>
                    <v-flex xs6 mr-2>
                        <v-btn block depressed @click="pickScreenshot" class="btn-radius box-shadow bg-primary-3 color-primary-1">Ganti</v-btn>
                    </v-flex>
                    <v-flex xs6 ml-2>
                        <v-btn block color="primary" depressed @click="uploadScreenshot" class="btn-radius box-shadow">Upload</v-btn>
                    </v-flex>
                </v-layout>
            </v-card>
        </v-dialog>

        <!-- Dialog Uploading -->
        <reusable-dialogs
            v-model="dialog.dialogUploading"
            :resize-image="true"
            :unclickable="true"
        >
            <div slot="layout">
              <v-card flat class="card-radius" style="width: 100%">
                <v-layout pa-3 row align-center justify-center>
                  <reusable-loading></reusable-loading>
                  <div class="nexa-14-bold ml-5">Mengunggah</div>
                </v-layout>
              </v-card>
            </div>
        </reusable-dialogs>
        <!-- Dialog Done Uploading -->
        <reusable-dialogs
            v-model="dialog.dialogDoneUploading"
            :resize-image="true"
            :image="require('@/assets/finavest/lifeplan/check.svg')"
            title="Terima Kasih"
            :description="status === 'Menunggu Verifikasi' ? 'Bukti transfer kamu telah kami terima, transaksi akan segera kami proses setelah proses verifikasi Akun selesai.' : 'Bukti transfer kamu telah kami terima, transaksi akan segera kami proses maksimal 2 hari kerja'"
        >
          <v-layout align-center justify-center slot="layout-button" pb-3>
            <v-flex xs12>
              <v-btn depressed color="primary" class="box-shadow btn-radius" @click.native="dialog.dialogDoneUploading = false">Kembali Ke Invoice</v-btn>
            </v-flex>
          </v-layout>
        </reusable-dialogs>

        <!-- Dialog Type Not Supported -->
        <reusable-dialogs
            v-model="dialog.dialogCheckType.isOpen"
            :title="dialog.dialogCheckType.title"
            :description="dialog.dialogCheckType.desc"
            :resize-image="true"
        ></reusable-dialogs>

        <!-- Dialog Error -->
        <reusable-dialogs
            v-model="dialog.dialogError"
            :resize-image="true"
        ></reusable-dialogs>

        <!-- Instructions payment -->
        <instructions-sheet
          :is-open="instructionOpen"
          :image="dataPaymentInstruction.img_url"
          :payment-title="dataPaymentInstruction.title"
          :way-title="dataPaymentInstruction.detail.category"
          :way-list="dataPaymentInstruction.detail.instruction">
          <div slot="close-button">
            <v-btn icon @click="instructionOpen = false">
              <img src="@/assets/icons/icon-back.svg" style="width: 24px; height: 24px;" alt="arrow back">
            </v-btn>
          </div>
        </instructions-sheet>

        <v-snackbar color="success" v-model="snackbars" :timeout="1500">
          Text telah disalin
        </v-snackbar>
    </div>
</template>

<script>
import { trackRevenue } from '@/services/Analytics'
import Api from '@/services/Api'
import InstructionsSheet from '@/components/reusable/finavest/payment/InstructionsSheet'

// Vuetify Import
import {
  VSnackbar,
  VSpacer,
  VDialog,
  VToolbar,
  VToolbarTitle,
  VDivider
} from 'vuetify/lib'
// Reusable component
import ReusableLoading from '@/components/reusable/ReusableLoading'
import ReusableImageLifeplan from '@/components/reusable/ReusableImageLifeplan'
// Helper functions
import { goToDashboard, numberingNumber, numberingReksadana, capitalizeWord, dateFormat, replaceDotWithComa, copyToClipboard, checkFeatures } from '@/services/Helpers'

const { getTime } = require('date-fns')
const { convertToTimeZone } = require('date-fns-timezone')

export default {
  productName: 'FinaspendPaymentDetail',
  components: {
    VSnackbar,
    VSpacer,
    VDialog,
    VToolbar,
    VToolbarTitle,
    VDivider,
    ReusableLoading,
    ReusableImageLifeplan,
    InstructionsSheet
  },
  data () {
    return {
      id: '',
      type: '',
      screenHeight: screen.height,
      fullheightCondition: false,
      dialog: {
        dialogUpload: false,
        dialogError: false,
        dialogConfirm: false,
        dialogUploading: false,
        dialogDoneUploading: false,
        dialogCheckType: {
          isOpen: false,
          title: '',
          desc: ''
        },
        dialogAcquisition: false
      },
      acquisition: {
        image: '',
        productType: '',
        productName: '',
        transactionAmount: '',
        totalUnit: '',
        nav: '',
        navDate: ''
      },
      cashback: {
        cashback: null,
        cashbackValue: 0,
        cashbackAsset: '',
        cashbackType: ''
      },
      donation: {
        donationAmount: null
      },
      fromOutstanding: false,
      // Lifeplan
      lifeplanName: '',
      lifeplanType: '',
      transactionNumber: '',
      dateTransaction: '',
      expireDateTransaction: '',
      status: '',
      statusRedeem: '',
      statusType: '',
      className: 'finaspend-payment-detail',
      classColor: '',
      // Detail pembayaran,
      bankAccount: '',
      total: '',
      bankName: '',
      counterDisplay: '0 Jam 0 Menit',
      accountName: '',
      items: [],
      // bukti,
      resultName: '',
      resultType: '',
      resultSize: '',
      result64: '',
      snackbars: false,
      screenshotName: '',
      dataPaymentInstruction: null,
      instructionOpen: false,
      // Redeem
      unit: 0
    }
  },
  watch: {
    resultName: function (value) {
      if (value !== '') {
        this.dialog.dialogUpload = true
      } else {
        this.dialog.dialogUpload = false
      }
    }
  },
  methods: {
    numberingNumber,
    numberingReksadana,
    capitalizeWord,
    dateFormat,
    replaceDotWithComa,
    convertToTimeZone,
    getTime,
    copyToClipboard,
    checkFeatures,
    next () {
      this.$router.push({path: '/finavest/payment/bank'})
    },
    fetchData () {
      Api('finapay/zakat/pay/detail', {
        paymentid: this.id
      }).then((res) => {
        this.transactionNumber = res.d.payment_number
        this.bankName = res.d.payment_bankname
        this.bankAccount = res.d.payment_accountnumber
        this.total = res.d.total_amount
        this.accountName = res.d.payment_accountname
        this.items = res.d.detail_product
        this.lifeplanType = res.d.lifeplan_type
        this.lifeplanName = res.d.lifeplan_subtype ? res.d.lifeplan_subtype : res.d.lifeplan_type
        this.dateTransaction = res.d.date_trx
        this.expireDateTransaction = res.d.payment_expire_time
        this.screenshotName = res.d.receipt_image
        this.donation.donationAmount = res.d.donation
        this.fullheightCondition = document.body.scrollHeight > screen.height
        this.checkCashback(this.items)
        this.uniqueCode = res.d.unique_code
        this.fromOutstanding = res.d.from_outstanding
        this.dataPaymentInstruction = res.d.payment_instruction
        // Set class based on status
        this.setClassForStatus(res.d.status_trx)
        // Start countdown if status is entried
        if (res.d.status_trx === 'ENTRIED' || res.d.status_trx === 'BILLED') this.counter()
        if (res.d.status_trx === 'COMPLETED') trackRevenue(this.total)
      }).catch(() => {
        this.dialog.dialogError = true
      })
      this.amount = localStorage.getItem('halofina-payment-amount')
    },
    checkCashback (items) {
      var self = this
      var value = 0
      items.forEach((element) => {
        if (element.voucher_code) {
          self.cashback.cashback = element.voucher_code
          self.cashback.cashbackValue = element.cashback === '0.00' ? Number(element.discount) : Number(element.cashback)
          value = element.cashback === '0.00' ? Number(element.discount) : Number(element.cashback)
          self.cashback.cashbackAsset = element.asset_class_name
          self.cashback.cashbackType = element.voucher_type === 'D' ? 'Diskon' : 'Cashback'
        }
      })
      if (this.cashback.cashbackType === 'Diskon') {
        this.items.push({
          product_name: 'Voucher Diskon',
          amount: '-' + value,
          color: 'color-system-success'
        })
      }
    },
    sleep (ms) {
      return new Promise(resolve => setTimeout(resolve, ms))
    },
    async counter () {
      var diff = 4 * 60 * 60
      var start = this.getTime(this.dateFormat(this.dateTransaction, 'YYYY-MM-DD HH:mm:ss'))
      while (diff > 0) {
        var end = this.getTime(this.convertToTimeZone(this.dateFormat(Date.now(), 'YYYY-MM-DD HH:mm:ss'), { timeZone: 'Asia/Jakarta' }))
        diff = ((start - end) / 1000) + (4 * 60 * 60)
        var H = Math.floor(diff / 3600)
        var M = Math.floor((diff - (3600 * H)) / 60)
        // var S = diff - (3600 * H) - (60 * M)
        this.counterDisplay = this.pad(H) + ' Jam ' + this.pad(M) + ' Menit '
        await this.sleep(1000)
      }
      this.setClassForStatus('EXPIRED')
    },
    pad (num) {
      return ('0' + parseInt(num)).substr(-2)
    },
    setClassForStatus (status) {
      switch (status) {
        case 'QUEUEING':
          this.bgColor = 'bg-supportive-blue-2'
          this.classColor = 'color-supportive-blue-1'
          this.status = 'Dalam Proses'
          this.statusType = status
          break
        case 'OUTSTANDING':
          this.bgColor = 'bg-supportive-blue-2'
          this.classColor = 'color-supportive-blue-1'
          this.status = 'Menunggu Verifikasi'
          this.disclaimerInvoice = 'Transaksi kamu telah kami terima, pembelian investasi anda akan diproses setelah Verifikasi akun investasi kamu berhasil.'
          this.statusType = status
          break
        case 'KYC REJECT':
          this.bgColor = 'bg-supportive-blue-2'
          this.classColor = 'color-supportive-blue-1'
          this.status = 'Menunggu Verifikasi'
          this.disclaimerInvoice = 'Transaksi kamu telah kami terima, pembelian investasi anda akan diproses setelah Verifikasi akun investasi kamu berhasil.'
          this.statusType = status
          break
        case 'ON PROCESS':
          this.bgColor = 'bg-supportive-blue-2'
          this.classColor = 'color-supportive-blue-1'
          this.status = 'Dalam Proses'
          this.statusType = status
          break
        case 'ONPROCESS':
          this.bgColor = 'bg-supportive-blue-2'
          this.classColor = 'color-supportive-blue-1'
          this.status = 'Dalam Proses'
          this.statusType = status
          break
        case 'DISBURSE':
          this.bgColor = 'bg-supportive-blue-2'
          this.classColor = 'color-supportive-blue-1'
          this.status = 'Dalam Proses'
          this.statusType = status
          break
        case 'PAID':
          this.bgColor = 'bg-supportive-blue-2'
          this.classColor = 'color-supportive-blue-1'
          this.status = 'Dalam Proses'
          this.statusType = status
          break
        case 'VERIFIED':
          this.bgColor = 'bg-denotive-green-2'
          this.classColor = 'color-denotive-green-1'
          this.status = 'Berhasil'
          this.statusType = status
          break
        case 'BILLED':
          this.bgColor = 'bg-denotive-yellow-2'
          this.classColor = 'color-denotive-yellow-1'
          this.status = 'Menunggu Pembayaran'
          this.statusType = status
          break
        case 'ENTRIED':
          this.bgColor = 'bg-denotive-yellow-2'
          this.classColor = 'color-denotive-yellow-1'
          this.status = 'Menunggu Pembayaran'
          this.statusType = status
          break
        case 'COMPLETED':
          this.bgColor = 'bg-denotive-green-2'
          this.classColor = 'color-denotive-green-1'
          this.status = 'Berhasil'
          this.statusType = status
          break
        case 'REJECTED':
          this.bgColor = 'bg-denotive-red-2'
          this.classColor = 'color-denotive-red-1'
          this.status = 'Ditolak'
          this.statusType = status
          break
        case 'CANCELLED':
          this.bgColor = 'bg-border'
          this.classColor = 'color-text-2'
          this.status = 'Dibatalkan'
          this.statusType = status
          break
        case 'EXPIRED':
          this.bgColor = 'bg-supportive-lavender-2'
          this.classColor = 'color-supportive-lavender-1'
          this.status = 'Kadaluarsa'
          this.statusType = status
          break
      }
    },
    pickScreenshot () {
      this.$refs.imagescreenshot.click()
    },
    uploadScreenshot () {
      this.dialog.dialogUploading = true
      Api('finapay/zakat/upload', {
        payid: this.id,
        object_name: this.resultName,
        source: this.result64
      })
        .then(() => {
          this.dialog.dialogUpload = false
          this.dialog.dialogUploading = false
          this.dialog.dialogDoneUploading = true
          this.screenshotName = this.resultName
          if (this.fromOutstanding === true) {
            this.setClassForStatus('OUTSTANDING')
          } else {
            this.setClassForStatus('QUEUEING')
          }
          this.trackUploadSuccess()
        })
        .catch(() => {
          this.dialog.dialogUploading = false
          this.dialog.dialogUpload = false
          this.dialog.dialogError = true
        })
    },
    onFilePickedScreenshot (e) {
      const files = e.target.files
      if (files[0] !== undefined) {
        // If file is not pdf jpg or png
        if (files[0].type !== 'image/png' && files[0].type !== 'image/jpeg' && files[0].type !== 'application/pdf') {
          this.dialogCheckType('Tidak dapat mengunggah foto', 'Format file yang kamu pilih harus PNG, JPG, atau PDF.')
          this.trackUploadError()
          return
        }
        // If files is null
        if (files[0].name.lastIndexOf('.') <= 0) {
          return
        }
        this.resizeImage(files[0])
      }
    },
    resizeImage (files) {
      const fr = new FileReader()
      var self = this
      fr.onload = function (readerEvent) {
        var image = new Image()
        image.onload = function (imageEvent) {
          var canvas = document.createElement('canvas')
          var maxSize = 544
          var width = image.width
          var height = image.height
          if (width > height) {
            if (width > maxSize) {
              height *= maxSize / width
              width = maxSize
            }
          } else {
            if (height > maxSize) {
              width *= maxSize / height
              height = maxSize
            }
          }
          canvas.width = width
          canvas.height = height
          canvas.getContext('2d').drawImage(image, 0, 0, width, height)
          var dataUrl = canvas.toDataURL('image/jpeg')
          self.result64 = dataUrl
          self.resultName = files.name
          self.resultType = files.type
        }
        image.src = readerEvent.target.result
      }
      fr.readAsDataURL(files)
    },
    dialogCheckType (title, desc) {
      this.resultName = ''
      this.dialog.dialogCheckType.isOpen = true
      this.dialog.dialogCheckType.title = title
      this.dialog.dialogCheckType.desc = desc
    },
    copyText (id) {
      var inputText = document.getElementById(id)
      inputText.select()
      document.execCommand('copy')
      this.snackbars = true
    },
    goInstructionPayment () {
      if (checkFeatures('halofina:payment_method').version >= 2) {
        this.instructionOpen = true
      } else {
        this.$router.push('/finavest/payment/invoice/1/' + false + '/' + this.id + '/' + 'zakat')
      }
    },
    acquisitionDialog (unit, amount, productName, productType, nav, navDate, image) {
      this.dialog.dialogAcquisition = true
      this.acquisition.image = image
      this.acquisition.productName = productName
      this.acquisition.productType = productType
      this.acquisition.transactionAmount = amount
      this.acquisition.totalUnit = unit
      this.acquisition.nav = nav
      this.acquisition.navDate = navDate
    },
    trackUploadSuccess () {
      this.$analytics.track('Transaction Proof Submited')
    },
    trackUploadError () {
      this.$analytics.track('Transaction Format Rejected')
    },
    backToDashboard () {
      goToDashboard('history', 'assign')
    }
  },
  created () {
    this.id = this.$route.params.idtrx
    this.fetchData()
  }
}
</script>
<style lang="sass">

  .finavest-payment-detail-zakat

    .btn-beranda
      padding: 16px 0
      background: #51AAF4
      color: #fff

    .border-bottom-solid
      border-bottom: 1px solid #E8EAEF

    .v-toolbar
      z-index: 20
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

    .wrap-countdown
      background-color: #FFF3DB
      height: 48px
      color: #ECA518
      border-radius: 4px
      border-left: 6px solid #FBAF18
      padding: 0 13px 0 11px

    .bg-border
      background-color: #E8EAEF

    .wrap-status
      border-radius: 13px

    .w-40
      height: 40px !important

    .cashback
      border: 1px solid #42A5F5

    .v-divider
      border-top-width: 8px

    .r-16
      border-radius: 16px

    .btn-copy
      border: 1px solid #E8EAEF
      background-color: white
      padding: 6px 18px
      font-weight: bold
      font-size: 12px

    .btn-unggah-ulang
      padding: 14px 0
      background: #FFFFFF
      border: 1px solid #E8EAEF

    .v-btn
      height: auto
      margin: 0px 4px

    .bg-system-warning-detail
      background-color: #FFD13B

    .toolbar-bottom
      height: 48px

    .image-acquisition
      width: 36px
      height: 36px
      align-self: center
      margin-bottom: 12px

    .border-bottom
      border-bottom-left-radius: 12px
      border-bottom-right-radius: 12px
</style>
