<template>
  <div class="finavest-payment-zakat-penghasilan">
    <v-layout column class="min-height bg-primary-3">
      <v-flex>
        <!-- Zakat Input -->
        <div class="px-3 mb-4 mt-4">
          <v-card-text class="nexa-16-bold pa-0 mb-2">Masukan penghasilan</v-card-text>
          <v-layout row>
            <v-flex xs7>
              <v-layout row>
                <span class="span">Rp</span>
                <input type="tel"
                  v-model="incomeValue"
                  v-money="incomeValue !== null ? money : null"
                  placeholder=" 0"
                  maxlength="12"
                  class=" v-input__control input-incomes bg-primary-4"
                  style="height: 40px"
                />
              </v-layout>
            </v-flex>
            <v-flex xs5>
              <v-select solo flat v-model="incomeRange" hide-details :items="incomeRangeValue" placeholder="Jangka Waktu" class="ml-2"></v-select>
            </v-flex>
          </v-layout>
        </div>
        <v-divider style="border-width: thick !important" class="mb-4"></v-divider>
        <!-- Zakat Gold Nishab -->
        <div class="px-3 mt-4">
          <v-card-text class="nexa-16-bold pa-0 mb-2">Apakah sudah nishab?</v-card-text>
          <v-card-text class="avenir-14-reg pa-0 mb-2" v-if="Number(replaceDot(incomeValue)) >= Number(nishabPrice)">Sudah</v-card-text><v-card-text class="avenir-14-reg pa-0 mb-2" v-else>Belum</v-card-text>
          <v-card-text class="avenir-12-reg pa-0 mb-4 color-secondary-5">Nishab zakat penghasilan adalah ketika penghasilan <span v-if="incomeRange === 'yearly'">per tahun</span><span v-else>per bulan</span> setara dengan beras <strong>{{ numberingNumber(nishabWeight) }} kg</strong> atau senilai <strong>Rp {{ numberingNumber(nishabPrice) }}</strong></v-card-text>
        </div>
        <!-- Zakat Gold Spent -->
        <div class="px-3">
          <v-card-text class="nexa-16-bold pa-0 mb-2">Zakat yang harus dibayarkan</v-card-text>
          <v-card-text class="nexa-16-bold pa-0 mb-2 color-primary-1" v-if="Number(replaceDot(incomeValue)) >= Number(nishabPrice)">Rp {{ numberingNumber(totalZakat) }}</v-card-text>
          <v-card-text class="nexa-16-bold pa-0 mb-2" v-else>Rp 0</v-card-text>
          <v-card-text class="avenir-12-reg pa-0 mb-4 color-secondary-5">Besar zakat penghasilan adalah sebesar <strong>{{ nishabPercent }}%</strong> dari besar penghasilan</v-card-text>
        </div>
        <!-- Zakat button -->
        <div class="mx-3 mb-4">
          <v-btn color="warning" class="btn-radius btn-shadow py-2 full-width" :disabled="Number(replaceDot(incomeValue)) < Number(nishabPrice)" depressed @click="formName = true">Bayar</v-btn>
        </div>
        <!-- Popup bottom -->
        <v-bottom-sheet v-model="formName" :persistent="true">
          <v-card flat style="border-top-left-radius: 12px; border-top-right-radius: 12px">
            <v-layout column pa-3>
              <v-layout row align-center>
                <v-card-text class="pa-0 avenir-16-med">Zakat Penghasilan</v-card-text>
                <v-icon color="black" @click="formName = false">close</v-icon>
              </v-layout>
              <v-layout row>
                <v-card-text class="pa-0 avenir-14-med mb-3">Rp {{ numberingNumber(totalZakat) }}</v-card-text>
              </v-layout>
              <!-- Cashback -->
              <v-layout column mb-2>
                <v-flex xs12>
                  <v-text-field v-model="name" solo flat hide-details label="Atas nama atau keluarga..." class="mb-4"></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-btn @click="zakatCheckOut()" :disabled="name === ''" color="warning" block depressed class="btn-radius box-shadow py-2">Lanjut</v-btn>
                </v-flex>
              </v-layout>
            </v-layout>
          </v-card>
        </v-bottom-sheet>
      </v-flex>
    </v-layout>
    <!-- Loading Dialog -->
    <reusable-dialogs
        v-model="dialog.loading"
        :unclickable="true"
    >
        <div slot="layout">
          <v-card flat class="card-radius" style="width: 100%">
            <v-layout py-3 px-4 row align-center justify-center>
              <reusable-loading></reusable-loading>
              <div class="nexa-14-bold px-5">Memproses</div>
            </v-layout>
          </v-card>
        </div>
    </reusable-dialogs>

  </div>
</template>

<script>
// import api
import Api from '@/services/Api'
// import vuetify component
import {
  VTextField,
  VSelect,
  VDivider,
  VIcon,
  VBottomSheet
} from 'vuetify/lib'
// import function in helpers
import { replaceDot, numberingNumber } from '@/services/Helpers'
// import vmoney
import { VMoney } from 'v-money'
// import reusable loading dialog
import ReusableLoading from '@/components/reusable/ReusableLoading'

export default {
  components: {
    VTextField,
    VSelect,
    VDivider,
    VIcon,
    VBottomSheet,
    ReusableLoading
  },
  directives: { money: VMoney },
  props: {
    zakatName: {
      type: String
    }
  },
  data () {
    return {
      money: {
        thousands: '.',
        precision: 0,
        masked: true
      },
      dataPayment: [],
      incomeValue: '',
      incomeRange: 'monthly',
      incomeRangeValue: [
        {
          text: 'Per Bulan',
          value: 'monthly'
        },
        {
          text: 'Per Tahun',
          value: 'yearly'
        }
      ],
      nishabWeight: 0,
      nishabPrice: 0,
      nishabPercent: 0,
      formName: false,
      name: '',
      dialog: {
        loading: false
      }
    }
  },
  watch: {
    incomeRange: function (value) {
      this.incomeValueOperation(value)
      this.nishabOperation(value)
    }
  },
  computed: {
    totalZakat () {
      var percent = this.nishabPercent
      var incomeValue = this.incomeValue
      incomeValue = Number(replaceDot(incomeValue))
      percent = Number(percent.replace(/,/g, '.')) / 100
      return incomeValue * percent
    }
  },
  methods: {
    numberingNumber,
    replaceDot,
    incomeValueOperation (value) {
      var income = replaceDot(this.incomeValue)
      if (value === 'yearly') {
        this.incomeValue = (income * 12).toString()
      } else {
        this.incomeValue = (income / 12).toString()
      }
    },
    nishabOperation (value) {
      if (value === 'yearly') {
        this.nishabWeight = this.nishabWeight * 12
        this.nishabPrice = this.nishabPrice * 12
      } else {
        if (this.nishabWeight > 520) {
          this.nishabWeight = this.nishabWeight / 12
          this.nishabPrice = this.nishabPrice / 12
        }
      }
    },
    fetchDataNishab () {
      Api('finapay/zakat/info', {
        zakatname: this.zakatName
      })
        .then((res) => {
          this.nishabWeight = res.d.ref_weight
          this.nishabPrice = res.d.ref_price * this.nishabWeight
          this.nishabPercent = res.d.amount
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    zakatCheckOut () {
      this.dialog.loading = true
      Api('finapay/zakat/checkout', {
        zakat_name: 'Zakat Penghasilan',
        amount: this.totalZakat,
        muzakki: this.name
      })
        .then((res) => {
          this.dialog.loading = false
          this.$router.push('/finavest/payment/zakat/zakat_payment/')
        })
        .catch(() => {
          this.dialog.loading = false
          this.dialog.dialogError = true
        })
    }
  },
  created () {
    this.fetchDataNishab()
  }
}
</script>

<style lang="sass">
  .finavest-payment-zakat-penghasilan
    .input-incomes
      padding: 6px 13px
      font-size: 14px
      border-bottom-right-radius: 8px
      border-top-right-radius: 8px

    .span
      font-size: 14px
      color: gray
      padding: 9.5px 13px
      padding-right: 0px
      border-bottom-left-radius: 8px
      border-top-left-radius: 8px
      background-color: #f6f8fa
</style>
