<template>
  <div class="finavest-payment-zakat-emas">
    <v-layout column class="min-height bg-primary-3">
      <v-flex>
        <!-- Zakat Input -->
        <div class="px-3 mb-4 mt-4">
          <v-card-text class="nexa-16-bold pa-0 mb-2">Masukan jumlah emas</v-card-text>
          <v-layout row>
            <v-text-field solo flat v-model="goldGram" hide-details placeholder="0" type="tel">
              <div slot="append">gram</div>
            </v-text-field>
            <div class="btn-box center-horizontal btn-radius ml-2" @click="decrementGold()">
              <v-icon color="primary">remove</v-icon>
            </div>
            <div class="btn-box center-horizontal btn-radius ml-2" @click="incrementGold()">
              <v-icon color="primary">add</v-icon>
            </div>
          </v-layout>
        </div>
        <v-divider style="border-width: thick !important" class="mb-4"></v-divider>
        <!-- Zakat Gold Summary -->
        <div class="px-3 mb-4">
          <v-card-text class="nexa-16-bold pa-0 mb-2">Harga emas antam saat ini</v-card-text>
          <v-card-text class="avenir-14-reg pa-0">Rp {{ numberingNumber(goldPrice) }}/Gram</v-card-text>
        </div>
        <!-- Zakat Gold Total -->
        <div class="px-3 mb-4">
          <v-card-text class="nexa-16-bold pa-0 mb-2">Total nilai emas kamu</v-card-text>
          <v-card-text class="avenir-14-reg pa-0">Rp {{ numberingNumber(totalGold) }}</v-card-text>
        </div>
        <v-divider></v-divider>
        <!-- Zakat Gold Nishab -->
        <div class="px-3 mt-4">
          <v-card-text class="nexa-16-bold pa-0 mb-2">Apakah sudah nishab?</v-card-text>
          <v-card-text class="avenir-14-reg pa-0 mb-2" v-if="totalGold >= totalNishab">Sudah</v-card-text>
          <v-card-text class="avenir-14-reg pa-0 mb-2" v-else>Belum</v-card-text>
          <v-card-text class="avenir-12-reg pa-0 mb-4 color-secondary-5">Nishab zakat emas adalah ketika sudah mencapai satu tahun dan lebih dari <strong>{{ goldNishab }} gram</strong> atau senilai <strong>Rp {{ numberingNumber(totalNishab) }}</strong></v-card-text>
        </div>
        <!-- Zakat Gold Spent -->
        <div class="px-3">
          <v-card-text class="nexa-16-bold pa-0 mb-2">Jumlah zakat yang harus dibayarkan</v-card-text>
          <v-card-text class="nexa-16-bold pa-0 mb-2 color-primary-1" v-if="totalGold >= totalNishab">Rp {{ numberingNumber(totalZakat) }}</v-card-text>
          <v-card-text class="nexa-16-bold pa-0 mb-2" v-else>Rp 0</v-card-text>
          <v-card-text class="avenir-12-reg pa-0 mb-4 color-secondary-5">Besar zakat emas adalah sebesar <strong>{{ goldPercent }}%</strong> dari besar penghasilan</v-card-text>
        </div>
        <!-- Zakat button -->
        <div class="mx-3 mb-4">
          <v-btn color="warning" class="btn-radius btn-shadow py-2 full-width" depressed :disabled="totalGold < totalNishab" @click="formName = true">Bayar</v-btn>
        </div>
      </v-flex>
    </v-layout>
    <!-- Popup bottom -->
    <v-bottom-sheet v-model="formName" :persistent="true">
      <v-card flat style="border-top-left-radius: 12px; border-top-right-radius: 12px">
        <v-layout column pa-3>
          <v-layout row align-center>
            <v-card-text class="pa-0 avenir-16-med">Zakat Emas</v-card-text>
            <v-icon color="black" @click="formName = false">close</v-icon>
          </v-layout>
          <v-layout row>
            <v-card-text class="pa-0 avenir-14-med mb-3">Rp {{ numberingNumber(totalZakat) }}</v-card-text>
          </v-layout>
          <!-- Cashback -->
          <v-layout column mb-2>
            <v-flex xs12>
              <v-text-field v-model="name" solo flat hide-details label="Atas nama atau keluarga..." class="mb-4"></v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-btn @click="zakatCheckOut()" :disabled="name === ''" color="warning" block depressed class="btn-radius box-shadow py-2">Lanjut</v-btn>
            </v-flex>
          </v-layout>
        </v-layout>
      </v-card>
    </v-bottom-sheet>
    <!-- dialog error -->
    <reusable-dialogs
      v-model="dialog.dialogError"
      :resize-image="true"
    ></reusable-dialogs>
    <!-- Loading Dialog -->
    <reusable-dialogs
        v-model="dialog.loading"
        :unclickable="true"
    >
        <div slot="layout">
          <v-card flat class="card-radius" style="width: 100%">
            <v-layout py-3 px-4 row align-center justify-center>
              <reusable-loading></reusable-loading>
              <div class="nexa-14-bold px-5">Memproses</div>
            </v-layout>
          </v-card>
        </div>
    </reusable-dialogs>
  </div>
</template>

<script>
import Api from '@/services/Api'
import {
  VTextField,
  VDivider,
  VIcon,
  VBottomSheet
} from 'vuetify/lib'
import { numberingNumber } from '@/services/Helpers'
import ReusableLoading from '@/components/reusable/ReusableLoading'

export default {
  components: {
    VTextField,
    VDivider,
    VIcon,
    VBottomSheet,
    ReusableLoading
  },
  props: {
    zakatName: {
      type: String
    }
  },
  data () {
    return {
      goldGram: null,
      goldPrice: 0,
      goldNishab: 0,
      goldPercent: 0,
      dialog: {
        dialogError: false,
        loading: false
      },
      name: '',
      formName: false
    }
  },
  computed: {
    totalGold () {
      return this.goldGram * this.goldPrice
    },
    totalNishab () {
      return this.goldNishab * this.goldPrice
    },
    totalZakat () {
      var totalGold = this.totalGold
      var percent = this.goldPercent
      percent = Number(percent.replace(/,/g, '.')) / 100
      return totalGold * percent
    }
  },
  methods: {
    numberingNumber,
    incrementGold () {
      this.goldGram++
    },
    decrementGold () {
      if (this.goldGram > 0) this.goldGram--
    },
    fetchDataNishab () {
      Api('finapay/zakat/info', {
        zakatname: this.zakatName
      })
        .then((res) => {
          this.goldPrice = res.d.ref_price
          this.goldNishab = res.d.ref_weight
          this.goldPercent = res.d.amount
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    zakatCheckOut () {
      this.dialog.loading = true
      Api('finapay/zakat/checkout', {
        zakat_name: 'Zakat Emas',
        amount: this.totalZakat,
        muzakki: this.name
      })
        .then((res) => {
          this.dialog.loading = false
          this.$router.push('/finavest/payment/zakat/zakat_payment/')
        })
        .catch(() => {
          this.dialog.loading = false
          this.dialog.dialogError = true
        })
    }
  },
  created () {
    this.fetchDataNishab()
  }
}
</script>

<style lang="sass">
  .finavest-payment-zakat-emas
    .btn-box
      width: 40px
      height: 40px
      border: 1px solid #E8EAEF
</style>
