<template>
  <div class="finavest-payment-zakat-investasi">
    <v-layout column class="min-height bg-primary-3">
      <v-flex>
        <!-- Zakat Input -->
        <div class="px-3 mb-4 mt-4">
          <v-card-text class="nexa-16-bold pa-0 mb-2">Masukan jumlah nilai investasi</v-card-text>
          <v-layout row>
            <span class="span">Rp</span>
            <input type="tel"
              v-model="incomeValue"
              v-money="incomeValue !== null ? money : null"
              placeholder=" 0"
              maxlength="12"
              class=" v-input__control input-incomes bg-primary-4"
              style="height: 40px"
            />
          </v-layout>
        </div>
        <v-divider style="border-width: thick !important" class="mb-4"></v-divider>
        <!-- Zakat Gold Nishab -->
        <div class="px-3 mt-4">
          <v-card-text class="nexa-16-bold pa-0 mb-2">Apakah sudah nishab?</v-card-text>
          <v-card-text class="avenir-14-reg pa-0 mb-2" v-if="Number(replaceDot(incomeValue)) >= Number(nishabPrice)">Sudah</v-card-text><v-card-text class="avenir-14-reg pa-0 mb-2" v-else>Belum</v-card-text>
          <v-card-text class="avenir-12-reg pa-0 mb-4 color-secondary-5">Nishab zakat investasi sama dengan emas adalah ketika sudah mencapai satu tahun dan lebih dari <strong>{{ numberingNumber(nishabWeight) }} gram</strong> atau senilai <strong>Rp {{ numberingNumber(nishabPrice) }}</strong></v-card-text>
        </div>
        <!-- Zakat Gold Spent -->
        <div class="px-3">
          <v-card-text class="nexa-16-bold pa-0 mb-2">Zakat yang harus dibayarkan</v-card-text>
          <v-card-text class="nexa-16-bold pa-0 mb-2 color-primary-1" v-if="Number(replaceDot(incomeValue)) >= Number(nishabPrice)">Rp {{ numberingNumber(totalZakat) }}</v-card-text>
          <v-card-text class="nexa-16-bold pa-0 mb-2" v-else>Rp 0</v-card-text>
          <v-card-text class="avenir-12-reg pa-0 mb-4 color-secondary-5">Besar zakat emas adalah sebesar <strong>{{ nishabPercent }}%</strong> dari besar penghasilan</v-card-text>
        </div>
        <!-- Zakat button -->
        <div class="mx-3 mb-4">
          <v-btn color="warning" class="btn-radius btn-shadow py-2 full-width" :disabled="Number(replaceDot(incomeValue)) < Number(nishabPrice)" depressed @click="formName = true">Bayar</v-btn>
        </div>
      </v-flex>
    </v-layout>
    <!-- Popup bottom -->
    <v-bottom-sheet v-model="formName" :persistent="true">
      <v-card flat style="border-top-left-radius: 12px; border-top-right-radius: 12px">
        <v-layout column pa-3>
          <v-layout row align-center>
            <v-card-text class="pa-0 avenir-16-med">Zakat Investasi</v-card-text>
            <v-icon color="black" @click="formName = false">close</v-icon>
          </v-layout>
          <v-layout row>
            <v-card-text class="pa-0 avenir-14-med mb-3">Rp {{ numberingNumber(totalZakat) }}</v-card-text>
          </v-layout>
          <!-- Cashback -->
          <v-layout column mb-2>
            <v-flex xs12>
              <v-text-field v-model="name" solo flat hide-details label="Atas nama atau keluarga..." class="mb-4"></v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-btn @click="zakatCheckOut()" :disabled="name === ''" color="warning" block depressed class="btn-radius box-shadow py-2">Lanjut</v-btn>
            </v-flex>
          </v-layout>
        </v-layout>
      </v-card>
    </v-bottom-sheet>
    <!-- Loading Dialog -->
    <reusable-dialogs
        v-model="dialog.loading"
        :unclickable="true"
    >
        <div slot="layout">
          <v-card flat class="card-radius" style="width: 100%">
            <v-layout py-3 px-4 row align-center justify-center>
              <reusable-loading></reusable-loading>
              <div class="nexa-14-bold px-5">Memproses</div>
            </v-layout>
          </v-card>
        </div>
    </reusable-dialogs>
  </div>
</template>

<script>
import Api from '@/services/Api'
import {
  VTextField,
  VSelect,
  VDivider,
  VIcon,
  VBottomSheet
} from 'vuetify/lib'
import { replaceDot, numberingNumber } from '@/services/Helpers'
import { VMoney } from 'v-money'
import ReusableLoading from '@/components/reusable/ReusableLoading'

export default {
  components: {
    VTextField,
    VSelect,
    VDivider,
    VIcon,
    VBottomSheet,
    ReusableLoading
  },
  directives: { money: VMoney },
  props: {
    zakatName: {
      type: String
    }
  },
  data () {
    return {
      money: {
        thousands: '.',
        precision: 0,
        masked: true
      },
      incomeValue: '',
      nishabWeight: 0,
      nishabPrice: 0,
      nishabPercent: 0,
      name: '',
      formName: false,
      dataZakat:
      {
        type: '',
        name: '',
        amount: ''
      },
      dataPayment: [],
      dialog: {
        loading: false
      }
    }
  },
  computed: {
    totalZakat () {
      var percent = this.nishabPercent
      var incomeValue = this.incomeValue
      incomeValue = Number(replaceDot(incomeValue))
      percent = Number(percent.replace(/,/g, '.')) / 100
      return incomeValue * percent
    }
  },
  methods: {
    numberingNumber,
    replaceDot,
    fetchDataNishab () {
      Api('finapay/zakat/info', {
        zakatname: 'Zakat Investasi'
      })
        .then((res) => {
          this.nishabWeight = res.d.ref_weight
          this.nishabPrice = res.d.ref_price * this.nishabWeight
          this.nishabPercent = res.d.amount
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    zakatCheckOut () {
      this.dialog.loading = true
      Api('finapay/zakat/checkout', {
        zakat_name: 'Zakat Emas',
        amount: this.totalZakat,
        muzakki: this.name
      })
        .then((res) => {
          this.dialog.loading = false
          this.$router.push('/finavest/payment/zakat/zakat_payment/')
        })
        .catch(() => {
          this.dialog.loading = false
          this.dialog.dialogError = true
        })
    }
  },
  created () {
    this.fetchDataNishab()
  }
}
</script>

<style lang="sass">
  .finavest-payment-zakat-investasi
    .input-incomes
      padding: 6px 13px
      font-size: 14px
      border-bottom-right-radius: 8px
      border-top-right-radius: 8px

    .span
      font-size: 14px
      color: gray
      padding: 9.5px 13px
      padding-right: 0px
      border-bottom-left-radius: 8px
      border-top-left-radius: 8px
      background-color: #f6f8fa
</style>
