<template>
  <div class="investment-zakat-payment" :style="'min-height: ' + screenHeight + 'px;'">
    <reusable-toolbar page-name="Konfirmasi Zakat"></reusable-toolbar>
    <v-container pa-3 class="toolbar-margin">
        <v-layout v-for="(datas, index) in dataPayment" :key="datas.index" row align-center justify-space-between mb-4 class="bottom-dashed">
          <v-flex xs10>
            <v-card-text class="nexa-16-bold pb-1 text-capitalize">
              {{datas.zakat_name}}
            </v-card-text>
            <v-card-text class="avenir-14-med">
              Rp {{numberingNumber(datas.amount)}}
            </v-card-text>
            <v-card-text class="avenir-14-med pb-3">
              {{datas.muzakki_name}}
            </v-card-text>
          </v-flex>
          <v-flex xs2 class="text-xs-right">
            <img src="@/assets/finavest/payment/zakat/ic-x.svg" @click="removeList(datas.id, index)" alt="icon close">
          </v-flex>
        </v-layout>
      <v-layout row>
        <v-flex xs12>
          <v-card-text class="add-zakat avenir-14-med text-xs-right pb-3" @click="routeToZakatList()">
            Tambah Zakat
          </v-card-text>
        </v-flex>
      </v-layout>
      <v-layout column py-4 class="avenir-16-med">
        <v-flex xs12>
          <v-card-text>
            TOTAL
          </v-card-text>
          <v-card-text>
            Rp {{numberingNumber(totalAmount)}}
          </v-card-text>
          <div class="get-itenerary-amount">
            {{dataItinerary.amount = totalAmount}}
          </div>
        </v-flex>
      </v-layout>
      <v-layout row>
        <v-flex xs12>
          <v-btn block depressed @click="routeInstructions()" class="avenir-14-reg br-4" color="warning">Lanjut Metode Pembayaran</v-btn>
        </v-flex>
      </v-layout>
    </v-container>
    <!-- dialog kycs -->
    <kyc-dialogs
      @status-open="setKycStatus"
      v-model="dialog.dialogKycs"
    ></kyc-dialogs>
    <!-- dialog error -->
    <reusable-dialogs
      v-model="dialog.dialogError"
      :resize-image="true"
    ></reusable-dialogs>
  </div>
</template>
<script>
import Api from '@/services/Api'
import { numberingNumber, goToDashboard } from '@/services/Helpers'
import KycDialogs from '@/components/finacheck/kyc/KycDialogs'
export default {
  components: {
    KycDialogs
  },
  data: () => ({
    dataPayment: [],
    screenHeight: screen.height - 48,
    kycStatus: null,
    dialog: {
      dialogError: false,
      loading: false,
      dialogKycs: false
    },
    dataItinerary: {
      amount: '',
      data: null
    }
  }),
  methods: {
    numberingNumber,
    setKycStatus (status) {
      this.kycStatus = status
    },
    getDataPayment () {
      Api('finapay/zakat/list', {})
        .then((res) => {
          this.dataPayment = res.d
          this.dataItinerary.data = this.transformData(res.d)
        })
        .catch(({ s, success }) => {
          if (s === 500 && !success) {
            this.dialog.dialogError = true
            goToDashboard('lifeplan', 'assign')
          }
        })
    },
    transformData (response) {
      var obj = {}
      var data = []
      for (var i = 0; i < response.length; i++) {
        obj = {
          id: response[i].id,
          zakat_name: response[i].zakat_name
        }
        data.push(obj)
      }
      return data
    },
    routeToZakatList () {
      this.$router.push('/finavest/payment/zakat/zakat_list')
    },
    removeList (idList, indexList) {
      Api('finapay/zakat/delete', {
        id: idList
      })
        .then((res) => {
          this.dataPayment.splice(indexList, 1)
          if (this.dataPayment.length === 0) {
            this.$router.push('/finavest/payment/zakat/zakat_list')
          }
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    routeInstructions () {
      if (this.kycStatus === false) {
        localStorage.setItem('halofina-itinerary-zakat', JSON.stringify(this.dataItinerary))
        this.$router.push('/finavest/payment/invoice/1/true/zakat/null')
      } else {
        this.dialog.dialogKycs = true
      }
    }
  },
  created () {
    this.getDataPayment()
  },
  computed: {
    totalAmount: function () {
      return this.dataPayment.map(data => Number(data.amount)).reduce((prev, next) => prev + next)
    }
  }
}
</script>
<style lang="sass">
  .investment-zakat-payment
    background-color: #fff

    .get-itenerary-amount
      opacity: 0

    *
      padding: 0
      margin: 0

    .toolbar-margin
      margin-top: 48px !important

    .bottom-dashed
      border-bottom: 1px dashed #E8EAEF

    .add-zakat
      color: #388BF2
      border-bottom: 1px solid #A8ADC4

    .br-4
      border-radius: 4px

</style>
