<template>
  <div class="finavest-payment-container">
    <reusable-toolbar :page-name="zakatPage"></reusable-toolbar>
    <v-container class="toolbar-margin pa-0">
      <zakat-type-emas v-if="zakatType === 'emas'" :zakat-name="zakatPage"></zakat-type-emas>
      <zakat-type-fitrah v-if="zakatType === 'fitrah'"></zakat-type-fitrah>
      <zakat-type-investasi v-if="zakatType === 'investasi'"></zakat-type-investasi>
      <zakat-type-penghasilan  v-if="zakatType === 'penghasilan'" :zakat-name="zakatPage"></zakat-type-penghasilan>
    </v-container>
  </div>
</template>

<script>
import { capitalizeWord } from '@/services/Helpers'
import ZakatTypeEmas from './ZakatTypeEmas'
import ZakatTypeFitrah from './ZakatTypeFitrah'
import ZakatTypeInvestasi from './ZakatTypeInvestasi'
import ZakatTypePenghasilan from './ZakatTypePenghasilan'

export default {
  components: {
    ZakatTypeEmas,
    ZakatTypeFitrah,
    ZakatTypeInvestasi,
    ZakatTypePenghasilan
  },
  data () {
    return {
      zakatType: '',
      zakatPage: ''
    }
  },
  created () {
    this.zakatType = this.$route.params.type
    this.zakatPage = 'Zakat ' + capitalizeWord(this.zakatType)
  }
}
</script>

<style>

</style>
