<template>
  <div class="others-cashback">
    <v-container pa-0>
      <v-layout column align-center justify-center class="full-height">
        <div class="bg">
          <div style="width: 24px; height: 24px; border-radius: 100%; z-index: 100; right: 4%; top: 3%; position: absolute" class="bg-primary-3 color-primary-2 text-align-center" @click="goToDashboard('lifeplan', 'assign')">
            <v-icon>close</v-icon>
          </div>
          <!-- <div style="width: 100%; top: 75%; position: absolute;" class="pa-3">
            <div class="text-align-center avenir-12-reg color-primary-3 mb-3">Dapatkan cashback melalui:</div>
            <div class="text-align-center color-primary-1 bg-primary-3 pa-2 btn-radius" @click="toCashback()" style="width: 100%">bit.ly/maucashbackhalofina</div>
          </div> -->
        </div>
        <!-- Dialog disclaimer -->
        <reusable-dialogs
          v-model="dialog.dialogCashback"
          :full-screen="true"
          :hide-overlay="true">
          <div slot="layout">
            <v-card tile>
              <div class="scroll-ios">
                <v-toolbar card>
                  <v-toolbar-title>
                    Cashback
                  </v-toolbar-title>
                  <v-spacer></v-spacer>
                  <v-btn icon @click.native="dialog.dialogCashback = false">
                    <v-icon>close</v-icon>
                  </v-btn>
                </v-toolbar>
                <embed src="https://bit.ly/maucashbackhalofina" width="100%" height="100%"/>
              </div>
            </v-card>
          </div>
        </reusable-dialogs>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import {
  VIcon,
  VToolbar,
  VToolbarTitle,
  VSpacer
} from 'vuetify/lib'
import { setBackRouteToAndroid, goToDashboard } from '@/services/Helpers'

export default {
  name: 'OtherCashback',
  components: {
    VIcon,
    VToolbar,
    VToolbarTitle,
    VSpacer
  },
  data () {
    return {
      dialog: {
        dialogCashback: false
      }
    }
  },
  methods: {
    goToDashboard,
    toCashback () {
      this.dialog.dialogCashback = true
    }
  },
  created () {
    setBackRouteToAndroid('/dashboard/#/dashboard?tab=lifeplan')
  }
}
</script>

<style>
  .bg {
    background: url('https://imgur.com/PrMVS7G.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%
  }
</style>
