<template>
  <div class="banner-detail full-height bg-primary-3">
    <reusable-toolbar :change-namespace="true" namespace="dashboard" route="/dashboard?tab=lifeplan"></reusable-toolbar>
    <v-container pa-0 class="toolbar-margin">
      <!-- <pre>{{ banner }}</pre> -->
      <v-layout column v-if="isLoaded === true">
        <v-img :src="bannerImage"></v-img>
        <!-- Banner Header -->
        <v-card flat class="border-bottom pa-3">
          <v-card-text class="pa-0 nexa-16-bold mb-3">{{ bannerHeader.title }}</v-card-text>
          <div class="border-bottom-dashed" v-if="bannerVerify"></div>
          <v-layout row align-center justify-space-between class="mt-4" v-if="bannerVerify">
            <v-card-text class="pa-0 avenir-12-reg">Promo berlaku hingga</v-card-text>
            <v-card-text class="pa-0 avenir-12-med text-align-right">{{ dateFormat(bannerDeadline, 'D MMM YYYY') }}</v-card-text>
          </v-layout>
        </v-card>
        <v-divider></v-divider>
        <!-- Banner Content -->
        <v-card flat class="border-bottom pa-3">
          <v-card-text class="pa-0 avenir-12-reg mb-3" v-html="bannerContent.body"></v-card-text>
          <v-layout row align-center justify-space-between class="mt-4 btn-radius mb-3 text-align-center" style="border: 1px solid #E9ECF0; padding: 9px 0px" v-if="bannerContent.link">
            <v-card-text @click="dialog.dialogLink = true" class="pa-0 nexa-14-bold color-primary-1">Klik Disini!</v-card-text>
          </v-layout>
          <div class="border-bottom-dashed" v-if="bannerVerify"></div>
          <div class="mt-3" v-if="bannerVerify">
            <v-btn depressed block class="btn-radius box-shadow" color="primary" :ripple="false" @click.native="cashback.cashbackSheet = true">{{ bannerVerify.title }}</v-btn>
          </div>
          <div class="mt-3" v-if="bannerRouting">
            <v-btn outline depressed block class="btn-radius box-shadow" color="primary" :ripple="false" @click.native="$router.push(bannerRouting)">Klik Disini!</v-btn>
          </div>
        </v-card>
      </v-layout>
      <v-layout v-else column align-center justify-center class="full-height">
        <reusable-loading></reusable-loading>
      </v-layout>
      <!-- Bottom Sheet -->
      <div v-if="bannerVerify">
        <v-bottom-sheet v-model="cashback.cashbackSheet" :persistent="true">
          <v-card flat style="border-top-left-radius: 12px; border-top-right-radius: 12px">
            <v-layout column pa-3>
              <v-layout row align-center justify-space-between>
                <v-card-text class="pa-0 avenir-16-med">{{ bannerVerify.title }}</v-card-text>
                <v-icon small @click="cashback.cashbackSheet = false">close</v-icon>
              </v-layout>
              <br />
              <!-- Cashback -->
              <v-text-field v-on:focus="scroll = true" v-on:blur="scroll = false" v-model="cashback.cashback" solo flat hide-details label="Masukkan kode" class="mb-3"></v-text-field>
              <v-card-text class="pa-0 avenir-12-med color-system-error mb-3" v-if="cashback.cashbackValidation">{{ cashback.cashbackValidation }}</v-card-text>
              <v-btn @click="checkCashback()" :disabled="cashback.cashbackButton" color="primary" depressed class="btn-radius box-shadow py-2" block>{{ bannerVerify.button }}</v-btn>
            </v-layout>
            <!-- Blank box for Scrolling -->
            <div v-if="getOS() !== 'ios'" :class="scroll === true ? 'blank-box' : ''"></div>
          </v-card>
        </v-bottom-sheet>
      </div>
    </v-container>
    <!-- Dialog Redeem -->
    <reusable-dialogs
      v-model="dialog.dialogRedeem"
      :image="dialog.dialogImage"
      :resize-image="false"
      :is-image-above-title="true"
      :use-br="false"
      :title="dialog.dialogTitle"
      :description="'Berlaku hingga <b>' + dateFormat(dialog.dialogDesc, 'D MMM YYYY') + '</b>'"
      class-title="nexa-16-bold text-align-center pb-4"
      class-desc="avenir-12-reg text-align-center pt-0"
    >
      <div slot="layout-button" class="full-width pa-3">
        <v-btn @click="redeemCashback()" color="primary" :disabled="cashback.cashbackButton" depressed class="btn-radius box-shadow py-2" block>Redeem</v-btn>
      </div>
    </reusable-dialogs>
    <!-- Dialog Done -->
    <reusable-dialogs
      v-model="dialog.dialogDone"
      :image="require('@/assets/finavest/lifeplan/check.svg')"
      :resize-image="true"
      :is-image-above-title="true"
      title="Selamat"
      description="Voucher kamu berhasil di redeem"
      >
      <div slot="layout-button" class="full-width pa-3">
        <v-btn @click.native="$router.push('/finavest/investment/list_voucher')" color="primary" depressed class="btn-radius box-shadow py-2" block>Lihat Voucher</v-btn>
      </div>
    </reusable-dialogs>
    <!-- Dialog Error -->
    <reusable-dialogs
      v-model="dialog.dialogError"
      :is-image-above-title="true"
      :resize-image="true"
    ></reusable-dialogs>
    <!-- Dialog disclaimer -->
    <reusable-dialogs
      v-model="dialog.dialogLink"
      :full-screen="true"
      :hide-overlay="true">
      <div slot="layout">
        <v-card tile>
          <div class="scroll-ios">
            <v-toolbar card fixed>
              <v-toolbar-title>
                &nbsp;
              </v-toolbar-title>
              <v-spacer></v-spacer>
              <v-btn icon @click="dialog.dialogLink = false">
                <v-icon>close</v-icon>
              </v-btn>
            </v-toolbar>
            <iframe :src="bannerContent.link" />
          </div>
        </v-card>
      </div>
    </reusable-dialogs>
  </div>
</template>

<script>
import Api from '@/services/Api'

import {
  VImg,
  VBottomSheet,
  VDivider,
  VSpacer,
  VToolbar,
  VToolbarTitle
} from 'vuetify/lib'

import {
  dateFormat,
  getOS
} from '@/services/Helpers'

export default {
  name: 'BannerDetail',
  components: {
    VImg,
    VBottomSheet,
    VDivider,
    VSpacer,
    VToolbar,
    VToolbarTitle
  },
  data () {
    return {
      scroll: false,
      bannerHeader: {},
      bannerContent: {},
      bannerVerify: null,
      bannerImage: '',
      bannerDeadline: '',
      bannerRouting: '',
      isLoaded: false,
      cashback: {
        cashback: '',
        cashbackValidation: '',
        cashbackSheet: false,
        cashbackApi: '',
        cashbackButton: false
      },
      dialog: {
        dialogRedeem: false,
        dialogDone: false,
        dialogError: false,
        dialogLink: false,
        dialogTitle: '',
        dialogDesc: ''
      }
    }
  },
  methods: {
    dateFormat,
    getOS,
    fetchData () {
      var id = this.$route.params.id
      Api('finacampaign/banner/detail', {
        id: id
      })
        .then((res) => {
          var detail = JSON.parse(res.d.details)
          this.bannerDeadline = res.d.expiredtime
          this.bannerHeader = detail.header
          this.bannerImage = detail.header.banner
          this.bannerContent = detail.content
          this.bannerRouting = res.d.routing
          if (detail.verify) {
            this.bannerVerify = detail.verify
            this.cashback.cashbackApi = detail.verify.api
          }
          this.isLoaded = true
        })
        .catch(() => {
          this.dialog.dialogError = true
          this.isLoaded = true
        })
    },
    checkCashback () {
      var cashback = this.cashback.cashback
      var api = this.cashback.cashbackApi
      this.cashback.cashbackButton = true
      if (api) {
        Api(api, {
          code: cashback
        })
          .then((res) => {
            this.dialog.dialogRedeem = true
            this.cashback.cashbackSheet = false
            this.cashback.cashbackButton = false
            this.dialog.dialogTitle = res.d.name
            this.dialog.dialogDesc = res.d.endtime
            this.dialog.dialogImage = res.d.image
          })
          .catch((err) => {
            this.cashback.cashbackButton = false
            this.cashback.cashbackValidation = err.m
          })
      }
    },
    redeemCashback () {
      var cashback = this.cashback.cashback
      this.cashback.cashbackButton = true
      Api('finavest/investment/voucher/add', {
        code: cashback
      })
        .then((res) => {
          this.cashback.cashbackButton = false
          this.dialog.dialogRedeem = false
          this.dialog.dialogDone = true
        })
        .catch(() => {
          this.cashback.cashbackButton = false
          this.dialog.dialogRedeem = false
          this.dialog.dialogError = true
        })
    }
  },
  created () {
    this.fetchData()
  }
}
</script>

<style lang="sass">
.banner-detail
  .v-divider
    border-width: 8px 0 0 0

  .absolute
    position: absolute

  .border-bottom
    border-bottom: 1px solid #E9ECF0
</style>
