<template>
  <div class="banner" v-touch:swipe="swipeHandler" v-if="bannerData.length > 0">
    <v-card flat class="card-radius" style="box-shadow: 0px 6px 10px rgba(23, 23, 23, 0.05);">
      <v-carousel
        v-model="sliders"
        :cycle="bannerData.length > 0 ? true : false"
        hide-controls
        hide-delimiters
        height="auto"
        class="elevation-0"
      >
        <v-carousel-item v-for="(item, index) in bannerData" :key="index" @click="routeDetail(item.id)">
          <v-img :src="item.banner" :aspect-ratio="3/1"></v-img>
        </v-carousel-item>
      </v-carousel>
    </v-card>
    <div class="wrap-delimiters mt-2">
      <div
        v-for="(item, index) in bannerData" :key="index"
        class="controls"
        :class="sliders === index ? 'active' : ''"
      ></div>
    </div>
  </div>
</template>

<script>
import Api from '@/services/Api'
import {
  VCarousel,
  VCarouselItem,
  VImg
} from 'vuetify/lib'

export default {
  name: 'Banner',
  components: {
    VCarousel,
    VCarouselItem,
    VImg
  },
  data () {
    return {
      bannerData: [],
      sliders: null
    }
  },
  methods: {
    fetchData () {
      Api('finacampaign/banner/list', {})
        .then((res) => {
          this.bannerData = res.d
          this.$emit('banners', res.d)
        })
    },
    routeDetail (id) {
      this.$router.push('/others/banner_detail/' + id)
    },
    swipeHandler (direction) {
      if (direction === 'right') {
        if (this.sliders <= 0) {
          this.sliders = this.bannerData.length - 1
        } else {
          this.sliders -= 1
        }
      } else if (direction === 'left') {
        // if (this.sliders >= this.bannerData.length - 1) {
        // nothing
        // } else {
        this.sliders += 1
        // }
      }
    }
  },
  created () {
    this.fetchData()
  }
}
</script>

<style lang="sass">
  .banner
    .v-carousel__item
      height: auto !important
      min-height: 96px

    .v-carousel__controls
      height: 35px
      background: none !important
  
    .v-btn--icon.v-btn--small
      width: 0px
      padding: 0 6px
      height: 0px

    .v-btn .v-btn__content .v-icon
      color: white
      opacity: 0.2

    .v-btn--active
      i
        color: white !important
        opacity: 1 !important
        background-color: none !important

    i
      font-size: 9px !important

    .wrap-delimiters
      .controls
        width: 6px
        height: 6px
        border-radius: 100%
        background: #ECEFF7
        float: left
        margin-right: 8px
        transition: .5s

        &.active
          background: #51aaf3
          width: 20px !important
          border-radius: 6px !important
</style>
