<template>
  <div class="smart-saving-details full-height">
    <reusable-toolbar class-name="bg-transparent" page-name="Smart Savings Details" :is-title-visible="false"></reusable-toolbar>
    <v-container pa-0 v-if="isLoaded === true">
      <v-layout column v-if="pendingUnit + totalUnit > 0">
        <v-flex>
          <!-- Desc -->
          <v-card flat class="px-20 pb-20 pt-5 card-border-x">
            <v-layout row align-center justify-center>
              <v-flex xs6>
                <v-card-text class="nexa-18-bold">Smart Saving</v-card-text>
                <v-card-text class="avenir-12-reg">Tabungan buat jaga jaga</v-card-text>
              </v-flex>
              <v-flex xs6>
                <v-img :src="require('@/assets/finavest/smart_saving/smart-saving.svg')" class="mb-4" style="width: 97px; height: auto; float: right;"></v-img>
              </v-flex>
            </v-layout>
            <div class="clear-right"></div>
            <v-layout row align-center mb-4 pb-2>
              <v-flex xs6>
                <v-card-text class="avenir-12-reg">Dana Terkumpul</v-card-text>
                <v-card-text class="nexa-16-bold">Rp {{numberingNumber(totalAmount)}}</v-card-text>
              </v-flex>
              <v-flex xs6>
                <v-card-text class="avenir-12-reg text-align-right">Pertumbuhan</v-card-text>
                <v-layout row justify-end>
                  <v-icon v-if="gainLossPercentage < 0" class="color-system-error" style="margin-top: -2px">arrow_drop_down</v-icon>
                  <v-icon v-else-if="gainLossPercentage > 0" class="color-system-success" style="margin-top: -2px">arrow_drop_up</v-icon>
                  <v-icon v-else class="color-system-success" style="margin-top: -2px"></v-icon>
                  <div class="avenir-12-reg text-align-right">
                    {{numberingNumber(gainLossPercentage)}}%
                  </div>
                </v-layout>
              </v-flex>
            </v-layout>
            <v-layout row align-center>
              <v-flex xs6>
                <v-card-text class="avenir-12-reg">Total Unit</v-card-text>
                <v-card-text class="avenir-14-bold">{{numberingNumber(totalUnit)}}</v-card-text>
              </v-flex>
              <v-flex xs6>
                <v-card-text class="avenir-12-reg text-align-right">Laba/Rugi</v-card-text>
                <v-card-text class="avenir-14-bold text-align-right">
                   <span :class="gainLossPercentage > 0 ? 'color-system-success' : ''">Rp {{numberingNumber(gainLossAmount)}}</span>
                </v-card-text>
              </v-flex>
            </v-layout>
          </v-card>
          <!-- Produk -->
          <div class="pa-20" v-if="product.productName">
            <v-card-text class="nexa-14-bold mb-3">Produk</v-card-text>
            <div @click="goToDetail()">
              <reusable-cards
                class-card="py-3 pr-0 pl-3"
                :with-button="false"
                :with-radius="false"
                :with-shadow="true"
                >
                <div slot="layout-title">
                  <v-layout row align-center justify-space-between>
                    <div class="wrap-img mr-3">
                      <img :src="product.productImg"/>
                    </div>
                    <v-layout column>
                      <v-card-text class="pa-0 nexa-14-bold">{{ product.productName }}</v-card-text>
                      <v-card-text class="pa-0 avenir-12-med color-text-3">{{ product.productAssetClass }}</v-card-text>
                      <v-card-text class="pa-0 avenir-12-med color-text-1">Rp {{ product.productAmount }}</v-card-text>
                    </v-layout>
                    <v-spacer></v-spacer>
                    <img :src="require('@/assets/icons/icon-arrow.svg')"/>
                  </v-layout>
                  <v-divider class="mb-3"></v-divider>
                </div>
              </reusable-cards>
            </div>
          </div>
          <v-layout row align-center class="bottom-pos full-width px-3" v-if="isLocked === false">
            <v-flex xs6 mr-3>
              <v-btn block color="primary" flat class="btn-radius box-shadow" depressed @click="sellProduct()">Tarik</v-btn>
            </v-flex>
            <v-flex xs6>
              <v-btn block color="warning" class="btn-radius box-shadow" depressed @click="topUpSheet = true">Top Up</v-btn>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
      <v-layout v-else column class="bg-primary-3 full-height" align-center justify-center>
        <!-- <v-flex> -->
          <img :src="require('@/assets/finavest/smart_saving/smart-saving.svg')" class="mb-4" style="width: 212px; height: auto" />
          <div class="text-xs-center">
            <v-card-text class="nexa-18-bold mb-3">Smart Saving</v-card-text>
            <v-card-text class="avenir-12-reg mb-3">Buat kamu yang takut berkomitmen, <br /> dengan potensi pertumbuhan hingga 7% tiap tahun.</v-card-text>
            <a target="_blank" href="https://www.notion.so/Apa-itu-Smart-Savings-4bbdfbf2533b4b309a80b0db81dcff8d" class="avenir-14-med color-primary-1">Pelajari lebih lanjut</a>
            <div class="px-20 pb-4 bottom-pos full-width">
              <v-btn block depressed color="warning" class="btn-radius" @click="routeInstructions()">Mulai Menabung</v-btn>
            </div>
          </div>
        <!-- </v-flex> -->
      </v-layout>
    </v-container>
    <v-container pa-0 v-else>
      <v-layout column align-center justify-center class="full-height bg-primary-3">
        <reusable-loading></reusable-loading>
      </v-layout>
    </v-container>
    <smart-saving-sheet
      v-model="topUpSheet"
      @brief-data="getDataBrief"
      @product-data="getDataProduct"
    ></smart-saving-sheet>
    <!-- Error -->
    <reusable-dialogs
      v-model="dialog.dialogError"
      :resize-image="true"
      :is-image-above-title="true"
    ></reusable-dialogs>
    <!-- Disclaimer -->
    <reusable-dialogs
      v-model="dialog.dialogDisclaimer"
      :is-image-above-title="true"
      :image="require('@/assets/finavest/lifeplan/v3/lifeplan-trx.svg')"
      :resize-image="true"
      description="Kamu bisa melakukan transaksi baru setelah transaksi ini selesai."
      title="Transaksi sedang dalam proses"
    >
      <v-layout row class="px-3 pt-3 pb-3 full-width" slot="layout-button">
        <v-flex xs12 mr-1>
            <v-btn block small color="primary" class="btn-radius" @click.native="$router.go(-1)" depressed>
                Kembali
            </v-btn>
        </v-flex>
      </v-layout>
    </reusable-dialogs>
    <!-- dialog kycs -->
    <kyc-dialogs
      @status-open="setKycStatus"
      v-model="dialog.dialogKycs"
    ></kyc-dialogs>
  </div>
</template>

<script>
import {
  VImg
} from 'vuetify/lib'

import ReusableCards from '@/components/reusable/ReusableCards.vue'
import ReusableBottomSheet from '@/components/reusable/ReusableBottomSheet.vue'
import SmartSavingSheet from './SmartSavingSheet.vue'
import KycDialogs from '@/components/finacheck/kyc/KycDialogs'

import { numberingNumber } from '@/services/Helpers'

export default {
  name: 'SmartSavingDetails',
  components: {
    VImg,
    ReusableCards,
    ReusableBottomSheet,
    SmartSavingSheet,
    KycDialogs
  },
  data () {
    return {
      isLoaded: false,
      topUpSheet: false,
      totalAmount: 0,
      gainLossAmount: 0,
      gainLossPercentage: 0,
      totalUnit: 0,
      idAccount: 0,
      idPortfolio: 0,
      pendingUnit: 0,
      isLocked: true,
      kycStatus: null,
      product: {
        productName: '',
        productImg: '',
        productAssetClass: '',
        productId: '',
        productAmount: 0
      },
      dialog: {
        dialogError: false,
        dialogDisclaimer: false,
        dialogKycs: false,
        dialogContent: false
      }
    }
  },
  methods: {
    numberingNumber,
    setKycStatus (status) {
      this.kycStatus = status
    },
    getDataBrief (data) {
      if (data === false) {
        this.dialog.dialogError = true
      } else {
        if (data !== null) {
          this.totalAmount = data.total_balance
          this.totalUnit = data.total_unit
          this.gainLossAmount = data.gain_loss_amount
          this.gainLossPercentage = data.gain_percentage
          this.idAccount = data.id_account
          this.idPortfolio = data.id
          this.pendingUnit = data.pending_unit
          this.isLocked = data.is_locked
        }
      }
    },
    getDataProduct (data) {
      if (data === false) {
        this.dialog.dialogError = true
        this.product = null
      } else {
        if (data !== null) {
          this.product.productName = data.product_name
          this.product.productImg = data.product_img_url
          this.product.productAssetClass = data.asset_name
          this.product.productId = data.id_product
          this.product.productAmount = numberingNumber(data.total_balance)
        } else {
          this.product = data
        }
      }
      this.isLoaded = true
    },
    goToDetail () {
      this.$router.push('/finavest/portfolio/product/detailaset/' + this.idAccount + '/' + this.product.productId + '/' + this.idPortfolio)
    },
    sellProduct () {
      this.$router.push('/finavest/investment/sell/sell_product/' + this.idAccount + '/' + this.idPortfolio)
    },
    routeInstructions () {
      if (this.kycStatus === false) {
        this.goToProduct()
      } else {
        this.dialog.dialogKycs = true
      }
    },
    goToProduct () {
      if (!this.isLocked) {
        localStorage.setItem('halofina-smart-saving', true)
        this.$router.push('/finavest/new/product/product_list/1')
      } else {
        this.dialog.dialogDisclaimer = true
      }
    }
  },
  created () {
    this.getProductFromStorage()
  }
}
</script>

<style lang="sass">
  .smart-saving-details

    *
      margin: 0
      padding: 0
    
    .card-border-x
      border-top: 1px solid #E8EAEF
      border-bottom: 1px solid #E8EAEF

    .v-btn
      height: 48px

  .wrap-img
    border: 1px solid #E9ECF0
    background: white
    padding: 4px 4px 0 4px
    border-radius: 3px
    width: 48px
    height: 48px
    overflow: hidden
    position: relative

    img
      width: 48px
      height: auto
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
</style>
