<template>
  <div class="smart-saving-details">
    <reusable-bottom-sheet v-model="mutableIsOpen" :use-padding="false">
      <v-card flat class="rounded-top-corners" slot="custom-layout">
        <v-layout column>
          <v-flex>
            <v-layout row align-center justify-space-between px-3 mb-3>
              <v-card-text class="nexa-18-bold pa-0"
                >Top up Smart Saving</v-card-text
              >
              <v-icon color="black" @click.native="mutableIsOpen = false"
                >close</v-icon
              >
            </v-layout>
            <div style="height: 1px; background: #E8EAEF"></div>
            <v-layout row align-center pa-3>
              <div class="wrap-img mr-3">
                <img :src="productImg" alt="product" />
              </div>
              <v-layout column pa-0>
                <v-card-text class="avenir-14-med pa-0">{{
                  productName
                }}</v-card-text>
                <v-card-text class="avenir-12-reg pa-0">{{
                  productClass
                }}</v-card-text>
              </v-layout>
            </v-layout>
            <div style="height: 8px; background: #E8EAEF"></div>
            <div class="pa-3">
              <v-card-text class="avenir-14-reg pa-0 mb-2"
                >Nominal Pembelian</v-card-text
              >
              <input
                v-on:focus="true"
                v-model="amount"
                v-money="amount !== null ? money : null"
                solo
                flat
                type="tel"
                maxlength="12"
                :placeholder="'Minimal Rp ' + numberingNumber(minBuy)"
                style="border: 1px solid #E8EAEF; border-radius: 8px; padding: 8px"
                class="v-input__control bg-primary-3 mb-3"
              />
              <v-btn
                color="warning"
                depressed
                block
                class="btn-radius box-shadow"
                :disabled="isDisabled"
                @click="submitData()"
                >Beli</v-btn
              >
            </div>
          </v-flex>
        </v-layout>
      </v-card>
    </reusable-bottom-sheet>
  </div>
</template>

<script>
import { VImg } from 'vuetify/lib'
import ApiGet from '@/services/ApiGet'
import Api from '@/services/Api'

import ReusableBottomSheet from '@/components/reusable/ReusableBottomSheet.vue'

import { numberingNumber, replaceDot } from '@/services/Helpers'
import { VMoney } from 'v-money'

export default {
  name: 'SmartSavingDetails',
  components: {
    VImg,
    ReusableBottomSheet
  },
  directives: { money: VMoney },
  props: {
    isOpen: {
      type: Boolean,
      default: false
    },
    productParent: {
      type: Object
    },
    useProductApi: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      productImg: '',
      productClass: '',
      productName: '',
      product: [],
      amount: null,
      minBuy: 0,
      isDisabled: true,
      idAccount: 0,
      money: {
        thousands: '.',
        precision: 0,
        masked: true
      }
    }
  },
  model: {
    prop: 'isOpen',
    event: 'is-open-change'
  },
  computed: {
    mutableIsOpen: {
      get: function () {
        return this.isOpen
      },
      set: function (value) {
        this.$emit('is-open-change', value)
      }
    }
  },
  watch: {
    amount: function (value) {
      var noComma = Number(replaceDot(value))
      if (
        noComma >= Number(this.minBuy) &&
        noComma !== null &&
        noComma !== '0'
      ) {
        this.isDisabled = false
      } else {
        this.isDisabled = true
      }
    }
  },
  methods: {
    numberingNumber,
    replaceDot,
    fetchDataBrief () {
      ApiGet('v1/investment/wallet/brief', {})
        .then(res => {
          this.$emit('brief-data', res.d)
          this.idAccount = res.d.id_account
        })
        .catch(() => {
          this.$emit('brief-data', false)
        })
    },
    fetchDataProduct () {
      let product = this.productParent
      if (this.useProductApi === true) {
        ApiGet('v1/investment/wallet/product', {})
          .then(res => {
            this.$emit('product-data', res.d)
            if (res.d !== null) {
              this.productImg = res.d.product_img_url
              this.productName = res.d.product_name
              this.productClass = res.d.asset_name
              this.minBuy = res.d.min_buy
              this.pushToDetail(res.d)
            }
          })
          .catch(() => {
            this.$emit('product-data', false)
          })
      } else {
        setInterval(() => {
          this.productImg = product.product_img_url
          this.productName = product.product_name
          this.productClass = product.asset_name
          this.minBuy = product.min_buy
          this.pushToDetail(product)
        }, 1000)
      }
    },
    pushToDetail (res) {
      this.product.push({
        amount: 0,
        asset_class_id: 1,
        asset_class_name: 'Reksa Dana Pasar Uang',
        min_buy: Number(res.min_buy),
        product_id: res.id_product,
        product_name: res.product_name
      })
    },
    submitData () {
      this.isDisabled = true
      this.product[this.product.length - 1].amount = Number(
        replaceDot(this.amount)
      )
      Api('finavest/transaction/itinerary', {
        detail: [this.product[this.product.length - 1]],
        lifeplan: {
          id: this.idAccount,
          subtype: 'Smart Saving',
          type: 'smartsaving'
        }
      })
        .then(res => {
          localStorage.setItem(
            'halofina-itenerary-data',
            JSON.stringify(res.d)
          )
          this.$router.push('/finavest/investment/buy/detail')
          this.isDisabled = true
        })
        .catch(() => {
          this.isDisabled = true
        })
    }
  },
  created () {
    this.fetchDataBrief()
    this.fetchDataProduct()
  }
}
</script>

<style lang="sass">
.smart-saving-details

  *
    margin: 0
    padding: 0

  .card-border-x
    border-top: 1px solid #E8EAEF
    border-bottom: 1px solid #E8EAEF

  .v-btn
    height: 48px

.wrap-img
  border: 1px solid #E9ECF0
  background: white
  padding: 4px 4px 0 4px
  border-radius: 3px
  width: 48px
  height: 48px
  overflow: hidden
  position: relative

  img
    width: 48px
    height: auto
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
</style>
