<template>
  <div class="finacheck-rpa-input full-height" style="background-color: white">
    <!-- GUide Tour -->
    <!-- <reusable-guide-tour name="rpaTour" :steps="steprpa" status="halofina-tour-rpa" :background="true"></reusable-guide-tour> -->
    <!-- ReusableToolbar -->
    <reusable-toolbar page-name="Profil Risiko"></reusable-toolbar>
    <!-- Layout App -->
    <v-container class="pa-0 toolbar-margin">
      <v-layout column>
        <v-card-text class="pt-3 pb-1 nexa-16-bold text-align-center">
          <span class="color-primary-1">Hai {{name}}</span>, pilih Profil Risiko yang paling sesuai dengan kamu
        </v-card-text>
        <v-carousel v-model="slide" :cycle="false" class="text-xs-center text-md-center text-lg-center text-xl-center">
          <v-carousel-item v-for="(item, i) in items" :key="i">
            <v-container fill-height class="carousel-caption pt-0 pb-2">
              <v-layout column align-center justify-center>
                <img :src="item.img" style="width: 274px; height: 240px" class="pb-3"/>
                <v-card-text id="rpa-title" class="nexa-20-bold pa-2 pt-4">
                  {{item.text}}
                  <v-btn icon @click="dialogRpa('Profil Risiko', 'Gambaran risiko yang akan kamu dapatkan. Silahkan pilih sesuai dengan profil kamu', '')" style="z-index: 100">
                    <img src="@/assets/icons/icon-information.svg" alt="icon Information" style="width: 16px; height: 16px;">
                  </v-btn>
                </v-card-text>
                <v-card-text id="rpa-text" v-html="item.desc" class="avenir-14-reg text-align-center pb-0 pt-0 px-0"></v-card-text>
              </v-layout>
            </v-container>
          </v-carousel-item>
        </v-carousel>
        <v-layout row justify-center class="pb-4 pt-0">
          <v-flex px-3>
            <v-btn depressed color="primary" block class="btn-radius box-shadow" :disabled="isdisabled" @click="edit === 'edit' ? editdata(slide+1) : submit(slide+1)">Pilih</v-btn>
          </v-flex>
        </v-layout>
      </v-layout>
    </v-container>
    <!-- Dialog Disclaimer -->
    <v-dialog
            v-model="dialog.dialogDisclaimer"
            transition="dialog-bottom-transition"
            scrollable
    >
      <v-layout column>
        <div style="width: 100%;">
          <v-btn class="popup-button" round color="white" :ripple="false" icon @click="closeDialogs">
              <v-icon>close</v-icon>
          </v-btn>
        </div>
        <v-card tile class="card-radius" style="margin-top: 12px; display: flex; flex-direction: column; align-items: center; justify-content: center">
            <v-card-text class="nexa-20-bold text-align-center pt-4 pb-1 px-0">
              Profil Risiko
            </v-card-text>
            <img :src="require('@/assets/finacheck/rpa/range.svg')" style="width: 100%"/>
            <v-card-text class="avenir-14-reg text-align-left px-4 pb-4 pt-0">
                Kamu perlu menentukan Profil Risiko yang sesuai ketika akan melakukan tabungan investasi jangka panjang. <br /><br /> Profil Risiko merupakan ukuran kamu dalam menoleransi naik-turun nilai investasi selama menabung, hingga target kamu tercapai. <br /><br /> Semakin tinggi profil kamu, semakin kamu bisa menoleransi naik-turun nilai investasi. Sehingga kamu bisa memilih investasi dengan kemungkinan naik-turun yang tinggi.
            </v-card-text>
        </v-card>
      </v-layout>
    </v-dialog>
    <!-- Dialog Risk Profile -->
    <reusable-dialogs
      v-model="dialog.dialogRpa"
      :title="dialog.title"
      :description="dialog.desc"
      :with-button="true"
    >
    </reusable-dialogs>
  </div>
</template>

<script>
import { VCarousel, VCarouselItem, VDialog } from 'vuetify/lib'
import Api from '@/services/Api'
import { goToDashboard } from '@/services/Helpers'
export default {
  name: 'FinacheckRpaInput',
  props: ['riskid'],
  components: {
    VCarousel, VCarouselItem, VDialog
  },
  data () {
    return {
      // steprpa: [
      //   {
      //     target: '#rpa-title',
      //     content: 'Klik di sini untuk mengetahui profil dalam dunia keuangan'
      //   },
      //   {
      //     target: '#rpa-text',
      //     content: 'Gambaran risiko yang akan kamu dapatkan. Silahkan pilih sesuai dengan profil kamu'
      //   }
      // ],
      dialog: {
        dialogDisclaimer: false,
        dialogRpa: false,
        desc: '',
        title: '',
        img: ''
      },
      tabid: 'tab-' + (this.riskid || 1),
      show: false,
      edit: '',
      name: '',
      userDone: 0,
      income: 0,
      isdisabled: false,
      slide: 0,
      items: [
        {
          text: 'Safe and Stable',
          img: require('@/assets/finacheck/rpa/conservative.svg'),
          risk: 'Dalam profil risiko berinvestasi, kamu masuk kategori Conservative',
          desc: 'Jika Investasi <span class="nexa-14-bold">Rp 3.000.000</span>, kamu siap menerima <br />Kenaikan hingga <span class="nexa-14-bold">Rp 3.156.000 <span style="color: #35cc6d">(+5,2%)</span></span> <br />Penurunan hingga <span class="nexa-14-bold">Rp 2.922.000 <span class="nexa-14-bold" style="color: #F26969">(-2,6%)</span></span>'
        },
        {
          text: 'Easy Rider',
          img: require('@/assets/finacheck/rpa/mid-conservative.svg'),
          risk: 'Dalam profil risiko berinvestasi, kamu masuk kategori Mid-Conservative',
          desc: 'Jika Investasi <span class="nexa-14-bold">Rp 3.000.000</span>, kamu siap menerima <br />Kenaikan hingga <span class="nexa-14-bold">Rp 3.207.000 <span style="color: #35cc6d">(+6,9%)</span></span><br /> Penurunan hingga <span class="nexa-14-bold">Rp 2.896.000 <span style="color: #F26969">(-3,4%)</span></span>'
        },
        {
          text: 'Mover and Shaker',
          img: require('@/assets/finacheck/rpa/moderate.svg'),
          risk: 'Dalam profil risiko berinvestasi, kamu masuk kategori Moderate',
          desc: 'Jika Investasi <span class="nexa-14-bold">Rp 3.000.000</span>, kamu siap menerima <br />Kenaikan hingga <span class="nexa-14-bold">Rp 3.264.000 <span style="color: #35cc6d">(+8,8%)</span></span> <br />Penurunan hingga <span class="nexa-14-bold">Rp 2.866.000 <span style="color: #F26969">(-4,4%)</span></span>'
        },
        {
          text: 'Explorer',
          img: require('@/assets/finacheck/rpa/mid-aggressive.svg'),
          risk: 'Dalam profil risiko berinvestasi, kamu masuk kategori Mid-Aggressive',
          desc: 'Jika Investasi <span class="nexa-14-bold">Rp 3.000.000</span>, kamu siap menerima <br />Kenaikan hingga <span class="nexa-14-bold">Rp 3.360.000 <span style="color: #35cc6d">(+12%)</span></span> <br />Penurunan hingga <span class="nexa-14-bold">Rp 2.820.000 <span style="color: #F26969">(-6%)</span></span>'
        },
        {
          text: 'Adventurer',
          img: require('@/assets/finacheck/rpa/aggressive.svg'),
          risk: 'Dalam profil risiko berinvestasi, kamu masuk kategori Aggressive',
          desc: 'Jika Investasi <span class="nexa-14-bold">Rp 3.000.000</span>, kamu siap menerima <br />Kenaikan hingga <span class="nexa-14-bold">Rp 3.408.000 <span style="color: #35cc6d">(+13,6%)</span></span> <br />Penurunan hingga <span class="nexa-14-bold">Rp 2.796.000 <span style="color: #F26969">(-6,8%)</span></span>'
        }
      ]
    }
  },
  created () {
    this.edit = this.$route.params.id
    this.name = JSON.parse(localStorage.getItem('halofina-name'))
    localStorage.setItem('halofina-route', '/finacheck/rpa/input')
    this.checkFromEdit()
    this.getDataIncome()
  },
  methods: {
    checkFromEdit () {
      if (localStorage.getItem('halofina-rpa') !== 'null') {
        this.slide = localStorage.getItem('halofina-rpa') - 1
      }
      if (this.edit === 'edit') {
        localStorage.setItem('halofina-route', '/finacheck/rpa/input/edit')
        Api('finacheck/rpa/user', {})
          .then((res) => {
            this.slide = res.d.riskid - 1
          })
          .catch(() => { this.dialogs('Ada kesalahan', 'Coba reload atau coba beberapa saat lagi') })
      } else {
        var opened = localStorage.getItem('halofina-dialog-rpa')
        var self = this
        if (!opened) {
          setTimeout(function () {
            self.dialog.dialogDisclaimer = true
          }, 1500)
        }
      }
    },
    dialogRpa (title, desc, img) {
      this.dialog.dialogRpa = true
      this.dialog.title = title
      this.dialog.desc = desc
      this.dialog.img = img
    },
    closeDialogs () {
      this.dialog.dialogDisclaimer = false
      localStorage.setItem('halofina-dialog-rpa', 1)
    },
    submit (riskid) {
      this.isdisabled = true
      Api('finacheck/rpa/input', {
        riskid: Number(riskid)
      })
        .then((res) => {
          this.isdisabled = false
          this.addUserProperties(this.items[riskid - 1].text)
          this.$router.push('/finacheck/kyc/spending')
          this.$analytics.track('Risk Profile Selected')
        })
        .catch(() => {
          this.isdisabled = false
          this.dialogRpa('Ada Kesalahan', 'Coba reload atau coba beberapa saat lagi', '')
        })
    },
    editdata (riskid) {
      this.$analytics.track({action: 'Risk Profile Edit Button Clicked', properties: {risk_profile: riskid}})
      Api('finacheck/rpa/edit', {
        riskid: Number(riskid)
      }).then((res) => {
        this.isdisabled = false
        this.$analytics.track({action: 'Edit Risk Profile Succeed', properties: {risk_profile: riskid}})
        this.addUserProperties(this.items[riskid - 1].text)
        goToDashboard('lifeplan', 'assign')
      })
        .catch(() => {
          this.dialogRpa('Ada Kesalahan', 'Coba reload atau coba beberapa saat lagi', '')
          this.isdisabled = false
        })
    },
    addUserProperties (value) {
      let properties = {
        '$phone': localStorage.getItem('halofina-phone'),
        '$name': JSON.parse(localStorage.getItem('halofina-name')),
        '$email': localStorage.getItem('halofina-email'),
        'Risk Profile': value
      }
      this.$analytics.userProperties(properties)
    }
  }
}
</script>

<style lang="sass">
.finacheck-rpa-input
  overflow-y: hidden

  .v-carousel__prev,
  .v-carousel__next
    top: 26%
    transform: translateY(-26%)

  #rpa-title
    margin-left: 36px

  .v-carousel__prev, .v-carousel__next
    z-index: 10 !important

  .v-image
    z-index: 2

  .v-window
    height: auto !important

  .v-responsive
    height: auto !important

  .v-carousel
    height: 60vh
    box-shadow: none

  .v-carousel__controls__item
    margin: 0 6px!important

  .v-carousel__controls
    height: 77%
    background: none !important
    z-index: 5

  .v-btn .v-btn__content .v-icon
    color: #2C3B50

  .v-carousel__next .v-btn i, .v-carousel__prev .v-btn i
    font-size: 28px !important

  .v-btn--active
    i
      color: #2C3B50 !important
      opacity: 1 !important

  i
    font-size: 9px !important

  .v-btn--icon.v-btn--small
    width: 0px

.popup-button
  float: right
  margin: 0px
  width: 32px !important
  height: 32px !important

</style>
