<template>
  <div class="finapedia-course-list bg-primary-3 min-height">
    <v-layout column style="position: relative; background: linear-gradient(90.4deg, #3F99DD 0.12%, #3FA9EC 99.78%)" class="pa-20">
      <img src="@/assets/icons/icon-back-white.svg" @click="$router.go(-1)" style="width: 24px; height: 24px;" alt="arrow back" class="ml-1">
      <v-card-text class="nexa-32-bold color-primary-3 mt-4 pt-12">Course & Video</v-card-text>
      <!-- <v-card-text class="avenir-14-reg color-primary-3 mt-2" style="z-index: 10">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed</v-card-text> -->
      <img src="@/assets/finapedia/course.svg" style="position: absolute; top: 11%; right: 0%" alt="arrow back">
    </v-layout>
    <v-container class="pa-20">
      <v-layout column v-if="doneLoading === true">
        <v-layout row justify-content wrap>
          <div style="width:50%" v-for="(course, index) in courseList" :class="index % 2 === 0 ? 'pr-2' : 'pl-2'" :key="course.courseid">
            <v-img
              height="178px"
              :src="course.thumbnail_image"
              class="card-border card-radius mb-3"
              @click="routeToCourse(course.courseid)"
            >
            </v-img>
            <v-card-text class="avenir-14-reg mb-3">{{course.title}}</v-card-text>
          </div>
        </v-layout> 
      </v-layout>
      <v-layout column align-center justify-center v-else>
        <reusable-loading></reusable-loading>
      </v-layout>
    </v-container> 
    <!-- Dialog -->
    <reusable-dialogs
      v-model="dialog.dialogError"
      :resize-image="true"
      :is-image-above-title="true"
    ></reusable-dialogs>
  </div>  
</template>

<script>
import Api from '@/services/Api'
import {
  VImg
} from 'vuetify/lib'

export default {
  components: {
    VImg
  },
  data () {
    return {
      courseList: [],
      doneLoading: false,
      dialog: {
        dialogError: false
      }
    }
  },
  methods: {
    fetchCourseData () {
      Api('finapedia/course/user', {})
        .then((res) => {
          this.courseList = res.d
          this.doneLoading = true
        })
        .catch(() => {
          this.doneLoading = true
          this.dialog.dialogError = true
        })
    },
    routeToCourse (id) {
      this.$router.push({
        path: '/finapedia/course/section/' + id
      })
    }
  },
  created () {
    this.fetchCourseData()
  }
}
</script>

<style lang="sass">
  .finapedia-course-list
    *
      margin: 0px
      padding: 0px

    
</style>