<template>
  <div class="finapedia-course-lesson">
    <!-- ReusableToolbar -->
    <reusable-toolbar
      :page-name="lesson.course_title"
      :is-title-visible="false"
      :route="'/finapedia/course/section/' + courseid"
    ></reusable-toolbar>

    <div class="mt-2 toolbar-margin">
      <v-layout column wrap v-if="lesson.type === 'video'">
        <v-flex xs12>
          <v-card flat class="border-y mb-2">
            <video
              :src="lesson.url"
              ref="control"
              class="responsive"
              allowfullscreen
              frameborder="0"
              controls
              controlslist="nodownload"
              @seeking="handleSeeking"
              @seeked="handleSeeked"
              @timeupdate="handleUpdate"
              @play="handlePlay"
              @pause="handlePause"
            />
            <v-card-text class="avenir-16-med">{{lesson.title}}</v-card-text>
            <v-card-text class="avenir-14-reg pt-0">{{lesson.summary}}</v-card-text>
            <!-- <v-card-text class="avenir-14-reg pt-0">Elapsed Time : {{totalTime}}</v-card-text> -->
          </v-card>
          <v-layout column wrap v-for="section in section.section" :key="section.id" class="py-0">
            <v-flex mb-2>
              <v-expansion-panel class="border-y">
                <v-expansion-panel-content>
                  <div slot="header" class="nexa-14-bold">{{ section.title }}</div>
                  <v-list v-for="lesson in section.lesson" :key="lesson.lessonid">
                    <div class="border-thin"></div>
                    <v-list-tile
                      class="py-3"
                      @click="$router.push('/finapedia/course/lesson/' + lesson.lessonid)"
                    >
                      <v-icon
                        :class="lesson.lessonid === lessonid ? 'color-primary-1' : ''"
                        @click="lessonsroute(lesson.lessonid)"
                      >play_circle_filled</v-icon>
                      <v-list-tile-content class="ml-2">
                        <v-list-tile-title
                          :class="lesson.lessonid === lessonid ? 'color-primary-1 avenir-16-med' : 'avenir-16-med'"
                          @click="lessonsroute(lesson.lessonid)"
                        >{{ (lesson.title + "").length &lt 40 ? lesson.title : trimString(lesson.title, 40) }}</v-list-tile-title>
                        <div class="avenir-12-reg">{{ convertDate(lesson.duration) }} menit</div>
                      </v-list-tile-content>
                    </v-list-tile>
                  </v-list>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
      <reusable-dialogs v-model="dialog.isopen" :resize-image="true" :is-image-above-title="true"></reusable-dialogs>
    </div>
  </div>
</template>
<script>
import {
  VList,
  VListTileTitle,
  VListTileContent,
  VListTile,
  VTab,
  VTabs,
  VTabItem,
  VExpansionPanelContent,
  VExpansionPanel,
  VSpacer,
  VToolbar,
  VToolbarTitle,
  VDialog
} from 'vuetify/lib'
import Api from '@/services/Api'

export default {
  components: {
    VList,
    VListTileTitle,
    VListTileContent,
    VListTile,
    VTab,
    VTabs,
    VTabItem,
    VExpansionPanelContent,
    VExpansionPanel,
    VSpacer,
    VToolbar,
    VToolbarTitle,
    VDialog
  },
  data () {
    return {
      dialog: {
        isopen: false,
        desc: '',
        title: ''
      },
      lessonid: 0,
      lesson: [],
      section: [],
      courseid: 0,
      currentPage: 1,
      dialogerror: false,
      doneLoading: false,
      previousTime: 0,
      currentTime: 0,
      startTime: 0,
      endTime: 0,
      totalTime: 0,
      paused: true,
      seekStart: null,
      sessionId: 0
    }
  },
  created () {
    this.lessonid = this.$route.params.lessonid
    this.sessionId = this.createSessionID()
    this.retrieveData(this.lessonid)
    this.savelastviewed()
    this.trackVideo()
    this.handleCloseApp()
  },
  beforeRouteLeave (to, from, next) {
    this.finishTracking()
    next()
  },
  methods: {
    handleCloseApp () {
      // this is not really the hook for closing the app but it's quite close
      // i was using beforeunload but it's not good enough
      window.addEventListener('onclose', this.finishTracking())
    },
    finishTracking () {
      if (!this.paused) {
        this.totalTime += new Date().getTime() - this.startTime
      }
      this.$analytics.track('Course Lesson NetTime', {
        video_title: this.lesson.title,
        net_time: this.totalTime,
        sessionId: this.sessionId
      })
    },
    handleSeeking () {
      if (this.seekStart === null) {
        this.seekStart = this.previousTime
      }
    },
    handleSeeked () {
      console.log(
        'seeked from',
        this.seekStart,
        'to',
        this.currentTime,
        ' delta:',
        this.currentTime - this.previousTime
      )
      this.$analytics.track('Course Lesson Seeking', {
        video_title: this.lesson.title,
        start_seeking: this.seekStart,
        end_seeking: this.currentTime,
        sessionId: this.sessionId
      })
      this.seekStart = null
    },
    handleUpdate () {
      this.previousTime = this.currentTime
      this.currentTime = this.$refs.control.currentTime
    },
    handlePlay () {
      this.paused = false
      this.startTime = new Date().getTime()
    },
    handlePause () {
      this.paused = true
      this.totalTime += new Date().getTime() - this.startTime
    },
    trackVideo () {
      this.$analytics.track('Course Lesson Played', {
        video_title: this.lesson.title,
        class_title: this.lesson.course_title,
        sessionId: this.sessionId
      })
    },
    dialogs (title, desc) {
      this.dialog.isopen = true
      this.dialog.title = title
      this.dialog.desc = desc
    },
    convertDate (duration) {
      return new Date(1000 * duration).toISOString().substr(14, 5)
    },
    trimString (string, length) {
      return string.substr(0, length) + '...'
    },
    createSessionID () {
      function s4 () {
        return Math.floor((1 + Math.random()) * 0x10000)
          .toString(16)
          .substring(1)
      }
      return (
        s4() +
        s4() +
        '-' +
        s4() +
        '-' +
        s4() +
        '-' +
        s4() +
        '-' +
        s4() +
        s4() +
        s4()
      )
    },
    retrieveData (id) {
      this.lessonid = id
      Api('finapedia/lesson/retrieve', {
        lessonid: id
      })
        .then(res => {
          this.lesson = res.d
          this.fetchData(res.d.courseid)
          document.body.scrollTop = 0
          document.documentElement.scrollTop = 0
        })
        .catch(() => {
          this.dialog.isopen = true
        })
    },
    fetchData (id) {
      this.courseid = id
      Api('finapedia/section/list', {
        courseid: id
      })
        .then(res => {
          this.section = res.d
        })
        .catch(err => {
          this.dialogs('Ada kesalahan', err.m)
        })
    },
    savelastviewed () {
      Api('finapedia/course/analytics', {
        lessonid: this.lessonid
      }).catch(err => {
        this.dialogs('Ada kesalahan', err.m)
      })
    },
    back () {
      if (this.currentPage === 1) {
        return
      }
      this.currentPage = this.currentPage - 1
    },
    next () {
      if (this.currentPage === this.pdfFile.numPages) {
        return
      }
      this.currentPage = this.currentPage + 1
      this.doneLoading = true
    },
    lessonsroute (id) {
      this.retrieveData(id)
      this.$router.push('/finapedia/course/lesson/' + id)
    }
  }
}
</script>

<style lang='sass'>
  .finapedia-course-lesson

    .v-expansion-panel__header
      height: auto
      padding: 10px 24px

    .v-expansion-panel
      box-shadow: none

    .author
      color: gray

    .responsive
      width: 100%
      height: auto

    .v-list
      padding: 0px
</style>