<template>
  <div class="financial-course-section">
    <v-container class="pa-0 pos-relative">
      <reusable-toolbar route="/finapedia/dashboard" style="display: none"></reusable-toolbar>
      <img @click="$router.go(-1)" src="@/assets/icons/icon-back-white.svg" class="pos-absolute ma-20 back-button z-index-10" alt="arrow back">
      <v-img width="100%" :src="section.course.image" class="center-vert px-20">
        <div style="height: 60px"></div>
        <div class="pos-absolute bottom-pos full-width gradient-bg" style="height: 100%; bottom: 0px; z-index: -1"></div>
        <v-card-text class="pa-0 nexa-24-bold color-primary-3">{{ section.course.title }}</v-card-text>
        <v-card-text class="pa-0 avenir-12-reg color-primary-3">{{ totalLessons }} Videos • {{ totalDurations }} Menit</v-card-text>
        <div style="height: 40px"></div>
      </v-img>
      <div v-if="dataLoaded === true">
        <v-layout column class="pa-3 bg-primary-3 border-y mb-2">
          <div class="nexa-14-bold text-align-left mb-3">
            Deskripsi Modul
          </div>
          <div class="avenir-14-reg">
            {{ section.course.description }}
          </div>
        </v-layout>
        <v-layout column wrap v-for="section in section.section" :key="section.id" class="py-0">
          <v-flex mb-2>
            <v-expansion-panel class="border-y">
              <v-expansion-panel-content>
                <div slot="header" class="nexa-14-bold">{{ section.title }}</div>
                <v-card flat class="card-border card-radius">
                  <v-list v-for="lesson in section.lesson" :key="lesson.lessonid">
                    <div class="border-thin"></div>
                    <v-list-tile class="py-3" @click="$router.push('/finapedia/course/lesson/' + lesson.lessonid)">
                      <v-icon v-if="lesson.type == 'video'">play_circle_filled</v-icon>
                      <v-icon v-if="lesson.type == 'file'">description</v-icon>
                      <v-icon v-if="lesson.type == 'quiz'">assignment</v-icon>
                      <v-list-tile-content class="ml-2">
                        <v-list-tile-title class="avenir-16-med"> {{ (lesson.title + '').length &lt; 40 ? lesson.title : trimString(lesson.title, 40) }}</v-list-tile-title>
                        <div class="avenir-12-reg">{{ convertDate(lesson.duration) }} Menit</div>
                      </v-list-tile-content>
                    </v-list-tile>
                  </v-list>
                </v-card>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-flex>
        </v-layout>
      </div>
      <div v-else>
        <v-layout class="full-height" column align-center justify-center>
          <reusable-loading></reusable-loading>
        </v-layout>
      </div>
    </v-container>
    <reusable-dialogs
      v-model="dialog.isopen"
      :resize-image="true"
      :is-image-above-title="true"
    ></reusable-dialogs>
  </div>
</template>

<script>
import { VTextField, VSpacer, VToolbarTitle, VToolbar, VDialog, VListTileTitle, VListTileContent, VListTile, VExpansionPanel, VExpansionPanelContent, VImg, VList } from 'vuetify/lib'
import Api from '@/services/Api'

export default {
  components: {
    VTextField, VSpacer, VToolbarTitle, VToolbar, VDialog, VListTileTitle, VListTileContent, VListTile, VExpansionPanel, VExpansionPanelContent, VImg, VList
  },
  data () {
    return {
      dialog: {
        isopen: false,
        desc: '',
        title: ''
      },
      section: [],
      totalLessons: 0,
      totalDurations: 0,
      dataLoaded: false,
      dialogerror: false
    }
  },
  created () {
    this.fetchData()
    this.setRoute()
  },
  methods: {
    fetchData () {
      this.courseid = this.$route.params.courseid
      Api('finapedia/section/list', {
        courseid: this.courseid
      }).then((res) => {
        this.dataLoaded = true
        this.section = res.d
        this.countLessons(res)
        this.countDurations(res)
      }).catch(() => {
        this.dataLoaded = true
        this.dialog.isopen = true
      })
    },
    countLessons (res) {
      var sections = res.d.section
      var total = 0
      sections.forEach(section => {
        total += section.lesson.length
      })
      this.totalLessons = total
    },
    countDurations (res) {
      var sections = res.d.section
      var total = 0
      sections.forEach(section => {
        section.lesson.forEach(lesson => {
          total += Number(lesson.duration)
        })
      })
      this.totalDurations = this.convertDate(total)
    },
    convertDate (duration) {
      return new Date(1000 * duration).toISOString().substr(14, 5)
    },
    setRoute () {
      localStorage.setItem('halofina-route', '/finapedia/course/section/' + this.courseid)
    },
    trimString (string, length) {
      return string.substr(0, length) + '...'
    }
  }
}
</script>

<style lang="sass">
.financial-course-section

  .gradient-bg
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%)
    opacity: 0.7

  .z-index-10
    z-index: 10

  .lesson-link
    text-decoration: none

  .v-expansion-panel 
    box-shadow: none

  .v-list
    padding: 0px

  .back-button
    width: 24px
    height: 24px
    top: 0%
</style>
