<template>
  <div>
    <div @click="premiumVersion > 1 ? goPremiumBasedOnPremiumStatus() : isPremiumFunction()">
      <slot></slot>
    </div>
    <!-- Dialog Premium -->
    <reusable-dialogs
      v-model="dialog.premium"
      title="Coba premium. Selama 7 hari."
      description="Sekarang waktunya untuk premium, buruan coba sebelum penawaran berakhir."
      :image="require('@/assets/dashboard/popup-premium.svg')"
      :is-image-above-title="true"
      class-title="nexa-18-bold text-xs-center px-0 pb-2"
      class-desc="px-0 text-xs-center pt-0 pb-1"
      class-dialog="px-3 btn-radius"
      >
      <div slot="layout-button" style="width: 100%;">
        <v-layout column class="pt-3 pb-3">
          <v-flex xs12 ml-1>
              <v-btn block small color="primary" class="btn-radius" @click="goToNotPremium()" depressed>
                Lihat Fitur Premium
              </v-btn>
          </v-flex>
          <v-flex xs12 mr-1 mt-3>
              <v-btn block small class="btn-radius bg-primary-3 color-primary-1" @click.native="dialog.premium = false" depressed>
                Nanti Saja
              </v-btn>
          </v-flex>
        </v-layout>
      </div>
    </reusable-dialogs>
  </div>
</template>

<script>
import { checkFeatures } from '@/services/Helpers'

export default {
  name: 'PremiumFlags',
  props: {
    callApi: {
      type: Boolean,
      default: false
    },
    enablePremium: {
      type: Boolean,
      default: true
    },
    removeFlag: {
      type: Boolean,
      default: false
    },
    premiumStatus: {
      type: Boolean,
      default: false
    },
    trialStatus: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      premiumVersion: 0,
      dialog: {
        premium: false
      }
    }
  },
  methods: {
    getPremiumVersion () {
      this.premiumVersion = checkFeatures('halofina:premium').version
    },
    goPremiumBasedOnPremiumStatus () {
      const premiumStatus = this.premiumStatus
      const premiumEnabled = this.enablePremium
      if (premiumEnabled === true) {
        if (premiumStatus === true) {
          this.isPremiumFunction()
        } else {
          this.goPremiumBasedOnTrialStatus()
        }
      } else {
        this.isPremiumFunction()
      }
    },
    goPremiumBasedOnTrialStatus () {
      const trialStatus = this.trialStatus
      if (trialStatus === true) {
        this.goToNotPremium()
      } else {
        this.dialog.premium = true
      }
    },
    isPremiumFunction () {
      this.$emit('is-premium-function')
    },
    goToNotPremium () {
      this.$router.push('/notpremium')
    }
  },
  created () {
    this.getPremiumVersion()
  }
}
</script>
