<template>
  <div class="finapedia-article bg-primary-3">
    <!-- ReusableToolbar -->
    <reusable-toolbar page-name="Artikel" route="/finapedia/dashboard"></reusable-toolbar>
    <!-- App Layout -->
    <v-container class="pa-0 toolbar-margin">
      <v-layout column justify-center align-center>
        <v-flex v-for="articles in article" :key="articles.articleid">
          <v-card flat style="width: 300px" class="my-2 card-shadow card-radius">
            <v-img
              class="white--text"
              height="200px"
              width="auto"
              :src="articles.image !== null ? articles.image : 'https://picsum.photos/300/200'"
              @click="$router.push('/finapedia/article/' + articles.articleid)"
            ></v-img>
            <v-card-title @click="$router.push('/finapedia/article/' + articles.articleid)" >
              <div>
                <span class="avenir-16-med">{{articles.title}}</span>
              </div>
            </v-card-title>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>

import { VCard, VImg, VCardTitle } from 'vuetify/lib'

import Api from '@/services/Api'
export default {
  components: { VCard, VImg, VCardTitle },
  data () {
    return {
      dialog: {
        isopen: false,
        title: '',
        description: '',
        image: ''
      },
      article: []
    }
  },
  created () {
    localStorage.setItem('halofina-route', '/finapedia/article')
    Api('finapedia/article/user', {

    }).then((res) => {
      this.article = res.d
    }).catch((err) => {
      this.dialogs('Ada kesalahan', err.m)
    })
  },
  methods: {
    dialogs (title, description, image) {
      this.dialog.isopen = true
      this.dialog.title = title
      this.dialog.description = description
      this.dialog.image = image
    }
  }
}
</script>
