<template>
  <div class="finapedia-main">
    <reusable-toolbar page-name="Finapedia" :change-namespace="true" namespace="dashboard" route="/dashboard?tab=lifeplan"></reusable-toolbar>
    <v-container class="px-0 py-0 toolbar-margin">
      <v-layout column>
        <!-- Last Viewed Title -->
        <v-flex>
          <v-layout row style="text-align: left">
            <v-card-text class="avenir-14-med px-3 pt-3 pb-2" @click="$router.push('/finapedia/podcast/list')">
              Podcast
            </v-card-text>
          </v-layout>
        </v-flex>
        <v-flex v-if="recently !== '0'">
          <v-layout row style="text-align: left">
            <v-card-text class="avenir-14-med px-3 pt-3 pb-2">
              Terakhir dipelajari
            </v-card-text>
          </v-layout>
        </v-flex>
        <v-flex v-else></v-flex>
        <!-- Last Viewed Card -->
        <div v-if="recently !== '0'">
          <v-layout row style="overflow: auto;">
            <v-flex class="mx-2 pb-2">
              <v-card flat style="width: 300px; border-radius: 12px; position: relative; overflow: hidden; border: 0px;" class="card-border card-radius box-shadow">
                <v-img
                  class="white--text"
                  height="200px"
                  width="auto"
                  :src="recently.image"
                  @click="routelesson(recently.lessonid)"
                >
                  <v-layout justify-center align-center column fill-height style="background-color: black; opacity: 0.55">
                    <v-icon style="opacity: 1" x-large dark>play_circle_filled</v-icon>
                  </v-layout>
                </v-img>
                <v-card-title>
                  <div>
                    <span><b>{{recently.title}}</b></span><br />
                    <span class="grey--text">oleh {{recently.author}}</span>
                  </div>
                </v-card-title>
                <div class="btn-category avenir-12-reg">
                  Video
                </div>
              </v-card>
            </v-flex>
          </v-layout>
        </div>
        <div v-else></div>

        <!-- Online Class Card -->
        <v-flex class="mt-3">
          <v-card flat class="box-shadow">
            <v-flex>
              <v-layout class="px-3 pt-3 pb-2" row style="text-align: left">
                <v-card-text class="avenir-14-med pa-0">
                  Kelas Online
                </v-card-text>
                <v-spacer></v-spacer>
                <v-card-text @click="$router.push({path: '/finapedia/course/section/2'})" style="text-align: right" class="color-primary-1 avenir-14-reg pa-0">Lihat Semua</v-card-text>
              </v-layout>
            </v-flex>

            <v-layout row style="overflow: auto; white-space: nowrap; -webkit-overflow-scrolling: touch;" class="scroll-wrapper">
              <v-flex v-for="courselist in course" :key="courselist.courseid" class="mx-2 scroll-child" style=" webkit-transform: translate3d(0, 0, 0)">
                <v-card flat class="card-border card-radius mb-4" style="width: 250px">
                  <v-img
                    class="white--text"
                    height="160px"
                    width="auto"
                    :src="courselist.image"
                  >
                    <v-layout style="background-color: black; opacity: 0.60" @click="routecourse(courselist.courseid)"  fill-height>
                      <v-flex xs12 align-end flexbox>
                        <p class="nexa-20-bold white--text mx-3 mt-3 mb-0" style="font-size: 19px">{{courselist.title}}</p>
                        <p class="avenir-14-reg white--text mx-3">oleh {{courselist.author_name}}</p>
                        <br /><br />
                        <!-- <v-layout row align-center justify-space-between>
                          <p class="avenir-14-reg white--text mx-3">1/4 topik</p>
                          <p class="avenir-14-reg white--text mx-3">60%</p>
                        </v-layout> -->
                      </v-flex>
                    </v-layout>
                  </v-img>
                </v-card>
              </v-flex>
            </v-layout>
          </v-card>
        </v-flex>

        <!-- FAQ Title -->
        <v-flex>
          <v-layout class="px-3 pt-4 pb-2" row align-center>
            <v-card-text style="text-align: left" class="avenir-14-med pa-0">
              Artikel & FAQ
            </v-card-text>
            <v-spacer></v-spacer>
            <v-card-text @click="rep" style="text-align: right" class="color-primary-1 avenir-14-reg pa-0">Lihat Semua</v-card-text>
          </v-layout>
        </v-flex>

        <!-- FAQ Card -->
        <v-layout class="scroll-wrapper" row style="overflow: auto; -webkit-overflow-scrolling: touch;">
          <v-flex v-for="articles in articlelimit" :key="articles.articleid" class="scroll-child mx-2 pb-2">
            <v-card flat style="width: 300px; overflow: hidden; position: relative; border: 0" class="card-border card-radius box-shadow">
              <v-img
                class="white--text"
                height="200px"
                width="auto"
                :src="articles.image !== null ? articles.image : 'https://picsum.photos/300/200'"
                @click="$router.push('/finapedia/article/' + articles.articleid)"
              ></v-img>
              <v-card-title>
                <div>
                  <span class="avenir-16-med">{{ (articles.title + '').length &lt; 25 ? articles.title : trimString(articles.title, 25) }}</span><br />
                  <span class="grey--text">Ditulis oleh Halofina</span>
                </div>
              </v-card-title>
              <div class="btn-category-article avenir-12-reg">
                Artikel
              </div>
            </v-card>
          </v-flex>
        </v-layout>

        <!-- Glosarium Card -->
        <v-flex>
          <v-card flat class="mt-3 mb-3 py-3 pl-3 pr-0 box-shadow">
            <v-layout row align-center>
              <v-card-text class="mb-0 mr-5 pb-1 pt-0 avenir-14-med">Glosarium</v-card-text>
              <v-spacer></v-spacer>
              <v-btn :ripple="false" flat @click.native="$router.push('/finapedia/glossary')">
                <span class="mr-3">Cari Kata</span>
                <v-icon>search</v-icon>
              </v-btn>
            </v-layout>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import { VImg, VCardTitle, VSpacer, VList } from 'vuetify/lib'

export default {
  data () {
    return {
      recently: null,
      articlelimit: null,
      course: null
    }
  },
  components: {
    VImg, VCardTitle, VSpacer, VList
  },
  created () {
    this.$analytics.track('Finapedia Dashboard Viewed')
    this.getDataFinapedia()
  },
  methods: {
    routecourse (id) {
      this.$analytics.track(this.$options.name, {
        properties: {
          courseid: id
        }
      })

      this.$router.push({
        path: '/finapedia/course/section/' + id
      })
    },
    routelesson (id) {
      this.$router.push({
        path: '/finapedia/course/lesson/' + id
      })
    },
    rep () {
      this.$router.push('/finapedia/article')
    },
    trimString (string, length) {
      return string.substr(0, length) + '...'
    },
    getDataFinapedia () {
      let finapediaData = JSON.parse(localStorage.getItem('halofina-finapedia'))
      this.recently = finapediaData.recently
      this.course = finapediaData.course
      this.articlelimit = finapediaData.articlelimit
    }
  }
}
</script>
<style>
  .finapedia-main {
    background-color: #F6F6F7;
  }
  .finapedia-main .v-input__slot {
    margin-bottom: 0px;
  }
  .finapedia-main .v-messages {
    min-height: 0px;
  }
  .finapedia-main .v-text-field.v-text-field--enclosed .v-text-field__details {
    background-color: white;
    margin-bottom: 0px;
  }
  .finapedia-main .v-input__slot {
    margin-bottom: 0px
  }
  .finapedia-main .v-expansion-panel {
    box-shadow: none;
  }
  .finapedia-main .v-expansion-panel .v-expansion-panel__container {
    border: none
  }
  .finapedia-main .v-expansion-panel__header {
    padding: 12px 0px
  }
  .finapedia-main .btn-category, .btn-category-article {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: #fff;
    background-color: #42A5F5;
    padding: 4px 15px;
    border-radius: 12px 0px 0px 0px !important;
  }
  .finapedia-main .btn-category-article {
    background-color: #FF6F6F;
  }
</style>
