<template>
  <div class="finapedia-glossary full-height" style="background-color: white">
    <!-- ReusableToolbar -->
      <reusable-toolbar>
        <v-layout slot="layout-toolbar" >
          <v-text-field class="pt-2" placeholder="Ketahui tentang keuangan" clearable solo flat v-model="search"></v-text-field>
        </v-layout>
      </reusable-toolbar>

    <v-container class="bg-primary-3 pa-0 toolbar-margin">
      <div v-if="search.length !== 0">
        <v-list two-line subheader v-for="category in category" :key="category.id">
          <v-subheader class="avenir-14-reg3" v-if="search.length < 3">{{category.categoryname}}</v-subheader>
          <v-list-tile v-for="glossary in filteredData" v-if="glossary.categoryid === category.categoryid" :key="glossary.id">
            <v-list-tile-avatar>
              <div style="width: 24px; height: 24px; background-color: #e9ecf0; border-radius: 100%"></div>
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title v-text="glossary.word" @click="dialogs(glossary.word, glossary.meaning)"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
        <v-list>
          <v-list-tile v-if="filteredData.length === 0">Kata Kunci Tidak Ditemukan</v-list-tile>
        </v-list>
      </div>
      <div v-else>
        <v-layout justify-center column align-center>
          <img src="../../assets/finapedia/glossary.svg" style="height: 250px; width: 250px"/>
          <div class="nexa-16-bold text-align-center" style="width: 216px">Apa yang ingin kamu ketahui tentang keuangan? kamu bisa mencarinya dengan mengetik kolom pencarian di atas</div>
        </v-layout>
      </div>
    </v-container>
    <reusable-dialogs
      v-model="dialog.isopen"
      :title="dialog.title"
      :description="dialog.desc"
      :image="null"
      :with-button="true"
    ></reusable-dialogs>
  </div>
</template>

<script>
import { VTextField, VListTile, VList, VListTileTitle, VListTileContent, VListTileAvatar, VSubheader } from 'vuetify/lib'
import Api from '@/services/Api'

export default {
  components: {
    VTextField, VListTile, VList, VListTileTitle, VListTileContent, VListTileAvatar, VSubheader
  },
  name: 'FinapediaGlossary',
  data () {
    return {
      dialog: {
        isopen: false,
        title: '',
        desc: ''
      },
      search: '',
      glossary: [],
      category: [],
      dialogerror: false
    }
  },
  created () {
    this.fetchDataCategory()
    this.fetchDataList()
  },
  methods: {
    fetchDataCategory () {
      Api('finapedia/glossary/category', {

      }).then((res) => {
        this.category = res.d
      }).catch((err) => {
        this.dialogs('Ada kesalahan', err.m)
      })
    },
    fetchDataList () {
      Api('finapedia/glossary/list', {

      }).then((res) => {
        this.glossary = res.d
      }).catch((err) => {
        this.dialogs('Ada kesalahan', err.m)
      })
    },
    dialogs (title, desc) {
      this.dialog.isopen = true
      this.dialog.title = title
      this.dialog.desc = desc
      this.trackCategory(title)
    },
    trackCategory (title) {
      this.$analytics.track('Finapedia Glossary Searched', {
        glossary_title: title
      })
    }
  },
  computed: {
    filteredData () {
      var keyword = ''
      if (this.search.length >= 3) {
        keyword = this.search.toLowerCase()
      }
      return this.glossary.filter(function (glossary) { return (glossary.word + '').toLowerCase().indexOf(keyword) >= 0 })
    }
  }
}
</script>
