<template>
    <div class="finavest-investment-buy-all-lifeplan bg-primary-3">
        <v-container pt-4 mt-2 px-0>
          <!-- List Product -->
          <v-layout column>
            <div class="con-assets mb-3"></div>
            <div
                class="recommendation-detail"
                v-for="(recommendation, index) in lifeplan.portfolio"
                :key="recommendation.asset"
              >
              <!-- Product Section -->
              <v-layout row pb-3 px-3 class="con-assets mb-3" v-if="recommendation.ri > 0" align-center justify-center @click="recommendation.product.product_name === '' ? routeToProduct(recommendation.asset, recommendation.ri) : routeToProduct(recommendation.asset, recommendation.ri, recommendation.product.product_id)">
                  <reusable-image-asset :type="recommendation.asset" class="mr-3"></reusable-image-asset>
                  <v-layout column>
                      <v-flex class="avenir-12-reg" v-if="recommendation.ri > 0">
                          {{ recommendation.asset }}
                      </v-flex>
                      <v-flex class="avenir-14-med">
                        Rp {{ numberingNumber(Math.round(recommendation.ri)) }}
                      </v-flex>
                      <v-flex class="avenir-12-reg color-system-error" v-if="recommendation.product.product_name === ''">
                          Produk belum dipilih
                      </v-flex>
                      <v-flex v-else class="avenir-12-reg color-primary-1">
                          {{ recommendation.product.product_name }}
                      </v-flex>
                  </v-layout>
                  <v-btn class="btn-radius box-shadow" flat :ripple="false" icon>
                    <img :src="require('@/assets/icons/icon-arrow.svg')"/>
                  </v-btn>
              </v-layout>
            </div>
            <div class="blank-box-buy"></div>
          </v-layout>
          <!-- Button buy -->
          <v-layout column pa-3 class="box-shadow-min fixed-layout border-radius">
            <v-layout row align-end mb-3>
              <v-flex xs8>
                <v-layout column>
                  <v-card-text class="pa-0 avenir-12-reg">Nominal Tabungan</v-card-text>
                  <v-card-text class="pa-0 nexa-16-bold color-primary-1">Rp {{ customAmount ? numberingNumber(customAmount) : numberingNumber(lifeplan.regularinvestment) }}</v-card-text>
                </v-layout>
              </v-flex>
              <v-flex xs4 class="text-xs-right">
                <v-card-text @click="openSheet = true" class="pa-0 nexa-14-bold color-primary-1">Ubah</v-card-text>
              </v-flex>
            </v-layout>
            <v-btn color="primary" :disabled="disableButton" block class="btn-radius box-shadow py-2" depressed @click="proceedOrder()">Beli Sekarang</v-btn>
          </v-layout>
          <!-- Bottom sheet -->
          <v-bottom-sheet v-model="openSheet">
            <v-card flat style="border-top-left-radius: 12px; border-top-right-radius: 12px">
              <v-layout column pa-3>
                <v-card-text class="nexa-16-bold pa-0">Pilih Nominal</v-card-text>
                <v-radio-group v-model="determinedAmount">
                  <v-layout row justify-space-between align-center>
                    <v-radio
                      :value="lifeplan.regularinvestment"
                      @click.native="disabledInput = true; customInput = '0'"
                    >
                    </v-radio>
                    <v-layout column>
                      <v-card-text class="pa-0 avenir-12-reg">Sesuai Rekomendasi</v-card-text>
                      <v-card-text class="pa-0 nexa-14-bold">Rp {{numberingNumber(lifeplan.regularinvestment)}}</v-card-text>
                    </v-layout>
                    <v-btn icon @click="dialogInfo('Sesuai Rekomendasi', 'Ini adalah nominal investasi yang direkomendasikan agar kamu dapat mencapai LifePlan sesuai dengan waktu dan nilai yang kamu atur.')" :ripple="false">
                      <img :src="require('@/assets/icons/icon-information.svg')"/>
                    </v-btn>
                  </v-layout>
                  <v-divider class="my-4"></v-divider>
                  <v-layout row justify-space-between align-center>
                    <v-radio
                      :value="totalMinBuy"
                      @click.native="disabledInput = true; customInput = '0'"
                    >
                    </v-radio>
                    <v-layout column>
                      <v-card-text class="pa-0 avenir-12-reg">Minimal Beli</v-card-text>
                      <v-card-text class="pa-0 nexa-14-bold">Rp {{numberingNumber(totalMinBuy)}}</v-card-text>
                    </v-layout>
                    <v-btn icon @click="dialogInfo('Minimal Beli', 'Ini adalah nominal investasi minimal yang bisa kamu beli agar dapat melakukan transaksi tambah tabungan LifePlan.')" :ripple="false">
                      <img :src="require('@/assets/icons/icon-information.svg')"/>
                    </v-btn>
                  </v-layout>
                  <v-divider class="my-4"></v-divider>
                  <v-layout row justify-space-between align-center>
                    <v-radio
                      :value="customInput"
                      @click.native="disabledInput = false"
                    >
                    </v-radio>
                    <v-layout column>
                      <v-card-text class="pa-0 avenir-12-reg mb-2">Atur sendiri</v-card-text>
                      <input
                        v-on:focus="scroll = true"
                        v-on:blur="scroll = false"
                        v-model="customInput"
                        v-money="money"
                        :disabled="disabledInput"
                        solo
                        flat
                        type="tel"
                        style="border: 1px solid #42A5F5; border-radius: 8px; padding: 19px" class="v-input__control; bg-primary-4 mb-2"/>
                      <v-card-text v-if="checkInputLessThanMinBuy === false && (determinedAmount === 0 || determinedAmount === '0')" class="pa-0 avenir-12-reg mb-2 color-system-error">Tidak boleh kurang dari minimal beli</v-card-text>
                    </v-layout>
                  </v-layout>
                </v-radio-group>
                <v-btn color="primary" block class="btn-radius box-shadow py-2" :disabled="checkInputLessThanMinBuy === false && (determinedAmount === 0 || determinedAmount === '0')" depressed @click="adjustAmount()">Oke</v-btn>
                <!-- Blank box for Scrolling -->
                <div :class="scroll === true ? 'blank-box' : ''"></div>
              </v-layout>
            </v-card>
          </v-bottom-sheet>
        </v-container>

        <!-- info Dialog -->
        <reusable-dialogs
          v-model="dialog.dialogInfo"
          :title="dialog.dialogInfoTitle"
          :description="dialog.dialogInfoDesc"
          :with-button="true"
        ></reusable-dialogs>
        <!-- Error Dialog -->
        <reusable-dialogs
          v-model="dialog.dialogError"
          :resize-image="true"
        ></reusable-dialogs>
        <!-- Loading Dialog -->
        <reusable-dialogs
            v-model="dialog.dialogLoading"
        >
          <div slot="layout">
            <v-card flat class="card-radius" style="width: 100%">
              <v-layout py-3 px-4 row align-center justify-center>
                <reusable-loading></reusable-loading>
                <div class="nexa-14-bold px-5">Memproses</div>
              </v-layout>
            </v-card>
          </div>
        </reusable-dialogs>
    </div>
</template>

<script>
import Api from '@/services/Api'
import {
  VBottomSheet,
  VDivider,
  VRadio,
  VRadioGroup,
  VTextField
} from 'vuetify/lib'
import { numberingNumber } from '@/services/Helpers'
import { VMoney } from 'v-money'
import ReusableLoading from '@/components/reusable/ReusableLoading'
import ReusableImageAsset from '@/components/reusable/ReusableImageAsset'

export default {
  name: 'FinavestInvestmentBuyAllLifeplan',
  directives: { money: VMoney },
  components: {
    VBottomSheet,
    VDivider,
    VRadio,
    VRadioGroup,
    VTextField,
    ReusableLoading,
    ReusableImageAsset
  },
  props: {
    lifeplan: {
      type: Object
    }
  },
  data () {
    return {
      total: '',
      disableButton: false,
      disabledInput: true,
      bank: null,
      openSheet: false,
      determinedAmount: 0,
      customInput: 0,
      customAmount: null,
      scroll: false,
      iteneraryData: {
        lifeplan: {
          id: '',
          type: '',
          subtype: ''
        },
        detail: []
      },
      dialog: {
        dialogInfo: false,
        dialogInfoTitle: '',
        dialogInfoDesc: '',
        dialogError: false,
        dialogBank: false,
        dialogLoading: false
      },
      money: {
        thousands: '.',
        precision: 0,
        masked: true
      }
    }
  },
  computed: {
    totalMinBuy () {
      // check min ri
      let portfolio = this.lifeplan.portfolio
      let minBuy = 0
      var minPercentage = 0
      portfolio.map(data => {
        if (data.p !== 0) minPercentage = Math.min(data.p)
        minBuy = Math.round(10000000 / minPercentage)
      })
      return minBuy
    },
    checkInputLessThanMinBuy () {
      var value = this.customInput
      if (Number(value) !== 0) {
        if (Number(value.replace(/\./g, '')) < this.totalMinBuy) {
          return false
        } else {
          return true
        }
      } else {
        return false
      }
    }
  },
  methods: {
    numberingNumber,
    dialogInfo (title, desc) {
      this.dialog.dialogInfo = true
      this.dialog.dialogInfoTitle = title
      this.dialog.dialogInfoDesc = desc
    },
    adjustAmount () {
      var portfolio = this.lifeplan.portfolio
      var customInput = this.customInput.replace(/\./g, '')
      var determinedAmount = this.determinedAmount
      if (Number(customInput) !== 0) {
        determinedAmount = customInput
      }
      portfolio.forEach(element => {
        element.ri = Math.round(Number(determinedAmount) * (Number(element.p) / 100))
        element.product.amount = Math.round(Number(determinedAmount) * (Number(element.p) / 100))
      })
      localStorage.setItem('halofina-custom-portfolio', JSON.stringify(portfolio))
      localStorage.setItem('halofina-custom-amount', determinedAmount)
      this.customAmount = determinedAmount
      this.openSheet = false
    },
    disableButtonIfNoProduct () {
      var datas = this.lifeplan.portfolio
      for (var i = 0; i < datas.length; i++) {
        if (datas[i].ri) {
          if (datas[i].product.product_name === '') {
            this.disableButton = true
          }
        }
      }
    },
    routeToProduct (type, amount, id) {
      localStorage.setItem('halofina-product-amount', amount)
      if (type === 'Reksadana Pasar Uang') {
        this.$router.push('/finavest/investment/buy/list_product/' + 1)
        this.trackButton('Reksadana Pasar Uang', amount, id)
      } else if (type === 'Reksadana Pendapatan Tetap') {
        this.$router.push('/finavest/investment/buy/list_product/' + 2)
        this.trackButton('Reksadana Pendapatan Tetap', amount, id)
      } else if (type === 'Reksadana Campuran') {
        this.$router.push('/finavest/investment/buy/list_product/' + 3)
        this.trackButton('Reksadana Campuran', amount, id)
      } else if (type === 'Emas') {
        this.$router.push('/finavest/investment/buy/list_product/' + 4)
        this.trackButton('Emas', amount, id)
      } else if (type === 'Reksadana Saham') {
        this.$router.push('/finavest/investment/buy/list_product/' + 5)
        this.trackButton('Reksadana Saham', amount, id)
      }
    },
    trackButton (type, amount, id) {
      if (id) {
        this.$analytics.track('Investment Replaced', {
          asset_kind: type,
          product_id: Number(id),
          amount: Number(amount)
        })
      } else {
        this.$analytics.track('Investment Searched', {
          asset_kind: type,
          amount: Number(amount)
        })
      }
    },
    proceedOrder () {
      this.dialog.dialogLoading = true
      Api('finavest/transaction/itinerary', this.iteneraryData)
        .then((res) => {
          localStorage.setItem('halofina-itenerary-data', JSON.stringify(res.d))
          this.$router.push('/finavest/investment/buy/detail')
          this.trackBuyButton()
          this.dialog.dialogLoading = false
        })
        .catch(() => {
          this.dialog.dialogLoading = false
          this.dialog.dialogError = true
        })
    },
    trackBuyButton () {
      this.$analytics.track('Investment Interest Buy Selected')
    },
    getProductFromLocalStorage () {
      var customAmount = JSON.parse(localStorage.getItem('halofina-custom-amount'))
      var customPortfolio = JSON.parse(localStorage.getItem('halofina-custom-portfolio'))
      var emas = JSON.parse(localStorage.getItem('halofina-class-emas'))
      var pasarUang = JSON.parse(localStorage.getItem('halofina-class-pasar-uang'))
      var saham = JSON.parse(localStorage.getItem('halofina-class-saham'))
      var pendapatanTetap = JSON.parse(localStorage.getItem('halofina-class-pendapatan-tetap'))
      var campuran = JSON.parse(localStorage.getItem('halofina-class-campuran'))
      var portfolio = this.lifeplan.portfolio
      if (customPortfolio) {
        customPortfolio.forEach(element => {
          if (element.asset === 'Reksadana Pasar Uang') {
            if (pasarUang) {
              element.product = pasarUang
            }
          }
          if (element.asset === 'Reksadana Saham') {
            if (saham) {
              element.product = saham
            }
          }
          if (element.asset === 'Reksadana Campuran') {
            if (campuran) {
              element.product = campuran
            }
          }
          if (element.asset === 'Reksadana Pendapatan Tetap') {
            if (pendapatanTetap) {
              element.product = pendapatanTetap
            }
          }
          if (element.asset === 'Emas') {
            if (emas) {
              element.product = emas
            }
          }
        })
        this.lifeplan.portfolio = customPortfolio
        this.customAmount = customAmount
        this.determinedAmount = customAmount
      } else {
        portfolio.forEach(element => {
          if (element.asset === 'Reksadana Pasar Uang') {
            if (pasarUang) {
              element.product = pasarUang
            }
          }
          if (element.asset === 'Reksadana Saham') {
            if (saham) {
              element.product = saham
            }
          }
          if (element.asset === 'Reksadana Campuran') {
            if (campuran) {
              element.product = campuran
            }
          }
          if (element.asset === 'Reksadana Pendapatan Tetap') {
            if (pendapatanTetap) {
              element.product = pendapatanTetap
            }
          }
          if (element.asset === 'Emas') {
            if (emas) {
              element.product = emas
            }
          }
        })
        this.determinedAmount = this.lifeplan.regularinvestment
      }
    },
    transformIteneraryData () {
      var detail = this.lifeplan.portfolio
      for (var i = 0; i < detail.length; i++) {
        if (detail[i].product.product_name !== '') {
          this.iteneraryData.detail.push(detail[i].product)
        }
      }
      this.iteneraryData.lifeplan.id = this.lifeplan.targetid
      this.iteneraryData.lifeplan.type = this.lifeplan.type
      this.iteneraryData.lifeplan.subtype = this.lifeplan.subtype
    }
  },
  created () {
    this.getProductFromLocalStorage()
    this.disableButtonIfNoProduct()
    this.transformIteneraryData()
  }
}
</script>
<style lang="sass">
    .finavest-investment-buy-all-lifeplan
      .v-input
          margin-top: 0px !important
      .bg-grey
          background-color: #f6f8fa
      .circle
          background-color: transparent
          border-radius: 50%
          max-width: 19px
          min-height: 19px
          margin: auto
      .circle-red
          border: #F26969 4px solid
      .circle-green
          border: #35CC6D 4px solid
      .circle-blue
          border: #42A5F5 4px solid
      .circle-yellow
          border: #FFD13B 4px solid
      .circle-brown
          border: brown 4px solid
      .con-assets
        border-bottom: 1px solid #E9ECF0
      .fixed-layout
        position: fixed
        background-color: white
        width: 100%
        bottom: 0px
      .blank-box-buy
        width: 100%
        height: 147px
      .border-radius
        border-top-left-radius: 12px
        border-top-right-radius: 12px
      .box-shadow-min
        box-shadow: 0px -3px 12px rgba(0, 0, 0, 0.12) !important
    .v-input__control
      width: 100% !important
</style>
