<template>
    <div class="finavest-investment-buy-investment bg-primary-3" :style="'min-height: ' + screenHeight + 'px;'">
      <!-- Reusable Toolbar -->
      <reusable-toolbar page-name="Tambah Tabungan">
        <div slot="button-toolbar">
          <v-btn icon @click.native="addProductInitialCondition('back'); $router.go(-1);">
            <v-icon style="font-size: 24px !important">arrow_back</v-icon>
          </v-btn>
        </div>
      </reusable-toolbar>
      <!-- Layout App -->
      <!-- If Loading Done -->
      <div v-if="loadingDone === true">
        <!-- Layout for Old Investment -->
        <v-container v-if="routeType === 'old'" class="pa-0 toolbar-margin">
          <v-layout column align-center justify-center>
            <reusable-image-lifeplan class="image-lifeplan" :type="lifeplanType"></reusable-image-lifeplan>
            <div class="nexa-14-bold text-capitalize" v-if="this.lifeplan.subtype === '' || this.lifeplan.subtype === null">{{ lifeplanType }}</div>
            <div class="nexa-14-bold text-capitalize" v-else>{{ this.lifeplan.subtype }}</div>
          </v-layout>
          <!-- The Layout -->
          <buy-investment-per-lifeplan-old :lifeplan="lifeplan"></buy-investment-per-lifeplan-old>
        </v-container>
        <!-- Layout for per Lifeplan Investment -->
        <v-container v-else class="pa-0 toolbar-margin">
          <!-- Image Layout -->
          <v-layout column justify-center align-center>
            <v-card-text class="pa-0 text-align-center py-4 avenir-12-reg">Berikut rekomendasi lifeplan kamu, silahkan tentukan <br /> pilihan produk dan nominal yang ingin ditambahkan :</v-card-text>
            <reusable-image-lifeplan class="image-lifeplan" :type="lifeplanType"></reusable-image-lifeplan>
            <div class="nexa-14-bold text-capitalize" v-if="this.lifeplan.subtype === '' || this.lifeplan.subtype === null">{{ lifeplanType }}</div>
            <div class="nexa-14-bold text-capitalize" v-else>{{ this.lifeplan.subtype }}</div>
          </v-layout>
          <!-- The Layout -->
          <buy-investment-per-lifeplan :lifeplan="lifeplan" :kyc-status="status" :kyc-remark="remark"></buy-investment-per-lifeplan>
        </v-container>
      </div>
      <!-- If Loading not Done -->
      <div v-else>
        <v-container>
          <v-layout column justify-center align-center class="full-height">
            <reusable-loading></reusable-loading>
          </v-layout>
        </v-container>
      </div>
      <!-- Reusable Dialog -->
      <reusable-dialogs :is-open="dialog.isOpen" :title="dialog.title" :description="dialog.desc" :with-button="true"></reusable-dialogs>
    </div>
</template>

<script>
import Api from '@/services/Api'
import { capitalizeWord, setBackRouteToAndroid, goToDashboard } from '@/services/Helpers'
// import component for buy investment
import BuyInvestmentPerLifeplan from './BuyInvestmentPerLifeplan.vue'
import BuyInvestmentPerLifeplanOld from './BuyInvestmentPerLifeplanOld.vue'
// Reusable Components
import ReusableImageLifeplan from '@/components/reusable/ReusableImageLifeplan.vue'

export default {
  name: 'FinavestInvestmentBuy',
  components: {
    ReusableImageLifeplan,
    BuyInvestmentPerLifeplan,
    BuyInvestmentPerLifeplanOld
  },
  data () {
    return {
      screenHeight: screen.height + 80,
      dialog: {
        isOpen: false,
        title: '',
        desc: ''
      },
      loadingDone: false,
      lifeplans: [],
      lifeplan: {},
      lifeplanType: '',
      lifeplanId: 0,
      routeType: '',
      status: '',
      remark: ''
    }
  },
  methods: {
    capitalizeWord,
    setRouteFromDashboard () {
      let routeParams = this.$route.params.type
      let lifeplanId = this.$route.params.id
      this.lifeplanId = lifeplanId
      this.routeType = routeParams
    },
    fetchDataPerLifeplan (id) {
      var voucherId = JSON.parse(localStorage.getItem('halofina-detail-voucher'))
      Api('finavest/lifeplan/target/retrieve', {
        targetid: id,
        productid: voucherId ? voucherId.productid : ''
      }).then((res) => {
        this.lifeplan = res.d
        this.lifeplanType = res.d.type
        this.addProductInitialCondition()
        this.addProductRecommendation(res.d.portfolio)
        this.fetchStatusKyc()
      }).catch(() => {
        this.dialogs('Ada kesalahan', 'Coba reload atau coba beberapa saat lagi')
      })
    },
    routeNext () {
      goToDashboard('lifeplan', 'assign')
    },
    routeDetail () {
      this.$router.push({path: '/finavest/lifeplan/detail'})
    },
    dialogs (title, desc) {
      this.dialog.isOpen = true
      this.dialog.title = title
      this.dialog.desc = desc
    },
    addProductInitialCondition (condition) {
      var productObj = {
        product_name: '',
        product_id: '',
        asset_class_id: '',
        asset_class_name: '',
        amount: 0,
        ri: null,
        min_buy: 0
      }
      var doneAdding = localStorage.getItem('halofina-done-add-initial-state')
      if (!doneAdding) {
        localStorage.setItem('halofina-class-saham', JSON.stringify(productObj))
        localStorage.setItem('halofina-class-pasar-uang', JSON.stringify(productObj))
        localStorage.setItem('halofina-class-emas', JSON.stringify(productObj))
        localStorage.setItem('halofina-class-campuran', JSON.stringify(productObj))
        localStorage.setItem('halofina-class-pendapatan-tetap', JSON.stringify(productObj))
        localStorage.setItem('halofina-done-add-initial-state', 'done')
      }
      if (condition === 'back') {
        localStorage.removeItem('halofina-done-add-initial-state')
      }
    },
    addProductRecommendation (portfolio) {
      var productObj = {
        product_name: '',
        product_id: '',
        product_image: '',
        asset_class_id: '',
        asset_class_name: '',
        amount: 0,
        ri: null,
        min_buy: 0
      }
      var productObjEmpty = {
        product_name: '',
        product_id: '',
        product_image: '',
        asset_class_id: '',
        asset_class_name: '',
        amount: 0,
        ri: null,
        min_buy: 0
      }
      portfolio.forEach((element) => {
        if (element.asset === 'Reksadana Pasar Uang') {
          if (element.productname) {
            if (Number(element.ri) >= Number(element.min_buy)) {
              productObj.product_name = element.productname
              productObj.product_id = element.productid
              productObj.ri = element.ri
              productObj.min_buy = Number(element.min_buy)
              productObj.amount = element.ri
              productObj.asset_class_id = 1
              productObj.asset_class_name = 'Reksadana Pasar Uang'
              localStorage.setItem('halofina-rec-class-pasar-uang', JSON.stringify(productObj))
            } else {
              localStorage.setItem('halofina-rec-class-pasar-uang', JSON.stringify(productObjEmpty))
            }
          } else {
            localStorage.setItem('halofina-rec-class-pasar-uang', JSON.stringify(productObjEmpty))
          }
        }
        if (element.asset === 'Reksadana Pendapatan Tetap') {
          if (element.productname) {
            if (Number(element.ri) >= Number(element.min_buy)) {
              productObj.product_name = element.productname
              productObj.product_id = element.productid
              productObj.ri = element.ri
              productObj.min_buy = Number(element.min_buy)
              productObj.amount = element.ri
              productObj.asset_class_id = 2
              productObj.asset_class_name = 'Reksadana Pendapatan Tetap'
              localStorage.setItem('halofina-rec-class-pendapatan-tetap', JSON.stringify(productObj))
            } else {
              localStorage.setItem('halofina-rec-class-pendapatan-tetap', JSON.stringify(productObjEmpty))
            }
          } else {
            localStorage.setItem('halofina-rec-class-pendapatan-tetap', JSON.stringify(productObjEmpty))
          }
        }
        if (element.asset === 'Reksadana Campuran') {
          if (element.productname) {
            if (Number(element.ri) >= Number(element.min_buy)) {
              productObj.product_name = element.productname
              productObj.product_id = element.productid
              productObj.ri = element.ri
              productObj.min_buy = Number(element.min_buy)
              productObj.amount = element.ri
              productObj.asset_class_id = 3
              productObj.asset_class_name = 'Reksadana Campuran'
              localStorage.setItem('halofina-rec-class-campuran', JSON.stringify(productObj))
            } else {
              localStorage.setItem('halofina-rec-class-campuran', JSON.stringify(productObjEmpty))
            }
          } else {
            localStorage.setItem('halofina-rec-class-campuran', JSON.stringify(productObjEmpty))
          }
        }
        if (element.asset === 'Emas') {
          if (element.productname) {
            if (Number(element.ri) >= Number(element.min_buy)) {
              productObj.product_name = element.productname
              productObj.product_id = element.productid
              productObj.ri = element.ri
              productObj.min_buy = Number(element.min_buy)
              productObj.amount = element.ri
              productObj.asset_class_id = 4
              productObj.asset_class_name = 'Emas'
              localStorage.setItem('halofina-rec-class-emas', JSON.stringify(productObj))
            } else {
              localStorage.setItem('halofina-rec-class-emas', JSON.stringify(productObjEmpty))
            }
          } else {
            localStorage.setItem('halofina-rec-class-emas', JSON.stringify(productObjEmpty))
          }
        }
        if (element.asset === 'Reksadana Saham') {
          if (element.productname) {
            if (Number(element.ri) >= Number(element.min_buy)) {
              productObj.product_name = element.productname
              productObj.product_id = element.productid
              productObj.ri = element.ri
              productObj.min_buy = Number(element.min_buy)
              productObj.amount = element.ri
              productObj.asset_class_id = 5
              productObj.asset_class_name = 'Reksadana Saham'
              localStorage.setItem('halofina-rec-class-saham', JSON.stringify(productObj))
            } else {
              localStorage.setItem('halofina-rec-class-saham', JSON.stringify(productObjEmpty))
            }
          } else {
            localStorage.setItem('halofina-rec-class-saham', JSON.stringify(productObjEmpty))
          }
        }
      })
    },
    fetchStatusKyc () {
      Api('finacheck/kyc/status', {})
        .then((res) => {
          this.status = res.d.status
          this.remark = res.d.remark
          this.loadingDone = true
        })
        .catch(() => {
          this.dialog('Ada kesalahan', 'Coba reload atau coba beberapa saat lagi')
        })
    }
  },
  created () {
    this.setRouteFromDashboard()
    this.fetchDataPerLifeplan(this.lifeplanId)
    setBackRouteToAndroid('/dashboard/#/dashboard?tab=lifeplan')
  }
}
</script>

<style lang="sass">
  .finavest-investment-buy-investment
    a:active, a:hover
      color: black !important
      background-color: white !important

    .image-lifeplan
      .v-image
        width: 70px !important
        height: auto !important

</style>
