<template>
   <div class="bg-primary-3 finavest-investment-buy-investment-detail" :style="minHeight()">
    <reusable-toolbar page-name="Konfirmasi Pembelian"></reusable-toolbar>
    <v-container class="toolbar-margin" pa-0>
      <v-layout column>
        <v-layout row align-center pa-3>
          <reusable-image-lifeplan class="image-lifeplan" :type="lifeplanType"></reusable-image-lifeplan>
          <div class="pa-0 text-align-center nexa-16-bold ml-3 text-capitalize" v-if="lifeplanName === '' || lifeplanName === null">{{ lifeplanType }}</div>
          <div class="pa-0 text-align-center nexa-16-bold ml-3 text-capitalize" v-else>{{ lifeplanName }}</div>
        </v-layout>
        <v-divider></v-divider>
        <!-- Itinerary -->
        <v-card-text class="avenir-12-med color-secondary-5 pb-0">Detail Pembelian</v-card-text>
        <v-layout row align-center justify-space-between wrap class="con-assets px-3 pt-3 pb-0">
          <v-flex xs12 class="border-bottom-dashed" v-for="(item, index) in items" :key="index">
            <v-layout row align-end my-3>
              <v-flex xs8>
                <v-layout column>
                  <v-card-text class="pa-0 avenir-12-reg" v-html="item.asset"></v-card-text>
                  <v-card-text class="pa-0 avenir-12-reg" v-html="item.name"></v-card-text>
                </v-layout>
              </v-flex>
              <v-flex xs4>
                <v-card-text class="pa-0 text-align-right avenir-12-med" v-if="item.name === '<b>Diskon</b>'">- Rp {{ numberingNumber(Math.round(item.item)) }}</v-card-text>
                <v-card-text class="pa-0 text-align-right avenir-12-med" v-else>Rp {{ numberingNumber(Math.round(item.item)) }}</v-card-text>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <!-- Total -->
        <v-layout row justify-space-between align-center class="bg-primary-4" pa-3>
          <v-card-text class="pa-0 nexa-14-bold">Total Pembelian</v-card-text>
          <v-card-text class="pa-0 nexa-14-bold text-align-right">Rp {{ numberingNumber(sumTotal) }}</v-card-text>
        </v-layout>
        <!-- Cashback -->
        <div v-if="cashback.cashbackEnabled === true">
          <div v-if="cashback.cashbackVersion > 1">
            <div v-if="cashback.cashbackUse === true">
              <div class="btn-radius ma-3 pa-3 box-shadow-short cashback border-left-blue" id="new-cashback-active">
                <div class="cashback-close">
                  <img :src="require('@/assets/icons/icon-close.svg')" height="14" width="14" @click="resetCashback()"/>
                </div>
                <v-card-text class="pa-0 avenir-14-reg">Menggunakan Voucher</v-card-text>
                <v-card-text class="py-2 px-0 avenir-14-bold">{{ cashback.cashback }}</v-card-text>
                <v-card-text class="pa-0 avenir-14-reg" v-if="cashback.cashbackType === 'C'">
                  Kamu berpotensi mendapatkan cashback sebesar 
                  <span v-if="cashback.cashbackValue > 0">
                    <div v-if="cashback.cashbackUnit === 'N'">Rp {{ numberingNumber(cashback.cashbackValue) }}</div>
                    <div v-else>{{ numberingNumber(cashback.cashbackValue) }}%</div>
                  </span>
                  setelah selesai transaksi
                </v-card-text>
                <v-card-text class="pa-0 avenir-14-reg" v-else>kamu mendapatkan discount sebesar 
                  <span v-if="cashback.cashbackValue > 0">
                    <div v-if="cashback.cashbackUnit === 'N'">Rp {{ numberingNumber(cashback.cashbackValue) }}</div>
                    <div v-else>{{ numberingNumber(cashback.cashbackValue) }}%</div>
                  </span>
                </v-card-text>
              </div>
            </div>
            <div v-else>
              <div class="pa-20 btn-radius ma-3 box-shadow-short cashback" id="new-cashback-inactive">
                <v-layout row align-center>
                  <img :src="require('@/assets/dashboard/voucher-blue.svg')"/>
                  <v-card-text class="avenir-14-reg text-align-left pa-0 ml-3" @click="$router.push('/finavest/investment/list_voucher')">Gunakan Voucher</v-card-text>
                  <v-spacer></v-spacer>
                  <img :src="require('@/assets/icons/icon-arrow-grey.svg')"/>
                </v-layout>
              </div>
            </div>
          </div>
          <div v-else>
            <div v-if="cashback.cashbackUse === true">
              <div class="btn-radius ma-3 pa-3 cashback" id="old-cashback-active">
                <div class="cashback-close">
                  <v-icon small @click="resetCashback()">close</v-icon>
                </div>
                <v-card-text class="pa-0 avenir-12-med mb-3">Kode Voucher: <span class="color-primary-1">{{ cashback.cashback }}</span></v-card-text>
                <v-card-text class="pa-0 avenir-12-reg" v-if="cashback.cashbackType === 'C'">
                  Potensi cashback
                  <span v-if="cashback.cashbackValue > 0">
                    <strong v-if="cashback.cashbackUnit === 'N'">Rp {{ numberingNumber(cashback.cashbackValue) }}</strong>
                    <strong v-else>{{ numberingNumber(cashback.cashbackValue) }}%</strong>
                  </span>
                  akan ditambahkan setelah pembelian berhasil
                </v-card-text>
                <v-card-text class="pa-0 avenir-12-reg" v-else>Potensi diskon
                  <span v-if="cashback.cashbackValue > 0">
                    <strong v-if="cashback.cashbackUnit === 'N'">Rp {{ numberingNumber(cashback.cashbackValue) }}</strong>
                    <strong v-else>{{ numberingNumber(cashback.cashbackValue) }}%</strong>
                  </span>
                </v-card-text>
              </div>
            </div>
            <div v-else>
              <div class="pa-2 btn-radius ma-3" style="border: 1px solid #E9ECF0" id="old-cashback-inactive">
                <v-layout row align-center>
                  <img :src="require('@/assets/dashboard/voucher-blue.svg')"/>
                  <v-card-text class="avenir-12-med text-align-left pa-0 ml-3" @click="$router.push('/finavest/investment/list_voucher')">Punya kode voucher?</v-card-text>
                </v-layout>
              </div>
            </div>
          </div>
        </div>
        <!-- Donation -->
        <div v-if="donation.donationEnabled === true">
          <div v-if="donation.donationUse === true">
            <div class="btn-radius ma-3 pa-3 cashback">
              <div class="cashback-close">
                <v-icon small @click="resetDonation()">close</v-icon>
              </div>
              <v-card-text class="pa-0 avenir-12-med mb-3">Donasi: <span class="color-primary-1">Rumah Zakat</span></v-card-text>
              <v-card-text class="pa-0 avenir-12-reg">Donasi senilai <strong>Rp {{ numberingNumber(donation.donationAmount) }}</strong> kamu akan disalurkan setelah transaksi berhasil</v-card-text>
            </div>
          </div>
          <div v-else>
            <div class="pa-2 btn-radius ma-3" style="border: 1px solid #E9ECF0">
              <v-layout row align-center>
                <img :src="require('@/assets/partners/rz_icon.png')" width="24" height="24"/>
                <v-card-text class="avenir-12-med text-align-left pa-0 ml-3" @click="donation.donationSheet = true">Donasi ke Rumah Zakat</v-card-text>
                <v-spacer></v-spacer>
                <img :src="require('@/assets/icons/icon-arrow-black.svg')"/>
              </v-layout>
            </div>
          </div>
        </div>
        <!-- checkbox -->
        <v-layout row justify-center align-start pa-3>
          <div @click="trackChecked()">
            <v-checkbox v-model="checked"></v-checkbox>
          </div>
          <v-card-text class="pa-0 avenir-12-reg">
            <span v-if="showItems">
              Saya telah membaca dan menyetujui semua isi dari <span class="avenir-12-med color-primary-1" @click="dialogList('prospektus')">Prospektus</span> dan <span class="avenir-12-med color-primary-1" @click="dialogList('fakta')"> Lembar Fakta Reksa Dana</span>.
            </span>Saya mengerti risiko keputusan investasi saya dan Halofina tidak bertanggung jawab atas kerugian investasi.</v-card-text>
        </v-layout>
        <!-- Button -->
        <div style="height: 56px"></div>
        <div class="fixed-layout full-width">
          <v-btn depressed block color="warning" @click="transformItineraryData()" :ripple="false" :disabled="!checked || isDisabled === true">Lanjut ke Pembayaran</v-btn>
        </div>
      </v-layout>
    </v-container>
    <!-- cashback Sheet -->
    <v-bottom-sheet v-model="cashback.cashbackSheet" :persistent="true">
      <v-card flat style="border-top-left-radius: 12px; border-top-right-radius: 12px">
        <v-layout column pa-3>
          <v-layout row align-center justify-space-between>
            <v-card-text class="pa-0 avenir-16-med">Punya kode voucher?</v-card-text>
            <v-icon color="black" @click="cashback.cashbackSheet = false; resetCashback()">close</v-icon>
          </v-layout>
          <br />
          <!-- Cashback -->
          <v-layout row justify-end align-center mb-3>
            <v-text-field v-on:focus="scroll = true" v-on:blur="scroll = false" v-model="cashback.cashback" solo flat hide-details class="mr-2" label="Masukkan kode"></v-text-field>
            <v-btn @click="checkCashback()" :disabled="cashback.cashbackButton" color="primary" depressed class="btn-radius box-shadow py-2">Cek</v-btn>
          </v-layout>
          <v-card-text class="pa-0 avenir-12-med color-system-error" v-if="cashback.cashbackValidation">{{ cashback.cashbackValidation }}</v-card-text>
          <!-- Blank box for Scrolling -->
          <div v-if="getOS() !== 'ios'" :class="scroll === true ? 'blank-box' : ''"></div>
        </v-layout>
      </v-card>
    </v-bottom-sheet>
    <!-- Donation sheet -->
    <v-bottom-sheet v-model="donation.donationSheet" :persistent="true">
      <v-card flat class="rounded-top-corners">
        <v-layout column pa-3>
          <v-layout row align-center justify-space-between>
            <v-card-text class="nexa-16-bold pa-0">Pilih Nominal Donasi</v-card-text>
            <v-icon color="black" @click="resetDonation()">close</v-icon>
          </v-layout>
          <v-radio-group v-model="donation.donationAmount" hide-details>
            <div v-for="(data, index) in donation.donationList" :key="index">
              <v-radio
                :value="data"
              >
                <div slot="label" class="avenir-14-med ml-3">
                  Rp {{ numberingNumber(data) }}
                </div>
              </v-radio>
              <v-divider
                class="my-4"
                v-if="index + 1 < donation.donationList.length"
                :key="index">
              </v-divider>
            </div>
          </v-radio-group>
          <v-layout row align-center justify-space-between my-3>
            <v-flex xs8>
              <v-card-text class="avenir-12-reg pa-0">Donasi kamu akan kami salurkan melalui</v-card-text>
            </v-flex>
            <v-flex xs4>
              <v-img :src="require('@/assets/partners/rz.png')"></v-img>
            </v-flex>
          </v-layout>
          <v-btn @click="addDonation()" color="primary" :disabled="donation.donationAmount === 0" depressed class="btn-radius box-shadow py-2" block>Pilih</v-btn>
        </v-layout>
      </v-card>
    </v-bottom-sheet>
    <!-- Dialog Cut Off -->
    <reusable-dialogs
      v-model="dialog.dialogCutOff"
      :image="dialog.dialogImage"
      title="Waktu Cut-off Harga"
      description="Transaksi kamu akan didasarkan pada perhitungan dengan menggunakan harga dari hari yang sama jika transaksi dilakukan sebelum pukul 11.00 WIB (waktu cut-off). Jika transaksi melewati waktu cut- off atau dilakukan pada hari libur, maka transaksi akan didasarkan pada harga hari kerja berikutnya."
    >
      <v-layout slot="layout-button" column align-center justify-center pa-4 style="width: 100%;">
        <v-btn color="primary" class="btn-radius box-shadow py-2" depressed block @click.native="$router.push('/finavest/payment/invoice/1/true/null/null')">Saya Mengerti</v-btn>
      </v-layout>
    </reusable-dialogs>
    <!-- Dialog Prospektus -->
    <reusable-dialogs
      v-model="dialog.dialogProspek"
      :image="dialog.dialogImage"
      :with-button="true"
    >
      <div slot="layout">
        <br />
        <v-card flat class="card-radius">
          <br />
          <!-- Prospektus Title -->
          <v-card-text v-if="dialog.dialogProspekType === 'prospektus'" class="nexa-20-bold text-align-center">Lihat Prospektus</v-card-text>
          <!-- Fund Fact Title -->
          <v-card-text v-else class="nexa-20-bold text-align-center">Lihat Lembar Fakta Reksa Dana</v-card-text>
          <v-list three-line>
            <!-- Prospektus List -->
            <div v-if="dialog.dialogProspekType === 'prospektus'">
              <div v-for="(item, index) in productItems.prospektus" :key="index">
                <div v-if="item.item">
                  <v-list-tile
                    @click="dialogPdf(item.item, item.title)"
                  >
                    <v-list-tile-content class="ml-3">
                        <v-list-tile-sub-title v-html="item.title" class="color-primary-1"></v-list-tile-sub-title>
                    </v-list-tile-content>

                    <v-list-tile-action>
                      <v-btn icon>
                        <v-icon color="primary" style="font-size: 19px">arrow_forward_ios</v-icon>
                      </v-btn>
                    </v-list-tile-action>
                  </v-list-tile>
                </div>
              </div>
            </div>
            <!-- Fund Fact List -->
            <div v-else>
              <div v-for="(item, index) in productItems.fundFact" :key="index">
                <div v-if="item.item">
                  <v-list-tile
                    @click="dialogPdf(item.item, item.title)"
                  >
                    <v-list-tile-content class="ml-3">
                        <v-list-tile-sub-title v-html="item.title" class="color-primary-1"></v-list-tile-sub-title>
                    </v-list-tile-content>

                    <v-list-tile-action>
                      <v-btn icon>
                        <v-icon color="primary" style="font-size: 19px">arrow_forward_ios</v-icon>
                      </v-btn>
                    </v-list-tile-action>
                  </v-list-tile>
                </div>
              </div>
            </div>
          </v-list>
        </v-card>
      </div>
    </reusable-dialogs>
    <!-- Loading Dialog -->
    <reusable-dialogs
      v-model="dialog.dialogLoading"
      :unclickable="true"
    >
      <div slot="layout">
        <v-card flat class="card-radius" style="width: 100%">
          <v-layout py-3 px-4 row align-center justify-center>
            <reusable-loading></reusable-loading>
            <div class="nexa-14-bold px-5">Memproses</div>
          </v-layout>
        </v-card>
      </div>
    </reusable-dialogs>
    <!-- Dialog Error -->
    <reusable-dialogs
      v-model="dialog.dialogError"
      :resize-image="true"
      :is-image-above-title="true"
      :description="dialog.dialogErrorDesc"
    ></reusable-dialogs>
    <!-- Dialog pdf -->
    <reusable-dialogs
      v-model="dialog.dialogPdf"
      :title="dialog.dialogPdfTitle"
      :full-screen="true"
      :hide-overlay="true">
      <div slot="layout">
        <v-card tile>
          <div class="scroll-ios">
            <v-toolbar card>
              <v-toolbar-title>
                {{dialog.dialogPdfTtitle}}
              </v-toolbar-title>
              <v-spacer></v-spacer>
              <v-btn icon @click.native="dialog.dialogPdf = false">
                <v-icon>close</v-icon>
              </v-btn>
            </v-toolbar>
            <iframe :src="dialog.dialogPdfSource" style="border: 0;"/>
          </div>
        </v-card>
      </div>
    </reusable-dialogs>
   </div>
</template>

<script>
import Api from '@/services/Api'

import {
  VCheckbox,
  VImg,
  VDivider,
  VIcon,
  VSpacer,
  VList,
  VListTile,
  VListTileContent,
  VListTileSubTitle,
  VListTileAction,
  VToolbar,
  VToolbarTitle,
  VBottomSheet,
  VRadio,
  VRadioGroup
} from 'vuetify/lib'
import ReusableImageLifeplan from '@/components/reusable/ReusableImageLifeplan'
import { numberingNumber, dateFormat, checkFeatures, getOS, minHeight } from '@/services/Helpers'
/**
 * @group /finavest/investment/buy
 * Konfirmasi Pembelian Page
*/
export default {
  name: 'FinavestInvestmentBuyInvestmentDetail',
  components: {
    VCheckbox,
    VImg,
    VDivider,
    VIcon,
    VSpacer,
    VList,
    VListTile,
    VListTileContent,
    VListTileSubTitle,
    VListTileAction,
    VToolbar,
    VToolbarTitle,
    VBottomSheet,
    VRadio,
    VRadioGroup,
    ReusableImageLifeplan
  },
  data () {
    return {
      checked: false,
      status: null,
      scroll: false,
      showItems: false,
      cashback: {
        cashbackEnabled: true,
        cashbackVersion: 1,
        cashback: '',
        cashbackId: '',
        cashbackButton: false,
        cashbackSheet: false,
        cashbackGeneral: false,
        cashbackValue: null,
        cashbackType: '',
        cashbackTitle: '',
        cashbackDesc: '',
        cashbackEnd: '',
        cashbackUnit: '',
        cashbackMax: 0,
        cashbackTotal: 0,
        cashbackValidation: null,
        cashbackUse: null
      },
      dialog: {
        dialogCashback: false,
        dialogError: false,
        dialogCutOff: false,
        dialogPending: false,
        dialogReject: false,
        dialogProspek: false,
        dialogPdf: false,
        dialogKyc: false,
        dialogLoading: false,
        dialogPdfSource: '',
        dialogPdfTitle: '',
        dialogProspekType: '',
        dialogRemark: '',
        dialogErrorDesc: '',
        dialogImage: require('@/assets/finavest/lifeplan/check.svg')
      },
      donation: {
        donationEnabled: true,
        donationSheet: false,
        donationUse: false,
        donationAmount: 0,
        donationList: [5000, 10000, 20000, 50000, 100000]
      },
      lifeplanType: '',
      lifeplanName: '',
      items: [],
      isDisabled: false,
      productItems: {
        prospektus: [],
        fundFact: []
      }
    }
  },
  computed: {
    /**
     * @vuese
     * sum total payment with voucher
    */
    sumTotal () {
      var total = this.items.map(element => element.item).reduce((prev, next) => prev + next)
      var voucherType = this.cashback.cashbackType
      var voucherUse = this.cashback.cashbackUse
      var voucherValue = this.cashback.cashbackValue
      if (voucherType === 'D' && voucherUse === true) {
        if (total - voucherValue - voucherValue > 0) {
          return total - voucherValue - voucherValue
        } else {
          return 0
        }
      } else {
        return total
      }
    }
  },
  methods: {
    numberingNumber,
    dateFormat,
    checkFeatures,
    getOS,
    minHeight,
    /**
     * @vuese
     * get enabled and version for voucher
    */
    getRoleMappingVoucher () {
      this.cashback.cashbackEnabled = checkFeatures('halofina:voucher').enabled
      this.cashback.cashbackVersion = checkFeatures('halofina:section_voucher').version
    },
    /**
     * @vuese
     * get enabled and version for donation
    */
    getRoleMappingDonation () {
      this.donation.donationEnabled = checkFeatures('halofina:donation').enabled
    },
    /**
     * @vuese
     * get itinerary data, call pushItineraryToList, showDisclaimer, and setLifeplanDetailToUnallocated
    */
    fetchDataInvest () {
      const iteneraryData = JSON.parse(localStorage.getItem('halofina-itenerary-data'))
      let detail = iteneraryData.detail
      this.pushItineraryToList(detail)
      this.showDisclaimer()
      this.setLifeplanDetailToUnallocated(iteneraryData)
    },
    /**
     * @vuese
     * set lifeplan type and lifeplan name to unallocated if lifeplan detail is not exist
     * @arg itineraryData: Object
    */
    setLifeplanDetailToUnallocated (iteneraryData) {
      this.lifeplanType = iteneraryData.lifeplan ? iteneraryData.lifeplan.type : 'Unallocated'
      this.lifeplanName = iteneraryData.lifeplan ? iteneraryData.lifeplan.subtype : 'Unallocated'
    },
    /**
     * @vuese
     * set product data, prospectus, and fund fact data to list
     * @arg detail: Array (represent itineraryData detail key value)
    */
    pushItineraryToList (detail) {
      let layoutItem = {}
      let prospectus = {}
      let fundFact = {}
      for (let i = 0; i < detail.length; i++) {
        if (detail[i].product_name) {
          layoutItem = {
            name: '<b>' + detail[i].product_name + '</b>',
            item: Number(detail[i].amount),
            asset: detail[i].asset_class_name,
            desc: null
          }
          prospectus = {
            title: detail[i].product_name,
            item: detail[i].prospectus
          }
          fundFact = {
            title: detail[i].product_name,
            item: detail[i].fund_fact
          }
          this.items.push(layoutItem)
          if (detail[i].prospectus) {
            this.productItems.prospektus.push(prospectus)
            this.productItems.fundFact.push(fundFact)
          }
        }
      }
    },
    /**
     * @vuese
     * show prospectus, and fund fact data if product is mutual fund
    */
    showDisclaimer () {
      let fundFacts = this.productItems.fundFact
      if (fundFacts.length > 0) {
        for (let i = 0; i < fundFacts.length; i++) {
          if (fundFacts[i].item) {
            this.showItems = true
          }
        }
      }
    },
    /**
     * @vuese
     * add cashback and payment details for checkout, and call validateVoucher
    */
    transformItineraryData () {
      const itineraryData = JSON.parse(localStorage.getItem('halofina-itenerary-data'))
      let detail = itineraryData.detail
      let amount = this.sumTotal - this.donation.donationAmount
      detail.forEach((element) => {
        if (this.cashback.cashback !== '') {
          element.discount_type = this.cashback.cashbackUnit
          element.voucher_id = this.cashback.cashbackId
          element.general = this.cashback.cashbackGeneral
          if (this.cashback.cashbackType === 'C') {
            element.cashback = this.cashback.cashbackValue
          } else {
            element.discount = this.cashback.cashbackValue
          }
        }
      })
      let payment = {
        methodid: '',
        bankcode: '',
        bankname: '',
        accountnumber: '',
        accountname: '',
        amount: amount,
        cashback: 0,
        discount: 0,
        donation: this.donation.donationAmount
      }
      // if (this.cashback.cashbackType === 'Cashback') {
      //   payment.cashback = this.cashback.cashbackTotal
      // } else {
      //   payment.discount = this.cashback.cashbackValue
      // }
      itineraryData.payment = payment
      this.validateVoucher(itineraryData)
    },
    /**
     * @vuese
     * validate voucher per product
     * @arg itineraryData: Object
    */
    validateVoucher (itineraryData) {
      this.isDisabled = true
      this.dialog.dialogLoading = true
      Api('finavest/investment/voucher/validate', {
        detail: itineraryData.detail
      })
        .then((res) => {
          if (res.d.match === true) {
            this.trackConfirm()
            itineraryData.detail = res.d.detail
            localStorage.setItem('halofina-itenerary-data', JSON.stringify(itineraryData))
            this.isDisabled = false
            this.dialog.dialogLoading = false
            this.dialog.dialogCutOff = true
          } else {
            this.isDisabled = false
            this.dialog.dialogLoading = false
            this.dialogError('', res.d.remark)
          }
        })
        .catch(() => {
          this.isDisabled = false
          this.dialog.dialogLoading = false
          this.dialogError('', 'Coba reload atau coba beberapa saat lagi')
        })
    },
    /**
     * @vuese
     * open error dialog
     * @arg title: String, desc: String
    */
    dialogError (title, desc) {
      this.dialog.dialogError = true
      this.dialog.dialogErrorDesc = desc
    },
    /**
     * @vuese
     * open prospectus or fund fact dialog
     * @arg type: String (represents fund fact or prospectus)
    */
    dialogList (type) {
      this.dialog.dialogProspek = true
      this.dialog.dialogProspekType = type
    },
    /**
     * @vuese
     * open pdf viewer dialog
     * @arg source: String (represents gdrive url preview), title: String
    */
    dialogPdf (source, title) {
      this.dialog.dialogProspek = false
      this.dialog.dialogPdf = true
      this.dialog.dialogPdfSource = source
      this.dialog.dialogPdfTitle = title
    },
    /**
     * @vuese
     * close pdf viewer dialog
    */
    closeDialogPdf () {
      this.dialog.dialogPdf = false
      this.dialog.dialogPdfSource = ''
    },
    /**
     * @vuese
     * close pdf viewer and prospectus dialog
    */
    closeAllDialog () {
      this.dialog.dialogPdf = false
      this.dialog.dialogProspek = false
    },
    /**
     * @vuese
     * send checked agreement event to Mixpanel
    */
    trackChecked () {
      this.$analytics.track('Investment Buy Read and Agreed')
    },
    /**
     * @vuese
     * send confirmed trx to Mixpanel
    */
    trackConfirm () {
      this.$analytics.track('Investment Confirmed')
    },
    /**
     * @vuese
     * remove voucher, call removeItem with param <b>Diskon</b>
    */
    resetCashback () {
      var itineraryData = JSON.parse(localStorage.getItem('halofina-itenerary-data'))
      itineraryData.detail.forEach((element) => {
        element.discount_type = ''
        element.voucher_id = ''
        element.general = false
        element.cashback = 0
        element.discount = 0
        element.voucher_category = ''
        element.voucher_type = ''
      })
      this.cashback.cashback = ''
      this.cashback.cashbackTitle = ''
      this.cashback.cashbackDesc = ''
      this.cashback.cashbackType = ''
      this.cashback.cashbackValue = null
      this.cashback.cashbackValidation = null
      this.cashback.cashbackUse = null
      this.cashback.cashbackMax = 0
      this.cashback.cashbackId = ''
      this.cashback.cashbackUnit = ''
      this.cashback.cashbackGeneral = false
      localStorage.setItem('halofina-itenerary-data', JSON.stringify(itineraryData))
      localStorage.removeItem('halofina-cashback')
      this.removeItem('<b>Diskon</b>')
    },
    /**
     * @vuese
     * open pdf viewer dialog
     * @arg key: String (represents want to be removed key from detail list)
    */
    removeItem (key) {
      var apps = this.items
      var removeIndex = apps.map(function (item) { return item.name }).indexOf(key)
      if (removeIndex > 0) apps.splice(removeIndex, 1)
    },
    /**
     * @vuese
     * get voucher from local storage
    */
    getCashbackFromStorage () {
      var cashback = JSON.parse(localStorage.getItem('halofina-cashback'))
      if (cashback) {
        this.cashback.cashbackUse = cashback.cashbackUse
        this.cashback.cashbackMax = cashback.cashbackMax
        this.cashback.cashback = cashback.cashbackCode
        this.cashback.cashbackType = cashback.cashbackType
        this.cashback.cashbackValue = cashback.cashbackValue
        this.cashback.cashbackTotal = cashback.cashbackTotal
        this.cashback.cashbackId = cashback.cashbackId
        this.cashback.cashbackUnit = cashback.cashbackUnit
        this.cashback.cashbackGeneral = cashback.cashbackGeneral
        if (cashback.cashbackType === 'D') {
          this.items.push({
            name: '<b>Diskon</b>',
            item: this.cashback.cashbackValue
          })
        }
      }
    },
    /**
     * @vuese
     * add donation and open donation sheet
    */
    addDonation () {
      this.donation.donationUse = true
      this.donation.donationSheet = false
      this.items.push({
        name: '<b>Donasi</b>',
        item: this.donation.donationAmount
      })
    },
    /**
     * @vuese
     * remove donation and call removeItem with param <b>Donasi</b>
    */
    resetDonation () {
      this.donation.donationUse = false
      this.donation.donationSheet = false
      this.donation.donationAmount = 0
      this.removeItem('<b>Donasi</b>')
    }
  },
  created () {
    this.fetchDataInvest()
    this.getCashbackFromStorage()
    this.getRoleMappingVoucher()
    this.getRoleMappingDonation()
  }
}
</script>

<style lang="sass">
  .finavest-investment-buy-investment-detail
    .border-left-blue
      border-left: 4px solid #51AAF4 !important

    .v-btn
      height: 56px !important

    .cashback
      border: 1px solid #E8EAEF
      position: relative

    .cashback-close
      position: absolute
      right: 5%
      top: 12%

    .v-divider
      border-width: thick 0 0 0

    .image-lifeplan
      img
        width: 48px !important
        height: auto !important
        border: 1px solid #E9ECF0

    .v-input--checkbox
      margin-top: -10px

    .con-assets
      .flex:nth-last-child(1)
        border-bottom: 0 !important

  .v-input__control
    width: 100% !important
</style>
