<template>
  <div v-if="isLoaded === true" class="fcu-all-result bg-primary-3" :style="'min-height: ' + screenHeight + 'px;'">
    <reusable-toolbar page-name="Rekap Kesehatan Finansial" :left="true"/>

    <v-layout row wrap class="px-20 toolbar-margin">
      <v-card-text class="avenir-16-med color-text-1 pb-1 mt-4">
        Kekayaan Bersih
      </v-card-text>
      <v-card-text class="avenir-14-reg pb-4">
        Rasio Kesehatan Finansial adalah beberapa indikator yang dapat menjadi parameter bagi kita dalam menilai seberapa baik kita dalam mengelola keuangan.
      </v-card-text>

    </v-layout>


    <v-layout column class="pb-4">
      <v-expansion-panel v-for="(data, index) in dataList" :key="index">
        <v-expansion-panel-content>
          <template v-slot:header>
            <v-layout row wrap align-center>
              <img v-if="data.type === '1'" src="@/assets/finacheck/fcu/ideal.svg" class="pr-3" alt="chicken not idel">
              <img v-else src="@/assets/finacheck/fcu/not-ideal.svg" class="pr-3" alt="chicken not idel">
              <v-layout column>
                <v-card-text class="avenir-16-med pb-1">{{data.title}}</v-card-text>
                <v-card-text v-if="data.type === '1'" class="avenir-14-reg">Ideal</v-card-text>
                <v-card-text v-else class="avenir-14-reg">Tidak Ideal</v-card-text>
              </v-layout>
            </v-layout>
          </template>
          <v-card>
            <v-layout column>
              <v-card-text class="avenir-14-reg pb-3">
                {{data.desc}}
              </v-card-text>
              <v-card-text class="avenir-14-med color-text-1">
                Nilai {{data.title}} kamu : {{data.ratio}} <span> {{data.title === 'Rasio Liquiditas' ? 'Kali' : '%'}}</span>
              </v-card-text>
            </v-layout>
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-layout>

    <!-- <v-layout column justify-center pb-4>
      <v-card-text class="avenir-14-reg text-xs-center color-text-3 pb-2">
        Powered by
      </v-card-text>

      <img src="@/assets/finacheck/fcu/logo-halofina.svg" alt="logo halofina">
    </v-layout> -->


    <v-layout row justify-center class="wrap-button pb-3 btn-ulang px-20">
      <v-flex>
        <v-btn depressed class="nexa-16-bold color-brand-1" flat block @click="goList()">Ulangi Pertanyaan</v-btn>
      </v-flex>
    </v-layout>

    <v-layout row justify-center class="wrap-button px-20">
      <v-flex>
        <v-btn depressed class="nexa-16-bold" color="primary" block @click="finish()">Selesai</v-btn>
      </v-flex>
    </v-layout>

    <reusable-dialogs
        v-model="dialogLoading"
        :resize-image="true"
        :unclickable="true"
    >
        <div slot="layout">
          <v-card flat class="card-radius" style="width: 100%">
            <v-layout pa-3 row align-center justify-center>
              <reusable-loading></reusable-loading>
            </v-layout>
          </v-card>
        </div>
    </reusable-dialogs>
  </div>
  <div v-else>
    <v-layout column justify-center align-center class="full-height">
      <reusable-loading></reusable-loading>
    </v-layout>
  </div>

</template>
<script>
import { VDivider, VExpansionPanel, VExpansionPanelContent } from 'vuetify/lib'
// import api
import Api from '@/services/Api'
import { roundUp, goToDashboard } from '@/services/Helpers'
import ReusableLoading from '@/components/reusable/ReusableLoading'

export default {
  components: {
    VDivider,
    VExpansionPanel,
    VExpansionPanelContent,
    ReusableLoading
  },
  data: () => ({
    screenHeight: screen.height - 48,
    income: 0,
    datas: null,
    dialogLoading: false,
    dataList: [],
    isLoaded: false
  }),
  methods: {
    roundUp,
    goList () {
      localStorage.removeItem('halofina-fcu-uuid')
      this.$router.push('/fcu/list')
    },
    finish () {
      goToDashboard('lifeplan', 'assign')
    },
    getListCheck () {
      let uuidData = localStorage.getItem('halofina-fcu-uuid')
      Api('finavest/v1/financial/checkup/session/get', {
        uuid: uuidData
      }, true)
        .then((res) => {
          this.isLoaded = true
          let datas = [
            {
              title: 'Rasio Liquiditas',
              type: res.d.detail[4].is_ideal,
              desc: 'Menghitung kebutuhan aset likuid yang sebaiknya dimiliki. Idealnya 3-12 kali',
              ratio: roundUp(res.d.detail[4].result, 1)
            },
            {
              title: 'Rasio Solvabilitas',
              type: res.d.detail[11].is_ideal,
              desc: 'Untuk mengetahui tingkat kemungkinan kebangkrutan. Idealnya minimum 50%',
              ratio: roundUp((res.d.detail[11].result * 100), 1)
            },
            {
              title: 'Rasio Kemampuan Berutang',
              type: res.d.detail[9].is_ideal,
              desc: 'Disebut juga debt service ratio, untuk mengetahui tingkat kemampuan membayar cicilan hutang. Idealnya maksimum 35%',
              ratio: roundUp((res.d.detail[9].result * 100), 1)
            },
            {
              title: 'Rasio Utang atas Aset',
              type: res.d.detail[8].is_ideal,
              desc: 'Disebut juga debt to asset ratio, untuk menentukan % beban keuangan yang digunakan. Idealnya maksimal 50%',
              ratio: roundUp((res.d.detail[8].result * 100), 1)
            },
            {
              title: 'Tabungan',
              type: res.d.detail[5].is_ideal,
              desc: 'Untuk mengetahui tingkat kapasitas dalam menabung atas pendapatan. Idealnya minimal 10%',
              ratio: roundUp((res.d.detail[5].result * 100), 1)
            },
            {
              title: 'Rasio Aset atas kekayaan',
              type: res.d.detail[10].is_ideal,
              desc: 'Untuk mengetahui kekayaan bersih yang harus diinvestasikan. Idealnya minimal 50%',
              ratio: roundUp((res.d.detail[10].result * 100), 1)
            }
          ]
          this.dataList = datas
        }).catch(() => {})
    }
  },
  created () {
    this.getListCheck()
  }
}
</script>
<style lang="sass">
  .fcu-all-result
    *
      padding: 0
      margin: 0

    .avenir-14-reg
      color: #2F395B !important

    .color-bersih
      color: #10CF99

    .v-divider
      border-width: 4px

    .border-dashed-paten
      height: 1px
      background-image: linear-gradient(90deg, #E8EAEF, #E8EAEF 60%, transparent 60%, transparent 100%)
      background-size: 15px 1px
      border: none
      background-repeat: repeat !important

    .input
      font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif
      font-size: 16px
      width: 100%
      padding: 8px 16px
      border: 1px solid #E8EAEF
      border-radius: 4px
      outline: none
      color: #2F395B !important

    .disclaimer
      font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif
      font-size: 14px
      line-height: 18px
      color: #6E7692

    .wrap-button
      width: 100%
      padding-bottom: 24px

      .v-btn
        height: 48px

    .btn-ulang
      .v-btn
        border: 1px solid #E8EAEF

    .wrap-bersih
      position: relative

      .line
        position: absolute
        left: 0
        width: 4px
        height: 100%
        border-radius: 4px
        background-color: #10CF99

    .wrap-hutang
      position: relative

      .line
        position: absolute
        left: 0
        width: 4px
        height: 100%
        border-radius: 4px
        background-color: #E52A34

    .v-expansion-panel
      box-shadow: none
      border: 1px solid #E8EAEF
      padding: 0
      overflow: hidden

    .v-expansion-panel__header
      padding: 16px

    .v-expansion-panel__body
      border-top: 1px solid #E8EAEF
      padding: 24px 16px 16px 16px

  @media only screen and (max-width: 320px)
    .finacheck-kyc-spending
      .disclaimer
        font-size: 12px !important

</style>
