<template>
  <div class="fcu-arus bg-primary-3" :style="'min-height: ' + screenHeight + 'px;'">
    <reusable-toolbar page-name="Data Arus Kas" :left="true" />
    <v-layout column justify-center align-center class="px-20 pt-5 toolbar-margin">
      <v-card-text class="avenir-16-reg color-text-1 pb-2 mt-4">
        Berapa pendapatan bulanan kamu?
      </v-card-text>

      <input
      type="tel"
      id="input-custom"
      v-model="income"
      v-money="money"
      maxlength="15"
      class="input avenir-22-reg color-text-4" />

      <v-card-text class="pa-0 pt-2 color-text-3 disclaimer">
        Penghasilan pribadi bersifat tetap seperti gaji, maupun tidak tetap seperti pendapatan sewa dll.
      </v-card-text>

    </v-layout>
    <v-layout row justify-center class="wrap-button px-20">
      <v-flex>
        <v-btn depressed class="nexa-16-bold" :disabled="incomeValidate <= 0" color="primary" block @click="next()">Lanjut</v-btn>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
import { VMoney } from 'v-money'
import { replaceDot } from '@/services/Helpers'

export default {
  directives: { money: VMoney },
  data: () => ({
    screenHeight: screen.height,
    income: 0,
    incomeValidate: 0,
    money: {
      thousands: '.',
      precision: 0,
      prefix: 'Rp ',
      masked: true
    }
  }),
  methods: {
    replaceDot,
    next () {
      localStorage.setItem('halofina-fcu-arus', this.income)
      this.$router.push('/fcu/arus/form')
    }
  },
  watch: {
    income: function (value) {
      this.incomeValidate = Number(replaceDot(value).substring(3))
    }
  }
}
</script>
<style lang="sass">
  .fcu-arus
    *
      padding: 0
      margin: 0

    .v-toolbar
      position: relative

    .input
      width: 100%
      padding: 5px 0
      font-size: 22px
      border-bottom: 1px solid #E8EAEF
      outline: none
      color: #000 !important

    .disclaimer
      font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif
      font-size: 14px
      line-height: 18px
      color: #505565

    .wrap-button
      position: fixed
      bottom: 24px
      width: 100%

      .v-btn
        height: 48px

  @media only screen and (max-width: 320px)
    .finacheck-kyc-spending
      .disclaimer
        font-size: 12px !important

</style>
