<template>
  <div class="fcu-neraca-result bg-primary-3" :style="'min-height: ' + screenHeight + 'px;'">
    <reusable-toolbar page-name="Analisa Arus Kas" :left="true">
      <div slot="button-toolbar">
        <div style="width: 20px; height:1px;">

        </div>
      </div>
    </reusable-toolbar>
    <div class="full-width" style="height: 48px"></div>
    <v-layout row class="px-20 mt-4 pb-4">
      <div class="pr-3">
        <img src="@/assets/finacheck/fcu/arus-kas.svg" width="64px" alt="arus">
      </div>

      <v-layout column>
        <v-card-text class="avenir-16-med color-text-1 pb-1">
          Arus Kas
        </v-card-text>
        <v-card-text class="avenir-14-reg">
          Jumlah bersih kas yang keluar dan masuk
        </v-card-text>
      </v-layout>
    </v-layout>

    <v-divider></v-divider>

    <v-layout column pt-3 class="px-20">
      <v-card-text class="avenir-16-med color-text-1">
        Selamat!
      </v-card-text>
      <v-card-text class="avenir-14-reg color-text-3 pb-3 mb-3" v-if="Number(dataArus.income[0].amount * 12) - totalExpense < 0">
        Arus kas kamu belum ideal
      </v-card-text>
      <v-card-text class="avenir-14-reg color-text-3 pb-3 mb-3" v-else>
        Arus kas kamu sudah ideal
      </v-card-text>

      <v-layout row wrap class="wrap-card-aruskas notideal px-3 mb-3" v-if="(Number(dataArus.income[0].amount * 12) - totalExpense) < 0">
        <img src="@/assets/finacheck/fcu/not-ideal.svg" width="64px" height="64px" class="pr-3" alt="chicken not idel">
        <v-layout column>
          <v-card-text class="avenir-12-reg color-text-4 pb-1">
            Arus Kas
          </v-card-text>
          <v-card-text class="nexa-18-bold color-denotive-red-1">
            Rp {{numberingNumber(Number(dataArus.income[0].amount * 12) - totalExpense)}}
          </v-card-text>
          <v-card-text class="avenir-12-reg color-text-3">
            Tidak Ideal
          </v-card-text>
        </v-layout>
      </v-layout>
      <v-layout row wrap class="wrap-card-aruskas ideal px-3 mb-3" v-else>
        <img src="@/assets/finacheck/fcu/ideal.svg" width="64px" height="64px" class="pr-3" alt="chicken idel">
        <v-layout column>
          <v-card-text class="avenir-12-reg color-text-4 pb-1">
            Arus Kas
          </v-card-text>
          <v-card-text class="nexa-18-bold color-denotive-blue-1">
            Rp {{numberingNumber(Number(dataArus.income[0].amount * 12) - totalExpense)}}
          </v-card-text>
          <v-card-text class="avenir-12-reg color-text-3">
            Ideal
          </v-card-text>
        </v-layout>
      </v-layout>
      <!-- Grafik -->
      <!-- <div class="high-chart">
        <vue-high-chart class="my-0 pa-0 center-horizontal" classname="highcharts" style="height: 220px" :options="piePortfolioOptions.pieWithAsset" ref="pieChartWithAsset"></vue-high-chart>
      </div> -->

      <!-- <div class="nexa-32-bold text-xs-center" :style="((this.dataArus.cashflow.expense_monthly / this.dataArus.cashflow.income_monthly) * 100) > 80 ? 'color: #E93E3E !important; z-index: 99; margin-top: -108px; padding-bottom: 100px;' : 'color: #3E8FE5 !important; z-index: 99; margin-top: -108px; padding-bottom: 100px;'">
        {{ roundUp((dataArus.cashflow.expense_monthly / dataArus.cashflow.income_monthly) * 100, 1) }}%
        <p v-if="((dataArus.cashflow.expense_monthly / dataArus.cashflow.income_monthly) * 100) > 80" class="avenir-12-med color-text-3">Tidak Ideal</p>
        <p v-else class="avenir-12-med color-text-3">Ideal</p>
      </div> -->
<!--
      <div class="nexa-32-bold text-xs-center" style="z-index: 99; margin-top: -65px; padding-bottom: 40px;">
        <v-card-text class="avenir-12-reg color-text-3">
          Pengeluaran
        </v-card-text>

        <v-card-text class="avenir-14-med">
          Rp {{numberingNumber(dataArus.cashflow.expense_monthly * 12)}}
        </v-card-text>
      </div> -->

      <v-layout row pb-4>
        <v-flex xs6>
          <div class="wrap-bersih">
            <v-card-text class="avenir-12-reg color-text-3 pb-1">
              Total Pendapatan
            </v-card-text>
            <v-card-text class="avenir-12-med color-text-1">
              Rp {{numberingNumber(Number(dataArus.income[0].amount) * 12)}}
              <!-- Rp {{numberingNumber(dataArus.cashflow.income_monthly * 12)}} -->
            </v-card-text>
            <!-- <div class="line"></div> -->
          </div>
        </v-flex>
        <v-flex xs6>
          <div class="wrap-hutang">
            <v-card-text class="avenir-12-reg color-text-3 pb-1">
              Total Pengeluaran
            </v-card-text>
            <v-card-text class="avenir-12-med color-text-1">
              Rp {{numberingNumber(totalExpense)}}
              <!-- Rp {{numberingNumber((dataArus.cashflow.income_monthly - dataArus.cashflow.expense_monthly) * 12)}} -->
            </v-card-text>
          </div>
        </v-flex>
      </v-layout>
    </v-layout>

    <v-divider></v-divider>

    <v-layout column class="px-20 pt-3 pb-4">
      <v-card-text class="avenir-16-med color-text-1 pb-3">
        Analisis Arus Kas
      </v-card-text>
      <v-card-text v-if="roundUp((((Number(dataArus.income[0].amount) * 12) - (totalExpense)) / (Number(dataArus.income[0].amount) * 12)) * 100, 1) >= 10" class="avenir-14-reg">
      <!-- <v-card-text v-if="roundUp(((() * 100, 1) >= 10" class="avenir-14-reg"> -->
        Dengan analisis arus kas diketahui bahwa rasio tabungan kamu adalah {{roundUp((((Number(dataArus.income[0].amount) * 12) - (totalExpense)) / (Number(dataArus.income[0].amount) * 12)) * 100, 1)}}% (Ideal). Tingkatkan terus pengelolaan keuangan kamu agar rasio tabunganmu meningkat.
      </v-card-text>
      <v-card-text v-else class="avenir-14-reg">
        Dengan analisis arus kas diketahui bahwa rasio tabungan kamu adalah {{roundUp((((Number(dataArus.income[0].amount) * 12) - (totalExpense)) / (Number(dataArus.income[0].amount) * 12)) * 100, 1)}}%  (Tidak Ideal). Tingkatkan terus pengelolaan keuangan Anda agar mencapai rasio minimal menabung 10%.
      </v-card-text>
    </v-layout>

    <v-layout column class="pb-4 mb-20 px-20">
      <v-expansion-panel>
        <v-expansion-panel-content>
          <template v-slot:header>
            <div class="avenir-16-med py-20">Lihat Rincian</div>
          </template>
          <v-card>

            <v-layout row pb-4 v-for="data in dataArus.percentage.income">
              <v-flex xs5 class="mr-2">
                <v-card-text class="avenir-12-reg">
                  {{data.name}}
                </v-card-text>
              </v-flex>
              <v-flex xs2>
                <v-card-text class="avenir-12-reg text-xs-center">
                  {{Math.round(data.percentage * 100)}}%
                </v-card-text>
              </v-flex>
              <v-flex xs5>
                <v-card-text class="avenir-12-reg text-xs-right">
                  Rp {{numberingNumber(Number(dataArus.income[0].amount) * 12)}}
                  <!-- Rp {{numberingNumber(data.amount * 12)}} -->
                </v-card-text>
              </v-flex>
            </v-layout>

            <v-layout row pb-4>
              <v-flex xs6>
                <v-card-text class="font-weight-bold avenir-12-reg">
                  Total Pendapatan
                </v-card-text>
              </v-flex>
              <v-flex xs6>
                <v-card-text class="font-weight-bold avenir-12-reg text-xs-right">
                  Rp {{numberingNumber(Number(dataArus.income[0].amount) * 12)}}
                </v-card-text>
              </v-flex>
            </v-layout>

            <hr class="border-dashed-paten mb-4" />

            <v-layout row pb-4 v-for="data in dataArus.percentage.expense">
              <v-flex xs5 class="mr-2">
                <v-card-text class="avenir-12-reg">
                  {{data.name}}
                </v-card-text>
              </v-flex>
              <v-flex xs2>
                <v-card-text class="avenir-12-reg text-xs-center">
                  {{Math.round(data.percentage * 100)}}%
                </v-card-text>
              </v-flex>
              <v-flex xs5>
                <v-card-text class="avenir-12-reg text-xs-right">
                  Rp {{data.period === 'Y' ? numberingNumber(data.amount) : numberingNumber(data.amount * 12)}}
                </v-card-text>
              </v-flex>
            </v-layout>

            <v-layout row pb-4>
              <v-flex xs6>
                <v-card-text class="font-weight-bold avenir-12-reg">
                  Total Pengeluaran
                </v-card-text>
              </v-flex>
              <v-flex xs6>
                <v-card-text class="font-weight-bold avenir-12-reg text-xs-right">
                  Rp {{numberingNumber(totalExpense)}}
                </v-card-text>
              </v-flex>
            </v-layout>

            <hr class="border-dashed-paten mb-4" />

            <v-layout row pb-2>
              <v-flex xs6>
                <v-card-text class="font-weight-bold avenir-12-reg">
                  Total Arus Kas Bersih
                </v-card-text>
              </v-flex>
              <v-flex xs6>
                <v-card-text v-if="(Number(dataArus.income[0].amount) * 12) - (totalExpense) < 0" class="font-weight-bold color-denotive-red-1 avenir-12-reg text-xs-right">
                  -Rp {{numberingNumber(((Number(dataArus.income[0].amount) * 12) - (totalExpense)) * -1 )}}
                </v-card-text>
                <v-card-text v-else class="font-weight-bold avenir-12-reg text-xs-right">
                  Rp {{numberingNumber((Number(dataArus.income[0].amount) * 12) - (totalExpense))}}
                </v-card-text>
              </v-flex>
            </v-layout>

          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-layout>



    <v-layout row justify-center class="wrap-button px-20">
      <v-flex>
        <v-btn depressed class="nexa-16-bold" color="primary" block @click="next()">Simpan</v-btn>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>

import { numberingNumber, roundUp } from '@/services/Helpers'
import { VDivider, VExpansionPanel, VExpansionPanelContent } from 'vuetify/lib'
// import highchart
import VueHighChart from 'vue2-highcharts'
import Api from '@/services/Api'

export default {
  components: {
    VDivider,
    VExpansionPanel,
    VExpansionPanelContent,
    VueHighChart
  },
  data: () => ({
    screenHeight: screen.height - 48,
    income: 0,
    totalExpense: 0,
    dataArus: null
    // piePortfolioOptions: {
    //   pieWithAsset: {
    //     chart: {
    //       type: 'pie'
    //     },
    //     credits: {
    //       enabled: false
    //     },
    //     title: false,
    //     tooltip: false,
    //     plotOptions: {
    //       series: {
    //         dataLabels: {
    //           enabled: true,
    //           format: '',
    //           distance: -20,
    //           fontSize: 10,
    //           style: {
    //             color: 'white',
    //             fontWeight: 'normal',
    //             textShadow: false,
    //             textOutline: false,
    //             fontSize: 10
    //           }
    //         }
    //       },
    //       pie: {
    //         dataLabels: {
    //           enabled: true,
    //           distance: -60,
    //           style: {
    //             fontWeight: 'bold',
    //             color: 'white'
    //           }
    //         },
    //         startAngle: -120,
    //         endAngle: 120,
    //         center: ['50%', '75%'],
    //         size: '140%'
    //       }
    //     },
    //     yAxis: {
    //       title: false
    //     }
    //   }
    // }
  }),
  methods: {
    roundUp,
    numberingNumber,
    getDataResult () {
      let uuidData = localStorage.getItem('halofina-fcu-uuid')
      Api('finavest/v1/financial/checkup/session/get', {
        uuid: uuidData
      }, true)
        .then((res) => {
          this.dataArus = res.d
          this.getTotalExpense(res.d.expense)
          this.dialogLoading = false
        })
        .catch(() => {
          this.dialogLoading = false
        })
    },
    next () {
      this.$router.push('/fcu/list')
    },
    getTotalExpense (value) {
      let totalExpenseY = 0
      let totalExpenseM = 0
      for (let i = 0; i < value.length; i++) {
        if (value[i].period === 'Y') {
          totalExpenseY += Number(value[i].amount)
          console.log('Y', value[i].amount)
        } else {
          totalExpenseM += Number(value[i].amount * 12)
          console.log('M', Number(value[i].amount) * 12)
        }
      }
      this.totalExpense = totalExpenseY + totalExpenseM
    },
    setDataForChart (item) {
      // Loop for asset overall amount
      setTimeout(() => {
        this.loadChart()
      }, 1000)
    },
    // push data to charts
    loadChart () {
      let series = []
      let pengeluaran = (this.dataArus.cashflow.expense_monthly / this.dataArus.cashflow.income_monthly) * 100
      let pemasukan = 100 - ((this.dataArus.cashflow.expense_monthly / this.dataArus.cashflow.income_monthly) * 100)
      console.log(pengeluaran)
      console.log(pemasukan)
      series.push({
        y: (this.dataArus.cashflow.expense_monthly / this.dataArus.cashflow.income_monthly) * 100,
        name: 'Pengeluaran'
      })

      series.push({
        y: 100 - ((this.dataArus.cashflow.expense_monthly / this.dataArus.cashflow.income_monthly) * 100),
        name: 'Pemasukan'
      })

      this.$refs.pieChartWithAsset.addSeries({
        data: series,
        name: 'Persentase',
        colors: ((this.dataArus.cashflow.expense_monthly / this.dataArus.cashflow.income_monthly) * 100) > 80 ? ['#E93E3E', '#DDE1F1'] : ['#3E8FE5', '#DDE1F1'],
        innerSize: '50%',
        colorByPoint: true
      })
    }
  },
  created () {
    this.getDataResult()
  }
  // computed: {
  //   totalExpense: function () {
  //     return this.dataArus.expense.map(data => Number(data.amount)).reduce((prev, next) => prev + next)
  //   }
  // }
}
</script>
<style lang="sass">
  .fcu-neraca-result
    *
      padding: 0
      margin: 0

    .wrap-card-aruskas
      border-radius: 8px
      padding: 12px 0

      &.ideal
        border: 2px solid #388BF2

      &.notideal
        border: 2px solid #E52A34

    .color-bersih
      color: #10CF99

    .v-divider
      border-width: 4px

    .border-dashed-paten
      height: 1px
      background-image: linear-gradient(90deg, #E8EAEF, #E8EAEF 60%, transparent 60%, transparent 100%)
      background-size: 15px 1px
      border: none
      background-repeat: repeat !important

    .input
      font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif
      font-size: 16px
      width: 100%
      padding: 8px 16px
      border: 1px solid #E8EAEF
      border-radius: 4px
      outline: none
      color: #2F395B !important

    .disclaimer
      font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif
      font-size: 14px
      line-height: 18px
      color: #6E7692

    .wrap-button
      width: 100%
      padding-bottom: 24px

      .v-btn
        height: 48px

    .wrap-bersih
      position: relative

      .line
        position: absolute
        top: 0
        right: 0
        width: 1px
        height: 100%
        background-color: #E8EAEF

    .v-expansion-panel
      box-shadow: none
      border: 1px solid #E8EAEF
      border-radius: 8px
      padding: 0
      overflow: hidden

    .v-expansion-panel__header
      padding: 0 16px

    .v-expansion-panel__body
      border-top: 1px solid #E8EAEF
      padding: 16px

  @media only screen and (max-width: 320px)
    .finacheck-kyc-spending
      .disclaimer
        font-size: 12px !important

</style>
