<template>
  <div class="fcu-neraca-form bg-primary-3" :style="'min-height: ' + screenHeight + 'px;'">
    <reusable-toolbar page-name="Data Neraca Keuangan" :left="true" />
    <v-layout column justify-center align-center class="px-20 toolbar-margin">
      <v-card-text class="avenir-16-med color-text-1 pb-4 mt-3">
        Aset Pribadi
      </v-card-text>


      <!-- Pajak -->
      <div class="pb-4 full-width">
        <v-card-text class="avenir-14-reg pb-1">
          Rumah dan Properti
        </v-card-text>

        <input
        type="tel"
        v-model="aset.rumah"
        v-money="money"
        maxlength="15"
        class="input" />

        <v-card-text class="pa-0 pt-1 color-text-3 disclaimer">
          Rumah, apartemen, tanah dll
        </v-card-text>
      </div>

      <!-- Cicilan Hutang -->
      <div class="pb-4 full-width">
        <v-card-text class="avenir-14-reg pb-1">
          Kendaraan
        </v-card-text>

        <input
        type="tel"
        v-model="aset.kendaraan"
        v-money="money"
        maxlength="15"
        class="input" />

        <v-card-text class="pa-0 pt-1 color-text-3 disclaimer">
          Mobil, motor, dll
        </v-card-text>
      </div>

      <!-- Cicilan Hutang -->
      <div class="pb-4 full-width">
        <v-card-text class="avenir-14-reg pb-1">
          Uang Tabungan/Deposito
        </v-card-text>

        <input
        type="tel"
        v-model="aset.tabungan"
        v-money="money"
        maxlength="15"
        class="input" />
      </div>

      <!-- Cicilan Hutang -->
      <div class="pb-4 full-width">
        <v-card-text class="avenir-14-reg pb-1">
           Reksa Dana, Saham, dan Unit Link
        </v-card-text>

        <input
        type="tel"
        v-model="aset.reksadana"
        v-money="money"
        maxlength="15"
        class="input" />
        <v-card-text class="pa-0 pt-1 color-text-3 disclaimer">
          Aset keuangan termasuk paper asset yang lain seperti obligasi dan sukuk
        </v-card-text>
      </div>

      <!-- Belanja Lainnya -->
      <div class="pb-4 full-width">
        <v-card-text class="avenir-14-reg pb-1">
           Aset Lainnya
        </v-card-text>

        <input
        type="tel"
        v-model="aset.asetlainnya"
        v-money="money"
        maxlength="15"
        class="input" />

        <v-card-text class="pa-0 pt-1 color-text-3 disclaimer">
          Aset lain yang bernilai namun bersifat tidak likuid
        </v-card-text>
      </div>



    </v-layout>
    <v-layout row justify-center class="wrap-button px-20">
      <v-flex>
        <v-btn depressed class="nexa-16-bold" color="primary" block @click="next()">Lanjut</v-btn>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
import { VMoney } from 'v-money'

export default {
  directives: { money: VMoney },
  data: () => ({
    screenHeight: screen.height - 48,
    aset: {
      rumah: 0,
      kendaraan: 0,
      tabungan: 0,
      reksadana: 0,
      asetlainnya: 0
    },
    money: {
      thousands: '.',
      precision: 0,
      prefix: 'Rp ',
      masked: true
    }
  }),
  methods: {
    getDataForm () {
      let datas = JSON.parse(localStorage.getItem('halofina-fcu-neraca'))
      this.aset.rumah = datas[0].rumah
      this.aset.kendaraan = datas[1].kendaraan
      this.aset.tabungan = datas[2].tabungan
      this.aset.reksadana = datas[3].reksadana
      this.aset.asetlainnya = datas[4].asetlainnya
    },
    next () {
      let arrAset = [
        {
          rumah: this.aset.rumah
        },
        {
          kendaraan: this.aset.kendaraan
        },
        {
          tabungan: this.aset.tabungan
        },
        {
          reksadana: this.aset.reksadana
        },
        {
          asetlainnya: this.aset.asetlainnya
        }
      ]
      console.log('obj rumah', arrAset)
      localStorage.setItem('halofina-fcu-neraca', JSON.stringify(arrAset))
      this.$router.push('/fcu/neraca/form2')
    }
  },
  created () {
    this.getDataForm()
  }
}
</script>
<style lang="sass">
  .fcu-neraca-form
    *
      padding: 0
      margin: 0

    .avenir-14-reg
      color: #2F395B !important

    .input
      font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif
      font-size: 16px
      width: 100%
      padding: 8px 16px
      border: 1px solid #E8EAEF
      border-radius: 4px
      outline: none
      color: #2F395B !important

    .disclaimer
      font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif
      font-size: 14px
      line-height: 18px
      color: #6E7692

    .wrap-button
      width: 100%
      padding-bottom: 24px

      .v-btn
        height: 48px

  @media only screen and (max-width: 320px)
    .finacheck-kyc-spending
      .disclaimer
        font-size: 12px !important

</style>
