<template>
  <div class="fcu-arus-form bg-primary-3" :style="'min-height: ' + screenHeight + 'px;'">
    <reusable-toolbar page-name="Data Arus Kas" :left="true" />
    <v-layout column justify-center align-center class="px-20 toolbar-margin">
      <v-card-text class="avenir-16-med color-text-1 pb-4 mt-3">
        Pengeluaran Pribadi
      </v-card-text>


      <!-- Pajak -->
      <div class="pb-4 full-width">
        <v-card-text class="avenir-14-reg pb-1">
          Pajak
        </v-card-text>

        <input
        type="tel"
        v-model="pajak"
        v-money="money"
        maxlength="15"
        class="input" />

        <v-card-text class="pa-0 pt-1 color-text-3 disclaimer">
          Pengeluaran pajak, khususnya pajak penghasilan
        </v-card-text>
      </div>

      <!-- Cicilan Hutang -->
      <div class="pb-4 full-width">
        <v-card-text class="avenir-14-reg pb-1">
          Cicilan Hutang
        </v-card-text>

        <input
        type="tel"
        v-model="hutang"
        v-money="money"
        maxlength="15"
        class="input" />

        <v-card-text class="pa-0 pt-1 color-text-3 disclaimer">
          Pengeluaran dari cicilan hutang saat ini
        </v-card-text>
      </div>

      <!-- Cicilan Hutang -->
      <div class="pb-4 full-width">
        <v-card-text class="avenir-14-reg pb-1">
          Sedekah/Donasi
        </v-card-text>

        <input
        type="tel"
        v-model="sedekah"
        v-money="money"
        maxlength="15"
        class="input" />

        <v-card-text class="pa-0 pt-1 color-text-3 disclaimer">
          Pengeluaran untuk kegiatan sosial, termasuk zakat atau kewajiban agama lainnya
        </v-card-text>
      </div>

      <!-- Cicilan Hutang -->
      <div class="pb-4 full-width">
        <v-card-text class="avenir-14-reg pb-1">
           Belanja Bulanan
        </v-card-text>

        <input
        type="tel"
        v-model="belanjaBulanan"
        v-money="money"
        maxlength="15"
        class="input" />
      </div>

      <!-- Belanja Lainnya -->
      <div class="pb-4 full-width">
        <v-card-text class="avenir-14-reg pb-1">
           Belanja Lainnya
        </v-card-text>

        <input
        type="tel"
        v-model="belanjaLainnya"
        v-money="money"
        maxlength="15"
        class="input" />
      </div>



    </v-layout>
    <v-layout row justify-center class="wrap-button px-20">
      <v-flex>
        <v-btn depressed class="nexa-16-bold" color="primary" block @click="submit()">Lanjut</v-btn>
      </v-flex>
    </v-layout>

    <reusable-dialogs
        v-model="dialogLoading"
        :resize-image="true"
        :unclickable="true"
    >
        <div slot="layout">
          <v-card flat class="card-radius" style="width: 100%">
            <v-layout pa-3 row align-center justify-center>
              <reusable-loading></reusable-loading>
            </v-layout>
          </v-card>
        </div>
    </reusable-dialogs>

  </div>
</template>
<script>
import { VMoney } from 'v-money'
import Api from '@/services/Api'
import { replaceDot } from '@/services/Helpers'
import ReusableLoading from '@/components/reusable/ReusableLoading'

export default {
  directives: { money: VMoney },
  components: {
    ReusableLoading
  },
  data: () => ({
    screenHeight: screen.height - 48,
    income: 0,
    pajak: 0,
    hutang: 0,
    sedekah: 0,
    belanjaBulanan: 0,
    belanjaLainnya: 0,
    dialogLoading: false,
    money: {
      thousands: '.',
      precision: 0,
      prefix: 'Rp ',
      masked: true
    }
  }),
  methods: {
    replaceDot,
    getDataForm () {
      this.income = localStorage.getItem('halofina-fcu-arus')
    },
    submit () {
      let incomeSubmit = [
        {
          code: 'INCOME-1',
          period: 'M',
          description: 'Pendapatan Utama',
          amount: Number(replaceDot(this.income).substring(3))
        }
      ]

      let expenseSubmit = [
        {
          code: 'EXPENSE-4',
          period: 'Y',
          is_debt: false,
          description: 'Pajak',
          amount: Number(replaceDot(this.pajak).substring(3))
        },
        {
          code: 'EXPENSE-3',
          period: 'M',
          is_debt: true,
          description: 'Cicilan Hutang',
          amount: Number(replaceDot(this.hutang).substring(3))
        },
        {
          code: 'EXPENSE-1',
          period: 'M',
          is_debt: false,
          description: 'Sedekah Dan Donasi',
          amount: Number(replaceDot(this.sedekah).substring(3))
        },
        {
          code: 'EXPENSE-1',
          period: 'M',
          is_debt: false,
          description: 'Belanja Bulanan',
          amount: Number(replaceDot(this.belanjaBulanan).substring(3))
        },
        {
          code: 'EXPENSE-1',
          period: 'M',
          is_debt: false,
          description: 'Biaya Lainnya',
          amount: Number(replaceDot(this.belanjaLainnya).substring(3))
        }
      ]
      this.dialogLoading = true
      let uuidData = localStorage.getItem('halofina-fcu-uuid')
      Api('finavest/v1/financial/checkup/calculate/cashflow', {
        uuid: uuidData,
        income: incomeSubmit,
        expense: expenseSubmit
      }, true)
        .then((res) => {
          this.dialogLoading = false
          this.$router.push('/fcu/arus/result')
        })
        .catch(() => {
          this.dialogLoading = false
        })
    }
  },
  created () {
    this.getDataForm()
  }
}
</script>
<style lang="sass">
  .fcu-arus-form
    *
      padding: 0
      margin: 0

    .avenir-14-reg
      color: #2F395B !important

    .input
      font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif
      font-size: 16px
      width: 100%
      padding: 8px 16px
      border: 1px solid #E8EAEF
      border-radius: 4px
      outline: none
      color: #2F395B !important

    .disclaimer
      font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif
      font-size: 14px
      line-height: 18px
      color: #6E7692

    .wrap-button
      width: 100%
      padding-bottom: 24px

      .v-btn
        height: 48px

  @media only screen and (max-width: 320px)
    .finacheck-kyc-spending
      .disclaimer
        font-size: 12px !important

</style>
