<template>
  <div class="fcu-neraca-form2 bg-primary-3" :style="'min-height: ' + screenHeight + 'px;'">
    <reusable-toolbar page-name="Data Neraca Keuangan" :left="true" />
    <v-layout column justify-center align-center class="px-20 toolbar-margin">
      <v-card-text class="avenir-16-med color-text-1 pb-4 mt-3">
        Hutang Pribadi
      </v-card-text>

      <!-- Pajak -->
      <div class="pb-4 full-width">
        <v-card-text class="avenir-14-reg pb-1">
          Kartu Kredit
        </v-card-text>

        <input
        type="tel"
        v-model="hutang.kartuKredit"
        v-money="money"
        maxlength="15"
        class="input" />

      </div>

      <!-- Cicilan Hutang -->
      <div class="pb-4 full-width">
        <v-card-text class="avenir-14-reg pb-1">
          Kredit Kendaraan
        </v-card-text>

        <input
        type="tel"
        v-model="hutang.kendaraanKredit"
        v-money="money"
        maxlength="15"
        class="input" />
      </div>

      <!-- Cicilan Hutang -->
      <div class="pb-4 full-width">
        <v-card-text class="avenir-14-reg pb-1">
          Kredit Pemilikan Rumah atau Apartemen
        </v-card-text>

        <input
        type="tel"
        v-model="hutang.kreditRumah"
        v-money="money"
        maxlength="15"
        class="input" />
      </div>

      <!-- Cicilan Hutang -->
      <div class="pb-4 full-width">
        <v-card-text class="avenir-14-reg pb-1">
          Hutang Lainnya
        </v-card-text>

        <input
        type="tel"
        v-model="hutang.hutangLainnya"
        v-money="money"
        maxlength="15"
        class="input" />
      </div>

    </v-layout>
    <v-layout row justify-center class="wrap-button px-20">
      <v-flex>
        <v-btn depressed class="nexa-16-bold" color="primary" block @click="next()">Lanjut</v-btn>
      </v-flex>
    </v-layout>

    <reusable-dialogs
        v-model="dialogLoading"
        :resize-image="true"
        :unclickable="true"
    >
        <div slot="layout">
          <v-card flat class="card-radius" style="width: 100%">
            <v-layout pa-3 row align-center justify-center>
              <reusable-loading></reusable-loading>
            </v-layout>
          </v-card>
        </div>
    </reusable-dialogs>

  </div>
</template>
<script>
import { VMoney } from 'v-money'
import ReusableLoading from '@/components/reusable/ReusableLoading'
import Api from '@/services/Api'
import { replaceDot } from '@/services/Helpers'

export default {
  directives: { money: VMoney },
  components: {
    ReusableLoading
  },
  data: () => ({
    screenHeight: screen.height - 48,
    dialogLoading: false,
    hutang: {
      kartuKredit: 0,
      kendaraanKredit: 0,
      kreditRumah: 0,
      hutangLainnya: 0
    },
    aset: null,
    money: {
      thousands: '.',
      precision: 0,
      prefix: 'Rp ',
      masked: true
    }
  }),
  methods: {
    replaceDot,
    getDataAset () {
      this.aset = JSON.parse(localStorage.getItem('halofina-fcu-neraca'))
    },
    next () {
      let assetSubmit = [
        {
          id_type: 1,
          period: 'Y',
          description: 'Rumah dan Properti',
          is_liquid: 0,
          is_investment: 0,
          amount: Number(replaceDot(this.aset[0].rumah).substring(3))
        },
        {
          id_type: 2,
          period: 'Y',
          description: 'Kendaraan',
          is_liquid: 0,
          is_investment: 0,
          amount: Number(replaceDot(this.aset[1].kendaraan).substring(3))
        },
        {
          id_type: 3,
          period: 'Y',
          description: 'Uang Tabungan & Deposito',
          is_liquid: 1,
          is_investment: 0,
          amount: Number(replaceDot(this.aset[2].tabungan).substring(3))
        },
        {
          id_type: 3,
          period: 'Y',
          description: 'Reksa Dana, Saham & Unit Link',
          is_liquid: 1,
          is_investment: 1,
          amount: Number(replaceDot(this.aset[3].reksadana).substring(3))
        },
        {
          id_type: 4,
          period: 'Y',
          description: 'Aset Lainnya',
          is_liquid: 0,
          is_investment: 0,
          amount: Number(replaceDot(this.aset[4].asetlainnya).substring(3))
        }
      ]

      let liabilitySubmit = [
        {
          code: 'LIABILITY-1',
          description: 'Kartu Kredit',
          is_short_term: 1,
          period: 'Y',
          amount: Number(replaceDot(this.hutang.kartuKredit).substring(3))
        },
        {
          code: 'LIABILITY-2',
          description: 'Kredit Kendaraan',
          is_short_term: 0,
          period: 'Y',
          amount: Number(replaceDot(this.hutang.kendaraanKredit).substring(3))
        },
        {
          code: 'LIABILITY-3',
          description: 'Kredit Pemilikan Rumah/Apartemen',
          is_short_term: 0,
          period: 'Y',
          amount: Number(replaceDot(this.hutang.kreditRumah).substring(3))
        },
        {
          code: 'LIABILITY-4',
          description: 'Hutang Lainnya',
          is_short_term: 0,
          period: 'Y',
          amount: Number(replaceDot(this.hutang.hutangLainnya).substring(3))
        }
      ]

      // show loading
      this.dialogLoading = true
      let uuidData = localStorage.getItem('halofina-fcu-uuid')
      Api('finavest/v1/financial/checkup/calculate/networth', {
        uuid: uuidData,
        asset: assetSubmit,
        liability: liabilitySubmit
      }, true)
        .then((res) => {
          localStorage.setItem('halofina-fcu-neraca', JSON.stringify(res.d))
          this.dialogLoading = false
          this.$router.push('/fcu/neraca/result')
        })
        .catch(() => {
          this.dialogLoading = false
        })
    }
  },
  created () {
    this.getDataAset()
  }
}
</script>
<style lang="sass">
  .fcu-neraca-form2
    *
      padding: 0
      margin: 0

    .avenir-14-reg
      color: #2F395B !important

    .input
      font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif
      font-size: 16px
      width: 100%
      padding: 8px 16px
      border: 1px solid #E8EAEF
      border-radius: 4px
      outline: none
      color: #2F395B !important

    .disclaimer
      font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif
      font-size: 14px
      line-height: 18px
      color: #6E7692

    .wrap-button
      position: fixed
      width: 100%
      bottom: 24px

      .v-btn
        height: 48px

  @media only screen and (max-width: 320px)
    .finacheck-kyc-spending
      .disclaimer
        font-size: 12px !important

</style>
