<template>
  <div v-if="isLoaded === true" class="fcu-list-data bg-primary-3" :style="'min-height: ' + screenHeight + 'px;'">
    <reusable-toolbar page-name="Cek Kesehatan Finansial" :left="true" route="/fcu" />
    <v-layout column justify-center class="px-20 pt-5 mt-4 toolbar-margin">
      <v-card-text class="avenir-16-reg color-text-1 pb-20">
        Silahkan lengkapi data keuangan berikut
      </v-card-text>
      <v-layout row wrap class="mt-20 py-3 px-20 wrap-list" @click="chooseList('arus')" align-center justify-space-between>
        <v-layout row align-center>
          <img src="@/assets/finacheck/fcu/arus-kas.svg" alt="arus-kas">
          <span class="avenir-16-reg pl-3">Data Arus Kas</span>
        </v-layout>
        <img v-if="checklist.arus === false" src="@/assets/finacheck/fcu/circle-null.svg" alt="circle-null">
        <img v-else src="@/assets/finacheck/fcu/circle-done.svg" alt="circle-done">
      </v-layout>
      <v-layout row wrap class="mt-3 py-3 px-20 wrap-list" @click="chooseList('neraca')" align-center justify-space-between>
        <v-layout row align-center>
          <img src="@/assets/finacheck/fcu/neraca-keuangan.svg" alt="neraca keuangan">
          <span class="avenir-16-reg pl-3">Data Neraca Keuangan</span>
        </v-layout>
        <img v-if="checklist.neraca === false" src="@/assets/finacheck/fcu/circle-null.svg" alt="circle-null">
        <img v-else src="@/assets/finacheck/fcu/circle-done.svg" alt="circle-done">
      </v-layout>
    </v-layout>
    <v-layout row justify-center class="wrap-button px-20">
      <v-flex>
        <v-btn depressed :disabled="checklist.arus === false || checklist.neraca === false" class="nexa-16-bold" color="primary" block @click="submit()">Lihat Rekap</v-btn>
      </v-flex>
    </v-layout>
  </div>
  <div v-else>
    <v-layout column justify-center align-center class="full-height">
      <reusable-loading></reusable-loading>
    </v-layout>
  </div>
</template>
<script>
// import api
import ApiGet from '@/services/ApiGet'
// import api
import Api from '@/services/Api'

export default {
  data: () => ({
    screenHeight: screen.height - 48,
    checklist: {
      arus: false,
      neraca: false
    },
    isLoaded: false
  }),
  methods: {
    chooseList (params) {
      if (params === 'arus') {
        if (this.checklist.arus === true) {
          this.$router.push('/fcu/arus/result')
        } else {
          this.$router.push('/fcu/arus')
        }
      } else {
        if (this.checklist.neraca === true) {
          this.$router.push('/fcu/neraca/result')
        } else {
          this.$router.push('/fcu/neraca/form')
        }
      }
    },
    createSession () {
      let uuidData = localStorage.getItem('halofina-fcu-uuid')
      if (uuidData === null) {
        ApiGet('finavest/v1/financial/checkup/session/create', true)
          .then((res) => {
            localStorage.setItem('halofina-fcu-uuid', res.d)
            this.isLoaded = true
          }).catch(() => {})
      } else {
        this.getSession(uuidData)
      }
    },
    getSession (uuidData) {
      Api('finavest/v1/financial/checkup/session/get', {
        uuid: uuidData
      }, true)
        .then((res) => {
          this.isLoaded = true
          if (res.d.income.length > 0 && res.d.expense.length > 0 && res.d.asset.length === 0 && res.d.liability.length === 0) {
            this.checklist.arus = true
          } else if (res.d.income.length === 0 && res.d.expense.length === 0 && res.d.asset.length > 0 && res.d.liability.length > 0) {
            this.checklist.neraca = true
          } else if (res.d.income.length > 0 && res.d.expense.length > 0 && res.d.asset.length > 0 && res.d.liability.length > 0) {
            this.checklist.arus = true
            this.checklist.neraca = true
          }
        }).catch(() => {})
    },
    submit () {
      this.$router.push('/fcu/allresult')
    }
  },
  created () {
    this.createSession()
    // this.getListCheck()
  }
}
</script>
<style lang="sass">
  .fcu-list-data
    *
      padding: 0
      margin: 0

    .wrap-list
      border: 1px solid #E8EAEF
      border-radius: 8px

    .wrap-button
      position: fixed
      bottom: 24px
      width: 100%

      .v-btn
        height: 48px

</style>
