<template>
  <div class="fcu-neraca-result bg-primary-3" :style="'min-height: ' + screenHeight + 'px;'">
    <reusable-toolbar page-name="Data Neraca Keuangan" :left="true">
      <div slot="button-toolbar">
        <div style="width: 20px; height:1px;">

        </div>
      </div>
    </reusable-toolbar>
    <v-layout row class="px-20 mb-4 toolbar-margin pt-3 align-center">
      <div class="pr-3 mt-4">
        <img src="@/assets/finacheck/fcu/neraca-keuangan.svg" width="64px" alt="neraca-keuangan">
      </div>

      <v-layout column>
        <v-card-text class="avenir-16-med color-text-1 pb-1">
          Neraca Keuangan
        </v-card-text>
        <v-card-text class="avenir-14-reg">
          Laporan yang berisi informasi keuangan meliputi aset, kewajiban, dan modal pada waktu tertentu
        </v-card-text>
      </v-layout>
    </v-layout>

    <v-divider></v-divider>

    <v-layout row wrap pt-3 class="px-20" v-if="dialogLoading">
      <v-card-text class="avenir-16-med color-text-1 pb-3">
        Kekayaan Bersih
      </v-card-text>
      <v-card-text v-if="((totalAsset) - (totalLiability)) > 0" class="avenir-14-reg pb-20 mb-20">
        Kamu memiliki kekayaan bersih sebesar Rp {{numberingNumber((totalAsset) - (totalLiability))}} karena aset kamu Rp {{numberingNumber(totalAsset)}} lebih besar dari hutang kamu Rp {{numberingNumber(totalLiability)}}
      </v-card-text>

      <v-card-text v-else class="avenir-14-reg pb-20 mb-20">
        Kamu memiliki kekayaan bersih sebesar -Rp {{numberingNumber(((totalAsset) - (totalLiability)) * -1)}} karena aset kamu Rp {{numberingNumber(totalAsset)}} lebih kecil dari hutang kamu Rp {{numberingNumber(totalLiability)}}
      </v-card-text>

      <v-layout row pb-4>
        <v-flex xs6>
          <div class="wrap-bersih pl-3">
            <div class="line"></div>
            <v-card-text class="avenir-12-reg color-text-3">
              Kekayaan Bersih
            </v-card-text>
            <v-card-text v-if="(totalAsset) - (totalLiability) < 0" class="avenir-12-med color-denotive-red-1">
              -Rp {{numberingNumber(((totalAsset) - (totalLiability)) * -1)}}
            </v-card-text>
            <v-card-text v-else class="avenir-12-med color-bersih">
              Rp {{numberingNumber((totalAsset) - (totalLiability))}}
            </v-card-text>
          </div>
        </v-flex>
        <v-flex xs6>
          <div class="wrap-hutang pl-3">
            <div class="line"></div>
            <v-card-text class="avenir-12-reg color-text-3">
              Hutang
            </v-card-text>
            <v-card-text class="avenir-12-med color-denotive-red-1">
              Rp {{numberingNumber(totalLiability)}}
            </v-card-text>
          </div>
        </v-flex>
      </v-layout>
    </v-layout>

    <v-divider></v-divider>

    <v-layout column class="px-20 pt-3 pb-4">
      <v-card-text class="avenir-16-med color-text-1 pb-3">
        Analisis Neraca Keuangan
      </v-card-text>
      <v-card-text class="avenir-14-reg pb-3">
        <!-- Total asetmu <b class="color-bersih">Rp {{numberingNumber(totalAsset)}}</b> -->
        <!-- Total asetmu <b class="color-bersih">Rp {{numberingNumber(totalAsset)}}</b> lebih besar dari total hutangmu <b class="color-denotive-red-1">Rp {{numberingNumber(totalLiability)}}</b> Sehingga kekayaan bersih yang kamu miliki sebesar <b class="">Rp {{numberingNumber((totalAsset) - (totalLiability))}}</b> -->
      </v-card-text>
      <v-card-text class="avenir-14-reg">
        Kamu harus lebih memaksimalkan aset dan mengurangi hutang!
      </v-card-text>
    </v-layout>

    <v-layout column class="pb-4 mb-20 px-20">
      <v-expansion-panel>
        <v-expansion-panel-content>
          <template v-slot:header>
            <div class="avenir-16-med py-20">Lihat Rincian</div>
          </template>
          <v-card>

            <v-layout row pb-4 v-for="(data, i) in dataNeraca.percentage.asset" :key="i">
              <v-flex xs5 class="mr-2">
                <v-card-text class="avenir-12-reg">
                  {{data.name}}
                </v-card-text>
              </v-flex>
              <v-flex xs2>
                <v-card-text class="avenir-12-reg text-xs-center">
                  {{Math.round(data.percentage * 100)}}%
                </v-card-text>
              </v-flex>
              <v-flex xs5>
                <v-card-text class="avenir-12-reg text-xs-right">
                  Rp {{numberingNumber(data.amount)}}
                </v-card-text>
              </v-flex>
            </v-layout>

            <v-layout row pb-4>
              <v-flex xs6>
                <v-card-text class="font-weight-bold avenir-12-reg">
                  Total Aset
                </v-card-text>
              </v-flex>
              <v-flex xs6>
                <v-card-text class="font-weight-bold avenir-12-reg text-xs-right" v-if="dialogLoading">
                  Rp {{numberingNumber(totalAsset)}}
                </v-card-text>
              </v-flex>
            </v-layout>

            <hr class="border-dashed-paten mb-4" />

            <v-layout row pb-4 v-for="(data, i) in dataNeraca.percentage.liability" :key="i">
              <v-flex xs5 class="mr-2">
                <v-card-text class="avenir-12-reg">
                  {{data.name}}
                </v-card-text>
              </v-flex>
              <v-flex xs2>
                <v-card-text class="avenir-12-reg text-xs-center">
                  {{Math.round(data.percentage * 100)}}%
                </v-card-text>
              </v-flex>
              <v-flex xs5>
                <v-card-text class="avenir-12-reg text-xs-right">
                  Rp {{numberingNumber(data.amount)}}
                </v-card-text>
              </v-flex>
            </v-layout>

            <v-layout row pb-4>
              <v-flex xs6>
                <v-card-text class="font-weight-bold avenir-12-reg">
                  Total Pengeluaran
                </v-card-text>
              </v-flex>
              <v-flex xs6>
                <v-card-text class="font-weight-bold avenir-12-reg text-xs-right" v-if="dialogLoading">
                  Rp {{numberingNumber(totalLiability)}}
                </v-card-text>
              </v-flex>
            </v-layout>

            <hr class="border-dashed-paten mb-4" />

            <v-layout row pb-2>
              <v-flex xs6>
                <v-card-text class="font-weight-bold avenir-12-reg">
                  Total Kekayaan Bersih
                </v-card-text>
              </v-flex>
              <v-flex xs6>
                <v-card-text v-if="(totalAsset) - (totalLiability) < 0" class="font-weight-bold color-denotive-red-1 avenir-12-reg text-xs-right">
                  -Rp {{numberingNumber(((totalAsset) - (totalLiability)) * -1 )}}
                </v-card-text>
                <v-card-text v-else class="font-weight-bold avenir-12-reg text-xs-right">
                  Rp {{numberingNumber((totalAsset) - (totalLiability))}}
                </v-card-text>
              </v-flex>
            </v-layout>

          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-layout>



    <v-layout row justify-center class="wrap-button px-20">
      <v-flex>
        <v-btn depressed class="nexa-16-bold" color="primary" block @click="next()">Simpan</v-btn>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
import { VMoney } from 'v-money'
import { numberingNumber } from '@/services/Helpers'
import { VDivider, VExpansionPanel, VExpansionPanelContent } from 'vuetify/lib'
import Api from '@/services/Api'

export default {
  directives: { money: VMoney },
  components: {
    VDivider,
    VExpansionPanel,
    VExpansionPanelContent
  },
  data: () => ({
    screenHeight: screen.height - 48,
    income: 0,
    dataNeraca: null,
    dialogLoading: false,
    money: {
      thousands: '.',
      precision: 0,
      prefix: 'Rp ',
      masked: true
    }
  }),
  methods: {
    numberingNumber,
    getDataResult () {
      let uuidData = localStorage.getItem('halofina-fcu-uuid')
      Api('finavest/v1/financial/checkup/session/get', {
        uuid: uuidData
      }, true)
        .then((res) => {
          this.dataNeraca = res.d
          this.dialogLoading = true
        })
        .catch(() => {
          this.dialogLoading = true
        })
    },
    next () {
      this.$router.push('/fcu/list')
    }
  },
  created () {
    this.getDataResult()
  },
  computed: {
    totalAsset: function () {
      return this.dataNeraca.asset.map(data => Number(data.amount)).reduce((prev, next) => prev + next)
    },
    totalLiability: function () {
      return this.dataNeraca.liability.map(data => Number(data.amount)).reduce((prev, next) => prev + next)
    }
  }
}
</script>
<style lang="sass">
  .fcu-neraca-result
    *
      padding: 0
      margin: 0

    .avenir-14-reg
      color: #2F395B !important

    .color-bersih
      color: #10CF99

    .v-divider
      border-width: 4px

    .border-dashed-paten
      height: 1px
      background-image: linear-gradient(90deg, #E8EAEF, #E8EAEF 60%, transparent 60%, transparent 100%)
      background-size: 15px 1px
      border: none
      background-repeat: repeat !important

    .input
      font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif
      font-size: 16px
      width: 100%
      padding: 8px 16px
      border: 1px solid #E8EAEF
      border-radius: 4px
      outline: none
      color: #2F395B !important

    .disclaimer
      font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif
      font-size: 14px
      line-height: 18px
      color: #6E7692

    .wrap-button
      width: 100%
      padding-bottom: 24px

      .v-btn
        height: 48px

    .wrap-bersih
      position: relative

      .line
        position: absolute
        left: 0
        width: 4px
        height: 100%
        border-radius: 4px
        background-color: #10CF99

    .wrap-hutang
      position: relative

      .line
        position: absolute
        left: 0
        width: 4px
        height: 100%
        border-radius: 4px
        background-color: #E52A34

    .v-expansion-panel
      box-shadow: none
      border: 1px solid #E8EAEF
      border-radius: 8px
      padding: 0
      overflow: hidden

    .v-expansion-panel__header
      padding: 0 16px

    .v-expansion-panel__body
      border-top: 1px solid #E8EAEF
      padding: 16px

  @media only screen and (max-width: 320px)
    .finacheck-kyc-spending
      .disclaimer
        font-size: 12px !important

</style>
