<template>
  <div class="fcu-onboarding bg-primary-3" :style="'min-height: ' + screenHeight + 'px;'">
    <reusable-toolbar page-name="" :change-namespace="true" namespace="dashboard" route="/dashboard?tab=lifeplan" />
    <v-layout column justify-center align-center>
      <img src="@/assets/finacheck/fcu/onboarding-illustration.svg" alt="onboarding-illustration">
      <v-card-text class="nexa-24-bold color-text-1 text-xs-center">
        Cek Kesehatan Finansial
      </v-card-text>
      <v-card-text class="avenir-14-reg pt-3 text-xs-center color-text-1">
        Cek Kesehatan Finansial bertujuan untuk mengetahui seberapa sehat keuangan pribadi kamu
      </v-card-text>
    </v-layout>
    <v-layout row justify-center class="wrap-button px-20">
      <v-flex>
        <v-btn depressed class="nexa-16-bold" color="primary" block @click="goList()">Mulai</v-btn>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
export default {
  data: () => ({
    screenHeight: screen.height
  }),
  methods: {
    goList () {
      this.$router.push('/fcu/list')
    }
  }
}
</script>
<style lang="sass">
  .fcu-onboarding
    .v-toolbar
      position: relative

    .wrap-button
      position: fixed
      bottom: 24px
      width: 100%

      .v-btn
        height: 48px

</style>
