<template>
    <div class="finavest-product-detail" style="background-color: white">
      <!-- Toolbar -->
      <reusable-toolbar page-name="Detail Produk"></reusable-toolbar>
      <v-container class="pa-0 toolbar-margin">
        <v-layout column v-if="isLoaded === true">
          <v-tabs centered grow class="tabs-product">
            <!-- Tab Title -->
            <v-tab active-class="active-tab" @click="trackTabs('Investment Performance Selected', performance)">
              Kinerja
            </v-tab>
            <v-tab active-class="active-tab" @click="trackTabs('Investment Detail Selected')">
              Profil
            </v-tab>
            <v-tab active-class="active-tab" @click="trackTabs('Investment Document Selected')">
              Dokumen
            </v-tab>
            <!-- Tab Item Kinerja -->
            <v-tab-item>
              <br />
              <product-detail-performance
                :id="id"
                :invest-manager="productName"
                :product-img="productImg"
                :initial-unit="initialUnit"
                :pending-unit="pendingUnit"
                :current-amount="currentAmount"
                :initial-amount="initialAmount"
                :gainloss-percentage="gainlossPercentage"
                :from-list-product="fromListProductPage"
                :current-name="currentValue"
                :percentage="percentage"
                :total-unit="totalUnit"
                :total-unit-sell="totalUnitSell"
                :profit-loss="profitLoss"
                :buy-price="buyPrice"
                :price-time="priceTime"
                :asset-name="assetName"
                :asset-periode="assetPeriode"
                :one-month-performance="performance.oneMonthPerformance"
                :three-month-performance="performance.threeMonthPerformance"
                :six-month-performance="performance.sixMonthPerformance"
                :year-performance="performance.yearPerformance"
                :year-to-date-performance="performance.yearToDatePerformance"
                :inception-performance="performance.inceptionPerformance"
                :min-balance-unit="minBalanceUnit"
                :lifeplan="lifeplan"
                :total-amount="totalAmount"
              ></product-detail-performance>
            </v-tab-item>
            <!-- Tab Item Detail -->
            <v-tab-item>
              <product-detail-detail
              :launch-date="launchDate"
              :description="description"
              :bank-custody="bankCustody"
              :invest-manager="investManager"
              :total-managed-funds="totalManagedFunds"
              :minimum-first-amount="minimumFirstAmount"
              :minimum-amount="minimumAmount"
              :minimum-sales="minimumSales"
              :purchase-fee="purchaseFee"
              :purchase-sales="purchaseSales"
              :asset-name="assetName"
              ></product-detail-detail>
            </v-tab-item>
            <!-- Tab Item Dokumen -->
            <v-tab-item>
              <product-detail-document
                :prospectus="prospectus"
                :fact-sheet="factSheet"
                :asset-name="assetName"
                :product-id="id"
              ></product-detail-document>
            </v-tab-item>
          </v-tabs>
          <!-- Layout Smart Saving -->
          <template v-if="smartSaving === true">
            <v-layout row align-center justify-space-between v-if=" fromListProductPage === true || fromListProductPage === 'true'" class="box-shadow-up fixed-layout" pa-3>
              <v-flex xs12>
                <v-btn depressed class="btn-radius box-shadow" color="warning" block @click="openSmartSaving(true)">
                  Beli
                </v-btn>
              </v-flex>
            </v-layout>
          </template>
          <!-- Layout Pilih -->
          <template v-else>
            <v-layout row align-center justify-space-between v-if="fromListProductPage === true || fromListProductPage === 'true'" class="box-shadow-up fixed-layout" pa-3>
              <v-flex xs8>
                <v-layout column>
                  <v-card-text class="pa-0">Beli Produk</v-card-text>
                  <v-card-text :class="amountBuy < startBuy ? 'pa-0 color-system-error nexa-16-bold' : 'pa-0 color-primary-1 nexa-16-bold'">Rp {{ numberingNumber(amountBuy) }}</v-card-text>
                </v-layout>
              </v-flex>
              <v-flex xs4>
                <v-btn depressed class="btn-radius box-shadow" color="warning" block @click="openDialog()">
                  Pilih
                </v-btn>
              </v-flex>
            </v-layout>
          </template>
        </v-layout>
        <v-layout v-else column justify-center align-center class="full-height">
          <reusable-loading></reusable-loading>
        </v-layout>
      </v-container>
      <!-- Dialog -->
      <reusable-dialogs
        v-model="dialog.isOpen"
        :title="dialog.title"
        :description="dialog.desc"
        :with-button="true"
        :callback="closeDialogs"
        :image="require('@/assets/finavest/lifeplan/danger.svg')"
        :resize-image="true"
        :is-image-above-title="true">
      </reusable-dialogs>
      <!-- Dialog KYC -->
      <reusable-dialogs
        v-model="dialog.dialogKyc"
        :image="require('@/assets/others/kyc-null.svg')"
        title="Kamu Belum Verifikasi"
        description="Verifikasi diperlukan agar kamu terdaftar menjadi investor resmi, data kamu kami lindungi"
        :is-image-above-title="true"
      >
        <v-layout slot="layout-button" class="full-width" row justify-center align-center px-3 pb-3>
          <v-flex xs6 mr-2>
            <v-btn depressed block outline class="btn-radius bg-primary-3 color-primary-1" @click="routeLater()">Nanti Saja</v-btn>
          </v-flex>
          <v-flex xs6 ml-2>
            <v-btn depressed block color="primary" class="btn-radius" @click="routeKyc()">Daftar</v-btn>
          </v-flex>
        </v-layout>
      </reusable-dialogs>
      <!-- Dialog Pending -->
      <reusable-dialogs
        v-model="dialog.dialogPending"
        :image="require('@/assets/others/kyc-proccess.svg')"
        :is-image-above-title="true"
        class-title="px-3 nexa-16-bold text-xs-center color-text-1"
        title="Verifikasi kamu masih dalam Proses"
        description="Silahkan menunggu, proses verifikasi ini membutuhkan kurang lebih 1-2 hari kerja"
      >
        <v-layout slot="layout-button" class="full-width pa-20" column align-center justify-center>
          <v-btn color="primary" class="py-2 btn-radius box-shadow" depressed block @click.native="goToDashboard('lifeplan', 'assign')">Saya Mengerti</v-btn>
        </v-layout>
      </reusable-dialogs>
      <!-- Dialog Rejected -->
      <reusable-dialogs
        v-model="dialog.dialogReject"
        :image="require('@/assets/others/kyc-rejected.svg')"
        :is-image-above-title="true"
        title="Verifikasi kamu ditolak, silahkan perbaiki data"
        :description="dialog.dialogRemark"
      >
        <v-layout slot="layout-button" class="full-width" row justify-center align-center pb-3 px-3>
          <v-flex xs6 mr-2>
            <v-btn block color="primary" outline flat class="btn-radius" @click.native="goToDashboard('lifeplan', 'assign'); $analytics.track('KYC Failed')">Nanti Saja</v-btn>
          </v-flex>
          <v-flex xs6 ml-2>
            <v-btn block color="primary" class="btn-radius" @click.native="$router.push('/finacheck/kyc/list'); $analytics.track('KYC Edited')">Perbaiki Data</v-btn>
          </v-flex>
        </v-layout>
      </reusable-dialogs>
      <!-- Dialog Amount -->
      <reusable-dialogs
        v-model="dialog.dialogAmount"
      >
        <v-card slot="layout" class="full-width text-align-center card-radius pa-4">
          <v-layout column justify-center align-center>
            <div class="wrap-img mb-3">
              <img :src="productImg" alt="product">
            </div>
            <div class="avenir-14-reg">{{ assetName }}</div>
            <div class="nexa-14-bold">{{ productName }}</div>
            <div class="border-bottom-dashed" style="height: 20px; width: 100%"></div>
            <v-layout row align-center justify-center class="full-width mt-4">
              <v-flex xs6>
                <div class="avenir-14-reg">Rencana Beli</div>
                <div class="nexa-14-bold">Rp {{ numberingNumber(amountBuy) }}</div>
              </v-flex>
              <v-flex xs6>
                <div class="avenir-14-reg">Minimal Beli</div>
                <div class="nexa-14-bold">Rp {{ numberingNumber(startBuy) }}</div>
              </v-flex>
            </v-layout>
            <div class="avenir-14-reg mt-4 pt-2">Nilai pembelian akan berubah mengikuti harga minimal pembelian produk ini.</div>
            <div class="mt-4 full-width">
              <v-btn block color="primary" class="btn-radius box-shadow" @click="chooseProduct()">Saya Mengerti</v-btn>
            </div>
          </v-layout>
        </v-card>
      </reusable-dialogs>
      <!-- Smart Saving Sheet -->
      <smart-saving-sheet
        v-model="smartSavingSheet"
        :product-parent="product"
        :use-product-api="false"
      ></smart-saving-sheet>
    </div>
</template>

<script>
import Api from '@/services/Api'
import { numberingNumber, replaceDotWithComa, checkFeatures, goToDashboard } from '@/services/Helpers'
import {
  VTabs,
  VTab,
  VTabItem
} from 'vuetify/lib'
// Import component for tabs
const ProductDetailPerformance = () => import('./ProductDetailPerformance')
const ProductDetailDetail = () => import('./ProductDetailDetail')
const ProductDetailDocument = () => import('./ProductDetailDocument')
// Reusable data
const ReusableLoading = () => import('@/components/reusable/ReusableLoading')
const SmartSavingSheet = () => import('@/components/v2/finavest/investment/smart_saving/SmartSavingSheet')
export default {
  components: {
    VTabs,
    VTab,
    VTabItem,
    ReusableLoading,
    ProductDetailPerformance,
    ProductDetailDetail,
    ProductDetailDocument,
    SmartSavingSheet
  },
  name: 'FinavestInvestmentDetail',
  data () {
    return {
      id: '',
      fromListProductPage: true,
      gainlossPercentage: 0,
      amountBuy: '',
      assetClassId: '',
      // data for Tab item performance
      productImg: '',
      initialUnit: 0,
      initialAmount: 0,
      currentAmount: 0,
      productName: '',
      currentValue: '',
      percentage: 0,
      profitLoss: 0,
      buyPrice: 0,
      priceTime: '',
      totalUnit: 0,
      totalUnitSell: 0,
      totalAmount: 0,
      assetName: '',
      assetPeriode: '',
      minBalanceUnit: 0,
      performance: {
        oneMonthPerformance: 0,
        threeMonthPerformance: 0,
        sixMonthPerformance: 0,
        yearPerformance: 0,
        yearToDatePerformance: 0,
        inceptionPerformance: 0
      },
      lifeplan: {},
      // data for Tab item detail
      launchDate: '',
      bankCustody: '',
      investManager: '',
      totalManagedFunds: 0,
      minimumFirstAmount: 0,
      minimumAmount: 0,
      purchaseFee: 0,
      minimumSales: 0,
      purchaseSales: 0,
      description: '',
      startBuy: 0,
      // data for Tab item document
      prospectus: '',
      factSheet: '',
      dialog: {
        isOpen: false,
        desc: '',
        title: '',
        dialogRemark: '',
        dialogKyc: false,
        dialogPending: false,
        dialogReject: false,
        dialogAmount: false
      },
      status: null,
      isLoaded: false,
      smartSaving: false,
      smartSavingSheet: false,
      product: {
        product_img_url: '',
        product_name: '',
        asset_name: '',
        min_buy: 0,
        id_product: ''
      }
    }
  },
  methods: {
    numberingNumber,
    replaceDotWithComa,
    checkFeatures,
    goToDashboard,
    trackTabs (tabName, properties) {
      if (properties) {
        this.$analytics.track(tabName, {
          one_month: properties.oneMonthPerformance,
          three_month: properties.threeMonthPerformance,
          six_month: properties.sixMonthPerformance,
          one_year: properties.yearPerformance
        })
      } else {
        this.$analytics.track(tabName)
      }
    },
    trackChosenProduct (product) {
      this.$analytics.track('Investment Chosen', {
        asset_kind: product.asset_class_name,
        amount: Number(product.amount),
        product_id: product.product_id,
        price_now: Number(this.buyPrice)
      })
    },
    splice (currentString, newString) {
      return currentString.slice(0, 2) + newString + currentString.slice(2)
    },
    setId () {
      this.id = this.$route.params.id
    },
    openSmartSaving (condition) {
      this.smartSavingSheet = condition
    },
    checkFromSmartSaving () {
      this.smartSaving = Boolean(localStorage.getItem('halofina-smart-saving'))
      this.setProductSmartSaving()
    },
    setProductSmartSaving () {
      this.product.product_img_url = this.productImg
      this.product.product_name = this.productName
      this.product.asset_name = this.assetName
      this.product.min_buy = this.startBuy ? this.startBuy : this.minimumFirstAmount
      this.product.id_product = Number(this.id)
    },
    setRouteCondition () {
      this.fromListProductPage = this.$route.params.fromListProduct
    },
    getAmountBuy () {
      this.amountBuy = localStorage.getItem('halofina-product-amount')
    },
    fetchData () {
      if (this.fromListProductPage === true || this.fromListProductPage === 'true') {
        Api('finavest/investment/product/retrieve', {
          id: Number(this.id)
        }).then((res) => {
          // For product performance
          this.productImg = res.d.product_image
          this.assetName = res.d.assetClass_name
          this.productName = res.d.name
          this.buyPrice = res.d.nab
          this.priceTime = res.d.nab_date
          this.assetClassId = res.d.assetClass_id
          this.performance.oneMonthPerformance = this.replaceDotWithComa(res.d.one_month_performance)
          this.performance.threeMonthPerformance = this.replaceDotWithComa(res.d.three_month_performance)
          this.performance.sixMonthPerformance = this.replaceDotWithComa(res.d.six_month_performance)
          this.performance.yearPerformance = this.replaceDotWithComa(res.d.year_performance)
          this.performance.yearToDatePerformance = this.replaceDotWithComa(res.d.year_to_date_performance)
          this.performance.inceptionPerformance = this.replaceDotWithComa(res.d.inception_performance)
          this.lifeplan = null
          // For product detail
          this.launchDate = res.d.launch_date
          this.description = res.d.description
          this.bankCustody = res.d.custodian_bankname
          this.investManager = res.d.investment_manager
          this.totalManagedFunds = this.replaceDotWithComa(this.splice(res.d.aum, ' '))
          this.minimumFirstAmount = Number(res.d.min_first_buy)
          this.minimumAmount = Number(res.d.min_buy)
          this.minimumSales = Number(res.d.min_sell)
          this.startBuy = Number(res.d.start_buy)
          // For product document
          this.prospectus = res.d.prospectus
          this.factSheet = res.d.fund_fact
          this.checkFromSmartSaving()
          this.fetchStatusKyc()
        }).catch(() => this.dialogs('Ada kesalahan', 'Coba reload atau coba beberapa saat lagi'))
      } else {
        Api('finavest/portfolio/lifeplan/product', {
          lifeplanid: this.$route.params.lifeplanid,
          productid: this.$route.params.productid
        }).then((res) => {
          // For product performance
          this.gainlossPercentage = res.d[0].gain_loss_percentage
          this.initialAmount = res.d[0].initial_amount
          this.initialUnit = res.d[0].initial_unit
          this.pendingUnit = res.d[0].pending_unit
          this.currentAmount = res.d[0].current_amount
          this.productName = res.d[0].name
          this.currentValue = (res.d[0].total_unit * 2) * res.d[0].gain_loss_percentage
          this.percentage = res.d[0].gain_loss
          this.totalUnit = res.d[0].total_unit
          this.totalUnitSell = res.d[0].pending_unit === null ? 0 : res.d[0].initial_unit - res.d[0].pending_unit
          this.totalAmount = res.d[0].total_amount
          this.profitLoss = res.d[0].total_unit * res.d[0].gain_loss_percentage
          this.buyPrice = res.d[0].buy_price
          this.priceTime = res.d[0].price_time
          this.performance.oneMonthPerformance = res.d[0].one_month_performance
          this.performance.threeMonthPerformance = res.d[0].three_month_performance
          this.performance.sixMonthPerformance = res.d[0].six_month_performance
          this.performance.yearPerformance = res.d[0].year_performance
          this.performance.yearToDatePerformance = res.d[0].year_to_date_performance
          this.performance.inceptionPerformance = res.d[0].inception_performance
          this.assetName = res.d[0].assetname
          this.assetPeriode = res.d[0].assetperiod
          this.minBalanceUnit = res.d[0].min_balance_unit
          this.buyPrice = res.d[0].buy_price
          this.lifeplan = {
            type: res.d[0].type,
            subtype: res.d[0].subtype,
            regularinvestment: res.d[0].regularinvestment
          }
          // For product detail
          this.description = res.d[0].name
          this.bankCustody = res.d[0].custodian_bankname
          this.investManager = res.d[0].investment_manager
          if (res.d[0].aum) this.totalManagedFunds = this.replaceDotWithComa(this.splice(res.d[0].aum, ' '))
          this.minimumFirstAmount = Number(res.d[0].min_first_buy)
          this.minimumAmount = Number(res.d[0].min_buy)
          this.minimumSales = Number(res.d[0].min_sell)
          this.startBuy = Number(res.d[0].start_buy)
          this.purchaseFee = Number(res.d[0].buy_fee)
          this.purchaseSales = Number(res.d[0].sell_fee)
          // For product document
          this.prospectus = res.d[0].prospectus
          this.factSheet = res.d[0].fund_fact
          this.isLoaded = true
        }).catch(() => {
          this.dialogs('Ada kesalahan', 'Coba reload atau coba beberapa saat lagi')
        })
      }
    },
    dialogs (title, desc) {
      this.dialog.isOpen = true
      this.dialog.title = title
      this.dialog.desc = desc
    },
    closeDialogs () {
      this.dialog.isOpen = false
    },
    chooseProduct () {
      var productObj = {}
      switch (this.assetName) {
        case 'Reksadana Pasar Uang':
          productObj = {
            id_product: this.id,
            product_name: this.productName,
            product_image: this.productImg,
            asset_class_name: this.assetName,
            asset_class_id: 1,
            amount: this.amountBuy < this.startBuy ? Number(this.startBuy) : Number(this.amountBuy),
            min_buy: this.startBuy
          }
          setTimeout(() => {
            this.$router.go(-2)
          }, 500)
          this.customPortfolio(productObj)
          localStorage.setItem('halofina-class-pasar-uang', JSON.stringify(productObj))
          break
        case 'Reksadana Saham':
          productObj = {
            id_product: this.id,
            product_name: this.productName,
            asset_class_name: this.assetName,
            asset_class_id: 5,
            amount: this.amountBuy < this.startBuy ? Number(this.startBuy) : Number(this.amountBuy),
            min_buy: Number(this.startBuy)
          }
          setTimeout(() => {
            this.$router.go(-2)
          }, 500)
          this.customPortfolio(productObj)
          localStorage.setItem('halofina-class-saham', JSON.stringify(productObj))
          break
        case 'Reksadana Pendapatan Tetap':
          productObj = {
            id_product: this.id,
            product_name: this.productName,
            asset_class_name: this.assetName,
            asset_class_id: 2,
            amount: this.amountBuy < this.startBuy ? Number(this.startBuy) : Number(this.amountBuy),
            min_buy: this.startBuy
          }
          setTimeout(() => {
            this.$router.go(-2)
          }, 500)
          this.customPortfolio(productObj)
          localStorage.setItem('halofina-class-pendapatan-tetap', JSON.stringify(productObj))
          break
        case 'Reksadana Campuran':
          productObj = {
            id_product: this.id,
            product_name: this.productName,
            asset_class_name: this.assetName,
            asset_class_id: 3,
            amount: this.amountBuy < this.startBuy ? Number(this.startBuy) : Number(this.amountBuy),
            min_buy: this.startBuy
          }
          setTimeout(() => {
            this.$router.go(-2)
          }, 500)
          this.customPortfolio(productObj)
          localStorage.setItem('halofina-class-campuran', JSON.stringify(productObj))
          break
      }
      this.trackChosenProduct(productObj)
    },
    customPortfolio (productObj) {
      var customPortfolio = JSON.parse(localStorage.getItem('halofina-custom-portfolio'))
      if (customPortfolio) {
        customPortfolio.forEach((element) => {
          if (element.id_asset_class === this.assetClassId) {
            element.amount = productObj.amount
            element.product = productObj
          }
        })
        localStorage.setItem('halofina-custom-portfolio', JSON.stringify(customPortfolio))
      }
    },
    fetchStatusKyc () {
      Api('finacheck/kyc/status', {})
        .then((res) => {
          this.status = res.d.status
          this.dialog.dialogRemark = res.d.remark
          this.isLoaded = true
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    openDialog () {
      let status = this.status
      let outstanding = checkFeatures('halofina:outstanding').enabled
      let amountBuy = this.amountBuy
      let startBuy = this.startBuy
      if (outstanding === true) {
        if (amountBuy >= startBuy && status !== 'REJECTED' && status !== null) {
          this.chooseProduct()
        } else {
          if (status === null) {
            this.dialog.dialogKyc = true
          } else if (status === 'REJECTED') {
            this.dialog.dialogReject = true
          } else if (status === 'COMPLETED') {
            this.dialog.dialogAmount = true
          }
        }
      } else {
        if (amountBuy >= startBuy && status === 'COMPLETED') {
          this.chooseProduct()
        } else {
          if (status === 'PENDING' || status === 'ONPROCESS') {
            this.dialog.dialogPending = true
          } else if (status === 'REJECTED') {
            this.dialog.dialogReject = true
          } else if (status === null) {
            this.dialog.dialogKyc = true
          } else {
            this.dialog.dialogAmount = true
          }
        }
      }
    },
    routeLater () {
      goToDashboard('lifeplan', 'assign')
      this.trackRouteLater()
    },
    routeKyc () {
      this.$router.push('/finacheck/kyc/list')
      this.trackRouteKyc()
    },
    trackRouteLater () {
      this.$analytics.track('KYC Postponed')
    },
    trackRouteKyc () {
      this.$analytics.track('KYC Continued')
    }
  },
  created () {
    this.setId()
    this.setRouteCondition()
    this.getAmountBuy()
    this.fetchData()
  }
}
</script>
<style lang="sass">
  .wrap-img
    border: 1px solid #E9ECF0
    background: white
    padding: 4px 4px 0 4px
    border-radius: 3px
    width: 44px
    height: 44px
    overflow: hidden
    position: relative

    img
      width: 40px
      height: auto
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

  .finavest-product-detail
    .v-divider
      border-top-width: 6px

    .box-shadow-up
      box-shadow: 0px -3px 12px 0px rgba(0,0,0,0.12)

  .fixed-layout
    position: fixed
    background-color: white
    width: 100%
    bottom: 0px

  .tabs-product
    .v-tabs__item
      opacity: 1
      color: #AAADC4
      font-weight: 100

    .v-tabs__item.active-tab
      color: #42A5F5
      opacity: 1
      font-weight: bold
</style>
