<template>
    <div class="finavest-product-aset" style="background-color: white">
      <!-- Toolbar -->
      <reusable-toolbar page-name="Aset kamu" :left="true"></reusable-toolbar>
      <v-container class="pa-0 toolbar-margin">
        <v-layout column v-if="isLoaded === true">
          
          <v-layout row align-center class="px-20 mt-2" @click="goToProductDetail()">
            <div class="wrap-img mr-3">
              <img :src="productImg" alt="product" id="product-img">
            </div>
            <v-layout column pa-0>
              <v-card-text class="nexa-14-bold pa-0" id="product-name">{{ productName }}</v-card-text>
              <v-card-text class="avenir-12-reg pa-0" id="asset-name">{{ assetName }}</v-card-text>
            </v-layout>
            <img :src="require('@/assets/icons/icon-arrow.svg')"/>
          </v-layout>

          <v-divider class="mt-3"></v-divider>
          
          <v-layout column class="px-20" pt-3 pb-0>
            <v-card-text class="nexa-14-bold mb-3">{{ portfolioType() }}</v-card-text>
            <v-layout row align-center v-for="data in listDataInfo" :key="data.title" py-3 id="portfolio-info">
              <v-layout column>
                <v-card-text class="avenir-14-reg color-text-3">{{ data.title }}</v-card-text>
                <v-card-text class="avenir-12-reg" v-if="data.desc">({{ data.desc }})</v-card-text>
              </v-layout>
              <v-spacer></v-spacer>
              <div v-html="data.value"></div>
            </v-layout>
          </v-layout>

          <v-divider></v-divider>

          <v-card flat class="px-20 py-3" @click="goToAllocation(lifeplanId, assetId)">
            <v-layout row align-center>
              <img :src="require('@/assets/finavest/portfolio/allocation.svg')" class="mr-3"/>
              <v-layout column>
                <v-card-text class="avenir-14-med mb-1">Alokasikan Produk</v-card-text>
                <v-card-text class="avenir-14-reg color-text-3">kamu dapat mengalokasikan <br/> produk ini ke tempat lain</v-card-text>
              </v-layout>
              <img style="height: 16px" :src="require('@/assets/icons/icon-arrow.svg')"/>
            </v-layout>
          </v-card>

          <v-divider></v-divider>

          <div class="blank-box"></div>

          <v-layout row align-center justify-space-between class="box-shadow-up fixed-layout pa-20">
            <v-flex
              :xs6="portfolioType() === 'Smart Saving' && portfolioType() === 'Aset Bebas'"
              :xs12="portfolioType() !== 'Smart Saving' && portfolioType() !== 'Aset Bebas'"
              mr-2
            >
              <v-btn :disabled="initialUnit - pendingUnit === 0 || totalUnit === 0" flat depressed block class="btn-radius border-thin" color="warning" @click="routeToSell(lifeplanId, accountId, productId)">
                Jual
              </v-btn>
            </v-flex>
            <v-flex ml-2 xs6 v-if="portfolioType() === 'Smart Saving' || portfolioType() === 'Aset Bebas'">
              <v-btn depressed block class="btn-radius" color="warning" @click="goInvest()">
                Beli Lagi
              </v-btn>
            </v-flex>
          </v-layout>
        </v-layout>
        <v-layout v-else column align-center justify-center class="full-height">
          <reusable-loading></reusable-loading>
        </v-layout>
        <!-- Lifeplan Sheet -->
        <reusable-bottom-sheet
          v-model="sheets.lifeplanSheet.isOpen"
          :title="sheets.lifeplanSheet.title"
          :description="sheets.lifeplanSheet.desc"
          :image="require('@/assets/finavest/allocation/no-lifeplan.svg')"
        >
          <v-btn v-if="lifeplans.length === 0" slot="button-layout" class="btn-radius box-shadow py-3 nexa-16-bold" color="primary" depressed block @click="goToLifeplan()">Buat Lifeplan</v-btn>
          <v-btn v-else slot="button-layout" class="btn-radius box-shadow py-3 nexa-16-bold" color="primary" depressed block @click="sheets.lifeplanSheet.isOpen = false">Saya Mengerti</v-btn>
        </reusable-bottom-sheet>
        <!-- Smart Saving Sheet -->
        <smart-saving-sheet
          v-model="sheets.smartSavingSheet"
          :product-parent="smartSavingProduct"
          :use-product-api="false"
        ></smart-saving-sheet>
        <!-- Custom Asset Sheet -->
        <portfolio-custom-sheet
          v-model="sheets.customAssetSheet"
          :product-id="productId"
        ></portfolio-custom-sheet>
      </v-container>
    </div>
</template>

<script>
import Api from '@/services/Api'
import ApiGet from '@/services/ApiGet'
import { numberingNumber, replaceDotWithComa, numberingReksadana, dateFormat, checkFeatures } from '@/services/Helpers'
import {
  VCard,
  VDivider,
  VSpacer
} from 'vuetify/lib'

const ReusableCards = () => import('@/components/reusable/ReusableCards.vue')
const ReusableImageLifeplan = () => import('@/components/reusable/ReusableImageLifeplan.vue')
const SmartSavingSheet = () => import('@/components/v2/finavest/investment/smart_saving/SmartSavingSheet')
const PortfolioCustomSheet = () => import('@/components/reusable/finavest/portfolio/custom/PortfolioCustomSheet')
/**
 * @group /finavest/product/reksadana
 * Aset kamu page
*/
export default {
  components: {
    VCard,
    VDivider,
    VSpacer,
    ReusableCards,
    ReusableImageLifeplan,
    SmartSavingSheet,
    PortfolioCustomSheet
  },
  name: 'ProductDetailAset',
  data () {
    return {
      sheets: {
        smartSavingSheet: false,
        customAssetSheet: false,
        lifeplanSheet: {
          isOpen: false,
          title: '',
          desc: ''
        }
      },
      smartSavingProduct: {
        product_img_url: '',
        product_name: '',
        product_id: '',
        asset_name: '',
        min_buy: 0
      },
      lifeplanId: '',
      productId: '',
      portfolioName: '',
      isLoaded: false,
      listDataInfo: [],
      lifeplans: [],
      fromListProductPage: true,
      minBuy: 0,
      // data for Tab item performance
      productImg: '',
      initialUnit: 0,
      totalUnit: 0,
      pendingUnit: 0,
      productName: '',
      accountId: 0,
      assetName: '',
      assetId: 0,
      type: '',
      nav: 0
    }
  },
  created () {
    this.setParams()
    this.fetchData()
    this.fetchDataLifeplan()
  },
  methods: {
    checkFeatures,
    numberingNumber,
    replaceDotWithComa,
    numberingReksadana,
    dateFormat,
    /**
     * @vuese
     * redirect to Detail Produk page (./ProductDetail.vue)
     * @arg this.productId
    */
    goToProductDetail () {
      this.$router.push('/finavest/portfolio/product/detail/' + this.productId + '/false')
    },
    /**
     * @vuese
     * Go to Investment options based on its portfolio type
     * Case 1: if type is Aset Bebas, open custom asset sheet
     * Case 2: if type is Smart Saving, open smart saving sheet
     * Case 3: redirect to Tambah Tabungan Page (../finavest/investment/buy/BuyInvestment.vue)
     * @arg portfolioType :func, productId :String (this.id)
    */
    goInvest () {
      let portfolioType = this.portfolioType()
      if (portfolioType === 'Aset Bebas') {
        this.sheets.customAssetSheet = true
      } else if (portfolioType === 'Smart Saving') {
        this.sheets.smartSavingSheet = true
      } else {
        this.$router.push('/finavest/investment/buy/buy_investment/' + Number(this.id) + '/new')
      }
    },
    /**
     * @vuese
     * set lifeplanId and productId params from route
    */
    setParams () {
      this.lifeplanId = this.$route.params.lifeplanid
      this.productId = this.$route.params.productid
      this.accountId = this.$route.params.accountid
    },
    /**
     * @vuese
     * redirect to Lifeplan page (../v2/finavest/lifeplan/Dashboard.vue)
    */
    goToLifeplan () {
      this.$router.push('/finavest/new/lifeplan/dashboard')
    },
    /**
     * @vuese
     * set necessary data for allocation itinerary to local storage
    */
    setAllocationProduct () {
      let product = {
        min_buy: this.minBuy,
        product_img_url: this.productImg,
        product_name: this.productName,
        product_id: this.productId,
        from_lifeplan_id: this.lifeplanId === 'custom' ? 0 : this.lifeplanId,
        unit: this.totalUnit,
        type: this.portfolioName,
        title: this.portfolioType(),
        nav: this.nav,
        asset_class_id: this.assetId
      }
      localStorage.setItem('halofina-allocation-product', JSON.stringify(product))
    },
    /**
     * @vuese
     * go to Allocation with 3 cases
     * Case 1: if lifeplan length is 0, open lifeplan sheet and redirect to Lifeplan page (../v2/finavest/lifeplan/Dashboard.vue)
     * Case 2: if lifeplan length is 1, open lifeplan sheet and redirect to Lifeplan page (../v2/finavest/lifeplan/Dashboard.vue)
     * Case 3: call setAllocationProduct function and redirect to Target Alokasi Page (../v2/finavest/allocation/Target.vue)
     * @arg assetId: Number, lifeplan (this.lifeplans)
    */
    goToAllocation (lifeplanId, assetId) {
      let type = this.portfolioType()
      Api('finavest/v0/lifeplan/allocation/recommendation', {
        asset_class_id: assetId,
        type: type,
        lifeplan_id: lifeplanId
      })
        .then((res) => {
          if (res.d.is_fulfilled === true) {
            this.openLifeplanSheet('Tidak ada Lifeplan untuk tujuan alokasi', 'Lifeplanmu yang lain sudah tidak membutuhkan dana tambahan.')
          } else {
            let lifeplan = this.lifeplans
            if (lifeplan.length === 0) {
              this.openLifeplanSheet('kamu belum memiliki Lifeplan', 'Ayo buat lifeplan untuk membantu perencanaan keuangan kamu')
            } else {
              if (lifeplan.length === 0) {
                this.openLifeplanSheet('kamu belum memiliki Lifeplan', 'Ayo buat lifeplan untuk membantu perencanaan keuangan kamu')
              } else if (lifeplan.length === 1) {
                if (type !== 'Aset Bebas' && type !== 'Smart Saving') {
                  this.openLifeplanSheet('kamu cuma punya satu Lifeplan', 'Kalau kamu punya lebih dari satu Lifeplan, kamu bisa memindahkan saldo ke Lifeplan yang lain')
                } else {
                  this.setAllocationProduct()
                  this.$router.push('/finavest/allocation/target/' + lifeplanId + '/' + assetId)
                }
              } else {
                this.setAllocationProduct()
                this.$router.push('/finavest/allocation/target/' + lifeplanId + '/' + assetId)
              }
            }
          }
          this.isLoaded = true
        })
        .catch(() => {
          this.isLoaded = true
          this.dialog.dialogError = true
        })
    },
    /**
     * @vuese
     * open lifeplan sheet if lifeplan length is 0 and 1
     * @arg title: String, desc: String
    */
    openLifeplanSheet (title, desc) {
      this.sheets.lifeplanSheet.isOpen = true
      this.sheets.lifeplanSheet.title = title
      this.sheets.lifeplanSheet.desc = desc
    },
    /**
     * @vuese
     * transform portfolio type based on its lifeplanId route params and lifeplan type
     * Case 1: if lifeplanId route params is 'custom', returns 'Aset Bebas'
     * Case 2: if lifeplan type is 'smartsaving', returns 'Smart Saving'
     * Case 3: returns its lifeplanType or lifeplanSubtype
    */
    portfolioType () {
      let lifeplanId = this.lifeplanId
      let portfolioName = this.portfolioName
      if (lifeplanId === 'custom') {
        this.portfolioName = lifeplanId
        return 'Aset Bebas'
      } else if (portfolioName === 'smartsaving') {
        return 'Smart Saving'
      } else {
        return portfolioName
      }
    },
    /**
     * @vuese
     * redirect to Jual Produk page (../finavest/investment/sell/SellProduct.vue)
     * @arg lifeplanId: Number, productId: Number, accountId: Number
    */
    routeToSell (lifeplanId, accountId, productId) {
      if (lifeplanId === 'custom') {
        this.$router.push('/finavest/investment/sell/sell_product/' + lifeplanId + '/' + productId)
      } else {
        this.$router.push('/finavest/investment/sell/sell_product/' + lifeplanId + '/' + accountId)
      }
    },
    /**
     * @vuese
     * push necessary product data to array
     * Saldo Produk: current_amount
     * Modal Beli: total_amount
     * Laba/Rugi: gainLossTemplate: func
     * Unit Dimiliki: total_unit
     * Unit Tersedia: total_unit - pending_unit
     * Harga per unit: sell_price
     * @arg res: Object (represents product data from API)
    */
    setListProductItem (res) {
      let datas = []
      datas.push(
        {
          title: 'Saldo Produk',
          value: '<div style="font-weight: 600">Rp ' + numberingNumber(res.current_amount) + '</div>'
        },
        {
          title: 'Modal Beli',
          value: 'Rp' + numberingNumber(res.total_amount)
        },
        {
          title: 'Laba/Rugi',
          value: this.gainLossTemplate(Number(res.gain_loss_percentage), Number(res.gain_loss))
        },
        {
          title: 'Unit Dimiliki',
          value: Number(res.total_unit) + Number(res.pending_unit)
        },
        {
          title: 'Unit Tersedia',
          value: Number(res.total_unit)
        },
        {
          title: 'Harga per unit',
          desc: 'Per ' + dateFormat(res.price_time, 'DD MMM YYYY, HH:mm') + ' WIB',
          value: 'Rp ' + numberingNumber(res.sell_price)
        }
      )
      this.listDataInfo = datas
    },
    /**
     * @vuese
     * returns gain loss template with dynamic gain loss amount, percentage, color class and operator
     * Case 1: If percentage more than 0, set color to color-system-success and operator to +
     * Case 2: If percentage less than 0, set color to color-system-error and operator to -
     * @arg percentage: Number, amount: Number
    */
    gainLossTemplate (percentage, amount) {
      let color, operator
      if (percentage > 0) {
        color = 'color-system-success'
        operator = '+'
      } else if (percentage < 0) {
        color = 'color-system-error'
        operator = ''
      } else {
        color = 'color-text-1'
        operator = ''
      }
      return '<div class="' + color + '">Rp ' + numberingNumber(amount) + ' (' + operator + percentage + '%)</div>'
    },
    /**
     * @vuese
     * set necessary smart saving data for SmartSavingSheet product-parent props
    */
    setSmartSavingData () {
      this.smartSavingProduct.product_img_url = this.productImg
      this.smartSavingProduct.product_name = this.productName
      this.smartSavingProduct.id_product = this.productId
      this.smartSavingProduct.asset_name = this.assetName
      this.smartSavingProduct.min_buy = this.minBuy
    },
    /**
     * @vuese
     * fetch Aset Bebas data, then call setListProductItem and setSmartSavingData function
     * @arg productId: Number
    */
    fetchDataCustomProduct (productId) {
      this.productid = productId
      Api('v1/investment/unallocated/product/' + productId, {})
        .then((res) => {
          let dataProduct = res.d
          this.initialUnit = Number(dataProduct.initial_unit)
          this.pendingUnit = Number(dataProduct.pending_unit)
          this.totalUnit = Number(dataProduct.total_unit)
          this.productName = dataProduct.product_name
          this.productImg = dataProduct.product_image
          this.assetName = dataProduct.asset_class_name
          this.nav = dataProduct.sell_price
          this.minBuy = dataProduct.min_buy
          this.assetId = dataProduct.asset_class_id
          this.setListProductItem(dataProduct)
          this.setSmartSavingData()
          this.isLoaded = true
        }).catch(() => {
          this.dialogs('Ada kesalahan', 'Coba reload atau coba beberapa saat lagi')
        })
    },
    /**
     * @vuese
     * fetch Lifeplan and Smart Saving data, then call setListProductItem and setSmartSavingData function
     * @arg lifeplanId: Number, productId: Number
    */
    fetchDataLifeplanProduct (lifeplanId, productId) {
      Api('finavest/portfolio/lifeplan/product', {
        lifeplanid: lifeplanId,
        productid: productId
      }).then((res) => {
        let dataProduct = res.d[0]
        this.initialUnit = Number(dataProduct.initial_unit)
        this.pendingUnit = Number(dataProduct.pending_unit)
        this.totalUnit = Number(dataProduct.total_unit)
        this.productName = dataProduct.name
        this.productImg = dataProduct.product_image
        this.assetName = dataProduct.assetname
        this.nav = dataProduct.sell_price
        this.minBuy = dataProduct.min_buy
        this.assetId = dataProduct.asset_class_id
        this.portfolioName = dataProduct.subtype || dataProduct.type
        this.setListProductItem(dataProduct)
        this.setSmartSavingData()
        this.isLoaded = true
      }).catch(() => {
        this.dialogs('Ada kesalahan', 'Coba reload atau coba beberapa saat lagi')
      })
    },
    /**
     * @vuese
     * choose fetch data based on portfolio Type
     * Case 1: If portfolio Type is Aset Bebas, call fetchDataCustomProduct function
     * Case 2: If portfolio Type is Smart Saving or $lifeplanName, call fetchDataLifeplanProduct function
     * @arg portfolioType (function)
    */
    fetchData () {
      let portfolioType = this.portfolioType()
      if (portfolioType === 'Aset Bebas') {
        this.fetchDataCustomProduct(this.productId)
      } else {
        this.fetchDataLifeplanProduct(this.lifeplanId, this.productId)
      }
    },
    /**
     * @vuese
     * exclude smart saving lifeplan from lifeplanList
     * @arg items (represents the lifeplanList from API)
    */
    removeSmartSaving (items) {
      return items.filter(element => element.type !== 'smartsaving')
    },
    /**
     * @vuese
     * fetch lifeplanList then set to this.lifelans and call removeSmartSaving function
    */
    fetchDataLifeplan () {
      ApiGet('finavest/v1/lifeplan/account', {})
        .then((res) => {
          this.lifeplans = this.removeSmartSaving(res.d)
        })
        .catch((err) => {
          console.error(err)
        })
    },
    /**
     * @vuese
     * open error dialog
     * @arg title: String, desc: String
    */
    dialogs (title, desc) {
      this.dialog.isOpen = true
      this.dialog.title = title
      this.dialog.desc = desc
    }
  }
}
</script>
<style lang="sass">
  .finavest-product-aset
    *
      margin: 0px
      padding: 0px

    .fixed-layout
      position: fixed
      background-color: white
      width: 100%
      bottom: 0px
    
    .v-divider
      border-width: 4px
      border-top-width: 6px
    
    .blank-box
      width: 100%
      height: 80px
      background: transparent

    .wrap-img
      border: 1px solid #E9ECF0
      background: white
      padding: 4px 4px 0 4px
      border-radius: 3px
      width: 44px
      height: 44px
      overflow: hidden
      position: relative

      img
        width: 35px
        height: auto
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

    .box-shadow-up
      box-shadow: 0px -3px 12px 0px rgba(0,0,0,0.12)
</style>
