<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui,shrink-to-fit=no">
    <title>Halofina - Your Personal Finance Assistant</title>
    <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-16x16.png">
    <!--[if IE]><link rel="shortcut icon" href="/static/img/icons/favicon.ico"><![endif]-->
    <!-- Add to home screen for Android and modern mobile browsers -->
    <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.json">
    <meta name="theme-color" content="#4DBA87">
    <!-- Icons -->
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons'>
    <!-- Init Google Auth Libs -->
    <!-- <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="321004197819-52689nqk03khtrrt1fapnesodjpuprfn.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script> -->
    <style>
    body{-webkit-user-select:none;-webkit-touch-callout:none}input,textarea{-webkit-user-select:all!important;-webkit-touch-callout:default!important}#loading{position:absolute;z-index:10;background-color:#fff;display:flex;justify-content:center;align-items:center;z-index:100;width:100vw;height:100vh;overflow-y:hidden!important}@keyframes lds-eclipse{0%{-webkit-transform:rotate(0);transform:rotate(0)}50%{-webkit-transform:rotate(180deg);transform:rotate(180deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@-webkit-keyframes lds-eclipse{0%{-webkit-transform:rotate(0);transform:rotate(0)}50%{-webkit-transform:rotate(180deg);transform:rotate(180deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}.lds-eclipse{position:relative}.lds-eclipse div{position:absolute;-webkit-animation:lds-eclipse 1s linear infinite;animation:lds-eclipse 1s linear infinite;width:160px;height:160px;top:20px;left:20px;border-radius:50%;box-shadow:0 4px 0 0 #5ab9fb;-webkit-transform-origin:80px 82px;transform-origin:80px 82px}.lds-eclipse{width:50px!important;height:50px!important;-webkit-transform:translate(-25px,-25px) scale(.25) translate(25px,25px);transform:translate(-25px,-25px) scale(.25) translate(25px,25px)}
    </style>
    <!-- Bridge from native IOS -->
    <script type="text/javascript">
      /* wk.bridge.min.js | v0.2 */
      (function(){if(window.isIOS){return}window.isIOS=function(){return navigator&&navigator.userAgent&&(/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent))}}());
      (function(){if(window.bridge){return}window.bridge=function(){var callbacks=[],callbackID=0,registerHandlers=[];document.addEventListener("PacificDidReceiveNativeCallback",function(e){if(e.detail){var detail=e.detail;var id=isNaN(parseInt(detail.id))?-1:parseInt(detail.id);if(id!=-1){callbacks[id]&&callbacks[id](detail.parameters,detail.error);delete callbacks[id]}}},false);document.addEventListener("PacificDidReceiveNativeBroadcast",function(e){if(e.detail){var detail=e.detail;var name=detail.name;if(name!==undefined&&registerHandlers[name]){var namedListeners=registerHandlers[name];if(namedListeners instanceof Array){var parameters=detail.parameters;namedListeners.forEach(function(handler){handler(parameters)})}}}},false);return{"post":function(action,parameters,callback,print){var id=callbackID++;callbacks[id]=callback;if(window.webkit&&window.webkit.messageHandlers&&window.webkit.messageHandlers.pacific){window.webkit.messageHandlers.pacific.postMessage({"action":action,"parameters":parameters,"callback":id,"print":print||0})}},"on":function(name,callback){var namedListeners=registerHandlers[name];if(!namedListeners){registerHandlers[name]=namedListeners=[]}namedListeners.push(callback);return function(){namedListeners[indexOf(namedListeners,callback)]=null}},"off":function(name){delete registerHandlers[name]}}}()}());
    </script>
    <!-- App State -->
    <script type="text/javascript">
        window.onload = function () {
            show('loading', false);
            show('app', true);
        };
        function show(id, value) {
            document.getElementById(id).style.display = value ? 'block' : 'none';
        }
    </script>
    <!-- Set Namespace -->
    <!-- WIP REFACTOR to global helpers -->
    <script type="text/javascript">
      localStorage.setItem('halofina-namespace', 'vuetify15')
    </script>
    <!-- Hotjar Implementation -->
    <!-- <script type="text/javascript">
        (function(h, o, t, j, a, r) {
            h.hj = h.hj || function() {
                (h.hj.q = h.hj.q || []).push(arguments)
            };
            h._hjSettings = {
                hjid: 1008474,
                hjsv: 6
            };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script');
            r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script> -->
    <!-- Add to home screen for Safari on iOS -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="halofina">
    <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon-152x152.png">
    <link rel="mask-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/safari-pinned-tab.svg" color="#4DBA87">
    <!-- Add to home screen for Windows -->
    <meta name="msapplication-TileImage" content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/msapplication-icon-144x144.png">
    <meta name="msapplication-TileColor" content="#000000">
    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
        <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>">
        <% }}} %>
</head>

<body>
    <noscript>
      Maaf, browser kamu tidak mendukung untuk Javascript. Coba gunakan Chrome versi terbaru.
    </noscript>
    <div id="loading">
      <div class="lds-css ng-scope"><div style="width: 100%; height: 100%" class="lds-eclipse"><div></div></div></div>
    </div>
    <div id="app"></div>
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
</body>
<style>
    /* styling ask fina */
    /* .qcw-trigger-btn, .qcw-cs-trigger-button {
      box-shadow: none !important;
      padding: 0 0 0 3px !important;
      background: none !important;
    }
    .qcw-trigger-btn:hover{
      -webkit-transform: none !important;
      transform: none !important;
    }

    .qcw-trigger-btn img, .qcw-cs-trigger-button img {
      margin: 0;
      height: 37px;
      margin-bottom: 4px !important;
      width: auto;
    } */

    .qcw-trigger-btn{
      display: none;
    }

</style>
<!-- Init Crisp -->
<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="caf87e90-3f96-4304-834d-00444d07db98";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();$crisp.push(['do', 'chat:hide'])</script>
<script>
// Get local storage to set up user
  // var qismoLs = localStorage.getItem('qismo-widget');
  // if(!qismoLs) localStorage.setItem('qismo-widget', JSON.stringify({
  //     "user_id": localStorage.getItem('halofina-email'), // change this one to use session user
  //     "user_name": JSON.parse(localStorage.getItem('halofina-name')), // this one as well
  // }));

  // document.addEventListener('DOMContentLoaded', function() {
  //     var s,t, loginFormOpened=false; s = document.createElement('script'); s.type = 'text/javascript';
  //     s.src = 'https://s3-ap-southeast-1.amazonaws.com/qiscus-sdk/public/qismo/qismo-v2.js'; s.async = true;
  //     s.onload = s.onreadystatechange = function() { new Qismo("uruph-1jvbpuxtpwgvioj"); }
  //     t = document.getElementsByTagName('script')[0]; t.parentNode.insertBefore(s, t);
  // });
</script>
<script>
  // (function(i,s,o,g,r,a,m,n){
  // // 
  // })(window,document,'script','https://cdn.moengage.com/webpush/moe_webSdk.min.latest.js','Moengage');

  // Moengage = moe({
  //   app_id:"Q3IKWAJDFROYJ2LAMD6YY3IA",
  //   debug_logs: 1
  // });
</script>
</html>
