.ma-12 {
    margin: 12px !important
}

.ml-12 {
    margin-left: 12px !important
}

.mr-12 {
    margin-right: 12px !important
}

.mt-12 {
    margin-top: 12px !important
}

.mb-12 {
    margin-bottom: 12px !important
}

.mx-12 {
    margin-right: 12px !important;
    margin-left: 12px !important
}

.my-12 {
    margin-top: 12px !important;
    margin-bottom: 12px !important
}

.pa-12 {
    padding: 12px !important
}

.pl-12 {
    padding-left: 12px !important
}

.pr-12 {
    padding-right: 12px !important
}

.pt-12 {
    padding-top: 12px !important
}

.pb-12 {
    padding-bottom: 12px !important
}

.px-12 {
    padding-right: 12px !important;
    padding-left: 12px !important
}

.py-12 {
    padding-top: 12px !important;
    padding-bottom: 12px !important
}

.ma-20 {
    margin: 20px !important
}

.ml-20 {
    margin-left: 20px !important
}

.mr-20 {
    margin-right: 20px !important
}

.mt-20 {
    margin-top: 20px !important
}

.mb-20 {
    margin-bottom: 20px !important
}

.mx-20 {
    margin-right: 20px !important;
    margin-left: 20px !important
}

.my-20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important
}

.pa-20 {
    padding: 20px !important
}

.pl-20 {
    padding-left: 20px !important
}

.pr-20 {
    padding-right: 20px !important
}

.pt-20 {
    padding-top: 20px !important
}

.pb-20 {
    padding-bottom: 20px !important
}

.px-20 {
    padding-right: 20px !important;
    padding-left: 20px !important
}

.py-20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important
}


// 10

.pa-10 {
    padding: 10px !important
}

.pl-10 {
    padding-left: 10px !important
}

.pr-10 {
    padding-right: 10px !important
}

.pt-10 {
    padding-top: 10px !important
}

.pb-10 {
    padding-bottom: 10px !important
}

.px-10 {
    padding-right: 10px !important;
    padding-left: 10px !important
}

.py-10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important
}


.ma-10 {
    margin: 10px !important
}

.ml-10 {
    margin-left: 10px !important
}

.mr-10 {
    margin-right: 10px !important
}

.mt-10 {
    margin-top: 10px !important
}

.mb-10 {
    margin-bottom: 10px !important
}

.mx-10 {
    margin-right: 10px !important;
    margin-left: 10px !important
}

.my-10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important
}


// 36

.pa-36 {
    padding: 36px !important
}

.pl-36 {
    padding-left: 36px !important
}

.pr-36 {
    padding-right: 36px !important
}

.pt-36 {
    padding-top: 36px !important
}

.pb-36 {
    padding-bottom: 36px !important
}

.px-36 {
  padding-right: 36px !important;
  padding-left: 36px !important
}

.py-36 {
  padding-top: 36px !important;
  padding-bottom: 36px !important
}


.ma-36 {
  margin: 36px !important
}

.ml-36 {
  margin-left: 36px !important
}

.mr-36 {
  margin-right: 36px !important
}

.mt-36 {
  margin-top: 36px !important
}

.mb-36 {
  margin-bottom: 36px !important
}

.mx-36 {
  margin-right: 36px !important;
  margin-left: 36px !important
}

.my-36 {
  margin-top: 36px !important;
  margin-bottom: 36px !important
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pos-relative {
  position: relative
}

.pos-absolute {
  position: absolute
}

.pos-fixed {
  position: fixed
}

.bottom-pos {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%)
}
  
.fixed-layout {
  position: fixed;
  background-color: white;
  width: 100%;
  bottom: 0px
}