<template>
  <div v-if="
    isLoaded.portfolio && 
    isLoaded.product && 
    isLoaded.customAsset && 
    isLoaded.wallet && 
    isLoaded.lifeplanBrief && 
    lifeplans !== null"
    class="portfolio-dashboard-new"
  >
    <!-- Portfolio Brief -->
    <template>
      <div class="wrap-header px-20 bg-primary-3 pos-fixed full-width" style="z-index: 10">
        <v-card-text class="nexa-16-bold color-text-1 text-xs-center pb-3">
          Portofolio
        </v-card-text>
        <v-card-text class="avenir-12-reg pb-1">
          Total Saldo
        </v-card-text>
        <v-card-text class="avenir-18-bold color-text-1 pb-3">
          Rp {{numberingNumber(portfolio.amount)}}
        </v-card-text>

        <v-layout row justify-space-between>
          <div class="">
            <v-card-text class="avenir-12-reg pb-1">
              Laba/Rugi
            </v-card-text>
            <v-card-text class="avenir-14-med">
              Rp {{numberingNumber(portfolio.gainLossAmount)}}
            </v-card-text>
          </div>
          <div class="text-xs-right">
            <v-card-text class="avenir-12-reg pb-1">
              Pertumbuhan
            </v-card-text>
            <v-card-text class="avenir-14-med">
              <span class="right right pl-1">{{numberingNumber(roundUp(portfolio.gainLossPercentage, 2))}}%</span>
              <img v-if="portfolio.gainLossPercentage > 0" src="@/assets/finavest/portfolio/v2/icon-up-green.svg" class="icon-up">
              <img v-if="portfolio.gainLossPercentage < 0" src="@/assets/finavest/portfolio/v2/icon-down-red.svg" class="icon-up">
            </v-card-text>

            <!-- clear float -->
            <div class="clear"></div>
          </div>
        </v-layout>
      </div>
    </template>
    <div style="height: 172px"></div>
    <v-card-text class="nexa-14-bold title-nexa px-20">
      Pembagian Portfolio
    </v-card-text>

    <!-- doesnt have lifeplan -->
    <template v-if="lifeplans.length === 0">
      <div class="px-20 pb-3">
        <div class="wrapper-card bg-primary-3">
          <v-layout column justify-center align-center class="card-body px-3 pt-4">
            <img src="@/assets/finavest/portfolio/v2/card-lifeplan.svg" class="illustration-card-no-exist" alt="lifeplan illustration">

            <v-card-text class="color-text-1 nexa-16-bold pt-2 mt-1 pb-2 text-xs-center">
              Kamu belum punya Lifeplan
            </v-card-text>

            <v-card-text class="avenir-12-reg text-xs-center color-text-1 pb-3 mb-1">
              Buat lifeplan dan mulai rutin menabung. Fina bakal kasih rekomendasi nabung yang tepat.
            </v-card-text>

          </v-layout>

          <!-- card footer -->
          <div class="card-footer">
            <v-card-text class="title-nexa nexa-14-bold color-brand-1 text-xs-center" @click="$router.push('/finavest/new/lifeplan/add')">
              Buat Lifeplan
            </v-card-text>
          </div>

        </div>
      </div>
    </template>

    <!-- no investment -->
    <template v-else-if="lifeplanBrief.total_buy === 0">
      <div class="px-20 pb-3">
        <div class="wrapper-card bg-primary-3">
          <v-layout column justify-center align-center class="card-body px-3 pt-4">
            <img src="@/assets/finavest/portfolio/v2/card-lifeplan.svg" class="illustration-card-no-exist" alt="lifeplan illustration">

            <v-card-text class="color-text-1 nexa-16-bold pt-2 mt-1 pb-2 text-xs-center">
              Belum ada tabungan lifeplan
            </v-card-text>

            <v-card-text class="avenir-12-reg text-xs-center color-text-1 pb-3 mb-1">
              Kalo ga sekarang kapan lagi? Makin ditunda makin berat untuk mencapai mimpimu.
            </v-card-text>

          </v-layout>

          <!-- card footer -->
          <div class="card-footer">
            <v-card-text class="title-nexa nexa-14-bold color-brand-1 text-xs-center" @click="$router.push('/finavest/new/lifeplan/dashboard')">
              Nabung Sekarang
            </v-card-text>
          </div>

        </div>
      </div>
    </template>

    <!-- available -->
    <template v-else>
      <div class="px-20 pb-3">
        <div class="wrapper-card bg-primary-3">
          <div class="card-body px-3">

            <img class="illustration-card" src="@/assets/finavest/portfolio/v2/card-lifeplan.svg" alt="lifeplan illustration">

            <template>
              <v-card-text class="pt-21 nexa-18-bold color-text-1">
                Lifeplan
              </v-card-text>
              <v-card-text class="avenir-12-reg text-color-3 pb-4">
                Tabungan masa depan ciamik
              </v-card-text>
            </template>

            <template>
              <v-layout row justify-space-between pb-4>
                <div class="">
                  <v-card-text class="avenir-10-reg pb-1 color-text-1">
                    Total Saldo
                  </v-card-text>
                  <v-card-text class="avenir-16-bold">
                    Rp {{numberingNumber(lifeplanBrief.amount, true)}}
                  </v-card-text>
                </div>
                <div class="text-xs-right">
                  <v-card-text class="avenir-10-reg pb-1 color-text-1">
                    Pertumbuhan
                  </v-card-text>
                  <v-card-text class="avenir-14-med">
                    <span class="right right pl-1">{{numberingNumber(roundUp(lifeplanBrief.gainLossPercentage, 2))}}%</span>
                    <img v-if="lifeplanBrief.gainLossPercentage > 0" src="@/assets/finavest/portfolio/v2/icon-up-green.svg" class="icon-up">
                    <img v-if="lifeplanBrief.gainLossPercentage < 0" src="@/assets/finavest/portfolio/v2/icon-down-red.svg" class="icon-up">
                  </v-card-text>
                  <!-- clear float -->
                  <div class="clear"></div>
                </div>
              </v-layout>
            </template>

            <template>
              <v-layout row justify-space-between pb-4>
                <div class="">
                  <v-card-text class="avenir-10-reg pb-1 color-text-1">
                    Modal Beli
                  </v-card-text>
                  <v-card-text class="avenir-14-med">
                    Rp {{numberingNumber(lifeplanBrief.totalBuy, true)}}
                  </v-card-text>
                </div>
                <div class="text-xs-right">
                  <v-card-text class="avenir-10-reg pb-1 color-text-1">
                    Laba/Rugi
                  </v-card-text>
                  <v-card-text class="avenir-14-med">
                    <span :class="lifeplanBrief.gainLossAmount < 0 ? 'right right color-down' : 'right right color-up'">Rp {{numberingNumber(lifeplanBrief.gainLossAmount, true)}}</span>
                  </v-card-text>
                  <!-- clear float -->
                  <div class="clear"></div>
                </div>
              </v-layout>
            </template>
          </div>

          <!-- card footer -->
          <div class="card-footer">
            <v-card-text @click="goDetail('lifeplan')" class="title-nexa nexa-14-bold color-brand-1 text-xs-center">
              Lihat Detail
            </v-card-text>
          </div>
        </div>
      </div>
    </template>
    <!-- card smart saving -->

    <!-- available -->
    <template v-if="smartSaving.totalUnit > 0 && smartSaving.product !== null">
      <div class="px-20 pb-3">
        <div class="wrapper-card bg-primary-3">
          <div class="card-body px-3">

            <img class="illustration-card smartsaving" src="@/assets/finavest/portfolio/v2/card-smart-saving.svg" alt="Smart Saving illustration">

            <template>
              <v-card-text class="pt-21 nexa-18-bold color-text-1">
                Smart Saving
              </v-card-text>
              <v-card-text class="avenir-12-reg text-color-3 pb-4">
                Tabungan buat jaga-jaga
              </v-card-text>
            </template>

            <template>
              <v-layout row justify-space-between pb-4>
                <div class="">
                  <v-card-text class="avenir-10-reg pb-1 color-text-1">
                    Total Saldo
                  </v-card-text>
                  <v-card-text class="avenir-16-bold">
                    Rp {{numberingNumber(smartSaving.amount, true)}}
                  </v-card-text>
                </div>
                <div class="text-xs-right">
                  <v-card-text class="avenir-10-reg pb-1 color-text-1">
                    Pertumbuhan
                  </v-card-text>
                  <v-card-text class="avenir-14-med">
                    <span class="right right pl-1">{{numberingNumber(roundUp(smartSaving.gainLossPercentage, 2))}}%</span>
                    <img v-if="smartSaving.gainLossPercentage > 0" src="@/assets/finavest/portfolio/v2/icon-up-green.svg" class="icon-up">
                    <img v-if="smartSaving.gainLossPercentage < 0" src="@/assets/finavest/portfolio/v2/icon-down-red.svg" class="icon-up">
                  </v-card-text>

                  <!-- clear float -->
                  <div class="clear"></div>
                </div>
              </v-layout>
            </template>

            <template>
              <v-layout row justify-space-between pb-4>
                <div class="">
                  <v-card-text class="avenir-10-reg pb-1 color-text-1">
                    Modal Beli
                  </v-card-text>
                  <v-card-text class="avenir-14-med">
                    Rp {{numberingNumber(smartSaving.totalBuy, true)}}
                  </v-card-text>
                </div>
                <div class="text-xs-right">
                  <v-card-text class="avenir-10-reg pb-1 color-text-1">
                    Laba/Rugi
                  </v-card-text>
                  <v-card-text class="avenir-14-med">
                    <span :class="smartSaving.gainLossAmount < 0 ? 'right right color-down' : 'right right color-up'">Rp {{numberingNumber(smartSaving.gainLossAmount, true)}}</span>
                  </v-card-text>

                  <!-- clear float -->
                  <div class="clear"></div>
                </div>
              </v-layout>
            </template>

          </div>

          <!-- card footer -->
          <div class="card-footer">
            <v-card-text @click="goDetail('saving')" class="title-nexa nexa-14-bold color-brand-1 text-xs-center">
              Lihat Detail
            </v-card-text>
          </div>

        </div>
      </div>
    </template>

    <!-- not available -->
    <template v-else>
      <div class="px-20 pb-3">
        <div class="wrapper-card bg-primary-3">
          <v-layout column justify-center align-center class="card-body px-3 pt-4">
            <img :src="require('@/assets/finavest/portfolio/v2/card-smart-saving.svg')" class="illustration-card-no-exist" alt="smart-saving illustration" />

            <v-card-text class="color-text-1 nexa-16-bold pt-2 mt-1 pb-2 text-xs-center">
              Smart Saving
            </v-card-text>

            <v-card-text class="avenir-12-reg text-xs-center color-text-1 pb-3 mb-1">
              Nabung jadi lebih nyaman, mudah, dan menguntungkan. Bisa ambil kapanpun kamu mau.
            </v-card-text>

          </v-layout>

          <!-- card footer -->
          <div class="card-footer">
            <v-card-text class="title-nexa nexa-14-bold color-brand-1 text-xs-center" @click="$router.push('/finavest/investment/smart_saving/detail/1')">
              Mulai Nabung
            </v-card-text>
          </div>

        </div>
      </div>
    </template>

    <!-- card suka suka -->
    <div v-if="checkFeatures('halofina:product_market').enabled === true">
      <!-- available -->
      <template v-if="customAsset !== null && customAsset.totalBuy > 0">
        <div class="px-20 pb-3">
          <div class="wrapper-card bg-primary-3">
            <div class="card-body px-3">

              <img class="illustration-card" src="@/assets/finavest/portfolio/v2/card-suka-suka.svg" alt="lifeplan illustration">

              <template>
                <v-card-text class="pt-21 nexa-18-bold color-text-1">
                  Aset Bebas
                </v-card-text>
                <v-card-text class="avenir-12-reg text-color-3 pb-4">
                  Tabungan mulai aja dulu
                </v-card-text>
              </template>

              <template>
                <v-layout row justify-space-between pb-4>
                  <div class="">
                    <v-card-text class="avenir-10-reg pb-1 color-text-1">
                      Total Saldo
                    </v-card-text>
                    <v-card-text class="avenir-16-bold">
                      Rp {{numberingNumber(customAsset.amount, true)}}
                    </v-card-text>
                  </div>
                  <div class="text-xs-right">
                    <v-card-text class="avenir-10-reg pb-1 color-text-1">
                      Pertumbuhan
                    </v-card-text>
                    <v-card-text class="avenir-14-med">
                      <span class="right right pl-1">{{numberingNumber(roundUp(customAsset.gainLossPercentage, 2))}}%</span>
                      <img v-if="customAsset.gainLossPercentage > 0" src="@/assets/finavest/portfolio/v2/icon-up-green.svg" class="icon-up">
                      <img v-if="customAsset.gainLossPercentage < 0" src="@/assets/finavest/portfolio/v2/icon-down-red.svg" class="icon-up">
                    </v-card-text>

                    <!-- clear float -->
                    <div class="clear"></div>
                  </div>
                </v-layout>
              </template>

              <template>
                <v-layout row justify-space-between pb-4>
                  <div class="">
                    <v-card-text class="avenir-10-reg pb-1 color-text-1">
                      Modal Beli
                    </v-card-text>
                    <v-card-text class="avenir-14-med">
                      Rp {{numberingNumber(customAsset.totalBuy, true)}}
                    </v-card-text>
                  </div>
                  <div class="text-xs-right">
                    <v-card-text class="avenir-10-reg pb-1 color-text-1">
                      Laba/Rugi
                    </v-card-text>
                    <v-card-text class="avenir-14-med">
                      <span :class="customAsset.gainLossAmount < 0 ? 'right right color-down' : 'right right color-up'">Rp {{numberingNumber(customAsset.gainLossAmount, true)}}</span>
                    </v-card-text>

                    <!-- clear float -->
                    <div class="clear"></div>
                  </div>
                </v-layout>
              </template>

            </div>

            <!-- card footer -->
            <div class="card-footer">
              <v-card-text class="title-nexa nexa-14-bold color-brand-1 text-xs-center" @click="goToCustomAsset(true)">
                Lihat Detail
              </v-card-text>
            </div>

          </div>
        </div>
      </template>

      <!-- not available -->
      <template v-else>
        <div class="px-20 pb-3">
          <div class="wrapper-card bg-primary-3">
            <v-layout column justify-center align-center class="card-body px-3 pt-4">
              <img src="@/assets/finavest/portfolio/v2/card-suka-suka.svg" class="illustration-card-no-exist" alt="smart-saving illustration">

              <v-card-text class="color-text-1 nexa-16-bold pt-2 mt-1 pb-2 text-xs-center">
                Aset Bebas
              </v-card-text>

              <v-card-text class="avenir-12-reg text-xs-center color-text-1 pb-3 mb-1">
                Pengen investasi sesuka kamu? Tinggal cari lalu beli. Kalau bagus bisa pindahin ke lifeplan juga.
              </v-card-text>

            </v-layout>

            <!-- card footer -->
            <div class="card-footer">
              <v-card-text class="title-nexa nexa-14-bold color-brand-1 text-xs-center" @click="goToCustomAsset(false)">
                Mulai Nabung
              </v-card-text>
            </div>

          </div>
        </div>
      </template>
    </div>
  </div>
  <div v-else>
    <shimmering-template></shimmering-template>
  </div>
</template>
<script>
import { numberingNumber, roundUp, checkFeatures } from '@/services/Helpers'
const ShimmeringTemplate = () => import('@/components/v2/shimmering/Portfolio')

export default {
  components: {
    ShimmeringTemplate
  },
  data () {
    return {
      cardData: []
    }
  },
  props: {
    lifeplans: {
      type: Array,
      default: null
    },
    smartSaving: {
      type: Object
    },
    portfolio: {
      type: Object
    },
    lifeplanBrief: {
      type: Object
    },
    customAsset: {
      type: Object,
      default: null
    },
    isLoaded: {
      type: Object
    }
  },
  methods: {
    numberingNumber,
    roundUp,
    checkFeatures,
    goToCustomAsset (hasCustom) {
      if (hasCustom) {
        this.$router.push('/finavest/new/portfolio/custom')
      } else {
        this.$router.push('/finavest/market/dashboard')
      }
    },
    goDetail (value) {
      if (value === 'lifeplan') {
        this.$router.push('/finavest/new/portfolio/detail')
      } else if (value === 'saving') {
        this.$router.push('/finavest/investment/smart_saving/detail/1')
      }
    },
    pushLifeplanToCard (data) {
      if (this.lifeplans.length === 0) {
        this.pushToCard({
          title: 'Kamu belum punya Lifeplan',
          description: 'Buat lifeplan dan mulai rutin menabung. Fina bakal kasih rekomendasi nabung yang tepat.',
          route: '/finavest/new/lifeplan/add',
          button: 'Buat Lifeplan'
        })
      } else if (data.total_buy === 0) {
        this.pushToCard({
          title: 'Belum ada tabungan lifeplan',
          description: 'Kalo ga sekarang kapan lagi? Makin ditunda makin berat untuk mencapai mimpimu.',
          route: '/finavest/new/lifeplan/dashboard',
          button: 'Nabung Sekarang'
        })
      } else {
        this.pushToCard({...data, route: '/finavest/new/portfolio/detail'})
      }
    },
    pushAssetToCard (data) {
      if (data.total_buy > 0) {
        this.pushToCard({
          ...data,
          route: '/finavest/new/portfolio/custom',
          button: 'Lihat Detail'
        })
      } else {
        this.pushToCard({
          title: 'Aset Bebas',
          description: 'Pengen investasi sesuka kamu? Tinggal cari lalu beli. Kalau bagus bisa pindahin ke lifeplan juga.',
          route: '/finavest/market/dashboard',
          button: 'Mulai Nabung'
        })
      }
    },
    pushSmartSavingToCard (data) {
      if (data.total_buy > 0) {
        this.pushToCard({
          ...data,
          route: '/finavest/new/portfolio/custom',
          button: 'Lihat Detail'
        })
      } else {
        this.pushToCard({
          title: 'Smart Saving',
          description: 'Nabung jadi lebih nyaman, mudah, dan menguntungkan. Bisa ambil kapanpun kamu mau.',
          route: '/finavest/investment/smart_saving/detail/1',
          button: 'Mulai Nabung'
        })
      }
    },
    pushToCard (data) {
      this.cardData.push(data)
    }
  }
}
</script>
<style lang="sass">
  .portfolio-dashboard-new
    *
      padding: 0
      margin: 0

    .pt-21
      padding-top: 21px

    .wrap-header
      padding-top: 18px
      padding-bottom: 18px
      background-image: url('../../../../assets/finavest/portfolio/v2/background-header.svg')
      background-size: cover
      box-shadow: 0px 4px 10px rgba(23, 23, 23, 0.05)

    .title-nexa
      padding-top: 19px
      padding-bottom: 19px

    .clear
      clear: right

    .icon-up
      margin-bottom: -3px

    .wrapper-card
      border-radius: 8px
      border: 1px solid #E8EAEF
      box-shadow: 0px 6px 10px rgba(139, 139, 139, 0.07)

    .color-up
      color: #17CF82

    .color-down
      color: #FF6767

    .card-body
      position: relative

    .card-footer
      border-top: 1px solid #E8EAEF

    .illustration-card
      right: 16px
      top: 15px
      position: absolute

    .illustration-card-no-exist
      height: 85px
      width: auto

    .illustration-card.smartsaving
      right: 5px


</style>
