<template>
  <!-- If Loading not Done -->
  <div v-if="loadingDone === false">
    <v-container>
      <v-layout column justify-center align-center class="full-height">
        <reusable-loading></reusable-loading>
      </v-layout>
    </v-container>
  </div>

  <div v-else class="portfolio-detail-new bg-primary-3" :style="'min-height:' + screenHeight + 'px;'">
    <reusable-toolbar page-name=""></reusable-toolbar>
    <template>
      <div class="pb-3 pt-2">
        <div class="wrapper-card bg-primary-3">
          <div class="card-body px-3">

            <img class="illustration-card" src="@/assets/finavest/portfolio/v2/card-lifeplan.svg" alt="lifeplan illustration">

            <template>
              <v-card-text class="pt-21 nexa-18-bold color-text-2 pt-4">
                Portfolio Lifeplan
              </v-card-text>
              <v-card-text class="avenir-12-reg text-color-3 pb-4 mb-2">
                Tabungan masa depan ciamik
              </v-card-text>
            </template>

            <template>
              <v-layout row justify-space-between pb-4>
                <div class="">
                  <v-card-text class="avenir-12-reg pb-1 color-text-1">
                    Total Saldo
                  </v-card-text>
                  <v-card-text class="avenir-16-bold">
                    Rp {{numberingNumber(lifeplan.total_balance, true)}}
                  </v-card-text>
                </div>
                <div class="text-xs-right">
                  <v-card-text class="avenir-12-reg pb-1 color-text-1">
                    Pertumbuhan
                  </v-card-text>
                  <v-card-text class="avenir-14-med">
                    <span class="right right pl-1">{{numberingNumber(roundUp(lifeplan.gain_percentage, 2), true)}}%</span>
                    <img v-if="lifeplan.gain_percentage > 0" src="@/assets/finavest/portfolio/v2/icon-up-green.svg" class="icon-up">
                    <img v-if="lifeplan.gain_percentage < 0" src="@/assets/finavest/portfolio/v2/icon-down-red.svg" class="icon-up">
                  </v-card-text>

                  <!-- clear float -->
                  <div class="clear"></div>
                </div>
              </v-layout>
            </template>

            <template>
              <v-layout row justify-space-between pb-4>
                <div class="">
                  <v-card-text class="avenir-12-reg pb-1 color-text-1">
                    Modal Beli
                  </v-card-text>
                  <v-card-text class="avenir-14-med">
                    Rp {{numberingNumber(lifeplan.total_buy, true)}}
                  </v-card-text>
                </div>
                <div class="text-xs-right">
                  <v-card-text class="avenir-12-reg pb-1 color-text-1">
                    Laba/Rugi
                  </v-card-text>
                  <v-card-text class="avenir-14-med">
                    <span :class="lifeplan.gain_loss_amount < 0 ? 'right right color-down' : 'right right color-up'">Rp {{numberingNumber(lifeplan.gain_loss_amount, true)}}</span>
                  </v-card-text>

                  <!-- clear float -->
                  <div class="clear"></div>
                </div>
              </v-layout>
            </template>

          </div>

        </div>
      </div>
    </template>

    <template>
      <!-- Asset and Lifeplan -->
      <v-layout row wrap>
        <v-flex xs12>
          <v-tabs centered grow class="tabs-portfolio">
            <!-- Tab Title -->
            <v-tab active-class="active-tab">
              Kelas Aset
            </v-tab>
            <v-tab active-class="active-tab">
              Lifeplan
            </v-tab>
            <!-- analysis -->
            <v-tab-item>
              <my-asset />
            </v-tab-item>
            <!-- my asset -->
            <v-tab-item>
              <lifeplan :lifeplan-props="lifeplanProps" />
            </v-tab-item>
          </v-tabs>
        </v-flex>
      </v-layout>
    </template>

  </div>
</template>
<script>
// import api
import ApiGet from '@/services/ApiGet'

//
import { numberingNumber, roundUp } from '@/services/Helpers'

import {
  VTabs,
  VTab,
  VTabItem
} from 'vuetify/lib'

import MyAsset from './MyAsset'
import Lifeplan from './Lifeplan'

export default {
  components: {
    VTabs,
    VTab,
    VTabItem,
    MyAsset,
    Lifeplan
  },
  data: () => ({
    screenHeight: screen.height,
    lifeplan: null,
    assets: null,
    lifeplanProps: null,
    loadingDone: false
  }),
  methods: {
    numberingNumber,
    roundUp,
    fetchLifeplan () {
      ApiGet('v1/investment/lifeplan/brief', {})
        .then((res) => {
          this.lifeplan = res.d
          this.loadingDone = true
        }).catch(() => {})
    },
    fetchLifeplanProps () {
      ApiGet('v1/investment/lifeplan/group/lifeplan', {})
        .then((res) => {
          this.lifeplanProps = res.d
          this.loadingDone = true
        }).catch(() => {})
    }
  },
  created () {
    this.fetchLifeplan()
    this.fetchLifeplanProps()
  }
}
</script>
<style lang="sass">
  .portfolio-detail-new
    *
      padding: 0
      margin: 0

    .v-toolbar
      position: relative !important

    .illustration-card
      width: 75px
      right: 16px
      top: 5px
      position: absolute

    .card-body
      position: relative

    .icon-up
      margin-bottom: -3px

    .color-up
      color: #17CF82

    .color-down
      color: #FF6767

    .v-tabs__item
      opacity: 1
      color: #AAADC4
      font-weight: 100
      font-size: 16px

    .v-tabs__item.active-tab
      color: #42A5F5
      opacity: 1
      font-weight: bold
      font-size: 16px


</style>
