<template>
  <div class="portfolio-lifeplan-detail-new" :style="$helpers.minHeight()">
    <reusable-toolbar page-name=""></reusable-toolbar>
    <template v-if="isLoaded">
      <template>
        <div class="pb-3 pt-2 bg-primary-3">
          <div class="wrapper-card bg-primary-3">
            <div class="card-body px-3">

              <reusable-image-lifeplan :type="lifeplanDetail.type" style-image="width: 92px; height: auto; right: 15px; top: 0px; position: absolute;" />

              <template>
                <v-card-text v-if="lifeplanDetail.subtype === '' || lifeplanDetail.subtype === null" class="pt-21 nexa-18-bold color-text-2 pt-4 pr-90">
                  {{lifeplanDetail.type}}
                </v-card-text>
                <v-card-text v-else class="pt-21 nexa-18-bold color-text-2 pt-4 pr-90">
                  {{lifeplanDetail.subtype}}
                </v-card-text>
                <v-card-text class="avenir-12-reg text-color-3 pb-4 mb-2">
                  {{ dateFormat(lifeplanDetail.target_time, 'MMMM YYYY') }}
                </v-card-text>
              </template>

              <template>
                <v-layout row justify-space-between pb-4>
                  <div class="">
                    <v-card-text class="avenir-12-reg pb-1 color-text-1">
                      Total Saldo
                    </v-card-text>
                    <v-card-text class="avenir-16-bold">
                      Rp {{numberingNumber(lifeplanDetail.total_balance, true)}}
                    </v-card-text>
                  </div>
                  <div class="text-xs-right">
                    <v-card-text class="avenir-12-reg pb-1 color-text-1">
                      Pertumbuhan
                    </v-card-text>
                    <v-card-text class="avenir-14-med">
                      <span class="right pl-1">{{numberingNumber(roundUp(lifeplanDetail.gain_percentage, 2), true)}}%</span>
                      <img v-if="lifeplanDetail.gain_percentage > 0" src="@/assets/finavest/portfolio/v2/icon-up-green.svg" class="icon-up">
                      <img v-if="lifeplanDetail.gain_percentage < 0" src="@/assets/finavest/portfolio/v2/icon-down-red.svg" class="icon-up">
                    </v-card-text>

                    <!-- clear float -->
                    <div class="clear"></div>
                  </div>
                </v-layout>
              </template>

              <template>
                <v-layout row justify-space-between pb-4>
                  <div class="">
                    <v-card-text class="avenir-12-reg pb-1 color-text-1">
                      Modal Beli
                    </v-card-text>
                    <v-card-text class="avenir-14-med">
                      Rp {{numberingNumber(lifeplanDetail.total_buy, true)}}
                    </v-card-text>
                  </div>
                  <div class="text-xs-right">
                    <v-card-text class="avenir-12-reg pb-1 color-text-1">
                      Laba/Rugi
                    </v-card-text>
                    <v-card-text class="avenir-14-med">
                      <span :class="lifeplanDetail.gain_loss_amount < 0 ? 'right right color-down' : 'right right color-up'">Rp {{numberingNumber(lifeplanDetail.gain_loss_amount, true)}}</span>
                    </v-card-text>

                    <!-- clear float -->
                    <div class="clear"></div>
                  </div>
                </v-layout>
              </template>

            </div>

          </div>
        </div>
      </template>

      <template>
        <!-- Asset and Lifeplan -->
        <v-layout row wrap>
          <v-flex xs12>
            <v-tabs centered grow class="tabs-portfolio">
              <!-- Tab Title -->
              <v-tab active-class="active-tab">
                Kelas Aset
              </v-tab>
              <v-tab active-class="active-tab">
                Produk
              </v-tab>

              <!-- Assets -->
              <v-tab-item>
                <my-asset-detail :assets-props="assets"></my-asset-detail>
              </v-tab-item>

              <!-- product -->
              <v-tab-item>
                <product-lifeplan :product-props="product"></product-lifeplan>
              </v-tab-item>
            </v-tabs>
          </v-flex>
        </v-layout>
      </template>
    </template>
    <template v-else>
      <v-layout column align-center justify-center :style="$helpers.minHeight()" class="bg-primary-3">
        <reusable-loading></reusable-loading>
      </v-layout>
    </template>
  </div>
</template>
<script>

// import component
import ProductLifeplan from './ProductLifeplan'
import MyAssetDetail from './MyAssetDetail'

// import api
import Api from '@/services/Api'

// import reusable img lifeplan
import ReusableImageLifeplan from '@/components/reusable/ReusableImageLifeplan'

// import function global
import { numberingNumber, roundUp, dateFormat } from '@/services/Helpers'

import {
  VTabs,
  VTab,
  VTabItem
} from 'vuetify/lib'

export default {
  components: {
    VTabs,
    VTab,
    VTabItem,
    MyAssetDetail,
    ProductLifeplan,
    ReusableImageLifeplan
  },
  data: () => ({
    screenHeight: screen.height,
    lifeplanDetail: null,
    assets: null,
    product: null,
    lifeplanId: 0,
    isLoaded: false
  }),
  methods: {
    numberingNumber,
    roundUp,
    dateFormat,
    fetchDetail () {
      Api('v1/investment/lifeplan/detail', {
        id_lifeplan: Number(this.lifeplanId)
      })
        .then((res) => {
          this.lifeplanDetail = res.d
          this.isLoaded = true
        }).catch(() => {})
    },
    fetchAssets () {
      Api('v1/investment/lifeplan/list/class-asset', {
        id_lifeplan: Number(this.lifeplanId)
      })
        .then((res) => {
          this.assets = res.d
        }).catch(() => {})
    },
    fetchProduct () {
      Api('v1/investment/lifeplan/list/product', {
        id_lifeplan: Number(this.lifeplanId)
      })
        .then((res) => {
          this.product = res.d
        }).catch(() => {})
    }
  },
  created () {
    this.lifeplanId = this.$route.params.id
    this.fetchDetail()
    this.fetchAssets()
    this.fetchProduct()
  }
}
</script>
<style lang="sass">
  .portfolio-lifeplan-detail-new
    *
      padding: 0
      margin: 0

    .pr-90
      padding-right: 90px

    .v-toolbar
      position: relative !important

    .illustration-card
      width: 75px
      right: 16px
      top: 5px
      position: absolute

    .card-body
      position: relative

    .icon-up
      margin-bottom: -3px

    .color-up
      color: #17CF82

    .color-down
      color: #FF6767

    .v-tabs__item
      opacity: 1
      color: #AAADC4
      font-weight: 100
      font-size: 16px

    .v-tabs__item.active-tab
      color: #42A5F5
      opacity: 1
      font-weight: bold
      font-size: 16px


</style>
