<template>
  <div class="portfolio-lifeplan-detail">
    <v-layout column mb-4>
      <v-layout column class="bg-primary-3 wrap-card" @click="gotoDetail(datas.id_lifeplan)" py-4 v-for="(datas, index) in lifeplanProps" :key="index">
        <v-layout row pl-3 wrap align-center v-if="datas.subtype !== 'smartsaving'">
          <v-flex xs2>
            <reusable-image-lifeplan style-image="width: 66px; height: 66px;" :type="datas.type" />
          </v-flex>
          <v-flex xs10>
            <v-layout row wrap align-start justify-space-between pr-20 pl-3>
              <v-flex xs10>
                <div class="sub-title avenir-16-med color-text-1 text-truncate pt-1">{{datas.subtype === null ? datas.type : datas.subtype}}</div>
              </v-flex>
              <v-flex xs2 class="text-xs-right">
                <img src="@/assets/finavest/portfolio/v2/icon-chevron-right.svg" class="text-xs-right" alt="">
              </v-flex>
              <v-flex xs7 class="pt-2">
                <v-card-text class="color-text-3 avenir-12-reg pb-1">
                  Total Tabungan
                </v-card-text>
                <v-card-text class="color-text-1 avenir-14-reg">
                  Rp {{numberingNumber(datas.total_saving, true)}}
                </v-card-text>
              </v-flex>
              <v-flex xs5 class="pt-2 text-xs-right">
                <v-card-text class="color-text-3 avenir-12-reg pb-1">
                  Laba/Rugi
                </v-card-text>
                <v-card-text :class="datas.gain_loss_amount < 0 ? 'avenir-14-reg color-down' : ' avenir-14-reg color-up'">
                  Rp {{numberingNumber(datas.gain_loss_amount)}}
                </v-card-text>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-layout>
    </v-layout>
  </div>
</template>
<script>
// import reusable image assets
import ReusableImageLifeplan from '@/components/reusable/ReusableImageLifeplan'
// import highchart
import VueHighChart from 'vue2-highcharts'
// import global function
import { numberingNumber, roundUp } from '@/services/Helpers'

export default {
  components: {
    ReusableImageLifeplan,
    VueHighChart
  },
  props: ['lifeplanProps'],
  data: () => ({
  }),
  methods: {
    numberingNumber,
    roundUp,
    gotoDetail (id) {
      this.$router.push('/finavest/new/portfolio/lifeplan/detail/' + id)
    }
  }
}
</script>
<style lang="sass">
  .portfolio-lifeplan-detail
    .desc
      .title-card-aset

      .sub-title
        color: #A0A5B7

    .amount
      position: absolute
      right: 20px
      top: 26px

    .mt-n-5
      margin-top: -5px
      margin-left: -8px

    .ideal
      width: 100%
      padding: 12px 0
      border: 1px solid #E8EAEF
      border-radius: 8px

    .pos-relative
      position: relative

    .icon-ceklis
      position: absolute
      z-index: 10
      top: 25px
      left: 68%
      transform: translateX(50%)

    .color-up
      color: #17CF82

    .color-down
      color: #FF6767

    .wrap-card
      position: relative
      border-bottom: 2px solid #F9F9FB

    .wrap-card:nth-last-child(1)
      border-bottom: none !important



</style>
