<template>
  <div class="my-asset">
    <!-- if false not show graphic -->
    <v-layout column justify-center pt-3 class="pos-relative bg-primary-3">
      <!-- <img src="@/assets/finavest/portfolio/v2/icon-ceklis.svg" alt="icon ceklis" class="ic  on-ceklis"> -->

      <vue-high-chart class="my-0 pa-0 center-horizontal" classname="highcharts" style="height: 220px" :options="piePortfolioOptions.pieWithAsset" ref="pieChartWithAsset"></vue-high-chart>

      <v-layout column wrap justify-center class="px-20 pb-4">
        <!-- <v-card-text class="nexa-18-bold pb-2 text-xs-center">
          Portofolio kamu ideal
        </v-card-text> -->
        <v-card-text class="avenir-12-reg pb-4 text-xs-center color-text-1">
          Dengan portofolio sekarang kamu dapat <br /> memaksimalkan keuntungan tabunganmu untuk <br /> mencapai target lifeplan
        </v-card-text>
        <!-- <button class="ideal nexa-16-bold color-brand-1" v-if="assets !== null" @click="gotoIdeal()">Lihat Komposisi Ideal</button> -->
      </v-layout>

      <v-layout row>
        <div class="border-full-aset mt-1"></div>
      </v-layout>

    </v-layout>
    <v-layout column class="bg-primary-3">
      <v-layout column class="wrap-card" v-for="(datas, index) in assets" :key="index" justify-center>
        <v-layout row align-center pa-3>
          <reusable-image-asset :rounded="true" :type="datas.asset_name"></reusable-image-asset>
          <v-flex class="desc" ml-2>
            <div v-if="datas.asset_name === 'Emas'" class="sub-title avenir-12-reg color-text-3">Logam Mulia</div>
            <div v-else class="sub-title avenir-12-reg color-text-3">Reksa Dana</div>
            <div class="title-card-aset avenir-14-med">{{datas.asset_name.replace("Reksadana", "")}}</div>
          </v-flex>
          <v-flex class="avenir-14-bold color-text-1 text-align-right">
            Rp {{numberingNumber(datas.total_balance, true)}}
          </v-flex>
        </v-layout>
        <v-layout row>
          <div class="border-full-aset mt-1"></div>
        </v-layout>
      </v-layout>
    </v-layout>
  </div>
</template>
<script>
// import api
import ApiGet from '@/services/ApiGet'
// import reusable image assets
import ReusableImageAsset from '@/components/reusable/ReusableImageAsset'
// import global function
import { numberingNumber } from '@/services/Helpers'
// import highchart
import VueHighChart from 'vue2-highcharts'

export default {
  components: {
    ReusableImageAsset,
    VueHighChart
  },
  // props: ['assetsProps'],
  data: () => ({
    assets: null,
    piePortfolioOptions: {
      pieWithAsset: {
        chart: {
          type: 'pie'
        },
        credits: {
          enabled: false
        },
        tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage}%</b>'
        },
        plotOptions: {
          series: {
            dataLabels: {
              enabled: true,
              format: '',
              distance: -20,
              fontSize: 10,
              style: {
                color: 'white',
                fontWeight: 'normal',
                textShadow: false,
                textOutline: false,
                fontSize: 10
              }
            }
          }
        },
        size: '100%',
        title: false,
        yAxis: {
          title: false
        }
      }
    }
  }),
  methods: {
    numberingNumber,
    gotoIdeal () {
      this.$router.push('/finavest/new/portfolio/ideal/' + true)
    },
    fetchAssets () {
      ApiGet('v1/investment/lifeplan/group/class-asset', {})
        .then((res) => {
          this.assets = res.d
          this.setDataForChart(res.d)
        }).catch(() => {})
    },
    setDataForChart (item) {
      // set variable
      let rdtetap = 0
      let rduang = 0
      let emas = 0
      let rdcampuran = 0
      let rdsaham = 0

      // Loop for asset overall amount
      for (let i = 0; i < item.length; i++) {
        // if (item[i].asset_name) {
        switch (item[i].asset_name) {
          case 'Reksadana Pendapatan Tetap':
            rdtetap = Math.round(item[i].percentage)
            break
          case 'Reksadana Saham':
            rdsaham = Math.round(item[i].percentage)
            break
          case 'Reksadana Campuran':
            rdcampuran = Math.round(item[i].percentage)
            break
          case 'Reksadana Pasar Uang':
            rduang = Math.round(item[i].percentage)
            break
          case 'Emas':
            emas = Math.round(item[i].percentage)
            break
        }
        // }
      }

      // var maxAssets = Math.max(rdtetap, rduang, rdcampuran, rdsaham, emas)
      // if ((rdtetap + rduang + rdcampuran + rdsaham + emas) === 99) {
      //   if (rdtetap === maxAssets) {
      //     rdtetap += 1
      //   }
      //   if (rduang === maxAssets) {
      //     rduang += 1
      //   }
      //   if (rdcampuran === maxAssets) {
      //     rdcampuran += 1
      //   }
      //   if (rdsaham === maxAssets) {
      //     rdsaham += 1
      //   }
      //   if (emas === maxAssets) {
      //     emas += 1
      //   }
      // } else if ((rdtetap + rduang + rdcampuran + rdsaham + emas) === 101) {
      //   if (rdtetap === maxAssets) {
      //     rdtetap -= 1
      //   }
      //   if (rduang === maxAssets) {
      //     rduang -= 1
      //   }
      //   if (rdcampuran === maxAssets) {
      //     rdcampuran -= 1
      //   }
      //   if (rdsaham === maxAssets) {
      //     rdsaham -= 1
      //   }
      //   if (emas === maxAssets) {
      //     emas -= 1
      //   }
      // }
      setTimeout(() => {
        this.loadChart(rdsaham, rdcampuran, emas, rdtetap, rduang)
      }, 1000)
    },

    // push data to charts
    loadChart (rdsaham, rdcampuran, emas, rdtetap, rduang) {
      let series = []
      series.push({
        y: parseFloat(rdsaham),
        name: 'Reksa Dana Saham'
      })

      series.push({
        y: parseFloat(rdcampuran),
        name: 'Reksa Dana Campuran'
      })

      series.push({
        y: parseFloat(emas),
        name: 'Logam Mulia'
      })

      series.push({
        y: parseFloat(rdtetap),
        name: 'Reksa Dana Pendapatan Tetap'
      })

      series.push({
        y: parseFloat(rduang),
        name: 'Reksa Dana Pasar Uang'
      })

      this.$refs.pieChartWithAsset.addSeries({
        data: series,
        name: 'Persentase',
        colors: ['#FF8E8E', '#5ED0CF', '#FFD469', '#42A5F5', '#5ED07E'],
        innerSize: '30%',
        colorByPoint: true
      })
    }
  },
  created () {
    this.fetchAssets()
  }
}
</script>
<style lang="sass">
  .my-asset
    .wrap-card
      position: relative

    .desc
      .title-card-aset

      .sub-title
        color: #A0A5B7

    .border-full-aset
      width: 100%
      height: 1px
      border-bottom: 1px solid #E8EAEF

    .mt-n-5
      margin-top: -5px
      margin-left: -8px

    .ideal
      width: 100%
      padding: 12px 0
      border: 1px solid #E8EAEF
      border-radius: 8px

    .pos-relative
      position: relative

    .icon-ceklis
      position: absolute
      z-index: 10
      top: 25px
      left: 68%
      transform: translateX(50%)

</style>
