<template>
  <div class="my-asset">
    <!-- if false not show graphic -->
    <v-layout column class="bg-primary-3">
      <v-layout column class="wrap-card" v-for="(datas, index) in assetsProps" :key="index" justify-center>
        <v-layout row align-center pa-3>
          <reusable-image-asset :rounded="true" :type="datas.asset_name"></reusable-image-asset>
          <v-flex class="desc" ml-2>
            <div v-if="datas.asset_name !== 'Emas'" class="sub-title avenir-12-reg color-text-3">Reksa Dana</div>
            <div v-else class="sub-title avenir-12-reg color-text-3">Logam Mulia</div>
            <div class="title-card-aset avenir-14-med">{{datas.asset_name.replace("Reksadana", "")}}</div>
          </v-flex>
          <v-flex class="avenir-14-bold color-text-1 text-align-right">
            Rp {{numberingNumber(datas.amount, true)}}
          </v-flex>
        </v-layout>
        <v-layout row>
          <div class="border-full-aset mt-1"></div>
        </v-layout>
      </v-layout>
    </v-layout>
  </div>
</template>
<script>
// import reusable image assets
import ReusableImageAsset from '@/components/reusable/ReusableImageAsset'
// import global function
import { numberingNumber } from '@/services/Helpers'

export default {
  components: {
    ReusableImageAsset
  },
  props: ['assetsProps'],
  data: () => ({
  }),
  methods: {
    numberingNumber
  }
}
</script>
<style lang="sass">
  .my-asset
    .wrap-card
      position: relative

    .desc
      .title-card-aset

      .sub-title
        color: #A0A5B7

    .border-full-aset
      width: 100%
      height: 1px
      border-bottom: 1px solid #E8EAEF

    .mt-n-5
      margin-top: -5px
      margin-left: -8px

    .ideal
      width: 100%
      padding: 12px 0
      border: 1px solid #E8EAEF
      border-radius: 8px

    .pos-relative
      position: relative

    .icon-ceklis
      position: absolute
      z-index: 10
      top: 25px
      left: 68%
      transform: translateX(50%)

</style>
