<template>
  <div class="allocation-target bg-primary-3 pb-4" :style="'min-height: ' + screenHeight + 'px'">
    <reusable-toolbar page-name="Komposisi Portfolio Ideal" :left="true"></reusable-toolbar>
    <!-- Grafik -->
    <v-layout row wrap pt-4 pb-2 class="margin-negative">
      <v-flex xs6>
        <v-card-text class="text-xs-center avenir-14-reg">
          Sekarang
        </v-card-text>
      </v-flex>
      <v-flex xs6>
        <v-card-text class="text-xs-center avenir-14-reg">
          Ideal
        </v-card-text>
      </v-flex>
    </v-layout>
    <v-layout row class="bg-primary-3 grafik-wrapper" pb-3 align-center id="grafik-wrapper">
      <v-flex xs6 class="nexa-16-bold pt-1 text-xs-right">
        <vue-high-chart class="my-0 pa-0 center-horizontal" classname="highcharts" style="height: 160px;" :options="piePortfolioOptions.now" ref="pieChartNow"></vue-high-chart>
      </v-flex>
      <v-flex xs6 class="nexa-16-bold pt-1 text-xs-right">
        <vue-high-chart class="my-0 pa-0 center-horizontal" classname="highcharts" style="height: 160px;" :options="piePortfolioOptions.target" ref="pieChartTarget"></vue-high-chart>
      </v-flex>
    </v-layout>

    <v-layout row wrap class="px-20 pt-2">
      <v-flex xs6 v-for="(data, index) in assets" :key="index">
        <v-layout row v-if="data.percentage > 0">
          <reusable-image-asset :rounded="true" :type="data.asset_name" style-image="width: 50px; margin-top: -5px;"></reusable-image-asset>
          <div class="desc">
            <div class="sub-title avenir-12-reg color-text-4">Reksa dana</div>
            <div class="title-card-aset avenir-12-med">{{data.asset_name.replace("Reksadana", "")}}</div>
          </div>
        </v-layout>
      </v-flex>
    </v-layout>

    <!-- <v-card-text class="nexa-14-bold color-text-3 px-20 py-3">
      Hasil Analisa Fina
    </v-card-text> -->

    <!-- <v-layout row wrap :class="flags === 'true' ? 'px-20 pt-20 pb-30 card-desc yeay' : 'px-20 pt-20 pb-30 card-desc nay'">

      <img v-if="flags === 'true'" src="@/assets/finavest/portfolio/v2/icon-ceklis-rebalancing.svg" class="icon-rebalancing" alt="icon ceklis rebalancing">
      <img v-else src="@/assets/finavest/portfolio/v2/icon-wrong-rebalancing.svg" class="icon-rebalancing" alt="icon ceklis rebalancing">

      <v-card-text class="nexa-16-bold color-text-2 pb-1">
        Portofolio kamu ideal
      </v-card-text>

      <v-card-text class="avenir-14-reg color-text-1 pt-2">
        Dengan portofolio sekarang kamu dapat memaksimalkan keuntungan tabunganmu untuk mencapai target lifeplan
      </v-card-text>
    </v-layout> -->

    <!-- <v-card-text class="nexa-14-bold color-text-3 px-20 pt-3">
      Apa Solusinya ?
    </v-card-text> -->

    <v-card-text class="nexa-16-bold px-20 pt-4 mt-3">
      Tetap rutin menabung
    </v-card-text>

    <v-card-text class="avenir-14-reg color-text-1 px-20 pt-2 mt-1 pb-3">
      Menabunglah setelah menerima gajian, karena jika hanya nabung mengandalkan uang sisa, kamu tak akan pernah bisa rutin menabung.
    </v-card-text>

    <v-layout row class="px-20 pb-3 pt-2" v-if="flags === 'false'">
      <button class="btn-rebalancing nexa-16-bold color-brand-1" @click="goToRebalancing()">Rebalancing Sekarang</button>
    </v-layout>

  </div>
</template>
<script>
// import vuehighchart
import VueHighChart from 'vue2-highcharts'
// import reusable image assets
import ReusableImageAsset from '@/components/reusable/ReusableImageAsset'
// import api get
import ApiGet from '@/services/ApiGet'

import { VDivider } from 'vuetify/lib'

export default {
  components: {
    VueHighChart,
    VDivider,
    ReusableImageAsset
  },
  data: () => ({
    screenHeight: screen.height - 48,
    flags: null,
    assets: null,
    piePortfolioOptions: {
      now: {
        chart: {
          type: 'pie',
          margin: 0,
          spacingTop: 0,
          spacingBottom: 0,
          spacingLeft: 0,
          spacingRight: 0
        },
        credits: {
          enabled: false
        },
        tooltip: {
          // pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
          pointFormat: '{series.name}: <b>{point.percentage}%</b>'
        },
        plotOptions: {
          series: {
            dataLabels: {
              enabled: true,
              format: '',
              distance: -20,
              fontSize: 10,
              style: {
                color: 'white',
                fontWeight: 'normal',
                textShadow: false,
                textOutline: false,
                fontSize: 10
              }
            }
          }
        },
        size: '100%',
        title: false,
        yAxis: {
          title: false
        }
      },
      target: {
        chart: {
          type: 'pie',
          margin: 0,
          spacingTop: 0,
          spacingBottom: 0,
          spacingLeft: 0,
          spacingRight: 0
        },
        credits: {
          enabled: false
        },
        tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage}%</b>'
        },
        plotOptions: {
          series: {
            dataLabels: {
              enabled: true,
              format: '',
              distance: -20,
              fontSize: 10,
              style: {
                color: 'white',
                fontWeight: 'normal',
                textShadow: false,
                textOutline: false,
                fontSize: 10
              }
            }
          }
        },
        size: '100%',
        title: false,
        yAxis: {
          title: false
        }
      }
    }
  }),
  methods: {
    fetchAssetsNow () {
      ApiGet('v1/investment/lifeplan/group/class-asset', {})
        .then((res) => {
          this.assets = res.d
          this.setDataForChartNow(res.d)
        }).catch(() => {
        })
    },
    fetchAssetsTarget () {
      ApiGet('v1/investment/plan/group/asset-class', {})
        .then((res) => {
          this.setDataForChartTarget(res.d)
        }).catch(() => {
        })
    },
    // NOW
    setDataForChartNow (item) {
      // set variable
      let rdtetap
      let rduang
      let emas
      let rdcampuran
      let rdsaham

      // Loop for asset overall amount
      for (let i = 0; i < item.length; i++) {
        switch (item[i].asset_name) {
          case 'Reksadana Pendapatan Tetap':
            rdtetap = Math.round(item[i].percentage)
            break
          case 'Reksadana Saham':
            rdsaham = Math.round(item[i].percentage)
            break
          case 'Reksadana Campuran':
            rdcampuran = Math.round(item[i].percentage)
            break
          case 'Reksadana Pasar Uang':
            rduang = Math.round(item[i].percentage)
            break
          case 'Emas':
            emas = Math.round(item[i].percentage)
            break
        }

        var maxAssets = Math.max(rdtetap, rduang, rdcampuran, rdsaham, emas)
        if ((rdtetap + rduang + rdcampuran + rdsaham + emas) === 99) {
          if (rdtetap === maxAssets) {
            rdtetap += 1
          }
          if (rduang === maxAssets) {
            rduang += 1
          }
          if (rdcampuran === maxAssets) {
            rdcampuran += 1
          }
          if (rdsaham === maxAssets) {
            rdsaham += 1
          }
          if (emas === maxAssets) {
            emas += 1
          }
        } else if ((rdtetap + rduang + rdcampuran + rdsaham + emas) === 101) {
          if (rdtetap === maxAssets) {
            rdtetap -= 1
          }
          if (rduang === maxAssets) {
            rduang -= 1
          }
          if (rdcampuran === maxAssets) {
            rdcampuran -= 1
          }
          if (rdsaham === maxAssets) {
            rdsaham -= 1
          }
          if (emas === maxAssets) {
            emas -= 1
          }
        }
      }
      setTimeout(() => {
        this.loadChartNow(rdsaham, rdcampuran, emas, rdtetap, rduang)
      }, 1000)
    },
    // load chart now
    loadChartNow (rdsaham, rdcampuran, emas, rdtetap, rduang) {
      let series = []
      series.push({
        y: parseFloat(rdsaham),
        name: 'Reksa Dana Saham'
      })

      series.push({
        y: parseFloat(rdcampuran),
        name: 'Reksa Dana Campuran'
      })

      series.push({
        y: parseFloat(emas),
        name: 'Logam Mulia'
      })

      series.push({
        y: parseFloat(rdtetap),
        name: 'Reksa Dana Pendapatan Tetap'
      })

      series.push({
        y: parseFloat(rduang),
        name: 'Reksa Dana Pasar Uang'
      })

      this.$refs.pieChartNow.addSeries({
        data: series,
        name: 'Persentase',
        colors: ['#FF8E8E', '#5ED0CF', '#FFD469', '#42A5F5', '#5ED07E'],
        innerSize: '25%',
        colorByPoint: true
      })
    },

    // TARGET
    setDataForChartTarget (item) {
      // set variable
      let rdtetap
      let rduang
      let emas
      let rdcampuran
      let rdsaham

      // Loop for asset overall amount
      for (let i = 0; i < item.length; i++) {
        switch (item[i].asset_name) {
          case 'Reksadana Pendapatan Tetap':
            rdtetap = Math.round(item[i].percentage)
            break
          case 'Reksadana Saham':
            rdsaham = Math.round(item[i].percentage)
            break
          case 'Reksadana Campuran':
            rdcampuran = Math.round(item[i].percentage)
            break
          case 'Reksadana Pasar Uang':
            rduang = Math.round(item[i].percentage)
            break
          case 'Emas':
            emas = Math.round(item[i].percentage)
            break
        }
      }
      var maxAssets = Math.max(rdtetap, rduang, rdcampuran, rdsaham, emas)
      if ((rdtetap + rduang + rdcampuran + rdsaham + emas) === 99) {
        if (rdtetap === maxAssets) {
          rdtetap += 1
        }
        if (rduang === maxAssets) {
          rduang += 1
        }
        if (rdcampuran === maxAssets) {
          rdcampuran += 1
        }
        if (rdsaham === maxAssets) {
          rdsaham += 1
        }
        if (emas === maxAssets) {
          emas += 1
        }
      } else if ((rdtetap + rduang + rdcampuran + rdsaham + emas) === 101) {
        if (rdtetap === maxAssets) {
          rdtetap -= 1
        }
        if (rduang === maxAssets) {
          rduang -= 1
        }
        if (rdcampuran === maxAssets) {
          rdcampuran -= 1
        }
        if (rdsaham === maxAssets) {
          rdsaham -= 1
        }
        if (emas === maxAssets) {
          emas -= 1
        }
      }
      setTimeout(() => {
        this.loadChartTarget(rdsaham, rdcampuran, emas, rdtetap, rduang)
      }, 1000)
    },
    // load chart target
    loadChartTarget (rdsaham, rdcampuran, emas, rdtetap, rduang) {
      let series = []
      series.push({
        y: parseFloat(rdsaham),
        name: 'Reksa Dana Saham'
      })

      series.push({
        y: parseFloat(rdcampuran),
        name: 'Reksa Dana Campuran'
      })

      series.push({
        y: parseFloat(emas),
        name: 'Logam Mulia'
      })

      series.push({
        y: parseFloat(rdtetap),
        name: 'Reksa Dana Pendapatan Tetap'
      })

      series.push({
        y: parseFloat(rduang),
        name: 'Reksa Dana Pasar Uang'
      })

      this.$refs.pieChartTarget.addSeries({
        data: series,
        name: 'Persentase',
        colors: ['#FF8E8E', '#5ED0CF', '#FFD469', '#42A5F5', '#5ED07E'],
        innerSize: '25%',
        colorByPoint: true
      })
    }
  },
  created () {
    this.flags = this.$route.params.flags
    this.fetchAssetsTarget()
    this.fetchAssetsNow()
  }
}
</script>
<style lang="sass">
  .allocation-target

    *
      padding: 0
      margin: 0

    .margin-negative
      position: relative
      z-index: 10
      margin-bottom: -10px

    .v-toolbar
      position: relative

    .btn-rebalancing
      width: 100%
      padding: 12px 0
      border: 1px solid #E8EAEF
      border-radius: 8px

    .card-desc
      box-shadow: 0px 6px 10px rgba(23, 23, 23, 0.05)
      position: relative

      &.yeay
        border: 1px solid #17CF82

      &.nay
        border: 1px solid #E52A34

    .icon-rebalancing
      right: -1px
      top: 0
      position: absolute

    .clear
      clear: both

    .v-divider
      border-width: 4px !important

    .button-fixed-bottom
      border-radius: 4px
      height: 46px !important

    .primary
      background-color: #388BF2 !important
      border-color: #388BF2 !important

    .fixed-layout
      position: fixed
      background-color: white
      width: 100%
      bottom: 0px

    .border-left
      width: 4px
      height: 32px
      float: left
      border-radius: 2px

    .border-bottom-card
      border-bottom: 1px solid #F2F2F2

    .color-grey
      color: #A0A5B7

    .margin-toolbar
      margin-top: 48px
      margin-bottom: -10px
      z-index: 10
      position: relative

    .v-toolbar--fixed
      z-index: 15 !important

    .color-pasar-uang
      width: 90px

      .border-left
        background: #10CF99
        margin-top: 6px

    .color-tetap
      width: 120px

      .border-left
        background: #42A5F5
        margin-top: 6px

    .color-saham
      width: 90px

      .border-left
        background: #EF5350
        margin-top: 6px

    .color-emas
      width: 90px

      .border-left
        background: #FFB300
        margin-top: 6px

    .wrap-description
      position: relative

    .wrap-card
      width: 50%
      float: left

    .wrap-card:nth-child(1) .wrap-color
      float: right

    .wrap-card:nth-child(3) .wrap-color
      float: right

    .wrap-card:nth-child(5) .wrap-color
      float: right


</style>
