<template>
  <!-- <div :class="isEnabled === '2' ? 'finavest-portfolio-product pb-144' : 'finavest-portfolio-product pb-80'"> -->
  <div class="finavest-portfolio-product pb-80">
    <div class="pt-3">
      <v-layout @click="gotoDetail(id, data.id_account, data.id_product, data.id_asset_class)" row wrap align-center mx-3 mb-3 py-3 class="card-product bg-primary-3" v-for="(data, index) in productProps" :key="index">

        <div class="wrap-img mx-3">
          <img :src="data.product_img_url" alt="product">
        </div>
        <v-flex xs8>
          <v-layout column>
            <v-layout row wrap>
              <v-card-text class="avenir-14-med color-text-1">{{data.product_name}}</v-card-text>
            </v-layout>
            <v-card-text v-if="data.id_asset_class === 4" class="avenir-12-reg color-text-1">Logam Mulia</v-card-text>
            <v-card-text v-else class="avenir-12-reg color-text-1">Reksa Dana</v-card-text>
          </v-layout>
        </v-flex>

        <div class="line"></div>

        <v-layout row wrap px-3>
          <v-flex xs7>
            <v-card-text class="avenir-12-reg color-text-4">
              Total Saldo
            </v-card-text>
            <v-card-text class="avenir-14-reg color-text-1">
              Rp {{numberingNumber(data.amount, true)}}
            </v-card-text>
          </v-flex>
          <v-flex xs5 class="text-xs-right">
            <v-card-text class="avenir-12-reg color-text-4">
              Pertumbuhan
            </v-card-text>
            <v-card-text class="avenir-14-reg">
              <span class="right pl-1">{{numberingNumber(roundUp(data.gain_percentage, 2))}}%</span>
              <img v-if="data.gain_percentage > 0" src="@/assets/finavest/portfolio/v2/icon-up-green.svg" class="icon-up">
              <img v-if="data.gain_percentage < 0" src="@/assets/finavest/portfolio/v2/icon-down-red.svg" class="icon-up">
            </v-card-text>
          </v-flex>
        </v-layout>
      </v-layout>
    </div>

    <v-layout row wrap class="wrap-btn-nabung full-width py-3 px-20 bg-primary-3">
      <v-btn block depressed class="nexa-16-bold color-primary-3" @click="goToInvest()">Nabung</v-btn>

      <!-- <v-card-text class="avenir-12-reg color-text-4 pt-3" v-if="isEnabled === '2'">
        kamu tidak bisa menambahkan tabungan untuk lifeplan non aktif, sebaiknya prioritaskan nabung ke lifeplan yang aktif terlebih dahulu.
      </v-card-text> -->
    </v-layout>

  </div>
</template>
<script>

import { numberingNumber, roundUp } from '@/services/Helpers'

export default {
  props: ['productProps'],
  data: () => ({
    id: null
  }),
  methods: {
    numberingNumber,
    roundUp,
    gotoDetail (lifeplanid, accountid, productid, assetclassid) {
      if (assetclassid === 4) {
        this.$router.push('/finavest/portfolio/product/detailasetemas/' + lifeplanid + '/' + productid + '/' + accountid)
      } else {
        this.$router.push('/finavest/portfolio/product/detailaset/' + lifeplanid + '/' + productid + '/' + accountid)
      }
    },
    goToInvest () {
      this.$router.push('/finavest/investment/buy/buy_investment/' + Number(this.id) + '/new')
    }
  },
  created () {
    this.id = this.$route.params.id
  }
}
</script>
<style lang="sass">
  .pb-80
    padding-bottom: 80px

  .pb-144
    padding-bottom: 144px

  .finavest-portfolio-product
    *
      padding: 0
      margin: 0

    .theme--light.v-btn:not(.v-btn--icon):not(.v-btn--flat)
      background-color: #FFB245

    .wrap-btn-nabung
      position: fixed
      bottom: 0

      button
        height: 48px
        line-height: 48px
        border-radius: 4px
        border: none

    .card-product
      border: 1px solid #E8EAEF
      box-shadow: 0px 6px 10px rgba(139, 139, 139, 0.07)
      border-radius: 8px

    .wrap-img
      border: 1px solid #E9ECF0
      background: white
      padding: 4px 4px 0 4px
      border-radius: 4px
      width: 44px
      height: 44px
      overflow: hidden
      position: relative

      img
        width: 35px
        height: auto
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

    .line
      width: 100%
      height: 1px
      background: #E8EAEF
      margin: 12px 0

    .icon-up
      margin-bottom: -3px
</style>
