<template>
  <div class="halofina-notpremium bg-primary-3" :style="'min-height:' + screenHeight + 'px;'">
    <reusable-toolbar page-name=""></reusable-toolbar>

    <!-- Layout1 -->
    <v-layout column align-center class="px-20 text-xs-center mt-2 pt-1">
      <img src="@/assets/profile/icon-crown.svg" alt="icon premium">
      <v-card-text class="nexa-24-bold pt-20">
        Halofina Premium
      </v-card-text>
      <v-card-text class="avenir-14-reg pt-2">
        Nikmati berbagai kemudahan dalam <br /> mengelola keuangan kamu di halofina.
      </v-card-text>
      <!-- <v-card-text class="color-brand-1 pt-1">
        Pelajari lebih lanjut
      </v-card-text> -->

      <v-card-text class="nexa-16-bold color-text-1 py-4">
        Ini yang akan kamu dapatkan:
      </v-card-text>
    </v-layout>


    <!-- Layout 2 -->
    <v-layout column class="px-20" v-for="(data, index) in fitur" :key="data.title">
      <v-layout row align-start class="py-20">
        <img :src="data.icon" class="pr-20" alt="icon-quotient">
        <v-layout column>
          <v-card-text class="nexa-14-bold pb-1">
            {{data.title}}
          </v-card-text>
          <v-card-text class="avenir-12-reg">
            {{data.desc}}
          </v-card-text>
        </v-layout>
      </v-layout>
      <hr v-if="index < 3" class="border-dashed-paten" />
    </v-layout>

    <!-- <v-layout row wrap class="pb-20 px-20 text-xs-center pt-2">
      <v-card-text class="avenir-14-reg">
        Lihat <span class="color-brand-1">syarat & ketentuan</span> berlaku.
      </v-card-text>
    </v-layout> -->

    <button class="py-3 pb-3 text-xs-center color-primary-3 btn-premium nexa-16-bold warning" @click="next()">Dapatkan Premium</button>

    <!-- v bottom sheet actions -->
    <reusable-bottom-sheet v-model="bottomDesc" :use-padding="false">
      <div pa-0 class="bg-primary-3 custom-layout" slot="custom-layout">
        <v-card-text class="py-0 px-20 nexa-18-bold">
          Pilih Paket
        </v-card-text>
        <v-layout v-for="(data, index) in paket" :key="data.name" row justify-space-between class="py-3 px-20" :style="index < 2 ? 'border-bottom: 1px solid #E8EAEF' : ''" @click="goBuy(data.fee, data.uuid_package)">
          <v-layout column>
            <v-card-text class="pa-0 avenir-14-med">
              {{data.name}}
            </v-card-text>
            <v-card-text class="pa-0 avenir-12-reg">
              Rp {{numberingNumber(data.fee)}}
            </v-card-text>
          </v-layout>
          <img src="@/assets/icons/icon-arrow-black.svg" alt="icon arrow">
        </v-layout>
      </div>
    </reusable-bottom-sheet>
    <!-- Dialog Error -->
    <reusable-dialogs
      v-model="dialog.dialogError"
      :resize-image="true"
      :is-image-above-title="true"
    ></reusable-dialogs>
    <!-- Dialog Disclaimer -->
    <reusable-dialogs
      v-model="dialog.dialogDisclaimer"
      :is-image-above-title="true"
      :image="require('@/assets/finavest/lifeplan/v3/lifeplan-trx.svg')"
      :resize-image="true"
      description="Kamu bisa melakukan transaksi baru setelah transaksi ini selesai."
      title="Ada transaksi akun premium yang sedang dalam proses"
    >
      <v-layout row class="px-3 pt-3 pb-3 full-width" slot="layout-button">
        <v-flex xs12 mr-1>
            <v-btn block small color="primary" class="btn-radius" @click.native="$router.go(-1)" depressed>
                Kembali
            </v-btn>
        </v-flex>
      </v-layout>
    </reusable-dialogs>
  </div>
</template>
<script>
import ApiGet from '@/services/ApiGet'
import ReusableBottomSheet from '@/components/reusable/ReusableBottomSheet'
import { numberingNumber } from '@/services/Helpers'

export default {
  components: {
    ReusableBottomSheet
  },
  data: () => ({
    screenHeight: screen.height,
    bottomDesc: false,
    paket: [],
    isLocked: null,
    dialog: {
      dialogError: false,
      dialogDisclaimer: false
    },
    fitur: [
      {
        icon: require('@/assets/profile/icon-quotient.svg'),
        title: 'Financial Quotient Test',
        desc: 'Ketahui kecerdasan finansial kamu dengan menjawab beberapa pertanyaan seputar keuangan.'
      },
      {
        icon: require('@/assets/profile/icon-checkup.svg'),
        title: 'Financial Check Up',
        desc: 'Periksa kesehatan keuangan kamu dengan analisis arus kas bulanan serta kondisi aset & liabilitas.'
      },
      {
        icon: require('@/assets/profile/icon-finapedia.svg'),
        title: 'Finapedia',
        desc: 'Belajar ilmu seputar keuangan melalui video yang bisa kamu akses kapan pun dan di mana pun.'
      },
      {
        icon: require('@/assets/profile/icon-askfina.svg'),
        title: 'Askfina',
        desc: 'Bot yang akan menjawab segala pertanyaan kamu seputar keuangan, simpel tinggal chat aja.'
      }
    ]
  }),
  methods: {
    numberingNumber,
    next () {
      if (this.isLocked === true) {
        this.dialog.dialogDisclaimer = true
      } else if (this.isLocked === false) {
        this.bottomDesc = true
      }
    },
    goBuy (totalAmount, idPackage) {
      localStorage.setItem('halofina-itinerary-premium', JSON.stringify({
        total_amount: totalAmount,
        uuid_package: idPackage,
        payment_channel: 'faspay',
        code: ''
      }))
      this.$router.push('/v2/finavest/payment/method/method_list')
    },
    fetchSubsCheck () {
      ApiGet('premium/membership/check', {})
        .then((res) => {
          this.isLocked = res.d.account.transaction ? res.d.account.transaction.is_locked : false
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    fetchSubscription () {
      ApiGet('mobile/premium/package/list', {})
        .then((res) => {
          this.paket = res.d.packages
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    }
  },
  created () {
    this.fetchSubsCheck()
    this.fetchSubscription()
  }
}
</script>
<style lang="sass">
  .halofina-notpremium
    margin-bottom: 53px

    *
      padding: 0
      margin: 0

    .v-toolbar
      position: relative

    .border-dashed-paten
      height: 1px
      background-image: linear-gradient(90deg, #E8EAEF, #E8EAEF 60%, transparent 60%, transparent 100%)
      background-size: 15px 1px
      border: none
      background-repeat: repeat !important

    .btn-premium
      position: fixed
      bottom: 0
      background-color: #51AAF4
      width: 100%


</style>
