
<template>
  <div class="halofina-premium bg-primary-3" :style="'min-height:' + screenHeight + 'px;'">
    <reusable-toolbar page-name="Akun Premium" :left="true"></reusable-toolbar>

    <!-- Layout1 -->
    <v-card-text class="margin-toolbar nexa-18-bold pt-3 pb-4 px-20">
      Fitur Premium
    </v-card-text>

    <v-layout row wrap class="px-20 pb-3" v-for="(data, index) in fitur" :key="index">
      <v-flex xs12>
        <img src="@/assets/profile/icon-check.svg" class="mbn-3 mr-3" alt="icon check">
        <span class="avenir-14-reg">
          {{data}}
        </span>
      </v-flex>
    </v-layout>

    <!-- <v-divider class="mt-3"></v-divider>

    <v-card-text class="nexa-18-bold pt-4 pb-4 px-20">
      Akun Premium Kamu
    </v-card-text>

    <div class="px-20">
      <v-layout row wrap class="pb-3">
        <img src="@/assets/profile/icon-calendar.svg" class="mr-4" alt="icon calendar">
        <v-layout column>
          <v-card-text class="avenir-12-reg">
            Berlaku Hingga
          </v-card-text>
          <v-card-text class="avenir-14-med" v-if="checkFeatures('halofina:premium').enabled === true">
            {{ endDate }}
          </v-card-text>
          <v-card-text class="avenir-14-med" v-else>
            31 Oktober 2019
          </v-card-text>
        </v-layout>
      </v-layout>
      <v-layout row>
        <v-flex xs12 class="border-bottom-solid">
        </v-flex>
      </v-layout>
    </div> -->

    <!-- <v-layout row wrap class="pb-20 px-20 text-xs-center pt-5 mt-2">
      <v-card-text class="avenir-14-reg">
        Lihat <span class="color-brand-1">syarat & ketentuan</span> berlaku.
      </v-card-text>
    </v-layout> -->

    <!-- <v-layout column class="px-20" v-if="checkFeatures('halofina:premium').enabled === true">
      <button class="py-3 pb-3 mb-3 text-xs-center color-primary-3 btn-perpanjang nexa-16-bold warning" @click="bottomDesc = true" :disabled="cannotSubs">Perpanjang Langganan</button>
      <button class="py-3 pb-3 text-xs-center color-brand-1 btn-berhenti nexa-16-bold" @click="bottomStop = true">Berhenti Langganan</button>
    </v-layout> -->


    <!-- v bottom sheet actions -->
    <reusable-bottom-sheet v-model="bottomDesc" :use-padding="false">
      <div pa-0 class="bg-primary-3 custom-layout" slot="custom-layout">
        <v-card-text class="py-0 px-20 nexa-18-bold">
          Pilih Paket
        </v-card-text>
        <v-layout v-for="(data, index) in paket" :key="data.name" row justify-space-between class="py-3 px-20" :style="index < 2 ? 'border-bottom: 1px solid #E8EAEF' : ''" @click="goBuy(data.fee, data.uuid_package)">
          <v-layout column>
            <v-card-text class="pa-0 avenir-14-med">
              {{data.name}}
            </v-card-text>
            <v-card-text class="pa-0 avenir-12-reg">
              Rp {{numberingNumber(data.fee)}}
            </v-card-text>
          </v-layout>
          <img src="@/assets/icons/icon-arrow-black.svg" alt="icon arrow">
        </v-layout>
      </div>
    </reusable-bottom-sheet>

    <reusable-bottom-sheet v-model="bottomStop" :use-padding="false">
      <div py-0 class="px-3 bg-primary-3 custom-layout" slot="custom-layout">
        <v-layout row justify-center>
          <img src="@/assets/profile/illustration-ask.svg" alt="illustration fina">
        </v-layout>
        <v-card-text class="nexa-16-bold py-4 px-0 text-xs-center">
          Kamu yakin ingin berhenti berlangganan?
        </v-card-text>
        <v-layout row wrap pb-3>
          <v-flex xs6 class="pr-1">
            <button class="btn-no nexa-16-bold color-brand-1 full-width" @click="bottomStop = false">Tidak</button>
          </v-flex>
          <v-flex xs6 class="pl-1">
            <button class="btn-yes nexa-16-bold color-primary-3 bg-brand-1 full-width" @click="bottomStop = false; bottomStop2 = true;">Ya</button>
          </v-flex>
        </v-layout>
      </div>
    </reusable-bottom-sheet>

    <reusable-bottom-sheet v-model="bottomStop2" :use-padding="false">
      <div py-0 class="px-3 bg-primary-3 custom-layout" slot="custom-layout">
        <v-layout row justify-center>
          <img src="@/assets/profile/illustration-ask.svg" alt="illustration fina">
        </v-layout>
        <v-card-text class="nexa-16-bold py-4 px-0 text-xs-center">
          Oke, paket langganan kamu diberhentikan
        </v-card-text>
        <v-layout row wrap pb-3>
          <v-flex xs12>
            <button class="btn-yes nexa-16-bold color-primary-3 bg-brand-1 full-width" @click="bottomStop2 = false">Saya Mengerti</button>
          </v-flex>
        </v-layout>
      </div>
    </reusable-bottom-sheet>

    <reusable-dialogs
      v-model="dialog.dialogError"
      :resize-image="true"
      :is-image-above-title="true"
    ></reusable-dialogs>
  </div>
</template>
<script>
import ApiGet from '@/services/ApiGet'
import ReusableBottomSheet from '@/components/reusable/ReusableBottomSheet'
import { numberingNumber, checkFeatures, dateFormat } from '@/services/Helpers'
import {
  VDivider
} from 'vuetify/lib'

export default {
  components: {
    ReusableBottomSheet,
    VDivider
  },
  data: () => ({
    screenHeight: screen.height - 48,
    bottomDesc: false,
    bottomStop: false,
    bottomStop2: false,
    endDate: '',
    dialog: {
      dialogError: false
    },
    paket: [],
    fitur: ['Financial Quotient Test', 'Financial Check Up', 'Finapedia', 'Askfina']
  }),
  methods: {
    numberingNumber,
    checkFeatures,
    goBuy (totalAmount, idPackage) {
      localStorage.setItem('halofina-itinerary-premium', JSON.stringify({
        total_amount: totalAmount,
        uuid_package: idPackage,
        payment_channel: 'faspay',
        code: ''
      }))
      this.$router.push('/v2/finavest/payment/faspay/faspay_methods')
    },
    fetchSubsCheck () {
      ApiGet('premium/membership/check', {})
        .then((res) => {
          this.endDate = dateFormat(res.d.account.end_time, 'DD MMMM YYYY')
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    fetchSubscription () {
      ApiGet('mobile/premium/package/list', {})
        .then((res) => {
          this.paket = res.d.packages
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    }
  },
  created () {
    this.fetchSubsCheck()
    this.fetchSubscription()
  }
}
</script>
<style lang="sass">

  .btn-no
    border: 1px solid #E8EAEF
    padding: 12px 0
    border-radius: 4px

  .btn-yes
    padding: 12px 0
    border-radius: 4px

  .halofina-premium
    *
      padding: 0
      margin: 0

    .margin-toolbar
      margin-top: 48px !important

    .v-toolbar__title:not(:first-child)
      margin-left: 8px !important

    .v-toolbar__content
      padding-left: 10px

    .btn-perpanjang
      background-color: #51AAF4
      width: 100%
      border-radius: 4px

    .btn-berhenti
      background-color: #fff
      width: 100%
      border-radius: 4px

    .mbn-3
      margin-bottom: -3px

    .v-divider
      border-width: 4px

    .border-bottom-solid
      border-bottom: 1px solid #E8EAEF



</style>
