<template>
  <div class="finaconsult-beranda">
    <reusable-toolbar page-name="" icon-color="white" :change-namespace="true" namespace="dashboard" title-color="white !important" route='/dashboard?tab=lifeplan'>
      <template slot="button-toolbar-right">
        <img src="@/assets/icons/icon-clock.svg" class="icon-settings pr-3" alt="icon clock">
      </template>
    </reusable-toolbar>
    <div class="wrap-desc-top">
      <div class="toolbar-height"></div>
      <v-layout row class="padding-toolbar mt-5 px-4">
        <v-flex xs12>
          <v-card-text class="nexa-24-bold text-color-white text-xs-center pb-3">FinaConsult</v-card-text>
          <v-card-text class="avenir-14-reg text-color-white text-xs-center">Konsultasikan perencanaan keuangan kamu dengan ahli rekanan Fina yang sudah bersertifikasi tentunya.</v-card-text>
        </v-flex>
      </v-layout>
    </div>
    <div class="layout scroll-wrapper row pl-4 align-center" style="overflow: auto; height:80vh">
      <div class="flex scroll-child mx-2 lifeplan-card" v-for="(elem,index) in 2" :key="index">
          <div class="px-3 v-card v-card--flat v-sheet theme--light py-2 box-shadow card-radius null chart-card card-wrapper"
              id="card-layout" style="width: 20rem;">
              <v-layout align-center justify-center py-3 row wrap>
                <v-flex xs12 align-center class="text-xs-center">
                  <img src="@/assets/finaconsult/eko.jpg" align-center alt="foto-advisor">
                </v-flex>
                <v-flex xs12>
                  <v-card-text class="nexa-18-bold text-xs-center pt-2 mt-1">
                    Eko Pratomo
                  </v-card-text>
                  <v-card-text  class="avenir-14-reg text-xs-center">
                    Senior Advisor
                  </v-card-text>
                </v-flex>
                <v-flex xs6 class="mt-4">
                  <v-layout row wrap style="margin-bottom: 5px">
                    <v-flex xs2>
                      <img src="@/assets/finaconsult/brief.svg" class="pr-2" alt="icon brief">
                    </v-flex>
                    <v-flex xs10>
                      <v-card-text class="nexa-14-bold text-xs-left">
                        Pengalaman
                      </v-card-text>
                      <v-card-text  class="avenir-12-reg text-xs-left">
                        > 10 tahun
                      </v-card-text>
                    </v-flex>
                  </v-layout>
                </v-flex>
                <v-flex xs6 class="mt-4">
                  <v-layout row wrap>
                    <v-flex xs12>
                      <v-card-text class="nexa-14-bold text-xs-right">
                        Sosial Media
                      </v-card-text>
                    </v-flex>
                    <v-flex xs12 class="text-xs-right">
                      <img src="@/assets/finaconsult/linkedIn.svg" class="pr-1" alt="foto-advisor">
                      <img src="@/assets/finaconsult/twitter.svg" class="pr-1" alt="foto-advisor">
                    </v-flex>
                  </v-layout>
                </v-flex>
                <v-flex xs12 class="mt-3">
                  <hr class="border-1-grey ">
                </v-flex>
                <v-flex xs12 class="my-3">
                  <v-layout row wrap>
                    <v-flex xs1>
                      <img src="@/assets/finaconsult/book.svg" class="pr-2" alt="icon book">
                    </v-flex>
                    <v-flex xs11>
                        <v-card-text class="nexa-14-bold text-xs-left">
                          Lulusan
                        </v-card-text>
                        <v-card-text  class="avenir-12-reg text-xs-left pt-1">
                          Institut Teknologi Bandung (ITB) dan IPMI International Business School, Delft University of Technology
                        </v-card-text>
                    </v-flex>
                  </v-layout>
                </v-flex>
                <v-flex xs12 class=" pt-1">
                  <v-btn block class="btn-color-orange">
                    <span class="nexa-16-bold color-primary-3">Mulai Konsultasi</span>
                  </v-btn>
                </v-flex>
              </v-layout>
          </div>
      </div>
    </div>
  </div>
</template>
<script>

export default {
  components: {
  },
  data: () => ({
    screenHeight: screen.height,
    bottomDesc: false,
    paket: [
    ],
    fitur: [
    ]
  }),
  methods: {
  }
}
</script>
<style lang="sass">

  .application--wrap
    background-color: #51AAF4

  .finaconsult-beranda

    *
      padding: 0
      margin: 0

    @media (min-width: 360px)
      .scroll-wrapper
        height: 77vh !important
        padding-top: 8px

    @media (max-width: 320px)
      .scroll-wrapper
        height: auto !important
        padding-top: 12px

    .v-toolbar
      background-color: #51AAF4 !important
      color: #ffffff

    .text-color-white
      color: #ffffff

    .radius-12
      border-radius: 12px

    .border-1-grey
      border-color: #E8EAEF
      border-top: 1px

    .btn-color-orange
      background-color: #FFB245 !important

</style>
