<template>
  <div class="finaconsult-chatting bg-primary-3">
    <v-layout row justify-space-between align-center class="header px-20">
      <img src="@/assets/finavest/lifeplan/v3/floral.svg" class="floral" alt="floral">
      <v-layout row align-center style="z-index: 10;">
        <div class="pos-relative mr-3">
          <div class="wrap-foto">
            <img src="@/assets/finaconsult/csv.jpg" alt="foto-profile">
          </div>
          <div class="circle-green"></div>
        </div>
        <v-layout column>
          <v-card-text class="nexa-14-bold color-primary-3">
            Eko Pratomo
          </v-card-text>
          <v-card-text class="avenir-12-reg color-primary-3">
            Available
          </v-card-text>
          <!-- <button id="ciat" @click="scrollBottom()">
            Scroll to #element
          </button> -->
        </v-layout>
      </v-layout>
      <img src="@/assets/finaconsult/ic-close.svg" alt="icon-close">
    </v-layout>

    <!-- hidden -->
    <div style="width: 100%; height: 84px; background: transparent;" id="scrollBottom" @click="scrollBottom()"></div>
    <v-btn style="display: none;" @click="addRoom(emailto)" id="pilihExpert"></v-btn>
    <!-- end hidden -->

      <div class="sc-message-list disable-scrollbar">
        <!-- Chatting -->
        <div v-for="(data, index) in listMessage" :key="index">

          <v-layout row wrap class="mx-4 py-4" align-center justify-center>
            <v-flex xs2 md4 lg5>
              <hr class="dashed">
            </v-flex>
            <v-flex xs8 md4 lg2 text-xs-center>
              <span class="nexa-14-bold color-text-4">{{index}}</span>
            </v-flex>
            <v-flex xs2 md4 lg5>
              <hr class="dashed">
            </v-flex>
          </v-layout>

          <div class="" v-for="(messages, i) in data" :key="i">

            <!-- message sent-->
            <div class="sc-message" v-if="messages.email === email">
              <div class="sc-message--content sent avenir-12-reg color-black">
                <div class="sc-message--text mr-10">
                  <div class="sc-message--toolbox"></div>
                  {{messages.message}}

                  <span class="avenir-10-reg color-denotive-yellow-1 time">
                    {{dateFormat(messages.timestamp, 'HH.mm')}}
                  </span>
                </div>
                <div class="sc-message--avatar">
                  <img src="@/assets/finaconsult/admin-avatar.svg" class="avatar" alt="foto-profile">
                </div>
              </div>
            </div>

            <!-- message received -->
            <div class="sc-message" v-else>
              <div class="sc-message--content received avenir-12-reg color-black">
                <div class="sc-message--avatar">
                  <img src="@/assets/finaconsult/admin-avatar.svg" class="avatar" alt="foto-profile">
                </div>
                <div class="sc-message--text">
                  <div class="sc-message--toolbox"></div>
                  {{messages.message}}

                  <span class="avenir-10-reg color-supportive-teal-1 time">
                    {{dateFormat(messages.timestamp, 'HH.mm')}}
                  </span>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div id="element"></div>
      </div>
      <div class="px-3 mb-3 pt-3 bottom-fixed bg-primary-3">
        <v-layout row justify-space-between align-center class="wrap-input px-3">
          <input v-model="messageText" class="full-width avenir-14-reg color-black" placeholder="Ketik disini"></input>
          <div class="wrap-icon-send ml-2" @click="sendMessage(room.id, messageText)">
            <img src="@/assets/finaconsult/ic-send.svg" alt="icon-send">
          </div>
        </v-layout>
      </div>
    </div>
</template>
<script>
import { VToolbar, VSpacer, VToolbarTitle, VToolbarItems, VToolbarSideIcon } from 'vuetify/lib'
import { dateFormat } from '@/services/Helpers'

export default {
  components: {
    VToolbar, VSpacer, VToolbarTitle, VToolbarItems, VToolbarSideIcon
  },
  data: () => ({
    screenHeight: screen.height,
    bottomDesc: false,
    email: null,
    emailto: null,
    paket: [
    ],
    fitur: [
    ],
    room: null,
    messageText: '',
    messageTo: '',
    roomList: null,
    totalUnread: null,
    expert: null,
    listMessage: null
  }),
  methods: {
    dateFormat,
    // add room or entry room
    addRoom (messageTo) {
      this.$qiscus.chatTarget(messageTo)
        .then((res) => {
          this.room = res
          this.roomId = res.id
          setTimeout(() => {
            this.loadComment(res.id)
          }, 500)
        })
        .catch((err) => {
          console.log('error', err)
        })
    },
    login () {
      let name = JSON.parse(localStorage.getItem('halofina-name'))
      let email = localStorage.getItem('halofina-email')
      // userId, uniqueid, username, avatar, extras: {})
      this.$qiscus.setUser(email, '999', name, 'null', {})
        .then(() => {
          this.addRoom(this.emailto)
        })
        .catch(() => {
          // nothing
        })
    },
    checkLogin () {
      alert('Aktif: ' + this.$qiscus.isLogin)
    },
    // send message
    sendMessage (roomId, messageValue) {
      this.$qiscus.sendComment(roomId, messageValue)
        .then((res) => {
          this.messageText = ''
          // console.log('sendMessage Success', res)
          // var newMessage = {
          //   id: res.id,
          //   timestamp: res.timestamp,
          //   message: res.message
          // }
          // this.listMessage.push(newMessage)
        })
        .catch((err) => {
          console.log('sendMessage Error', err)
        })
    },
    scrollBottom () {
      var elmnt = document.getElementById('element')
      elmnt.scrollIntoView()
    },
    // get room list
    getRoomList () {
      this.$qiscus.loadRoomList({})
        .then((res) => {
          this.roomList = res
          if (res.length === 0) alert('TIDAK ADA CHAT')
        })
        .catch((err) => {
          // On error
          alert('error getRoomList', err)
        })
    },
    // Total Unread
    getTotalUnread () {
      this.$qiscus.getTotalUnreadCount()
        .then((res) => {
          this.totalUnread = res
        })
        .catch((err) => {
          alert('error getTotalUnread', err)
        })
    },
    // get message history
    loadComment (roomId) {
      let options = {
        // last_comment_id:10,
        limit: 20
      }
      this.$qiscus.loadComments(roomId, options)
        .then((res) => {
          // filter by date
          const groupBy = key => array =>
            array.reduce((objectsByKeyValue, obj) => {
              const value = this.dateFormat(obj[key], 'dddd, DD MMMM YYYY')
              objectsByKeyValue[value] = (objectsByKeyValue[value] || []).concat(obj)
              return objectsByKeyValue
            }, {})

          const groupByDate = groupBy('timestamp')

          this.listMessage = groupByDate(res)

          setTimeout(() => {
            document.getElementById('scrollBottom').click()
          }, 1000)
        })
        .catch((err) => {
          alert('error loadMessage', err)
        })
    },
    qiscusInit (roomId) {
      this.$qiscus.init({
        AppId: 'sulthonch-kuheughbna8',
        options: {
          loginSuccessCallback (response) {
            console.log('login success', response)
          },
          newMessagesCallback (messages) {
            if (document.hasFocus()) {
              console.log('entah apa yang merasukimuu')
              setTimeout(() => {
                document.getElementById('pilihExpert').click()
              }, 500)
            }
          },
          commentDeliveredCallback: function (data) {
            console.log('udah ceklis 2', data)
          },
          commentReadCallback: function (comment) {
            console.log('ini ceklis 2 biru', comment)
          }
        }
      })
    }
  },
  created () {
    this.qiscusInit()
    this.login()
    this.emailto = this.$route.params.email
    this.email = localStorage.getItem('halofina-email')
  }
}
</script>
<style lang="sass">
  .finaconsult-chatting
    background-color: #F9FAFC
    height: 100vh

    *
      padding: 0
      margin: 0

    .header
      width: 100%
      height: 6rem
      position: fixed !important
      top: 0
      z-index: 9999
      background-color: #3F99DD

    .wrap-foto
      width: 40px !important
      height: 40px !important
      border-radius: 50% !important
      background-color: #fff
      position: relative
      overflow: hidden

      img
        width: 100%
        height: 100%
        position: absolute

    .circle-green
      width: 10px
      height: 10px
      background-color: #22C34F
      border-radius: 50%
      position: absolute
      bottom: 0
      right: 0

    .v-text-field > .v-input__control > .v-input__slot:before
      border: none !important

    .v-text-field > .v-input__control > .v-input__slot:after
      border: none !important

    .v-messages
      display: none !important

    .avatar
      vertical-align: middle !important
      width: 30px !important
      height: 30px !important
      border-radius: 50% !important

    .foto-profile
      vertical-align: middle !important
      width: 40px !important
      height: 40px !important
      border-radius: 50% !important

    .blue-1
      background-color: #3F99DD !important

    .blue-2
      background-color: #E2F2FC !important

    .message-input
      position: fixed
      bottom: 0
      width: 100%

    .sc-message-list
      height: 80%
      overflow-y: auto
      background-size: 100%
      padding: 16px 0px

    .sc-user-input
      min-height: 60px
      margin: 0px
      position: relative
      bottom: 0
      display: flex
      background-color: #E2F2FC
      box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.05)

    .sc-user-input--text
      width: 90%
      resize: none
      border: none
      outline: none
      border-bottom-left-radius: 10px
      box-sizing: border-box
      padding: 18px
      white-space: pre-wrap
      word-wrap: break-word
      color: #565867
      -webkit-font-smoothing: antialiased
      max-height: 200px
      overflow: scroll
      bottom: 0
      overflow-x: hidden
      overflow-y: auto

    .sc-user-input--text:empty:before
      content: attr(placeholder)
      filter: contrast(15%)
      outline: none
      cursor: text

    .sc-user-input--buttons
      position: relative
      right: 10px
      height: 100%
      display: flex
      top: 10px

    .sc-user-input--button:first-of-type
      width: 40px

    .sc-user-input--button
      width: 30px
      height: 55px
      margin-left: 2px
      margin-right: 2px
      display: flex
      flex-direction: column
      justify-content: center

    .sc-user-input.active
      box-shadow: none
      background-color: #E2F2FC
      box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.05)

    .sc-user-input--button label
      position: relative
      height: 24px
      padding-left: 3px
      cursor: pointer

    .sc-user-input--button input
      position: absolute
      left: 0
      top: 0
      width: 100%
      z-index: 10
      height: 100%
      opacity: 0
      cursor: pointer
      overflow: hidden

    //disable scrollbar
    .disable-scrollbar::-webkit-scrollbar
      width: 0 !important
    .disable-scrollbar
      overflow: -moz-scrollbars-none
    .disable-scrollbar
      -ms-overflow-style: none

    //message
    .sc-message
      margin-left: 20px
      margin-right: 20px
      padding-bottom: 10px
      display: flex
      background-color: none !important

      .sc-message--edited
        opacity: 0.7
        word-wrap: normal
        font-size: xx-small
        text-align: center

    .sc-message--content
      width: 100%
      display: flex

    .sc-message--content.sent
      justify-content: flex-end

    .sc-message--content.system
      justify-content: center

    .sc-message--content.sent .sc-message--avatar
      margin-right: 0px !important

    .sc-message--avatar
      min-width: 40px
      min-height: 40px
      border-radius: 50%

    .sc-message--meta
      font-size: xx-small
      margin-bottom: 0px
      color: white
      text-align: center

    .sc-message--text
      padding: 10px 16px 24px 16px
      border-radius: 6px
      position: relative
      text-align: left
      border-radius: 0 8px 8px 8px
      -webkit-font-smoothing: subpixel-antialiased
      position: relative

      .time
        position: absolute
        right: 8px
        bottom: 8px

      .sc-message--text-body
        .sc-message--text-content
          white-space: pre-wrap

    .sent .sc-message--text
      border-radius: 8px 0 8px 8px !important

    .sc-message--text-content
      padding-top: 6px !important

      .sc-message--toolbox
        transition: left 0.2s ease-out 0s
        white-space: normal
        opacity: 0
        position: absolute
        left: 0px
        width: 25px
        top: 0
        button
          background: none
          border: none
          padding: 0px
          margin: 0px
          outline: none
          width: 100%
          text-align: center
          cursor: pointer
          &:focus
            outline: none

    .sc-message--content.sent .sc-message--text
      background-color: #FFF3DB
      max-width: calc(100% - 120px)
      word-wrap: break-word

    .sc-message--content.received .sc-message--text
      background-color: #E5FBFB
      margin-right: 40px

    .dashed
      height: 1px
      background-image: linear-gradient(90deg, #E8EAEF, #E8EAEF 60%, transparent 60%, transparent 100%)
      background-size: 15px 1px
      border: none
      background-repeat: repeat !important

    .mr-10
      margin-right: 10px !important

    .pos-relative
      width: 40px
      position: relative

    .bottom-fixed
      position : fixed
      width: 100%
      bottom: 0

    .wrap-input
      background: #ECEFF7
      width: 100%
      height: 40px
      border-radius: 30px

      input
        outline: none

    .wrap-icon-send
      width: 33px
      height: 28px
      border-radius: 50%
      background-color: #fff
      position: relative

      img
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-55%, -50%)

    #element
      width: 10px
      height: 10px
      background: transparent

    .floral
      position: absolute
      top: -23px
      right: 14px
      opacity: 0.5

</style>
