<template>
  <div class="halofina-notpremium bg-primary-3" :style="'min-height:' + screenHeight + 'px;'">
    <v-layout column v-if="isLoaded === true">
      <reusable-toolbar page-name="" class-name="bg-brand-1 pos-absolute full-width-page" icon-color="white"></reusable-toolbar>
      <v-layout column align-end class="text-xs-center bg-brand-1">
        <img src="@/assets/premium/premium-chill.svg" alt="icon premium" class="img-hero">
        <v-card-text class="nexa-24-bold color-primary-3 pt-20">
          Halofina Premium
        </v-card-text>
        <v-card-text class="avenir-14-reg color-primary-3 pt-2 pb-20">
          Nikmati berbagai kemudahan dalam <br /> mengelola keuangan kamu di halofina.
        </v-card-text>
        <img src="@/assets/premium/waves.svg" alt="waves" class="waves-pos">
      </v-layout>

      <v-card-text class="nexa-16-bold color-text-1 px-20 mt-36 mb-1">
        Ini yang akan kamu dapatkan:
      </v-card-text>

      <!-- Layout 2 -->
      <v-layout column class="px-20" v-for="(data, index) in fitur" :key="data.title">
        <v-layout row align-start class="py-20">
          <img :src="data.icon" class="pr-20" alt="icon-quotient">
          <v-layout column>
            <v-card-text class="color-text-2 nexa-14-bold pb-1">
              {{data.title}}
            </v-card-text>
            <v-card-text class="color-text-2 avenir-12-reg">
              {{data.desc}}
            </v-card-text>
          </v-layout>
        </v-layout>
        <hr v-if="index < 1" class="border-dashed-paten" />
      </v-layout>

      <!-- <v-layout row wrap class="pb-20 px-20 text-xs-center pt-2">
        <v-card-text class="avenir-14-reg">
          Lihat <span class="color-brand-1">syarat & ketentuan</span> berlaku.
        </v-card-text>
      </v-layout> -->
      <!-- Button -->
      <div style="height: 76px"></div>
      <v-layout column align-center justify-center class="fixed-layout pa-3 box-shadow-up">
        <button v-if="!isTrial" class="py-12 text-xs-center color-primary-3 btn-premium nexa-16-bold bg-brand-1" @click="callTrialApi()">Coba Premium Gratis 7 Hari</button>
        <button v-else class="py-12 text-xs-center color-primary-3 btn-premium nexa-16-bold warning" @click="next()">Dapatkan Premium</button>
      </v-layout>
    </v-layout>
    <v-layout v-else column align-center justify-center class="full-height bg-primary-3">
      <reusable-loading></reusable-loading>
    </v-layout>
    <!-- v bottom sheet packages -->
    <reusable-bottom-sheet v-model="bottomSheet.packages" :use-padding="false">
      <div pa-0 class="bg-primary-3 custom-layout" slot="custom-layout">
        <v-card-text class="py-0 px-20 nexa-18-bold">
          Pilih Paket
        </v-card-text>
        <v-layout v-for="(data, index) in paket" :key="data.name" row justify-space-between align-center class="py-3 px-20" :style="index < 2 ? 'border-bottom: 1px solid #E8EAEF' : ''" @click="goBuy(data.fee, data.uuid)">
          <v-layout column>
            <v-card-text class="pa-0 avenir-14-med">
              {{data.name}}
            </v-card-text>
            <v-card-text class="pa-0 avenir-12-reg">
              Rp {{numberingNumber(data.fee)}}
            </v-card-text>
          </v-layout>
          <img src="@/assets/icons/icon-arrow-black.svg" alt="icon arrow" height="24">
        </v-layout>
      </div>
    </reusable-bottom-sheet>
    <!-- v bottom sheet stop -->
    <!-- <reusable-dialogs
      v-model="dialog.dialogStop"
      title="Ada transaksi akun premium yang sedang dalam proses"
      description="Kamu bisa melakukan transaksi baru setelah transaksi ini selesai."
      :is-image-above-title="true"
      :resize-image="true"
    >
      <img
        slot="image-above-title"
        :src="require('@/assets/premium/premium-on-process.svg')"
        width="50%"
        height="auto"
        class="pb-3"
      />
      <div slot="layout-button" class="full-width px-20">
        <v-btn color="primary" depressed block class="btn-radius" @click="dialog.dialogStop = false">Kembali</v-btn>=
      </div>
    </reusable-dialogs> -->
    <!-- Dialog Error -->
    <reusable-dialogs
      v-model="dialog.dialogError"
      :resize-image="true"
      :is-image-above-title="true"
    ></reusable-dialogs>
  </div>
</template>
<script>
import Api from '@/services/Api'
import ApiGet from '@/services/ApiGet'
import ReusableBottomSheet from '@/components/reusable/ReusableBottomSheet'
import { numberingNumber, checkFeatures, goToDashboard } from '@/services/Helpers'
/**
 * @group /v2/premium
 * Inactive Premium page
*/
export default {
  components: {
    ReusableBottomSheet
  },
  data () {
    return {
      screenHeight: screen.height,
      bottomSheet: {
        packages: false
      },
      paket: [],
      isLocked: false,
      isLoaded: false,
      isTrial: false,
      dialog: {
        dialogError: false,
        dialogStop: false
      },
      fitur: [
        {
          icon: require('@/assets/premium/icon-finapedia.svg'),
          title: 'Finapedia',
          desc: 'Belajar ilmu seputar keuangan melalui video yang bisa kamu akses kapan pun dan di mana pun.'
        },
        {
          icon: require('@/assets/premium/icon-askfina.svg'),
          title: 'Askfina',
          desc: 'Bot yang akan menjawab segala pertanyaan kamu seputar keuangan, simpel tinggal chat aja.'
        }
      ]
    }
  },
  methods: {
    numberingNumber,
    /**
     * @vuese
     * Case 1: If locked will open disclaimer pop up
     * Case 2: If not locked will open packages bottom sheet
    */
    next () {
      let packages = this.paket
      if (this.isLocked === true) {
        this.dialog.dialogStop = true
      } else if (this.isLocked === false) {
        if (packages.length > 1) {
          this.bottomSheet.packages = true
        } else {
          this.goBuy(packages[0].fee, packages[0].uuid)
        }
      }
    },
    /**
     * @vuese
     * set premium itinerary payload and go to payment method
     * @arg totalAmount: Number, idPackage: Number
    */
    goBuy (totalAmount, idPackage) {
      let isFaspayEnabled = checkFeatures('halofina:faspay').enabled
      if (isFaspayEnabled === true) {
        localStorage.setItem('halofina-itinerary-premium', JSON.stringify({
          total_amount: totalAmount,
          uuid_package: idPackage,
          payment_channel: 'faspay',
          code: ''
        }))
      } else {
        localStorage.setItem('halofina-itinerary-premium', JSON.stringify({
          package_uuid: idPackage,
          payment_channel_id: '1',
          payment_method_id: '1'
        }))
      }
      this.$router.push('/v2/finavest/payment/faspay/faspay_methods')
    },
    /**
     * @vuese
     * call trial premium API
    */
    callTrialApi () {
      Api('mobile/premium/membership/start-trial', {})
        .then((res) => {
          goToDashboard('lifeplan', 'assign')
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    /**
     * @vuese
     * get is locked info
    */
    fetchIsLocked () {
      ApiGet('premium/membership/check', {})
        .then((res) => {
          this.isLocked = res.data.transaction.is_locked
          this.getTrialStatus(res.data.membership.is_already_trial)
          this.isLoaded = true
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    /**
     * @vuese
     * get trial status
    */
    getTrialStatus (status) {
      this.isTrial = status
    },
    /**
     * @vuese
     * get package list
    */
    fetchSubscription () {
      ApiGet('mobile/premium/package/list', {})
        .then((res) => {
          this.paket = res.data
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    }
  },
  created () {
    this.fetchIsLocked()
    this.fetchSubscription()
  }
}
</script>
<style lang="sass">
  .halofina-notpremium
    margin-bottom: 53px

    *
      padding: 0
      margin: 0

    .v-toolbar
      position: relative

    .border-dashed-paten
      height: 1px
      background-image: linear-gradient(90deg, #E8EAEF, #E8EAEF 60%, transparent 60%, transparent 100%)
      background-size: 15px 1px
      border: none
      background-repeat: repeat !important

    .btn-premium
      background-color: #51AAF4
      width: 100%
      border-radius: 4px

    .waves-pos
      width: 105%
      margin-bottom: -5px
</style>
