<template>
  <div class="halofina-premium bg-primary-3" :style="'min-height:' + screenHeight + 'px;'">
    <v-layout column align-end class="text-xs-center bg-brand-1">
      <reusable-toolbar page-name="Akun Premium" :left="true" title-color="white !important" class-name="bg-brand-1 pos-absolute full-width-page" icon-color="white"></reusable-toolbar>
      <img src="@/assets/premium/premium-chill.svg" alt="icon premium" class="img-hero">
      <img src="@/assets/premium/waves.svg" alt="waves" class="waves-pos">
    </v-layout>

    <v-card-text class="nexa-16-bold color-text-1 px-20 mt-36 mb-1">
      Fitur Premium:
    </v-card-text>

    <!-- Layout 2 -->
    <v-layout column class="px-20" v-for="(data, index) in fitur" :key="data.title">
      <v-layout row align-start class="py-20">
        <img :src="data.icon" class="pr-20" alt="icon-quotient">
        <v-layout column>
          <v-card-text class="color-text-2 nexa-14-bold pb-1">
            {{data.title}}
          </v-card-text>
          <v-card-text class="color-text-2 avenir-12-reg">
            {{data.desc}}
          </v-card-text>
        </v-layout>
      </v-layout>
      <hr v-if="index < 1" class="border-dashed-paten" />
    </v-layout>
    
    <template v-if="premiumVersion > 1">
      <div class="divider"></div>

      <v-card-text class="nexa-18-bold pt-4 pb-4 px-20">
        Akun Premium kamu
      </v-card-text>

      <div class="px-20">
        <v-layout row align-center class="pb-4">
          <img src="@/assets/profile/icon-calendar.svg" class="mr-4 icon-calendar" alt="icon calendar">
          <v-layout column>
            <v-card-text class="avenir-12-reg">
              Berlaku Hingga
            </v-card-text>
            <v-card-text class="avenir-14-med">
              {{ dateFormat(endDate, 'DD MMMM YYYY') }}
            </v-card-text>
          </v-layout>
        </v-layout>
        <v-layout row>
          <v-flex xs12 class="border-bottom-solid">
          </v-flex>
        </v-layout>
      </div>

      <!-- Button -->
      <v-layout column class="px-20 pb-20" v-if="paket.length > 1">
        <button class="py-3 pb-3 text-xs-center color-brand-1 btn-change nexa-16-bold" @click="openChangePackageSheet()">Ganti Paket</button>
      </v-layout>
    </template>

    <!-- v bottom sheet packages -->
    <reusable-bottom-sheet v-model="bottomSheet.packages" :use-padding="false">
      <div pa-0 class="bg-primary-3 custom-layout" slot="custom-layout">
        <v-card-text class="py-0 px-20 nexa-18-bold">
          Pilih Paket
        </v-card-text>
        <v-layout v-for="(data, index) in paket" :key="data.name" row justify-space-between align-center class="py-3 px-20" :style="index < 3 ? 'border-bottom: 1px solid #E8EAEF' : ''" @click="choosePackage(data.fee, data.uuid)">
          <v-layout column>
            <v-card-text class="pa-0 avenir-14-med">
              {{data.name}}
            </v-card-text>
            <v-card-text class="pa-0 avenir-12-reg">
              Rp {{numberingNumber(data.fee)}}
            </v-card-text>
          </v-layout>
          <img src="@/assets/icons/icon-arrow-black.svg" alt="icon arrow" height="24">
        </v-layout>
      </div>
    </reusable-bottom-sheet>

    <!-- v bottom sheet change package -->
    <reusable-bottom-sheet v-model="bottomSheet.changePackages" :use-padding="true">
      <div pa-0 class="bg-primary-3 custom-layout" slot="custom-layout">
        <v-layout column justify-center>
          <img src="@/assets/premium/change-package.svg" />
          <v-card-text class="nexa-18-bold text-xs-center pa-0 pt-20">
            Kamu yakin ganti paket?
          </v-card-text>
          <v-card-text class="avenir-14-reg color-black text-xs-center pa-0 pt-1">
            Dengan ganti paket sisa paket yang lama akan hangus dan digantikan dengan yang baru.
          </v-card-text>
        </v-layout>
        <v-layout row mt-4>
          <v-flex xx6 mr-1>
            <v-btn @click="bottomSheet.changePackages = false" block small class="btn-radius bg-primary-3 color-primary-1" style="border: 1px solid #E8EAEF" depressed>
              Batalkan
            </v-btn>
          </v-flex>
          <v-flex xx6 ml-1>
            <v-btn @click="goBuy(fee, uuidPackage)" block small color="primary" class="btn-radius" depressed>
              Ganti Paket
            </v-btn>
          </v-flex>
        </v-layout>
      </div>
    </reusable-bottom-sheet>

    <!-- v bottom sheet stop -->
    <!-- <reusable-dialogs
      v-model="dialog.dialogStop"
      title="Ada transaksi akun premium yang sedang dalam proses"
      description="Kamu bisa melakukan transaksi baru setelah transaksi ini selesai."
      :is-image-above-title="true"
      :resize-image="true"
    >
      <img
        slot="image-above-title"
        :src="require('@/assets/premium/premium-on-process.svg')"
        width="50%"
        height="auto"
        class="pb-3"
      />
      <div slot="layout-button" class="full-width px-20">
        <v-btn color="primary" depressed block class="btn-radius" @click="dialog.dialogStop = false">Kembali</v-btn>=
      </div>
    </reusable-dialogs> -->
    <!-- Dialog Reminder -->
    <reusable-dialogs
      v-model="dialog.dialogReminder"
      title="Sebentar lagi akun premium kamu akan habis"
      description="Ayo perpanjang akun premium kamu dan nikmatin fitur Finapedia dan Askfina."
      :is-image-above-title="true"
      :image="require('@/assets/premium/reminder.svg')"
    >
      <v-layout column slot="layout-button" class="full-width" px-3 pb-3>
        <v-btn color="warning" block class="btn-radius py-12" depressed @click="goBuy(paket[0].fee, paket[0].uuid)">Perpanjang</v-btn>
        <br />
        <v-btn color="primary" flat block class="btn-radius" depressed @click="dialog.dialogReminder = false">Nanti Saja</v-btn>
      </v-layout>
    </reusable-dialogs>
    <!-- Dialog Error -->
    <reusable-dialogs
      v-model="dialog.dialogError"
      :resize-image="true"
      :is-image-above-title="true"
    ></reusable-dialogs>
  </div>
</template>
<script>
import ApiGet from '@/services/ApiGet'
import ReusableBottomSheet from '@/components/reusable/ReusableBottomSheet'
import differenceInDays from 'date-fns/difference_in_days'
import { numberingNumber, checkFeatures, dateFormat } from '@/services/Helpers'
/**
 * @group /v2/premium
 * Inactive Premium page
*/
export default {
  components: {
    ReusableBottomSheet
  },
  data () {
    return {
      fee: null,
      uuidPackage: null,
      screenHeight: screen.height,
      bottomSheet: {
        packages: false,
        changePackages: false
      },
      paket: [],
      endDate: '',
      premiumVersion: 0,
      isLocked: false,
      dialog: {
        dialogError: false,
        dialogStop: false,
        dialogReminder: false
      },
      fitur: [
        {
          icon: require('@/assets/premium/icon-finapedia-checklist.svg'),
          title: 'Finapedia',
          desc: 'Belajar ilmu seputar keuangan melalui video yang bisa kamu akses kapan pun dan di mana pun.'
        },
        {
          icon: require('@/assets/premium/icon-askfina-checklist.svg'),
          title: 'Askfina',
          desc: 'Bot yang akan menjawab segala pertanyaan kamu seputar keuangan, simpel tinggal chat aja.'
        }
      ]
    }
  },
  methods: {
    numberingNumber,
    dateFormat,
    /**
     * @vuese
     * Case 1: If locked will open disclaimer pop up
     * Case 2: If not locked will open packages bottom sheet
    */
    openChangePackageSheet () {
      if (this.isLocked === true) {
        this.dialog.dialogStop = true
      } else if (this.isLocked === false) {
        this.bottomSheet.packages = true
      }
    },
    /**
     * @vuese
     * set premium itinerary payload and go to payment method
     * @arg totalAmount: Number, idPackage: Number
    */
    goBuy (totalAmount, idPackage) {
      let isFaspayEnabled = checkFeatures('halofina:faspay').enabled
      if (isFaspayEnabled === true) {
        localStorage.setItem('halofina-itinerary-premium', JSON.stringify({
          total_amount: totalAmount,
          uuid_package: idPackage,
          payment_channel: 'faspay',
          code: ''
        }))
      } else {
        localStorage.setItem('halofina-itinerary-premium', JSON.stringify({
          package_uuid: idPackage,
          payment_channel_id: '1',
          payment_method_id: 1
        }))
      }
      this.$router.push('/v2/finavest/payment/faspay/faspay_methods')
    },
    /**
     * @vuese
     * open bottomsheet change packages and set fee data for function goBuy
     * @arg fee: Number, uuid: Number
    */
    choosePackage (fee, uuid) {
      this.fee = fee
      this.uuidPackage = uuid
      this.bottomSheet.packages = false
      this.bottomSheet.changePackages = true
    },
    /**
     * @vuese
     * get premium version
    */
    getPremiumVersion () {
      this.premiumVersion = checkFeatures('halofina:premium').version
    },
    /**
     * @vuese
     * open date reminder pop up whe premium is less than 7 days active
     * @arg isTrial: Boolean, startDate: String, endDate: String
    */
    openDateReminder (isTrial, startDate, endDate) {
      let diffDate = differenceInDays(endDate, startDate)
      console.log(diffDate)
      if (!isTrial) {
        if (diffDate <= 7) {
          this.dialog.dialogReminder = true
        }
      }
    },
    /**
     * @vuese
     * get is locked info
    */
    fetchData () {
      if (this.premiumVersion > 1) {
        ApiGet('premium/membership/check', {})
          .then((res) => {
            let isLocked = res.data.transaction.is_locked
            let endDate = res.data.membership.end_date
            let isTrial = res.data.membership.is_trial
            let startDate = res.data.membership.start_date
            this.isLocked = isLocked
            this.endDate = endDate
            this.openDateReminder(isTrial, startDate, endDate)
          })
          .catch(() => {
            this.dialog.dialogError = true
          })
      }
    },
    /**
     * @vuese
     * get package list
    */
    fetchSubscription () {
      if (this.premiumVersion > 1) {
        ApiGet('mobile/premium/package/list', {})
          .then((res) => {
            this.paket = res.data
          })
          .catch(() => {
            this.dialog.dialogError = true
          })
      }
    }
  },
  created () {
    this.getPremiumVersion()
    this.fetchData()
    this.fetchSubscription()
  }
}
</script>
<style lang="sass">
  .halofina-premium
    *
      padding: 0
      margin: 0

    .v-toolbar
      position: relative
      
    .border-dashed-paten
      height: 1px
      background-image: linear-gradient(90deg, #E8EAEF, #E8EAEF 60%, transparent 60%, transparent 100%)
      background-size: 15px 1px
      border: none
      background-repeat: repeat !important

    .btn-premium
      background-color: #51AAF4
      width: 100%
      border-radius: 4px

    .waves-pos
      width: 105%
      margin-bottom: -5px

    .divider
      width: 100%
      height: 8px
      background: #F9F9FB

    .btn-change
      border: 1px solid #E8EAEF
      border-radius: 4px

    .icon-calendar
      width: 24px !important
      height: 24px !important
   
</style>
