<template>
  <v-layout column class="performance-detail">
    <!--  -->
    <v-layout row px-3 mb-3 v-if="fromListProduct === 'false' || fromListProduct === false">
      <v-flex xs6>
        <v-card-text class="avenir-12-reg pa-0 color-secondary-5">Total Nilai saat ini</v-card-text>
        <v-card-text class="nexa-14-bold pa-0">Rp {{ numberingNumber(currentAmount, true) }}</v-card-text>
      </v-flex>
      <v-flex xs6>
        <v-card-text class="avenir-12-reg pa-0 color-secondary-5">Pertumbuhan</v-card-text>
        <v-card-text v-if="Number(gainlossPercentage) > 0" class="nexa-14-bold pa-0"><v-icon  class="color-system-success" style="float: left;">arrow_drop_up</v-icon>{{ numberingNumber(Number(gainlossPercentage)) }}%</v-card-text>
        <v-card-text v-else-if="Number(gainlossPercentage) < 0" class="nexa-14-bold pa-0"><v-icon  class="color-system-error" style="float: left;">arrow_drop_down</v-icon>{{ numberingNumber(Number(gainlossPercentage)) }}%</v-card-text>
        <v-card-text v-else class="nexa-14-bold pa-0">{{ numberingNumber(Number(gainlossPercentage), true) }}%</v-card-text>
      </v-flex>
    </v-layout>
    <v-layout row px-3 mb-3 v-if="fromListProduct === 'false' || fromListProduct === false">
      <v-flex xs6>
        <v-card-text class="avenir-12-reg pa-0 color-secondary-5">Modal Beli</v-card-text>
        <v-card-text class="avenir-14-med pa-0">Rp {{ numberingNumber(initialAmount, true) }}</v-card-text>
      </v-flex>
      <v-flex xs6>
        <v-card-text class="avenir-12-reg pa-0 color-secondary-5">Potensi Laba/Rugi</v-card-text>
        <v-card-text class="avenir-14-med pa-0">Rp {{ numberingNumber(percentage, true) }}</v-card-text>
      </v-flex>
    </v-layout>
    <v-divider  v-if="fromListProduct === 'false' || fromListProduct === false"></v-divider>

    <!-- Layout 1 -->
    <v-layout row pa-0 px-3 align-center class="mb-12">
      <div class="wrap-img mr-3">
        <img id="product-img" :src="productImg" alt="product">
      </div>
      <v-layout column pa-0>
        <v-card-text id="invest-manager" class="avenir-14-med pa-0">{{investManager}}</v-card-text>
        <v-card-text id="asset-name" class="avenir-12-reg pa-0">{{assetName}}</v-card-text>
      </v-layout>
    </v-layout>

    <v-card-text class="avenir-10-reg py-0 px-3 mb-12">
      {{ notes }}
    </v-card-text>

    <v-card-text class="avenir-12-med py-0 px-3">
      Harga Per Unit
    </v-card-text>

    <v-layout row px-3 justify-space-between pb-3>
      <v-card-text class="avenir-14-med pa-0">Rp {{numberingNumber(buyPrice)}}</v-card-text>
      <v-card-text class="avenir-12-reg pa-0 color-abu text-xs-right">
        <span v-if="datenow.getHours() < 12">{{ dateFormat(dateYesterday, 'D-MMM-YYYY') }}, 12.00 WIB</span>
        <span v-else>{{ dateFormat(datenow, 'D-MMM-YYYY') }}, 12.00 WIB</span>
      </v-card-text>
    </v-layout>

    <v-layout py-0 pl-3 pr-0 row wrap>
      <div class="bd-bottom"></div>
    </v-layout>

    <v-card-text class="avenir-12-med pt-4 pb-2 px-3">
      Grafik Perubahan Harga
    </v-card-text>
    <v-layout row px-3 pb-1 v-if="fromListProduct === 'false' || fromListProduct === false">
      <v-card-text class="avenir-12-reg pa-0 color-secondary-5">Total Unit Kepemilikan</v-card-text>
      <v-card-text class="nexa-14-bold pa-0 text-align-right">{{ parseFloat(initialUnit).toFixed(6).toString().replace(/\./g, ',') }} unit</v-card-text>
    </v-layout>
    <v-layout row px-3 py-1 v-if="fromListProduct === 'false' || fromListProduct === false">
      <v-card-text class="avenir-12-reg pa-0 color-secondary-5">Unit Tersedia Untuk Dijual</v-card-text>
      <v-card-text class="nexa-14-bold pa-0 text-align-right">{{ parseFloat(totalUnitSell).toFixed(6).toString().replace(/\./g, ',') }} unit</v-card-text>
    </v-layout>

    <!-- Layout 2 -->

    <!-- Grafik -->
    <div class="high-chart">
      <vue-highcharts :highcharts="Highcharts" :options="options" ref="emasBuyChart"></vue-highcharts>
    </div>

    <!-- <v-layout row px-3 my-3>
      <v-card-text class="nexa-14-bold pa-0">Rp {{ numberingNumber(buyPrice, true) }} Per unit</v-card-text>
      <v-card-text class="avenir-12-reg pa-0 color-secondary-5 text-align-right">{{ dateFormat(priceTime, 'D-MMM-YYYY') }}</v-card-text>
    </v-layout> -->
    <!-- Jenis Produk -->
    <!-- <v-layout row px-3 py-1>
      <v-card-text class="avenir-12-reg pa-0 color-secondary-5">Jenis Produk</v-card-text>
      <v-card-text class="avenir-12-reg pa-0 text-align-right">{{assetName}}</v-card-text>
    </v-layout>
    <v-layout row px-3 pt-1 v-if="assetPeriode">
      <v-card-text class="avenir-12-reg pa-0 color-secondary-5">Periode Investasi</v-card-text>
      <v-card-text class="avenir-12-reg pa-0 text-align-right">{{assetPeriode}}</v-card-text>
    </v-layout> -->

    <!-- Rekomendasi Investasi -->
    <div v-if="lifeplan !== null">
      <v-layout row px-3 pt-4 pb-3>
        <v-flex xs12>
          <v-card-text class="avenir-12-reg pa-0 color-secondary-5">Rekomendasi Investasi</v-card-text>
        </v-flex>
      </v-layout>
      <v-layout row wrap mb-2>
        <v-flex xs2 class="text-align-center">
          <reusable-image-lifeplan :type="lifeplan.type"></reusable-image-lifeplan>
        </v-flex>
        <v-flex xs10 mb-3>
          <v-card-text class="pa-0 avenir-14-reg">{{lifeplan.subtype}}</v-card-text>
          <v-card-text class="pa-0 nexa-14-bold">Rp. {{ numberingNumber(lifeplan.regularinvestment, true) }} <span class="avenir-12-reg pa-0 color-secondary-5">per-bulan</span></v-card-text>
        </v-flex>
      </v-layout>
    </div>

    <v-divider></v-divider>

    <!-- Performance Items Data -->
    <v-card-text class="avenir-12-med px-3 pt-4 pb-2 mb-1">Kinerja masa lalu</v-card-text>
    <v-layout px-3 row wrap align-center class="wrap-bd">
      <v-flex xs4 pa-2 class="border-style">
        <v-card-text class="pa-0 avenir-12-reg">1 Bulan</v-card-text>
        <v-card-text class="pa-0 nexa-14-bold">{{oneMonthPerformance}}%</v-card-text>
      </v-flex>
      <v-flex xs4 pa-2 class="border-style">
        <v-card-text class="pa-0 avenir-12-reg">3 Bulan</v-card-text>
        <v-card-text class="pa-0 nexa-14-bold">{{threeMonthPerformance}}%</v-card-text>
      </v-flex>
      <v-flex xs4 pa-2 class="border-style">
        <v-card-text class="pa-0 avenir-12-reg">6 Bulan</v-card-text>
        <v-card-text class="pa-0 nexa-14-bold">{{sixMonthPerformance}}%</v-card-text>
      </v-flex>
      <v-flex xs4 pa-2 class="border-style">
        <v-card-text class="pa-0 avenir-12-reg">1 Tahun</v-card-text>
        <v-card-text class="pa-0 nexa-14-bold">{{yearPerformance}}%</v-card-text>
      </v-flex>
      <v-flex xs8 pa-2 class="border-style">
        <v-card-text class="pa-0 avenir-12-reg">Sejak Awal Tahun</v-card-text>
        <v-card-text class="pa-0 nexa-14-bold">{{yearToDatePerformance}}%</v-card-text>
      </v-flex>
    </v-layout>

    <!-- Disclaimer -->
    <v-card-text class="avenir-12-med pb-0 pt-4">Penting </v-card-text>
    <v-card-text class="avenir-12-reg pt-2 mb-2">Data kinerja di atas merupakan data catatan kinerja di masa lalu dan bukan merupakan jaminan untuk kinerja di masa mendatang. Investasi melalui reksa dana mengandung risiko, kamu wajib membaca dan memahami prospektus sebelum memutuskan untuk berinvestasi.</v-card-text>

    <!-- black div -->
    <div style="height: 110px; width: 100%;"></div>
  </v-layout>
</template>
<script>
import {
  VDivider
} from 'vuetify/lib'

// Import Api
import Api from '@/services/Api'

// Import Vue
import VueHighcharts from 'vue2-highcharts'
import Highcharts from 'highcharts/highstock'

// Import image lifeplan
import ReusableImageLifeplan from '@/components/reusable/ReusableImageLifeplan'
import { dateFormat, numberingNumber, replaceDotWithComa, checkFeatures } from '@/services/Helpers'
/**
 * @group /finavest/product/reksadana
 * Product Detail Performance Page Child
*/
export default {
  name: 'ChildProductPerformanceReksadana',
  props: {
    id: {
      type: String || Number
    },
    investManager: {
      type: String
    },
    productImg: {
      type: String
    },
    initialAmount: {
      type: String
    },
    initialUnit: {
      type: String
    },
    gainlossPercentage: {
      type: String
    },
    currentAmount: {
      type: String
    },
    lifeplan: {
      type: Object
    },
    totalUnitSell: {
      type: String
    },
    fromListProduct: {
      type: String || Boolean
    },
    totalAmount: {
      type: String
    },
    currentName: {
      type: String
    },
    buyPrice: {
      type: String
    },
    assetName: {
      type: String
    },
    assetPeriode: {
      type: String
    },
    minBalanceUnit: {
      type: String
    },
    percentage: {
      type: String
    },
    totalUnit: {
      type: String
    },
    profitLoss: {
      type: String
    },
    priceTime: {
      type: String
    },
    description: {
      type: String
    },
    notes: {
      type: String
    },
    oneMonthPerformance: {
      type: String || Number
    },
    threeMonthPerformance: {
      type: String || Number
    },
    sixMonthPerformance: {
      type: String || Number
    },
    yearPerformance: {
      type: String || Number
    },
    yearToDatePerformance: {
      type: String || Number
    },
    inceptionPerformance: {
      type: String || Number
    }
  },
  components: {
    VDivider,
    ReusableImageLifeplan,
    VueHighcharts
  },
  data () {
    return {
      Highcharts: Highcharts,
      dataChart: [],
      productId: this.$route.params.productid,
      minGraphic: null,
      maxGraphic: null,
      options: {
        responsive: {
          rules: [{
            condition: {
              maxWidth: null
            },
            chartOptions: {
              chart: {
                height: 250
              },
              subtitle: {
                text: null
              },
              navigator: {
                enabled: false
              }
            }
          }]
        },
        credits: {
          enabled: false
        },
        scrollbar: {
          enabled: false
        },
        navigator: {
          enabled: false
        },
        tooltip: {
          backgroundColor: null,
          useHTML: true,
          borderWidth: 0,
          shadow: false,
          formatter: function () {
            return '<div class="tooltip-custom avenir-12-med">Rp ' + numberingNumber(this.y) + '<p class="tooltip-tgl mb-0 mt-1 avenir-12-reg">' + dateFormat(new Date(this.x * 1), 'D-MMM-YYYY') + '</p></div>'
          }
        },
        rangeSelector: {
          verticalAlign: 'bottom',
          buttonPosition: {
            align: 'center',
            x: -65,
            y: 0,
            padding: 0
          },
          labelStyle: {
            display: 'none'
          },
          buttons: [{
            type: 'month',
            count: 1,
            text: '1 bln'
          }, {
            type: 'month',
            count: 3,
            text: '3 bln'
          }, {
            type: 'month',
            count: 6,
            text: '6 bln'
          }, {
            type: 'year',
            count: 1,
            text: '1 thn'
          }, {
            type: 'ytd',
            text: 'YTD'
          }],
          buttonTheme: {
            fill: '#F6F6F7',
            width: 50,
            r: 3,
            padding: 4,
            style: {
              fontSize: 12,
              color: '#2C3B50',
              fontWeight: 'regular'
            },
            states: {
              select: {
                fill: '#42A5F5',
                style: {
                  color: '#FFFFFF',
                  fontWeight: 'bold'
                }
              }
            }
          },
          selected: 0,
          inputEnabled: false
        },
        xAxis: {
          gridLineWidth: 1,
          gridLineDashStyle: 'longdash',
          labels: {
            formatter: function () {
              return ''
            },
            style: {
              color: '#AAADC4',
              fontSize: 12
            }
          },
          crosshair: false
        },
        yAxis: {
          gridLineColor: '#E9ECF0',
          gridLineWidth: 2,
          min: null,
          max: null,
          opposite: false,
          crosshair: false,
          labels: {
            formatter: function () {
              return Number(this.value).toLocaleString(['ban', 'id'])
            },
            style: {
              color: '#AAADC4',
              fontSize: 12
            }
          }
        },
        plotOptions: {
          series: {
            fillOpacity: 0.1
          }
        },
        series: []
      },
      datenow: new Date(),
      dateYesterday: null,
      performanceItems: [
        {
          title: '1 Bulan',
          performance: this.oneMonthPerformance
        },
        {
          title: '3 Bulan',
          performance: this.threeMonthPerformance
        },
        {
          title: '6 Bulan',
          performance: this.sixMonthPerformance
        },
        {
          title: '1 Tahun',
          performance: this.yearPerformance
        },
        {
          title: 'Sejak Awal Tahun',
          performance: this.yearToDatePerformance
        },
        {
          title: 'Sejak Peluncuran',
          performance: this.inceptionPerformance
        }
      ]
    }
  },
  methods: {
    dateFormat,
    numberingNumber,
    replaceDotWithComa,
    checkFeatures,
    /**
     * @vuese
     * get date yesterday
    */
    getYesterday () {
      this.dateYesterday = new Date(this.datenow)
      this.dateYesterday.setDate(this.datenow.getDate() - 1)
    },
    /**
     * @vuese
     * put in data to chart
     * @arg item
    */
    setDataToChart (item) {
      var data = []
      var upperBound = item.length - 1
      var charts = this.$refs.emasBuyChart
      for (var i = 0; i < upperBound; i++) {
        data.push([Number(item[i].price_time), Number(item[i].buy_price)])
      }
      var min = Math.min.apply(Math, item.map(function (o) { return o.buy_price }))
      charts.delegateMethod('showLoading', 'Memuat...')
      charts.delegateMethod('update', ({
        yAxis: {
          min: min
        }
      }))
      charts.addSeries({
        type: 'areaspline',
        data: data,
        shadow: false,
        color: '#42A5F5',
        fillColor: {
          linearGradient: { x1: 0, x2: 0, y1: 0.5, y2: 1 },
          stops: [
            [0, Highcharts.Color('#BBDDFF').setOpacity(0.3).get('rgba')],
            [1, Highcharts.Color('#FFFFFF').setOpacity(0.1).get('rgba')]
          ]
        }
      })
      charts.hideLoading()
      this.doneLoading = true
    },
    /**
     * @vuese
     * fetch API data grafik
    */
    fetchData () {
      Api('finavest/investment/product/price/history', {
        productid: this.id
      })
        .then(async (res) => {
          await this.setDataToChart(res.d)
        }).catch((err) => {
          console.log('ini error', err)
        })
    }
  },
  created () {
    this.getYesterday()
    this.fetchData()
  }
}
</script>
<style lang="sass">
  .performance-detail
    margin-top: 48px
    
    .highcharts-range-selector-group
      transition: none !important

    .bd-bottom
      width: 100%
      height: 1px
      background: #E9ECF0

    .wrap-bd
      .border-style
        text-align: center
        border: 1px solid #E9ECF0

      .border-style:nth-child(1)
        border-top-left-radius: 6px

      .border-style:nth-child(1),
      .border-style:nth-child(2)
        border-bottom-width: 0
        border-right-width: 0

      .border-style:nth-child(3)
        border-top-right-radius: 6px
        border-bottom-width: 0

      .border-style:nth-child(4)
        border-bottom-left-radius: 6px
        border-right-width: 0

      .border-style:nth-child(5)
        border-bottom-right-radius: 6px

    .tooltip-tgl
      font-size: 10px !important
      color: #42A5F5 !important
      opacity: 0.7

    .color-abu
      color: #9B9EB3

    .tooltip-custom
      background: #fff
      color: #42A5F5
      font-size: 12px
      border: 2px solid #42A5F5
      border-radius: 10px
      box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.12)
      padding: 12px 17px
      letter-spacing: 0
      text-align: center

    input
      padding: 0px

    .v-text-field.v-text-field--solo .v-input__control
      min-height: 37px

    .v-btn__content
      height: auto

    .vue-highcharts
      box-shadow: none
      border: none
      margin: 0px
      padding: 0px

</style>
