<template>
  <div class="full-height product-detail-profile reksadana-flag" v-if="assetName !== 'Emas'">
    <!-- Bank Kustodian -->
    <v-card-text class="nexa-14-bold pt-4 pb-0">Bank Kustodian</v-card-text>
    <v-card-text class="avenir-12-reg pt-0 pb-0">{{ bankCustody }}</v-card-text>
    <!-- Manajer Investasi -->
    <v-card-text class="nexa-14-bold pt-4 pb-0">Manajer Investasi</v-card-text>
    <v-card-text class="avenir-12-reg pt-0 pb-0">{{ investManager }}</v-card-text>
    <!-- Total Dana Kelolaan -->
    <v-card-text class="nexa-14-bold pt-4 pb-0">Total Dana Kelolaan</v-card-text>
    <v-card-text class="avenir-12-reg pt-0 pb-0">{{ totalManagedFunds }}</v-card-text>
    <!-- Tanggal Peluncuran -->
    <v-card-text class="nexa-14-bold pt-4 pb-0">Tanggal Peluncuran</v-card-text>
    <v-card-text class="avenir-12-reg pt-0 pb-0">{{ dateFormat(launchDate, 'D-MMM-YYYY') }}</v-card-text>
    <!-- Minimal Pembelian Pertama -->
    <v-card-text class="nexa-14-bold pt-4 pb-0">Minimal Pembelian Pertama</v-card-text>
    <v-card-text class="avenir-12-reg pt-0 pb-0">Rp {{ numberingNumber(minimumFirstAmount) }}</v-card-text>
    <!-- Minimal Pembelian & Biaya Pembelian Title -->
    <v-layout row justify-space-between align-center class="nexa-14-bold mt-4">
      <v-card-text class="px-3 py-0 text-align-left">Minimal Pembelian</v-card-text>
      <v-card-text class="px-3 py-0 text-align-left">Biaya Pembelian</v-card-text>
    </v-layout>
    <!-- Minimal Pembelian & Biaya Pembelian Item -->
    <v-layout row justify-space-between align-center class="mb-4 avenir-12-reg">
      <v-card-text class="px-3 py-0 text-align-left">Rp {{numberingNumber(minimumAmount)}}</v-card-text>
      <v-card-text class="px-3 py-0 text-align-left">Rp {{ numberingNumber(purchaseFee) }}</v-card-text>
    </v-layout>
    <!-- Minimal Penjualan & Biaya Penjualan Title -->
    <v-layout row justify-space-between align-center class="nexa-14-bold">
      <v-card-text class="px-3 py-0 text-align-left">Minimal Penjualan</v-card-text>
      <v-card-text class="px-3 py-0 text-align-left">Biaya Penjualan</v-card-text>
    </v-layout>
    <!-- Minimal Penjualan & Biaya Penjualan Item -->
    <v-layout row justify-space-between align-center class="avenir-12-reg pb-4">
        <v-card-text class="px-3 py-0 text-align-left">Rp {{ numberingNumber(minimumSales) }}</v-card-text>
        <v-card-text class="px-3 py-0 text-align-left">Rp {{ numberingNumber(purchaseSales) }}</v-card-text>
    </v-layout>
  </div>

  <!-- Emas -->
  <div class="full-height product-detail-profile emas-flag" v-else>
    <!-- Bank Kustodian -->
    <v-card-text class="avenir-12-reg color-secondary-5 pt-4 pb-0">Bank Kustodian</v-card-text>
    <v-card-text class="nexa-14-bold pt-1 pb-0">-</v-card-text>
    <!-- Manajer Investasi -->
    <v-card-text class="avenir-12-reg color-secondary-5 pt-4 pb-0">Manajer Investasi</v-card-text>
    <v-card-text class="nexa-14-bold pt-1 pb-0">-</v-card-text>
    <!-- Total Dana Kelolaan -->
    <v-card-text class="avenir-12-reg color-secondary-5 pt-4 pb-0">Total Dana Kelolaan</v-card-text>
    <v-card-text class="nexa-14-bold pt-1 pb-0">Rp -</v-card-text>
    <!-- Minimal Pembelian Pertama -->
    <v-card-text class="avenir-12-reg color-secondary-5 pt-4 pb-0">Minimal Pembelian Pertama</v-card-text>
    <v-card-text class="nexa-14-bold pt-1 pb-0">Rp -</v-card-text>
    <!-- Minimal Pembelian & Biaya Pembelian Title -->
    <v-layout row justify-space-between align-center class="avenir-12-reg color-secondary-5 mt-4">
      <v-card-text class="px-3 py-0 text-align-left">Minimal Pembelian</v-card-text>
      <v-card-text class="px-3 py-0 text-align-right">Biaya Pembelian</v-card-text>
    </v-layout>
    <!-- Minimal Pembelian & Biaya Pembelian Item -->
    <v-layout row justify-space-between align-center class="nexa-14-bold mb-4">
      <v-card-text class="px-3 py-0 text-align-left">Rp -</v-card-text>
      <v-card-text class="px-3 py-0 text-align-right">Rp -</v-card-text>
    </v-layout>
    <!-- Minimal Penjualan & Biaya Penjualan Title -->
    <v-layout row justify-space-between align-center class="avenir-12-reg color-secondary-5">
      <v-card-text class="px-3 py-0 text-align-left">Minimal Penjualan</v-card-text>
      <v-card-text class="px-3 py-0 text-align-right">Biaya Penjualan</v-card-text>
    </v-layout>
    <!-- Minimal Penjualan & Biaya Penjualan Item -->
    <v-layout row justify-space-between align-center class="nexa-14-bold pb-4">
      <v-card-text class="px-3 py-0 text-align-left">Rp -</v-card-text>
      <v-card-text class="px-3 py-0 text-align-right">Rp -</v-card-text>
    </v-layout>
  </div>
</template>
<script>
import { numberingNumber, dateFormat } from '@/services/Helpers'
/**
 * @group /finavest/product/reksadana
 * Product Detail Profile Page Child
*/
export default {
  name: 'ChildProductProfileReksadana',
  props: {
    launchDate: {
      type: String
    },
    bankCustody: {
      type: String
    },
    assetName: {
      type: String
    },
    investManager: {
      type: String
    },
    productImage: {
      type: String
    },
    totalManagedFunds: {
      type: String
    },
    minimumFirstAmount: {
      type: Number
    },
    minimumAmount: {
      type: Number
    },
    purchaseFee: {
      type: Number
    },
    minimumSales: {
      type: Number
    },
    purchaseSales: {
      type: Number
    },
    description: {
      type: String
    }
  },
  methods: {
    numberingNumber,
    dateFormat
  }
}
</script>
<style lang="sass">
  .product-detail-profile
    margin-top: 48px
</style>
