<template>
  <div class="finavest-product-detail" style="background-color: white">
    <!-- Toolbar -->
    <reusable-toolbar page-name="Detail Produk"></reusable-toolbar>
    <v-container class="pa-0 toolbar-margin">
      <v-layout column v-if="isLoaded === true">
        <v-tabs centered grow class="tabs-product">
          <!-- Tab Title -->
          <v-tab active-class="active-tab" @click="trackTabs('Investment Performance Selected', performance)">
            Kinerja
          </v-tab>
          <v-tab active-class="active-tab" @click="trackTabs('Investment Detail Selected')">
            Profil
          </v-tab>
          <v-tab active-class="active-tab" @click="trackTabs('Investment Document Selected')">
            Dokumen
          </v-tab>
          <!-- Tab Item Kinerja -->
          <v-tab-item>
            <br />
            <product-detail-performance
              :id="id"
              :invest-manager="productName"
              :product-img="productImg"
              :initial-unit="initialUnit"
              :pending-unit="pendingUnit"
              :current-amount="currentAmount"
              :initial-amount="initialAmount"
              :gainloss-percentage="gainlossPercentage"
              :current-name="currentValue"
              :percentage="percentage"
              :total-unit="totalUnit"
              :total-unit-sell="totalUnitSell"
              :profit-loss="profitLoss"
              :buy-price="buyPrice"
              :price-time="priceTime"
              :asset-name="assetName"
              :asset-periode="assetPeriode"
              :one-month-performance="performance.oneMonthPerformance"
              :three-month-performance="performance.threeMonthPerformance"
              :six-month-performance="performance.sixMonthPerformance"
              :year-performance="performance.yearPerformance"
              :year-to-date-performance="performance.yearToDatePerformance"
              :inception-performance="performance.inceptionPerformance"
              :min-balance-unit="minBalanceUnit"
              :lifeplan="lifeplan"
              :total-amount="totalAmount"
              :description="description"
              :notes="notes"
            ></product-detail-performance>
          </v-tab-item>
          <!-- Tab Item Detail -->
          <v-tab-item>
            <product-detail-detail
            :launch-date="launchDate"
            :description="description"
            :bank-custody="bankCustody"
            :invest-manager="investManager"
            :total-managed-funds="totalManagedFunds"
            :minimum-first-amount="minimumFirstAmount"
            :minimum-amount="minimumAmount"
            :minimum-sales="minimumSales"
            :purchase-fee="purchaseFee"
            :purchase-sales="purchaseSales"
            :asset-name="assetName"
            ></product-detail-detail>
          </v-tab-item>
          <!-- Tab Item Dokumen -->
          <v-tab-item>
            <product-detail-document
              :prospectus="prospectus"
              :fact-sheet="factSheet"
              :asset-name="assetName"
              :product-id="id"
            ></product-detail-document>
          </v-tab-item>
        </v-tabs>
        <!-- Layout Pilih -->
        <v-layout row align-center justify-space-between v-if="fromListProductPage === true || fromListProductPage === 'true'" class="box-shadow-up fixed-layout" pa-3>
          <v-flex xs8 v-if="!fromMarket">
            <v-layout column>
              <v-card-text class="pa-0">Beli Produk</v-card-text>
              <v-card-text :class="amountBuy < startBuy ? 'pa-0 color-system-error nexa-16-bold' : 'pa-0 color-primary-1 nexa-16-bold'">Rp {{ numberingNumber(amountBuy) }}</v-card-text>
            </v-layout>
          </v-flex>
          <v-flex :xs4="!fromMarket" :xs12="fromMarket">
            <v-btn depressed class="btn-radius box-shadow" color="warning" block @click="openDialog()">
              Pilih
            </v-btn>
          </v-flex>
        </v-layout>
      </v-layout>
      <v-layout v-else column justify-center align-center class="full-height">
        <reusable-loading></reusable-loading>
      </v-layout>
    </v-container>
    <!-- Dialog -->
    <reusable-dialogs
      v-model="dialog.isOpen"
      :title="dialog.title"
      :description="dialog.desc"
      :with-button="true"
      :callback="closeDialogs"
      :image="require('@/assets/finavest/lifeplan/danger.svg')"
      :resize-image="true"
      :is-image-above-title="true">
    </reusable-dialogs>
		<!-- Dialog KYC -->
		<reusable-dialogs
			v-model="dialog.dialogKyc"
      :image="require('@/assets/others/kyc-null.svg')"
      title="Kamu Belum Verifikasi"
      description="Verifikasi diperlukan agar kamu terdaftar menjadi investor resmi, data kamu kami lindungi"
      :is-image-above-title="true"
    >
      <v-layout slot="layout-button" class="full-width" row justify-center align-center px-3 pb-3>
        <v-flex xs6 mr-2>
          <v-btn depressed block outline class="btn-radius bg-primary-3 color-primary-1" @click="routeLater()">Nanti Saja</v-btn>
        </v-flex>
        <v-flex xs6 ml-2>
          <v-btn depressed block color="primary" class="btn-radius" @click="routeKyc()">Daftar</v-btn>
        </v-flex>
      </v-layout>
		</reusable-dialogs>
		<!-- Dialog Pending -->
		<reusable-dialogs
			v-model="dialog.dialogPending"
      :image="require('@/assets/others/kyc-proccess.svg')"
      :is-image-above-title="true"
      class-title="px-3 nexa-16-bold text-xs-center color-text-1"
      title="Verifikasi kamu masih dalam Proses"
      description="Silahkan menunggu, proses verifikasi ini membutuhkan kurang lebih 1-2 hari kerja"
    >
      <v-layout slot="layout-button" class="full-width pa-20" column align-center justify-center>
        <v-btn color="primary" class="py-2 btn-radius box-shadow" depressed block @click.native="goToDashboard('lifeplan', 'assign')">Saya Mengerti</v-btn>
      </v-layout>
		</reusable-dialogs>
		<!-- Dialog Rejected -->
		<reusable-dialogs
			v-model="dialog.dialogReject"
      :image="require('@/assets/others/kyc-rejected.svg')"
      :is-image-above-title="true"
      title="Verifikasi kamu ditolak, silahkan perbaiki data"
      :description="dialog.dialogRemark"
    >
      <v-layout slot="layout-button" class="full-width" row justify-center align-center pb-3 px-3>
        <v-flex xs6 mr-2>
          <v-btn block color="primary" outline flat class="btn-radius" @click.native="goToDashboard('lifeplan', 'assign'); $analytics.track('KYC Failed')">Nanti Saja</v-btn>
        </v-flex>
        <v-flex xs6 ml-2>
          <v-btn block color="primary" class="btn-radius" @click.native="$router.push('/finacheck/kyc/list'); $analytics.track('KYC Edited')">Perbaiki Data</v-btn>
        </v-flex>
      </v-layout>
		</reusable-dialogs>

    <!-- Dialog Amount -->
    <reusable-dialogs
      v-model="dialog.dialogAmount"
    >
      <v-card slot="layout" class="full-width text-align-center card-radius pa-4">
        <v-layout column justify-center align-center>
          <div class="wrap-img mb-3">
            <img :src="productImg" alt="product">
          </div>
          <div class="avenir-14-reg">{{ assetName }}</div>
          <div class="nexa-14-bold">{{ productName }}</div>
          <div class="border-bottom-dashed" style="height: 20px; width: 100%"></div>
          <v-layout row align-center justify-center class="full-width mt-4">
            <v-flex xs6>
              <div class="avenir-14-reg">Rencana Beli</div>
              <div class="nexa-14-bold">Rp {{ numberingNumber(amountBuy) }}</div>
            </v-flex>
            <v-flex xs6>
              <div class="avenir-14-reg">Minimal Beli</div>
              <div class="nexa-14-bold">Rp {{ numberingNumber(startBuy) }}</div>
            </v-flex>
          </v-layout>
          <div class="avenir-14-reg mt-4 pt-2">Nilai pembelian akan berubah mengikuti harga minimal pembelian produk ini.</div>
          <div class="mt-4 full-width">
            <v-btn block color="primary" class="btn-radius box-shadow" @click="chooseProduct()">Saya Mengerti</v-btn>
          </div>
        </v-layout>
      </v-card>
    </reusable-dialogs>
    <!-- Amount Sheet -->
    <reusable-bottom-sheet
      v-model="openAmountSheet"
    >
      <v-card flat class="rounded-top-corners" slot="custom-layout">
        <v-layout column>
          <v-flex>
            <v-card-text class="avenir-14-reg pa-0">Mau beli berapa?</v-card-text>
            <input
              v-on:focus="true"
              v-model="amountBuy"
              v-money="openAmountSheet ? money : null"
              solo
              flat
              type="tel"
              maxlength="12"
              placeholder="Rp 0"
              style="border: 1px solid #E8EAEF; border-radius: 8px; padding: 8px" class="v-input__control bg-primary-3 mb-3"
            />
            <v-card-text class="avenir-12-reg pa-0 py-3">*Minimum Beli Rp {{ numberingNumber(startBuy) }}</v-card-text>
            <v-btn color="warning" depressed block class="btn-radius box-shadow" :disabled="isDisabled" @click="chooseProduct()">Beli</v-btn>
          </v-flex>
        </v-layout>
      </v-card>
    </reusable-bottom-sheet>
  </div>
</template>

<script>
import Api from '@/services/Api'
import { numberingNumber, replaceDotWithComa, checkFeatures, replaceDot, goToDashboard } from '@/services/Helpers'
import { addToCart, checkProduct } from '@/components/v2/finavest/market/Helpers'
import {
  VTabs,
  VTab,
  VTabItem
} from 'vuetify/lib'
import { VMoney } from 'v-money'
// Import component for tabs
const ProductDetailPerformance = () => import('./ProductDetailPerformance')
const ProductDetailDetail = () => import('./ProductDetailDetail')
const ProductDetailDocument = () => import('./ProductDetailDocument')
// Reusable data
const ReusableBottomSheet = () => import('@/components/reusable/ReusableBottomSheet')
/**
 * @group /finavest/product/reksadana
 * Product Detail Page Parent
*/
export default {
  name: 'ParentProductDetailReksadana',
  components: {
    VTabs,
    VTab,
    VTabItem,
    ReusableBottomSheet,
    ProductDetailPerformance,
    ProductDetailDetail,
    ProductDetailDocument
  },
  directives: { money: VMoney },
  data () {
    return {
      id: '',
      fromListProductPage: true,
      gainlossPercentage: 0,
      amountBuy: '',
      assetClassId: '',
      // data for Tab item performance
      productImg: '',
      initialUnit: 0,
      initialAmount: 0,
      currentAmount: 0,
      productName: '',
      currentValue: '',
      percentage: 0,
      profitLoss: 0,
      buyPrice: 0,
      priceTime: '',
      totalUnit: 0,
      totalUnitSell: 0,
      totalAmount: 0,
      assetName: '',
      assetPeriode: '',
      minBalanceUnit: 0,
      notes: '',
      money: {
        thousands: '.',
        precision: 0,
        masked: true
      },
      performance: {
        oneMonthPerformance: 0,
        threeMonthPerformance: 0,
        sixMonthPerformance: 0,
        yearPerformance: 0,
        yearToDatePerformance: 0,
        inceptionPerformance: 0
      },
      lifeplan: {},
      // data for Tab item detail
      launchDate: '',
      bankCustody: '',
      investManager: '',
      totalManagedFunds: 0,
      minimumFirstAmount: 0,
      minimumAmount: 0,
      purchaseFee: 0,
      minimumSales: 0,
      purchaseSales: 0,
      description: '',
      startBuy: 0,
      openAmountSheet: false,
      // data for Tab item document
      prospectus: '',
      factSheet: '',
      isDisabled: true,
      dialog: {
        isOpen: false,
        desc: '',
        title: '',
        dialogRemark: '',
        dialogKyc: false,
        dialogPending: false,
        dialogReject: false,
        dialogAmount: false
      },
      status: null,
      fromMarket: null,
      isLoaded: false
    }
  },
  watch: {
    amountBuy: function (value) {
      if (Number(replaceDot(value)) < this.startBuy) {
        this.isDisabled = true
      } else {
        this.isDisabled = false
      }
    }
  },
  created () {
    this.setId()
    this.setRouteCondition()
    this.checkFromMarket()
    this.fetchData()
  },
  methods: {
    numberingNumber,
    replaceDotWithComa,
    checkFeatures,
    replaceDot,
    goToDashboard,
    /**
     * @vuese
     * call api mixpanel for track tabs
     * @arg tabName, properties
    */
    trackTabs (tabName, properties) {
      if (properties) {
        this.$analytics.track(tabName, {
          one_month: properties.oneMonthPerformance,
          three_month: properties.threeMonthPerformance,
          six_month: properties.sixMonthPerformance,
          one_year: properties.yearPerformance
        })
      } else {
        this.$analytics.track(tabName)
      }
    },
    /**
     * @vuese
     * call api mixpanel for track chosen product
     * @arg product
    */
    trackChosenProduct (product) {
      this.$analytics.track('Investment Chosen', {
        asset_kind: product.asset_class_name,
        amount: Number(product.amount),
        product_id: product.product_id,
        price_now: Number(this.buyPrice)
      })
    },
    /**
     * @vuese
     * splice string
     * @arg currentString, newString
    */
    splice (currentString, newString) {
      return currentString.slice(0, 2) + newString + currentString.slice(2)
    },
    /**
     * @vuese
     * set data id from route params
    */
    setId () {
      this.id = this.$route.params.id
    },
    /**
     * @vuese
     * set data fromListProductPage from route params for show button buy
    */
    setRouteCondition () {
      this.fromListProductPage = this.$route.params.fromListProduct
    },
    /**
     * @vuese
     * get amount buy
    */
    getAmountBuy () {
      if (this.fromMarket) {
        this.amountBuy = checkProduct(this.productName).amount
      } else {
        this.amountBuy = Number(localStorage.getItem('halofina-product-amount')) || '0'
      }
    },
    /**
     * @vuese
     * fetch data product
    */
    fetchData () {
      Api('finavest/investment/product/retrieve', {
        id: Number(this.id)
      }).then((res) => {
        // For product performance
        this.productImg = res.d.product_image
        this.assetName = res.d.assetClass_name
        this.productName = res.d.name
        this.buyPrice = res.d.nab
        this.priceTime = res.d.nab_date
        this.notes = res.d.notes
        this.performance.oneMonthPerformance = this.replaceDotWithComa(res.d.one_month_performance)
        this.performance.threeMonthPerformance = this.replaceDotWithComa(res.d.three_month_performance)
        this.performance.sixMonthPerformance = this.replaceDotWithComa(res.d.six_month_performance)
        this.performance.yearPerformance = this.replaceDotWithComa(res.d.year_performance)
        this.performance.yearToDatePerformance = this.replaceDotWithComa(res.d.year_to_date_performance)
        this.performance.inceptionPerformance = this.replaceDotWithComa(res.d.inception_performance)
        this.lifeplan = null
        // For product detail
        this.launchDate = res.d.launch_date
        this.description = res.d.description
        this.bankCustody = res.d.custodian_bankname
        this.investManager = res.d.investment_manager
        this.totalManagedFunds = this.replaceDotWithComa(this.splice(res.d.aum, ' '))
        this.minimumFirstAmount = Number(res.d.min_first_buy)
        this.minimumAmount = Number(res.d.min_buy)
        this.minimumSales = Number(res.d.min_sell)
        this.startBuy = Number(res.d.start_buy)
        // For product document
        this.prospectus = res.d.prospectus
        this.factSheet = res.d.fund_fact
        this.fetchStatusKyc()
        this.getAmountBuy()
      }).catch(() => this.dialogs('Ada kesalahan', 'Coba reload atau coba beberapa saat lagi'))
    },
    /**
     * @vuese
     * open dialogs
    */
    dialogs (title, desc) {
      this.dialog.isOpen = true
      this.dialog.title = title
      this.dialog.desc = desc
    },
    /**
     * @vuese
     * close dialog
    */
    closeDialogs () {
      this.dialog.isOpen = false
    },
    /**
     * @vuese
     * choose product
    */
    chooseProduct () {
      let amountBuy = this.fromMarket ? Number(replaceDot(this.amountBuy)) : this.amountBuy
      var productObj = {}
      switch (this.assetName) {
        case 'Reksadana Pasar Uang':
          productObj = {
            product_id: this.id,
            product_name: this.productName,
            product_image: this.productImg,
            asset_class_name: this.assetName,
            asset_class_id: 1,
            amount: amountBuy < this.startBuy ? Number(this.startBuy) : Number(amountBuy),
            ri: amountBuy < this.startBuy ? Number(this.startBuy) : Number(amountBuy),
            min_buy: this.startBuy
          }
          if (this.fromMarket) {
            addToCart(productObj)
            this.$router.push('/finavest/market/dashboard')
            return
          }
          this.customPortfolio(productObj)
          localStorage.setItem('halofina-class-pasar-uang', JSON.stringify(productObj))
          setTimeout(() => {
            this.$router.go(-2)
          }, 500)
          break
        case 'Reksadana Saham':
          productObj = {
            product_id: this.id,
            product_name: this.productName,
            asset_class_name: this.assetName,
            product_image: this.productImg,
            asset_class_id: 5,
            amount: amountBuy < this.startBuy ? Number(this.startBuy) : Number(amountBuy),
            ri: amountBuy < this.startBuy ? Number(this.startBuy) : Number(amountBuy),
            min_buy: Number(this.startBuy)
          }
          if (this.fromMarket) {
            addToCart(productObj)
            this.$router.push('/finavest/market/dashboard')
            return
          }
          this.customPortfolio(productObj)
          localStorage.setItem('halofina-class-saham', JSON.stringify(productObj))
          setTimeout(() => {
            this.$router.go(-2)
          }, 500)
          break
        case 'Reksadana Pendapatan Tetap':
          productObj = {
            product_id: this.id,
            product_name: this.productName,
            product_image: this.productImg,
            asset_class_name: this.assetName,
            asset_class_id: 2,
            amount: amountBuy < this.startBuy ? Number(this.startBuy) : Number(amountBuy),
            ri: amountBuy < this.startBuy ? Number(this.startBuy) : Number(amountBuy),
            min_buy: this.startBuy
          }
          if (this.fromMarket) {
            addToCart(productObj)
            this.$router.push('/finavest/market/dashboard')
            return
          }
          this.customPortfolio(productObj)
          localStorage.setItem('halofina-class-pendapatan-tetap', JSON.stringify(productObj))
          setTimeout(() => {
            this.$router.go(-2)
          }, 500)
          break
        case 'Reksadana Campuran':
          productObj = {
            product_id: this.id,
            product_name: this.productName,
            product_image: this.productImg,
            asset_class_name: this.assetName,
            asset_class_id: 3,
            amount: amountBuy < this.startBuy ? Number(this.startBuy) : Number(amountBuy),
            ri: amountBuy < this.startBuy ? Number(this.startBuy) : Number(amountBuy),
            min_buy: this.startBuy
          }
          if (this.fromMarket) {
            addToCart(productObj)
            this.$router.push('/finavest/market/dashboard')
            return
          }
          this.customPortfolio(productObj)
          localStorage.setItem('halofina-class-campuran', JSON.stringify(productObj))
          setTimeout(() => {
            this.$router.go(-2)
          }, 500)
          break
      }
      this.trackChosenProduct(productObj)
    },
    /**
     * @vuese
     * custom portfolio
    */
    customPortfolio (productObj) {
      var customPortfolio = JSON.parse(localStorage.getItem('halofina-custom-portfolio'))
      if (customPortfolio) {
        customPortfolio.forEach((element) => {
          if (element.asset === this.assetName) {
            element.ri = productObj.ri
            element.product = productObj
          }
        })
        localStorage.setItem('halofina-custom-portfolio', JSON.stringify(customPortfolio))
      }
    },
    /**
     * @vuese
     * fetch data status kyc
    */
    fetchStatusKyc () {
      Api('finacheck/kyc/status', {})
        .then((res) => {
          this.status = res.d.status
          this.dialog.dialogRemark = res.d.remark
          this.isLoaded = true
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    /**
     * @vuese
     * open dialog if status kyc pending, rejected, onproccess, and null
    */
    openDialog () {
      let status = this.status
      let outstanding = checkFeatures('halofina:outstanding').enabled
      let amountBuy = this.amountBuy
      let startBuy = this.startBuy
      if (outstanding === true) {
        if (amountBuy >= startBuy && status !== 'REJECTED' && status !== null) {
          if (this.fromMarket) {
            this.openAmountSheet = true
          } else {
            this.chooseProduct()
          }
        } else {
          if (status === null) {
            this.dialog.dialogKyc = true
          } else if (status === 'REJECTED') {
            this.dialog.dialogReject = true
          } else if (status === 'COMPLETED') {
            if (this.fromMarket) {
              this.openAmountSheet = true
            } else {
              this.dialog.dialogAmount = true
            }
          }
        }
      } else {
        if (amountBuy >= startBuy && status === 'COMPLETED') {
          if (this.fromMarket) {
            this.openAmountSheet = true
          } else {
            this.chooseProduct()
          }
        } else {
          if (status === 'PENDING' || status === 'ONPROCESS') {
            this.dialog.dialogPending = true
          } else if (status === 'REJECTED') {
            this.dialog.dialogReject = true
          } else if (status === null) {
            this.dialog.dialogKyc = true
          } else {
            if (this.fromMarket) {
              this.openAmountSheet = true
            } else {
              this.dialog.dialogAmount = true
            }
          }
        }
      }
    },
    /**
     * @vuese
     * route to dashboard
    */
    routeLater () {
      goToDashboard('lifeplan', 'assign')
      this.trackRouteLater()
    },
    /**
     * @vuese
     * route to kyc list
    */
    routeKyc () {
      this.$router.push('/finacheck/kyc/list')
      this.trackRouteKyc()
    },
    /**
     * @vuese
     * call api mixpanel for track route later
    */
    trackRouteLater () {
      this.$analytics.track('KYC Postponed')
    },
    /**
     * @vuese
     * call api mixpanel for track kyc continued
    */
    trackRouteKyc () {
      this.$analytics.track('KYC Continued')
    },
    /**
     * @vuese
     * fetch data fromMarket from localtorage
    */
    checkFromMarket () {
      this.fromMarket = localStorage.getItem('halofina-from-market')
    }
  }
}
</script>
<style lang="sass">
  .wrap-img
    border: 1px solid #E9ECF0
    background: white
    padding: 4px 4px 0 4px
    border-radius: 3px
    width: 44px
    height: 44px
    overflow: hidden
    position: relative

    img
      width: 40px
      height: auto
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

  .finavest-product-detail
    .v-divider
      border-top-width: 6px

    .box-shadow-up
      box-shadow: 0px -3px 12px 0px rgba(0,0,0,0.12)

    .v-tabs__wrapper
      position: fixed !important
      width: 100%
      z-index: 10
      background-color: #fff

  .fixed-layout
    position: fixed
    background-color: white
    width: 100%
    bottom: 0px

  .tabs-product
    .v-tabs__item
      opacity: 1
      color: #AAADC4
      font-weight: 100

    .v-tabs__item.active-tab
      color: #42A5F5
      opacity: 1
      font-weight: bold
</style>
