<template>
  <v-layout column class="full-height product-detail-document">
    <reusable-cards
      :with-radius="false"
      :with-shadow="false"
    >
      <div slot="custom-layout">
        <v-card-text class="pa-0 nexa-14-bold mb-3">Prospektus</v-card-text>
        <v-card-text class="pa-0 avenir-12-reg mb-3">Prospektus reksa dana berisi rincian mengenai tujuan, strategi investasi, risiko kinerja, kebijakan distribusi, biaya dan pengeluaran, dan pengelolaan dana.</v-card-text>
        <v-btn style="border-radius: 6px; float: right; padding: 0;" flat depressed @click="openPdf(prospectus, 'Prospektus')"><div style="color: #42A5F5; display: flex;">Lihat Prospektus <img src="@/assets/finavest/portfolio/chevron_right_blue.svg" class="ml-2" alt=""> </div></v-btn>
      </div>
    </reusable-cards>

    <div class="py-0 pl-3 pr-0">
      <div class="bd-bottom"></div>
    </div>

    <reusable-cards
      :with-radius="false"
      :with-shadow="false"
    >
      <div slot="custom-layout">
        <v-card-text class="pa-0 nexa-14-bold mb-3">Lembar Fakta Reksa Dana</v-card-text>
        <v-card-text class="pa-0 avenir-12-reg mb-3">Lembar fakta reksa dana adalah dokumen dasar yang memberikan gambaran umum tentang reksa dana yang berisi informasi biaya-biaya, penilaian risiko, imbal hasil, alokasi aset, dan jumlah dana yang dikelola.</v-card-text>
        <v-btn id="fact-sheet" style="border-radius: 6px; float: right; padding: 0;" flat @click="openPdf(factSheet, 'Lembar Fakta')"><div style="color: #42A5F5; display: flex;">Lihat Lembar Fakta Reksa Dana <img src="@/assets/finavest/portfolio/chevron_right_blue.svg" class="ml-2" alt=""> </div></v-btn>
      </div>
    </reusable-cards>
    <!-- Dialog disclaimer -->
    <reusable-dialogs
      v-model="dialog.dialogPdf"
      :title="dialog.dialogPdfType"
      :full-screen="true"
      :hide-overlay="true">
      <div slot="layout">
        <v-card tile>
          <div class="scroll-ios">
            <v-toolbar card>
              <v-toolbar-title>
                {{dialog.dialogPdfType}}
              </v-toolbar-title>
              <v-spacer></v-spacer>
              <v-btn icon @click.native="dialog.dialogPdf = false">
                <v-icon>close</v-icon>
              </v-btn>
            </v-toolbar>
            <!-- <pdf :src="dialog.dialogPdfSource"></pdf> -->
            <iframe :src="dialog.dialogPdfSource" style="border: 0; width: 100vw; height: 90vh"/>
          </div>
        </v-card>
      </div>
    </reusable-dialogs>
  </v-layout>
</template>
<script>
import {
  VToolbar,
  VToolbarTitle,
  VSpacer,
  VDivider
} from 'vuetify/lib'
import ReusableCards from '@/components/reusable/ReusableCards'
/**
 * @group /finavest/product/reksadana
 * Product Detail Document Page Child
*/
export default {
  name: 'ChildProductDocumentReksadana',
  components: {
    VToolbar,
    VToolbarTitle,
    VSpacer,
    VDivider,
    ReusableCards
  },
  props: {
    prospectus: {
      type: String
    },
    factSheet: {
      type: String
    },
    productId: {
      type: Number
    },
    assetName: {
      type: String
    }
  },
  data () {
    return {
      dialog: {
        dialogPdf: false,
        dialogPdfType: '',
        dialogPdfSource: ''
      }
    }
  },
  methods: {
    /**
     * @vuese
     * Open PDF
     * @arg source, type
    */
    openPdf (source, type) {
      this.dialog.dialogPdf = true
      this.dialog.dialogPdfType = type
      this.dialog.dialogPdfSource = source
      this.trackButton(type)
    },
    /**
     * @vuese
     * track button
     * case 1 : prospektus
     * case 2 : lembar fakta
     * @arg type
    */
    trackButton (type) {
      if (type === 'Prospektus') {
        this.$analytics.track('Investment Prospectus Opened', {
          asset_kind: this.assetName,
          product_id: this.productId
        })
      } else {
        this.$analytics.track('Investment Fact Sheet Opened', {
          asset_kind: this.assetName,
          product_id: this.productId
        })
      }
    }
  }
}
</script>
<style lang="sass">
  .product-detail-document
    margin-top: 48px

    .bd-bottom
      width: 100%
      height: 1px
      background: #E9ECF0

    .py-3
      padding-top: 16px !important
      padding-bottom: 0 !important
</style>
