<template>
    <div class="finavest-product-aset" style="background-color: white">
      <!-- Toolbar -->
      <reusable-toolbar page-name="Aset kamu"></reusable-toolbar>
      <v-container class="pa-0 toolbar-margin">
        <v-layout column v-if="isLoaded === true">
          <!-- Layout 1 -->
          <div class="px-3 py-4 border-blue">
            <v-layout row align-center pb-4>
              <div class="wrap-img mr-3">
                <img :src="dataProduct.product_image" alt="product">
              </div>
              <v-layout column pa-0>
                <v-card-text class="avenir-14-med pa-0">{{dataProduct.name || dataProduct.product_name}}</v-card-text>
                <v-card-text class="avenir-12-reg pa-0">{{dataProduct.assetname || dataProduct.asset_class_name}}</v-card-text>
              </v-layout>
            </v-layout>

            <v-layout row pa-0>
              <v-flex xs6>
                <v-card-text class="avenir-12-reg pa-0">Nilai saat ini</v-card-text>
                <v-card-text class="nexa-14-bold pa-0">Rp {{numberingNumber(dataProduct.current_amount, true)}}</v-card-text>
              </v-flex>
              <v-flex xs6>
                <v-card-text class="avenir-12-reg pa-0">Pertumbuhan</v-card-text>
                <v-card-text class="nexa-14-bold pa-0">
                  <v-icon style="float: left; margin-left: -5px;" v-if="Number(dataProduct.gain_loss_percentage) > 0" class="color-system-success">arrow_drop_up</v-icon>
                  <v-icon style="float: left; margin-left: -5px;" v-if="Number(dataProduct.gain_loss_percentage) < 0" class="color-system-error">arrow_drop_down</v-icon>
                  <v-icon style="float: left; margin-left: -5px;" v-if="Number(dataProduct.gain_loss_percentage) === 0"></v-icon>
                  <div style="float: left; margin-top: 2px;" class="ls-1">{{numberingNumber(Number(dataProduct.gain_loss_percentage), true)}}%</div>
                </v-card-text>
              </v-flex>
            </v-layout>

            <v-layout row pa-0 py-4 class="avenir-12-reg">
              <v-flex xs6>
                <v-card-text class="pa-0 color-text-1">Modal Beli</v-card-text>
                <v-card-text class="pa-0 avenir-14-med">Rp {{numberingNumber(dataProduct.initial_amount || dataProduct.total_amount, true)}}</v-card-text>
              </v-flex>
              <v-flex xs6>
                <v-card-text class="pa-0 color-text-1">Potensi Laba/Rugi</v-card-text>
                <v-card-text class="pa-0 avenir-14-med">Rp {{numberingNumber(dataProduct.gain_loss, true)}}</v-card-text>
              </v-flex>
            </v-layout>

            <v-layout row pa-0>
              <v-flex xs6>
                <v-card-text class="avenir-12-reg pa-0 color-text-1">Total unit kamu</v-card-text>
                <v-card-text class="avenir-14-med pa-0">{{numberingReksadana(dataProduct.initial_unit || dataProduct.total_unit)}}</v-card-text>
              </v-flex>
              <v-flex xs6>
                <v-card-text class="avenir-12-reg pa-0 color-text-1">Tersedia untuk dijual</v-card-text>
                <v-card-text class="avenir-14-med pa-0">{{
                dataProduct.total_unit ? numberingReksadana(Number(dataProduct.total_unit)) : numberingReksadana(Number(dataProduct.initial_unit) - Number(dataProduct.pending_unit))}}</v-card-text>
              </v-flex>
            </v-layout>
          </div>

          <v-card-text class="avenir-12-med pb-0 px-3 pt-4">
            Harga Per Unit
          </v-card-text>

          <v-layout row px-3 justify-space-between pb-3>
            <v-card-text class="avenir-14-med pa-0 color-text-1">Rp {{numberingNumber(dataProduct.buy_price)}}</v-card-text>
            <v-card-text class="avenir-12-reg pa-0 color-abu text-xs-right">
              <span v-if="datenow.getHours() < 12">{{ dateFormat(dateYesterday, 'DD MMMM YYYY') }}, 12.00 WIB</span>
              <span v-else>{{ dateFormat(datenow, 'DD MMMM YYYY') }}, 12.00 WIB</span>
            </v-card-text>
          </v-layout>

          <v-layout py-0 pl-3 pr-0 row wrap>
            <div class="bd-bottom"></div>
          </v-layout>

          <v-card-text class="avenir-12-med pt-4 pb-2 px-3">
            Grafik Perubahan Harga
          </v-card-text>

          <!-- Grafik -->
          <div class="high-chart">
            <vue-highcharts :highcharts="Highcharts" :options="options" ref="productChart"></vue-highcharts>
          </div>

          <v-divider></v-divider>
          <div v-if="dataProduct.subtype">
            <v-card-text class="avenir-12-med pt-4 pb-2 px-3">
              Alokasi Aset
            </v-card-text>

            <reusable-cards
              :card-title="dataProduct.subtype"
              :card-description="'Rp ' + numberingNumber(dataProduct.regularinvestment) + '<span class='+'fz-10'+'>/bln</span>'"
              :use-padding-for-section-item="true"
              class-title="avenir-12-med pa-0 text-capitalize"
              class-description="nexa-14-bold pa-0"
            >
            <div class="mr-3" slot="title-layout-image">
              <reusable-image-lifeplan :type="dataProduct.type"></reusable-image-lifeplan>
            </div>
            </reusable-cards>
          </div>
          <div class="blank-box">

          </div>
          <v-layout row align-center justify-space-between class="box-shadow-up fixed-layout" pa-3>
            <v-flex xs12>
              <v-btn :disabled="Number(dataProduct.initial_unit) - Number(dataProduct.pending_unit) === 0 || Number(dataProduct.total_unit) === 0" depressed block class="btn-radius" color="primary" @click="routeToSell(lifeplanid, portfolioId)">
                Jual
              </v-btn>
            </v-flex>
          </v-layout>
        </v-layout>
        <v-layout v-else column align-center justify-center class="full-height">
          <reusable-loading></reusable-loading>
        </v-layout>
      </v-container>
    </div>
</template>

<script>
import Api from '@/services/Api'
// Import Vue
import VueHighcharts from 'vue2-highcharts'
import Highcharts from 'highcharts/highstock'

import { numberingNumber, replaceDotWithComa, numberingReksadana, dateFormat, checkFeatures } from '@/services/Helpers'
import {
  VTabs,
  VTab,
  VTabItem,
  VDivider
} from 'vuetify/lib'
import ReusableCards from '@/components/reusable/ReusableCards.vue'
import ReusableImageLifeplan from '@/components/reusable/ReusableImageLifeplan.vue'
export default {
  components: {
    VTabs,
    VTab,
    VTabItem,
    VDivider,
    VueHighcharts,
    ReusableCards,
    ReusableImageLifeplan
  },
  name: 'FinavestInvestmentDetail',
  data () {
    return {
      lifeplanid: this.$route.params.lifeplanid,
      productid: this.$route.params.id,
      Highcharts: Highcharts,
      dataChart: [],
      maxGraphic: this.buyPriceToday + 200000,
      buyPriceToday: null,
      isLoaded: false,
      datenow: new Date(),
      dateYesterday: null,
      id: '',
      dataProduct: [],
      fromListProductPage: true,
      gainlossPercentage: 0,
      amountBuy: '',
      assetClassId: '',
      // data for Tab item performance
      productImg: '',
      initialUnit: 0,
      options: {
        responsive: {
          rules: [{
            condition: {
              maxWidth: null
            },
            chartOptions: {
              chart: {
                height: 250
              },
              subtitle: {
                text: null
              },
              navigator: {
                enabled: false
              }
            }
          }]
        },
        credits: {
          enabled: false
        },
        scrollbar: {
          enabled: false
        },
        navigator: {
          enabled: false
        },
        tooltip: {
          backgroundColor: null,
          useHTML: true,
          borderWidth: 0,
          shadow: false,
          formatter: function () {
            return '<div class="tooltip-custom avenir-12-med">Rp ' + numberingNumber(this.y) + '<p class="tooltip-tgl mb-0 mt-1 avenir-12-reg">' + dateFormat(new Date(this.x * 1), 'D-MMM-YYYY') + '</p></div>'
          }
        },
        rangeSelector: {
          buttons: [{
            type: 'month',
            count: 1,
            text: '1 bln'
          }, {
            type: 'month',
            count: 3,
            text: '3 bln'
          }, {
            type: 'month',
            count: 6,
            text: '6 bln'
          }, {
            type: 'year',
            count: 1,
            text: '1 thn'
          }],
          verticalAlign: 'bottom',
          buttonPosition: {
            align: 'center',
            x: -15,
            y: 0,
            padding: 0
          },
          labelStyle: {
            display: 'none'
          },
          buttonTheme: {
            fill: '#F6F6F7',
            width: 65,
            r: 3,
            padding: 4,
            style: {
              fontSize: 12,
              color: '#2C3B50',
              fontWeight: 'regular'
            },
            states: {
              select: {
                fill: '#42A5F5',
                style: {
                  color: '#FFFFFF',
                  fontWeight: 'bold'
                }
              }
            }
          },
          selected: 0,
          inputEnabled: false
        },
        xAxis: {
          gridLineWidth: 1,
          gridLineDashStyle: 'longdash',
          labels: {
            formatter: function () {
              return ''
            },
            style: {
              color: '#AAADC4',
              fontSize: 12
            }
          },
          crosshair: false
        },
        yAxis: {
          gridLineColor: '#E9ECF0',
          gridLineWidth: 2,
          min: null,
          max: null,
          opposite: false,
          crosshair: false,
          labels: {
            formatter: function () {
              return Number(this.value).toLocaleString(['ban', 'id'])
            },
            style: {
              color: '#AAADC4',
              fontSize: 12
            }
          }
        },
        plotOptions: {
          series: {
            fillOpacity: 0.1
          }
        },
        series: []
      },
      initialAmount: 0,
      currentAmount: 0,
      productName: '',
      currentValue: '',
      percentage: 0,
      profitLoss: 0,
      buyPrice: 0,
      priceTime: '',
      totalUnit: 0,
      totalUnitSell: 0,
      totalAmount: 0,
      assetName: '',
      assetPeriode: '',
      portfolioId: this.$route.params.accountid,
      minBalanceUnit: 0,
      lifeplan: {},
      // data for Tab item detail
      prospectus: '',
      factSheet: '',
      dialog: {
        isOpen: false,
        desc: '',
        title: '',
        dialogRemark: '',
        dialogKyc: false,
        dialogPending: false,
        dialogReject: false
      },
      status: null
    }
  },
  created () {
    this.getAmountBuy()
    this.fetchDataHistory()
    this.fetchData()
    this.getYesterday()
  },
  methods: {
    checkFeatures,
    numberingNumber,
    replaceDotWithComa,
    numberingReksadana,
    dateFormat,
    getYesterday () {
      this.dateYesterday = new Date(this.datenow)
      this.dateYesterday.setDate(this.datenow.getDate() - 1)
    },
    setDataToChart (item) {
      var data = []
      var upperBound = item.length - 1
      var charts = this.$refs.productChart
      for (var i = 0; i < upperBound; i++) {
        data.push([Number(item[i].price_time), Number(item[i].buy_price)])
      }
      var min = Math.min.apply(Math, item.map(function (o) { return o.buy_price }))
      charts.delegateMethod('showLoading', 'Memuat...')
      charts.delegateMethod('update', ({
        yAxis: {
          min: min
        }
      }))
      charts.addSeries({
        type: 'areaspline',
        data: data,
        shadow: false,
        color: '#42A5F5',
        fillColor: {
          linearGradient: { x1: 0, x2: 0, y1: 0.5, y2: 1 },
          stops: [
            [0, Highcharts.Color('#BBDDFF').setOpacity(0.3).get('rgba')],
            [1, Highcharts.Color('#FFFFFF').setOpacity(0.1).get('rgba')]
          ]
        }
      })
      charts.hideLoading()
    },
    splice (currentString, newString) {
      return currentString.slice(0, 2) + newString + currentString.slice(2)
    },
    getAmountBuy () {
      this.amountBuy = localStorage.getItem('halofina-product-amount')
    },
    routeToSell (lifeplanId, productId) {
      this.$router.push('/finavest/investment/sell/sell_product/' + lifeplanId + '/' + productId)
    },
    fetchData () {
      let lifeplanId = this.$route.params.lifeplanid
      let productId = this.$route.params.productid
      if (lifeplanId === 'custom') {
        this.portfolioId = productId
        Api('v1/investment/unallocated/product/' + productId, {})
          .then((res) => {
            this.dataProduct = res.d
            this.isLoaded = true
          }).catch(() => {
            this.dialogs('Ada kesalahan', 'Coba reload atau coba beberapa saat lagi')
          })
      } else {
        Api('finavest/portfolio/lifeplan/product', {
          lifeplanid: lifeplanId,
          productid: productId
        }).then((res) => {
          this.dataProduct = res.d[0]
          this.isLoaded = true
        }).catch(() => {
          this.dialogs('Ada kesalahan', 'Coba reload atau coba beberapa saat lagi')
        })
      }
    },
    fetchDataHistory () {
      Api('finavest/investment/product/price/history', {
        productid: this.$route.params.productid
      })
        .then((res) => {
          this.setDataToChart(res.d)
          this.buyPriceToday = res.d[res.d.length - 1].buy_price
        }).catch(() => {
          this.dialogs('Ada kesalahan', 'Coba reload atau coba beberapa saat lagi')
        })
    },
    dialogs (title, desc) {
      this.dialog.isOpen = true
      this.dialog.title = title
      this.dialog.desc = desc
    },
    closeDialogs () {
      this.dialog.isOpen = false
    },
    fetchStatusKyc () {
      Api('finacheck/kyc/status', {})
        .then((res) => {
          this.status = res.d.status
          this.dialog.dialogRemark = res.d.remark
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    }
  }
}
</script>
<style lang="sass">
  .finavest-product-aset
    .color-abu
      color: #AAADC4

    .blank-box
      width: 100%
      height: 65px
      background: white

    .theme--light.v-icon
      color: #2C3B50

    .v-card
      box-shadow: none !important
      padding-top: 8px !important

    .fz-10
      font-size: 10px

    .card-radius
      border-radius: 0

    .tooltip-custom
      background: #fff
      color: #42A5F5
      font-size: 12px
      border: 2px solid #42A5F5
      border-radius: 10px
      box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.12)
      padding: 12px 17px
      letter-spacing: 0
      text-align: center

    .vue-highcharts
      box-shadow: none
      border: none
      margin: 0px
      padding: 0px

    .bd-bottom
      width: 100%
      height: 1px
      background: #E9ECF0

    .wrap-img
      border: 1px solid #E9ECF0
      background: white
      padding: 4px 4px 0 4px
      border-radius: 3px
      width: 44px
      height: 44px
      overflow: hidden
      position: relative

      img
        width: 35px
        height: auto
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

    .border-blue
      border: 2px solid #42A5F5
      border-right-width: 0
      border-left-width: 0
      margin-top: 1px
      -webkit-box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.12)
      -moz-box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.12)
      box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.12)


    .v-divider
      border-top-width: 6px

    .box-shadow-up
      box-shadow: 0px -3px 12px 0px rgba(0,0,0,0.12)

  .tooltip-tgl
    font-size: 10px !important
    color: #42A5F5 !important
    opacity: 0.7

  .fixed-layout
    position: fixed
    background-color: white
    width: 100%
    bottom: 0px
  //
  .tabs-product
    .v-tabs__item
      opacity: 1
      color: #AAADC4
      font-weight: 100

    .v-tabs__item.active-tab
      color: #42A5F5
      opacity: 1
      font-weight: bold
</style>
