<template>
  <div class="shimering-dashboard bg-primary-3 full-height">
    <!-- Header -->
    <div class="wrap-header skeleton-box bg px-20 not-overflow">
      <!--  -->
      <v-layout row justify-space-between style="position: relative; z-index: 100">
        <img src="@/assets/dashboard/logo-white.svg" alt="logo white">
        <img src="@/assets/icons/ic-voucher.svg" style="height: 24px !important;" alt="logo voucher">
      </v-layout>
      <!--  -->
      <v-layout column py-4>
        <div class="skeleton-box text mb-2" style="width:91px"></div>
        <div class="skeleton-box text" style="width:175px"></div>
      </v-layout>
      <!--  -->
      <v-layout align-center px-20 row class="bg-primary-3 wrap-risk-profile">
        <div class="skeleton-box bg r-50" style="width: 32px; height: 32px;"></div>
        <v-layout column class="ml-2">
          <div class="skeleton-box text mb-1" style="width:73px"></div>
          <div class="skeleton-box text" style="width:241px"></div>
        </v-layout>
      </v-layout>
    </div>

    <!-- Menu Finance -->
    <div class="px-20">
      <div style="height: 35px"></div>
      <div class="skeleton-box text mb-3" style="width:108px"></div>
      <!--  -->
      <v-layout row justify-center>
        <v-flex xs3 v-for="elem in 4">
          <v-layout column>
            <div class="skeleton-box bg r-50 mb-2 margin-auto" style="width: 43px; height: 43px;"></div>
            <div class="skeleton-box text mt-1 margin-auto" style="width:33px; height: 12px;"></div>
          </v-layout>
        </v-flex>
      </v-layout>
    </div>

    <!-- Lifeplan -->
    <div>
      <v-layout row align-start justify-space-between class="px-20 pt-20 mt-3">
        <v-layout column>
          <div class="skeleton-box text mb-1" style="width:61px"></div>
          <div class="skeleton-box text mb-20" style="width:175px"></div>
        </v-layout>
        <div class="skeleton-box text mb-1" style="width:81px"></div>
      </v-layout>
      <!-- Card -->
      <div>
        <v-layout row class="scroll-wrapper pl-20" style="overflow: auto; display: inline-flex;">
          <div class="wrap-card-lifeplan scroll-child mr-3" v-for="i in 3">
            <div class="skeleton-box bg" style="width: 100%; height: 109px;"></div>
            <v-layout row justify-space-between class="bg-primary-3 px-20 pt-3 pb-20">
              <v-layout column>
                <div class="skeleton-box text mb-2" style="width:96px; height: 12px;"></div>
                <div class="skeleton-box text" style="width:73px; height: 12px;"></div>
              </v-layout>
              <v-layout column align-end>
                <div class="skeleton-box text mb-2" style="width:99px; height: 12px;"></div>
                <div class="skeleton-box text" style="width:79px; height: 12px;"></div>
              </v-layout>
            </v-layout>
          </div>
        </v-layout>
      </div>
    </div>

    <!-- Portfolio -->
    <div class="mt-4 mb-4">
      <div class="skeleton-box bg px-20 pt-20 not-overflow" style="width: 100%; height: 234px">
        <v-layout column>
          <div class="skeleton-box text mb-3" style="width:144px; height: 12px;"></div>
          <div class="skeleton-box text mb-2 mt-20" style="width:57px; height: 12px;"></div>
          <div class="skeleton-box text" style="width:118px; height: 12px;"></div>
        </v-layout>
        <v-layout row justify-space-between>
          <v-layout column>
            <div class="skeleton-box text mb-2 mt-20" style="width:83px; height: 12px;"></div>
            <div class="skeleton-box text" style="width:68px; height: 12px;"></div>
          </v-layout>
          <v-layout column align-end>
            <div class="skeleton-box text mb-2 mt-20" style="width:83px; height: 12px;"></div>
            <div class="skeleton-box text" style="width:68px; height: 12px;"></div>
          </v-layout>
        </v-layout>
        <!-- card -->
        <v-layout row class="scroll-wrapper my-4" style="overflow: auto; display: inline-flex;">
          <div class="wrap-card-lifeplan scroll-child mr-3" v-for="i in 3">
            <v-layout row class="bg-primary-3 px-3 pt-3" style="width: 100%; height: 80px;">
              <div class="skeleton-box bg r-8 mb-2 mr-3" style="width: 40px; height: 40px;"></div>
              <v-layout column>
                <div class="skeleton-box text mb-2" style="width:118px; height: 12px;"></div>
                <div class="skeleton-box text" style="width:57px; height: 12px;"></div>
              </v-layout>
            </v-layout>
            <v-layout row justify-space-between class="bg-primary-3" style="border-top: 1px solid #E8EAEF;">
              <v-flex xs6 class="py-3" style="border-right: 1px solid #E8EAEF;">
                <v-layout column align-center>
                  <div class="skeleton-box text mb-2" style="width:85px; height: 12px;"></div>
                  <div class="skeleton-box text" style="width:57px; height: 12px;"></div>
                </v-layout>
              </v-flex>
              <v-flex xs6 class="py-3">
                <v-layout column align-center>
                  <div class="skeleton-box text mb-2" style="width:85px; height: 12px;"></div>
                  <div class="skeleton-box text" style="width:57px; height: 12px;"></div>
                </v-layout>
              </v-flex>
            </v-layout>
          </div>
        </v-layout>

      </div>
    </div>

  </div>
</template>
<script>
export default {
  data: () => ({

  })
}
</script>
<style lang="sass">
  .shimering-dashboard
    overflow: hidden

    *
      padding: 0
      margin: 0

    .margin-auto
      margin: auto

    .wrap-header
      padding-top: 22px
      width: 100%
      height: 170px

    .wrap-card-lifeplan
      box-shadow: 0px 6px 10px rgba(23, 23, 23, 0.05)
      width: 275px
      border-radius: 8px
      overflow: hidden
      border: 1px solid rgba(232, 234, 239, 0.7)

    .wrap-risk-profile
      border-radius: 5px
      border: 1px solid #E8EAEF
      padding: 14px 0
      position: relative
      z-index: 10

</style>
