<template>
  <div class="shimmering-transaction full-height full-width">
    <div>
      <v-layout column class="px-20 py-3">
        <v-layout row class="wrap-card bg-primary-3 pa-3 mb-3" v-for="i in 5">
          <div class="skeleton-box bg r-8 mr-3" style="width: 36px; height: 36px;"></div>
          <v-layout column>
            <div class="skeleton-box text mb-2" style="width:58px; height: 12px;"></div>
            <div class="skeleton-box text mb-2" style="width:75px; height: 12px;"></div>
            <div class="skeleton-box bg mb-4" style="width:117px; height: 16px; border-radius: 4px;"></div>
            <v-layout row justify-space-between>
              <div class="skeleton-box text" style="width:88px; height: 12px;"></div>
              <div class="skeleton-box text" style="width:16px; height: 16px;"></div>
            </v-layout>
          </v-layout>
        </v-layout>
      </v-layout>
    </div>
  </div>
</template>
<script>
export default {
  data: () => ({

  })
}
</script>
<style lang="sass">
  .shimmering-transaction
    overflow: hidden

    *
      padding: 0
      margin: 0

    .margin-auto
      margin: auto

    .wrap-card
      box-shadow: 0px 6px 10px rgba(23, 23, 23, 0.05)
      width: 100%
      border-radius: 8px
      overflow: hidden
      border: 1px solid rgba(232, 234, 239, 0.7)
</style>
