<template>
  <div class="shimmering-portfolio bg-primary-3 full-height">
      <v-layout column class="px-20 pb-4" style="box-shadow: 0px 6px 10px rgba(23, 23, 23, 0.05);">
        <v-card-text class="nexa-16-bold text-xs-center my-3">
          Portofolio
        </v-card-text>
        <v-layout column pb-4>
          <div class="skeleton-box text mb-2" style="width:75px; height: 12px;"></div>
          <div class="skeleton-box bg mb-2" style="width: 117px; height: 16px; border-radius: 4px;"></div>
        </v-layout>
        <v-layout row justify-space-between>
          <v-layout column>
            <div class="skeleton-box text mb-2" style="width:75px; height: 12px;"></div>
            <div class="skeleton-box bg" style="width: 55px; height: 14px; border-radius: 4px;"></div>
          </v-layout>
          <v-layout column align-end>
            <div class="skeleton-box text mb-2" style="width:75px; height: 12px;"></div>
            <div class="skeleton-box bg" style="width: 55px; height: 14px; border-radius: 4px;"></div>
          </v-layout>
        </v-layout>
      </v-layout>

      <div class="skeleton-box bg my-20 ml-20" style="width: 166px; height: 14px; border-radius: 4px;"></div>

      <div class="mx-20 mb-3" v-for="i in 3">
        <v-layout align-center column class="card pt-4">
          <div class="skeleton-box bg r-8 mb-3" style="width: 83px; height: 83px;"></div>
          <div class="skeleton-box bg mb-2" style="width: 209px; height: 20px; border-radius: 4px;"></div>
          <div class="skeleton-box text mb-2" style="width:167px; height: 12px;"></div>
          <div class="skeleton-box text mb-20" style="width:75px; height: 12px;"></div>
          <v-layout column align-center class="py-20 full-width" style="border-top: 1px solid #E8EAEF;">
            <div class="skeleton-box text" style="width:81px; height: 12px;"></div>
          </v-layout>
        </v-layout>
      </div>
  </div>
</template>
<script>
export default {
  data: () => ({

  })
}
</script>
<style lang="sass">
  .shimmering-portfolio
    overflow: hidden
    
    *
      padding: 0
      margin: 0

    .margin-auto
      margin: auto

    .card
      box-shadow: 0px 6px 10px rgba(139, 139, 139, 0.07)
      border-radius: 8px
      border: 1px solid #E8EAEF
      background-color: #fff

</style>
