<template>
  <div class="shimering-profile bg-primary-3 full-height">
    <!-- Header -->
    <div class="wrap-header skeleton-box bg px-20 pb-4 not-overflow">
      <v-layout column py-4 mb-2>
        <div class="skeleton-box text mb-2" style="width:206px; height: 16px;"></div>
        <div class="skeleton-box text mt-1" style="width:124px; height: 16px;"></div>
      </v-layout>
      <!--  -->
      <v-layout column mt-5 class="px-20 py-3 bg-primary-3" style="border-radius: 8px;">
        <div class="skeleton-box text mb-2" style="width:206px; height: 16px;"></div>
        <div class="skeleton-box text" style="width:124px; height: 16px;"></div>
      </v-layout>
    </div>

    <!-- list -->
    <v-layout row align-center class="py-4 px-20" style="border-bottom: 1px solid #E8EAEF;" v-for="i in 6">
      <div class="skeleton-box text mr-3" style="width:24px; height: 24px;"></div>
      <div class="skeleton-box text" style="width:128px; height: 16px;"></div>
    </v-layout>

  </div>
</template>
<script>
export default {
  data: () => ({

  })
}
</script>
<style lang="sass">
  .shimering-profile
    overflow: hidden

    *
      padding: 0
      margin: 0

    .margin-auto
      margin: auto

    .wrap-header
      padding-top: 22px
      width: 100%
</style>
