<template>
  <div class="finacheck-login-update full-height bg-primary-3">
    <v-container>
      <v-layout column class="text-align-center" align-center justify-center>
        <v-card-text class="avenir-16-reg pt-0">Pembaruan</v-card-text>
        <v-card-text class="nexa-20-bold">Peningkatan Kemanan</v-card-text>
        <img :src="require('@/assets/finacheck/security.svg')"/>
        <v-card-text>Untuk mencegah orang lain mengakses akun kamu, dibutuhkan kata sandi yang kuat, silahkan buat kata sandi kamu.</v-card-text>
        <v-btn block small color="primary" class="btn-radius box-shadow py-2" depressed @click.native="$router.push('/password/new')">
          Buat kata sandi
        </v-btn>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import { setBackRouteToAndroid } from '@/services/Helpers'
export default {
  created () {
    setBackRouteToAndroid('/vuetify15/#/login/update')
  }
}
</script>

<style>

</style>
