<template>
  <div class="finacheck-kyc-signup-v2 bg-primary-3 full-height">
    <reusable-toolbar page-name="Buat Akun">
      <template slot="button-toolbar">
        <v-btn icon @click="goBack()">
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </template>
    </reusable-toolbar>
    <v-container fill-height>
      <v-layout row align-center justify-center>
        <v-flex v-if="password.toPassword === true">
          <v-form>
            <v-layout mt-1 column pa-3>
              <v-card-text class="nexa-20-bold mb-5">Masukkan kata sandi</v-card-text>
              <v-flex xs12 mb-3>
                <v-card-text class="mb-2 avenir-12-reg">Masukkan kata sandi</v-card-text>
                <v-text-field
                  placeholder="Password"
                  v-model="password.password"
                  hide-details
                  solo
                  flat
                  :type="showPassword ? 'text' : 'password'"
                  :append-icon="showPassword ? 'visibility' : 'visibility_off'"
                  @click:append="showPassword = !showPassword">
                </v-text-field>
                <v-layout mt-2>
                  <v-card-text v-html="validation.password" class="ml-2 mt-0 pa-0 avenir-12-reg color-system-error">
                  </v-card-text>
                </v-layout>
              </v-flex>

              <!-- List Validation -->
              <div v-for="(text, index) in validationTexts" :key="index">
                <v-card-text class="ml-2 pa-0 avenir-12-reg">
                  <div class="checked" v-if="text.checked === '•'">
                    {{ text.checked }}
                  </div>
                  <div class="checked" v-else>
                    <img src="@/assets/finacheck/checked.svg" alt="checked">
                  </div>
                  {{ text.text }}
                </v-card-text>
              </div>

              <v-flex xs12 mb-4 mt-3>
                <v-card-text class="mb-2 avenir-12-reg">Ulangi kata sandi</v-card-text>
                <v-text-field
                  placeholder="Password"
                  v-model="password.confirmPassword"
                  hide-details
                  solo
                  flat
                  :type="showConfirmPassword ? 'text' : 'password'"
                  :append-icon="showConfirmPassword ? 'visibility' : 'visibility_off'"
                  @click:append="showConfirmPassword = !showConfirmPassword">
                </v-text-field>
                <v-layout mt-2>
                  <v-card-text v-html="validation.confirmPassword" class="ml-2 mb-2 mt-0 pa-0 avenir-12-reg color-system-error">
                  </v-card-text>
                </v-layout>
              </v-flex>
            </v-layout>
            <v-layout column mt-1 justify-end class="full-width px-3">
              <v-flex>
                <v-btn block color="primary" depressed @click="submit()" :disabled="password.password === '' ||password.confirmPassword === '' || isDisabledPassword" class="btn-radius box-shadow">Lanjut</v-btn>
              </v-flex>
            </v-layout>
          </v-form>
        </v-flex>
        <v-flex v-else>
          <v-form autocomplete="off">
            <v-layout mt-1 column pa-3>
              <v-card-text class="nexa-20-bold mb-5">Isi form dibawah ini</v-card-text>
              <v-flex xs12 mb-4>
                <v-card-text class="mb-2 avenir-12-reg">Masukkan Nama kamu</v-card-text>
                <v-text-field
                  color="primary"
                  v-model="name"
                  placeholder="Nama"
                  hide-details
                  solo
                  flat
                >
                </v-text-field>
                <v-layout mt-2>
                  <v-card-text v-html="validation.name" class="ml-2 mb-2 mt-0 pa-0 avenir-12-reg color-system-error">
                  </v-card-text>
                </v-layout>
              </v-flex>
              <v-flex xs12 mb-4>
                <v-card-text class="mb-2 avenir-12-reg">Nomor HP</v-card-text>
                <v-text-field
                  color="primary"
                  v-model="phone"
                  type="tel"
                  placeholder="Masukkan nomor HP"
                  hide-details
                  solo
                  flat
                >
                </v-text-field>
                <v-layout mt-2>
                  <v-card-text v-html="validation.phone" class="ml-2 mb-2 mt-0 pa-0 avenir-12-reg color-system-error">
                  </v-card-text>
                </v-layout>
              </v-flex>
              <v-flex xs12 mb-4>
                <v-card-text class="mb-2 avenir-12-reg">Email</v-card-text>
                <v-text-field
                  color="primary"
                  v-model="email"
                  type="email"
                  browser-autocomplete="off"
                  placeholder="Masukkan Email"
                  hide-details
                  solo
                  flat
                >
                </v-text-field>
                <v-layout mt-2>
                  <v-card-text v-html="validation.email" class="ml-2 mb-2 mt-0 pa-0 avenir-12-reg color-system-error">
                  </v-card-text>
                </v-layout>
              </v-flex>
            </v-layout>
            <v-layout column mt-1 justify-end class="full-width px-3">
              <v-flex>
                <v-btn block color="primary" depressed @click="password.toPassword = true" :disabled="email === '' || phone === '' || name === '' || isDisabled" class="btn-radius box-shadow">Lanjut</v-btn>
              </v-flex>
            </v-layout>
          </v-form>
        </v-flex>
      </v-layout>
    </v-container>

    <reusable-dialogs
        v-model="dialog.dialogUploading"
        :unclickable="true"
    >
        <div slot="layout">
          <v-card flat class="card-radius" style="width: 100%">
            <v-layout py-3 px-5 row align-center justify-center>
              <div class="nexa-14-bold px-5">Loading...</div>
            </v-layout>
          </v-card>
        </div>
    </reusable-dialogs>
    <!-- Dialog error -->
    <reusable-dialogs
      v-model="dialog.dialogError"
      :description="dialog.dialogErrorDesc"
      :resize-image="true"
      :is-image-above-title="true"
    ></reusable-dialogs>
  </div>
</template>

<script>
// Import Vuetify
import {
  VTextField,
  VToolbarTitle,
  VToolbar,
  VSpacer,
  VForm
} from 'vuetify/lib'

// Import API
import Api from '@/services/Api'

import ReusableGoogleButton from '@/components/reusable/ReusableGoogleButton'

export default {
  name: 'TheSignUp',
  components: {
    VTextField,
    VToolbarTitle,
    VToolbar,
    VSpacer,
    VForm,
    ReusableGoogleButton
  },
  data () {
    return {
      scroll: false,
      phone: '',
      email: '',
      name: '',
      password: {
        password: '',
        confirmPassword: '',
        toPassword: false
      },
      validation: {
        password: '',
        confirmPassword: '',
        phone: null,
        email: null,
        name: null
      },
      dialog: {
        dialogUploading: false,
        dialogError: false,
        dialogErrorDesc: '',
        dialogDisclaimer: false,
        dialogDiscTitle: '',
        dialogDiscDesc: '',
        dialogDiscUrl: ''
      },
      validationTexts: [
        {
          checked: '•',
          text: 'Terdapat karakter huruf besar dan huruf kecil.'
        },
        {
          checked: '•',
          text: 'Terdapat setidaknya satu karakter angka.'
        },
        {
          checked: '•',
          text: 'Panjang kata sandi minimal 8 karakter.'
        }
      ],
      isDisabled: true,
      isDisabledPassword: true,
      showPassword: false,
      showConfirmPassword: false
    }
  },
  watch: {
    name: function (value) {
      const pattern = /[^a-zA-Z' ]/
      if (pattern.test(value) === true) {
        this.validation.name = 'Isi dengan huruf'
      } else {
        this.validation.name = null
      }
    },
    phone: function (value) {
      const pattern = /^\d+$/
      if (pattern.test(value) === false) {
        this.validation.phone = 'Isi dengan angka'
      } else {
        this.validation.phone = null
      }
    },
    email: function (value) {
      const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      if (pattern.test(value) === false) {
        this.validation.email = 'Format e-mail salah'
      } else {
        this.validation.email = null
      }
    },
    validation: {
      handler (value) {
        let phone = value.phone
        let email = value.email
        let name = value.name
        if (phone === null && email === null && name === null) {
          this.isDisabled = false
        } else {
          this.isDisabled = true
        }
      },
      deep: true
    },
    password: {
      handler (value) {
        let password = value.password
        let confirmPassword = value.confirmPassword
        let containCapital = /[A-Z]/
        let containSmallLetter = /[a-z]/
        let containDigit = /[0-9]/
        let validation = this.validationTexts

        // If contain capital letter
        if (containCapital.test(password) && containSmallLetter.test(password)) {
          validation[0].checked = ''
        } else {
          validation[0].checked = '•'
        }
        // If contain Digit
        if (containDigit.test(password)) {
          validation[1].checked = ''
        } else {
          validation[1].checked = '•'
        }
        // If length > 8
        if (password.length >= 8) {
          validation[2].checked = ''
        } else {
          validation[2].checked = '•'
        }
        // Enable button
        if (password.length >= 8 && containCapital.test(password) && containSmallLetter.test(password) && containDigit.test(password) && confirmPassword === password) {
          this.isDisabledPassword = false
        } else {
          this.isDisabledPassword = true
        }
        //
        if (password === confirmPassword) {
          this.validation.confirmPassword = ''
        } else {
          this.validation.confirmPassword = 'Kata sandi tidak sesuai'
        }
      },
      deep: true
    }
  },
  methods: {
    reversePassword (password) {
      var reversedPassword = password
      reversedPassword = reversedPassword.split('')
      reversedPassword = reversedPassword.reverse()
      reversedPassword = reversedPassword.join('')
      return reversedPassword
    },
    goBack () {
      if (this.password.toPassword === true) {
        this.password.toPassword = false
      } else {
        window.history.back()
      }
    },
    signUpGoogle (user) {
      // access API
      var password = this.reversePassword(user.w3.U3)
      var googleUser = {
        name: user.w3.ig,
        email: user.w3.U3,
        phone: user.El,
        pass: password
      }
      this.isDisabled = true
      this.dialog.dialogUploading = true
      Api('finacheck/kyc/register/v2', {...googleUser})
        .then((resRegister) => {
          this.setAlias(googleUser.email)
          this.setUserProperties(googleUser.phone, googleUser.email)
          localStorage.setItem('halofina-name', JSON.stringify(googleUser.name))
          localStorage.setItem('halofina-email', googleUser.email)
          localStorage.setItem('halofina-google-user', JSON.stringify(googleUser))
          // Login user
          Api('finacheck/kyc/login/v2', {
            email: googleUser.email
          }).then((resLogin) => {
            this.$analytics.setIdentify(googleUser.email)
            localStorage.setItem('halofina-token', resLogin.d.token)
            // Password
            Api('finacheck/kyc/password/check', {
              oldpass: googleUser.pass
            }).then((resPass) => {
              localStorage.setItem('halofina-from-google', 1)
              this.$router.push('/personal')
              this.dialog.dialogUploading = false
              this.isDisabled = false
            }).catch(() => {
              // password catch
              this.dialog.dialogUploading = false
              this.isDisabled = false
            })
          }).catch(() => {
            // Login catch
            this.dialog.dialogUploading = false
            this.isDisabled = false
          })
        })
        .catch((err) => {
          // Register catch
          this.isDisabled = false
          this.dialog.dialogUploading = false
          if (err.m === 'Nomor telepon telah terdaftar, silakan login!') {
            this.validation.phone = 'Nomor telepon telah terdaftar'
          } else if (err.m === 'Email telah terdaftar, silakan login!') {
            this.validation.email = 'Email telah terdaftar'
          } else {
            //
          }
        })
    },
    open (type) {
      this.dialog.dialogDiscUrl = 'https://landing-v1.halofina.com/' + type
      this.dialog.dialogDisclaimer = true
    },
    scrollUp (id) {
      this.scroll = true
      this.focused = true
      var elmnt = document.getElementById(id)
      elmnt.scrollIntoView({behavior: 'smooth'})
    },
    setAlias (param) {
      this.$analytics.setAlias(param)
    },
    setUserProperties (phone, email) {
      this.trackCreated(phone, email)
      this.$analytics.userProperties({
        '$phone': phone,
        '$email': email
      })
    },
    trackCreated (phone, email) {
      this.$analytics.track('Account Created', {
        phone: phone,
        email: email
      })
    },
    submit () {
      this.isDisabled = true
      this.dialog.dialogUploading = true
      let data = {
        phone: this.phone,
        email: this.email,
        pass: this.password.password,
        fullname: this.name
      }
      // access API
      Api('finacheck/kyc/register/v2', {...data})
        .then((res) => {
          this.setAlias(data.email)
          this.setUserProperties(data.phone, data.email)
          localStorage.setItem('halofina-email', data.email)
          localStorage.setItem('halofina-token', res.d.token)
          localStorage.setItem('halofina-name', JSON.stringify(this.name))
          this.$router.push('/activation/signup')
          this.isDisabled = false
          this.dialog.dialogUploading = false
        })
        .catch((err) => {
          this.isDisabled = false
          this.dialog.dialogUploading = false
          if (err.m === 'Nomor telepon telah terdaftar, silakan login!') {
            this.dialogError('Nomor telepon telah terdaftar')
          } else if (err.m === 'Email telah terdaftar, silakan login!') {
            this.dialogError('Email telah terdaftar')
          } else {
            this.dialogError('Coba reload atau coba beberapa saat lagi')
          }
        })
    },
    dialogError (desc) {
      this.dialog.dialogError = true
      this.dialog.dialogErrorDesc = desc
    }
  }
}
</script>

<style lang="sass">
  .finacheck-kyc-signup-v2

    *
      margin: 0
      padding: 0

    .checked
      float: left
      margin-right: 12px
      width: 7px
      height: 7px

</style>
