<template>
  <div class="add-voucher min-height bg-primary-3">
    <reusable-toolbar page-name="Tambah Voucher" />
    <v-layout column class="toolbar-margin pt-140 px-20">
      <v-flex xs12>
        <v-text-field
          label="Masukkan Kode Voucher"
          placeholder="Kode Voucher"
          v-model="voucher"
        ></v-text-field>
      </v-flex>
    </v-layout>
    <v-btn color="primary" :disabled="false" class="btn-next nexa-16-bold" depressed @click="redeem()"> Tambah Voucher </v-btn>
  </div>
</template>
<script>
export default {
  data () {
    return {
      voucher: null
    }
  },
  methods: {
    /**
     * @vuese
     * redeem voucher and redirect to page completed redeem voucher
    */
    redeem () {
      this.$router.push('/profile/voucher/completed')
    }
  }
}
</script>
<style lang="sass">
  .add-voucher
    *
      padding: 0
      margin: 0

    .v-toolbar
        box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important  

    .v-label
      font-family: 'Avenir-Regular', Helvetica, Arial, Sans-Serif !important
      color: #6E7692 !important
      font-size: 16px !important

    .v-input input
      font-family: 'Avenir-Regular', Helvetica, Arial, Sans-Serif !important
      font-size: 22px !important
      line-height: 30px
      color: #505565 !important
      height: 60px !important
      max-height: 70px !important
      padding: 8px 0 20px
      padding-bottom: 0

    .theme--light.v-text-field > .v-input__control > .v-input__slot:before
      border-color: #B3B7C6 !important

    .pt-140
      padding-top: 140px
      
    .v-input__slot
      margin-top: 0px
      height: auto !important

    .v-input
      margin-top: 0px

    .btn-next
      width: 100%
      position: fixed
      bottom: 0
      height: 56px !important


</style>