<template>
  <div class="voucher-completed bg-primary-3" :style="'min-height: ' + screenHeight + 'px;'">
    <v-layout column justify-center align-center class="padding-top-center">
      <img src="@/assets/profile/illustration-completed.svg" class="pb-5" alt="illustration-completed">
      <v-card-text class="nexa-18-bold color-text-1 text-xs-center">
        Voucher berhasil ditambahkan!
      </v-card-text>
      <v-card-text class="avenir-14-reg pt-3 text-xs-center color-text-1">
        Sekarang kamu bisa gunakan vocher kamu <br /> untuk transaksi di layanan Halofina.
      </v-card-text>
    </v-layout>
    <v-layout row justify-center class="wrap-button px-20">
      <v-flex>
        <v-btn depressed class="nexa-16-bold" color="primary" block @click="goListVoucher()">Lihat Voucher Saya</v-btn>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
export default {
  data: () => ({
    screenHeight: screen.height
  }),
  methods: {
    /**
     * @vuese
     * redirect to list voucher
    */
    goListVoucher () {
      this.$router.push('/finavest/investment/list_voucher')
    }
  }
}
</script>
<style lang="sass">
  .voucher-completed
    *
      padding: 0
      margin: 0

    .v-toolbar
      position: relative

    .wrap-button
      position: fixed
      bottom: 24px
      width: 100%

      .v-btn
        height: 48px

    .padding-top-center
      padding-top: 15vh
</style>
