<template>
    <div class="finavest-payment-method-invoice" :style="'min-height: ' + screenHeight + 'px;'">
      <reusable-toolbar page-name="Invoice Pembayaran" :change-namespace="true" namespace="dashboard" route="/dashboard?tab=history">
      </reusable-toolbar>

      <div class="toolbar-bottom"></div>

        <v-layout row wrap align-center justify-space-between ma-3 class="wrap-countdown" v-if="status === 'Menunggu Pembayaran'">
          <v-layout row align-center>
            <img src="@/assets/finavest/invoice/icon-clock.svg" class="pr-2" alt="icon clock">
            <span class="avenir-14-reg color-denotive-yellow-3">Batas Waktu Transfer</span>
          </v-layout>
          <span class="avenir-14-med color-denotive-yellow-3 text-xs-right">{{counterDisplay}}</span>
        </v-layout>
        
        <v-layout column>
          <v-card flat>
            <v-layout column align-center my-4>
              <img src="@/assets/premium/premium-icon.svg" alt="logo premium" >
              <v-card-text class="pa-0 text-align-center nexa-16-bold mt-1">Akun Premium</v-card-text>
            </v-layout>
            
            <template v-if="status === 'Menunggu Pembayaran'">
              <v-divider v-if="!isFaspayEnabled"></v-divider>
              
              <div v-if="!isFaspayEnabled" class="px-20">
                <!-- Total Transaksi -->
                <v-card-text class="nexa-16-bold color-text-1 py-3 px-0">
                  Transfer Ke
                </v-card-text>

                <!-- Tujuan Bank -->
                <v-layout row justify-space-between align-center class="border-bottom-dashed">
                  <v-flex xs8>
                    <v-layout column>
                      <v-card-text class="pa-0 text-align-left avenir-14-med">{{ accountName }}</v-card-text>
                    </v-layout>
                  </v-flex>
                  <v-flex xs4 class="text-xs-right">
                    <img :src="bankImg" v-if="bankImg" height="45" alt="bank mandiri">
                  </v-flex>
                </v-layout>

                <!-- Nomor Virtual Account -->
                <v-layout row justify-space-between align-center py-3 class="border-bottom-dashed">
                  <v-flex xs8>
                    <v-layout column>
                      <v-card-text class="pa-0 text-align-left avenir-12-reg color-text-1">Nomor Virtual Account</v-card-text>
                      <input id="text-nomor" class="avenir-14-med pa-0" readonly :value="bankAccount"/>
                    </v-layout>
                  </v-flex>
                  <v-flex xs4 class="text-xs-right y-3">
                    <button class="r-16 btn-radius nexa-12-light btn-copy" @click="copyToClipboard(bankAccount, 'text-nomor'); snackbars = true">
                        Salin
                    </button>
                  </v-flex>
                </v-layout>
                <!-- Petunjuk Pembayaran -->
                <v-layout @click="goInstructionPayment()" row justify-space-between align-center py-3 pr-2>
                  <div class="avenir-14-med mr-2 text-xs-center" style="color: #388BF2;">Lihat Petunjuk Pembayaran</div>
                  <v-icon style="color: #388BF2; font-size: 10px;">arrow_forward_ios</v-icon>
                </v-layout>
              </div>
            </template>

            <v-divider></v-divider>

            <v-card-text class="nexa-16-bold color-text-1 py-3 px-20">
              Detail Transaksi
            </v-card-text>
            <!-- Status Pembelian -->
            <v-layout row class="px-20">
              <v-layout row justify-space-between align-center py-3 class="border-bottom-solid">
                <v-flex xs6>
                  <v-card-text class="pa-0 text-align-left avenir-14-reg color-text-1">Status</v-card-text>
                </v-flex>
                <v-flex xs6>
                  <div :class="'avenir-12-reg text-align-right ' + classColor"><span :class="'py-1 px-2 wrap-status ' + bgColor">• {{ status }}</span></div>
                </v-flex>
              </v-layout>
            </v-layout>

            <v-layout row class="px-20">
              <v-layout row justify-space-between align-center py-3 class="border-bottom-solid">
                <v-card-text class="pa-0 text-align-left avenir-14-reg color-text-1">No. Transaksi</v-card-text>
                <v-card-text class="pa-0 text-align-right avenir-14-reg color-text-3">{{ transactionNumber }}</v-card-text>
              </v-layout>
            </v-layout>
            <!-- Tanggal Pembelian -->
            <v-layout row class="px-20">
              <v-layout row justify-space-between align-center py-3 class="border-bottom-solid">
                <v-card-text class="pa-0 text-align-left avenir-14-reg color-text-1">Tanggal</v-card-text>
                <v-card-text class="pa-0 text-align-right avenir-14-reg color-text-3">{{ dateFormat(dateTransaction, 'DD MMMM YYYY') }}</v-card-text>
              </v-layout>
            </v-layout>
            <!-- Waktu Pembelian -->
            <v-layout row class="px-20">
              <v-layout row justify-space-between align-center py-3>
                <v-card-text class="pa-0 text-align-left avenir-14-reg color-text-1">Waktu</v-card-text>
                <v-card-text class="pa-0 text-align-right avenir-14-reg color-text-3">{{ dateFormat(dateTransaction, 'HH:mm') }} WIB</v-card-text>
              </v-layout>
            </v-layout>

            <v-divider></v-divider>
            <!-- Detail Pembayaran -->
            <div class="px-20">
              <v-flex>
                <v-card-text class="nexa-16-bold color-text-1 pa-0 py-3">
                  Detail Pembayaran
                </v-card-text>
                <!-- Total -->
                <v-layout row align-end class="border-bottom-dashed">
                  <v-flex class="avenir-14-reg py-3 color-text-3" xs8>
                    <span class="color-text-1">Paket</span> <br>
                    {{ package_name }}
                  </v-flex>
                  <v-flex xs4>
                    <v-layout column>
                      <v-flex class="text-align-right avenir-14-reg color-text-3 py-3">
                        Rp {{ numberingNumber(amount) }}
                      </v-flex>
                    </v-layout>
                  </v-flex>
                </v-layout>
                <!-- Unique Code -->
                <v-layout row align-end class="border-bottom-dashed">
                  <v-flex class="avenir-14-reg py-3" xs8>
                    <span class="color-text-3">Biaya Admin</span>
                  </v-flex>
                  <v-flex xs4>
                    <v-layout column>
                      <v-flex class="text-align-right avenir-14-reg color-text-3 py-3">
                        Rp {{ numberingNumber(adminFee) }}
                      </v-flex>
                    </v-layout>
                  </v-flex>
                </v-layout>
              </v-flex>

            </div>

            <!-- Total -->
            <v-layout row align-center justify-space-between class="px-20">
              <v-card-text class="px-0 avenir-14-med">TOTAL</v-card-text>
              <v-card-text class="px-0 avenir-16-med text-align-right">Rp {{numberingNumber(total)}}</v-card-text>
            </v-layout>
          </v-card>

          <!-- Upload SS -->
          <!-- <template v-if="!isFaspayEnabled">
            <v-flex class="px-20 pt-3" v-if="status === 'Menunggu Pembayaran' || status === 'Dalam Proses'">
              <v-btn class="btn-radius nexa-14-bold btn-unggah-ulang mb-2" @click="pickScreenshot()" flat block>
                <img src="@/assets/finavest/invoice/icon-upload.svg" alt="icon upload" style="margin-top: -2px;" class="mr-2">
                <div class="color-primary-1 text-align-center" v-if="status === 'Menunggu Pembayaran'">Unggah Bukti Transfer</div>
                <div class="color-primary-1 text-align-center" v-else>Unggah Ulang</div>
              </v-btn>
              <input type="file" style="display: none" ref="imagescreenshot" accept="image/*" @change="onFilePickedScreenshot">
            </v-flex>
          </template> -->

          <!-- Button -->
          <div style="height: 50px"></div>
          <div class="mt-36 pos-fixed full-width" style="bottom: 0px">
            <v-btn class="nexa-14-bold btn-beranda" depressed flat @click="backToDashboard()" block>
              <div>Kembali ke Beranda</div>
            </v-btn>
          </div>
        </v-layout>

        <instructions-sheet
          v-if="dataPaymentInstruction"
          :is-open="instructionOpen"
          :image="dataPaymentInstruction.img_url"
          :payment-title="dataPaymentInstruction.title"
          :way-title="dataPaymentInstruction.detail.category"
          :way-list="dataPaymentInstruction.detail.instruction">
          <div slot="close-button">
            <v-btn icon @click="instructionOpen = false">
              <img src="@/assets/icons/icon-back.svg" style="width: 24px; height: 24px;" alt="arrow back">
            </v-btn>
          </div>
        </instructions-sheet>

        <!-- Dialog Screenshot -->
        <v-dialog v-model="dialog.dialogUpload" fullscreen transition="dialog-bottom-transition" scrollable style="margin: 0px !important; background-color: white">
          <v-card flat style="background-color: white">
              <v-toolbar card style="background-color: white">
              <v-toolbar-title>
                  Upload Bukti Investasi
              </v-toolbar-title>
              <v-spacer></v-spacer>
              <v-btn icon @click.native="dialog.dialogUpload = false; screenshot = ''">
                  <v-icon>close</v-icon>
              </v-btn>
              </v-toolbar>
              <v-layout column align-center px-3 justify-center>
                  <img :src="result64" alt="Red dot" style="width:auto; height:auto; max-height: 400px;"/>
              </v-layout>
              <v-layout row px-3>
                  <v-flex xs6 mr-2>
                      <v-btn block depressed @click="pickScreenshot" class="btn-radius box-shadow bg-primary-3 color-primary-1">Ganti</v-btn>
                  </v-flex>
                  <v-flex xs6 ml-2>
                      <v-btn block color="primary" depressed @click="uploadScreenshot" class="btn-radius box-shadow">Upload</v-btn>
                  </v-flex>
              </v-layout>
          </v-card>
        </v-dialog>

        <!-- Dialog Type Not Supported -->
        <reusable-dialogs
          v-model="dialog.dialogCheckType.isOpen"
          :title="dialog.dialogCheckType.title"
          :description="dialog.dialogCheckType.desc"
          :resize-image="true"
        ></reusable-dialogs>

        <!-- Dialog Error -->
        <reusable-dialogs
          v-model="dialog.dialogError"
          :resize-image="true"
        ></reusable-dialogs>

        <!-- Dialog Uploading -->
        <reusable-dialogs
          v-model="dialog.dialogUploading"
          :resize-image="true"
          :unclickable="true"
        >
          <div slot="layout">
            <v-card flat class="card-radius" style="width: 100%">
              <v-layout pa-3 row align-center justify-center>
                <reusable-loading></reusable-loading>
                <div class="nexa-14-bold ml-5">Mengunggah</div>
              </v-layout>
            </v-card>
          </div>
        </reusable-dialogs>

        <!-- Dialog Done Uploading -->
        <reusable-dialogs
          v-model="dialog.dialogDoneUploading"
          title="Selesai Mengunggah"
          :description="null"
          :resize-image="true"
        >
        </reusable-dialogs>
      
        <v-snackbar color="success" v-model="snackbars" :timeout="1500">
          Text telah disalin
        </v-snackbar>
    </div>
</template>

<script>
import Api from '@/services/Api'
// Vuetify Import
import {
  VSnackbar,
  VSpacer,
  VDialog,
  VToolbar,
  VToolbarTitle,
  VDivider
} from 'vuetify/lib'
// Helper functions
import { numberingNumber, dateFormat, copyToClipboard, checkFeatures, goToDashboard } from '@/services/Helpers'
import InstructionsSheet from '@/components/reusable/finavest/payment/InstructionsSheet'

const { getTime } = require('date-fns')
const { convertToTimeZone } = require('date-fns-timezone')

export default {
  name: 'FinavestPaymentMethod',
  components: {
    InstructionsSheet,
    VSnackbar,
    VSpacer,
    VDialog,
    VToolbar,
    VToolbarTitle,
    VDivider
  },
  data () {
    return {
      id: '',
      screenHeight: screen.height,
      fullheightCondition: false,
      formData: new FormData(),
      dataPaymentInstruction: null,
      accountName: '',
      uniqueCode: 0,
      dialog: {
        dialogCheckType: {
          isOpen: false,
          title: '',
          desc: ''
        },
        dialogUpload: false,
        dialogDoneUploading: false,
        dialogUploading: false,
        dialogError: false
      },
      cashback: {
        cashback: null,
        cashbackValue: 0,
        cashbackAsset: '',
        cashbackType: ''
      },
      package_name: '',
      transactionNumber: '',
      expiredTime: '',
      dateTransaction: '',
      instructionOpen: false,
      status: '',
      statusRedeem: '',
      statusType: '',
      bgColor: '',
      bankAccount: '',
      bankName: '',
      result64: '',
      resultBlob: null,
      bankImg: null,
      snackbars: false,
      adminFee: '',
      className: 'finaspend-payment-detail',
      counterDisplay: '0 Jam 0 Menit',
      classColor: '',
      // Detail pembayaran,
      total: '',
      isFaspayEnabled: false
    }
  },
  watch: {
    result64: function (value) {
      if (value !== '') {
        this.dialog.dialogUpload = true
      } else {
        this.dialog.dialogUpload = false
      }
    }
  },
  methods: {
    numberingNumber,
    dateFormat,
    copyToClipboard,
    getFaspayRoleMapping () {
      this.isFaspayEnabled = checkFeatures('halofina:faspay').enabled
    },
    goInstructionPayment () {
      this.instructionOpen = true
    },
    fetchData () {
      Api('premium/transaction/invoice', {
        invoice_uuid: this.id
      })
        .then((res) => {
          this.transactionNumber = res.data.transaction_number
          this.total = res.data.total_amount
          this.amount = res.data.amount
          this.uniqueCode = res.data.unique_code
          this.dateTransaction = res.data.transaction_time
          this.expiredTime = res.data.expired_time
          this.fullheightCondition = document.body.scrollHeight > screen.height
          this.bankAccount = res.data.account_number
          this.accountName = res.data.account_name
          this.bankName = res.data.payment_bankname
          this.package_name = res.data.package_name
          this.adminFee = res.data.admin_fee
          // this.checkCashback(this.items)
          // this.uniqueCode = res.data.unique_code
          // Set class based on status
          if (res.data.status === 'NEW') this.counter()
          this.setClassForStatus(res.data.status)
          this.getPaymentMethod(res.data.payment_method_id, res.data.payment_channel_id)
        }).catch(() => {
          this.dialog.dialogError = true
        })
    },
    sleep (ms) {
      return new Promise(resolve => setTimeout(resolve, ms))
    },
    async counter () {
      var diff = 4 * 60 * 60
      var start = getTime(dateFormat(this.expiredTime, 'YYYY-MM-DD HH:mm:ss'))
      while (diff > 0) {
        var end = getTime(convertToTimeZone(dateFormat(Date.now(), 'YYYY-MM-DD HH:mm:ss'), { timeZone: 'Asia/Jakarta' }))
        diff = ((start - end) / 1000) + (4 * 60 * 60)
        var H = Math.floor(diff / 3600)
        var M = Math.floor((diff - (3600 * H)) / 60)
        // hide second
        // var S = diff - (3600 * H) - (60 * M)
        this.counterDisplay = this.pad(M) + ' Menit'
        await this.sleep(1000)
      }
      this.setClassForStatus('EXPIRED')
    },
    pad (num) {
      return ('0' + parseInt(num)).substr(-2)
    },
    dialogCheckType (title, desc) {
      this.result64 = ''
      this.dialog.dialogCheckType.isOpen = true
      this.dialog.dialogCheckType.title = title
      this.dialog.dialogCheckType.desc = desc
    },
    onFilePickedScreenshot (e) {
      let self = this
      let files = e.target.files || e.dataTransfer.files
      if (files.length > 0) {
        // If file is not pdf jpg or png
        if (files[0].type !== 'image/png' && files[0].type !== 'image/jpeg' && files[0].type !== 'application/pdf') {
          this.dialogCheckType('Tidak dapat mengunggah foto', 'Format file yang kamu pilih harus PNG, JPG, atau PDF.')
          this.trackUploadError()
          return
        }
        self.resizeImage(files[0])
      }
    },
    resizeImage (files) {
      const fr = new FileReader()
      var self = this
      fr.onload = function (readerEvent) {
        var image = new Image()
        image.onload = function (imageEvent) {
          var canvas = document.createElement('canvas')
          var maxSize = 544
          var width = image.width
          var height = image.height
          if (width > height) {
            if (width > maxSize) {
              height *= maxSize / width
              width = maxSize
            }
          } else {
            if (height > maxSize) {
              width *= maxSize / height
              height = maxSize
            }
          }
          canvas.width = width
          canvas.height = height
          canvas.getContext('2d').drawImage(image, 0, 0, width, height)
          canvas.toBlob(function (blob) {
            self.resultBlob = blob
          })
          var dataUrl = canvas.toDataURL('image/jpeg')
          self.result64 = dataUrl
        }
        image.src = readerEvent.target.result
      }
      fr.readAsDataURL(files)
    },
    appendDataToForm () {
      this.formData.append('receipt_image_url', this.resultBlob, 'Screenshot.png')
      this.formData.append('data', JSON.stringify({
        'payment_number': this.id
      }))
    },
    uploadScreenshot () {
      var self = this
      this.appendDataToForm()
      self.dialog.dialogUploading = true
      fetch(process.env.API_SERVER + 'mobile/premium/transaction/upload', {
        method: 'POST',
        headers: {
          'X-Authorization': `Bearer ${localStorage.getItem('halofina-token')}`,
          'X-Api-Key': process.env.API_KEY
        },
        body: self.formData
      })
        .then(() => {
          this.fetchData()
          self.formData = new FormData()
          self.dialog.dialogUploading = false
          self.dialog.dialogUpload = false
          self.dialog.dialogDoneUploading = true
        })
        .catch(() => {
          self.dialog.dialogUploading = false
          self.dialog.dialogUpload = false
          this.dialog.dialogError = true
        })
    },
    checkCashback (items) {
      var self = this
      var value = 0
      items.forEach((element) => {
        if (element.voucher_code) {
          self.cashback.cashback = element.voucher_code
          self.cashback.cashbackValue = element.cashback === '0.00' ? Number(element.discount) : Number(element.cashback)
          value = element.cashback === '0.00' ? Number(element.discount) : Number(element.cashback)
          self.cashback.cashbackAsset = element.asset_class_name
          self.cashback.cashbackType = element.voucher_type === 'D' ? 'Diskon' : 'Cashback'
        }
      })
      if (this.cashback.cashbackType === 'Diskon') {
        this.items.push({
          product_name: 'Voucher Diskon',
          amount: '-' + value,
          color: 'color-system-success'
        })
      }
    },
    setClassForStatus (status) {
      switch (status) {
        case 'NEW':
          this.bgColor = 'bg-denotive-yellow-2'
          this.classColor = 'color-denotive-yellow-1'
          this.status = 'Menunggu Pembayaran'
          this.statusType = status
          break
        case 'EXPIRED':
          this.bgColor = 'bg-supportive-lavender-2'
          this.classColor = 'color-supportive-lavender-1'
          this.status = 'Kadaluarsa'
          this.statusType = status
          break
        case 'COMPLETED':
          this.bgColor = 'bg-denotive-green-2'
          this.classColor = 'color-denotive-green-1'
          this.status = 'Berhasil'
          this.statusType = status
          break
      }
    },
    backToDashboard () {
      goToDashboard('history', 'assign')
    },
    pickScreenshot () {
      this.$refs.imagescreenshot.click()
    },
    getPaymentMethod (methodId, channelId) {
      Api('mobile/premium/payment/detail', {
        payment_method_id: methodId,
        payment_channel_id: channelId
      })
        .then((res) => {
          this.bankImg = res.data.img_url
          this.dataPaymentInstruction = res.data
        })
    }
  },
  created () {
    this.id = this.$route.params.trxid
    this.getFaspayRoleMapping()
    this.fetchData()
  }
}
</script>
<style lang="sass">

  .finavest-payment-method-invoice
    .btn-unggah-ulang
      padding: 14px 0
      background: #FFFFFF
      border: 1px solid #E8EAEF

    .btn-copy
      border: 1px solid #E8EAEF
      background-color: white
      padding: 6px 18px
      font-weight: bold
      font-size: 12px

    .btn-beranda
      padding: 16px 0
      background: #51AAF4
      color: #fff

    .border-bottom-solid
      border-bottom: 1px solid #E8EAEF

    .v-toolbar
      z-index: 20
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

    .wrap-countdown
      background-color: #FFF3DB
      height: 48px
      color: #ECA518
      border-radius: 4px
      border-left: 6px solid #FBAF18
      padding: 0 13px 0 11px

    .bg-border
      background-color: #E8EAEF

    .wrap-status
      border-radius: 13px

    .w-40
      height: 40px !important

    .cashback
      border: 1px solid #42A5F5

    .v-divider
      border-top-width: 8px

    .r-16
      border-radius: 16px

    .v-btn
      height: auto
      margin: 0px 4px

    .bg-system-warning-detail
      background-color: #FFD13B

    .toolbar-bottom
      height: 48px

    .border-bottom
      border-bottom-left-radius: 12px
      border-bottom-right-radius: 12px
</style>
