<template>
  <div class="already-invest full-height bg-primary-3">
    <v-container pa-0>
      <v-layout column>
        <v-flex pt-3 px-4>
          <v-layout row>
            <v-flex xs1 @click="gobackRoute()">
              <img src="@/assets/icons/icon-back.svg"/>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-carousel v-model="slide" :cycle="false" hide-controls class="text-xs-center text-md-center text-lg-center text-xl-center">
          <v-carousel-item v-for="(item, index) in items" :key="index">
            <v-img :src="item.img" class="max-height-custom" :style="'height: auto; margin: 0 auto; width: ' + item.width"/>
            <v-container fill-height class="carousel-caption">
              <v-layout align-center>
                <v-flex>
                  <div class="nexa-20-bold pb-3 pt-4 mt-2 color-primary-5 title-onboard" v-html="item.title"></div>
                  <div class="avenir-14-reg desc" v-html="item.desc"></div>
                </v-flex>
              </v-layout>
            </v-container>
          </v-carousel-item>
        </v-carousel>
        <div class="z-index2" v-if="slide !== 3">
          <v-layout row justify-center>
            <v-flex xs12 px-3 pt-0 class="mtn-60" style="text-align: center">
              <v-layout row>
                <v-btn block color="primary box-shadow rounded" depressed @click="next">
                  Lanjut
                </v-btn>
              </v-layout>
              <div @click="routing('login')" class="skip pa-0 color-primary-1 no-background avenir-14-reg">LEWATI</div>
            </v-flex>
          </v-layout>
        </div>

        <div class="z-index2" v-if="slide === 3">
          <v-layout row justify-center>
            <v-flex xs12 px-3 pt-0 class="mtn-60" style="text-align: center">
              <v-layout row>
                <v-btn block color="primary box-shadow rounded" depressed @click="routing('login')">
                  Lanjut
                </v-btn>
              </v-layout>
              <div @click="routing('login')" class="skip pa-0 color-primary-1 no-background avenir-14-reg">LEWATI</div>
            </v-flex>
          </v-layout>
        </div>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
// Vuetify import
import {
  VCarousel,
  VCarouselItem,
  VImg
} from 'vuetify/lib'
// Helper function
import { setPullToRefresh, setBackRouteToAndroid } from '@/services/Helpers'

export default {
  name: 'Onboarding',
  components: {
    VCarousel,
    VCarouselItem,
    VImg
  },
  data () {
    return {
      slide: 0,
      items: [
        {
          title: 'Pilih Instrumen Investasi <br /> Sesuka Hati',
          desc: 'Mulai dari reksa dana, emas sampai P2P lending, <br /> beragam produk investasi tersedia untuk kamu, <br /> silakan pilih!',
          img: require('@/assets/onboarding/illustrator-1.svg'),
          width: '75%'
        },
        {
          title: 'Beragam Kemudahan <br /> dalam Bertransaksi',
          desc: 'Transaksi Investasi di Halofina <br /> bisa beli banyak produk dalam <br /> satu transaksi.',
          img: require('@/assets/onboarding/illustrator-2.svg'),
          width: '85%'
        },
        {
          title: 'Didukung oleh Financial <br /> Experts Berpengalaman',
          desc: 'Rekomendasi investasi yang diberikan oleh <br /> Halofina berdasarkan pada algoritma yang <br /> dibuat oleh <i class="tracking">financial experts</i> kami.',
          img: require('@/assets/onboarding/illustrator-3.svg'),
          width: '85%'
        },
        {
          title: 'Monitor Semua Aset <br /> dalam Satu Aplikasi!',
          desc: 'Pantau performa berbagai instrumen <br /> investasi kamu dengan lebih mudah <br /> di satu fitur <i class="tracking">tracking.</i>',
          img: require('@/assets/onboarding/illustrator-4.svg'),
          width: '80%'
        }
      ]
    }
  },
  created () {
    this.setPullToRefresh('true')
    this.checkRefreshStatus()
  },
  mounted () {
    setBackRouteToAndroid('/onboarding/')
  },
  methods: {
    setPullToRefresh,
    checkRefreshStatus () {
      let status = localStorage.getItem('halofina-refreshed')
      if (!status) {
        window.location.reload(true)
      }
    },
    next () {
      this.slide++
    },
    onboardingTrack () {
      this.$analytics.track('On Boarding Page Viewed')
    },
    gobackRoute () {
      this.$router.push('/onboarding')
    },
    routing () {
      this.$router.push('/choose')
    }
  }
}
</script>

<style lang="sass">
.already-invest
  letter-spacing: 1
  overflow-y: hidden

  .desc
    color: #505565 !important
    line-height: 22px

  .max-height-custom
    max-height: 260px

  .title-onboard
    width: auto
    margin: auto
    font-size: 23px

  .rounded
    border-radius: 4px

  .w-5
    width: 5px
    height: 1px

  .v-window
    height: 90vh !important

  .v-window__container
    height: 0px !important

  .v-carousel
    height: 70vh
    box-shadow: none

  .z-index2
    z-index: 2

  .mtn-60
    margin-top: -90px

  .v-carousel__controls
    height: 240px !important
    background: none !important

  .v-btn--icon.v-btn--small
    width: 0px
    padding: 0 8px

  .v-btn .v-btn__content .v-icon
    color: #2C3B50
    opacity: 0.2

  .v-btn--active
    i
      color: #2C3B50 !important
      opacity: 1 !important

  i
    font-size: 9px !important

  .carousel-caption
    position: absolute
    bottom: -15vh
    padding: 0 16px !important


  .skip
    background: transparent
    text-decoration: none
    margin-top: 24px

    &:hover
      cursor: pointer

  i.tracking
    font-size: 14px !important

// Pixel 2, iphone 6/7/8 Plus
@media only screen and (max-width: 414px)
  .already-invest
    .max-height-custom
      max-height: 1000px

    .carousel-caption
      bottom: -20vh

// iphone 6/7/8, iphonex
@media only screen and (max-width: 393px)
  .already-invest
    .max-height-custom
      max-height: 290px

    .carousel-caption
      bottom: -20vh

// iphone 6/7/8, iphonex
@media only screen and (max-width: 375px)
  .already-invest
    .max-height-custom
      max-height: 1000px

    .carousel-caption
      bottom: -20vh

// nexus 5
@media only screen and (max-width: 360px)
  .already-invest
    .max-height-custom
      max-height: 260px

    .carousel-caption
      bottom: -15vh

    .v-carousel__controls
      height: 160px !important

    .skip
      margin-top: 10px

    .mtn-60
      margin-top: -64px

// iphone 5
@media only screen and (max-width: 320px)
  .already-invest
    .avenir-14-reg
      font-size: 12px

    .title-onboard
      font-size: 21px

    .max-height-custom
      max-height: 240px

    .carousel-caption
      bottom: -15vh
      padding: 0 20px !important

    .title-onboard
      padding-top: 0 !important

    .v-carousel__controls
      height: 145px !important

    .mtn-60
      margin-top: -60px

    .skip
      margin-top: 7px

</style>
