<template>
  <div class="onboarding-calculator full-height bg-primary-3">
    <v-container pa-0>
      <v-layout column>

        <v-flex pt-4 px-4>
          <v-layout row>
            <v-flex xs1 @click="gobackRoute()">
              <img src="@/assets/icons/icon-back.svg"/>
            </v-flex>
          </v-layout>
        </v-flex>

        <v-flex xs12 class="container-custom">
          <v-card-text class="color-primary-5 title-onboard nexa-20-bold pb-2 mb-1">
            Kamu ingin mencapai impian <br /> apa di masa depan?
          </v-card-text>
        </v-flex>

        <v-flex xs12 class="container-custom">
          <v-card-text class="avenir-12-reg pb-2">
            Pilih Impian kamu
          </v-card-text>
        </v-flex>

        <!-- Lifeplan Card -->
        <v-layout class="scroll-wrapper" row style="overflow: auto">
          <v-flex class="scroll-child pl-3 pr-2 pb-2 mt-2">
            <div :class="'arrow-down ' + classPendidikan"></div>
            <v-card flat :class="'wrapper-lifeplan ' + classPendidikan" @click="pendidikan()">
              <p class="type-lifeplan">Pendidikan</p>
              <img src="@/assets/finavest/lifeplan/v3/o-pendidikan.svg" class="img-lifeplan">
            </v-card>
          </v-flex>
          <v-flex class="scroll-child px-2 mt-2">
            <div :class="'arrow-down ' + classMobil"></div>
            <v-card flat :class="'wrapper-lifeplan ' + classMobil" @click="mobil()">
              <p class="type-lifeplan">Mobil</p>
              <img src="@/assets/finavest/lifeplan/v3/o-mobil.svg" class="img-lifeplan">
            </v-card>
          </v-flex>
          <v-flex class="scroll-child px-2 mt-2">
            <div :class="'arrow-down ' + classRumah"></div>
            <v-card flat :class="'wrapper-lifeplan ' + classRumah" @click="rumah()">
              <p class="type-lifeplan">Rumah</p>
              <img src="@/assets/finavest/lifeplan/v3/o-rumah.svg" class="img-lifeplan">
            </v-card>
          </v-flex>
          <v-flex class="scroll-child px-2 mt-2">
            <div :class="'arrow-down ' + classLiburan"></div>
            <v-card flat :class="'wrapper-lifeplan ' + classLiburan" @click="liburan()">
              <p class="type-lifeplan">Liburan</p>
              <img src="@/assets/finavest/lifeplan/v3/o-liburan.svg" class="img-lifeplan">
            </v-card>
          </v-flex>
          <v-flex class="scroll-child pl-2 pr-3 mt-2">
            <div :class="'arrow-down ' + classPernikahan"></div>
            <v-card flat :class="'wrapper-lifeplan ' + classPernikahan" @click="pernikahan()">
              <p class="type-lifeplan">Pernikahan</p>
              <img src="@/assets/finavest/lifeplan/v3/o-pernikahan.svg" class="img-lifeplan">
            </v-card>
          </v-flex>
        </v-layout>

        <v-flex xs12 class="container-custom-2">
          <v-card-text class="avenir-12-reg pt-2">
            Masukan biaya impian kamu saat ini
          </v-card-text>
          <v-text-field
            v-model="presentValue"
            id="present_value"
            label="Contoh: Rp 10.000.000"
            type="tel"
            v-on:focus="fetchApiStopTypingValue()"
            v-money="presentValue !== null ? money : null"
            single-line
            hide-details
          ></v-text-field>
        </v-flex>

        <v-flex xs12 class="container-custom-2">
          <v-card-text class="avenir-12-reg pt-4">
            Durasi (tahun)
          </v-card-text>
          <v-text-field
            v-model="duration"
            id="duration"
            label="Contoh: 10"
            type="tel"
            v-on:focus="fetchApiStopTypingDuration()"
            single-line
            hide-details
          ></v-text-field>
        </v-flex>


        <v-layout row px-4 pt-4>
          <v-flex xs6 class="pos-relative">
            <div class="invest-month">
              <v-card-text class="text-xs-center title-invest avenir-12-reg">
                Tabungan Bulanan <br /> (Tanpa Investasi)
              </v-card-text>
              <v-card-text class="pt-3 current nexa-14-bold text-xs-center pb-2">
                Rupiah
              </v-card-text>

              <v-card-text v-if="amountNotInvest !== '-'" class="text-xs-center amount-yellow nexa-14-bold">
                {{numberingNumber(Number(amountNotInvest))}}
              </v-card-text>

              <v-card-text v-else class="text-xs-center amount-null-red nexa-14-bold">
                -
              </v-card-text>

            </div>
            <div class="line-center"></div>
          </v-flex>
          <v-flex xs6>
            <div class="invest-month">
              <v-card-text class="text-xs-center title-invest avenir-12-reg">
                Tabungan Investasi <br /> Bulanan dengan Halofina
              </v-card-text>
              <v-card-text class="pt-3 current nexa-14-bold text-xs-center pb-2">
                Rupiah
              </v-card-text>

              <v-card-text v-if="amountInvest !== '-'" class="text-xs-center amount-blue nexa-14-bold">
                {{numberingNumber(Number(amountInvest))}}
              </v-card-text>

              <v-card-text v-else class="text-xs-center amount-null-green nexa-14-bold">
                -
              </v-card-text>

            </div>
          </v-flex>
        </v-layout>

        <div class="z-index2">
          <v-layout row justify-center>
            <v-flex xs12 px-3 pt-4 mt-2 class="mtn-60" style="text-align: center">
              <v-layout row>
                <v-btn block color="primary rounded" :disabled="isDisabled" depressed @click="next()">
                  Lanjut
                </v-btn>
              </v-layout>
              <div @click="skip()" class="skip pa-0 color-primary-1 no-background avenir-14-reg">LEWATI</div>
            </v-flex>
          </v-layout>
        </div>

      </v-layout>
    </v-container>
  </div>
</template>
<script>
// import api
import Api from '@/services/Api'

// Vuetify import
import { VImg, VCardTitle, VSpacer, VList } from 'vuetify/lib'

// import vmoney
import { VMoney } from 'v-money'

// Helper function
import { setPullToRefresh, setBackRouteToAndroid, numberingNumber } from '@/services/Helpers'

export default {
  components: {
    VImg, VCardTitle, VSpacer, VList
  },
  directives: { money: VMoney },
  data () {
    return {
      money: {
        thousands: '.',
        precision: 0,
        masked: true
      },
      labelManupilation: '',
      classPendidikan: '',
      classMobil: '',
      classRumah: 'active',
      classLiburan: '',
      classPernikahan: '',
      amountInvest: '-',
      amountNotInvest: '-',
      doneLoading: false,
      typeLifeplan: 'rumah',
      presentValue: null,
      duration: '',
      isDisabled: true
    }
  },
  created () {
    this.$helpers.setRouteToLocalStorage('/onboarding')
    this.setPullToRefresh('true')
    this.checkRefreshStatus()
  },
  mounted () {
    setBackRouteToAndroid('/onboarding')
  },
  methods: {
    setPullToRefresh,
    numberingNumber,
    checkRefreshStatus () {
      let status = localStorage.getItem('halofina-refreshed')
      if (!status) {
        window.location.reload(true)
      }
    },
    fetchApiStopTypingValue () {
      // Get the input box
      var textInputValue = document.getElementById('present_value')
      // Init a timeout variable to be used below
      var timeout = null
      var self = this
      // Listen for keystroke events
      textInputValue.onkeyup = function (e) {
        // Clear the timeout if it has already been set.
        // This will prevent the previous task from executing
        // if it has been less than <MILLISECONDS>
        clearTimeout(timeout)
        // Make a new timeout set to go off in 800ms
        timeout = setTimeout(function () {
          self.fetchDataCalculator()
        }, 1000)
      }
    },
    fetchApiStopTypingDuration () {
      // Get the input box
      var textInputDuration = document.getElementById('duration')
      // Init a timeout variable to be used below
      var timeout = null
      var self = this
      // Listen for keystroke events
      textInputDuration.onkeyup = function (e) {
        // Clear the timeout if it has already been set.
        // This will prevent the previous task from executing
        // if it has been less than <MILLISECONDS>
        clearTimeout(timeout)
        // Make a new timeout set to go off in 800ms
        timeout = setTimeout(function () {
          self.fetchDataCalculator()
        }, 1000)
      }
    },
    next () {
      this.$router.push('/onboarding/inflasi')
    },
    skip () {
      this.$router.push('/choose')
    },
    onboardingTrack () {
      this.$analytics.track('On Boarding Page Viewed')
    },
    gobackRoute () {
      this.$router.push('/onboarding')
    },
    fetchDataCalculator () {
      if (this.presentValue === '' || this.duration === '') {
        this.isDisabled = true
      } else {
        Api('finavest/calculator/simulation', {
          type: this.typeLifeplan,
          present_value: this.presentValue,
          duration: this.duration
        })
          .then((res) => {
            this.amountInvest = res.d.regular_investment
            this.amountNotInvest = res.d.regular_saving
            this.doneLoading = true
            this.isDisabled = false
          }).catch(() => {
            this.doneLoading = true
            this.isDisabled = true
          })
      }
    },
    pendidikan () {
      this.classPendidikan = 'active'
      this.classMobil = ''
      this.classRumah = ''
      this.classLiburan = ''
      this.classPernikahan = ''
      this.typeLifeplan = 'pendidikan anak'
      this.amountInvest = '-'
      this.amountNotInvest = '-'
      this.presentValue = null
      this.duration = ''
      this.isDisabled = true
    },
    mobil () {
      this.classPendidikan = ''
      this.classMobil = 'active'
      this.classRumah = ''
      this.classLiburan = ''
      this.classPernikahan = ''
      this.typeLifeplan = 'rumah'
      this.amountInvest = '-'
      this.amountNotInvest = '-'
      this.presentValue = null
      this.duration = ''
      this.isDisabled = true
    },
    rumah () {
      this.classPendidikan = ''
      this.classMobil = ''
      this.classRumah = 'active'
      this.classLiburan = ''
      this.classPernikahan = ''
      this.typeLifeplan = 'rumah'
      this.amountInvest = '-'
      this.amountNotInvest = '-'
      this.presentValue = null
      this.duration = ''
      this.isDisabled = true
    },
    liburan () {
      this.classPendidikan = ''
      this.classMobil = ''
      this.classRumah = ''
      this.classLiburan = 'active'
      this.classPernikahan = ''
      this.typeLifeplan = 'liburan'
      this.amountInvest = '-'
      this.amountNotInvest = '-'
      this.presentValue = null
      this.duration = ''
      this.isDisabled = true
    },
    pernikahan () {
      this.classPendidikan = ''
      this.classMobil = ''
      this.classRumah = ''
      this.classLiburan = ''
      this.classPernikahan = 'active'
      this.typeLifeplan = 'pernikahan'
      this.amountInvest = '-'
      this.amountNotInvest = '-'
      this.presentValue = null
      this.duration = ''
      this.isDisabled = true
    }
  }
}
</script>


<style lang="sass">
  .onboarding-calculator
    letter-spacing: 1

    *
      padding: 0
      margin: 0

    .title-onboard
      font-size: 20px
      line-height: 28px

    .rounded
      border-radius: 4px

    .skip
      background: transparent
      text-decoration: none
      margin-top: 16px
      margin-bottom: 16px

      &:hover
        cursor: pointer

    .container-custom
      padding-left: 54px

    .container-custom-2
      padding-left: 54px
      padding-right: 54px

    .wrapper-lifeplan
      width: 75px
      height: 90px
      overflow: hidden
      position: relative
      border: 1px solid transparent
      border-radius: 4px
      box-shadow: 0px 0px 5px rgba(66, 165, 245, 0.3)

      &.active
        border: 1px solid #42A5F5

    .img-lifeplan
      position: absolute
      bottom: 0
      width: 100%

    .type-lifeplan
      font-size: 9px
      color: #5EC5F8
      position: absolute
      top: 7px
      left: 50%
      transform: translateX(-50%)

    .theme--light.v-text-field > .v-input__control > .v-input__slot:before,
    .theme--light.v-text-field:not(.v-input--has-state) > .v-input__control > .v-input__slot:hover:before
      border-color: #D3D3D3

    input
      font-size: 12px !important

    .v-label
      font-size: 10px !important

    .v-input__slot
      height: 30px

    .theme--light.v-input:not(.v-input--is-disabled) input, .theme--light.v-input:not(.v-input--is-disabled) textarea
      color: #AAADC4
      padding-bottom: 0

    .invest-month
      .title-invest
        font-size: 10px !important
        margin: auto

    .scroll-wrapper::-webkit-scrollbar
      width: 0

    .scroll-wrapper::-webkit-scrollbar-track
      -webkit-box-shadow: transparent

    .scroll-wrapper::-webkit-scrollbar-thumb
      background-color: transparent

    .current
      font-size: 17px

    .amount-null-red
      color: #E52A34
      font-size: 17px

    .amount-null-green
      color: #5BB326
      font-size: 17px

    .amount-yellow
      color: #ECA518
      font-size: 17px

    .amount-blue
      color: #2D9CDB
      font-size: 17px

    .line-center
      width: 1px
      height: 79px
      background: #e3e3e3
      position: absolute
      right: 0
      top: 50%
      transform: translateY(-50%)

    .pos-relative
      position: relative

    .arrow-down
      width: 0
      height: 0
      margin: 0 auto
      margin-bottom: 3px
      margin-top: -8px
      border-left: 3px solid transparent
      border-right: 3px solid transparent
      border-top: 5px solid #42A5F5
      display: none

      &.active
        display: block

  @media only screen and (max-width: 320px)
    .onboarding-calculator
      .container-custom
        padding-left: 20px

      .container-custom-2
        padding: 0 20px

      .title-onboard
        font-size: 18px

</style>
