<template>
  <div class="inflasi full-height bg-primary-3">
    <v-container pa-0>
      <v-layout column>
        <v-flex pt-3 px-4>
          <v-layout row>
            <v-flex xs1 @click="gobackRoute()">
              <img src="@/assets/icons/icon-back.svg"/>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-carousel v-model="slide" :cycle="false" hide-controls class="text-xs-center text-md-center text-lg-center text-xl-center">
          <v-carousel-item v-for="(item, index) in items" :key="index">
            <v-img :src="item.img" class="max-height-custom" style="height: auto; width: 90%; margin: 0 auto;"/>
            <v-container fill-height class="carousel-caption">
              <v-layout align-center>
                <v-flex>
                  <div class="nexa-20-bold pb-3 pt-3 color-primary-5 title-onboard" v-html="item.title"></div>
                  <div class="avenir-14-reg desc" v-html="item.desc"></div>
                </v-flex>
              </v-layout>
            </v-container>
          </v-carousel-item>
        </v-carousel>
        <div class="z-index2">
          <v-layout row justify-center>
            <v-flex xs12 px-3 mx-0 pt-0 class="mtn-60" style="text-align: center">
              <v-layout row>
                <v-btn block color="primary box-shadow rounded" depressed @click="routing()">
                  Mulai dengan Halofina!
                </v-btn>
              </v-layout>
              <div @click="openLandingPage()" class="skip pa-0 color-primary-1 no-background avenir-14-reg">Pelajari Lebih Lanjut</div>
            </v-flex>
          </v-layout>
        </div>
      </v-layout>
    </v-container>
    <reusable-dialogs
      v-model="lp.isOpen"
      :title="''"
      :full-screen="true"
      :hide-overlay="true">
      <div slot="layout">
        <v-card tile>
          <div class="scroll-ios">
            <v-toolbar card>
              <v-toolbar-title>
                &nbsp;
              </v-toolbar-title>
              <v-spacer></v-spacer>
              <v-btn icon @click.native="lp.isOpen = false">
                <v-icon>close</v-icon>
              </v-btn>
            </v-toolbar>
            <embed :src="lp.url" style="border: 0; max-width: 100vw; height: 100vh"/>
          </div>
        </v-card>
      </div>
    </reusable-dialogs>
  </div>
</template>

<script>
// Vuetify import
import {
  VCarousel,
  VCarouselItem,
  VImg,
  VSpacer,
  VToolbar,
  VToolbarTitle
} from 'vuetify/lib'
// Helper function
import { setPullToRefresh, setBackRouteToAndroid } from '@/services/Helpers'

export default {
  name: 'Onboarding',
  components: {
    VCarousel,
    VCarouselItem,
    VImg,
    VSpacer,
    VToolbar,
    VToolbarTitle
  },
  data () {
    return {
      slide: 0,
      lp: {
        url: '',
        isOpen: false
      },
      items: [
        {
          title: 'Kalahkan Inflasi <br /> dengan Investasi',
          desc: 'Nilai jual kebutuhan akan terus naik <br /> karena inflasi. Nilai uangmu akan menurun. <br /> Dengan investasi nilai uangmu <br /> akan bertumbuh.',
          img: require('@/assets/onboarding/illustrator-7.svg')
        }
      ]
    }
  },
  created () {
    this.$helpers.setRouteToLocalStorage('/onboarding')
    this.setPullToRefresh('true')
    this.checkRefreshStatus()
  },
  mounted () {
    setBackRouteToAndroid('/onboarding')
  },
  methods: {
    setPullToRefresh,
    checkRefreshStatus () {
      let status = localStorage.getItem('halofina-refreshed')
      if (!status) {
        window.location.reload(true)
      }
    },
    next () {
      this.slide++
    },
    routeToCalculator () {
      this.$router.push('/onboarding/calculator')
    },
    onboardingTrack () {
      this.$analytics.track('On Boarding Page Viewed')
    },
    gobackRoute () {
      this.$router.push('/onboarding')
    },
    routing () {
      this.onboardingTrack()
      this.$router.push('/choose')
    },
    openLandingPage () {
      this.lp.url = 'https://halofina.id/'
      this.lp.isOpen = true
    }
  }
}
</script>

<style lang="sass">
.inflasi
  overflow-y: hidden

  .desc
    color: #505565 !important
    line-height: 22px

  .max-height-custom
    max-height: 260px

  .title-onboard
    width: 300px
    margin: auto

  .rounded
    border-radius: 4px

  .w-5
    width: 5px
    height: 1px

  .v-window
    height: 90vh !important

  .v-window__container
    height: 0px !important

  .v-carousel
    height: 70vh
    box-shadow: none

  .z-index2
    z-index: 2

  .mtn-60
    margin-top: -90px

  .v-carousel__controls
    height: 240px !important
    background: none !important
    display: none

  .v-btn--icon.v-btn--small
    width: 0px
    padding: 0 8px

  .v-btn .v-btn__content .v-icon
    color: #2C3B50
    opacity: 0.2

  .v-btn--active
    i
      color: #2C3B50 !important
      opacity: 1 !important

  i
    font-size: 9px !important

  .carousel-caption
    position: absolute
    bottom: -15vh
    padding: 0 16px !important

  .skip
    background: transparent
    text-decoration: none
    margin-top: 24px

    &:hover
      cursor: pointer


// Pixel 2, iphone 6/7/8 Plus
@media only screen and (max-width: 414px)
  .inflasi
    .max-height-custom
      max-height: 1000px

    .carousel-caption
      bottom: -20vh

// iphone 6/7/8, iphonex
@media only screen and (max-width: 393px)
  .inflasi
    .max-height-custom
      max-height: 290px

    .carousel-caption
      bottom: -20vh

// iphone 6/7/8, iphonex
@media only screen and (max-width: 375px)
  .inflasi
    .max-height-custom
      max-height: 1000px

    .carousel-caption
      bottom: -20vh

// nexus 5
@media only screen and (max-width: 360px)
  .inflasi
    .max-height-custom
      max-height: 260px

    .carousel-caption
      bottom: -15vh

    .skip
      margin-top: 15px

    .mtn-60
      margin-top: -73px

// iphone 5
@media only screen and (max-width: 320px)
  .inflasi
    .desc
      font-size: 12px

    .max-height-custom
      max-height: 240px

    .carousel-caption
      bottom: -15vh
      padding: 0 20px !important

    .title-onboard
      padding-top: 0 !important
      width: auto

    .mtn-60
      margin-top: -70px

    .skip
      margin-top: 10px


</style>
