<template>
  <div class="not-invest full-height bg-primary-3">
    <v-container pa-0>
      <v-layout column>
        <v-flex pt-3 px-4>
          <v-layout row>
            <v-flex xs1 @click="gobackRoute()">
              <img src="@/assets/icons/icon-back.svg"/>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-carousel v-model="slide" :cycle="false" hide-controls class="text-xs-center text-md-center text-lg-center text-xl-center">
          <v-carousel-item v-for="(item, index) in items" :key="index">
            <v-img :src="item.img" class="max-height-custom" style="height: auto; width: 85%; margin: 0 auto;"/>
            <v-container fill-height class="carousel-caption">
              <v-layout align-center>
                <v-flex>
                  <div class="nexa-20-bold pb-3 pt-4 mt-2 color-primary-5 title-onboard" v-html="item.title"></div>
                  <div class="avenir-14-reg desc" v-html="item.desc"></div>
                </v-flex>
              </v-layout>
            </v-container>
          </v-carousel-item>
        </v-carousel>
        <div class="z-index2" v-if="slide !== 1">
          <v-layout row justify-center>
            <v-flex xs12 mx-3 pt-0 class="mtn-60" style="text-align: center">
              <v-layout row>
                <v-btn block color="primary box-shadow rounded" depressed @click="next">
                  Lanjut
                </v-btn>
              </v-layout>
              <div @click="routing('login')" class="skip pa-0 color-primary-1 no-background avenir-14-reg">LEWATI</div>
            </v-flex>
          </v-layout>
        </div>
        <div class="z-index2" v-if="slide === 1">
          <v-layout row justify-center>
            <v-flex xs12 mx-3 pt-0 class="mtn-60" style="text-align: center">
              <v-layout row>
                <v-btn block color="primary box-shadow rounded avenir-14-reg" depressed @click="routeToCalculator()">
                  Lanjut
                </v-btn>
              </v-layout>
              <div @click="routing('login')" class="skip pa-0 color-primary-1 no-background avenir-14-reg">LEWATI</div>
            </v-flex>
          </v-layout>
        </div>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
// Vuetify import
import {
  VCarousel,
  VCarouselItem,
  VImg
} from 'vuetify/lib'
// Helper function
import { setPullToRefresh, setBackRouteToAndroid } from '@/services/Helpers'

export default {
  name: 'Onboarding',
  components: {
    VCarousel,
    VCarouselItem,
    VImg
  },
  data () {
    return {
      slide: 0,
      items: [
        {
          title: 'Perkenalkan Sistem <br /> Goal-Based Investing',
          desc: 'Inovasi sistem investasi yang berfokus pada <br /> pencapaian tujuan investasi yang lebih efektif <br /> dari sekedar mencari keuntungan.',
          img: require('@/assets/onboarding/illustrator-5.svg')
        },
        {
          title: 'Lifeplan, Lebih dari Sekedar <br /> Perencanaan Keuangan',
          desc: 'Lifeplan membantu kamu mencapai <br /> tujuan investasi berdasarkan rencana kehidupan <br /> masa depan yang kamu desain sendiri.',
          img: require('@/assets/onboarding/illustrator-6.svg')
        }
      ]
    }
  },
  created () {
    this.$helpers.setRouteToLocalStorage('/onboarding')
    this.setPullToRefresh('true')
    this.checkRefreshStatus()
  },
  mounted () {
    setBackRouteToAndroid('/onboarding')
  },
  methods: {
    setPullToRefresh,
    checkRefreshStatus () {
      let status = localStorage.getItem('halofina-refreshed')
      if (!status) {
        window.location.reload(true)
      }
    },
    next () {
      this.slide++
    },
    routeToCalculator () {
      this.$router.push('/onboarding/calculator')
    },
    onboardingTrack () {
      this.$analytics.track('On Boarding Page Viewed')
    },
    gobackRoute () {
      this.$router.push('/onboarding')
    },
    routing () {
      this.$router.push('/choose')
    }
  }
}
</script>

<style lang="sass">
.not-invest
  overflow-y: hidden

  .desc
    color: #505565 !important
    line-height: 22px


  .max-height-custom
    max-height: 260px

  .title-onboard
    width: auto
    margin: auto
    font-size: 23px

  .rounded
    border-radius: 4px

  .w-5
    width: 5px
    height: 1px

  .v-window
    height: 90vh !important

  .v-window__container
    height: 0px !important

  .v-carousel
    height: 70vh
    box-shadow: none

  .z-index2
    z-index: 2

  .mtn-60
    margin-top: -90px

  .v-carousel__controls
    height: 240px !important
    background: none !important

  .v-btn--icon.v-btn--small
    width: 0px
    padding: 0 8px

  .v-btn .v-btn__content .v-icon
    color: #2C3B50
    opacity: 0.2

  .v-btn--active
    i
      color: #2C3B50 !important
      opacity: 1 !important

  i
    font-size: 9px !important

  .carousel-caption
    position: absolute
    bottom: -15vh
    padding: 0 16px !important

  .skip
    background: transparent
    text-decoration: none
    margin-top: 24px

    &:hover
      cursor: pointer


// Pixel 2, iphone 6/7/8 Plus
@media only screen and (max-width: 414px)
  .not-invest
    .max-height-custom
      max-height: 1000px

    .carousel-caption
      bottom: -20vh

// iphone 6/7/8, iphonex
@media only screen and (max-width: 393px)
  .not-invest
    .max-height-custom
      max-height: 290px

    .carousel-caption
      bottom: -20vh

// iphone 6/7/8, iphonex
@media only screen and (max-width: 375px)
  .not-invest
    .max-height-custom
      max-height: 1000px

    .carousel-caption
      bottom: -20vh

// nexus 5
@media only screen and (max-width: 360px)
  .not-invest
    .max-height-custom
      max-height: 260px

    .carousel-caption
      bottom: -15vh

    .v-carousel__controls
      height: 160px !important

    .skip
      margin-top: 10px

    .mtn-60
      margin-top: -64px

// iphone 5
@media only screen and (max-width: 320px)
  .not-invest
    .avenir-14-reg
      font-size: 12px

    .title-onboard
      font-size: 21px

    .max-height-custom
      max-height: 240px

    .carousel-caption
      bottom: -15vh
      padding: 0 !important

    .title-onboard
      padding-top: 0 !important
      width: auto

    .v-carousel__controls
      height: 145px !important

    .mtn-60
      margin-top: -60px

    .skip
      margin-top: 7px


</style>
