<template>
  <div class="onboarding full-height bg-primary-3">
    <v-layout row wrap class="wrap-content">
      <v-flex xs12>
        <v-card-text class="hello text-xs-center color-primary-5 nexa-14-bold">
          Selamat Datang!
        </v-card-text>
      </v-flex>

      <div class="wrapper-img" id="animated">
        <img src="@/assets/onboarding/home.svg" alt="illustration">
      </div>

      <v-flex xs12>
        <v-card-text class="desc px-4 text-xs-center color-abu avenir-14-reg">
          <span class="avenir-14-med">Saya Fina,</span> saya akan <br />
          membantu kamu memudahkan <br />
          perencanaan masa depan. <br />
          <span class="avenir-14-bold">Beritahu Fina sedikit tentang kamu!</span>
        </v-card-text>
      </v-flex>

      <v-layout column pa-3 class="bottom-pos full-width">
        <!-- <v-flex xs12 px-3 pt-3 class="text-xs-center"> -->
          <div class="btn-primary nexa-14-bold text-align-center mb-2" @click="routeAlreadyInvest()">Sudah Investasi</div>
        <!-- </v-flex> -->
        <!-- <v-flex xs12 pt-10 px-3 class="text-xs-center"> -->
          <div class="btn-primary nexa-14-bold text-align-center mb-4" @click="routeNotInvest()">Belum Pernah Investasi</div>
        <!-- </v-flex> -->

        <!-- <v-flex xs12 pt-3> -->
          <v-card-text class="avenir-14-reg color-secondary-9 text-xs-center">
            <div @click="routeLogin()">SAYA SUDAH PUNYA AKUN</div>
          </v-card-text>
        <!-- </v-flex> -->
      </v-layout>
    </v-layout>
  </div>
</template>
<script>
export default {
  methods: {
    routeAlreadyInvest () {
      this.onboardingTrack()
      this.$router.push('/onboarding/already')
    },
    routeNotInvest () {
      this.onboardingTrack()
      this.$router.push('/onboarding/not')
    },
    routeLogin () {
      this.onboardingTrack()
      this.$router.push('/login/email')
    },
    onboardingTrack () {
      this.$analytics.track('On Boarding Page Viewed')
    }
  },
  created () {
    this.$helpers.setRouteToLocalStorage('/onboarding')
  }
}
</script>

<style lang="sass">
  .onboarding
    .wrap-content
      padding-top: 30px

    *
      margin: 0
      padding: 0

    .pb-30
      padding-bottom: 30px

    .pt-10
      padding-top: 10px

    .desc
      padding-top: 10px

    .pos-absolute
      position: absolute
      bottom: 0

    .wrapper-img
      padding-top: 20px
      margin: 0 auto

      img
        display: block
        margin: 0 auto

    .hello
      font-size: 30px !important

    .color-abu
      color: #505565

    .btn-primary
      background-color: #3FA9EC
      color: #fff
      font-size: 14px
      width: 100%
      height: 41px
      line-height: 41px
      border-radius: 4px

    .responsive-bottom
      position: absolute
      bottom: 20px
      width: 100%

  @media only screen and (max-width: 414px)
    .onboarding

      .wrapper-img
        padding-top: 50px

      .desc
        padding-top: 50px

  @media only screen and (max-width: 360px)
    .onboarding
      .wrap-content
        padding-top: 25px

      .desc
        padding-top: 30px

      .wrapper-img
        padding-top: 14px


  @media only screen and (max-width: 320px)
    .onboarding
      .desc
        padding-top: 18px
        font-size: 12px !important

</style>
