<template>
  <div class="finapedia-article bg-primary-3">
    <!-- ReusableToolbar -->
    <reusable-toolbar page-name="Artikel" route="/finapedia/dashboard" :left="true"></reusable-toolbar>
    <!-- App Layout -->
    <v-container class="pa-0 toolbar-margin">
      <v-layout column justify-center align-center class="pt-2" v-if="doneLoading === true">
        <v-carousel height="auto">
          <v-carousel-item v-for="articles in article.slice(0, 5)" :key="articles.articleid">
            <v-img
              class="white--text card-radius mx-20 pos-relative"
              height="200px"
              width="auto"
              :src="articles.image || 'https://picsum.photos/300/200'"
              @click="$router.push('/finapedia/article/' + articles.articleid)"
            >
              <div class="pos-absolute bottom-pos full-width gradient-bg" style="height: 100%"></div>
              <div class="pos-absolute bottom-pos full-width py-12 px-3">
                <v-card-title class="avenir-12-reg white--text mb-2">Featured Articles</v-card-title>
                <v-card-title class="nexa-14-bold white--text">{{articles.title}}</v-card-title>
              </div>
            </v-img>
          </v-carousel-item>
        </v-carousel>
        <v-tabs
          slider-color="primary"
          grow
          centered
          fixed-tabs
          style="max-width: 100%"
        >
          <v-tab v-for="categoryName in categories" :key="categoryName" @click="category = categoryName">
            {{ categoryName }}
          </v-tab>
          <v-tab-item v-for="category in categories" :key="category" class="px-20 pt-2">
            <v-layout row v-for="articles in filteredArticle" :key="articles.articleid" align-center class="mb-12" @click="$router.push('/finapedia/article/' + articles.articleid)">
              <v-flex xs4 class="mr-3">
                <v-img
                  class="white--text card-radius"
                  :src="articles.image || 'https://picsum.photos/100/80'"
                  height="80px"
                  width="auto"
                ></v-img>
              </v-flex>
              <v-flex xs8>
                <v-layout column>
                  <v-card-text class="avenir-14-reg mb-2">{{ articles.title }}</v-card-text>
                  <v-card-text class="avenir-12-reg color-secondary-5">{{ articles.category_name }}</v-card-text>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-tab-item>
        </v-tabs>
      </v-layout>
      <v-layout v-else class="full-height" align-center justify-center>
        <reusable-loading></reusable-loading>
      </v-layout>
    </v-container>
    <reusable-dialogs
      v-model="dialog.isopen"
      :resize-image="true"
      :is-image-above-title="true"
    ></reusable-dialogs>
  </div>
</template>
<script>
import {
  VCard,
  VImg,
  VTab,
  VTabs,
  VTabItem,
  VCardTitle,
  VCarousel,
  VCarouselItem
} from 'vuetify/lib'

import Api from '@/services/Api'
export default {
  name: 'FinapediaArticle',
  components: {
    VCard,
    VImg,
    VTab,
    VTabs,
    VTabItem,
    VCardTitle,
    VCarousel,
    VCarouselItem
  },
  data () {
    return {
      dialog: {
        isopen: false
      },
      article: [],
      categories: [],
      category: '',
      doneLoading: false
    }
  },
  created () {
    this.fetchData()
  },
  computed: {
    filteredArticle () {
      let category = this.category
      return this.article.filter((element) => {
        if (category === 'Semua') {
          return this.article
        }
        return element.category_name.indexOf(category) !== -1
      })
    }
  },
  methods: {
    pushCategories (item) {
      const items = item
      const temp = ['Semua']
      items.forEach((element, index, array) => {
        temp.push(element.category_name)
      })
      const unique = new Set(temp)
      this.categories = [...unique]
    },
    fetchData () {
      Api('finapedia/article/user', {})
        .then((res) => {
          this.article = res.d
          this.pushCategories(res.d)
          this.doneLoading = true
        }).catch(() => {
          this.doneLoading = true
          this.dialog.isopen = true
        })
    }
  }
}
</script>

<style lang="sass">
  .finapedia-article
    *
      margin: 0px
      padding: 0px

    .gradient-bg
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%)
      opacity: 0.7
      border-radius: 8px
  
    .bottom-pos
      bottom: 0%

    .v-tabs__item
      padding: 6px 12px !important

    .v-carousel
      box-shadow: none

    .v-carousel__controls
      height: auto
      background: none !important
      position: initial
  
    .v-btn--icon.v-btn--small
      width: 0px
      padding: 0 6px
      height: 0px

    .v-btn .v-btn__content .v-icon
      color: #505565
      opacity: 0.4

    .v-btn--active
      i
        color: #505565 !important
        opacity: 1 !important
        background-color: none !important

    i
      font-size: 9px !important
</style>
