<template>
  <div class="finapedia-main">
    <reusable-toolbar page-name="Finapedia" :is-title-visible="false" :is-fixed="false" :change-namespace="true"  namespace="dashboard" route="/dashboard?tab=lifeplan"></reusable-toolbar>
    <v-container class="px-0 py-0">
      <v-layout column v-if="isLoaded === true">
        <v-card-text class="nexa-32-bold pl-20 pt-4 bg-primary-3 pb-2">Finapedia</v-card-text>
        <!-- Online Class Card -->
        <v-flex>
          <div flat class="border-bottom bg-primary-3">
            <v-flex>
              <v-layout class="px-20 pt-3 mb-3" row style="text-align: left" align-center>
                <v-card-text class="nexa-16-bold pa-0">
                  Course Pilihan
                </v-card-text>
                <v-spacer></v-spacer>
                <premium-flags
                  @is-premium-function="goToCourseList()"
                  :premium-status="premium.active"
                  :trial-status="premium.isTrial"
                >
                  <v-card-text style="text-align: right" class="color-primary-1 avenir-12-reg pa-0">Selengkapnya</v-card-text>
                </premium-flags>
              </v-layout>
            </v-flex>
            <v-layout row style="overflow: auto; -webkit-overflow-scrolling: touch;" class="scroll-wrapper">
              <v-flex v-for="courselist in course" :key="courselist.courseid" class="mx-2 scroll-child card-course" style="webkit-transform: translate3d(0, 0, 0)">
                <premium-flags
                  @is-premium-function="routecourse(courselist.courseid); trackCourseClicked(courselist.title)"
                  :premium-status="premium.active"
                  :trial-status="premium.isTrial"
                >
                  <v-img
                    height="196px"
                    width="160px"
                    :src="courselist.thumbnail_image"
                    class="card-border card-radius mb-4"
                  >
                  </v-img>
                  <v-card-text class="avenir-14-reg mb-3 color-text-1">{{courselist.title}}</v-card-text>
                </premium-flags>
              </v-flex>
            </v-layout>
          </div>
        </v-flex>

        <!-- Glosarium Card -->
        <v-flex class="bg-primary-4">
          <v-card flat class="my-3 mx-20 pa-3 card-radius" style="border: 1px solid #E8EAEF" @click="$router.push('/finapedia/glossary'); trackGlossary()">
            <v-layout row align-center>
              <v-img :src="require('@/assets/finapedia/glossary.svg')" width="24px" height="auto"></v-img>
              <v-layout column ml-3>
                <v-card-text class="nexa-16-bold mb-1">Glosarium</v-card-text>
                <v-card-text class="avenir-14-reg">Pahami Kosakata Finansial</v-card-text>
              </v-layout>
              <v-spacer></v-spacer>
              <v-img :src="require('@/assets/icons/icon-arrow-black.svg')"></v-img>
            </v-layout>
          </v-card>
        </v-flex>

        <!-- FAQ Card -->
        <v-flex>
          <div flat class="border-y bg-primary-3">
            <v-flex>
              <v-layout class="px-20 pt-3 mb-3" row style="text-align: left" align-center>
                <v-card-text style="text-align: left" class="nexa-16-bold pa-0">
                  Artikel & FAQ
                </v-card-text>
                <v-spacer></v-spacer>
                <v-card-text @click="goToArticleList()" style="text-align: right" class="color-primary-1 avenir-12-reg pa-0">Lihat Semua</v-card-text>
              </v-layout>
            </v-flex>
            <v-layout class="scroll-wrapper mb-2" row style="overflow: auto; -webkit-overflow-scrolling: touch;">
              <v-flex v-for="articles in articlelimit" :key="articles.articleid" class="scroll-child mx-2 pb-2 card-article">
                <v-card flat style="width: 300px; overflow: hidden; position: relative; border: 0" class="card-border card-radius box-shadow">
                  <v-img
                    class="white--text"
                    height="200px"
                    width="auto"
                    :src="articles.image !== null ? articles.image : 'https://picsum.photos/300/200'"
                    @click="$router.push('/finapedia/article/' + articles.articleid)"
                  ></v-img>
                  <v-card-title class="pl-3 pb-3">
                    <div>
                      <span class="avenir-16-med">{{ (articles.title + '').length &lt; 25 ? articles.title : trimString(articles.title, 25) }}</span><br />
                      <span class="grey--text">Ditulis oleh Halofina</span>
                    </div>
                  </v-card-title>
                  <div class="btn-category-article avenir-12-reg">
                    Artikel
                  </div>
                </v-card>
              </v-flex>
            </v-layout>
          </div>
        </v-flex>

        <v-flex class="bg-primary-4 pa-3">
        </v-flex>

        <!-- Podcast -->
        <v-flex>
          <div flat class="border-bottom bg-primary-3">
            <v-flex>
              <v-layout class="px-20 pt-3 mb-3" row style="text-align: left" align-center>
                <v-card-text class="nexa-16-bold pa-0">
                  Podcast
                </v-card-text>
                <v-spacer></v-spacer>
                <premium-flags
                  @is-premium-function="routeToPodcastList()"
                  :premium-status="premium.active"
                  :trial-status="premium.isTrial"
                >
                  <v-card-text style="text-align: right" class="color-primary-1 avenir-12-reg pa-0">Selengkapnya</v-card-text>
                </premium-flags>
              </v-layout>
            </v-flex>
            <v-layout row style="overflow: auto; -webkit-overflow-scrolling: touch;" class="scroll-wrapper">
              <v-flex v-for="podcast in podcastList" :key="podcast.podcastid" class="mx-2 scroll-child card-course" style=" webkit-transform: translate3d(0, 0, 0)">
                <premium-flags
                  @is-premium-function="routeToPodcast(podcast)"
                  :premium-status="premium.active"
                  :trial-status="premium.isTrial"
                >
                  <v-img
                    height="196px"
                    width="160px"
                    :src="podcast.image ? podcast.image : 'https://picsum.photos/78/100'"
                    class="card-border card-radius mb-4"
                  >
                  </v-img>
                  <v-card-text class="avenir-14-reg mb-3 color-text-1 text-align-center">{{podcast.title}}</v-card-text>
                  <v-card-text class="avenir-10-reg mb-3 color-text-3 text-align-center">{{dateFormat(podcast.publishedtime, 'DD MMM')}} - {{podcast.duration.substr(3)}} Menit</v-card-text>
                </premium-flags>
              </v-flex>
            </v-layout>
          </div>
        </v-flex>
      </v-layout>
      <v-layout v-else class="full-height bg-primary-3" align-center justify-center>
        <reusable-loading></reusable-loading>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import Api from '@/services/Api'
import { VImg, VCardTitle, VSpacer, VList } from 'vuetify/lib'
import { dateFormat, checkFeatures } from '@/services/Helpers'
import PremiumFlags from '@/components/reusable/premium/PremiumFlags'

export default {
  data () {
    return {
      articlelimit: null,
      course: null,
      podcastList: [],
      isLoaded: false,
      premium: {
        active: false,
        isTrial: false
      }
    }
  },
  components: {
    VImg, VCardTitle, VSpacer, VList, PremiumFlags
  },
  async created () {
    this.$analytics.track('Finapedia Dashboard Loaded')
    if (checkFeatures('halofina:premium').version > 1) await this.callPremiumApi()
    this.getCourse()
    this.getArticle()
    this.getPodcast()
  },
  methods: {
    dateFormat,
    trackGlossary () {
      this.$analytics.track('Glossary Selected')
    },
    routeToPodcastList () {
      this.$router.push({path: '/finapedia/podcast/list'})
    },
    routeToPodcast (podcast) {
      localStorage.setItem('halofina-podcast-detail', JSON.stringify(podcast))
      this.$router.push({
        path: '/finapedia/podcast/detail/' + podcast.podcastid
      })
    },
    routecourse (id) {
      this.$analytics.track(this.$options.name, {
        properties: {
          courseid: id
        }
      })

      this.$router.push({
        path: '/finapedia/course/section/' + id
      })
    },
    routelesson (id) {
      this.$router.push({
        path: '/finapedia/course/lesson/' + id
      })
    },
    trimString (string, length) {
      return string.substr(0, length) + '...'
    },
    goToCourseList () {
      this.$analytics.track('Course All Selected')
      this.$router.push({path: '/finapedia/course/list'})
    },
    goToArticleList () {
      this.$analytics.track('Articles All Selected')
      this.$router.push('/finapedia/article')
    },
    trackCourseClicked (title) {
      this.$analytics.track('Course Selected', {
        title: title
      })
    },
    getPodcast () {
      Api('finapedia/podcast/user', {})
        .then((res) => {
          this.isLoaded = true
          this.podcastList = res.d
        })
        .catch(() => {
          this.isLoaded = true
        })
    },
    callPremiumApi () {
      return Api('premium/membership/check', {}, true, 'GET')
        .then((res) => {
          let isActive = res.data.membership.active
          let isTrial = res.data.membership.is_already_trial
          this.premium.active = isActive
          this.premium.isTrial = isTrial
          this.isLoaded = true
        })
        .catch(() => {
          this.isLoaded = true
          this.dialog.dialogError = true
        })
    },
    async getCourse () {
      try {
        const { s, d } = await Api('finapedia/course/user', {})

        if (s === 200) {
          this.course = d
          this.isLoaded = true
        }
      } catch (err) {
        this.isLoaded = true
        console.error(err)
      }
    },
    async getArticle () {
      try {
        const { s, d } = await Api('finapedia/article/user', {})

        if (s === 200) {
          this.articlelimit = d
          this.isLoaded = true
        }
      } catch (err) {
        this.isLoaded = true
        console.error(err)
      }
    }
  }
}
</script>
<style lang="sass">
  .finapedia-main
    *
      margin: 0px
      padding: 0px

    .card-course:nth-child(1),
    .card-article:nth-child(1)
      margin-left: 20px !important

    .v-messages
      min-height: 0px
    
    .btn-category, .btn-category-article
      position: absolute
      bottom: 0px
      right: 0px
      color: #fff
      background-color: #42A5F5
      padding: 4px 15px
      border-radius: 12px 0px 0px 0px !important
    
    .btn-category-article
      background-color: #FF6F6F
      
    .border-bottom
      border-bottom: 1px solid #E8EAEF
      
</style>
