<template>
  <div class="finapedia-glossary" style="background-color: white">
    <v-layout column class="px-20 py-3 bg-primary-3" style="position: fixed; top: 0%; width: 100%; z-index: 100">
      <v-layout row align-center>
        <v-btn icon @click="$router.go(-1)">
          <img src="@/assets/icons/icon-back.svg" style="width: 24px; height: 24px;" alt="arrow back">
        </v-btn>
        <div class="nexa-16-bold">Glosarium</div>
      </v-layout>
      <v-text-field class="pt-2" placeholder="Cari kosa kata" clearable solo flat v-model="search" hide-details prepend-inner-icon="search"></v-text-field>
    </v-layout>

    <v-container class="bg-primary-3 pa-0" style="position: relative; padding-top: 120px !important" column>
      <div v-if="isLoaded === true">
        <!-- Data -->
        <div style="height: 100%">
          <v-list subheader v-for="(glossary, index) in filteredData" :key="index" id="glossary-list">
            <div style="height: 10px; width: 100%; background-color: #f9fafc" v-if="glossary.type === 'letters'"></div>
            <v-list-tile style="border-bottom: 1px solid #E8EAEF" :id="glossary.type === 'letters' ? glossary.word : ''">
              <v-list-tile-content>
                <v-list-tile-title
                  v-text="glossary.word"
                  :class="glossary.type === 'letters' ? 'nexa-14-bold' : 'avenir-16-reg'"
                  @click="glossary.type === 'letters' ? '' : dialogs(glossary.word, glossary.meaning)">
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
          <v-list>
            <v-list-tile v-if="filteredData.length === 0">Kata Kunci Tidak Ditemukan</v-list-tile>
          </v-list>
        </div>
        <!-- Sorter -->
        <v-layout column justify-start style="position: fixed; height: 100%; top: 0%; right: 0%; background-color: white; border-left: 1px solid #E8EAEF; padding-top: 120px">
          <v-card-text v-for="(letter, index) in filteredData" :key="index" class="text-align-center pa-0 px-2 mb-12 avenir-12-reg" v-if="letter.type === 'letters'" v-scroll-to="'#' + letter.word">{{ letter.word }}</v-card-text>
        </v-layout>
      </div>
      <div v-else class="full-height bg-primary-3 center-horizontal center-vert">
        <reusable-loading></reusable-loading>
      </div>
    </v-container>
    
    <reusable-bottom-sheet
      v-model="dialog.isopen"
      :title="dialog.title"
      :description="dialog.desc"
      :text-centered="false"
    >
      Kembali
    </reusable-bottom-sheet>

    <reusable-dialogs
      v-model="dialog.dialogError"
      :resize-image="true"
      :is-image-above-title="true"
    ></reusable-dialogs>
  </div>
</template>

<script>
import { VTextField, VListTile, VList, VListTileTitle, VListTileContent, VListTileAvatar, VSubheader } from 'vuetify/lib'
import Api from '@/services/Api'

export default {
  components: {
    VTextField, VListTile, VList, VListTileTitle, VListTileContent, VListTileAvatar, VSubheader
  },
  name: 'FinapediaGlossary',
  data () {
    return {
      dialog: {
        isopen: false,
        title: '',
        desc: '',
        dialogError: false
      },
      isLoaded: false,
      search: '',
      glossary: [],
      dialogerror: false
    }
  },
  watch: {
    search: function (value) {
      if (value === null) this.search = ''
    }
  },
  computed: {
    filteredData () {
      var keyword = this.search.toLowerCase()
      return this.glossary.filter(function (glossary) {
        return (glossary.word + '').toLowerCase().indexOf(keyword) >= 0
      })
    }
  },
  methods: {
    fetchDataList () {
      Api('finapedia/glossary/list', {})
        .then((res) => {
          this.transformData(res.d)
          this.isLoaded = true
        }).catch(() => {
          this.isLoaded = true
          this.dialog.dialogError = true
        })
    },
    transformData (glossaries) {
      const glossary = {}
      const list = []
      const alphabets = glossaries.map((item) => { return item.word.charAt(0).toLowerCase() })
      const filteredAlphabets = alphabets.filter((item, pos, arr) => { return arr.indexOf(item) === pos })
      var index = 1
      // initialize alphabets
      for (var l of filteredAlphabets) {
        glossary[l] = []
      }
      // push data to filtered according to its first char
      for (const l of glossaries) {
        const char = l.word.charAt(0).toLowerCase()
        glossary[char].push(l)
      }
      // add alphabets and words to list
      for (const l of filteredAlphabets) {
        list.push({
          word: l.toUpperCase(),
          type: 'letters',
          index: index++
        })
        for (var i = 0; i < glossary[l].length; i++) {
          list.push({
            word: glossary[l][i].word,
            meaning: glossary[l][i].meaning,
            type: 'words',
            index: i
          })
        }
      }
      this.glossary = list
    },
    dialogs (title, desc) {
      this.dialog.isopen = true
      this.dialog.title = title
      this.dialog.desc = desc
      this.trackCategory(title, desc)
    },
    trackCategory (title, desc) {
      this.$analytics.track('Glossary Searched', {
        glossary_title: title,
        search_word: desc
      })
    },
    scrollTo (id) {
      const el = id
      document.getElementById(el).scrollIntoView({ behavior: 'smooth', block: 'start', inline: 'start' })
    }
  },
  created () {
    this.fetchDataList()
  }
}
</script>

<style lang="sass">
  .finapedia-glossary
    .v-list
      padding: 0px

    .v-input__slot
      background-color: white !important
      border: 1px solid #E8EAEF
    
</style>
