<template>
  <v-bottom-sheet v-model="mutableIsOpen" :class="isScroll ? 'overflow-scroll' : ''" :persistent="persistent">
    <div v-touch:swipe="swipeHandler">
      <v-card :class="classCard">
        <v-layout column align-center v-if="useStripes === true">
          <div class="tooltip-line"></div>
          <div class="tooltip-line mb-3"></div>
        </v-layout>
        <!-- Custom Layout -->
        <slot name="custom-layout">
          <v-layout column align-center>
            <slot name="image-layout">
              <img :src="image" v-if="image" class="mb-4" alt="">
            </slot>
            <v-card-text :class="'nexa-16-bold pa-0 mb-3 ' + classText" v-if="title">{{ title }}</v-card-text>
            <v-card-text :class="'color-secondary-5 avenir-14-reg pa-0 mb-4 ' + classText" v-if="description">{{ description }}</v-card-text>
            <!-- Button Layout -->
            <slot name="button-layout">
              <v-btn class="btn-radius box-shadow py-3 nexa-16-bold" color="primary" depressed block @click="closeSheet()">
                <slot></slot>
              </v-btn>
            </slot>
          </v-layout>
        </slot>
      </v-card>
    </div>
  </v-bottom-sheet>
</template>

<script>
import {
  VCard,
  VBottomSheet
} from 'vuetify/lib'

export default {
  name: 'ReusableBottomSheet',
  components: {
    VCard,
    VBottomSheet
  },
  props: {
    persistent: {
      type: Boolean,
      default: false
    },
    textCentered: {
      type: Boolean,
      default: true
    },
    usePadding: {
      type: Boolean,
      default: true
    },
    isOpen: {
      type: Boolean,
      default: false
    },
    image: {
      type: String,
      default: null
    },
    title: {
      type: String,
      default: null
    },
    description: {
      type: String,
      default: null
    },
    useStripes: {
      type: Boolean,
      default: true
    },
    isScroll: {
      type: Boolean,
      default: false
    }
  },
  model: {
    prop: 'isOpen',
    event: 'is-open-change'
  },
  data () {
    return {
      classCard: '',
      classText: ''
    }
  },
  computed: {
    mutableIsOpen: {
      get: function () {
        return this.isOpen
      },
      set: function (value) {
        this.$emit('is-open-change', value)
      }
    }
  },
  methods: {
    swipeHandler (direction) {
      if (this.persistent === false) {
        if (direction === 'bottom') {
          this.mutableIsOpen = false
        }
      }
    },
    closeSheet () {
      this.mutableIsOpen = false
    },
    classSetter () {
      if (this.usePadding === true) {
        this.classCard = 'border-top-radius py-3 px-20'
      } else {
        this.classCard = 'border-top-radius pt-3'
      }
      if (this.textCentered === true) {
        this.classText = 'text-xs-center'
      } else {
        this.classText = ''
      }
    }
  },
  created () {
    this.classSetter()
  }
}
</script>

<style lang="sass">
  .tooltip-line
    width: 35px
    height: 2px
    background-color: #A0A5B7
    margin-bottom: 2px

  .overflow-scroll
    overflow-y: scroll
</style>
