<template>
  <div class="toolbar">
    <v-toolbar :fixed="isFixed" flat :class="className" :style="left === true ? 'padding-left: 4px; border-bottom: none;' : 'border-bottom: none;'">
      <slot name="button-toolbar">
        <v-btn v-if="changeNamespace === true" class="w-35" icon @click="goBackToNamespace()" >
          <img v-if="iconColor === 'white'" src="@/assets/icons/icon-back-white.svg" style="width: 24px; height: 24px;" alt="arrow back">
          <img v-else src="@/assets/icons/icon-back.svg" style="width: 24px; height: 24px;" alt="arrow back">
        </v-btn>
        <v-btn v-else class="w-35" icon @click="route ? goBackWithRoute() : goBackWithoutRoute()">
          <img v-if="iconColor === 'white'" src="@/assets/icons/icon-back-white.svg" style="width: 24px; height: 24px;" alt="arrow back">
          <img v-else src="@/assets/icons/icon-back.svg" style="width: 24px; height: 24px;" alt="arrow back">
        </v-btn>
      </slot>
      <slot name="layout-toolbar">
        <v-spacer v-if="left !== true"></v-spacer>
        <v-toolbar-title v-if="isTitleVisible === true" :class="left === true ? 'pl-2 nexa-16-bold text-capitalize color-text-1' : 'nexa-16-bold text-capitalize color-text-1'" :style="titleColor ? 'color: ' + titleColor : ''">
          {{pageName}}
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <slot name="button-toolbar-right">
          <v-btn icon disabled>
            &nbsp;
          </v-btn>
        </slot>
      </slot>
    </v-toolbar>
  </div>
</template>
<script>
import { setBackRouteToAndroid } from '@/services/Helpers'
import { VToolbar, VSpacer, VToolbarTitle } from 'vuetify/lib'

export default {
  name: 'ReusableToolbar',
  components: {
    VToolbar, VSpacer, VToolbarTitle
  },
  props: {
    isFixed: {
      type: Boolean,
      default: true
    },
    isTitleVisible: {
      type: Boolean,
      default: true
    },
    changeNamespace: {
      type: Boolean,
      default: false
    },
    namespace: {
      type: String,
      default: ''
    },
    route: {
      type: String || Number
    },
    pageName: {
      type: String
    },
    edit: {
      type: Boolean
    },
    left: {
      type: Boolean,
      default: false
    },
    routeEdit: {
      type: String || Number
    },
    className: {
      type: String,
      default: 'bg-primary-3'
    },
    titleColor: {
      type: String,
      default: null
    },
    iconColor: {
      type: String,
      default: 'black'
    },
    executeBackNative: {
      type: Boolean,
      default: true
    }
  },
  methods: {
    goBackWithRoute () {
      if (this.edit === true) {
        this.$router.push(this.routeEdit)
      } else {
        if (this.route === Number) {
          window.history.back()
        } else {
          this.$router.push(this.route)
        }
      }
      // this.$analytics.track('Go Back', {page_source: this.pageName})
    },
    goBackWithoutRoute () {
      const token = localStorage.getItem('halofina-token')
      const routeFcm = localStorage.getItem('halofina-fcm-route')
      if (routeFcm !== 'undefined' && routeFcm !== null) {
        if (token) {
          setBackRouteToAndroid('/dashboard/#/dashboard?tab=lifeplan')
          this.$router.push('/dashboard/#/dashboard?tab=lifeplan')
        } else {
          setBackRouteToAndroid('/onboarding/')
          this.$router.push('/onboarding')
        }
      } else {
        window.history.back()
      }
      // this.$analytics.track('Go Back', {page_source: this.pageName})
    },
    // wip refactor
    goBackToNamespace () {
      if (this.namespace !== '') {
        window.location.assign(window.location.origin + '/' + this.namespace + '/#' + this.route)
      } else {
        window.history.back()
      }
    },
    executeBackButtonFunc () {
      const token = localStorage.getItem('halofina-token')
      const routeFcm = localStorage.getItem('halofina-fcm-route') || null
      // Android back button bridge
      if (routeFcm !== 'undefined' && routeFcm !== null) {
        if (token) {
          setBackRouteToAndroid('/dashboard/#/dashboard?tab=lifeplan')
        } else {
          setBackRouteToAndroid('/onboarding/')
        }
      } else {
        if (this.executeBackNative === true) setBackRouteToAndroid(this.edit === true ? this.returnRouteWithNamespace(this.routeEdit) : this.returnRouteWithNamespace(this.route))
      }
    },
    returnRouteWithNamespace (route) {
      if (this.namespace === '') {
        if (typeof route !== 'undefined') {
          return '/vuetify15/#' + route
        } else {
          return undefined
        }
      } else {
        return '/' + this.namespace + '/#' + route
      }
    }
  },
  mounted () {
    this.executeBackButtonFunc()
  }
}
</script>
<style lang="sass">
  .toolbar
    .w-35
      width: 35px
      height: 35px

  .v-toolbar__content
    padding-left: 6px
    height: 48px !important

  .v-toolbar__title:not(:first-child)
    margin-left: 0 !important
</style>
