<template>
  <v-card flat :class="className + ' chart-card card-wrapper'" id="card-layout" :style="chartClass" @click="cardFunction()">
    <slot name="custom-layout">
      <div @click="layoutTitleFunction">
        <slot name="layout-title">
          <v-layout row align-center justify-center :class="classTitleLayout">
            <!-- Slots for Title Layout -->
            <slot name="title-layout-image">
              <img class="mr-3" src="../../assets/finavest/lifeplan/tile.svg" style="width: 35px; height: 35px" />
            </slot>
            <slot name="title-layout" :class="classTitleLayout">
              <v-layout column>
                <v-card-text :class="classTitle + ' text-truncate'">{{ cardTitle }}</v-card-text>
                <v-card-text :class="classDescription" v-html="cardDescription"></v-card-text>
              </v-layout>
            </slot>
            <div v-if="withProgressDetail">{{ progressData }}%</div>
            <slot name="menu-layout">
              <v-menu v-if="withMenu === true" bottom right offset-y>
                <v-btn icon small :ripple="false" slot="activator" style="height: 28px !important; margin: 0px !important">
                  <v-icon v-if="withIcon === true" style="color: #AAADC4">chevron_right</v-icon>
                  <img v-else :src="require('@/assets/dashboard/option.svg')" style="width: 24px; height: 24px"/>
                </v-btn>
                <slot name="menu-items">
                  <div></div>
                </slot>
              </v-menu>
            </slot>
          </v-layout>
        </slot>
      </div>
      <slot name="layout-highlight"></slot>
      <v-progress-linear v-if="withProgress" :value="progressData"></v-progress-linear>
      <!-- Item Layout -->
      <slot name="layout-desc">
        <v-layout row align-center justify-space-between wrap v-if="sectionDatas">
          <v-flex :xs6="narrowItem" :xs12="wideItem" :pt-4="usePaddingForSectionItem" v-for="(datas, index) in sectionDatas" :class="classGrid" :key="index">
            <v-layout :column="itemLayoutColumn" :row="itemLayoutRow">
              <slot name="title-text">
                <v-card-text :class="datas.classTitle ? 'pa-0 color-secondary-5 avenir-12-reg ' + datas.classTitle : 'pa-0 color-secondary-5 avenir-12-reg'">
                  {{ datas.title }}
                  <img v-if="datas.withButton === true" src="@/assets/icons/icon-information.svg" class="ml-2" @click="sectionTitleFunction()" />
                </v-card-text>
              </slot>
              <slot name="title-item-text">
                <v-card-text :class="datas.classItem ? datas.classItem + ' pa-0': 'pa-0 nexa-14-bold'" v-html="datas.item"></v-card-text>
              </slot>
            </v-layout>
          </v-flex>
          <!-- Button Single -->
          <v-flex :xs6="narrowItem" :xs12="wideItem" :class="classButton" v-if="withButton === true">
            <v-layout column>
              <v-btn @click="buttonFunction" :disabled="disabledButton" class="btn-radius box-shadow py-2" block color="primary" depressed><v-icon color="white" :class="buttonIconClass">{{ buttonIcon }}</v-icon> <div style="color: white">{{ buttonName }}</div></v-btn>
            </v-layout>
          </v-flex>
          <!-- Button Double -->
          <v-flex :xs6="narrowItem" :xs12="wideItem" class="pt-3" v-if="withButtonDouble === true">
            <v-layout row>
              <v-btn @click="buttonFunctionSecondary" block small flat depressed class="btn-radius box-shadow py-2"><v-icon color="white">{{ buttonIcon }}</v-icon> <div style="color: #42A5F5">{{ buttonNameSecondary }}</div></v-btn>
              <v-btn @click="buttonFunction" block small depressed color="primary" class="ml-2 btn-radius box-shadow py-2"><v-icon color="white">{{ buttonIconSecondary }}</v-icon> <div style="color: white">{{ buttonName }}</div></v-btn>
            </v-layout>
          </v-flex>

          <!-- button double -->
          <slot name="button-double">
          </slot>

        </v-layout>
      </slot>
    </slot>
  </v-card>
</template>
<script>
import {
  VMenu,
  VProgressLinear
} from 'vuetify/lib'

import { numberingNumber } from '@/services/Helpers'

export default {
  name: 'ReusableCards',
  components: {
    VMenu,
    VProgressLinear
  },
  props: {
    classTitle: {
      type: String,
      default: 'pa-0 nexa-16-bold'
    },
    disabledButton: {
      type: Boolean,
      default: false
    },
    chartClassBoolean: {
      type: Boolean,
      default: false
    },
    classProgressBar: {
      type: String,
      default: ''
    },
    classGrid: {
      type: String,
      default: ''
    },
    classDescription: {
      type: String,
      default: 'pa-0 color-secondary-5 avenir-12-reg'
    },
    classButton: {
      type: String,
      default: 'pt-4'
    },
    buttonIconClass: {
      type: String,
      default: ''
    },
    classTitleLayout: {
      type: String,
      default: ''
    },
    classCard: {
      type: String,
      default: null
    },
    cardDisabled: {
      type: Boolean,
      default: false
    },
    cardHelp: {
      type: Boolean,
      default: false
    },
    cardDescription: {
      type: String
    },
    cardTitle: {
      type: String
    },
    withProgress: {
      type: Boolean
    },
    withProgressDetail: {
      type: Boolean
    },
    withShadow: {
      type: Boolean,
      default: true
    },
    withRadius: {
      type: Boolean,
      default: true
    },
    withMenu: {
      type: Boolean,
      default: false
    },
    withIcon: {
      type: Boolean,
      default: false
    },
    withButton: {
      type: Boolean,
      default: true
    },
    withButtonDouble: {
      type: Boolean,
      default: false
    },
    itemLayoutColumn: {
      type: Boolean,
      default: true
    },
    itemLayoutRow: {
      type: Boolean,
      default: false
    },
    progressData: {
      type: Number
    },
    buttonName: {
      type: String
    },
    buttonNameSecondary: {
      type: String
    },
    buttonIcon: {
      type: String
    },
    buttonIconSecondary: {
      type: String
    },
    sectionDatas: {
      type: Array
    },
    usePaddingForSectionItem: {
      type: Boolean
    },
    marginSection: {
      type: String,
      default: null
    },
    narrowItem: {
      type: Boolean,
      default: true
    },
    wideItem: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      className: 'pa-3',
      chartClass: ''
    }
  },
  mounted () {
    this.checkClass()
  },
  methods: {
    numberingNumber,
    checkClass () {
      if (this.withShadow === true) this.className = 'px-3 py-3 box-shadow ' + this.marginSection
      if (this.withRadius === true) this.className = 'px-3 py-3 card-radius ' + this.marginSection
      if (this.withShadow === true && this.withRadius === true) this.className = 'px-3 py-3 box-shadow card-radius ' + this.marginSection
      if (this.chartClassBoolean === true) this.chartClass = 'padding-left: 0!important;'
      if (this.cardDisabled === true) this.className = 'px-3 py-3 opacity ' + this.marginSection
      if (this.cardHelp === true) this.className = 'px-3 py-2 radius8 ' + this.marginSection
      // if (this.classCard) this.className = this.classCard
    },
    // addClass (id, className) {
    //   var element = document.getElementById(id)
    //   element.classList.add(className)
    // },
    buttonFunction () {
      this.$emit('button-function')
    },
    buttonFunctionSecondary () {
      this.$emit('button-function-secondary')
    },
    layoutTitleFunction () {
      this.$emit('layout-title-function')
    },
    sectionTitleFunction () {
      this.$emit('section-title-function')
    },
    cardFunction () {
      this.$emit('card-function')
    }
  }
}
</script>

<style>
  .text-truncate {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    line-height: 1.1 !important;
  }

  .mr-12 {
    margin-right: 12px !important
  }

  .card-wrapper {
    margin-bottom: 12px;
    position: relative;
    overflow: hidden
  }

  .radius8 {
    border-radius: 8px
  }

  .opacity {
    opacity: 0.5;
  }
</style>
