<template>
  <div v-if="version < 3">
    <img v-if="type === 'ibadah' || type === 'haji'" src="@/assets/finavest/lifeplan/haji.svg" :style="styleImage" />
    <img v-else-if="type === 'liburan'" src="@/assets/finavest/lifeplan/liburan.svg" :style="styleImage" />
    <img v-else-if="type === 'mobil'" src="@/assets/finavest/lifeplan/mobil.svg" :style="styleImage" />
    <img v-else-if="type === 'rumah'" src="@/assets/finavest/lifeplan/rumah.svg" :style="styleImage" />
    <img v-else-if="type === 'pendidikan anak pertama' || type === 'pendidikan anak kedua' || type === 'pendidikan'" src="@/assets/finavest/lifeplan/pendidikan.svg" :style="styleImage" />
    <img v-else-if="type === 'pensiun'" src="@/assets/finavest/lifeplan/pensiun.svg" :style="styleImage" />
    <img v-else-if="type === 'pernikahan' || type === 'nikah'" src="@/assets/finavest/lifeplan/pernikahan.svg" :style="styleImage" />
    <v-img v-else-if="type === 'smartsaving'" :src="require('@/assets/finavest/smart_saving/smart-saving.svg')" :style="styleImage" :height="imageHeight" :width="imageWidth"></v-img>
    <img v-else src="@/assets/finavest/lifeplan/lain_lain.svg" :style="styleImage" />
  </div>
  <div v-else>
    <div v-if="history === true">
      <v-img v-if="type === 'ibadah' || type === 'haji'" :src="require('@/assets/finavest/lifeplan/v3/history-haji.svg')" :style="styleImage"></v-img>
      <v-img v-else-if="type === 'liburan'" :src="require('@/assets/finavest/lifeplan/v3/history-liburan.svg')" :style="styleImage"></v-img>
      <v-img v-else-if="type === 'mobil'" :src="require('@/assets/finavest/lifeplan/v3/history-kendaraan.svg')" :style="styleImage"></v-img>
      <v-img v-else-if="type === 'rumah'" :src="require('@/assets/finavest/lifeplan/v3/history-rumah.svg')" :style="styleImage"></v-img>
      <v-img v-else-if="type === 'pendidikan anak pertama' || type === 'pendidikan anak kedua' || type === 'pendidikan'" :src="require('@/assets/finavest/lifeplan/v3/history-pendidikan.svg')" :style="styleImage"></v-img>
      <v-img v-else-if="type === 'pensiun'" :src="require('@/assets/finavest/lifeplan/v3/history-pensiun.svg')" :style="styleImage"></v-img>
      <v-img v-else-if="type === 'pernikahan' || type === 'nikah'" :src="require('@/assets/finavest/lifeplan/v3/history-pernikahan.svg')" :style="styleImage"></v-img>
      <v-img v-else-if="type === 'smartsaving'" :src="require('@/assets/finavest/lifeplan/v3/history-smartsaving.svg')" :style="styleImage" :height="imageHeight" :width="imageWidth"></v-img>
      <v-img v-else :src="require('@/assets/finavest/lifeplan/v3/history-lainnya.svg')" :style="styleImage"></v-img>
    </div>
    <div v-else-if="withGradient === true">
      <v-img v-if="type === 'ibadah' || type === 'haji'" :src="require('@/assets/finavest/lifeplan/v3/haji.svg')" :style="styleImage"></v-img>
      <v-img v-else-if="type === 'liburan'" :src="require('@/assets/finavest/lifeplan/v3/liburan.svg')" :style="styleImage"></v-img>
      <v-img v-else-if="type === 'mobil'" :src="require('@/assets/finavest/lifeplan/v3/mobil.svg')" :style="styleImage"></v-img>
      <v-img v-else-if="type === 'rumah'" :src="require('@/assets/finavest/lifeplan/v3/rumah.svg')" :style="styleImage"></v-img>
      <v-img v-else-if="type === 'pendidikan anak pertama' || type === 'pendidikan anak kedua' || type === 'pendidikan'" :src="require('@/assets/finavest/lifeplan/v3/pendidikan.svg')" :style="styleImage"></v-img>
      <v-img v-else-if="type === 'pensiun'" :src="require('@/assets/finavest/lifeplan/v3/pensiun.svg')" :style="styleImage"></v-img>
      <v-img v-else-if="type === 'pernikahan' || type === 'nikah'" :src="require('@/assets/finavest/lifeplan/v3/pernikahan.svg')" :style="styleImage"></v-img>
      <v-img v-else-if="type === 'smartsaving'" :src="require('@/assets/finavest/smart_saving/smart-saving.svg')" :style="styleImage" :height="imageHeight" :width="imageWidth"></v-img>
      <v-img v-else :src="require('@/assets/finavest/lifeplan/v3/lain_lain.svg')" :style="styleImage"></v-img>
    </div>
    <div v-else-if="disabled === true">
      <v-img v-if="type === 'ibadah' || type === 'haji'" :src="require('@/assets/finavest/lifeplan/v3/d-haji.svg')" :style="styleImage"></v-img>
      <v-img v-else-if="type === 'liburan'" :src="require('@/assets/finavest/lifeplan/v3/d-liburan.svg')" :style="styleImage"></v-img>
      <v-img v-else-if="type === 'mobil'" :src="require('@/assets/finavest/lifeplan/v3/d-mobil.svg')" :style="styleImage"></v-img>
      <v-img v-else-if="type === 'rumah'" :src="require('@/assets/finavest/lifeplan/v3/d-rumah.svg')" :style="styleImage"></v-img>
      <v-img v-else-if="type === 'pendidikan anak pertama' || type === 'pendidikan anak kedua' || type === 'pendidikan'" :src="require('@/assets/finavest/lifeplan/v3/d-pendidikan.svg')" :style="styleImage"></v-img>
      <v-img v-else-if="type === 'pensiun'" :src="require('@/assets/finavest/lifeplan/v3/d-pensiun.svg')" :style="styleImage"></v-img>
      <v-img v-else-if="type === 'pernikahan' || type === 'nikah'" :src="require('@/assets/finavest/lifeplan/v3/d-pernikahan.svg')" :style="styleImage"></v-img>
      <v-img v-else-if="type === 'smartsaving'" :src="require('@/assets/finavest/smart_saving/smart-saving.svg')" :style="styleImage" :height="imageHeight" :width="imageWidth"></v-img>
      <v-img v-else :src="require('@/assets/finavest/lifeplan/v3/d-lain_lain.svg')" :style="styleImage"></v-img>
    </div>
    <div v-else>
      <v-img v-if="type === 'PILGRIMAGE' || type === 'haji'" :src="require('@/assets/finavest/lifeplan/v3/t-haji.svg')" :style="styleImage" :height="imageHeight" :width="imageWidth"></v-img>
      <v-img v-else-if="type === 'VACATION' || type === 'liburan'" :src="require('@/assets/finavest/lifeplan/v3/t-liburan.svg')" :style="styleImage" :height="imageHeight" :width="imageWidth"></v-img>
      <v-img v-else-if="type === 'CAR' || type === 'VEHICLE' || type === 'mobil'" :src="require('@/assets/finavest/lifeplan/v3/t-mobil.svg')" :style="styleImage" :height="imageHeight" :width="imageWidth"></v-img>
      <v-img v-else-if="type === 'PROPERTY' || type === 'rumah'" :src="require('@/assets/finavest/lifeplan/v3/t-rumah.svg')" :style="styleImage" :height="imageHeight" :width="imageWidth"></v-img>
      <v-img v-else-if="type === 'EDUCATION' || type === 'pendidikan anak pertama' || type === 'pendidikan anak kedua' || type === 'pendidikan'" :src="require('@/assets/finavest/lifeplan/v3/t-pendidikan.svg')" :style="styleImage" :height="imageHeight" :width="imageWidth"></v-img>
      <v-img v-else-if="type === 'RETIREMENT' || type === 'pensiun'" :src="require('@/assets/finavest/lifeplan/v3/t-pensiun.svg')" :style="styleImage" :height="imageHeight" :width="imageWidth"></v-img>
      <v-img v-else-if="type === 'MARRIAGE' || type === 'pernikahan'|| type === 'nikah'" :src="require('@/assets/finavest/lifeplan/v3/t-pernikahan.svg')" :style="styleImage" :height="imageHeight" :width="imageWidth"></v-img>
      <v-img v-else-if="type === 'smartsaving'" :src="require('@/assets/finavest/smart_saving/smart-saving.svg')" :style="styleImage" :height="imageHeight" :width="imageWidth"></v-img>
      <v-img v-else :src="require('@/assets/finavest/lifeplan/v3/t-lain_lain.svg')" :style="styleImage" :height="imageHeight" :width="imageWidth"></v-img>
    </div>
  </div>
</template>

<script>
import { VImg } from 'vuetify/lib'
import { checkFeatures } from '@/services/Helpers'

export default {
  name: 'ReusableImageLifeplan',
  components: {
    VImg
  },
  props: {
    type: {
      type: String
    },
    history: {
      type: Boolean
    },
    styleImage: {
      type: String,
      default: 'width: 36px; height: 36px'
    },
    withGradient: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    imageWidth: {
      type: String || Number,
      default: '36'
    },
    imageHeight: {
      type: String || Number,
      default: '36'
    }
  },
  data () {
    return {
      version: 2
    }
  },
  methods: {
    setVersion () {
      var version = checkFeatures('halofina:dashboard').version
      this.version = version
    }
  },
  created () {
    this.setVersion()
  }
}
</script>

<style>

</style>
