<template>
    <div class="dialog">
        <v-dialog
            v-model="mutableIsOpen"
            transition="dialog-bottom-transition"
            scrollable
            :content-class="className"
            :fullscreen="fullScreen"
            :hide-overlay="hideOverlay"
            :persistent="unclickable"
          >
          <v-layout column align-center justify-center>
            <div style="width: 100%;" v-if="withButton">
              <v-btn
                round
                color="white"
                class="popup-button"
                :ripple="false"
                icon
                @click="callback === null ? closeDialogs() : callback"
              >
                <v-icon>close</v-icon>
              </v-btn>
            </div>
            <slot name="layout">
              <v-card tile :class="classDialog">
                <br v-if="useBr === true"/>
                <slot name="image-above-title">
                  <img
                    v-if="image && isImageAboveTitle === true"
                    :src="image"
                    :width="resizeImage === true ? '30%' : 'auto'"
                    :height="resizeImage === true ? '30%' : 'auto'"
                    class="pb-3"
                  />
                </slot>
                <slot name="layout-title">
                  <v-card-text :class="classTitle">
                    {{title}}
                  </v-card-text>
                </slot>
                <slot name="image-below-title">
                  <img
                    v-if="image && isImageBelowTitle === true"
                    :src="image"
                    :width="resizeImage === true ? '30%' : '85%'"
                    :height="resizeImage === true ? '30%' : 'auto'"
                    class="pt-3"
                  />
                </slot>
                <slot name="layout-desc">
                  <v-card-text v-if="description" :class="classDesc" v-html="description"></v-card-text>
                </slot>
                <slot name="layout-button">
                  <div></div>
                </slot>
              </v-card>
            </slot>
          </v-layout>
        </v-dialog>
    </div>
</template>
<script>
import { VDialog, VCardText } from 'vuetify/lib'

export default {
  name: 'ReusableDialog',
  components: {
    VDialog, VCardText
  },
  props: {
    className: {
      type: String
    },
    useBr: {
      type: Boolean,
      default: true
    },
    fullScreen: {
      type: Boolean
    },
    classDialog: {
      type: String,
      default: 'card-radius card'
    },
    classTitle: {
      type: String,
      default: 'nexa-16-bold px-0 pt-0 pb-2 color-text-1 text-xs-center'
    },
    classDesc: {
      type: String,
      default: 'avenir-12-reg text-align-center pt-0'
    },
    unclickable: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: 'Ada kesalahan'
    },
    description: {
      type: String,
      default: 'Coba reload atau coba beberapa saat lagi'
    },
    image: {
      type: String,
      default: require('@/assets/dashboard/danger.svg')
    },
    isOpen: {
      type: Boolean,
      default: false
    },
    withButton: {
      type: Boolean
    },
    callback: {
      type: Function,
      default: null
    },
    hideOverlay: {
      type: Boolean
    },
    isImageBelowTitle: {
      type: Boolean
    },
    isImageAboveTitle: {
      type: Boolean
    },
    resizeImage: {
      type: Boolean,
      default: false
    }
  },
  model: {
    prop: 'isOpen',
    event: 'is-open-change'
  },
  computed: {
    mutableIsOpen: {
      get: function () {
        return this.isOpen
      },
      set: function (value) {
        this.$emit('is-open-change', value)
      }
    }
  },
  methods: {
    closeDialogs () {
      this.mutableIsOpen = false
    }
  }
}
</script>
<style>
  .popup-button {
    float: right;
    margin: 0px;
    width: 32px !important;
    height: 32px !important
  }
  .v-dialog:not(.v-dialog--fullscreen) {
    max-height: 96%
  }
  .v-dialog {
    box-shadow: none;
  }
  .resized-image {
    width: 20%
  }
  .card {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%
  }
</style>
