<template>
    <div class="guidetour">
        <v-tour :name="name" :steps="steps" :callbacks="tourCallbacks">
            <template slot-scope="tour">
                <transition name="fade">
                    <v-step
                        v-if="tour.currentStep === index"
                        v-for="(step, index) of tour.steps"
                        :key="index"
                        :step="step"
                        :previous-step="tour.previousStep"
                        :next-step="tour.nextStep"
                        :stop="tour.stop"
                        :is-first="tour.isFirst"
                        :is-last="tour.isLast"
                        :labels="tour.labels"
                    >
                        <div slot="actions">
                          <template v-if="tour.isLast">
                              <button @click="tour.stop" class="button-tour">Oke</button>
                          </template>
                          <template v-else>
                              <button @click="tour.nextStep" class="button-tour">Oke</button>
                          </template>
                        </div>
                    </v-step>
                </transition>
            </template> 
        </v-tour>
        <div class="tour-overlay"></div>
    </div>   
</template>
<script>
import * as $ from 'jquery'

export default {
  name: 'ReusableGuideTour',
  props: {
    steps: {
      type: Array
    },
    name: {
      type: String
    },
    status: {
      type: String
    },
    background: {
      type: Boolean
    },
    border: {
      type: Boolean
    }
  },
  data () {
    return {
      tourCallbacks: {
        onStart: this.onStartTour,
        onNextStep: this.onNextStep,
        onStop: this.onStop
      }
    }
  },
  methods: {
    onStartTour: function () {
      $('.tour-overlay').show()
      this.moveHelperLayer($(this.steps[0].target))
    },
    onNextStep: function (step) {
      this.moveHelperLayer($(this.steps[step + 1].target))
    },
    onStop: function () {
      $('.tour-overlay').hide()
      $('.tour-highlight').removeClass('tour-highlight')
      if (this.background === true) {
        $('.tour-highlight').removeClass('bg-primary-3 card-radius')
      }
      localStorage.setItem(this.status, 1)
    },
    moveHelperLayer: function (target) {
      $('.tour-highlight').removeClass('tour-highlight')
      target.addClass('tour-highlight')
      if (this.background === true) target.addClass('bg-primary-3')
      if (this.border === true) target.addClass('card-radius')
    }
  },
  mounted: function () {
    $('.tour-overlay').hide()
    if (!localStorage.getItem(this.status)) setTimeout(this.$tours[this.name].start(), 500)
  }
}
</script>
<style>
  .guidetour .v-step {
    background-color: #42A5F5;
    border-radius: 8px;
    max-width: 158px;
    z-index: 200 !important;
  }
  .guidetour .v-step__arrow {
    border-color: #42A5F5 !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
  }
  .guidetour .v-step[x-placement^=top] .v-step__arrow {
    border-color: #42A5F5 !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
  }

  .guidetour .v-step[x-placement^=right] .v-step__arrow {
    border-width: 0.5rem 0.5rem 0.5rem 0.5rem
  }

  .tour-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    box-sizing: content-box;
    z-index: 199;
    background-color: #2C3B50;
    opacity: 0.45;
    background: -moz-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
    background: -webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,rgba(0,0,0,0.4)),color-stop(100%,rgba(0,0,0,0.9)));
    background: -webkit-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
    background: -o-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
    background: -ms-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
    background: radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000000',endColorstr='#e6000000',GradientType=1)";
    -ms-filter: "alpha(opacity=50)";
    filter: alpha(opacity=50);
  }
  .tour-highlight {
    z-index: 200 !important;
  }
  .button-tour {
    background-color: white;
    border-radius: 19px;
    color: #42A5F5;
    width: 54px;
    height: 22px
  }
</style>
