<template>
  <div class="reusable-google-button" v-if="checkFeatures().environment === 'development'">
    <div class="text-align-center btn-radius box-shadow bg-primary-3 center-horizontal py-2" ref="googleBtn">
      <slot></slot>
    </div>
  </div>
</template>

<script>
import { checkFeatures } from '@/services/Helpers'

export default {
  name: 'ReusableGoogleButton',
  methods: {
    checkFeatures,
    initButton () {
      var self = this
      window.gapi.load('auth2', () => {
        const auth2 = window.gapi.auth2.init({
          client_id: '321004197819-52689nqk03khtrrt1fapnesodjpuprfn.apps.googleusercontent.com',
          cookiepolicy: 'single_host_origin'
        })
        auth2.attachClickHandler(self.$refs.googleBtn, {}, googleUser => {
          self.$emit('done', googleUser)
        }, error => console.log(error))
      })
    }
  },
  mounted () {
    this.initButton()
  }
}
</script>
