<template>
  <div v-if="checkFeatures('halofina:dashboard').version > 2 && rounded === false">
    <img v-if="type === 'Reksadana Campuran' || type === 'Reksa Dana Campuran'" src="@/assets/finavest/asset/campuran-new.svg" :style="styleImage"/>
    <img v-if="type === 'Reksadana Pasar Uang' || type === 'Reksa Dana Pasar Uang'" src="@/assets/finavest/asset/uang-new.svg" :style="styleImage"/>
    <img v-if="type === 'Reksadana Pendapatan Tetap' || type === 'Reksa Dana Pendapatan Tetap'" src="@/assets/finavest/asset/tetap-new.svg" :style="styleImage"/>
    <img v-if="type === 'Reksadana Saham' || type === 'Reksa Dana Saham'" src="@/assets/finavest/asset/saham-new.svg" :style="styleImage"/>
    <img v-if="type === 'Emas'" src="@/assets/finavest/asset/emas-new.svg" :style="styleImage"/>
  </div>
  <div v-else-if="checkFeatures('halofina:dashboard').version > 2 && rounded === true">
    <img v-if="type === 'Reksadana Campuran' || type === 'Reksa Dana Campuran'" src="@/assets/finavest/asset/campuran-new-rounded.svg" :style="styleImage"/>
    <img v-if="type === 'Reksadana Pasar Uang' || type === 'Reksa Dana Pasar Uang'" src="@/assets/finavest/asset/uang-new-rounded.svg" :style="styleImage"/>
    <img v-if="type === 'Reksadana Pendapatan Tetap' || type === 'Reksa Dana Pendapatan Tetap'" src="@/assets/finavest/asset/tetap-new-rounded.svg" :style="styleImage"/>
    <img v-if="type === 'Reksadana Saham' || type === 'Reksa Dana Saham'" src="@/assets/finavest/asset/saham-new-rounded.svg" :style="styleImage"/>
    <img v-if="type === 'Emas'" src="@/assets/finavest/asset/emas-new-rounded.svg" :style="styleImage"/>
    <img v-if="type === 'Sukuk Obligasi'" src="@/assets/finavest/asset/sukuk-obligasi.svg" :style="styleImage"/>
    <img v-if="type === 'Peer to Peer Lending'" src="@/assets/finavest/asset/peer.svg" :style="styleImage"/>
  </div>
  <div v-else>
    <img v-if="type === 'Reksadana Campuran' || type === 'Reksa Dana Campuran'" src="@/assets/finavest/asset/campuran.svg" :style="styleImage"/>
    <img v-if="type === 'Reksadana Pasar Uang' || type === 'Reksa Dana Pasar Uang'" src="@/assets/finavest/asset/uang.svg" :style="styleImage"/>
    <img v-if="type === 'Reksadana Pendapatan Tetap' || type === 'Reksa Dana Pendapatan Tetap'" src="@/assets/finavest/asset/tetap.svg" :style="styleImage"/>
    <img v-if="type === 'Reksadana Saham' || type === 'Reksa Dana Saham'" src="@/assets/finavest/asset/saham.svg" :style="styleImage"/>
    <img v-if="type === 'Emas'" src="@/assets/finavest/asset/emas.svg" :style="styleImage"/>
  </div>
</template>

<script>
import { checkFeatures } from '@/services/Helpers'

export default {
  name: 'ReusableImageAsset',
  props: {
    type: {
      type: String
    },
    styleImage: {
      type: String
    },
    rounded: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    checkFeatures
  }
}
</script>

<style>

</style>
