<template>
  <div class="reusable-disabled-page">
    <v-layout column align-center justify-center class="full-height bg-primary-3">
      <v-card-text class="nexa-20-bold text-xs-center"> Maaf, kami sedang <br /> dalam perbaikan </v-card-text>
      <br />
      <img :src="require('@/assets/dashboard/unavailable.svg')" style="width:189px; height: 111px; align-self: center">
      <br />
      <br />
      <v-card-text class="avenir-14-reg text-xs-center pt-0 pb-4 px-3"> Fitur akan segera bisa diakses, silahkan <br /> menunggu beberapa saat lagi. </v-card-text>
    </v-layout>  
  </div>
</template>

<script>
export default {
  name: 'ReusableDisabledPage',
  props: {
    disableType: {
      type: String
    }
  }
}
</script>

<style>

</style>
