<template>
  <div class="finavest-investment-sell-list">
    <reusable-toolbar page-name="Tarik Tabungan"></reusable-toolbar>
    <!-- Lifeplan Layout -->
    <v-layout row align-center justify-center class="card-shadow box-shadow toolbar-margin" pa-3>
      <v-flex xs2 mr-3>
        <reusable-image-lifeplan :type="lifeplan.total.type" style-image="width: 50px; height: 50px"></reusable-image-lifeplan>
      </v-flex>
      <v-flex xs10>
        <v-layout column>
          <v-card-text class="pa-0 nexa-14-bold text-capitalize">{{ lifeplan.total.subtype ? lifeplan.total.subtype : lifeplan.total.type }}</v-card-text>
          <v-card-text class="pa-0 avenir-12-reg">Total Nilai Saat Ini</v-card-text>
          <v-card-text class="pa-0 nexa-16-bold">Rp {{ numberingNumber(lifeplan.total.grand_total_amount) }}</v-card-text>
        </v-layout>
      </v-flex>
    </v-layout>
    <!-- Product Layout -->
    <v-container>
      <v-layout column>
        <div v-for="(data, index) in lifeplan.asset" :key="index">
          <reusable-cards
            :disabled-button="data.assetname === 'Emas' ? data.total_unit < 1 : buttonBoolean[index].buttonDisabled"
            :card-title="data.productname"
            :card-description="data.assetname"
            :section-datas="productDetail[index]"
            :use-padding-for-section-item="false"
            :item-layout-row="true"
            :item-layout-column="false"
            :narrow-item="false"
            :wide-item="true"
            :with-button="true"
            :with-radius="true"
            :with-shadow="true"
            @layout-title-function="data.assetname === 'Emas' ? routeToProductDetailEmas(lifeplanid, data.productid, false) : routeToProductDetail(lifeplanid, data.productid, false)"
            @button-function="routeToSellProduct(lifeplanId, data.id)"
            class-button="pt-2 button-cards"
            class-title="avenir-10-med pa-0 text-capitalize"
            class-grid="pt-1"
            class-title-layout="mb-2"
            button-name="Jual"
          >
          <div class="mr-3" slot="title-layout-image">
            <img :src="data.product_image" style="width: 24px !important; heigth: 24px !important;" alt="Product Image">
          </div>
          <div slot="menu-layout">
            <v-icon>keyboard_arrow_right</v-icon>
          </div>
          </reusable-cards>
        </div>
      </v-layout>
    </v-container>
    <!-- Error Dialog -->
    <reusable-dialogs
      v-model="dialog.dialogError"
      :resize-image="true"
    ></reusable-dialogs>
  </div>
</template>

<script>
import Api from '@/services/Api'
import ReusableImageLifeplan from '@/components/reusable/ReusableImageLifeplan'
import ReusableCards from '@/components/reusable/ReusableCards'
import { numberingNumber, roundUp } from '@/services/Helpers'

export default {
  name: 'FinavestInvestmentSellList',
  components: {
    ReusableImageLifeplan,
    ReusableCards
  },
  data () {
    return {
      lifeplanId: 0,
      buttonBoolean: [],
      buttonDisabled: false,
      lifeplan: {},
      lifeplanid: this.$route.params.id,
      dialog: {
        dialogError: false
      },
      productDetail: []
    }
  },
  methods: {
    numberingNumber,
    roundUp,
    getParams () {
      this.lifeplanId = this.$route.params.id
    },
    fetchData () {
      Api('finavest/portfolio/lifeplan', {
        lifeplanid: this.lifeplanId
      })
        .then((res) => {
          this.lifeplan = res.d
          this.setDataForReusableCards(res.d.asset)
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    routeToSellProduct (lifeplanId, productId) {
      this.trackEvent()
      this.$router.push('/finavest/investment/sell/sell_product/' + lifeplanId + '/' + productId)
    },
    routeToProductDetail (lifeplanid, productid, form) {
      this.$router.push('/finavest/portfolio/product/detail/' + lifeplanid + '/' + productid + '/' + form)
    },
    setRouteToLocalStorage () {
      this.$helpers.setRouteToLocalStorage('/finavest/investment/sell/sell_list/' + this.lifeplanId)
    },
    trackEvent () {
      this.$analytics.track('Investment Request Sold')
    },
    growthData (totalUnit, pandingUnit, gainlossData, totalAmount) {
      if (Number(totalUnit) - Number(pandingUnit) <= 0) {
        this.buttonBoolean.push({buttonDisabled: true})
        return '0,00%'
      } else if (Number(gainlossData) / Number(totalAmount) * 100 < 0) {
        this.buttonBoolean.push({buttonDisabled: false})
        return '<i  style="margin-top: -3px" class="color-system-error material-icons">arrow_drop_down</i><div style="float: right">' + numberingNumber(roundUp(Number(gainlossData) / Number(totalAmount) * 100, 2)) + '%' + '</div>'
      } else if (Number(gainlossData) / Number(totalAmount) * 100 === 0) {
        this.buttonBoolean.push({buttonDisabled: false})
        return '0,00%'
      } else {
        this.buttonBoolean.push({buttonDisabled: false})
        return '<i class="color-system-success material-icons">arrow_drop_up</i><div style="float: right">' + numberingNumber(roundUp(Number(gainlossData) / Number(totalAmount) * 100, 2)) + '%' + '</div>'
      }
    },
    // Set Data Cards
    setDataForReusableCards (item) {
      var transformedData = []
      for (var i = 0; i < item.length; i++) {
        transformedData = [
          {
            title: 'Nilai Saat Ini',
            item: 'Rp ' + this.numberingNumber(Number(item[i].total_amount) + Number(item[i].gain_loss) + Number(item[i].pending_amount)),
            classItem: 'text-align-right avenir-12-med ls-5'
          },
          {
            title: 'Modal Beli',
            item: 'Rp ' + this.numberingNumber(Number(item[i].total_amount) + Number(item[i].pending_amount)),
            classItem: 'text-align-right avenir-12-med ls-5'
          },
          {
            title: 'Potensi Laba/Rugi',
            item: 'Rp ' + this.numberingNumber(Number(item[i].gain_loss)),
            classItem: 'text-align-right avenir-12-med ls-5'
          },
          {
            title: 'Pertumbuhan',
            item: this.growthData(item[i].total_unit, item[i].pending_unit, item[i].gain_loss, item[i].total_amount),
            classItem: 'text-align-right height-10 avenir-12-med ls-5'
          }
        ]
        this.productDetail.push(transformedData)
      }
    },
    routeToProductDetailEmas (lifeplanid, productid, form) {
      this.$router.push('/finavest/portfolio/product/detail_emas/' + lifeplanid + '/' + productid + '/' + form)
    },
    setDataForGrowSection (gainLoss, amount) {
      var tags = ''
      if (Number(gainLoss) / Number(amount) * 100 < 0) {
        tags = '<i  style="margin-top: -3px" class="color-system-error material-icons">arrow_drop_down</i><div style="float: right">' + Number(gainLoss) / Number(amount) * 100 + '%' + '</div>'
      } else {
        tags = '<i class="color-system-success material-icons">arrow_drop_up</i><div style="float: right">' + this.numberingNumber(Number(gainLoss) / Number(amount) * 100) + '%' + '</div>'
      }
      return tags
    }
  },
  created () {
    this.getParams()
    this.fetchData()
    this.setRouteToLocalStorage()
  }
}
</script>

<style>

</style>
