<template>
    <div class="finaspend-payment-bank" style="height: 100vh; background-color: white">
        <reusable-toolbar page-name="Pilih Bank Transfer" route="/finavest/investment/buy/detail"></reusable-toolbar>
        <v-container class="pa-0 bg-primary-3 toolbar-margin">
            <v-layout column>
                <v-card flat>
                     <v-list class="pt-0">
                        <template v-for="item in items">
                            <v-divider></v-divider>
                            <v-list-tile
                            :key="item.bankname"
                            avatar
                            @click="go(item.id)"
                            >
                              <v-list-tile-avatar>
                                  <img v-if="item.bankname === 'BCA'" class="img" :src="bcaImage">
                                  <img v-if="item.bankname === 'MANDIRI'" class="img" :src="mandiriImage">
                              </v-list-tile-avatar>

                              <v-list-tile-content>
                                  <v-list-tile-title>Bank {{item.bankname}}</v-list-tile-title>
                                  <v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>
                              </v-list-tile-content>

                              <v-list-tile-action>
                                <v-btn icon>
                                  <v-icon color="black" style="font-size: 19px">arrow_forward_ios</v-icon>
                                </v-btn>
                              </v-list-tile-action>
                            </v-list-tile>
                            <v-divider></v-divider>
                        </template>
                    </v-list>
                </v-card>
            </v-layout>
        </v-container>
        <reusable-dialogs v-model="dialogError" :resize-image="true"></reusable-dialogs>
    </div>

</template>

<script>
import Api from '@/services/Api'

var bca = require('../../../assets/finaspend/cashflowtracking/logoBCA.svg')
var mandiri = require('../../../assets/finaspend/cashflowtracking/logoMandiri.svg')

export default {
  name: 'FinaspendPaymentBank',
  data () {
    return {
      items: [],
      bcaImage: bca,
      mandiriImage: mandiri,
      dialogError: false
    }
  },
  methods: {
    getBankList () {
      Api('finavest/transaction/bank', {})
        .then((res) => {
          this.items = res.d
        })
        .catch(() => {
          this.dialogError = true
        })
    },
    go (bank) {
      this.$router.push('/finavest/payment/invoice/' + bank + '/' + true + '/' + null)
      this.trackBank()
    },
    trackBank () {
      this.$analytics.track('Bank Option Selected')
    }
  },
  created () {
    this.getBankList()
  }
}
</script>
<style>
    .finaspend-payment-bank .img {
        height: auto;
        border-radius: 0%
    }
    .finaspend-payment-bank .v-divider--inset:not(.v-divider--vertical) {
        margin-left: 0px;
        max-width: none;
    }
</style>

