<template>
    <div class="finaspend-payment-bank">
        <reusable-toolbar v-if="type === 'zakat'" page-name="Petunjuk Pembayaran">
        </reusable-toolbar>
        <reusable-toolbar v-else page-name="Petunjuk Pembayaran" :route="fromBankPage === 'true' ? null : '/finavest/payment/detail/' + trxid + '/buy/history'">
        </reusable-toolbar>
        <v-container v-if="loadingDone === true" class="pa-0 bg-primary-3 toolbar-margin">
            <!-- <pre>{{ checkoutData }}</pre> -->
            <v-layout column>
                <!-- Bank Layout -->
                <v-layout row align-center class="pa-3">
                  <v-flex xs3>
                    <img src="../../../assets/finaspend/cashflowtracking/logoMandiri.svg" style="width: 66px; height: 20px"/>
                  </v-flex>
                  <v-flex xs9>
                    <div class="nexa-16-bold">{{ bankName }} </div>
                  </v-flex>
                </v-layout>
                <!-- Nomor Virtual Account -->
                <v-layout row align-center class="py-2 px-3 mb-2">
                    <v-layout column mr-2>
                        <div v-if="isOutstanding === true"><b>Nomor Rekening</b></div>
                        <div v-else><b>Nomor Virtual Account</b></div>
                        <div>{{accountName}}</div>
                        <input readonly id="text-norek" :value="accountNumber" />
                    </v-layout>
                    <v-btn color="whitesmoke" class="box-shadow card-radius" small depressed @click="copyToClipboard(accountNumber, 'text-norek'); snackbars = true; trackButtonCopy()">
                        Salin
                    </v-btn>
                </v-layout>
                <!-- Petunjuk Pembayaran Mandiri VA -->
                <v-expansion-panel v-if="isOutstanding === false">
                  <v-expansion-panel-content expand-icon="arrow_drop_down" v-for="(payment, index) in paymentOptions.mandiriVA" :key="index" class="recommendation-detail mb-1">
                    <div slot="header">
                      <v-card-text class="nexa-14-bold pl-0">{{ payment.paymentType }}</v-card-text>
                    </div>
                    <v-card-text class="nexa-14-bold pb-0">Bagaimana cara transfer :</v-card-text>
                    <v-card-text v-if="payment.paymentDesc" v-html="payment.paymentDesc"></v-card-text>
                    <!-- Looping Steps -->
                    <div v-for="(steps, indexSteps) in payment.paymentItems" :key="indexSteps">
                      <v-layout row align-center px-3>
                        <v-flex xs1 style="z-index: 1">
                          <div class="circle-ing center-horizontal bg-primary-1 color-primary-3">{{ indexSteps + 1 }}</div>
                          <div class="bg-primary-1 line" v-if="indexSteps + 1 < payment.paymentItems.length"></div>
                        </v-flex>
                        <v-flex xs11>
                          <v-card-text v-html="steps.steps"></v-card-text>
                        </v-flex>
                      </v-layout>
                    </div>
                  </v-expansion-panel-content>
                </v-expansion-panel>
                <!-- Petunjuk Pembayaran Mandiri Transfer -->
                <v-expansion-panel v-else>
                  <v-expansion-panel-content expand-icon="arrow_drop_down" v-for="(payment, index) in paymentOptions.mandiriTrf" :key="index" class="recommendation-detail mb-1">
                    <div slot="header">
                      <v-card-text class="nexa-14-bold pl-0">{{ payment.paymentType }}</v-card-text>
                    </div>
                    <v-card-text class="nexa-14-bold pb-0">Bagaimana cara transfer :</v-card-text>
                    <v-card-text v-if="payment.paymentDesc" v-html="payment.paymentDesc"></v-card-text>
                    <!-- Looping Steps -->
                    <div v-for="(steps, indexSteps) in payment.paymentItems" :key="indexSteps">
                      <v-layout row align-center px-3>
                        <v-flex xs1 style="z-index: 1">
                          <div class="circle-ing center-horizontal bg-primary-1 color-primary-3">{{ indexSteps + 1 }}</div>
                          <div class="bg-primary-1 line" v-if="indexSteps + 1 < payment.paymentItems.length"></div>
                        </v-flex>
                        <v-flex xs11>
                          <v-card-text v-html="steps.steps"></v-card-text>
                        </v-flex>
                      </v-layout>
                    </div>
                  </v-expansion-panel-content>
                </v-expansion-panel>
                <div style="height: 72px"></div>
                <!-- Button -->
                <v-layout row align-center pa-3 justify-center v-if="fromBankPage === 'true'" class="fixed-layout box-shadow-up" style="z-index: 1">
                  <v-flex xs8>
                    <v-layout column>
                      <v-card-text class="pa-0">Transfer melalui</v-card-text>
                      <v-card-text class="pa-0 color-primary-1 nexa-14-bold"  v-if="isOutstanding === false">{{ bankName }} Virtual Account</v-card-text>
                      <v-card-text class="pa-0 color-primary-1 nexa-14-bold"  v-else>Bank Transfer</v-card-text>
                    </v-layout>
                  </v-flex>
                  <v-flex xs4>
                      <v-btn block color="warning" class="btn-radius box-shadow" depressed @click="submit()">
                          Bayar
                      </v-btn>
                  </v-flex>
                </v-layout>
            </v-layout>
        </v-container>
        <v-container v-else>
          <v-layout column align-center justify-center class="full-height">
            <reusable-loading></reusable-loading>
          </v-layout>
        </v-container>
        <!-- Dialog Error -->
        <reusable-dialogs
            v-model="dialog.dialogError"
            :resize-image="true"
        ></reusable-dialogs>
        <!-- Loading Dialog -->
        <reusable-dialogs
            v-model="dialog.dialogLoading"
            :unclickable="true"
        >
            <div slot="layout">
              <v-card flat class="card-radius" style="width: 100%">
                <v-layout py-3 px-4 row align-center justify-center>
                  <reusable-loading></reusable-loading>
                  <div class="nexa-14-bold px-5">Memproses</div>
                </v-layout>
              </v-card>
            </div>
        </reusable-dialogs>

        <v-snackbar color="success" v-model="snackbars" :timeout="1500">
          Text telah disalin
        </v-snackbar>
    </div>

</template>

<script>
import {
  VExpansionPanel,
  VExpansionPanelContent,
  VSnackbar
} from 'vuetify/lib'
import Api from '@/services/Api'
import { numberingNumber, copyToClipboard } from '@/services/Helpers'
// Loading
import ReusableLoading from '@/components/reusable/ReusableLoading'
export default {
  name: 'FinaspendPaymentBank',
  components: {
    VExpansionPanel,
    VExpansionPanelContent,
    VSnackbar,
    ReusableLoading
  },
  data () {
    return {
      dialog: {
        dialogError: false,
        dialogLoading: false
      },
      paymentOptions: {
        // Mandiri VA Steps
        mandiriVA: [
          {
            paymentType: 'Pembayaran Mandiri Virtual Account dengan ATM bank Mandiri',
            paymentItems: [
              {
                steps: 'Masukkan kartu ATM dan PIN'
              },
              {
                steps: 'Pilih Menu <b>“Bayar/Beli”</b>'
              },
              {
                steps: 'Pilih menu <b>“Lainnya”</b>, hingga menemukan menu <b>“Multipayment”</b>'
              },
              {
                steps: 'Masukkan kode biller <b>Halofina 89171</b>, lalu pilih <b>Benar</b>'
              },
              {
                steps: 'Masukkan <b>“Nomor Virtual Account”</b> Halofina, lalu pilih tombol <b>Benar</b>'
              },
              {
                steps: 'Masukkan Angka <b>“1”</b> untuk memilih tagihan, lalu pilih tombol <b>Ya</b>'
              },
              {
                steps: 'Akan muncul konfirmasi pembayaran, lalu pilih tombol <b>Ya</b>'
              },
              {
                steps: 'Simpan struk sebagai bukti pembayaran anda'
              }
            ]
          },
          {
            paymentType: 'Pembayaran Mandiri Virtual Account dengan Mandiri Online',
            paymentItems: [
              {
                steps: 'Login Mandiri Online dengan memasukkan username dan password'
              },
              {
                steps: 'Pilih menu <b>“Pembayaran”</b>'
              },
              {
                steps: 'Pilih menu <b>“Multipayment”</b>'
              },
              {
                steps: 'Pilih penyedia jasa <b>“Halofina“</b>'
              },
              {
                steps: 'Masukkan <b>“Nomor Virtual Account”</b> dan <b>“Nominal”</b> yang akan dibayarkan , lalu pilih <b>Lanjut</b>'
              },
              {
                steps: 'Setelah muncul tagihan, pilih <b>Konfirmasi</b>'
              },
              {
                steps: 'Masukkan PIN'
              },
              {
                steps: 'Transaksi selesai, simpan bukti bayar anda'
              }
            ]
          },
          {
            paymentType: 'Pembayaran Mandiri Virtual Account dengan Internet Banking',
            paymentItems: [
              {
                steps: 'Login Mandiri Online dengan memasukkan username dan password'
              },
              {
                steps: 'Pilih menu <b>“Pembayaran”</b>'
              },
              {
                steps: 'Pilih menu <b>“Multipayment”</b>'
              },
              {
                steps: 'Pilih penyedia jasa <b>“Halofina“</b>'
              },
              {
                steps: 'Masukkan <b>“Nomor Virtual Account”</b> dan <b>“Nominal”</b> yang akan dibayarkan , lalu pilih <b>Lanjut</b>'
              },
              {
                steps: 'Setelah muncul tagihan, pilih <b>Konfirmasi</b>'
              },
              {
                steps: 'Masukkan <b>"Kode Respon"</b> yang telah dikirim ke ponsel Anda, lalu pilih <b>OK</b>'
              },
              {
                steps: 'Transaksi selesai, simpan bukti bayar Anda'
              }
            ]
          },
          {
            paymentType: 'Pembayaran Mandiri Virtual Account dengan ATM bank lainnya',
            paymentItems: [
              {
                steps: 'Masukkan kartu ATM dan PIN'
              },
              {
                steps: 'Pilih menu <b>“Transfer”</b>'
              },
              {
                steps: 'Masukan <b>“Nominal”</b>'
              },
              {
                steps: 'Pilih kode bank tujuan <b>“Bank Mandiri (008)”</b>'
              },
              {
                steps: 'Masukan No Virtual Account (user)'
              },
              {
                steps: 'Klik <b>“Benar”</b>'
              }
            ]
          },
          {
            paymentType: 'Pembayaran Mandiri Virtual Account dengan Internet Banking bank lain',
            paymentItems: [
              {
                steps: 'Login Internet Banking dengan memasukkan username dan password'
              },
              {
                steps: 'Pilih menu <b>“Transfer”</b>'
              },
              {
                steps: 'Pilih menu <b>“Antar Bank”</b>'
              },
              {
                steps: 'Pilih bank tujuan <b>“Bank Mandiri (008)”</b>'
              },
              {
                steps: 'Masukkan <b>“Nomor Virtual Account”</b> dan <b>“Nominal”</b> yang akan dibayarkan , lalu pilih <b>Lanjut<b/>'
              },
              {
                steps: 'Masukkan PIN'
              }
            ]
          }
        ],
        // Mandiri Transfer Steps
        mandiriTrf: [
          {
            paymentType: 'Bank Transfer Bank Lainnya',
            paymentItems: [
              {
                steps: 'Masukkan kartu ATM dan PIN kamu.'
              },
              {
                steps: 'Pilih Menu transaksi lainnya.'
              },
              {
                steps: 'Pilih Menu Transfer.'
              },
              {
                steps: 'Pilih Menu ke <b>Rek Mandiri</b> dan pilih Menu ke <b>Rek Bank Lain</b>'
              },
              {
                steps: 'Masukkan Kode Bank Mandiri (<b>008</b>) dilanjutkan nomor rekening yang dituju <b>1310015817838</b> a.n. PT Akselerasi Edukasi Internasional.'
              },
              {
                steps: 'Masukkan jumlah yang akan ditransfer.'
              },
              {
                steps: 'Layar ATM akan menampilkan data transaksi anda, jika data sudah benar pilih “<b>YA</b>”'
              },
              {
                steps: 'Selesai'
              }
            ]
          },
          {
            paymentType: 'Bank Transfer Bank Mandiri',
            paymentItems: [
              {
                steps: 'Masukkan kartu ATM dan PIN Mandiri kamu.'
              },
              {
                steps: 'Pilih Menu Lain'
              },
              {
                steps: 'Pilih Menu Transfer'
              },
              {
                steps: 'Pilih dari Rekening Sumber yang akan dipakai.'
              },
              {
                steps: 'Pilih ke Rekening Mandiri'
              },
              {
                steps: 'Masukan Nomor Rekening Mandiri yang dituju <b>1310015817838</b> a.n. PT Akselerasi Edukasi Internasional.'
              },
              {
                steps: 'Masukan jumlah yang akan ditransfer dan tekan “Benar”.'
              },
              {
                steps: 'Layar ATM akan menampilkan data transaksi anda, jika data sudah benar pilih “<b>YA</b>”'
              },
              {
                steps: 'Selesai'
              }
            ]
          },
          {
            paymentType: 'Mobile Banking Mandiri',
            paymentItems: [
              {
                steps: 'Login di aplikasi Mandiri Online'
              },
              {
                steps: 'Pilih “Transfer”'
              },
              {
                steps: 'Pilih “Ke Rekening Mandiri”'
              },
              {
                steps: 'Tentukan Rekening Sumber yang akan dipakai.'
              },
              {
                steps: 'Isi nomor rekening yang dituju <b>1310015817838</b> a.n. PT Akselerasi Edukasi Internasional.'
              },
              {
                steps: 'Masukkan jumlah yang akan ditransfer.'
              },
              {
                steps: 'Konfirmasi dan masukan MPIN.'
              },
              {
                steps: 'Selesai.'
              }
            ]
          },
          {
            paymentType: 'Internet Banking Bank Lain',
            paymentItems: [
              {
                steps: 'Login ke internet banking'
              },
              {
                steps: 'Pilih menu transfer ke Bank Lain Online'
              },
              {
                steps: 'Pilih bank tujuan Bank Mandiri (kode bank: 008)'
              },
              {
                steps: 'Masukkan nomor rekening yang dituju <b>1310015817838</b> a.n. PT Akselerasi Edukasi Internasional.'
              },
              {
                steps: 'Masukkan jumlah yang akan ditransfer.'
              },
              {
                steps: 'Konfirmasi dan masukan MPIN.'
              },
              {
                steps: 'Selesai.'
              }
            ]
          }
        ]
      },
      accountNumber: '',
      accountName: '',
      isOutstanding: '',
      bankName: '',
      totalAmountZakat: '',
      loadingDone: false,
      checkoutData: {},
      // From route
      id: '',
      fromBankPage: true,
      type: null,
      trxid: null,
      snackbars: false,
      itineraryZakat: {
        methodid: '',
        payment_bankcode: '',
        payment_accountnumber: '',
        payment_accountname: '',
        amount: '',
        zakat: []
      }
    }
  },
  methods: {
    numberingNumber,
    copyToClipboard,
    trackButtonCopy () {
      this.$analytics.track('Bank Account Number Copied')
    },
    trackButtonSelect () {
      this.$analytics.track('Bank Confirm Selected')
    },
    submit () {
      let fromMarket = localStorage.getItem('halofina-from-market')
      this.dialog.dialogLoading = true
      if (this.$route.params.trxid === 'zakat') {
        // submit zakat
        Api('finapay/zakat/pay', this.itineraryZakat)
          .then((res) => {
            this.$router.replace('/finavest/payment_zakat/detail/zakat/invoice/' + res.d + '/null')
          })
          .catch(() => {
            this.dialog.dialogLoading = false
            this.dialog.dialogError = true
          })
        // submit reksadana or gold
      } else {
        Api(fromMarket ? 'finavest/market/checkout' : 'finavest/transaction/checkout', this.checkoutData)
          .then((res) => {
            if (fromMarket) localStorage.removeItem('halofina-market-cart')
            this.trackButtonSelect()
            this.$router.replace('/finavest/payment/detail/' + res.d.transactionid + '/buy/null')
          })
          .catch(() => {
            this.dialog.dialogLoading = false
            this.dialog.dialogError = true
          })
      }
    },
    // Emas or Reksadana
    setCheckoutData () {
      if (this.fromBankPage === 'true' && this.$route.params.trxid !== 'zakat') {
        var iteneraryData = JSON.parse(localStorage.getItem('halofina-itenerary-data'))
        if (iteneraryData) {
          iteneraryData.payment.bankcode = this.bankCode
          iteneraryData.payment.bankname = this.bankName
          iteneraryData.payment.accountnumber = this.accountNumber
          iteneraryData.payment.accountname = this.accountName
          iteneraryData.payment.methodid = this.id
          iteneraryData.payment.payment_channel_id = '1'
          iteneraryData.features = JSON.parse(localStorage.getItem('halofina-features'))
          this.checkoutData = iteneraryData
        }
      }
    },
    setCheckoutDataZakat () {
      if (this.fromBankPage === 'true' && this.$route.params.trxid === 'zakat') {
        var dataListZakat = JSON.parse(localStorage.getItem('halofina-itinerary-zakat'))
        if (dataListZakat) {
          this.itineraryZakat.methodid = this.id
          this.itineraryZakat.payment_bankcode = this.bankCode
          this.itineraryZakat.payment_accountnumber = this.accountNumber
          this.itineraryZakat.payment_accountname = this.accountName
          this.itineraryZakat.payment_channel_id = '1'
          this.itineraryZakat.amount = dataListZakat.amount
          this.itineraryZakat.zakat = dataListZakat.data
        }
      }
    },
    fetchDataBankAdmin () {
      Api('finavest/transaction/bank/retrieve', {
        id: this.id
      })
        .then((res) => {
          var isOutstanding = res.d.isoutstanding
          if (isOutstanding === true) {
            this.accountNumber = res.d.bank[0].accountnumber
            this.bankName = res.d.bank[0].bankname
            this.bankCode = res.d.bank[0].kseicode
            this.accountName = res.d.bank[0].accountname
            this.isOutstanding = isOutstanding
          } else {
            this.accountNumber = res.d.va[0].account_number
            this.bankName = res.d.va[0].name_bank
            this.bankCode = res.d.va[0].bank_code
            this.accountName = res.d.va[0].username
            this.isOutstanding = isOutstanding
          }
          this.sumTotal = localStorage.getItem('halofina-sum-total')
          this.setCheckoutData()
          this.setCheckoutDataZakat()
          this.loadingDone = true
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    getParamsFromRoute () {
      this.id = this.$route.params.id
      this.fromBankPage = this.$route.params.fromBankPage
      this.type = this.$route.params.type
      this.trxid = this.$route.params.trxid
    }
  },
  created () {
    this.getParamsFromRoute()
    this.fetchDataBankAdmin()
  }
}
</script>
<style>
    .finaspend-payment-bank #textNorek:focus {
      outline: none;
    }
    .finaspend-payment-bank img {
        height: auto;
        border-radius: 0%
    }
    .finaspend-payment-bank .v-divider--inset:not(.v-divider--vertical) {
        margin-left: 0px;
        max-width: none;
    }
    .arrow-top {
        top: 24.3rem;
        border-width: 0 1.5rem 1.5rem;
        border-style: solid;
        position: absolute;
        border-color: #42A5F5 !important;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-top-color: transparent !important;
        margin-left: 45px
    }
    .circle-ing {
      width: 24px;
      height: 24px;
      border-radius: 100%;
      z-index: 2;
    }
    .line {
      width: 2px;
      height: 5.8rem;
      position: absolute;
      left: 27px;
      z-index: 1;
      content: ""
    }
    .finaspend-payment-invoice li.recommendation-detail>.v-expansion-panel__header {
        height: auto;
        padding: 0px 24px;
        background-color: #F6F6F7
    }
    .finaspend-payment-invoice .v-expansion-panel {
        box-shadow: none
    }
    .finaspend-payment-invoice .v-expansion-panel__body {
        background-color: white
    }
    .finaspend-payment-invoice .flex.xs1 {
      z-index: 10
    }
</style>
