<template>
  <div class="value-result">
    <reusable-toolbar page-name="Nilai Perolehan" :left="true"></reusable-toolbar>
    <v-divider></v-divider>

    <div class="margin-toolbar">
      <div v-for="(data, index) in items" :key="index">
        <v-layout column class="bg-primary-3 px-20">
          <v-layout row wrap py-3>
            <div class="wrap-img mr-3">
              <img :src="data.product_image" alt="product">
            </div>
            <v-layout column>
              <v-card-text class="avenir-14-med color-text-1 product-name">{{data.product_name}}</v-card-text>
              <v-card-text class="avenir-12-reg color-text-3">{{data.asset_class_name}}</v-card-text>
            </v-layout>
          </v-layout>

          <v-layout align-center row class="border-bottom-solid">
            <v-flex class="avenir-14-reg color-text-1 py-3" xs8>
              Nilai Pembelian
            </v-flex>
            <v-flex class="avenir-16-med color-text-1 py-3 text-xs-right" style="color: #17CF82;" xs4>
              Rp {{numberingNumber(Number(data.amount))}}
            </v-flex>
          </v-layout>

          <v-layout align-center row class="border-bottom-solid" v-if="Number(data.cashback) > 0">
            <v-flex class="avenir-14-reg color-text-1 py-3" xs8>
              Nilai Cashback
            </v-flex>
            <v-flex class="avenir-16-med color-text-1 py-3 text-xs-right" style="color: #17CF82;" xs4>
              Rp {{numberingNumber(Number(data.cashback))}}
            </v-flex>
          </v-layout>

          <v-layout align-center row class="border-bottom-solid">
            <v-flex class="avenir-14-reg color-text-1 py-3" xs8 v-if="data.asset_class_name === 'Emas'">
              Gram Dibeli
            </v-flex>
            <v-flex class="avenir-14-reg color-text-1 py-3" xs8 v-else>
              Unit Dibeli
            </v-flex>
            <v-flex class="avenir-14-reg color-text-3 py-3 text-xs-right" style="color: #17CF82;" xs4>
              {{numberingReksadana(data.unit)}}
            </v-flex>
          </v-layout>

          <v-layout align-center row class="border-bottom-solid">
            <v-flex class="avenir-14-reg color-text-1 py-3" xs8 v-if="data.asset_class_name === 'Emas'">
              Harga Per Gram
            </v-flex>
            <v-flex class="avenir-14-reg color-text-1 py-3" xs8 v-else>
              Harga Per Unit
            </v-flex>
            <v-flex class="avenir-14-reg color-text-3 py-3 text-xs-right" style="color: #17CF82;" xs4>
              Rp {{numberingNumber(Number(data.nav_price))}}
            </v-flex>
          </v-layout>
          <v-layout align-center row>
            <v-flex class="avenir-14-reg color-text-1 py-3" xs8>
              Biaya Pembelian
            </v-flex>
            <v-flex class="avenir-14-reg color-text-3 py-3 text-xs-right" style="color: #17CF82;" xs4>
              Gratis
            </v-flex>
          </v-layout>
        </v-layout>
        <v-divider></v-divider>
      </div>
    </div>
  </div>
</template>

<script>
import {
  VDivider
} from 'vuetify/lib'

import { numberingNumber, numberingReksadana } from '@/services/Helpers'

export default {
  components: {
    VDivider
  },
  data: () => ({
    items: null
  }),
  methods: {
    numberingNumber,
    numberingReksadana
  },
  created () {
    this.items = JSON.parse(localStorage.getItem('halofina-value-result'))
  }
}
</script>
<style lang="sass">
  .value-result
    *
      padding: 0
      margin: 0

    .product-name
      max-width: 250px

    .margin-toolbar
      margin-top: 48px

    .v-toolbar
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

    .v-divider
      border-color: #F6F8FA !important
      border-top-width: 8px

    .border-bottom-solid
      border-bottom: 1px solid #E8EAEF

    .wrap-img
      border: 1px solid #E9ECF0
      background: white
      padding: 4px 4px 0 4px
      border-radius: 4px
      width: 44px
      height: 44px
      overflow: hidden
      position: relative

      img
        width: 35px
        height: auto
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

  @media only screen and (max-width: 320px)
    .value-result
      .product-name
        max-width: 210px

</style>
