<template>
  <div class="password-forget-otp">
    <reusable-toolbar page-name="Masukkan Kode" :left="true" route="/login/password"></reusable-toolbar>
    <v-container class="toolbar-margin">
      <v-layout column align-center class="full-height bg-primary-3 text-align-center">
        <v-card-text class="nexa-18-bold" style="margin-top: 32px">Kami telah mengirimkan email untuk <br /> mengatur ulang kata sandi kamu</v-card-text>
        <v-card-text class="avenir-14-reg mt-4">
          Silakan cek inbox atau daftar spam
          <br />
          email kamu
          <span style="font-weight: 600">
            {{ email }}
          </span>
        </v-card-text>
        <v-card-text class="avenir-14-reg mt-2">
          Kode akan kadaluarsa dalam waktu
          <span style="font-weight: 600">30 menit</span>
        </v-card-text>
        <a href="https://api.whatsapp.com/send?phone=6287747969699&text=Halo,%20Fina!%20Saya%20butuh%20bantuan" style="text-decoration: none">
          <v-card-text class="avenir-12-reg" style="margin-top: 40px">
            Bukan email kamu? <span class="color-primary-1">Hubungi Kami</span>
          </v-card-text>
        </a>
        <input type="tel" class="otp-style my-3  input-otp" v-model="otp" maxlength="6">
        <input type="tel" maxlength="0" id="textOtp" style="height: 0px">
        <v-card-text v-if="validation.otp" class="avenir-12-reg color-system-error mt-2">{{ validation.otp }}</v-card-text>
        <v-card-text class="avenir-12-reg mt-4" v-if="counter > 0">Kirim ulang email ({{ counterDisplay }})</v-card-text>
        <v-card-text class="avenir-12-reg mt-4" v-else>Belum menerima email?<span class="color-primary-1" @click="sendOtp(true)"> Kirim ulang</span></v-card-text>
        <br />
        <v-flex class="fixed-layout full-width">
          <v-btn block color="primary" :disabled="otp.length < 6" depressed @click="submitOtp()" style="height: 56px !important">
            Lanjut
          </v-btn>
        </v-flex>
      </v-layout>
    </v-container>

    <v-snackbar color="success" v-model="snackbars" :timeout="15000">
      <span class="ml-3">Email berhasil dikirim</span>.
    </v-snackbar>

    <!-- Dialog -->
    <reusable-dialogs
      v-model="dialog.dialogError"
      :resize-image="true"
      :is-image-above-title="true"
    ></reusable-dialogs>

    <reusable-dialogs
        v-model="dialog.dialogUploading"
        :unclickable="true"
    >
        <div slot="layout">
          <v-card flat class="card-radius" style="width: 100%">
            <v-layout py-3 px-5 row align-center justify-center>
              <div class="nexa-14-bold px-5">Memverifikasi...</div>
            </v-layout>
          </v-card>
        </div>
    </reusable-dialogs>

  </div>
</template>

<script>
// import api
import Api from '@/services/Api'
import { setRouteToLocalStorage } from '@/services/Helpers'
import { VSnackbar } from 'vuetify/lib'

export default {
  name: 'PasswordOtp',
  components: {
    VSnackbar
  },
  data () {
    return {
      dialog: {
        dialogUploading: false,
        dialogError: false
      },
      validation: {
        otp: null
      },
      interval: null,
      counter: 0,
      snackbars: false,
      counterDuration: 30,
      counterDisplay: '0:30',
      otp: '',
      email: ''
    }
  },
  created () {
    this.getEmail()
    this.sendOtp(false)
    this.counterInit()
    this.setRouteToLocalStorage('/password/forget/otp')
  },
  destroyed () {
    if (this.interval) {
      clearInterval(this.interval)
      this.interval = null
    }
  },
  watch: {
    otp: function (value) {
      if (value.length === 6) {
        document.getElementById('textOtp').focus()
      } else {
        this.isdisabled = false
      }
    }
  },
  methods: {
    setRouteToLocalStorage,
    getEmail () {
      this.email = localStorage.getItem('halofina-email')
    },
    counterInit () {
      if (this.interval) {
        clearInterval(this.interval)
        this.interval = null
      }

      this.counter = this.counterDuration
      this.interval = setInterval(() => {
        if (this.counter === 0) {
          clearInterval(this.interval)
          this.interval = null
        }

        const counter = this.counter > 0 ? this.counter - 1 : 0
        const s = counter % 60

        this.counter = counter
        this.counterDisplay = '0:' + ('00' + s).slice(-2)
      }, 1000)
    },
    sendOtp (snackbarStatus) {
      Api('verification/otp/request', {
        email: this.email
      })
        .then(() => {
          this.snackbars = snackbarStatus
          this.counterDisplay = '0:30'
          this.counterInit()
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    submitOtp () {
      this.dialog.dialogUploading = true
      Api('verification/otp/use', {
        email: this.email,
        otp: this.otp
      })
        .then((res) => {
          this.$router.push('/password/forget/change')
        })
        .catch((err) => {
          this.dialog.dialogUploading = false
          this.validation.otp = err.data
        })
    }
  }
}
</script>

<style lang="sass">
.password-forget-otp ::-webkit-input-placeholder
  text-align: center

.password-forget-otp :-moz-placeholder
  text-align: center

.password-forget-otp ::-moz-placeholder
  text-align: center

.password-forget-otp :-ms-input-placeholder
  text-align: center

.password-forget-otp input
  text-align: center

.password-forget-otp
  *
    margin: 0px
    padding: 0px

  .v-toolbar
    box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

  .pincode-input-container
    display: inline-block
    position: relative

  .input-append input
    width: 26.9px
    height: 33px
    margin: auto
    margin-right: 2.3px
    border-top: 0
    border-left: 0
    border-right: 0
    border-bottom: 2px solid rgba(0,0,0,.2)
    padding: 0
    color: rgba(0,0,0,.7)
    margin-bottom: 0
    padding-bottom: 0
    font-size: 28px
    text-shadow: none
    box-shadow: none
    text-align: center
    background-color: transparent
    font-weight: 600
    line-height: 0
    border-radius: 0
    border-image-width: 0

  .otp-style
    padding-left: 5px
    padding-bottom: 8px
    border: none
    width: 230px
    background: repeating-linear-gradient(90deg, #AAADC4 0, #AAADC4 22px, transparent 0, transparent 41px) 0 100%/100% 1px no-repeat
    color: #2C3B50
    font-size: 21px
    letter-spacing: 30px
    text-align: left !important

  .otp-style:focus
    border: none
    outline: none

  .blankpage
    width: 100%
    height: 210px

  #textOtp
    outline: none !important
    border: none !important
    opacity: 0 !important

  #textOtp:focus
    outline: none !important
    border: none !important
</style>
