<template>
  <div class="password-forget-done">
    <v-container>
      <reusable-toolbar page-name="Lupa Kata Sandi" route="/login/email">
        <div slot="button-toolbar" style="width: 40px"></div>
      </reusable-toolbar>
      <v-layout px-3 column align-center justify-center class="full-height bg-primary-3 text-align-center">
        <img src="@/assets/finacheck/password/done.svg" />
        <v-card-text class="nexa-18-bold mt-3">Kata Sandi Kamu Telah Fina Simpan!</v-card-text>
        <v-card-text class="avenir-14-reg mt-4">Silahkan log-in pada aplikasi dan <br /> mulai berinvestasi</v-card-text>
        <v-btn block depressed large color="primary" class="fixed-layout" style="height: 56px !important" @click="goToLogin()">Oke</v-btn>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import { setRouteToLocalStorage } from '@/services/Helpers'

export default {
  name: 'PasswordDone',
  created () {
    setRouteToLocalStorage('/password/forget/done')
  },
  methods: {
    goToLogin () {
      this.$router.push('/login/email')
    }
  }
}
</script>

<style lang="sass">
.password-forget-done
  *
    margin: 0px
    padding: 0px
  
  .v-toolbar
    box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important
</style>
