<template>
  <div class="password-forget-change">
    <v-container>
      <reusable-toolbar page-name="Atur Ulang Kata Sandi" route="/password/forget/change">
        <div slot="button-toolbar" style="width: 40px"></div>
      </reusable-toolbar>
      <v-layout column align-center justify-start class="full-height bg-primary-3 px-20">
        <v-card-text class="pa-0 avenir-12-reg mb-2" style="margin-top: 72px !important">Kata sandi baru</v-card-text>
        <v-text-field
          :type="showPassword ? 'text' : 'password'"
          :append-icon="showPassword ? 'visibility' : 'visibility_off'"
          placeholder="Masukkan kata sandi"
          v-model="password.password"
          maxlength="15"
          hide-details
          @click:append="showPassword = !showPassword">
        </v-text-field>
        <v-card-text v-if="validation.password" class="avenir-12-reg color-system-error mt-2">{{ validation.password }}</v-card-text>

        <!-- List Validation -->
        <div class="card-validation pa-4 my-10">
          <v-card-text class="avenir-14-reg mb-2"
            >Kata sandi harus terdiri dari :</v-card-text
          >
          <div
            v-for="(text, index) in validationTexts"
            :key="index"
            class="mb-2"
          >
            <v-layout row align-center>
              <div v-if="text.checked === true">
                <img src="@/assets/icons/ic-check.svg" alt="checked" />
              </div>
              <div v-else-if="text.checked === false">
                <img src="@/assets/icons/ic-cross.svg" alt="crossed" />
              </div>
              <div v-else>
                <img src="@/assets/icons/ic-ellipse.svg" alt="none" />
              </div>
              <div class="ml-1 pa-0 avenir-14-reg">
                {{ text.text }}
              </div>
            </v-layout>
          </div>
        </div>
        
        <v-card-text class="pa-0 avenir-12-reg mb-2">Ulangi kata sandi</v-card-text>
        <v-text-field
          :type="showConfirmPassword ? 'text' : 'password'"
          :append-icon="showConfirmPassword ? 'visibility' : 'visibility_off'"
          placeholder="Ulangi kata sandi"
          hide-details
          @click:append="showConfirmPassword = !showConfirmPassword"
          @focus="blankBox = true"
          @blur="blankBox = false"
          maxlength="15"
          class="btn-radius"
          v-model="password.confirmPassword">
        </v-text-field>
        <v-card-text v-if="validation.confirmPassword" class="avenir-12-reg color-system-error mt-2">{{ validation.confirmPassword }}</v-card-text>
        
        <v-flex class="fixed-layout full-width">
          <v-btn :disabled="isDisabled" depressed color="primary" style="height: 56px" block @click="submitPassword()">Kirim</v-btn>
        </v-flex>

        
      </v-layout>
    </v-container>
    <div v-if="blankBox" style="height: 120px"></div>
    <reusable-dialogs
      v-model="dialog.dialogUploading"
      :unclickable="true"
      >
      <div slot="layout">
        <v-card flat class="card-radius" style="width: 100%">
          <v-layout py-3 px-5 row align-center justify-center>
            <div class="nexa-14-bold px-1">Mengatur ulang kata sandi...</div>
          </v-layout>
        </v-card>
      </div>
    </reusable-dialogs>
  </div>
</template>

<script>
// import API
import Api from '@/services/Api'

// Import Vuetify
import {
  VTextField
} from 'vuetify/lib'

export default {
  name: 'PasswordChange',
  components: {
    VTextField
  },
  data () {
    return {
      password: {
        password: '',
        confirmPassword: ''
      },
      dialog: {
        dialogUploading: false
      },
      validation: {
        password: null,
        confirmPassword: null
      },
      validationTexts: [
        {
          checked: null,
          text: '8-15 Karakter'
        },
        {
          checked: null,
          text: 'Minimal 1 huruf Kapital'
        },
        {
          checked: null,
          text: 'Minimal 1 huruf Kecil'
        },
        {
          checked: null,
          text: 'Minimal 1 Angka.'
        }
      ],
      isDisabled: true,
      showPassword: false,
      showConfirmPassword: false,
      blankBox: false
    }
  },
  watch: {
    password: {
      handler (value) {
        const password = value.password
        const confirmPassword = value.confirmPassword
        const containCapital = /[A-Z]/
        const containSmallLetter = /[a-z]/
        const containDigit = /[0-9]/
        const validation = this.validationTexts
        // If length > 8
        if (password.length >= 8) {
          validation[0].checked = true
        } else {
          validation[0].checked = false
        }
        // If contain capital letter
        if (containCapital.test(password)) {
          validation[1].checked = true
        } else {
          validation[1].checked = false
        }
        // if contain small letter
        if (containSmallLetter.test(password)) {
          validation[2].checked = true
        } else {
          validation[2].checked = false
        }
        // If contain Digit
        if (containDigit.test(password)) {
          validation[3].checked = true
        } else {
          validation[3].checked = false
        }
        // Enable button
        if (
          password.length >= 8 &&
          containCapital.test(password) &&
          containSmallLetter.test(password) &&
          containDigit.test(password) &&
          confirmPassword === password
        ) {
          this.isDisabled = false
        } else {
          this.isDisabled = true
        }
        //
        if (password === confirmPassword) {
          this.validation.confirmPassword = ''
        } else {
          this.validation.confirmPassword = 'Kata sandi tidak sesuai'
        }
      },
      deep: true
    }
  },
  methods: {
    submitPassword () {
      const email = localStorage.getItem('halofina-email')
      this.isDisabled = true
      this.dialog.dialogUploading = true
      Api('finacheck/kyc/password/forget', {
        newpass: this.password.password,
        email: email
      }).then((res) => {
        this.$router.push('/password/forget/done')
      }).catch((err) => {
        this.isDisabled = false
        this.dialog.dialogUploading = false
        this.validation.password = err.data
      })
    }
  }
}
</script>
<style lang="sass">
  .password-forget-change
    *
      margin: 0px
      padding: 0px
  
    .v-toolbar
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

    .i-attention
      width: 12px
      height: auto

    .checked
      float: left
      margin-right: 12px
      width: 7px
      height: 7px

    .v-input
      flex: none
      width: 100%

    .card-validation
      background: #F9FAFC
      border: 1px solid #E8EAEF
      box-sizing: border-box
      border-radius: 8px
      width: 100%
</style>
