<template>
  <div class="finavest-investment-buy-list-product toolbar-margin">
    <reusable-toolbar class-name="bg-primary-3">
      <v-layout column justify-center slot="layout-toolbar" class="py-12">
        <div class="avenir-12-reg">
          Pilih Produk
        </div>
        <div class="nexa-16-bold" v-if="products[0].assetClass_name">
          {{ products[0].assetClass_name }}
        </div>
        <div class="nexa-16-bold" v-else>
          Emas
        </div>
      </v-layout>
    </reusable-toolbar>
    <div v-if="loadingDone === true">
      <!-- <v-layout column align-center justify-center class="bg-primary-3 con-total" px-3>
        <div class="text-xs-center avenir-12-reg" v-if="products[0].assetClass_name">
          {{ products[0].assetClass_name }}
        </div>
        <div class="text-xs-center avenir-12-reg" v-else>
          Emas
        </div>
        <div class="avenir-14-med pa-0 text-xs-center">Rp {{ numberingNumber(amount) }}</div>
      </v-layout> -->
      <v-container py-0 pt-4 class="px-20">
        <v-layout column v-if="productType === '4'">
          <div v-for="(product, index) in products" :key="index">
            <div @click="amount > 500000000 ? '' : buttonRoutingEmas(product.product_id)">
              <div class="mb-3">
                <v-layout column class="bg-primary-3 py-2 wrap-card-product">
                  <v-layout row justify-space-between align-center>
                    <v-layout row align-center>
                      <div class="wrap-img mr-1">
                        <img :src="product.product_image" alt="product">
                      </div>
                      <v-layout column ml-2 style="margin-right: 40px;">
                        <v-card-text class="avenir-12-med text-truncate">
                          {{product.product_code}}
                        </v-card-text>
                      </v-layout>
                    </v-layout>
                  </v-layout>
                  <v-layout row wrap pt-2 justify-space-between>
                    <v-layout column mt-1>
                      <v-card-text class="avenir-12-reg color-text-3">
                        Harga Beli
                      </v-card-text>
                      <v-card-text class="avenir-12-med">
                        Rp{{numberingNumber(product.buy_price)}}
                      </v-card-text>
                    </v-layout>
                    <v-layout column mt-1 align-end>
                      <v-card-text class="avenir-12-reg text-xs-right color-text-3">
                        Harga Jual
                      </v-card-text>
                      <v-card-text class="avenir-12-med text-xs-right">
                        Rp{{numberingNumber(product.sell_price)}}
                      </v-card-text>
                    </v-layout>
                  </v-layout>
                </v-layout>
              </div>
            </div>
          </div>
        </v-layout>
        <v-layout column v-else>
          <!-- <v-flex>
            <v-layout row align-end mb-3 justify-space-between>
              <v-card-text class="avenir-12-med pa-0">Provided By</v-card-text>
              <img :src="require('@/assets/partners/tanamduit_logo.png')" style="width: auto; height: 24px"/>
            </v-layout>
          </v-flex> -->
          <div v-for="(data, index) in products" :key="index">
            <div class="mb-3" @click="buttonRouting(data.id)">
              <v-layout column class="bg-primary-3 py-2 wrap-card-product">
                <img v-if="data.is_sharia === 1" src="@/assets/finavest/market/syariah.svg" alt="syariah" class="flag-syariah">
                <v-layout row justify-space-between align-center>
                  <v-layout row align-center>
                    <div class="wrap-img mr-1">
                      <img :src="data.product_image" alt="product">
                    </div>
                    <v-layout column ml-2 style="margin-right: 40px;">
                      <v-card-text class="avenir-12-med text-truncate">
                        {{data.name}}
                      </v-card-text>
                      <!-- Show year performance if asset class is not gold -->
                      <div v-if="data.assetClass_id !== 4">
                        <v-card-text class="avenir-10-reg color-text-3">
                          Kinerja 1 tahun
                        </v-card-text>
                        <v-card-text class="avenir-12-med">
                          {{data.year_performance}}%
                        </v-card-text>
                      </div>
                    </v-layout>
                  </v-layout>
                </v-layout>
                <!-- If Asset class is not gold -->
                <v-layout row wrap pt-2 justify-space-between>
                  <v-layout column mt-1>
                    <v-card-text class="avenir-12-reg color-text-3">
                      Minimal Pembelian
                    </v-card-text>
                    <v-card-text :class="Number(amount) < Number(data.min_buy) ? 'avenir-12-med color-system-error' : 'avenir-12-med'">
                      Rp{{numberingNumber(data.min_buy)}}
                    </v-card-text>
                  </v-layout>
                  <v-layout column mt-1 align-end>
                    <v-card-text class="avenir-12-reg text-xs-right color-text-3">
                      Total Dana Kelolaan
                    </v-card-text>
                    <v-card-text class="avenir-12-med text-xs-right">
                      {{data.aum}}
                    </v-card-text>
                  </v-layout>
                </v-layout>
              </v-layout>
            </div>
            <!-- <div @click="buttonRouting(product.id)">
              <reusable-cards
                class="py-12 pr-0 pl-3"
                :section-datas="productsForCard[index]"
                :with-button="false"
                :with-radius="true"
                :with-shadow="true"
                >
                <div slot="layout-title">
                  <v-layout row align-center justify-space-between class="mb-12">
                    <div class="wrap-img mr-3">
                      <img :src="product.product_image"/>
                    </div>
                    <v-layout column>
                      <v-card-text class="pa-0 avenir-12-med text-truncate">{{ product.name }}</v-card-text>
                      <v-card-text class="pa-0 avenir-10-reg">Kinerja 1 tahun <span class="avenir-10-med">({{ product.year_performance }}%)</span></v-card-text>
                    </v-layout>
                    <v-spacer></v-spacer>
                    <img :src="require('@/assets/icons/icon-arrow.svg')"/>
                  </v-layout>
                </div>
              </reusable-cards>
            </div>
            -->
          </div>
        </v-layout>
      </v-container>
    </div>
    <!-- Loading -->
    <div v-else>
      <v-layout column align-center justify-center class="full-height">
        <reusable-loading></reusable-loading>
      </v-layout>
    </div>
    <!-- Dialog Error -->
    <reusable-dialogs
      v-model="dialog.dialogError"
      :resize-image="true"
    ></reusable-dialogs>
  </div>
</template>

<script>
import Api from '@/services/Api'
// Reusable Components
import ReusableCards from '@/components/reusable/ReusableCards'
// Helpers
import { numberingNumber, capitalizeWord, replaceDotWithComa, dateFormat, checkFeatures, filterProduct } from '@/services/Helpers'
// Vuetify
import { VDivider, VSpacer, VImg } from 'vuetify/lib'

export default {
  name: 'FinavestInvestmentBuyListProduct',
  components: {
    ReusableCards,
    VDivider,
    VSpacer,
    VImg
  },
  data () {
    return {
      loadingDone: false,
      productType: '',
      products: [],
      productsForCard: [],
      amount: 0,
      dialog: {
        dialogError: false
      }
    }
  },
  methods: {
    numberingNumber,
    capitalizeWord,
    replaceDotWithComa,
    dateFormat,
    checkFeatures,
    splice (currentString, newString) {
      return currentString.slice(0, 2) + newString + currentString.slice(2)
    },
    getAmountFromLocalStorage () {
      this.amount = Number(localStorage.getItem('halofina-product-amount'))
    },
    setDataForCard (item, type) {
      var transformedData = []
      for (var i = 0; i < item.length; i++) {
        if (type === 'gold') {
          transformedData = [
            {
              title: 'Harga Beli',
              item: 'Rp ' + this.numberingNumber(item[i].buy_price),
              classTitle: 'avenir-12-reg color-primary-2',
              classItem: 'avenir-12-med'
            },
            {
              title: 'Harga Jual',
              item: 'Rp ' + this.numberingNumber(item[i].sell_price),
              classTitle: 'text-align-right avenir-12-reg color-primary-2',
              classItem: 'text-align-right avenir-12-med'
            }
          ]
        } else {
          transformedData = [
            {
              title: 'Minimal Pembelian',
              item: 'Rp ' + this.numberingNumber(item[i].start_buy),
              classTitle: 'avenir-12-reg color-primary-2',
              classItem: Number(this.amount) < Number(item[i].start_buy) ? 'avenir-12-med color-system-error' : 'avenir-12-med'
            },
            {
              title: 'Total Dana Kelolaan',
              item: this.replaceDotWithComa(this.splice(item[i].aum, ' ')),
              classTitle: 'text-align-right avenir-12-reg color-primary-2',
              classItem: 'text-align-right avenir-12-med'
            }
          ]
        }
        this.productsForCard.push(transformedData)
      }
    },
    trackPage () {
      this.$analytics.track('List Product ' + this.capitalizeWord(this.productType) + 'Page View')
    },
    getProductType () {
      this.productType = this.$route.params.type
    },
    buttonRouting (product) {
      this.$router.push('/finavest/portfolio/product/detail/' + product + '/' + true)
    },
    buttonRoutingEmas (product) {
      this.$router.push('/finavest/portfolio/product/detail_emas/' + product + '/' + true)
    },
    fetchData () {
      var tamasiaOn = checkFeatures('tamasia:buy').enabled
      var indogoldOn = checkFeatures('indogold:buy').enabled
      if (this.productType === '4') {
        // Get Api
        Api('finavest/investment/product/gold', {})
          .then((res) => {
            var tamasiaGold = filterProduct(tamasiaOn, res.d, 'TAMASIA')
            var indogoldGold = filterProduct(indogoldOn, res.d, 'INDOGOLD')
            var combinedProduct = indogoldGold.concat(tamasiaGold)
            this.setDataForCard(combinedProduct, 'gold')
            this.products = combinedProduct
            this.loadingDone = true
          })
          .catch(() => {
            this.loadingDone = true
            this.dialog.dialogError = true
          })
      } else {
        Api('finavest/investment/product/byasset', {
          asset_class_id: this.productType
        })
          .then((res) => {
            this.loadingDone = true
            this.products = res.d
            this.setDataForCard(res.d)
          })
          .catch(() => {
            this.loadingDone = true
            this.dialog.dialogError = true
          })
      }
    }
  },
  created () {
    this.getProductType()
    this.fetchData()
    this.getAmountFromLocalStorage()
  }
}
</script>

<style lang="sass">
  .finavest-investment-buy-list-product
    *
      padding: 0
      margin: 0

    .text-truncate
      white-space: nowrap !important
      overflow: hidden !important
      text-overflow: ellipsis !important
      line-height: 1.1 !important

    .v-toolbar
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important
      
    .v-toolbar__content
      height: 56px !important

    .my-2
      margin-bottom: 0px !important

    .border-radius-3
      border-radius: 3px

    .con-total
      padding: 18px 28px
      position: fixed
      width: 100%
      z-index: 4
      border-bottom-left-radius: 12px
      border-bottom-right-radius: 12px

    .wrap-card-product
      box-shadow: 0px 2px 2px rgba(232, 233, 238, 0.43)
      border-radius: 8px
      padding: 0 12px
      border: 1px solid #E8EAEF
      position: relative

      .flag-syariah
        position: absolute
        right: -6px
        top: 10px
 
    .wrap-img
      border: 1px solid #E9ECF0
      background: white
      padding: 4px 4px 0 4px
      border-radius: 3px
      width: 44px
      height: 44px
      overflow: hidden
      position: relative

      img
        width: 40px
        height: auto
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
</style>
