<template>
  <div class="financial-article-detail" style="background-color: white" v-if="dataLoaded">
    <reusable-toolbar page-name="Artikel" route="/finapedia/article"></reusable-toolbar>
    <v-container class="pa-0 toolbar-margin">
      <v-layout row wrap pa-3>
        <v-flex class="hf-headline">
          {{title}}
        </v-flex>
      </v-layout>
      <v-layout align-center>
        <img width="100%" :src="image"/>
      </v-layout>
      <v-layout row wrap class="py-0">
        <v-flex mb-3>
          <div class="pa-3" v-html="description"></div>
        </v-flex>
      </v-layout>
    </v-container>
    <reusable-dialogs
      v-model="dialog.isopen"
      :resize-image="true">
    </reusable-dialogs>
    </div>
</template>

<script>
import Api from '@/services/Api'

export default {
  data () {
    return {
      dialog: {
        isopen: false,
        desc: '',
        title: ''
      },
      title: '',
      description: '',
      image: null,
      dataLoaded: false
    }
  },
  created () {
    this.articleid = this.$route.params.articleid
    this.$helpers.setRouteToLocalStorage('/finapedia/article/' + this.articleid)
    this.fetchData()
  },
  methods: {
    fetchData () {
      Api('finapedia/article/retrieve', {
        articleid: this.articleid
      }).then((res) => {
        this.dataLoaded = true
        this.title = res.d.title
        this.description = res.d.description
        this.image = res.d.image
        this.trackPage()
      }).catch((err) => {
        this.dialogs('Ada kesalahan', err.m)
      })
    },
    dialogs (title, desc) {
      this.dialog.isopen = true
      this.dialog.title = title
      this.dialog.desc = desc
    },
    trackPage () {
      this.$analytics.track('Finapedia Article Read', {
        article_title: this.title
      })
    }
  }
}
</script>

<style>
.lesson-link {
  text-decoration: none;
}
.financial-course-section .v-expansion-panel {
  box-shadow: none
}
</style>
