<template>
    <div class="finavest-lifeplan-input" style="height: 100vh; background-color: white">
        <reusable-toolbar page-name="Edit LifePlan">
          <div slot="button-toolbar">
            <v-btn icon @click.native="goBackRouting()">
              <v-icon style="font-size: 24px !important">arrow_back</v-icon>
            </v-btn>
          </div>
        </reusable-toolbar>
        <v-container class="pa-0 bg-primary-3 toolbar-margin">
            <v-layout column>
                <v-flex class="avenir-16-med my-4 pl-3">
                  <v-layout row>
                    <reusable-image-lifeplan
                      class="mr-2"
                     :type="typeof id === 'number' ? jenis : id"
                    ></reusable-image-lifeplan>
                    <div class="mt-2">
                      {{ typeof id === 'number' ? jenis.charAt(0).toUpperCase() + jenis.slice(1) : id.charAt(0).toUpperCase() + id.slice(1) }}
                    </div>
                  </v-layout>
                </v-flex>
                <!-- Tahun Layout -->
                <v-flex>
                  <v-layout>
                    <v-card-text class="avenir-12-reg pa-0 pl-3 mb-4">
                      Target Lifeplan kamu:
                    </v-card-text>
                  </v-layout>
                </v-flex>
                <v-form>
                    <v-card-text class="avenir-12-reg pa-0 pl-3">
                        Judul
                        <v-btn style="height: 20px" small icon @click="dialogs('Nama LifePlan', 'Buat nama LifePlan kamu')">
                            <v-icon small color="primary">help</v-icon>
                        </v-btn>
                    </v-card-text>
                    <div class="px-3">
                        <v-text-field
                                v-model="subtype"
                                placeholder="Nama LifePlan"
                                class="bg-primary-4 card-radius"
                                solo
                                flat
                                hide-details
                                required
                        ></v-text-field>
                    </div>
                    <!-- Tahun Layout -->
                    <v-layout row align-center justify-center mt-4>
                      <v-flex>
                        <v-layout column>
                          <v-card-text class="avenir-12-reg pa-0 pl-3">
                              Tahun
                              <v-btn style="height: 20px" small icon @click="dialogs(jenis.charAt(0).toUpperCase() + jenis.slice(1))">
                                  <v-icon small color="primary">help</v-icon>
                              </v-btn>
                          </v-card-text>
                          <div class="px-3">
                              <v-text-field
                                      v-model="tahun"
                                      placeholder="Tahun"
                                      class="bg-primary-4 card-radius"
                                      solo
                                      flat
                                      type="tel"
                                      maxlength="4"
                                      hide-details
                                      required
                              ></v-text-field>
                          </div>
                        </v-layout>
                      </v-flex>

                      <v-flex>
                        <v-layout column>
                          <v-card-text class="avenir-12-reg mt-1 pa-0 pl-3">
                              Usia
                          </v-card-text>
                          <v-layout row align-center class="px-3">
                            <input
                                      v-model="futureages"
                                      maxlength="12"
                                      disabled
                                      class="bg-primary-3 v-input__control inputedit border-secondary-5"
                                      style="border-radius: 8px; border-width: 1px; border-style: solid; height: 40px" />
                          </v-layout>
                        </v-layout>
                      </v-flex>
                    </v-layout>
                    <div class="color-system-error avenir-12-reg mt-1 ml-3"> {{ validation.year }} </div>
                    <!-- Biaya Layout -->
                    <v-card-text class="mt-4 avenir-12-reg pa-0 pl-3">
                        Biaya {{ jenis === 'pensiun' ? 'Pensiun per bln' : '' }}
                    </v-card-text>
                        <v-layout row align-center class="px-3">
                            <span class="span">Rp</span>
                            <input
                                    v-on:focus="scrollUp('rencana')"
                                    id="rencana"
                                    v-on:blur="scroll = false"
                                    v-model="biaya"
                                    v-money="money"
                                    placeholder=" 0"
                                    maxlength="12"
                                    type="tel"
                                    class="bg-primary-4 v-input__control inputedit" />
                        </v-layout>
                        <div class="color-system-error avenir-12-reg mt-1 ml-3" v-if="appear === true"> {{ validation.cost }} </div>
                    <!-- Inflasi Layout -->
                     <v-card-text class="avenir-12-reg pa-0 pl-3 mt-4">
                        Perkiraan Inflasi
                        <v-btn style="height: 20px" small icon @click="dialogs('Inflasi', 'Kenaikan harga yang umumnya terjadi setiap tahun')">
                            <v-icon small color="primary">help</v-icon>
                        </v-btn>
                    </v-card-text>
                    <div class="px-3">
                        <v-text-field
                            v-model="inflation"
                            placeholder="Inflasi"
                            class="bg-primary-4 card-radius"
                            solo
                            flat
                            v-on:focus="scrollUp('inflation')"
                            id="inflation"
                            v-on:blur="scroll = false"
                            hide-details
                            required
                            type="tel"
                            maxlength="3"
                        ></v-text-field>
                    </div>
                    <div class="color-system-error avenir-12-reg mt-1 ml-3"> {{ validation.inflation }} </div>

                </v-form>
                <!-- button -->
                <v-flex mt-4 class="px-3">
                    <v-layout row>
                        <v-flex v-if="typeof id === 'number'" xs6 mr-2>
                            <v-btn block depressed @click="dialogs('Hapus Data', 'Apa kamu yakin ingin menghapus lifeplan ini?')" class="btn-radius bg-primary-3 color-system-error box-shadow">
                                Hapus
                            </v-btn>
                        </v-flex>
                        <v-flex v-else xs6 mr-2>
                            <v-btn block depressed @click="cancel()" class="btn-radius bg-primary-3 color-system-error box-shadow">
                                Batal
                            </v-btn>
                        </v-flex>
                        <v-flex xs6 ml-2>
                            <v-btn block color="primary" :disabled="isDisabled || tahun === null" depressed @click="save()" class="btn-radius box-shadow">
                                Hitung
                            </v-btn>
                        </v-flex>
                    </v-layout>
                    <!-- Blank box for scrolling -->
                    <div :class="scroll === true ? 'blank-box' : ''"></div>
                </v-flex>
            </v-layout>
            <v-dialog
              v-model="dialog.isopen"
              transition="dialog-bottom-transition"
              scrollable
            >
              <v-layout column>
                <v-toolbar v-if="dialog.desc !== ''" card class="bg-transparent">
                    <v-toolbar-title>&nbsp;</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn color="white" class="popup-button" icon @click.native="dialog.isopen = false">
                        <v-icon>close</v-icon>
                    </v-btn>
                </v-toolbar>
                <v-card tile class="card-radius text-align-center">
                  <div v-if="dialog.title === 'Ada kesalahan'">
                    <div class="nexa-20-bold text-align-center mt-3 mb-2">
                      {{ dialog.title }}
                    </div>
                    <br />
                    <v-card-text v-if="dialog.desc" class="avenir-14-reg pt-0 text-align-center">
                        {{dialog.desc}}
                    </v-card-text>
                  </div>
                  <div v-else>
                    <div class="nexa-20-bold text-align-center mt-3 mb-2">
                      {{ dialog.title }}
                    </div>
                    <br />
                    <v-card-text v-if="dialog.desc" class="avenir-14-reg pt-0 text-align-center">
                        {{dialog.desc}}
                    </v-card-text>
                    <v-card-text v-if="dialog.title === 'Biaya Pernikahan'" class="avenir-14-reg">
                        Tentukan nominal biaya rencana pernikahan kamu
                    </v-card-text>
                    <v-card-text v-if="dialog.title === 'Biaya Ibadah' || dialog.title === 'Biaya Haji'" class="avenir-14-reg">
                        Tentukan nominal biaya rencana ibadah kamu
                    </v-card-text>
                    <v-card-text v-if="dialog.title === 'Biaya Rumah'" class="avenir-14-reg">
                        Tentukan nominal biaya beli rumah kamu
                    </v-card-text>
                    <v-card-text v-if="dialog.title === 'Biaya Pensiun'" class="avenir-14-reg">
                        Tentukan nominal biaya pengeluaran per-bulan kamu selama pensiun
                    </v-card-text>
                    <v-card-text v-if="dialog.title === 'Biaya Lainnya'" class="avenir-14-reg">
                        Tentukan nominal biaya lifeplan
                    </v-card-text>
                    <v-card-text v-if="dialog.title === 'Biaya Pendidikan'" class="avenir-14-reg">
                        Tentukan nominal biaya kuliah anak kamu
                    </v-card-text>
                    <v-card-text v-if="dialog.title === 'Biaya Liburan'" class="avenir-14-reg">
                        Tentukan nominal biaya liburan kamu
                    </v-card-text>
                    <v-card-text v-if="dialog.title === 'Pernikahan'" class="avenir-14-reg">
                        Isi tahun kamu menikah atau tahun kamu merencanakan pernikahan
                    </v-card-text>
                    <v-card-text v-if="dialog.title === 'Ibadah' || dialog.title === 'Haji'" class="avenir-14-reg">
                        Isi tahun rencana keberangkatan Ibadah Haji kamu
                    </v-card-text>
                    <v-card-text v-if="dialog.title === 'Rumah'" class="avenir-14-reg">
                        Isi tahun kamu akan membeli rumah
                    </v-card-text>
                    <v-card-text v-if="dialog.title === 'Pensiun'" class="avenir-14-reg">
                        Isi tahun kamu akan pensiun
                    </v-card-text>
                    <v-card-text v-if="dialog.title === 'Lainnya'" class="avenir-14-reg">
                        Isi tahun pencapaian LifePlan
                    </v-card-text>
                    <v-card-text v-if="dialog.title === 'Pendidikan'" class="avenir-14-reg">
                        Isi tahun anak kamu akan memasuki kuliah
                    </v-card-text>
                    <v-card-text v-if="dialog.title === 'Liburan'" class="avenir-14-reg">
                        Isi tahun kamu akan liburan
                    </v-card-text>
                    <v-layout v-if="dialog.title === 'Hapus Data'" row class="pa-3">
                        <v-flex xs6 mr-2>
                            <v-btn block small depressed @click.native="dialog.isopen = false" class="bg-primary-3 btn-radius box-shadow bg-primary-3 color-primary-1">
                                Batal
                            </v-btn>
                        </v-flex>
                        <v-flex xs6 ml-2>
                            <v-btn block small color="primary" depressed @click="del" class="btn-radius box-shadow">
                                Hapus
                            </v-btn>
                        </v-flex>
                    </v-layout>
                  </div>
                </v-card>
              </v-layout>
            </v-dialog>
            <reusable-dialogs
              v-model="dialog.dialogEstimation"
              :unclickable="true"
            >
            <v-card tile class="card-radius text-align-center pa-2 full-width" slot="layout">
              <v-layout column align-center>
                <br />
                <reusable-image-lifeplan :type="jenis"></reusable-image-lifeplan>
                <v-card-text class="nexa-20-bold text-align-center color-primary-2 pa-0 mt-2 text-capitalize">
                  {{ subtype ? subtype : jenis }}
                </v-card-text>
                <v-card-text class="avenir-14-reg pa-0 mt-4 mb-1">
                  Biaya {{duration}} Tahun Lagi
                </v-card-text>
                <div class="nexa-14-bold color-primary-2 mb-1">
                  Rp {{ Number(futurevalue).toLocaleString(['ban', 'id']) }}
                </div>
                <div class="avenir-12-reg">
                  *(Asumsi Kenaikan Harga {{inflation}}% per tahun)
                </div>
              <div class="mx-4 my-3">
                <v-divider></v-divider>
              </div>
                <v-card-text class="avenir-14-reg pa-0 mb-1">
                  Perkiraan Rekomendasi Menabung
                </v-card-text>
                <div class="nexa-14-bold color-primary-2">
                  Rp {{ Number(regularinvest).toLocaleString(['ban', 'id']) }} per bulan
                </div>
                <div class="avenir-12-med color-system-error mt-3" v-if="Number(regularinvest) > 100000000">
                  Saat ini kami belum bisa memberikan rekomendasi investasi bulanan di atas Rp 100 juta. Sesuaikan kembali target waktu dan nilai LifePlan kamu!
                </div>
                <v-layout row justify-space-between class="px-4 pb-1 mt-2 full-width">
                  <v-flex xs6 mr-2>
                      <v-btn block depressed @click="cancel()" class="btn-radius box-shadow bg-primary-3 color-primary-1">
                          Batal
                      </v-btn>
                  </v-flex>
                  <v-flex xs6 ml-2>
                      <v-btn v-if="Number(regularinvest) <= 100000000" block color="primary" depressed @click="fromDashboard === true ? $router.push('/dashboard?tab=lifeplan') : $router.push('/finavest/lifeplan/template')" class="btn-radius box-shadow">
                          Simpan
                      </v-btn>
                      <v-btn v-else block color="primary" depressed @click="cancel()" class="btn-radius box-shadow">
                          Edit
                      </v-btn>
                  </v-flex>
                </v-layout>
              </v-layout>
            </v-card>
            </reusable-dialogs>
        </v-container>
    </div>

</template>

<script>
import {
  VForm,
  VTextField,
  VDialog,
  VDivider
} from 'vuetify/lib'
import Api from '@/services/Api'
import { VMoney } from 'v-money'
import { goToDashboard } from '@/services/Helpers'
import ReusableImageLifeplan from '@/components/reusable/ReusableImageLifeplan'

export default {
  directives: { money: VMoney },
  name: 'FinavestLifeplanEdit',
  components: {
    VForm,
    VTextField,
    VDialog,
    VDivider,
    ReusableImageLifeplan
  },
  data () {
    return {
      dialog: {
        isopen: false,
        desc: '',
        title: '',
        dialogEstimation: false
      },
      money: {
        thousands: '.',
        precision: 0,
        masked: true
      },
      validation: {
        year: null,
        cost: null,
        inflation: null
      },
      subtype: '',
      inflation: 6,
      biaya: null,
      tahun: null,
      isDisabled: true,
      scroll: false,
      dialogerror: false,
      id: 0,
      appear: false,
      jenis: '',
      deskripsi: '',
      duration: 0,
      type: '',
      futurevalue: 0,
      regularinvest: 0,
      fromDashboard: false,
      yearbirth: 0,
      lifeplanId: 0
    }
  },
  created () {
    this.getPersonalData()
    this.getParams()
    this.retrieveEditData()
  },
  computed: {
    futureages () {
      if (this.tahun - this.yearbirth > 0) {
        return this.tahun - this.yearbirth + ' tahun'
      } else {
        return 0
      }
    }
  },
  watch: {
    biaya: function (value) {
      // If biaya is null
      var replace = value.replace(/\./g, '')
      if (value === '0' || value === 0 || Number(replace) < 1000000) {
        this.isDisabled = true
        setTimeout(() => {
          this.validation.cost = 'Biaya lifeplan tidak boleh kurang dari 1 juta'
        }, 300)
      } else {
        setTimeout(() => {
          this.validation.cost = null
        }, 300)
      }
    },
    inflation: function (value) {
      var patternNumber = /^\d+$/
      if (value === 0 || value === '0' || value === '') {
        // If inflation is null
        this.isDisabled = true
        setTimeout(() => {
          this.validation.inflation = 'Inflasi tidak boleh 0'
        }, 300)
      } else if (patternNumber.test(value) === false) {
        // If inflation is not number
        this.isDisabled = true
        setTimeout(() => {
          this.validation.inflation = 'Isi dengan angka'
        }, 300)
      } else if (value > 100) {
        // If inflation is more than 100
        this.isDisabled = true
        setTimeout(() => {
          this.validation.inflation = 'Inflasi tidak boleh lebih dari 100'
        }, 300)
      } else {
        setTimeout(() => {
          this.validation.inflation = null
        }, 300)
      }
    },
    tahun: function (value) {
      var year = new Date()
      var patternNumber = /^\d+$/
      if (value < Number(year.getFullYear() + 1)) {
        // If tahun is null and more than current year + 1
        this.isDisabled = true
        setTimeout(() => {
          this.validation.year = 'Tahun tidak boleh kurang dari ' + Number(year.getFullYear() + 1)
        }, 300)
      } else if (value > 2102) {
        // If tahun is more than 2102
        this.isDisabled = true
        setTimeout(() => {
          this.validation.year = 'Tahun tidak boleh lebih dari 2102'
        }, 300)
      } else if (patternNumber.test(value) === false) {
        // If tahun is not Number
        this.isDisabled = true
        setTimeout(() => {
          this.validation.year = 'Isi dengan angka'
        }, 300)
      } else {
        setTimeout(() => {
          this.validation.year = null
        }, 300)
      }
    },
    validation: {
      handler (value) {
        if (value.year === null && value.inflation === null && value.cost === null) this.isDisabled = false
      },
      deep: true
    }
  },
  methods: {
    getParams () {
      this.checkIdIsNumber()
      this.fromDashboard = Boolean(this.$route.params.dashboard)
    },
    checkIdIsNumber () {
      var id = this.$route.params.id
      var regexNumber = /[0-9]/
      var isNumber = regexNumber.test(id)
      this.id = isNumber === true ? Number(id) : id
    },
    getPersonalData () {
      Api('finacheck/kyc/personal', {
      }).then((res) => {
        this.yearbirth = res.d.birthdate.substr(0, 4)
        localStorage.setItem('halofina-yearbirth', res.d.birthdate.substr(0, 4))
      }).catch(() => this.dialogs('Ada kesalahan', 'Coba reload atau coba beberapa saat lagi'))
    },
    retrieveEditData () {
      if (typeof this.id === 'number') {
        this.retrieve(this.id)
      } else {
        this.jenis = this.id
      }
    },
    scrollUp (id) {
      document.getElementById(id).scrollIntoView()
      this.scroll = true
      this.appear = true
    },
    del () {
      switch (typeof this.id) {
        case ('number'):
          Api('finavest/lifeplan/target/delete', {
            targetid: this.id
          }).then((res) => {
            this.trackDeleteLifeplan()
            this.$router.go(-1)
          }).catch(() => {
            this.dialogs('Ada kesalahan', 'Coba reload atau coba beberapa saat lagi')
          })
          break
        default:
          this.$router.go(-1)
          break
      }
    },
    cancel () {
      this.trackEstimateCancelButton()
      if (typeof this.id !== 'number') {
        if (this.isDisabled === true) {
          this.goBackRouting()
        } else {
          Api('finavest/lifeplan/target/delete', {
            targetid: this.lifeplanId
          }).then((res) => {
            this.dialog.dialogEstimation = false
          }).catch(() => {
            this.dialogs('Ada kesalahan', 'Coba reload atau coba beberapa saat lagi')
          })
        }
      } else {
        var oldData = JSON.parse(localStorage.getItem('halofina-lifeplan-old-data'))
        Api('finavest/lifeplan/target/update', {...oldData})
          .then((res) => {
            this.retrieve(this.id)
            this.dialog.dialogEstimation = false
          }).catch(() => {
            this.dialogs('Ada kesalahan', 'Coba reload atau coba beberapa saat lagi')
          })
      }
    },
    goBackRouting () {
      if (this.fromDashboard === true) {
        if (this.$route.params.burger) {
          goToDashboard('lifeplan', 'assign')
        } else {
          this.$router.push('/finavest/lifeplan/template/edit')
        }
      } else {
        this.$router.push('/finavest/lifeplan/template')
      }
    },
    save () {
      if (typeof this.id === 'number') {
        this.trackEstimateButton()
        this.isDisabled = true
        Api('finavest/lifeplan/target/update', {
          targetid: this.id,
          type: this.jenis,
          description: this.deskripsi,
          presentvalue: this.biaya.replace(/\./g, ''),
          year: this.tahun,
          subtype: this.subtype,
          inflation: this.inflation
        }).then((res) => {
          Api('finavest/lifeplan/target/update', {
            targetid: this.id,
            type: this.jenis,
            description: this.deskripsi,
            presentvalue: this.biaya.replace(/\./g, ''),
            year: this.tahun,
            subtype: this.subtype,
            inflation: this.inflation
          }).then((res) => {
            this.isDisabled = false
            this.retrieve(this.id)
            this.dialog.dialogEstimation = true
            this.trackEditLifeplan()
          }).catch((err) => {
            this.isDisabled = false
            this.dialogs('Ada kesalahan', err.m)
          })
        }).catch(() => {
          this.isDisabled = false
          this.dialogs('Ada kesalahan', 'Coba reload atau coba beberapa saat lagi')
        })
      } else {
        this.isDisabled = true
        Api('finavest/lifeplan/target/save', {
          type: this.jenis,
          description: this.deskripsi,
          presentvalue: this.biaya.replace(/\./g, ''),
          year: this.tahun,
          subtype: this.subtype,
          inflation: this.inflation
        }).then((res) => {
          this.isDisabled = false
          this.retrieve(res.d)
          this.dialog.dialogEstimation = true
          this.trackAddLifeplan()
        }).catch(() => {
          this.isDisabled = false
          this.dialogs('Ada kesalahan', 'Coba reload atau coba beberapa saat lagi')
        })
      }
    },
    retrieve (id) {
      Api('finavest/lifeplan/target/retrieve', {
        targetid: id
      }).then((res) => {
        this.lifeplanId = id
        this.jenis = res.d.type
        this.deskripsi = res.d.description
        this.biaya = res.d.presentvalue
        this.subtype = res.d.subtype
        this.tahun = res.d.year
        this.inflation = res.d.inflation.replace(/\.00/g, '')
        this.futurevalue = res.d.futurevalue
        this.duration = res.d.duration
        this.regularinvest = res.d.regularinvestment
        this.setOldData()
        this.addStatusForOldData()
      }).catch(() => {
        this.dialogs('Ada kesalahan', 'Coba reload atau coba beberapa saat lagi')
      })
    },
    dialogs (title, desc) {
      this.dialog.isopen = true
      this.dialog.title = title
      this.dialog.desc = desc
    },
    addStatusForOldData () {
      localStorage.setItem('halofina-lifeplan-old-data-added', 'true')
    },
    setOldData () {
      // Old Input
      var oldData = {
        targetid: this.id,
        type: this.jenis,
        description: this.deskripsi,
        presentvalue: this.biaya.replace(/\./g, ''),
        year: this.tahun,
        subtype: this.subtype,
        inflation: this.inflation
      }
      var hasStatus = localStorage.getItem('halofina-lifeplan-old-data-added')
      if (!hasStatus) localStorage.setItem('halofina-lifeplan-old-data', JSON.stringify(oldData))
    },
    trackEstimateButton () {
      this.$analytics.track('Lifeplan Estimated')
    },
    trackEstimateCancelButton () {
      this.$analytics.track('Lifeplan Estimation Canceled')
    },
    trackAddLifeplan () {
      let year = new Date()
      let data = {
        lifeplan_type: this.jenis,
        lifeplan_subtype: this.subtype,
        lifeplan_duration: this.tahun - year.getFullYear(),
        lifeplan_target: this.biaya,
        lifeplan_inflation: this.inflation,
        page_source: 'Edit Lifeplan Page'
      }
      this.$analytics.track('Lifeplan Added', {...data})
      this.setUserProperties(data)
    },
    trackEditLifeplan () {
      let year = new Date()
      let data = {
        lifeplan_type: this.jenis,
        lifeplan_subtype: this.subtype,
        lifeplan_duration: this.tahun - year.getFullYear(),
        lifeplan_target: this.biaya,
        lifeplan_inflation: this.inflation,
        page_source: 'Edit Lifeplan Page'
      }
      this.$analytics.track('Lifeplan Edited', {...data})
      this.setUserProperties(data)
    },
    trackDeleteLifeplan () {
      let year = new Date()
      let data = {
        lifeplan_type: this.jenis,
        lifeplan_subtype: this.subtype,
        lifeplan_duration: this.tahun - year.getFullYear(),
        lifeplan_target: this.biaya,
        lifeplan_inflation: this.inflation,
        page_source: 'Edit Lifeplan Page'
      }
      this.$analytics.track('Lifeplan Detail Deleted', {...data})
      this.setUserProperties(data)
    },
    setUserProperties (obj) {
      var phone = localStorage.getItem('halofina-phone')
      var name = JSON.stringify(localStorage.getItem('halofina-name'))
      var email = localStorage.getItem('halofina-email')
      this.$analytics.userProperties({'$phone': phone, '$name': name, '$email': email, ...obj})
    }
  }
}
</script>

<style lang="sass">
  .finavest-lifeplan-input
    .blank-box
      height: 200px

    .finavest-lifeplan-input .v-btn
      margin: 0px

    .inputedit
      padding: 6px 13px
      font-size: 14px
      border-bottom-right-radius: 8px
      border-top-right-radius: 8px
      height: 40px

    .span
      font-size: 14px
      color: gray
      height: 40px
      line-height: 40px
      padding: 0 13px
      padding-right: 0px
      border-bottom-left-radius: 8px
      border-top-left-radius: 8px
      background-color: #f6f8fa

</style>
