<template>
  <div class="finavest-lifeplan-dashboard">
    <!-- App Layout -->
    <!-- lifeplan not null -->
    <img src="@/assets/dashboard/leaf.svg" alt="leaf" class="leaf">
    <!-- <div v-else> -->
      <v-container px-0 pb-3>
        <v-layout column>

          <v-layout row pb-4 pt-4 mt-2 justify-end style="padding-right: 20px;">
            <!-- <img src="@/assets/dashboard/notification.svg" class="pr-3" alt="notification"/> -->
            <img src="@/assets/icons/ic-voucher.svg" alt="voucher" @click="routeToVoucher()"/>
          </v-layout>

          <v-layout column pb-4>
            <v-flex xs12 px-3>
              <v-card-text class="avenir-16-med" style="font-size: 18px;">
                Halo {{halofinaName.replace(/ .*/,'')}}!
              </v-card-text>
              <v-card-text class="avenir-14-reg" style="color: #505565;">
                Jangan lupa setor tabungan lifeplanmu!
              </v-card-text>
            </v-flex>
          </v-layout>

          <!-- Saldo -->
          <v-layout column px-3 pb-4>
            <v-flex xs12 class="zindex2" v-if="kycStatus === null">
              <div class="saldo">
                <v-layout row align-center>
                  <v-card-text class="avenir-10-med color-secondary-5">Fitur saldo belum belum dapat digunakan. Silahkan lakukan verifikasi terlebih dahulu</v-card-text>
                  <v-btn depressed small block class="box-shadow btn-radius" style="height: 28px !important; min-width: 75px !important" color="primary" @click="$router.push('/finacheck/kyc/list'); $analytics.track('KYC Continued')">
                    <v-card-text class="avenir-10-med color-primary-3">Verifikasi</v-card-text>
                  </v-btn>
                </v-layout>
              </div>
            </v-flex>
            <v-flex xs12 class="zindex2" v-else-if="kycStatus === 'PENDING' || kycStatus === 'ONPROCESS'">
              <div class="saldo">
                <v-layout row align-center>
                  <v-card-text class="avenir-10-med color-secondary-5">Verifikasi sedang dalam proses. Harap tunggu kurang lebih 1-2 hari kerja.</v-card-text>
                  <v-btn depressed small block class="box-shadow btn-radius" style="height: 28px !important; min-width: 75px !important" color="primary" disabled @click="$router.push('/finacheck/kyc/list'); $analytics.track('KYC Continued')">
                    <v-card-text class="avenir-10-med color-primary-3">Verifikasi</v-card-text>
                  </v-btn>
                </v-layout>
              </div>
            </v-flex>
            <v-flex xs12 class="zindex2" v-else-if="kycStatus === 'REJECTED'">
              <div class="saldo">
                <v-layout row align-center>
                  <v-card-text class="avenir-10-med color-secondary-5">Verifikasi ditolak dikarenakan <span class="color-system-error">{{ kycRemark }}</span>, silahkan lakukan perbaikan data.</v-card-text>
                  <v-btn depressed small block class="box-shadow btn-radius" style="height: 28px !important; min-width: 75px !important" color="primary" @click="$router.push('/finacheck/kyc/list'); $analytics.track('KYC Continued')">
                    <v-card-text class="avenir-10-med color-primary-3">Perbaiki</v-card-text>
                  </v-btn>
                </v-layout>
              </div>
            </v-flex>
            <v-flex xs12 class="zindex2" v-else-if="kycStatus === 'COMPLETED'">
              <v-layout class="saldo" @click="$router.push('/finavest/investment/finapoint_list')" align-center>
                <img src="@/assets/dashboard/finapoints.svg" class="img-left pr-3" alt="finapoints">
                <div class="desc">
                  <div class="title-wallet avenir-12-reg">
                    Finapoint
                  </div>
                  <div class="amount avenir-12-reg">
                    {{ numberingNumber(Number(finapoint)) }}
                  </div>
                </div>
                <img src="@/assets/icon-arrow-black.svg" class="icon-right" alt="icon arrow">
              </v-layout>
            </v-flex>
          </v-layout>

          <!-- Menu Finansial -->
          <v-card-text class="text-menu-finance avenir-14-reg px-3">
            Menu Finansial
          </v-card-text>

          <v-layout row class="scroll-wrapper pb-3" style="overflow: auto;">
            <v-flex v-for="(financeData, indexFinance) in finance" :key="indexFinance" class="scroll-child mx-2 con-finance">

              <div :class="'wrap-finance ' + financeData.isActive" :style="'background: ' + financeData.color + '!important;'" @click="financeData.isActive ? routeMenuFinance(financeData.route) : null">
                <img :src="financeData.img" :alt="financeData.name">
              </div>

              <div :class="'name-lifeplan text-xs-center ' + financeData.isActive">
                {{financeData.name}}
              </div>

            </v-flex>
          </v-layout>

          <!-- Cards -->
          <!-- lifeplan null -->
          <div v-if="lifeplans.length === 0">
            <v-layout column align-center>
              <div class="px-4 mb-3">
                <img src="../../../assets/finavest/lifeplan/no_lifeplan.svg" style="width:100%; height: 240px;" alt="Lifeplan Null">
                <br />
                <v-card-text class="nexa-14-bold text-xs-center mb-1"> kamu belum memiliki lifeplan </v-card-text>
                <v-card-text class="avenir-12-reg text-xs-center pa-0 px-3 color-secondary-5">Penuhi rencana investasimu dengan membuat lifeplan dari sekarang.</v-card-text>
              </div>
              <v-btn depressed color="primary" @click.native="$router.push('/finavest/lifeplan/add/edit')" class="box-shadow px-4" round>Buat Lifeplan</v-btn>
            </v-layout>
          </div>
          <!-- lifeplan not null -->
          <div v-else>
            <v-layout row align-center justify-space-between pa-3>
              <v-flex xs8>
                <v-card-text class="nexa-16-bold">Lifeplan</v-card-text>
                <v-card-text class="avenir-14-reg color-secondary-5">Penuhi rencana investasimu</v-card-text>
              </v-flex>
              <v-flex xs4>
                <v-card-text class="text-align-right avenir-10-med" style="color: #A0A5B7;" @click="routeToAllLifeplan()">SELENGKAPNYA</v-card-text>
              </v-flex>
            </v-layout>
            <v-layout row class="scroll-wrapper" style="overflow: auto; -webkit-overflow-scrolling: touch;">
              <v-flex v-for="(lifeplan, indexLifeplan) in lifeplans" :key="indexLifeplan" class="scroll-child mx-2 lifeplan-card">
                <reusable-cards
                  :with-progress="true"
                  :with-button="false"
                  :section-datas="cardSectionData[indexLifeplan]"
                  :progress-data="Math.round((lifeplan.current / lifeplan.futurevalue) * 100)"
                  class-button="mt-4"
                  class="fixed-width px-2"
                  @card-function="routeToPortfolio(lifeplan.targetid)"
                >
                  <v-layout slot="layout-title" :class="setLifeplanClass(lifeplan.type) + ' card-header-title-lifeplan'" row align-center>
                    <v-flex xs7 pl-3>
                      <v-layout column>
                        <v-flex class="nexa-14-bold color-primary-3">
                          {{ lifeplan.subtype ? capitalizeWord(lifeplan.subtype) : capitalizeWord(lifeplan.type) }}
                        </v-flex>
                        <v-flex class="avenir-12-reg color-primary-3">
                          {{ lifeplan.year }}
                        </v-flex>
                      </v-layout>
                    </v-flex>
                    <v-flex xs5>
                      <reusable-image-lifeplan
                        :type="lifeplan.type"
                        :style-image="null"
                        :with-gradient="true"
                      ></reusable-image-lifeplan>
                    </v-flex>
                  </v-layout>
                  <div slot="layout-highlight" style="margin-top: 60px">
                    <v-flex class="avenir-10-med color-secondary-5">
                      Target Tabungan
                    </v-flex>
                    <v-flex class="avenir-16-reg">
                      <b>Rp {{ numberingNumber(lifeplan.futurevalue) }}</b>
                    </v-flex>
                  </div>
                </reusable-cards>
              </v-flex>
            </v-layout>
          </div>

          <!-- Portfolio -->
          <v-card v-if="checkFeatures('halofina:portfolio').version > 2" flat class="portfolio-section">
            <v-card-text class="nexa-16-bold ml-3 mb-4 mt-3 color-primary-3">
              Portofolio
            </v-card-text>
            <!-- Nilai Aset -->
            <v-layout px-3 mb-3 row align-center justify-space-between>
              <v-flex xs8>
                <v-card-text class="avenir-10-med color-primary-3">Total Nilai Aset</v-card-text>
                <v-card-text class="nexa-16-bold color-primary-3">Rp {{ numberingNumber(10920912) }}</v-card-text>
              </v-flex>
              <v-flex xs4>
                <v-btn small round flat depressed class="portfolio-btn" dark>Lihat Detail</v-btn>
              </v-flex>
            </v-layout>
            <!-- Nilai Untung -->
            <v-layout px-3 mb-4 row align-center justify-space-between>
              <v-flex xs6>
                <v-card-text class="avenir-10-med color-primary-3">Nilai Untung / Rugi</v-card-text>
                <v-card-text class="avenir-10-med color-primary-3">Rp {{ numberingNumber(4740000) }}</v-card-text>
              </v-flex>
              <v-flex xs6>
                <v-card-text class="avenir-10-med color-primary-3 text-align-right">Persentase Hasil</v-card-text>
                <v-card-text class="avenir-10-med color-primary-3 text-align-right">{{ numberingNumber(32.5) }}%</v-card-text>
              </v-flex>
            </v-layout>
            <!-- Class Assets -->
            <v-layout row class="scroll-wrapper" style="overflow: auto; -webkit-overflow-scrolling: touch;">
              <v-flex v-for="(portfolio, indexPort) in portfolios" :key="indexPort" class="scroll-child mx-2 fixed-width" style="-webkit-transform: translate3d(0, 0, 0)">
                <reusable-cards
                  :with-button="false"
                  :card-title="portfolio.class"
                  :card-description="portfolio.product + ' Aset'"
                  style="padding: 12px 0px 0px 0px !important"
                  @card-function="routeToPortfolio(lifeplan.targetid)"
                >
                  <div slot="title-layout-image" class="mx-2">
                    <reusable-image-asset :type="portfolio.class"></reusable-image-asset>
                  </div>
                  <v-layout row slot="layout-desc" class="border-content-top" mt-2>
                    <v-flex class="border-content py-12" xs4 v-for="(data, index) in portfolio.datas" :key="index" row>
                      <v-card-text class="avenir-10-med text-align-center color-secondary-5">{{data.title}}</v-card-text>
                      <v-card-text class="avenir-10-med text-align-center color-secondary-5">{{data.desc}}</v-card-text>
                    </v-flex>
                  </v-layout>
                </reusable-cards>
              </v-flex>
            </v-layout>
          </v-card>

          <!-- Smart Savings -->
          <v-card v-if="checkFeatures('halofina:smart_saving').enabled === true" class="smart-saving-card ma-3 pa-3 card-radius box-shadow" style="position: relative" xs12>
            <div @click="$router.push('/finavest/investment/smart_saving/detail/1')">
              <div style="width: 1px; background-color: #A8ADC4; height: 40px; position: absolute; top: 50%; left: 50%"></div>
              <v-card-text class="avenir-10-med ml-2" style="margin-top: 51px">Smart Saving</v-card-text>
              <v-card-text class="nexa-16-bold mb-3 mx-2">Rp {{ numberingNumber(54560000) }}</v-card-text>
              <v-layout row align-center justify-center mb-3 ml-2>
                <v-flex xs8>
                  <v-card-text class="avenir-10-med color-secondary-5">Nilai Pertumbuhan</v-card-text>
                  <v-card-text class="avenir-12-reg">Rp {{ numberingNumber(4740000) }}</v-card-text>
                </v-flex>
                <v-flex xs4>
                  <v-card-text class="avenir-10-med color-secondary-5">Persentase Hasil</v-card-text>
                  <v-card-text class="avenir-12-reg">{{ numberingNumber(32.5) }}%</v-card-text>
                </v-flex>
              </v-layout>
            </div>
            <v-btn block depressed flat color="primary" class="btn-radius bg-secondary-10" @click="smartSaving.topUpSheet = true">Top Up</v-btn>
          </v-card>

          <!-- Smart Savings Null -->
          <v-card v-if="checkFeatures('halofina:smart_saving').enabled === true" class="smart-saving-card-left ma-3 pa-3 card-radius box-shadow" flat>
            <v-card-text class="avenir-12-reg mt-4">kamu belum memulai</v-card-text>
            <v-card-text class="nexa-20-bold">Smart Saving</v-card-text>
            <v-card-text class="avenir-12-reg mb-4">Ayo mulai sekarang!</v-card-text>
            <v-btn block depressed flat color="primary" class="btn-radius bg-secondary-10" @click="$router.push('/finavest/investment/smart_saving/detail/1')">Mulai Menabung!</v-btn>
          </v-card>

          <!-- Banner -->
          <v-card-text class="nexa-16-bold px-3 py-2 my-1">
            Promo
          </v-card-text>
          <div class="px-3">
            <banner></banner>
          </div>
        </v-layout>
      </v-container>
      <!-- Top Up Smart Saving -->
      <v-bottom-sheet v-model="smartSaving.topUpSheet">
        <v-card flat class="rounded-top-corners">
          <v-layout column>
            <v-flex>
              <v-layout row align-center pa-3>
                <div class="wrap-img mr-3">
                  <img :src="smartSaving.productImg" alt="product">
                </div>
                <v-layout column pa-0>
                  <v-card-text class="avenir-14-med pa-0">{{ smartSaving.productName }}</v-card-text>
                  <v-card-text class="avenir-12-reg pa-0">{{ smartSaving.productClass }}</v-card-text>
                </v-layout>
              </v-layout>
              <div style="height: 8px; background: #F9FAFC"></div>
              <div class="pa-3">
                <v-card-text class="nexa-16-bold pa-0 mb-2">Nominal Pembelian</v-card-text>
                <input
                  v-on:focus="true"
                  v-model="smartSaving.amount"
                  v-money="smartSaving.amount !== null ? money : null"
                  solo
                  flat
                  type="tel"
                  maxlength="12"
                  :placeholder="'Minimal Rp ' + numberingNumber(smartSaving.minBuy)"
                  style="border: 1px solid #42A5F5; border-radius: 8px; padding: 8px" class="v-input__control bg-primary-4 mb-4"/>
                <v-btn color="primary" depressed block class="btn-radius box-shadow" :disabled="smartSaving.isDisabled" @click="checkoutData()">Beli</v-btn>
              </div>
            </v-flex>
          </v-layout>
        </v-card>
      </v-bottom-sheet>
    </div>
  <!-- </div> -->
</template>
<script>
// Import Vuetify
import {
  VList,
  VListTile,
  VListTileTitle,
  VListTileAvatar,
  VListTileContent,
  VListTileAction,
  VListTileSubTitle,
  VStepper,
  VStepperHeader,
  VStepperStep,
  VDivider,
  VSpacer,
  VImg,
  VBottomSheet
} from 'vuetify/lib'
// Import function from helpers.js
import { capitalizeWord, numberingNumber, dateFormat, checkFeatures, setLifeplanClass, replaceDot } from '@/services/Helpers'
import Api from '@/services/Api'
// Import reusable components
const ReusableCards = () => import('../../reusable/ReusableCards.vue')
const ReusableImageAsset = () => import('../../reusable/ReusableImageAsset.vue')
const ReusableImageLifeplan = () => import('../../reusable/ReusableImageLifeplan.vue')
const Banner = () => import('@/components/others/Banner.vue')

export default {
  name: 'FinavestLifeplanMain',
  components: {
    Banner,
    VList,
    VListTile,
    VListTileTitle,
    VListTileAvatar,
    VListTileContent,
    VListTileAction,
    VListTileSubTitle,
    VStepper,
    VStepperHeader,
    VStepperStep,
    VDivider,
    VSpacer,
    VImg,
    VBottomSheet,
    ReusableCards,
    ReusableImageLifeplan,
    ReusableImageAsset
  },
  props: {
    lifeplans: {
      type: Array
    },
    finapoint: {
      type: Number
    },
    portfolios: {
      type: Array
    },
    kycStatus: {
      type: String || null
    },
    kycRemark: {
      type: String || null
    },
    kycCardStatus: {
      type: String || null,
      default: null
    }
  },
  data () {
    return {
      smartSaving: {
        topUpSheet: false,
        productImg: 'https://cdn.tanamduit.com/images/product/BAHANA.png',
        productClass: 'Reksa Dana Pasar Uang',
        productName: 'Tri Megah Kas Syariah',
        amount: null,
        minBuy: 100000,
        isDisabled: true
      },
      money: {
        thousands: '.',
        precision: 0,
        masked: true
      },
      dialog: {
        isOpen: false,
        title: '',
        desc: '',
        dialogLifeplanId: '',
        dialogDelete: false,
        dialogInfo: false,
        dialogOnProgress: false
      },
      displayDate: new Date(),
      cardSectionData: [],
      kycCardStatusChild: this.kycCardStatus,
      hasTrx: 0,
      halofinaName: '',
      finance: [
        {
          name: 'Lifeplan',
          img: require('@/assets/dashboard/finance/lifeplan.svg'),
          isActive: 'active',
          route: '/finavest/new/lifeplan/dashboard',
          color: '#5EC5F8'
        },
        {
          name: 'Finapedia',
          img: require('@/assets/dashboard/finance/finapedia.svg'),
          isActive: 'active',
          route: '/finapedia/dashboard',
          color: '#FFA562'
        },
        {
          name: 'Zakat',
          img: require('@/assets/dashboard/finance/zakat.svg'),
          isActive: 'active',
          route: '/finavest/payment/zakat/zakat_list',
          color: '#5ED0CF'
        },
        {
          name: 'Qurban',
          img: require('@/assets/dashboard/finance/qurban.svg'),
          isActive: '',
          route: '',
          color: ''
        }
      ]
    }
  },
  watch: {
    smartSaving: {
      handler (value) {
        var noComma = Number(replaceDot(value.amount))
        if (noComma > Number(this.minBuy) && noComma !== null && noComma !== '0') {
          this.isDisabled = false
        } else {
          this.isDisabled = true
        }
      },
      deep: true
    }
  },
  computed: {
    totalAmount: function () {
      return this.lifeplans.map(lifeplan => Number(lifeplan.current)).reduce((prev, next) => prev + next)
    }
  },
  methods: {
    capitalizeWord,
    numberingNumber,
    dateFormat,
    checkFeatures,
    setLifeplanClass,
    trackPage () {
      this.$analytics.track('Lifeplan Dashboard Viewed')
    },
    setCardSectionData (item) {
      var transformedForProps = []
      for (var i = 0; i < item.length; i++) {
        transformedForProps = [
          {
            title: 'Rekomendasi Menabung',
            item: 'Rp ' + this.numberingNumber(item[i].regularinvestment) + '/bln',
            classTitle: 'avenir-10-med',
            classItem: 'avenir-12-reg'
          },
          {
            title: 'Dana Terkumpul',
            item: 'Rp ' + this.numberingNumber(item[i].current, true),
            classTitle: 'avenir-10-med text-align-right',
            classItem: 'avenir-12-reg text-align-right'
          }
        ]
        this.cardSectionData.push(transformedForProps)
      }
    },
    routeMenuFinance (route) {
      this.$router.push(route)
    },
    routeToAllLifeplan () {
      if (checkFeatures('halofina:lifeplan_creator').version > 1) {
        this.$router.push('/finavest/new/lifeplan/dashboard')
      } else {
        this.$router.push('/finavest/lifeplan/template/edit')
      }
    },
    routePerLifeplan (id, lifeplan) {
      this.$router.push('/finavest/investment/buy/buy_investment/' + Number(id) + '/new')
      this.trackAddInvest(lifeplan)
    },
    trackAddInvest (lifeplan) {
      this.$analytics.track('Investment Added', {
        lifeplan_type: lifeplan.type,
        progress_percentage: Math.round((lifeplan.current / lifeplan.futurevalue) * 100),
        regular_investment: Number(lifeplan.regularinvestment),
        duration: Number(lifeplan.duration),
        page_source: 'Dashboard'
      })
    },
    dialogDelete (title, id) {
      this.dialog.dialogDelete = true
      this.dialog.dialogLifeplanId = id
      this.dialog.title = 'Hapus Lifeplan ' + capitalizeWord(title)
    },
    dialogInfo () {
      this.dialog.dialogInfo = true
    },
    routeToPortfolio (lifeplanId) {
      this.$router.push('/finavest/portfolio/detail/' + lifeplanId)
    },
    checkTypeMenu (id, type, lifeplanName, trxStatus, current) {
      if (type === 'Edit') {
        this.$router.push('/finavest/lifeplan/edit/' + id + '/' + true + '/' + false)
      } else if (type === 'Hapus') {
        this.dialogDelete(lifeplanName, id)
      } else {
        if (trxStatus === 1 && current === 0) {
          this.dialog.dialogOnProgress = true
        } else {
          this.$router.push('/finavest/investment/sell/sell_list/' + id)
        }
      }
    },
    deleteLifeplan (id) {
      Api('finavest/lifeplan/target/delete', {
        targetid: id
      }).then((res) => {
        this.dialog.dialogDelete = false
        window.location.reload(true)
      }).catch(() => {
        this.dialog.isOpen = true
      })
    },
    setStatusCardKyc () {
      this.kycCardStatusChild = 1
      localStorage.setItem('halofina-kyc-card', 1)
    },
    getName () {
      this.halofinaName = JSON.parse(localStorage.getItem('halofina-name'))
    },
    routeToVoucher () {
      this.$router.push('/finavest/investment/list_voucher')
    }
  },
  created () {
    this.getName()
    this.trackPage()
    this.setCardSectionData(this.lifeplans)
    this.checkTransaction()
    this.getStatusCardKyc()
  }
}
</script>
<style lang="sass">
  .finavest-lifeplan-dashboard
    background-color: #FFFFFF

    *
      padding: 0
      margin: 0

    .border-content-top
      border-top: 1px solid #E8EAEF

    .border-content:nth-child(1),
    .border-content:nth-child(2)
      border-right: 1px solid #E8EAEF

    .smart-saving-card
      background-image: url('../../../assets/dashboard/smart-saving-right.svg')
      background-size: 100%

    .smart-saving-card-left
      background-image: url('../../../assets/dashboard/smart-saving-left.svg')
      background-size: 100%

    .portfolio-section
      background: url('../../../assets/dashboard/portfolio-section.svg') no-repeat

    .portfolio-cards
      position: absolute
      bottom: -65px

    .leaf
      position: absolute
      top: 15px

    .zindex2
      z-index: 2

    .fixed-width
      min-width: 275px

    .divider
      position: absolute
      width: 70%
      height: 1px
      background-color: black
      opacity: 0.04
      top: 16%
      left: 50%
      transform: translateX(-50%)

    .span-badge
      position: relative
      display: inline-block
      border-radius: 100%
      width: 28px
      height: 28px
      padding-top: 3px
      background-color: #42A5F5
      text-align: center

    .blank
      width: 100%
      height: 50px
      background-color: white

    .con-total
      padding: 18px 28px
      position: fixed
      width: 100%
      z-index: 4
      border-bottom-left-radius: 12px
      border-bottom-right-radius: 12px

    .card-header-title-lifeplan
      position: absolute
      left: 0px
      top: 0px
      width: 100%

    .v-progress-linear
      border-radius: 4px
      height: 5px
      margin: 8px 0px

    .v-progress-linear__bar
      background: #E9ECF0

    .v-progress-linear__bar__determinate
      border-radius: 8px
      background: linear-gradient(to right, #4197EF, #61C3FF) !important

    .saldo
      position: relative
      background: #fff
      width: 100%
      border-radius: 5px
      padding: 12px 16px
      border: 1px solid #E8EAEF
      box-shadow: 0px 6px 10px rgba(175, 211, 229, 0.15)

      .img-left
        float: left

      .desc
        .title-wallet
          color: #A0A5B7

        .amount
          font-weight: 600
          color: #505565
          font-size: 14px

    .con-finance
      width: 30px

    .portfolio-btn
      float: right
      width: 85px
      height: 28px
      background: rgba(5, 120, 203, 0.2)

    .wrap-finance
      width: 42px
      height: 42px
      margin: 0 auto
      position: relative
      box-shadow: 0px 2px 8px rgba(89, 183, 251, 0.4)
      border-radius: 8px
      background: linear-gradient(90deg, #777D7E 0%, #475152 100%)
      opacity: 0.4


      img
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

      &.active
        opacity: 1

    .name-lifeplan
      line-height: 1
      font-size: 10px
      color: #505565
      opacity: 0.4
      margin-top: 12px

      &.active
        opacity: 1

    .text-menu-finance
      font-weight: 600
      font-size: 14px !important
      padding-bottom: 14px
      color: #505565

    .lifeplan-card:nth-child(1)
      margin-left: 20px !important

    .icon-right
      position: absolute
      right: 14px
      width: 20px

</style>
