<template>
  <div class="finavest-template bg-primary-3">
    <!-- ReusableToolbar -->
    <reusable-toolbar page-name="Buat LifePlan" route="/finacheck/rpa/input" route-edit="/dashboard" :edit="editroute === 'edit' ? true : false" :execute-back-native="false"></reusable-toolbar>
    <!-- App Layout -->
      <v-container class="pa-0 toolbar-margin">
          <v-layout column>
              <v-card-text class="px-3 pt-3 pb-0 nexa-16-bold">
                Apakah ini sudah sesuai dengan kamu?
              </v-card-text>
              <v-card-text class="pl-3 pr-4 pt-0 avenir-12-reg">
                Biasanya orang seumuran kamu ingin mencapai hal-hal berikut.
              </v-card-text>
              <div class="bg-primary-4 pa-2">
                <draggable
                  v-model="targets"
                  v-bind="dragOptions"
                >
                  <transition-group name="fade">
                    <div v-for="(target, index) in targets" :key="index">
                      <v-layout class="timeline" my-1 row v-if="target.isDisplayed" :key="index">
                          <v-flex xs1 :id="index === 0 ? 'duration-text' : ''" style="max-height: 44px; background: transparent;" class="text-xs-center xs1 mr-2">
                            <v-flex>
                                <v-card-text class="pa-1">
                                    <div class="font-10">
                                        Usia
                                    </div>
                                    <div class="font-25">
                                        {{ target.usia }}
                                    </div>
                                </v-card-text>
                            </v-flex>
                          </v-flex>
                          <v-flex>
                              <v-card class="card-border card-radius mb-2">
                                  <v-layout column>
                                      <v-layout row align-center>
                                        <v-layout pa-3 column :id="index === 0 ? 'target-text' : ''">
                                          <v-flex>
                                              <div class="nexa-14-bold text-capitalize">
                                                {{ target.subtype ? target.subtype : target.type }}
                                              </div>
                                              <div class="avenir-12-reg">
                                                Target Biaya
                                              </div>
                                              <div class="avenir-12-reg">
                                                Rp {{ numberingNumber(target.biaya) }} dalam {{ target.duration }} tahun
                                              </div>
                                          </v-flex>
                                        </v-layout>
                                        <v-flex xs3 style="margin: auto" class="pl-2">
                                            <reusable-image-lifeplan :type="target.type"></reusable-image-lifeplan>
                                        </v-flex>
                                      </v-layout>
                                      <v-divider style="margin: 0px"></v-divider>
                                      <v-layout row align-center justify-center>
                                          <v-card-text :id="index === 0 ? 'investment-text' : ''" class="px-3 py-2 avenir-12-reg"><b>Rp {{ numberingNumber(target.regular) }}</b> <span>per bulan</span></v-card-text>
                                          <div :id="index === 0 ? 'action-section' : ''" class="center-horizontal px-3 py-1">
                                            <!-- If No Progress -->
                                            <v-btn v-if="(target.progress === 0 || target.progress === null) && target.status === 0" style="height: 28px;" icon @click="dialogs('Hapus Data', target.subtype ? capitalizeWord(target.subtype) : capitalizeWord(target.type), target.lifeplanid); setToData(target.type, target.subtype, target.duration, target.biaya, target.inflation)" small>
                                              <img :src="img.trash" width="24" height="24"/>
                                            </v-btn>
                                            <!-- If has Progress -->
                                            <v-btn v-else style="height: 28px; opacity: 0.3;" icon small class=" mr-2">
                                              <img :src="img.trash" width="24" height="24"/>
                                            </v-btn>
                                            <!-- If No Progress -->
                                            <v-btn v-if="(target.progress === 0 || target.progress === null) && target.status === 0" style="height: 28px; margin-left: 10px !important;" @click="edit(target.lifeplanid, target.type)" icon small class="">
                                              <img :src="img.pencil" width="24" height="24"/>
                                            </v-btn>
                                            <!-- If Has Progress -->
                                            <v-btn v-else style="height: 28px; opacity: 0.3; margin-left: 10px !important;" icon small class="">
                                              <img :src="img.pencil" width="24" height="24"/>
                                            </v-btn>
                                          </div>
                                      </v-layout>
                                  </v-layout>
                              </v-card>
                          </v-flex>
                      </v-layout>
                    </div>
                  </transition-group>
                </draggable>
                <v-layout row>
                  <v-flex xs1 class="mr-2">
                  </v-flex>
                    <v-flex v-if="current === 0 && hasTransaction === 0">
                        <v-btn block depressed @click.native="dialog.dialogDeleteAll = true" class="btn-radius bg-primary-3 color-system-error box-shadow">
                          <v-spacer></v-spacer>
                          <!-- <img :src="img.trashred" width="16" height="16" class="mr-1"/> -->
                            Hapus Semua
                          <v-spacer></v-spacer>
                        </v-btn>
                    </v-flex>
                    <v-flex class="ml-2">
                      <v-btn id="button-add" block depressed @click="add" class="btn-radius bg-primary-3 color-primary-1 box-shadow">
                        <v-spacer></v-spacer>
                        <!-- <v-icon small class="mr-2">add</v-icon> -->
                          Tambah
                        <v-spacer></v-spacer>
                      </v-btn>
                    </v-flex>
                </v-layout>
              </div>
              <v-flex class="text-align-center">
                  <v-card-text class="pb-0 pt-4 avenir-12-reg">
                    Perkiraan Kebutuhan LifePlan
                  </v-card-text>
                  <v-card-text class="pt-0 pb-0 nexa-16-bold">Rp {{ numberingNumber(invest) }} per bulan</v-card-text>
              </v-flex>
              <v-flex>
                  <v-layout row mt-4 mb-4>
                      <!-- <v-flex xs3>
                      </v-flex> -->
                      <v-flex mr-3 ml-3>
                          <v-btn block color="primary" :disabled="this.targets.length === 0" depressed @click="next()" class="btn-radius box-shadow">
                              Simpan
                          </v-btn>
                      </v-flex>
                      <!-- <v-flex xs3>
                      </v-flex> -->
                  </v-layout>
              </v-flex>
          </v-layout>
      </v-container>
      <!-- Dialogs -->
      <v-dialog v-model="dialog.isopen" transition="dialog-bottom-transition" scrollable>
        <!-- Dialog Hapus -->
        <v-card v-if="dialog.message === 'Hapus Data'" class="text-align-center card-radius pa-3">
          <br />
            <img :src="img.danger" style="width: 72px; align-self: center"/>
            <div class="nexa-20-bold mt-2 mb-2">
              Hapus LifePlan {{dialog.type.charAt(0).toUpperCase() + dialog.type.slice(1)}}
            </div>
            <v-card-text class="avenir-14-reg pa-0">
              Apakah kamu yakin ingin menghapus LifePlan ini?
            </v-card-text>
              <v-layout row class="px-3 pt-3 pb-0">
                <v-flex xs6 mr-1>
                  <v-btn block small flat color="primary" class="btn-radius box-shadow" depressed @click.native="dialog.isopen = false">
                    Batal
                  </v-btn>
                </v-flex>
                <v-flex xs6 ml-1>
                  <v-btn block small color="primary" class="btn-radius box-shadow" @click="del(dialog.id, dialog.type)" depressed>
                      Hapus
                  </v-btn>
                </v-flex>
              </v-layout>
          </v-card>
        <!-- Dialog Lifeplan -->
        <div v-else-if="dialog.message === 'Lifeplan'">
          <v-toolbar card class="bg-transparent">
            <v-toolbar-title class="black--text"></v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn round color="white" class="popup-button" :ripple="false" icon @click="closeDialogs()">
              <v-icon dark>close</v-icon>
            </v-btn>
          </v-toolbar>
          <v-card class="card-radius">
            <v-layout column justify-center align-center>
              <div class="nexa-20-bold mt-3 mb-2">
                {{ dialog.message }}
              </div>
              <img :src="img.illustration" style="width: 100%"/>
              <v-card-text class="avenir-14-reg text-align-left">
                Kamu akan mendapatkan rekomendasi Lifeplan berdasarkan keadaan kamu. <br /><br /> Lifeplan adalah rencana masa depan yang kamu targetkan. Angka target biaya pada setiap Lifeplan berasal dari prediksi kenaikan biaya karena inflasi. <br /><br /> Contoh pendidikan anak saat ini Rp 80juta, 18 tahun lagi biayanya akan naik menjadi Rp 300juta. <br /><br /> Rekomendasi Lifeplan hanya sebagai patokan awal untuk memudahkan kamu. kamu masih bisa merubah agar sesuai dengan keadaan kamu.
              </v-card-text>
            </v-layout>
          </v-card>
        </div>
        <!-- Dialog Error -->
        <v-card v-else>
          <v-toolbar card class="bg-transparent">
            <v-toolbar-title class="black--text"></v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn round color="white" class="popup-button" :ripple="false" icon @click="closeReusableDialogs()">
              <v-icon dark>close</v-icon>
            </v-btn>
          </v-toolbar>
            <v-layout column justify-center align-center>
              <div class="nexa-20-bold mt-3 mb-2">
                Ada Kesalahan
              </div>
              <v-card-text class="avenir-16-med text-align-center">
                {{dialog.message}}
              </v-card-text>
            </v-layout>
          </v-card>
      </v-dialog>
      <reusable-dialogs
        :is-open="dialog.dialogDeleteAll"
        :resize-image="true"
        :is-image-above-title="true"
        title="Hapus Semua LifePlan"
        description="kamu yakin ingin menghapus semua LifePlan">
        <div slot="layout-button" style="width: 100%;">
          <v-layout row class="px-3 pb-3">
              <v-flex xs6 mr-1>
                <v-btn block small flat color="primary" class="btn-radius box-shadow" depressed @click.native="dialog.dialogDeleteAll = false">
                  Batal
                </v-btn>
              </v-flex>
              <v-flex xs6 ml-1>
                <v-btn block small color="primary" class="btn-radius box-shadow" @click="deleteAll()" depressed>
                  Hapus
                </v-btn>
              </v-flex>
          </v-layout>
        </div>
      </reusable-dialogs>
      <!-- Guide Tour -->
      <reusable-guide-tour v-if="loadingdone === true && targets.length !== 0" name="tourLifeplan" :steps="steplifeplan" status="halofina-tour-lifeplan" :background="true" :border="true"></reusable-guide-tour>
  </div>
</template>

<script>
import {
  VDialog,
  VToolbar,
  VToolbarTitle,
  VSpacer,
  VDivider
} from 'vuetify/lib'
import Api from '@/services/Api'
import { setRouteToLocalStorage, capitalizeWord, numberingNumber, setBackRouteToAndroid, checkFeatures } from '@/services/Helpers'
// Guide Tour
import ReusableGuideTour from '@/components/reusable/ReusableGuideTour'
import ReusableImageLifeplan from '@/components/reusable/ReusableImageLifeplan'
// draggable
import draggable from 'vuedraggable'

export default {
  name: 'FinavestLifeplanTemplate',
  components: {
    draggable,
    VDialog,
    VToolbar,
    VToolbarTitle,
    VSpacer,
    VDivider,
    ReusableGuideTour,
    ReusableImageLifeplan
  },
  data () {
    return {
      steplifeplan: [
        {
          target: '#duration-text',
          content: 'Usia kamu saat mencapai LifePlan ini',
          params: {
            placement: 'right'
          }
        },
        {
          target: '#target-text',
          content: 'Perkiraan harga LifePlan kamu di masa depan'
        },
        {
          target: '#investment-text',
          content: 'Uang yang perlu kamu tabung setiap bulan'
        }
      ],
      dialog: {
        isopen: false,
        message: '',
        type: '',
        id: '',
        subtype: '',
        dialogDeleteAll: false
      },
      analytics: {
        lifeplan_type: '',
        lifeplan_subtype: '',
        lifeplan_duration: '',
        lifeplan_target: '',
        lifeplan_inflation: '',
        page_source: 'Buat Lifeplan Page'
      },
      money: {
        thousands: '.',
        precision: 0,
        masked: false,
        prefix: 'Rp'
      },
      img: {
        check: require('@/assets/finavest/lifeplan/check.svg'),
        warning: require('@/assets/finavest/lifeplan/warning.svg'),
        pencil: require('@/assets/finavest/lifeplan/pencil.svg'),
        trash: require('@/assets/finavest/lifeplan/trash.svg'),
        trashred: require('@/assets/finavest/lifeplan/trashred.svg'),
        danger: require('@/assets/finavest/lifeplan/danger.svg'),
        illustration: require('@/assets/finavest/lifeplan/illustration.svg')
      },
      invest: 0,
      current: 0,
      hasTransaction: 0,
      targets: [],
      editroute: '',
      loadingdone: false,
      name: '',
      email: '',
      lifeplanarray: [],
      phone: '',
      message: ''
    }
  },
  computed: {
    dragOptions () {
      var disabled = checkFeatures().environment !== 'development'
      console.log('test', disabled)
      return {
        animation: 200,
        disabled: disabled,
        ghostClass: 'drag-ghost'
      }
    }
  },
  methods: {
    setRouteToLocalStorage,
    capitalizeWord,
    numberingNumber,
    checkStatusForDialogLifeplan () {
      var opened = localStorage.getItem('halofina-dialog-lifeplan')
      if (!opened) {
        var self = this
        setTimeout(function () {
          self.dialogs('Lifeplan')
        }, 1500)
      }
    },
    del (id, type) {
      Api('finavest/lifeplan/target/delete', {
        targetid: id
      }).then((res) => {
        this.trackDeleteLifeplan()
        this.targets = []
        this.loadingdone = false
        this.invest = 0
        this.fetchData()
        this.dialog.isopen = false
      }).catch((err) => {
        this.dialog.isopen = true
        this.dialog.message = err.m
      })
    },
    deleteAll () {
      Api('finavest/lifeplan/target/deleteall', {})
        .then((res) => {
          this.trackDeleteAllLifeplan()
          this.targets = []
          this.invest = 0
          this.dialog.dialogDeleteAll = false
        }).catch(() => {
          this.dialogerror = true
        })
    },
    next () {
      this.$analytics.userProperties({'$phone': this.phone, '$name': this.name, '$email': this.email, 'lifeplan_type_list': this.lifeplanarray})
      this.$analytics.track('Lifeplan Created', this.lifeplanarray)
      if (this.editroute === 'edit') {
        this.$router.push({path: '/dashboard'})
      } else {
        this.$router.push({path: '/finacheck/kyc/spending'})
      }
    },
    edit (id, type) {
      if (typeof id === 'number') {
        if (this.editroute === 'edit') {
          this.$router.push('/finavest/lifeplan/edit/' + id + '/' + true)
        } else {
          this.$router.push('/finavest/lifeplan/edit/' + id + '/' + false)
        }
      } else {
        this.$router.push('/finavest/lifeplan/edit/add/' + false)
      }
      this.$analytics.track('Edit Lifeplan ' + type + ' Page View')
    },
    add () {
      if (this.editroute === 'edit') {
        this.$router.push('/finavest/lifeplan/add/edit')
      } else {
        this.$router.push('/finavest/lifeplan/add')
      }
    },
    fetchData () {
      Api('finavest/lifeplan/target/user', {
      }).then((res) => {
        let regular = 0
        var current = 0
        var hasTransaction = 0
        for (let i = 0; i < res.d.length; i++) {
          if (res.d[i].regularinvestment !== null) {
            regular = parseInt(res.d[i].regularinvestment)
            current = parseInt(res.d[i].current) || null
            hasTransaction = parseInt(res.d[i].is_trx)
            this.current += current
            this.invest += regular
            this.hasTransaction += hasTransaction
          }
        }
        this.setTarget(res.d)
        this.removeStatusForOldData()
        this.loadingdone = true
      }).catch((err) => {
        this.dialogs(err.m)
      })
    },
    setTarget (item) {
      let age = 0
      let target = {}
      let lifeplanarray = []
      for (let i = 0; i < item.length; i++) {
        target = {
          isDisplayed: item[i].duration > 0,
          lifeplanid: parseInt(item[i].targetid),
          tahun: item[i].year,
          usia: parseInt(item[i].age),
          goal: this.goalise(item[i].type),
          type: item[i].type,
          duration: item[i].duration,
          description: item[i].description,
          biaya: item[i].futurevalue,
          subtype: item[i].subtype,
          regular: item[i].regularinvestment,
          inflation: item[i].inflation,
          progress: item[i].current,
          status: item[i].is_trx
        }
        lifeplanarray.push(item[i].type, item[i].regularinvestment, item[i].futurevalue)
        target.isAgeDisplayed = (target.usia !== age)
        this.targets.push(target)
        age = target.usia
      }
      this.lifeplanarray = lifeplanarray
    },
    goalise (type) {
      return type.toString().charAt(0).toUpperCase() + type.toString().substr(1).toLowerCase()
    },
    dialogs (message, type, id) {
      this.dialog.isopen = true
      this.dialog.message = message
      this.dialog.type = type
      this.dialog.id = id
    },
    closeDialogs () {
      this.dialog.isopen = false
      localStorage.setItem('halofina-dialog-lifeplan', 1)
    },
    getRouteParams () {
      this.editroute = this.$route.params.id
      if (this.editroute === 'edit') {
        setBackRouteToAndroid('/vuetify15/#/dashboard')
      } else {
        setBackRouteToAndroid('/vuetify15/#/finacheck/rpa/input')
      }
    },
    getUserDataInLocalStorage () {
      this.phone = localStorage.getItem('halofina-phone')
      this.name = JSON.parse(localStorage.getItem('halofina-name'))
      this.email = JSON.parse(localStorage.getItem('halofina-email'))
      this.saving = localStorage.getItem('halofina-saving-profile')
    },
    removeStatusForOldData () {
      localStorage.removeItem('halofina-lifeplan-old-data')
      localStorage.removeItem('halofina-lifeplan-old-data-added')
    },
    setToData (type, subtype, duration, target, inflation) {
      this.analytics.lifeplan_type = type
      this.analytics.lifeplan_subtype = subtype
      this.analytics.lifeplan_duration = duration
      this.analytics.lifeplan_target = target
      this.analytics.lifeplan_inflation = inflation
    },
    trackDeleteLifeplan () {
      this.$analytics.track('Lifeplan Deleted', ...this.analytics)
    },
    trackDeleteAllLifeplan () {
      this.$analytics.track('Lifeplan All Deleted', {
        lifeplan_type_list: this.lifeplanarray
      })
      this.$analytics.userProperties({'$phone': this.phone, '$name': this.name, '$email': this.email, 'lifeplan_type_list': this.lifeplanarray})
    }
  },
  created () {
    this.fetchData()
    this.trackPage()
    this.checkStatusForDialogLifeplan()
    this.setRouteToLocalStorage('/finavest/lifeplan/template')
    this.getUserDataInLocalStorage()
  },
  mounted: function () {
    this.getRouteParams()
  }
}
</script>

<style scoped lang="sass">
  @import '@/assets/style/colors.scss'

  .drag-ghost
    opacity: 0

  .font-10
    font-size: 10px

  .no-right-radius
    border-bottom-right-radius: 0px
    border-top-right-radius: 0px

  .font-25
    font-size: 14px
    font-weight: bold

  input.v-money
    color: grey

  .bg-white
    background-color: white

  .bg-grey
    background-color: $color-primary-4

  .div
    height: 240px
    width: 274px
    margin-right: 0px
    background-color: #F6F8FA

  .border
    border: 1px solid $color-primary-1

  .border-red
    border: 1px solid $color-system-error

  .round-number
    background-color: black
    border-radius: 50%
    width: 12px
    height: 12px
    text-align: center
    color: white
    font-size: 9px

  .finavest-template
    .v-divider
      margin: 15px

    .v-btn
      padding: 0px

    .v-card
      box-shadow: 0px 0px 50px -10px rgba(0,0,0,.2), 0 0px 0px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12)


  .fade-enter-active, .fade-leave-active
    transition: opacity .5s
    @for $i from 1 through 17
      &:nth-child(#{$i})
        transition-delay: (0.1s * $i)

  .fade-enter, .fade-leave-to
    opacity: 0
</style>
