<template>
  <div class="finavest-lifeplan-choose min-height bg-primary-3">
    <reusable-toolbar page-name="Pilih Lifeplan"></reusable-toolbar>
    <v-container class="toolbar-margin">
      <v-card-text class="avenir-14-reg px-0">Silahkan pilih lifeplan</v-card-text>
      <v-layout column>
        <v-flex>
          <div v-for="(lifeplan, indexLifeplan) in lifeplans" :key="indexLifeplan">
            <div v-if="version > 3">
              <reusable-cards
                :with-progress="false"
                :with-button="false"
                :section-datas="cardSectionData[indexLifeplan]"
                class-button="mt-4"
                class="fixed-width px-2"
                @card-function="routePerLifeplan(lifeplan.targetid)"
                v-if="lifeplan.type !== 'smartsaving'"
              >
                <v-layout
                  slot="layout-title"
                  :class="setLifeplanClass(transformLifeplanType(lifeplan.type, true)).className + ' card-header-title-lifeplan'"
                  row
                  align-center
                  justify-center
                  pa-3
                >
                  <v-flex xs12>
                    <v-layout column>
                      <v-flex :class="setLifeplanClass(transformLifeplanType(lifeplan.type, true)).colorName + ' nexa-14-bold text-truncate'">
                        {{ lifeplan.subtype ? lifeplan.subtype : lifeplan.type }}
                      </v-flex>
                      <v-flex :class="setLifeplanClass(transformLifeplanType(lifeplan.type, true)).colorName + ' avenir-12-reg'">
                        {{ lifeplan.year }}
                      </v-flex>
                    </v-layout>
                  </v-flex>
                  <reusable-image-lifeplan
                    :type="transformLifeplanType(lifeplan.type)"
                    :with-gradient="false"
                    style-image="width: 70px; height: auto; position: absolute; right: 0px; bottom: 0px; top: 4px"
                  ></reusable-image-lifeplan>
                </v-layout>
                <div slot="layout-highlight" style="height: 65px"></div>
              </reusable-cards>
            </div>
            <div v-else>
              <reusable-cards
                :with-progress="false"
                :with-button="false"
                :section-datas="cardSectionData[indexLifeplan]"
                class-button="mt-4"
                class="fixed-width px-2"
                @card-function="routePerLifeplan(lifeplan.targetid)"
                v-if="lifeplan.type !== 'smartsaving'"
              >
                <v-layout slot="layout-title" :class="setLifeplanClass(transformLifeplanType(lifeplan.type, true)) + ' card-header-title-lifeplan'" row align-center>
                  <v-flex xs7 pl-3>
                    <v-layout column>
                      <v-flex class="nexa-14-bold color-primary-3 text-truncate">
                        {{ lifeplan.subtype ? lifeplan.subtype : lifeplan.type }}
                      </v-flex>
                      <v-flex class="avenir-12-reg color-primary-3">
                        {{ dateFormat(lifeplan.target_time, 'MMMM YYYY') }}
                      </v-flex>
                    </v-layout>
                  </v-flex>
                  <v-flex xs5>
                    <reusable-image-lifeplan
                    :type="transformLifeplanType(lifeplan.type, true)"
                    :style-image="null"
                    :with-gradient="true"
                    ></reusable-image-lifeplan>
                  </v-flex>
                </v-layout>
                <div slot="layout-highlight" style="margin-top: 60px; margin-bottom: 12px">
                  <v-flex class="avenir-10-med color-secondary-5">
                    Dana Terkumpul
                  </v-flex>
                  <v-flex class="avenir-16-reg">
                    <b>Rp {{ numberingNumber(lifeplan.grand_total) }}</b>
                  </v-flex>
                </div>
              </reusable-cards>
            </div>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
    <reusable-dialogs
      v-model="dialog.dialogError"
      :resize-image="true"
      :is-image-above-title="true"
      :description="dialog.dialogErrorDesc"
    ></reusable-dialogs>
  </div>
</template>

<script>
import Api from '@/services/Api'
import { capitalizeWord, numberingNumber, setLifeplanClass, transformLifeplanType, checkFeatures } from '@/services/Helpers'
const ReusableCards = () => import('../../reusable/ReusableCards.vue')
const ReusableImageLifeplan = () => import('../../reusable/ReusableImageLifeplan.vue')

export default {
  name: 'FinavestLifeplanChoose',
  components: {
    ReusableCards,
    ReusableImageLifeplan
  },
  data () {
    return {
      datas: '',
      lifeplans: [],
      cardSectionData: [],
      version: checkFeatures('halofina:dashboard').version,
      dialog: {
        dialogError: false,
        dialogErrorDesc: ''
      }
    }
  },
  methods: {
    capitalizeWord,
    numberingNumber,
    setLifeplanClass,
    transformLifeplanType,
    getParams () {
      this.datas = this.$route.params.data
    },
    fetchDataLifeplan () {
      Api('finavest/lifeplan/target/retrieve/asset', {
        productid: this.datas
      })
        .then((res) => {
          this.lifeplans = this.filterActiveLifeplan(res.d)
          this.setCardSectionData(res.d)
        })
        .catch((err) => {
          this.dialogError(err.m)
        })
    },
    filterActiveLifeplan (items) {
      return items.filter(element => Number(element.isactive) === 1)
    },
    setCardSectionData (item) {
      var transformedForProps = []
      for (var i = 0; i < item.length; i++) {
        transformedForProps = [
          {
            title: 'Rekomendasi Menabung',
            item: 'Rp ' + this.numberingNumber(item[i].regularinvestment) + '/bln',
            classTitle: 'avenir-10-med',
            classItem: 'avenir-12-reg'
          },
          {
            title: 'Dana Terkumpul',
            item: 'Rp ' + this.numberingNumber(item[i].current, true),
            classTitle: 'avenir-10-med text-align-right',
            classItem: 'avenir-12-reg text-align-right'
          }
        ]
        this.cardSectionData.push(transformedForProps)
      }
    },
    routePerLifeplan (id) {
      this.$router.push('/finavest/investment/buy/buy_investment/' + Number(id) + '/new')
    },
    dialogError (desc) {
      this.dialog.dialogError = true
      this.dialog.dialogErrorDesc = desc
    }
  },
  created () {
    this.getParams()
    this.fetchDataLifeplan()
  }
}
</script>

<style lang="sass">
  .finavest-lifeplan-choose

    *
    margin: 0
    padding: 0

    .card-header-title-lifeplan
      position: absolute
      left: 0px
      top: 0px
      width: 100%

    .lifeplan-card:nth-child(1)
      margin-left: 20px !important
</style>
