<template>
    <div class="finavest-lifeplan-add" style="height: 100vh; background-color: white">
        <reusable-toolbar page-name="Tambah Lifeplan" :edit="edit === 'edit' ? true : false" route="/finavest/lifeplan/template" route-edit="/dashboard"></reusable-toolbar>
        <v-container class="pa-0 bg-primary-3 toolbar-margin">
            <v-layout column>
                <v-card flat>
                     <v-list>
                        <template v-for="(item, index) in items">
                            <v-divider
                            v-if="item.divider"
                            :inset="item.inset"
                            :key="index"
                            ></v-divider>
                            <v-list-tile
                            v-else
                            :key="item.title"
                            avatar
                            @click="go(item.key)"
                            >
                              <v-list-tile-avatar>  
                                <reusable-image-lifeplan :type="item.key"></reusable-image-lifeplan>
                              </v-list-tile-avatar>

                              <v-list-tile-content>
                                  <v-list-tile-title v-html="item.title"></v-list-tile-title>
                                  <v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>
                              </v-list-tile-content>

                              <v-list-tile-action>
                                <v-btn icon>
                                  <img :src="require('@/assets/icons/icon-arrow.svg')" style="width: 16px;"/>
                                </v-btn>
                              </v-list-tile-action>
                            </v-list-tile>
                        </template>
                    </v-list>
                </v-card>
            </v-layout>
        </v-container>
    </div>

</template>

<script>
import {
  VList,
  VListTile,
  VListTileSubTitle,
  VListTileAvatar,
  VListTileAction,
  VListTileContent,
  VDivider
} from 'vuetify/lib'

import ReusableImageLifeplan from '@/components/reusable/ReusableImageLifeplan'

export default {
  name: 'FinavestLifeplanAdd',
  components: {
    ReusableImageLifeplan,
    VList,
    VListTile,
    VListTileSubTitle,
    VListTileAvatar,
    VListTileAction,
    VListTileContent,
    VDivider
  },
  data () {
    return {
      items: [
        {
          // avatar: rumah,
          title: 'Rumah',
          key: 'rumah'
        },
        { divider: true, inset: true },
        {
          // avatar: haji,
          title: 'Ibadah Haji',
          key: 'haji'
        },
        { divider: true, inset: true },
        {
          // avatar: pendidikan,
          title: 'Pendidikan',
          key: 'pendidikan'
        },
        { divider: true, inset: true },
        {
          // avatar: pensiun,
          title: 'Pensiun',
          key: 'pensiun'
        },
        { divider: true, inset: true },
        {
          // avatar: pernikahan,
          title: 'Pernikahan',
          key: 'pernikahan'
        },
        { divider: true, inset: true },
        {
          // avatar: liburan,
          title: 'Liburan',
          key: 'liburan'
        },
        { divider: true, inset: true },
        {
          // avatar: mobil,
          title: 'Mobil',
          key: 'mobil'
        },
        { divider: true, inset: true },
        {
          // avatar: lain,
          title: 'Lain-lain',
          key: 'lainnya'
        },
        { divider: true, inset: true }
      ],
      edit: ''
    }
  },
  created () {
    this.edit = this.$route.params.id
    this.setRoute()
  },
  methods: {
    go (link) {
      if (this.edit === 'edit') {
        this.$router.push('/finavest/lifeplan/edit/' + link + '/' + true)
      } else {
        this.$router.push('/finavest/lifeplan/edit/' + link + '/' + false)
      }
    }
  }
}
</script>
<style>
    .finavest-lifeplan-add .v-divider--inset:not(.v-divider--vertical) {
        margin-left: 0px;
        max-width: none;
    }
    .finavest-lifeplan-add {
      overflow-y:scroll;
    }
</style>
