<template>
  <div class="finavest-lifeplan-dashboard">
    <!-- App Layout -->
  <!-- lifeplan null -->
  <div style="background-color:white; padding-top: 54px;" class="full-height" v-if="lifeplans.length === 0">
    <div class="px-4">
      <img src="../../../assets/dashboard/lifeplannull.svg" style="width:100%; height: 240px;" alt="Lifeplan Null">
      <v-card-text class="nexa-20-bold text-xs-center"> kamu belum punya lifeplan </v-card-text>
      <v-card-text class="avenir-14-reg text-xs-center pa-0 px-3">Buat rencana keuangan untuk mencapai impian jadi lebih mudah.</v-card-text>
      <v-flex mt-3>
        <v-btn depressed color="primary" @click.native="$router.push('/finavest/lifeplan/add/edit')" class="btn-radius box-shadow mt-3" block small>Tambah Lifeplan</v-btn>
      </v-flex>
    </div>
    <div class="blank"></div>
  </div>
  <!-- lifeplan not null -->
  <div v-else>
    <v-layout row align-center class="gradient box-shadow con-total" px-3>
      <v-flex xs6>
        <v-card-text class="avenir-12-reg pa-0 color-primary-3 text-align-left">Total Tabungan</v-card-text>
      </v-flex>
      <v-flex xs6>
        <v-card-text class="avenir-16-med pa-0 color-primary-3 text-align-right">Rp {{ numberingNumber(sumRegularInvestment, true) }}</v-card-text>
      </v-flex>
    </v-layout>
    <v-container pa-2 pb-3>
      <v-layout column mx-1 style="margin-top: 50px"><br />
        <banner v-if="checkFeatures('halofina:voucher').enabled === true"></banner>
        <!-- Notif KYC -->
        <v-card flat class="card-radius card-border bg-primary-3 box-shadow py-3 mt-3" style="position: relative"  v-if="kycCardStatusChild === null">
          <div class="divider"></div>
          <v-layout row>
            <!-- Step 1 KYC is Null -->
            <v-layout v-if="kycStatus === null" column justify-center align-center>
              <span class="span-badge avenir-16-reg color-primary-3">
                1
              </span>
              <v-card-text class="avenir-12-reg mt-2 pa-0 text-align-center color-primary-1">Buka <br /> Rekening</v-card-text>
            </v-layout>
            <!-- Step 1 KYC is Not Null -->
            <v-layout v-else column justify-center align-center>
              <span class="span-badge avenir-16-reg color-primary-3">
                <img :src="require('@/assets/icons/icon-check.svg')"/>
              </span>
              <v-card-text class="avenir-12-reg mt-2 pa-0 text-align-center color-secondary-5">Buka <br /> Rekening</v-card-text>
            </v-layout>
            <!-- Step 2 KYC Pending or On Process or Rejected -->
            <v-layout v-if="kycStatus === 'PENDING' || kycStatus === 'ONPROCESS'  || kycStatus === 'REJECTED'" column justify-center align-center>
              <span class="span-badge avenir-16-reg color-primary-3">
                2
              </span>
              <v-card-text class="avenir-12-reg mt-2 pa-0 text-align-center color-primary-1">Verifikasi <br /> Data</v-card-text>
            </v-layout>
            <!-- Step 2 KYC Completed -->
            <v-layout v-else-if="kycStatus === 'COMPLETED'" column justify-center align-center>
              <span class="span-badge avenir-16-reg color-primary-3">
                <img :src="require('@/assets/icons/icon-check.svg')"/>
              </span>
              <v-card-text class="avenir-12-reg mt-2 pa-0 text-align-center color-secondary-5">Verifikasi <br /> Data</v-card-text>
            </v-layout>
            <!-- Step 2 KYC Null -->
            <v-layout v-else column justify-center align-center>
              <span class="span-badge avenir-16-reg bg-secondary-5 color-primary-3">
                2
              </span>
              <v-card-text class="avenir-12-reg mt-2 pa-0 text-align-center color-secondary-5">Verifikasi <br /> Data</v-card-text>
            </v-layout>
            <!-- Step 3 KYC is Completed has trx-->
            <v-layout v-if="kycStatus === 'COMPLETED' && hasTrx > 0" column justify-center align-center>
              <span class="span-badge avenir-16-reg color-primary-3">
                <img :src="require('@/assets/icons/icon-check.svg')"/>
              </span>
              <v-card-text class="avenir-12-reg mt-2 pa-0 text-align-center color-primary-1">Mulai <br/> Menabung</v-card-text>
            </v-layout>
            <!-- Step 3 KYC doesnt have trx -->
            <v-layout v-else-if="kycStatus === 'COMPLETED' && hasTrx === 0" column justify-center align-center>
              <span class="span-badge avenir-16-reg color-primary-3">
                3
              </span>
              <v-card-text class="avenir-12-reg mt-2 pa-0 text-align-center color-primary-1">Mulai <br/> Menabung</v-card-text>
            </v-layout>
            <!-- Step 3 KYC is not Completed -->
            <v-layout v-else column justify-center align-center>
              <span class="span-badge avenir-16-reg bg-secondary-5 color-primary-3">
                3
              </span>
              <v-card-text class="avenir-12-reg mt-2 pa-0 text-align-center color-secondary-5">Mulai <br/> Menabung</v-card-text>
            </v-layout>
          </v-layout>
          <br />
          <v-divider style="height: 2px"></v-divider>
          <br />
          <!-- Status KYC Null -->
          <div class="px-3" v-if="kycStatus === null">
            <v-btn depressed block class="btn-radius box-shadow bg-primary-1 color-primary-3" @click="$router.push('/finacheck/kyc/list'); $analytics.track('KYC Continued')">Buka Rekening</v-btn>
          </div>
          <!-- Status KYC On Process -->
          <div class="px-3 text-align-center" v-else-if="kycStatus === 'PENDING' || kycStatus === 'ONPROCESS'">
            <v-card-text class="pa-0 color-primary-1 avenir-14-med">Verifikasi dalam proses</v-card-text>
            <v-card-text class="pa-0 avenir-12-reg mt-1">Silahkan menunggu, verifikasi ini membutuhkan kurang lebih 1-2 hari kerja.</v-card-text>
          </div>
          <!-- Status KYC Rejected -->
          <div class="px-3 text-align-center" v-else-if="kycStatus === 'REJECTED'">
            <v-card-text class="pa-0 color-system-error avenir-14-med">Verifikasi ditolak</v-card-text>
            <v-card-text class="pa-0 avenir-12-reg mt-1 mb-3">{{ kycRemark }}</v-card-text>
            <v-btn depressed block class="btn-radius box-shadow bg-primary-1 color-primary-3" @click="$router.push('/finacheck/kyc/list'); $analytics.track('KYC Continued')">Perbaiki Data</v-btn>
          </div>
          <!-- Status KYC Completed -->
          <div class="px-3" v-else-if="kycStatus === 'COMPLETED'">
            <v-btn depressed block class="btn-radius box-shadow bg-primary-1 color-primary-3" @click="setStatusCardKyc()">Selesai</v-btn>
          </div>
        </v-card>

        <v-layout row align-center justify-space-between mx-3 mt-4 mb-2>
          <v-card-text class="pa-0 color-secondary-5 avenir-12-reg">Total LifePlan : {{ lifeplans.length }}</v-card-text>
          <v-card-text class="pa-0 color-secondary-5 avenir-12-reg text-align-right">Nilai per {{ dateFormat(displayDate, 'DD MMM YYYY') }}</v-card-text>
        </v-layout>
        <!-- Cards -->
        <div v-for="(lifeplan, indexLifeplan) in lifeplans" :key="indexLifeplan">
          <reusable-cards
            :card-description="lifeplan.duration + ' tahun lagi'"
            :card-title="lifeplan.subtype ? capitalizeWord(lifeplan.subtype) : capitalizeWord(lifeplan.type)"
            :with-menu="true"
            :with-progress="true"
            :progress-data="Math.round((lifeplan.current / lifeplan.futurevalue) * 100)"
            :section-datas="cardSectionData[indexLifeplan]"
            button-name="Tabungan"
            button-icon="add"
            class-button="mt-4"
            button-icon-class="mr-2 pa-0"
            @button-function="routePerLifeplan(lifeplan.targetid, lifeplan)"
            @section-title-function="dialogInfo()"
          >
            <!-- Image Slot In Reusable Cards -->
            <div slot="title-layout-image">
              <reusable-image-lifeplan :type="lifeplan.type" class="mr-2"></reusable-image-lifeplan>
            </div>
            <!-- Menu Slot In Reusable Cards -->
            <div slot="menu-items">
              <v-list>
                <!-- Edit Lifeplan -->
                <v-list-tile
                  v-if="Number(lifeplan.current) === 0 && Number(lifeplan.is_trx) === 0"
                  @click="checkTypeMenu(lifeplan.targetid, 'Edit', lifeplan.subtype ? lifeplan.subtype : lifeplan.type)"
                >
                  <v-list-tile-avatar>
                    <img :src="require('@/assets/dashboard/edit.svg')" style="width: 24px; height: 24px"/>
                  </v-list-tile-avatar>
                  <v-list-tile-title>Edit</v-list-tile-title>
                </v-list-tile>
                <!-- Hapus Lifeplan -->
                <v-list-tile
                  v-if="Number(lifeplan.current) === 0 && Number(lifeplan.is_trx) === 0"
                  @click="checkTypeMenu(lifeplan.targetid, 'Hapus', lifeplan.subtype ? lifeplan.subtype : lifeplan.type)"
                >
                  <v-list-tile-avatar>
                    <img :src="require('@/assets//finavest/lifeplan/trash.svg')" style="width: 24px; height: 24px"/>
                  </v-list-tile-avatar>
                  <v-list-tile-title>Hapus</v-list-tile-title>
                </v-list-tile>
                <!-- Tarik tabungan Lifeplan -->
                <v-list-tile
                  v-else
                  @click="checkTypeMenu(lifeplan.targetid, 'Tarik Tabungan', lifeplan.subtype ? lifeplan.subtype : lifeplan.type, Number(lifeplan.is_trx), Number(lifeplan.current))"
                >
                  <v-list-tile-avatar>
                    <img :src="require('@/assets/dashboard/pull.svg')" style="width: 24px; height: 24px"/>
                  </v-list-tile-avatar>
                  <v-list-tile-title>Tarik Tabungan</v-list-tile-title>
                </v-list-tile>
              </v-list>
            </div>
          </reusable-cards>
        </div>
        <v-btn id="button-add" block depressed @click.native="$router.push('/finavest/lifeplan/add/edit')" class="py-2 card-radius bg-primary-3 box-shadow color-primary-1" style="margin-top: 4px !important">
          <v-spacer></v-spacer>
          <v-icon small class="mr-2">add</v-icon>
            Tambah Lifeplan
          <v-spacer></v-spacer>
        </v-btn>
      </v-layout>
    </v-container>
    <!-- Dialog Hapus -->
    <reusable-dialogs
      v-model="dialog.dialogDelete"
      :title="dialog.title"
      description="Hapus jika memang kamu tidak membutuhkannya"
      :image="dialog.img"
      :is-image-above-title="true"
      :resize-image="true"
    >
      <div slot="layout-button" style="width: 100%;">
        <v-layout row class="px-3 pt-3 pb-3">
          <v-flex xs6 mr-2>
              <v-btn block small class="btn-radius box-shadow bg-primary-3 color-primary-1" @click.native="dialog.dialogDelete = false" depressed>
                  Batal
              </v-btn>
          </v-flex>
          <v-flex xs6 ml-2>
              <v-btn block small color="primary" class="btn-radius box-shadow" depressed @click="deleteLifeplan(dialog.dialogLifeplanId)">
                  Hapus
              </v-btn>
          </v-flex>
        </v-layout>
      </div>
    </reusable-dialogs>
    <!-- Dialog Error -->
    <reusable-dialogs
      v-model="dialog.isOpen"
      :resize-image="true"
      description="Kamu tidak dapat menghapus lifeplan ini"
    >
    </reusable-dialogs>
    <!-- Dialog Information -->
    <reusable-dialogs
      v-model="dialog.dialogInfo"
      title="Nilai Masa Depan"
      description="Merupakan biaya LifePlan kamu di masa depan dengan penambahan kemungkinan nilai inflasi selama periode kamu mencapai LifePlan."
      :with-button="true"
    ></reusable-dialogs>
    <!-- Dialog Information -->
    <reusable-dialogs
      v-model="dialog.dialogOnProgress"
      title="Tidak Dapat Tarik Tabungan"
      description="Terdapat transaksi yang masih dalam proses"
      :with-button="true"
    ></reusable-dialogs>
  </div>
</div>
</template>
<script>
// Import Vuetify
import {
  VList,
  VListTile,
  VListTileTitle,
  VListTileAvatar,
  VListTileContent,
  VListTileAction,
  VListTileSubTitle,
  VStepper,
  VStepperHeader,
  VStepperStep,
  VDivider,
  VSpacer
} from 'vuetify/lib'
// Import function from helpers.js
import { capitalizeWord, numberingNumber, dateFormat, checkFeatures } from '@/services/Helpers'
import Api from '@/services/Api'
// Import reusable components
const ReusableCards = () => import('../../reusable/ReusableCards.vue')
const ReusableImageLifeplan = () => import('../../reusable/ReusableImageLifeplan.vue')
const Banner = () => import('../../others/Banner.vue')

export default {
  name: 'FinavestLifeplanMain',
  components: {
    Banner,
    VList,
    VListTile,
    VListTileTitle,
    VListTileAvatar,
    VListTileContent,
    VListTileAction,
    VListTileSubTitle,
    VStepper,
    VStepperHeader,
    VStepperStep,
    VDivider,
    VSpacer,
    ReusableCards,
    ReusableImageLifeplan
  },
  props: {
    lifeplans: {
      type: Array
    },
    kycStatus: {
      type: String || null
    },
    kycRemark: {
      type: String || null
    },
    kycCardStatus: {
      type: String || null,
      default: null
    }
  },
  data () {
    return {
      dialog: {
        isOpen: false,
        title: '',
        desc: '',
        dialogLifeplanId: '',
        dialogDelete: false,
        dialogInfo: false,
        dialogOnProgress: false
      },
      displayDate: new Date(),
      cardSectionData: [],
      kycCardStatusChild: this.kycCardStatus,
      hasTrx: 0
    }
  },
  computed: {
    sumRegularInvestment: function () {
      return this.lifeplans.map(lifeplan => Number(lifeplan.current)).reduce((prev, next) => prev + next)
    }
  },
  methods: {
    capitalizeWord,
    numberingNumber,
    dateFormat,
    checkFeatures,
    checkTransaction () {
      var lifeplan = this.lifeplans
      var transaction = 0
      lifeplan.map((element) => {
        transaction += element.is_trx
      })
      this.hasTrx = transaction
    },
    trackPage () {
      this.$analytics.track('Lifeplan Dashboard Viewed')
    },
    setCardSectionData (item) {
      var transformedForProps = []
      for (var i = 0; i < item.length; i++) {
        transformedForProps = [
          {
            title: 'Nilai Masa Depan',
            item: 'Rp ' + this.numberingNumber(item[i].futurevalue),
            classItem: 'avenir-14-reg',
            classTitle: 'center-vert',
            withButton: true
          },
          {
            title: 'Terkumpul',
            item: 'Rp ' + this.numberingNumber(item[i].current, true)
          },
          {
            title: 'Rekomendasi Menabung',
            item: 'Rp ' + this.numberingNumber(item[i].regularinvestment) + '/bln',
            classTitle: 'mt-4',
            classItem: 'color-system-info avenir-14-med mb-1'
          }
        ]
        this.cardSectionData.push(transformedForProps)
      }
    },
    routeToAllLifeplan () {
      this.$router.push('/finavest/investment/buy/buy_investment/all')
    },
    // route buy lifeplan
    routeToBuyLifeplan (id, lifeplan) {
      this.$router.push('/finavest/investment/buy/buy_investment/' + Number(id) + '/new')
      this.trackAddInvest(lifeplan)
    },
    trackAddInvest (lifeplan) {
      this.$analytics.track('Investment Added', {
        lifeplan_type: lifeplan.type,
        progress_percentage: Math.round((lifeplan.current / lifeplan.futurevalue) * 100),
        regular_investment: Number(lifeplan.regularinvestment),
        duration: Number(lifeplan.duration),
        page_source: 'Dashboard'
      })
    },
    dialogDelete (title, id) {
      this.dialog.dialogDelete = true
      this.dialog.dialogLifeplanId = id
      this.dialog.title = 'Hapus Lifeplan ' + capitalizeWord(title)
    },
    dialogInfo () {
      this.dialog.dialogInfo = true
    },
    checkTypeMenu (id, type, lifeplanName, trxStatus, current) {
      if (type === 'Edit') {
        this.$router.push('/finavest/lifeplan/edit/' + id + '/' + true + '/' + false)
      } else if (type === 'Hapus') {
        this.dialogDelete(lifeplanName, id)
      } else {
        if (trxStatus === 1 && current === 0) {
          this.dialog.dialogOnProgress = true
        } else {
          this.$router.push('/finavest/investment/sell/sell_list/' + id)
        }
      }
    },
    deleteLifeplan (id) {
      Api('finavest/lifeplan/target/delete', {
        targetid: id
      }).then((res) => {
        this.dialog.dialogDelete = false
        window.location.reload(true)
      }).catch(() => {
        this.dialog.isOpen = true
      })
    },
    setStatusCardKyc () {
      this.kycCardStatusChild = 1
      localStorage.setItem('halofina-kyc-card', 1)
    }
  },
  created () {
    this.trackPage()
    this.setCardSectionData(this.lifeplans)
    this.checkTransaction()
    this.getStatusCardKyc()
  }
}
</script>
<style lang="sass">
  .finavest-lifeplan-dashboard
    background-color: #F6F6F7

    .divider
      position: absolute
      width: 70%
      height: 1px
      background-color: black
      opacity: 0.04
      top: 16%
      left: 50%
      transform: translateX(-50%)
    
    .span-badge
      position: relative 
      display: inline-block
      border-radius: 100%
      width: 28px
      height: 28px
      padding-top: 3px
      background-color: #42A5F5
      text-align: center

    .blank
      width: 100%
      height: 50px
      background-color: white

    .con-total
      padding: 18px 28px
      position: fixed
      width: 100%
      z-index: 4
      border-bottom-left-radius: 12px
      border-bottom-right-radius: 12px

    .v-progress-linear
      border-radius: 4px

    .v-progress-linear__bar
      background: #E9ECF0

    .v-progress-linear__bar__determinate
      border-radius: 8px
      background: linear-gradient(to right, #4197EF, #61C3FF) !important

</style>
