<template>
    <div class="finavest-lifeplan-detail bg-primary-3">
        <reusable-toolbar page-name="Rekomendasi Investasi" route="/finavest/lifeplan/template" route-edit="/finavest/lifeplan/template/edit" :edit="editroute === 'edit' ? true : false"></reusable-toolbar>
        <v-container class="pa-0 toolbar-margin">
            <v-layout column>
                <v-flex class="nexa-14-bold ml-2 my-3 text-align-center">
                    Berikut saran tabungan bulanan kamu
                </v-flex>
            </v-layout>
            <!-- Detail Layout -->
            <v-layout row pa-3 class="bg-primary-4">
                <v-expansion-panel>
                  <v-expansion-panel-content expand-icon="arrow_drop_down" class="recommendation-detail box-shadow" v-for="invest in invests" :key="invest.id" v-if="invest.duration > 0">
                      <div slot="header" @click="trackDropdown(invest.type)">
                          <v-layout row>
                              <v-flex style="margin: auto">
                                  <reusable-image-lifeplan :type="invest.type"></reusable-image-lifeplan>
                              </v-flex>
                              <v-flex xs10>
                                  <div class="nexa-14-bold text-capitalize">{{ invest.goal }}</div>
                                  <div class="avenir-14-reg">Rp {{ numberingNumber(invest.regularinvestment) }} Per Bulan</div>
                              </v-flex>
                          </v-layout>
                      </div>
                      <v-card-text class="bg-primary-3 pt-0" style="border-radius: 12px">
                          <v-layout column v-for="recommendation in invest.portfolio" :key="recommendation.id">
                              <div class="ml-2" v-if="recommendation.ri !== 0">
                                  <v-layout row py-2 ml-2 pl-1 align-center>
                                      <reusable-image-asset :type="recommendation.asset" style-image="width: 24px; height: 24px" class="mr-2"></reusable-image-asset>
                                      <v-layout column>
                                          <v-flex class="avenir-12-reg" v-if="recommendation.asset === 'Reksadana Saham'">
                                              Saham
                                          </v-flex>
                                          <v-flex class="avenir-12-reg" v-if="recommendation.asset === 'Reksadana Pendapatan Tetap'">
                                              Pendapatan Tetap
                                          </v-flex>
                                          <v-flex class="avenir-12-reg" v-if="recommendation.asset === 'Reksadana Pasar Uang'">
                                              Pasar Uang
                                          </v-flex>
                                          <v-flex class="avenir-12-reg" v-if="recommendation.asset === 'Reksadana Campuran'">
                                              Campuran
                                          </v-flex>
                                          <v-flex class="avenir-12-reg" v-if="recommendation.asset === 'Emas'">
                                              Emas
                                          </v-flex>
                                          <v-flex class="avenir-12-med">
                                              Rp {{ numberingNumber(recommendation.ri) }} / bulan
                                          </v-flex>
                                      </v-layout>
                                  </v-layout>
                              </div>
                          </v-layout>
                      </v-card-text>
                  </v-expansion-panel-content>
                </v-expansion-panel>
            </v-layout>
            <!-- Total Layout -->
            <v-layout column class="text-align-center" pa-3>
              <v-card-text class="pa-0 avenir-12-reg">Total Nabung Per Bulan</v-card-text>
              <v-card-text class="pa-0 nexa-20-bold">Rp {{numberingNumber(total)}}</v-card-text>
            </v-layout>
            <!-- Disclaimer Layout -->
            <v-layout column pa-3>
              <v-card-text class="pa-0 avenir-12-med">Disclaimer</v-card-text>
              <v-card-text class="pa-0 avenir-12-reg">Nilai tabungan investasi bulanan dapat berubah sewaktu -waktu, tergantung pada besaran inflasi, kinerja harga produk yang dipilih, serta rutinitas menabung kamu.</v-card-text>
              <!-- Button -->
              <br />
              <v-btn color="primary" depressed class="py-2 btn-radius box-shadow" block @click="submit()">Saya Mengerti</v-btn>
            </v-layout>
        </v-container>
        <!-- Reusable Dialog Error -->
        <v-dialog v-model="dialogerror" hide-overlay transition="dialog-bottom-transition">
          <v-card>
            <v-toolbar flat class="px-3">
              <v-toolbar-title class="black--text">Error</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-btn icon @click.native="dialogerror = false">
                <v-icon dark>close</v-icon>
              </v-btn>
            </v-toolbar>
              <v-layout column justify-center align-center>
                <v-card-text class="avenir-16-med text-align-center">
                  Maaf ada kesalahan dalam jaringan.
                </v-card-text>
              </v-layout>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import {
  VExpansionPanel,
  VExpansionPanelContent,
  VToolbar,
  VToolbarTitle,
  VSpacer,
  VDialog
} from 'vuetify/lib'
import Api from '@/services/Api'
import { numberingNumber, capitalizeWord, goToDashboard } from '@/services/Helpers'
import ReusableImageLifeplan from '@/components/reusable/ReusableImageLifeplan'
import ReusableImageAsset from '@/components/reusable/ReusableImageAsset'

export default {
  name: 'FinavestLifeplanDetail',
  components: {
    VExpansionPanel,
    VExpansionPanelContent,
    VToolbar,
    VToolbarTitle,
    VSpacer,
    VDialog,
    ReusableImageLifeplan,
    ReusableImageAsset
  },
  data () {
    return {
      money: {
        thousands: '.',
        precision: 0,
        masked: false,
        prefix: 'Rp'
      },
      dialogerror: false,
      invests: [],
      invest: 0,
      editroute: false,
      total: 0
    }
  },
  created () {
    localStorage.setItem('halofina-route', '/finavest/lifeplan/recommendation')
    this.editroute = this.$route.params.id
    this.fetchData()
  },
  methods: {
    numberingNumber,
    capitalizeWord,
    fetchData () {
      Api('finavest/lifeplan/target/user', {
      }).then((res) => {
        let saving = parseInt(localStorage.getItem('halofina-saving-profile'))
        let regular = 0
        let rdtetap = 0
        let rduang = 0
        let emas = 0
        let rdcampuran = 0
        let rdsaham = 0
        for (let indexLifeplan = 0; indexLifeplan < res.d.length; indexLifeplan++) {
          if (res.d[indexLifeplan].regularinvestment !== null) {
            regular += parseInt(res.d[indexLifeplan].regularinvestment)
            for (let indexPortfolio = 0; indexPortfolio < res.d[indexLifeplan].portfolio.length; indexPortfolio++) {
              if (res.d[indexLifeplan].portfolio[indexPortfolio].asset === 'Reksadana Pasar Uang') {
                rduang += parseInt(res.d[indexLifeplan].portfolio[indexPortfolio].ri)
              } else if (res.d[indexLifeplan].portfolio[indexPortfolio].asset === 'Reksadana Pendapatan Tetap') {
                rdtetap += parseInt(res.d[indexLifeplan].portfolio[indexPortfolio].ri)
              } else if (res.d[indexLifeplan].portfolio[indexPortfolio].asset === 'Reksadana Campuran') {
                rdcampuran += parseInt(res.d[indexLifeplan].portfolio[indexPortfolio].ri)
              } else if (res.d[indexLifeplan].portfolio[indexPortfolio].asset === 'Emas') {
                emas += parseInt(res.d[indexLifeplan].portfolio[indexPortfolio].ri)
              } else if (res.d[indexLifeplan].portfolio[indexPortfolio].asset === 'Reksadana Saham') {
                rdsaham += parseInt(res.d[indexLifeplan].portfolio[indexPortfolio].ri)
              }
            }
          }
        }

        let percentage = 1
        if (regular > saving) {
          percentage = saving / regular
        }

        this.saving = saving
        this.total = regular
        this.invest = percentage * regular
        this.rduang = percentage * rduang
        this.rdsaham = percentage * rdsaham
        this.rdcampuran = percentage * rdcampuran
        this.rdtetap = percentage * rdtetap
        this.emas = percentage * emas
        this.loadingDone = true

        this.totalPercentage = Math.round((this.emas / this.invest) * 100) + Math.round((this.rdsaham / this.invest) * 100) + Math.round((this.rdtetap / this.invest) * 100) + Math.round((this.rduang / this.invest) * 100) + Math.round((this.rdcampuran / this.invest) * 100)
        this.setTarget(res.d)
      }).catch(() => {
        this.dialogerror = true
      })
    },
    setTarget (item) {
      let invest = {}
      for (let i = 0; i < item.length; i++) {
        invest = {
          type: item[i].type,
          goal: item[i].subtype ? item[i].subtype : item[i].type,
          duration: item[i].duration,
          regularinvestment: item[i].regularinvestment,
          futurevalue: item[i].futurevalue,
          portfolio: item[i].portfolio
        }
        this.invests.push(invest)
      }
    },
    submit () {
      this.trackButtonUnderstand()
      goToDashboard('lifeplan', 'replace')
      localStorage.setItem('halofina-emas-disclaimer', 1)
      localStorage.setItem('halofina-has-password', 1)
    },
    trackButtonUnderstand () {
      this.$analytics.track('Investment Recommendation Received')
    },
    trackDropdown (lifeplanType) {
      this.$analytics.track('Investment Recommendation Dropdowned', {
        lifeplan_type: lifeplanType
      })
    }
  }
}
</script>

<style lang="sass">
    .finavest-lifeplan-detail
      li.recommendation-detail .v-expansion-panel__header
        height: 70px
      .v-expansion-panel
        box-shadow: none
      .v-expansion-panel__container
        margin-bottom: 12px
        border-radius: 12px
</style>
