<template>
  <div class="finapedia-course-lesson" style="background-color: white">
    <!-- ReusableToolbar -->
    <reusable-toolbar :page-name="lesson.course_title" :route="'/finapedia/course/section/' + courseid"></reusable-toolbar>

    <div class="mt-2 toolbar-margin">
      <v-layout row wrap v-if="lesson.type=='video'">
        <v-flex xs12>
          <video :src="lesson.url" class="responsive" allowfullscreen frameborder=0 controls controlsList="nodownload" />
        </v-flex>
        <v-flex xs12 lg5>
          <v-expansion-panel expand v-model="panel">
            <v-expansion-panel-content>
              <div slot="header">
                <v-layout row justify-center align-center>
                  <img :src="lesson.author_picture" style="border-radius: 100%; width: 32px; height: 32px" class="mr-3"/>
                  <v-layout column>
                    <div class="avenir-16-med">{{lesson.title}}</div>
                    <div class="subtitle">
                      <span class="author avenir-14-reg">oleh {{lesson.author_name}}</span>
                    </div>
                  </v-layout>
                </v-layout>
              </div>
              <v-tabs centered slider-color="black" grow>
                <v-tab>
                  Penjelasan
                </v-tab>
                <v-tab>
                  Playlist
                </v-tab>
                  <v-tab-item>
                    <v-card>
                      <v-card-text v-if="lesson.summary">{{lesson.summary}}</v-card-text>
                      <br v-if="lesson.summary"/>
                      <v-card-text>{{lesson.description}}</v-card-text>
                    </v-card>
                  </v-tab-item>
                  <v-tab-item>
                    <v-card>
                      <v-layout row wrap v-for="section in section.section" :key="section.id" class="py-0">
                        <v-flex mb-3>
                          <div class="avenir-16-med ml-3">{{ section.title }}</div>
                          <v-card flat class="card-border card-radius">
                            <v-card-text class="py-0">
                              <v-list>
                                <v-list-tile v-for="lesson in section.lesson" :key="lesson.id">
                                  <v-icon :class="lesson.lessonid === lessonid ? 'color-primary-1' : ''" @click="lessonsroute(lesson.lessonid)" v-if="lesson.type == 'video'">play_circle_filled</v-icon>
                                  <v-list-tile-content class="ml-2">
                                    <v-list-tile-title :class="lesson.lessonid === lessonid ? 'color-primary-1' : ''" @click="lessonsroute(lesson.lessonid)"> {{ (lesson.title + '').length &lt; 35 ? lesson.title : trimString(lesson.title, 35) }}</v-list-tile-title>
                                  </v-list-tile-content>
                                </v-list-tile>
                              </v-list>
                            </v-card-text>
                          </v-card>
                        </v-flex>
                      </v-layout>
                    </v-card>
                  </v-tab-item>
              </v-tabs>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-flex>
      </v-layout>
      <v-dialog
              v-model="dialog.isopen"
              transition="dialog-bottom-transition"
              scrollable
      >
          <v-card tile>
              <v-toolbar card style="background-color: white">
                  <v-toolbar-title>
                    {{dialog.title}}
                  </v-toolbar-title>
                  <v-spacer></v-spacer>
                  <v-btn icon @click.native="dialog.isopen = false">
                      <v-icon>close</v-icon>
                  </v-btn>
              </v-toolbar>
              <br />
              <v-card-text class="avenir-14-reg">
                  {{dialog.desc}}
              </v-card-text>
          </v-card>
      </v-dialog>
    </div>
  </div>
</template>
<script>
import { VList, VListTileTitle, VListTileContent, VListTile, VTab, VTabs, VTabItem, VExpansionPanelContent, VExpansionPanel, VSpacer, VToolbar, VToolbarTitle, VDialog } from 'vuetify/lib'
import Api from '@/services/Api'

export default {
  components: {
    VList, VListTileTitle, VListTileContent, VListTile, VTab, VTabs, VTabItem, VExpansionPanelContent, VExpansionPanel, VSpacer, VToolbar, VToolbarTitle, VDialog
  },
  data () {
    return {
      dialog: {
        isopen: false,
        desc: '',
        title: ''
      },
      lessonid: 0,
      lesson: [],
      section: [],
      courseid: 0,
      currentPage: 1,
      dialogerror: false,
      doneLoading: false
    }
  },
  created () {
    this.lessonid = this.$route.params.lessonid
    this.retrieveData(this.lessonid)
    this.savelastviewed()
    this.trackVideo()
  },
  methods: {
    trackVideo () {
      this.$analytics.track('Finapedia Played', {
        video_title: this.lesson.title,
        class_title: this.lesson.course_title
      })
    },
    dialogs (title, desc) {
      this.dialog.isopen = true
      this.dialog.title = title
      this.dialog.desc = desc
    },
    trimString (string, length) {
      return string.substr(0, length) + '...'
    },
    retrieveData (id) {
      this.lessonid = id
      Api('finapedia/lesson/retrieve', {
        lessonid: id
      }).then((res) => {
        this.lesson = res.d
        this.fetchData(res.d.courseid)
        document.body.scrollTop = 0
        document.documentElement.scrollTop = 0
        if (this.lesson.type === 'file') { this.renderPDF() }
      }).catch((err) => {
        this.dialogs('Ada kesalahan', err.m)
      })
    },
    fetchData (id) {
      this.courseid = id
      Api('finapedia/section/list', {
        courseid: id
      }).then((res) => {
        this.section = res.d
      }).catch((err) => {
        this.dialogs('Ada kesalahan', err.m)
      })
    },
    savelastviewed () {
      Api('finapedia/course/analytics', {
        lessonid: this.lessonid
      }).catch((err) => {
        this.dialogs('Ada kesalahan', err.m)
      })
    },
    back () {
      if (this.currentPage === 1) { return }
      this.currentPage = this.currentPage - 1
    },
    next () {
      if (this.currentPage === this.pdfFile.numPages) { return }
      this.currentPage = this.currentPage + 1
      this.doneLoading = true
    },
    lessonsroute (id) {
      this.retrieveData(id)
      this.$router.push('/finapedia/course/lesson/' + id)
    }
  }
}
</script>

<style>
  .loading{
    position: absolute;
    display: flex;
    width: -webkit-fill-available;
    height: 30vh;
    justify-content: center;
    align-items: center;
  }
  .finapedia-course-lesson .v-expansion-panel__header{
    height: auto;
    padding: 10px 24px;
  }
  .finapedia-course-lesson .v-expansion-panel{
    box-shadow: none
  }
  .author{
    color: gray;
  }
  .responsive {
    width: 100%;
    height: auto;
  }
</style>
