<template>
  <div class="financial-course-section" style="background-color: white; height: 100vh" v-if="dataLoaded">
    <!-- ReusableToolbar -->
    <reusable-toolbar :page-name="section.course.title"></reusable-toolbar>

    <v-toolbar flat fixed>
      <v-btn icon @click="$router.push('/finapedia/dashboard'); $analytics.track('Go Back')">
        <v-icon>arrow_back</v-icon>
      </v-btn>
      <v-toolbar-title class="avenir-16-reg">
        {{ section.course.title }}
      </v-toolbar-title>
    </v-toolbar>
    <v-container class="pa-0 toolbar-margin">
      <v-layout align-center>
        <img width="100%" :src="section.course.image"/>
      </v-layout>
      <v-layout align-center class="pa-3">
        <v-flex class="text-xs-right" mb-3>
          <div class="nexa-16-bold">
            oleh {{ section.course.author }}
          </div>
        </v-flex>
      </v-layout>
      <v-layout row wrap v-for="section in section.section" :key="section.id" class="py-0">
        <v-flex mb-3>
          <v-expansion-panel>
            <v-expansion-panel-content>
              <div slot="header" class="avenir-16-med">{{ section.title }}</div>
              <v-card flat class="card-border card-radius">
                <v-card-text class="py-0">
                  <v-list>
                    <v-list-tile v-for="lesson in section.lesson" :key="lesson.id">
                      <v-icon v-if="lesson.type == 'video'">play_circle_filled</v-icon>
                      <v-icon v-if="lesson.type == 'file'">description</v-icon>
                      <v-icon v-if="lesson.type == 'quiz'">assignment</v-icon>
                      <v-list-tile-content>
                        <v-list-tile-title> {{ (lesson.title + '').length &lt; 25 ? lesson.title : trimString(lesson.title, 25) }}</v-list-tile-title>
                      </v-list-tile-content>
                      <v-spacer></v-spacer>
                      <router-link class="lesson-link" :to="{ name: 'Lesson', params: { lessonid: lesson.lessonid } }">
                        <v-btn icon>
                          <v-icon>keyboard_arrow_right</v-icon>
                        </v-btn>
                      </router-link>
                    </v-list-tile>
                  </v-list>
                </v-card-text>
              </v-card>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-flex>
      </v-layout>
    </v-container>
    <v-dialog
            v-model="dialog.isopen"
            transition="dialog-bottom-transition"
            scrollable
    >
        <v-card tile>
            <v-toolbar card style="background-color: white">
                <v-toolbar-title>
                  {{dialog.title}}
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon @click.native="dialog.isopen = false">
                    <v-icon>close</v-icon>
                </v-btn>
            </v-toolbar>
            <br />
            <v-card-text class="avenir-14-reg">
                {{dialog.desc}}
            </v-card-text>
        </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { VTextField, VSpacer, VToolbarTitle, VToolbar, VDialog, VListTileTitle, VListTileContent, VListTile, VExpansionPanel, VExpansionPanelContent, VList } from 'vuetify/lib'
import Api from '@/services/Api'

export default {
  components: {
    VTextField, VSpacer, VToolbarTitle, VToolbar, VDialog, VListTileTitle, VListTileContent, VListTile, VExpansionPanel, VExpansionPanelContent, VList
  },
  data () {
    return {
      dialog: {
        isopen: false,
        desc: '',
        title: ''
      },
      section: [],
      dataLoaded: false,
      dialogerror: false
    }
  },
  created () {
    this.courseid = this.$route.params.courseid
    localStorage.setItem('halofina-route', '/finapedia/course/section/' + this.courseid)
    Api('finapedia/section/list', {
      courseid: this.courseid
    }).then((res) => {
      this.dataLoaded = true
      this.section = res.d
      this.$analytics.track('Course ' + res.d.course.title + ' Page View', {
        title: 'Course ' + res.d.course.title + ' Page View'
      })
    }).catch((err) => {
      this.dialogs('Ada kesalahan', err.m)
    })
  },
  methods: {
    dialogs (title, desc) {
      this.dialog.isopen = true
      this.dialog.title = title
      this.dialog.desc = desc
    },
    trimString (string, length) {
      return string.substr(0, length) + '...'
    }
  }
}
</script>

<style>
.lesson-link {
  text-decoration: none;
}
.financial-course-section .v-expansion-panel {
  box-shadow: none
}
</style>
