<template>
    <div class="finavest-lifeplan-add bg-primary-3" :style="'min-height: ' + screenHeight + 'px'">
        <reusable-toolbar page-name="Pilih Lifeplan"></reusable-toolbar>
        <v-container class="pt-4 pb-2 bg-primary-3 toolbar-margin" style="padding-left: 20px; padding-right: 20px;">
          <v-layout row align-center justify-space-between mb-3 class="card-radius-new" @click="chooseLifeplan(item.type)" v-for="(item, index) in items" :key="index" py-2 pl-3 pr-2 :style="'background-color: ' + item.bgColor">
            <div>
              <v-card-text class="margin-bottom-2 nexa-14-bold" :style="'color: ' + item.textColor + ' !important;'">Lifeplan {{ item.title }}</v-card-text>
              <v-card-text class="avenir-12-reg" :style="'color: ' + item.textColor + ' !important;'">{{ item.subTitle }}</v-card-text>
            </div>
            <reusable-image-lifeplan :type="item.type"></reusable-image-lifeplan>
          </v-layout>
        </v-container>
    </div>

</template>

<script>
import ReusableImageLifeplan from '@/components/reusable/ReusableImageLifeplan'

export default {
  name: 'FinavestLifeplanAdd',
  components: {
    ReusableImageLifeplan
  },
  data () {
    return {
      screenHeight: screen.height,
      items: [
        {
          title: 'Pernikahan',
          subTitle: 'Wujudkan pernikahan impianmu',
          type: 'pernikahan',
          bgColor: '#E2F2FC',
          textColor: '#3F99DD'
        },
        {
          title: 'Rumah',
          subTitle: 'Wujudkan rumah impianmu',
          type: 'rumah',
          bgColor: '#E5FBFB',
          textColor: '#27BDB1'
        },
        {
          title: 'Pendidikan',
          subTitle: 'Wujudkan pendidikanmu',
          type: 'pendidikan',
          bgColor: '#ECFCF0',
          textColor: '#22C34F'
        },
        {
          title: 'Kendaraan',
          subTitle: 'Wujudkan kendaraan impianmu',
          type: 'mobil',
          bgColor: '#FFF2F2',
          textColor: '#FF4E4E'
        },
        {
          title: 'Perjalanan Ibadah',
          subTitle: 'Wujudkan perjalanan ibadahmu',
          type: 'haji',
          bgColor: '#FFF1E7',
          textColor: '#FF8731'
        },
        {
          title: 'Dana Pensiun',
          subTitle: 'Siapkan hari tuamu',
          type: 'pensiun',
          bgColor: '#FCEDE7',
          textColor: '#E34624'
        },
        {
          title: 'Liburan',
          subTitle: 'Rencanakan liburanmu',
          type: 'liburan',
          bgColor: '#E7E4F9',
          textColor: '#8175CE'
        },
        {
          title: 'Lainnya',
          subTitle: 'Wujudkan apapun yang kamu mau',
          type: 'lainnya',
          bgColor: '#F1F4FD',
          textColor: '#6477EA'
        }
      ],
      edit: ''
    }
  },
  created () {
    this.edit = this.$route.params.id
    this.setRoute()
    localStorage.removeItem('halofina-lifeplan')
  },
  methods: {
    chooseLifeplan (type) {
      this.$router.push('/finavest/new/lifeplan/edit/' + type + '/' + true)
    }
  }
}
</script>
<style lang="sass">
  .finavest-lifeplan-add
    *
      padding: 0
      margin: 0

    .v-image
      width: 66px !important
      height: 66px !important

    .toolbar-margin
      margin-top: 48px !important

    .margin-bottom-2
      margin-bottom: 2px !important

</style>
