<template>
  <div class="adjust-lifeplan bg-primary-3 px-4" :style="'min-height: ' + screenHeight + 'px;'">
    <reusable-toolbar page-name="Sesuaikan Lifeplan" />
    <v-layout column justify-start class="margin-toolbar" pt-5>
      <img src="@/assets/finavest/lifeplan/v3/hero-adjust.svg" alt="hero adjust" class="pb-4 img-hero-fina">
      <v-card-text class="nexa-18-bold color-text-2" style="padding-bottom: 36px;">
        Dengan sisa kemampuan nabung Rp<span class="color-primary">{{numberingNumber(remains)}}/bln</span>, maka target lifeplan menjadi
      </v-card-text>
    </v-layout>

    <!-- v bottom sheet price -->
    <!-- <v-bottom-sheet v-model="bottomDescMessage.price"> -->
    <v-layout column class="bg-primary-3">
      <div class="wrap-card-bottom-sheet">
        <!-- target waktu -->
        <v-layout class="wrap-card" mb-3 align-center>
          <img src="@/assets/finavest/lifeplan/v3/icon-celendar-blue.svg" class="img-left pr-3" alt="icon calendar">
          <div class="desc">
            <div class="title-card avenir-12-reg text-color-blue-vbottom">
              Target Waktu
            </div>
            <div class="tgl avenir-16-reg-medium text-color-blue-vbottom" v-if="isLoaded === true">
              {{ lifeplan.targetTime }}
            </div>
            <div v-else>
              <reusable-loading></reusable-loading>
            </div>
          </div>
          <button class="button-prioritas avenir-12-reg">Prioritas</button>
        </v-layout>

        <!-- target harga -->
        <v-layout class="wrap-card" align-center>
          <img src="@/assets/finavest/lifeplan/v3/icon-dollar-blue.svg" class="img-left pr-3" alt="icon dollar">
          <div class="desc">
            <div class="title-card avenir-12-reg text-color-blue-vbottom">
              Target Biaya
            </div>
            <div class="tgl avenir-16-reg text-color-blue-vbottom" v-if="isLoaded === true">
              Rp {{ numberingNumber(futureValue) }}
            </div>
            <div v-else>
              <reusable-loading></reusable-loading>
            </div>
          </div>
          <reusable-image-lifeplan
            :type="lifeplan.type"
            :style-image="'position: absolute; right: 5px; bottom: 0; width: 80px; height: 80px;'"
          ></reusable-image-lifeplan>
        </v-layout>
      </div>

      <v-layout row mt-3>
        <v-flex xs6 class="pr-2">
          <button class="btn-change" @click="$router.go(-1)">Batal</button>
        </v-flex>
        <v-flex xs6 class="pl-2">
          <button class="btn-agree" @click="submitData()" :disabled="!isLoaded">Setuju</button>
        </v-flex>
      </v-layout>
    </v-layout>
    <!-- </v-bottom-sheet> -->
    <v-snackbar v-model="snackbar" :timeout="1000">
      <div class="ml-3">Lifeplan berhasil sesuaikan</div>
    </v-snackbar>
  </div>
</template>
<script>
import Api from '@/services/Api'
import ApiGet from '@/services/ApiGet'
import ReusableImageLifeplan from '@/components/reusable/ReusableImageLifeplan'
import { numberingNumber } from '@/services/Helpers'

import {
  VBottomSheet,
  VSnackbar
} from 'vuetify/lib'

export default {
  components: {
    VBottomSheet,
    VSnackbar,
    ReusableImageLifeplan
  },
  data () {
    return {
      screenHeight: screen.height - 48,
      bottomDescMessage: {
        time: false,
        price: false
      },
      lifeplan: {
        type: '',
        targetTime: '',
        amount: 0,
        lifeplanData: {}
      },
      id: 0,
      remains: 0,
      futureValue: 0,
      rec: {},
      yearBirth: 0,
      lifeplanTotal: {},
      snackbar: false,
      isLoaded: false,
      targetsActiveNew: [],
      targetsNoActiveNew: [],
      dialog: {
        dialogError: false
      }
    }
  },
  methods: {
    numberingNumber,
    getDuration (dateTarget, dateNow) {
      let months
      months = (dateTarget - dateNow) * 12
      return months
    },
    getRemains () {
      this.remains = localStorage.getItem('halofina-remains')
    },
    getRegularInvest () {
      this.lifeplanTotal = JSON.parse(localStorage.getItem('halofina-regular-invest'))
    },
    getRiskProfile () {
      const id = this.$route.params.lifeplanId
      this.id = id
      Api('finacheck/rpa/user', {})
        .then((res) => {
          this.riskProfile = res.d.riskid
          this.getDetailData(id)
        })
        .catch(() => {
          this.isLoaded = true
          this.dialog.dialogError = true
        })
    },
    getDetailData (id) {
      ApiGet('finavest/v1/lifeplan/account/' + id, {})
        .then((res) => {
          this.lifeplan.targetTime = res.d.target_time.substr(0, 4)
          this.lifeplan.type = res.d.type
          this.lifeplan.lifeplanData = res.d
          this.getRecommendations(res)
        })
        .catch(() => {
          this.isLoaded = true
          this.dialog.dialogError = true
        })
    },
    getRecommendations (res) {
      let yearNow = new Date().getFullYear()
      let existingAssets = {}
      let duration = this.getDuration(Number(this.lifeplan.targetTime), yearNow)
      if (res.d.asset) existingAssets = res.d.asset
      Api('finavest/v1/recommendation', {
        id_risk_profile: Number(this.riskProfile),
        current_age: res.d.detail ? res.d.detail.current_age : 0,
        retirement_age: res.d.detail ? res.d.detail.retirement_age : 0,
        duration: duration,
        inflation: Number(res.d.inflation),
        current_cost: this.lifeplan.type === 'RETIREMENT' ? Number(this.remains) : (Number(this.remains) * 0.7) * duration,
        type: res.d.type,
        asset: existingAssets
      }, true)
        .then((res) => {
          this.futureValue = res.d.future_cost
          this.rec = res.d
          this.isLoaded = true
          this.fetchLifeplanList()
        })
        .catch(() => {
          this.isLoaded = true
          this.dialog.dialogError = true
        })
    },
    fetchLifeplanList () {
      ApiGet('finavest/v1/lifeplan/account', {
      }).then((res) => {
        this.setPriorityLifeplan(res.d)
      }).catch(() => {
        this.isLoaded = true
      })
    },
    setPriorityLifeplan (value) {
      let dataSort
      dataSort = value.sort((a, b) => parseFloat(a.priority_number) - parseFloat(b.priority_number))

      dataSort.forEach(element => {
        if (element.is_priority === true) {
          this.setTargetActive(element)
        } else {
          this.setTargetNoActive(element)
        }
      })
    },
    setTargetActive (item) {
      let targetActiveNew = []
      let bgColorVar
      let textColorVar
      switch (item.type) {
        case 'MARRIAGE':
          bgColorVar = '#E2F2FC'
          textColorVar = '#3F99DD'
          break
        case 'PROPERTY':
          bgColorVar = '#E5FBFB'
          textColorVar = '#27BDB1'
          break
        case 'EDUCATION':
          bgColorVar = '#ECFCF0'
          textColorVar = '#22C34F'
          break
        case 'VEHICLE':
          bgColorVar = '#FFF2F2'
          textColorVar = '#FF4E4E'
          break
        case 'PILGRIMAGE':
          bgColorVar = '#FFF1E7'
          textColorVar = '#FF8731'
          break
        case 'RETIREMENT':
          bgColorVar = '#FCEDE7'
          textColorVar = '#E34624'
          break
        case 'CAR':
          bgColorVar = '#FFF2F2'
          textColorVar = '#FF4E4E'
          break
        case 'VACATION':
          bgColorVar = '#E7E4F9'
          textColorVar = '#8175CE'
          break
        case 'ETC':
          bgColorVar = '#F1F4FD'
          textColorVar = '#6477EA'
          break
        case 'campaign':
          bgColorVar = '#F1F4FD'
          textColorVar = '#6477EA'
          break
        case 'halofina':
          bgColorVar = '#F1F4FD'
          textColorVar = '#6477EA'
          break
      }
      targetActiveNew = {
        id: item.id,
        bgColor: bgColorVar,
        textColor: textColorVar,
        type: item.type,
        subtype: item.title,
        futurevalue: item.regular_investment,
        year: item.target_time,
        is_priority: item.is_priority === true || false,
        priority_number: item.priority_number
      }
      this.targetsActiveNew.push(targetActiveNew)
      // this.isLoaded = true
    },
    setTargetNoActive (item) {
      let targetNoActiveNew = []
      let bgColorVar
      let textColorVar
      switch (item.type) {
        case 'MARRIAGE':
          bgColorVar = '#E2F2FC'
          textColorVar = '#3F99DD'
          break
        case 'PROPERTY':
          bgColorVar = '#E5FBFB'
          textColorVar = '#27BDB1'
          break
        case 'EDUCATION':
          bgColorVar = '#ECFCF0'
          textColorVar = '#22C34F'
          break
        case 'VEHICLE':
          bgColorVar = '#FFF2F2'
          textColorVar = '#FF4E4E'
          break
        case 'CAR':
          bgColorVar = '#FFF2F2'
          textColorVar = '#FF4E4E'
          break
        case 'PILGRIMAGE':
          bgColorVar = '#FFF1E7'
          textColorVar = '#FF8731'
          break
        case 'RETIREMENT':
          bgColorVar = '#FCEDE7'
          textColorVar = '#E34624'
          break
        case 'VACATION':
          bgColorVar = '#E7E4F9'
          textColorVar = '#8175CE'
          break
        case 'ETC':
          bgColorVar = '#F1F4FD'
          textColorVar = '#6477EA'
          break
        case 'campaign':
          bgColorVar = '#F1F4FD'
          textColorVar = '#6477EA'
          break
        case 'halofina':
          bgColorVar = '#F1F4FD'
          textColorVar = '#6477EA'
          break
      }
      targetNoActiveNew = {
        id: item.id,
        bgColor: bgColorVar,
        textColor: textColorVar,
        type: item.type,
        subtype: item.title,
        futurevalue: item.regular_investment,
        year: item.target_time,
        is_priority: item.is_priority === true || false,
        priority_number: item.priority_number
      }
      this.targetsNoActiveNew.push(targetNoActiveNew)
      // this.isLoaded = true
    },
    savePriority () {
      // AKTIF
      let dataActive = this.targetsActiveNew
      let objLifeplanActive
      let typeActive
      let isUpdated
      let arrLifeplanActive = []

      // AKTIF
      for (var i = 0; i < dataActive.length; i++) {
        if (dataActive[i].type === 'RETIREMENT') {
          typeActive = 'RETIREMENT'
        } else {
          typeActive = 'GENERAL'
        }

        if (dataActive[i].priority_number === i + 1) {
          if (dataActive[i].is_priority === false) {
            isUpdated = true
          } else {
            isUpdated = false
          }
        } else {
          isUpdated = true
        }

        // data submit active
        objLifeplanActive = {
          id: dataActive[i].id,
          name: dataActive[i].subtype,
          is_priority: true,
          type: typeActive,
          priority_number: i + 1,
          is_updated: isUpdated
        }
        arrLifeplanActive.push(objLifeplanActive)
      }
      // this.dataNoActive()
      // NO AKTIF
      let dataNoActive = this.targetsNoActiveNew
      let objLifeplanNoActive
      let arrLifeplanNoActive = []
      let typeNoActive
      let isUpdated2

      // NO AKTIF
      for (var a = 0; a < dataNoActive.length; a++) {
        // set type
        if (dataNoActive[a].type === 'RETIREMENT') {
          typeNoActive = 'RETIREMENT'
        } else {
          typeNoActive = 'GENERAL'
        }
        // set update
        if (dataNoActive[a].is_priority === true) {
          isUpdated2 = true
        } else {
          isUpdated2 = false
        }

        // data submit active
        objLifeplanNoActive = {
          id: dataNoActive[a].id,
          name: dataNoActive[a].subtype,
          is_priority: false,
          type: typeNoActive,
          priority_number: 0,
          is_updated: isUpdated2
        }
        arrLifeplanNoActive.push(objLifeplanNoActive)
      }

      // Submit API
      if (arrLifeplanActive === null || arrLifeplanActive === '' || arrLifeplanActive === []) {
        // loading
      } else {
        Api('finavest/v1/lifeplan/account/update/priority', {
          lifeplan_active: arrLifeplanActive,
          lifeplan_inactive: arrLifeplanNoActive
        }).then((res) => {
          this.snackbar = true
          setTimeout(() => {
            this.$router.push('/finavest/new/lifeplan/dashboard')
          }, 1000)
        }).catch(() => {
          this.dialog.dialogError = true
        })
      }
    },
    submitData () {
      Api('finavest/v1/lifeplan/account/update/data', {
        id: this.lifeplan.lifeplanData.id,
        type: this.lifeplan.lifeplanData.type,
        title: this.lifeplan.lifeplanData.title,
        current_cost: this.rec.current_cost,
        target_time: this.lifeplan.lifeplanData.date,
        inflation: this.lifeplan.lifeplanData.inflation,
        future_cost: this.rec.future_cost,
        target_cost: this.rec.target_cost,
        is_priority: true,
        priority_number: this.lifeplan.lifeplanData.priority_number,
        is_recommendation: true,
        is_completed: false,
        regular_investment: this.rec.regular_investment,
        planning: this.rec.composition_array,
        detail: this.rec.detail.length > 0 || null,
        asset: this.rec.asset.length > 0 || null
      })
        .then((res) => {
          this.pushAdjustDataToActive()
          this.savePriority()
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    pushAdjustDataToActive () {
      var data = this.targetsNoActiveNew
      this.targetsActiveNew.push({
        id: Number(this.id),
        bgColor: '',
        textColor: '',
        type: this.lifeplan.type,
        subtype: this.lifeplan.lifeplanData.title,
        futurevalue: this.fu,
        year: this.lifeplan.targetTime,
        is_priority: false,
        priority_number: this.targetsActiveNew.length + 1
      })
      if (data.length === 1) {
        this.targetsNoActiveNew = []
      } else {
        data.filter((obj) => {
          return obj.id !== this.id
        })
      }
    }
  },
  created () {
    this.getRemains()
    this.getRegularInvest()
    this.getRiskProfile()
  }
}
</script>
<style lang="sass">

  .btn-change,
  .btn-agree
    width: 100%
    height: 48px
    line-height: 48px
    border-radius: 4px
    font-size: 16px
    text-align: center

  .btn-change
    border: 1px solid #E8EAEF
    background: #FFFFFF
    color: #51AAF4

  .btn-agree
    background: #51AAF4
    border: none
    color: #FFFFFF

  .button-prioritas
    position: absolute
    right: 12px
    width: 71px
    height: 24px
    line-height: 24px
    color: #fff
    border: none
    outline: none
    text-align: center
    background: #51AAF4
    border-radius: 12.5px

  .text-color-blue-vbottom
    color: #3F99DD

  .wrap-card-bottom-sheet
    background: #E2F2FC
    border-radius: 8px
    padding: 20px 12px 6px 14px
    margin-bottom: 19px
    position: relative

    .wrap-card
      box-shadow: none
      background: transparent


  .adjust-lifeplan
    *
      padding: 0
      margin: 0

    .img-hero-fina
      width: 110px

    .margin-toolbar
      margin-top: 48px

    .clear
      clear: both

    .wrap-card
      position: relative
      background: transparent
      width: 100%
      border-radius: 5px
      padding: 12px 16px

      .img-left
        float: left

      .desc
        .img-left
          float: left

      .icon-right
        position: absolute
        right: 14px
        width: 20px

</style>
