<template>
  <div class="calculate-result bg-primary-3" :style="'min-height: ' + screenHeight + 'px;'" v-if="isLoaded === true">
    <reusable-toolbar page-name="Hasil Perhitungan Lifeplan"></reusable-toolbar>
    <v-layout column class="margin-toolbar pr-3 pt-2" style="padding-left: 20px">
      <v-card-text class="label nexa-16-bold pb-2">
        Rencana Investasi
      </v-card-text>
      <v-flex xs12 class="pt-3 pb-4">
        <v-card-text class="label avenir-14-reg pb-2">
          Target Waktu
        </v-card-text>
        <v-card-text class="avenir-16-reg">
          {{ dateFormat(lifeplan.date, 'MMMM - YYYY') }}
        </v-card-text>
      </v-flex>
      <v-flex xs12 class="pb-4">
        <v-card-text class="label avenir-14-reg pb-2">
          Nilai biaya saat ini
        </v-card-text>
        <!-- <v-card-text class="avenir-16-reg" v-if="lifeplan.type === 'RETIREMENT'">
          Rp {{ numberingNumber(currentCost * (rec.detail.duration_of_retirement)) }}
        </v-card-text> -->
        <v-card-text class="avenir-16-reg">
          Rp {{ numberingNumber(currentCost) }}
        </v-card-text>
      </v-flex>
      <v-flex xs12 class="pb-4">
        <v-card-text class="label avenir-14-reg pb-2">
          Aset dimiliki
        </v-card-text>
        <v-card-text class="avenir-16-reg">
          Rp {{ rec.asset ? numberingNumber(rec.asset.asset_value) : 0 }}
        </v-card-text>
      </v-flex>
    </v-layout>

    <v-divider></v-divider>
    
    <v-layout column pa-3 style="padding-left: 20px">
      <v-card-text class="label nexa-16-bold pb-2">
        Perkiraan Biaya
      </v-card-text>
      <v-flex xs12 class="pb-4 pt-3">
        <v-card-text class="label avenir-14-reg pb-2">
          Nilai biaya di masa depan
        </v-card-text>
        <v-card-text class="avenir-16-reg">
          Rp {{ numberingNumber(futureCost, true) }}
        </v-card-text>
      </v-flex>
      <v-flex xs12 class="pb-4">
        <v-card-text class="label avenir-14-reg pb-2">
          Asumsi pertumbuhan aset yang dimiliki
        </v-card-text>
        <v-card-text class="avenir-16-reg">
          Rp {{ numberingNumber(futureCost - targetCost) }}
        </v-card-text>
      </v-flex>
      <v-card flat style="background-color: #F0F7FF" class="card-radius pa-3" v-if="rec.asset">
        <v-card-text class="avenir-14-bold pb-0">Informasi</v-card-text>
        <v-card-text class="avenir-12-reg">Fina menghitung aset yang kamu miliki dengan menggunakan asumsi pertumbuhan {{ rec.asset.return_investment }}% tiap tahun</v-card-text>
      </v-card>
    </v-layout>

    <v-divider></v-divider>

    <v-layout column pa-3 style="padding-left: 20px">
      <v-flex xs12>
        <v-card-text class="nexa-16-bold pb-2">
          Target Tabungan
        </v-card-text>
      </v-flex>
      <v-flex xs12 class="pb-4 pt-3">
        <v-card-text class="label avenir-14-reg pb-2">
          Sisa yang harus dikumpulkan
        </v-card-text>
        <v-card-text class="avenir-16-med">
          Rp {{ numberingNumber(targetCost) }}
        </v-card-text>
      </v-flex>
      <v-flex xs12 class="pb-4">
        <v-card-text class="label avenir-14-reg pb-2">
          Perkiraan nabung
        </v-card-text>
        <v-card-text class="avenir-16-med">
          Rp {{ numberingNumber(regularInvest) }}/bln
        </v-card-text>
      </v-flex>
    </v-layout>

    <div style="height: 55px"></div>

    <v-btn class="btn-save avenir-16-med" @click="lifeplan.edit === true ? openDialogEdit(true) : submit()" :disabled="false">Simpan</v-btn>

    <reusable-bottom-sheet
      v-model="tooltip.open"
      :description="tooltip.desc"
    >
      Kembali
    </reusable-bottom-sheet>

    <!-- success submit -->
    <reusable-bottom-sheet
      v-model="bottomSheet"
      :image="require('@/assets/finavest/lifeplan/v3/lifeplan-hero-message.svg')"
      title="Lifeplan berhasil dibuat!"
      description="Selamat Lifeplan kamu berhasil disimpan. Rencana kamu keren banget."
    >
      <v-layout row wrap slot="button-layout" class="full-width">
        <v-flex xs12>
          <v-btn @click="$router.push('/finavest/new/lifeplan/dashboard')" class="btn-radius box-shadow nexa-16-bold" color="primary" depressed block>
            Kembali
          </v-btn>
        </v-flex>
      </v-layout>

    </reusable-bottom-sheet>

    <!-- dialog edit  -->
    <reusable-dialogs
      v-model="dialog.dialogEdit"
      :is-image-above-title="true"
      :image="require('@/assets/finavest/lifeplan/v3/edit.svg')"
      :description="null"
      :resize-image="true"
      title="Apakah kamu sudah yakin?"
    >
      <div slot="layout-button">
        <v-layout row class="px-3 pt-3 pb-3">
          <v-flex xs6 mr-1>
              <v-btn block small color="primary" outline class="btn-radius" @click.native="dialog.dialogEdit = false" depressed>
                  Batal
              </v-btn>
          </v-flex>
          <v-flex xs6 ml-1>
              <v-btn block small color="primary" class="btn-radius" depressed @click="edit()">
                  Iya
              </v-btn>
          </v-flex>
        </v-layout>
      </div>
    </reusable-dialogs>

    <!-- Dialog Loading -->
    <reusable-dialogs
      v-model="dialog.dialogLoading"
      :unclickable="true"
    >
      <div slot="layout">
        <v-card flat class="card-radius" style="width: 100%">
          <v-layout py-3 px-5 row align-center justify-center>
            <div class="nexa-14-bold px-5">Memproses...</div>
          </v-layout>
        </v-card>
      </div>
    </reusable-dialogs>

    <!-- dialog error -->
    <reusable-dialogs
      v-model="dialog.dialogError"
      :resize-image="true"
      :is-image-above-title="true"
    ></reusable-dialogs>

    <v-snackbar color="grey" v-model="snackbar" :timeout="1500">
      <div class="ml-3">Lifeplan Berhasil Diedit</div>
    </v-snackbar>

  </div>
  <div v-else>
    <v-layout class="full-height bg-primary-3" align-center justify-center>
      <reusable-loading></reusable-loading>
    </v-layout>
  </div>
</template>
<script>
import {
  VDivider,
  VBottomSheet,
  VSnackbar
} from 'vuetify/lib'
import Api from '@/services/Api'
import ApiGet from '@/services/ApiGet'
import { numberingNumber, replaceDot, dateFormat } from '@/services/Helpers'

import ReusableBottomSheet from '@/components/reusable/ReusableBottomSheet'

export default {
  components: {
    VDivider,
    VBottomSheet,
    VSnackbar,
    ReusableBottomSheet
  },
  data () {
    return {
      screenHeight: screen.height - 48,
      tooltip: {
        open: false,
        desc: ''
      },
      dialog: {
        dialogError: false,
        dialogEdit: false,
        dialogLoading: false
      },
      snackbar: false,
      target: '',
      currentCost: 0,
      futureCost: 0,
      targetCost: 0,
      inflation: 0,
      regularInvest: 0,
      planning: [],
      bottomSheet: false,
      lifeplan: {},
      rec: {},
      savingProfile: null,
      isPriority: null,
      isLoaded: false
    }
  },
  methods: {
    numberingNumber,
    replaceDot,
    dateFormat,
    openDialogEdit (condition) {
      this.dialog.dialogEdit = condition
    },
    openDialogLoading (condition) {
      this.dialog.dialogLoading = condition
    },
    getRecommendation () {
      let lifeplan = JSON.parse(localStorage.getItem('halofina-lifeplan'))
      let rec = JSON.parse(localStorage.getItem('halofina-recommendation'))
      this.lifeplan = lifeplan
      this.rec = rec
      this.target = lifeplan.duration
      this.inflation = lifeplan.inflation
      this.regularInvest = rec.regular_investment
      this.planning = rec.composition_array
      this.currentCost = rec.current_cost
      this.futureCost = rec.future_cost
      this.targetCost = rec.target_cost
    },
    openTooltip (desc) {
      this.tooltip.open = true
      this.tooltip.desc = desc
    },
    fetchKycSpending () {
      ApiGet('finacheck/kyc/savingprofile/user', {
      }).then((res) => {
        this.isLoaded = true
        this.savingProfile = res.d[0].nominal
      }).catch(() => {
      })
    },
    priority (data) {
      if (data === true) {
        return true
      } else {
        return false
      }
    },
    checkIsPriority (totalInvest, lifeplanLength, lifeplanActiveLength) {
      let isPriority
      // Cek melebihi Saving Profile apa engga
      if ((totalInvest + this.regularInvest) > Number(this.savingProfile)) {
        if (lifeplanLength === 0 || lifeplanActiveLength === 0) {
          isPriority = true
        } else {
          isPriority = false
        }
      } else {
        isPriority = true
      }
      return isPriority
    },
    submit () {
      this.openDialogLoading(true)
      let regularInvestActive = JSON.parse(localStorage.getItem('halofina-regular-invest'))
      Api('finavest/v1/lifeplan/account/save', {
        type: this.lifeplan.type,
        title: this.lifeplan.title,
        current_cost: this.currentCost,
        target_time: this.lifeplan.date,
        inflation: this.inflation,
        future_cost: this.futureCost,
        target_cost: this.targetCost,
        is_priority: this.checkIsPriority(regularInvestActive.total_invest, regularInvestActive.total_lifeplan, regularInvestActive.total_lifeplan_active),
        priority_number: regularInvestActive.total_lifeplan_active + 1,
        is_recommendation: true,
        is_completed: false,
        regular_investment: this.regularInvest,
        planning: this.rec.composition_array,
        detail: this.lifeplan.type === 'RETIREMENT' ? this.rec.detail : null,
        asset: this.rec.asset
      })
        .then((res) => {
          this.removePopupFlag()
          this.bottomSheet = true
          this.openDialogLoading(false)
        })
        .catch(() => {
          this.removePopupFlag()
          this.dialog.dialogError = true
        })
    },
    removePopupFlag () {
      let regularInvestActive = JSON.parse(localStorage.getItem('halofina-regular-invest'))
      let isPriority = this.checkIsPriority(regularInvestActive.total_invest, regularInvestActive.total_lifeplan, regularInvestActive.total_lifeplan_active)
      if (isPriority === true) {
        localStorage.removeItem('halofina-lifeplan-popup-flag')
      }
    },
    edit () {
      this.openDialogEdit(false)
      this.openDialogLoading(true)
      let regularInvestActive = JSON.parse(localStorage.getItem('halofina-regular-invest'))
      let totalLifeplan = regularInvestActive.total_lifeplan_active
      let isPriority = this.checkIsPriority(regularInvestActive.total_invest, regularInvestActive.total_lifeplan, regularInvestActive.total_lifeplan_active)
      Api('finavest/v1/lifeplan/account/update/data', {
        id: this.lifeplan.id,
        type: this.lifeplan.type,
        title: this.lifeplan.title,
        current_cost: this.currentCost,
        target_time: this.lifeplan.date,
        inflation: this.inflation,
        future_cost: this.futureCost,
        target_cost: this.targetCost,
        is_priority: isPriority,
        priority_number: this.lifeplan.priority_number,
        is_recommendation: true,
        is_completed: false,
        regular_investment: this.regularInvest,
        planning: this.rec.composition_array,
        detail: this.lifeplan.type === 'RETIREMENT' ? this.rec.detail : null,
        asset: this.rec.asset
      })
        .then(async (res) => {
          this.removePopupFlag()
          this.snackbar = true
          await this.trackLifeplanEdited(this.regularInvest, isPriority, false, isPriority ? totalLifeplan : 0, this.lifeplan.id)
          setTimeout(() => {
            this.$router.push('/finavest/new/lifeplan/dashboard')
          }, 1000)
        })
        .catch(() => {
          this.removePopupFlag()
          this.openDialogLoading(false)
          this.dialog.dialogError = true
        })
    },
    trackLifeplanEdited (regularInvest, isActive, isDeleted, priority, lifeplanId) {
      this.$analytics.track('Lifeplan Edited', {
        regularinvestment: regularInvest,
        isactive: isActive,
        isdeleted: isDeleted,
        priority: priority,
        lifeplanid: lifeplanId
      })
    }
  },
  created () {
    this.fetchKycSpending()
    this.getRecommendation()
  }
}
</script>
<style lang="sass">
  .tooltip-line
    width: 35px
    height: 2px
    background-color: #A0A5B7
    margin-bottom: 2px

  .tooltip-line-success
    width: 40px
    height: 4px
    background: #ECEFF7
    border-radius: 2px

  .calculate-result
    *
      padding: 0
      margin: 0

    .margin-toolbar
      margin-top: 48px

    .label
      color: #6E7692 !important

    .v-divider
      border-width: 4px

    .btn-save
      width: 100%
      height: 56px
      background-color: #51AAF4 !important
      color: white
      line-height: 55px
      text-align: center
      position: fixed
      bottom: 0
      z-index: 10

</style>
