<template>
  <div v-if="isLoaded === true" class="lifeplan-dashboard-v2 bg-primary-3">
    <div class="pos-fixed full-width" style="z-index: 10; top: 0px">
      <reusable-toolbar page-name="Lifeplan" :change-namespace="true" namespace="dashboard" icon-color="white" title-color="white !important" route="/dashboard?tab=lifeplan">
        <template slot="button-toolbar-right">
          <img src="@/assets/finavest/lifeplan/icon-settings.svg" @click="goToSettings()" class="icon-settings" alt="icon settings">
        </template>
      </reusable-toolbar>
      <div class="wrap-desc-top">
        <img src="@/assets/finavest/lifeplan/v3/floral.svg" class="floral" alt="floral">
        <div class="toolbar-height"></div>
        <v-layout row class="padding-toolbar" px-3>
          <v-flex xs6 class="pt-4">
            <span class="avenir-12-reg color-primary-3 color-primary-3">Target Menabung</span> <br />
            <span class="avenir-14-med color-primary-3 color-primary-3">Rp {{ numberingNumber(totalTargetActive) }}/bln</span>
          </v-flex>
          <v-flex xs6 class="pt-4 pl-2">
            <span class="avenir-12-reg color-primary-3 color-primary-3">Kemampuan Menabung</span> <br />
            <span class="avenir-14-med color-primary-3 color-primary-3">Rp {{ numberingNumber(saving) }}/bln</span>
          </v-flex>
        </v-layout>

        <v-layout row px-3 pt-2 mt-1>
          <v-flex xs6 class="bg-primary-3 mr-2 card-add-lifeplan" @click="addLifeplan()">
            <img src="@/assets/finavest/lifeplan/v3/add-lifeplan-active.svg" class="pr-2" alt="add lifeplan active">
            <span class="btn-active avenir-16-med">Buat Lifeplan</span>
          </v-flex>

          <v-flex xs6 class="bg-primary-3 ml-2 card-settings-priority" @click="toPriority()">
            <div v-if="lifeplanLength > 1">
              <img src="@/assets/finavest/lifeplan/v3/priority-lifeplan-active.svg" class="pr-2" alt="prioritas lifeplan disabled">
              <span class="btn-active avenir-16-med">Atur Prioritas</span>
            </div>
            <div v-else>
              <img src="@/assets/finavest/lifeplan/v3/priority-lifeplan-disabled.svg" class="pr-2" alt="prioritas lifeplan disabled">
              <span class="btn-disabled avenir-16-med">Atur Prioritas</span>
            </div>
          </v-flex>

        </v-layout>

        <!-- clear float -->
        <div class="clear"></div>
      </div>
    </div>
    <div style="height: 184px"></div>
    <!-- dont have lifeplan -->
    <v-layout column justify-center align-center v-if="lifeplanLength < 1" class="bg-primary-3" :style="'min-height: ' + screenHeight + 'px; margin-top: -30px;' ">
      <img src="@/assets/finavest/lifeplan/no_lifeplan.svg" alt="dont have lifeplan">
      <v-card-text class="avenir-16-reg color-disabled text-xs-center pt-4 pb-4 mb-3">
        Kamu belum membuat Lifeplan. Buat <br /> Lifeplanmu Sekarang!
      </v-card-text>
      <button @click="addLifeplan()" class="btn-add-lifeplan avenir-14-med color-primary-3">Buat Lifeplan</button>
    </v-layout>

    <!-- have lifeplan -->
    <v-layout v-else column pb-3 class="bg-primary-3" :style="'min-height: ' + screenHeight + 'px; margin-top: -30px; padding-left: 20px; padding-right: 20px;' ">

    <!-- Lifeplan Aktif -->
    <template>
      <v-card-text class="nexa-14-bold mt-3" style="padding-bottom: 18px; padding-top: 30px;">
        Lifeplan Prioritas
      </v-card-text>

      <v-layout column class="wrap-lifeplan pb-3" v-for="(target, index) in targetsActive" :key="index">
        <!-- body lifeplan -->
        <div v-if="target.type !== 'smartsaving'" class="body-lifeplan pt-4 px-3 pb-2" :style="'background: ' + target.bgColor + ';'" @click="goToDetailActive(target.lifeplanid)">
          <reusable-image-lifeplan
            :type="target.type"
            :style-image="'position: absolute; right: 12px; top: 10px; width: 70px; height: 70px;'"
          ></reusable-image-lifeplan>

          <v-flex xs12>
            <v-card-text class="margin-bottom-2 nexa-14-bold title-lifeplan text-truncate" :style="'color: ' + target.textColor + ';'">
              {{ target.subtype === '' || target.subtype === null ? target.type : target.subtype }}
            </v-card-text>
          </v-flex>
          <v-flex xs12>
            <v-card-text class="avenir-12-reg" :style="'color: ' + target.textColor + ';'">
              {{ dateFormat(target.duration, 'MMMM YYYY') }}
            </v-card-text>
          </v-flex>
          <v-layout row>
            <v-flex xs6 class="pt-3">
              <v-card-text class="margin-bottom-2 avenir-12-reg" :style="'color: ' + target.textColor + ';'">
                Target Tabungan
              </v-card-text>
              <v-card-text class="avenir-12-reg" :style="'color: ' + target.textColor + ';'">
                Rp {{ target.futurevalue }}
              </v-card-text>
            </v-flex>
            <v-flex xs6 class="py-3">
              <div class="width-116">
                <v-card-text class="margin-bottom-2 avenir-12-reg" :style="'color: ' + target.textColor + ';'">
                  Target Perbulan
                </v-card-text>
                <v-card-text class="avenir-12-reg" :style="'color: ' + target.textColor + ';'">
                  Rp {{ numberingNumber(target.regular) }}
                </v-card-text>
              </div>
            </v-flex>
            <div class="clear-right"></div>
          </v-layout>
        </div>
        <!-- footer lifeplan -->
        <div class="footer-lifeplan px-3">
          <div class="py-3 float-left">
            <v-card-text class="avenir-12-reg color-abu">
              Tabungan Terkumpul
            </v-card-text>
            <v-card-text class="avenir-16-med">
              Rp {{target.progress}}
            </v-card-text>
          </div>
          <div class="pt-3 float-right">
            <button @click="addInvestment(target.lifeplanid)" class="btn-nabung nexa-14-bold color-primary-3">Nabung</button>
          </div>
        </div>
        <!-- clear float -->
        <div class="clear"></div>
      </v-layout>
    </template>

    <!-- Lifeplan Non Aktif -->
    <template v-if="toggleLifeplan === true">
      <v-card-text class="nexa-14-bold" style="padding-bottom: 18px;">
        Lifeplan Tertunda
      </v-card-text>

        <v-layout column class="wrap-lifeplan pb-3" v-for="(target, index) in targetsNoActive" :key="index">
        <!-- body lifeplan -->
          <v-layout row v-if="target.type !== 'smartsaving'">
            <div class="pt-4 pb-3 wrap-card-disabled px-3" @click="goToDetailActive(target.lifeplanid)">
              <reusable-image-lifeplan
                :type="target.type"
                :style-image="'position: absolute; right: 12px; top: 20px; width: 100px; height: 100px; -webkit-filter: grayscale(100%); filter: grayscale(100%)'"
              ></reusable-image-lifeplan>

              <v-flex xs12>
                <v-card-text class="nexa-14-bold title-lifeplan text-truncate margin-bottom-2" style="color: #737373; padding-right: 90px !important;">
                  {{ target.subtype === '' || target.subtype === null ? target.type : target.subtype }}
                </v-card-text>
              </v-flex>
              <v-flex xs12>
                <v-card-text class="avenir-12-reg" style="color: #737373;">
                  {{ dateFormat(target.duration, 'MMMM YYYY') }}
                </v-card-text>
              </v-flex>
              <v-flex xs12 class="pt-3 pb-1">
                <v-card-text class="avenir-12-reg" style="color: #737373;">
                  Target Tabungan
                </v-card-text>
                <v-card-text class="avenir-14-med" style="color: #737373;">
                  Rp {{ target.futurevalue }}
                </v-card-text>
              </v-flex>
            </div>
            <!-- clear float -->
            <div class="clear"></div>
          </v-layout>
        </v-layout>
      </template>

      <div class="full-width" pb-3 v-if="targetsNoActive.length > 0">
        <button class="hide-lifeplan nexa-16-bold" @click="toggleShowLifeplan()">{{ toggleLifeplan === true ? 'Sembunyikan Lifeplan Tertunda' : 'Lihat Lifeplan Tertunda'}}</button>
      </div>
    </v-layout>
    <!-- Dialog Error -->
    <reusable-dialogs
      v-model="dialog.dialogError"
      :resize-image="true"
      :is-image-above-title="true"
    ></reusable-dialogs>

    <!-- Bottom Sheet Lifeplan -->
    <reusable-dialogs
      v-model="bottomSheetLifeplan.isOpen"
      class-name="custom-dialog"
    >
      <v-card slot="layout" flat class="card-radius pa-20">
        <v-layout column>
          <v-carousel :cycle="false" hide-controls v-model="carouselCycle">
            <v-carousel-item v-for="(carouselItem, index) in carouselItems" :key="index">
              <v-layout column align-center justify-center class="full-width">
                <img :src="require('@/assets/finacheck/kyc/saving-warning.svg')" class="mb-3 img-class"/>
                <v-card-text class="nexa-18-bold text-xs-center pa-0 mb-12">{{ carouselItem.title }}</v-card-text>
                <v-card-text class="avenir-14-reg text-xs-center pa-0" v-html="carouselItem.desc"></v-card-text>
              </v-layout>
            </v-carousel-item>
          </v-carousel>
          <!-- Buttons -->
          <div v-if="carouselCycle < 1">
            <v-btn class="btn-radius box-shadow nexa-16-bold py-2" color="primary" depressed block @click.native="carouselCycle++">Saya Mengerti</v-btn>
          </div>
          <div v-else>
            <v-layout row align-center justify-center class="full-width">
              <v-flex xs6 class="mr-3">
                <v-btn class="nexa-14-bold btn-radius" color="primary" flat depressed outline block @click.native="bottomSheetLifeplan.isOpen = false">Nanti Saja</v-btn>
              </v-flex>
              <v-flex xs6>
                <v-btn class="btn-radius box-shadow nexa-14-bold" color="primary" depressed block @click="$router.push('/finavest/new/lifeplan/setpriority/')">Atur Prioritas</v-btn>
              </v-flex>
            </v-layout>
          </div>
        </v-layout>
      </v-card>
    </reusable-dialogs>

    <!-- Bottom Sheet Priority -->
    <reusable-bottom-sheet
      v-model="bottomSheetPriority"
      :persistent="true"
      title="Atur Prioritas Lifeplan"
      description="Klik dan tahan lifeplan yang ingin kamu atur, lalu geser sesuai prioritasmu. Setelah itu klik tombol simpan."
    >
      <div slot="image-layout">
        <lottie :options="defaultOptions" :height="350" :width="350"/>
      </div>
      <v-layout row align-center justify-center slot="button-layout" class="full-width mb-20">
        <v-btn class="btn-radius nexa-16-bold" color="primary" depressed block @click="goToPriority()">Ok</v-btn>
      </v-layout>
    </reusable-bottom-sheet>

    <!-- Bottom Sheet Spending -->
    <reusable-bottom-sheet
      v-model="bottomSheet"
      :persistent="true"
      title="Kemampuan nabung kamu belum cukup"
      description="Karena nominal yang harus ditabungkan tiap bulan melebihi kemampuan menabung kamu maka sesuaikan lifeplan atau tingkatkan tabungan agar dapat mulai menabung."
      :image="require('@/assets/finacheck/kyc/saving-warning.svg')"
    >
      <v-layout column align-center justify-center v-if="isLoadingSheet" slot="custom-layout" style="height: 466px">
        <reusable-loading></reusable-loading>
      </v-layout>
      <v-layout row align-center justify-center slot="button-layout" class="full-width mb-20" v-else>
        <v-flex :xs12="!canAdjust" :xs6="canAdjust" class="mr-3">
          <v-btn class="btn-radius box-shadow nexa-16-bold" color="primary" flat depressed block @click="goToSettings()">Tingkatkan</v-btn>
        </v-flex>
        <v-flex xs6 v-if="canAdjust">
          <v-btn class="btn-radius box-shadow nexa-16-bold" color="primary" depressed block @click="goToAdjust()">Sesuaikan</v-btn>
        </v-flex>
      </v-layout>
    </reusable-bottom-sheet>
  </div>

  <!-- loading -->
  <div v-else>
    <v-layout column justify-center align-center class="full-height">
      <reusable-loading></reusable-loading>
    </v-layout>
  </div>
</template>
<script>
import Api from '@/services/Api'
import ApiGet from '@/services/ApiGet'
import { VCarousel, VCarouselItem } from 'vuetify/lib'
import ReusableImageLifeplan from '@/components/reusable/ReusableImageLifeplan'
import ReusableBottomSheet from '@/components/reusable/ReusableBottomSheet'
import { numberingNumber, dateFormat } from '@/services/Helpers'
import Lottie from 'vue-lottie'
import * as animationData from '@/assets/finavest/lifeplan/v3/drag-n-drop.json'

export default {
  components: {
    ReusableImageLifeplan,
    ReusableBottomSheet,
    VCarousel,
    VCarouselItem,
    Lottie
  },
  data () {
    return {
      isLoaded: false,
      screenHeight: screen.height - 150,
      targetsActive: [],
      toggleLifeplan: false,
      targetsNoActive: [],
      saving: 0,
      isLoadingSheet: true,
      carouselCycle: 0,
      defaultOptions: {
        animationData: animationData
      },
      carouselItems: [
        {
          title: 'Lifeplan kamu masuk daftar lifeplan tertunda',
          desc: ''
        },
        {
          title: 'Ayo atur prioritas lifeplan kamu',
          desc: 'Atur lifeplan mengikuti prioritas <br /> kebutuhan yang sesuai dengan <br /> kemampuan nabung kamu, agar kamu <br /> fokus untuk mencapai target.'
        }
      ],
      bottomSheet: false,
      bottomSheetPriority: false,
      bottomSheetLifeplan: {
        isOpen: false,
        desc: ''
      },
      enoughSaving: true,
      lifeplanLength: 0,
      canAdjust: false,
      dialog: {
        dialogError: false
      }
    }
  },
  computed: {
    totalTargetActive: function () {
      if (this.targetsActive.length > 0) {
        return this.targetsActive.map(data => Number(data.regular)).reduce((prev, next) => prev + next)
      } else {
        return 0
      }
    }
  },
  watch: {
    targetsActive: function () {
      setTimeout(() => {
        this.savePriority()
      }, 1500)
    }
  },
  methods: {
    numberingNumber,
    dateFormat,
    removeFromDashboard () {
      localStorage.removeItem('halofina-from-dashboard')
    },
    getRecommendation (duration, inflation, type, assets, detail) {
      Api('finavest/v1/recommendation', {
        id_risk_profile: Number(localStorage.getItem('halofina-rpa')),
        current_age: detail ? detail.current_age : 0,
        retirement_age: detail ? detail.retirement_age : 0,
        duration: duration,
        inflation: Number(inflation),
        current_cost: type === 'RETIREMENT' ? Number(this.saving) : (Number(this.saving) * 0.7) * duration,
        type: type,
        asset: assets
      }, true)
        .then((res) => {
          this.isLoadingSheet = false
          this.canAdjust = true
        })
        .catch(() => {
          this.isLoadingSheet = false
          this.canAdjust = false
        })
    },
    getSavingData () {
      Api('finacheck/kyc/savingprofile/user', {})
        .then((res) => {
          if (res.d.length > 0) {
            this.saving = res.d[0].nominal
            this.adjustLifeplanToSpends()
            this.checkUserCapability()
          }
          this.isLoaded = true
        })
        .catch(() => {
          this.dialog.dialogError = true
          this.isLoaded = true
        })
    },
    getDuration (yearTarget) {
      let yearNow = new Date().getFullYear()
      let months
      months = (yearTarget - yearNow) * 12
      return months
    },
    addLifeplan () {
      if (localStorage.getItem('halofina-rpa') && localStorage.getItem('halofina-saving-profile') !== 'null') {
        this.$router.push('/finavest/new/lifeplan/add')
      } else {
        this.$router.push('/new/finacheck/rpa/input/spending')
      }
    },
    addInvestment (id) {
      this.$router.push('/finavest/investment/buy/buy_investment/' + Number(id) + '/new')
    },
    goToSettings () {
      if (localStorage.getItem('halofina-rpa') === null || localStorage.getItem('halofina-saving-profile') === null) {
        this.$router.push('/new/finacheck/rpa/input/lifeplan')
      } else {
        this.$router.push('/finavest/new/lifeplan/settings/' + this.enoughSaving)
      }
    },
    goToAdjust () {
      let lifeplanId = this.targetsActive[0].lifeplanid
      localStorage.setItem('halofina-remains', this.saving)
      this.$router.push('/finavest/new/lifeplan/adjust_lifeplan/' + lifeplanId)
    },
    toPriority () {
      if (this.lifeplanLength > 1) this.$router.push('/finavest/new/lifeplan/setpriority')
    },
    goToPriority () {
      this.$router.push('/finavest/new/lifeplan/setpriority')
      localStorage.removeItem('halofina-first-time-lifeplan')
    },
    savePriority () {
      // AKTIF
      let dataActive = this.targetsActive
      let objLifeplanActive
      let typeActive
      let isUpdated
      let arrLifeplanActive = []

      // AKTIF
      for (var i = 0; i < dataActive.length; i++) {
        if (dataActive[i].type === 'RETIREMENT') {
          typeActive = 'RETIREMENT'
        } else {
          typeActive = 'GENERAL'
        }

        if (dataActive[i].priority_number === i + 1) {
          if (dataActive[i].is_priority === false) {
            isUpdated = true
          } else {
            isUpdated = false
          }
        } else {
          isUpdated = true
        }

        // data submit active
        objLifeplanActive = {
          id: dataActive[i].lifeplanid,
          name: dataActive[i].subtype,
          is_priority: true,
          type: typeActive,
          priority_number: i + 1,
          is_updated: isUpdated
        }
        arrLifeplanActive.push(objLifeplanActive)
      }
      // this.dataNoActive()
      // NO AKTIF
      let dataNoActive = this.targetsNoActive
      let objLifeplanNoActive
      let arrLifeplanNoActive = []
      let typeNoActive
      let isUpdated2

      // NO AKTIF
      for (var a = 0; a < dataNoActive.length; a++) {
        // set type
        if (dataNoActive[a].type === 'RETIREMENT') {
          typeNoActive = 'RETIREMENT'
        } else {
          typeNoActive = 'GENERAL'
        }
        // set update
        if (dataNoActive[a].is_priority === true) {
          isUpdated2 = true
        } else {
          isUpdated2 = false
        }

        // data submit active
        objLifeplanNoActive = {
          id: dataNoActive[a].lifeplanid,
          name: dataNoActive[a].subtype,
          is_priority: false,
          type: typeNoActive,
          priority_number: 0,
          is_updated: isUpdated2
        }
        arrLifeplanNoActive.push(objLifeplanNoActive)
      }

      // Submit API
      if (arrLifeplanActive === null || arrLifeplanActive === '' || arrLifeplanActive === []) {
        // loading
      } else {
        Api('finavest/v1/lifeplan/account/update/priority', {
          lifeplan_active: arrLifeplanActive,
          lifeplan_inactive: arrLifeplanNoActive
        }).then((res) => {
          // this.fetchData()
        }).catch(() => {
          this.dialog.dialogError = true
        })
      }
    },
    toggleShowLifeplan () {
      if (this.toggleLifeplan === false) {
        this.toggleLifeplan = true
      } else {
        this.toggleLifeplan = false
      }
    },
    fetchData () {
      ApiGet('finavest/v1/lifeplan/account', {
      }).then((res) => {
        this.setTarget(res.d)
        this.lifeplanLength = res.d.length
        localStorage.removeItem('halofina-target-diff')
        this.getSavingData()
        this.openDisclaimer()
      }).catch(() => {
        this.isLoaded = true
        this.dialog.dialogError = true
      })
    },
    goToDetailActive (id) {
      this.$router.push('/finavest/new/lifeplan/detail_lifeplan/' + id)
    },
    setLifeplanClass (type, priority) {
      let classes = {
        bgColorVar: '',
        textColorVar: ''
      }
      if (priority === true) {
        switch (type) {
          case 'MARRIAGE':
            classes.bgColorVar = '#E2F2FC'
            classes.textColorVar = '#3F99DD'
            break
          case 'PROPERTY':
            classes.bgColorVar = '#E5FBFB'
            classes.textColorVar = '#27BDB1'
            break
          case 'EDUCATION':
            classes.bgColorVar = '#ECFCF0'
            classes.textColorVar = '#22C34F'
            break
          case 'CAR':
            classes.bgColorVar = '#FFF2F2'
            classes.textColorVar = '#FF4E4E'
            break
          case 'VEHICLE':
            classes.bgColorVar = '#FFF2F2'
            classes.textColorVar = '#FF4E4E'
            break
          case 'PILGRIMAGE':
            classes.bgColorVar = '#FFF1E7'
            classes.textColorVar = '#FF8731'
            break
          case 'RETIREMENT':
            classes.bgColorVar = '#FCEDE7'
            classes.textColorVar = '#E34624'
            break
          case 'VACATION':
            classes.bgColorVar = '#E7E4F9'
            classes.textColorVar = '#8175CE'
            break
          case 'ETC':
            classes.bgColorVar = '#F1F4FD'
            classes.textColorVar = '#6477EA'
            break
          case 'campaign':
            classes.bgColorVar = '#F1F4FD'
            classes.textColorVar = '#6477EA'
            break
          case 'halofina':
            classes.bgColorVar = '#F1F4FD'
            classes.textColorVar = '#6477EA'
            break
        }
      } else {
        classes.bgColorVar = '#FAFAFA'
        classes.textColorVar = '#737373'
      }
      return classes
    },
    setTarget (item) {
      let target = []
      let totalLifeplan = 0
      let totalLifeplanActive = 0
      item.sort((prev, next) => parseFloat(prev.priority_number) - parseFloat(next.priority_number))
      for (let i = 0; i < item.length; i++) {
        totalLifeplan += 1
        if (item[i].is_priority === true) totalLifeplanActive += 1
        target = {
          bgColor: this.setLifeplanClass(item[i].type, item[i].is_priority).bgColorVar,
          textColor: this.setLifeplanClass(item[i].type, item[i].is_priority).textColorVar,
          lifeplanid: parseInt(item[i].id),
          futurevalue: numberingNumber(item[i].future_cost),
          type: item[i].type,
          duration: item[i].target_time,
          subtype: item[i].title,
          regular: item[i].regular_investment,
          inflation: item[i].inflation,
          progress: numberingNumber(item[i].grand_total),
          status: item[i].is_trx,
          is_priority: item[i].is_priority,
          priority_number: item[i].priority_number,
          asset: item[i].asset || null,
          detail: item[i].detail || null,
          current_cost: item[i].current_cost
        }
        if (item[i].is_priority === true) {
          this.targetsActive.push(target)
        } else {
          this.targetsNoActive.push(target)
        }
      }
      let regularInvest = {
        total_invest: this.totalTargetActive,
        total_lifeplan_active: totalLifeplanActive,
        total_lifeplan: totalLifeplan
      }
      localStorage.setItem('halofina-regular-invest', JSON.stringify(regularInvest))
    },
    checkUserCapability () {
      let saving = this.saving
      let target = this.totalTargetActive
      let lifeplan = this.targetsActive[0]
      let firstTimer = localStorage.getItem('halofina-first-time-lifeplan')
      if (firstTimer) {
        this.bottomSheetPriority = true
        return
      }
      if (target > saving) {
        this.getRecommendation(this.getDuration(dateFormat(lifeplan.duration, 'YYYY')), lifeplan.inflation, lifeplan.type, lifeplan.asset, lifeplan.detail)
        this.bottomSheet = true
        this.enoughSaving = false
        localStorage.setItem('halofina-target-diff', target - saving)
      }
    },
    openDisclaimer () {
      let popupType = localStorage.getItem('halofina-lifeplan-popup-flag')
      if (popupType) {
        if (this.lifeplanLength > 1) {
          this.bottomSheetLifeplan.isOpen = true
        } else {
          this.bottomSheetLifeplan.isOpen = false
        }
        if (popupType === 'biaya') {
          this.carouselItems[0].desc = 'Karena perubahan target biaya lifeplan,<br /> total nominal yang harus ditabungkan <br /> tiap bulan melebihi kemampuan <br /> menabung kamu.'
        } else if (popupType === 'lifeplan') {
          this.carouselItems[0].desc = 'Karena penambahan lifeplan baru, total<br/> nominal yang harus ditabungkan tiap<br/> bulan melebihi kemampuan menabung<br/> kamu.'
        } else if (popupType === 'waktu') {
          this.carouselItems[0].desc = 'Karena penambahan target waktu, total<br/> nominal yang harus ditabungkan tiap<br/> bulan melebihi kemampuan menabung<br/> kamu.'
        }
        localStorage.removeItem('halofina-lifeplan-popup-flag')
      }
    },
    adjustLifeplanToSpends () {
      let index = this.targetsActive.length - 1
      while (this.totalTargetActive > this.saving) {
        if (index === 0) { break }
        this.nonActiveLifeplans(index)
        index--
      }
    },
    nonActiveLifeplans (index) {
      this.targetsNoActive.unshift(this.targetsActive[index])
      this.targetsActive.splice(index, 1)
    },
    removeLifeplan () {
      localStorage.removeItem('halofina-lifeplan')
      localStorage.removeItem('halofina-recommendation')
    }
  },
  created () {
    this.fetchData()
    this.removeFromDashboard()
    this.removeLifeplan()
  }
}
</script>
<style lang="sass">
  .custom-dialog
    .v-carousel
      height: 366px !important
      box-shadow: none

    .img-class
      width: auto
      height: 154px

    .v-carousel__controls
      background: none !important

    .v-btn--icon.v-btn--small
      width: 0px
      padding: 0 8px

    .v-btn .v-btn__content .v-icon
      color: #2C3B50
      opacity: 0.2

    .v-btn--active
      i
        color: #2C3B50 !important
        opacity: 1 !important

    i
      font-size: 9px !important

    .theme--light .toolbar
      background-color: transparent !important

  .lifeplan-dashboard-v2
    *
      margin: 0
      padding: 0

    .padding-toolbar
      z-index: 10
      position: relative

    .v-toolbar
      background-color: transparent !important
      position: relative

    .layout
      flex: 0

    .spacer
      flex-grow: inherit !important

    .wrap-desc-top
      width: 100%
      height: 150px
      background: #51AAF4
      position: relative
      margin-top: -48px

      .floral
        position: absolute
        right: 20px

    .card-add-lifeplan,
    .card-settings-priority
      box-shadow: 0px 6px 10px rgba(139, 139, 139, 0.07)
      border-radius: 8px
      padding: 13px 7px

      img
        float: left

      span
        line-height: 28px

    .btn-active
      color: #51AAF4

    .btn-disabled
      color: #B3B7C6

    .btn-add-lifeplan
      background: #51AAF4
      border-radius: 50px
      width: 158px
      height: 36px
      line-height: 35px
      text-align: center
      border: none
      outline: none

    .toolbar-height
      width: 100%
      height: 48px

    .wrap-lifeplan

      .body-lifeplan
        border-radius: 8px 8px 0 0
        position: relative

      .footer-lifeplan
        background: #FFF
        border: 1px solid #E8EAEF
        border-top-width: 0
        border-radius: 0 0 8px 8px

        .float-left
          float: left

        .float-right
          float: right

    .btn-nabung
      background: #FFB245
      border-radius: 4px
      width: 116px
      height: 36px
      line-height: 35px
      text-align: center
      border: none
      outline: none

    .title-lifeplan
      padding-right: 100px

    .color-abu
      color: #6E7692

    .wrap-card-disabled
      background: #F4F4F4
      border-radius: 8px
      position: relative
      width: 100%

    .hide-lifeplan
      width: 100%
      padding: 20px 0
      text-align: center
      border: 1px dashed #E8EAEF
      border-radius: 8px
      color: #51AAF4 !important
      outline: none

    .margin-bottom-2
      margin-bottom: 2px !important

    .icon-settings
      right: 15px
      position: absolute
      top: 50%
      transform: translateY(-50%)

    .width-116
      width: 116px
      float: right

</style>
