<template>
  <div class="detail-lifeplan bg-primary-3" :style="'min-height: ' + screenHeight + 'px;'">
    <reusable-toolbar page-name="Detail" class="box-shadow text-capitalize">
      <template slot="button-toolbar-right" v-if="isLoaded === true">
        <img src="@/assets/finavest/lifeplan/v3/icon-more-vertical.svg" @click="settings()" class="mr-3" alt="icon more vertical">
      </template>
    </reusable-toolbar>
    
    <div v-if="isLoaded === true">
      <template>
        <v-layout column px-3 mx-1 py-3 class="margin-toolbar">
          <v-card-text class="nexa-16-bold">
            {{ title === null ? type : title }}
          </v-card-text>
          <v-layout row pt-4>
            <v-flex xs6 class="pr-2">
              <div class="full-width">
                <v-card-text class="avenir-12-reg color-grey">Terkumpul</v-card-text>
                <v-card-text class="avenir-14-med">Rp {{numberingNumber(current, true)}}</v-card-text>
              </div>
            </v-flex>
            <v-flex xs6>
              <div class="full-width">
                <v-card-text class="avenir-12-reg color-grey">Sisa kekurangan</v-card-text>
                <v-card-text class="avenir-14-reg">Rp {{ numberingNumber(futureInvest - current < 0 ? 0 : futureInvest - current ) }}</v-card-text>
              </div>
            </v-flex>
          </v-layout>
          <v-layout row pt-3>
            <v-flex xs6>
              <div class="full-width">
                <v-card-text class="avenir-12-reg color-grey">Target tabungan</v-card-text>
                <v-card-text class="avenir-14-reg">Rp {{numberingNumber(futureInvest)}}</v-card-text>
              </div>
            </v-flex>
            <v-flex xs6>
              <div class="full-width">
                <v-card-text class="avenir-12-reg color-grey">Tabungan tercapai</v-card-text>
                <v-card-text class="avenir-14-reg">{{ targetTime }}</v-card-text>
              </div>
            </v-flex>
          </v-layout>
        </v-layout>
      </template>

      <v-divider></v-divider>

      <template v-if="assetCurrent">
        <v-layout column px-3 mx-1 py-3>
          <v-card-text class="nexa-16-bold">
            Aset di luar halofina
          </v-card-text>
          <v-layout row pt-4>
            <v-flex xs6>
              <v-card-text class="avenir-12-reg color-grey">Jenis</v-card-text>
              <v-card-text class="avenir-14-reg">{{ assetCurrent.type }}</v-card-text>
            </v-flex>
            <v-flex xs6>
              <v-card-text class="avenir-12-reg color-grey">Nilai Aset</v-card-text>
              <v-card-text class="avenir-14-reg">Rp {{ numberingNumber(assetCurrent.asset_value) }}</v-card-text>
            </v-flex>
          </v-layout>
        </v-layout>
        <v-divider></v-divider>
      </template>

      <template>
        <v-layout column px-3 mx-1 py-3>
          <v-card-text class="nexa-16-bold">
            Strategi menabung
          </v-card-text>
          <v-layout row pt-3>
            <v-flex xs12>
              <v-card-text class="avenir-12-reg color-grey">Berikut kelas aset beserta nominal yang Fina rekomendasikan untuk kamu tabungkan. Tabung rutin setiap bulan ya agar tercapai.</v-card-text>
            </v-flex>
          </v-layout> 
          
          <v-layout row pt-3>
            <v-flex xs6>
              <div class="full-width">
                <v-card-text class="avenir-12-reg color-grey">Target menabung</v-card-text>
                <v-card-text class="avenir-16-med">Rp {{numberingNumber(regularInvest)}}/bln</v-card-text>
              </div>
            </v-flex>
            <v-flex xs6>
              <div class="full-width">
                <v-card-text class="avenir-12-reg color-grey">Durasi menabung</v-card-text>
                <v-card-text class="avenir-16-med">{{ duration }} Bulan</v-card-text>
              </div>
            </v-flex>
          </v-layout>
          
          <v-layout row wrap pt-3>
            <div class="progress-bar">
              <v-tooltip top color="#232735" v-for="data in recommendation" :key="data.id_asset_class">
                <template v-slot:activator="{ on }">
                  <div :class="classAsset(data.id_asset_class).asset" :style="'width: ' + Math.round(data.percentage) + '%; height: 100%;'" v-on="on"></div>
                  </template>
                <span>{{Math.round(data.percentage)}}%</span>
              </v-tooltip>
            </div>
          </v-layout>

          <template v-for="data in recommendation">
            <v-flex :key="data.id_asset_class" v-if="data.amount !== 0" pt-3>
              <div>
                <div class="left">
                  <reusable-image-asset class="margin-top-2" :rounded="true" :type="classAsset(data.id_asset_class).name"></reusable-image-asset>
                </div>
                <div class="ml-36">
                  <v-card-text class="avenir-12-reg">
                    {{classAsset(data.id_asset_class).name}}
                  </v-card-text>
                  <v-card-text class="avenir-14-med">
                    Rp {{numberingNumber(data.amount)}}
                  </v-card-text>
                </div>
              </div>
            </v-flex>
          </template>

          <v-layout row pt-3 pb-5 mb-2>
            <v-card-text class="avenir-12-reg color-grey">*Rekomendasi yang Fina berikan ini berdasarkan jangka waktu yang kamu tentukan untuk mencapai target</v-card-text>
          </v-layout>


        </v-layout>
        <v-btn v-if="current >= futureInvest" color="primary" class="btn-nabung nexa-16-bold" @click="gotoSell()">Tarik Semua</v-btn>
        <v-btn v-else color="warning" class="btn-nabung nexa-16-bold" @click="goToBuyProduct()" :disabled="!isPriority">Nabung</v-btn>
      </template>
    </div>
    <div v-else>
      <v-layout column align-center justify-center class="min-height">
        <reusable-loading></reusable-loading>
      </v-layout>
    </div>

    <!-- v bottom sheet actions -->
    <reusable-bottom-sheet v-model="bottomSheet.desc" use-padding="false">
      <v-layout column pa-0 class="bg-primary-3" slot="custom-layout">
        <v-flex xs12 class="py-3 pl-3 border-bottom-solid avenir-16-reg" @click="goToEdit()"><img src="@/assets/finavest/lifeplan/icon-edit.svg" class="mr-2 m-b-n-2" alt="">Edit</v-flex>
        <v-flex xs12 class="py-3 pl-3 border-bottom-solid avenir-16-reg" v-if="isLocked === true || current > 0" @click="gotoSell()"><img src="@/assets/finavest/lifeplan/icon-sell.svg" class="mr-2 m-b-n-2" alt="">Tarik</v-flex>
        <v-flex xs12 class="py-3 pl-3 border-bottom-solid avenir-16-reg" v-else @click="dialog.dialogDelete = true"><img src="@/assets/finavest/lifeplan/icon-trash.svg" class="mr-2 m-b-n-2" alt="">Hapus</v-flex>
        <!-- <v-flex xs12 class="py-3 pl-3 border-bottom-solid avenir-16-reg" @click=""><img src="@/assets/finavest/lifeplan/icon-bell.svg" class="mr-2 m-b-n-2" alt="">Set Reminder</v-flex> -->
      </v-layout>
    </reusable-bottom-sheet>

    <reusable-bottom-sheet
      v-model="bottomSheet.achieved"
      title="Selamat, lifeplan berhasil tercapai"
      :description="'Kamu berhasil mengumpulkan tabungan “' + title + '” senilai Rp' + numberingNumber(current)"
      :image="require('@/assets/finavest/lifeplan/v3/success.svg')"
    >
      <div slot="button-layout" class="full-width">
        <v-layout row class="px-3 pt-3 pb-3">
          <v-flex xs6 mr-1>
              <v-btn block small color="primary" flat class="btn-radius" @click.native="bottomSheet.achieved = false" depressed>
                  Nanti Saja
              </v-btn>
          </v-flex>
          <v-flex xs6 ml-1>
              <v-btn block small color="primary" class="btn-radius" depressed @click="gotoSell()">
                  Tarik Semua
              </v-btn>
          </v-flex>
        </v-layout>
      </div>
    </reusable-bottom-sheet>
    <!-- Error -->
    <reusable-dialogs
      v-model="dialog.dialogError"
      :resize-image="true"
      :is-image-above-title="true"
    ></reusable-dialogs>
    <!-- Disclaimer -->
    <reusable-dialogs
      v-model="dialog.dialogDisclaimer"
      :is-image-above-title="true"
      :image="require('@/assets/finavest/lifeplan/v3/lifeplan-trx.svg')"
      :resize-image="true"
      description="Kamu bisa melakukan penarikan dana setelah transaksi ini selesai ya."
      title="Ada transaksi yang sedang dalam proses"
    >
      <v-layout row class="px-3 pt-3 pb-3 full-width" slot="layout-button">
        <v-flex xs12 mr-1>
            <v-btn block small color="primary" class="btn-radius" @click.native="$router.go(-1)" depressed>
                Kembali
            </v-btn>
        </v-flex>
      </v-layout>
    </reusable-dialogs>
    <!-- Delete -->
    <reusable-dialogs
      v-model="dialog.dialogDelete"
      :is-image-above-title="true"
      :image="require('@/assets/finavest/lifeplan/v3/hapus.svg')"
      :description="null"
      :resize-image="true"
      title="Apakah kamu sudah yakin?"
    >
      <div slot="layout-button">
        <v-layout row class="px-3 pt-3 pb-3">
          <v-flex xs6 mr-1>
              <v-btn block small color="primary" outline class="btn-radius" @click.native="dialog.dialogDelete = false" depressed>
                  Batal
              </v-btn>
          </v-flex>
          <v-flex xs6 ml-1>
              <v-btn block small color="primary" class="btn-radius" depressed @click="deleteData()">
                  Iya
              </v-btn>
          </v-flex>
        </v-layout>
      </div>
    </reusable-dialogs>
    <v-snackbar color="grey" v-model="snackbar" :timeout="1500">
      <div class="ml-3">Lifeplan Berhasil Dihapus</div>
    </v-snackbar>
  </div>
</template>
<script>
import Api from '@/services/Api'
import ApiGet from '@/services/ApiGet'
import { numberingNumber, dateFormat } from '@/services/Helpers'
import { VDivider, VTooltip, VSnackbar } from 'vuetify/lib'
import { differenceInMonths } from 'date-fns'
import ReusableImageAsset from '@/components/reusable/ReusableImageAsset'
import ReusableBottomSheet from '@/components/reusable/ReusableBottomSheet'

export default {
  components: {
    VTooltip,
    VDivider,
    VSnackbar,
    ReusableImageAsset,
    ReusableBottomSheet
  },
  data: () => ({
    screenHeight: screen.height - 48,
    bottomSheet: {
      desc: false,
      achieved: false
    },
    id: 0,
    dialog: {
      dialogError: false,
      dialogDelete: false,
      dialogDisclaimer: false
    },
    snackbar: false,
    targetTime: '',
    current: 0,
    futureInvest: 0,
    assetCurrent: {},
    title: '',
    type: '',
    duration: 0,
    isPriority: false,
    priorityNumber: 0,
    regularInvest: 0,
    recommendation: [],
    idLifeplan: null,
    isLocked: false,
    isLoaded: false
  }),
  methods: {
    numberingNumber,
    settings () {
      this.bottomSheet.desc = true
    },
    // set class for progress
    classAsset (value) {
      let data = {
        asset: '',
        name: ''
      }
      switch (value) {
        case 2:
          data.asset = 'tetap'
          data.name = 'Reksa Dana Pendapatan Tetap'
          break
        case 3:
          data.asset = 'campuran'
          data.name = 'Reksa Dana Campuran'
          break
        case 4:
          data.asset = 'emas'
          data.name = 'Emas'
          break
        case 5:
          data.asset = 'saham'
          data.name = 'Reksa Dana Saham'
          break
        case 1:
          data.asset = 'pasar-uang'
          data.name = 'Reksa Dana Pasar Uang'
          break
      }
      return data
    },
    gotoSell () {
      if (this.current > 0) {
        this.$router.push('/finavest/new/portfolio/lifeplan/detail/' + this.idLifeplan)
      } else {
        this.dialog.dialogDisclaimer = true
      }
    },
    getDetailData () {
      const id = this.$route.params.id
      this.id = id
      ApiGet('finavest/v1/lifeplan/account/' + id, {})
        .then((res) => {
          let diff = differenceInMonths(res.d.target_time, res.d.created_time)
          this.targetTime = dateFormat(res.d.target_time, 'MMMM YYYY')
          this.type = res.d.type
          this.title = res.d.title
          this.futureInvest = res.d.target_cost
          this.current = res.d.total_saving_current
          this.regularInvest = res.d.regular_investment
          this.recommendation = res.d.invetment_plan
          this.isPriority = res.d.is_priority
          this.priorityNumber = res.d.priority_number
          this.idLifeplan = res.d.id
          this.assetCurrent = res.d.asset || null
          this.isLocked = res.d.is_locked
          this.duration = diff < 0 ? 0 : diff
          this.isLoaded = true
          this.openAchievedSheet()
          this.setHalofinaRemains()
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    openAchievedSheet () {
      if (this.current >= this.futureInvest) {
        this.bottomSheet.achieved = true
      }
    },
    trackLifeplanEdited () {
      this.$analytics.track('Lifeplan Edited', {
        regularinvestment: this.regularInvest,
        isactive: this.isPriority,
        isdeleted: true,
        priority: this.priorityNumber,
        lifeplanid: this.idLifeplan
      })
    },
    deleteData () {
      Api('finavest/v1/lifeplan/account/delete', {
        id: Number(this.id),
        type: this.type
      })
        .then(() => {
          this.snackbar = true
          this.bottomDesc = false
          this.dialog.dialogDelete = false
          this.trackLifeplanEdited()
          setTimeout(() => {
            this.$router.go(-1)
          }, 1000)
        })
        .catch(() => {
          this.dialog.dialogDelete = false
          this.dialog.dialogError = true
        })
    },
    goToBuyProduct () {
      this.$router.push('/finavest/investment/buy/buy_investment/' + Number(this.id) + '/new')
    },
    goToEdit () {
      this.$router.push('/finavest/new/lifeplan/edit/' + this.id + '/true')
    },
    removePopupFlag () {
      localStorage.removeItem('halofina-lifeplan-popup-flag')
    },
    setHalofinaRemains () {
      let regInvest = JSON.parse(localStorage.getItem('halofina-regular-invest'))
      let regularInvestNew = {
        total_invest: regInvest.total_invest - this.regularInvest,
        total_lifeplan_active: regInvest.total_lifeplan_active,
        total_lifeplan: regInvest.total_lifeplan
      }
      localStorage.setItem('halofina-regular-invest', JSON.stringify(regularInvestNew))
    }
  },
  created () {
    this.getDetailData()
    this.removePopupFlag()
  }
}
</script>
<style lang="sass">

  .m-b-n-2
    margin-bottom: -2px

  .border-bottom-solid
    color: #505565 !important
    border-bottom: 1px solid #E8EAEF

  .detail-lifeplan
    *
      margin: 0
      padding: 0

    .theme--light.v-btn.v-btn--disabled:not(.v-btn--icon):not(.v-btn--flat):not(.v-btn--outline)
      background-color: #E0E0E0 !important

    .wrap-img
      border: none !important

    .margin-toolbar
      margin-top: 48px

    .v-toolbar
      box-shadow: 0px 3px 10px rgba(23, 23, 23, 0.05) !important

    .color-grey
      color: #6E7692 !important

    .v-divider
      border-width: 4px

    .progress-bar
      width: 100%
      height: 10px
      background-color: transparent
      border-radius: 8px
      overflow: hidden
      border: none
      display: inline-flex

      .tetap
        background: #42A5F5

      .campuran
        background: #5ED0CF

      .emas
        background: #FFD469

      .saham
        background: #FF8E8E

      .pasar-uang
        background: #5ED07E

      .margin-top-2
        margin-top: 2px

    .btn-nabung
      width: 100%
      height: 56px
      color: white
      line-height: 55px
      text-align: center
      position: fixed
      bottom: 0
      z-index: 10

</style>
