<template>
    <div class="finavest-lifeplan-input bg-primary-3" :style="'min-height: ' + screenHeight + 'px;'">
        <reusable-toolbar :page-name="typeof id === 'number' ? 'Edit Lifeplan ' + title : 'Buat Lifeplan ' + jenis">
          <template slot="button-toolbar">
            <v-btn icon @click="goBack()">
              <img src="@/assets/icons/icon-back.svg" style="width: 24px; height: 24px;" alt="arrow back">
            </v-btn>
          </template>
        </reusable-toolbar>
        <v-container class="pa-0 bg-primary-3 toolbar-margin">
            <v-layout column pb-3>
              <div class="px-3 pt-3">
                <v-text-field
                  v-model="title"
                  label="Nama Lifeplan"
                  placeholder="Nama Lifeplan"
                  type="text"
                  hide-details
                  required
                  maxlength="25"
                ></v-text-field>
              </div>
                    <!-- Tahun Layout -->
              <v-layout row mt-4>
                <v-flex xs6>
                  <v-layout column>
                    <div class="px-3 target-lifeplan">
                      <v-text-field
                      v-model="tahun"
                      @click="bottomDescYear = true; setFlagPopup('waktu')"
                      :label="jenis === 'pensiun' || jenis === 'RETIREMENT' ? 'Rencana Pensiun' : 'Target waktu Lifeplan'"
                      placeholder="Bulan - Tahun"
                      type="text"
                      prepend-inner-icon="calendar_today"
                      hide-details
                      readonly
                      ></v-text-field>
                    </div>

                    <v-card-text style="color: #E52A34;" class="avenir-14-reg py-0 pt-1" v-if="validationMonth === true">
                      Durasi Min. 1 bulan
                    </v-card-text>
                  </v-layout>
                </v-flex>

                <!-- result -->
                <v-flex xs6>
                  <v-layout column>
                    <v-card-text class="avenir-12-reg pa-0 pl-2" style="color: #6E7692 !important;">
                      Tercapai dalam
                    </v-card-text>

                    <v-card-text v-if="achieved.year < 1 && achieved.month < 1" class="avenir-16-reg pa-0 pl-2" style="padding-top: 8px !important;">
                      {{achieved.year}} Tahun {{achieved.month}} Bulan
                    </v-card-text>

                    <v-card-text v-else-if="achieved.year < 1" class="avenir-16-reg pa-0 pl-2" style="padding-top: 8px !important;">
                      {{achieved.month}} Bulan
                    </v-card-text>

                    <v-card-text v-else-if="achieved.month < 1" class="avenir-16-reg pa-0 pl-2" style="padding-top: 8px !important;">
                      {{achieved.year}} Tahun
                    </v-card-text>

                    <v-card-text v-else class="avenir-16-reg pa-0 pl-2" style="padding-top: 8px !important;">
                      {{achieved.year}} Tahun {{achieved.month}} Bulan
                    </v-card-text>

                  </v-layout>
                </v-flex>
              </v-layout>
              <!-- Biaya Layout -->
              <v-layout row mt-4>
                <v-flex xs6>
                  <v-layout column>
                    <div class="px-3 biaya-wrap">
                      <v-text-field
                        v-model="biaya"
                        v-money="money"
                        @click="setFlagPopup('biaya')"
                        :label="jenis === 'pensiun' || jenis === 'RETIREMENT' ? 'Biaya pensiun per bulan' : 'Biaya'"
                        :rules="[rules.minInput]"
                        placeholder="0"
                        maxlength="12"
                        type="tel"
                        ref="biaya"
                      >
                      <template v-slot:append class="pos-relative">
                        <span class="append-icon-left avenir-16-reg" :style="biaya === null || biaya === 0 ? 'color: #B3B7C6' : 'color: #232735;' ">Rp</span>
                      </template>

                      </v-text-field>
                    </div>
                  </v-layout>
                </v-flex>

                <!-- result -->
                <v-flex xs6>
                  <v-layout column>
                    <v-card-text class="avenir-12-reg pa-0 pl-2" style="color: #6E7692 !important;">
                      Inflasi
                    </v-card-text>
                    <v-card-text class="avenir-16-reg pa-0 pl-2" style="padding-top: 6px !important;">
                      {{ inflation || '-' }} %
                    </v-card-text>
                  </v-layout>
                </v-flex>
              </v-layout>

              <v-card flat style="background-color: #F0F7FF" class="card-radius ma-20" v-if="jenis === 'pensiun' || jenis === 'RETIREMENT'">
                <v-card-text class="avenir-14-bold pb-0">Informasi</v-card-text>
                <v-card-text class="avenir-12-reg">Perkiraan biaya pensiun ini dihitung berdasarkan perkiraan angka harapan hidup hingga usia 75 tahun</v-card-text>
              </v-card>
          </v-layout>

          <v-divider></v-divider>

          <v-layout column pt-3>
            <v-flex xs12>
              <v-card-text class="pa-0 nexa-16-bold px-3 pb-2">
                Dana yang Telah Terkumpul
              </v-card-text>
            </v-flex>

            <v-flex xs12 class="px-3 pt-3">
              <div>
                <v-text-field
                v-model="aset"
                label="Jenis Aset"
                placeholder="Pilih Jenis Aset"
                @click="bottomDesc.asset = true"
                type="text"
                hide-details
                readonly
                >
                  <template v-slot:append class="pos-relative">
                    <img src="@/assets/finavest/lifeplan/icon-arrow-bottom.svg" class="append-icon-right" alt="icon arrow bottom">
                  </template>
                </v-text-field>
              </div>
            </v-flex>

            <v-flex xs12 class="px-3 pt-3">
              <div class="biaya-wrap">
                <v-text-field
                  v-model="nominal"
                  v-money="nominal !== null ? money : null"
                  label="Nominal"
                  placeholder="0"
                  maxlength="12"
                  type="tel"
                  required
                  hide-details
                  ref="nominal"
                >
                <template v-slot:append class="pos-relative">
                  <span class="append-icon-left avenir-16-reg" :style="nominal === null || nominal === 0 ? 'color: #B3B7C6' : 'color: #232735;' ">Rp</span>
                </template>
                </v-text-field>
                
                <template v-if="biaya && Number(replaceDot(biaya)) > 0 && jenis !== 'RETIREMENT' && jenis !== 'pensiun'">
                  <v-card-text style="color: #E52A34;" class="avenir-14-reg pa-0 py-0 pt-1" v-if="Number(replaceDot(nominal)) >= Number(replaceDot(biaya))">
                    Aset kamu sudah cukup untuk mencapai lifeplan
                  </v-card-text>
                </template>

                <div style="height: 75px"></div>
              </div>
            </v-flex>

          </v-layout>
          <v-btn
            class="btn-count avenir-16-med"
            @click="submit()"
            :disabled="
              biaya === null
              || Number(replaceDot(biaya)) < 100000
              || inflation === 0
              || validationMonth
              || (achieved.month === 0 && achieved.year === 0)
              || (Number(replaceDot(nominal)) >= Number(replaceDot(biaya)) && jenis !== 'RETIREMENT' && jenis !== 'pensiun')
            "
          >
            Hitung
          </v-btn>

          <reusable-bottom-sheet
            v-model="bottomDesc.error"
            title="Tampaknya kamu sedang coba-coba"
            description="Jangka waktu lifeplan terlalu panjang, atau target biaya terlalu kecil. Silakan cek kembali target lifeplan kamu."
            :image="require('@/assets/finavest/lifeplan/v3/unknown.svg')"
          >
            Kembali
          </reusable-bottom-sheet>

          <!-- v bottom sheet tahun -->
          <reusable-bottom-sheet v-model="bottomDescYear">
            <div slot="custom-layout">
              <div class="example-page">
                <smooth-picker ref="smoothPicker" :data="data" :change="dataChange"/>
              </div>
              <div class="bg-primary-3">
                <v-btn color="primary" @click="confirmYear()" depressed block class="btn-radius box-shadow">Pilih</v-btn>
              </div>
            </div>
          </reusable-bottom-sheet>

          <!-- v bottom sheet jenis asset -->
          <reusable-bottom-sheet v-model="bottomDesc.asset" :use-padding="false">
            <v-layout column pa-0 class="bg-primary-3" slot="custom-layout">
              <v-layout class="border-bottom-solid" row justify-space-between px-3 py-3>
                <div class="nexa-16-bold">Pilih Jenis Aset</div>
                <v-icon style="font-size: 20px !important; color: #232735 !important" @click="bottomDesc.asset = false">close</v-icon>
              </v-layout>
              <v-flex xs12 class="py-3 pl-3 border-bottom-solid avenir-16-reg" @click="confirmAsset('tanah')">Tanah / Rumah</v-flex>
              <v-flex xs12 class="py-3 pl-3 border-bottom-solid avenir-16-reg" @click="confirmAsset('tabungan')">Tabungan / Deposito</v-flex>
              <v-flex xs12 class="py-3 pl-3 border-bottom-solid avenir-16-reg" @click="confirmAsset('saham')">Saham</v-flex>
              <v-flex xs12 class="py-3 pl-3 border-bottom-solid avenir-16-reg" @click="confirmAsset('reksadana')">Reksa dana</v-flex>
              <v-flex xs12 class="py-3 pl-3 border-bottom-solid avenir-16-reg" @click="confirmAsset('emas')">Emas</v-flex>
              <v-flex xs12 class="py-3 pl-3 border-bottom-solid avenir-16-reg" @click="confirmAsset('lainnya')">Lainnya</v-flex>
            </v-layout>
          </reusable-bottom-sheet>
          <!-- Dialog Error -->
          <reusable-dialogs
            v-model="dialog.dialogError"
            :resize-image="true"
            :is-title-above-image="true"
          ></reusable-dialogs>
          <!-- Dialog Loading -->
          <reusable-dialogs
            v-model="dialog.dialogLoading"
            :unclickable="true"
          >
            <div slot="layout">
              <v-card flat class="card-radius" style="width: 100%">
                <v-layout py-3 px-5 row align-center justify-center>
                  <div class="nexa-14-bold px-5">Memproses...</div>
                </v-layout>
              </v-card>
            </div>
          </reusable-dialogs>
        </v-container>
    </div>

</template>

<script>
import {
  VForm,
  VTextField,
  VDialog,
  VDivider,
  VBottomSheet
} from 'vuetify/lib'
import Api from '@/services/Api'
import ApiGet from '@/services/ApiGet'
import { dateFormat, transformLifeplanType, replaceDot } from '@/services/Helpers'
import { VMoney } from 'v-money'
import ReusableImageLifeplan from '@/components/reusable/ReusableImageLifeplan'
import ReusableBottomSheet from '@/components/reusable/ReusableBottomSheet'

export default {
  directives: { money: VMoney },
  name: 'FinavestLifeplanEdit',
  components: {
    VForm,
    VTextField,
    VDialog,
    VDivider,
    ReusableImageLifeplan,
    ReusableBottomSheet,
    VBottomSheet
  },
  data () {
    return {
      screenHeight: screen.height - 48,
      validationMonth: false,
      bottomDescYear: false,
      riskProfile: 0,
      bottomDesc: {
        asset: false,
        error: false
      },
      rules: {
        minInput: value => {
          return Number(replaceDot(value)) >= 100000 || 'Tidak boleh kurang dari 100 rb'
        }
      },
      data: [
        {
          currentIndex: 0,
          flex: 3,
          list: [
            'Januari',
            'Februari',
            'Maret',
            'April',
            'Mei',
            'Juni',
            'Juli',
            'Agustus',
            'September',
            'Oktober',
            'November',
            'Desember'
          ],
          textAlign: 'center',
          className: 'row-group'
        },
        {
          currentIndex: 1,
          flex: 3,
          list: [],
          textAlign: 'center',
          className: 'item-group'
        }
      ],
      dialog: {
        isopen: false,
        desc: '',
        title: '',
        dialogError: false,
        dialogLoading: false
      },
      money: {
        thousands: '.',
        precision: 0,
        masked: true
      },
      validation: {
        year: null,
        cost: null,
        inflation: null
      },
      achieved: {
        month: 0,
        year: 0
      },
      priorityNumber: null,
      isPriority: null,
      aset: null,
      nominal: 0,
      title: '',
      inflation: 6,
      biaya: null,
      tahun: null,
      isDisabled: true,
      scroll: false,
      id: 0,
      appear: false,
      jenis: '',
      duration: 0,
      type: '',
      regularinvest: 0,
      fromDashboard: false,
      yearBirth: 0,
      lifeplanId: 0,
      current: 0,
      createdTime: '',
      targetTime: '',
      realDate: {
        month: 0,
        year: 0
      }
    }
  },
  watch: {
    bottomDescYear () {
      this.$nextTick(() => (this.$refs.smoothPicker.getGroupsRectList()))
    }
  },
  methods: {
    dateFormat,
    replaceDot,
    setDuration (duration) {
      let newDuration
      // get target month
      let monthtarget = dateFormat(this.targetTime, 'MM')
      // get target year
      let yeartarget = dateFormat(this.targetTime, 'YYYY')
      // created time month
      let monthcreated = dateFormat(this.createdTime, 'MM')
      // created time year
      let yearcreated = dateFormat(this.createdTime, 'YYYY')
      // Create new date now
      let monthCreated = new Date(Number(yeartarget), Number(monthtarget))
      // Create new date created
      let monthTarget = new Date(yearcreated, monthcreated)
      // Get month difference
      let time = this.monthDiff(monthTarget, monthCreated)
      if (this.current > 0) {
        newDuration = time + 1
      } else {
        newDuration = duration
      }
      return newDuration
    },
    submit () {
      this.dialog.dialogLoading = true
      let yearNow = new Date().getFullYear()
      let assetAmount = Number(replaceDot(this.nominal))
      let existingAssets = {
        asset_value: assetAmount,
        type: this.aset
      }
      let lifeplan = {
        type: transformLifeplanType(this.jenis),
        title: this.title,
        duration: this.tahun,
        inflation: this.inflation,
        edit: typeof this.id === 'number' || false,
        id: this.id,
        date: this.realDate.year.toString() + '-' + this.realDate.month.toString() + '-01',
        biaya: this.biaya,
        is_priority: this.isPriority,
        priority_number: this.priorityNumber,
        existing: existingAssets
      }
      let currentAge = yearNow - this.yearBirth
      let retirementAge = currentAge + Number(this.achieved.year)
      Api('finavest/v1/recommendation', {
        id_risk_profile: Number(this.riskProfile),
        duration: this.setDuration(this.duration),
        inflation: Number(this.inflation),
        current_cost: Number(replaceDot(this.biaya)),
        type: transformLifeplanType(this.jenis),
        current_age: this.jenis === 'pensiun' || this.jenis === 'RETIREMENT' ? currentAge : null,
        retirement_age: this.jenis === 'pensiun' || this.jenis === 'RETIREMENT' ? retirementAge : null,
        asset: assetAmount > 0 ? existingAssets : null
      }, true)
        .then((res) => {
          localStorage.setItem('halofina-lifeplan', JSON.stringify(lifeplan))
          localStorage.setItem('halofina-recommendation', JSON.stringify(res.d))
          this.$router.push('/finavest/new/lifeplan/calculate_result')
        })
        .catch((err) => {
          this.dialog.dialogLoading = false
          if (err.m === 'Duration Too Long or Investment Amount to Small') {
            this.bottomDesc.error = true
          } else {
            this.dialog.dialogError = true
          }
        })
    },
    dataChange (gIndex, iIndex) {
    },
    // confirm year
    confirmYear () {
      const ciList = this.$refs.smoothPicker.getCurrentIndexList()
      let monthTarget
      let monthTargetValue = this.data[0].list[ciList[0]]
      let yearTarget = this.data[1].list[ciList[1]]
      this.tahun = monthTargetValue.substr(0, 3) + ' - ' + yearTarget
      switch (monthTargetValue) {
        case 'Januari':
          monthTarget = 0
          // monthReal = '01'
          break
        case 'Februari':
          monthTarget = 1
          // monthReal = '02'
          break
        case 'Maret':
          monthTarget = 2
          // monthReal = '03'
          break
        case 'April':
          monthTarget = 3
          // monthReal = '04'
          break
        case 'Mei':
          monthTarget = 4
          // monthReal = '05'
          break
        case 'Juni':
          monthTarget = 5
          // monthReal = '06'
          break
        case 'Juli':
          monthTarget = 6
          // monthReal = '07'
          break
        case 'Agustus':
          monthTarget = 7
          // monthReal = '08'
          break
        case 'September':
          monthTarget = 8
          // monthReal = '09'
          break
        case 'Oktober':
          monthTarget = 9
          // monthReal = '10'
          break
        case 'November':
          monthTarget = 10
          // monthReal = '11'
          break
        case 'Desember':
          monthTarget = 11
          // monthReal = '12'
          break
      }
      this.parsingToYear(Number(yearTarget), Number(monthTarget))
      this.bottomDescYear = false
    },
    // parsing difference month to year
    parsingToYear (yeartarget, monthtarget) {
      // date now
      let datenow = new Date()

      // get now month
      var monthnow = dateFormat(datenow, 'MM')

      // get now year
      var yearnow = dateFormat(datenow, 'YYYY')

      let monthNow = new Date(Number(yearnow), Number(monthnow) - 2)
      let monthTarget = new Date(yeartarget, monthtarget)
      let months = this.monthDiff(monthNow, monthTarget)
      this.duration = months
      this.targetTime = monthTarget

      let resultMonths = Number(months) % 12
      let resultYear
      // let resultDate
      // convert to String
      resultYear = (Number(months) / 12).toString()
      // replace dot to space
      resultYear = resultYear.replace(/\./g, ' ')
      // get first word
      resultYear = resultYear.replace(/ .*/, '')

      // return
      if (Number(months) < 12) {
        this.achieved.month = months
        this.achieved.year = '0'
        if (Number(months) < 1) {
          this.validationMonth = true
        } else {
          this.validationMonth = false
        }
      } else {
        this.achieved.month = resultMonths
        this.achieved.year = resultYear
        this.validationMonth = false
      }
      this.realDate.month = monthtarget < 9 ? '0' + Number(monthtarget + 1) : Number(monthtarget + 1).toString()
      this.realDate.year = yeartarget
      this.getInflation(months)
    },
    // get difference month
    monthDiff (d1, d2) {
      let months
      months = (d2.getFullYear() - d1.getFullYear()) * 12
      months -= d1.getMonth() + 1
      months += d2.getMonth()
      return months <= 0 ? 0 : months
    },
    // choose asset
    confirmAsset (type) {
      switch (type) {
        case 'tanah':
          this.aset = 'Tanah / Rumah'
          break
        case 'tabungan':
          this.aset = 'Tabungan / Deposito'
          break
        case 'saham':
          this.aset = 'Saham'
          break
        case 'reksadana':
          this.aset = 'Reksa dana'
          break
        case 'emas':
          this.aset = 'Emas'
          break
        case 'lainnya':
          this.aset = 'Lainnya'
          break
      }
      this.bottomDesc.asset = false
    },
    getParams () {
      this.checkIdIsNumber()
      this.fromDashboard = Boolean(this.$route.params.dashboard)
    },
    // push to date list
    getYear () {
      // date now
      var nowDate = new Date()
      // get year
      var year = dateFormat(nowDate, 'YYYY')
      var yearLimit = Number(year) + 100
      for (var i = Number(year); i <= yearLimit; i++) {
        this.data[1].list.push(i)
      }
    },
    checkIdIsNumber () {
      var id = this.$route.params.id
      var regexNumber = /[0-9]/
      var isNumber = regexNumber.test(id)
      this.id = isNumber === true ? Number(id) : id
    },
    goBack () {
      localStorage.removeItem('halofina-lifeplan-popup-flag')
      this.$router.go(-1)
    },
    retrieveEditData () {
      // let recommendation = localStorage.getItem('halofina-recommendation')
      let lifeplan = JSON.parse(localStorage.getItem('halofina-lifeplan'))
      if (typeof this.id === 'number') {
        this.retrieve(this.id)
      } else {
        this.jenis = this.id
        this.title = this.jenis
        if (lifeplan) {
          this.title = lifeplan.title
          this.tahun = lifeplan.duration
          this.$refs.biaya.$el.getElementsByTagName('input')[0].value = lifeplan.biaya
          this.parsingToYear(Number(dateFormat(lifeplan.date, 'YYYY')), Number(dateFormat(lifeplan.date, 'MM')) - 1)
          if (lifeplan.existing.type !== null) {
            this.aset = lifeplan.existing.type
            this.$refs.nominal.$el.getElementsByTagName('input')[0].value = lifeplan.existing.asset_value
          }
        }
      }
    },
    retrieve (id) {
      ApiGet('finavest/v1/lifeplan/account/' + id, {})
        .then((res) => {
          this.lifeplanId = id
          this.jenis = res.d.type
          this.inflation = res.d.inflation
          this.parsingToYear(Number(dateFormat(res.d.target_time, 'YYYY')), Number(dateFormat(res.d.target_time, 'MM')) - 1)
          this.getYearBirthUser()
          this.title = res.d.title ? res.d.title : this.jenis
          this.current = res.d.total_saving_current
          this.createdTime = res.d.created_time
          this.targetTime = res.d.target_time
          this.tahun = dateFormat(res.d.target_time, 'MMM') + ' - ' + dateFormat(res.d.target_time, 'YYYY')
          this.regularinvest = res.d.regular_investment
          this.priorityNumber = res.d.priority_number
          this.isPriority = res.d.is_priority
          this.$refs.biaya.$el.getElementsByTagName('input')[0].value = this.jenis === 'RETIREMENT' ? res.d.current_cost / (res.d.detail.duration_of_retirement * 12) : res.d.current_cost
          if (res.d.asset !== null) {
            this.$refs.nominal.$el.getElementsByTagName('input')[0].value = res.d.asset.asset_value
            this.aset = res.d.asset.type
          }
        })
        .catch(() => {
          this.dialogs('Ada kesalahan', 'Coba reload atau coba beberapa saat lagi')
        })
    },
    dialogs (title, desc) {
      this.dialog.isopen = true
      this.dialog.title = title
      this.dialog.desc = desc
    },
    setUserProperties (obj) {
      var phone = localStorage.getItem('halofina-phone')
      var name = JSON.stringify(localStorage.getItem('halofina-name'))
      var email = localStorage.getItem('halofina-email')
      this.$analytics.userProperties({'$phone': phone, '$name': name, '$email': email, ...obj})
    },
    getInflation (months) {
      ApiGet('finavest/v1/lifeplan/type/' + transformLifeplanType(this.jenis).toLowerCase() + '/duration/' + months, true)
        .then((res) => {
          if (res.c === 503) {
            this.inflation = 6
          } else {
            this.inflation = res.d.rate
          }
        })
        .catch(() => {
          this.inflation = 6
        })
    },
    getRiskProfile () {
      Api('finacheck/rpa/user', {})
        .then((res) => {
          this.riskProfile = res.d.riskid
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    getYearBirthUser () {
      if (this.jenis === 'pensiun' || this.jenis === 'RETIREMENT') {
        Api('finacheck/kyc/personal', {})
          .then((res) => {
            this.yearBirth = Number(res.d.birthdate.substr(0, 4))
          })
          .catch(() => {
            this.dialog.dialogError = true
          })
      }
    },
    setFlagPopup (type) {
      if (typeof this.id === 'number') {
        localStorage.setItem('halofina-lifeplan-popup-flag', type)
      } else {
        localStorage.setItem('halofina-lifeplan-popup-flag', 'lifeplan')
      }
    }
  },
  created () {
    this.getParams()
    this.getYear()
  },
  mounted () {
    this.getRiskProfile()
    this.retrieveEditData()
    this.getYearBirthUser()
  }
}
</script>

<style lang="sass">
  .smooth-picker
    .smooth-handle-layer .smooth-middle
      height: 2.5rem !important

    .smooth-item
      font-size: 18px !important
      color: #3FA9EC !important
      line-height: 1.5 !important

  .border-bottom-solid
    color: #505565 !important
    border-bottom: 1px solid #E8EAEF

  .finavest-lifeplan-input

    .v-label
      font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif
      font-size: 16px !important

    .v-text-field .v-label--active
      font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif
      transform: translateY(-24px) scale(0.75) !important

    .theme--light.v-label
      color: #6E7692 !important

    .target-lifeplan .theme--light.v-label
      left: -28px !important

    .theme--light.v-input:not(.v-input--is-disabled) input,
    .theme--light.v-input:not(.v-input--is-disabled) textarea
      color: #232735 !important
      font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif

    .theme--light.v-text-field > .v-input__control > .v-input__slot:before,
    .theme--light.v-text-field:not(.v-input--has-state) > .v-input__control > .v-input__slot:hover:before
      border-color: #B3B7C6 !important

    .blank-box
      height: 200px

    .finavest-lifeplan-input .v-btn
      margin: 0px

    .inputedit
      padding: 6px 13px
      font-size: 14px
      border-bottom-right-radius: 8px
      border-top-right-radius: 8px
      height: 40px

    .span
      font-size: 14px
      color: gray
      height: 40px
      line-height: 40px
      padding: 0 13px
      padding-right: 0px
      border-bottom-left-radius: 8px
      border-top-left-radius: 8px
      background-color: #f6f8fa

    .btn-count
      width: 100%
      height: 56px
      background-color: #51AAF4 !important
      color: white
      line-height: 55px
      text-align: center
      position: fixed
      bottom: 0
      z-index: 10

    .v-divider
      border-width: 4px

    .v-icon
      font-size: 18px

    .theme--light.v-icon
      color: #B3B7C6

    .v-input__icon
      height: 29px !important

    input
      font-size: 16px !important

    .v-text-field .v-input__prepend-inner, .v-text-field .v-input__append-inner
      line-height: 1.9 !important

    .append-icon-left
      position: absolute
      left: 0
      top: 50%
      transform: translateY(-50%)

    .append-icon-right
      position: absolute
      right: 0
      top: 50%
      transform: translateY(-50%)

    .pos-relative
      position: relative

    .biaya-wrap
      .v-text-field > .v-input__control > .v-input__slot > .v-text-field__slot
        padding-left: 25px

    .primary--text
      color: #B3B7C6 !important


</style>
