<template>
  <div class="finavest-lifeplan-dashboard">
    <!-- App Layout -->
    <!-- lifeplan not null -->
    <img src="@/assets/dashboard/leaf.svg" alt="leaf" class="leaf">
    <!-- <div v-else> -->
      <v-container px-0 pb-3>
        <v-layout column>

          <v-layout row pb-3 pt-4 justify-end style="padding-right: 20px;">
            <!-- <img src="@/assets/dashboard/notification.svg" class="pr-3" alt="notification"/> -->
            <img src="@/assets/dashboard/voucher-blue.svg" alt="voucher" @click="routeToVoucher()"/>
          </v-layout>

          <v-layout column pb-4>
            <v-flex xs12 px-3>
              <!-- shimmer -->
              <v-card-text v-if="halofinaName" class="nexa-20-bold color-text-2">
                Halo {{halofinaName.replace(/ .*/,'')}}!
              </v-card-text>
              <v-card-text v-else class="skeleton-box" style="width:35%"></v-card-text>
              <v-card-text class="avenir-14-reg" style="color: #505565;">
                Jangan lupa setor tabungan lifeplanmu!
              </v-card-text>
            </v-flex>
          </v-layout>

          <!-- Saldo -->
          <v-layout column px-3 pb-3 v-if="isLoadedKyc === true">
            <v-flex xs12 class="zindex2" v-if="kycStatus === null">
              <div class="saldo">
                <v-layout row align-center>
                  <v-card-text class="avenir-10-med color-secondary-5">Silahkan lengkapi data untuk dapat memulai investasi</v-card-text>
                  <v-btn depressed small block class="box-shadow btn-radius" style="height: 28px !important; min-width: 75px !important" color="primary" @click="$router.push('/finacheck/kyc/list'); $analytics.track('KYC Continued')">
                    <v-card-text class="avenir-10-med color-primary-3">Verifikasi</v-card-text>
                  </v-btn>
                </v-layout>
              </div>
            </v-flex>
            <v-flex xs12 class="zindex2" v-else-if="kycStatus === 'PENDING' || kycStatus === 'ONPROCESS'">
              <div class="saldo">
                <v-layout row align-center>
                  <v-card-text class="avenir-10-med color-secondary-5">Verifikasi sedang dalam proses. Harap tunggu kurang lebih 1-2 hari kerja.</v-card-text>
                  <v-btn depressed small block class="box-shadow btn-radius" style="height: 28px !important; min-width: 75px !important" color="primary" disabled @click="$router.push('/finacheck/kyc/list'); $analytics.track('KYC Continued')">
                    <v-card-text class="avenir-10-med color-primary-3">Verifikasi</v-card-text>
                  </v-btn>
                </v-layout>
              </div>
            </v-flex>
            <v-flex xs12 class="zindex2" v-else-if="kycStatus === 'REJECTED'">
              <div class="saldo">
                <v-layout row align-center>
                  <v-card-text class="avenir-10-med color-secondary-5">Verifikasi ditolak dikarenakan <span class="color-system-error">{{ kycRemark }}</span>, silahkan lakukan perbaikan data.</v-card-text>
                  <v-btn depressed small block class="box-shadow btn-radius" style="height: 28px !important; min-width: 75px !important" color="primary" @click="$router.push('/finacheck/kyc/list'); $analytics.track('KYC Continued')">
                    <v-card-text class="avenir-10-med color-primary-3">Perbaiki</v-card-text>
                  </v-btn>
                </v-layout>
              </div>
            </v-flex>
            <v-flex xs12 class="zindex2" v-else-if="kycStatus === 'COMPLETED'">
              <v-layout align-center px-20 row class="bg-primary-3 wrap-risk-profile" @click="$router.push('/new/finacheck/rpa/input/edit')">
                <img v-if="riskProfile === 1" :src="require('@/assets/finacheck/rpa/v3/conservative.svg')" />
                <img v-if="riskProfile === 2" :src="require('@/assets/finacheck/rpa/v3/mid-conservative.svg')" />
                <img v-if="riskProfile === 3" :src="require('@/assets/finacheck/rpa/v3/moderate.svg')" />
                <img v-if="riskProfile === 4" :src="require('@/assets/finacheck/rpa/v3/mid-aggressive.svg')" />
                <img v-if="riskProfile === 5" :src="require('@/assets/finacheck/rpa/v3/aggressive.svg')" />
                <v-layout column class="ml-2">
                  <v-card-text class="avenir-12-reg color-text-3">
                    Profil Risiko
                  </v-card-text>
                  <v-card-text v-if="riskProfile === 1" class="nexa-14-bold">Berhati-hati</v-card-text>
                  <v-card-text v-if="riskProfile === 2" class="nexa-14-bold">Cukup Stabil</v-card-text>
                  <v-card-text v-if="riskProfile === 3" class="nexa-14-bold">Stabil</v-card-text>
                  <v-card-text v-if="riskProfile === 4" class="nexa-14-bold">Cukup Ambisius</v-card-text>
                  <v-card-text v-if="riskProfile === 5" class="nexa-14-bold">Ambisius</v-card-text>
                </v-layout>
              </v-layout>
            </v-flex>
          </v-layout>

          <v-layout column px-3 pb-3 v-else>
          </v-layout>

          <!-- Menu Finansial -->
          <v-card-text class="text-menu-finance nexa-16-bold color-text-2 px-3 pt-3">
            Menu Finansial
          </v-card-text>

          <v-layout row class="scroll-wrapper" style="overflow: auto;">
            <v-flex
              v-for="(financeData, indexFinance) in finance"
              :key="indexFinance"
              :style="financeData.name === 'Lifeplan' ? 'margin-left: 20px !important;' : '' " :class="financeData.isActive === true ? 'scroll-child con-finance pa-1' : 'scroll-child con-finance pa-1 grayscale'"
              @click="trackFinanceMenu(financeData.track)"
            >

              <div
                style="width: 42px; height: 42px; margin: 0 auto; position: relative; opacity: 1;"
                :class="financeData.class"
                @click="financeData.isActive === true ? routeMenuFinance(financeData.route) : null">
                <img :src="financeData.img" :alt="financeData.name">
              </div>

              <div class="name-lifeplan text-xs-center" :style="financeData.isActive === true ? null : 'opacity: 0.4'">
                {{financeData.name}}
              </div>

            </v-flex>
          </v-layout>

          <!-- Cards -->
          <!-- lifeplan null -->
          <div v-if="isLoadedLifeplans">
            <div v-if="lifeplans.length === 0">
              <v-layout column align-center mb-4>
                <div class="px-4 mb-3">
                  <img src="@/assets/finavest/lifeplan/no_lifeplan.svg" style="width:100%; height: 240px;" alt="Lifeplan Null">
                  <br />
                  <v-card-text class="nexa-14-bold text-xs-center color-text-2 mb-1"> kamu belum memiliki lifeplan </v-card-text>
                  <v-card-text class="avenir-12-reg text-xs-center pa-0 px-3 color-text-3">Penuhi rencana investasimu dengan membuat lifeplan dari sekarang.</v-card-text>
                </div>
                <v-btn depressed color="primary" @click.native="toAddLifeplan()" class="box-shadow px-4" round>Buat Lifeplan</v-btn>
              </v-layout>
            </div>
            <!-- lifeplan not null -->
            <div v-else class="mb-3">
              <v-layout row align-center justify-space-between pa-3>
                <v-flex xs8>
                  <v-card-text class="nexa-16-bold">Lifeplan</v-card-text>
                  <v-card-text class="avenir-14-reg color-secondary-5">Penuhi rencana investasimu</v-card-text>
                </v-flex>
                <v-flex xs4>
                  <v-card-text class="text-align-right avenir-10-med" style="color: #A0A5B7;" @click="routeToAllLifeplan()">SELENGKAPNYA</v-card-text>
                </v-flex>
              </v-layout>
              <v-layout row class="scroll-wrapper" style="overflow: auto; -webkit-overflow-scrolling: touch;">
                <v-flex v-for="(lifeplan, indexLifeplan) in lifeplans" :key="indexLifeplan" class="scroll-child mx-2 lifeplan-card">
                  <reusable-cards
                    :with-progress="false"
                    :with-button="false"
                    :section-datas="cardSectionData[indexLifeplan]"
                    class-button="mt-4"
                    class="px-2"
                    style="width: 275px"
                    @card-function="routeToPortfolio(lifeplan.id)"
                  >
                    <v-layout slot="layout-title" :class="setLifeplanClass(transformLifeplanType(lifeplan.type, true)) + ' card-header-title-lifeplan'" row align-center>
                      <v-flex xs7 pl-3>
                        <v-layout column>
                          <v-flex class="nexa-14-bold color-primary-3 text-truncate">
                            {{ lifeplan.title }}
                          </v-flex>
                          <v-flex class="avenir-12-reg color-primary-3">
                            {{ dateFormat(lifeplan.target_time, 'MMMM YYYY') }}
                          </v-flex>
                        </v-layout>
                      </v-flex>
                      <v-flex xs5>
                        <reusable-image-lifeplan
                        :type="transformLifeplanType(lifeplan.type, true)"
                        :style-image="null"
                        :with-gradient="true"
                        ></reusable-image-lifeplan>
                      </v-flex>
                    </v-layout>
                    <div slot="layout-highlight" style="margin-top: 60px; margin-bottom: 12px">
                      <v-flex class="avenir-10-med color-secondary-5">
                        Dana Terkumpul
                      </v-flex>
                      <v-flex class="avenir-16-reg">
                        <b>Rp {{ numberingNumber(lifeplan.grand_total) }}</b>
                      </v-flex>
                    </div>
                  </reusable-cards>
                </v-flex>
            </v-layout>
          </div>
          </div>
          <div v-else>
            <v-layout row align-center justify-space-between pa-3>
              <v-flex xs8>
                <v-card-text class="nexa-16-bold">Lifeplan</v-card-text>
                <v-card-text class="avenir-14-reg color-secondary-5">Penuhi rencana investasimu</v-card-text>
              </v-flex>
              <v-flex xs4>
                <v-card-text class="text-align-right avenir-10-med" style="color: #A0A5B7;" @click="routeToAllLifeplan()">SELENGKAPNYA</v-card-text>
              </v-flex>
            </v-layout>
            <v-layout row class="scroll-wrapper" style="overflow: auto; -webkit-overflow-scrolling: touch;">
              <v-flex v-for="(lifeplan, indexLifeplan) in 3" :key="indexLifeplan" class="scroll-child mx-2 lifeplan-card">
              <div class="skeleton-box" style="width: 243px; height: 117px;"></div>
            </v-flex>
          </v-layout>
        </div>

          <!-- Portfolio -->
              <!-- v else -->
              <div v-if="isLoadedPortfolio === false">
                <v-card flat style="height: 239px" class="portfolio-section">
                  <v-card-text class="nexa-16-bold ml-3 mb-4 mt-3 color-primary-3 pt-3">
                    Portofolio
                  </v-card-text>
                  <!-- Nilai Aset -->
                  <v-layout px-3 mb-3 row align-center justify-space-between>
                    <v-flex xs8>
                      <v-card-text class="avenir-10-reg color-primary-3">Total Nilai Aset</v-card-text>
                      <v-card-text class="skeleton-box"></v-card-text>
                    </v-flex>
                    <v-flex xs4>
                      <v-btn small round flat depressed class="portfolio-btn avenir-10-reg" dark>Lihat Detail</v-btn>
                    </v-flex>
                  </v-layout>
                  <!-- Nilai Untung -->
                  <v-layout px-3 mb-4 row align-center justify-space-between>
                    <v-flex xs6>
                      <v-card-text class="avenir-10-reg color-primary-3">Nilai Untung / Rugi</v-card-text>
                      <v-card-text class="skeleton-box"></v-card-text>
                    </v-flex>
                    <v-flex xs6>
                      <v-card-text class="avenir-10-reg color-primary-3 text-align-right">Persentase Hasil</v-card-text>
                      <v-card-text class="skeleton-box text-align-right right mb-1" style="width: 40%;"></v-card-text>
                    </v-flex>
                  </v-layout>
                  <!-- Class Assets -->
                  <v-layout row class="scroll-wrapper" style="overflow: auto; -webkit-overflow-scrolling: touch;">
                    <v-flex v-for="(portfolio, indexPort) in 3" :key="indexPort" class="scroll-child mx-2 fixed-width" style="-webkit-transform: translate3d(0, 0, 0)">
                      <div class="skeleton-box" style="width: 243px; height: 117px;"></div>
                    </v-flex>
                </v-layout>
              </v-card>
              </div>

              <div v-else>
                <v-card v-if="checkFeatures('halofina:portfolio').version > 2" flat :style="portfolios.length > 0 ? 'height: 239px' : 'height: 158px'" class="portfolio-section">
                  <v-card-text class="nexa-16-bold ml-3 mb-4 mt-3 color-primary-3 pt-3">
                    Portofolio
                  </v-card-text>
                  <!-- Nilai Aset -->
                  <v-layout px-3 mb-3 row align-center justify-space-between>
                    <v-flex xs8>
                      <v-card-text class="avenir-10-reg color-primary-3">Total Nilai Aset</v-card-text>
                      <v-card-text class="avenir-16-med color-primary-3">Rp {{ numberingNumber(portfolio.totalBalance) }}</v-card-text>
                    </v-flex>
                    <v-flex xs4>
                      <v-btn small round flat depressed class="portfolio-btn avenir-10-reg" dark @click="$emit('route-query', 'portfolio')">Lihat Detail</v-btn>
                    </v-flex>
                  </v-layout>
                  <!-- Nilai Untung -->
                  <v-layout px-3 mb-4 row align-center justify-space-between>
                    <v-flex xs6>
                      <v-card-text class="avenir-10-reg color-primary-3">Nilai Untung / Rugi</v-card-text>
                      <v-card-text class="avenir-12-reg color-primary-3">Rp {{ numberingNumber(portfolio.gainLossAmount) }}</v-card-text>
                    </v-flex>
                    <v-flex xs6>
                      <v-card-text class="avenir-10-reg color-primary-3 text-align-right">Persentase Hasil</v-card-text>
                      <v-card-text class="avenir-12-reg color-primary-3 text-align-right">{{ numberingNumber(portfolio.gainLossPercentage) }}%</v-card-text>
                    </v-flex>
                  </v-layout>
                  <!-- Class Assets -->
                  <v-layout row class="scroll-wrapper" style="overflow: auto; -webkit-overflow-scrolling: touch;">
                    <v-flex v-for="(portfolio, indexPort) in portfolios" :key="indexPort" class="scroll-child mx-2 fixed-width" style="-webkit-transform: translate3d(0, 0, 0)">
                      <reusable-cards
                      :with-button="false"
                      :card-title="portfolio.class"
                      :card-description="'Rp ' + portfolio.balance"
                      :with-menu="true"
                      style="padding: 12px 0px 0px 0px !important"
                      @card-function="routeToPortfolio(lifeplan.targetid)"
                      >
                      <div slot="title-layout-image" class="mx-2">
                        <reusable-image-asset :type="portfolio.class === 'Emas' ? portfolio.class : 'Reksadana ' + portfolio.class"></reusable-image-asset>
                      </div>
                      <div class="class-asset-btn center-vert center-horizontal text-xs-center mr-12" slot="menu-layout">{{ portfolio.product }} Aset</div>
                      <v-layout row slot="layout-desc" class="border-content-top" mt-2>
                        <v-flex class="border-content py-12" xs6 v-for="(data, index) in portfolio.datas" :key="index" row>
                          <v-card-text class="avenir-10-reg text-align-center color-text-3">{{data.title}}</v-card-text>
                          <v-card-text class="avenir-10-reg text-align-center color-text-2">{{data.desc}}</v-card-text>
                        </v-flex>
                      </v-layout>
                    </reusable-cards>
                  </v-flex>
                </v-layout>
              </v-card>
            </div>

          <!-- Smart Savings -->
          <div v-if="checkFeatures('halofina:smart_saving').enabled === true">
            <v-card v-if="smartSaving.totalUnit > 0 && smartSaving.product !== null" :style="portfolios.length > 0 ? 'position: relative; margin-top: 76px !important' : 'position: relative; margin-top: 20px !important'" class="smart-saving-card ma-3 pa-3 card-radius box-shadow" xs12>
              <div @click="$router.push('/finavest/investment/smart_saving/detail/1')">
                <div style="width: 1px; background-color: #A8ADC4; height: 40px; position: absolute; top: 50%; left: 50%"></div>
                <v-card-text class="avenir-10-med ml-2" style="margin-top: 51px">Smart Saving</v-card-text>
                <v-card-text class="nexa-16-bold mb-3 mx-2">Rp {{ numberingNumber(smartSaving.amount) }}</v-card-text>
                <v-layout row align-center justify-center mb-3 ml-2>
                  <v-flex xs8>
                    <v-card-text class="avenir-10-med color-secondary-5">Nilai Pertumbuhan</v-card-text>
                    <v-card-text class="avenir-14-reg color-text-2">Rp {{ numberingNumber(smartSaving.gainLossAmount) }}</v-card-text>
                  </v-flex>
                  <v-flex xs4>
                    <v-card-text class="avenir-10-med color-secondary-5">Persentase Hasil</v-card-text>
                    <v-layout row align-center justify-start>
                      <v-icon v-if="smartSaving.gainLossPercentage < 0" class="color-system-error" style="margin-top: -2px">arrow_drop_down</v-icon>
                      <v-icon v-else-if="smartSaving.gainLossPercentage > 0" class="color-system-success" style="margin-top: -2px">arrow_drop_up</v-icon>
                      <v-icon v-else class="color-system-success" style="margin-top: -2px"></v-icon>
                      <div class="avenir-12-reg text-align-right">
                        {{numberingNumber(smartSaving.gainLossPercentage)}}%
                      </div>
                    </v-layout>
                  </v-flex>
                </v-layout>
              </div>
              <v-btn block depressed flat color="primary" class="btn-radius bg-secondary-10" @click="$router.push('/finavest/investment/smart_saving/detail/1')">Detail Tabungan</v-btn>
            </v-card>
            <!-- Smart Savings Null -->
            <v-card v-else :style="portfolios.length > 0 ? 'position: relative; margin-top: 85px !important' : 'position: relative; margin-top: 20px !important'" class="smart-saving-card-left ma-3 pa-3 card-radius box-shadow" flat>
              <v-card-text class="avenir-12-reg mt-4">kamu belum memulai</v-card-text>
              <v-card-text class="nexa-20-bold">Smart Saving</v-card-text>
              <v-card-text class="avenir-12-reg mb-4">Ayo mulai sekarang!</v-card-text>
              <v-btn block depressed flat color="primary" class="btn-radius bg-secondary-10" @click="$router.push('/finavest/investment/smart_saving/detail/1')">Mulai Menabung!</v-btn>
            </v-card>
          </div>

          <!-- Banner -->
          <v-card-text class="nexa-16-bold px-3 py-2 my-1" v-if="banners.length > 0">
            Promo
          </v-card-text>
          <div class="px-3">
            <banner @banners="getBanners"></banner>
          </div>
        </v-layout>
      </v-container>
      <!-- Top Up Smart Saving -->
      <smart-saving-sheet
        v-model="smartSaving.topUpSheet"
        @brief-data="getSmartSaving"
        @product-data="getSmartSavingProduct"
      ></smart-saving-sheet>
    </div>
  <!-- </div> -->
</template>
<script>
// Import Vuetify
import {
  VList,
  VListTile,
  VListTileTitle,
  VListTileAvatar,
  VListTileContent,
  VListTileAction,
  VListTileSubTitle,
  VStepper,
  VStepperHeader,
  VStepperStep,
  VDivider,
  VSpacer,
  VImg,
  VBottomSheet
} from 'vuetify/lib'
// Import function from helpers.js
import { capitalizeWord, numberingNumber, dateFormat, checkFeatures, setLifeplanClass, transformLifeplanType } from '@/services/Helpers'
import ApiGet from '@/services/ApiGet'
// Import reusable components
import ReusableCards from '@/components/reusable/ReusableCards.vue'
import ReusableBottomSheet from '@/components/reusable/ReusableBottomSheet.vue'
import ReusableImageAsset from '@/components/reusable/ReusableImageAsset.vue'
import ReusableImageLifeplan from '@/components/reusable/ReusableImageLifeplan.vue'
import SmartSavingSheet from '@/components/v2/finavest/investment/smart_saving/SmartSavingSheet'
import Banner from '@/components/others/Banner.vue'

export default {
  name: 'LifeplanDashboardNew',
  components: {
    Banner,
    VList,
    VListTile,
    VListTileTitle,
    VListTileAvatar,
    VListTileContent,
    VListTileAction,
    VListTileSubTitle,
    VStepper,
    VStepperHeader,
    VStepperStep,
    VDivider,
    VSpacer,
    VImg,
    VBottomSheet,
    ReusableCards,
    ReusableBottomSheet,
    ReusableImageLifeplan,
    ReusableImageAsset,
    SmartSavingSheet
  },
  props: {
    lifeplans: {
      type: Array
    },
    finapoint: {
      type: Number
    },
    kycStatus: {
      type: String || null
    },
    kycRemark: {
      type: String || null
    },
    kycCardStatus: {
      type: String || null,
      default: null
    },
    isLoadedLifeplans: {
      type: Boolean
    },
    cardSectionData: {
      type: Array
    },
    isLoadedKyc: {
      type: Boolean
    },
    riskProfile: {
      type: Number
    },
    halofinaName: {
      type: String
    }
  },
  data () {
    return {
      isLoadedLifeplans2: true,
      isLoadedPortfolio: false,
      isLoading: false,
      smartSaving: {
        topUpSheet: false,
        amount: 0,
        gainLossAmount: 0,
        gainLossPercentage: 0,
        product: null,
        totalUnit: 0
      },
      money: {
        thousands: '.',
        precision: 0,
        masked: true
      },
      dialog: {
        isOpen: false,
        title: '',
        desc: '',
        dialogLifeplanId: '',
        dialogDelete: false,
        dialogInfo: false,
        dialogOnProgress: false
      },
      displayDate: new Date(),
      kycCardStatusChild: this.kycCardStatus,
      hasTrx: 0,
      banners: [],
      finance: [
        {
          name: 'Lifeplan',
          img: require('@/assets/dashboard/finance/lifeplan.svg'),
          isActive: true,
          route: '/finavest/new/lifeplan/dashboard',
          color: '#5EC5F8',
          track: 'Lifeplan Menu Selected'
        },
        {
          name: 'Pasar Produk',
          img: require('@/assets/dashboard/finance/pasar_produk.svg'),
          isActive: checkFeatures('halofina:product_market').enabled,
          route: '/finavest/market/dashboard',
          color: '#FFFFFF',
          track: 'Pasar Produk Menu Selected'
        },
        {
          name: 'Finapedia',
          img: require('@/assets/dashboard/finance/finapedia.svg'),
          isActive: true,
          route: '/finapedia/dashboard',
          color: '#FFA562',
          track: 'Finapedia Menu Selected'
        },
        {
          name: 'Zakat',
          img: require('@/assets/dashboard/finance/zakat.svg'),
          isActive: true,
          route: '/finavest/payment/zakat/zakat_list',
          color: '#5ED0CF',
          track: 'Zakat Menu Selected'
        },
        {
          name: 'Checkup',
          img: require('@/assets/dashboard/finance/fcu.svg'),
          isActive: checkFeatures('halofina:fcu').enabled,
          route: '/fcu',
          color: '#FFFFFF',
          track: 'FCU Menu Selected'
        },
        {
          name: 'Tes Finansial',
          img: require('@/assets/dashboard/finance/fqt.svg'),
          isActive: checkFeatures('halofina:fqt').enabled,
          route: '/v2/fqt/intro',
          color: '#FFFFFF',
          track: 'FQT Menu Selected'
        },
        {
          name: 'Ask Fina',
          img: require('@/assets/dashboard/finance/askfina.svg'),
          isActive: false,
          route: 'askfina',
          color: '#FFFFFF',
          track: 'Askfina Menu Selected'
        }
      ],
      portfolios: [],
      portfolio: {
        gainLossAmount: 0,
        gainLossPercentage: 0,
        totalBalance: 0
      }
    }
  },
  computed: {
    totalAmount: function () {
      return this.lifeplans.map(lifeplan => Number(lifeplan.grand_total)).reduce((prev, next) => prev + next)
    }
  },
  methods: {
    capitalizeWord,
    numberingNumber,
    dateFormat,
    checkFeatures,
    setLifeplanClass,
    transformLifeplanType,
    getBanners (data) {
      this.banners = data
    },
    trackFinanceMenu (value) {
      this.$analytics.track(value)
    },
    openChat () {
      document.querySelector('.qcw-trigger-btn').click()
    },
    trackPage () {
      this.$analytics.track('Lifeplan Dashboard Viewed')
    },
    routeMenuFinance (route) {
      if (route === 'askfina') {
        this.openChat()
      } else {
        this.$router.push(route)
      }
    },
    routeToAllLifeplan () {
      if (checkFeatures('halofina:lifeplan_creator').version > 1) {
        this.$router.push('/finavest/new/lifeplan/dashboard')
      } else {
        this.$router.push('/finavest/lifeplan/template/edit')
      }
    },
    routeToPortfolio (lifeplanId) {
      this.$router.push('/finavest/new/lifeplan/detail_lifeplan/' + lifeplanId)
    },
    routeToVoucher () {
      this.$router.push('/finavest/investment/list_voucher')
    },
    removeFromDashboard () {
      localStorage.removeItem('halofina-from-dashboard')
    },
    toAddLifeplan () {
      this.removeFromDashboard()
      let regularInvest = {
        total_invest: 0,
        total_lifeplan_active: 0,
        total_lifeplan: 0
      }
      localStorage.setItem('halofina-regular-invest', JSON.stringify(regularInvest))
      this.$router.push('/finavest/new/lifeplan/add')
    },
    getSmartSaving (data) {
      if (data) {
        this.smartSaving.amount = data.total_balance
        this.smartSaving.gainLossAmount = data.gain_loss_amount
        this.smartSaving.gainLossPercentage = data.gain_percentage
      }
    },
    getSmartSavingProduct (data) {
      if (data) {
        this.smartSaving.product = data
        this.smartSaving.totalUnit = data.total_unit + data.pending_unit
      }
    },
    getPortfolios () {
      ApiGet('v1/investment/portfolio/group/asset-class', {})
        .then((res) => {
          this.transformPortfolio(res.d)
          this.isLoading = true
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    transformPortfolio (data) {
      var transformed = []
      data.forEach(element => {
        transformed.push({
          class: this.removeReksadanaWord(element.asset_name),
          product: element.product_list.length,
          balance: numberingNumber(element.total_balance),
          datas: [
            {
              title: 'Nilai Untung/Rugi',
              desc: 'Rp ' + numberingNumber(element.gain_loss_amount)
            },
            {
              title: 'Persentase Hasil',
              desc: element.gain_percentage + '%'
            }
          ]
        })
      })
      this.portfolios = transformed
    },
    removeReksadanaWord (word) {
      if (word !== 'Emas') {
        return word.substr(10)
      }
      return word
    },
    getPortfoliosBrief () {
      ApiGet('v1/investment/portfolio/brief', {})
        .then((res) => {
          this.portfolio.gainLossAmount = res.d.gain_loss_amount
          this.portfolio.gainLossPercentage = res.d.gain_percentage
          this.portfolio.totalBalance = res.d.total_balance
          this.isLoadedPortfolio = true
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    }
  },
  created () {
    this.trackPage()
    this.checkTransaction()
    this.getStatusCardKyc()
  },
  mounted () {
    this.getPortfolios()
    this.getPortfoliosBrief()
  }
}
</script>
<style lang="sass">
  .finavest-lifeplan-dashboard
    background-color: #FFFFFF

    *
      padding: 0
      margin: 0

    .wrap-risk-profile
      border-radius: 5px
      border: 1px solid #E8EAEF
      padding: 14px 0
      position: relative
      z-index: 10

    .grayscale
      filter: grayscale(100%)

    .border-content-top
      border-top: 1px solid #E8EAEF

    .border-content:nth-child(1),
    .border-content:nth-child(2)
      border-right: 1px solid #E8EAEF

    .smart-saving-card
      background-image: url('../../../../assets/dashboard/smart-saving-right.svg')
      background-size: 100%
      // margin-top: 76px !important

    .smart-saving-card-left
      background-image: url('../../../../assets/dashboard/smart-saving-left.svg')
      background-size: 100%
      // margin-top: 76px !important

    .portfolio-section
      background: url('../../../../assets/dashboard/portfolio-section.svg') no-repeat
      background-size: cover
      background-position: center
      // height: 234px

    .portfolio-cards
      position: absolute
      bottom: -59px

    .leaf
      position: absolute
      top: 15px

    .zindex2
      z-index: 2

    .fixed-width
      min-width: 275px

    .fixed-width:first-child
      margin-left: 16px !important

    .divider
      position: absolute
      width: 70%
      height: 1px
      background-color: black
      opacity: 0.04
      top: 16%
      left: 50%
      transform: translateX(-50%)

    .span-badge
      position: relative
      display: inline-block
      border-radius: 100%
      width: 28px
      height: 28px
      padding-top: 3px
      background-color: #42A5F5
      text-align: center

    .blank
      width: 100%
      height: 50px
      background-color: white

    .con-total
      padding: 18px 28px
      position: fixed
      width: 100%
      z-index: 4
      border-bottom-left-radius: 12px
      border-bottom-right-radius: 12px

    .card-header-title-lifeplan
      position: absolute
      left: 0px
      top: 0px
      width: 100%

    .v-progress-linear
      border-radius: 4px
      height: 5px
      margin: 8px 0px

    .v-progress-linear__bar
      background: #E9ECF0

    .v-progress-linear__bar__determinate
      border-radius: 8px
      background: linear-gradient(to right, #4197EF, #61C3FF) !important

    .saldo
      position: relative
      background: #fff
      width: 100%
      border-radius: 5px
      padding: 12px 16px
      border: 1px solid #E8EAEF
      box-shadow: 0px 6px 10px rgba(175, 211, 229, 0.15)

      .img-left
        float: left

      .desc
        .title-wallet
          color: #A0A5B7

        .amount
          font-weight: 600
          color: #505565
          font-size: 14px

    .con-finance
      margin-left: 25px

    .portfolio-btn
      float: right
      width: 85px
      height: 28px
      background: rgba(5, 120, 203, 0.2)
      font-size: 10px

    .class-asset-btn
      float: right
      width: 49px
      height: 18px
      background: #DEECFD
      font-size: 10px
      color: #236CC6
      border-radius: 100px

      img
        position: absolute
        width: 43px
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)


    .name-lifeplan
      line-height: 1
      font-size: 10px
      color: #505565
      margin-top: 12px
      font-family: "Avenir-Regular", Helvetica, Arial, sans-serif

      &.active
        opacity: 1

    .text-menu-finance
      font-weight: 600
      padding-bottom: 14px
      color: #505565

    .lifeplan-card:nth-child(1)
      margin-left: 16px !important

    .icon-right
      position: absolute
      right: 10px

    .skeleton-box
      display: inline-block
      height: 1em
      position: relative
      overflow: hidden
      background-color: #e8eaef
      border-radius: 8px

      &::after
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        transform: translateX(-100%)
        background-image: linear-gradient(90deg, rgba(#fff, 0) 0, rgba(#fff, 0.2) 20%, rgba(#fff, 0.5) 60%, rgba(#fff, 0))
        animation: shimmer 2s infinite
        content: ''

      @keyframes shimmer
        100%
          transform: translateX(100%)

</style>
