<template>
  <div class="finavest-lifeplan-dashboard-new" v-if="isLoaded.lifeplans === true">
    <!-- App Layout -->
      <v-container px-0 pb-3>
        <v-layout column>
          <!-- Header -->
            <div class="wrap-header px-20" :style="kycStatus !== 'COMPLETED' || halofinaMother === null ? 'height: 170px' : 'height: 142px'">
              <lottie :options="defaultOptions" class="lottie-header" :style="kycStatus !== 'COMPLETED' || halofinaMother === null ? 'transform: translate3d(121px, 82px, 0px)' : 'transform: translate3d(121px, 54px, 0px)'"/>
              <v-layout row wrap justify-space-between class="relative-pos">
                <img src="@/assets/dashboard/logo-white.svg" alt="logo white">
                <!-- Voucher with badge -->
                <img v-if="voucherLength > 0" src="@/assets/icons/ic-voucher-badge.svg" alt="logo voucher" @click="routeToVoucher()" class="voucher-icon" id="voucher-badge">
                <!-- Voucher without badge -->
                <img v-else id="voucher-no-badge" src="@/assets/icons/ic-voucher.svg" alt="logo voucher" @click="routeToVoucher()" class="voucher-icon">
              </v-layout>

              <v-layout column class="py-20 relative-pos">
                <v-flex xs12>
                  <!-- shimmer -->
                  <v-card-text v-if="halofinaName" class="nexa-20-bold color-primary-3">
                    Halo {{halofinaName.replace(/ .*/,'')}}!
                  </v-card-text>
                  <v-card-text class="avenir-14-reg color-primary-3">
                    Jangan lupa setor tabungan lifeplanmu!
                  </v-card-text>
                </v-flex>
              </v-layout>

              <!-- KYC -->
              <v-layout column v-if="isLoaded.kyc === true">
                <v-flex xs12 class="zindex2" v-if="kycStatus === null">
                  <div class="saldo">
                    <v-layout row align-center>
                      <v-card-text class="avenir-10-med color-secondary-5">Silahkan lengkapi data untuk dapat memulai investasi</v-card-text>
                      <v-btn depressed small block class="box-shadow btn-radius" style="height: 28px !important; min-width: 75px !important" color="primary" @click="goKyc('null')">
                        <v-card-text class="avenir-10-med color-primary-3">Verifikasi</v-card-text>
                      </v-btn>
                    </v-layout>
                  </div>
                </v-flex>
                <v-flex xs12 class="zindex2" v-else-if="kycStatus === 'PENDING' || kycStatus === 'ONPROCESS'">
                  <div class="saldo">
                    <v-layout row align-center>
                      <v-card-text class="avenir-10-med color-secondary-5">Verifikasi sedang dalam proses. Harap tunggu kurang lebih 1-2 hari kerja.</v-card-text>
                      <v-btn depressed small block class="box-shadow btn-radius" style="height: 28px !important; min-width: 75px !important" color="primary" disabled @click="goKyc('ONPROCESS')">
                        <v-card-text class="avenir-10-med color-primary-3">Verifikasi</v-card-text>
                      </v-btn>
                    </v-layout>
                  </div>
                </v-flex>
                <v-flex xs12 class="zindex2" v-else-if="kycStatus === 'REJECTED'">
                  <div class="saldo">
                    <v-layout row align-center>
                      <v-layout column>
                        <v-card-text class="avenir-14-bold pb-1">
                          Verifikasi kamu ditolak
                        </v-card-text>
                        <v-card-text class="avenir-12-reg">
                          Silahkan perbaiki data verifikasi
                        </v-card-text>
                      </v-layout>
                      <v-btn depressed small block class="box-shadow btn-radius" style="height: 28px !important; min-width: 75px !important" color="primary" @click="openRejectedKyc()">
                        <v-card-text class="avenir-10-med color-primary-3">Lihat</v-card-text>
                      </v-btn>
                    </v-layout>
                  </div>
                </v-flex>
                <v-flex xs12 class="zindex2" v-else-if="kycStatus === 'COMPLETED'">
                  <template v-if="checkFeatures('halofina:kyc_page').version > 1">
                    <div class="saldo" v-if="halofinaMother === null">
                      <v-layout row align-center>
                        <v-layout column>
                          <v-card-text class="avenir-14-bold pb-1">Tingkatkan Keamanan</v-card-text>
                          <v-card-text class="avenir-12-reg">Silakan lengkapi data verifikasimu</v-card-text>
                        </v-layout>
                        <v-btn depressed small block class="btn-radius-new" style="border-radius: 4px !important; height: 28px !important; min-width: 75px !important" color="primary" @click="$router.push('/v2/input/finacheck/kyc/list/existing')">
                          <v-card-text class="avenir-10-med color-primary-3">Lengkapi</v-card-text>
                        </v-btn>
                      </v-layout>
                    </div>
                  </template>
                </v-flex>
              </v-layout>
              <v-layout column v-else>
                <v-flex xs12 class="zindex2">
                  <div class="saldo" style="height: 54px"></div>
                </v-flex>
              </v-layout>
            </div>
          </v-layout>

          <!-- Banner -->
          <div v-if="kycStatus !== 'COMPLETED' || halofinaMother === null" style="height: 40px"></div>
          <v-card-text class="nexa-16-bold px-3 py-2 my-1" v-if="banners.length > 0">
            Promo
          </v-card-text>
          <div class="px-3">
            <banner @banners="getBanners"></banner>
          </div>

          <!-- Menu Finansial -->
          <v-card-text class="text-menu-finance nexa-16-bold color-text-2 px-3 pt-4">
            Menu Finansial
          </v-card-text>

          <v-layout row class="scroll-wrapper" style="overflow: auto;">
            <v-flex
              v-for="(financeData, indexFinance) in finance"
              :key="indexFinance"
              :style="financeData.name === 'Lifeplan' ? 'margin-left: 20px !important;' : '' "
              :class="financeData.isActive === true ? 'scroll-child con-finance pa-1' : 'scroll-child con-finance pa-1 grayscale'"
              @click="trackFinanceMenu(financeData.track)"
            >
              <!-- <premium-flags
                @is-premium-function="financeData.isActive === true ? routeMenuFinance(financeData.route) : null"
                :enable-premium="financeData.premium"
                :call-api="financeData.premium"
                :remove-flag="true"
              > -->
              <div
                @click="financeData.isActive === true ? routeMenuFinance(financeData.route) : null"
                style="width: 42px; height: 42px; margin: 0 auto; position: relative; opacity: 1; text-align: center;"
                :class="financeData.class"
              >
                <img :src="financeData.img" :alt="financeData.name">
              </div>
              <!-- </premium-flags> -->
              <div class="name-lifeplan text-xs-center" :style="financeData.isActive === true ? null : 'opacity: 0.4'">
                {{financeData.name}}
              </div>

            </v-flex>
          </v-layout>

          <!-- Cards -->
          <!-- lifeplan null -->
          <div>
            <div v-if="lifeplans.length === 0" class="mx-20 mb-4">
              <div class="wrapper-card bg-primary-3">
                <v-layout column justify-center align-center class="card-body px-3 pt-4">
                  <img src="@/assets/finavest/portfolio/v2/card-lifeplan.svg" class="illustration-card-no-exist" alt="lifeplan illustration">

                  <v-card-text class="color-text-1 nexa-16-bold pt-2 mt-1 pb-2 text-xs-center">
                    Belum ada lifeplan
                  </v-card-text>

                  <v-card-text class="avenir-12-reg text-xs-center color-text-1 pb-3 mb-1">
                    Kamu belum membuat Lifeplan. <br /> Buat Lifeplanmu Sekarang!
                  </v-card-text>

                </v-layout>

                <!-- card footer -->
                <div class="card-footer">
                  <v-card-text class="title-nexa nexa-14-bold color-brand-1 text-xs-center" @click="$router.push('/finavest/new/lifeplan/add')">
                    Buat Lifeplan
                  </v-card-text>
                </div>

              </div>
            </div>
            <!-- lifeplan not null -->
            <div v-else>
              <v-layout row align-center justify-space-between pa-3>
                <v-flex xs8>
                  <v-card-text class="nexa-16-bold">Lifeplan</v-card-text>
                  <v-card-text class="avenir-14-reg color-secondary-5">Penuhi rencana investasimu</v-card-text>
                </v-flex>
                <v-flex xs4>
                  <v-card-text class="text-align-right avenir-10-med" style="color: #A0A5B7;" @click="routeToAllLifeplan()">SELENGKAPNYA</v-card-text>
                </v-flex>
              </v-layout>
              <v-layout row class="scroll-wrapper" style="overflow: auto; -webkit-overflow-scrolling: touch;">
                <v-flex v-for="(lifeplan, indexLifeplan) in lifeplans" :key="indexLifeplan" class="scroll-child mx-2 lifeplan-card">
                  <reusable-cards
                  :with-progress="false"
                  :with-button="false"
                  :section-datas="cardSectionData[indexLifeplan]"
                  class-button="mt-4"
                  class="px-2"
                  style="width: 275px; box-shadow: 0px 6px 10px rgba(23, 23, 23, 0.05) !important;"
                  @card-function="routeToPortfolio(lifeplan.id)"
                  >
                  <v-layout
                    slot="layout-title"
                    :class="setLifeplanClass(transformLifeplanType(lifeplan.type, true)).className + ' card-header-title-lifeplan'"
                    row
                    align-center
                    justify-center
                    pa-3
                  >
                    <v-flex xs12>
                      <v-layout column>
                        <v-flex :class="setLifeplanClass(transformLifeplanType(lifeplan.type, true)).colorName + ' nexa-14-bold text-truncate'">
                          {{ lifeplan.title }}
                        </v-flex>
                        <v-flex :class="setLifeplanClass(transformLifeplanType(lifeplan.type, true)).colorName + ' avenir-12-reg mb-3'">
                          {{ dateFormat(lifeplan.target_time, 'MMMM YYYY') }}
                        </v-flex>
                        <v-flex :class="setLifeplanClass(transformLifeplanType(lifeplan.type, true)).colorName + ' avenir-10-med'">
                          Dana Terkumpul
                        </v-flex>
                        <v-flex :class="setLifeplanClass(transformLifeplanType(lifeplan.type, true)).colorName + ' avenir-14-med'">
                          <b>Rp {{ numberingNumber(lifeplan.grand_total) }}</b>
                        </v-flex>
                      </v-layout>
                    </v-flex>
                    <reusable-image-lifeplan
                      :type="transformLifeplanType(lifeplan.type, true)"
                      :with-gradient="false"
                      style-image="width: 70px; height: auto; position: absolute; right: 0px; bottom: 0px"
                    ></reusable-image-lifeplan>
                  </v-layout>
                  <div slot="layout-highlight" style="height: 110px"></div>
                </reusable-cards>
              </v-flex>
            </v-layout>
          </div>
          </div>

          <!-- Smart Savings -->
          <div v-if="checkFeatures('halofina:smart_saving').enabled === true">
            <v-card v-if="smartSaving.totalUnit > 0 && smartSaving.product !== null" style="position: relative" class="smart-saving-card mx-3 pa-3 card-radius box-shadow" xs12>
              <div @click="$router.push('/finavest/investment/smart_saving/detail/1')">
                <div style="width: 1px; background-color: #A8ADC4; height: 40px; position: absolute; top: 50%; left: 50%"></div>
                <v-card-text class="avenir-10-med ml-2" style="margin-top: 51px">Smart Saving</v-card-text>
                <v-card-text class="nexa-16-bold mb-3 mx-2">Rp {{ numberingNumber(smartSaving.amount) }}</v-card-text>
                <v-layout row align-center justify-center mb-3 ml-2>
                  <v-flex xs8>
                    <v-card-text class="avenir-10-med color-secondary-5">Nilai Pertumbuhan</v-card-text>
                    <v-card-text class="avenir-14-reg color-text-2">Rp {{ numberingNumber(smartSaving.gainLossAmount) }}</v-card-text>
                  </v-flex>
                  <v-flex xs4>
                    <v-card-text class="avenir-10-med color-secondary-5">Persentase Hasil</v-card-text>
                    <v-layout row align-center justify-start>
                      <v-icon v-if="smartSaving.gainLossPercentage < 0" class="color-system-error" style="margin-top: -2px">arrow_drop_down</v-icon>
                      <v-icon v-else-if="smartSaving.gainLossPercentage > 0" class="color-system-success" style="margin-top: -2px">arrow_drop_up</v-icon>
                      <v-icon v-else class="color-system-success" style="margin-top: -2px"></v-icon>
                      <div class="avenir-12-reg text-align-right">
                        {{numberingNumber(smartSaving.gainLossPercentage)}}%
                      </div>
                    </v-layout>
                  </v-flex>
                </v-layout>
              </div>
              <v-btn block depressed flat color="primary" class="btn-radius bg-secondary-10" @click="$router.push('/finavest/investment/smart_saving/detail/1')">Detail Tabungan</v-btn>
            </v-card>
            <!-- Smart Savings Null -->
            <v-card v-else style="position: relative" class="smart-saving-card-left mx-3 pa-3 card-radius box-shadow" flat>
              <v-card-text class="avenir-12-reg mt-4">kamu belum memulai</v-card-text>
              <v-card-text class="nexa-20-bold">Smart Saving</v-card-text>
              <v-card-text class="avenir-12-reg mb-4">Ayo mulai sekarang!</v-card-text>
              <v-btn block depressed flat color="primary" class="btn-radius bg-secondary-10" @click="$router.push('/finavest/investment/smart_saving/detail/1')">Mulai Menabung!</v-btn>
            </v-card>
          </div>

          <!-- OJK -->
          <v-card class="mt-4 mx-3 pa-3 card-radius box-shadow" flat>
            <v-layout row align-center justify-center>
              <img src="@/assets/dashboard/secured.svg" />
              <v-card-text class="avenir-12-reg ml-3">Terdaftar di <span style="font-weight: 600">OJK</span> sebagai <br /> Penyelenggara Inovasi Keuangan Digital (No. 27)</v-card-text>
            </v-layout>
          </v-card>
      </v-container>
      <!-- Reusable bottom sheet -->
      <reusable-bottom-sheet
        v-model="rejectedKyc"
      >
        <div slot="custom-layout">
          <v-layout row justify-space-between style="border-bottom: 1px solid #E8EAEF;" pb-3>
            <v-card-text class="nexa-16-bold color-text-1 pa-0">
              Verifikasi kamu ditolak
            </v-card-text>
            <img src="@/assets/icons/icon-close.svg" height="14px" @click="rejectedKyc = false" />
          </v-layout>
          <v-card-text class="avenir-14-med pa-0 pb-20 pt-3">
            {{ kycRemark }}
          </v-card-text>
          <v-card-text class="avenir-14-reg pa-0 pb-1">
            Informasi ini juga telah kami kirimkan ke
          </v-card-text>
          <v-card-text class="avenir-14-med pa-0 pb-20">
            {{ halofinaEmail }}
          </v-card-text>
          <v-btn class="btn-radius box-shadow nexa-16-bold" style="height: 44px !important;" color="primary" depressed block @click="goKyc('REJECTED')">Perbaiki Sekarang</v-btn>
        </div>
      </reusable-bottom-sheet>
      <!-- <premium-flags
        :call-api="true"
        :remove-flag="true"
      ></premium-flags> -->
    </div>
    <!-- Shimmering -->
    <div v-else>
      <shimmering-template></shimmering-template>
    </div>
</template>
<script>
// Import Vuetify
import {
  VList,
  VListTile,
  VListTileTitle,
  VListTileAvatar,
  VListTileContent,
  VListTileAction,
  VListTileSubTitle,
  VStepper,
  VStepperHeader,
  VStepperStep,
  VDivider,
  VSpacer,
  VImg,
  VBottomSheet
} from 'vuetify/lib'
// Import function from helpers.js
import { capitalizeWord, numberingNumber, dateFormat, checkFeatures, setLifeplanClass, transformLifeplanType } from '@/services/Helpers'
// Import reusable components
import ReusableCards from '@/components/reusable/ReusableCards'
import ReusableDialogs from '@/components/reusable/ReusableDialogs'
import ReusableBottomSheet from '@/components/reusable/ReusableBottomSheet'
import ReusableImageAsset from '@/components/reusable/ReusableImageAsset'
import ReusableImageLifeplan from '@/components/reusable/ReusableImageLifeplan'
import Banner from '@/components/others/Banner'
import PremiumFlags from '@/components/reusable/premium/PremiumFlags'
import Lottie from 'vue-lottie'
import * as animationData from '@/assets/dashboard/dashboard-gif.json'

const ShimmeringTemplate = () => import('@/components/v2/shimmering/Dashboard')
/**
 * @group /v2/finavest/lifeplan
 * Lifeplan Dashboard New component
*/
export default {
  name: 'LifeplanDashboardNew',
  components: {
    ShimmeringTemplate,
    Banner,
    PremiumFlags,
    VList,
    VListTile,
    VListTileTitle,
    VListTileAvatar,
    VListTileContent,
    VListTileAction,
    VListTileSubTitle,
    VStepper,
    VStepperHeader,
    VStepperStep,
    VDivider,
    VSpacer,
    VImg,
    VBottomSheet,
    ReusableCards,
    ReusableBottomSheet,
    ReusableImageLifeplan,
    ReusableImageAsset,
    ReusableDialogs,
    Lottie
  },
  props: {
    portfolio: {
      type: Object
    },
    assetGroup: {
      type: Array
    },
    lifeplans: {
      type: Array
    },
    halofinaName: {
      type: String
    },
    halofinaMother: {
      type: String
    },
    finapoint: {
      type: Number
    },
    kycStatus: {
      type: String || null
    },
    kycRemark: {
      type: String || null
    },
    kycCardStatus: {
      type: String || null,
      default: null
    },
    cardSectionData: {
      type: Array
    },
    riskProfile: {
      type: Number
    },
    smartSaving: {
      type: Object
    },
    halofinaEmail: {
      type: String
    },
    voucherLength: {
      type: Number
    },
    isLoaded: {
      type: Object
    }
  },
  data () {
    return {
      defaultOptions: {
        animationData: animationData
      },
      rejectedKyc: false,
      dialog: {
        dialogError: false,
        premium: false
      },
      kycCardStatusChild: this.kycCardStatus,
      banners: [],
      finance: [
        {
          name: 'Lifeplan',
          img: require('@/assets/dashboard/finance/lifeplan.svg'),
          isActive: true,
          route: '/finavest/new/lifeplan/dashboard',
          color: '#5EC5F8',
          track: 'Lifeplan Menu Selected',
          premium: false
        },
        {
          name: 'Pasar Produk',
          img: require('@/assets/dashboard/finance/pasar_produk.svg'),
          isActive: checkFeatures('halofina:product_market').enabled,
          route: '/finavest/market/dashboard',
          color: '#FFFFFF',
          track: 'Pasar Produk Menu Selected',
          premium: false
        },
        {
          name: 'Finapedia',
          img: require('@/assets/dashboard/finance/finapedia.svg'),
          isActive: true,
          route: '/finapedia/dashboard',
          color: '#FFA562',
          track: 'Finapedia Menu Selected',
          premium: false
        },
        {
          name: 'Zakat',
          img: require('@/assets/dashboard/finance/zakat.svg'),
          isActive: true,
          route: '/finavest/payment/zakat/zakat_list',
          color: '#5ED0CF',
          track: 'Zakat Menu Selected',
          premium: false
        },
        {
          name: 'Checkup',
          img: require('@/assets/dashboard/finance/fcu.svg'),
          isActive: checkFeatures('halofina:fcu').enabled,
          route: '/fcu',
          color: '#FFFFFF',
          track: 'FCU Menu Selected',
          premium: false
        },
        {
          name: 'Tes Finansial',
          img: require('@/assets/dashboard/finance/fqt.svg'),
          isActive: checkFeatures('halofina:fqt').enabled,
          route: '/v2/fqt/intro',
          color: '#FFFFFF',
          track: 'FQT Menu Selected',
          premium: false
        },
        {
          name: 'Ask Fina',
          img: require('@/assets/dashboard/finance/askfina.svg'),
          isActive: checkFeatures('halofina:fqt').environment === 'development',
          route: 'askfina',
          color: '#FFFFFF',
          track: 'Askfina Menu Selected',
          premium: true
        }
      ]
    }
  },
  methods: {
    capitalizeWord,
    numberingNumber,
    dateFormat,
    checkFeatures,
    setLifeplanClass,
    transformLifeplanType,
    getBanners (data) {
      this.banners = data
    },
    goKyc (value) {
      if (localStorage.getItem('halofina-rpa') === null || localStorage.getItem('halofina-saving-profile') === null) {
        this.$router.push('/new/finacheck/rpa/input/kyc')
      } else {
        if (value === 'null' || value === 'REJECTED') {
          this.$router.push('/finacheck/kyc/list')
          // this.$router.push('/v2/finacheck/input/kyc/list')
        } else if (value === 'ONPROCESS' || value === 'PENDING') {
          // this.$router.push('/v2/finacheck/kyc/process')
        } else {
          this.$router.push('/finacheck/kyc/list')
          // this.$router.push('/v2/finacheck/input/kyc/list')
        }
        this.$analytics.track('KYC Continued')
      }
    },
    openChat () {
      document.querySelector('.qcw-trigger-btn').click()
    },
    trackPage () {
      this.$analytics.track('Lifeplan Dashboard Viewed')
    },
    routeMenuFinance (route) {
      if (route === 'askfina') {
        this.openChat()
      } else {
        this.$router.push(route)
      }
    },
    routeMenuFinanceNew (route, premium) {
      if (premium === true) {
        this.dialog.premium = true
      } else {
        this.$router.push(route)
      }
    },
    goPremium () {
      this.$router.push('/notpremium')
    },
    routeToAllLifeplan () {
      if (checkFeatures('halofina:lifeplan_creator').version > 1) {
        this.$router.push('/finavest/new/lifeplan/dashboard')
      } else {
        this.$router.push('/finavest/lifeplan/template/edit')
      }
    },
    routeToPortfolio (lifeplanId) {
      this.$router.push('/finavest/new/lifeplan/detail_lifeplan/' + lifeplanId)
    },
    routeToVoucher () {
      this.$router.push('/finavest/investment/list_voucher')
    },
    removeFromDashboard () {
      localStorage.removeItem('halofina-from-dashboard')
    },
    trackFinanceMenu (value) {
      this.$analytics.track(value)
    },
    toAddLifeplan () {
      this.removeFromDashboard()
      let regularInvest = {
        total_invest: 0,
        total_lifeplan_active: 0,
        total_lifeplan: 0
      }
      localStorage.setItem('halofina-regular-invest', JSON.stringify(regularInvest))
      if (localStorage.getItem('halofina-rpa') && localStorage.getItem('halofina-saving-profile')) {
        this.$router.push('/finavest/new/lifeplan/add')
      } else {
        this.$router.push('/new/finacheck/rpa/input/kyc')
      }
    },
    openRejectedKyc () {
      this.rejectedKyc = true
    }
  },
  created () {
    this.trackPage()
  }
}
</script>
<style lang="sass">
  .finavest-lifeplan-dashboard-new
    background-color: #FFFFFF
    *
      padding: 0
      margin: 0

    .wrapper-card
      border-radius: 8px
      border: 1px solid #E8EAEF
      box-shadow: 0px 6px 10px rgba(139, 139, 139, 0.07)

    .card-footer
      border-top: 1px solid #E8EAEF

    .title-nexa
      padding-top: 19px
      padding-bottom: 19px

    .scroll-wrapper
      .scroll-child:last-child
        padding-right: 16px !important

    .relative-pos
      position: relative
      z-index: 100

    .voucher-icon
      height: 24px
      width: auto

    .lottie-header
      width: auto !important
      height: 88px !important
      position: absolute
      top: 0
      right: 0

    .grayscale
      filter: grayscale(100%)

    .border-content-top
      border-top: 1px solid #E8EAEF

    .border-content:nth-child(1),
    .border-content:nth-child(2)
      border-right: 1px solid #E8EAEF

    .wrap-header
      padding-top: 22px
      width: 100%
      background: url('../../../../assets/dashboard/header.svg') no-repeat
      background-size: cover
      background-position: center
      position: relative

    .smart-saving-card
      background-image: url('../../../../assets/dashboard/smart-saving-right.svg')
      background-size: 100%
      // margin-top: 76px !important

    .smart-saving-card-left
      background-image: url('../../../../assets/dashboard/smart-saving-left.svg')
      background-size: 100%
      // margin-top: 76px !important

    .portfolio-section
      background: url('../../../../assets/dashboard/portfolio-section-blue.svg') no-repeat
      background-size: cover
      background-position: center
      // height: 234px

    .portfolio-cards
      position: absolute
      bottom: -59px

    .leaf
      position: absolute
      top: 15px

    .zindex2
      z-index: 2

    .fixed-width
      min-width: 275px

    .fixed-width:first-child
      margin-left: 16px !important

    .divider
      position: absolute
      width: 70%
      height: 1px
      background-color: black
      opacity: 0.04
      top: 16%
      left: 50%
      transform: translateX(-50%)

    .span-badge
      position: relative
      display: inline-block
      border-radius: 100%
      width: 28px
      height: 28px
      padding-top: 3px
      background-color: #42A5F5
      text-align: center

    .blank
      width: 100%
      height: 50px
      background-color: white

    .con-total
      padding: 18px 28px
      position: fixed
      width: 100%
      z-index: 4
      border-bottom-left-radius: 12px
      border-bottom-right-radius: 12px

    .card-header-title-lifeplan
      position: absolute
      left: 0px
      top: 0px
      width: 100%

    .v-progress-linear
      border-radius: 4px
      height: 5px
      margin: 8px 0px

    .v-progress-linear__bar
      background: #E9ECF0

    .v-progress-linear__bar__determinate
      border-radius: 8px
      background: linear-gradient(to right, #4197EF, #61C3FF) !important

    .saldo
      position: relative
      background: #fff
      width: 100%
      border-radius: 5px
      padding: 12px 16px
      border: 1px solid #E8EAEF
      box-shadow: 0px 6px 10px rgba(175, 211, 229, 0.15)

      .img-left
        float: left

      .desc
        .title-wallet
          color: #A0A5B7

        .amount
          font-weight: 600
          color: #505565
          font-size: 14px

    .con-finance
      margin-left: 25px

    .portfolio-btn
      float: right
      width: 85px
      height: 28px
      background: rgba(5, 120, 203, 0.2)
      font-size: 10px

    .class-asset-btn
      width: 49px
      height: 18px
      background: #DEECFD
      font-size: 10px
      color: #236CC6
      border-radius: 100px
      position: absolute
      right: 10px
      top: 10px

      img
        position: absolute
        width: 43px
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

    .name-lifeplan
      line-height: 1
      font-size: 10px
      color: #505565
      margin-top: 12px
      font-family: "Avenir-Regular", Helvetica, Arial, sans-serif

      &.active
        opacity: 1

    .text-menu-finance
      font-weight: 600
      padding-bottom: 14px
      color: #505565

    .wrap-risk-profile
      border-radius: 5px
      border: 1px solid #E8EAEF
      padding: 14px 0
      position: relative
      z-index: 10

    .lifeplan-card:nth-child(1)
      margin-left: 16px !important

    .icon-right
      position: absolute
      right: 10px

</style>
