<template>
  <div v-if="isLoaded === true" class="set-priority-v2">
    <reusable-toolbar page-name="Atur Prioritas Lifeplan" />
      <v-layout pt-1 column :style="'min-height: ' + screenHeight + 'px;' ">
        <v-layout class="box-shadow mb-3 bg-primary-3 toolbar-margin ability-disclaimer" row justify-space-between align-center>
          <div>
            <v-card-text class="color-abu avenir-12-reg">
              Kemampuan kamu
            </v-card-text>
            <v-card-text class="avenir-16-med">
              Rp {{numberingNumber(Number(savingProfile))}}/bln
            </v-card-text>
          </div>
          <div>
            <button class="btn-add nexa-12-light" @click="changeSavingProfile()">
              Ubah
            </button>
          </div>
        </v-layout>

        <!-- Aktif Lifeplan -->
        <div class="margin-114"></div>
        <div class="active-disclaimer full-width" v-if="targetsActiveNew.length >= 1">
          <div class="left">
            <v-card-text class="nexa-16-bold">
              Prioritas
            </v-card-text>
            <v-card-text class="avenir-14-reg color-abu">
              Target menabung
            </v-card-text>
          </div>
          <div class="pt-20">
            <v-card-text class="avenir-14-reg color-abu text-xs-right">
              Rp {{numberingNumber(totalTargetActive)}}/bln
            </v-card-text>
          </div>
        </div>

        <!-- Card Lifeplan -->
        <draggable
          v-model="targetsActiveNew"
          v-bind="dragOptions"
        >
          <transition-group name="fade">

            <v-layout column class="wrap-lifeplan pb-3" v-for="(target, index) in targetsActiveNew" :key="target.id" style="padding-left: 20px; padding-right: 18px;">
              <!-- body lifeplan -->

              <v-layout row>
                <img
                  style="padding-right: 20px;"
                  v-if="targetsActiveNew.length > 1"
                  src="@/assets/finavest/lifeplan/v3/icon-minus.svg"
                  @click="
                    nonActiveLifeplan(index);
                    setMixpanelProperties(target.futurevalue, false, false, 0, target.id)
                  "
                  :alt="'icon minus ' + index"
                >

                <div class="body-lifeplan pt-4 px-3 pb-3" :style="'background: ' + target.bgColor + ';'" @click="mixpanel.lifeplanId = target.id">
                  <reusable-image-lifeplan
                  :type="target.type"
                  :style-image="'position: absolute; right: 12px; top: 20px; width: 100px; height: 100px;'"
                  ></reusable-image-lifeplan>

                  <v-flex xs12>
                    <v-card-text class="nexa-14-bold title-lifeplan text-truncate" :style="'color: ' + target.textColor + ';'">
                      {{ target.subtype === '' || target.subtype === null ? target.type : target.subtype }}
                    </v-card-text>
                  </v-flex>
                  <v-flex xs12>
                    <v-card-text class="avenir-12-reg" :style="'color: ' + target.textColor + ';'">
                      {{dateFormat(target.year, 'MMMM YYYY')}}
                    </v-card-text>
                  </v-flex>
                  <v-flex xs12 class="pt-3 pb-1">
                    <v-card-text class="avenir-12-reg" :style="'color: ' + target.textColor + ';'">
                      Target Tabungan
                    </v-card-text>
                    <v-card-text class="avenir-14-med" :style="'color: ' + target.textColor + ';'">
                      Rp {{numberingNumber(target.futurevalue)}}/bln
                    </v-card-text>
                  </v-flex>
                </div>
                <!-- clear float -->
                <div class="clear"></div>
              </v-layout>

            </v-layout>
          </transition-group>
        </draggable>


        <!-- Lifeplan Non Aktif -->
        <v-layout row align-end class="noactive-disclaimer" v-if="targetsNoActiveNew.length >= 1">
          <v-flex xs6>
            <v-card-text class="nexa-16-bold">
              Tertunda
            </v-card-text>
            <v-card-text class="avenir-14-reg color-abu">
              Target menabung
            </v-card-text>
          </v-flex>
          <v-flex xs6>
            <v-card-text class="avenir-14-reg color-abu text-xs-right">
              Rp {{numberingNumber(totalTargetNoActive)}}/bln
            </v-card-text>
          </v-flex>
        </v-layout>

        <!-- Card Lifeplan -->
        <div class="pb-5 mb-3">
          <draggable
            v-model="targetsNoActiveNew"
            v-bind="dragOptions"
          >
            <transition-group name="fade">
                <v-layout column class="wrap-lifeplan pb-3" v-for="(target, index) in targetsNoActiveNew" :key="target.id" style="padding-left: 20px; padding-right: 18px;">
                <!-- body lifeplan -->

                    <v-layout row>
                      <img
                        style="padding-right: 20px;"
                        src="@/assets/finavest/lifeplan/v3/icon-plus.svg"
                        @click="
                          activeLifeplan(index, target.id);
                          setLifeplanTemp(target.id, target.duration, target.inflation, target.currentCost, target.type, target.asset, target.detail);
                          setMixpanelProperties(target.futurevalue, true, false, targetsActiveNew.length, target.id)"
                        :alt="'icon plus ' + index"
                      >

                      <div class="body-lifeplan pt-4 px-3 pb-3" style="background: #F4F4F4">

                        <reusable-image-lifeplan
                        :type="target.type"
                        :style-image="'position: absolute; right: 12px; top: 20px; width: 100px; height: 100px; -webkit-filter: grayscale(100%); filter: grayscale(100%);'"
                        ></reusable-image-lifeplan>

                        <v-flex xs12>
                          <v-card-text class="nexa-14-bold title-lifeplan text-truncate" style="color: #737373;">
                            {{ target.subtype === '' || target.subtype === null ? target.type : target.subtype }}
                          </v-card-text>
                        </v-flex>
                        <v-flex xs12>
                          <v-card-text class="avenir-12-reg" style="color: #737373;">
                            {{dateFormat(target.year, 'MMMM YYYY')}}
                          </v-card-text>
                        </v-flex>
                        <v-flex xs12 class="pt-3 pb-1">
                          <v-card-text class="avenir-12-reg" style="color: #737373;">
                            Target Tabungan
                          </v-card-text>
                          <v-card-text class="avenir-14-med" style="color: #737373;">
                            Rp {{numberingNumber(target.futurevalue)}}/bln
                          </v-card-text>
                        </v-flex>
                      </div>
                      <!-- clear float -->
                      <div class="clear"></div>
                    </v-layout>
                </v-layout>
              </transition-group>
            </draggable>
          </div>
        <v-btn class="btn-save nexa-16-bold" @click="savePriority()">Simpan</v-btn>
      </v-layout>

      <!-- Bottom Sheet Spending -->
      <reusable-bottom-sheet
        v-model="bottomSheet"
        :persistent="true"
        title="Kemampuan nabung kamu belum cukup"
        description="Karena nominal yang harus ditabungkan tiap bulan melebihi kemampuan menabung kamu maka sesuaikan lifeplan atau tingkatkan tabungan agar dapat mulai menabung."
        :image="require('@/assets/finacheck/kyc/saving-warning.svg')"
      >
        <v-layout column align-center justify-center v-if="isLoadingSheet" slot="custom-layout">
          <reusable-loading></reusable-loading>
        </v-layout>
        <v-layout row align-center justify-center slot="button-layout" class="full-width mb-20" v-else>
          <v-flex xs6 class="mr-3">
            <v-btn class="btn-radius box-shadow nexa-16-bold" color="primary" flat depressed block @click="editSavingProfile = true">Tingkatkan</v-btn>
          </v-flex>
          <v-flex xs6>
            <v-btn class="btn-radius box-shadow nexa-16-bold" color="primary" depressed block @click="routingMessage()">Sesuaikan</v-btn>
          </v-flex>
        </v-layout>
      </reusable-bottom-sheet>

      <v-bottom-sheet v-model="bottomDescMessage">
        <v-layout column align-center justify-center v-if="isLoadingSheet" class="bg-primary-3" style="padding: 20px; border-radius: 12px 12px 0 0; height: 521px">
          <reusable-loading></reusable-loading>
        </v-layout>
        <v-layout v-else column class="bg-primary-3" style="padding: 20px; border-radius: 12px 12px 0 0">
          <v-layout row justify-end pb-3>
            <v-icon style="font-size: 25px !important; color: #232735 !important" @click="bottomDescMessage = false">close</v-icon>
          </v-layout>
          <img src="@/assets/finavest/lifeplan/hero-message.svg" alt="hero message">
          <v-card-text class="nexa-18-bold text-xs-center py-4 mt-3 px-0 color-text-2" style="font-size: 18px;">
            Kemampuan nabung kamu belum cukup. Sesuaikan lifeplanmu atau tingkatkan tabunganmu.
          </v-card-text>
          <v-card-text class="pt-0 pb-4 avenir-14-reg text-xs-center px-0">
            Sisa Rp {{numberingNumber(Number(totalTargetActive) - Number(savingProfile)).replace('-', '')}} doang, sedangkan untuk lifeplan ini kamu butuh Rp <span class="color-system-error">{{numberingNumber(Number(this.remains))}}</span>
          </v-card-text>
          <v-layout row>
            <v-flex :xs6="canAdjust" :xs12="!canAdjust" class="pr-2">
              <button class="btn-increase nexa-16-bold" @click="changeSavingProfile()">Tingkatkan</button>
            </v-flex>
            <v-flex xs6 class="pl-2" v-if="canAdjust">
              <button class="btn-adjust nexa-16-bold" @click="routingMessage()">Sesuaikan</button>
            </v-flex>
          </v-layout>
        </v-layout>
      </v-bottom-sheet>

      <v-snackbar color="grey" v-model="snackbar" :timeout="1500">
        <div class="ml-3">Lifeplan Berhasil Tersimpan</div>
      </v-snackbar>

      <reusable-dialogs
        v-model="dialog.dialogError"
        :resize-image="true"
        :is-image-above-title="true"
      ></reusable-dialogs>

      <reusable-bottom-sheet v-model="editSavingProfile">
        <v-layout column pa-0 class="bg-primary-3 scoped-vbottom-priority" slot="custom-layout">
          <v-layout class="border-bottom-solid" row justify-space-between py-3 pb-3>
            <div class="nexa-16-bold text-color-1">Ubah Kemampuan Menabung</div>
            <v-icon style="font-size: 20px !important; color: #232735 !important" @click="editSavingProfile = false">close</v-icon>
          </v-layout>
          <v-card-text class="pa-0 pt-2 avenir-14-med" v-if="(Number(totalTargetActive) + Number(remains)) - Number(savingProfile) > 0">Untuk lifeplan ini kamu butuh <span class="color-system-error"> Rp {{ numberingNumber((Number(totalTargetActive) + Number(remains)) - Number(savingProfile)) }} </span> lagi</v-card-text>
          <div class="pt-2">
            <v-text-field
              v-model="savingAbility"
              v-money="money"
              label="Kemampuan Menabung"
              ref="saving"
              type="tel"
              hide-details
              required
            >
            <template v-slot:append class="pos-relative">
              <span class="append-icon-left color-text-1">Rp</span>
            </template>

            </v-text-field>
          </div>

          <v-layout row pt-3 pb-4>
            <v-flex xs6 class="pr-2">
              <button class="btn-cancel" @click="editSavingProfile = false">Batal</button>
            </v-flex>
            <v-flex xs6 class="pl-2">
              <button class="btn-submit" @click="submitSaving()">Simpan</button>
            </v-flex>
          </v-layout>
        </v-layout>
      </reusable-bottom-sheet>

      <v-snackbar v-model="snackbarSavingProfile" :timeout="1500" color="grey">
        <div class="text-xs-center pl-3">Kemampuan menabung berhasil diubah
        </div>
      </v-snackbar>


    </div>
  <!-- loading -->
  <div v-else>
    <v-layout column justify-center align-center class="full-height">
      <reusable-loading></reusable-loading>
    </v-layout>
  </div>
  </template>
<script>

import Api from '@/services/Api'
import ApiGet from '@/services/ApiGet'
import ReusableImageLifeplan from '@/components/reusable/ReusableImageLifeplan'
import ReusableBottomSheet from '@/components/reusable/ReusableBottomSheet'
import { numberingNumber, dateFormat, replaceDot } from '@/services/Helpers'
// draggable
import draggable from 'vuedraggable'
import { VMoney } from 'v-money'

import {
  VBottomSheet,
  VSnackbar
} from 'vuetify/lib'

export default {
  directives: { money: VMoney },
  components: {
    ReusableImageLifeplan,
    ReusableBottomSheet,
    draggable,
    VBottomSheet,
    VSnackbar
  },
  data: () => ({
    money: {
      thousands: '.',
      precision: 0,
      masked: true
    },
    lifeplan: {
      lifeplanId: 0,
      duration: 0,
      detail: null,
      asset: 0,
      inflation: 0,
      type: 0,
      currentCost: 0
    },
    mixpanel: {
      isActive: false,
      regularInvest: 0,
      isDeleted: false,
      priority: false,
      lifeplanId: ''
    },
    canAdjust: false,
    isLoaded: false,
    savingAbility: 0,
    screenHeight: screen.height - 150,
    bottomDescMessage: false,
    targetsActiveNew: [],
    targetsNoActiveNew: [],
    isLoadingSheet: true,
    savingProfile: null,
    submitSavingProfile: [],
    submitActive: null,
    submitNoActive: null,
    bottomSheet: false,
    snackbar: false,
    snackbarSavingProfile: false,
    dialog: {
      dialogError: false
    },
    remains: 0,
    editSavingProfile: false
  }),
  methods: {
    numberingNumber,
    dateFormat,
    replaceDot,
    nonActiveLifeplan (index) {
      if (this.targetsActiveNew.length > 1) {
        this.targetsNoActiveNew.unshift(this.targetsActiveNew[index])
        this.targetsActiveNew.splice(index, 1)
      }
    },
    setMixpanelProperties (regularInvest, isActive, isDeleted, priority, lifeplanId) {
      this.mixpanel.regularInvest = regularInvest
      this.mixpanel.isActive = isActive
      this.mixpanel.isDeleted = isDeleted
      this.mixpanel.priority = priority
      this.mixpanel.lifeplanId = lifeplanId
    },
    trackLifeplanEdited () {
      this.$analytics.track('Lifeplan Edited', {
        regularinvestment: this.mixpanel.regularInvest,
        isactive: this.mixpanel.isActive,
        isdeleted: this.mixpanel.isDeleted,
        priority: this.mixpanel.priority,
        lifeplanid: this.mixpanel.lifeplanId
      })
    },
    activeLifeplan (index, id) {
      if ((this.totalTargetActive + this.targetsNoActiveNew[index].futurevalue) > Number(this.savingProfile)) {
        this.remains = this.targetsNoActiveNew[index].futurevalue
        this.bottomDescMessage = true
      } else {
        this.targetsActiveNew.push(this.targetsNoActiveNew[index])
        this.targetsNoActiveNew.splice(index, 1)
        this.bottomDescMessage = false
        this.iconMin = true
      }
    },
    setLifeplanTemp (id, duration, inflation, currentCost, type, asset, detail) {
      this.lifeplan.lifeplanId = id
      this.lifeplan.duration = duration
      this.lifeplan.inflation = inflation
      this.lifeplan.currentCost = currentCost
      this.lifeplan.type = type
      this.lifeplan.asset = asset
      this.lifeplan.detail = detail
      this.getRecommendation()
    },
    getRecommendation () {
      let currentCost = this.savingProfile - this.totalTargetActive
      Api('finavest/v1/recommendation', {
        id_risk_profile: Number(localStorage.getItem('halofina-rpa')),
        current_age: this.lifeplan.detail ? this.lifeplan.detail.current_age : 0,
        retirement_age: this.lifeplan.detail ? this.lifeplan.detail.retirement_age : 0,
        duration: this.lifeplan.duration,
        inflation: Number(this.lifeplan.inflation),
        current_cost: this.lifeplan.type === 'RETIREMENT' ? (currentCost * 0.7) * this.lifeplan.duration : currentCost,
        type: this.lifeplan.type,
        asset: this.lifeplan.assets
      }, true)
        .then((res) => {
          this.isLoadingSheet = false
          this.canAdjust = true
        })
        .catch(() => {
          this.isLoadingSheet = false
          this.canAdjust = false
        })
    },
    adjustLifeplanToSpend () {
      let activeLifeplan = this.targetsActiveNew
      let index = activeLifeplan.length - 1
      while (this.totalTargetActive > this.savingProfile) {
        if (index === 0) { break }
        this.nonActiveLifeplan(index)
        index--
      }
    },
    fetchKycSpending () {
      ApiGet('finacheck/kyc/savingprofile/user', {
      }).then((res) => {
        this.savingProfile = Number(res.d[0].nominal)
        this.savingAbility = Number(res.d[0].nominal)
        this.isLoaded = true
        this.adjustLifeplanToSpend()
        this.checkUserCapability()
      }).catch(() => {
      })
    },
    submitSaving () {
      Api('finacheck/kyc/savingprofile', {
        nominal: Number(replaceDot(this.savingAbility))
      })
        .then((res) => {
          this.snackbarSavingProfile = true
          this.editSavingProfile = false
          this.savingProfile = replaceDot(this.savingAbility)
          localStorage.setItem('halofina-saving-profile', Number(replaceDot(this.savingAbility)))
          this.checkUserCapability()
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    checkUserCapability () {
      this.adjustLifeplanToSpend()
      let saving = Number(this.savingProfile)
      let target = this.totalTargetActive
      let lifeplan = this.targetsActiveNew[0]
      if (target > saving) {
        this.setLifeplanTemp(lifeplan.id, lifeplan.duration, lifeplan.inflation, lifeplan.currentCost, lifeplan.type, lifeplan.asset, lifeplan.detail)
        this.bottomSheet = true
      } else {
        this.bottomSheet = false
      }
    },
    fetchLifeplanList () {
      ApiGet('finavest/v1/lifeplan/account', {
      }).then((res) => {
        this.setPriorityLifeplan(res.d)
        this.fetchKycSpending()
      }).catch(() => {
        this.isLoaded = true
      })
    },
    // Pisahkeun priority jng nu henteu :v
    setPriorityLifeplan (value) {
      let dataSort
      dataSort = value.sort((a, b) => parseFloat(a.priority_number) - parseFloat(b.priority_number))

      dataSort.forEach(element => {
        if (element.is_priority === true) {
          this.setTargetActive(element)
        } else {
          this.setTargetNoActive(element)
        }
      })
    },
    changeSavingProfile () {
      this.bottomDescMessage = false
      this.editSavingProfile = true
    },
    routingMessage () {
      let remains = Number(this.savingProfile) - Number(this.totalTargetActive)
      localStorage.setItem('halofina-remains', remains)
      this.$router.push('/finavest/new/lifeplan/adjust_lifeplan/' + this.lifeplan.lifeplanId)
    },
    priority (data) {
      if (data === 1) {
        return true
      } else {
        return false
      }
    },
    setTargetActive (item) {
      let targetActiveNew = []
      let bgColorVar
      let textColorVar
      switch (item.type) {
        case 'MARRIAGE':
          bgColorVar = '#E2F2FC'
          textColorVar = '#3F99DD'
          break
        case 'PROPERTY':
          bgColorVar = '#E5FBFB'
          textColorVar = '#27BDB1'
          break
        case 'EDUCATION':
          bgColorVar = '#ECFCF0'
          textColorVar = '#22C34F'
          break
        case 'VEHICLE':
          bgColorVar = '#FFF2F2'
          textColorVar = '#FF4E4E'
          break
        case 'PILGRIMAGE':
          bgColorVar = '#FFF1E7'
          textColorVar = '#FF8731'
          break
        case 'RETIREMENT':
          bgColorVar = '#FCEDE7'
          textColorVar = '#E34624'
          break
        case 'CAR':
          bgColorVar = '#FFF2F2'
          textColorVar = '#FF4E4E'
          break
        case 'VACATION':
          bgColorVar = '#E7E4F9'
          textColorVar = '#8175CE'
          break
        case 'ETC':
          bgColorVar = '#F1F4FD'
          textColorVar = '#6477EA'
          break
        case 'campaign':
          bgColorVar = '#F1F4FD'
          textColorVar = '#6477EA'
          break
        case 'halofina':
          bgColorVar = '#F1F4FD'
          textColorVar = '#6477EA'
          break
      }
      targetActiveNew = {
        id: item.id,
        bgColor: bgColorVar,
        textColor: textColorVar,
        type: item.type,
        subtype: item.title,
        futurevalue: item.regular_investment,
        year: item.target_time,
        is_priority: item.is_priority === true || false,
        priority_number: item.priority_number,
        detail: item.detail || null,
        asset: item.asset || null,
        duration: this.getDuration(dateFormat(item.target_time, 'YYYY')),
        currentCost: item.current_cost,
        inflation: item.inflation
      }
      this.targetsActiveNew.push(targetActiveNew)
      // this.isLoaded = true
    },
    getDuration (yearTarget) {
      let yearNow = new Date().getFullYear()
      let months
      months = (yearTarget - yearNow) * 12
      return months
    },
    setTargetNoActive (item) {
      let targetNoActiveNew = []
      let bgColorVar
      let textColorVar
      switch (item.type) {
        case 'MARRIAGE':
          bgColorVar = '#E2F2FC'
          textColorVar = '#3F99DD'
          break
        case 'PROPERTY':
          bgColorVar = '#E5FBFB'
          textColorVar = '#27BDB1'
          break
        case 'EDUCATION':
          bgColorVar = '#ECFCF0'
          textColorVar = '#22C34F'
          break
        case 'VEHICLE':
          bgColorVar = '#FFF2F2'
          textColorVar = '#FF4E4E'
          break
        case 'CAR':
          bgColorVar = '#FFF2F2'
          textColorVar = '#FF4E4E'
          break
        case 'PILGRIMAGE':
          bgColorVar = '#FFF1E7'
          textColorVar = '#FF8731'
          break
        case 'RETIREMENT':
          bgColorVar = '#FCEDE7'
          textColorVar = '#E34624'
          break
        case 'VACATION':
          bgColorVar = '#E7E4F9'
          textColorVar = '#8175CE'
          break
        case 'ETC':
          bgColorVar = '#F1F4FD'
          textColorVar = '#6477EA'
          break
        case 'campaign':
          bgColorVar = '#F1F4FD'
          textColorVar = '#6477EA'
          break
        case 'halofina':
          bgColorVar = '#F1F4FD'
          textColorVar = '#6477EA'
          break
      }
      targetNoActiveNew = {
        id: item.id,
        bgColor: bgColorVar,
        textColor: textColorVar,
        type: item.type,
        subtype: item.title,
        futurevalue: item.regular_investment,
        year: item.target_time,
        is_priority: item.is_priority === true || false,
        priority_number: item.priority_number,
        detail: item.detail || null,
        asset: item.asset || null,
        duration: this.getDuration(dateFormat(item.target_time, 'YYYY')),
        currentCost: item.current_cost,
        inflation: item.inflation
      }
      this.targetsNoActiveNew.push(targetNoActiveNew)
      // this.isLoaded = true
    },
    savePriority () {
      // AKTIF
      let dataActive = this.targetsActiveNew
      let objLifeplanActive
      let typeActive
      let isUpdated
      let arrLifeplanActive = []

      // AKTIF
      for (var i = 0; i < dataActive.length; i++) {
        if (dataActive[i].type === 'RETIREMENT') {
          typeActive = 'RETIREMENT'
        } else {
          typeActive = 'GENERAL'
        }

        if (dataActive[i].priority_number === i + 1) {
          if (dataActive[i].is_priority === false) {
            isUpdated = true
          } else {
            isUpdated = false
          }
        } else {
          isUpdated = true
        }

        // data submit active
        objLifeplanActive = {
          id: dataActive[i].id,
          name: dataActive[i].subtype,
          is_priority: true,
          type: typeActive,
          priority_number: i + 1,
          is_updated: isUpdated
        }
        arrLifeplanActive.push(objLifeplanActive)
      }
      // this.dataNoActive()
      // NO AKTIF
      let dataNoActive = this.targetsNoActiveNew
      let objLifeplanNoActive
      let arrLifeplanNoActive = []
      let typeNoActive
      let isUpdated2

      // NO AKTIF
      for (var a = 0; a < dataNoActive.length; a++) {
        // set type
        if (dataNoActive[a].type === 'RETIREMENT') {
          typeNoActive = 'RETIREMENT'
        } else {
          typeNoActive = 'GENERAL'
        }
        // set update
        if (dataNoActive[a].is_priority === true) {
          isUpdated2 = true
        } else {
          isUpdated2 = false
        }

        // data submit active
        objLifeplanNoActive = {
          id: dataNoActive[a].id,
          name: dataNoActive[a].subtype,
          is_priority: false,
          type: typeNoActive,
          priority_number: 0,
          is_updated: isUpdated2
        }
        arrLifeplanNoActive.push(objLifeplanNoActive)
      }
      // Mixpanel set priority
      if (this.mixpanel.lifeplanId !== '') {
        let active = arrLifeplanActive.find(element => element.id === this.mixpanel.lifeplanId)
        this.mixpanel.priority = active.priority_number
      }
      // Submit API
      if (arrLifeplanActive === null || arrLifeplanActive === '' || arrLifeplanActive === []) {
        // loading
      } else {
        Api('finavest/v1/lifeplan/account/update/priority', {
          lifeplan_active: arrLifeplanActive,
          lifeplan_inactive: arrLifeplanNoActive
        }).then((res) => {
          this.snackbar = true
          this.trackLifeplanEdited()
          setTimeout(() => {
            this.$router.push('/finavest/new/lifeplan/dashboard')
          }, 1000)
        }).catch(() => {
          this.dialog.dialogError = true
        })
      }
    }
  },
  computed: {
    dragOptions () {
      return {
        animation: 200,
        delay: 200,
        disabled: false,
        ghostClass: 'drag-ghost'
      }
    },
    totalTargetActive: function () {
      if (this.targetsActiveNew.length > 0) {
        return this.targetsActiveNew.map(data => Number(data.futurevalue)).reduce((prev, next) => prev + next)
      } else {
        return 0
      }
    },
    totalTargetNoActive: function () {
      return this.targetsNoActiveNew.map(data => Number(data.futurevalue)).reduce((prev, next) => prev + next)
    }
  },
  created () {
    this.fetchLifeplanList()
  }
}
</script>
<style lang="sass">
  .v-dialog
    box-shadow: none

  .btn-increase,
  .btn-adjust
    width: 100%
    height: 48px
    line-height: 48px
    border-radius: 4px
    text-align: center

  .btn-increase
    border: 1px solid #E8EAEF
    background: #FFFFFF
    color: #51AAF4

  .btn-adjust
    background: #51AAF4
    border: none
    color: #FFFFFF

  .scoped-vbottom-priority
    input
      font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif
      font-size: 28px !important
      padding-left: 40px !important
      padding: 0px

    .v-label
      font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif
      padding-bottom: 8px
      font-size: 18px !important

    .v-text-field .v-label
      top: 0 !important

    .border-bottom-solid
      border-bottom: 1px solid #E8EAEF

    .btn-cancel,
    .btn-submit
      width: 100%
      height: 48px
      line-height: 48px
      border-radius: 4px
      font-size: 16px
      text-align: center

    .btn-cancel
      border: 1px solid #E8EAEF
      background: #FFFFFF
      color: #51AAF4

    .btn-submit
      background: #51AAF4
      border: none
      color: #FFFFFF

    .append-icon-left
      position: absolute
      left: 0
      top: 50%
      transform: translateY(-50%)
      font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif
      font-size: 28px !important

    .pos-relative
      position: relative

    .v-input__slot
      height: 50px !important


  .set-priority-v2
    *
      margin: 0
      padding: 0

    .padding-toolbar
      z-index: 10
      position: relative

    .spacer
      flex-grow: inherit !important

      img
        float: left

      span
        line-height: 28px

    .btn-active
      color: #51AAF4

    .btn-disabled
      color: #B3B7C6

    .toolbar-margin
      margin-top: 44px !important

    .wrap-lifeplan

      .body-lifeplan
        border-radius: 8px
        position: relative
        width: 100%

    .btn-nabung
      background: #FFB245
      border-radius: 4px
      width: 116px
      height: 36px
      line-height: 35px
      text-align: center
      border: none
      outline: none

    .title-lifeplan
      width: 166px

    .color-abu
      color: #6E7692

    .btn-add
      border: 1px solid #E8EAEF
      background-color: white
      padding: 6px 18px
      font-weight: bold
      font-size: 12px
      border-radius: 16px
      color: #51AAF4

    .box-shadow
      box-shadow: 0px 6px 10px rgba(23, 23, 23, 0.05)

    .active-disclaimer,
    .noactive-disclaimer
      padding-bottom: 16px
      padding-left: 20px
      padding-right: 20px

    .active-disclaimer
      padding-top: 16px

    .ability-disclaimer
      padding-bottom: 21px
      padding-left: 20px
      padding-right: 20px
      padding-top: 6px
      width: 100%
      z-index: 10
      position: fixed

    .margin-114
      margin-top: 114px

    .btn-save
      width: 100%
      height: 56px
      background-color: #51AAF4 !important
      color: white
      line-height: 55px
      text-align: center
      position: fixed
      bottom: 0
      z-index: 10

</style>
