<template>
  <div class="settings-lifeplan bg-primary-3 full-height">
    <reusable-toolbar page-name="Pengaturan Lifeplan" />
    <div class="margin-toolbar"></div>
    <v-layout row justify-space-between align-center class="wrap-list" v-for="(data,index) in listData" :key="index" @click="actionList(index)">
      <div class="">
        <v-card-text class="avenir-16-reg color-text-3 pb-1">
          {{data.title}}
        </v-card-text>
        <v-card-text class="avenir-14-reg color-text-3">
          {{data.subTitle}}
        </v-card-text>
      </div>
      <img src="@/assets/finavest/lifeplan/v3/icon-arrow-right.svg" alt="icon arrow right">
    </v-layout>

    <!-- v bottom sheet -->
    <reusable-bottom-sheet v-model="bottomDesc.savingProfile" use-padding="false">
      <v-layout column pa-0 class="bg-primary-3 scoped-vbottom" slot="custom-layout">
        <v-layout class="border-bottom-solid" row justify-space-between px-3 py-3 pb-3>
          <div class="nexa-16-bold text-color-1">Ubah Kemampuan Menabung</div>
          <v-icon style="font-size: 20px !important; color: #232735 !important" @click="bottomDesc.savingProfile = false">close</v-icon>
        </v-layout>
        <v-card-text class="avenir-14-med" v-if="diff > 0">Untuk lifeplan ini kamu butuh <span class="color-system-error">Rp {{ numberingNumber(diff) }}</span> lagi</v-card-text>
        <div class="px-3 pt-2">
          <v-text-field
            v-model="savingAbility"
            v-money="money"
            label="Kemampuan Menabung"
            ref="saving"
            type="tel"
            hide-details
            required
          >
          <template v-slot:append class="pos-relative">
            <span class="append-icon-left color-text-1">Rp</span>
          </template>

          </v-text-field>
        </div>

        <v-layout row pt-3 px-3 pb-4>
          <v-flex xs6 class="pr-2">
            <button class="btn-cancel" @click="bottomDesc.savingProfile = false">Batal</button>
          </v-flex>
          <v-flex xs6 class="pl-2">
            <button class="btn-submit" @click="submitSaving()">Simpan</button>
          </v-flex>
        </v-layout>
      </v-layout>
    </reusable-bottom-sheet>

    <!--  -->
    <!-- <reusable-bottom-sheet v-model="bottomDesc.riskProfile">
      <template slot="custom-layout">
        <v-layout row align-center justify-center pt-2>
          <img src="@/assets/finavest/lifeplan/v3/risk-profile.svg" alt="image">
        </v-layout>
        <v-layout column>
          <v-card-text class="pa-0 text-xs-center pt-4 nexa-18-bold">
            kamu tidak dapat mengubah <br /> profil risiko.
          </v-card-text>
          <v-card-text class="pa-0 text-xs-center pt-3 pb-4 avenir-14-reg">
            Untuk saat ini, kamu tidak dapat mengubah <br /> profil risiko karena akan mempengaruhi <br /> rekomendasi lifeplan.
          </v-card-text>

          <v-btn class="btn-radius py-3" color="primary" depressed block @click="bottomDesc.riskProfile = false">
            Ok, Mengerti
          </v-btn>

        </v-layout>
      </template>
    </reusable-bottom-sheet> -->

    <reusable-dialogs
      v-model="dialog.dialogError"
      :resize-image="true"
      :is-image-above-title="true"
    ></reusable-dialogs>

    <v-snackbar v-model="snackbar" :timeout="1000" color="grey">
      <div class="text-xs-center">Kemampuan menabung berhasil diubah
      </div>
    </v-snackbar>
  </div>
</template>
<script>

import {
  VBottomSheet,
  VSnackbar
} from 'vuetify/lib'

import { VMoney } from 'v-money'
import Api from '@/services/Api'
import { replaceDot, numberingNumber } from '@/services/Helpers'
import ReusableBottomSheet from '@/components/reusable/ReusableBottomSheet'

export default {
  directives: { money: VMoney },
  components: {
    VBottomSheet,
    VSnackbar,
    ReusableBottomSheet
  },
  data: () => ({
    money: {
      thousands: '.',
      precision: 0,
      masked: true
    },
    savingAbility: 0,
    snackbar: false,
    diff: 0,
    bottomDesc: {
      savingProfile: false,
      riskProfile: false
    },
    listData: [
      {
        title: 'Saving Profile',
        subTitle: 'Ubah data kesanggupan menabung'
      },
      {
        title: 'Risk Profile',
        subTitle: 'Ubah profil risiko tabungan'
      }
      // {
      //   title: 'Set Reminder',
      //   subTitle: 'Ubah profil risiko tabungan'
      // }
    ],
    dialog: {
      dialogError: false
    }
  }),
  methods: {
    numberingNumber,
    getSavingData () {
      Api('finacheck/kyc/savingprofile/user', {})
        .then((res) => {
          this.$refs.saving.$el.getElementsByTagName('input')[0].value = res.d[0].nominal
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    openSheetByParams () {
      var condition = this.$route.params.bool
      if (condition === 'false') {
        this.bottomDesc.savingProfile = true
        this.diff = localStorage.getItem('halofina-target-diff')
      }
    },
    actionList (index) {
      if (index === 0) {
        this.bottomDesc.savingProfile = true
      } else if (index === 1) {
        this.$router.push('/new/finacheck/rpa/input/edit')
      }
    },
    submitSaving () {
      Api('finacheck/kyc/savingprofile', {
        nominal: Number(replaceDot(this.savingAbility))
      })
        .then((res) => {
          this.snackbars = true
          localStorage.setItem('halofina-saving-profile', Number(replaceDot(this.savingAbility)))
          this.bottomDesc.savingProfile = false
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    }
  },
  created () {
    this.openSheetByParams()
    this.getSavingData()
  }
}
</script>
<style lang="sass">
  .settings-lifeplan
    *
      padding: 0
      margin: 0

    .wrap-list
      padding: 16px 20px
      border: 1px solid #E8EAEF
      border-left: none
      border-right: none

    .margin-toolbar
      width: 100%
      height: 48px

    .v-label
      font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif
      font-size: 16px !important

    .v-text-field .v-label--active
      font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif
      transform: translateY(-24px) scale(0.75) !important

    .theme--light.v-label
      color: #6E7692 !important

  .scoped-vbottom
    input
      font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif
      font-size: 28px !important
      padding-left: 40px !important
      padding: 0px

    .v-label
      font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif
      padding-bottom: 8px
      font-size: 18px !important

    .v-text-field .v-label
      top: 0 !important

    .border-bottom-solid
      border-bottom: 1px solid #E8EAEF

    .btn-cancel,
    .btn-submit
      width: 100%
      height: 48px
      line-height: 48px
      border-radius: 4px
      font-size: 16px
      text-align: center

    .btn-cancel
      border: 1px solid #E8EAEF
      background: #FFFFFF
      color: #51AAF4

    .btn-submit
      background: #51AAF4
      border: none
      color: #FFFFFF

    .append-icon-left
      position: absolute
      left: 0
      top: 50%
      transform: translateY(-50%)
      font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif
      font-size: 28px !important

    .pos-relative
      position: relative

    .v-input__slot
      height: 50px !important

</style>
