<template>
  <div class="finacheck-input-kyc-personal bg-primary-3" :style="'min-height: ' + screenHeight + 'px'">
    <reusable-toolbar :page-name="step === 2 ? 'Konfirmasi Data Diri' : 'Data Diri'" :left="true">
      <div slot="button-toolbar">
        <v-btn class="w-40" icon @click="minStep()">
          <img src="@/assets/icons/icon-back.svg" style="width: 24px; height: 24px;" alt="arrow back">
        </v-btn>
      </div>
    </reusable-toolbar>
    <v-container v-if="isLoaded === true" class="toolbar-margin">
      <div class="progress-line" v-if="progressLine < 100" :style="'width: ' + progressLine + '%'"></div>
      <v-window v-model="step" :touchless="true">
        <template>

          <!-- Nama Gadis Ibu Kandung -->
          <v-window-item class="pt-140 px-20">
            <v-layout column>
              <v-flex xs12>
                <v-text-field
                label="Nama Gadis Ibu Kandung"
                placeholder="Nama Lengkap"
                :rules="[rules.required, rules.names, rules.whitespaces]"
                v-model="mother"
                type="text"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-window-item>

          <!-- foto selfie -->
          <v-window-item>
            <v-layout column class="px-20 pt-20 margin-bottom-ktp">
              <v-card-text class="avenir-14-reg color-text-3 pb-3">
                Selfie dengan KTP
              </v-card-text>
              <v-layout @click="bottomSheetSelfie = true" :rules="[rules.required]" column align-center justify-center>
                <!-- Box -->
                <template v-if="imageSelfie === null">
                  <v-layout row class="wrap-ktp-null">
                    <v-layout column justify-center align-center class="sub-wrap-ktp">
                      <img src="@/assets/finacheck/kyc/ic-camera.svg" class="mb-2 pb-1" alt="icon foto">
                      <v-card-text class="avenir-14-reg color-text-4 text-xs-center">
                        Ambil Gambar
                      </v-card-text>
                    </v-layout>
                  </v-layout>
                  <v-card-text class="avenir-14-reg color-text-3 mt-3 mb-3">
                    Pastikan foto KTP kamu tidak blur dan dapat terbaca dengan baik
                  </v-card-text>
                </template>
                <template v-else>
                  <v-layout v-if="imageSelfieType !== 'application/pdf'" column class="wrap-ktp">
                    <v-layout row justify-center align-center class="sub-wrap-ktp">
                      <img class="foto" :src="imageSelfie" alt="foto ktp">
                    </v-layout>
                  </v-layout>

                  <v-layout v-else column align-center justify-center>
                    <v-card-text class="text-align-center">{{ imageSelfieName }}</v-card-text>
                  </v-layout>
                  <v-card-text class="avenir-14-reg color-text-3 mt-3 mb-3">
                    Pastikan foto KTP kamu tidak blur dan dapat terbaca dengan baik
                  </v-card-text>
                </template>
                <!-- Input file -->
                <input type="file" style="display: none" ref="imageselfie" accept="image/*" @change="onFilePickedSelfie">
              </v-layout>
            </v-layout>
          </v-window-item>

          <!-- Confirmation -->
          <v-window-item>
            <v-layout column px-3 pt-3 pb-5>
              <v-card-text class="avenir-16-reg color-text-3 pa-0 pb-3 mb-3 border-bottom-solid">
                Periksa kembali data yang telah kamu isi. Pastikan data yang telah kamu isi sudah benar.
              </v-card-text>
              <div v-for="(data, index) in dataResult" :key="index">
                <v-layout row>
                  <v-flex xs10>
                    <v-card-text class="avenir-14-reg color-text-3 pb-3">
                      {{data.title}}
                    </v-card-text>
                  </v-flex>
                  <v-flex xs2 @click="edit(false, index)" v-if="flag !== 'profile'">
                    <v-card-text class="avenir-14-reg text-xs-right color-brand-1">
                      Edit
                    </v-card-text>
                  </v-flex>
                  <v-flex xs2 v-else>
                    <div v-if="$route.params.submit === 'false'">
                      <v-card-text class="avenir-14-reg text-xs-right color-brand-1" @click="edit(false, index)" v-if="data.title === 'Nomor HP' || data.title === 'Status Perkawinan' || data.title === 'Agama'">
                        Edit
                      </v-card-text>
                    </div>
                    <div v-else>
                      <v-card-text class="avenir-14-reg text-xs-right color-brand-1" @click="edit(false, index)">
                        Edit
                      </v-card-text>
                    </div>
                  </v-flex>
                </v-layout>
                <v-card-text class="avenir-22-reg pb-4 text-capitalize">
                  {{data.data ? data.data : data.desc }}
                </v-card-text>
              </div>

            <!-- Foto Selfie -->
              <v-layout row v-if="flag !== 'profile'">
                <v-flex xs10>
                  <v-card-text class="avenir-14-reg color-text-3 pb-3">
                    Selfie dengan KTP
                  </v-card-text>
                </v-flex>
                <v-flex xs2 @click="edit(true, 1)">
                  <v-card-text class="avenir-14-reg text-xs-right color-brand-1">
                    Edit
                  </v-card-text>
                </v-flex>
              </v-layout>

              <v-layout row v-else>
                <v-flex xs10 v-if="$route.params.submit === 'true'">
                  <v-card-text class="avenir-14-reg color-text-3 pb-3">
                    Selfie dengan KTP
                  </v-card-text>
                </v-flex>
                <v-flex xs2 @click="edit(true, 10)" v-if="$route.params.submit === 'true'">
                  <v-card-text class="avenir-14-reg text-xs-right color-brand-1">
                    Edit
                  </v-card-text>
                </v-flex>
              </v-layout>

              <div v-if="flag !== 'profile'">
                <v-layout row class="wrap-ktp mb-4">
                  <v-layout row justify-center align-center class="sub-wrap-ktp">
                    <img class="foto" :src="imageSelfie" alt="foto selfie">
                  </v-layout>
                </v-layout>
              </div>
              <div v-else>
                <v-layout row class="wrap-ktp mb-4" v-if="$route.params.submit === 'true'">
                  <v-layout row justify-center align-center class="sub-wrap-ktp">
                    <img class="foto" :src="imageSelfie" alt="foto selfie">
                  </v-layout>
                </v-layout>
              </div>

            </v-layout>
          </v-window-item>
        </template>
      </v-window>
      <v-btn color="primary" :disabled="disableButton === true" v-if="step < 2" class="btn-next nexa-16-bold" depressed @click="plusStep(false, null, null)"> Lanjut </v-btn>
      <v-btn color="primary" v-if="step === 2" class="btn-next nexa-16-bold" depressed @click="submit()"> Simpan </v-btn>
    </v-container>
    <v-container v-else>
      <v-layout column justify-center align-center class="full-height">
        <reusable-loading></reusable-loading>
      </v-layout>
    </v-container>
    <!-- Dialog Error -->
    <reusable-dialogs
      v-model="dialog.dialogError"
      :resize-image="true"
      :description="dialog.dialogErrorDesc"
    >
    </reusable-dialogs>

    <reusable-dialogs
        v-model="dialogLoading"
        :unclickable="true"
    >
        <div slot="layout">
          <v-card flat class="card-radius" style="width: 100%">
            <v-layout py-3 px-5 row align-center justify-center>
              <div class="nexa-14-bold px-5">Loading...</div>
            </v-layout>
          </v-card>
        </div>
    </reusable-dialogs>

    <reusable-bottom-sheet
      v-model="bottomSheetSelfie"
      :use-stripes="true"
      class-card="px-0 pt-2"
      :use-padding="false"
    >
      <div slot="custom-layout">
        <v-layout row justify-space-between class="px-20 border-bottom-solid">
          <v-card-text class="nexa-16-bold color-text-1 px-0 pt-0 pb-3">
            Panduan Selfie
          </v-card-text>
          <img src="@/assets/icons/icon-close.svg" style="height: 14px; width: auto !important;" @click="bottomSheetSelfie = false" />
        </v-layout>
        <div class="px-20">
          <v-card-text class="avenir-14-reg px-0 pt-4">
            Berikut panduan untuk melakukan verifikasi selfie dengan KTP:
          </v-card-text>
        </div>
        <v-layout row class="px-20">
          <v-flex xs6 class="text-xs-center">
            <img src="@/assets/finacheck/kyc/tutor-selfie-1.svg">
            <v-card-text class="avenir-14-reg pb-4 px-2">
              Jangan posisikan wajah di luar batas kamera dan KTP tidak di bawah dagu
            </v-card-text>
          </v-flex>
          <v-flex xs6 class="text-xs-center">
            <img src="@/assets/finacheck/kyc/tutor-selfie-2.svg">
            <v-card-text class="avenir-14-reg pb-4 px-2">
              Posisikan wajah ditengah kamera dan KTP simpan di bawah dagu
            </v-card-text>
          </v-flex>
        </v-layout>
        <div class="full-width px-20 pb-3">
          <v-btn color="primary" depressed class="nexa-16-bold color-primary-3 full-width h-48 btn-radius-new" @click="uploadselfie">Ambil Gambar</v-btn>
        </div>
      </div>
    </reusable-bottom-sheet>

    <!-- Dialog Type Not Supported -->
    <reusable-dialogs
      v-model="dialog.dialogCheckType.isOpen"
    >
    <div slot="layout">
      <v-card flat class="card-radius-new" style="width: 100%">
        <div class="text-xs-center px-4 py-4">
          <img src="@/assets/finacheck/kyc/file-not-supported.svg" alt="file-not-supported">
          <v-card-text class="nexa-16-bold pa-0 pb-1 pt-4 color-text-1 text-xs-center">
            Ada Kesalahan
          </v-card-text>
          <v-card-text class="avenir-12-reg pa-0 pb-3 text-xs-center">
            Format file yang kamu masukan <br /> tidak sesuai.
          </v-card-text>
          <v-btn @click="tryAgain()" color="primary" class="nexa-14-bold color-primary-3 full-width mx-20 btn-radius-new" depressed>Coba Lagi</v-btn>
        </div>
      </v-card>
    </div>
    </reusable-dialogs>
  </div>
</template>

<script>
import { VSelect, VRadio, VRadioGroup, VTextField, VForm, VWindow, VWindowItem, VBtnToggle } from 'vuetify/lib'
import { VMoney } from 'v-money'
import Api from '@/services/Api'
import { dateDatas, dateFormat } from '@/services/Helpers'
import reusableBottomSheet from '@/components/reusable/ReusableBottomSheet'
/**
 * @group /v2/kyc/input
 * Personal
*/
export default {
  components: {
    VSelect, VRadio, VRadioGroup, VTextField, VForm, VWindow, VWindowItem, VBtnToggle, reusableBottomSheet
  },
  name: 'FinacheckKycPersonal',
  directives: { money: VMoney },
  data () {
    return {
      step: 0,
      type: '',
      formData: new FormData(),
      mother: null,
      bottomSheetSelfie: false,
      dialogLoading: false,
      progressLine: 30,
      dataResult: [],
      flagsEdit: false,
      screenHeight: screen.height - 48,
      flag: '',
      dialog: {
        dialogError: false,
        dialogErrorDesc: '',
        dialogCheckType: {
          isOpen: false,
          type: ''
        }
      },
      identitasselfie: '',
      imageSelfie: null,
      imageSelfieType: '',
      imageSelfieName: '',
      disableButton: true,
      isLoaded: false,
      rules: {
        error: 'Harus diisi',
        required: value => !!value || 'Harus diisi.',
        length: value => value.length >= 16 || 'Nomor KTP harus 16 digit',
        names: value => {
          const pattern = /[^a-zA-Z' ]/
          return !pattern.test(value) || 'Isi dengan huruf'
        },
        minimal: value => {
          return value.length >= 3 || 'Minimal 3 karakter'
        },
        maximal: value => {
          return value.length <= 100 || 'Maksimal 100 karakter'
        },
        whitespaces: value => !!value.replace(/\s/g, '').length || 'Harus diisi.',
        numbers: value => {
          const pattern = /^\d+$/
          return pattern.test(value) || 'Isi dengan angka'
        },
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Format e-mail salah'
        }
      },
      dateDatas: dateDatas
    }
  },
  watch: {
    mother: function (value) {
      const pattern = /[^a-zA-Z' ]/
      if (pattern.test(value) === true || value === '' || !value.replace(/\s/g, '').length === true) {
        this.disableButton = true
      } else {
        this.disableButton = false
      }
    },
    imageSelfie: function (value) {
      if (this.imageSelfie === null) {
        this.disableButton = true
      } else {
        this.disableButton = false
      }
    }
  },
  methods: {
    dateFormat,
    /**
     * @vuese
     * Check flag by $route.params (can be edited or not)
    */
    checkFlag () {
      if (this.$route.params.flag === 'profile') {
        this.flagsEdit = true
        this.plusStep()
      } else {
        this.disableButton = true
      }
    },
    /**
     * @vuese
     * check type and try again upload foto
    */
    tryAgain () {
      if (this.type === 'ktp') {
        this.dialog.dialogCheckType.isOpen = false
      } else {
        this.dialog.dialogCheckType.isOpen = false
        this.bottomSheetSelfie = true
      }
    },
    /**
     * @vuese
     * case 1 : (flagsEdit === true) then go to the last form (result data)
     * case 2 : else back to the previous form (-1)
    */
    minStep () {
      if (this.flagsEdit === true) {
        if (this.step === 2) {
          this.$router.go(-1)
        } else {
          this.step = 2
          this.progressLine = 100
          this.mother = this.dataResult[0].desc
        }
      } else {
        if (this.step === 0 || this.step === 2) {
          this.$router.go(-1)
        } else {
          this.step -= 1
          this.progressLine -= 50
          this.disableButton = false
        }
      }
    },
    /**
     * @vuese
     * case 1 : (flagsEdit === true) then go to the last form (result data)
     * case 2 : else next form (+1)
     * @arg list: String or Boolean, @arg name: String, @arg code: String
    */
    plusStep (list, name, code) {
      // condition flags edit
      if (this.flagsEdit === true) {
        // length vwindow (go to result data)
        this.step = 2
        this.progressLine = 100
      } else {
        this.disableButton = true
        this.step += 1
        this.progressLine += 50
        this.flagsEdit = false

        // next step and input not null
        if (this.step === 1 && this.imageSelfie !== null) {
          this.disableButton = false
        } else {
          this.disableButton = true
        }
      }

      let dataSubmit = [
        {
          title: 'Nama Gadis Ibu Kandung',
          desc: this.mother,
          data: ''
        }
      ]

      this.dataResult = dataSubmit
    },
    /**
     * @vuese
     * case 1 : (flags === true) then step = index
     * case 2 : else step = index + 2
     * @arg flags: Boolean, @arg value: Number
    */
    edit (flags, value) {
      this.step = value
      // set width progressLine
      this.progressLine = (value + 1) * 10
      this.disableButton = false
      this.flagsEdit = true
    },
    /**
     * @vuese
     * case 1 : (value === 'CSJKL001') then gender = Pria
     * case 2 : else gender = Wanita
     * @arg title: String, @arg desc: String
    */
    dialogCheckType (type) {
      if (type === 'ktp') {
        this.imageKtp = null
        this.dialog.dialogCheckType.isOpen = true
        this.type = 'ktp'
      } else {
        this.imageSelfie = null
        this.dialog.dialogCheckType.isOpen = true
        this.type = 'selfie'
      }
    },
    /**
     * @vuese
     * open dialogs error
    */
    dialogs (title, desc) {
      this.dialog.dialogError = true
      this.dialog.dialogErrorDesc = desc
    },
    /**
     * @vuese
     * open file or camera
    */
    uploadselfie () {
      this.$refs.imageselfie.click()
    },
    /**
     * @vuese
     * track mixpanel KYC Personal Saved
    */
    trackEvent () {
      this.$analytics.track('KYC Personal Saved')
    },
    /**
     * @vuese
     * set image, validation format image and call function resizeImage
    */
    onFilePickedSelfie (e) {
      let self = this
      let files = e.target.files || e.dataTransfer.files
      if (files.length > 0) {
        // If file is not pdf jpg or png
        if (files[0].type !== 'image/png' && files[0].type !== 'image/jpeg' && files[0].type !== 'application/pdf') {
          this.dialogCheckType('ktp')
          return
        }
        this.identitasselfie = files[0].name
        if (this.identitasselfie.lastIndexOf('.') <= 0) {
          return
        }
        this.resizeSelfie(files[0])
        // ulalla
        for (let i = 0; i < files.length; i++) {
          self.formData.append('selfie', files[i], files[i].name)
        }
        self.formData.append('mother_maiden_name', this.mother)
        this.bottomSheetSelfie = false
      }
    },
    /**
     * @vuese
     * submit data to API
    */
    submit () {
      this.disableButton = true
      this.dialogLoading = true
      var self = this

      // self.dialog.dialogUploading = true
      fetch(process.env.API_SERVER + 'finacheck/kyc/additional', {
        method: 'POST',
        headers: {
          'X-Authorization': `Bearer ${localStorage.getItem('halofina-token')}`,
          'X-Api-Key': process.env.API_KEY
        },
        body: self.formData
      })
        .then(() => {
          self.formData = new FormData()
          this.$router.push('/v2/input/finacheck/kyc/list/existing')
        })
        .catch(() => {
          this.dialogLoading = false
          this.dialog.dialogError = true
        })
    },
    /**
     * @vuese
     * resize image max size 544
    */
    resizeSelfie (files) {
      const fr = new FileReader()
      var self = this
      fr.onload = function (readerEvent) {
        var image = new Image()
        image.onload = function (imageEvent) {
          var canvas = document.createElement('canvas')
          var maxSize = 544
          var width = image.width
          var height = image.height
          if (width > height) {
            if (width > maxSize) {
              height *= maxSize / width
              width = maxSize
            }
          } else {
            if (height > maxSize) {
              width *= maxSize / height
              height = maxSize
            }
          }
          canvas.width = width
          canvas.height = height
          canvas.getContext('2d').drawImage(image, 0, 0, width, height)
          var dataUrl = canvas.toDataURL('image/jpeg')
          self.imageSelfie = dataUrl
          self.imageSelfieName = files.name
          self.imageSelfieType = files.type
        }
        image.src = readerEvent.target.result
      }
      fr.readAsDataURL(files)
      this.$analytics.track('KYC Personal Card Saved')
    },
    /**
     * @vuese
     * fetch data user data
    */
    getUserData () {
      // get user info
      Api('finacheck/kyc/personal', {})
        .then((res) => {
          this.mother = res.d.mother_maiden_name
          this.isLoaded = true
          this.checkFlag()
        })
        .catch(() => {
          this.dialogError = true
        })
    },
    /**
     * @vuese
     * fetch data foto selfie
    */
    getSelfie () {
      if (this.$route.params.flag === 'profile') {
        Api('finacheck/kyc/identity', {})
          .then((res) => {
            this.imageSelfie = res.d[0].selfie_url
            // this.imageKtp = localStorage.getItem('halofina-sign')
          })
          .catch(() => {
            this.dialogError = true
          })
      } else {
        //
      }
    }
  },
  created () {
    this.getUserData()
    this.getSelfie()
    this.trackPage()
  }
}
</script>

<style lang="sass">
  .border-bottom-solid
    border-bottom: 1px solid #E8EAEF
  
  .h-48
    height: 48px !important

  .finacheck-input-kyc-personal
    *
      padding: 0
      margin: 0

    .progress-line
      background: #51AAF4
      height: 4px
      position: fixed
      z-index: 10
      // transition: .8s

    .v-text-field__details
      padding-top: 4px

    .v-toolbar
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

    .btn-next
      width: 100%
      position: fixed
      bottom: 0
      height: 56px !important

    .pt-140
      padding-top: 140px

    .v-label
      font-family: 'Avenir-Regular', Helvetica, Arial, Sans-Serif !important
      color: #6E7692 !important
      font-size: 16px !important

    .v-input input
      font-family: 'Avenir-Regular', Helvetica, Arial, Sans-Serif !important
      font-size: 22px !important
      line-height: 30px
      color: #505565 !important
      height: 70px !important
      max-height: 70px !important
      padding: 8px 0 20px

    .theme--light.v-text-field > .v-input__control > .v-input__slot:before
      border-color: #B3B7C6 !important

    .wrap-ktp-null
      border: 1px solid #E8EAEF
      border-radius: 8px
      padding: 8px
      width: 100%
      height: 166px

      .sub-wrap-ktp
        width: 100%
        border: 1px dashed #E8EAEF
        box-sizing: border-box
        border-radius: 8px
        background: #F9FAFC
        overflow: hidden

        .foto
          width: 100%
          height: auto

    .wrap-ktp
      border: 1px solid #E8EAEF
      border-radius: 8px
      padding: 8px
      width: 100%
      height: auto

      .sub-wrap-ktp
        width: 100%
        border: 1px dashed #E8EAEF
        box-sizing: border-box
        border-radius: 8px
        background: #F9FAFC
        overflow: hidden

        .foto
          width: 100%
          height: auto

    .margin-bottom-ktp
      margin-bottom: 56px

    .wrap-gender
      border-radius: 8px
      border: 1px solid #B3B7C6

      &.active
        box-shadow: 0px 4px 8px rgba(140, 203, 255, 0.29)
        border-radius: 8px
        border: 2px solid #51AAF4

    .border-bottom-list
      border-bottom: 1px solid #E8EAEF

    .icon
      color: #B3B7C6 !important

    .v-text-field .v-input__prepend-inner
      padding-right: 8px
      margin-top: 0 !important

    .birthdate
      .v-input__slot
        border-radius: 4px !important
        border: 1px solid #E8EAEF
        background-color: #FFF !important

      .v-input input
        font-family: 'Avenir-Regular', Helvetica, Arial, Sans-Serif !important
        font-size: 14px !important
        line-height: 30px
        color: #505565 !important
        height: 70px !important
        max-height: 70px !important
        padding: 18px 0 20px

</style>
