<template>
  <div class="finacheck-kyc-alamat bg-primary-3" :style="'min-height: ' + screenHeight + 'px'">
    <reusable-toolbar page-name="Data Alamat" :left="true">
      <div slot="button-toolbar">
        <v-btn class="w-40" icon @click="minStep()">
          <img src="@/assets/icons/icon-back.svg" style="width: 24px; height: 24px;" alt="arrow back">
        </v-btn>
      </div>
    </reusable-toolbar>
    <v-container class="toolbar-margin pa-0" v-if="isLoaded === true">
      <div class="progress-line" v-if="progressLine < 100" :style="'width: ' + progressLine + '%'"></div>
      <v-layout column>
        <v-form>
          <v-window v-model="step" :touchless="true">
            <template>
              <!-- Alamat -->
              <v-window-item class="pt-4 mt-3 px-20">
                <v-layout column class="text-area">
                  <v-flex xs12>
                    <v-card-text class="avenir-14-reg color-text-3 pb-2">
                      Alamat lengkap sesuai KTP
                    </v-card-text>
                    <v-textarea maxlength="100" rows="8" solo class="ma-0" style="border-radius: 4px;" flat v-model="address" placeholder="Masukkan Alamat Lengkap" :rules="[rules.required, rules.whitespaces, rules.minimal, rules.maximal]"></v-textarea>
                  </v-flex>
                </v-layout>
              </v-window-item>
              <!-- City -->
              <v-window-item>
                <v-layout column class="pt-20 margin-bottom-ktp">
                  <v-card-text class="px-20 avenir-14-reg color-text-3 pb-2">
                    Pilih Kota
                  </v-card-text>
                  <div class="border-bottom-list text-area">
                    <v-text-field class="pb-3 avenir-16-reg color-text-4 mx-20" placeholder="Cari Kota" solo flat v-model="search" hide-details prepend-inner-icon="search"></v-text-field>
                  </div>
                  <v-layout row justify-space-between px-20 py-3 v-for="(data, index) in filteredData" :key="data.code_kemendagri" @click="plusStep('city', data.code_kemendagri, data.name_kemendagri)" class="border-bottom-list">
                    <span class="avenir-16-reg">{{data.name_kemendagri}}</span>
                    <img src="@/assets/finacheck/kyc/ic-arrow.svg" alt="icon arrow" class="ic-arrow">
                  </v-layout>
                </v-layout>
              </v-window-item>
              <!-- Kode Pos -->
              <v-window-item class="pt-140 px-20 kode-pos">
                <v-layout column>
                  <v-flex xs12>
                    <v-text-field
                      label="Kode Pos"
                      placeholder="Masukkan Kode Pos"
                      v-model="postal.postalCode"
                      :rules="[rules.required, rules.numbers, rules.lessThanFive]"
                      maxlength="5"
                      type="tel"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-window-item>
              <!-- Alamat Surat Menyurat-->
              <v-window-item class="pt-4 mt-3 px-20">
                <v-layout column>
                  <v-flex xs12 class="text-area">
                    <v-card-text class="avenir-14-reg color-text-3 pb-2">
                      Alamat Surat Menyurat
                    </v-card-text>
                    <v-textarea :disabled="checked" maxlength="100" rows="8" solo class="ma-0" style="border-radius: 4px;" flat v-model="addressMail" placeholder="Masukkan Alamat Lengkap" :rules="[rules.required, rules.whitespaces, rules.minimal, rules.maximal]"></v-textarea>
                  </v-flex>
                  <v-flex xs12 class="no-border">
                    <v-layout row align-center justify-center>
                      <v-checkbox v-model="checkbox" hide-details style="border: none !important;"></v-checkbox>
                      <v-card-text class="pa-0 avenir-14-reg text-align-left ml-2">Gunakan alamat yang sama sesuai KTP</v-card-text>
                    </v-layout>
                  </v-flex>
                </v-layout>
              </v-window-item>
              <!-- city -->
              <v-window-item>
                <v-layout column class="pt-20 margin-bottom-ktp">
                  <v-card-text class="px-20 avenir-14-reg color-text-3 pb-2">
                    Pilih Kota
                  </v-card-text>
                  <div class="border-bottom-list text-area">
                    <v-text-field class="pb-3 avenir-16-reg color-text-4 mx-20" placeholder="Cari Kota" solo flat v-model="search" hide-details prepend-inner-icon="search"></v-text-field>
                  </div>
                  <v-layout row justify-space-between px-20 py-3 v-for="(data, index) in filteredData" :key="data.code_kemendagri" @click="plusStep('cityMail', data.code_kemendagri, data.name_kemendagri)" class="border-bottom-list">
                    <span class="avenir-16-reg">{{data.name_kemendagri}}</span>
                    <img src="@/assets/finacheck/kyc/ic-arrow.svg" alt="icon arrow" class="ic-arrow">
                  </v-layout>
                </v-layout>
              </v-window-item>
              <!-- Kode Pos -->
              <v-window-item class="pt-140 px-20 kode-pos">
                <v-layout column>
                  <v-flex xs12>
                    <v-text-field
                      label="Kode Pos"
                      placeholder="Masukkan Kode Pos"
                      v-model="postalCodeMail"
                      :rules="[rules.required, rules.numbers, rules.lessThanFive]"
                      maxlength="5"
                      type="tel"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-window-item>

              <!-- Confirmation -->
              <v-window-item>
                <div class="mb-5">
                  <div class="mx-20">
                    <v-card-text class="avenir-16-reg pt-3 color-text-3 pb-3 border-bottom-list">
                      Periksa kembali data yang telah kamu isi. Pastikan data yang telah kamu isi sudah benar
                    </v-card-text>
                  </div>
                  <v-card-text class="avenir-16-med pt-4 pb-4 px-20">
                    Alamat KTP
                  </v-card-text>
                  <div class="px-20" v-for="(data, index) in dataResult1" :key="index">
                    <v-layout row>
                      <v-flex xs10>
                        <v-card-text class="avenir-14-reg color-text-3 pb-3">
                          {{data.title}}
                        </v-card-text>
                      </v-flex>
                      <v-flex xs2 @click="edit(index)">
                        <v-card-text class="avenir-14-reg text-xs-right color-brand-1">
                          Edit
                        </v-card-text>
                      </v-flex>
                    </v-layout>
                    <v-card-text class="avenir-22-reg pb-4 text-capitalize">
                      {{data.desc}}
                    </v-card-text>
                  </div>

                  <!-- Surat Menyurat -->
                  <v-card-text class="avenir-16-med pt-2 pb-4 px-20">
                    Alamat Surat Menyurat
                  </v-card-text>
                  <div class="px-20" v-for="(data, index) in dataResult2" :key="data.desc">
                    <v-layout row>
                      <v-flex xs10>
                        <v-card-text class="avenir-14-reg color-text-3 pb-3">
                          {{data.title}}
                        </v-card-text>
                      </v-flex>
                      <v-flex xs2 @click="editLetter(index)">
                        <v-card-text class="avenir-14-reg text-xs-right color-brand-1">
                          Edit
                        </v-card-text>
                      </v-flex>
                    </v-layout>
                    <v-card-text class="avenir-22-reg pb-4 text-capitalize">
                      {{data.desc}}
                    </v-card-text>
                  </div>
                </div>
              </v-window-item>
            </template>
          </v-window>
        </v-form>
        <v-btn color="primary" :disabled="disableButton" v-if="step === 0 || step === 2 || step === 3 || step === 4 || step === 5" class="btn-next nexa-16-bold" depressed @click="plusStep(false, null, null)"> Lanjut </v-btn>
        <v-btn color="primary" v-if="step === 6 " class="btn-next nexa-16-bold" depressed @click="submit()"> Simpan </v-btn>
      </v-layout>
    </v-container>
    <v-container v-else>
      <v-layout column justify-center align-center class="full-height">
        <reusable-loading></reusable-loading>
      </v-layout>
    </v-container>
    <!-- Dialog Error -->
    <reusable-dialogs v-model="dialog.dialogError" :resize-image="true"></reusable-dialogs>
  </div>
</template>

<script>
import { VTextField, VAutocomplete, VTextarea, VCheckbox, VDivider, VForm, VWindow, VWindowItem } from 'vuetify/lib'
import Api from '@/services/Api'
import { setRouteToLocalStorage } from '@/services/Helpers'

export default {
  components: {
    VTextField, VAutocomplete, VTextarea, VCheckbox, VDivider, VForm, VWindow, VWindowItem
  },
  name: 'FinacheckKycAlamat',
  data () {
    return {
      step: 0,
      progressLine: 15,
      search: '',
      flagsEdit: false,
      scroll: false,
      checked: false,
      screenHeight: screen.height - 48,
      dataResult1: [],
      dataResult2: [],
      cityData: [],
      address: '',
      city: '',
      cityName: '',
      addressMail: '',
      cityMail: '',
      cityCode: '',
      cityMailCode: '',
      postalCodeMail: '',
      postal: {
        postalCode: ''
      },
      dialog: {
        dialogError: false
      },
      rules: {
        error: 'Harus diisi',
        required: value => !!value || 'Harus diisi.',
        whitespaces: value => !!value.replace(/\s/g, '').length || 'Harus diisi.',
        numbers: value => {
          const pattern = /^\d+$/
          return pattern.test(value) || 'Isi dengan angka'
        },
        minimal: value => {
          return value.length >= 3 || 'Minimal 3 karakter'
        },
        maximal: value => {
          return value.length <= 100 || 'Maksimal 100 karakter'
        },
        lessThanFive: value => {
          if (value.length < 5) return 'Harus 5 digit'
        }
      },
      checkbox: false,
      disableButton: false,
      isLoaded: false,
      cityNames: []
    }
  },
  methods: {
    setRouteToLocalStorage,
    checkFlag () {
      if (this.$route.params.flag === 'profile') {
        this.flagsEdit = true
        this.plusStep()
      } else {
        //
      }
    },
    minStep () {
      if (this.flagsEdit === true) {
        if (this.step === 6) {
          this.$router.go(-1)
        } else {
          this.address = this.dataResult1[0].desc
          this.city = this.dataResult1[1].desc
          this.postal.postalCode = this.dataResult1[2].desc
          // address mail
          this.addressMail = this.dataResult2[0].desc
          this.cityMail = this.dataResult2[1].desc
          this.postalCodeMail = this.dataResult2[2].desc
          this.step = 6
          this.progressLine = 100
        }
      } else {
        if (this.step === 0 || this.step === 6) {
          this.$router.go(-1)
        } else {
          this.step -= 1
          this.progressLine -= 15
        }
      }
    },
    scrollUp (id) {
      this.scroll = true
      this.focused = true
      var elmnt = document.getElementById(id)
      elmnt.scrollIntoView({behavior: 'smooth'})
    },
    getCityDatas () {
      Api('finacheck/reference/city/kemendagri', {})
        .then((res) => {
          this.transformDataForSelect(res.d)
          this.getAddressData()
          this.cityData = res.d
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    plusStep (list, code, name) {
      // tempat tinggal
      if (list === 'city') {
        this.city = name
        this.cityCode = code
        this.search = ''

        if (this.flagsEdit === true && this.checkbox === true) {
          this.cityMail = this.city
          this.cityMailCode = this.cityCode
        } else {
          //
        }
      } else {
        //
      }
      // surat menyurat
      if (list === 'cityMail') {
        this.cityMail = name
        this.cityMailCode = code
        this.search = ''
      } else {
        //
      }

      if (this.$route.params.flag === 'profile') {
        // this.disableButton = false
      } else {
        this.disableButton = true
      }

      // condition flags edit
      if (this.flagsEdit === true) {
        if (this.step === 3 && this.postalCodeMail === '') {
          this.step += 1
          this.progressLine += 15
          this.flagsEdit = false
          this.disableButton = true
        } else {
          // length vwindow (go to result data)
          this.step = 6
          this.progressLine = 100
          this.flagsEdit = false
        }
      } else if (this.step === 3 && this.checkbox === true) {
        this.step = 6
        this.progressLine = 100
      } else {
        this.step += 1
        this.progressLine += 15
        this.flagsEdit = false
      }
      let dataResult1Submit1 = [
        {
          title: 'Alamat Lengkap',
          desc: this.address
        },
        {
          title: 'Kota/Kabupaten',
          desc: this.city
        },
        {
          title: 'Kodepos',
          desc: this.postal.postalCode
        }
      ]

      let dataResult1Submit2 = [
        {
          title: 'Alamat Lengkap',
          desc: this.addressMail
        },
        {
          title: 'Kota/Kabupaten',
          desc: this.cityMail
        },
        {
          title: 'Kodepos',
          desc: this.postalCodeMail
        }
      ]
      this.dataResult1 = dataResult1Submit1
      this.dataResult2 = dataResult1Submit2
    },
    edit (value) {
      this.step = value
      this.flagsEdit = true
      this.disableButton = false
      // set width progressLine
      this.progressLine = (value + 1) * 15
    },
    editLetter (value) {
      this.step = 3 + value
      this.flagsEdit = true
      this.disableButton = false
      // set width progressLine
      this.progressLine = (value + 4) * 15
    },
    getAddressData () {
      // get address data
      if (this.$route.params.flag === 'profile') {
        Api('finacheck/kyc/address', {})
          .then((res) => {
            if (res.d !== null) {
              this.address = res.d.address
              this.cityCode = res.d.cityid
              this.city = res.d.city_name
              this.cityMail = res.d.cor_city_name
              this.postal.postalCode = res.d.postal_code
              this.addressMail = res.d.cor_address
              this.cityMailCode = res.d.cor_cityid
              this.postalCodeMail = res.d.cor_postal_code
              if (res.d.postal_code === res.d.cor_postal_code) {
                this.checkbox = true
              }
            }
            this.checkFlag()
            this.isLoaded = true
          })
          .catch(() => {
            this.dialog.dialogError = true
          })
      } else {
        this.disableButton = true
        this.isLoaded = true
      }
    },
    transformDataForSelect (items) {
      var transformedData = {}
      for (var i = 0; i < items.length; i++) {
        transformedData = {
          text: items[i].name_kemendagri,
          value: items[i].code_kemendagri
        }
        this.cityNames.push(transformedData)
      }
    },
    submit () {
      this.disableButton = true

      if (this.$route.params.flag === 'profile' && this.$route.params.submit === 'false') {
        Api('finacheck/kyc/update', {
          address: this.address,
          cityid: this.cityCode,
          postal_code: this.postal.postalCode,
          cor_address: this.addressMail,
          cor_cityid: this.cityMailCode,
          cor_postal_code: this.postalCodeMail
        }).then((res) => {
          this.$router.push('/profile/settings')
          // this.trackSubmit()
        }).catch(() => {
          this.disableButton = false
          this.dialogError = true
        })
      } else {
        Api('finacheck/kyc/address/save', {
          address: this.address,
          cityid: this.cityCode,
          postal_code: this.postal.postalCode,
          cor_address: this.addressMail,
          cor_cityid: this.cityMailCode,
          cor_postal_code: this.postalCodeMail
        }).then((res) => {
          this.$router.push('/v2/input/finacheck/kyc/list/new')
          this.trackSubmit()
        }).catch(() => {
          this.disableButton = false
          this.dialogError = true
        })
      }
    },
    dialogs (title, desc) {
      this.dialog.isopen = true
      this.dialog.title = title
      this.dialog.desc = desc
    },
    trackSubmit () {
      this.$analytics.track('KYC Address Saved')
    }
  },
  created () {
    this.getCityDatas()
  },
  computed: {
    filteredData () {
      let keyword = this.search.toLowerCase()
      return this.cityData.filter(function (cityData) { return (cityData.name_kemendagri + '').toLowerCase().indexOf(keyword) >= 0 })
    }
  },
  watch: {
    postal: {
      handler (value) {
        let postalCode = value.postalCode
        // is Number validation
        const pattern = /^\d+$/
        // postal code
        if (pattern.test(postalCode) === false || postalCode === '' || postalCode.length < 5) {
          this.disableButton = true
        } else {
          this.disableButton = false
        }
        // checkbox copy
        if (this.flagsEdit === true && this.checkbox === true) {
          this.postalCodeMail = this.postal.postalCode
        } else {
          //
        }
      },
      deep: true
    },
    checkbox: function (value) {
      var self = this
      if (value === true) {
        self.checked = true
        self.addressMail = self.address
        self.cityMail = self.city
        self.cityMailCode = self.cityCode
        self.postalCodeMail = self.postal.postalCode
        self.disableButton = false
      } else {
        self.disableButton = true
        self.checked = false
        self.addressMail = ''
        self.cityMail = ''
        self.postalCodeMail = ''
      }
    },
    address: function (value) {
      if (this.flagsEdit === true && this.checkbox === true) {
        this.addressMail = this.address
      } else {
        //
      }
      // validation
      if (value === '' || !value.replace(/\s/g, '').length === true || value.length < 3 || value.length > 100) {
        this.disableButton = true
      } else {
        this.disableButton = false
      }
    },
    addressMail: function (value) {
      if (value === '' || !value.replace(/\s/g, '').length === true || value.length < 3 || value.length > 100) {
        this.disableButton = true
      } else {
        this.disableButton = false
      }
    },
    postalCodeMail: function (value) {
      const pattern = /^\d+$/
      if (pattern.test(value) === false || value === '' || value.length < 5) {
        this.disableButton = true
      } else {
        this.disableButton = false
      }
    }
  }
}
</script>

<style lang="sass">
  .finacheck-kyc-alamat
    *
      padding: 0
      margin: 0

    .v-text-field__details
      padding-left: 4px !important
      margin-top: 8px

    .v-toolbar
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important
      position: fixed

    .progress-line
      background: #51AAF4
      height: 4px
      position: fixed
      z-index: 10

    .v-input__slot
      margin-top: 0px
      height: auto !important

    .v-input
      margin-top: 0px

    .btn-next
      width: 100%
      position: fixed
      bottom: 0
      height: 56px !important

    .pt-140
      padding-top: 140px

    .border-bottom-list
      border-bottom: 1px solid #E8EAEF

    .v-label
      font-family: 'Avenir-Regular', Helvetica, Arial, Sans-Serif !important
      color: #6E7692 !important
      font-size: 16px !important

    .no-border
      .v-input__slot
        border: none !important

    .text-area
      .v-input__slot
        border: 1px solid #E8EAEF
        background-color: #ffffff !important

    .textarea
      margin-top: 0 !important

    .v-text-field__details
      padding-top: 8px

    .kode-pos
      .v-label
        font-family: 'Avenir-Regular', Helvetica, Arial, Sans-Serif !important
        color: #6E7692 !important
        font-size: 16px !important

      .v-input input
        font-family: 'Avenir-Regular', Helvetica, Arial, Sans-Serif !important
        font-size: 22px !important
        line-height: 30px
        color: #505565 !important
        height: 60px !important
        max-height: 70px !important
        padding: 8px 0 20px
        padding-bottom: 0

      .theme--light.v-text-field > .v-input__control > .v-input__slot:before
        border-color: #B3B7C6 !important

    .v-icon
      font-size: 18px !important

</style>
