<template>
  <div class="finacheck-input-kyc-email bg-primary-3" :style="'min-height: ' + screenHeight + 'px'">
    <reusable-toolbar :page-name="step === 3 ? 'Verifikasi Email' : 'Data Email'" :left="true">
      <div slot="button-toolbar">
        <v-btn class="w-40" icon @click="minStep()">
          <img src="@/assets/icons/icon-back.svg" style="width: 24px; height: 24px;" alt="arrow back">
        </v-btn>
      </div>
    </reusable-toolbar>
    <v-container class="pa-0" v-if="isLoaded === true">
      <!-- If User haven't done Inserting Data -->
      <v-layout column class="toolbar-margin">
        <v-form>
          <v-window v-model="step" :touchless="true">
            <template>
              <!-- email -->
              <v-window-item class="pt-140 px-20 kode-pos mb-5">
                <v-layout column>
                  <v-flex xs12>
                    <v-text-field
                      label="Masukkan email baru"
                      placeholder="Email baru"
                      :rules="[rules.email]"
                      v-model="email"
                      type="email"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-window-item>
              <!-- Nomor Rekening -->
              <v-window-item class="pt-140 px-20 kode-pos mb-5">
                <v-layout column>
                  <v-flex xs12>
                    <v-text-field
                      label="Masukkan kata sandi kamu"
                      placeholder="Password"
                      hide-details
                      v-model="password"
                      :type="showPassword ? 'text' : 'password'"
                      :append-icon="showPassword ? 'visibility' : 'visibility_off'"
                      @click:append="showPassword = !showPassword">
                    ></v-text-field>
                    <v-card-text v-if="validation.email" class="avenir-12-reg pt-2" style="color: #f26969 !important">
                      Password tidak sesuai
                    </v-card-text>
                  </v-flex>
                </v-layout>
              </v-window-item>
              <!-- result -->
              <v-window-item>
                <div class="mb-5 mt-4">
                  <div class="px-20" v-for="(data, index) in dataResult" :key="index">
                    <v-layout row>
                      <v-flex xs10>
                        <v-card-text class="avenir-14-reg color-text-3 pb-3">
                          {{data.title}}
                        </v-card-text>
                      </v-flex>
                      <v-flex xs2 @click="edit(index)">
                        <v-card-text class="avenir-14-reg text-xs-right color-brand-1">
                          Edit
                        </v-card-text>
                      </v-flex>
                    </v-layout>
                    <v-card-text class="avenir-22-reg pb-4">
                      {{data.desc}}
                    </v-card-text>
                  </div>
                </div>
              </v-window-item>
              <!-- Verifikasi -->
              <v-window-item>
                <div class="kyc-verification bg-primary-3">
                  <v-layout column align-center class="px-20 pt-5">
                    <img src="@/assets/finacheck/kyc/kyc-sent.svg" alt="kyc-sent" class="pb-20">
                    <v-card-text class="nexa-16-bold color-black pb-3 text-xs-center">
                      Link verifikasi sudah dikirimkan
                    </v-card-text>
                    <v-card-text class="avenir-14-reg text-xs-center pb-20">
                      Silakan verifikasi email baru kamu <span class="avenir-14-med">{{email}}</span> melalui email verifikasi yang telah kami kirimkan. Link verifikasi akan kadaluarsa dalam waktu <span class="avenir-14-med">30 menit.</span>
                    </v-card-text>
                    <v-card-text class="avenir-14-reg text-xs-center">
                      Belum menerima email verifikasi? <span class="color-brand-1" @click="submit('try')">Kirim ulang</span>
                    </v-card-text>
                  </v-layout>
                </div>
              </v-window-item>
            </template>
          </v-window>
          <!-- Button Submit -->
          <v-btn color="primary" v-if="step === 0 || step === 1" :disabled="isDisabled" class="btn-next nexa-16-bold" depressed @click="step === 1 ? checkPassword() : plusStep(false, null, null)"> Lanjut </v-btn>
          <v-btn color="primary" v-if="step === 2" class="btn-next nexa-16-bold" depressed @click="submit('null')"> Simpan </v-btn>
        </v-form>
        <!-- Blank box for Scrolling -->
        <div :class="scroll === true ? 'blank-box' : ''"></div>
      </v-layout>
      <!-- If User done Insert Data -->
    </v-container>
    <v-container v-else>
      <v-layout align-center justify-center class="full-height">
        <reusable-loading></reusable-loading>
      </v-layout>
    </v-container>
    <reusable-dialogs
      :is-open="dialogError"
      :resize-image="true"
      :description="dialogErrorDesc"
    ></reusable-dialogs>

    <!-- success submit -->
    <reusable-bottom-sheet
      v-model="bottomSheet"
      :image="require('@/assets/finacheck/kyc/kyc-success.svg')"
      title="Email baru berhasil diverifikasi"
    >
      <v-layout row wrap slot="button-layout" class="full-width">
        <v-flex xs12>
          <v-btn @click="step = 2; bottomSheet = false" class="btn-radius box-shadow nexa-16-bold" color="primary" depressed block>
            Kembali
          </v-btn>
        </v-flex>
      </v-layout>
    </reusable-bottom-sheet>

    <!-- snackbar lifeplan -->
    <v-snackbar color="grey" v-model="snackbar" :timeout="1500">
      <div class="ml-3">Email telah dikirim.</div>
    </v-snackbar>

  </div>
</template>

<script>
import { VTextField, VAutocomplete, VForm, VWindow, VWindowItem, VSnackbar } from 'vuetify/lib'
import Api from '@/services/Api'
import { setRouteToLocalStorage } from '@/services/Helpers'

export default {
  components: {
    VTextField, VAutocomplete, VForm, VWindow, VWindowItem, VSnackbar
  },
  name: 'FinacheckKycBank',
  data () {
    return {
      scroll: false,
      bottomSheet: false,
      screenHeight: screen.height - 48,
      snackbar: false,
      rules: {
        error: 'Harus diisi',
        required: value => !!value || 'Harus diisi.',
        numbers: value => {
          const pattern = /^\d+$/
          return pattern.test(value) || 'Isi dengan angka'
        },
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Format e-mail salah'
        }
      },
      userId: '',
      statusVerification: '',
      showPassword: false,
      dataResult: [],
      dialogError: false,
      progressLine: 25,
      flagsEdit: true,
      step: -1,
      search: null,
      doneInserting: false,
      isLoaded: false,
      email: '',
      password: '',
      isDisabled: false,
      validation: {
        email: false
      },
      dialogErrorDesc: ''
    }
  },
  watch: {
    email: function (value) {
      const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      if (pattern.test(value) === false || value === '') {
        this.isDisabled = true
      } else {
        this.isDisabled = false
      }
    },
    password: function (value) {
      if (this.password === '') {
        this.isDisabled = true
      } else {
        this.isDisabled = false
      }
    }
  },
  methods: {
    setRouteToLocalStorage,
    minStep () {
      if (this.step === 2) {
        this.$router.go(-1)
      } else if (this.step === 3) {
        this.$router.go(-1)
      } else {
        this.progressLine = 100
        this.step = 2
      }
    },
    plusStep (list, bankcode, bankname) {
      // data result
      let dataSubmit = [
        {
          title: 'Alamat Email',
          desc: this.email
        }
      ]

      // flags edit
      if (this.flagsEdit === true) {
        this.step = 2
        this.isDisabled = false
      } else {
        this.step += 1
      }

      // check step condition
      if (this.step === 1) {
        this.password = ''
      } else if (this.step === 2) {
        this.isDisabled = false
      }

      this.dataResult = dataSubmit
      this.isDisabled = true
    },
    edit (value) {
      this.step = value
      this.flagsEdit = false
      // set width progressLine
      this.progressLine = (value + 1) * 25
      this.isDisabled = false
      this.dialogError = false
    },
    scrollUp (id) {
      this.scroll = true
      this.focused = true
      var elmnt = document.getElementById(id)
      elmnt.scrollIntoView({behavior: 'smooth'})
    },
    checkPassword () {
      this.isDisabled = true
      Api('finacheck/kyc/password/check', {
        oldpass: this.password
      }).then((resPass) => {
        this.validation.email = false
        this.isDisabled = false
        this.step++
      }).catch(() => {
        // password catch
        this.validation.email = true
        this.isDisabled = false
      })
    },
    submit (value) {
      this.isDisabled = true
      if (this.email === localStorage.getItem('halofina-email')) {
        this.$router.push('/profile/settings')
      } else {
        Api('finacheck/kyc/update', {
          email: this.email
        }).then((res) => {
          this.isDisabled = false
          if (value === 'try') this.snackbar = true
          this.step = 3
        }).catch(() => {
          this.dialogError = true
          this.dialogErrorDesc = 'Email telah terdaftar'
          this.isDisabled = false
        })
      }
    },
    getUserData () {
      // get user info
      Api('finacheck/kyc/personal', {})
        .then((res) => {
          this.userId = res.d.userid
          this.email = res.d.email
          this.plusStep()
          this.isLoaded = true
          localStorage.setItem('halofina-email', this.email)
        })
        .catch(() => {
          // this.dialogError = true
        })
    },
    checkVerification () {
      Api('finacheck/kyc/email/status', {
        userid: this.userId
      }).then((res) => {
        this.isDisabled = false
        this.statusVerification = res.d
        // this.trackEvent()
        // this.$router.push('/v2/input/finacheck/kyc/list')
        this.step = 3
      }).catch(() => {
        this.isDisabled = false
        this.dialogError = true
      })
    },
    dialogs (title, desc) {
      this.dialog.isopen = true
      this.dialog.title = title
      this.dialog.desc = desc
    },
    goBack () {
      if (this.doneInserting === true) {
        this.doneInserting = false
      } else {
        this.$router.push('/finacheck/kyc/list')
      }
    }
  },
  created () {
    this.getUserData()
    this.setRouteToLocalStorage('/v2/input/finacheck/kyc/email')
  }
}
</script>

<style lang="sass">
    .finacheck-input-kyc-email
      *
        padding: 0
        margin: 0

      .v-toolbar
        box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

      .v-input__icon
        height: 56px !important

      .progress-line
        background: #51AAF4
        height: 4px

      .btn-next
        width: 100%
        position: fixed
        bottom: 0
        height: 56px !important

      .v-input__slot
        margin-top: 0px
        height: auto !important

      .v-input
        margin-top: 0px

      .pt-140
        padding-top: 140px

      .border-bottom-list
        border-bottom: 1px solid #E8EAEF

      .v-label
        font-family: 'Avenir-Regular', Helvetica, Arial, Sans-Serif !important
        color: #6E7692 !important
        font-size: 16px !important

      .no-border
        .v-input__slot
          border: none !important

      .text-area
        .v-input__slot
          border: 1px solid #E8EAEF
          background-color: #ffffff !important

      .textarea
        margin-top: 0 !important

      .v-text-field__details
        padding-top: 8px

      .kode-pos
        .v-label
          font-family: 'Avenir-Regular', Helvetica, Arial, Sans-Serif !important
          color: #6E7692 !important
          font-size: 16px !important

        .v-input input
          font-family: 'Avenir-Regular', Helvetica, Arial, Sans-Serif !important
          font-size: 22px !important
          line-height: 30px
          color: #505565 !important
          height: 60px !important
          max-height: 70px !important
          padding: 8px 0 20px
          padding-bottom: 0

        .theme--light.v-text-field > .v-input__control > .v-input__slot:before
          border-color: #B3B7C6 !important

      .v-icon
        font-size: 18px !important
</style>
