<template>
  <div>
    <div class="finacheck-kyc-sk-new bg-primary-3" :style="'min-height: ' + screenHeight + 'px;'">
      <reusable-toolbar page-name="Verifikasi Akun" :left="true"></reusable-toolbar>
      <v-container class="toolbar-margin pa-0" v-if="isLoaded === true">
        <v-layout v-if="signLayout === false" column>
          <!-- Card account -->
          <v-card flat class="px-20 pt-5 mt-5">
            <v-layout column justify-center>
              <v-card-text class="avenir-14-reg color-text-3 pb-3">
                Tanda Tangan
              </v-card-text>
              <div v-if="signImage === null">
                <v-layout row class="wrap-ktp-null" @click="toSignLayout()">
                  <v-layout column justify-center align-center class="sub-wrap-ktp">
                    <img src="@/assets/finacheck/kyc/signature.svg" class="mb-2 pb-1" alt="signature">
                    <v-card-text class="avenir-14-reg color-text-4 text-xs-center">
                      Buat Tanda Tangan
                    </v-card-text>
                  </v-layout>
                </v-layout>
              </div>
              <div v-else>
                <v-layout row class="wrap-ktp" @click="toSignLayout()">
                  <v-layout column justify-center align-center class="sub-wrap-ktp">
                    <img :src="signImage" class="foto" alt="signature">
                  </v-layout>
                </v-layout>
              </div>
            </v-layout>
          </v-card>
          <v-layout row class="mx-20 pt-3">
            <v-checkbox
              v-model="checkbox"
              color="info"
              class="mr-3"
              :ripple="false"
              hide-details
            ></v-checkbox>
            <v-card-text class="avenir-12-reg color-text-3" @click="clickCheckbox">
              Sebelum melanjutkan proses verifikasi pastikan bahwa anda telah mengisi data dengan benar, mengerti dan menyetujui <span class="color-brand-1">Syarat & Ketentuan</span> dan <span class="color-brand-1">Kebijakan Privasi</span> yang berlaku di aplikasi Halofina
            </v-card-text>
          </v-layout>
          <v-btn block color="primary" depressed @click="submit" class="btn-next" :disabled="signImage === null || accept === false">Lanjut</v-btn>
        </v-layout>
        <!-- Sign Layout -->
        <v-layout v-else column align-center justify-center class="bg-primary-3">
          <v-card-text class="avenir-14-reg color-text-3 pb-3 pt-4 px-20">
            Tanda Tangan
          </v-card-text>

          <div class="mx-20">
            <v-layout row wrap style="border: 1px solid #E8EAEF; border-radius: 8px; overflow: hidden;" class="full-width">
              <vueSignature ref="signature" :sigOption="signLayoutOptions" :w="'100%'" :h="'430px'"></vueSignature>
            </v-layout>
          </div>
          <v-layout row justify-space-between align-center pt-3 class="px-20 full-width">
            <v-flex xs6 class="mr-2">
              <v-btn color="primary" block class="btn-radius" style="border: 1px solid #E8EAEF; box-shadow: none !important;" flat @click="clearSign()">Hapus</v-btn>
              <!-- <v-btn color="primary" class="btn-radius box-shadow" small flat @click="undoSign()">Batal</v-btn> -->
            </v-flex>
            <v-flex xs6 class="ml-2">
              <v-btn color="primary" block class="btn-radius" style="box-shadow: none !important;" @click="saveSign()">Simpan</v-btn>
            </v-flex>
          </v-layout>
        </v-layout>
      </v-container>
      <v-container class="toolbar-margin pa-0 full-height" v-else>
        <v-layout column align-center justify-center class="full-height">
          <reusable-loading></reusable-loading>
        </v-layout>
      </v-container>
      <!-- Dialog disclaimer -->
      <reusable-dialogs
        v-model="sk.isOpen"
        :title="sk.title"
        :full-screen="true"
        :hide-overlay="true">
        <div slot="layout">
          <v-card tile>
            <div class="scroll-ios">
              <v-toolbar card>
                <v-toolbar-title>
                  {{sk.title}}
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon @click.native="sk.isOpen = false">
                  <v-icon>close</v-icon>
                </v-btn>
              </v-toolbar>
              <iframe :src="sk.url" style="border: 0;"/>
            </div>
          </v-card>
        </div>
      </reusable-dialogs>
      <!-- Dialog Error -->
      <reusable-dialogs
        v-model="dialogError"
        :resize-image="true"
      ></reusable-dialogs>
      <!-- Loading -->
      <v-layout column align-center justify-center class="loading" v-if="dialogLoading">
        <reusable-loading></reusable-loading>
      </v-layout>
    </div>
    <div class="finacheck-kyc-sk-new-content bg-primary-3 min-height px-20" v-if="checkbox === true && accept === false">
      <reusable-toolbar page-name="">
        <div slot="button-toolbar">
          <v-btn class="w-35" icon @click="checkbox = false">
            <img src="@/assets/icons/icon-back.svg" style="width: 24px; height: 24px;" alt="arrow back">
          </v-btn>
        </div>
      </reusable-toolbar>
      <div class="avenir-14-reg toolbar-margin pt-3">
        <div class="mb-3">
          <div class="pb-3 nexa-20-bold">
            Syarat dan Ketentuan Umum
          </div>
          <p>Selamat datang di Halofina Terima kasih telah menggunakan Halofina. Sebelum menggunakan, mengakses atau
            memanfaatkan aplikasi halofina, pastikan Anda sudah membaca dengan baik seluruh Syarat dan Ketentuan Umum ini.
          </p>
          <p>Syarat dan Ketentuan Umum ini berisi mengenai aturan, pedoman, panduan, pemberitahuan, kebijakan dan
            instruksi
            yang berkaitan dengan penggunaan aplikasi. Dengan mengakses dan menggunakan aplikasi ini Anda menyatakan bahwa
            Anda
            telah membaca, memahami dan menyetujui setiap dan seluruh isi Syarat dan Ketentuan Umum ini.</p>
          <p>Kami akan mempublikasikan setiap perubahan yang bersifat substansial dari Syarat dan Ketentuan Umum ini
            melalui
            Platform dan Anda diwajibkan untuk membaca dengan baik setiap perubahan atau amandemen tersebut sehingga
            apabila
            Anda tetap menggunakan, mengakses atau memanfaatkan Platform, Anda dianggap telah mengetahui, memahami dan
            menyetujui perubahan atau amandemen tersebut.</p>
        </div>

        <div class="mb-3">
          <div class="pb-3 nexa-16-bold">
            Deskripsi Layanan
          </div>
          <p>Melalui Platform, kami menawarkan layanan manajemen keuangan pribadi, investasi, dan layanan tambahan
            termasuk
            namun tidak terbatas pada, pemantauan untuk biaya yang tidak diinginkan rekening kartu kredit, rekening bank,
            dan
            akun keuangan lainnya yang Ditentukan oleh Pengguna.</p>
        </div>

        <div class="mb-3">
          <div class="pb-3 nexa-16-bold">
            Penggunaan Anda atas Layanan.
          </div>
          <p>Anda menyetujui hal-hal berikut sehubungan dengan penggunaan Anda atas Layanan:</p>
          <ol type="1">
            <li>Anda tidak dapat menggunakan Layanan jika Anda berusia di bawah 18 tahun.</li>
            <li>Anda setuju untuk mematuhi semua hukum, peraturan, dan aturan yang berlaku sehubungan dengan penggunaan
              Anda
              atas
              Layanan.</li>
            <li>Anda setuju bahwa Anda sepenuhnya bertanggung jawab atas semua tindakan atau kelalaian yang terkait dengan
              akses
              dan penggunaan Layanan Anda serta akses dan penggunaan Layanan oleh siapa pun atas nama Anda.</li>
            <li>Sehubungan dengan penggunaan Anda atas Layanan, Anda tidak akan:</li>
            <ol type="a" class="py-3">
              <li>melanggar Ketentuan ini atau peraturan dan instruksi yang berlaku lainnya yang Halofina dapat sampaikan
                sehubungan dengan penggunaan Layanan;</li>
              <li>mengganggu, mengacaukan, mengakali atau memanipulasi fungsi atau pengoperasian Layanan;</li>
              <li>mengirim kueri penelusuran yang dibuat secara otomatis atau yang dihasilkan mesin atau menggunakan
                robot,
                perayap, atau aplikasi serupa untuk mengumpulkan atau mengumpulkan konten dari Layanan;</li>
              <li>menyamar sebagai orang atau entitas apa pun, atau membuat pernyataan palsu apa pun yang berkaitan dengan
                identitas Anda.</li>
            </ol>
            <li>Sehubungan dengan penggunaan Anda atas Layanan, Anda tidak akan memposting, menyebarluaskan, mengirim,
              atau
              berkomunikasi melalui, atau ke Layanan, atau menyediakan konten apa pun di Layanan, yang dapat dianggap
              sebagai:
            </li>
            <ol type="a" class="py-3">
              <li>melanggar atau melanggar hak kekayaan intelektual pihak lain, termasuk paten, hak cipta, rahasia dagang
                dan
                merek
                dagang;</li>
              <li>virus perangkat lunak, trojan horse, worm, vandal, spyware, dan kode berbahaya lainnya;</li>
              <li>mendorong, mendukung, membantu, memberikan instruksi atau memberi nasihat dalam melakukan tindak pidana,
                berdasarkan hukum yang berlaku;</li>
              <li>merupakan pelanggaran hak seseorang atas privasi atau hak publisitas;</li>
              <li>dilarang oleh Hukum Yang Berlaku, termasuk perintah penahanan pengadilan, untuk diposting, diterbitkan,
                disebarluaskan, atau disediakan untuk publik;</li>
              <li>mengancam, kasar, melecehkan, memfitnah, mencemarkan nama baik, vulgar, cabul atau rasial, secara etnis
                atau
                tidak dapat diterima; dan / atau</li>
              <li>komunikasi komersial yang tidak diminta (‘spam’), surat berantai, atau skema piramida.</li>
            </ol>
          </ol>
        </div>

        <div class="mb-3">
          <div class="pb-3 nexa-16-bold">
            Penghapusan Akses atau Blokir
          </div>
          <p>Halofina dapat, menghapus atau memblokir akses ke Layanan, atau bagian apa pun darinya, dengan alasan apa pun
            yang Halofina dapat pertimbangkan untuk dibenarkan atas kebijakannya sendiri termasuk, tetapi tidak terbatas
            pada: (i) untuk mencegah penyalahgunaan Layanan; (ii) ketika Halofina menganggap penggunaan Layanan untuk
            melanggar Ketentuan ini, atau pelanggaran terhadap hukum yang berlaku; atau (iii) ketika akun pengguna Anda
            dihentikan, baik oleh Anda sendiri atau oleh Halofina.</p>
        </div>

        <div class="mb-3">
          <div class="pb-3 nexa-16-bold">
            Deskripsi Pengguna
          </div>
          <p>Kami menyediakan Pengunjung dan Pengguna dengan akses ke Platform seperti yang dijelaskan dalam Ketentuan
            ini.</p>
          <p><b>Pengunjung. </b>Pengunjung adalah orang-orang yang tidak terdaftar dengan kami, tetapi yang melihat konten
            di Platform yang tersedia untuk umum tanpa masuk ke Platform.</p>
        </div>

        <div class="mb-3">
          <div class="pb-3 nexa-16-bold">
            Pendaftaran
          </div>
          <p>Dengan Mendaftar Dan Menggunakan Layanan Yang Anda Perwakilan Dan Menjamin Bahwa Anda Adalah 18 Tahun, Atau
            Lebih Lanjut.</p>
          <ul>
            <li>Anda menyatakan dan menjamin bahwa semua informasi pendaftaran yang Anda kirimkan adalah benar dan akurat
              dan Anda
              akan mempertahankan keakuratan informasi tersebut. Ingatlah bahwa informasi yang salah, salah, atau
              kedaluwarsa dapat
              mencegah Anda mendaftarkan dan merusak kemampuan Halofina untuk menyediakan Layanan atau menghubungi Anda.
            </li>
            <li>Halofina secara eksplisit akan menunjukkan data yang wajib diisi. Jika Anda tidak memasukkan data yang
              diperlukan,
              Anda tidak akan dapat mendaftar.</li>
            <li>Anda setuju kami dapat menggunakan informasi tersebut sesuai dengan Kebijakan Privasi kami.</li>
            <li>Anda sepenuhnya bertanggung jawab atas hasil apa pun yang mungkin diakibatkan oleh kegagalan Anda untuk
              memberikan
              rincian yang benar, akurat, dan lengkap dalam proses pendaftaran.</li>
            <li>Anda setuju untuk menjaga perincian login Anda dengan kerahasiaan mutlak dan tidak perlu mengungkapkannya
              kepada
              orang lain.</li>
            <li>Anda sepenuhnya bertanggung jawab atas segala penggunaan atau penyalahgunaan akun Anda di Platform sebagai
              akibat
              dari mengkompromikan detail Anda atau menyampaikannya kepada orang lain atau tidak menjaga mereka tetap aman
              dan
              rahasia.</li>
          </ul>
          <p>Anda dapat mengakhiri akun Anda setiap saat, dengan mengikuti proses penghentian yang ditentukan Halofina
            yang ditetapkan pada Platform atau dengan menghubungi Halofina melalui email di: support@halofina.com.
            Halofina mungkin mengharuskan Anda untuk memverifikasi pemberitahuan penghentian Anda dengan mengirim Halofina
            pesan permintaan pengakhiran tambahan, baik melalui e-mail atau melalui sarana lain, sebagai prasyarat untuk
            penghentian akun Anda. Akun Anda di Platform akan dihentikan dalam waktu 10 hari kerja setelah pemberitahuan
            Anda, dan sejak tanggal pengakhiran itu Anda tidak akan lagi dapat mengakses akun Anda.</p>
        </div>

        <div class="mb-3">
          <div class="pb-3 nexa-16-bold">
            Biaya
          </div>
          <p>Jika Anda setuju untuk bertanggung jawab membayar tagihan bulanan atau tahunan berdasarkan paket langganan
            (“Berlangganan”) yang Anda pilih, Anda setuju bahwa kami dapat menggunakan penyedia pembayaran pihak ketiga
            (“Prosesor Pembayaran Pihak Ketiga”) untuk memproses pembayaran biaya tersebut.</p>
          <p>Kami berhak untuk mengubah biaya apa pun yang kami kenakan kapan saja setelah memberikan pemberitahuan kepada
            Anda.</p>
        </div>

        <div class="mb-3">
          <div class="pb-3 nexa-16-bold">
            Pengakhiran Akun oleh Halofina.
          </div>
          <p>Terlepas dari segala upaya hukum yang mungkin tersedia bagi Halofina berdasarkan hukum yang berlaku, Halofina
            dapat secara sementara atau permanen menolak, membatasi, menangguhkan, atau mengakhiri Akun pengguna Anda,
            melarang Anda mengakses Platform dan / atau Layanan (atau bagian apa pun darinya), menghapus konten dan
            mengambil langkah-langkah teknis dan hukum untuk menjauhkan Anda dari Platform dan / atau Layanan, jika
            Halofina percaya bahwa:</p>
          <ol type="a" class="py-3">
            <li>Anda telah menyalahgunakan hak Anda untuk menggunakan Platform dan / atau Layanan; atau</li>
            <li>Anda telah melanggar Ketentuan; atau</li>
            <li>Anda telah melakukan tindakan atau kelalaian apa pun yang melanggar hukum, aturan, atau peraturan yang
              berlaku;
              atau,</li>
            <li>Anda telah melakukan tindakan atau kelalaian apa pun yang berbahaya atau mungkin berbahaya bagi Halofina,
              atau
              pihak ketiga lainnya, termasuk pengguna lain, dan penyedia Layanan;
              atau,</li>
            <li> kredensial login Anda dikompromikan dengan
              cara apa pun; atau Anda menunggak pembayaran biaya yang berlaku untuk Layanan.</li>
          </ol>
          <p>Kecuali jika penggunaan Layanan yang berkelanjutan dapat menyebabkan Halofina atau pihak ketiga mana pun
            untuk mengambil risiko atau bahaya, Halofina akan melakukan upaya yang wajar secara komersial untuk memberi
            Anda pemberitahuan sebelumnya, bila berlaku, sebelum mengambil tindakan di atas.</p>
        </div>

        <div class="mb-3">
          <div class="pb-3 nexa-16-bold">
            Tautan ke Situs Lain
          </div>
          <p>Halofina dapat menyediakan link ke situs-situs lain yang dimiliki, dioperasikan atau disediakan oleh para
            pihak ketiga (“situs Pihak Ketiga”), serta desain, teks, gambar grafis, foto, gambaran, gambar, video,
            perangkat lunak, musik, suara dan file lain, peringkat kredit, tarif, biaya, kuotasi, data historis, bagan,
            statistik, artikel, sumber-sumber lain, informasi dan konten milik atau yang berasal dari para pihak ketiga
            (“Konten Pihak Ketiga”).</p>
          <p>Halofina tidak memiliki kendali atas, dan tidak betanggung jawab atas konten di situs Pihak Ketiga atau
            setiap kerusakan terhadap Anda yang mungkin timbul dari situs Pihak Ketiga (termasuk tetapi tidak terbatas
            pada, virus, spyware, malware, worm, kesalahan atau kerusakan materi yang terkandung dalam situs Pihak Ketiga)
            atau ketersediaan dari konten apapun pada situs Pihak Ketiga, dan Anda dengan ini mengesampingkan setiap
            tuntutan terhadap kami sehubungan dengan Situs Pihak Ketiga.</p>
        </div>


        <div class="mb-3">
          <div class="pb-3 nexa-16-bold">Koreksi Kesalahan.</div>
          <p> Tunduk pada syarat dan ketentuan yang ditetapkan di sini, Halofina menggunakan upaya yang wajar secara
            komersial untuk memastikan keandalan informasi yang muncul di Platform dan dalam Layanan. Namun, kesalahan
            dapat terjadi. Jika Anda yakin bahwa informasi apa pun yang dikirim atau diterbitkan oleh Halofina pada
            Layanan itu salah, mohon informasikan kami di support@halofina.com.</p>
        </div>
        <div class="mb-3">
          <div class="pb-3 nexa-16-bold">Hak Atas Kekayaan Intelektual</div>
          <ol type="1">
            <li>Hak cipta, paten, merek dagang, desain terdaftar dan semua hak atas kekayaan intelektual pada situs,
              Layanan dan Konten situs, termasuk tetapi tidak terbatas pada hak cipta dalam gabungan dari semua Konten
              Pengguna, adalah milik dan tetap merupakan hak Halofina.</li>
            <li>Halofina, gambar grafis, logo, desain, header halaman, ikon, tulisan dan nama layanan milik Halofina
              (secara kolektif disebut “Merek”) yang ditampilkan pada situs ini adalah aset dari Halofina dan semua Merek
              yang secara tegas dilindungi oleh Halofina atau pihak ketiga yang relevan. Akses Anda pada dan/atau
              penggunaan situs, Konten situs dan Layanan tidak dapat dianggap sebagai pemberian, melalui implikasi,
              larangan menarik kembali suatu janji (estoppel) atau lainnya, setiap lisensi atau hak untuk menggunakan
              Merek Dagang apapun yang ada pada situs tanpa persetujuan tertulis terlebih dahulu dari Halofina atau para
              pihak ketiga yang relevan.</li>
            <li>Anda tidak diizinkan untuk menggunakan Merek apapun tanpa persetujuan terlebih dahulu dari Halofina atau
              pihak ketiga tersebut. Halofina dan Grup Halofina dan anak perusahaan kami secara agresif menggunakan hak
              kekayaan intelektual kami sepanjang diizinkan oleh hukum sepenuhnya. Nama Halofina dan Merek lain tidak
              dapat digunakan dengan cara apapun, termasuk dalam setiap iklan atau publisitas, atau sebagai hyperlink
              tanpa izin tertulis terlebih dahulu dari Halofina.</li>
            <li>Nama domain di mana situs berada adalah milik mutlak Halofina dan Anda tidak dapat menggunakan atau
              mengadopsi nama serupa untuk penggunaan Anda sendiri.</li>
            <li>Dengan ketentuan bahwa Anda berhak menggunakan situs, Anda diberikan lisensi terbatas untuk mengakses dan
              menggunakan situs dan untuk mengunduh atau mencetak salinan dari bagian manapun dari Konten situs
              semata-mata untuk penggunaan Anda pribadi sehubungan dengan penggunaan Anda atas situs, Konten situs atau
              Layanan, dengan ketentuan bahwa Anda memelihara semua hak cipta atau pemberitahuan kepemilikan lengkap
              lainnya. Status kami (dan bahwa dari setiap kontributor yang diidentifikasi) sebagai penulis konten pada
              situs kami harus selalu diakui. Namun, Anda tidak harus mengubah salinan kertas atau digital dari setiap
              materi yang Anda telah cetak atau unduh dengan cara apapun, dan Anda tidak harus menggunakan setiap
              ilustrasi, foto, video atau audio secara berurutan atau gambar grafis secara terpisah dari teks apapun yang
              menyertainya.</li>
            <li>Lisensi ini dapat kami batalkan, setiap saat tanpa pemberitahun atau alasan. Setiap penggunaan situs atau
              Konten situs tanpa izin tertulis terlebih dahulu dari Halofina, selain yang secara khusus diberikan wewenang
              dalam Ketentuan-Ketentuan Penggunaan ini, sangat dilarang dan lisensi yang diberikan dalam
              Ketentuan-Ketentuan Penggunaan ini harus diakhiri. Penggunaan tidak sah tersebut juga dapat melanggar hukum
              yang berlaku (baik hukum perundang-undangan dan common law) termasuk tetapi tidak terbatas, undang-undang
              hak cipta dan merek dan peraturan dan undang-undang komunikasi yang berlaku, dan dapat mengakibatkan
              diajukannya tuntutan hukum terhadap Anda.</li>
            <li>Jika Anda menggunakan Merek, situs ini, Konten situs dan Layanan dengan melanggar Ketentuan-Ketentuan
              Penggunaan ini, hak Anda untuk menggunakan Merek kami, situs ini, Konten situs dan Layanan akan
              diberhentikan segera dan Anda harus, menurut kebijaksanaan kami, mengembalikan atau memusnahkan setiap
              salinan materi yang Anda telah buat.</li>
          </ol>

          <p> Penggunaan Layanan dan Konten. Kecuali secara tegas diizinkan dalam Ketentuan ini, Anda tidak boleh
            menyalin, mendistribusikan, menampilkan atau melakukan secara publik, mensublisensikan, mendekompilasi,
            membongkar, mengurangi ke bentuk yang dapat dibaca manusia, mengeksekusi secara publik, menyediakan kepada
            publik, beradaptasi, membuat penggunaan komersial, proses, kompilasi, menerjemahkan, menjual, meminjamkan,
            menyewakan, merekayasa balik, menggabungkan dengan perangkat lunak lain, memodifikasi atau membuat karya
            turunan dari Platform, Layanan atau Konten atau bagian apa pun darinya, baik oleh Anda sendiri atau oleh pihak
            ketiga atas nama Anda, dengan cara apa pun atau dengan cara apa pun, termasuk, tetapi tidak terbatas pada
            sarana elektronik, mekanis atau optik. Konten diberikan kepada Anda berdasarkan 'apa adanya' dan 'sebagaimana
            tersedia' hanya untuk informasi dan penggunaan pribadi Anda. Jika Anda menggunakan atau mencetak salinan
            Materi apa pun, Anda harus mempertahankan semua hak cipta dan pemberitahuan hak milik lainnya yang terkandung
            di dalamnya.</p>

          <p> Penggunaan Tanda. Merek dagang, merek layanan, dan logo Halofina ("Merek Dagang Halofina") yang digunakan
            dan ditampilkan di Platform dan Layanan adalah merek dagang terdaftar atau tidak terdaftar atau merek layanan
            Halofina. Nama perusahaan, produk, dan layanan lain yang terdapat di Platform dan Layanan dapat berupa merek
            dagang atau merek layanan yang dimiliki oleh pihak lain ("Merek Dagang Pihak Ketiga" dan, secara kolektif
            dengan Merek Dagang Halofina, "Merek Dagang"). Tidak ada apa pun di Platform dan Layanan harus ditafsirkan
            sebagai pemberian, dengan implikasi, estoppel, atau sebaliknya, lisensi atau hak untuk menggunakan Merek
            Dagang, tanpa izin tertulis sebelumnya khusus untuk setiap penggunaan tersebut. Penggunaan Merek Dagang
            sebagai bagian dari tautan ke atau dari situs apa pun dilarang, kecuali jika penetapan tautan tersebut
            disetujui sebelumnya oleh kami secara tertulis. Semua itikad baik yang dihasilkan dari penggunaan Merek Dagang
            Halofina akan menguntungkan kami.</p>
        </div>
        <div class="mb-3">
          <div class="pb-3 nexa-16-bold">Perubahan Layanan.</div>
          <p> Halofina dapat mengubah Layanan kapan saja. Perubahan tersebut dapat mencakup, misalnya, ruang lingkup atau
            jenis Layanan, tata letak atau tampilan dan konten Layanan. Pemberitahuan sebelumnya dapat diberikan jika
            terjadi perubahan materi. Perubahan dapat menyebabkan ketidaknyamanan atau bahkan malfungsi pada awalnya
            meskipun Halofina akan menggunakan upaya yang wajar secara komersial untuk meminimalkan kejadian ini. Anda
            setuju dan mengakui bahwa Halofina tidak memikul tanggung jawab apa pun sehubungan dengan, atau sehubungan
            dengan pengenalan perubahan tersebut atau dari setiap malfungsi atau kegagalan yang mungkin diakibatkannya.
          </p>
        </div>
        <div class="mb-3">
          <div class="pb-3 nexa-16-bold">Pernyataan Penolakan Tanggung Jawab (Disclaimer)</div>
          <ol>
            <li>Sementara kami berusaha untuk memastikan bahwa semua Konten situs yang ditampilkan pada situs kami adalah
              akurat dan lengkap, kami menyediakan Konten situs dan Layanan hanya atas dasar “SEBAGAIMANA ADANYA”,
              “SEBAGAIMANA TERSEDIA”, tanpa jaminan apapun, yang secara tegas atau tersirat. Dengan sepanjang diizinkan
              secara penuh sesuai dengan hukum yang berlaku, Halofina menolak semua jaminan, yang secara tegas atau
              tersirat, termasuk tetapi tidak terbatas pada, jaminan yang tersirat atas pemenuhan kualitas, kelayakan jual
              atau kesesuaian untuk tujuan tertentu, sesuai dengan deskripsi, atau jaminan non-pelanggaran.</li>
            <li>Tanpa membatasi ketentuan di atas, Halofina tidak menjamin dan tidak bertanggung jawab terhadap performa
              atau hasil dari rekomendasi yang telah kami berikan. Walaupun begitu, Halofina akan memastikan Anda untuk
              mengetahui dan sadar resiko yang dapat terjadi atas pengambilan keputusan di aplikasi kami</li>
            <li>Halofina tidak menjamin atau membuat pernyataan apapun mengenai penggunaan atau hasil penggunaan Konten
              situs, Layanan, situs atau Server dalam hal kebenaran, keakuratan, kelengkapan, keandalan, atau lainnya.
              Walapun kami melakukan upaya yang wajar (tetapi tidak berkewajiban) untuk memperbarui situs, Konten situs
              dan Layanan kami, situs, Konten situs dan Layanan mungkin kedaluwarsa pada waktu tertentu.</li>
            <li>Halofina tidak bertanggung jawab atas setiap situs Pihak Ketiga yang diakses melalui situs atau Layanan
              atau atas Konten Pihak Ketiga yang diposting pada situs atau Layanan, termasuk tetapi tidak terbatas pada
              konten, akurasi, tingkat penghinaan, pendapat, keandalan atau kebijakan dari atau terkandung dalam situs
              Pihak Ketiga atau Konten Pihak Ketiga, konsekuensi dari mengakses setiap situs Pihak Ketiga atau Konten
              Pihak Ketiga atau kegagalan produk atau layanan yang ditawarkan atau diiklankan pada situs Pihak Ketiga atau
              Konten Pihak Ketiga.</li>
            <li>Halofina tidak mengendalikan dan tidak bertanggung jawab atas apa yang diposting para pengguna di situs
              dan tidak bertanggung jawab atas setiap konten yang menghina, tidak pantas, cabul, melanggar hukum atau
              konten yang dilarang yang dapat Anda jumpai pada situs atau layanan atau sehubungan dengan konten pengguna
              atau konten pihak ketiga atau situs Pihak Ketiga. Halofina tidak bertanggung jawab atas perilaku, apakah
              online atau offline, setiap Pengguna dari situs atau Layanan.</li>
            <li>Halofina tidak menjamin atau membuat pernyataan apapun bahwa semua Layanan yang dijelaskan layak atau
              tersedia untuk digunakan di semua negara. situs, Konten situs dan Layanan tidak dimaksudkan untuk distribusi
              ke, atau penggunaan oleh, siapapun atau entitas manapun dalam yurisdiksi atau negara manapun di mana
              distribusi atau penggunaan tersebut akan bertentangan dengan hukum atau peraturan lokal. Dengan menawarkan
              situs, Konten situs dan Layanan, tidak ada distribusi atau ajakan yang dilakukan oleh Grup Halofina kepada
              siapapun untuk menggunakan situs, Konten situs dan Layanan ini, dalam yurisdiksi di mana penyediaan situs,
              Konten situs dan Layanan ini dilarang oleh hukum. Akses ke dan/atau penggunaan dari situs, Konten situs dan
              Layanan kami juga dapat dilarang oleh hukum di yurisdiksi tertentu. Anda bertanggung jawab untuk mengetahui
              larangan dan pembatasan tersebut dan mematuhinya dan Grup Halofina tidak membuat pernyataan bahwa situs,
              Konten situs dan Layanan layak atau tersedia untuk penggunaan di setiap atau semua lokasi/yurisdiksi.
              Website ini tidak dimaksudkan untuk menawarkan atau menjual efek kepada orang-orang Amerika Serikat.</li>
            <li>Halofina juga tidak menjamin atau menjanjikan hasil tertentu dari penggunaan situs dan/atau Layanan untuk
              mendapatkan pinjaman.</li>
            <li>situs, Konten situs, dan Layanan kami adalah untuk diedarkan secara umum dan keperluan informasi saja dan:
            </li>
            <li>tidak dianggap atau ditafsirkan, dalam keadaan apapun, sebagai penawaran atau ajakan untuk menjual,
              membeli, memberi, mengambil, menerbitkan, menjatah atau mentransfer, atau sebagai pemberian saran apapun
              sehubungan dengan pendanaan, pinjaman, uang muka, kredit, deposit, efek, saham, efek, obligasi, wesel,
              bunga, perwalian pendanaan unit (unit trust), reksa dana atau jaminan lain dengan instrumen atau produk
              lain, di yurisdiksi apapun, atau menyediakan pendanaan atau saran lainnya untuk setiap individu atau
              entitas; dan</li>
            <li>Halofina tidak memeriksa, mempertimbangkan atau menilai situs, Konten situs dan Layanan kami dalam
              kaitannya dengan individu atau entitas tertentu, di mana pun berada, atau setiap situasi, kebutuhan, atau
              keputusan pendanaan, bisnis, tujuan keuangan atau komersial tertentu, dari individu atau entitas tersebut.
            </li>
            <li>Anda harus mendapatkan saran dari profesional atau spesialis independen mengenai kesesuaian
              Produk(-Produk) atau Layanan(-Layanan), dengan mempertimbangkan tujuan, situasi dan kebutuhan pendanaan,
              bisnis, keuangan atau komersial Anda sebelum mengambil atau menahan diri dari, setiap tindakan atas dasar
              situs, Konten situs dan Layanan kami (termasuk tetapi tidak terbatas pada berkomitmen untuk mendanai di atau
              membeli Produk apapun). Apabila Anda memilih untuk tidak meminta saran tersebut, Anda harus mempertimbangkan
              dengan hati-hati apakah Produk(-Produk) atau Layanan (-Layanan) cocok untuk Anda mengingat situasi, sumber
              daya keuangan dan seluruh program pendanaan Anda.</li>
          </ol>
        </div>
        <div class="mb-3">
          <div class="pb-3 nexa-16-bold">Pengakhiran Operasi.</div>
          <p> Halofina dapat setiap saat dan atas kebijakan Halofina sendiri, menghentikan pengoperasian Layanan, atau
            bagian apa pun darinya, untuk sementara atau selamanya. Dalam peristiwa semacam itu, dan jika mungkin,
            Halofina akan menggunakan upaya yang wajar secara komersial untuk memberikan pemberitahuan sebelumnya tentang
            penghentian.</p>
          <p> Anda setuju dan mengakui bahwa Halofina tidak memikul tanggung jawab apa pun terkait dengan, atau sehubungan
            dengan penghentian operasi Layanan atau hilangnya data apa pun sebagai akibatnya.</p>
        </div>
        <div class="mb-3">
          <div class="pb-3 nexa-16-bold">Ganti Rugi</div>
          <ul>
            <li>Anda setuju untuk mengganti kerugian dan melindungi Halofina dari kerugian terhadap semua tuntutan,
              kewajiban (termasuk kewajiban berdasarkan undang-undang dan kewajiban kepada para pihak ketiga), biaya,
              pengeluaran, denda, ongkos (termasuk tetapi tidak terbatas pada biaya hukum atas dasar ganti rugi penuh),
              ganti rugi, keputusan dan/atau kerugian yang diderita atau ditimbulkan oleh Halofina, termasuk keuntungan
              dan peluang (yang potensial atau sebenarnya) yang dapat diambil darinya atau hilang, karena atau yang timbul
              dari:</li>
          </ul>
          <ol type="1">
            <li>akses Anda dari dan/atau penggunaan situs, Konten situs, Layanan, Konten Pengguna, Konten Pihak Ketiga dan
              situs Pihak Ketiga kami;</li>
            <li>koneksi Anda ke situs;</li>
            <li>pelanggaran terhadap Ketentuan-Ketentuan Penggunaan;</li>
            <li>pelanggaran Anda terhadap setiap hak dari orang atau entitas lain;</li>
            <li>pelanggaran Anda terhadap setiap persyaratan menurut undang-undang, kewajiban atau hukum; atau</li>
            <li>tindakan dari pihak lain manapun yang dapat mengakses dan/atau menggunakan situs, Konten situs, Layanan,
              Konten situs, Konten Pihak Ketiga dan situs Pihak Ketiga kami dengan menggunakan user id dan/atau kata sandi
              login.</li>
          </ol>

        </div>
        <div class="mb-3">
          <div class="pb-3 nexa-16-bold">Keterpisahan</div>
          <p> Jika ada syarat atau ketentuan dalam Ketentuan-Ketentuan Penggunaan ini secara keseluruhan atau sebagian
            dinyatakan sampai batas apapun sebagai tidak sah atau tidak dapat dilaksanakan berdasarkan undang-undang atau
            peraturan hukum, syarat atau ketentuan atau bagian itu hingga batas tersebut dianggap bukan merupakan bagian
            dari Ketentuan-Ketentuan Penggunaan ini dan keberlakuan dari syarat dan ketentuan lainnya di dalam
            Ketentuan-Ketentuan Penggunaan tidak akan terpengaruh. Kegagalan Halofina dalam melaksanakan atau menjalankan
            setiap hak atau ketentuan dari Ketentuan-Ketentuan Penggunaan ini bukan merupakan pengesampingan hak atau
            ketentuan tersebut keadaan tersebut atau setiap keadaan lainnya.</p>
        </div>
        <div class="mb-3">
          <div class="pb-3 nexa-16-bold">Hubungan Dengan Para Pihak</div>
          <ol type="i">
            <li>Tidak satu pun hal dalam Ketentuan-Ketentuan Penggunaan ini yang akan merupakan atau dianggap merupakan
              suatu keagenan, kemitraan atau perusahaan patungan antara Halofina dan Anda dan tidak ada pihak yang
              memiliki kewenangan untuk mengikat pihak lainnya dengan cara apapun.</li>
            <li>Anda tidak dapat membangun hubungan sedemikian rupa yang mengindikasikan suatu bentuk asosiasi,
              persetujuan atau dukungan apapun dari sisi kami ketika memang hal itu tidak ada. Anda tidak dapat membangun
              link ke situs kami dalam website apapun yang tidak dimiliki oleh Anda. Website yang Anda hubungkan melalui
              link harus mematuhi Standar Konten dalam segala hal.</li>
            <li>situs kami tidak harus dibingkai pada situs lain manapun, Anda juga tidak dapat membuat link ke bagian
              manapun dari situs kami selain ke home page.</li>
            <li>Kami memiliki hak untuk menarik izin link tanpa pemberitahuan. Jika Anda ingin melakukan penggunaan konten
              pada situs kami selain dari yang ditetapkan di atas, hubungi support@Halofina.id</li>
            <li>Pengesampingan</li>
            <li>Tidak ada pengesampingan atas setiap hak atau pemulihan oleh Halofina yang akan berlaku kecuali dibuat
              secara tertulis dan ditandatangani oleh kuasa yang sah dari Halofina atau Halofina.</li>
            <li>Kelalaian Halofina dan/atau Halofina dalam melaksanakan atau menggunakan setiap hak yang diberikan
              kepadanya oleh Ketentuan-Ketentuan Penggunaan ini tidak akan dianggap pengesampingan atau variasi dari hak
              tersebut atau berlaku sehingga melarang pelaksanaan atau penggunaan hak tersebut pada suatu waktu atau
              waktu-waktu berikutnya.</li>
          </ol>

        </div>
        <div class="mb-3">
          <div class="pb-3 nexa-16-bold">Hak Pihak Ketiga</div>
          <p> Kecuali sebagaimana diatur secara tegas dalam Ketentuan-Ketentuan Penggunaan ini atau perjanjian lain antara
            kami dan Anda, orang atau entitas yang bukan suatu pihak pada Perjanjian ini tidak memiliki hak berdasarkan
            setiap hukum yang berlaku untuk menuntut pelaksanaan setiap ketentuan Perjanjian ini, terlepas apakah orang
            atau entitas tersebut telah diidentifikasi dengan namanya, sebagai anggota dari suatu kelas atau sebagaimana
            sesuai dengan suatu deskripsi tertentu.</p>
        </div>
        <div class="mb-3">
          <div class="pb-3 nexa-16-bold">Keadaan Memaksa</div>
          <ol type="i">
            <li>Tidak ada pihak yang harus bertanggung jawab atas setiap kegagalan pelaksanaan kewajibannya berdasarkan
              Ketentuan-Ketentuan Penggunaan ini jika kegagalan tersebut diakibatkan oleh Peristiwa Keadaan Memaksa
              (didefinisikan di bawah), senantiasa dengan ketentuan bahwa bila memungkinkan, pihak yang terkena dampak
              akan melanjutkan pelaksanaan kewajiban tersebut segera setelah Peristiwa Keadaan Memaksa yang menyebabkan
              kegagalan tersebut berhenti atau mereda.</li>
            <li>Untuk tujuan Ketentuan-Ketentuan Penggunaan ini, “Peristiwa Keadaan Memaksa” adalah peristiwa saat suatu
              keadaan atau peristiwa di luar kendali wajar dari suatu pihak yang mempengaruhi masyarakat umum di negara
              atau wilayah pihak tersebut, dan yang mengakibatkan pihak tersebut tidak mampu mematuhi atau melakukan
              kewajiban tepat waktu berdasarkan Ketentuan-Ketentuan Penggunaan ini. Keadaan atau peristiwa tersebut
              termasuk tindakan industri atau sengketa buruh, kerusuhan sipil, perang atau ancaman perang, tindakan
              kriminal atau teroris, tindakan atau peraturan pemerintah, kegagalan telekomunikasi atau utilitas, pemadaman
              listrik, kebakaran, ledakan, bencana alam fisik, epidemi, pembatasan karantina, dan tidak berfungsinya
              transportasi umum.</li>
          </ol>
        </div>
        <div class="mb-3">
          <div class="pb-3 nexa-16-bold">Dokumen Lain Yang Berlaku</div>
          <ul>
            <li>Sebagai tambahan pada Ketentuan-Ketentuan Penggunaan ini, hal-hal berikut juga berlaku terhadap penggunaan
              situs dan Layanan kami oleh Anda:</li>
            <ol>
              <li>Kebijakan Privasi kami, yang menetapkan ketentuan-ketentian yang berlaku ketika kami mengolah setiap
                Data Pribadi yang kami kumpulkan dari Anda, atau yang Anda berikan kepada kami. Dengan menggunakan situs
                kami, Anda setuju dengan penggumpulan, penggunaan, pengungkapan dari Data Pribadi Anda dan Anda menjamin
                bahwa semua data yang Anda berikan adalah akurat;</li>
              <li>Kebijakan Cookie kami, yang menetapkan informasi tentang cookie pada situs kami; dan</li>
              <li>Perjanjian Induk, yang berlaku untuk penggunaan Anda atas Layanan sebagai Pengguna terdaftar.</li>
            </ol>
            <li>Jika terdapat pertentangan antara Ketentuan-Ketentuan Penggunaan ini dan perjanjian lain yang berlaku
              untuk aspek-aspek khusus dari Layanan, yang berlaku adalah perjanjian lain itu dalam kaitannya dengan
              aspek-aspek khusus dari Layanan yang kepadanya perjanjian itu berlaku.</li>
          </ul>
        </div>
        <div class="mb-3">
          <div class="pb-3 nexa-16-bold">Hukum Yang Berlaku &amp; Yurisdiksi</div>

          <ul>
            <li>Ketentuan-Ketentuan Penggunaan ini dan semua hal yang berhubungan dengan akses Anda ke, atau penggunaan,
              situs dan Layanan ini diatur dan ditafsirkan sesuai dengan hukum Indonesia tanpa mempengaruhi setiap prinsip
              hukum internasional.</li>
            <li>Anda dengan ini setuju untuk tunduk kepada yurisdiksi non-eksklusif dari pengadilan Indonesia.</li>
          </ul>
        </div>

      

        <div class="mb-3">
          <div class="pt-2 pb-3 nexa-20-bold">
            Kebijakan Privasi
          </div>
          <p> Kebijakan Privasi ini menjelaskan bagaimana Kami mengumpulkan, menyimpan, menggunakan, memindahkan,
            mengungkapkan
            dan melindungi informasi pribadi Anda yang diperoleh melalui Aplikasi Halofina (sebagaimana didefinisikan di
            bawah).
            Mohon Anda membaca Kebijakan Privasi ini dengan seksama untuk memastikan bahwa Anda memahami bagaimana
            ketentuan
            Kebijakan Privasi ini kami berlakukan. </p>
        </div>

        <div class="mb-3">
          <div class="pb-3">
            Kebijakan Privasi ini disertakan sebagai bagian dari Ketentuan Penggunaan kami. Kebijakan Privasi ini mencakup
            hal-hal sebagai berikut:
          </div>
          <ul class="pb-3">
            <li>Definisi</li>
            <li>Informasi yang kami kumpulkan</li>
            <li>Penggunaan informasi yang kami kumpulkan</li>
            <li>Pemberian informasi yang kami kumpulkan</li>
            <li>Keamanan</li>
            <li>Perubahan atas Kebijakan Privasi ini</li>
            <li>Lain-lain</li>
            <li>Pengakuan dan persetujuan</li>
            <li>Penarikan Persetujuan dan Pemusnahan</li>
            <li>Berhenti menerima e-mail</li>
            <li>Cara untuk menghubungi kami</li>
          </ul>
          Penggunaan Anda atas Aplikasi dan layanan kami tunduk pada Ketentuan Penggunaan dan Kebijakan Privasi ini dan
          mengindikasikan persetujuan Anda terhadap Ketentuan Penggunaan dan Kebijakan Privasi tersebut.
        </div>

        <div class="mb-3">
          <div class="pb-3 nexa-16-bold">
            Definisi
          </div>
          <ul class="pb-3">
            <li>
              “Afiliasi” berarti (i) pihak pengendali dari; (ii) anak perusahaan dari; atau (iii) pihak yang berada dalam
              satu pen gendalian dengan PT Akselerasi Edukasi Internasional.</li>
            <li>"Aplikasi" berarti suatu aplikasi piranti lunak dan/atau situs portal yang Kami kembangkan yang merupakan
              suatu sarana elektronik untuk (i) menemukan Layanan yang disediakan oleh pihak ketiga; (ii) mengelola
              penyediaan Layanan; dan/atau (iii) fungsi lainnya yang diperlukan untuk mendukung ekosistem Layanan.</li>
            <li>"Informasi Pribadi" berarti informasi mengenai Anda yang secara pribadi dapat diidentifikasi yang
              dikumpulkan melalui Aplikasi, seperti nama, alamat, tanggal lahir dan pekerjaan (apabila Anda adalah seorang
              individu), data dan dokumen identitas perusahaan (apabila Anda bukan seorang individu), nomor telepon,
              alamat
              surat elektronik (e-mail), perizinan dan/atau sejenisnya, dan informasi lain yang mungkin dapat
              mengidentifikasi Anda sebagai pengguna Aplikasi.</li>
            <li>"Kami" berarti PT Akselerasi Edukasi Internasional, suatu perusahaan yang didirikan berdasarkan hukum
              Negara
              Republik Indonesia, dan/atau Afiliasi-nya.</li>
            <li>“Ketentuan Penggunaan” berarti syarat dan ketentuan atau prosedur standar operasi atau ketentuan lainnya
              sehubungan dengan masing-masing Aplikasi yang dikembangkan oleh HALOFINA dan/atau Afiliasi-nya (sebagaimana
              berlaku), sebagaimana dapat diubah atau ditambah dari waktu ke waktu oleh HALOFINA dan/atau Afiliasi-nya;
            </li>
            <li> "Layanan" berarti berbagai layanan yang ditawarkan Penyedia Layanan melalui Aplikasi, termasuk namun
              tidak
              terbatas pada pengantaran atau penjemputan untuk barang dan/atau orang, layanan pembelanjaan pribadi
              dan/atau
              layanan lainnya yang disediakan dari waktu ke waktu melalui Aplikasi. </li>
            <li>“Pelanggan” berarti pihak yang terdaftar sebagai pelanggan Aplikasi untuk menggunakan Layanan yang
              disediakan di dalam Aplikasi.</li>
            <li>"Penyedia Layanan" berarti pihak yang menyediakan Layanan melalui Aplikasi</li>
            <li>"Situs Web" berarti situs web kami di www.halofina.com atau situs lainnya yang secara resmi kami
              kembangkan guna mendukung ekosistem Layanan.</li>
          </ul>
        </div>

        <div class="mb-3">
          <div class="pb-3 nexa-16-bold">
            Informasi yang Kami Kumpulkan
          </div>
          <p class="text-justify">1. Kami mengumpulkan Informasi Pribadi tertentu dari Anda agar Aplikasi dapat
            menjalankan fungsinya baik untuk penggunaan Layanan (apabila Anda adalah Pelanggan) atau pengelolaan
            penyediaan Layanan (apabila Anda adalah Penyedia Layanan) atau fungsi lainnya yang diperlukan untuk mendukung
            ekosistem Layanan. Informasi Pribadi dapat Anda berikan secara langsung (sebagai contoh, saat Anda mendaftar
            sebagai pengguna Aplikasi) maupun terkumpul secara otomatis ketika Anda menggunakan Aplikasi.</p>
          <p class="text-justify">2. Ketika Anda mengunjungi Situs Web, administrator Situs Web akan memproses data teknis
            seperti alamat protokol internet (internet protocol address) Anda, halaman web yang pernah Anda kunjungi,
            browser internet yang Anda gunakan, halaman web yang sebelumnya/selanjutnya Anda kunjungi dan durasi setiap
            kunjungan/sesi yang memungkinkan Kami untuk mengirimkan fungsi-fungsi Situs Web. Sebagai tambahan, dalam
            beberapa hal, browser dapat menyarankan Anda agar mengaktifkan fungsi geo-location Anda untuk memungkinkan
            Kami memberikan Anda suatu pengalaman yang lebih baik dalam menggunakan internet dan/atau Aplikasi. Dengan
            data teknis ini administrator-administrator Situs Web dapat mengelola Situs Web, misalnya dengan menyelesaikan
            kesulitan-kesulitan teknis atau memperbaiki kemampuan akses bagian-baigan tertentu dari Situs Web. Dengan cara
            ini, Kami dapat memastikan bahwa Anda dapat (terus) menemukan informasi pada Situs Web dengan cara yang cepat
            dan sederhana.</p>
        </div>

        <div class="mb-3">
          <div class="pb-3 nexa-16-bold">
            Informasi yang Anda berikan secara langsung.
          </div>
          <p>1. Pada saat mendaftar pada Aplikasi, Anda akan memberikan kepada Kami Informasi Pribadi tertentu sesuai
            Ketentuan Penggunaan yang disyaratkan masing-masing jenis dan fungsi Aplikasi.</p>
          <p>2. Ketika Anda menggunakan Aplikasi untuk menggunakan atau mengelola suatu Layanan, Anda memberikan informasi
            relevan, seperti, data pesanan dan data terkait pengelolaan Layanan, jumlah dana atas transaksi Layanan
            dan/atau data lainnya sebagai pendukung ekosistem Layanan. Ketika Anda menggunakan Aplikasi Kami, Kami juga
            akan memproses data teknis Anda seperti, internet protocol address, identitas (ID) perangkat internet atau
            alamat kontrol akses media (media access control address), dan informasi mengenai pabrikan, model, dan sistem
            operasi dari perangkat yang Anda gunakan untuk mengakses Aplikasi. Kami menggunakan data ini untuk
            memungkinkan Kami untuk mengirimkan fungsi-fungsi dari Aplikasi, menyelesaikan kesulitan-kesulitan teknis,
            menyediakan bagi Anda versi Aplikasi yang benar dan terkini serta untuk meningkatkan fungsi Aplikasi.</p>
          <p>3. Sehubungan dengan fasilitas uang elektronik yang mungkin tersedia dalam Aplikasi, Kami akan mengumpulkan
            informasi terkait transaksi uang elektronik tersebut oleh Anda, termasuk namun tidak terbatas pada nama bank,
            nama pemegang rekening, nomor rekening dan jumlah dana yang ditransaksikan melalui fasilitas uang elektronik
            tersebut.</p>
          <p>4. Apabila Anda adalah Pelanggan, Anda dapat memberikan kode rujukan (referral code) kepada pihak lain
            melalui Aplikasi, dalam bentuk suatu pesan yang Kami siapkan untuk Anda kirimkan atau terbitkan melalui
            fasilitas pengiriman pesan elektronik atau melalui penyedia media sosial. Anda dapat mengubah kalimat pesan
            yang telah kami siapkan sebelum Anda mengirimkannya. Kami tidak akan mengumpulkan data pihak yang Anda kirimi
            pesan tersebut.</p>
        </div>

        <div class="mb-3">
          <div class="pb-3 nexa-16-bold">
            Penggunaan Cookie
          </div>
          <p> 1. Cookie adalah berkas data kecil yang ditempatkan browser Anda pada perangkat internet Anda. Dengan
            cookie, fitur aplikasi dan/atau situs web yang Anda akses dapat menyimpan informasi atau mengingat tindakan
            dan preferensi Anda dari waktu ke waktu.</p>
          <p> 2. Sebagian besar browser internet mendukung cookie; namun Anda dapat mengatur browser yang Anda gunakan
            untuk menolak beberapa jenis cookie tertentu atau cookie spesifik. Di samping itu, Anda dapat menghapus cookie
            kapan saja.</p>
          <p> 3. Kami menggunakan cookie untuk berbagai tujuan. Kami menggunakannya, misalnya, untuk memahami preferensi
            Anda, membantu Anda untuk menggunakan Layanan (apabila Anda adalah Pelanggan) atau mengelola Layanan (apabila
            Anda adalah Penyedia Layanan), dan melindungi data Anda.</p>
        </div>

        <div class="mb-3">
          <div class="pb-3 nexa-16-bold">
            Penggunaan Informasi yang Kami Kumpulkan
          </div>
          <p> 1. Kami menggunakan alamat surat elektronik (e-mail), nama, nomor telepon, dan/atau dan sandi akun Anda
            untuk tujuan verifikasi kepemilikan Anda atas suatu akun dalam Aplikasi kami, untuk berkomunikasi dengan Anda
            sehubungan dengan penggunaan atau pengelolaan Layanan dan untuk memberikan Anda informasi mengenai Aplikasi.
            Kami juga dapat menggunakan nama, alamat surat elektronik (e-mail) dan nomor telepon Anda untuk mengirimkan
            pesan, pembaharuan yang bersifat umum atas Aplikasi, penawaran-penawaran khusus atau promosi-promosi. Kami
            juga akan mengirimkan surat elektronik (e-mail) kepada Anda yang meminta Anda untuk berlangganan daftar surat
            menyurat (mailing list) Kami. Anda dapat setiap saat memilih untuk tidak menerima informasi mengenai
            pembaharuan ini.</p>

          <p> 2. Kami menggunakan informasi seperti nama bank di mana rekening dibuat dan disimpan dan jumlah yang
            ditransaksikan dengan menggunakan uang elektronik dalam sistem Aplikasi untuk memastikan penerimaan oleh pihak
            yang bersangkutan atas dana yang ditransaksikan melalui sistem uang elektronik tersebut.</p>

          <p> 3. Kami menggunakan Informasi Pribadi secara keseluruhan untuk menganalisa pola penggunaan Aplikasi. Anda
            dengan ini setuju bahwa data Anda akan digunakan oleh sistem pemrosesan data internal Kami untuk memastikan
            diberikannya fungsi yang terbaik dalam Aplikasi untuk Anda.</p>
        </div>

        <div class="mb-3">
          <div class="pb-3 nexa-16-bold">
            Pemberian Informasi yang Kami Kumpulkan
          </div>
          <p> 1. Anda dengan ini setuju dan memberikan wewenang pada Kami untuk memberikan Informasi Pribadi Anda kepada
            Penyedia Layanan (apabila Anda adalah Pelanggan) atau Pelanggan (apabila Anda adalah Penyedia Layanan) sebagai
            suatu bagian dari Ketentuan Penggunaan. Informasi Pribadi Anda secara otomatis akan dihapus dari Aplikasi yang
            digunakan Penyedia Layanan (apabila Anda adalah Pelanggan) atau Pelanggan (apabila Anda adalah Penyedia
            Layanan) setelah transaksi Layanan dipenuhi. Akan tetapi, terdapat kemungkinan dimana Penyedia
            Layanan/Pelanggan (sebagaimana relevan) dapat menyimpan data Anda di perangkat mereka dengan cara apapun.
            Komunikasi antara Pelanggan dan Penyedia Layanan yang dilakukan di luar Aplikasi (seperti komunikasi telefon
            atau pesan singkat atau fitur komunikasi lainnya di luar Aplikasi milik HALOFINA dan/atau Afiliasi-nya) juga
            dapat disimpan di dalam perangkat yang bersangkutan. Kami tidak bertanggung jawab atas penyimpanan data dengan
            cara-cara tersebut dan atas dasar tersebut Anda setuju untuk membela, memberikan ganti rugi dan membebaskan
            Kami dari segala tanggung jawab atas segala penyalahgunaan Informasi Pribadi Anda oleh Penyedia
            Layanan/Pelanggan (sebagaimana relevan) setelah berakhirnya Layanan yang diberikan.</p>

          <p> 2. Kami dapat mempekerjakan atau bekerja sama dengan perusahaan-perusahaan dan orang perorangan pihak ketiga
            untuk memfasilitasi atau memberikan bantuan pengembangan Aplikasi dan layanan-layanan tertentu untuk dan/atau
            atas nama Kami, untuk, di antaranya, (i) memberikan bantuan konsumen; (ii) memberikan informasi geo-location;
            (iii) melaksanakan layanan-layanan terkait dengan Situs Web (termasuk namun tidak terbatas pada layanan
            pemeliharaan, pengelolaan database, analisis web dan penyempurnaan fitur-fitur Situs Web); (iv) membantu Kami
            dalam menganalisa bagaimana Aplikasi dan Layanan digunakan serta bagaimana pengembangannya; atau (v) untuk
            membantu penasihat profesional dan auditor eksternal Kami, termasuk penasihat hukum, penasihat keuangan, dan
            konsultan-konsultan. Para pihak ketiga ini hanya memiliki akses atas Informasi Pribadi Anda untuk melakukan
            tugas-tugas tersebut untuk dan/atau atas nama Kami dan secara kontraktual terikat untuk tidak mengungkapkan
            atau menggunakan Informasi Pribadi tersebut untuk tujuan lain apapun.</p>

          <p> 3. Kami tidak membagikan Informasi Pribadi Anda kepada pihak manapun selain kepada Penyedia Layanan (apabila
            Anda adalah Pelanggan) atau Pelanggan (apabila Anda adalah Penyedia Layanan) yang terkait serta pihak ketiga
            yang disebutkan di paragraf 4 huruf d di atas, tanpa persetujuan dari Anda. Namun demikian, Kami akan
            mengungkapkan Informasi Pribadi Anda sepanjang diwajibkan secara hukum, atau diperlukan untuk tunduk pada
            ketentuan peraturan perundang-undangan, institusi pemerintah, atau dalam hal terjadi sengketa, atau segala
            bentuk proses hukum antara Anda dan Kami, atau antara Anda dan pengguna lain sehubungan dengan, atau terkait
            dengan Layanan, atau dalam keadaan darurat yang berkaitan dengan kesehatan dan/atau keselamatan Anda.</p>

          <p> 4. Informasi Pribadi Anda dapat dialihkan, disimpan, digunakan, dan diproses di suatu yurisdiksi selain
            Indonesia dimana server-server Kami berada.</p>

          <p> 5. Kami dapat menghilangkan bagian-bagian tertentu dari Informasi Pribadi Anda yang dapat
            mengidentifikasikan Anda (sehingga Informasi Pribadi tersebut menjadi data anonim) dan mengungkapkan data
            anonim tersebut tersebut ke pihak ketiga untuk tujuan pengembangan Aplikasi, pengelolaan database, analisa
            atau peningkatan Layanan. Kami juga dapat mengkombinasikan Informasi Pribadi Anda dengan informasi-informasi
            lain sedemikan rupa sehingga informasi tersebut tidak lagi ter-asosiasi dengan Anda, kemudian mengungkapkan
            informasi yang telah dikombinasikan tersebut kepada pihak ketiga, untuk tujuan-tujuan tersebut di atas.</p>

          <p> 6. Kami tidak menjual atau menyewakan Informasi Pribadi Anda kepada pihak ketiga.</p>
        </div>

        <div class="mb-3">
          <div class="pb-3 nexa-16-bold">
            Keamanan
          </div>
          <p>Kerahasiaan data dan Informasi Pribadi Anda adalah hal yang terpenting bagi kami. Kami akan memberlakukan
            upaya dan langkah terbaik untuk melindungi dan mengamankan data dan Informasi Pribadi Anda. Akan tetapi Kami
            tidak dapat sepenuhnya menjamin bahwa sistem Kami tidak akan dapat ditembus sama sekali akibat adanya virus,
            malware, gangguan atau kejadian luar biasa termasuk akses tanpa otorisasi oleh pihak ketiga. Anda tidak boleh
            mengungkapkan sandi akun Anda kepada siapapun dan harus senantiasa menjaga keamanan perangkat yang Anda
            gunakan.</p>
        </div>

        <div class="mb-3">
          <div class="pb-3 nexa-16-bold">
            Perubahan atas Kebijakan Privasi ini
          </div>
          <p> Kami dapat mengubah Kebijakan Privasi ini untuk mencerminkan perubahan dalam kegiatan Kami. Jika Kami
            mengubah Kebijakan Privasi ini, Kami akan memberitahu Anda melalui surat elektronik (e-mail) atau dengan cara
            pemberitahuan di Situs Web 1 (satu) hari sebelum perubahan berlaku. Kami menghimbau Anda untuk meninjau
            halaman ini secara berkala untuk mengetahui informasi terbaru tentang bagaimana ketentuan Kebijakan Privasi
            ini Kami berlakukan.</p>
        </div>

        <div class="mb-3">
          <div class="pb-3 nexa-16-bold">
            Lain-lain
          </div>
          <p> Hukum yang Mengatur dan Yurisdiksi</p>
          <p> 1. Kebijakan Privasi ini diatur oleh dan ditafsirkan menurut hukum Negara Republik Indonesia. Setiap dan
            seluruh sengketa yang timbul dari Kebijakan Privasi ini akan diatur oleh yurisdiksi eksklusif dari Pengadilan
            Negeri Jakarta Selatan.</p>
          <p> 2. Kebijakan Privasi ini dibuat dalam Bahasa Indonesia dan Bahasa Inggris. Apabila terdapat ketidaksesuaian
            antara versi Bahasa Indonesia dan versi Bahasa Inggris, maka versi Bahasa Indonesia yang akan berlaku.</p>
        </div>

        <div class="mb-3">
          <div class="pb-3 nexa-16-bold">
            Pengakuan dan Persetujuan
          </div>
          <p> 1. Dengan menggunakan Aplikasi, Anda mengakui bahwa Anda telah membaca dan memahami Kebijakan Privasi ini
            dan Ketentuan Penggunaan dan setuju dan sepakat terhadap penggunaan, praktek, pemrosesan dan pengalihan
            Informasi Pribadi Anda oleh Kami sebagaimana dinyatakan di dalam Kebijakan Privasi ini.</p>
          <p> 2. Anda juga menyatakan bahwa Anda memiliki hak untuk membagikan seluruh informasi yang telah Anda berikan
            kepada Kami dan untuk memberikan hak kepada Kami untuk menggunakan dan membagikan informasi tersebut kepada
            Penyedia Layanan (apabila Anda adalah Pelanggan) atau Pelanggan (apabila Anda adalah Penyedia Layanan) guna
            mendukung dan melaksanakan fungsi Aplikasi.</p>
        </div>

        <div class="mb-3">
          <div class="pb-3 nexa-16-bold">
            Penarikan Persetujuan dan Pemusnahan
          </div>
          <p> Kecuali ditentukan lain pada peraturan perundang-undangan, Anda dapat melakukan penarikan persetujuan Anda
            atas pengumpulan, penggunaan dan/atau pengungkapan Informasi Pribadi Anda dan/atau pemusnahan Informasi
            Pribadi Anda yang persyaratan dan tata cara nya sesuai dengan peraturan perundang-undangan yang secara khusus
            mengatur hal ini.</p>
          <p> Penarikan persetujuan atau pemusnahan Informasi Pribadi Anda baik sebagian atau seluruhnya, dapat
            mengakibatkan Anda tidak lagi dapat menggunakan Aplikasi dan/atau Situs Web kami. Dengan ini Anda menyatakan
            telah mengetahui dan memahami dampak penarikan persetujuan dan/atau pemusnahan Informasi Pribadi Anda
            tersebut.</p>
        </div>

        <div class="mb-3">
          <div class="pb-3 nexa-16-bold">
            Berhenti menerima e-mail
          </div>
          <p> Kami memiliki kebijakan untuk Anda agar dapat memilih untuk masuk atau keluar dari daftar
            surat-menyurat/mailing list Kami. Jika Anda ingin berhenti menerima surat elektronik (e-mail) dari Kami,
            silahkan klik link unsubscribe yang disertakan pada masing-masing e-mail tersebut.</p>
        </div>

        <div class="mb-5 pb-3">
          <div class="pb-3 nexa-16-bold">
            Cara untuk Menghubungi Kami
          </div>
          <p class="pb-3"> Jika Anda memiliki pertanyaan lebih lanjut tentang privasi dan keamanan informasi Anda dan ingin memperbarui
            atau menghapus data Anda maka silakan hubungi kami di: rekrutmen@halofina.com atau telepon ke: 0882.1012.7832
          </p>

          <span> PT. Akselerasi Edukasi Internasional </span> <br>
          <span> Jl. Cipunagara No.25, Bandung Wetan</span> <br>
          <span> Bandung, Indonesia </span> <br>
          <span> Phone 0882-10120-7832 </span> <br>
          <span> support@halofina.com </span> <br>
        </div>

        <v-btn color="info" class="nexa-16-bold color-primary-3 full-width btn-accept" @click="accept = true; checkbox = true">Saya Mengerti</v-btn>
      </div>
    </div>
  </div>
</template>

<script>
import { VDivider, VSpacer, VToolbarTitle, VToolbar, VCheckbox } from 'vuetify/lib'
import Api from '@/services/Api'
import { dateFormat, setPullToRefresh } from '@/services/Helpers'

export default {
  components: {
    VDivider, VSpacer, VToolbarTitle, VToolbar, VCheckbox
  },
  name: 'FinacheckKycSK',
  data () {
    return {
      name: '',
      sk: {
        isOpen: false,
        url: ''
      },
      dialogLoading: false,
      accept: false,
      checkbox: false,
      screenHeight: screen.height - 48,
      signLayout: false,
      dialogSign: false,
      dialogError: false,
      signImage: null,
      isLoaded: false,
      signLayoutOptions: {
        penColor: 'rgb(0, 0, 0)',
        backgroundColor: 'rgb(255,255,255)'
      }
    }
  },
  watch: {
    checkbox: function (value) {
      if (!value) {
        this.accept = false
      }
    }
  },
  methods: {
    dateFormat,
    setPullToRefresh,
    submit () {
      this.dialogLoading = true
      this.trackEvent()
      localStorage.setItem('halofina-sign', JSON.stringify(this.signImage))
      Api('finacheck/kyc/personal/sign', {
        signature: this.signImage
      }).then(() => {
        this.$router.push('/v2/input/finacheck/kyc/verification')
      }).catch(() => {
        this.dialogLoading = false
      })
    },
    trackEvent () {
      this.$analytics.track('KYC Statement Saved')
      this.$analytics.track('KYC Signature Saved')
    },
    clickCheckbox () {
      if (this.checkbox === true) {
        this.checkbox = false
      } else {
        this.checkbox = true
      }
    },
    getName () {
      this.name = JSON.parse(localStorage.getItem('halofina-name'))
    },
    openDialogSK (type) {
      this.sk.url = 'https://landing-v1.halofina.com/' + type
      this.sk.isOpen = true
      this.trackSK(type)
    },
    trackSK (type) {
      if (type === 'syarat') {
        this.$analytics.track('KYC Term Opened')
      } else {
        this.$analytics.track('KYC Privacy Opened')
      }
    },
    saveSign () {
      this.signImage = this.$refs.signature.save()
      setTimeout(() => {
        this.signLayout = false
        this.setPullToRefresh('true')
      }, 600)
    },
    clearSign () {
      this.$refs.signature.clear()
    },
    undoSign () {
      this.$refs.signature.undo()
    },
    toSignLayout () {
      this.signLayout = true
      this.setPullToRefresh('false')
    },
    getSignData () {
      Api('finacheck/kyc/signature', {})
        .then((res) => {
          let signLocalStorage = JSON.parse(localStorage.getItem('halofina-sign'))
          this.signImage = res.d.signature ? res.d.signature : signLocalStorage
          this.isLoaded = true
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    goBack () {
      if (this.signLayout === true) {
        this.signLayout = false
      } else {
        this.$router.push('/finacheck/kyc/list')
      }
    }
  },
  created () {
    this.getSignData()
    this.getName()
  }
}
</script>

<style lang="sass">
  .finacheck-kyc-sk-new-content
    position: absolute
    z-index: 10
    width: 100%
    top: 0

    li
      margin-left: 20px

    *
      padding: 0
      margin: 0

    .btn-accept
      position: fixed
      bottom: 0
      z-index: 11
      height: 48px !important
      border-radius: none !important
      box-shadow: none !important
      margin-left: -20px !important    

  .finacheck-kyc-sk-new
    *
      padding: 0
      margin: 0

    .v-divider
      border-width: 6px

    .v-toolbar
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

    .loading
      position: fixed
      top: 0
      z-index: 10
      width: 100%
      background: #000
      opacity: 0.4
      height: 100vh      

    .wrap-ktp-null
      border: 1px solid #E8EAEF
      border-radius: 8px
      padding: 8px
      width: 100%
      height: 166px

      .sub-wrap-ktp
        width: 100%
        border: 1px dashed #E8EAEF
        box-sizing: border-box
        border-radius: 8px
        background: #F9FAFC
        overflow: hidden

      .foto
        width: 100%
        height: auto

    .wrap-ktp
      border: 1px solid #E8EAEF
      border-radius: 8px
      padding: 8px
      width: 100%
      height: 166px

      .sub-wrap-ktp
        width: 100%
        border: 1px dashed #E8EAEF
        box-sizing: border-box
        border-radius: 8px
        background: #FFFFFF
        overflow: hidden

        .foto
          width: auto
          height: 100%

    .btn-next
      width: 100%
      position: fixed
      bottom: 0
      height: 56px !important

    .v-input__slot
      height: 24px !important

</style>
