<template>
  <div class="kyc-verification bg-primary-3 full-height">
    <v-layout column align-center class="px-20 pt-5">
      <img src="@/assets/finacheck/kyc/kyc-sent.svg" alt="kyc-sent" class="pb-20">
      <v-card-text class="nexa-16-bold color-black pb-3 text-xs-center">
        Data verifikasi berhasil dikirim
      </v-card-text>
      <v-card-text class="avenir-14-reg text-xs-center">
        Terimakasih telah melakukan verifikasi <br/> di Halofina. Proses verifikasi memakan <br/> waktu maksimal 1 hari kerja.
      </v-card-text>
    </v-layout>
    <v-btn color="primary" class="btn-next nexa-16-bold" depressed @click="goHome()">Kembali ke beranda</v-btn>
  </div>
</template>
<script>
import { goToDashboard } from '@/services/Helpers'

export default {
  data: () => ({
  }),
  methods: {
    goHome () {
      goToDashboard('lifeplan', 'assign')
    }
  }
}
</script>
<style lang="sass">
  .kyc-verification
    *
      padding: 0
      margin: 0

    .btn-next
      width: 100%
      position: fixed
      bottom: 0
      height: 56px !important
</style>
