<template>
  <div class="dashboard">
    <!-- <lottie :options="defaultOptions" :height="400" :width="400"/> -->
    <!-- <v-toolbar color="white" flat fixed style="height: 49px !important; z-index: 5;" v-if="checkFeatures('halofina:dashboard').version < 3">
      <v-btn flat small icon @click="drawer = !drawer" style="width: 40px">
        <img src="@/assets/dashboard/menu.svg"/>
      </v-btn>
      <v-spacer></v-spacer>
      <div class="logo">
        <img src="../assets/logo-text.svg" style="width: auto; height: 32px; margin-top: 7px;"/>
      </div>
      <v-spacer></v-spacer>
      <v-btn flat small icon @click.native="$router.push('/finavest/investment/list_voucher')" style="width: 40px">
        <img src="@/assets/icons/ic-voucher.svg"/>
      </v-btn>
    </v-toolbar> -->
    <v-container pa-0 style="margin-bottom: 56px;">
      <v-tabs-items :touchless="true" v-model="menu">
        <v-tab-item value="lifeplan">
          <finavest-lifeplan-dashboard-new
            :halofina-name="halofinaName"
            :halofina-mother="halofinaMother"
            :lifeplans="lifeplans"
            :finapoint="finapoint"
            :card-section-data="cardSectionData"
            :kyc-status="kycStatus"
            :kyc-remark="kycRemark"
            :kyc-card-status="kycCardStatus"
            :risk-profile="riskProfile"
            :is-premium="premium.active"
            :smart-saving="smartSaving"
            :is-loaded="isLoadedDashboard"
            :voucher-length="voucherLength"
            :halofina-email="halofinaEmail"
            @route-query="getRouteQuery"
          />
          <!-- <finavest-lifeplan-dashboard
            :halofina-name="halofinaName"
            :lifeplans="lifeplans"
            :finapoint="finapoint"
            :is-loaded-lifeplans="isLoadedLifeplans"
            :card-section-data="cardSectionData"
            :kyc-status="kycStatus"
            :is-loaded-kyc="isLoadedKyc"
            :kyc-remark="kycRemark"
            :kyc-card-status="kycCardStatus"
            :risk-profile="riskProfile"
            :is-premium="premium.active"
            @route-query="getRouteQuery"
            v-else/> -->
        </v-tab-item>
        <v-tab-item value="history">
          <div v-if="checkFeatures('halofina:trx').version > 2">
            <history-transaction-new/>
          </div>
          <div v-else>
            <history-transaction/>
          </div>
        </v-tab-item>
        <v-tab-item v-if="checkFeatures('halofina:portfolio').enabled === true" value="portfolio">
          <div v-if="checkFeatures('halofina:portfolio').version > 1">
            <finavest-portfolio-dashboard-new
              :lifeplans="lifeplans"
              :smart-saving="smartSaving"
              :portfolio="portfolioBrief"
              :lifeplan-brief="lifeplanBrief"
              :custom-asset="customAsset"
              :isLoaded="isLoadedPortfolio"
            />
          </div>
          <div v-else>
            <finavest-portfolio-dashboard :portfolio-accumulation="portfolio"/>
          </div>
        </v-tab-item>
        <v-tab-item v-else value="portfolio">
          <reusable-disabled-page />
        </v-tab-item>
        <v-tab-item value="support">
        </v-tab-item>
        <!-- <v-tab-item value="finapedia" v-else>
          <finapedia-dashboard />
        </v-tab-item> -->
        <v-tab-item value="profil">
          <profile
            @logout-boolean="logoutDialog"
            :kyc-status="kycStatus"
            :halofina-name="halofinaName"
            :halofina-email="halofinaEmail"
            :is-premium="premium.active"
          />
        </v-tab-item>
      </v-tabs-items>
    </v-container>
    <v-bottom-nav :value="true" :active.sync="menu" fixed class="box-shadow-bottom">
      <v-btn flat value="lifeplan">
        <span class="font-tabs mt-1">
          Beranda
        </span>
        <img class="icon-nav" src="../assets/dashboard/lifeplan-inactive.svg" v-if="menu !== 'lifeplan'"/>
        <img class="icon-nav" src="../assets/dashboard/lifeplan-active.svg" v-if="menu === 'lifeplan'"/>
      </v-btn>
      <v-btn flat value="history">
        <span class="font-tabs mt-1">
          Transaksi
        </span>
        <img class="icon-nav" src="../assets/dashboard/transaction-inactive.svg" v-if="menu !== 'history'"/>
        <img class="icon-nav" src="../assets/dashboard/transaction-active.svg" v-if="menu === 'history'"/>
      </v-btn>
      <v-btn flat value="portfolio">
        <span class="font-tabs mt-1">
          Portofolio
        </span>
        <img class="icon-nav" src="../assets/dashboard/portfolio-inactive.svg" v-if="menu !== 'portfolio'"/>
        <img class="icon-nav" src="../assets/dashboard/portfolio-active.svg" v-if="menu === 'portfolio'"/>
      </v-btn>
      <v-btn flat value="support">
        <span class="font-tabs mt-1">
          Support
        </span>
        <img class="icon-nav" src="../assets/dashboard/support-inactive.svg" v-if="menu !== 'support'"/>
        <img class="icon-nav" src="../assets/dashboard/support-active.svg" v-if="menu === 'support'"/>
      </v-btn>
      <!-- <v-btn flat value="finapedia">
        <span class="font-tabs mt-1">
          Finapedia
        </span>
        <img class="icon-nav" src="../assets/dashboard/finapedia-inactive.svg" v-if="menu !== 'finapedia'"/>
        <img class="icon-nav" src="../assets/dashboard/finapedia-active.svg" v-if="menu === 'finapedia'"/>
      </v-btn> -->
      <v-btn flat value="profil">
        <span class="font-tabs mt-1">
          Profil
        </span>
        <img class="icon-nav" src="../assets/dashboard/profil-inactive.svg" v-if="menu !== 'profil'"/>
        <img class="icon-nav" src="../assets/dashboard/profil-active.svg" v-if="menu === 'profil'"/>
      </v-btn>
    </v-bottom-nav>
    <!-- Dialog Logout -->
    <reusable-dialogs
      v-model="dialog.dialogLogout"
      title="Apa kamu sudah yakin"
      description=""
      class-title="nexa-16-bold text-align-center pa-0"
      :image="imgdanger"
      :is-image-above-title="true"
      :resize-image="false">
      <div slot="layout-button" style="width: 100%;">
        <v-layout row class="px-3 pt-3 pb-4" justify-center>
          <div class="mr-2">
            <v-btn small outline class="btn-radius bg-primary-3 color-primary-1" @click.native="dialog.dialogLogout = false" depressed>
              Batal
            </v-btn>
          </div>
          <div class="ml-2">
            <v-btn small color="primary" class="btn-radius ml-1" depressed @click="logout()">
              Iya
            </v-btn>
          </div>
        </v-layout>
      </div>
    </reusable-dialogs>
    <!-- Dialog Disclaimer -->
    <reusable-dialogs
      v-model="dialog.dialogDisclaimer"
      title="Rekomendasi Investasi kamu Berubah"
      description="Untuk sementara rekomendasi alokasi aset emas dialokasikan ke kelas aset yang lain, hingga proses integrasi kami dengan penyedia produk emas selesai."
    >
      <v-layout style="width: 100%" column align-center justify-center pa-3 slot="layout-button">
          <v-btn block small color="primary" class="btn-radius box-shadow py-2" depressed @click="setStatusDisclaimer()">
              Saya Mengerti
          </v-btn>
      </v-layout>
    </reusable-dialogs>
    <!-- Dialog Password -->
    <reusable-dialogs
      v-model="dialog.dialogPassword"
      title="Peningkatan Keamanan"
      description="Untuk mencegah orang lain mengakses akun kamu, dibutuhkan kata sandi yang kuat, silahkan buat kata sandi kamu."
      class-title="pb-0"
      :image="require('@/assets/finacheck/security.svg')"
      :is-image-below-title="true"
    >
      <v-layout style="width: 100%" column align-center justify-center pa-3 slot="layout-button">
          <v-btn block small color="primary" class="btn-radius box-shadow" depressed @click="setStatusDialogPassword()">
              Buat kata sandi
          </v-btn>
      </v-layout>
    </reusable-dialogs>
    <!-- Dialog Error -->
    <reusable-dialogs
      v-model="dialog.dialogError"
      :resize-image="true"
      :is-image-above-title="true"
    ></reusable-dialogs>
    <!-- Top Up Smart Saving -->
    <smart-saving-sheet
      v-model="smartSaving.topUpSheet"
      @brief-data="getSmartSaving"
      @product-data="getSmartSavingProduct"
    ></smart-saving-sheet>
  </div>
</template>

<script>
import { goToNamespace, getNamespaces } from '../../../routing'
import Lottie from 'vue-lottie'
// Import Vuetify
import {
  VTabs,
  VTab,
  VTabsItems,
  VTabItem,
  VNavigationDrawer,
  VToolbar,
  VBottomNav,
  VSpacer,
  VDialog,
  VList,
  VListTileTitle,
  VListTileAvatar,
  VListTileContent,
  VListTileAction,
  VListTileSubTitle,
  VListTile,
  VDivider
} from 'vuetify/lib'
// Import Api
import Api from '@/services/Api'
import ApiGet from '@/services/ApiGet'
// Import helpers
import { numberingNumber, setBackRouteToAndroid, checkFeatures, dateFormat } from '@/services/Helpers'
// Import intercom bridge
import { openCrisp, controlCrispVisibility, setEmailForCrisp, setNameForCrisp, resetCrispSession } from '@/services/Messaging'
// Dashboard Component
import FinavestLifeplanDashboard from '@/components/v2/finavest/lifeplan/LifeplanDashboard'
import FinavestLifeplanDashboardNew from '@/components/v2/finavest/lifeplan/LifeplanDashboardNew'
import FinavestPortfolioDashboard from '@/components/finavest/portfolio/Dashboard'
import FinavestPortfolioDashboardNew from '@/components/v2/finavest/portfolio/Dashboard'
import FinapediaDashboard from '@/components/finapedia/Dashboard'
import Help from '@/components/Help'
import Profile from '@/components/v2/profile/Dashboard'
import HistoryTransactionNew from '@/components/v2/finavest/payment/History'
import HistoryTransaction from '@/components/finavest/payment/history/History'
import ReusableDisabledPage from '@/components/reusable/ReusableDisabledPage'
import SmartSavingSheet from '@/components/v2/finavest/investment/smart_saving/SmartSavingSheet'

export default {
  components: {
    VTabs,
    VTab,
    VTabsItems,
    VTabItem,
    VNavigationDrawer,
    VToolbar,
    VBottomNav,
    VSpacer,
    VDialog,
    VList,
    VListTileTitle,
    VListTileAvatar,
    VListTileContent,
    VListTileAction,
    VListTileSubTitle,
    VListTile,
    VDivider,
    FinavestLifeplanDashboard,
    FinavestLifeplanDashboardNew,
    FinavestPortfolioDashboard,
    FinavestPortfolioDashboardNew,
    FinapediaDashboard,
    Help,
    Profile,
    HistoryTransaction,
    HistoryTransactionNew,
    ReusableDisabledPage,
    Lottie,
    SmartSavingSheet
  },
  props: ['tab'],
  data () {
    return {
      halofinaName: '',
      halofinaMother: '',
      cardSectionData: [],
      halofinaEmail: '',
      drawer: false,
      riskProfile: 0,
      menu: this.tab,
      premium: {
        active: null
      },
      dialog: {
        dialogLogout: false,
        dialogError: false,
        dialogDisclaimer: false,
        dialogPassword: false
      },
      smartSaving: {
        topUpSheet: false,
        amount: 0,
        gainLossAmount: 0,
        gainLossPercentage: 0,
        product: null,
        totalUnit: 0,
        totalBuy: 0
      },
      lifeplanBrief: {
        amount: 0,
        gainLossAmount: 0,
        gainLossPercentage: 0,
        totalBuy: 0
      },
      customAsset: {
        amount: 0,
        gainLossAmount: 0,
        gainLossPercentage: 0,
        totalBuy: 0
      },
      portfolioBrief: {
        amount: 0,
        gainLossAmount: 0,
        gainLossPercentage: 0
      },
      isLoadedPortfolio: {
        portfolio: false,
        lifeplanBrief: false,
        customAsset: false,
        wallet: false,
        product: false
      },
      isLoadedDashboard: {
        lifeplans: false,
        kyc: false
      },
      assetGroup: [],
      voucherLength: 0,
      lifeplans: null,
      finapoint: null,
      portfolio: [],
      kycStatus: null,
      kycRemark: null,
      kycCardStatus: null,
      imgdanger: require('../assets/others/logout.svg')
    }
  },
  watch: {
    menu (val) {
      this.crispControlling(val)
      this.closeCrisp()
      this.$router.replace({path: '/dashboard', query: {tab: val}})
    }
  },
  async created () {
    this.menu = this.menu || 'lifeplan'
    this.getAllDashboardData()
    await this.getUserFeatures()
    await this.routeToPersonal()
    this.fetchSubsCheck()
    this.fetchDataNishab()
    this.setRouteToLocalStorage()
    this.setProductInitialState()
    this.removeUserRegisterData()
    this.removeMarriedAndMuslimKey()
    this.removeFcmRouting()
    this.removeProduct()
    this.removeVoucherKey()
    this.setFromDashboard()
    this.setFcmToken()
    this.fetchPortfolioBrief()
    this.fetchLifeplanBrief()
    this.fetchCustomAssetBrief()
    this.getVoucherList()
    this.setLifeplanBrief(0, 0, 0)
    controlCrispVisibility(false)
    setEmailForCrisp(localStorage.getItem('halofina-email'))
    setNameForCrisp(JSON.parse(localStorage.getItem('halofina-name')))
  },
  mounted () {
    this.setMixpanelIdentify()
    setBackRouteToAndroid('/dashboard/#/dashboard?tab=lifeplan')
  },
  methods: {
    checkFeatures,
    numberingNumber,
    openCrisp,
    setDashboardDataToLocal (keyValue) {
      let obj = this.getDashboardData() || {}
      Object.assign(obj, keyValue)
      localStorage.setItem('halofina-dashboard', JSON.stringify(obj))
    },
    getDashboardData () {
      const data = JSON.parse(localStorage.getItem('halofina-dashboard'))
      return data
    },
    getAllDashboardData () {
      const data = this.getDashboardData()
      if (data) {
        this.lifeplans = data.lifeplans
        this.portfolioBrief = data.portfolioBrief
        this.lifeplanBrief = data.lifeplanBrief
        this.smartSaving = data.smartSaving
        this.cardSectionData = data.cardSectionData
        this.customAsset = data.customAsset
        this.halofinaName = JSON.parse(localStorage.getItem('halofina-name'))
        this.halofinaEmail = localStorage.getItem('halofina-email')
        this.setIsLoadedStatusToTrue()
      }
    },
    setIsLoadedStatusToTrue () {
      this.isLoadedDashboard.lifeplans = true
      this.isLoadedPortfolio.portfolio = true
      this.isLoadedPortfolio.product = true
      this.isLoadedPortfolio.customAsset = true
      this.isLoadedPortfolio.wallet = true
      this.isLoadedPortfolio.lifeplanBrief = true
    },
    setFcmToken () {
      var fcmToken = localStorage.getItem('halofina-fcm-token')
      if (fcmToken) {
        Api('notification/savetoken', {
          token: fcmToken
        }).then(() => {
          // console.log(res)
        }).catch(() => {
          // console.log(err)
        })
      }
    },
    getSmartSaving (data) {
      if (data) {
        this.smartSaving.amount = data.total_balance
        this.smartSaving.gainLossAmount = data.gain_loss_amount
        this.smartSaving.gainLossPercentage = data.gain_percentage
        this.smartSaving.totalBuy = data.total_buy
      }
      this.setDashboardDataToLocal({
        smartSaving: this.smartSaving
      })
      this.isLoadedPortfolio.wallet = true
    },
    getSmartSavingProduct (data) {
      if (data) {
        this.smartSaving.product = data
        this.smartSaving.totalUnit = data.total_unit + data.pending_unit
      }
      this.setDashboardDataToLocal({
        smartSaving: this.smartSaving
      })
      this.isLoadedPortfolio.product = true
    },
    async setMixpanelIdentify () {
      const email = localStorage.getItem('halofina-email')
      await this.$analytics.setAlias(email)
      await this.$analytics.setIdentify(email)
    },
    routeToPersonal () {
      return Api('finacheck/kyc/personal', {})
        .then((res) => {
          // Personal data form
          if (res.d.birthdate === null) {
            this.$router.push('/personal')
          } else {
            this.fetchDataUser()
            this.halofinaMother = res.d.mother_maiden_name
          }
        })
        .catch(() => {})
    },
    fetchSubsCheck () {
      const premiumVersion = checkFeatures('halofina:premium').version
      if (premiumVersion > 1) {
        ApiGet('premium/membership/check')
          .then((res) => {
            this.premium.active = res.data.membership.active
          })
          .catch(() => {
            this.dialog.dialogError = true
          })
      } else {
        this.premium.active = true
      }
    },
    crispControlling (tabValue) {
      if (tabValue === 'support') {
        openCrisp()
        controlCrispVisibility(true)
      } else {
        controlCrispVisibility(false)
      }
    },
    closeCrisp () {
      var self = this
      window.$crisp.push(['on', 'chat:closed', function () {
        self.menu = 'lifeplan'
      }])
    },
    removeStatusForOldDataLifeplan () {
      localStorage.removeItem('halofina-lifeplan-old-data')
      localStorage.removeItem('halofina-lifeplan-old-data-added')
    },
    removeProduct () {
      localStorage.removeItem('halofina-rec-class-pasar-uang')
      localStorage.removeItem('halofina-rec-class-emas')
      localStorage.removeItem('halofina-rec-class-campuran')
      localStorage.removeItem('halofina-rec-class-pendapatan-tetap')
      localStorage.removeItem('halofina-rec-class-saham')
      localStorage.removeItem('halofina-class-pasar-uang')
      localStorage.removeItem('halofina-class-emas')
      localStorage.removeItem('halofina-class-campuran')
      localStorage.removeItem('halofina-class-pendapatan-tetap')
      localStorage.removeItem('halofina-class-saham')
      localStorage.removeItem('halofina-itenerary-data')
      localStorage.removeItem('halofina-smart-saving')
      localStorage.removeItem('halofina-from-market')
      localStorage.removeItem('halofina-product-amount')
      localStorage.removeItem('halofina-market-reload')
    },
    fetchDataNishab () {
      Api('finapay/zakat/info', {
        zakatname: 'Zakat Fitrah'
      })
        .then((res) => {
          this.getDaysFitrah(res.d.duetime)
        })
        .catch(() => {
        })
    },
    getDaysFitrah (endDate) {
      // Set the date we're counting down to

      // translate to format support i phone
      var countDownDateFormat = dateFormat(endDate, 'MM/DD/YYYY hh:mm:ss')
      // get time end date
      var countDownDate = new Date(countDownDateFormat).getTime()

      // Update the count down every 1 second
      var x = setInterval(function () {
        // Get today's date and time
        var nowDate = new Date()
        // change format support safari
        var nowDate2 = dateFormat(nowDate, 'MM/DD/YYYY hh:mm:ss')
        // get time
        var nowDate3 = new Date(nowDate2).getTime()
        // translate to format support i phone
        // Find the distance between now and the count down date
        var distance = countDownDate - nowDate3

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(Number(distance) / (1000 * 60 * 60 * 24))
        // var seconds = Math.floor((distance % (1000 * 60)) / 1000)

        // Output the result in an element with id="demo"
        localStorage.setItem('halofina-fitrah-days', days)

        // If the count down is over, write some text
        if (distance < 0) {
          clearInterval(x)
        }
      })
    },
    removeFcmRouting () {
      localStorage.removeItem('halofina-fcm-route')
    },
    redirectToPassword (hasPassword) {
      // check features
      var canPassword = checkFeatures('halofina:password')
      if (canPassword.enabled === true && !hasPassword) this.$router.push('/login/update')
    },
    removeVoucherKey () {
      localStorage.removeItem('halofina-detail-voucher')
      localStorage.removeItem('halofina-cashback')
    },
    removeMarriedAndMuslimKey () {
      localStorage.removeItem('halofina-married')
      localStorage.removeItem('halofina-ismuslim')
    },
    setProductInitialState () {
      localStorage.removeItem('halofina-done-add-initial-state')
      localStorage.removeItem('halofina-custom-amount')
      localStorage.removeItem('halofina-custom-portfolio')
    },
    setRouteToLocalStorage () {
      localStorage.setItem('halofina-in-dashboard', 1)
      localStorage.setItem('halofina-route', '/dashboard?tab=' + this.menu)
    },
    // getFinapoint () {
    //   ApiGet('finaloyalty/point/user')
    //     .then((res) => {
    //       this.finapoint = res.d.amount
    //       localStorage.setItem('halofina-finapoint-amount', res.d.amount)
    //     })
    //     .catch()
    // },
    fetchDataRpa () {
      Api('finacheck/rpa/user', {})
        .then((res) => {
        // RPA Checking
          if (res.d === null || res.d.length === 0) {
            localStorage.setItem('halofina-rpa', null)
          } else {
            localStorage.setItem('halofina-rpa', res.d.riskid)
          }
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    fetchDataUser () {
      this.removeStatusForOldDataLifeplan()
      Api('finacheck/dashboard', {})
        .then((res) => {
          // Status KYC
          this.kycStatus = res.d.finacheck.status.status
          this.isLoadedDashboard.kyc = true
          this.kycRemark = res.d.finacheck.status.remark
          this.getStatusCardKyc()
          // Fetch Other Data
          this.fetchDataRpa()
          this.fetchDataLifeplan()
          // User name
          this.halofinaName = res.d.finacheck.personal.fullname
          this.halofinaEmail = localStorage.getItem('halofina-email')
          localStorage.setItem('halofina-name', JSON.stringify(res.d.finacheck.personal.fullname))
          // Saving profile checking
          if (res.d.finacheck.savingprofile.length === 0) {
            localStorage.setItem('halofina-saving-profile', null)
            return
          }
          localStorage.setItem('halofina-saving-profile', res.d.finacheck.savingprofile[0].nominal)
          this.riskProfile = Number(res.d.finacheck.rpa[0].riskid)
          localStorage.setItem('halofina-rpa', res.d.finacheck.rpa[0].riskid)
          // Finapedia
          let dataFinapedia = {
            recently: res.d.finapedia.lastaccess,
            articlelimit: res.d.finapedia.article.slice(0, 4),
            course: res.d.finapedia.course
          }
          localStorage.setItem('halofina-finapedia', JSON.stringify(dataFinapedia))
          // Enable Password
          this.redirectToPassword(res.d.finacheck.haspassword)
        })
        .catch(() => {
          this.isLoaded = true
          // this.dialog.dialogError = true
        })
    },
    getStatusCardKyc () {
      this.kycCardStatus = localStorage.getItem('halofina-kyc-card')
    },
    getUserFeatures () {
      return Api('finacheck/user/feature', {})
        .then((res) => {
          localStorage.setItem('halofina-features', JSON.stringify(res.d))
        })
        .catch()
    },
    logout () {
      this.$analytics.track('Log Out')
      localStorage.removeItem('halofina-token')
      localStorage.removeItem('halofina-sign')
      localStorage.removeItem('halofina-name')
      localStorage.removeItem('halofina-refreshed')
      localStorage.removeItem('halofina-features')
      localStorage.removeItem('halofina-namespace')
      localStorage.removeItem('halofina-route')
      localStorage.removeItem('halofina-dashboard')
      localStorage.removeItem('halofina-in-dashboard')
      resetCrispSession()
      controlCrispVisibility(false)
      setTimeout(() => {
        this.goToOnboarding()
      }, 500)
    },
    goToOnboarding () {
      const namespace = getNamespaces().ONBOARDING
      goToNamespace(namespace, null, 'replace')
    },
    removeUserRegisterData () {
      localStorage.removeItem('halofina-register')
    },
    logoutDialog (value) {
      this.dialog.dialogLogout = value
    },
    getRouteQuery (query) {
      this.menu = query
    },
    fetchDataLifeplan () {
      ApiGet('finavest/v1/lifeplan/account', {})
        .then((res) => {
          let lifeplans = this.removeSmartSaving(res.d)
          if (lifeplans.length > 0) {
            this.lifeplans = this.transformLifeplanType(lifeplans)
          } else {
            this.lifeplans = lifeplans
          }
          this.isLoadedDashboard.lifeplans = true
          this.setCardSectionData(this.lifeplans)
          this.setDashboardDataToLocal({
            lifeplans: lifeplans
          })
        })
        .catch(() => {
          this.isLoaded = true
          this.dialog.dialogError = true
        })
    },
    removeSmartSaving (items) {
      return items.filter(element => element.type !== 'smartsaving')
    },
    transformLifeplanType (items) {
      const sorted = items.sort((prev, next) => parseFloat(prev.priority_number) - parseFloat(next.priority_number))
      const filtered = sorted.filter(element => element.is_priority === true)
      const totalInvest = filtered.length > 0 ? filtered.map(element => element.regular_investment).reduce((prev, next) => prev + next) : 0
      this.setLifeplanBrief(items.length, sorted.length, totalInvest)
      return filtered
    },
    setLifeplanBrief (totalLifeplan, totalLifeplanActive, totalInvest) {
      let regularInvest = {
        total_invest: totalInvest,
        total_lifeplan_active: totalLifeplanActive,
        total_lifeplan: totalLifeplan
      }
      localStorage.setItem('halofina-regular-invest', JSON.stringify(regularInvest))
    },
    setFromDashboard () {
      let firstTime = localStorage.getItem('halofina-first-time-lifeplan')
      localStorage.setItem('halofina-from-dashboard', true)
      if (firstTime) localStorage.setItem('halofina-first-time-lifeplan', true)
    },
    setCardSectionData (item) {
      var transformedForProps = []
      for (var i = 0; i < item.length; i++) {
        transformedForProps = [
          {
            title: 'Rekomendasi Menabung',
            item: 'Rp ' + this.numberingNumber(item[i].regular_investment) + '/bln',
            classTitle: 'avenir-10-med',
            classItem: 'avenir-12-reg'
          },
          {
            title: 'Target Tabungan',
            item: 'Rp ' + this.numberingNumber(item[i].future_cost),
            classTitle: 'avenir-10-med text-align-right',
            classItem: 'avenir-12-reg text-align-right'
          }
        ]
        this.cardSectionData.push(transformedForProps)
      }
      this.setDashboardDataToLocal({
        cardSectionData: this.cardSectionData
      })
    },
    fetchLifeplanBrief () {
      ApiGet('v1/investment/lifeplan/brief', {})
        .then((res) => {
          this.lifeplanBrief.amount = res.d.total_balance
          this.lifeplanBrief.gainLossAmount = res.d.gain_loss_amount
          this.lifeplanBrief.gainLossPercentage = res.d.gain_percentage
          this.lifeplanBrief.totalBuy = res.d.total_buy
          // this.pushLifeplanToCard(res.d)
          this.setDashboardDataToLocal({
            lifeplanBrief: this.lifeplanBrief
          })
          this.isLoadedPortfolio.lifeplanBrief = true
        }).catch(() => {})
    },
    fetchCustomAssetBrief () {
      ApiGet('v1/investment/unallocated/brief', {})
        .then((res) => {
          if (res.d !== null) {
            this.customAsset.totalBuy = res.d.total_buy
            this.customAsset.amount = res.d.total_balance
            this.customAsset.gainLossPercentage = res.d.gain_percentage
            this.customAsset.gainLossAmount = res.d.gain_loss_amount
          } else {
            this.customAsset = null
          }
          // this.pushAssetToCard(res.d)
          this.setDashboardDataToLocal({
            customAsset: this.customAsset
          })
          this.isLoadedPortfolio.customAsset = true
        }).catch(() => {})
    },
    fetchPortfolioBrief () {
      ApiGet('v1/investment/portfolio/brief', {})
        .then((res) => {
          this.portfolioBrief.amount = res.d.total_balance
          this.portfolioBrief.gainLossAmount = res.d.gain_loss_amount
          this.portfolioBrief.gainLossPercentage = res.d.gain_percentage
          this.isLoadedPortfolio.portfolio = true
          this.setDashboardDataToLocal({
            portfolioBrief: this.portfolioBrief
          })
        }).catch(() => {})
    },
    removeReksadanaWord (word) {
      if (word !== 'Emas') {
        return word.substr(10)
      }
      return word
    },
    /**
     * @vuese
     * get voucher list length for voucher badge notification
    */
    getVoucherList () {
      Api('finavest/investment/voucher/user', {
        fromitinerary: false
      })
        .then((res) => {
          this.voucherLength = res.d.length
        }).catch(() => {
          // Do something
        })
    }
  }
}
</script>

<style lang="sass">
  .dashboard

    // .mtn-22
      margin-top: -22px

    .v-item-group.v-bottom-nav .v-btn--active .v-btn__content
      margin-top: 2px

    .box-shadow-bottom
      box-shadow: 0px -2px 8px rgba(117, 117, 117, 0.04)
      border-top: 1px solid #E8EAEF

    .lh-center
      line-height: 24px

    .font-tabs
      font-family: "Avenir Medium", Helvetica, Arial, Sans-Serif
      font-size: 10px
      color: #AAADC4

    .v-btn--active
      .font-tabs
        color: #46AAF6

    .v-navigation-drawer--is-mobile, .v-navigation-drawer--temporary
      z-index: 9

    .v-overlay
      z-index: 9

    .v-bottom-nav .v-btn
      min-width: 60px

    img.icon-nav
      width: 24px
      height: 24px

    .dashboard .v-divider--inset:not(.v-divider--vertical)
      margin-left: 0px
      max-width: none

    .popup-button
      float: right
      margin: 0px
      width: 32px !important
      height: 32px !important

    .v-toolbar__content
      height: 48px !important
      padding: 0 4px !important

</style>
