<template>
  <div class="help" :style="'min-height: ' + screenHeight + 'px;'">
    <reusable-toolbar page-name="Bantuan" icon-color="white" color="white"></reusable-toolbar>
    <v-container>
      <v-layout column align-center justify-center pt-3>
        <!-- Title -->
        <v-card-text class="nexa-20-bold text-align-center px-3 color-primary-3">Ada pertanyaan<br />atau butuh bantuan?</v-card-text>
        <!-- Desc -->
        <v-card-text class="pt-3 pb-4 text-align-center avenir-14-reg px-3 color-primary-3"><b>Hai {{ name }}</b>, jangan ragu untuk menghubungi kami kapan saja, klik kontak di bawah ini.</v-card-text>

        <!-- Whatsapp Card -->
        <div style="width: 100%" class="px-3 card-wrapper-wa">
          <a href="https://api.whatsapp.com/send?phone=6287747969699&text=Halo,%20Fina!%20Saya%20butuh%20bantuan" style="text-decoration: none">
            <reusable-cards
              card-title="Whatsapp"
              card-description="087747969699"
              class-title="color-grey avenir-14-reg pa-0 text-capitalize"
              class-description="avenir-16-med color-primary-1 pa-0"
              :card-help="true"
              class-name="pa-2"
            >
              <!-- Image Slot In Reusable Cards -->
              <div slot="title-layout-image" class="mr-3 wrap-icon-wa">
                <img :src="require('@/assets/help/wa.svg')"/>
              </div>
              <!-- Chevron Icon -->
              <div slot="menu-layout">
                <v-icon>chevron_right</v-icon>
              </div>
            </reusable-cards>
          </a>
        </div>

        <!-- email -->
        <div style="width: 100%" class="px-3 card-wrapper-mail">
          <a href="mailto:cs@halofina.com" style="text-decoration: none">
            <reusable-cards
              card-title="E-mail"
              card-description="cs@halofina.com"
              class-title="color-grey avenir-14-reg pa-0 text-capitalize"
              class-description="avenir-16-med color-primary-1 pa-0"
              :card-help="true"
              class-name="pa-2"
            >
              <!-- Image Slot In Reusable Cards -->
              <div slot="title-layout-image" class="mr-3 wrap-icon-mail">
                <img :src="require('@/assets/help/mail.svg')"/>
              </div>
              <!-- Chevron Icon -->
              <div slot="menu-layout">
                <v-icon>chevron_right</v-icon>
              </div>
            </reusable-cards>
          </a>
        </div>

        <img src="@/assets/help/fina.svg" class="img-hero-fina" alt="fina">

      </v-layout>
    </v-container>
  </div>
</template>

<script>
import ReusableCards from '@/components/reusable/ReusableCards.vue'

export default {
  name: 'Help',
  components: {
    ReusableCards
  },
  data () {
    return {
      name: '',
      screenHeight: screen.height
    }
  },
  methods: {
    getUserName () {
      this.name = JSON.parse(localStorage.getItem('halofina-name'))
    }
  },
  created () {
    this.getUserName()
  }
}
</script>

<style lang="sass">
  .help
    background: #5BC2F7

    .card-wrapper
      margin: 0px !important

    .card-wrapper-mail
      margin-top: 12px !important
      margin-bottom: 12px !important

    .wrap-icon-mail
      height: 21px

    .wrap-icon-wa
      height: 32px

    *
      padding: 0
      margin: 0

    .v-toolbar
      background-color: #5BC2F7 !important
      position: relative !important

    .v-toolbar__title
      color: white !important

    .img-hero-fina
      width: 100%
      height: auto
      position: absolute
      bottom: 0

  .color-grey
    color: #A0A5B7

  @media only screen and (max-width: 320px)
    .help
      .img-hero-fina
        position: relative


</style>
