<template>
  <div class="onboarding full-height" style="background-color: white">
    <v-container pa-0>
      <v-layout column>
        <v-flex pa-3>
          <v-layout row justify-center>
            <v-flex xs6 sm4 md2 lg2>
              <img src="../assets/logo-text.svg" style="width: 156px; height: 40px;"/>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-carousel v-model="slide" :cycle="false" hide-controls class="text-xs-center text-md-center text-lg-center text-xl-center">
          <v-carousel-item v-for="(item, index) in items" :key="index" class="onboard-carousel">
            <v-img :src="item.img" style="height: 230px"/>
            <v-container fill-height class="carousel-caption" style="padding: 0 32px !important;">
              <v-layout align-center>
                <v-flex>
                  <div class="nexa-20-bold pb-3 pt-0">
                    {{item.title}}
                  </div>
                  <div class="hf-ui-sub-heading" style="padding-bottom: 70px" v-html="item.desc"></div>
                </v-flex>
              </v-layout>
            </v-container>
          </v-carousel-item>
        </v-carousel>
        <v-flex class="z-index2">
          <v-layout row justify-center v-if="slide !== 5">
            <v-flex xs12 px-4 mx-3 pt-0 mb-3 class="mtn-60">
              <v-btn block color="primary box-shadow" style="border-radius: 6px !important" depressed class="card-radius" @click="next">
                Lanjut
              </v-btn>
            </v-flex>
          </v-layout>
          <v-layout row justify-center v-if="slide === 5">
            <v-flex xs12 px-4 mx-3 pt-0 class="mtn-60" style="text-align: center">
              <v-layout row>
                <v-btn block color="primary" style="border-radius: 6px !important" depressed class="box-shadow" @click="routing('signup')">
                  Buat Akun
                </v-btn>
              </v-layout>
              <div class="pa-0 mt-2 no-background avenir-14-med">Sudah Punya Akun,
                <span @click="routing('login')" class="pa-0 color-primary-1 ml-1 login">Masuk</span>
              </div>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
// Vuetify import
import {
  VCarousel,
  VCarouselItem,
  VImg
} from 'vuetify/lib'
// Helper function
import { setPullToRefresh, setBackRouteToAndroid } from '@/services/Helpers'

export default {
  name: 'Onboarding',
  components: {
    VCarousel,
    VCarouselItem,
    VImg
  },
  data () {
    return {
      slide: 0,
      items: [
        {
          title: 'Investasi yang tepat?',
          desc: 'Untuk mengetahui investasi yang tepat, kita perlu membuat perencanaan keuangan dan tujuan berinvestasi. Inilah yang kami sebut <b>LifePlan</b>.',
          img: require('../assets/finavest/lifeplan/ilustrasi_lifeplan.svg')
        },
        {
          title: 'Apa itu LifePlan?',
          desc: 'Pada umumnya kita mengalami siklus kehidupan seperti pada gambar di atas. Alangkah baiknya kita mempersiapkan semuanya saat kita mampu.',
          img: require('../assets/finavest/lifeplan/roda_full.svg')
        },
        {
          title: 'Usia 0-20 Tahun',
          desc: 'Saat kanak-kanak dan sekolah kita, semua ditanggung oleh orang tua dan sebagai orang tua, kita tentu ingin pendidikan yang terbaik untuk anak.',
          img: require('../assets/finavest/lifeplan/roda_satu.svg')
        },
        {
          title: 'Usia 21-40 Tahun',
          desc: 'Memasuki dunia kerja, mulai berpenghasilan, dan berkeluarga. Bagi yang orang tuanya memasuki pensiun, sebagian penghasilan harus disisihkan.',
          img: require('../assets/finavest/lifeplan/roda_dua.svg')
        },
        {
          title: 'Usia 41-60 Tahun',
          desc: 'Puncak karir kita, pendapatan meningkat, begitu juga dengan pengeluaran. Kebutuhan ibadah, beli rumah, mobil, dan pendidikan yang terbaik untuk anak.',
          img: require('../assets/finavest/lifeplan/roda_tiga.svg')
        },
        {
          title: 'Di atas 61 Tahun',
          desc: 'Masa menikmati apa yang kita usahakan selama ini. Hidup sejahtera dan berkecukupan, apalagi bila bisa membantu anak dan menyenangkan cucu.',
          img: require('../assets/finavest/lifeplan/roda_empat.svg')
        }
      ]
    }
  },
  created () {
    this.setPullToRefresh('true')
    this.checkRefreshStatus()
  },
  mounted () {
    setBackRouteToAndroid('/onboarding/')
  },
  methods: {
    setPullToRefresh,
    checkRefreshStatus () {
      let status = localStorage.getItem('halofina-refreshed')
      if (!status) {
        window.location.reload(true)
      }
    },
    next () {
      this.slide++
    },
    onboardingTrack () {
      this.$analytics.track('On Boarding Page Viewed')
    },
    routing (type) {
      if (type === 'signup') {
        this.onboardingTrack()
        this.$router.push('/signup')
      } else {
        this.onboardingTrack()
        localStorage.setItem('halofina-route', '/login/email')
        this.$router.push('/login/email')
      }
    }
  }
}
</script>

<style lang="sass">
.onboarding
  overflow-y: hidden

  .w-5
    width: 5px
    height: 1px

  .v-window
    height: 90vh !important

  .v-window__container
    height: 0px !important

  .v-carousel
    height: 70vh
    box-shadow: none

  .z-index2
    z-index: 2

  .mtn-60
    margin-top: -100px

  .v-carousel__controls
    height: 255px !important
    background: none !important

  .v-btn--icon.v-btn--small
    width: 0px
    padding: 0 8px

  .v-btn .v-btn__content .v-icon
    color: #2C3B50
    opacity: 0.2

  .v-btn--active
    i
      color: #2C3B50 !important
      opacity: 1 !important

  i
    font-size: 9px !important

  .carousel-caption
    position: absolute
    bottom: -15vh

  .login
    background: transparent
    text-decoration: none

    &:hover
      cursor: pointer
</style>
