<template>
  <div class="partners">
    <reusable-toolbar page-name="Penyedia Produk"></reusable-toolbar>
    <v-container class="toolbar-margin">
      <v-layout column>
        <div v-for="(partner, index) in partners" :key="index">
          <v-card-text class="text-align-center nexa-14-bold">{{ partner.title }}</v-card-text>
          <v-layout row justify-center>
            <v-flex xs6 grow v-for="(logo, indexLogo) in partner.logos" :key="indexLogo" :class="logo.margin === true ? 'mr-2' : ''">
              <v-card flat class="box-shadow card-radius">
                <img :src="logo.image" style="height: 82px"/>
              </v-card>
              <v-card-text class="text-align-center avenir-12-reg color-secondary-5">{{ logo.text }}</v-card-text>
            </v-flex>
          </v-layout>
        </div>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import { checkFeatures } from '@/services/Helpers'

export default {
  name: 'Partners',
  data () {
    return {
      partners: [
        {
          title: 'Reksa Dana',
          logos: [
            {
              image: require('@/assets/partners/tanamduit.png'),
              margin: false
            }
          ]
        },
        {
          title: 'Emas',
          logos: [
            {
              text: 'Segera',
              image: checkFeatures('halofina:portfolio_model').version === 1 || checkFeatures('halofina:portfolio_model').version === 3 ? require('@/assets/partners/indogold_active.png') : require('@/assets/partners/indogold.png'),
              margin: true
            },
            {
              text: 'Segera',
              image: require('@/assets/partners/tamasia.png'),
              margin: false
            }
          ]
        },
        {
          title: 'P2P Lending',
          logos: [
            {
              text: 'Segera',
              image: require('@/assets/partners/danain.png'),
              margin: true
            },
            {
              text: 'Segera',
              image: require('@/assets/partners/mekar.png'),
              margin: false
            }
          ]
        }
      ]
    }
  }
}
</script>

<style>

</style>
