<template>
  <div id="" class="pa-3">
    <v-flex xs12 class="text-xs-center">
      <h1>Halo im Qiscus</h1>
    </v-flex>
<!--
    <v-flex xs12>
      <p>Total Room Chat</p>
      <pre>
        {{roomList}}
      </pre>
    </v-flex>

    <v-flex xs12>
      <p>Total Unread</p>
      <pre>
        {{totalUnread}}
      </pre>
    </v-flex>

    <v-flex xs12>
      <p>List Message</p>
      <pre>
        {{listMessage}}
      </pre>
    </v-flex>
 -->



   <v-flex xs12 class="mb-3">
     <v-text-field
     label="Email"
     v-model="username"
     class="mt-3"
     ></v-text-field>
   </v-flex>

   <v-flex xs12 class="mb-3">
     <v-btn @click="login(username)">LOGIN</v-btn>
   </v-flex>

   <v-flex xs12 class="mb-3">
     <v-btn @click="checkLogin()">check login</v-btn>
   </v-flex>


    <v-flex xs12 class="mb-3">
      <v-combobox
        v-model="expert"
        :items="['eko@gmail.com', 'teguh@gmail.com', 'sulthon2@gmail.com']"
        chips
        label="Pilih Ekspert"
      >
      </v-combobox>
    </v-flex>

    <v-flex xs12 class="mb-3">
      <v-btn @click="addRoom(expert)" id="pilihExpert">Pilih Expert</v-btn>
    </v-flex>

    <v-flex xs12 class="mb-3">
      <v-text-field
      label="Ketik pesan"
      v-model="messageText"
      class="mt-3"
      ></v-text-field>
    </v-flex>

    <v-flex xs12 class="mb-3">
      <v-btn @click="sendMessage(room.id, messageText)">Send Message</v-btn>
    </v-flex>

    <div class="py-3" v-for="(data, index) in listMessage">

      <span class="mb-4 mr-2 nexa-16-bold text-xs-center">{{index}}</span> <br />

      <div class="" v-for="(messages, i) in data">
        <div class="bg-system-success pa-2 my-2" style="text-align: right;" v-if="messages.email === username">
          <span class="my-3" style="color: transparent;">.</span>
          <span class="color-primary-3 avenir-14-reg">{{messages.message}}</span>
          <span class="ml-2 color-primary-3 avenir-12-bold">{{dateFormat(messages.timestamp, 'HH.mm')}}</span>
        </div>
        <div class="bg-primary-3 pa-2 my-2" style="border: 1px solid #000" v-else>
          <span class="my-3 mr-2 avenir-12-bold">{{dateFormat(messages.timestamp, 'hh.mm')}}</span>
          <span class="my-3 avenir-14-reg">{{messages.message}}</span>
        </div>
      </div>


      <!-- <span>{{data}}</span> -->
    </div>


    <!-- <v-flex xs12 class="mb-3">
      <v-btn @click="getRoomList()">get List Chat</v-btn>
    </v-flex>
    <v-flex xs12 class="mb-3">
      <v-btn @click="loadComment('3954361')">load Message</v-btn>
    </v-flex>
    <v-flex xs12 class="mb-3">
      <v-btn @click="getTotalUnread()">get Total Unread</v-btn>
    </v-flex> -->
  </div>
</template>
<script>
import { VCombobox } from 'vuetify/lib'
import { dateFormat } from '@/services/Helpers'
export default {
  components: {
    VCombobox
  },
  data: () => ({
    username: 'sulthon@gmail.com',
    room: null,
    messageText: '',
    messageTo: '',
    roomList: null,
    totalUnread: null,
    expert: null,
    listMessage: null
  }),
  methods: {
    dateFormat,
    // add room or entry room
    addRoom (messageTo) {
      this.$qiscus.chatTarget(messageTo)
        .then((res) => {
          this.room = res
          this.roomId = res.id
          alert('berhasil buat Room, Room id: ' + res.id)
          setTimeout(() => {
            this.loadComment(res.id)
          }, 1000)
        })
        .catch((err) => {
          console.log('error', err)
        })
    },
    login (userId) {
      // userId, uniqueid, username, avatar, extras: {})
      this.$qiscus.setUser(userId, '999', userId, 'null', {})
        .then(() => {
          alert('Berhasil login:' + userId)
        })
        .catch(() => {
          // nothing
        })
    },
    checkLogin () {
      alert('Aktif: ' + this.$qiscus.isLogin)
    },
    // send message
    sendMessage (roomId, messageValue) {
      this.$qiscus.sendComment(roomId, messageValue)
        .then((res) => {
          console.log('sendMessage Success', res)
          // var newMessage = {
          //   id: res.id,
          //   timestamp: res.timestamp,
          //   message: res.message
          // }
          // this.listMessage.push(newMessage)
        })
        .catch((err) => {
          console.log('sendMessage Error', err)
        })
    },
    // get room list
    getRoomList () {
      this.$qiscus.loadRoomList({})
        .then((res) => {
          this.roomList = res
          if (res.length === 0) alert('TIDAK ADA CHAT')
        })
        .catch((err) => {
          // On error
          alert('error getRoomList', err)
        })
    },
    // Total Unread
    getTotalUnread () {
      this.$qiscus.getTotalUnreadCount()
        .then((res) => {
          this.totalUnread = res
        })
        .catch((err) => {
          alert('error getTotalUnread', err)
        })
    },
    // get message history
    loadComment (roomId) {
      let options = {
        // last_comment_id:10,
        limit: 20
      }
      this.$qiscus.loadComments(roomId, options)
        .then((res) => {
          // filter by date
          const groupBy = key => array =>
            array.reduce((objectsByKeyValue, obj) => {
              const value = this.dateFormat(obj[key], 'DD MMMM YYYY')
              objectsByKeyValue[value] = (objectsByKeyValue[value] || []).concat(obj)
              return objectsByKeyValue
            }, {})

          const groupByDate = groupBy('timestamp')

          console.log(groupByDate(res))

          this.listMessage = groupByDate(res)
        })
        .catch((err) => {
          alert('error loadMessage', err)
        })
    },
    qiscusInit (roomId) {
      this.$qiscus.init({
        AppId: 'sulthonch-kuheughbna8',
        options: {
          loginSuccessCallback (response) {
            console.log('login success', response)
          },
          newMessagesCallback (messages) {
            if (document.hasFocus()) {
              console.log('ada pesan baru tuh gaiis', messages)
              setTimeout(() => {
                document.getElementById('pilihExpert').click()
              }, 500)
            }
          },
          commentDeliveredCallback: function (data) {
            console.log('udah ceklis 2', data)
          },
          commentReadCallback: function (comment) {
            console.log('ini ceklis 2 biru', comment)
          }
        }
      })
    }
  },
  created () {
    this.qiscusInit()
  }
}
</script>
<style lang="sass">
</style>
