<template>
  <div class="splashscreen full-height bg-primary-3">
    <v-container fill-height>
      <v-layout row align-center justify-center>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import { goToNamespace, getNamespaces } from '../../../routing'
// Import helpers from helper.js
import { getOS } from '@/services/Helpers'
import {
  // routingFromNotificationIos,
  routingFromNotificationAndroid
} from '@/services/Messaging'

export default {
  data () {
    return {
      routes: '',
      routeLocalStorage: ''
    }
  },
  created () {
    // If route from notif is available
    this.getRouteFromNotification()
  },
  methods: {
    getRouteFromLocalStorage () {
      this.routes = localStorage.getItem('halofina-route')
      var inDashboard = localStorage.getItem('halofina-in-dashboard')
      var dashboard = getNamespaces().DASHBOARD
      if (inDashboard) {
        goToNamespace(dashboard, '/dashboard?tab=lifeplan', 'replace')
        return
      }
      if (this.routes) {
        this.$router.push({path: this.routes})
      } else {
        this.$router.replace({path: '/onboarding'})
      }
    },
    getRouteFromNotification () {
      var platform = getOS()
      setTimeout(() => {
        if (platform === 'ios') {
          // routingFromNotificationIos()
          // var routingIos = localStorage.getItem('halofina-fcm-route')
          // this.routeLocalStorage = routingIos
          // if (routingIos === 'No Route from Notif') {
          this.getRouteFromLocalStorage()
          // } else {
          //   this.$router.push({path: this.routeLocalStorage})
          //   setTimeout(this.removeFcmRouting(), 200)
          // }
        } else {
          routingFromNotificationAndroid()
          var routingAndroid = localStorage.getItem('halofina-fcm-route')
          this.routeLocalStorage = routingAndroid
          if (routingAndroid === 'undefined') {
            this.getRouteFromLocalStorage()
          } else {
            this.$router.push({path: this.routeLocalStorage})
            // setTimeout(this.removeFcmRouting(), 200)
          }
        }
      }, 600)
    }
  }
}
</script>
