<template>
    <div class="finaspend-payment-history">
        <v-container pa-0>
          <v-layout column v-if="doneLoading === true">
            <div v-if="historySell.length > 0">
              <v-flex v-for="histories in historySell" :key="histories.id" class="mb-1">
                  <reusable-cards style="margin: 16px !important">
                      <div slot="layout-title" @click="next(histories.id); trackEvent(histories.status, 'Jual', histories.unit, histories.lifeplan_type, histories.product_asset_name)">
                        <v-layout row>
                          <v-flex xs2>
                            <div class="mr-3" slot="title-layout-image">
                              <reusable-image-lifeplan :history="false" :type="histories.lifeplan_type"></reusable-image-lifeplan>
                            </div>
                          </v-flex>
                          <v-flex xs9>
                            <v-layout column>
                              <v-card-text class="pa-0 avenir-12-reg"><span class="color-secondary-5">{{ dateFormat(histories.transaction_time, 'DD MMMM YYYY') }}</span></v-card-text>
                              <v-card-text class="pa-0 nexa-14-bold mt-2 text-capitalize">{{ transformLifeplanName(histories.lifeplan_type, histories.lifeplan_subtype) }}</v-card-text>
                              <v-card-text v-if="histories.product_asset_name === 'Emas'" class="pa-0 avenir-14-med mt-2">{{ parseFloat(histories.unit).toFixed(4).toString().replace(/\./g, ',') }} gr</v-card-text>
                              <v-card-text v-else class="pa-0 avenir-14-med mt-2">{{ numberingReksadana(histories.unit) }} Unit</v-card-text>
                              <div v-if="histories.status === 'COMPLETED'" class="color-system-success avenir-12-med mt-3">Berhasil</div>
                              <div v-else-if="histories.status === 'REJECTED'" class="color-system-error avenir-12-med mt-3">Gagal</div>
                              <div v-else class="color-system-info avenir-12-med mt-3">Dalam Proses</div>
                            </v-layout>
                          </v-flex>
                          <v-flex xs1 style="position: relative">
                            <v-icon style="color: #232C35; font-size: 12px; position: absolute; bottom: 4px;">arrow_forward_ios</v-icon>
                          </v-flex>
                        </v-layout>
                      </div>
                  </reusable-cards>
              </v-flex>
            </div>
            <!-- Tidak ada history -->
            <div v-else>
              <div class="bg-primary-3 pt-4" :style="'min-height: ' + fullHeight + 'px;'">
                <div class="px-4">
                  <img src="@/assets/dashboard/history-null-2.svg" style="width:100%; height: 240px;" alt="History Null">
                  <v-card-text class="nexa-20-bold text-xs-center"> kamu belum <br /> melakukan transaksi </v-card-text>
                  <v-card-text class="avenir-14-reg text-xs-center pt-0 pb-4 px-3">kamu bisa melakukan jual atau beli produk melalui tabungan Lifeplan di beranda</v-card-text>
                </div>
                <div class="blank"></div>
              </div>
            </div>
          </v-layout>
          <v-layout v-else>
            <shimmering-template></shimmering-template>
          </v-layout>
        </v-container>
        <reusable-dialogs v-model="dialogError" :resize-image="true"></reusable-dialogs>
    </div>
</template>

<script>
import Api from '@/services/Api'
// Import Helpers in services
import { goToDashboard, numberingReksadana, dateFormat, replaceDotWithComa, capitalizeWord, transformLifeplanName } from '@/services/Helpers'
// Reusable Components in history
const ReusableDialogs = () => import('@/components/reusable/ReusableDialogs')
const ReusableCards = () => import('@/components/reusable/ReusableCards')
const ReusableImageLifeplan = () => import('@/components/reusable/ReusableImageLifeplan.vue')
const ShimmeringTemplate = () => import('@/components/v2/shimmering/History')

export default {
  name: 'FinaspendPaymentHistory',
  components: {
    ShimmeringTemplate,
    ReusableDialogs,
    ReusableCards,
    ReusableImageLifeplan
  },
  data () {
    return {
      show: false,
      fullHeight: screen.height - 105,
      total: 0,
      historySell: [],
      dialogError: false,
      doneLoading: false
    }
  },
  created () {
    this.fetchDataSell()
    this.getAllDashboardData()
  },
  methods: {
    dateFormat,
    numberingReksadana,
    replaceDotWithComa,
    capitalizeWord,
    transformLifeplanName,
    setDashboardDataToLocal (keyValue) {
      let obj = this.getDashboardData() || {}
      Object.assign(obj, keyValue)
      localStorage.setItem('halofina-dashboard', JSON.stringify(obj))
    },
    getDashboardData () {
      const data = JSON.parse(localStorage.getItem('halofina-dashboard'))
      return data
    },
    getAllDashboardData () {
      const data = this.getDashboardData()
      if (data) {
        this.historySell = data.historySell
        this.doneLoading = true
      }
    },
    toDashboard () {
      goToDashboard('lifeplan', 'assign')
      this.trackToDashboard()
    },
    trackToDashboard () {
      this.$analytics.track('History to Dashboard Selected')
    },
    next (id) {
      this.$router.push('/finavest/payment/detail/' + id + '/redeem/history')
    },
    trackEvent (status, type, amount, lifeplan, asset) {
      this.$analytics.track('History Sell Selected', {
        trx_status: status,
        trx_type: type,
        amount: amount,
        lifeplan_type: lifeplan,
        asset_kind: asset
      })
    },
    fetchDataSell () {
      Api('finavest/redeem/history', {})
        .then((res) => {
          this.historySell = res.d
          this.setDashboardDataToLocal({
            historySell: res.d
          })
          this.doneLoading = true
        }).catch(() => {
          this.dialogError = true
        })
    }
  }
}
</script>
