<template>
    <div class="finaspend-payment-history">
        <div class="text-align-center nexa-16-bold bg-primary-3 trx-div">Transaksi</div>
        <v-tabs centered grow class="tabs-history">
          <!-- Tab Title -->
          <v-tab active-class="active-tab">
            Beli
          </v-tab>
          <v-tab active-class="active-tab">
            Jual
          </v-tab>
          <v-tab active-class="active-tab">
            Bayar
          </v-tab>
          <!-- Tab History Buy -->
          <v-tab-item>
            <div class="height-101"></div>
            <history-buy></history-buy>
          </v-tab-item>
          <!-- Tab History Sell -->
          <v-tab-item>
            <div class="height-101"></div>
            <history-sell></history-sell>
          </v-tab-item>
          <!-- Tab History Pay -->
          <v-tab-item>
            <div class="height-101"></div>
            <history-pay></history-pay>
          </v-tab-item>
        </v-tabs>
    </div>
</template>

<script>
import { checkFeatures } from '@/services/Helpers'
// Import vuetify
import {
  VTabs,
  VTab,
  VTabItem
} from 'vuetify/lib'
// Reusable Components in history
const ReusableCards = () => import('@/components/reusable/ReusableCards')
// Import component for tabs
const HistoryBuy = () => import('../history/HistoryBuy')
const HistorySell = () => import('../history/HistorySell')
const HistoryPay = () => import('../history/HistoryPay')

export default {
  name: 'FinaspendPaymentHistory',
  components: {
    VTabs,
    VTab,
    VTabItem,
    ReusableCards,
    HistoryBuy,
    HistorySell,
    HistoryPay
  },
  methods: {
    checkFeatures
  }
}
</script>
<style lang="sass">
  .finaspend-payment-history

    .height-101
      height: 101px
    
    .trx-div
      width: 100%
      position: fixed
      top: 0%
      z-index: 11
      padding: 16px 20px

    .v-tabs__bar
      position: fixed
      width: 100%
      z-index: 10
      top: 52px

    .v-tabs__slider-wrapper
      width: 100%/3 !important

    .v-tabs__item
      opacity: 1
      color: #AAADC4
      font-weight: 100

    .v-tabs__item.active-tab
      color: #42A5F5
      opacity: 1
      font-weight: bold

</style>
