<template>
    <div class="finaspend-payment-history">
        <v-container pa-0>
          <v-layout column v-if="doneLoading === true">
            <div v-if="history.length > 0">
              <v-flex v-for="(histories, index) in history" :key="histories.id" class="mb-1">
                  <reusable-cards style="margin: 16px !important">
                      <div slot="layout-title" @click="next(histories.id); trackEvent(histories.status, 'Beli', histories.total_amount, histories.lifeplan_type, histories.product_asset_name)">
                        <v-layout row>
                          <v-flex xs2>
                            <div class="mr-3" slot="title-layout-image">
                              <reusable-image-lifeplan :history="false" :type="histories.lifeplan_type"></reusable-image-lifeplan>
                            </div>
                          </v-flex>
                          <v-flex xs9>
                            <v-layout column>
                              <v-card-text class="pa-0 avenir-12-reg"><span class="color-secondary-5">{{ dateFormat(histories.transaction_time, 'DD MMMM YYYY') }}</span></v-card-text>
                              <v-card-text class="pa-0 nexa-14-bold mt-2 text-capitalize">{{ transformLifeplanName(histories.lifeplan_type, histories.lifeplan_subtype) }}</v-card-text>
                              <v-card-text class="pa-0 avenir-12-reg mt-2">{{ifContainEmas[index]}}</v-card-text>
                              <v-card-text class="pa-0 avenir-14-med mt-2">Rp {{ numberingNumber(histories.total_amount) }}</v-card-text>
                              <div v-if="histories.status === 'ON PROCESS' || histories.status === 'ONPROCESS' || histories.status === 'QUEUEING' || histories.status === 'PAID' || histories.status === 'VERIFIED' || histories.status === 'DISBURSE'" class="color-system-info avenir-12-reg mt-3">Dalam Proses</div>
                              <div v-if="histories.status === 'COMPLETED'" class="avenir-12-med color-system-success mt-3">Berhasil</div>
                              <div v-if="histories.status === 'ENTRIED'" class="avenir-12-med color-system-warning mt-3">Menunggu Pembayaran</div>
                              <div v-if="histories.status === 'CANCELLED'" class="avenir-12-med color-secondary-8 mt-3">Dibatalkan</div>
                              <div v-if="histories.status === 'EXPIRED'" class="avenir-12-med color-secondary-3 mt-3">Kadaluarsa</div>
                              <div v-if="histories.status === 'REJECTED'" class="avenir-12-med color-system-error mt-3">Ditolak</div>
                              <div v-if="histories.status === 'OUTSTANDING' || histories.status === 'KYC REJECT'" class="avenir-12-med color-system-info mt-3">Menunggu Verifikasi</div>
                            </v-layout>
                          </v-flex>
                          <v-flex xs1 style="position: relative">
                            <v-icon style="color: #232C35; font-size: 12px; position: absolute; bottom: 4px;">arrow_forward_ios</v-icon>
                          </v-flex>
                        </v-layout>
                      </div>
                  </reusable-cards>
              </v-flex>
            </div>
            <!-- HIstory Null -->
            <div v-else>
              <div class="bg-primary-3 pt-4" :style="'min-height: ' + fullHeight + 'px;'">
                <div class="px-4">
                  <img src="@/assets/dashboard/history-null-2.svg" style="width:100%; height: 240px;" alt="History Null">
                  <v-card-text class="nexa-20-bold text-xs-center"> kamu belum <br /> melakukan transaksi </v-card-text>
                  <v-card-text class="avenir-14-reg text-xs-center pt-0 pb-4 px-3">kamu bisa melakukan jual atau beli produk melalui tabungan Lifeplan di beranda</v-card-text>
                </div>
              </div>
            </div>
          </v-layout>
          <v-layout v-else>
            <shimmering-template></shimmering-template>
          </v-layout>
        </v-container>
        <reusable-dialogs v-model="dialogError" :resize-image="true"></reusable-dialogs>
    </div>
</template>

<script>
import Api from '@/services/Api'
// Import Helpers in services
import { goToDashboard, numberingNumber, dateFormat, capitalizeWord, transformLifeplanName } from '@/services/Helpers'
// Reusable Components in history
const ReusableDialogs = () => import('@/components/reusable/ReusableDialogs')
const ReusableCards = () => import('@/components/reusable/ReusableCards')
const ReusableImageLifeplan = () => import('@/components/reusable/ReusableImageLifeplan')
const ShimmeringTemplate = () => import('@/components/v2/shimmering/History')

export default {
  name: 'FinaspendPaymentHistory',
  components: {
    ShimmeringTemplate,
    ReusableDialogs,
    ReusableCards,
    ReusableImageLifeplan
  },
  data () {
    return {
      show: false,
      total: 0,
      fullHeight: screen.height - 105,
      history: [],
      dialogError: false,
      doneLoading: false
    }
  },
  computed: {
    ifContainEmas: function () {
      var history = this.history
      var word = []
      history.forEach(function (value) {
        if (value.product_asset_name) {
          var includeEmas = value.product_asset_name.includes('Emas')
          var includeReksadana = value.product_asset_name.includes('Reksa Dana')
          if (includeEmas === true && includeReksadana === true) {
            word.push('Reksa Dana & Emas')
          } else if (includeEmas === true) {
            word.push('Emas')
          } else {
            word.push('Reksa Dana')
          }
        }
      })
      return word
    }
  },
  created () {
    this.fetchData()
    this.getAllDashboardData()
  },
  methods: {
    dateFormat,
    numberingNumber,
    capitalizeWord,
    transformLifeplanName,
    setDashboardDataToLocal (keyValue) {
      let obj = this.getDashboardData() || {}
      Object.assign(obj, keyValue)
      localStorage.setItem('halofina-dashboard', JSON.stringify(obj))
    },
    getDashboardData () {
      const data = JSON.parse(localStorage.getItem('halofina-dashboard'))
      return data
    },
    getAllDashboardData () {
      const data = this.getDashboardData()
      if (data) {
        this.history = data.historyBuy
        this.doneLoading = true
      }
    },
    toDashboard () {
      goToDashboard('lifeplan', 'assign')
      this.trackToDashboard()
    },
    trackToDashboard () {
      this.$analytics.track('History to Dashboard Selected')
    },
    next (id) {
      this.$router.push('/finavest/payment/detail/' + id + '/buy/history')
    },
    trackEvent (status, type, amount, lifeplan, asset) {
      this.$analytics.track('History Buy Selected', {
        trx_status: status,
        trx_type: type,
        amount: amount,
        lifeplan_type: lifeplan,
        asset_kind: asset
      })
    },
    fetchData () {
      Api('finavest/transaction/history', {})
        .then((res) => {
          this.history = res.d
          this.setDashboardDataToLocal({
            historyBuy: res.d
          })
          this.doneLoading = true
        }).catch(() => {
          this.doneLoading = true
          this.dialogError = true
        })
    }
  }
}
</script>
<style lang="sass">
  .finaspend-payment-history
    .blank
      width: 100%
      height: 50px
      background-color: white

    .tabs-history
      .v-tabs__item.active-tab
        color: #42A5F5
</style>
