<template>
    <div class="finaspend-payment-history">
        <v-container pa-0>
          <v-layout column v-if="doneLoading === true">
            <div v-if="history.length > 0">
              <v-flex v-for="(histories) in history" :key="histories.id" class="mb-1">
                  <reusable-cards style="margin: 16px !important">
                      <div slot="layout-title" @click="next(histories.id, histories.uuid_order || histories.transaction_number, histories.type_trx)">
                        <v-layout row>
                          <v-flex xs2>
                            <div class="mr-3" slot="title-layout-image">
                              <img :src="getIconBasedOnPayType(histories.type_trx)" width="36px" alt="icon zakat">
                            </div>
                          </v-flex>
                          <v-flex xs9>
                            <v-layout column>
                              <v-card-text class="pa-0 avenir-12-reg"><span class="color-secondary-5">{{ dateFormat(histories.entrytime, 'DD MMMM YYYY') }}</span></v-card-text>
                              <v-card-text class="pa-0 nexa-14-bold mt-2">{{ transformPaymentName(histories.type_trx) }}</v-card-text>
                              <v-card-text class="pa-0 avenir-14-med mt-2">Rp {{ numberingNumber(histories.type_trx === 'premium' ? histories.total_amount : histories.amount) }}</v-card-text>
                              <div v-if="histories.status === 'ON PROCESS' || histories.status === 'ONPROCESS' || histories.status === 'QUEUEING' || histories.status === 'PAID' || histories.status === 'DISBURSE'" class="color-supportive-blue-1 avenir-12-med mt-3">Dalam Proses</div>
                              <div v-if="histories.status === 'COMPLETED' || histories.status === 'VERIFIED'" class="color-denotive-green-1 avenir-12-med mt-3">Berhasil</div>
                              <div v-if="histories.status === 'ENTRIED' || histories.status === 'BILLED'" class="color-denotive-yellow-1 avenir-12-med mt-3">Menunggu Pembayaran</div>
                              <div v-if="histories.status === 'CANCELLED'" class="color-text-2 avenir-12-med mt-3">Dibatalkan</div>
                              <div v-if="histories.status === 'EXPIRED'" class="color-supportive-lavender-1 avenir-12-med mt-3">Kadaluarsa</div>
                              <div v-if="histories.status === 'REJECTED'" class="color-denotive-red-1 avenir-12-med mt-3">Ditolak</div>
                              <div v-if="histories.status === 'OUTSTANDING' || histories.status === 'KYC REJECT'" class="avenir-12-med color-supportive-blue-1 mt-3">Menunggu Verifikasi</div>
                            </v-layout>
                          </v-flex>
                          <v-flex xs1 style="position: relative">
                            <v-icon style="color: #232C35; font-size: 12px; position: absolute; bottom: 4px;">arrow_forward_ios</v-icon>
                          </v-flex>
                        </v-layout>
                      </div>
                  </reusable-cards>
              </v-flex>
            </div>
            <!-- HIstory Null -->
            <div v-else>
              <div class="bg-primary-3 pt-4" :style="'min-height: ' + fullHeight + 'px;'">
                <div class="px-4">
                  <img src="@/assets/dashboard/history-null-2.svg" style="width:100%; height: 240px;" alt="History Null">
                  <v-card-text class="nexa-20-bold text-xs-center"> kamu belum <br /> melakukan transaksi </v-card-text>
                  <v-card-text class="avenir-14-reg text-xs-center pt-0 pb-4 px-3">Silakan melakukan pembayaran seperti zakat melalui menu finansial di beranda. </v-card-text>
                </div>
                <div class="blank"></div>
              </div>
            </div>
          </v-layout>
          <v-layout v-else>
            <shimmering-template></shimmering-template>
          </v-layout>
        </v-container>
        <reusable-dialogs v-model="dialogError" :resize-image="true"></reusable-dialogs>
    </div>
</template>

<script>
import Api from '@/services/Api'
// Import Helpers in services
import { goToDashboard, numberingNumber, dateFormat, capitalizeWord } from '@/services/Helpers'
// Reusable Components in history
const ReusableDialogs = () => import('@/components/reusable/ReusableDialogs')
const ReusableCards = () => import('@/components/reusable/ReusableCards')
const ReusableLoading = () => import('@/components/reusable/ReusableLoading')
const ReusableImageLifeplan = () => import('@/components/reusable/ReusableImageLifeplan.vue')
const ShimmeringTemplate = () => import('@/components/v2/shimmering/History')

export default {
  name: 'FinaspendPaymentHistory',
  components: {
    ReusableDialogs,
    ReusableCards,
    ReusableLoading,
    ReusableImageLifeplan,
    ShimmeringTemplate
  },
  data () {
    return {
      show: false,
      total: 0,
      history: [],
      dialogError: false,
      doneLoading: false,
      fullHeight: screen.height - 105
    }
  },
  created () {
    this.fetchData()
    this.getAllDashboardData()
  },
  methods: {
    dateFormat,
    numberingNumber,
    capitalizeWord,
    setDashboardDataToLocal (keyValue) {
      let obj = this.getDashboardData() || {}
      Object.assign(obj, keyValue)
      localStorage.setItem('halofina-dashboard', JSON.stringify(obj))
    },
    getDashboardData () {
      const data = JSON.parse(localStorage.getItem('halofina-dashboard'))
      return data
    },
    getAllDashboardData () {
      const data = this.getDashboardData()
      if (data) {
        this.history = data.historyPay
        this.doneLoading = true
      }
    },
    transformPaymentName (name) {
      let title
      switch (name) {
        case 'premium':
          title = 'Langganan Premium'
          break
        case 'zakat':
          title = 'Bayar Zakat'
          break
        default:
          break
      }
      return title
    },
    getIconBasedOnPayType (name) {
      let path
      switch (name) {
        case 'premium':
          path = require('@/assets/premium/premium-icon.svg')
          break
        case 'zakat':
          path = require('@/assets/finavest/invoice/icon-zakat.svg')
          break
        default:
          break
      }
      return path
    },
    toDashboard () {
      goToDashboard('lifeplan', 'assign')
      this.trackToDashboard()
    },
    trackToDashboard () {
      this.$analytics.track('History to Dashboard Selected')
    },
    next (id, idOrder, typeTrx) {
      if (typeTrx === 'premium') {
        this.$router.push('v2/finavest/payment/faspay/faspay_invoice/' + idOrder)
      } else {
        this.$router.push('/finavest/payment_zakat/detail/zakat/invoice/' + id + '/history')
      }
    },
    trackEvent (status, type, amount, lifeplan, asset) {
      this.$analytics.track('History Buy Selected', {
        trx_status: status,
        trx_type: type,
        amount: amount,
        lifeplan_type: lifeplan,
        asset_kind: asset
      })
    },
    fetchData () {
      Api('finapay/payment/history', {})
        .then((res) => {
          this.history = res.d
          this.setDashboardDataToLocal({
            historyPay: res.d
          })
          this.doneLoading = true
        }).catch(() => {
          this.doneLoading = true
          this.dialogError = true
        })
    }
  }
}
</script>
<style lang="sass">
  .finaspend-payment-history
    .blank
      width: 100%
      height: 50px
      background-color: white

    .tabs-history
      .v-tabs__item.active-tab
        color: #42A5F5
</style>
