<template>
  <reusable-bottom-sheet
    v-model="mutableIsOpen"
    :use-padding="false"
    :is-scroll="true"
    :persistent="true"
  >
    <v-window slot="custom-layout" :touchless="true">
      <v-window-item>
        <v-layout column class="full-height" justify-center>
          <v-flex>
            <v-layout row justify-center align-center class="pr-20 pl-2" style="border-bottom: 8px solid #F9F9FB; position: fixed; width: 100%; background: white;" pb-3>
              <slot name="close-button">
                <v-btn icon @click="mutableIsOpen = false">
                  <img src="@/assets/icons/icon-back.svg" style="width: 24px; height: 24px;" alt="arrow back">
                </v-btn>
              </slot>  
              <v-layout row align-center pl-2>
                <div class="wrap-img mr-3" style="border: 1px solid #E9ECF0; background: white; padding: 4px 4px 0 4px; border-radius: 3px; width: 44px; height: 44px; overflow: hidden; position: relative;">
                  <img id="product-image" :src="image" alt="product" style="width: 35px; height: auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" />
                </div>
                <v-layout column pa-0>
                  <v-card-text class="avenir-14-med pa-0 pb-1">{{ paymentTitle }}</v-card-text>
                  <v-card-text class="avenir-12-reg pa-0">{{ wayTitle }}</v-card-text>
                </v-layout>
              </v-layout>
            </v-layout>
            <!--  -->
            <v-list class="pt-0" style="margin-top: 70px; max-height: 80vh; overflow-y: scroll;">
              <v-card-text class="nexa-18-bold pb-4">
                Cara Bayar :
              </v-card-text>
              <template v-for="(step, indexSteps) in wayList">
                <v-layout row align-center pl-3 :key="indexSteps" style="position: relative;">
                  <v-flex class="mr-3" xs1 style="z-index: 1">
                    <div style="width: 24px; height: 24px; border-radius: 100%; z-index: 2; position: relative; background-color: #ECEFF7; overflow: hidden;" class="center-horizontal">
                      <span class="avenir-14-med" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">{{ indexSteps + 1 }}</span></div>
                    <div class="bg-primary-1 line" v-if="indexSteps + 1 < step.length"></div>
                  </v-flex>
                  <v-flex xs11>
                    <v-card-text style="padding: 20px 0; border-bottom: 1px solid #E9ECF0" class="avenir-12-reg pr-20" v-html="step"></v-card-text>
                  </v-flex>
                  <!-- first div -->
                  <div v-if="indexSteps === 0" style="position: absolute; left: 27px; width: 1px; height: 50%; background: #ECEFF7; left: 27px; bottom: 0;"></div>
                  <!-- last div -->
                  <div v-else-if="indexSteps === wayList.length - 1" style="position: absolute; left: 27px; width: 1px; height: 50%; background: #ECEFF7; top: 0;"></div>
                  <!-- beetween div -->
                  <div v-else style="position: absolute; left: 27px; width: 1px; height: 100%; background: #ECEFF7;"></div>
                </v-layout>
              </template>
            </v-list>
          </v-flex>
        </v-layout>
      </v-window-item>
    </v-window>
  </reusable-bottom-sheet>
</template>

<script>
import ReusableBottomSheet from '@/components/reusable/ReusableBottomSheet'
import {
  VDivider,
  VList,
  VListTile,
  VListTileTitle,
  VListTileAction,
  VListTileContent,
  VListTileAvatar,
  VSpacer,
  VWindow,
  VWindowItem
} from 'vuetify/lib'

export default {
  name: 'InstructionSheet',
  components: {
    VDivider,
    VList,
    VListTile,
    VListTileTitle,
    VListTileAction,
    VListTileContent,
    VListTileAvatar,
    VSpacer,
    ReusableBottomSheet,
    VWindow,
    VWindowItem
  },
  props: {
    isOpen: {
      type: Boolean,
      default: false
    },
    image: {
      type: String,
      default: null
    },
    paymentTitle: {
      type: String,
      default: null
    },
    wayTitle: {
      type: String,
      default: null
    },
    wayList: {
      type: Object,
      default: null
    }
  },
  model: {
    prop: 'isOpen',
    event: 'is-open-change'
  },
  computed: {
    mutableIsOpen: {
      get: function () {
        return this.isOpen
      },
      set: function (value) {
        this.$emit('is-open-change', value)
      }
    }
  },
  data () {
    return {
      classCard: '',
      classText: ''
    }
  }
}
</script>
