<template>
  <div class="finavest-finapoint-list" :style="'min-height: ' + screenHeight + 'px;'">
    <reusable-toolbar page-name="Finapoint List" :is-title-visible="false"></reusable-toolbar>
    <v-container pa-0>
      <v-layout column class="bg-primary-3">
        <v-flex>
          <div style="position: relative">
            <v-img :src="require('@/assets/finavest/finapoint/finapoint.svg')" class="mb-2"></v-img>
            <div class="finapoint-div">
              <v-card-text class="text-align-center nexa-16-bold">Finapoin kamu</v-card-text>
              <v-card-text class="text-align-center hf-finapoint">{{ numberingNumber(amount) }}</v-card-text>
            </div>
          </div>
          <v-list three-line class="mb-3 px-3">
            <template v-for="(item, index) in lists">

              <v-list two-line subheader class="border-bottom-solid">
                <v-list-tile
                  avatar
                  :key="item.title"
                  @click="activateSheet(item.img, item.title, item.desc)"
                  class="py-3"
                  >
                    <v-list-tile-avatar>
                      <img :src="item.img" class="pt-3" alt="icon">
                    </v-list-tile-avatar>

                    <v-list-tile-content>
                      <v-list-tile-title class="nexa-14-bold">{{item.title}}</v-list-tile-title>
                      <v-list-tile-sub-title class="avenir-10-med pr-3 text-truncate-custom">{{ item.desc }}</v-list-tile-sub-title>
                    </v-list-tile-content>

                    <v-list-tile-action>
                      <img src="@/assets/icons/icon-arrow.svg" alt="icon arrow">
                    </v-list-tile-action>
                  </v-list-tile>
                </v-list>
              <!-- <v-divider :key="index"></v-divider> -->

            </template>
          </v-list>
          <v-bottom-sheet v-model="bottomDesc.visible">
            <v-card flat class="rounded-top-corners text-align-center pa-3">
              <v-layout column align-center justify-center>
                <v-flex>
                  <img :src="bottomDesc.img">
                  <v-card-text class="nexa-16-bold pb-0">{{ bottomDesc.title }}</v-card-text>
                  <v-card-text class="pt-2 pb-4">{{ bottomDesc.desc }}</v-card-text>
                  <v-btn color="primary" depressed block class="btn-radius box-shadow" @click="bottomDesc.visible = false">Kembali</v-btn>
                </v-flex>
              </v-layout>
            </v-card>
          </v-bottom-sheet>
        </v-flex>
      </v-layout>

      <v-layout class="box-shadow-up fixed-layout" pa-3>
        <v-btn color="primary" depressed block class="btn-radius box-shadow" @click="routeToVoucher()">
          Gunakan Finapoin
        </v-btn>
      </v-layout>

    </v-container>
  </div>
</template>

<script>
import {
  VImg,
  VList,
  VListTile,
  VListTileTitle,
  VListTileAvatar,
  VListTileContent,
  VListTileSubTitle,
  VDivider,
  VBottomSheet
} from 'vuetify/lib'

import { numberingNumber } from '@/services/Helpers'

export default {
  name: 'FinavestFinapointList',
  components: {
    VImg,
    VList,
    VListTile,
    VListTileTitle,
    VListTileAvatar,
    VListTileContent,
    VListTileSubTitle,
    VDivider,
    VBottomSheet
  },
  data () {
    return {
      amount: null,
      bottomDesc: {
        visible: false,
        img: '',
        title: '',
        desc: ''
      },
      screenHeight: screen.height,
      lists: [
        {
          img: require('@/assets/finavest/finapoint/what.svg'),
          title: 'Apa itu Finapoin',
          desc: 'Finapoin adalah reward yang diberikan oleh Halofina kepada pengguna setia Halofina.'
        },
        {
          img: require('@/assets/finavest/finapoint/how.svg'),
          title: 'Cara Mendapatkan Finapoin',
          desc: 'Untuk mendapatkan Finapoin kamu bisa mengikuti beragam promo yang diadakan oleh Halofina seperti cashback, discount, dan kode referal.'
        },
        {
          img: require('@/assets/finavest/finapoint/mechanism.svg'),
          title: 'Mekanisme & Cara kerja',
          desc: 'Mekanisme dan cara kerja Finapoin tergantung pada program promo yang diadakan oleh Halofina.'
        },
        {
          img: require('@/assets/finavest/finapoint/limitation.svg'),
          title: 'Limitasi Penggunaan Finapoin',
          desc: 'Finapoin yang kamu peroleh hanya bisa ditukarkan dengan promo yang berlaku di Halofina dan tidak dapat diuangkan.'
        }
      ]
    }
  },
  methods: {
    numberingNumber,
    activateSheet (img, title, desc) {
      this.bottomDesc.visible = true
      this.bottomDesc.img = img
      this.bottomDesc.title = title
      this.bottomDesc.desc = desc
    },
    routeToVoucher () {
      this.$router.push('/finavest/investment/list_voucher')
    },
    getAmount () {
      this.amount = localStorage.getItem('halofina-finapoint-amount')
    }
  },
  created () {
    this.getAmount()
  }
}
</script>

<style lang="sass">
  .finavest-finapoint-list
    position: relative
    background-color: white

    *
      margin: 0
      padding: 0

    .v-list--three-line .v-list__tile
      height: auto !important

    .finapoint-div
      position: absolute
      z-index: 1
      left: 50%
      transform: translateX(-50%)
      top: 10%

    .hf-finapoint
      font-size: 44px
      line-height: 64px
      font-weight: bold

    .fixed-layout
      position: fixed
      background-color: white
      width: 100%
      bottom: 0px

    .border-bottom-solid
      border-bottom: 1px solid #E9ECF0

    .border-bottom-solid:nth-child(4)
      border-bottom: none

    .box-shadow-up
      box-shadow: 0px -3px 12px 0px rgba(0,0,0,0.12)

    .v-toolbar
      position: relative

    .text-truncate-custom
      overflow: hidden
      display: -webkit-box
      -webkit-line-clamp: 2
      -webkit-box-orient: vertical

</style>
