<template>
  <div class="finapedia-podcast-detail bg-primary-3" :style="$helpers.minHeight()">
    <reusable-toolbar page-name="Finapodcast" :left="true"></reusable-toolbar>
    <v-container class="px-20 pt-2 toolbar-margin">
      <v-layout column align-center justify-center>
        <!-- <v-flex> -->
          <aplayer
            :music="{
              title: podcastData.title,
              artist: 'Halofina',
              src: podcastData.repository,
              pic: podcastData.image ? podcastData.image : 'https://picsum.photos/250/250'
            }"
            autoplay
            @seeking="handleSeeking"
            @seeked="handleSeeked"
            @timeupdate="handleUpdate"
            @play="handlePlay"
            @pause="handlePause"
            ref="audio"
          />

          <v-layout row align-center justify-space-between>
            <img :src="require('@/assets/finapedia/rewind.svg')"/>
            <div @click="playPodcast = !playPodcast">
              <img :src="require('@/assets/finapedia/pause.svg')" class="mx-36" v-if="playPodcast === true"/>
              <img :src="require('@/assets/finapedia/play.svg')" class="mx-36" v-else/>
            </div>
            <img :src="require('@/assets/finapedia/ff.svg')"/>
          </v-layout>
        <!-- </v-flex> -->
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import Aplayer from 'vue-aplayer'

export default {
  // Do something
  name: 'FinapediaPodcastList',
  components: {
    Aplayer
  },
  data () {
    return {
      podcastData: {},
      playPodcast: true,
      previousTime: 0,
      currentTime: 0,
      startTime: 0,
      endTime: 0,
      totalTime: 0,
      paused: true,
      seekStart: null,
      sessionId: 0
    }
  },
  watch: {
    playPodcast: function (value) {
      if (value === true) {
        this.playAudio()
      } else {
        this.pauseAudio()
      }
    }
  },
  methods: {
    handleCloseApp () {
      // this is not really the hook for closing the app but it's quite close
      // i was using beforeunload but it's not good enough
      window.addEventListener('onclose', this.finishTracking())
    },
    finishTracking () {
      if (!this.paused) {
        this.totalTime += new Date().getTime() - this.startTime
      }
      this.$analytics.track('Podcast NetTime', {
        video_title: this.podcastData.title,
        net_time: this.totalTime,
        end_time: this.totalTime,
        podcast_duration: this.totalTime,
        sessionId: this.sessionId
      })
    },
    getPodcast () {
      this.podcastData = JSON.parse(localStorage.getItem('halofina-podcast-detail'))
    },
    playAudio () {
      this.$refs.audio.play()
    },
    handleSeeking () {
      if (this.seekStart === null) {
        this.seekStart = this.previousTime
      }
    },
    handleSeeked () {
      this.$analytics.track('Podcast Seeking', {
        podcast_title: this.podcastData.title,
        start_seeking: this.seekStart,
        end_seeking: this.currentTime,
        session_id: this.sessionId
      })
      this.seekStart = null
    },
    handleUpdate () {
      this.previousTime = this.currentTime
      this.currentTime = this.$refs.audio.audio.currentTime
    },
    handlePlay () {
      this.paused = false
      this.startTime = new Date().getTime()
    },
    handlePause () {
      this.paused = true
      this.totalTime += new Date().getTime() - this.startTime
    },
    trackPodcast () {
      this.$analytics.track('Podcast Played', {
        podcast_title: this.podcastData.title,
        sessionId: this.sessionId
      })
    },
    createSessionID () {
      function s4 () {
        return Math.floor((1 + Math.random()) * 0x10000)
          .toString(16)
          .substring(1)
      }
      return (
        s4() +
        s4() +
        '-' +
        s4() +
        '-' +
        s4() +
        '-' +
        s4() +
        '-' +
        s4() +
        s4() +
        s4()
      )
    },
    pauseAudio () {
      this.$refs.audio.pause()
    }
  },
  created () {
    this.sessionId = this.createSessionID()
    this.getPodcast()
    this.trackPodcast()
    this.handleCloseApp()
  },
  beforeRouteLeave (to, from, next) {
    this.finishTracking()
    next()
  }
}
</script>

<style lang="sass">
  $color-text-3: #6E7692;
  
  .finapedia-podcast-detail
    *
      margin: 0px
      padding: 0px

    .aplayer
      box-shadow: none
      width: 90vw

      .aplayer-pic
        border-radius: 10px
      
      .aplayer-controller
        flex-direction: column
        align-items: normal
        margin-top: 56px

        .aplayer-bar-wrap
          .aplayer-played
            background: #51AAF4 !important
            box-shadow: 0px 2px 5px rgba(81, 170, 244, 0.4)
            
            .aplayer-thumb
              border-color: #51AAF4 !important
              background-color: #51AAF4 !important
              box-shadow: 0px 2px 5px rgba(81, 170, 244, 0.4)

        .aplayer-time
          .aplayer-icon
            display: none

      .aplayer-pic
        align-self: center
        height: 250px
        width: 250px

        .aplayer-play
          display: none

      .aplayer-body
        flex-direction: column
        
        .aplayer-info
          height: auto
          padding: 36px 7px 0 7px

          .aplayer-music
            flex-direction: column
            display: flex
            text-align: center
            margin-left: 0px

            .aplayer-title
              font-family: "Avenir-Medium", Helvetica, Arial, Sans-Serif
              font-size: 14px
              color: $color-text-3

            .aplayer-author
              font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif
              font-size: 12px
              color: $color-text-3
</style>