<template>
  <div class="finapedia-podcast-list bg-primary-3 min-height">
    <v-layout column style="position: relative; background: linear-gradient(90.4deg, #3F99DD 0.12%, #3FA9EC 99.78%)" class="pa-20">
      <img src="@/assets/icons/icon-back-white.svg" @click="$router.go(-1)" style="width: 24px; height: 24px;" alt="arrow back" class="ml-1">
      <v-card-text class="nexa-32-bold color-primary-3 mt-4 pt-12">Finapodcast</v-card-text>
      <!-- <v-card-text class="avenir-14-reg color-primary-3 mt-2" style="z-index: 10">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed</v-card-text> -->
      <img src="@/assets/finapedia/course.svg" style="position: absolute; top: 11%; right: 0%" alt="arrow back">
    </v-layout>
    <v-container class="pa-20">
      <v-layout column v-if="doneLoading === true">
        <v-layout row v-for="podcast in podcastList" :key="podcast.podcastid" @click="routeToPodcast(podcast)" align-center>
          <v-flex xs4>
            <v-img
              :src="podcast.image ? podcast.image : 'https://picsum.photos/78/100'"
              class="card-border card-radius mb-3 mr-3"
            >
            </v-img>
          </v-flex>
          <v-flex xs8>
            <v-layout column>
              <v-card-text class="avenir-14-reg mb-1">{{podcast.title}}</v-card-text>
              <v-card-text class="avenir-10-reg mb-3 color-text-3">{{dateFormat(podcast.publishedtime, 'DD MMMM YYYY')}} - {{podcast.duration.substr(3)}} Menit</v-card-text>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-layout>
      <v-layout column align-center justify-center v-else>
        <reusable-loading></reusable-loading>
      </v-layout>
    </v-container> 
    <!-- Dialog -->
    <reusable-dialogs
      v-model="dialog.dialogError"
      :resize-image="true"
      :is-image-above-title="true"
    ></reusable-dialogs>
  </div>  
</template>

<script>
import Api from '@/services/Api'
import {
  VImg
} from 'vuetify/lib'
import { dateFormat } from '@/services/Helpers'

export default {
  components: {
    VImg
  },
  data () {
    return {
      podcastList: [],
      doneLoading: false,
      dialog: {
        dialogError: false
      }
    }
  },
  methods: {
    dateFormat,
    fetchPodcastData () {
      Api('finapedia/podcast/user', {})
        .then((res) => {
          this.podcastList = res.d
          this.doneLoading = true
        })
        .catch(() => {
          this.doneLoading = true
          this.dialog.dialogError = true
        })
    },
    routeToPodcast (podcast) {
      localStorage.setItem('halofina-podcast-detail', JSON.stringify(podcast))
      this.$router.push({
        path: '/finapedia/podcast/detail/' + podcast.podcastid
      })
    }
  },
  created () {
    this.fetchPodcastData()
  }
}
</script>

<style lang="sass">
  .finapedia-podcast-list
    *
      margin: 0px
      padding: 0px

    
</style>