<template>
    <div class="finavest-investment-buy-all-lifeplan bg-primary-3">
        <v-container pt-4 mt-2 px-0>
          <!-- List Product -->
          <v-layout column>
            <div class="con-assets mb-3"></div>
            <div
                class="recommendation-detail"
                v-for="recommendation in lifeplan.invetment_plan"
                :key="recommendation.id_asset_class"
              >
              <!-- Product Section -->
              <v-layout row pb-3 px-3 class="con-assets mb-3" v-if="recommendation.amount > 0" align-center justify-center @click="recommendation.product ? routeToProduct(recommendation.id_asset_class, recommendation.amount, recommendation.product.product_id) : routeToProduct(recommendation.id_asset_class, recommendation.amount)">
                <reusable-image-asset :type="transformAssetClass(recommendation.id_asset_class)" class="mr-3"></reusable-image-asset>
                <v-layout column>
                    <v-flex class="avenir-12-reg" v-if="recommendation.amount > 0">
                      {{ transformAssetClass(recommendation.id_asset_class) }}
                    </v-flex>
                    <v-flex class="avenir-14-med">
                      Rp {{ numberingNumber(Math.ceil(recommendation.amount)) }}
                    </v-flex>
                    <v-flex class="avenir-12-reg color-system-error" v-if="recommendation.product.product_name === ''">
                      Produk belum dipilih
                    </v-flex>
                    <v-flex v-else class="avenir-12-reg color-primary-1">
                      {{ recommendation.product.product_name }}
                    </v-flex>
                </v-layout>
                <v-btn class="btn-radius box-shadow" flat :ripple="false" icon>
                  <img :src="require('@/assets/icons/icon-arrow.svg')"/>
                </v-btn>
              </v-layout>
            </div>
          </v-layout>
          <!-- Button buy -->
          <v-layout column pa-3 class="box-shadow-min fixed-layout border-radius">
            <v-layout row align-end mb-3>
              <v-flex xs8>
                <v-layout column>
                  <v-card-text class="pa-0 avenir-12-reg">Nominal Tabungan</v-card-text>
                  <v-card-text class="pa-0 nexa-16-bold color-primary-1">Rp {{ numberingNumber(totalAmount) }}</v-card-text>
                </v-layout>
              </v-flex>
              <v-flex xs4 class="text-xs-right">
                <v-card-text @click="openSheet = true" class="pa-0 nexa-14-bold color-primary-1">Ubah</v-card-text>
              </v-flex>
            </v-layout>
            <v-btn color="primary" :disabled="disableButton" block class="btn-radius box-shadow py-2" depressed @click="proceedOrder()">Beli Sekarang</v-btn>
          </v-layout>
          <!-- Bottom sheet -->
          <v-bottom-sheet v-model="openSheet">
            <v-card flat style="border-top-left-radius: 12px; border-top-right-radius: 12px">
              <v-layout column pa-3>
                <v-card-text class="nexa-16-bold pa-0">Pilih Nominal</v-card-text>
                <v-radio-group v-model="determinedAmount">
                  <v-layout row justify-space-between align-center>
                    <v-radio
                      :value="lifeplan.regularinvestment"
                      @click.native="disabledInput = true; customInput = '0'"
                    >
                    </v-radio>
                    <v-layout column>
                      <v-card-text class="pa-0 avenir-12-reg">Sesuai Rekomendasi</v-card-text>
                      <v-card-text class="pa-0 nexa-14-bold">Rp {{numberingNumber(lifeplan.regular_investment)}}</v-card-text>
                    </v-layout>
                    <v-btn icon @click="dialogInfo('Sesuai Rekomendasi', 'Ini adalah nominal investasi yang direkomendasikan agar kamu dapat mencapai LifePlan sesuai dengan waktu dan nilai yang kamu atur.')" :ripple="false">
                      <img :src="require('@/assets/icons/icon-information.svg')"/>
                    </v-btn>
                  </v-layout>
                  <v-divider class="my-4"></v-divider>
                  <v-layout row justify-space-between align-center>
                    <v-radio
                      :value="totalMinBuy"
                      @click.native="disabledInput = true; customInput = '0'"
                    >
                    </v-radio>
                    <v-layout column>
                      <v-card-text class="pa-0 avenir-12-reg">Minimal Beli</v-card-text>
                      <v-card-text class="pa-0 nexa-14-bold">Rp {{numberingNumber(totalMinBuy)}}</v-card-text>
                    </v-layout>
                    <v-btn icon @click="dialogInfo('Minimal Beli', 'Ini adalah nominal investasi minimal yang bisa kamu beli agar dapat melakukan transaksi tambah tabungan LifePlan.')" :ripple="false">
                      <img :src="require('@/assets/icons/icon-information.svg')"/>
                    </v-btn>
                  </v-layout>
                  <v-divider class="my-4"></v-divider>
                  <v-layout row justify-space-between align-center>
                    <v-radio
                      :value="customInput"
                      @click.native="disabledInput = false"
                    >
                    </v-radio>
                    <v-layout column>
                      <v-card-text class="pa-0 avenir-12-reg mb-2">Atur sendiri</v-card-text>
                      <input
                        v-on:focus="scroll = true"
                        v-on:blur="scroll = false"
                        v-model="customInput"
                        v-money="money"
                        :disabled="disabledInput"
                        solo
                        flat
                        type="tel"
                        maxlength="12"
                        style="border: 1px solid #42A5F5; border-radius: 8px; padding: 19px" class="v-input__control; bg-primary-4 mb-2"/>
                      <v-card-text v-if="checkInputLessThanMinBuy === false && (determinedAmount === 0 || determinedAmount === '0')" class="pa-0 avenir-12-reg mb-2 color-system-error">Tidak boleh kurang dari minimal beli</v-card-text>
                      <v-card-text v-if="isDisabled === true" class="pa-0 avenir-12-reg mb-2 color-system-error">Tidak boleh lebih dari 100 juta</v-card-text>
                    </v-layout>
                  </v-layout>
                </v-radio-group>
                <v-btn color="primary" block class="btn-radius box-shadow py-2" :disabled="checkInputLessThanMinBuy === false && (determinedAmount === 0 || determinedAmount === '0') || isDisabled" depressed @click="adjustAmount()">Oke</v-btn>
                <!-- Blank box for Scrolling -->
                <div :class="scroll === true ? 'blank-box' : ''"></div>
              </v-layout>
            </v-card>
          </v-bottom-sheet>
        </v-container>
        <!-- Dialog KYC -->
        <reusable-dialogs
          v-model="dialog.dialogKyc"
          :image="require('@/assets/others/kyc-null.svg')"
          title="Kamu Belum Verifikasi"
          description="Verifikasi diperlukan agar kamu terdaftar menjadi investor resmi, data kamu kami lindungi"
          :is-image-above-title="true"
        >
          <v-layout slot="layout-button" class="full-width" row justify-center align-center px-3 pb-3>
            <v-flex xs6 mr-2>
              <v-btn depressed block outline class="btn-radius bg-primary-3 color-primary-1" @click="routeLater()">Nanti Saja</v-btn>
            </v-flex>
            <v-flex xs6 ml-2>
              <v-btn depressed block color="primary" class="btn-radius" @click="routeKyc()">Daftar</v-btn>
            </v-flex>
          </v-layout>
        </reusable-dialogs>
        <!-- Dialog Pending -->
        <reusable-dialogs
          v-model="dialog.dialogPending"
          :image="require('@/assets/others/kyc-proccess.svg')"
          :is-image-above-title="true"
          class-title="px-3 nexa-16-bold text-xs-center color-text-1"
          title="Verifikasi kamu masih dalam Proses"
          description="Silahkan menunggu, proses verifikasi ini membutuhkan kurang lebih 1-2 hari kerja"
        >
          <v-layout slot="layout-button" class="full-width pa-20" column align-center justify-center>
            <v-btn color="primary" class="py-2 btn-radius box-shadow" depressed block @click.native="goToDashboard('lifeplan', 'assign')">Saya Mengerti</v-btn>
          </v-layout>
        </reusable-dialogs>
        <!-- Dialog Rejected -->
        <reusable-dialogs
          v-model="dialog.dialogReject"
          :image="require('@/assets/others/kyc-rejected.svg')"
          :is-image-above-title="true"
          title="Verifikasi kamu ditolak, silahkan perbaiki data"
          :description="dialog.dialogRemark"
        >
          <v-layout slot="layout-button" class="full-width" row justify-center align-center pb-3 px-3>
            <v-flex xs6 mr-2>
              <v-btn block color="primary" outline flat class="btn-radius" @click.native="goToDashboard('lifeplan', 'assign'); $analytics.track('KYC Failed')">Nanti Saja</v-btn>
            </v-flex>
            <v-flex xs6 ml-2>
              <v-btn block color="primary" class="btn-radius" @click.native="$router.push('/finacheck/kyc/list'); $analytics.track('KYC Edited')">Perbaiki Data</v-btn>
            </v-flex>
          </v-layout>
        </reusable-dialogs>
        <!-- info Dialog -->
        <reusable-dialogs
          v-model="dialog.dialogInfo"
          :title="dialog.dialogInfoTitle"
          :description="dialog.dialogInfoDesc"
          :with-button="true"
        ></reusable-dialogs>
        <!-- Error Dialog -->
        <reusable-dialogs
          v-model="dialog.dialogError"
          :resize-image="true"
          :is-image-above-title="true"
        ></reusable-dialogs>
        <!-- Loading Dialog -->
        <reusable-dialogs
            v-model="dialog.dialogLoading"
        >
          <div slot="layout">
            <v-card flat class="card-radius" style="width: 100%">
              <v-layout py-3 px-4 row align-center justify-center>
                <reusable-loading></reusable-loading>
                <div class="nexa-14-bold px-5">Memproses</div>
              </v-layout>
            </v-card>
          </div>
        </reusable-dialogs>
    </div>
</template>

<script>
import {
  VBottomSheet,
  VDivider,
  VRadio,
  VRadioGroup,
  VTextField
} from 'vuetify/lib'
import { numberingNumber, checkFeatures, transformAssetClass, goToDashboard } from '@/services/Helpers'
import { VMoney } from 'v-money'
import ReusableLoading from '@/components/reusable/ReusableLoading'
import ReusableImageAsset from '@/components/reusable/ReusableImageAsset'

export default {
  name: 'FinavestInvestmentBuyPerLifeplan',
  directives: { money: VMoney },
  components: {
    VBottomSheet,
    VDivider,
    VRadio,
    VRadioGroup,
    VTextField,
    ReusableLoading,
    ReusableImageAsset
  },
  props: {
    lifeplan: {
      type: Object
    },
    kycStatus: {
      type: String
    },
    kycRemark: {
      type: String
    }
  },
  data () {
    return {
      disableButton: false,
      disabledInput: true,
      bank: null,
      openSheet: false,
      determinedAmount: 0,
      customInput: 0,
      customAmount: null,
      scroll: false,
      isDisabled: false,
      iteneraryData: {
        lifeplan: {
          id: '',
          type: '',
          title: ''
        },
        detail: []
      },
      dialog: {
        dialogInfo: false,
        dialogInfoTitle: '',
        dialogInfoDesc: '',
        dialogError: false,
        dialogBank: false,
        dialogLoading: false,
        dialogKyc: false,
        dialogPending: false,
        dialogReject: false
      },
      money: {
        thousands: '.',
        precision: 0,
        masked: true
      }
    }
  },
  watch: {
    customInput: function (value) {
      var replace = value.replace(/\./g, '')
      if (Number(replace) > 100000000) {
        this.isDisabled = true
      } else {
        this.isDisabled = false
      }
    }
  },
  computed: {
    totalAmount () {
      var ri = this.lifeplan.invetment_plan
      var total = 0
      ri.forEach((element) => {
        total += Number(element.amount)
      })
      return total
    },
    totalMinBuy () {
      // check min buy
      let portfolio = this.lifeplan.invetment_plan
      let minBuy = 0
      portfolio.map(data => {
        if (data.amount !== 0) {
          if (data.min_buy) {
            minBuy += Number(data.min_buy)
          } else {
            minBuy += 100000
          }
        }
      })
      return minBuy
    },
    checkInputLessThanMinBuy () {
      var value = this.customInput
      if (Number(value) !== 0) {
        if (Number(value.replace(/\./g, '')) < this.totalMinBuy) {
          return false
        } else {
          return true
        }
      } else {
        return false
      }
    }
  },
  methods: {
    numberingNumber,
    checkFeatures,
    transformAssetClass,
    goToDashboard,
    trackChangeAmount () {
      this.$analytics.track('Investment Amount Changed')
    },
    dialogInfo (title, desc) {
      this.dialog.dialogInfo = true
      this.dialog.dialogInfoTitle = title
      this.dialog.dialogInfoDesc = desc
    },
    adjustAmount () {
      this.trackChangeAmount()
      var portfolio = this.lifeplan.invetment_plan
      var customInput = this.customInput.replace(/\./g, '')
      var determinedAmount = this.determinedAmount
      var minBuy = this.totalMinBuy
      var regularInvest = Number(this.lifeplan.regular_investment)
      var portfolioFilter = portfolio.filter(element => element.amount > 0).length
      var recEmas = JSON.parse(localStorage.getItem('halofina-rec-class-emas'))
      var recPasarUang = JSON.parse(localStorage.getItem('halofina-rec-class-pasar-uang'))
      var recSaham = JSON.parse(localStorage.getItem('halofina-rec-class-saham'))
      var recPendapatanTetap = JSON.parse(localStorage.getItem('halofina-rec-class-pendapatan-tetap'))
      var recCampuran = JSON.parse(localStorage.getItem('halofina-rec-class-campuran'))
      if (Number(customInput) !== 0) {
        determinedAmount = Number(customInput)
      }
      portfolio.forEach(element => {
        if (element.amount !== 0) {
          // if user click min buy option
          if (determinedAmount === minBuy) {
            if (element.min_buy) {
              element.amount = element.min_buy
              element.product.amount = element.min_buy
            } else {
              element.amount = 100000
              element.product.amount = 100000
            }
            if (element.amount < element.product.min_buy) {
              if (element.id_asset_class === 1) {
                element.product = recPasarUang
                element.min_buy ? element.product.amount = element.min_buy : element.product.amount = 100000
              }
              if (element.id_asset_class === 5) {
                element.product = recSaham
                element.min_buy ? element.product.amount = element.min_buy : element.product.amount = 100000
              }
              if (element.id_asset_class === 3) {
                element.product = recCampuran
                element.min_buy ? element.product.amount = element.min_buy : element.product.amount = 100000
              }
              if (element.id_asset_class === 2) {
                element.product = recPendapatanTetap
                element.min_buy ? element.product.amount = element.min_buy : element.product.amount = 100000
              }
              if (element.id_asset_class === 4) {
                element.product = recEmas
                element.min_buy ? element.product.amount = element.min_buy : element.product.amount = 100000
              }
            }
          } else {
            // if user click custom and recommendation option
            var diff = determinedAmount - minBuy
            var divider = diff / portfolioFilter
            var rounded = Math.ceil(Number(determinedAmount) * (Number(element.percentage) / 100))
            if (determinedAmount >= regularInvest) {
              element.amount = rounded
              element.product.amount = rounded
              if (element.amount < element.product.min_buy) {
                if (element.id_asset_class === 1) {
                  element.product = recPasarUang
                  element.product.amount = rounded
                }
                if (element.id_asset_class === 5) {
                  element.product = recSaham
                  element.product.amount = rounded
                }
                if (element.id_asset_class === 3) {
                  element.product = recCampuran
                  element.product.amount = rounded
                }
                if (element.id_asset_class === 2) {
                  element.product = recPendapatanTetap
                  element.product.amount = rounded
                }
                if (element.id_asset_class === 4) {
                  element.product = recEmas
                  element.product.amount = rounded
                }
              }
            } else {
              var ceil = Math.ceil(((Number(element.min_buy) * 0) + Number(element.min_buy) + divider))
              element.amount = ceil
              element.product.amount = ceil
              if (element.amount < element.product.min_buy) {
                if (element.id_asset_class === 1) {
                  element.product = recPasarUang
                  element.product.amount = ((Number(element.min_buy) * 0) + Number(element.min_buy) + divider)
                }
                if (element.id_asset_class === 5) {
                  element.product = recSaham
                  element.product.amount = ((Number(element.min_buy) * 0) + Number(element.min_buy) + divider)
                }
                if (element.id_asset_class === 3) {
                  element.product = recCampuran
                  element.product.amount = ((Number(element.min_buy) * 0) + Number(element.min_buy) + divider)
                }
                if (element.id_asset_class === 2) {
                  element.product = recPendapatanTetap
                  element.product.amount = ((Number(element.min_buy) * 0) + Number(element.min_buy) + divider)
                }
                if (element.id_asset_class === 4) {
                  element.product = recEmas
                  element.product.amount = ((Number(element.min_buy) * 0) + Number(element.min_buy) + divider)
                }
              }
            }
          }
        }
      })
      localStorage.setItem('halofina-custom-portfolio', JSON.stringify(portfolio))
      localStorage.setItem('halofina-custom-amount', determinedAmount)
      this.customAmount = determinedAmount
      this.disableButtonIfNoProduct()
      this.transformIteneraryData()
      this.openSheet = false
    },
    disableButtonIfNoProduct () {
      var datas = this.lifeplan.invetment_plan
      for (var i = 0; i < datas.length; i++) {
        if (datas[i].amount) {
          if (datas[i].product.product_name === '') {
            this.disableButton = true
          }
        }
      }
    },
    routeToProduct (type, amount, id) {
      localStorage.setItem('halofina-product-amount', amount)
      this.$router.push('/finavest/new/product/product_list/' + type)
      if (type === 1) {
        this.trackButton('Reksadana Pasar Uang', amount, id)
      } else if (type === 2) {
        this.trackButton('Reksadana Pendapatan Tetap', amount, id)
      } else if (type === 3) {
        this.trackButton('Reksadana Campuran', amount, id)
      } else if (type === 4) {
        this.trackButton('Emas', amount, id)
      } else if (type === 5) {
        this.trackButton('Reksadana Saham', amount, id)
      }
    },
    trackButton (type, amount, id) {
      if (id) {
        this.$analytics.track('Investment Replaced', {
          asset_kind: type,
          product_id: Number(id),
          amount: Number(amount)
        })
      } else {
        this.$analytics.track('Investment Searched', {
          asset_kind: type,
          amount: Number(amount)
        })
      }
    },
    proceedOrder () {
      let status = this.kycStatus
      let outstanding = checkFeatures('halofina:outstanding').enabled
      if (outstanding === true) {
        if (status === null) {
          this.dialog.dialogKyc = true
        } else if (status === 'REJECTED') {
          this.dialog.dialogReject = true
        } else {
          this.callApiItinerary()
        }
      } else {
        if (status === 'PENDING' || status === 'ONPROCESS') {
          this.dialog.dialogPending = true
        } else if (status === 'REJECTED') {
          this.dialog.dialogReject = true
        } else if (status === null) {
          this.dialog.dialogKyc = true
        } else {
          this.callApiItinerary()
        }
      }
    },
    callApiItinerary () {
      this.dialog.dialogLoading = true
      setTimeout(() => {
        localStorage.setItem('halofina-itenerary-data', JSON.stringify(this.iteneraryData))
        this.$router.push('/v2/finavest/investment/buy/detail')
        this.trackBuyButton()
      }, 500)
    },
    trackBuyButton () {
      this.$analytics.track('Investment Interest Buy Selected')
    },
    getProductFromLocalStorage () {
      var customAmount = JSON.parse(localStorage.getItem('halofina-custom-amount'))
      var customPortfolio = JSON.parse(localStorage.getItem('halofina-custom-portfolio'))
      var emas = JSON.parse(localStorage.getItem('halofina-class-emas'))
      var pasarUang = JSON.parse(localStorage.getItem('halofina-class-pasar-uang'))
      var saham = JSON.parse(localStorage.getItem('halofina-class-saham'))
      var pendapatanTetap = JSON.parse(localStorage.getItem('halofina-class-pendapatan-tetap'))
      var campuran = JSON.parse(localStorage.getItem('halofina-class-campuran'))
      var recEmas = JSON.parse(localStorage.getItem('halofina-rec-class-emas'))
      var recPasarUang = JSON.parse(localStorage.getItem('halofina-rec-class-pasar-uang'))
      var recSaham = JSON.parse(localStorage.getItem('halofina-rec-class-saham'))
      var recPendapatanTetap = JSON.parse(localStorage.getItem('halofina-rec-class-pendapatan-tetap'))
      var recCampuran = JSON.parse(localStorage.getItem('halofina-rec-class-campuran'))
      var portfolio = this.lifeplan.invetment_plan
      if (customPortfolio) {
        this.lifeplan.invetment_plan = customPortfolio
        this.customAmount = customAmount
        this.determinedAmount = customAmount
      } else {
        portfolio.forEach(element => {
          if (element.id_asset_class === 1) {
            if (pasarUang.product_name === '') {
              if (recPasarUang.amount !== 0) element.amount = recPasarUang.amount
              element.product = recPasarUang
            } else {
              if (pasarUang.amount !== 0) element.amount = pasarUang.amount
              element.product = pasarUang
            }
          }
          if (element.id_asset_class === 5) {
            if (saham.product_name === '') {
              if (recSaham.amount !== 0) element.amount = recSaham.amount
              element.product = recSaham
            } else {
              if (saham.amount !== 0) element.amount = saham.amount
              element.product = saham
            }
          }
          if (element.id_asset_class === 3) {
            if (campuran.product_name === '') {
              if (recCampuran.amount !== 0) element.amount = recCampuran.amount
              element.product = recCampuran
            } else {
              if (campuran.amount !== 0) element.amount = campuran.amount
              element.product = campuran
            }
          }
          if (element.id_asset_class === 2) {
            if (pendapatanTetap.product_name === '') {
              if (recPendapatanTetap.amount !== 0) element.amount = recPendapatanTetap.amount
              element.product = recPendapatanTetap
            } else {
              if (pendapatanTetap.amount !== 0) element.amount = pendapatanTetap.amount
              element.product = pendapatanTetap
            }
          }
          if (element.id_asset_class === 4) {
            if (emas.product_name === '') {
              if (recEmas.amount !== 0) element.amount = recEmas.amount
              element.product = recEmas
            } else {
              if (emas.amount !== 0) element.amount = emas.amount
              element.product = emas
            }
          }
        })
        this.determinedAmount = this.lifeplan.regular_investment
      }
    },
    transformIteneraryData () {
      let detail = this.lifeplan.invetment_plan
      let idAccount = this.lifeplan.id_account
      this.iteneraryData.lifeplan.id = this.lifeplan.id
      this.iteneraryData.lifeplan.type = this.lifeplan.type
      this.iteneraryData.lifeplan.title = this.lifeplan.title
      this.iteneraryData.detail = []
      for (var i = 0; i < detail.length; i++) {
        if (detail[i].product.product_name !== '') {
          if (detail[i].product.amount !== 0) {
            detail[i].product.id_account = idAccount
            this.iteneraryData.detail.push(detail[i].product)
          }
        }
      }
    },
    routeLater () {
      goToDashboard('lifeplan', 'assign')
      this.trackRouteLater()
    },
    routeKyc () {
      this.$router.push('/finacheck/kyc/list')
      this.trackRouteKyc()
    },
    trackRouteLater () {
      this.$analytics.track('KYC Postponed')
    },
    trackRouteKyc () {
      this.$analytics.track('KYC Continued')
    }
  },
  created () {
    this.getProductFromLocalStorage()
    this.disableButtonIfNoProduct()
  },
  mounted () {
    this.transformIteneraryData()
  }
}
</script>
<style lang="sass">
    .finavest-investment-buy-all-lifeplan
      .v-input
          margin-top: 0px !important
      .bg-grey
          background-color: #f6f8fa
      .circle
          background-color: transparent
          border-radius: 50%
          max-width: 19px
          min-height: 19px
          margin: auto
      .circle-red
          border: #F26969 4px solid
      .circle-green
          border: #35CC6D 4px solid
      .circle-blue
          border: #42A5F5 4px solid
      .circle-yellow
          border: #FFD13B 4px solid
      .circle-brown
          border: brown 4px solid
      .con-assets
        border-bottom: 1px solid #E9ECF0
      .fixed-layout
        position: fixed
        background-color: white
        width: 100%
        bottom: 0px
      .border-radius
        border-top-left-radius: 12px
        border-top-right-radius: 12px
      .box-shadow-min
        box-shadow: 0px -3px 12px rgba(0, 0, 0, 0.12) !important
    .v-input__control
      width: 100% !important
</style>
