<template>
  <div class="available" :style="'min-height: ' + screenHeight + 'px;'">
    <v-container pa-0>
      <v-layout column v-if="doneLoading === true">
        <div v-if="voucher.length > 0" class="mt-3">
          <v-flex xs12 v-for="(datas, index) in voucher" :key="datas.id" class="mb-3 mx-3">
            <div class="card-wrapper box-shadow">
              <div class="card-title">
                <v-img :src="datas.detail.image" @click="goToDetail(datas.detail, datas.id)" class="img-title" alt="image detail"  aspect-ratio="2"></v-img>
              </div>
              <div class="card-body pt-2 px-3 pb-3">
                <div class="body-title nexa-14-bold pb-3" v-if="datas.detail.maxnominal !== null">
                  {{datas.detail.name + ' (Maks. ' + numberingNumber(datas.detail.maxnominal) + ')' }}
                </div>
                <div class="body-title nexa-14-bold pb-3" v-else>
                  {{datas.detail.name}}
                </div>
                <v-layout align-center justify-space-between row fill-height>
                  <v-layout align-center class="avenir-12-reg points">
                    <img src="@/assets/finavest/voucher/icon-points.svg" class="pr-2" alt="icon voucher"> {{30}} Points
                  </v-layout>
                  <div class="">
                    <button class="btn-exchange" @click="openVBottom(datas.detail.name, 30)">Tukar</button>
                  </div>
                </v-layout>
              </div>

              </div>
            </v-flex>
          </div>
        <!-- History Null -->
        <div v-else>
          <div class="full-height">
            <div class="px-4 text-xs-center wrap-container">
              <img src="@/assets/dashboard/history-voucher-null.svg" style="width: 180px; height: 150px; padding-bottom: 24px;" alt="Voucher Null">
              <v-card-text class="nexa-14-bold pa-0 pb-2 color-secondary-5">kamu belum punya voucher</v-card-text>
              <!-- <v-card-text class="avenir-12-reg pa-0 color-secondary-5">mungkin nanti :')</v-card-text> -->
            </div>
          </div>
        </div>
      </v-layout>
      <v-layout v-else column justify-center align-center style="height: 85vh">
        <reusable-loading></reusable-loading>
      </v-layout>
    </v-container>
    <reusable-dialogs v-model="dialogError" :resize-image="true"></reusable-dialogs>

    <v-bottom-sheet v-model="redeem.isOpen" :persistent="true">
      <v-card flat style="border-top-left-radius: 12px; border-top-right-radius: 12px">
        <v-layout column pa-3>
          <v-layout row justify-end>
            <v-icon style="font-size: 20px !important; color: #505565 !important" @click="redeem.isOpen = false">close</v-icon>
          </v-layout>
          <v-layout column>
            <v-card-text class="nexa-16-bold pa-0 pb-2">Tukar Voucher</v-card-text>
            <v-card-text class="avenir-12-reg pa-0 pb-4" style="color: #A0A5B7;">Tentukan jumlah voucher yang ingin ditukarkan</v-card-text>
            <v-layout row pb-4 style="border-bottom: 1px solid #E8EAEF;">
              <v-flex xs8>
                <v-card-text class="avenir-14-reg pa-0">{{redeem.name}}</v-card-text>
              </v-flex>
              <v-flex xs4 class="text-xs-right">
                <button class="btn-min pr-1" @click="btnMin()"><img src="@/assets/finavest/voucher/icon-min.svg"></button>
                <button class="btn-totals"><span>{{redeem.totalBuy}}</span></button>
                <button class="btn-plus pl-1" @click="btnPlus()"><img src="@/assets/finavest/voucher/icon-plus.svg"></button>
              </v-flex>
            </v-layout>
          </v-layout>

          <v-layout align-center pb-4 pt-3 class="wrap-total-finapoints">
            <img src="@/assets/dashboard/finapoints.svg" class="img-left pr-3" alt="finapoints">
            <div class="desc">
              <div class="avenir-16-reg">
                Finapoin
              </div>
            </div>
            <div class="total-points avenir-16-med">
              {{ numberingNumber(redeem.totalPoints) }}
            </div>
          </v-layout>

          <v-layout row>
            <v-btn color="primary" depressed block class="btn-radius box-shadow" @click="redeemFinapoints()">Lanjut</v-btn>
          </v-layout>
        </v-layout>
      </v-card>
    </v-bottom-sheet>

  </div>
</template>

<script>
// import vuetify component
import { VBottomSheet, VImg } from 'vuetify/lib'
// import api
import Api from '@/services/Api'
// Import Helpers in services
import { numberingNumber, dateFormat, capitalizeWord, goToDashboard } from '@/services/Helpers'
// Reusable Components in history
const ReusableDialogs = () => import('@/components/reusable/ReusableDialogs')
const ReusableLoading = () => import('@/components/reusable/ReusableLoading')
const ReusableImageLifeplan = () => import('@/components/reusable/ReusableImageLifeplan')

export default {
  name: 'Available',
  components: {
    ReusableDialogs,
    ReusableLoading,
    ReusableImageLifeplan,
    VBottomSheet,
    VImg
  },
  data () {
    return {
      redeem: {
        isOpen: false,
        name: '',
        points: 0,
        totalPoints: 0,
        totalBuy: 1
      },
      show: false,
      total: 0,
      voucher: [],
      dialogError: false,
      screenHeight: screen.height - (48 + 48),
      doneLoading: false
    }
  },
  created () {
    this.fetchData()
  },
  methods: {
    dateFormat,
    numberingNumber,
    capitalizeWord,
    openVBottom (name, points) {
      this.redeem.isOpen = true
      this.redeem.name = name
      this.redeem.points = points
      this.redeem.totalPoints = points
    },
    btnMin () {
      if (this.redeem.totalBuy > 1) {
        this.redeem.totalBuy -= 1
        this.redeem.totalPoints = this.redeem.totalBuy * this.redeem.points
      } else {
        //
      }
    },
    btnPlus () {
      this.redeem.totalBuy += 1
      this.redeem.totalPoints = this.redeem.totalBuy * this.redeem.points
    },
    toDashboard () {
      goToDashboard('lifeplan', 'assign')
      this.trackToDashboard()
    },
    trackToDashboard () {
      this.$analytics.track('Voucher to Dashboard Selected')
    },
    goToDetail (details, id) {
      var detail = details
      detail.id = id
      localStorage.setItem('halofina-detail-voucher', JSON.stringify(detail))
      this.$router.push('/finavest/investment/detail_voucher_card')
    },
    fetchData () {
      Api('finavest/investment/voucher/user', {})
        .then((res) => {
          this.voucher = res.d
          this.doneLoading = true
        }).catch(() => {
          this.doneLoading = true
        })
    }
  }
}
</script>
<style lang="sass">
  .btn-min,
  .btn-plus
    border: 1px solid #E8EAEF
    border-radius: 4px
    width: 24px
    height: 24px
    position: relative
    outline: none

    img
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

  .btn-totals
    width: 24px
    height: 24px
    position: relative
    border-radius: 4px
    background: #F9FAFC
    border: 1px solid #F9FAFC
    outline: none
    font-weight: 600

    span
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

  .v-tabs__item
    opacity: 1
    color: #A0A5B7
    font-weight: 100

  .v-tabs__item.active-tab
    color: #505565
    opacity: 1
    font-weight: 600

  .available
    background-color: #fff

    .box-shadow
      box-shadow: 0px 6px 10px rgba(23, 23, 23, 0.05) !important

    .full-height
      overflow-y: hidden
      background-color: #fff


    .wrap-container
      width: 100%
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

    .tabs-history
      .v-tabs__item.active-tab
        color: #42A5F5

    .card-wrapper
      border-radius: 6px
      width: auto
      height: auto
      overflow: hidden
      background-color: white

    .card-title
      img
        width: 100%
        height: auto

    .points
      font-size: 10px
      color: #A0A5B7

    .btn-exchange
      font-size: 10px
      border-radius: 4px
      background-color: #42A5F5
      padding: 5px 14px
      color: #fff

  .wrap-total-finapoints
    position: relative

  .total-points
    position: absolute
    right: 0


</style>
