<template>
  <div class="finavest-investment-detail-voucher bg-primary-3">
    <reusable-toolbar page-name="Detail Voucher"></reusable-toolbar>
    <v-container class="toolbar-margin pa-0">
      <v-layout column>
        <img :src="require('@/assets/onboarding/finapedia.svg')"/>
        <div class="pa-3">  
          <v-card-text class="avenir-12-reg pa-0">
            Kode Voucher
          </v-card-text>
          <v-card-text class="color-primary-1 nexa-20-bold pa-0">
            {{ cashbackCode }}
          </v-card-text>
          <v-card-text class="avenir-16-med pa-0">
            {{ cashbackTitle }}
          </v-card-text>
          <br /><br />
          <v-layout row>
            <v-card-text class="avenir-12-reg pa-0">Berlaku hingga</v-card-text>
            <v-card-text class="avenir-12-med text-align-right pa-0">{{ dateFormat(cashbackEnd, 'D MMM YYYY') }}</v-card-text>
          </v-layout>
        </div>
        <v-divider></v-divider>
        <v-tabs centered grow class="tabs-product">
          <v-tab class="color-primary-1">
            Deskripsi
          </v-tab>
          <v-tab class="color-primary-1">
            S&K
          </v-tab>
          <v-tab-item class="avenir-12-reg pa-3">
            {{ cashbackDesc }}
          </v-tab-item>
          <v-tab-item class="pa-3">
            <div v-html="cashbackTnc"></div>
          </v-tab-item>
        </v-tabs>
        <!-- black div -->
        <div style="height: 110px; width: 100%;"></div>
        <!-- Layout Pilih -->
        <v-layout class="box-shadow-up fixed-layout" pa-3>
          <v-btn depressed class="btn-radius box-shadow" color="primary" block @click="useCashback()">
            Pakai
          </v-btn>
        </v-layout>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import Api from '@/services/Api'
import { numberingNumber, dateFormat } from '@/services/Helpers'
import {
  VDivider,
  VTabs,
  VTab,
  VTabItem
} from 'vuetify/lib'

export default {
  name: 'FinavestInvestmentDetailVoucher',
  components: {
    VDivider,
    VTabs,
    VTab,
    VTabItem
  },
  data () {
    return {
      cashbackCode: '',
      cashbackType: '',
      cashbackEnd: '',
      cashbackDesc: '',
      cashbackTnc: '',
      cashbackTitle: '',
      cashbackValue: 0,
      cashbackMax: 0,
      cashbackTotal: 0
    }
  },
  methods: {
    numberingNumber,
    dateFormat,
    useCashback () {
      var cashback = {
        cashbackUse: true,
        cashbackType: this.cashbackType,
        cashbackCode: this.cashbackCode,
        cashbackMax: this.cashbackMax,
        cashbackValue: this.cashbackValue,
        cashbackTotal: this.cashbackTotal
      }
      localStorage.setItem('halofina-cashback', JSON.stringify(cashback))
      this.$router.go(-1)
    },
    getCashbackCode () {
      var cashbackCode = this.$route.params.cashback
      this.cashbackCode = cashbackCode
      this.fetchData(cashbackCode)
    },
    fetchData (code) {
      Api('finavest/transaction/voucher/detail', {
        code: code
      })
        .then((res) => {
          this.cashbackTnc = res.d.tnc
          this.cashbackDesc = res.d.description
          this.cashbackValue = Number(res.d.vouchervalue)
          this.cashbackType = res.d.category === 'C' ? 'Cashback' : 'Diskon'
          this.cashbackMax = Number(res.d.maxredeem)
          this.cashbackEnd = res.d.endtime
          this.cashbackTitle = res.d.name
          this.cashbackTotal = res.d.redeem
        })
    }
  },
  created () {
    this.getCashbackCode()
  }
}
</script>

<style lang="sass">
  .finavest-investment-detail-voucher
    .v-divider
      border-width: thick 0 0 0

    .box-shadow-up
      box-shadow: 0px -3px 12px 0px rgba(0,0,0,0.12)

    .fixed-layout
      position: fixed
      background-color: white
      width: 100%
      bottom: 0px
    
    .tabs-product
      .v-tabs__item.active-tab
        color: #42A5F5 !important
        opacity: 1
</style>
