<template>
  <div class="finavest-investment-detail-voucher-card bg-primary-3"  :style="'min-height: ' + screenHeight + 'px; background: transparent;'">
    <reusable-toolbar>
      <div slot="button-toolbar" class="bg-radius ml-1" @click="$router.go(-1)">
        <img src="@/assets/icons/icon-back-white.svg" style="width: 24px; height: 24px;" alt="arrow back">
      </div>
    </reusable-toolbar>
    <v-container class="pa-0">
      <v-layout column v-if="isLoaded === true">
        <v-img :src="image"></v-img>
        <!-- Banner Header -->
        <v-card flat class="border-bottom pa-3">
          <v-card-text class="nexa-18-bold">{{ name }}</v-card-text>
          <v-card-text class="avenir-12-reg color-text-3 mt-2">
            Berlaku hingga
            <span class="avenir-12-med">{{ dateFormat(endtime, 'D MMMM YYYY') }}</span>
          </v-card-text>
          <v-card-text class="mt-4 avenir-14-reg" v-html="description"></v-card-text>
        </v-card>

        <v-divider></v-divider>
        <div>
          <v-tabs centered grow class="tabs-product">
            <v-tab class="avenir-16-reg">
              Cara Pakai
            </v-tab>
            <v-tab class="avenir-16-reg">
              Syarat & Ketentuan
            </v-tab>
            <v-tab-item>
              <div class="pa-3" v-html="usage"></div>
            </v-tab-item>
            <v-tab-item>
              <div class="pa-3" v-html="tnc"></div>
            </v-tab-item>
          </v-tabs>
        </div>
        <!-- Layout Pilih -->
        <div style="height: 72px"></div>
        <div class="fixed-layout">
          <v-btn depressed color="primary" :disabled="isDisabled" block @click="checkKycStatus()">
            {{ ctaCopy() }}
          </v-btn>
        </div>
      </v-layout>
      <v-layout v-else class="full-height" column align-center justify-center>
        <reusable-loading></reusable-loading>
      </v-layout>
    </v-container>
    <!-- WIP REFACTOR IMPORTANT -->
		<!-- Dialog KYC -->
		<reusable-dialogs
			v-model="dialog.dialogKyc"
      :image="require('@/assets/others/kyc-null.svg')"
      title="Kamu Belum Verifikasi"
      description="Agar bisa menggunakan voucher ini, silahkan lakukan Verifikasi terlebih dahulu."
      :is-image-above-title="true"
    >
      <v-layout slot="layout-button" class="full-width" row justify-center align-center px-3 pb-3>
        <v-flex xs6 mr-2>
          <v-btn depressed block outline class="btn-radius bg-primary-3 color-primary-1" @click="routeLater()">Nanti Saja</v-btn>
        </v-flex>
        <v-flex xs6 ml-2>
          <v-btn depressed block color="primary" class="btn-radius" @click="routeKyc()">Daftar</v-btn>
        </v-flex>
      </v-layout>
		</reusable-dialogs>
		<!-- Dialog Pending -->
		<reusable-dialogs
			v-model="dialog.dialogPending"
      :image="require('@/assets/others/kyc-proccess.svg')"
      :is-image-above-title="true"
      class-title="px-3 nexa-16-bold text-xs-center color-text-1"
      title="Verifikasi kamu masih dalam Proses"
      description="Agar bisa menggunakan voucher ini, silahkan tunggu Verifikasi hingga berhasil."
    >
      <v-layout slot="layout-button" class="full-width pa-20" column align-center justify-center>
        <v-btn color="primary" class="py-2 btn-radius box-shadow" depressed block @click.native="goToDashboard('lifeplan', 'assign')">Saya Mengerti</v-btn>
      </v-layout>
		</reusable-dialogs>
		<!-- Dialog Rejected -->
		<reusable-dialogs
			v-model="dialog.dialogReject"
      :image="require('@/assets/others/kyc-rejected.svg')"
      :is-image-above-title="true"
      title="Verifikasi kamu ditolak, silahkan perbaiki data"
      description="Agar bisa menggunakan voucher ini, silahkan perbaiki data Verifikasi kamu hingga berhasil."
    >
      <v-layout slot="layout-button" class="full-width" row justify-center align-center pb-3 px-3>
        <v-flex xs6 mr-2>
          <v-btn block color="primary" outline flat class="btn-radius" @click.native="goToDashboard('lifeplan', 'assign'); $analytics.track('KYC Failed')">Nanti Saja</v-btn>
        </v-flex>
        <v-flex xs6 ml-2>
          <v-btn block color="primary" class="btn-radius" @click.native="$router.push('/finacheck/kyc/list'); $analytics.track('KYC Edited')">Perbaiki Data</v-btn>
        </v-flex>
      </v-layout>
		</reusable-dialogs>
    <!-- WIP REFACTOR IMPORTANT -->
    <!-- Dialog Error -->
    <reusable-dialogs
      v-model="dialog.dialogError"
      :resize-image="true"
      :is-image-above-title="true"
      :description="dialog.dialogErrorDesc"
    ></reusable-dialogs>
    <!-- Dialog loading -->
    <reusable-dialogs
        v-model="dialog.dialogUploading"
        :unclickable="true"
    >
        <div slot="layout">
          <v-card flat class="card-radius" style="width: 100%">
            <v-layout py-3 px-5 row align-center justify-center>
              <div class="nexa-14-bold px-5">Loading...</div>
            </v-layout>
          </v-card>
        </div>
    </reusable-dialogs>

    <!-- popup bottom description -->
    <reusable-bottom-sheet
      v-model="bottomSheet.source"
      :persistent="true"
      :use-padding="false"
    >
      <template slot="custom-layout">
        <v-layout row align-center px-3 mb-3>
          <v-card-text class="pa-0 nexa-16-bold">Pilih tujuan penggunaan</v-card-text>
          <v-spacer></v-spacer>
          <img :src="require('@/assets/icons/icon-close.svg')" @click="bottomSheet.source = false" style="width: 15px; height: 15px"/>
        </v-layout>
        <v-layout
          @click="$router.push(source.route); setVoucherData()"
          px-3
          row
          align-center
          v-for="source in sourceList"
          :key="source.title"
          style="border-bottom: 1px solid #E8EAEF"
        >
          <v-card-text class="pl-0 avenir-16-reg">{{ source.title }}</v-card-text>
          <v-spacer></v-spacer>
          <img :src="require('@/assets/icons/icon-arrow-black.svg')" style="width: 24px; height: 24px"/>
        </v-layout>
      </template>
    </reusable-bottom-sheet>
  </div>
</template>

<script>
import Api from '@/services/Api'
import ApiGet from '@/services/ApiGet'
import { numberingNumber, dateFormat, checkFeatures, renameObjectKeys, goToDashboard } from '@/services/Helpers'
import {
  VDivider,
  VTabs,
  VTab,
  VImg,
  VTabItem
} from 'vuetify/lib'
/**
 * @group /v2/finavest/investment/voucher
 * Detail Voucher Page
*/
export default {
  name: 'FinavestInvestmentDetailVoucher',
  components: {
    VDivider,
    VTabs,
    VTab,
    VImg,
    VTabItem
  },
  data () {
    return {
      bottomSheet: {
        source: false
      },
      screenHeight: screen.height,
      description: '',
      image: '',
      name: '',
      endtime: '',
      tnc: '',
      usage: '',
      status: '',
      category: '',
      source: '',
      dialog: {
        dialogKyc: false,
        dialogPending: false,
        dialogReject: false,
        dialogError: false,
        dialogErrorDesc: '',
        dialogRemark: '',
        dialogUploading: false
      },
      productId: '',
      productClass: '',
      smartSaving: null,
      sourceList: [],
      isDisabled: false,
      isLoaded: false
    }
  },
  methods: {
    numberingNumber,
    dateFormat,
    checkFeatures,
    goToDashboard,
    /**
     * @vuese
     * returns CTA copywriting based on voucher's source
    */
    ctaCopy () {
      let category = this.category
      let source = this.source
      if (category === 'D') {
        return 'Gunakan di ' + this.sourceCopywriting(source)
      } else {
        return 'Gunakan Sekarang'
      }
    },
    /**
     * @vuese
     * returns source copywriting based on voucher's source
     * @arg source: String
    */
    sourceCopywriting (source) {
      if (source === 'smartsaving') {
        return 'Smart Saving'
      } else if (source === 'unallocated') {
        return 'Aset Bebas'
      } else {
        return source
      }
    },
    /**
     * @vuese
     * push voucher's source to list for cashback source list
    */
    pushSourceToSourceList (res) {
      const unallocated = 'unallocated'
      const lifeplan = 'Lifeplan'
      const smartSaving = 'smartsaving'
      if (res.lifeplan === true) {
        this.sourceList.push({
          title: this.sourceCopywriting(lifeplan),
          type: lifeplan,
          route: this.returnRouteSourceVoucher(lifeplan)
        })
      }
      if (res.smartSaving === true) {
        this.sourceList.push({
          title: this.sourceCopywriting(smartSaving),
          type: smartSaving,
          route: this.returnRouteSourceVoucher(smartSaving)
        })
      }
      if (res.asetbebas === true) {
        this.sourceList.push({
          title: this.sourceCopywriting(unallocated),
          type: unallocated,
          route: this.returnRouteSourceVoucher(unallocated)
        })
      }
    },
    /**
     * @vuese
     * returns route based on voucher's source
     * @arg source: String
    */
    returnRouteSourceVoucher (source) {
      // WIP REFACTOR IMPORTANT
      let productId = this.productId
      let smartSaving = this.smartSaving
      let productClass = this.productClass
      if (source === 'smartsaving') {
        localStorage.setItem('halofina-smart-saving', true)
        if (smartSaving) {
          return '/finavest/investment/smart_saving/detail/1'
        } else {
          if (productClass === 'Emas') {
            return '/finavest/portfolio/product/detail_emas/' + productId + '/true'
          } else {
            return '/finavest/portfolio/product/detail/' + productId + '/true'
          }
        }
      } else if (source === 'unallocated') {
        localStorage.setItem('halofina-from-market', true)
        if (productClass === 'Emas') {
          return '/finavest/portfolio/product/detail_emas/' + productId + '/true'
        } else {
          return '/finavest/portfolio/product/detail/' + productId + '/true'
        }
      } else {
        return '/finavest/lifeplan/choose/' + productId
      }
    },
    /**
     * @vuese
     * get voucher detail from local storage
    */
    fetchData () {
      var detail = JSON.parse(localStorage.getItem('halofina-detail-voucher'))
      this.description = detail.description
      this.image = detail.image
      this.name = detail.name
      this.endtime = detail.endtime
      this.tnc = detail.tnc
      this.usage = detail.usage
      this.category = detail.category
      this.productId = detail.productid
      this.productClass = detail.asset_class_name
    },
    /**
     * @vuese
     * fetch KYC status
    */
    fetchStatusKyc () {
      Api('finacheck/kyc/status', {})
        .then((res) => {
          this.status = res.d.status
          this.dialog.dialogRemark = res.d.remark
          this.isLoaded = true
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    /**
     * @vuese
     * check KYC status and outstanding status
    */
    checkKycStatus () {
      // WIP REFACTOR IMPORTANT
      let status = this.status
      let outstanding = checkFeatures('halofina:outstanding').enabled
      let detailVoucher = JSON.parse(localStorage.getItem('halofina-detail-voucher'))
      if (outstanding === true && detailVoucher.category !== 'F') {
        if (status === null) {
          this.dialog.dialogKyc = true
        } else if (status === 'REJECTED') {
          this.dialog.dialogReject = true
        } else {
          this.useVoucher()
        }
      } else {
        if (status === 'PENDING' || status === 'ONPROCESS') {
          this.dialog.dialogPending = true
        } else if (status === 'REJECTED') {
          this.dialog.dialogReject = true
        } else if (status === null) {
          this.dialog.dialogKyc = true
        } else if (status === 'COMPLETED') {
          this.useVoucher()
        }
      }
    },
    /**
     * @vuese
     * go to dashboard if KYC status is not verified
    */
    routeLater () {
      goToDashboard('lifeplan', 'assign')
      this.trackRouteLater()
    },
    /**
     * @vuese
     * go to KYC List if KYC status is not verified
    */
    routeKyc () {
      this.$router.push('/finacheck/kyc/list')
      this.trackRouteKyc()
    },
    /**
     * @vuese
     * track posponed KYC
    */
    trackRouteLater () {
      this.$analytics.track('KYC Postponed')
    },
    /**
     * @vuese
     * track continued KYC
    */
    trackRouteKyc () {
      this.$analytics.track('KYC Continued')
    },
    /**
     * @vuese
     * open error dialog
     * @arg title: String, desc: String
    */
    dialogError (title, desc) {
      this.dialog.dialogError = true
      this.dialog.dialogErrorDesc = desc
    },
    /**
     * @vuese
     * use voucher based on its source
    */
    useVoucher () {
      let category = this.category
      this.dialog.dialogUploading = true
      if (category === 'D') {
        this.validateDiscount()
      } else if (category === 'C') {
        this.validateCashback()
      } else {
        this.callCashForwardApi()
      }
    },
    /**
     * @vuese
     * validate discount
    */
    validateDiscount () {
      let source = this.source
      this.setVoucherData()
      this.$router.push(this.returnRouteSourceVoucher(source))
    },
    /**
     * @vuese
     * validate cashback
    */
    validateCashback () {
      const voucherData = this.getVoucherData()
      let itineraryData = JSON.parse(localStorage.getItem('halofina-itenerary-data'))
      if (itineraryData) {
        itineraryData.detail.forEach((element) => {
          if (checkFeatures('halofina:trx').version > 3) renameObjectKeys(element, 'id_product', 'product_id')
          element.discount_type = voucherData.cashbackUnit
          element.voucher_id = voucherData.cashbackId
          element.general = voucherData.cashbackGeneral
          if (voucherData.cashbackType === 'Cashback') {
            element.cashback = voucherData.cashbackTotal
          } else {
            element.discount = voucherData.cashbackValue
          }
        })
        this.setVoucherData()
        Api('finavest/investment/voucher/validate', {
          detail: itineraryData.detail
        })
          .then((res) => {
            this.dialog.dialogUploading = false
            if (res.d.match === true) {
              localStorage.setItem('halofina-cashback', JSON.stringify(voucherData))
              this.$router.push('/finavest/investment/buy/detail')
            } else {
              this.isDisabled = false
              this.dialog.dialogUploading = false
              this.dialogError('', res.d.remark)
            }
          })
          .catch(() => {
            this.isDisabled = false
            this.dialog.dialogUploading = false
            this.dialogError('', 'Coba reload atau coba beberapa saat lagi')
          })
      } else {
        this.openSheet()
      }
    },
    /**
     * @vuese
     * call cash forward API
    */
    callCashForwardApi () {
      const detailVoucher = this.getVoucherData()
      Api('finavest/transaction/campaign/generate', {
        amount: detailVoucher.cashbackValue,
        voucherid: detailVoucher.cashbackId,
        productid: detailVoucher.cashbackProductId,
        general: detailVoucher.cashbackGeneral,
        payment_channel_id: '1'
      })
        .then((res) => {
          this.$router.replace('/finavest/payment/detail/' + res.d + '/buy/history')
        })
        .catch(() => {
          this.isDisabled = false
          this.dialog.dialogUploading = false
          this.dialog.dialogError = true
        })
    },
    /**
     * @vuese
     * open bottom sheet for cashback voucher type
    */
    openSheet () {
      this.bottomSheet.source = true
    },
    /**
     * @vuese
     * get voucher data to local storage
    */
    getVoucherData () {
      const detailVoucher = JSON.parse(localStorage.getItem('halofina-detail-voucher'))
      let voucherData = {
        cashbackUse: true,
        cashbackType: detailVoucher.category,
        cashbackCode: detailVoucher.voucher_code,
        cashbackMax: Number(detailVoucher.maxredeem),
        cashbackValue: Number(detailVoucher.vouchervalue),
        cashbackTotal: detailVoucher.redeem,
        cashbackId: detailVoucher.voucher_id,
        cashbackUnit: detailVoucher.type,
        cashbackGeneral: detailVoucher.general,
        cashbackProductId: detailVoucher.productid
      }
      return voucherData
    },
    /**
     * @vuese
     * set voucher data to local storage
    */
    setVoucherData () {
      const voucherData = this.getVoucherData()
      localStorage.setItem('halofina-cashback', JSON.stringify(voucherData))
    },
    /**
     * @vuese
     * get voucher cashback source based on product id
    */
    getVoucherCashbackSource () {
      let productId = this.productId
      let category = this.category
      if (category === 'C') {
        Api('finavest/investment/voucher/method/available', {
          product_id: productId
        })
          .then((res) => {
            this.pushSourceToSourceList(res.d)
          })
          .catch(() => {
            this.dialogError('Ada Kesalahan', 'Coba reload atau coba beberapa saat lagi.')
          })
      }
    },
    /**
     * @vuese
     * get voucher discount source based on product id
    */
    getVoucherDiscountSource () {
      let productId = this.productId
      let category = this.category
      if (category === 'D') {
        Api('finavest/investment/voucher/method/available', {
          product_id: productId
        })
          .then((res) => {
            this.pushSourceToSourceList(res.d)
          })
          .catch(() => {
            this.dialogError('Ada Kesalahan', 'Coba reload atau coba beberapa saat lagi.')
          })
      }
    },
    /**
     * @vuese
     * get smart saving data for smart saving route
    */
    getSmartSavingData () {
      ApiGet('v1/investment/wallet/product', {})
        .then((res) => {
          this.smartSaving = res.d
        })
        .catch(() => {
          this.dialogError('Ada kesalahan', 'Coba reload atau oba beberapa saat lagi')
        })
    }
  },
  created () {
    this.fetchData()
    this.fetchStatusKyc()
    this.getSmartSavingData()
    this.getVoucherCashbackSource()
    this.getVoucherDiscountSource()
  }
}
</script>

<style lang="sass">
  .finavest-investment-detail-voucher-card
    *
      margin: 0
      padding: 0

    ol
      padding: 0px 16px

    .bg-radius
      background-color: rgba(0, 0, 0, 0.15)
      border-radius: 100%
      height: 34px
      padding: 5px

    .v-divider
      border-width: thick 0 0 0

    .absolute
      position: absolute

    .v-card
      box-shadow: none

    .v-btn
      height: 56px !important

    .box-shadow-up
      box-shadow: 0px -3px 12px 0px rgba(0,0,0,0.12)

    .fixed-layout
      position: fixed
      background-color: white
      width: 100%
      bottom: 0px

    .tabs-product
      .v-tabs__item
        opacity: 1
        color: #AAADC4
        font-weight: 100

      .v-tabs__item.v-tabs__item--active
        color: #42A5F5
        opacity: 1
        font-weight: bold

    .border-bottom
      border-bottom: 1px solid #E9ECF0

    .v-toolbar
      background-color: transparent !important

</style>
