<template>
  <div class="finavest-list-voucher">
    <reusable-toolbar page-name="Voucher Saya" :change-namespace="true" namespace="dashboard" route="/dashboard?tab=lifeplan"></reusable-toolbar>
      <v-container pa-0 class="toolbar-margin">
        <div class="">
          <!-- <v-tabs centered grow class="tabs-voucher"> -->
            <!-- Tab Title -->
            <!-- <v-tab active-class="active-tab" v-if="checkFeatures('halofina:voucher').version > 1">
              Promo Tersedia
            </v-tab>
            <v-tab active-class="active-tab">
              Voucher Saya
            </v-tab> -->
            <!-- Tab History Buy -->
            <!-- <v-tab-item v-if="checkFeatures('halofina:voucher').version > 1">
              <available></available>
            </v-tab-item> -->
            <!-- Tab History Sell -->
            <!-- <v-tab-item>
            </v-tab-item>
          </v-tabs> -->
          <my-voucher></my-voucher>
        </div>
      </v-container>
    <reusable-dialogs v-model="dialogError" :resize-image="true"></reusable-dialogs>
  </div>
</template>

<script>
// import helpers
import { checkFeatures } from '@/services/Helpers'
// import vuetify component
import {
  VTabs,
  VTab,
  VTabItem
} from 'vuetify/lib'
// Import component for tabs
// const Available = () => import('./Available')
const MyVoucher = () => import('./MyVoucher')

export default {
  components: {
    VTabs,
    VTab,
    VTabItem,
    MyVoucher
  },
  data () {
    return {
      show: false,
      dialogError: false,
      doneLoading: false
    }
  },
  methods: {
    checkFeatures
  }
}
</script>
<style lang="sass">
  .finavest-list-voucher

    .v-toolbar
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

    .full-height
      overflow-y: hidden

    .wrap-container
      width: 100%
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

    .tabs-history
      .v-tabs__item.active-tab
        color: #42A5F5

    .card-wrapper
      border-radius: 6px
      width: auto
      height: auto
      overflow: hidden
      background-color: white

    .card-title
      img
        width: 100%
        height: auto

</style>
