<template>
  <div class="my-voucher" :style="'min-height: ' + screenHeight + 'px;'">
    <v-container pa-0>
      <v-layout column v-if="doneLoading === true">
        <div v-if="voucher.length > 0" class="mt-3">
          <v-flex xs12 v-for="(datas, index) in voucher" :key="datas.id" class="mb-3 mx-3">
            <div class="card-wrapper box-shadow" @click="goToDetail(datas.detail, datas.id)">
              <div class="card-title">
                <v-img :src="datas.detail.image" aspect-ratio="2"></v-img>
              </div>
              <div class="card-body pt-3 px-2 pb-3">
                <div class="body-title nexa-14-bold pb-3 px-1">
                  {{datas.detail.name}}
                </div>
                <v-layout align-center justify-space-between row fill-height px-1>
                  <v-layout align-center class="avenir-12-med color-denotive-red-1" v-if="datas.countdown <= 7">
                    Berakhir dalam {{datas.countdown}} Hari
                  </v-layout>
                  <v-layout v-else align-center class="avenir-12-reg color-text-3 above-week">
                    Berlaku hingga <span class="pl-1 avenir-12-med color-text-3"> {{ dateFormat(datas.detail.endtime, 'DD MMMM YYYY') }} </span>
                  </v-layout>
                  <div class="">
                    <button class="btn-exchange avenir-14-med">Pakai</button>
                  </div>
                </v-layout>
                </div>
              </div>
            </v-flex>
          </div>
        <!-- History Null -->
        <div v-else>
          <div class="min-height">
            <v-layout column justify-center align-center class="padding-top-center">
              <img src="@/assets/finavest/voucher/voucher-null.svg" class="pb-5" alt="illustration-voucher-null">
              <v-card-text class="nexa-18-bold color-text-1 text-xs-center">
                Kamu belum punya voucher
              </v-card-text>
              <div class="px-20">
                <v-card-text class="px-20 avenir-14-reg pt-0 text-xs-center color-text-1">
                  Tunggu voucher-voucher dari promo Halofina, atau masukkan kode voucher di halaman Profil. 
                </v-card-text>
              </div>
            </v-layout>
          </div>
        </div>
      </v-layout>
      <v-layout v-else column justify-center align-center style="height: 85vh">
        <reusable-loading></reusable-loading>
      </v-layout>
    </v-container>
    <reusable-dialogs v-model="dialogError" :resize-image="true"></reusable-dialogs>
  </div>
</template>

<script>
import Api from '@/services/Api'
// Import Helpers in services
import { numberingNumber, dateFormat, capitalizeWord, goToDashboard } from '@/services/Helpers'
import { VImg } from 'vuetify/lib'
// Reusable Components in history
const ReusableDialogs = () => import('@/components/reusable/ReusableDialogs')
const ReusableLoading = () => import('@/components/reusable/ReusableLoading')
const ReusableImageLifeplan = () => import('@/components/reusable/ReusableImageLifeplan')

export default {
  name: 'MyVoucher',
  components: {
    ReusableDialogs,
    ReusableLoading,
    ReusableImageLifeplan,
    VImg
  },
  data () {
    return {
      show: false,
      total: 0,
      voucher: [],
      dialogError: false,
      screenHeight: screen.height - (48 + 48),
      doneLoading: false
    }
  },
  created () {
    this.fetchData()
  },
  methods: {
    dateFormat,
    numberingNumber,
    capitalizeWord,
    /**
     * @vuese
     * redirect to dashboard
    */
    toDashboard () {
      goToDashboard('lifeplan', 'assign')
      this.trackToDashboard()
    },
    /**
     * @vuese
     * track dashboard
    */
    trackToDashboard () {
      this.$analytics.track('Voucher to Dashboard Selected')
    },
    /**
     * @vuese
     * set data detail voucher to locastorage and redirect to page detail voucher
    */
    goToDetail (details, id) {
      var detail = details
      detail.id = id
      localStorage.setItem('halofina-detail-voucher', JSON.stringify(detail))
      this.$router.push('/finavest/investment/detail_voucher_card')
    },
    /**
     * @vuese
     * fetch data voucher list
    */
    fetchData () {
      var itinerary = JSON.parse(localStorage.getItem('halofina-itenerary-data'))
      Api('finavest/investment/voucher/user', {
        fromitinerary: itinerary !== null
      })
        .then((res) => {
          var dataVoucher = []
          res.d.forEach((element) => {
            dataVoucher.push({
              id: element.id,
              detail: element.detail,
              endtime: element.endtime,
              countdown: this.countdown(element.endtime)
            })
          })
          this.voucher = dataVoucher
          this.doneLoading = true
        }).catch(() => {
          this.doneLoading = true
        })
    },
    /**
     * @vuese
     * get remaining voucher days
    */
    countdown (endDate) {
      // Set the date we're counting down to

      // translate to format support safari
      var countDownDateFormat = dateFormat(endDate, 'MM/DD/YYYY hh:mm:ss')
      // get time end date
      var countDownDate = new Date(countDownDateFormat).getTime()
      // Get today's date and time
      var nowDate = new Date()
      // change format support safari
      var nowDate2 = dateFormat(nowDate, 'MM/DD/YYYY hh:mm:ss')
      // get time
      var nowDate3 = new Date(nowDate2).getTime()
      // Find the distance between now and the count down date
      var distance = countDownDate - nowDate3
      // Time calculations for days
      var days = Math.floor(Number(distance) / (1000 * 60 * 60 * 24))
      // return result days
      return days
    }
  }
}
</script>
<style lang="sass">
  .v-tabs__item
    opacity: 1
    color: #A0A5B7
    font-weight: 100

  .v-tabs__item.active-tab
    color: #505565
    opacity: 1
    font-weight: 600

  .my-voucher
    background-color: #fff

    .box-shadow
      box-shadow: 0px 6px 10px rgba(23, 23, 23, 0.05) !important

    .full-height
      overflow-y: hidden
      background-color: #fff


    .wrap-container
      width: 100%
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

    .tabs-history
      .v-tabs__item.active-tab
        color: #42A5F5

    .card-wrapper
      border-radius: 6px
      width: auto
      height: auto
      overflow: hidden
      background-color: white

    .card-title
      width: 100%
      background-color: #e8eaef

      img
        width: 100%
        height: auto

      img
        padding-bottom: 2px

    .btn-exchange
      border-radius: 4px
      background-color: #42A5F5
      padding: 8px 16px
      color: #fff

    .padding-top-center
      padding-top: 15vh

</style>
