<template>
  <div class="market-cart bg-primary-3" :style="minHeight()">
    <reusable-toolbar page-name="Keranjang Belanja" :left="true"></reusable-toolbar>
    <v-container class="toolbar-margin" pa-0>
      <v-layout column>
        <v-flex>
          <div v-for="(cart, index) in cartList" :key="index" style="box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2)">
            <v-card-text class="nexa-14-bold pa-20">{{ cart.title }}</v-card-text>
            <v-layout row v-for="(products, lindex) in cart.products" :key="lindex" align-center pa-3>
              <div class="wrap-img mr-1">
                <img :src="products.product_image" alt="product">
              </div>
              <v-layout column pa-1>
                <v-card-text class="avenir-12-reg mb-2">{{ products.product_name }}</v-card-text>
                <v-layout row>
                  <v-card-text class="avenir-12-med color-primary-1">Rp {{ numberingNumber(products.amount) }}</v-card-text>
                  <v-spacer></v-spacer>
                  <img class="mr-3" :src="require('@/assets/icons/icon-edit.svg')" @click="openSheet(); setProductId(products.product_id, products.amount, products.min_buy)"/>
                  <img :src="require('@/assets/icons/icon-trash.svg')" @click="openPopup(); setProductId(products.product_id, products.amount, products.min_buy)"/>
                </v-layout>
              </v-layout>
            </v-layout>
          </div>
        </v-flex>
        <!-- Layout Pilih -->
        <div style="height: 73px"></div>
        <v-layout row align-center justify-space-between class="box-shadow-up fixed-layout" pa-3>
          <v-flex xs8>
            <v-layout column>
              <v-card-text class="pa-0 avenir-14-reg">Total Harga</v-card-text>
              <v-card-text :class="'pa-0 color-primary-1 nexa-16-bold'">Rp {{ numberingNumber(totalAmount) }}</v-card-text>
            </v-layout>
          </v-flex>
          <v-flex xs4>
            <v-btn depressed class="btn-radius box-shadow" color="warning" block @click="callApiItinerary()">
              Beli
            </v-btn>
          </v-flex>
        </v-layout>
      </v-layout>
    </v-container>
    <!-- Amount Sheet -->
    <reusable-bottom-sheet
      v-model="bottomSheet.buy"
    >
      <v-card flat class="rounded-top-corners" slot="custom-layout">
        <v-layout column>
          <v-flex>
            <v-card-text class="avenir-14-reg pa-0">Mau beli berapa?</v-card-text>
            <input
              v-on:focus="true"
              v-model="product.amount"
              v-money="product.amount !== null ? money : null"
              solo
              flat
              type="tel"
              maxlength="12"
              placeholder="Rp0"
              style="border: 1px solid #E8EAEF; border-radius: 8px; padding: 8px" class="v-input__control bg-primary-3 mb-3"
            />
            <v-card-text class="avenir-12-reg pa-0 py-3">*Minimum Beli Rp {{ numberingNumber(product.minBuy) }}</v-card-text>
            <v-btn color="warning" depressed block class="btn-radius box-shadow" :disabled="isDisabled" @click="editProduct()">Ubah</v-btn>
          </v-flex>
        </v-layout>
      </v-card>
    </reusable-bottom-sheet>
    <!-- Dialog Delete -->
    <reusable-dialogs
      v-model="dialog.dialogDelete"
      title="Apakah kamu sudah yakin?"
      :description="null"
      :image="require('@/assets/finavest/lifeplan/v3/hapus.svg')"
      :is-image-above-title="true"
      :resize-image="true"
    >
      <div slot="layout-button">
        <v-layout row class="px-3 pt-3 pb-3">
          <v-flex xs6 mr-1>
              <v-btn block small color="primary" outline class="btn-radius" @click.native="dialog.dialogDelete = false" depressed>
                  Batal
              </v-btn>
          </v-flex>
          <v-flex xs6 ml-1>
              <v-btn block small color="primary" class="btn-radius" depressed @click="deleteProduct()">
                  Iya
              </v-btn>
          </v-flex>
        </v-layout>
      </div>
    </reusable-dialogs>
    <!-- Dialog Error -->
    <reusable-dialogs
      v-model="dialog.dialogError"
      :is-image-above-title="true"
      :resize-image="true"
    ></reusable-dialogs>
    <!-- Dialog Loading -->
    <reusable-dialogs
      v-model="dialog.dialogLoading"
      :unclickable="true"
    >
      <div slot="layout">
        <v-card flat class="card-radius" style="width: 100%">
          <v-layout py-3 px-5 row align-center justify-center>
            <div class="nexa-14-bold px-5">Memproses...</div>
          </v-layout>
        </v-card>
      </div>
    </reusable-dialogs>
  </div>
</template>
<script>
import { minHeight, numberingNumber, replaceDot } from '@/services/Helpers'
// import { editProduct } from './Helpers'
import ReusableBottomSheet from '@/components/reusable/ReusableBottomSheet'
import Api from '@/services/Api'
import { VMoney } from 'v-money'

export default {
  name: 'MarketCart',
  components: {
    ReusableBottomSheet
  },
  directives: { money: VMoney },
  data () {
    return {
      cartList: [],
      dialog: {
        dialogDelete: false,
        dialogLoading: false,
        dialogError: false
      },
      bottomSheet: {
        buy: false
      },
      product: {
        productId: 0,
        amount: 0,
        minBuy: 0
      },
      money: {
        thousands: '.',
        precision: 0,
        masked: true
      },
      itineraryData: {
        detail: [],
        lifeplan: {
          type: 'unallocated',
          subtype: 'Aset Bebas'
        }
      },
      isDisabled: true
    }
  },
  watch: {
    cartList: {
      handler (value) {
        this.transformItineraryData()
        if (value.length === 0) {
          this.$router.push('/finavest/market/dashboard')
        }
      },
      deep: true
    },
    product: {
      handler (value) {
        if (Number(replaceDot(value.amount)) < value.minBuy) {
          this.isDisabled = true
        } else {
          this.isDisabled = false
        }
      },
      deep: true
    }
  },
  computed: {
    totalAmount: function () {
      var total = 0
      var detail = this.cartList.map((element) => element.products)
      for (var index = 0; index < detail.length; index++) {
        for (var jindex = 0; jindex < detail[index].length; jindex++) {
          total += Number(detail[index][jindex].amount)
        }
      }
      return total
    }
  },
  methods: {
    minHeight,
    numberingNumber,
    replaceDot,
    setCartToLocalStorage (value) {
      localStorage.setItem('halofina-market-cart', JSON.stringify(value))
    },
    editProduct () {
      let detail = this.cartList.map((element) => element.products)
      for (let index = 0; index < detail.length; index++) {
        for (let jindex = 0; jindex < detail[index].length; jindex++) {
          let product = detail[index][jindex]
          if (product.product_id === this.product.productId) {
            product.amount = Number(replaceDot(this.product.amount))
          }
        }
      }
      this.bottomSheet.buy = false
    },
    deleteProduct () {
      let list = this.cartList
      let detail = this.cartList.map((element) => element.products)
      for (let index = 0; index < detail.length; index++) {
        for (let jindex = detail[index].length - 1; jindex >= 0; --jindex) {
          let details = detail[index][jindex]
          let product = detail[index]
          if (details.product_id === this.product.productId) {
            product.splice(jindex, 1)
            if (product.length === 0) {
              list.splice(index, 1)
            }
          }
        }
      }
      this.dialog.dialogDelete = false
    },
    getProducts () {
      let cartList = JSON.parse(localStorage.getItem('halofina-market-cart'))
      this.cartList = this.transformCart(cartList)
      this.transformItineraryData()
    },
    transformItineraryData () {
      let detail = this.cartList.map((element) => element.products)
      let data = []
      for (let index = 0; index < detail.length; index++) {
        for (let jindex = 0; jindex < detail[index].length; jindex++) {
          data.push(detail[index][jindex])
        }
      }
      this.itineraryData.detail = data
      this.setCartToLocalStorage(data)
    },
    transformCart (datas) {
      // Group by asset name
      let grouped = datas.reduce(function (r, a) {
        r[a.asset_class_name] = r[a.asset_class_name] || []
        r[a.asset_class_name].push(a)
        return r
      }, Object.create(null))
      // iterate grouped object and push grouped to array
      let data = Object.entries(grouped).map(([key, value]) => {
        return {
          title: key,
          products: value
        }
      })
      return data
    },
    openSheet () {
      this.bottomSheet.buy = true
    },
    openPopup () {
      this.dialog.dialogDelete = true
    },
    setProductId (id, amount, minBuy) {
      this.product.productId = id
      this.product.amount = amount
      this.product.minBuy = minBuy
    },
    removeReloadFlag () {
      localStorage.removeItem('halofina-market-reload')
    },
    callApiItinerary () {
      this.transformItineraryData()
      this.dialog.dialogLoading = true
      Api('finavest/transaction/itinerary', this.itineraryData)
        .then((res) => {
          localStorage.setItem('halofina-itenerary-data', JSON.stringify(res.d))
          this.$router.push('/finavest/investment/buy/detail')
          this.dialog.dialogLoading = false
        })
        .catch(() => {
          this.dialog.dialogLoading = false
          this.dialog.dialogError = true
        })
    }
  },
  created () {
    this.getProducts()
  }
}
</script>
<style lang="sass">
  .market-cart
    *
      margin: 0px
      padding: 0px

    .wrap-img
      border: 1px solid #E9ECF0
      background: white
      padding: 4px 4px 0 4px
      border-radius: 3px
      width: 48px
      height: 48px
      overflow: hidden
      position: relative

      img
        width: 48px
        height: auto
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
</style>
