<template>
  <div class="market-category">
    <reusable-toolbar page-name="Kategori Pasar Produk" :left="true"></reusable-toolbar>
    <v-layout column px-20 pt-3 class="toolbar-margin">
      <v-layout row v-for="(data, index) in list" justify-space-between align-center class="bg-primary-3 wrap-list mb-3 px-20 py-3" @click="gotoProduct(data.id)">
        <reusable-image-asset :rounded="true" :type="data.name" class="pr-20" :style-image="'width: 36px; height: 36px; margin-bottom: -3px;'"></reusable-image-asset>
        <v-layout column justify-center>
          <v-card-text v-if="data.name !== 'Emas'" class="avenir-14-reg color-text-3">
            Reksa Dana
          </v-card-text>
          <v-card-text class="avenir-16-med color-text-1">
            {{data.name.replace('Reksadana', '')}}
          </v-card-text>
        </v-layout>
        <img src="@/assets/finacheck/kyc/ic-arrow.svg" alt="icon arrow" class="ic-arrow">
      </v-layout>
    </v-layout>
  </div>
</template>
<script>
// import reusable image assets
import ReusableImageAsset from '@/components/reusable/ReusableImageAsset'

export default {
  components: {
    ReusableImageAsset
  },
  data: () => ({
    list: [
      {
        name: 'Reksadana Pasar Uang',
        id: 1
      },
      {
        name: 'Reksadana Pendapatan Tetap',
        id: 2
      },
      {
        name: 'Reksadana Campuran',
        id: 3
      },
      {
        name: 'Reksadana Saham',
        id: 5
      },
      {
        name: 'Emas',
        id: 4
      }
      // {
      //   name: 'Sukuk Obligasi'
      // },
      // {
      //   name: 'Peer to Peer Lending'
      // }
    ]
  }),
  methods: {
    gotoProduct (id) {
      this.$router.push('/finavest/market/product/' + id)
    }
  }
}
</script>
<style lang="sass">
  .market-category
    *
      padding: 0
      margin: 0

    .v-toolbar
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

    .toolbar-margin
      margin-top: 48px !important

    .wrap-list
      border: 1px solid #E8EAEF
      border-radius: 8px
</style>
