<template>
  <div class="product-market-dashboard" v-if="isLoaded">
    <v-layout column class="bg-primary-3 class-header full-width">
      <reusable-toolbar page-name="Pasar Produk" :left="true" :change-namespace="true" namespace="dashboard" route="/dashboard?tab=lifeplan">
        <!-- <div slot="button-toolbar-right">
          <img src="@/assets/finavest/market/ic-bookmark.svg" class="mr-3" alt="ic bookmark">
        </div> -->
      </reusable-toolbar>
    </v-layout>
    <div class="full-width" style="height: 50px;"></div>
    <v-layout row justify-space-between align-end mt-3 mb-4 class="mx-20">
    <!-- tambal gan -->
      <v-card-text class="nexa-16-bold color-text-1">
        Kategori
      </v-card-text>
      <v-card-text class="avenir-12-reg color-brand-1 text-xs-right" @click="goCategory()">
        Selengkapnya
      </v-card-text>
    </v-layout>

    <!-- card product -->
    <div class="px-1">
      <v-layout row wrap px-2>
        <v-flex xs6 mb-3 v-for="data in category" @click="gotoProduct(data.id)">
          <v-layout row :class="'wrap-' + data.class + ' px-2 py-3 mx-2'">
            <v-layout column justify-center>
              <v-card-text v-if="data.name !== 'Emas'" class="avenir-12-reg color-primary-3">
                Reksa Dana
              </v-card-text>
              <v-card-text class="avenir-12-med color-primary-3">
                {{data.name}}
              </v-card-text>
            </v-layout>
            <img :src="data.img" :alt="data.name">
          </v-layout>
        </v-flex>
      </v-layout>
    </div>

    <v-card-text class="px-20 pt-3 nexa-16-bold color-text-1">
      Produk Terlaris
    </v-card-text>

    <div>

    <div v-for="data in productFav">
      <v-layout row justify-space-between align-end class="mx-20 mt-3">
        <v-flex xs8>
          <v-card-text class="avenir-14-reg color-text-1">
            {{data.asset_name}}
          </v-card-text>
        </v-flex>
        <v-flex xs4>
          <v-card-text class="avenir-12-reg color-brand-1 text-xs-right" @click="gotoProduct(data.id_asset_class)">
            Selengkapnya
          </v-card-text>
        </v-flex>
      </v-layout>
      <!-- card product -->
      <v-layout row class="scroll-wrapper pl-20 mt-3" style="overflow: auto;">
        <div class="scroll-child mr-3" v-for="product in data.products.slice(0, 3)" :key="product.product_name">
          <v-layout column class="bg-primary-3 py-2 wrap-card-product" @click="goToDetail(product.productid, product.product_asset_class)" v-if="product.product_name">
            <img v-if="product.is_sharia === '1'" src="@/assets/finavest/market/syariah.svg" alt="syariah" class="flag-syariah">
            <v-layout row justify-space-between align-center>
              <v-layout row align-center>
                <div class="wrap-img mr-1">
                  <img :src="product.product_image" alt="product">
                </div>
                <v-layout column ml-2 style="margin-right: 40px;">
                  <v-card-text class="avenir-12-med text-truncate">
                    {{product.product_name}}
                  </v-card-text>
                  <!-- If Asset class is not gold -->
                  <div v-if="product.product_asset_class !== '4'">
                    <v-card-text class="avenir-10-reg color-text-3">
                      Kinerja 1 tahun
                    </v-card-text>
                    <v-card-text class="avenir-12-med">
                      {{product.year_performance}}%
                    </v-card-text>
                  </div>
                </v-layout>
              </v-layout>
            </v-layout>
            <!-- If Asset class is not gold -->
            <v-layout row wrap pt-2 justify-space-between v-if="product.product_asset_class !== '4'">
              <v-layout column mt-1>
                <v-card-text class="avenir-12-reg color-text-3">
                  Minimal Pembelian
                </v-card-text>
                <v-card-text class="avenir-12-med">
                  Rp {{numberingNumber(product.min_buy)}}
                </v-card-text>
              </v-layout>
              <v-layout column mt-1 align-end>
                <v-card-text class="avenir-12-reg text-xs-right color-text-3">
                  Total Dana Kelolaan
                </v-card-text>
                <v-card-text class="avenir-12-med text-xs-right">
                  {{product.aum}}
                </v-card-text>
              </v-layout>
            </v-layout>
            <!-- If asset class is gold -->
            <v-layout row wrap pt-2 justify-space-between v-else>
              <v-layout column mt-1>
                <v-card-text class="avenir-12-reg color-text-3">
                  Harga Beli
                </v-card-text>
                <v-card-text class="avenir-12-med">
                  Rp {{numberingNumber(product.buy_price)}}
                </v-card-text>
              </v-layout>
              <v-layout column mt-1 align-end>
                <v-card-text class="avenir-12-reg text-xs-right color-text-3">
                  Harga Jual
                </v-card-text>
                <v-card-text class="avenir-12-med text-xs-right">
                  Rp {{numberingNumber(product.sell_price)}}
                </v-card-text>
              </v-layout>
            </v-layout>
          </v-layout>
        </div>
      </v-layout>

    </div>

    </div>

    <!-- cart -->
    <div style="height: 76px"></div>
    <div class="fixed-layout" v-if="cart.totalProduct > 0">
      <v-layout row align-center justify-space-between px-3 py-2 class="cart mx-20" @click="$router.push('/finavest/market/cart')">
        <v-layout row>
          <img src="@/assets/finavest/payment/zakat/cart.svg" class="mr-2" alt="logo cart">
          <v-layout column ml-1>
            <v-flex xs12 class="item avenir-12-reg color-primary-3">
              {{ cart.totalProduct }} Produk
            </v-flex>
            <v-flex xs12 class="nexa-14-bold color-primary-3">
              Rp {{ numberingNumber(cart.totalAmount) }}
            </v-flex>
          </v-layout>
        </v-layout>
        <div class="circle-chevron">
          <img src="@/assets/finavest/market/ic-chevron-right.svg" alt="ic chevron right">
        </div>
      </v-layout>
    </div>
  </div>
  <div v-else>
    <v-layout column justify-center align-center :style="'min-height: ' + screenHeight + 'px;'">
      <reusable-loading></reusable-loading>
    </v-layout>
  </div>
</template>
<script>
import ApiGet from '@/services/ApiGet'
import { numberingNumber } from '@/services/Helpers'

export default {
  name: 'FinavestMarketDashboard',
  data () {
    return {
      productFav: null,
      isLoaded: false,
      screenHeight: screen.height,
      cart: {
        totalProduct: 0,
        totalAmount: 0
      },
      category: [
        {
          id: 1,
          name: 'Pasar Uang',
          class: 'pasaruang',
          img: require('@/assets/finavest/market/pasar-uang.svg')
        },
        {
          id: 2,
          name: 'Pendapatan Tetap',
          class: 'pendapatantetap',
          img: require('@/assets/finavest/market/pendapatan-tetap.svg')
        },
        {
          id: 5,
          name: 'Saham',
          class: 'saham',
          img: require('@/assets/finavest/market/saham.svg')
        },
        {
          id: 4,
          name: 'Emas',
          class: 'emas',
          img: require('@/assets/finavest/market/emas.svg')
        }
      ]
    }
  },
  methods: {
    numberingNumber,
    goCategory () {
      this.$router.push('/finavest/market/category')
    },
    gotoProduct (id) {
      this.$router.push('/finavest/market/product/' + id)
    },
    goToDetail (id, assetClass) {
      if (Number(assetClass) === 4) {
        this.$router.push('/finavest/portfolio/product/detail_emas/' + id + '/' + true)
      } else {
        this.$router.push('/finavest/portfolio/product/detail/' + id + '/' + true)
      }
    },
    goSearch () {
      this.$router.push('/finavest/market/search')
    },
    getFavProduct () {
      ApiGet('finavest/market/favorites/products')
        .then((res) => {
          this.productFav = res.d
          this.isLoaded = true
        })
        .catch()
    },
    getCartData () {
      let cart = JSON.parse(localStorage.getItem('halofina-market-cart'))
      if (cart) {
        this.cart.totalProduct = cart.length
        this.cart.totalAmount = cart.map((element) => Number(element.amount)).reduce((prev, next) => prev + next)
      }
    },
    setFromMarket () {
      localStorage.setItem('halofina-from-market', true)
    }
  },
  created () {
    this.getFavProduct()
    this.setFromMarket()
    this.getCartData()
  }
}
</script>
<style lang="sass">
  .product-market-dashboard
    *
      margin: 0
      padding: 0

    .theme--light.v-icon
      color: #B3B7C6 !important

    .v-toolbar
      position: relative !important

    .class-header
      position: fixed
      border-bottom: 1px solid #F9F9FB
      top: 0
      z-index: 10

    .wrap-pasaruang
      background: #5ED07E
      box-shadow: 0px 4px 8px rgba(16, 207, 153, 0.24)
      border-radius: 8px

    .wrap-pendapatantetap
      background: #42A5F5
      box-shadow: 0px 4px 8px rgba(66, 165, 245, 0.24)
      border-radius: 8px

    .wrap-emas
      background: #FFBD59
      box-shadow: 0px 4px 8px rgba(208, 176, 94, 0.33)
      border-radius: 8px

    .wrap-saham
      background: #FF8E8E
      box-shadow: 0px 4px 8px rgba(239, 83, 80, 0.24)
      border-radius: 8px

    .wrap-card-product
      width: 297px
      box-shadow: 0px 2px 2px rgba(232, 233, 238, 0.43)
      border-radius: 8px
      padding: 0 12px
      border: 1px solid #E8EAEF
      position: relative

      .flag-syariah
        position: absolute
        right: -6px
        top: 10px

    .wrap-img
      border: 1px solid #E9ECF0
      background: white
      padding: 4px 4px 0 4px
      border-radius: 3px
      width: 44px
      height: 44px
      overflow: hidden
      position: relative

      img
        width: 35px
        height: auto
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

    .fixed-layout
      position: fixed
      bottom: 20px
      background: transparent

      .cart
        background: #51AAF4
        box-shadow: 0px 4px 8px rgba(33, 123, 228, 0.25)
        border-radius: 8px

    .circle-chevron
      background: #236CC6
      opacity: 0.2
      width: 40px
      height: 40px
      border-radius: 50%
      position: relative

      img
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)

    .scroll-wrapper
      .scroll-child:last-child
        .wrap-card-product
          margin-right: 20px !important

</style>
