<template>
  <div class="product-market-product">
    <v-layout column class="bg-primary-3 class-header full-width">
      <v-layout row justify-space-between align-center class="px-20 pt-3">

        <img src="@/assets/icons/icon-back.svg" class="pr-3" alt="icon back" @click="goBack()">

        <v-layout column v-for="data in list" v-if="data.id === Number(classAssetId)">
          <v-card-text class="avenir-12-reg" v-if="data.id !== 4">
            Reksa Dana
          </v-card-text>
          <v-card-text class="nexa-16-bold color-text-1">
            {{data.name.replace('Reksadana', '')}}
          </v-card-text>
        </v-layout>

        <v-layout row justify-end>
          <img src="@/assets/finavest/market/ic-sliders.svg" class="pr-3" alt="ic-sliders" @click="bottomsheet.filter = true">
          <img src="@/assets/finavest/market/ic-sort.svg" alt="ic-sort" @click="bottomsheet.sort = true">
        </v-layout>
      </v-layout>
      <v-text-field class="pb-3 avenir-16-reg color-text-4 mx-20 mt-3" type="search" id="search" v-on:focus="fetchApiStopTypingDuration()" placeholder="Cari Produk..." solo flat v-model="search" hide-details prepend-inner-icon="search"></v-text-field>
    </v-layout>
    <div class="full-width" style="height: 121px;"></div>

    <div v-if="isLoaded">
      <div v-if="product.length === 0">
        <v-layout column justify-center align-center :style="'min-height: ' + screenHeight + 'px;'">
          <img src="@/assets/finavest/market/error.svg" alt="Tidak di Temukan">
          <v-card-text class="pt-4 nexa-16-bold color-text-2 text-xs-center">
            Produk tidak ditemukan
          </v-card-text>
        </v-layout>
      </div>
    <div class="mt-3" v-else>
      <!-- card product -->
      <v-layout v-for="data in product" column class="px-20" @click="goToDetail(data.id, data.asset_class_id)" :key="data.name">
        <div class="mb-3">
          <v-layout column class="bg-primary-3 py-2 wrap-card-product">
            <img v-if="data.is_sharia === '1'" src="@/assets/finavest/market/syariah.svg" alt="syariah" class="flag-syariah">
            <v-layout row justify-space-between align-center>
              <v-layout row align-center>
                <div class="wrap-img mr-1">
                  <img :src="data.product_image" alt="product">
                </div>
                <v-layout column ml-2 style="margin-right: 40px;">
                  <v-card-text class="avenir-12-med text-truncate">
                    {{data.name}}
                  </v-card-text>
                  <!-- Show year performance if asset class is not gold -->
                  <div v-if="data.asset_class_id !== '4'">
                    <v-card-text class="avenir-10-reg color-text-3">
                      Kinerja 1 tahun
                    </v-card-text>
                    <v-card-text class="avenir-12-med">
                      {{data.productNav_year_performance}}%
                    </v-card-text>
                  </div>
                </v-layout>
              </v-layout>
            </v-layout>
            <!-- If Asset class is not gold -->
            <v-layout row wrap pt-2 justify-space-between v-if="data.asset_class_id !== '4'">
              <v-layout column mt-1>
                <v-card-text class="avenir-12-reg color-text-3">
                  Minimal Pembelian
                </v-card-text>
                <v-card-text class="avenir-12-med">
                  Rp{{numberingNumber(data.min_buy)}}
                </v-card-text>
              </v-layout>
              <v-layout column mt-1 align-end>
                <v-card-text class="avenir-12-reg text-xs-right color-text-3">
                  Total Dana Kelolaan
                </v-card-text>
                <v-card-text class="avenir-12-med text-xs-right">
                  {{data.productNav_aum}}
                </v-card-text>
              </v-layout>
            </v-layout>
            <!-- If asset class is gold -->
            <v-layout row wrap pt-2 justify-space-between v-else>
              <v-layout column mt-1>
                <v-card-text class="avenir-12-reg color-text-3">
                  Harga Beli
                </v-card-text>
                <v-card-text class="avenir-12-med">
                  Rp{{numberingNumber(data.productNav_buy_price)}}
                </v-card-text>
              </v-layout>
              <v-layout column mt-1 align-end>
                <v-card-text class="avenir-12-reg text-xs-right color-text-3">
                  Harga Jual
                </v-card-text>
                <v-card-text class="avenir-12-med text-xs-right">
                  Rp{{numberingNumber(data.productNav_sell_price)}}
                </v-card-text>
              </v-layout>
            </v-layout>
          </v-layout>
        </div>
      </v-layout>
    </div>
    </div>
    <div v-else>
      <v-layout column justify-center align-center :style="'min-height: ' + screenHeight + 'px;'">
        <reusable-loading></reusable-loading>
      </v-layout>
    </div>

    <!-- v bottom sheet jenis asset -->
    <reusable-bottom-sheet v-model="bottomsheet.filter" :use-padding="false" :persistent="true">
      <v-layout column pa-0 class="bg-primary-3" slot="custom-layout">
        <v-layout style="border-bottom: 1px solid #E8EAEF" row justify-space-between px-3 py-3>
          <div class="nexa-16-bold">Filter Berdasarkan</div>
          <v-icon style="font-size: 20px !important; color: #232735 !important" @click="bottomsheet.filter = false">close</v-icon>
        </v-layout>
        <v-layout row justify-space-between align-center class="py-3 pl-3 wrap-input" style="border-bottom: 1px solid #E8EAEF">
          <v-card-text class="pa-0 avenir-16-reg">
            Produk Syariah
          </v-card-text>
          <v-checkbox
            class="pr-2"
            v-model="shariah"
            hide-details
          ></v-checkbox>
        </v-layout>
        <div class="ma-3">
          <v-btn color="primary" :disabled="disabledButton" class="btn-terapkan full-width nexa-16-bold color-primary-3" @click="filterProduct()">Terapkan</v-btn>
        </div>
      </v-layout>
    </reusable-bottom-sheet>

    <!-- v bottom sheet jenis asset -->
    <reusable-bottom-sheet v-model="bottomsheet.sort" :use-padding="false" :persistent="true">
      <v-layout column pa-0 class="bg-primary-3" slot="custom-layout">
        <v-layout style="border-bottom: 1px solid #E8EAEF" row justify-space-between px-3 py-3>
          <div class="nexa-16-bold">Urutkan berdasarkan</div>
          <v-icon style="font-size: 20px !important; color: #232735 !important" @click="bottomsheet.sort = false">close</v-icon>
        </v-layout>
        <div style="height: 340px; overflow-y: scroll;">
          <v-layout row justify-space-between align-center class="py-3 pl-3 wrap-input" style="border-bottom: 1px solid #E8EAEF" v-for="(data, index) in sorting" :key="index">
            <v-card-text class="pa-0 avenir-16-reg">
              {{data.name}}
            </v-card-text>
            <v-radio-group v-model="sortData">
              <v-radio
                :key="index"
                :value="index"
                hide-details
                style="position: absolute; right: -10px;"
              ></v-radio>
            </v-radio-group>
          </v-layout>
        </div>
        <div class="ma-3">
          <v-btn color="primary" :disabled="disabledButtonSort" class="btn-terapkan full-width nexa-16-bold color-primary-3" @click="sortProduct()">Terapkan</v-btn>
        </div>
      </v-layout>
    </reusable-bottom-sheet>

  </div>
</template>
<script>

import { VCheckbox, VRadioGroup, VRadio } from 'vuetify/lib'
import ApiGet from '@/services/ApiGet'
import { numberingNumber } from '@/services/Helpers'
import ReusableBottomSheet from '@/components/reusable/ReusableBottomSheet'

export default {
  name: 'ProductMarketProduct',
  components: {
    ReusableBottomSheet,
    VCheckbox,
    VRadioGroup,
    VRadio
  },
  data: () => ({
    bottomsheet: {
      filter: false,
      sort: false
    },
    disabledButton: false,
    disabledButtonSort: false,
    screenHeight: screen.height - 136,
    search: '',
    isLoaded: false,
    shariah: false,
    product: null,
    classAssetId: null,
    sortData: null,
    sorting: [
      {
        name: 'Nilai Aktiva Bersih Tertinggi'
      },
      {
        name: 'Nilai Aktiva Bersih Terendah'
      },
      {
        name: 'Performa Tertinggi'
      },
      {
        name: 'Performa Terendah'
      },
      {
        name: 'Minimum Beli Tertinggi'
      },
      {
        name: 'Minimum Beli Terendah'
      }
    ],
    list: [
      {
        name: 'Reksadana Pasar Uang',
        id: 1
      },
      {
        name: 'Reksadana Pendapatan Tetap',
        id: 2
      },
      {
        name: 'Reksadana Campuran',
        id: 3
      },
      {
        name: 'Reksadana Saham',
        id: 5
      },
      {
        name: 'Emas',
        id: 4
      }
    ]
  }),
  methods: {
    numberingNumber,
    goCategory () {
      this.$router.push('/finavest/market/category')
    },
    goSearch () {
      this.$router.push('/finavest/market/search')
    },
    goToDetail (id, assetClass) {
      if (Number(assetClass) === 4) {
        this.$router.push('/finavest/portfolio/product/detail_emas/' + id + '/' + true)
      } else {
        this.$router.push('/finavest/portfolio/product/detail/' + id + '/' + true)
      }
    },
    fetchApiStopTypingDuration () {
      // Get the input box
      var textInputSearch = document.getElementById('search')
      // Init a timeout variable to be used below
      var timeout = null
      var self = this
      // Listen for keystroke events
      textInputSearch.onkeyup = function (e) {
        // Clear the timeout if it has already been set.
        // This will prevent the previous task from executing
        clearTimeout(timeout)
        // Make a new timeout set to go off in 1s
        timeout = setTimeout(function () {
          self.getSearch(self.search)
        }, 800)
      }
    },
    getSearch (query) {
      this.isLoaded = false
      if (this.search === '') {
        if (this.shariah === true) {
          ApiGet('finavest/market/products?id_asset_class=' + this.classAssetId + '&is_sharia=1')
            .then((res) => {
              this.product = res.d
              this.isLoaded = true
            })
            .catch()
        } else {
          this.getProduct()
        }
      } else {
        if (this.shariah === true) {
          ApiGet('finavest/market/products?id_asset_class=' + this.classAssetId + '&query=' + query + '&is_sharia=1')
            .then((res) => {
              this.product = res.d
              this.isLoaded = true
            })
            .catch()
        } else {
          ApiGet('finavest/market/products?id_asset_class=' + this.classAssetId + '&query=' + query)
            .then((res) => {
              this.product = res.d
              this.isLoaded = true
            })
            .catch()
        }
      }
    },
    filterProduct () {
      this.isLoaded = false
      this.disabledButton = true
      let data
      if (this.shariah === true) {
        data = 1
      } else {
        data = 0
      }

      if (this.search !== '') {
        ApiGet('finavest/market/products?id_asset_class=' + this.classAssetId + '&query=' + this.search + '&is_sharia=' + data)
          .then((res) => {
            this.product = res.d
            this.disabledButton = false
            this.bottomsheet.filter = false
            this.isLoaded = true
          })
          .catch()
      } else {
        ApiGet('finavest/market/products?is_sharia=' + data + '&id_asset_class=' + this.classAssetId)
          .then((res) => {
            this.product = res.d
            this.disabledButton = false
            this.bottomsheet.filter = false
            this.isLoaded = true
          })
          .catch()
      }
    },
    sortProduct () {
      let dataSort
      switch (this.sortData) {
        // 'Nilai Aktiva Bersih Tertinggi'
        case 0:
          dataSort = this.product.sort((a, b) => (Number(a.productNav_buy_price) < Number(b.productNav_buy_price)) ? 1 : -1)
          break
        // 'Nilai Aktiva Bersih Terendah'
        case 1:
          dataSort = this.product.sort((a, b) => (Number(a.productNav_buy_price) > Number(b.productNav_buy_price)) ? 1 : -1)
          break
        // 'Performa Tertinggi'
        case 2:
          dataSort = this.product.sort((a, b) => (Number(a.productNav_year_performance) < Number(b.productNav_year_performance)) ? 1 : -1)
          break
        // 'Performa Terendah'
        case 3:
          dataSort = this.product.sort((a, b) => (Number(a.productNav_year_performance) > Number(b.productNav_year_performance)) ? 1 : -1)
          break
        // 'Minimum Beli Tertinggi'
        case 4:
          dataSort = this.product.sort((a, b) => (Number(a.min_buy) < Number(b.min_buy)) ? 1 : -1)
          break
        // 'Minimum Beli Terendah'
        case 5:
          dataSort = this.product.sort((a, b) => (Number(a.min_buy) > Number(b.min_buy)) ? 1 : -1)
          break
        // 'else'
        default:
          dataSort = this.product
      }
      // dataSort = this.product.sort((a, b) => parseFloat(a.min_buy) - parseFloat(b.min_buy))
      this.product = dataSort
      this.bottomsheet.sort = false
    },
    getProduct () {
      ApiGet('finavest/market/products?id_asset_class=' + this.classAssetId)
        .then((res) => {
          this.product = res.d
          this.isLoaded = true
        })
        .catch()
    },
    goBack () {
      this.$router.go(-1)
    }
  },
  created () {
    this.classAssetId = this.$route.params.id
    this.getProduct()
  }
}
</script>
<style lang="sass" scoped>
  .v-input--selection-controls
    margin-top: 0 !important
    padding-top: 0 !important

  .btn-terapkan
    height: 56px !important
    box-shadow: none !important
    border-radius: 4px !important

  .v-input--selection-controls:not(.v-input--hide-details) .v-input__slot
    margin-bottom: 12px !important

  .v-input--selection-controls__input
    margin-right: 0 !important

  .product-market-product
    *
      margin: 0
      padding: 0

    .theme--light.v-icon
      color: #B3B7C6 !important

    .v-toolbar
      position: relative !important

    .class-header
      position: fixed
      border-bottom: 1px solid #F9F9FB
      top: 0
      z-index: 10

    .wrap-pasaruang
      background: #5ED07E
      box-shadow: 0px 4px 8px rgba(16, 207, 153, 0.24)
      border-radius: 8px

    .wrap-pendapatantetap
      background: #42A5F5
      box-shadow: 0px 4px 8px rgba(16, 207, 153, 0.24)
      border-radius: 8px

    .wrap-campuran
      background: #5ED0CF
      box-shadow: 0px 4px 8px rgba(16, 207, 153, 0.24)
      border-radius: 8px

    .wrap-saham
      background: #FF8E8E
      box-shadow: 0px 4px 8px rgba(16, 207, 153, 0.24)
      border-radius: 8px

    .wrap-card-product
      box-shadow: 0px 2px 2px rgba(232, 233, 238, 0.43)
      border-radius: 8px
      padding: 0 12px
      border: 1px solid #E8EAEF
      position: relative

      .flag-syariah
        position: absolute
        right: -6px
        top: 10px

    .wrap-img
      border: 1px solid #E9ECF0
      background: white
      padding: 4px 4px 0 4px
      border-radius: 3px
      width: 44px
      height: 44px
      overflow: hidden
      position: relative

      img
        width: 35px
        height: auto
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

    .fixed-layout
      position: fixed
      bottom: 20px
      background: transparent

      .cart
        background: #51AAF4
        box-shadow: 0px 4px 8px rgba(33, 123, 228, 0.25)
        border-radius: 8px

    .circle-chevron
      background: #236CC6
      opacity: 0.2
      width: 40px
      height: 40px
      border-radius: 50%
      position: relative

      img
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
</style>
