<template>
  <div class="market-search bg-primary-3" :style="'min-height: '+ screenHeight +'px;'">
    <div class="pt-3 px-20">
      <v-layout row style="background: #F9FAFC; border-radius: 4px;" class="px-3">
        <img src="@/assets/finavest/market/ic-arrow-left.svg" alt="ic-arrow-left">
        <v-text-field class="avenir-16-reg color-text-4 mx-2" v-on:keyup.enter="getSearch(search)" placeholder="Cari Produk..." v-model="search" hide-details></v-text-field>
      </v-layout>

      <v-card-text class="nexa-14-bold color-text-3 my-3">
        Pencarian Terakhir
      </v-card-text>

      <v-layout row justify-space-between py-3 v-for="(data, index) in lastSearch" @click="" class="border-bottom-list" :key="index">
        <span class="avenir-16-reg">{{data.query}}</span>
        <img src="@/assets/finacheck/kyc/ic-arrow.svg" alt="icon arrow" class="ic-arrow">
      </v-layout>

    </div>
  </div>
</template>
<script>
import ApiGet from '@/services/ApiGet'

export default {
  data: () => ({
    screenHeight: screen.height,
    lastSearch: null,
    search: null
  }),
  methods: {
    getlastSearch () {
      ApiGet('finavest/market/user/queries')
        .then((res) => {
          this.lastSearch = res.d
        })
        .catch()
    },
    getSearch (query) {
      ApiGet('finavest/market/products?query=' + query)
        .then(() => {
          // this.lastSearch = res.d
        })
        .catch()
    }
  },
  created () {
    this.getlastSearch()
  }
}
</script>
<style lang="sass">
  .market-search
    *
      padding: 0
      margin: 0

    .theme--light.v-text-field > .v-input__control > .v-input__slot:before,
    .v-text-field > .v-input__control > .v-input__slot:after
        display: none !important

    .border-bottom-list
      border-bottom: 1px solid #E8EAEF

</style>
