<template>
  <!-- Amount Sheet -->
  <reusable-bottom-sheet
    v-model="mutableIsOpen"
  >
    <v-card flat class="rounded-top-corners" slot="custom-layout">
      <v-layout column>
        <v-flex>
          <v-card-text class="avenir-14-reg pa-0 mb-2">Mau beli berapa?</v-card-text>
          <input
            v-on:focus="true"
            v-model="amountBuy"
            v-money="money"
            solo
            flat
            type="tel"
            maxlength="12"
            placeholder="Rp 0"
            style="border: 1px solid #E8EAEF; border-radius: 8px; padding: 8px" class="v-input__control bg-primary-3 mb-3"
          />
          <v-card-text class="avenir-12-reg pa-0 py-3" v-if="product.detail.length > 0">*Minimum Beli Rp {{ numberingNumber(product.detail[0].min_buy) }}</v-card-text>
          <v-btn color="warning" depressed block class="btn-radius box-shadow" :disabled="isDisabled" @click="callApiItinerary()">Beli</v-btn>
        </v-flex>
      </v-layout>
    </v-card>
  </reusable-bottom-sheet>
</template>

<script>
import Api from '@/services/Api'
import { replaceDot, numberingNumber } from '@/services/Helpers'
import { VMoney } from 'v-money'
const ReusableBottomSheet = () => import('@/components/reusable/ReusableBottomSheet')

export default {
  props: {
    isOpen: {
      type: Boolean,
      default: false
    },
    productId: {
      type: Number,
      default: null
    },
    minBuy: {
      type: Number,
      default: 0
    }
  },
  components: {
    ReusableBottomSheet
  },
  directives: { money: VMoney },
  data () {
    return {
      amountBuy: 0,
      isDisabled: true,
      money: {
        thousands: '.',
        precision: 0,
        masked: true
      },
      product: {
        lifeplan: {
          subtype: 'Aset Bebas'
        },
        detail: []
      }
    }
  },
  model: {
    prop: 'isOpen',
    event: 'is-open-change'
  },
  computed: {
    mutableIsOpen: {
      get: function () {
        return this.isOpen
      },
      set: function (value) {
        this.$emit('is-open-change', value)
      }
    }
  },
  watch: {
    productId: function (value) {
      this.setProduct(value)
    },
    amountBuy: function (value) {
      if (Number(replaceDot(value)) >= this.product.detail[0].min_buy) {
        this.isDisabled = false
      } else {
        this.isDisabled = true
      }
    }
  },
  created () {
    if (this.productId) this.setProduct(this.productId)
  },
  methods: {
    replaceDot,
    numberingNumber,
    setProduct (id) {
      Api('v0/investment/unallocated/product/' + id, {})
        .then((res) => {
          this.transformItineraryData(res.d)
        })
        .catch((err) => {
          console.log(err)
        })
    },
    transformItineraryData (product) {
      this.product.detail.pop()
      let detail = {
        amount: 0,
        asset_class_id: product.asset_class_id,
        asset_class_name: product.asset_class_name,
        min_buy: product.min_buy,
        product_id: product.product_id,
        product_image: product.product_image,
        product_name: product.product_name,
        ri: 0
      }
      this.product.detail.push(detail)
    },
    callApiItinerary () {
      const detail = this.product.detail[0]
      detail.amount = Number(replaceDot(this.amountBuy))
      detail.ri = Number(replaceDot(this.amountBuy))
      Api('finavest/transaction/itinerary', this.product)
        .then((res) => {
          localStorage.setItem('halofina-itenerary-data', JSON.stringify(res.d))
          localStorage.setItem('halofina-from-market', true)
          this.$router.push('/finavest/investment/buy/detail')
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    }
  }
}
</script>
