<template>
  <div class="finapedia-article-detail" style="background-color: white" v-if="dataLoaded">
    <v-container class="pa-0 pos-relative">
      <reusable-toolbar page-name="Article Detail" :is-title-visible="false" :class-name="toolbar.toolbarClass" :icon-color="toolbar.toolbarIcon"></reusable-toolbar>
      <v-img width="100%" :src="image" class="pos-relative">
        <v-img width="100%" :src="require('@/assets/finapedia/wave.svg')" class="pos-absolute bottom-pos"></v-img>
      </v-img>
      <v-card-text class="avenir-14-reg ml-3 color-text-4 mb-2">
        {{category}}
      </v-card-text>
      <v-card-text class="nexa-24-bold px-3 mb-2">
        {{title}}
      </v-card-text>
      <v-card-text class="avenir-14-reg ml-3 color-text-3 mb-3">
        {{time}}
      </v-card-text>
      <v-layout row wrap class="py-0">
        <v-flex mb-3>
          <div class="pa-3" v-html="description"></div>
        </v-flex>
      </v-layout>
    </v-container>
    <reusable-dialogs
      v-model="dialog.isopen"
      :resize-image="true"
      :is-title-above-title="true"  
    ></reusable-dialogs>
  </div>
  <div v-else>
    <v-layout column align-center justify-center class="full-height bg-primary-3">
      <reusable-loading></reusable-loading>
    </v-layout>
  </div>
</template>

<script>
import {
  VImg
} from 'vuetify/lib'
import Api from '@/services/Api'
import { dateFormat } from '@/services/Helpers'
import { differenceInMilliseconds } from 'date-fns'

export default {
  components: {
    VImg
  },
  data () {
    return {
      dialog: {
        isopen: false
      },
      category: '',
      title: '',
      description: '',
      image: '',
      time: '',
      timeTrack: new Date(),
      dataLoaded: false,
      sessionId: '',
      scrollHeight: 0,
      toolbar: {
        toolbarClass: 'bg-transparent',
        toolbarIcon: 'white'
      }
    }
  },
  methods: {
    handleCloseApp () {
      // this is not really the hook for closing the app but it's quite close
      // i was using beforeunload but it's not good enough
      window.addEventListener('onclose', () => {
        this.trackReadTime()
        this.trackScrollProgress()
      })
    },
    trackReadTime () {
      this.$analytics.track('Article TimeSpent', {
        article_title: this.title,
        time_spent: differenceInMilliseconds(new Date(), this.timeTrack),
        session_id: this.sessionId
      })
    },
    trackScrollProgress () {
      this.$analytics.track('Article ScrollProgression', {
        article_title: this.title,
        scroll_progression: (this.scrollPos / this.scrollHeight) * 100,
        scroll_height: this.scrollHeight,
        session_id: this.sessionId
      })
    },
    createSessionID () {
      function s4 () {
        return Math.floor((1 + Math.random()) * 0x10000)
          .toString(16)
          .substring(1)
      }
      return (
        s4() +
        s4() +
        '-' +
        s4() +
        '-' +
        s4() +
        '-' +
        s4() +
        '-' +
        s4() +
        s4() +
        s4()
      )
    },
    setScrollPos (e) {
      let scrollPos = window.top.scrollY
      let maxScroll = document.documentElement.scrollHeight - window.innerHeight
      this.scrollHeight = maxScroll
      this.scrollPos = scrollPos
      this.changeToolbarClass()
    },
    changeToolbarClass () {
      if (this.scrollPos > 347) {
        this.toolbar.toolbarIcon = 'black'
        this.toolbar.toolbarClass = 'bg-primary-3 bottom-shadow'
      } else {
        this.toolbar.toolbarIcon = 'white'
        this.toolbar.toolbarClass = 'bg-transparent'
      }
    },
    fetchData () {
      Api('finapedia/article/retrieve', {
        articleid: this.articleid
      }).then((res) => {
        this.dataLoaded = true
        this.title = res.d.title
        this.description = res.d.description
        this.category = res.d.category_name
        this.image = res.d.image || 'https://picsum.photos/1000'
        this.time = dateFormat(res.d.publishedtime, 'DD MMMM YYYY')
        this.trackPage()
      }).catch(() => {
        this.dataLoaded = true
        this.dialog.isopen = true
      })
    },
    trackPage () {
      this.$analytics.track('Article Read', {
        article_title: this.title,
        session_id: this.sessionId
      })
    }
  },
  created () {
    this.handleCloseApp()
    this.articleid = this.$route.params.articleid
    this.sessionId = this.createSessionID()
    this.$helpers.setRouteToLocalStorage('/finapedia/article/' + this.articleid)
    this.fetchData()
  },
  beforeRouteLeave (to, from, next) {
    this.trackReadTime()
    this.trackScrollProgress()
    next()
  },
  mounted () {
    window.addEventListener('scroll', this.setScrollPos)
  },
  beforeDestroy () {
    window.removeEventListener('scroll', this.setScrollPos)
  }
}
</script>

<style lang="sass">
  .finapedia-article-detail
    *
      margin: 0px
      padding: 0px

    .bottom-pos
      bottom: -1%

    .bottom-shadow
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important
</style>
