<template>
  <div class="finacheck-activation full-height bg-primary-3">
    <reusable-toolbar v-if="routeType === 'signup'" page-name="Aktivasi Akun"></reusable-toolbar>
    <v-container>
      <v-layout row align-center justify-center>
        <v-flex>
          <v-form lazy-validation>
            <v-layout my-1 column>
              <v-card-text v-if="routeType === 'signup'" class="avenir-14-reg2 mb-4 mt-5 pa-0 text-align-center">
                Terima kasih telah bergabung di Halofina, selanjutnya silahkan
              </v-card-text>
              <v-card-text class="nexa-20-bold text-align-center pt-0 px-3 pb-0" v-if="routeType === 'signup'">Aktivasi akun kamu</v-card-text>
              <v-card-text class="nexa-20-bold text-align-center pt-0 px-3 pb-0" v-else>Aktifkan kata sandi baru kamu</v-card-text>
              <img src="@/assets/finacheck/activation.svg" class="my-3" alt="otp">
              <v-card-text class="avenir-14-reg2 mb-0 pa-0 text-align-center">
                Klik link aktivasi {{ routeType === 'signup' ? 'akun' : 'kata sandi' }} yang telah kami kirimkan ke email kamu, <b>{{ email }},</b> kemudian silahkan masuk
              </v-card-text>
            </v-layout>
            <br />
            <v-layout column>
              <v-flex mb-4>
                <v-btn block color="primary" depressed @click="submit" class="btn-radius box-shadow">
                  Masuk
                </v-btn>
              </v-flex>
            </v-layout>
          </v-form>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import { setBackRouteToAndroid } from '@/services/Helpers'
import {
  VForm
} from 'vuetify/lib'

export default {
  components: {
    VForm
  },
  name: 'FinacheckActivation',
  data () {
    return {
      email: '',
      routeType: ''
    }
  },
  created () {
    this.getRouteType()
  },
  mounted () {
    this.getEmail()
  },
  methods: {
    getEmail () {
      this.email = localStorage.getItem('halofina-email')
    },
    submit () {
      this.$router.push('/login/email')
    },
    getRouteType () {
      var routeType = this.$route.params.type
      this.routeType = routeType
      if (routeType === 'password') this.setRoute()
    },
    setRoute () {
      setBackRouteToAndroid('/vuetify15/#/activation/password')
    }
  }
}
</script>
