<template>
  <div class="finacheck-kyc-otp full-height bg-primary-3">
    <reusable-toolbar page-name="Verifikasi" route="/login/email"></reusable-toolbar>
    <v-container class="mt-4 toolbar-margin">
      <v-layout row align-center justify-center>
        <v-flex>
          <v-form lazy-validation>
            <v-layout my-1 column>
              <v-card-text v-if="typeotp === 'login'" class="nexa-20-bold text-align-center pt-3 px-3 pb-0">Masukkan kode OTP</v-card-text>
              <v-card-text v-if="typeotp === 'register'" class="nexa-20-bold text-align-center pt-3 px-3 pb-0">Masukkan kode verifikasi</v-card-text>
              <img src="../../assets/finacheck/kyc/otp.svg" style="width:100%; height: 240px;" alt="otp">
              <v-card-text class="avenir-14-reg2 mb-4 pa-0 text-align-center">
                Kami telah mengirimkan kode OTP ke <br /> email kamu, <b>{{ email }}</b>
              </v-card-text>
              <v-flex class="text-xs-center">
                <!-- <div class="input-append">
                  <div class="pincode-input-container">
                    <input type="text" maxlength="1" class="def-txt-input" name="chars[1]">
                    <input type="text" maxlength="1" class="def-txt-input" name="chars[2]">
                    <input type="text" maxlength="1" class="def-txt-input" name="chars[3]">
                    <input type="text" maxlength="1" class="def-txt-input" name="chars[4]">
                    <input type="text" maxlength="1" class="def-txt-input" name="chars[5]">
                    <input type="text" maxlength="1" class="def-txt-input" name="chars[6]">
                  </div> -->
                <!-- </div> -->
                  <input type="tel" class="otp-style mb-2 input-otp" v-model="otp" maxlength="6">
                  <input type="tel" maxlength="0" id="textOtp">
              </v-flex>
            </v-layout>
            <br />
            <v-layout column>
              <v-flex mb-4>
                <v-btn block color="primary" :disabled="otp.length < 6" depressed @click="submit" class="btn-radius box-shadow">
                  Verifikasi
                </v-btn>
              </v-flex>
              <v-flex v-if="counter === 0">
                <v-card-text class="text-align-center pa-0">
                  Jika kamu tidak menerima kode ,
                  <br />
                  <span @click="resend" class="color-primary-1 nexa-14-bold">
                    kirim kembali
                  </span>
                </v-card-text>
              </v-flex>
              <v-card-text class="avenir-14-reg text-align-center pa-0" v-if="counter > 0">
                Durasi input kode <b>{{counterDisplay}}</b>
              </v-card-text>
            </v-layout>
          </v-form>
        </v-flex>
      </v-layout>
      <div class="blankpage">

      </div>
    </v-container>

    <!-- Dialog -->
    <reusable-dialogs
      v-model="dialog.isopen"
      :resize-image="true"
      :title="dialog.title"
      :description="dialog.desc"
    ></reusable-dialogs>

    <reusable-dialogs
        v-model="dialog.dialogUploading"
        :unclickable="true"
    >
        <div slot="layout">
          <v-card flat class="card-radius" style="width: 100%">
            <v-layout py-3 px-5 row align-center justify-center>
              <div class="nexa-14-bold px-5">Memverifikasi...</div>
            </v-layout>
          </v-card>
        </div>
    </reusable-dialogs>

  </div>
</template>

<script>
import { VForm } from 'vuetify/lib'
// import api
import Api from '@/services/Api'
import { setRouteToLocalStorage, goToDashboard } from '@/services/Helpers'

export default {
  components: {
    VForm
  },
  name: 'FinacheckKycOtp',
  data () {
    return {
      dialog: {
        dialogUploading: false,
        isopen: false,
        desc: '',
        title: ''
      },
      interval: null,
      counter: 0,
      counterInit: 900,
      counterDisplay: '15:00',
      otp: '',
      pin: '',
      email: '',
      typeotp: '',
      rpaData: {},
      name: ''
    }
  },
  created () {
    this.reset()
    this.setRouteToLocalStorage('/otp')
    this.getParams()
    this.getEmail()
    this.fetchDataPersonal()
  },
  destroyed () {
    if (this.interval) {
      clearInterval(this.interval)
      this.interval = null
    }
  },
  watch: {
    otp: function (value) {
      if (value.length === 6) {
        document.getElementById('textOtp').focus()
      } else {
        this.isdisabled = false
      }
    }
  },
  methods: {
    setRouteToLocalStorage,
    fetchDataPersonal () {
      Api('finacheck/kyc/personal', {})
        .then((res) => {
          this.name = res.d.fullname
        })
        .catch((err) => {
          this.dialogs('Ada kesalahan', err.m)
        })
    },
    getEmail () {
      this.email = localStorage.getItem('halofina-email')
    },
    getParams () {
      this.pin = this.$route.params.pin
      this.typeotp = this.$route.params.type
    },
    dialogs (title, desc) {
      this.dialog.isopen = true
      this.dialog.title = title
      this.dialog.desc = desc
    },
    reset () {
      if (this.interval) {
        clearInterval(this.interval)
        this.interval = null
      }

      this.counter = this.counterInit
      this.interval = setInterval(() => {
        if (this.counter === 0) {
          clearInterval(this.interval)
          this.interval = null
        }

        const counter = this.counter > 0 ? this.counter - 1 : 0
        const m = Math.floor(counter / 60)
        const s = counter % 60

        this.counter = counter
        this.counterDisplay = ('00' + m).slice(-2) + ':' + ('00' + s).slice(-2)
      }, 1000)
    },
    trackResend () {
      if (this.typeotp === 'register') {
        this.$analytics.track('Account Verify Resend Requested')
      } else {
        this.$analytics.track('Account OTP Resend Requested')
      }
    },
    trackVerified () {
      this.$analytics.track('Account OTP Email Verified')
    },
    resend () {
      this.trackResend()
      Api('finacheck/kyc/otp', {}).then((res) => {
        this.dialogs('Berhasil', 'Kode verifikasi telah dikirimkan ulang ke email kamu!')
        this.reset()
      })
    },
    submit () {
      this.dialog.dialogUploading = true
      Api('finacheck/kyc/activate', {
        otp: this.otp
      }).then((res) => {
        this.dialog.dialogUploading = false
        this.trackVerified()
        if (!this.name) {
          this.$router.replace('/personal')
        } else {
          goToDashboard('lifeplan', 'replace')
        }
      }).catch((err) => {
        this.dialogs('Ada kesalahan', err.m)
        this.dialog.dialogUploading = false
      })
    }
  }
}
</script>

<style lang="sass">
.finacheck-kyc-otp ::-webkit-input-placeholder
  text-align: center

.finacheck-kyc-otp :-moz-placeholder
  text-align: center

.finacheck-kyc-otp ::-moz-placeholder
  text-align: center

.finacheck-kyc-otp :-ms-input-placeholder
  text-align: center

.finacheck-kyc-otp input
  text-align: center

.finacheck-kyc-otp
  .pincode-input-container
    display: inline-block
    position: relative

  .input-append input
    width: 26.9px
    height: 33px
    margin: auto
    margin-right: 2.3px
    border-top: 0
    border-left: 0
    border-right: 0
    border-bottom: 2px solid rgba(0,0,0,.2)
    padding: 0
    color: rgba(0,0,0,.7)
    margin-bottom: 0
    padding-bottom: 0
    font-size: 28px
    text-shadow: none
    box-shadow: none
    text-align: center
    background-color: transparent
    font-weight: 600
    line-height: 0
    border-radius: 0
    border-image-width: 0

  .otp-style
    padding-left: 5px
    padding-bottom: 8px
    border: none
    width: 230px
    background: repeating-linear-gradient(90deg, #AAADC4 0, #AAADC4 22px, transparent 0, transparent 41px) 0 100%/100% 1px no-repeat
    color: #2C3B50
    font-size: 21px
    letter-spacing: 30px
    text-align: left !important

  .otp-style:focus
    border: none
    outline: none

  .blankpage
    width: 100%
    height: 210px

  #textOtp
    outline: none !important
    border: none !important
    opacity: 0 !important

  #textOtp:focus
    outline: none !important
    border: none !important
</style>
