<template>
  <div class="finacheck-passsword bg-primary-3" :style="'min-height: ' + screenHeight + 'px'">
    <reusable-toolbar v-if="routeType === 'new'" page-name="Buat sandi" :left="true" ></reusable-toolbar>
    <reusable-toolbar v-else-if="routeType === 'change'" page-name="Ganti sandi" :left="true" ></reusable-toolbar>
    <reusable-toolbar v-else page-name="Lupa Kata Sandi"></reusable-toolbar>
    <v-container class="toolbar-margin bg-primary-3">
      <v-layout column>
      <div v-if="routeType === 'change'">
        <v-card-text class="pa-0 avenir-12-reg mb-2">Kata sandi saat ini</v-card-text>
        <v-text-field
          :type="showOldPassword ? 'text' : 'password'"
          :append-icon="showOldPassword ? 'visibility' : 'visibility_off'"
          solo
          label="Masukkan kata sandi saat ini"
          class="btn-radius"
          flat
          v-model="password.oldpass"
          hide-details
          @click:append="showOldPassword = !showOldPassword"
          ></v-text-field>
          <!-- validation -->
          <v-card-text v-if="validation.oldpass" :class="'ml-2 mt-2 pa-0 avenir-12-reg color-system-error ' + validation.classOP"><img src="@/assets/finacheck/attention.svg" class="mr-2 i-attention" alt="attention"> {{validation.oldpass}}</v-card-text>
      </div>

        <v-card-text v-if="routeType === 'forget'" class="nexa-20-bold mb-4 pa-0 mt-5">Masukkan kata sandi</v-card-text>
        <v-card-text class="pa-0 avenir-12-reg mt-0 mb-2 mt-3">Kata sandi baru</v-card-text>
        <v-text-field
          :type="showPassword ? 'text' : 'password'"
          :append-icon="showPassword ? 'visibility' : 'visibility_off'"
          solo
          label="Masukkan kata sandi"
          class="btn-radius"
          flat
          v-model="password.password"
          v-on:focus="validation.newpass = null"
          hide-details
          @click:append="showPassword = !showPassword"></v-text-field>
          <!-- validation -->
          <v-card-text v-if="validation.newpass" :class="'ml-2 pa-0 mt-1 avenir-12-reg color-system-error ' + validation.classNP"><img src="@/assets/finacheck/attention.svg" class="mr-1 i-attention" alt="attention"> {{ validation.newpass }}</v-card-text>

        <div class="mt-3"></div>
          <div v-for="(text, index) in validationTexts" :key="index">
            <v-card-text class="ml-2 pa-0 avenir-12-reg">
              <div class="checked" v-if="text.checked === '•'">
                {{ text.checked }}
              </div>
              <div class="checked" v-else>
                <img src="@/assets/finacheck/checked.svg" alt="checked">
              </div>
              {{ text.text }}
            </v-card-text>
          </div>

        <v-card-text class="pa-0 avenir-12-reg mb-2 mt-4">Ulangi kata sandi</v-card-text>
        <v-text-field
          :type="showConfirmPassword ? 'text' : 'password'"
          :append-icon="showConfirmPassword ? 'visibility' : 'visibility_off'"
          solo
          label="Ulangi kata sandi"
          hide-details
          @click:append="showConfirmPassword = !showConfirmPassword"
          class="btn-radius"
          flat
          v-model="password.confirmPassword"></v-text-field>

          <v-card-text v-if="validation.confirmPassword" class="ml-2 mt-2 pa-0 avenir-12-reg color-system-error"><img src="@/assets/finacheck/attention.svg" class="mr-2 i-attention" alt="attention">{{validation.confirmPassword}}</v-card-text>

          <v-layout column mt-4 class="full-width">
            <v-flex>
              <v-btn :disabled="isDisabled" depressed color="primary" class="py-2 btn-radius" block @click="submit()">Kirim</v-btn>
            </v-flex>
          </v-layout>
      </v-layout>

    </v-container>
    <reusable-dialogs
    v-model="dialog.dialogUploading"
    :unclickable="true"
    >
    <div slot="layout">
      <v-card flat class="card-radius" style="width: 100%">
        <v-layout py-3 px-5 row align-center justify-center>
          <div v-if="routeType === 'new'" class="nexa-14-bold px-1">Membuat kata sandi...</div>
          <div v-else class="nexa-14-bold px-1">Mengatur ulang kata sandi...</div>
        </v-layout>
      </v-card>
    </div>
  </reusable-dialogs>

  <!-- dialog done -->
  <reusable-dialogs
      v-model="dialog.dialogDoneUploading"
      :image="require('@/assets/finacheck/kyc/checked.svg')"
      :isImageAboveTitle="true"
      :resize-image="false"
      classTitle="pt-2 text-align-center"
      title="Kata sandi tersimpan"
      :description="null"
  >
    <v-layout align-center justify-center slot="layout-button" pb-3>
      <v-flex xs12>
        <v-btn depressed color="primary" block class="py-2 box-shadow btn-radius" @click.native="routeToDashboard()">Kembali ke beranda</v-btn>
      </v-flex>
    </v-layout>
  </reusable-dialogs>

  </div>
</template>

<script>
// import API
import Api from '@/services/Api'
import { goToNamespace, getNamespaces } from '../../../../routing'

// Import Vuetify
import {
  VTextField
} from 'vuetify/lib'

export default {
  name: 'FinacheckPassword',
  components: {
    VTextField
  },
  data () {
    return {
      screenHeight: screen.height - 64 + 16,
      password: {
        oldpass: '',
        password: '',
        confirmPassword: '',
        newpass: ''
      },
      validation: {
        oldpass: '',
        newpass: '',
        confirmPassword: '',
        classCP: '',
        classNP: '',
        classOP: '',
        classEM: ''
      },
      dialog: {
        dialogUploading: false,
        dialogError: false,
        dialogDoneUploading: false
      },
      validationTexts: [
        {
          checked: '•',
          text: 'Terdapat karakter huruf besar dan huruf kecil.'
        },
        {
          checked: '•',
          text: 'Terdapat setidaknya satu karakter angka.'
        },
        {
          checked: '•',
          text: 'Panjang kata sandi minimal 8 karakter.'
        }
      ],
      isDisabled: true,
      showPassword: false,
      showOldPassword: false,
      routeType: '',
      showConfirmPassword: false
    }
  },
  watch: {
    password: {
      handler (value) {
        var oldpass = value.oldpass
        var password = value.password
        var confirmPassword = value.confirmPassword
        var containCapital = /[A-Z]/
        var containSmallLetter = /[a-z]/
        var containDigit = /[0-9]/
        var validation = this.validationTexts
        // If contain capital letter
        if (containCapital.test(password) && containSmallLetter.test(password)) {
          validation[0].checked = ''
        } else {
          validation[0].checked = '•'
        }
        // If contain Digit
        if (containDigit.test(password)) {
          validation[1].checked = ''
        } else {
          validation[1].checked = '•'
        }
        // If length > 8
        if (password.length >= 8) {
          validation[2].checked = ''
        } else {
          validation[2].checked = '•'
        }
        // Enable button
        if (password.length >= 8 && containCapital.test(password) && containSmallLetter.test(password) && containDigit.test(password) && confirmPassword === password) {
          this.isDisabled = false
        } else {
          this.isDisabled = true
        }
        //
        if (password === confirmPassword) {
          this.validation.confirmPassword = ''
          this.validation.classCP = ''
        } else {
          this.validation.classCP = 'mt-2'
          this.validation.confirmPassword = 'Kata sandi tidak sesuai.'
          this.isDisabled = true
        }
        //
        if (oldpass !== password) {
          this.validation.newpass = ''
          this.validation.classNP = ''
        } else {
          this.validation.classNP = 'mt-2'
          this.validation.newpass = 'Kata sandi tidak boleh sama dengan kata sandi sebelumnya.'
          this.isDisabled = true
        }
      },
      deep: true
    }
  },
  methods: {
    routeToDashboard () {
      var dashboard = getNamespaces().DASHBOARD
      goToNamespace(dashboard, '/dashboard?tab=lifeplan', 'replace')
    },
    trackNewPassword () {
      this.$analytics.track('Account New Password Created')
    },
    ChangePass () {
      this.isDisabled = true
      this.dialog.dialogUploading = true
    },
    getRouteType () {
      this.routeType = this.$route.params.type
    },
    submit () {
      const email = localStorage.getItem('halofina-email')
      this.isDisabled = true
      this.dialog.dialogUploading = true
      if (this.routeType === 'new') {
        Api('finacheck/kyc/password/set', {
          pass: this.password.password
        })
          .then((res) => {
            this.trackNewPassword()
            this.isDisabled = false
            this.dialog.dialogUploading = false
            this.dialog.dialogDoneUploading = true
          })
          .catch(() => {
            this.dialog.dialogError = true
          })
      } else if (this.routeType === 'change') {
        Api('finacheck/kyc/password/change', {
          oldpass: this.password.oldpass,
          newpass: this.password.password
        }).then((res) => {
          this.isDisabled = false
          this.dialog.dialogUploading = false
          this.dialog.dialogDoneUploading = true
          this.validation.classOP = ''
        }).catch(() => {
          this.isDisabled = false
          this.dialog.dialogUploading = false
          this.dialog.dialogDoneUploading = false
          this.validation.oldpass = 'Kata sandi lama salah'
          this.validation.classOP = 'mt-2'
        })
      } else {
        Api('finacheck/kyc/password/forget', {
          newpass: this.password.password,
          email: email
        }).then((res) => {
          this.isDisabled = false
          this.dialog.dialogUploading = false
          this.$router.push('/activation/password')
          this.validation.classEm = ''
        }).catch(() => {
          this.isDisabled = false
          this.dialog.dialogUploading = false
          this.validation.classEm = 'mt-2'
          this.validation.newpass = 'Kata sandi tidak boleh sama dengan kata sandi sebelumnya'
        })
      }
    }
  },
  created () {
    this.getRouteType()
  }
}
</script>
<style lang="sass">
  .finacheck-passsword
    .toolbar-margin
      margin: 0
      padding-top: 64px

    .i-attention
      width: 12px
      height: auto

    .checked
      float: left
      margin-right: 12px
      width: 7px
      height: 7px

    .v-input__slot
      border-radius: 4px !important
      border: 1px solid #E8EAEF
      background-color: #FFF !important


</style>
