<template>
  <div class="finacheck-kyc-register bg-primary-3 full-height">
    <!-- ReusableToolbar -->
    <reusable-toolbar page-name="" :left="true" route="/personal">
      <div slot="button-toolbar" style="width: 40px">
        &nbsp;
      </div>
    </reusable-toolbar>

    <!-- App Layout -->
    <v-card-text class="nexa-18-bold color-text-1 px-20 pt-4 pb-3 mb-3">
      Lengkapi Data Diri kamu
    </v-card-text>

    <v-layout column class="px-20">
      <v-flex>
        <v-form lazy-validation>
          <!-- Name -->
          <v-card-text class="avenir-14-reg color-text-3 pb-1">
            Nama Lengkap
          </v-card-text>

          <v-text-field
            label="Nama (Harus sesuai KTP)"
            :rules="[rules.required, rules.names]"
            solo
            flat
            v-model="fullname">
          </v-text-field>

          <v-card-text class="avenir-14-reg color-text-3 pb-1">
            Tanggal Lahir
          </v-card-text>
          <v-layout row>
            <v-flex xs4 class="mr-3">
              <v-select v-model="tanggal" :rules="[rules.required]" solo flat placeholder="Tgl" :items="items.tanggal"></v-select>
            </v-flex>
            <v-flex xs5 class="mr-3">
              <v-select mt-0 v-model="bulan" :rules="[rules.required]" solo flat placeholder="Bln" :items="items.bulan"></v-select>
            </v-flex>
            <v-flex xs5>
              <v-select mt-0 v-model="tahun" :rules="[rules.required]" solo flat placeholder="Thn" :items="items.tahun"></v-select>
            </v-flex>
          </v-layout>

          <v-card-text class="avenir-14-reg color-text-3 pb-1">
            Kode Referral
          </v-card-text>
          <v-text-field class="card-radius" label="Masukkan bila punya kode referral" v-on:focus="scrollUp('referal')" v-on:blur="scroll = false" solo flat v-model="referal" id="referal"></v-text-field>

          <v-layout class="wrap-button-bottom">
            <v-btn block color="primary" depressed @click="submit()" :disabled="fullname === '' || tanggal === '' || bulan === '' || tahun === '' || isdisabled">Lanjut</v-btn>
          </v-layout>
        </v-form>
        <!-- Blank box for Scrolling -->
        <div :class="scroll === true ? 'blank-box' : ''"></div>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import { VTextField, VSelect, VSpacer, VToolbarTitle, VToolbar, VForm } from 'vuetify/lib'
import Api from '@/services/Api'

import * as Sentry from '@sentry/browser'
// Import date datas
import { dateDatas, setRouteToLocalStorage, goToDashboard } from '@/services/Helpers'

export default {
  components: {
    VTextField, VSelect, VSpacer, VToolbarTitle, VToolbar, VForm
  },
  name: 'FinacheckPersonal',
  data () {
    return {
      scroll: false,
      rules: {
        error: 'Harus diisi',
        required: value => !!value || 'Harus diisi.',
        names: value => {
          const pattern = /[^a-zA-Z' ]/
          return !pattern.test(value) || 'Isi dengan huruf'
        }
      },
      dialog: {
        dialogError: false
      },
      isdisabled: true,
      fullname: '',
      referal: '',
      focused: false,
      tanggal: '',
      bulan: '',
      tahun: '',
      items: dateDatas
    }
  },
  watch: {
    fullname: function (value) {
      const pattern = /[^a-zA-Z' ]/
      this.fullname = value.charAt(0).toUpperCase() + value.slice(1)
      if (pattern.test(value) === true) {
        this.isdisabled = true
      } else {
        this.isdisabled = false
      }
    }
  },
  created () {
    setRouteToLocalStorage('/personal')
    this.getPersonalData()
  },
  methods: {
    getPersonalData () {
      const name = JSON.parse(localStorage.getItem('halofina-name'))
      if (name) {
        Api('finacheck/kyc/personal', {})
          .then((res) => {
            this.fullname = res.d.fullname
            this.religion = res.d.religion_code
            this.tahun = res.d.birthdate.substr(0, 4)
            this.bulan = res.d.birthdate.substr(5, 2)
            this.tanggal = res.d.birthdate.substr(8, 2)
          })
          .catch(() => {
            this.dialog.dialogError = true
          })
      }
    },
    scrollUp (id) {
      document.getElementById(id).scrollIntoView({
        behavior: 'smooth'
      })
      this.scroll = true
      this.focused = true
    },
    validateDate (year, month, _date) {
      var d = new Date(year, month - 1, _date)
      if (d.getFullYear() !== year || d.getMonth() !== (month - 1) || d.getDate() !== _date) {
        return 'invalid'
      }
      return 'valid'
    },
    trackRegistered () {
      this.$analytics.track('Account Registered')
    },
    submit () {
      let email = localStorage.getItem('halofina-email')
      let data = {
        fullname: this.fullname,
        birthdate: this.tahun + '-' + this.bulan + '-' + this.tanggal,
        tahun: this.tahun,
        bulan: this.bulan,
        tanggal: this.tanggal,
        voucher: this.referal
      }
      let properties = {
        '$name': data.fullname,
        '$phone': data.phone,
        '$email': data.email,
        'Nama Awal': data.fullname,
        'Nama Akhir': data.lastname,
        'Referal': data.referal,
        'Tanggal Lahir': data.birthdate
      }
      this.isdisabled = true
      // check if birthdate valid
      var result = this.validateDate(Number(this.tahun), Number(this.bulan), Number(this.tanggal))
      if (result === 'invalid') {
        this.dialogs('Tanggal Lahir', 'Tanggal lahir kamu tidak masuk kalender!')
        this.isdisabled = false
        return
      }
      // access API
      Api('finacheck/kyc/user/data/fill', {...data}).then((res) => {
        localStorage.setItem('halofina-name', JSON.stringify(data.fullname))
        this.$analytics.setIdentify(email)
        this.$analytics.userProperties(properties)
        this.trackRegistered()
        this.addSentryUserContext()
        this.setConversionDataToProperties()
        this.setFcmToken()
        goToDashboard()
      })
        .catch((err) => {
          this.isdisabled = false
          this.dialogs('Ada Kesalahan', err.m, '')
        })
    },
    addSentryUserContext () {
      Sentry.configureScope((scope) => {
        scope.setUser({
          'phone': this.phone,
          'name': this.name
        })
      })
    },
    setConversionDataToProperties () {
      var phone = localStorage.getItem('halofina-phone')
      var email = localStorage.getItem('halofina-email')
      var conversion = JSON.parse(localStorage.getItem('halofina-conversion-data'))
      this.$analytics.userProperties({
        '$phone': phone,
        '$email': email,
        ...conversion
      })
    },
    setFcmToken () {
      var fcmToken = localStorage.getItem('halofina-fcm-token')
      if (fcmToken) {
        Api('notification/savetoken', {
          token: fcmToken
        }).then(() => {
          // console.log(res)
        }).catch(() => {
          // console.log(err)
        })
      }
    }
  }
}
</script>

<style lang="sass">
  .bottom-sheet-personal
    .v-input__slot
      border-radius: 4px !important
      border: 1px solid #E8EAEF
      background-color: #FFF !important

  .finacheck-kyc-register
    *
      padding: 0
      margin: 0

    .wrap-button-bottom
      position: fixed
      width: 100%
      bottom: 0
      left: 0

      .v-btn
        height: 56px !important

    .v-input__slot
      border-radius: 4px !important
      border: 1px solid #E8EAEF
      background-color: #FFF !important

    .v-text-field.v-text-field--enclosed .v-text-field__details
      padding-top: 8px !important
      padding-left: 0 !important

    .v-toolbar
      position: relative

    .jenis-kelamin
      margin-top: 0

    .finacheck-kyc-register .v-divider
      margin: 5px

    .finacheck-kyc-register .v-btn
      margin: 0px

    .scroll-ios
      -webkit-overflow-scrolling: touch
      overflow-y: scroll
      position: fixed
      right: 0
      top: 0
      bottom: 0
      left: 0

    .scroll-ios iframe
      width: 100%
      height: 100%

    .input-incomes
      padding: 6px 13px
      font-size: 14px
      border-bottom-right-radius: 8px
      border-top-right-radius: 8px

    .input-register
      padding: 6px 13px
      font-size: 14px
      border-radius: 8px

    .span
      font-size: 14px
      color: gray
      padding: 9.5px 13px
      padding-right: 0px
      border-bottom-left-radius: 8px
      border-top-left-radius: 8px
      background-color: #f6f8fa

    .popup-button
      float: right
      margin: 0px
      width: 32px !important
      height: 32px !important

    .mtn-15
      margin-top: -15px

    .v-text-field--solo .v-input__slot, .theme--light .v-text-field--solo .v-input__slot
      border-radius: 6px !important

</style>
