<template>
  <div class="finacheck-signup">
    <reusable-toolbar page-name="Buat Akun"></reusable-toolbar>
    <v-container class="toolbar-margin bg-primary-3">
      <v-layout row justify-center pb-4>
        <img src="@/assets/logo-text.svg" class="logo-halofina"/>
      </v-layout>
      <v-layout column>
        <v-flex class="mb-4">
          <reusable-google-button @done="signUpGoogle">
            <img :src="require('@/assets/others/google.svg')" class="mr-2"/>Daftar dengan Google
          </reusable-google-button>
        </v-flex>
        <!-- No HP -->
        <v-card-text class="pa-0 avenir-12-reg mb-2">Nomor HP</v-card-text>
        <v-text-field
          type="tel"
          solo
          label="Masukkan nomor HP"
          class="btn-radius mb-2"
          flat
          hide-details
          v-model="nohp"
          ></v-text-field>
          <!-- validation -->
          <v-card-text v-if="validation.phone" class="ml-2 mb-2 pa-0 avenir-12-reg color-system-error"><img src="@/assets/finacheck/attention.svg" class="mr-2 i-attention" alt="attention"> {{ validation.phone }}</v-card-text>

          <!-- Email -->
          <v-card-text class="pa-0 avenir-12-reg mb-2 mt-3">Email</v-card-text>
          <v-text-field
            type="email"
            solo
            label="Masukkan email"
            class="btn-radius mb-2"
            flat
            hide-details
            v-model="email"
            ></v-text-field>
            <!-- validation -->
            <v-card-text v-if="validation.email" class="ml-2 mb-2 pa-0 avenir-12-reg color-system-error"><img src="@/assets/finacheck/attention.svg" class="mr-2 i-attention" alt="attention"> {{validation.email}}</v-card-text>

        <!-- Kata Sandi -->
        <v-card-text class="pa-0 avenir-12-reg mb-2 mt-3">Kata sandi</v-card-text>
        <v-text-field
          :type="showPassword ? 'text' : 'password'"
          :append-icon="showPassword ? 'visibility' : 'visibility_off'"
          solo
          hide-details
          label="Masukkan kata sandi"
          id="password"
          v-on:focus="scrollUp('password')"
          v-on:blur="scroll = false"
          class="btn-radius mb-3"
          flat
          v-model="password.password"
          @click:append="showPassword = !showPassword">
        </v-text-field>

        <!-- List Validation -->
        <div v-for="(text, index) in validationTexts" :key="index">
          <v-card-text class="ml-2 pa-0 avenir-12-reg">
            <div class="checked" v-if="text.checked === '•'">
              {{ text.checked }}
            </div>
            <div class="checked" v-else>
              <img src="@/assets/finacheck/checked.svg" alt="checked">
            </div>
            {{ text.text }}
          </v-card-text>
        </div>

        <!-- Ulang Kata Sandi -->
        <v-card-text class="pa-0 avenir-12-reg mb-2 mt-4">Ulangi kata sandi</v-card-text>
        <v-text-field
          :type="showConfirmPassword ? 'text' : 'password'"
          :append-icon="showConfirmPassword ? 'visibility' : 'visibility_off'"
          solo
          hide-details
          label="Ulangi kata sandi"
          @click:append="showConfirmPassword = !showConfirmPassword"
          class="btn-radius mb-2"
          flat
          id="passwordConfirm"
          v-on:focus="scrollUp('passwordConfirm')"
          v-on:blur="scroll = false"
          v-model="password.confirmPassword">
        </v-text-field>

          <v-card-text v-if="validation.confirmPassword" class="ml-2 mb-2 pa-0 avenir-12-reg color-system-error"><img src="@/assets/finacheck/attention.svg" class="mr-2 i-attention" alt="attention"> {{validation.confirmPassword}}</v-card-text>

          <br />

          <v-layout>
            <v-flex mt-2 class="avenir-12-reg" style="text-align: center">
              Dengan mendaftar di halofina berarti kamu telah <br/> menyetujui
              <span class="color-primary-1" @click="open('syarat')">
                <b>Syarat & Ketentuan</b>
              </span>
              dan
              <span class="color-primary-1" @click="open('kebijakan')">
                <b>Kebijakan Privasi</b>
              </span>
            </v-flex>
          </v-layout>

          <br />

        <v-btn :disabled="isDisabled || this.nohp === '' || this.password.password === '' || this.password.confirmPassword === ''" color="primary" class="py-2 btn-radius box-shadow mb-4" @click.native="submit()" block>Buat Akun</v-btn>
      </v-layout>
      <!-- Blank box for Scrolling -->
      <div :class="scroll === true ? 'blank-box' : ''"></div>
    </v-container>
    <!-- Dialog Uploading -->
    <reusable-dialogs
      v-model="dialog.dialogUploading"
      :unclickable="true"
      >
      <div slot="layout">
        <v-card flat class="card-radius" style="width: 100%">
          <v-layout py-3 px-5 row align-center justify-center>
            <div class="nexa-14-bold px-5">Membuat Akun...</div>
          </v-layout>
        </v-card>
      </div>
    </reusable-dialogs>
    <!-- Dialog Error -->
    <reusable-dialogs
      v-model="dialog.dialogError"
      :resize-image="true"
    ></reusable-dialogs>
    <!-- Dialog disclaimer -->
    <reusable-dialogs
      v-model="dialog.dialogDisclaimer"
      :title="dialog.dialogDiscTitle"
      :full-screen="true"
      :hide-overlay="true">
      <div slot="layout">
        <v-card tile>
          <div class="scroll-ios">
            <v-toolbar card>
              <v-toolbar-title>
                {{dialog.dialogDiscTitle}}
              </v-toolbar-title>
              <v-spacer></v-spacer>
              <v-btn icon @click.native="dialog.dialogDisclaimer = false">
                <v-icon>close</v-icon>
              </v-btn>
            </v-toolbar>
            <iframe :src="dialog.dialogDiscUrl" style="border: 0;"/>
          </div>
        </v-card>
      </div>
    </reusable-dialogs>
  </div>
</template>

<script>
// Import Vuetify
import {
  VTextField,
  VToolbarTitle,
  VToolbar,
  VSpacer
} from 'vuetify/lib'

// Import API
import Api from '@/services/Api'

import ReusableGoogleButton from '@/components/reusable/ReusableGoogleButton'

export default {
  name: 'FinacheckSignUp',
  components: {
    VTextField,
    VToolbarTitle,
    VToolbar,
    VSpacer,
    ReusableGoogleButton
  },
  data () {
    return {
      scroll: false,
      nohp: '',
      email: '',
      password: {
        password: '',
        confirmPassword: '',
        phone: '',
        email: ''
      },
      validation: {
        confirmPassword: ''
      },
      dialog: {
        dialogUploading: false,
        dialogError: false,
        dialogDisclaimer: false,
        dialogDiscTitle: '',
        dialogDiscDesc: '',
        dialogDiscUrl: ''
      },
      validationTexts: [
        {
          checked: '•',
          text: 'Terdapat karakter huruf besar dan huruf kecil.'
        },
        {
          checked: '•',
          text: 'Terdapat setidaknya satu karakter angka.'
        },
        {
          checked: '•',
          text: 'Panjang kata sandi minimal 8 karakter.'
        }
      ],
      isDisabled: true,
      showPassword: false,
      showConfirmPassword: false
    }
  },
  watch: {
    nohp: function (value) {
      const pattern = /^\d+$/
      if (pattern.test(value) === false) {
        this.validation.phone = 'Isi dengan angka'
      } else {
        this.validation.phone = ''
      }
    },
    email: function (value) {
      const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      if (pattern.test(value) === false) {
        this.isDisabled = true
        this.validation.email = 'Format e-mail salah'
      } else {
        this.isDisabled = false
        this.validation.email = ''
      }
    },
    password: {
      handler (value) {
        var password = value.password
        var confirmPassword = value.confirmPassword
        var containCapital = /[A-Z]/
        var containSmallLetter = /[a-z]/
        var containDigit = /[0-9]/
        var validation = this.validationTexts

        // If contain capital letter
        if (containCapital.test(password) && containSmallLetter.test(password)) {
          validation[0].checked = ''
        } else {
          validation[0].checked = '•'
        }
        // If contain Digit
        if (containDigit.test(password)) {
          validation[1].checked = ''
        } else {
          validation[1].checked = '•'
        }
        // If length > 8
        if (password.length >= 8) {
          validation[2].checked = ''
        } else {
          validation[2].checked = '•'
        }
        // Enable button
        if (password.length >= 8 && containCapital.test(password) && containSmallLetter.test(password) && containDigit.test(password) && confirmPassword === password) {
          this.isDisabled = false
        } else {
          this.isDisabled = true
        }
        //
        if (password === confirmPassword) {
          this.validation.confirmPassword = ''
        } else {
          this.validation.confirmPassword = 'Kata sandi tidak sesuai'
        }
      },
      deep: true
    }
  },
  methods: {
    reversePassword (password) {
      var reversedPassword = password
      reversedPassword = reversedPassword.split('')
      reversedPassword = reversedPassword.reverse()
      reversedPassword = reversedPassword.join('')
      return reversedPassword
    },
    signUpGoogle (user) {
      // access API
      var password = this.reversePassword(user.w3.U3)
      var googleUser = {
        name: user.w3.ig,
        email: user.w3.U3,
        phone: user.El,
        pass: password
      }
      this.isDisabled = true
      this.dialog.dialogUploading = true
      Api('finacheck/kyc/register/v2', {...googleUser})
        .then((resRegister) => {
          this.setAlias(googleUser.email)
          this.setUserProperties(googleUser.phone, googleUser.email)
          localStorage.setItem('halofina-name', JSON.stringify(googleUser.name))
          localStorage.setItem('halofina-email', googleUser.email)
          localStorage.setItem('halofina-google-user', JSON.stringify(googleUser))
          // Login user
          Api('finacheck/kyc/login/v2', {
            email: googleUser.email
          }).then((resLogin) => {
            this.$analytics.setIdentify(googleUser.email)
            localStorage.setItem('halofina-token', resLogin.d.token)
            // Password
            Api('finacheck/kyc/password/check', {
              oldpass: googleUser.pass
            }).then((resPass) => {
              localStorage.setItem('halofina-from-google', 1)
              this.$router.push('/personal')
              this.dialog.dialogUploading = false
              this.isDisabled = false
            }).catch(() => {
              // password catch
              this.dialog.dialogUploading = false
              this.isDisabled = false
            })
          }).catch(() => {
            // Login catch
            this.dialog.dialogUploading = false
            this.isDisabled = false
          })
        })
        .catch((err) => {
          // Register catch
          this.isDisabled = false
          this.dialog.dialogUploading = false
          if (err.m === 'Nomor telepon telah terdaftar, silakan login!') {
            this.validation.phone = 'Nomor telepon telah terdaftar'
          } else if (err.m === 'Email telah terdaftar, silakan login!') {
            this.validation.email = 'Email telah terdaftar'
          } else {
            //
          }
        })
    },
    open (type) {
      this.dialog.dialogDiscUrl = 'https://landing-v1.halofina.com/' + type
      this.dialog.dialogDisclaimer = true
    },
    scrollUp (id) {
      this.scroll = true
      this.focused = true
      var elmnt = document.getElementById(id)
      elmnt.scrollIntoView({behavior: 'smooth'})
    },
    setAlias (param) {
      this.$analytics.setAlias(param)
    },
    setUserProperties (phone, email) {
      this.trackCreated(phone, email)
      this.$analytics.userProperties({
        '$phone': phone,
        '$email': email
      })
    },
    trackCreated (phone, email) {
      this.$analytics.track('Account Created', {
        phone: phone,
        email: email
      })
    },
    submit () {
      this.isDisabled = true
      this.dialog.dialogUploading = true
      let data = {
        phone: this.nohp,
        email: this.email,
        pass: this.password.password
      }
      // access API
      Api('finacheck/kyc/register/v2', {...data})
        .then((res) => {
          this.setAlias(data.email)
          this.setUserProperties(data.phone, data.email)
          this.$router.push('/activation/signup')
          this.isDisabled = false
          this.dialog.dialogUploading = false
          localStorage.setItem('halofina-email', data.email)
        })
        .catch((err) => {
          this.isDisabled = false
          this.dialog.dialogUploading = false
          if (err.m === 'Nomor telepon telah terdaftar, silakan login!') {
            this.validation.phone = 'Nomor telepon telah terdaftar'
          } else if (err.m === 'Email telah terdaftar, silakan login!') {
            this.validation.email = 'Email telah terdaftar'
          } else {
            //
          }
        })
    }
  }
}
</script>

<style lang="sass">
  .finacheck-signup
    min-height: 812px
    background-color: #fff
    
    .logo-halofina
      width: auto
      height: 48px

    .checked
      float: left
      margin-right: 12px
      width: 7px
      height: 7px

    ul
      padding-left: 8px

    .ls-0
      letter-spacing: 0 !important

    .i-attention
      width: 12px
      height: auto
</style>
