<template>
  <div class="finavest-investment-sell-confirm bg-primary-3">
    <reusable-toolbar page-name="Detail Penjualan"></reusable-toolbar>

    <!-- Reksadana -->
    <v-container class="toolbar-margin pa-0" v-if="detail.asset_class_name !== 'Emas'">
      <v-layout column>
        <!-- Product Layout -->
        <img :src="productImage" style="width: auto; height: 52px; align-self: center"/>
        <div class="pa-3">
          <v-card-text class="pa-0 text-align-center nexa-14-bold">{{ productName }}</v-card-text>
          <v-card-text class="pa-0 text-align-center avenir-12-reg">Unit yang Dijual</v-card-text>
          <v-card-text class="pa-0 text-align-center nexa-16-bold mb-2" v-if="checkFeatures().environment === 'production'">{{ parseFloat(productUnit).toFixed(6).toString().replace(/\./g, ',') }}</v-card-text>
          <v-card-text v-else class="pa-0 text-align-center nexa-16-bold mb-2">{{ numberingReksadana(productUnit) }}</v-card-text>
        </div>
        <v-divider></v-divider>
        <!-- Bank Layout -->
        <v-layout row px-4 pt-4 pb-0>
          <v-flex xs12 class="avenir-12-reg">
            Rekening Penerima Dana
          </v-flex>
        </v-layout>
        <v-layout row align-center justify-center px-3 pb-4 pt-3>
          <v-flex xs5 class="text-xs-center">
            <img v-if="userBank.nameBank === 'Bank BCA'" :src="require('@/assets/finaspend/cashflowtracking/logoBCA.svg')" style="height: 20px"/>
            <img v-if="userBank.nameBank === 'Bank Mandiri'" :src="require('@/assets/finaspend/cashflowtracking/logoMandiri.svg')" style="height: 20px"/>
            <img v-if="userBank.nameBank === 'Bank BNI'" :src="require('@/assets/finaspend/cashflowtracking/logoBNI.svg')" style="height: 20px"/>
            <img v-if="userBank.nameBank === 'Bank BRI'" :src="require('@/assets/finaspend/cashflowtracking/logoBRI.svg')" style="height: 22px"/>
          </v-flex>
          <v-flex xs7>
            <v-layout column>
              <v-card-text class="pa-0 nexa-14-bold">{{ userBank.userName }}</v-card-text>
              <v-card-text class="pa-0 avenir-14-reg">{{ userBank.accountNumber }}</v-card-text>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-divider></v-divider>
        <!-- Disclaimer layout -->
        <div class="px-3 py-4">
          <v-card-text class="pa-0 avenir-12-med pb-2">Kapan saya menerima uang saya?</v-card-text>
          <v-card-text class="pa-0 avenir-12-reg">kamu akan menerima dana kamu selambat-lambatnya 2-7 hari kerja setelah kamu menyelesaikan transaksi</v-card-text>
        </div>
        <v-divider></v-divider>
        <!-- checkbox -->
        <v-layout row justify-center align-start pa-3>
          <v-checkbox v-model="checked"></v-checkbox>
          <v-card-text class="pa-0 ls-0 avenir-12-reg">Saya telah membaca dan menyetujui semua isi dari <span class="avenir-10-med color-primary-1" @click="openDialogPdf('Prospektus', productProspectus)">Prospektus</span> dan <span class="avenir-10-med color-primary-1" @click="openDialogPdf('Lembar Fakta Reksa Dana', productFundFact)"> Lembar Fakta Reksa Dana</span>. Saya mengerti risiko keputusan investasi saya dan Halofina tidak bertanggung jawab atas kerugian investasi.</v-card-text>
        </v-layout>
        <div class="pa-3">
          <v-btn depressed color="primary" :disabled="checked === false" block class="btn-radius box-shadow" :ripple="false" @click.native="dialog.dialogCutOff = true">
            Konfirmasi Jual
          </v-btn>
        </div>
      </v-layout>
    </v-container>

    <!-- Emas -->
    <v-container class="toolbar-margin full-height pa-0" v-else>
      <v-layout column>

        <!-- Product Layout -->
        <img :src="productImage" style="width: auto; height: 52px; align-self: center"/>
        <div class="pa-3">
          <v-card-text class="pa-0 text-align-center nexa-16-bold text-capitalize">{{ productName }}</v-card-text>
          <v-card-text class="pa-0 text-align-center avenir-12-reg">Jumlah Gram Dijual</v-card-text>
          <v-card-text class="pa-0 text-align-center nexa-16-bold mb-2">{{ parseFloat(productUnit).toFixed(4).toString().replace(/\./g, ',') }}</v-card-text>
        </div>
        <v-divider></v-divider>

        <!-- Bank Layout -->
        <v-layout row px-3 pt-3>
          <v-flex xs12>
            <v-card-text class="pa-0 avenir-12-reg">Rekening Penerima Dana</v-card-text>
          </v-flex>
        </v-layout>
        
        <v-layout row align-center justify-center px-3 pb-4 pt-3>
          <v-flex xs5 class="text-xs-center">
            <img v-if="userBank.nameBank === 'Bank BCA'" :src="require('@/assets/finaspend/cashflowtracking/logoBCA.svg')" style="height: 20px"/>
            <img v-if="userBank.nameBank === 'Bank Mandiri'" :src="require('@/assets/finaspend/cashflowtracking/logoMandiri.svg')" style="height: 20px"/>
            <img v-if="userBank.nameBank === 'Bank BNI'" :src="require('@/assets/finaspend/cashflowtracking/logoBNI.svg')" style="height: 20px"/>
            <img v-if="userBank.nameBank === 'Bank BRI'" :src="require('@/assets/finaspend/cashflowtracking/logoBRI.svg')" style="height: 22px"/>
          </v-flex>
          <v-flex xs7>
            <v-layout column>
              <v-card-text class="pa-0 nexa-14-bold">{{ userBank.userName }}</v-card-text>
              <v-card-text class="pa-0 avenir-14-reg">{{ userBank.accountNumber }}</v-card-text>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-divider></v-divider>
        <!-- Disclaimer layout -->
        <div class="pa-3">
          <v-card-text class="pa-0 avenir-12-med">Kapan saya menerima uang saya?</v-card-text>
          <v-card-text class="pa-0 avenir-12-reg">kamu akan menerima dana kamu selambat-lambatnya 2-7 hari kerja setelah kamu menyelesaikan transaksi</v-card-text>
        </div>
        <!-- checkbox -->
        <div class="px-3 pt-2">
          <v-btn depressed color="primary" block class="btn-radius box-shadow" :ripple="false" @click.native="dialog.dialogCutOff = true">
            Konfirmasi Jual
          </v-btn>
        </div>
      </v-layout>
    </v-container>
    <!-- Dialog Error -->
    <reusable-dialogs
      v-model="dialog.dialogError"
      :resize-image="true"
    ></reusable-dialogs>
    <!-- Dialog PDF -->
    <reusable-dialogs
      v-model="dialog.dialogPdf"
      :title="dialog.dialogPdfTitle"
      :full-screen="true"
      :hide-overlay="true">
      <div slot="layout">
        <v-card tile>
          <div class="scroll-ios">
            <v-toolbar card>
              <v-toolbar-title>
                {{dialog.dialogPdfTitle}}
              </v-toolbar-title>
              <v-spacer></v-spacer>
              <v-btn icon @click.native="dialog.dialogPdf = false">
                <v-icon>close</v-icon>
              </v-btn>
            </v-toolbar>
            <iframe :src="dialog.dialogPdfSource" style="border: 0;"/>
          </div>
        </v-card>
      </div>
    </reusable-dialogs>
    <!-- Dialog Cut Off -->
    <reusable-dialogs
      v-model="dialog.dialogCutOff"
      :image="dialog.dialogImage"
      title="Waktu Cut-off Harga"
      description="Transaksi kamu akan didasarkan pada perhitungan dengan menggunakan harga dari hari yang sama jika transaksi dilakukan sebelum pukul 11.00 WIB (waktu cut-off). Jika transaksi melewati waktu cut- off atau dilakukan pada hari libur, maka transaksi akan didasarkan pada harga hari kerja berikutnya."
    >
      <v-layout slot="layout-button" column align-center justify-center pa-4 style="width: 100%;">
        <v-btn color="primary" class="btn-radius box-shadow py-2" depressed block @click="submit()">Saya Mengerti</v-btn>
      </v-layout>
    </reusable-dialogs>
    <!-- Loading Dialog -->
    <reusable-dialogs
        v-model="dialog.dialogLoading"
        :unclickable="true"
    >
        <div slot="layout">
          <v-card flat class="card-radius" style="width: 100%">
            <v-layout py-3 px-4 row align-center justify-center>
              <reusable-loading></reusable-loading>
              <div class="nexa-14-bold px-5">Memproses</div>
            </v-layout>
          </v-card>
        </div>
    </reusable-dialogs>
  </div>
</template>

<script>
import {
  VToolbar,
  VToolbarTitle,
  VCheckbox
} from 'vuetify/lib'
import Api from '@/services/Api'
import ReusableImageLifeplan from '@/components/reusable/ReusableImageLifeplan'
// Masking for input
import { VMoney } from 'v-money'
// Import function from helper
import { numberingNumber, numberingReksadana, checkFeatures } from '@/services/Helpers'

export default {
  name: 'FinavestInvestmentSellProduct',
  components: {
    VToolbar,
    VToolbarTitle,
    VCheckbox,
    ReusableImageLifeplan
  },
  directives: {
    money: VMoney
  },
  data () {
    return {
      productName: '',
      productImage: '',
      productProspectus: '',
      productFundFact: '',
      productAmount: '',
      checked: false,
      userBank: {},
      detail: {},
      dialog: {
        dialogCutOff: false,
        dialogImage: require('@/assets/finavest/lifeplan/check.svg'),
        dialogPdf: false,
        dialogPdfSource: '',
        dialogPdfTitle: '',
        dialogError: false,
        dialogLoading: false
      }
    }
  },
  methods: {
    numberingNumber,
    numberingReksadana,
    checkFeatures,
    getSellData () {
      var sellDatas = JSON.parse(localStorage.getItem('halofina-sell-detail'))
      var lifeplanDatas = JSON.parse(localStorage.getItem('halofina-itinerary-sell'))
      this.productImage = sellDatas.product.productImage
      this.productName = sellDatas.product.productName
      this.productUnit = sellDatas.product.productAmount
      this.productProspectus = sellDatas.product.productProspectus
      this.productFundFact = sellDatas.product.productFundFact
      this.userBank = sellDatas.bank
      this.detail = lifeplanDatas.detail
    },
    openDialogPdf (title, source) {
      this.dialog.dialogPdf = true
      this.dialog.dialogPdfTitle = title
      this.dialog.dialogPdfSource = source
    },
    submit () {
      this.dialog.dialogLoading = true
      var datas = JSON.parse(localStorage.getItem('halofina-itinerary-sell'))
      Api('finavest/transaction/redeem', datas)
        .then((res) => {
          this.dialog.dialogLoading = false
          this.trackConfirm()
          this.trackCheck()
          this.$router.push('/finavest/payment/detail/' + res.d.redemptionid + '/redeem')
        })
        .catch(() => {
          this.dialog.dialogLoading = false
          this.dialog.dialogError = true
        })
      this.dialog.dialogCutOff = false
    },
    trackCheck () {
      this.checked = !this.checked
      this.$analytics.track('Investment Sell Read and Agreed')
    },
    trackConfirm () {
      this.$analytics.track('Investment Comfirm Sold')
    }
  },
  created () {
    this.getSellData()
  }
}
</script>

<style lang="sass">
  .finavest-investment-sell-confirm
    .v-divider
      border: 6px solid
      border-color: rgba(0,0,0,.12)

    .v-input--checkbox
      padding-top: 0px
      margin-top: -6px

  .ls-0
    letter-spacing: 0 !important
</style>
