<template>
  <div class="finavest-investment-sell-product bg-primary-3">
    <reusable-toolbar page-name="Jual Produk"></reusable-toolbar>
    <!-- If Not Emas -->
    <v-container class="toolbar-margin pa-0">
      <v-layout column v-if="loadingDone === true">
        <!-- Product Layout -->
        <img :src="productImage" style="width: 52px; align-self: center"/>

        <div class="pa-3" v-if="productClassAssetName !== 'Emas'">
          <v-card-text class="pa-0 text-align-center nexa-14-bold mb-2">{{ productName }}</v-card-text>
          <v-card-text class="pa-0 text-align-center avenir-12-reg">Tersedia untuk dijual</v-card-text>
          <!-- if env is prod -->
          <v-card-text class="pa-0 text-align-center nexa-16-bold mb-2" v-if="checkFeatures().environment === 'production'">{{ parseFloat(totalUnit).toFixed(6).toString().replace(/\./g, ',') }}</v-card-text>
          <!-- if env is else -->
          <v-card-text v-else class="pa-0 text-align-center nexa-16-bold mb-2">{{ numberingReksadana(totalUnit)}}</v-card-text>
        </div>
        <div class="pa-3" v-else>
          <v-card-text class="pa-0 text-align-center nexa-14-bold mb-2 text-capitalize">{{ productName }}</v-card-text>
          <v-card-text class="pa-0 text-align-center avenir-12-reg">Unit Emas Tersedia</v-card-text>
          <v-card-text class="pa-0 text-align-center nexa-16-bold mb-2">{{ parseFloat(totalUnit).toFixed(4).toString().replace(/\./g, ',') }} gram</v-card-text>
        </div>

        <v-divider></v-divider>
        <!-- Input layout -->
        <div class="py-3">
          <div v-if="productClassAssetName !== 'Emas'" class="avenir-12-reg mb-1 px-3">Unit yang Dijual</div>
          <div v-else class="avenir-12-reg mb-1 px-3">Unit Emas yang Dijual</div>
          <!-- input Amount -->
          <v-text-field
            v-if="productClassAssetName !== 'Emas'"
            v-model="inputAmount"
            :readonly="checkedBox"
            solo
            flat
            type="number"
            hide-details
            class="mb-2 mx-3"
            :placeholder="'Minimal unit ' + replaceDotWithComa(minSell)"
          ></v-text-field>

          <v-text-field
            v-else
            v-model="inputAmountEmas"
            :readonly="checkedBox"
            solo
            flat
            type="number"
            hide-details
            class="mb-2 mx-3"
            :placeholder="'Minimal ' + replaceDotWithComa(minSell) + ' gram'"
          ></v-text-field>
          <!-- Validation -->
          <v-card-text v-if="validation" class="pt-0 pb-2 px-3 avenir-12-reg color-system-error">{{ validation }}</v-card-text>
          <!-- checkbox sell all -->
          <v-checkbox v-model="sellAll" label="Jual Semua" class="mt-0 pb-3 px-3 border-bottom-dashed" hide-details></v-checkbox>
          <!-- Nilai Jual Input -->
          <div class="avenir-12-reg mb-2 px-3 mt-4">Perkiraan Nilai Jual</div>
          <div class="px-3">
            <input
            v-model="sellPrice"
            solo
            flat
            disabled
            class="bg-primary-3 v-input__control inputedit border-secondary-5 mb-4"
            />
          </div>
          <v-card-text class="pa-0 px-3 avenir-12-med">Disclaimer</v-card-text>
          <v-card-text v-if="productClassAssetName !== 'Emas'" class="pa-0 px-3 avenir-12-reg">Nilai harga per-unit bisa berubah kapan saja, Harga di atas merupakan perkiraan, bukan harga penjualan akhir</v-card-text>
          <v-card-text v-else class="pa-0 px-3 avenir-12-reg">Nilai jual akhir nanti akan diperoleh berdasarkan perhitungan nilai per gram oleh pihak partner</v-card-text>
        </div>
        <v-divider></v-divider>
        <!-- Bank Layout -->
        <v-layout row px-3 pt-3>
          <v-flex xs12 class="avenir-12-reg">
            Pilih akun bank untuk menerima dana kamu :
          </v-flex>
        </v-layout>
        <v-layout row align-center justify-center pa-3>
          <v-flex xs1 mr-2>
            <v-radio-group v-model="selected" hide-details>
              <v-radio :value="{accountNumber: userBank.account_number, nameBank: userBank.name_bank, userName: userBank.username, bankCode: userBank.bank_code}"></v-radio>
            </v-radio-group>
          </v-flex>
          <v-flex xs4 class="mr-3">
            <img v-if="userBank.name_bank === 'Bank BCA'" :src="require('@/assets/finaspend/cashflowtracking/logoBCA.svg')" style="height: 20px"/>
            <img v-if="userBank.name_bank === 'Bank Mandiri'" :src="require('@/assets/finaspend/cashflowtracking/logoMandiri.svg')" style="height: 20px"/>
            <img v-if="userBank.name_bank === 'Bank BNI'" :src="require('@/assets/finaspend/cashflowtracking/logoBNI.svg')" style="height: 20px"/>
            <img v-if="userBank.name_bank === 'Bank BRI'" :src="require('@/assets/finaspend/cashflowtracking/logoBRI.svg')" style="height: 22px"/>
          </v-flex>
          <v-flex xs7>
            <v-layout column>
              <v-card-text class="pa-0 nexa-14-bold">{{ userBank.username }}</v-card-text>
              <v-card-text class="pa-0 avenir-14-reg">{{ userBank.account_number }}</v-card-text>
            </v-layout>
          </v-flex>
        </v-layout>
        <div class="pa-3" v-if="productClassAssetName !== 'Emas'">
          <v-btn depressed color="primary" :disabled="inputAmount === null || selected === null || selected === false || inputAmount === '0' || disableButton === true" block class="btn-radius box-shadow" :ripple="false" @click="setData()">
            Lanjut
          </v-btn>
        </div>
        <div class="pa-3" v-else>
          <v-btn depressed color="primary" :disabled="inputAmountEmas === null || selected === null || selected === false || inputAmountEmas === '' || inputAmountEmas === '0' || disableButton === true" block class="btn-radius box-shadow" :ripple="false" @click="setDataEmas()">
            Lanjut
          </v-btn>
        </div>
      </v-layout>
      <v-layout v-else column align-center justify-center class="full-height">
        <reusable-loading></reusable-loading>
      </v-layout>
    </v-container>

    <!-- Dialog Error -->
    <reusable-dialogs
      v-model="dialog.dialogError"
      :resize-image="true"
    ></reusable-dialogs>
  </div>
</template>

<script>
import {
  VTextField,
  VDivider,
  VCheckbox,
  VRadio,
  VRadioGroup
} from 'vuetify/lib'
import Api from '@/services/Api'
import ReusableImageLifeplan from '@/components/reusable/ReusableImageLifeplan'
// Masking for input
import { VMoney } from 'v-money'
// Import function from helper
import { numberingNumber, numberingReksadana, replaceDotWithComa, checkFeatures } from '@/services/Helpers'

export default {
  name: 'FinavestInvestmentSellProduct',
  components: {
    VTextField,
    VDivider,
    VCheckbox,
    VRadio,
    VRadioGroup,
    ReusableImageLifeplan
  },
  directives: {
    money: VMoney
  },
  data () {
    return {
      productName: '',
      productCode: '',
      validationEmas: '',
      checkedBox: false,
      productImage: '',
      productProspectus: '',
      productFundFact: '',
      productClassAsset: '',
      productClassAssetName: '',
      amount: '',
      totalUnit: 0,
      pendingUnit: 0,
      nav: '',
      sellAll: false,
      minSell: 0,
      inputAmount: null,
      inputAmountEmas: null,
      productId: 0,
      lifeplanId: 0,
      userBank: {},
      sellDatas: {},
      remain: 0,
      validation: null,
      selected: null,
      loadingDone: false,
      disableButton: true,
      money: {
        thousands: '.',
        precision: 0,
        masked: true
      },
      dialog: {
        dialogError: false
      }
    }
  },
  computed: {
    sellPrice: function () {
      if (this.inputAmount !== null) return 'Rp ' + numberingNumber(Number(this.inputAmount.replace(/,/g, '.')) * Number(this.nav))
      if (this.inputAmountEmas !== null) return 'Rp ' + numberingNumber(Number(this.inputAmountEmas.replace(/,/g, '.')) * Number(this.nav))
    }
  },
  watch: {
    sellAll: function (value) {
      if (value === true) {
        this.checkedBox = true
        if (this.productClassAssetName !== 'Emas') {
          this.inputAmount = this.totalUnit
        } else {
          this.inputAmountEmas = parseFloat(this.totalUnit).toFixed(4)
        }
      } else {
        this.checkedBox = false
        this.inputAmount = null
        this.inputAmountEmas = null
        this.validationEmas = ''
      }
    },
    inputAmountEmas: function (value) {
      var valueWithoutComa = value
      valueWithoutComa = valueWithoutComa.replace(/,/g, '.')

      if (Number(valueWithoutComa) < 1 && valueWithoutComa !== '') {
        this.validation = 'Maaf, minimum penjualan pada produk ini adalah 1 gram.'
        this.disableButton = true
      } else if (Number(valueWithoutComa) > Number(this.totalUnit)) {
        // value is more than existing
        this.validation = 'Maaf, jumlah emas yang kamu masukkan melebihi total emas yang kamu miliki.'
        this.disableButton = true
      } else if (this.productCode === 'TAMASIA') {
        // tamasia
        if ((Number(this.inputAmountEmas.replace(/,/g, '.')) * Number(this.nav)) > 15000000) {
          this.validation = 'Maaf, maksimum penjualan pada product ini adalah Rp 15 juta.'
          this.disableButton = true
        } else {
          this.validation = ''
          this.disableButton = false
        }
      } else if (this.decimalPlaces(valueWithoutComa) > 4) {
        // Check number length behind comma
        this.validation = 'Maaf, jumlah angka di belakang koma tidak lebih dari empat bilangan.'
        this.disableButton = true
      } else if (valueWithoutComa === '') {
        this.validation = ''
      } else {
        this.validation = null
        this.disableButton = false
      }

      if (Number(value === null)) {
        this.validation = null
        this.disableButton = true
        this.selected = false
      }
      // set value to null
      if (value === '') {
        this.inputAmountEmas = null
        this.selected = false
      }
    },
    inputAmount: function (value) {
      var valueWithoutComa = value
      valueWithoutComa = valueWithoutComa.replace(/,/g, '.')
      // if value is equal total unit
      if (Number(valueWithoutComa) === Number(this.totalUnit)) {
        this.validation = null
        this.disableButton = false
      } else if (Number(valueWithoutComa) > Number(this.totalUnit)) {
        // if value is more than total unit
        // setTimeout(() => {
        this.validation = 'Maaf, unit yang kamu masukkan melebihi unit yang tersedia untuk dijual.'
        this.disableButton = true
        // }, 300)
      } else if (Number(valueWithoutComa) < Number(this.minSell)) {
        // if value less than min sell
        // setTimeout(() => {
        this.validation = 'Maaf, minimum unit penjualan pada produk ini adalah ' + replaceDotWithComa(this.minSell) + ' unit, atau kamu bisa menjual semua unit.'
        this.disableButton = true
        // }, 300)
      } else if ((Number(this.totalUnit) - Number(valueWithoutComa)) < Number(this.minSell)) {
        // if value is less than remain
        // setTimeout(() => {
        this.validation = 'Maaf, minimum unit yang tersisa untuk produk ini adalah ' + replaceDotWithComa(this.minSell) + ' unit, atau kamu bisa menjual semua unit.'
        this.disableButton = true
        // }, 300)
      } else {
        // setTimeout(() => {
        this.validation = null
        this.disableButton = false
        // }, 300)
      }
      // if value is null
      if (Number(value === null)) {
        this.validation = null
        this.disableButton = true
        this.selected = false
      }
      // set value to null
      if (value === '') {
        this.inputAmount = null
        this.selected = false
      }
    }
  },
  methods: {
    numberingNumber,
    numberingReksadana,
    replaceDotWithComa,
    checkFeatures,
    decimalPlaces (number) {
      var s = '' + (+number)
      var match = /(?:\.(\d+))?(?:[eE]([+]?\d+))?$/.exec(s)
      if (!match) { return 0 }
      return Math.max(
        0, // lower limit.
        (match[1] === '0' ? 0 : (match[1] || '').length) - (match[2] || 0)
      )
    },
    getParams () {
      this.productId = this.$route.params.productId
      this.lifeplanId = this.$route.params.lifeplanId
    },
    fetchDataProduct () {
      Api('finavest/investment/sell/lifeplan/product', {
        portfolioid: this.productId
      })
        .then((res) => {
          this.productName = res.d.product_name
          this.productCode = res.d.product_code
          this.productImage = res.d.product_image
          this.productClassAsset = res.d.asset_class_id
          this.productClassAssetName = res.d.asset_class_name
          this.totalUnit = res.d.total_unit
          this.pendingUnit = res.d.pending_unit === null ? 0 : res.d.pending_unit
          this.productProspectus = res.d.prospectus
          this.productFundFact = res.d.fund_fact
          this.nav = res.d.nav_price
          this.minSell = res.d.start_sell
          this.remain = res.d.remain
          this.sellDatas = res.d
          this.loadingDone = true
        })
        .catch(() => {
          this.loadingDone = true
          this.dialog.dialogError = true
        })
    },
    fetchDataBank () {
      Api('finacheck/kyc/bank', {})
        .then((res) => {
          this.userBank = res.d
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    // set data reksadana
    setData () {
      var sellDatas = this.sellDatas
      localStorage.setItem('halofina-sell-detail', JSON.stringify(
        {
          bank: this.selected,
          product: {
            productAmount: this.inputAmount,
            productImage: this.productImage,
            productName: this.productName,
            productProspectus: this.productProspectus,
            productFundFact: this.productFundFact
          }
        }
      ))
      localStorage.setItem('halofina-itinerary-sell', JSON.stringify(
        {
          lifeplan: {
            id: this.lifeplanId,
            type: sellDatas.lifeplan_type,
            subtype: sellDatas.lifeplan_name
          },
          detail: {
            asset_class_id: this.productClassAsset,
            asset_class_name: this.productClassAssetName,
            portfolioid: this.productId,
            product_name: this.productName,
            nav_price: sellDatas.nav_price,
            nav_date: sellDatas.nav_date,
            prospectus: sellDatas.prospectus,
            fund_fact: sellDatas.fund_fact,
            unit: this.inputAmount.replace(/,/g, '.')
          },
          payment: {
            methodid: 1,
            bankcode: this.selected.bankCode,
            bankname: this.selected.nameBank,
            accountnumber: this.selected.accountNumber,
            accountname: this.selected.userName,
            unit: this.inputAmount
          }
        }
      ))
      this.$router.push('/finavest/investment/sell/sell_confirm')
    },

    // set data emas
    setDataEmas () {
      var sellDatas = this.sellDatas
      localStorage.setItem('halofina-sell-detail', JSON.stringify(
        {
          bank: this.selected,
          product: {
            productAmount: this.inputAmountEmas,
            productImage: this.productImage,
            productName: this.productName,
            productProspectus: this.productProspectus,
            productFundFact: this.productFundFact
          }
        }
      ))
      localStorage.setItem('halofina-itinerary-sell', JSON.stringify(
        {
          lifeplan: {
            id: this.lifeplanId,
            type: sellDatas.lifeplan_type,
            subtype: sellDatas.lifeplan_name
          },
          detail: {
            asset_class_id: this.productClassAsset,
            asset_class_name: this.productClassAssetName,
            portfolioid: this.productId,
            product_name: this.productName,
            nav_price: sellDatas.nav_price,
            nav_date: sellDatas.nav_date,
            prospectus: sellDatas.prospectus,
            fund_fact: sellDatas.fund_fact,
            unit: this.inputAmountEmas.replace(/,/g, '.')
          },
          payment: {
            methodid: 1,
            bankcode: this.selected.bankCode,
            bankname: this.selected.nameBank,
            accountnumber: this.selected.accountNumber,
            accountname: this.selected.userName,
            unit: this.inputAmountEmas
          }
        }
      ))
      this.$router.push('/finavest/investment/sell/sell_confirm')
    }
  },
  created () {
    this.getParams()
    this.fetchDataProduct()
    this.fetchDataBank()
  }
}
</script>

<style lang="sass">
  .finavest-investment-sell-product
    .v-divider
      border-top-width: 12px

    .v-input
      flex: none
      margin-top: 0px
    .inputedit
      padding: 6px 13px
      font-size: 14px
      border-radius: 8px
      border: 0.3px solid grey
</style>
