<template>
  <div class="portfolio-product-detail">
    <v-layout column mb-4>
      <div class="pt-3">
        <v-layout column align-center mx-3 mb-3 py-3 class="card-product bg-primary-3" v-for="(data, index) in productProps" :key="index">
          <div @click="gotoDetail(data.id_product, data.id_asset_class)" class="full-width">  
            <v-layout row>
              <div class="wrap-img mx-3">
                <img :src="data.product_img_url" alt="product">
              </div>
              <v-flex xs8>
                <v-layout column>
                  <v-layout row wrap>
                    <v-card-text class="avenir-14-med color-text-1">{{data.product_name}}</v-card-text>
                  </v-layout>
                  <v-card-text v-if="data.id_asset_class === 4" class="avenir-12-reg color-text-1">Logam Mulia</v-card-text>
                  <v-card-text v-else class="avenir-12-reg color-text-1">Reksa Dana</v-card-text>
                </v-layout>
              </v-flex>
            </v-layout>

            <div class="line"></div>

            <div class="full-width">
              <v-layout row px-3>
                <v-flex xs7>
                  <v-card-text class="avenir-12-reg color-text-4">
                    Total Saldo
                  </v-card-text>
                  <v-card-text class="avenir-14-reg color-text-1">
                    Rp {{numberingNumber(data.total_balance, true)}}
                  </v-card-text>
                </v-flex>
                <v-flex xs5 class="text-xs-right">
                  <v-card-text class="avenir-12-reg color-text-4">
                    Pertumbuhan
                  </v-card-text>
                  <v-card-text class="avenir-14-reg">
                    <span class="right pl-1">{{numberingNumber(roundUp(data.gain_percentage, 2))}}%</span>
                    <img v-if="data.gain_percentage > 0" src="@/assets/finavest/portfolio/v2/icon-up-green.svg" class="icon-up">
                    <img v-if="data.gain_percentage < 0" src="@/assets/finavest/portfolio/v2/icon-down-red.svg" class="icon-up">
                  </v-card-text>
                </v-flex>
              </v-layout>
            </div>
          </div>

          <div class="full-width">
            <v-layout row px-3 mt-3>
              <v-flex xs6 mr-3 v-if="isAllocationEnabled">
                <v-btn flat block depressed color="primary" class="btn-radius border-thin" @click="goToAllocation(data.id_asset_class, data)">Alokasikan</v-btn>
              </v-flex>
              <v-flex :xs6="isAllocationEnabled" :xs12="!isAllocationEnabled">
                <v-btn block depressed color="warning" class="btn-radius" @click="sheets.customAssetSheet = true; setProductId(data.id_product)">Beli Lagi</v-btn>
              </v-flex>
            </v-layout>
          </div>
        </v-layout>
      </div>
      <!-- Amount Sheet -->
      <portfolio-custom-sheet
        v-model="sheets.customAssetSheet"
        :product-id="productId"
      ></portfolio-custom-sheet>
      <!-- Lifeplan Sheet -->
      <reusable-bottom-sheet
        v-model="sheets.lifeplanSheet.isOpen"
        :title="sheets.lifeplanSheet.title"
        :description="sheets.lifeplanSheet.desc"
        :image="require('@/assets/finavest/allocation/no-lifeplan.svg')"
      >
        <v-btn slot="button-layout" class="btn-radius box-shadow py-3 nexa-16-bold" color="primary" depressed block @click="goToLifeplan()">Buat Lifeplan</v-btn>
      </reusable-bottom-sheet>
      <!-- alocation sheet -->
      <reusable-bottom-sheet
        :use-padding="true"
        v-model="sheets.allocationSheet.isOpen"
        :title="sheets.allocationSheet.title"
        :description="sheets.allocationSheet.desc"
        :image="require('@/assets/finavest/allocation/no-lifeplan.svg')"
      >
        <v-btn slot="button-layout" class="btn-radius box-shadow py-3 nexa-16-bold" color="primary" depressed block @click="sheets.allocationSheet.isOpen = false">Saya Mengerti</v-btn>
      </reusable-bottom-sheet>

    </v-layout>
  </div>
</template>
<script>
// import global function
import Api from '@/services/Api'
import ApiGet from '@/services/ApiGet'
import { numberingNumber, roundUp, checkFeatures } from '@/services/Helpers'
const PortfolioCustomSheet = () => import('@/components/reusable/finavest/portfolio/custom/PortfolioCustomSheet')

export default {
  props: ['productProps', 'portfolioType'],
  components: {
    PortfolioCustomSheet
  },
  data () {
    return {
      sheets: {
        customAssetSheet: false,
        lifeplanSheet: {
          isOpen: false,
          title: '',
          desc: ''
        },
        allocationSheet: {
          isOpen: false,
          title: '',
          desc: ''
        }
      },
      lifeplans: [],
      productId: '0',
      isAllocationEnabled: false
    }
  },
  created () {
    this.checkAllocationFeature()
    this.fetchDataLifeplan()
  },
  methods: {
    numberingNumber,
    roundUp,
    checkFeatures,
    goToLifeplan () {
      this.$router.push('/finavest/new/lifeplan/dashboard')
    },
    setAllocationProduct (products) {
      let product = {
        min_buy: products.min_buy,
        product_img_url: products.product_img_url,
        product_name: products.product_name,
        product_id: products.id_product,
        from_lifeplan_id: 0,
        unit: products.total_unit,
        type: 'Aset Bebas',
        title: 'Aset Bebas',
        nav: products.nav_price,
        asset_class_id: products.id_asset_class
      }
      localStorage.setItem('halofina-allocation-product', JSON.stringify(product))
    },
    goToAllocation (assetId, product) {
      Api('finavest/v0/lifeplan/allocation/recommendation', {
        asset_class_id: assetId,
        type: 'unallocated',
        lifeplan_id: 'custom'
      })
        .then((res) => {
          if (res.d.is_fulfilled === true) {
            this.sheets.allocationSheet.isOpen = true
            this.sheets.allocationSheet.title = 'Tidak ada Lifeplan untuk tujuan alokasi'
            this.sheets.allocationSheet.desc = 'Lifeplanmu yang lain sudah tidak membutuhkan dana tambahan.'
          } else {
            let lifeplan = this.lifeplans
            if (lifeplan.length === 0) {
              this.openLifeplanSheet('kamu belum memiliki Lifeplan', 'Ayo buat lifeplan untuk membantu perencanaan keuangan kamu')
            } else {
              this.setAllocationProduct(product)
              this.$router.push('/finavest/allocation/target/custom/' + assetId)
            }
          }
          this.isLoaded = true
        })
        .catch(() => {
          this.isLoaded = true
          this.dialog.dialogError = true
        })
    },
    fetchData (assetId) {
      Api('finavest/v0/lifeplan/allocation/recommendation', {
        asset_class_id: assetId,
        type: 'unallocated',
        lifeplan_id: 'custom'
      })
        .then((res) => {
          if (res.d.is_fulfilled === true) {
            console.log('ulala true')
          } else {
            console.log('ulala false')
          }
          this.isLoaded = true
        })
        .catch(() => {
          this.isLoaded = true
          this.dialog.dialogError = true
        })
    },
    openLifeplanSheet (title, desc) {
      this.sheets.lifeplanSheet.isOpen = true
      this.sheets.lifeplanSheet.title = title
      this.sheets.lifeplanSheet.desc = desc
    },
    setProductId (id) {
      this.productId = id
    },
    fetchDataLifeplan () {
      ApiGet('finavest/v1/lifeplan/account', {})
        .then((res) => {
          this.lifeplans = this.removeSmartSaving(res.d)
        })
        .catch((err) => {
          console.error(err)
        })
    },
    removeSmartSaving (items) {
      return items.filter(element => element.type !== 'smartsaving')
    },
    checkAllocationFeature () {
      this.isAllocationEnabled = checkFeatures('halofina:allocation').enabled
    },
    gotoDetail (productid, assetclassid) {
      if (assetclassid === 4) {
        this.$router.push('/finavest/portfolio/product/detailasetemas/custom/' + productid + '/null')
      } else {
        this.$router.push('/finavest/portfolio/product/detailaset/custom/' + productid + '/null')
      }
    }
  }
}
</script>
<style lang="sass">
  .pb-80
    padding-bottom: 80px

  .pb-144
    padding-bottom: 144px

  .portfolio-product-detail
    *
      padding: 0
      margin: 0

    .theme--light.v-btn:not(.v-btn--icon):not(.v-btn--flat)
      background-color: #FFB245

    .wrap-btn-nabung
      position: fixed
      bottom: 0

      button
        height: 48px
        line-height: 48px
        border-radius: 4px
        border: none

    .card-product
      border: 1px solid #E8EAEF
      box-shadow: 0px 6px 10px rgba(139, 139, 139, 0.07)
      border-radius: 8px

    .wrap-img
      border: 1px solid #E9ECF0
      background: white
      padding: 4px 4px 0 4px
      border-radius: 4px
      width: 44px
      height: 44px
      overflow: hidden
      position: relative

      img
        width: 35px
        height: auto
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

    .line
      width: 100%
      height: 1px
      background: #E8EAEF
      margin: 12px 0

    .icon-up
      margin-bottom: -3px
</style>
