<template>
  <!-- If Loading not Done -->
  <div v-if="loadingDone === false">
    <v-container>
      <v-layout column justify-center align-center class="full-height">
        <reusable-loading></reusable-loading>
      </v-layout>
    </v-container>
  </div>

  <div v-else class="portfolio-detail-new bg-primary-3" :style="minHeight()">
    <reusable-toolbar page-name=""></reusable-toolbar>
    <template>
      <div class="pb-3 pt-2">
        <div class="wrapper-card bg-primary-3">
          <div class="card-body px-3">

            <img class="illustration-card" src="@/assets/finavest/portfolio/v2/card-suka-suka.svg" alt="lifeplan illustration">

            <template>
              <v-card-text class="pt-21 nexa-18-bold color-text-2 pt-4">
                Aset Bebas
              </v-card-text>
              <v-card-text class="avenir-12-reg text-color-3 pb-4 mb-2">
                Aset yang tidak teralokasikan ke lifeplan
              </v-card-text>
            </template>

            <template>
              <v-layout row justify-space-between pb-4>
                <div class="">
                  <v-card-text class="avenir-12-reg pb-1 color-text-1">
                    Total Saldo
                  </v-card-text>
                  <v-card-text class="avenir-16-bold">
                    Rp {{numberingNumber(customAsset.total_balance, true)}}
                  </v-card-text>
                </div>
                <div class="text-xs-right">
                  <v-card-text class="avenir-12-reg pb-1 color-text-1">
                    Pertumbuhan
                  </v-card-text>
                  <v-card-text class="avenir-14-med">
                    <span class="right right pl-1">{{numberingNumber(roundUp(customAsset.gain_percentage, 2))}}%</span>
                    <img v-if="customAsset.gain_percentage > 0" src="@/assets/finavest/portfolio/v2/icon-up-green.svg" class="icon-up">
                    <img v-if="customAsset.gain_percentage < 0" src="@/assets/finavest/portfolio/v2/icon-down-red.svg" class="icon-up">
                  </v-card-text>
                  <!-- clear float -->
                  <div class="clear"></div>
                </div>
              </v-layout>
            </template>

            <template>
              <v-layout row justify-space-between pb-4>
                <div class="">
                  <v-card-text class="avenir-12-reg pb-1 color-text-1">
                    Modal Beli
                  </v-card-text>
                  <v-card-text class="avenir-14-med">
                    Rp {{numberingNumber(customAsset.total_buy, true)}}
                  </v-card-text>
                </div>
                <div class="text-xs-right">
                  <v-card-text class="avenir-12-reg pb-1 color-text-1">
                    Laba/Rugi
                  </v-card-text>
                  <v-card-text class="avenir-14-med">
                    <span :class="customAsset.gain_loss_amount < 0 ? 'right right color-down' : 'right right color-up'">Rp {{numberingNumber(customAsset.gain_loss_amount, true)}}</span>
                  </v-card-text>

                  <!-- clear float -->
                  <div class="clear"></div>
                </div>
              </v-layout>
            </template>

          </div>

        </div>
      </div>
    </template>

    <template>
      <!-- Asset and Lifeplan -->
      <v-layout row wrap>
        <v-flex xs12>
          <v-tabs centered grow class="tabs-portfolio">
            <!-- Tab Title -->
            <v-tab active-class="active-tab">
              Kelas Aset
            </v-tab>
            <v-tab active-class="active-tab">
              Produk
            </v-tab>
            <!-- analysis -->
            <v-tab-item>
              <portfolio-asset-class :assets="assets"/>
            </v-tab-item>
            <!-- my asset -->
            <v-tab-item>
              <portfolio-product :product-props="productProps" />
            </v-tab-item>
          </v-tabs>
        </v-flex>
      </v-layout>
    </template>

  </div>
</template>
<script>
// import api
import ApiGet from '@/services/ApiGet'

// helpers
import { numberingNumber, roundUp, minHeight } from '@/services/Helpers'

import {
  VTabs,
  VTab,
  VTabItem
} from 'vuetify/lib'

import PortfolioAssetClass from './PortfolioAssetClass'
import PortfolioProduct from './PortfolioProduct'

export default {
  components: {
    VTabs,
    VTab,
    VTabItem,
    PortfolioAssetClass,
    PortfolioProduct
  },
  data () {
    return {
      screenHeight: screen.height,
      customAsset: null,
      assets: null,
      productProps: null,
      loadingDone: false
    }
  },
  methods: {
    numberingNumber,
    roundUp,
    minHeight,
    fetchCustomAssetBrief () {
      ApiGet('v1/investment/unallocated/brief', {})
        .then((res) => {
          this.customAsset = res.d
          this.loadingDone = true
        }).catch(() => {})
    },
    fetchAssets () {
      ApiGet('v1/investment/unallocated/group/class-asset', {})
        .then((res) => {
          this.assets = res.d
        }).catch(() => {})
    },
    fetchProductProps () {
      ApiGet('v1/investment/unallocated/products', {})
        .then((res) => {
          this.productProps = res.d
        }).catch(() => {})
    }
  },
  created () {
    this.fetchCustomAssetBrief()
    this.fetchAssets()
    this.fetchProductProps()
  }
}
</script>
<style lang="sass">
  .portfolio-detail-new
    *
      padding: 0
      margin: 0

    .v-toolbar
      position: relative !important

    .illustration-card
      width: 75px
      right: 16px
      top: 5px
      position: absolute

    .card-body
      position: relative

    .icon-up
      margin-bottom: -3px

    .color-up
      color: #17CF82

    .color-down
      color: #FF6767

    .v-tabs__item
      opacity: 1
      color: #AAADC4
      font-weight: 100
      font-size: 16px

    .v-tabs__item.active-tab
      color: #42A5F5
      opacity: 1
      font-weight: bold
      font-size: 16px


</style>
