<template>
    <div class="finavest-payment-method-list">
      <reusable-toolbar page-name="Metode Pembayaran" :left="true"></reusable-toolbar>
      <v-container pa-0 class="toolbar-margin">
        <div :style="$helpers.minHeight()" class="bg-primary-3 pt-3">
          <v-layout row align-center justify-space-between py-3 class="px-20 border-bottom-solid" v-for="(item, index) in paymentList" :key="index" @click="openMethodSheet(item.detail, item.title, item.img_url)">
            <v-layout row align-center>
              <div class="wrap-img mr-3">
                <img id="product-image" :src="item.img_url" alt="product" />
              </div>
              <div class="avenir-14-med text-capitalize">{{item.title}}</div>
            </v-layout>
            <v-icon color="black" style="font-size: 11px">arrow_forward_ios</v-icon>
          </v-layout>
        </div>
      </v-container>
  
      <!-- Bottom Sheet Methods -->
      <reusable-bottom-sheet
        v-model="bottomSheet.paymentMethods"
        :use-padding="false"
        :is-scroll="true"
      >
        <v-window v-model="step" slot="custom-layout" :touchless="true">
          <v-window-item>
            <div class="full-height">
              <v-card-text class="nexa-18-bold">{{ bottomSheet.paymentTitle }}</v-card-text>
              <v-layout class="pl-20" row align-center v-for="(item, index) in bottomSheet.paymentList" :key="index" @click="setPaymentChannel(item.payment_channel_id); openWaySheet(item.instruction, item.category)">
                <img class="pr-2" :src="item.img_url" />
                <v-card-text class="avenir-14-med px-0 py-4" style="border-bottom: 1px solid #E8EAEF"> {{item.category}} </v-card-text>
              </v-layout>
            </div>
          </v-window-item>
          <v-window-item>
            <v-layout column class="full-height" justify-center>
              <v-flex>
                <v-layout row justify-center align-center class="pr-20 pl-2" style="border-bottom: 8px solid #F9F9FB; position: fixed; width: 100%; background: white;" pb-3>
                  <v-btn icon @click="step--">
                    <img src="@/assets/icons/icon-back.svg" style="width: 24px; height: 24px;" alt="arrow back">
                  </v-btn>
                  <v-layout row align-center pl-2>
                    <div class="wrap-img mr-3" style="border: 1px solid #E9ECF0; background: white; padding: 4px 4px 0 4px; border-radius: 3px; width: 44px; height: 44px; overflow: hidden; position: relative;">
                      <img id="product-image" :src="bottomSheet.paymentImage" alt="product" style="width: 35px; height: auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" />
                    </div>
                    <v-layout column pa-0>
                      <v-card-text class="avenir-14-med pa-0 pb-1">{{ bottomSheet.paymentTitle }}</v-card-text>
                      <v-card-text class="avenir-12-reg pa-0">{{ bottomSheet.wayTitle }}</v-card-text>
                    </v-layout>
                  </v-layout>
                  <v-btn v-if="fromBankPage === 'true' || fromBankPage === true" @click="callApiItinerary()" small depressed class="btn-radius" color="primary">Pilih</v-btn>
                </v-layout>
                <!--  -->
                <v-list class="pt-0" style="margin-top: 70px; max-height: 80vh; overflow-y: scroll;">
                  <v-card-text class="nexa-18-bold pb-4">
                    Cara Bayar :
                  </v-card-text>
                  <template v-for="(step, indexSteps) in bottomSheet.wayList">
                    <v-layout row align-center pl-3 :key="indexSteps" style="position: relative;">
                      <v-flex class="mr-3" xs1 style="z-index: 1">
                        <div style="width: 24px; height: 24px; border-radius: 100%; z-index: 2; position: relative; background-color: #ECEFF7; overflow: hidden;" class="center-horizontal">
                          <span class="avenir-14-med" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">{{ indexSteps + 1 }}</span></div>
                        <div class="bg-primary-1 line" v-if="indexSteps + 1 < step.length"></div>
                      </v-flex>
                      <v-flex xs11>
                        <v-card-text style="padding: 20px 0; border-bottom: 1px solid #E9ECF0" class="avenir-12-reg pr-20" v-html="step"></v-card-text>
                      </v-flex>
                      <!-- first div -->
                      <div v-if="indexSteps === 0" style="position: absolute; left: 27px; width: 1px; height: 50%; background: #ECEFF7; left: 27px; bottom: 0;"></div>
                      <!-- last div -->
                      <div v-else-if="indexSteps === bottomSheet.wayList.length - 1" style="position: absolute; left: 27px; width: 1px; height: 50%; background: #ECEFF7; top: 0;"></div>
                      <!-- beetween div -->
                      <div v-else style="position: absolute; left: 27px; width: 1px; height: 100%; background: #ECEFF7;"></div>
                    </v-layout>
                  </template>
                </v-list>
              </v-flex>
            </v-layout>
          </v-window-item>
        </v-window>
      </reusable-bottom-sheet>
  
      <!-- Dialog Error -->
      <reusable-dialogs
        v-model="dialog.dialogError"
        :resize-image="true"
      ></reusable-dialogs>
      <!-- Loading Dialog -->
      <reusable-dialogs
          v-model="dialog.dialogLoading"
          :unclickable="true"
      >
        <div slot="layout">
          <v-card flat class="card-radius" style="width: 100%">
            <v-layout py-3 px-4 row align-center justify-center>
              <reusable-loading></reusable-loading>
              <div class="nexa-14-bold px-5">Memproses</div>
            </v-layout>
          </v-card>
        </div>
      </reusable-dialogs>
    </div>
  </template>
  
  <script>
  import Api from '@/services/Api'
  
  import {
    VDivider,
    VList,
    VListTile,
    VListTileTitle,
    VListTileAction,
    VListTileContent,
    VListTileAvatar,
    VSpacer,
    VWindow,
    VWindowItem
  } from 'vuetify/lib'
  
  import ReusableBottomSheet from '@/components/reusable/ReusableBottomSheet'
  /**
   * @group /finavest/payment/Detail
   * Payment Method page
  */
  export default {
    name: 'V2FinavestPaymentMethodList',
    components: {
      VDivider,
      VList,
      VListTile,
      VListTileTitle,
      VListTileAction,
      VListTileContent,
      VListTileAvatar,
      VSpacer,
      VWindow,
      VWindowItem,
      ReusableBottomSheet
    },
    data () {
      return {
        step: 0,
        accountNumber: '',
        accountName: '',
        isOutstanding: '',
        bankName: '',
        totalAmountZakat: '',
        loadingDone: false,
        checkoutData: {},
        // From route
        id: '',
        fromBankPage: true,
        type: null,
        trxid: null,
        itineraryZakat: {
          methodid: '',
          payment_bankcode: '',
          payment_accountnumber: '',
          payment_accountname: '',
          amount: '',
          zakat: []
        },
        dialog: {
          dialogError: false,
          dialogLoading: false
        },
        bottomSheet: {
          paymentMethods: false,
          paymentTitle: '',
          paymentList: [],
          paymentImage: '',
          wayList: [],
          wayTitle: ''
        },
        paymentList: []
      }
    },
    watch: {
      bottomSheet: {
        handler (value) {
          if (value.paymentMethods === false) this.step = 0
        },
        deep: true
      }
    },
    methods: {
      /**
       * @vuese
       * Call Itinerary API
       * Case 1: If from zakat page, call Zakat checkout API
       * Case 2: If from Aset Bebas page, call Market checkout API
       * Case 3: If from lifeplan or smart saving page, call Transactin checkout API
      */
      callApiItinerary () {
        let fromMarket = localStorage.getItem('halofina-from-market')
        this.dialog.dialogLoading = true
        if (this.$route.params.trxid === 'zakat') {
          // submit zakat
          Api('finapay/zakat/pay', this.itineraryZakat)
            .then((res) => {
              this.$router.replace('/finavest/payment_zakat/detail/zakat/invoice/' + res.d + '/null')
            })
            .catch(() => {
              this.dialog.dialogLoading = false
              this.dialog.dialogError = true
            })
        } else {
          Api(fromMarket ? 'finavest/market/checkout' : 'finavest/transaction/checkout', this.checkoutData)
            .then((res) => {
              if (fromMarket) localStorage.removeItem('halofina-market-cart')
              this.$router.replace('/finavest/payment/detail/' + res.d.transactionid + '/buy/null')
            })
            .catch(() => {
              this.dialog.dialogLoading = false
              this.dialog.dialogError = true
            })
        }
      },
      /**
       * @vuese
       * Set checkout data from local storage
      */
      setCheckoutData () {
        if (this.fromBankPage === 'true' && this.$route.params.trxid !== 'zakat') {
          var iteneraryData = JSON.parse(localStorage.getItem('halofina-itenerary-data'))
          if (iteneraryData) {
            iteneraryData.payment.bankcode = this.bankCode
            iteneraryData.payment.bankname = this.bankName
            iteneraryData.payment.accountnumber = this.accountNumber
            iteneraryData.payment.accountname = this.accountName
            iteneraryData.payment.methodid = this.id
            iteneraryData.features = JSON.parse(localStorage.getItem('halofina-features'))
            this.checkoutData = iteneraryData
          }
        }
      },
      /**
       * @vuese
       * Set payment channel to checkout trx and zakat
       * @arg channel: Number, represents channel id
      */
      setPaymentChannel (channel) {
        if (this.trxid === 'zakat') {
          this.itineraryZakat.payment_channel_id = channel
        } else {
          this.checkoutData.payment.payment_channel_id = channel
        }
      },
      /**
       * @vuese
       * Set checkout zakat data from local storage
      */
      setCheckoutDataZakat () {
        if (this.fromBankPage === 'true' && this.$route.params.trxid === 'zakat') {
          var dataListZakat = JSON.parse(localStorage.getItem('halofina-itinerary-zakat'))
          if (dataListZakat) {
            this.itineraryZakat.methodid = this.id
            this.itineraryZakat.payment_bankcode = this.bankCode
            this.itineraryZakat.payment_accountnumber = this.accountNumber
            this.itineraryZakat.payment_accountname = this.accountName
            this.itineraryZakat.amount = dataListZakat.amount
            this.itineraryZakat.zakat = dataListZakat.data
          }
        }
      },
      /**
       * @vuese
       * Fetch VA Account data
       * Case 1: If account is outstanding, set account number to Halofina bank account
       * Case 2: If account is not outstanding, set account number to user's
      */
      fetchDataBankAdmin () {
        Api('finavest/transaction/bank/retrieve', {
          id: this.id
        })
          .then((res) => {
            var isOutstanding = res.d.isoutstanding
            if (isOutstanding === true) {
              this.accountNumber = res.d.bank[0].accountnumber
              this.bankName = res.d.bank[0].bankname
              this.bankCode = res.d.bank[0].kseicode
              this.accountName = res.d.bank[0].accountname
              this.isOutstanding = isOutstanding
            } else {
              this.accountNumber = res.d.va[0].account_number
              this.bankName = res.d.va[0].name_bank
              this.bankCode = res.d.va[0].bank_code
              this.accountName = res.d.va[0].username
              this.isOutstanding = isOutstanding
            }
            this.sumTotal = localStorage.getItem('halofina-sum-total')
            this.setCheckoutData()
            this.setCheckoutDataZakat()
            this.loadingDone = true
          })
          .catch(() => {
            this.dialog.dialogError = true
          })
      },
      /**
       * @vuese
       * check flag open from invoice
      */
      checkFlag (flag) {
        if (flag === 'false') {
          let data = JSON.parse(localStorage.getItem('halofina-payment-instructions'))
          this.step = 1
          this.openMethodSheet(data.detail, data.title, data.img_url)
          this.bottomSheet.wayList = data.detail.instruction
        } else {
          // nothing
        }
      },
      /**
       * @vuese
       * Set route params to data
      */
      getParamsFromRoute () {
        this.id = this.$route.params.id
        this.fromBankPage = this.$route.params.fromBankPage
        this.type = this.$route.params.type
        this.trxid = this.$route.params.trxid
        this.checkFlag(this.fromBankPage)
      },
      /**
       * @vuese
       * Fetch payment list data
      */
      fetchPaymentList () {
        Api('finavest/transaction/payment/method', {})
          .then((res) => {
            this.paymentList = res.d
          })
          .catch(() => {
            this.dialog.dialogError = true
          })
      },
      /**
       * @vuese
       * Open bank payment method sheet
       * @arg lists: Array (payment method list), title: String (bank)
      */
      openMethodSheet (lists, title, image) {
        this.bottomSheet.paymentMethods = true
        this.bottomSheet.paymentList = lists
        this.bottomSheet.paymentTitle = title
        this.bottomSheet.paymentImage = image
      },
      /**
       * @vuese
       * Show the method instruction list window
       * @arg lists: Array (payment method list), paymentType: String (bank)
      */
      openWaySheet (lists, paymentType) {
        this.bottomSheet.wayList = lists
        this.bottomSheet.wayTitle = paymentType
        this.step++
      }
    },
    created () {
      this.checkFlag()
      this.getParamsFromRoute()
      this.fetchDataBankAdmin()
      this.fetchPaymentList()
    }
  }
  </script>
  
<style lang="sass">
  .finavest-payment-method-list
    *
      margin: 0
      padding: 0

    .border-bottom-solid
      border-bottom: 1px solid #E8EAEF

    .border-bottom-solid-bold
      border-bottom: 8px solid #E8EAEF

    .wrap-img
      border: 1px solid #E9ECF0
      background: white
      padding: 4px 4px 0 4px
      border-radius: 3px
      width: 44px
      height: 44px
      overflow: hidden
      position: relative

      img
        width: 35px
        height: auto
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
  
    
    .v-list__tile__action
      min-width: 30px

    .flex.xs1
      z-index: 10

    .arrow-top
        top: 24.3rem
        border-width: 0 1.5rem 1.5rem
        border-style: solid
        position: absolute
        border-color: #42A5F5 !important
        border-left-color: transparent !important
        border-right-color: transparent !important
        border-top-color: transparent !important
        margin-left: 45px

</style>
