<template>
    <div class="finaspend-payment-history">
        <v-tabs centered grow class="tabs-history">
          <!-- Tab Title -->
          <v-tab active-class="active-tab">
            Beli
          </v-tab>
          <v-tab active-class="active-tab">
            Jual
          </v-tab>
          <v-tab active-class="active-tab">
            Bayar
          </v-tab>
          <!-- Tab History Buy -->
          <v-tab-item>
            <history-buy></history-buy>
          </v-tab-item>
          <!-- Tab History Sell -->
          <v-tab-item>
            <history-sell></history-sell>
          </v-tab-item>
          <!-- Tab History Pay -->
          <v-tab-item>
            <history-pay></history-pay>
          </v-tab-item>
        </v-tabs>
    </div>
</template>

<script>
import { checkFeatures } from '@/services/Helpers'
// Import vuetify
import {
  VTabs,
  VTab,
  VTabItem
} from 'vuetify/lib'
// Reusable Components in history
const ReusableCards = () => import('@/components/reusable/ReusableCards')
// Import component for tabs
const HistoryBuy = () => import('./HistoryBuy')
const HistorySell = () => import('./HistorySell')
const HistoryPay = () => import('./HistoryPay')

export default {
  name: 'FinaspendPaymentHistory',
  components: {
    VTabs,
    VTab,
    VTabItem,
    ReusableCards,
    HistoryBuy,
    HistorySell,
    HistoryPay
  },
  methods: {
    checkFeatures
  }
}
</script>
<style lang="sass">
  .finaspend-payment-history
  
    .v-tabs__item
      opacity: 1
      color: #AAADC4
      font-weight: 100

    .v-tabs__item.active-tab
      color: #42A5F5
      opacity: 1
      font-weight: bold

</style>
