<template>
    <div class="finaspend-payment-history">
        <v-container pa-0>
          <v-layout column v-if="doneLoading === true">
            <div v-if="history.length > 0">
              <v-flex v-for="(histories) in history" :key="histories.id" class="mb-1">
                  <reusable-cards style="margin: 16px !important">
                      <div slot="layout-title" @click="next(histories.id)">
                        <v-layout row>
                          <v-flex xs2>
                            <div class="mr-3" slot="title-layout-image">
                              <img src="@/assets/finavest/invoice/icon-zakat.svg" width="36px" alt="icon zakat">
                            </div>
                          </v-flex>
                          <v-flex xs9>
                            <v-layout column>
                              <v-card-text class="pa-0 avenir-12-reg"><span class="color-secondary-5">{{ dateFormat(histories.payment_time, 'DD MMMM YYYY') }}</span></v-card-text>
                              <v-card-text class="pa-0 avenir-14-bold mt-2">Bayar Zakat</v-card-text>
                              <v-card-text class="pa-0 avenir-14-med mt-2">Rp {{ numberingNumber(histories.amount) }}</v-card-text>
                              <div v-if="histories.status === 'ON PROCESS' || histories.status === 'ONPROCESS' || histories.status === 'QUEUEING' || histories.status === 'PAID' || histories.status === 'DISBURSE'" class="color-supportive-blue-1 avenir-12-med mt-3">Dalam Proses</div>
                              <div v-if="histories.status === 'COMPLETED' || histories.status === 'VERIFIED'" class="color-denotive-green-1 avenir-12-med mt-3">Berhasil</div>
                              <div v-if="histories.status === 'ENTRIED' || histories.status === 'BILLED'" class="color-denotive-yellow-1 avenir-12-med mt-3">Menunggu Pembayaran</div>
                              <div v-if="histories.status === 'CANCELLED'" class="color-text-2 avenir-12-med mt-3">Dibatalkan</div>
                              <div v-if="histories.status === 'EXPIRED'" class="color-supportive-lavender-1 avenir-12-med mt-3">Kadaluarsa</div>
                              <div v-if="histories.status === 'REJECTED'" class="color-denotive-red-1 avenir-12-med mt-3">Ditolak</div>
                              <div v-if="histories.status === 'OUTSTANDING' || histories.status === 'KYC REJECT'" class="avenir-12-med color-supportive-blue-1 mt-3">Menunggu Verifikasi</div>
                            </v-layout>
                          </v-flex>
                          <v-flex xs1 style="position: relative">
                            <v-icon style="color: #232C35; font-size: 12px; position: absolute; bottom: 4px;">arrow_forward_ios</v-icon>
                          </v-flex>
                        </v-layout>
                      </div>
                  </reusable-cards>
              </v-flex>
            </div>
            <!-- HIstory Null -->
            <div v-else>
              <div style="background-color:white; padding-top: 20px;" class="full-height">
                <div class="px-4">
                  <img src="@/assets/dashboard/history-null.svg" style="width:100%; height: 240px;" alt="History Null">
                  <v-card-text class="nexa-20-bold text-xs-center px-5"> kamu belum melakukan transaksi </v-card-text>
                  <v-card-text class="avenir-14-reg text-xs-center pt-0 pb-4 px-3">kamu bisa melakukan transaksi jual atau beli tabungan melalui dashboard</v-card-text>
                  <v-btn depressed @click="toDashboard()" color="primary" block small class="btn-radius box-shadow mt-3">Kembali ke Dashboard</v-btn>
                </div>
                <div class="blank"></div>
              </div>
            </div>
          </v-layout>
          <v-layout v-else column justify-center align-center style="height: 85vh">
            <reusable-loading></reusable-loading>
          </v-layout>
        </v-container>
        <reusable-dialogs v-model="dialogError" :resize-image="true"></reusable-dialogs>
    </div>
</template>

<script>
import Api from '@/services/Api'
// Import Helpers in services
import { numberingNumber, dateFormat, capitalizeWord, goToDashboard } from '@/services/Helpers'
// Reusable Components in history
const ReusableDialogs = () => import('@/components/reusable/ReusableDialogs')
const ReusableCards = () => import('@/components/reusable/ReusableCards')
const ReusableLoading = () => import('@/components/reusable/ReusableLoading')
const ReusableImageLifeplan = () => import('@/components/reusable/ReusableImageLifeplan.vue')

export default {
  name: 'FinaspendPaymentHistory',
  components: {
    ReusableDialogs,
    ReusableCards,
    ReusableLoading,
    ReusableImageLifeplan
  },
  data () {
    return {
      show: false,
      total: 0,
      history: [],
      dialogError: false,
      doneLoading: false
    }
  },
  computed: {
    ifContainEmas: function () {
      var history = this.history
      var word = []
      history.forEach(function (value) {
        if (value.product_asset_name) {
          var includeEmas = value.product_asset_name.includes('Emas')
          if (includeEmas === true) {
            word.push('Reksa dana & Emas')
          } else {
            word.push('Reksa dana')
          }
        }
      })
      return word
    }
  },
  created () {
    this.fetchData()
  },
  methods: {
    dateFormat,
    numberingNumber,
    capitalizeWord,
    toDashboard () {
      goToDashboard('lifeplan', 'assign')
      this.trackToDashboard()
    },
    trackToDashboard () {
      this.$analytics.track('History to Dashboard Selected')
    },
    next (id) {
      this.$router.push('/finavest/payment_zakat/detail/zakat/invoice/' + id + '/history')
    },
    trackEvent (status, type, amount, lifeplan, asset) {
      this.$analytics.track('History Buy Selected', {
        trx_status: status,
        trx_type: type,
        amount: amount,
        lifeplan_type: lifeplan,
        asset_kind: asset
      })
    },
    fetchData () {
      Api('finapay/zakat/pay/history', {})
        .then((res) => {
          this.history = res.d
          this.doneLoading = true
        }).catch(() => {
          this.doneLoading = true
          this.dialogError = true
        })
    }
  }
}
</script>
<style lang="sass">
  .finaspend-payment-history
    .blank
      width: 100%
      height: 50px
      background-color: white

    .tabs-history
      .v-tabs__item.active-tab
        color: #42A5F5
</style>
