<template>
    <div class="finaspend-payment-history">
        <v-container pa-0>
          <v-layout column v-if="doneLoading === true">
            <div v-if="historySell.length > 0">
              <v-flex v-for="histories in historySell" :key="histories.id" class="mb-1">
                  <reusable-cards style="margin: 16px !important">
                      <div slot="layout-title" @click="next(histories.id); trackEvent(histories.status, 'Jual', histories.unit, histories.lifeplan_type, histories.product_asset_name)">
                        <v-layout row>
                          <v-flex xs2>
                            <div class="mr-3" slot="title-layout-image">
                                <!-- <reusable-image-lifeplan :type="histories.lifeplan_type"></reusable-image-lifeplan> -->
                            </div>
                          </v-flex>
                          <v-flex xs9>
                            <v-layout column>
                              <!-- <v-card-text class="pa-0 avenir-12-reg"><span class="color-secondary-5">{{ dateFormat(histories.transaction_time, 'DD MMMM YYYY') }}</span></v-card-text> -->
                              <!-- <v-card-text class="pa-0 avenir-14-bold mt-2">{{ histories.lifeplan_subtype ? capitalizeWord(histories.lifeplan_subtype) : capitalizeWord(histories.lifeplan_type) }}</v-card-text> -->
                              <!-- <v-card-text class="pa-0 avenir-12-reg mt-2">{{ histories.product_asset_name }}</v-card-text> -->
                              <!-- <v-card-text v-if="histories.product_asset_name === 'Emas'" class="pa-0 avenir-14-med mt-2">{{ parseFloat(histories.unit).toFixed(4).toString().replace(/\./g, ',') }} gr</v-card-text>
                              <v-card-text v-else class="pa-0 avenir-14-med mt-2">{{ numberingReksadana(histories.unit) }} Unit</v-card-text> -->
                              <div v-if="histories.status === 'COMPLETED'" class="color-denotive-green-1 avenir-12-med mt-3">Berhasil</div>
                              <div v-else-if="histories.status === 'REJECTED'" class="color-denotive-red-1 avenir-12-med mt-3">Gagal</div>
                              <div v-else class="color-supportive-blue-1 avenir-12-med mt-3">Dalam Proses</div>
                            </v-layout>
                          </v-flex>
                          <v-flex xs1 style="position: relative">
                            <v-icon style="color: #232C35; font-size: 12px; position: absolute; bottom: 4px;">arrow_forward_ios</v-icon>
                          </v-flex>
                        </v-layout>
                      </div>
                  </reusable-cards>
              </v-flex>
            </div>
            <!-- Tidak ada history -->
            <div v-else>
              <div style="background-color:white; padding-top: 20px;" class="full-height">
                <div class="px-4">
                  <img src="@/assets/dashboard/history-null.svg" style="width:100%; height: 240px;" alt="History Null">
                  <v-card-text class="nexa-20-bold text-xs-center px-5"> kamu belum melakukan transaksi </v-card-text>
                  <v-card-text class="avenir-14-reg text-xs-center pt-0 pb-4 px-3">kamu bisa melakukan transaksi jual atau beli tabungan melalui dashboard</v-card-text>
                  <v-btn depressed @click="toDashboard()" color="primary" block small class="btn-radius box-shadow mt-3">Kembali ke Dashboard</v-btn>
                </div>
                <div class="blank"></div>
              </div>
            </div>
          </v-layout>
          <v-layout v-else column justify-center align-center style="height: 85vh">
            <reusable-loading></reusable-loading>
          </v-layout>
        </v-container>
        <reusable-dialogs v-model="dialogError" :resize-image="true"></reusable-dialogs>
    </div>
</template>

<script>
import ApiGet from '@/services/ApiGet'
// Import Helpers in services
import { numberingReksadana, dateFormat, replaceDotWithComa, capitalizeWord, goToDashboard } from '@/services/Helpers'
// Reusable Components in history
const ReusableDialogs = () => import('@/components/reusable/ReusableDialogs')
const ReusableCards = () => import('@/components/reusable/ReusableCards')
const ReusableLoading = () => import('@/components/reusable/ReusableLoading')
const ReusableImageLifeplan = () => import('@/components/reusable/ReusableImageLifeplan.vue')

export default {
  name: 'FinaspendPaymentHistory',
  components: {
    ReusableDialogs,
    ReusableCards,
    ReusableLoading,
    ReusableImageLifeplan
  },
  data () {
    return {
      show: false,
      total: 0,
      historySell: [],
      dialogError: false,
      doneLoading: false
    }
  },
  created () {
    this.fetchDataSell()
  },
  methods: {
    dateFormat,
    numberingReksadana,
    replaceDotWithComa,
    capitalizeWord,
    toDashboard () {
      goToDashboard('lifeplan', 'assign')
      this.trackToDashboard()
    },
    trackToDashboard () {
      this.$analytics.track('History to Dashboard Selected')
    },
    next (id) {
      this.$router.push('/v2/finavest/payment/detail/' + id + '/redeem/history')
    },
    trackEvent (status, type, amount, lifeplan, asset) {
      this.$analytics.track('History Sell Selected', {
        trx_status: status,
        trx_type: type,
        amount: amount,
        lifeplan_type: lifeplan,
        asset_kind: asset
      })
    },
    fetchDataSell () {
      ApiGet('finavest/v1/transaction/sell/history', {})
        .then((res) => {
          this.historySell = res.d
          this.doneLoading = true
        }).catch(() => {
          this.dialogError = true
        })
    }
  }
}
</script>
