<template>
    <div class="finavest-payment-detail" :style="'min-height: ' + screenHeight + 'px;'">

        <!-- Buy -->
        <div v-if="type === 'buy'">
          <reusable-toolbar page-name="Invoice Pembelian">
            <div slot="button-toolbar" v-if="access === 'null'">
              <div class="w-40"></div>
            </div>
          </reusable-toolbar>
          <div class="toolbar-bottom"></div>

          <v-layout row class="bg-supportive-blue-2 verification pa-3 align-start ma-3" v-if="disclaimerInvoice !== ''">
            <img src="@/assets/finavest/invoice/icon-verification.svg" class="pr-3" alt="icon verification"></img>
            <v-layout column>
              <v-card-text class="nexa-16-bold color-supportive-blue-1 pa-0 pb-2">
                Transaksi Sedang Diproses
              </v-card-text>
              <v-card-text class="avenir-14-reg color-supportive-blue-1 pa-0">
                Transaksi kamu telah kami terima, pembelian investasi kamu akan diproses setelah verifikasi akun investasi kamu berhasil.
              </v-card-text>
            </v-layout>
          </v-layout>

          <!-- {{statusType}} -->
          <v-layout row wrap align-center justify-space-between ma-3 class="wrap-countdown"  v-if="status === 'Menunggu Pembayaran'">
            <v-layout row align-center>
              <img src="@/assets/finavest/invoice/icon-clock.svg" class="pr-2" alt="icon clock">
              <span class="avenir-14-reg color-denotive-yellow-3">Batas Waktu Transfer</span>
            </v-layout>
            <span class="avenir-14-med color-denotive-yellow-3 text-xs-right">{{counterDisplay}}</span>
          </v-layout>

            <v-layout column>
                <v-card class="card-custom">
                  <!-- Lifeplan Layout -->
                  <v-layout column align-center mt-4>
                    <reusable-image-lifeplan :history="false" :type="lifeplanType" style-image="width: 100px; height: 100px"></reusable-image-lifeplan>
                    <v-card-text class="pa-0 text-align-center nexa-16-bold">TAMBAH TABUNGAN</v-card-text>
                    <v-card-text v-if="lifeplanName" class="pa-0 avenir-14-reg text-align-center text-capitalize pb-3">{{ lifeplanName === 'smartsaving' ? 'Smart Saving' : lifeplanName }}</v-card-text>
                    <v-card-text v-else class="pa-0 avenir-14-med text-align-center text-capitalize pb-3">{{ lifeplanType }}</v-card-text>
                  </v-layout>
                  <!-- Vdivider -->
                  <v-divider></v-divider>

                  <!-- Transfer Ke -->
                  <div v-if="status === 'Menunggu Pembayaran'">
                    <div class="px-20">

                      <!-- Total Transaksi -->
                      <v-card-text class="nexa-16-bold color-text-1 py-3 px-0">
                        Transfer Ke
                      </v-card-text>

                      <!-- Tujuan Bank -->
                      <v-layout row justify-space-between align-center class="border-bottom-dashed">
                        <v-flex xs8>
                          <v-layout column>
                            <v-card-text class="pa-0 text-align-left avenir-14-med" v-if="fromOutstanding === true">{{ accountName }}</v-card-text>
                            <v-card-text class="pa-0 text-align-left avenir-14-med" v-else>Virtual Account Mandiri</v-card-text>
                          </v-layout>
                        </v-flex>
                        <v-flex xs4 class="text-xs-right">
                          <img src="@/assets/finavest/bank/mandiri.png" width="90" alt="bank mandiri">
                        </v-flex>
                      </v-layout>

                      <!-- Nomor Virtual Account -->
                      <v-layout row justify-space-between align-center py-3 class="border-bottom-dashed">
                        <v-flex xs8>
                          <v-layout column>
                            <v-card-text class="pa-0 text-align-left avenir-12-reg color-text-1" v-if="fromOutstanding === true">Rekening Tujuan</v-card-text>
                            <v-card-text class="pa-0 text-align-left avenir-12-reg color-text-1" v-else>No. Virtual Account kamu</v-card-text>
                            <v-card-text id="textNomorTransaksi" class="avenir-14-med pa-0">{{ bankAccount }}</v-card-text>
                          </v-layout>
                        </v-flex>
                        <v-flex xs4 class="text-xs-right y-3">
                          <button class="r-16 btn-radius nexa-12-light btn-copy" @click="copyToClipboard('textNomorTransaksi'); snackbars = true">
                              Salin
                          </button>
                        </v-flex>
                      </v-layout>

                      <!-- Total Transaksi -->
                      <v-layout row justify-space-between align-center class="border-bottom-dashed">
                        <v-flex xs8>
                          <v-layout column>
                            <v-card-text class="pa-0 text-align-left avenir-12-reg color-text-1">Total Transfer</v-card-text>
                            <v-card-text class="pa-0 avenir-14-med" type="text" id="textTransaksi">{{ numberingNumber(total) }}</v-card-text>
                          </v-layout>
                        </v-flex>
                        <v-flex xs4 class="text-xs-right py-3">
                          <button class="r-16 btn-radius nexa-12-light btn-copy" @click="copyToClipboard('textTransaksi'); snackbars = true">
                            Salin
                          </button>
                        </v-flex>
                      </v-layout>
                    </div>
                    <!-- Petunjuk Pembayaran -->
                    <v-layout @click="routeToBank(bankName)" row justify-space-between align-center py-3 class="px-20">
                      <div class="avenir-14-med mr-2 text-xs-center" style="color: #388BF2;">Lihat Petunjuk Pembayaran</div>
                      <v-icon style="color: #388BF2; font-size: 10px;">arrow_forward_ios</v-icon>
                    </v-layout>
                    <v-divider></v-divider>
                  </div>

                  <!-- Detail Transaksi -->
                  <div>
                    <!-- Sub Title -->
                    <v-card-text class="nexa-16-bold color-text-1 py-3 px-20">
                      Detail Transaksi
                    </v-card-text>
                    <!-- Status Pembelian -->
                    <v-layout row class="px-20">
                      <v-layout row justify-space-between align-center py-3 class="border-bottom-solid">
                        <v-flex xs6>
                          <v-card-text class="pa-0 text-align-left avenir-14-reg color-text-1">Status</v-card-text>
                        </v-flex>
                        <v-flex xs6>
                          <div :class="'avenir-12-reg text-align-right ' + classColor"><span :class="'py-1 px-2 wrap-status ' + bgColor">• {{ status }}</span></div>
                        </v-flex>
                      </v-layout>
                    </v-layout>

                    <!-- alasan ditolak -->
                    <v-layout row wrap v-if="status === 'Ditolak'">
                      <v-flex xs12 class="py-2 bg-supportive-pomegranate-1">
                        <v-card-text class="py-0 avenir-12-reg px-20 color-primary-3">
                          <table>
                            <tr v-for="(elem, index) in remarkStatus" :key="index">
                              <td v-if="elem.remark !== null" style="position: absolute">•</td>
                              <td v-if="elem.remark !== null" style="padding-left: 12px">{{elem.remark}}</td>
                            </tr>
                          </table>
                        </v-card-text>
                      </v-flex>
                    </v-layout>
                    <!-- No Transaksi -->
                    <v-layout row class="px-20">
                      <v-layout row justify-space-between align-center py-3 class="border-bottom-solid">
                        <v-card-text class="pa-0 text-align-left avenir-14-reg color-text-1">No. Transaksi</v-card-text>
                        <v-card-text class="pa-0 text-align-right avenir-14-reg color-text-3">{{ transactionNumber }}</v-card-text>
                      </v-layout>
                    </v-layout>
                    <!-- Tanggal Pembelian -->
                    <v-layout row class="px-20">
                      <v-layout row justify-space-between align-center py-3 class="border-bottom-solid">
                        <v-card-text class="pa-0 text-align-left avenir-14-reg color-text-1">Tanggal</v-card-text>
                        <v-card-text class="pa-0 text-align-right avenir-14-reg color-text-3">{{ dateFormat(dateTransaction, 'DD MMMM YYYY') }}</v-card-text>
                      </v-layout>
                    </v-layout>
                    <!-- Waktu Pembelian -->
                    <v-layout row class="px-20">
                      <v-layout row justify-space-between align-center py-3>
                        <v-card-text class="pa-0 text-align-left avenir-14-reg color-text-1">Waktu</v-card-text>
                        <v-card-text class="pa-0 text-align-right avenir-14-reg color-text-3">{{ dateFormat(dateTransaction, 'HH:mm') }} WIB</v-card-text>
                      </v-layout>
                    </v-layout>

                  </div>

                  <v-divider></v-divider>

                  <!-- Detail Pembayaran -->
                  <v-flex class="px-20">
                    <v-layout row wrap py-3 align-center>
                      <v-flex xs6>
                        <v-card-text class="nexa-16-bold color-text-1 pa-0">
                          Detail Pembayaran
                        </v-card-text>
                      </v-flex>
                      <v-flex xs6 v-if="status === 'Berhasil'">
                        <v-flex class="text-align-right avenir-12-med color-denotive-blue-3 pr-0" @click="gotoPerolehan()">
                          Lihat nilai perolehan
                        </v-flex>
                      </v-flex>
                    </v-layout>

                    <div class="" v-for="(item, index) in items" :key="index" >

                    <v-layout column class="border-bottom-dashed">

                      <v-layout row>
                        <v-flex class="py-3 pl-0" xs7>
                          <v-card-text class="avenir-12-reg color-text-3 pa-0 pb-1">
                            {{ item.asset_class_name}}
                          </v-card-text>
                          <v-card-text class="avenir-14-reg color-text-1 pa-0">
                            {{ item.product_name }}
                          </v-card-text>
                        </v-flex>
                        <v-flex xs5 class="pos-relative">
                          <v-layout column class="amount">
                            <v-flex :class="item.color ? 'text-align-right avenir-14-reg py-3 pr-0 color-text-3' + item.color : 'text-align-right avenir-14-reg py-3 pr-0 color-text-3'">
                              Rp {{ numberingNumber(item.amount) }}
                            </v-flex>
                          </v-layout>
                        </v-flex>
                      </v-layout>
                    </v-layout>

                  </div>

                  <!-- cashback -->
                  <v-layout v-if="cashback.cashback !== null && cashback.cashbackType === 'C'" row class="pa-0 border-bottom-dashed">
                    <v-flex class="avenir-14-reg color-text-1 py-3 px-0" xs7>
                      Potensi Cashback
                    </v-flex>
                    <v-flex xs5>
                      <v-layout column>
                        <v-flex class="text-align-right avenir-14-reg py-3 px-0 color-supportive-green-1">
                          Rp {{ numberingNumber(cashback.cashbackValue) }}
                        </v-flex>
                      </v-layout>
                    </v-flex>
                  </v-layout>

                    <!-- Diskon -->
                    <v-layout align-center row class="border-bottom-dashed" v-if="cashback.cashback !== null && cashback.cashbackType === 'D'">
                      <v-flex class="avenir-14-reg color-text-1 py-3" xs8>
                        Promo Diskon
                      </v-flex>
                      <v-flex class="avenir-14-reg color-supportive-green-1 py-3 text-xs-right" xs4>
                        - Rp {{numberingNumber(cashback.cashbackValue)}}
                      </v-flex>
                    </v-layout>

                    <!-- Biaya transaksi -->
                    <v-layout row class="border-bottom-dashed" v-if="Number(advisoryFee) !== 0">
                      <v-flex class="avenir-14-reg color-text-1 py-3" xs8>
                        Biaya konsultasi
                        <img src="@/assets/finavest/invoice/icon-info.svg" alt="icon info" class="custom-img" @click="popupbottom.consul = true;">
                      </v-flex>
                      <v-flex class="avenir-14-reg color-text-3 py-3 text-xs-right" xs4>
                        Rp {{numberingNumber(advisoryFee)}}
                      </v-flex>
                    </v-layout>

                    <!-- Biaya transaksi -->
                    <v-layout row class="border-bottom-dashed" v-if="Number(advisoryDiscount) !== 0">
                      <v-flex class="avenir-14-reg color-text-1 py-3" xs8>
                        Diskon Biaya Konsultasi
                      </v-flex>
                      <v-flex class="avenir-14-reg color-supportive-green-1 py-3 text-xs-right" style="color: #17CF82;" xs4>
                        - Rp {{numberingNumber(advisoryDiscount)}}
                      </v-flex>
                    </v-layout>


                    <!-- Biaya transaksi -->
                    <v-layout row class="border-bottom-dashed">
                      <v-flex class="avenir-14-reg color-text-1 py-3" xs8>
                        Biaya transaksi
                      </v-flex>
                      <v-flex v-if="Number(adminFee) < 1" class="avenir-14-reg color-text-3 py-3 text-xs-right" xs4>
                        GRATIS
                      </v-flex>
                      <v-flex v-else class="avenir-14-reg color-text-1 py-3 text-xs-right" xs4>
                        Rp {{numberingNumber(adminFee)}}
                      </v-flex>
                    </v-layout>

                    <!-- kode unik -->
                    <v-layout row class="border-solid">
                      <v-flex class="avenir-14-med py-3 color-text-1" xs8>
                        Kode unik
                      </v-flex>
                      <v-flex class="avenir-14-med color-text-1 py-3 text-xs-right" xs4>
                        Rp {{numberingNumber(uniqueCode)}}
                      </v-flex>
                    </v-layout>


                  </v-flex>

                  <!-- Total -->
                  <v-layout row align-center justify-space-between :class="lifeplanType === 'campaign' ? 'bg-primary-3 border-bottom px-20 py-3' : 'bg-primary-3 px-20 py-3'">
                    <v-card-text class="avenir-14-med color-text-1 pa-0">TOTAL</v-card-text>
                    <v-card-text class="avenir-14-med color-text-1 text-align-right pa-0">Rp {{numberingNumber((Number(total)))}}</v-card-text>
                  </v-layout>

                  <!-- Show this section if status besides EXPIRED -->
                  <div v-if="status !== 'Kadaluarsa' && status !== 'Berhasil' && status !== 'Dibatalkan'">
                    <!-- Tooltip if status only ENTRIED-->
                    <v-layout v-if="status === 'Menunggu Pembayaran'" row align-center justify-space-between class="bg-system-warning">
                      <v-card-text class="avenir-12-reg color-primary-3 text-align-center py-2 px-3">Transfer tepat hingga 3 digit terakhir agar tidak menghambat proses verifikasi.</v-card-text>
                    </v-layout>
                    <!-- Donation -->
                    <div v-if="Number(donation.donationAmount) > 0 && donation.donationAmount !== null" class="btn-radius ma-3 pa-3 cashback">
                      <v-card-text class="pa-0 avenir-12-med mb-3">Donasi: <span class="color-primary-1">Rumah Zakat</span></v-card-text>
                      <v-card-text class="pa-0 avenir-12-reg">Donasi senilai <strong>Rp {{ numberingNumber(donation.donationAmount) }}</strong> kamu akan disalurkan setelah transaksi berhasil</v-card-text>
                    </div>
                    <!-- v divider -->

                    <!-- if lifeplan type is campaign -->
                    <div v-if="status !== 'Kadaluarsa' && lifeplanType === 'campaign' && status === 'Dalam Proses'"></div>
                    <!-- if lifeplan type is not campaign -->
                    <div v-else style="background-color: #F9FAFC;">
                      <!-- Button -->
                      <v-flex class="px-20 pt-3">
                        <!-- Show text if status besides entried -->
                        <v-card-text class="avenir-12-reg color-secondary-5 text-align-center" v-if="status !== 'Menunggu Pembayaran'">Bukti Transfer</v-card-text>
                        <!-- Button -->
                        <!-- If status Menunggu Pembayaran -->
                        <div v-if="status === 'Menunggu Pembayaran'">
                          <v-btn class="btn-radius nexa-14-bold btn-unggah-ulang mb-2" flat @click="pickScreenshot()" block :disabled="status !== 'Menunggu Pembayaran'">
                            <img src="@/assets/finavest/invoice/icon-upload.svg" alt="icon upload" style="margin-top: -2px;" class="mr-2">
                            <div class="color-primary-1 text-align-center">Unggah Bukti Transfer</div>
                          </v-btn>
                          <input type="file" style="display: none" ref="imagescreenshot" accept="image/*" @change="onFilePickedScreenshot">
                        </div>
                        <!-- If not -->
                        <div v-else style="background: #F9FAFC;">
                          <div style="border-radius: 4px; border: 1px solid #E8EAEF;" class="avenir-14-reg text-align-center color-text-3 pb-3 pa-3 block text-truncate">{{ screenshotName }}</div>
                        </div>
                        <!-- Reupload Image -->
                        <div v-if="statusType === 'VERIFIED' || status === 'Menunggu Verifikasi'">
                          <v-btn class="btn-radius nexa-14-bold btn-unggah-ulang" flat @click="pickScreenshot()" block>
                            <img src="@/assets/finavest/invoice/icon-upload-ulang.svg" alt="icon upload" style="margin-top: -2px;" class="mr-2">
                            <div class="color-primary-1 text-align-center">Unggah Ulang</div>
                          </v-btn>
                          <input type="file" style="display: none" ref="imagescreenshot" accept="image/*" @change="onFilePickedScreenshot">
                        </div>

                      </v-flex>
                    </div>
                  </div>
                </v-card>

              <v-layout column class="px-20 pb-4 pt-3" style="background: #F9FAFC !important;">
                <!-- Back to dashboard -->
                <v-btn class="nexa-14-bold btn-beranda" depressed flat @click="backToDashboard()" block >
                  <div>Kembali</div>
                </v-btn>

              </v-layout>

            </v-layout>

        </div>

        <!-- Redeem -->
        <div v-else>
          <reusable-toolbar page-name="Invoice Penjualan">
            <div slot="button-toolbar" v-if="access === 'null'">
              <div class="w-40"></div>
            </div>
          </reusable-toolbar>
          <div :style="statusRedeem === 'Berhasil' ? 'margin-top: 64px !important;' : 'margin-top: 48px !important;' "></div>

            <v-layout row class="bg-supportive-blue-2 verification pa-3 align-start ma-3" v-if="statusRedeem === 'Berhasil'">
              <img src="@/assets/finavest/invoice/icon-verification.svg" class="pr-3" alt="icon verification"></img>
              <v-layout column>
                <v-card-text class="nexa-16-bold color-supportive-blue-1 pa-0 pb-2">
                  Penjualan kamu telah diverifikasi oleh bank kustodian
                </v-card-text>
                <v-card-text class="avenir-14-reg color-supportive-blue-1 pa-0">
                  Kamu akan menerima dana paling lambat 7 hari kerja setelah proses verifikasi berhasil
                </v-card-text>
              </v-layout>
            </v-layout>

            <v-layout column>
                <v-card class="card-custom">
                  <!-- Lifeplan Layout -->
                  <v-layout column align-center mt-4>
                    <reusable-image-lifeplan :history="false" :type="lifeplanType" style-image="width: 100px; height: 100px"></reusable-image-lifeplan>
                    <v-card-text class="pa-0 text-align-center nexa-16-bold">TARIK TABUNGAN</v-card-text>
                    <v-card-text v-if="lifeplanName" class="pa-0 avenir-14-reg text-align-center text-capitalize pb-3">{{ lifeplanName }}</v-card-text>
                    <v-card-text v-else class="pa-0 avenir-14-med text-align-center text-capitalize pb-3">{{ lifeplanType }}</v-card-text>
                  </v-layout>
                  <v-divider style="border-top-width: 8px !important"></v-divider>

                  <!-- Sub Title -->
                  <v-card-text class="nexa-16-bold color-text-1 py-3 px-20">
                    Detail Transaksi
                  </v-card-text>

                  <!-- Status Penjualan -->
                  <v-layout row class="px-20">
                    <v-layout row justify-space-between align-center py-3 class="border-bottom-solid">
                      <v-flex xs6>
                        <v-card-text class="pa-0 text-align-left avenir-14-reg color-text-1">Status</v-card-text>
                      </v-flex>
                      <v-flex xs6>
                        <div :class="'avenir-12-reg text-align-right ' + classColor"><span :class="'py-1 px-2 wrap-status ' + bgColor">• {{ statusRedeem }}</span></div>
                      </v-flex>
                    </v-layout>
                  </v-layout>

                  <!-- alasan ditolak -->

                  <v-layout row wrap v-if="statusRedeem === 'Ditolak'">
                    <v-flex xs12 class="py-2 bg-supportive-pomegranate-1">
                      <v-card-text class="py-0 avenir-12-reg px-20 color-primary-3">
                        <table>
                          <tr v-for="(elem, index) in remarkStatus" :key="index">
                            <td v-if="elem.remark !== null" style="position: absolute">•</td>
                            <td v-if="elem.remark !== null" style="padding-left: 12px">{{elem.remark}}</td>
                          </tr>
                        </table>
                      </v-card-text>
                    </v-flex>
                  </v-layout>

                  <!-- No Transaksi -->
                  <v-layout row class="px-20">
                    <v-layout row justify-space-between align-center py-3 class="border-bottom-solid">
                      <v-card-text class="pa-0 text-align-left avenir-14-reg color-text-1">No. Transaksi</v-card-text>
                      <v-card-text class="pa-0 text-align-right avenir-14-reg color-text-3">{{ transactionNumber }}</v-card-text>
                    </v-layout>
                  </v-layout>
                  <!-- Tanggal Pembelian -->
                  <v-layout row class="px-20">
                    <v-layout row justify-space-between align-center py-3 class="border-bottom-solid">
                      <v-card-text class="pa-0 text-align-left avenir-14-reg color-text-1">Tanggal</v-card-text>
                      <v-card-text class="pa-0 text-align-right avenir-14-reg color-text-3">{{ dateFormat(dateTransaction, 'DD MMMM YYYY') }}</v-card-text>
                    </v-layout>
                  </v-layout>
                  <!-- Waktu Pembelian -->
                  <v-layout row class="px-20">
                    <v-layout row justify-space-between align-center py-3>
                      <v-card-text class="pa-0 text-align-left avenir-14-reg color-text-1">Waktu</v-card-text>
                      <v-card-text class="pa-0 text-align-right avenir-14-reg color-text-3">{{ dateFormat(dateTransaction, 'HH:mm') }} WIB</v-card-text>
                    </v-layout>
                  </v-layout>

                  <v-divider></v-divider>
                  <!-- Show this section if status besides EXPIRED -->
                  <v-layout row wrap class="px-20 pb-4 pt-3">
                    <v-card-text class="pa-0 nexa-16-bold color-text-1">
                      Rekening Penerima Dana
                    </v-card-text>
                  </v-layout>

                  <v-layout align-center row wrap class="px-20 mb-3 pb-1">
                    <img v-if="bankName === 'Bank Mandiri'" class="pr-3" width="69" height="22" src="../../../../assets/finaspend/cashflowtracking/logoMandiri.svg" :alt="'Image ' + bankName">
                    <img v-if="bankName === 'Bank BNI'" class="pr-3" width="69" height="22" src="../../../../assets/finaspend/cashflowtracking/logoBNI.svg" :alt="'Image ' + bankName">
                    <img v-if="bankName === 'Bank BCA'" class="pr-3" width="69" height="22" src="../../../../assets/finaspend/cashflowtracking/logoBCA.svg" :alt="'Image ' + bankName">
                    <img v-if="bankName === 'Bank BRI'" class="pr-3" width="69" height="22" src="../../../../assets/finaspend/cashflowtracking/logoBRI.svg" :alt="'Image ' + bankName">
                    <v-layout column>
                      <v-card-text class="pa-0 avenir-14-med color-text-1 pb-1">
                        {{accountName}}
                      </v-card-text>
                      <v-card-text class="pa-0 avenir-14-reg color-text-3">
                        {{bankAccount}}
                      </v-card-text>
                    </v-layout>
                  </v-layout>

                  <v-divider></v-divider>

                  <v-layout row wrap class="px-20 pb-4 pt-3">
                    <v-card-text class="pa-0 nexa-16-bold color-text-1">
                      Detail Penjualan
                    </v-card-text>
                  </v-layout>

                    <!-- Total -->
                  <div v-for="item in items" :key="item.nav_price">

                    <v-layout column class="px-20 pb-3 border-bottom-dashed">
                      <v-layout row wrap>
                        <v-flex xs6>
                          <v-card-text class="pa-0 pb-1 avenir-12-reg color-text-3">
                            {{item.asset_class_name}}
                          </v-card-text>
                          <v-card-text class="pa-0 avenir-14-reg color-text-1">
                            {{item.product_name}}
                          </v-card-text>
                        </v-flex>
                        <v-flex xs6>
                          <v-card-text class="text-xs-right pa-0 pb-1 avenir-12-reg color-text-3">
                            Unit Dijual
                          </v-card-text>
                          <v-card-text class="text-xs-right pa-0 avenir-14-reg color-text-3">
                            {{numberingReksadana(item.unit)}}
                          </v-card-text>
                        </v-flex>
                      </v-layout>
                    </v-layout>

                    <!-- Nilai Perolehan -->
                    <div v-if="statusRedeem === 'Berhasil'">
                      <v-layout row class="px-20">
                        <v-layout row justify-space-between align-center py-3 class="border-bottom-solid">
                          <v-card-text class="pa-0 text-align-left avenir-14-reg color-text-1">Nilai Perolehan</v-card-text>
                          <v-card-text class="pa-0 text-align-right avenir-14-reg color-text-3">{{ numberingNumber(unit * item.nav_price, true) }}</v-card-text>
                        </v-layout>
                      </v-layout>

                      <!-- Sisa total Unit -->
                      <v-layout row class="px-20">
                        <v-layout row justify-space-between align-center py-3 class="border-bottom-solid">
                          <v-card-text class="pa-0 text-align-left avenir-14-reg color-text-1">Sisa Total Unit</v-card-text>
                          <v-card-text class="pa-0 text-align-right avenir-14-reg color-text-3">{{ numberingNumber(unit * item.nav_price, true) }}</v-card-text>
                        </v-layout>
                      </v-layout>

                      <!-- Harga Per Unit -->
                      <v-layout row class="px-20">
                        <v-layout row justify-space-between align-center py-3 class="border-bottom-solid">
                          <v-card-text class="pa-0 text-align-left avenir-14-reg color-text-1">Harga Per Unit</v-card-text>
                          <v-card-text class="pa-0 text-align-right avenir-14-reg color-text-3">{{numberingNumber(item.nav_price)}}</v-card-text>
                        </v-layout>
                      </v-layout>

                      <!-- Biaya transaksi -->
                      <v-layout row class="px-20">
                        <v-layout row justify-space-between align-center py-3 class="border-bottom-solid">
                          <v-card-text class="pa-0 text-align-left avenir-14-reg color-text-1">Biaya transaksi</v-card-text>
                          <v-card-text class="pa-0 text-align-right avenir-14-reg color-text-3">GRATIS</v-card-text>
                        </v-layout>
                      </v-layout>

                      <!-- Tanggal Terjual -->
                      <v-layout row class="px-20">
                        <v-layout row justify-space-between align-center py-3>
                          <v-card-text class="pa-0 text-align-left avenir-14-reg color-text-1">Tanggal Terjual</v-card-text>
                          <v-card-text class="pa-0 text-align-right avenir-14-reg color-text-3">{{dateFormat(item.nav_time, 'DD MMMM YYYY')}}</v-card-text>
                        </v-layout>
                      </v-layout>
                    </div>
                  </div>
                </v-card>

                <v-layout column class="px-20 pb-4 pt-3" style="background: #F9FAFC !important;">
                  <!-- Back to dashboard -->
                  <v-btn class="nexa-14-bold btn-beranda" depressed flat @click="backToDashboard()" block >
                    <div>Kembali</div>
                  </v-btn>

                </v-layout>

            </v-layout>
        </div>

        <!-- Dialog Screenshot -->
        <v-dialog v-model="dialog.dialogUpload" fullscreen transition="dialog-bottom-transition" scrollable style="margin: 0px !important; background-color: white">
            <v-card flat style="background-color: white">
                <v-toolbar card style="background-color: white">
                <v-toolbar-title>
                    Upload Bukti Investasi
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon @click.native="dialog.dialogUpload = false; screenshot = ''">
                    <v-icon>close</v-icon>
                </v-btn>
                </v-toolbar>
                <v-layout column align-center px-3 justify-center v-if="resultType !== 'application/pdf'">
                    <img :src="result64" alt="Red dot" style="width:auto; height:auto; max-height: 400px;"/>
                </v-layout>
                <v-layout column align-center justify-center v-else>
                    <v-card-text class="text-align-center">{{ resultName }}</v-card-text>
                </v-layout>
                <v-layout row px-3>
                    <v-flex xs6 mr-2>
                        <v-btn block depressed @click="pickScreenshot" class="btn-radius box-shadow bg-primary-3 color-primary-1">Ganti</v-btn>
                    </v-flex>
                    <v-flex xs6 ml-2>
                        <v-btn block color="primary" depressed @click="uploadScreenshot" class="btn-radius box-shadow">Upload</v-btn>
                    </v-flex>
                </v-layout>
            </v-card>
        </v-dialog>

        <!-- Dialog Perolehan -->
        <reusable-dialogs
          v-model="dialog.dialogAcquisition"
          :with-button="true"
        >
          <v-card flat slot="layout" style="flex-direction: column" class="center-horizontal mt-2 full-width pa-3 card-radius">

            <v-layout column align-center px-3 pb-3>
              <div class="wrap-img">
                <img :src="acquisition.image"/>
              </div>
              <v-card-text class="pa-0 pt-3 avenir-12-reg text-xs-center mb-1">{{acquisition.productType}}</v-card-text>
              <v-card-text class="pa-0 avenir-14-med text-xs-center text-capitalize pb-3" style="border-bottom: 0.5px solid #A8ADC4">{{acquisition.productName}}</v-card-text>
            </v-layout>

            <v-layout column>
              <!-- <v-layout column v-if="item.asset_class_name !== 'Emas'"> -->
              <v-layout row wrap>
                <v-flex xs12>
                  <v-card-text class="pa-0 pt-2 pb-1 text-xs-center avenir-12-reg">
                    Nilai Perolehan
                  </v-card-text>
                </v-flex>
                <v-flex xs12>
                  <v-card-text class="pa-0 avenir-16-med text-xs-center">Rp {{numberingNumber(acquisition.transactionAmount)}}</v-card-text>
                </v-flex>
              </v-layout>

              <!-- Card Nilai Perolehan -->
              <div class="px-3">
                <v-layout row align-center justify-center pt-4 class="border-card-botom-dashed">
                  <v-flex xs6 py-3 class="text-xs-center border-card-right-dashed">
                    <div class="avenir-12-reg pb-1" v-if="acquisition.productType === 'Emas'">
                      Jumlah Gram
                    </div>
                    <div class="avenir-12-reg pb-1" v-else>
                      Jumlah Unit
                    </div>
                    <div class="avenir-12-med">
                      {{numberingReksadana(acquisition.totalUnit)}}
                    </div>
                  </v-flex>
                  <v-flex xs6 class="text-xs-center">
                    <div class="avenir-12-reg pb-1">
                      Status
                    </div>
                    <div :class="'avenir-12-med ' + classColor">
                      {{status}}
                    </div>
                  </v-flex>
                </v-layout>
                <v-layout row align-center justify-center>
                  <v-flex xs6 py-3 class="text-xs-center border-card-right-dashed">
                    <div class="avenir-12-reg pb-1" v-if="acquisition.productType === 'Emas'">
                      Harga Beli
                    </div>
                    <div class="avenir-12-reg pb-1" v-else>
                      Harga Per Unit
                    </div>
                    <div class="avenir-12-med">
                      Rp {{numberingNumber(acquisition.nav)}}
                    </div>
                  </v-flex>
                  <v-flex xs6 class="text-xs-center">
                    <div class="avenir-12-reg color-primary-3 pb-1">
                      -
                    </div>
                    <div class="avenir-12-med color-text-3">
                      {{dateFormat(acquisition.navDate, 'DD MMMM YYYY')}}
                    </div>
                  </v-flex>
                </v-layout>
              </div>
            </v-layout>
          </v-card>
        </reusable-dialogs>

        <!-- Dialog Uploading -->
        <reusable-dialogs
            v-model="dialog.dialogUploading"
            :resize-image="true"
            :unclickable="true"
        >
            <div slot="layout">
              <v-card flat class="card-radius" style="width: 100%">
                <v-layout pa-3 row align-center justify-center>
                  <reusable-loading></reusable-loading>
                  <div class="nexa-14-bold ml-5">Mengunggah</div>
                </v-layout>
              </v-card>
            </div>
        </reusable-dialogs>
        <!-- Dialog Done Uploading -->
        <reusable-dialogs
            v-model="dialog.dialogDoneUploading"
            :resize-image="true"
            :image="require('@/assets/finavest/lifeplan/check.svg')"
            title="Terima Kasih"
            :description="status === 'Menunggu Verifikasi' ? 'Bukti transfer kamu telah kami terima, transaksi akan segera kami proses setelah proses verifikasi Akun selesai.' : 'Bukti transfer kamu telah kami terima, transaksi akan segera kami proses maksimal 2 hari kerja'"
        >
          <v-layout align-center justify-center class="full-width" slot="layout-button" pb-3>
            <v-flex xs12 class="px-3">
              <v-btn depressed color="primary" block class="box-shadow btn-radius" @click.native="dialog.dialogDoneUploading = false">Saya Mengerti</v-btn>
            </v-flex>
          </v-layout>
        </reusable-dialogs>

        <!-- Dialog Type Not Supported -->
        <reusable-dialogs
            v-model="dialog.dialogCheckType.isOpen"
            :title="dialog.dialogCheckType.title"
            :description="dialog.dialogCheckType.desc"
            :resize-image="true"
        ></reusable-dialogs>

        <!-- Dialog Error -->
        <reusable-dialogs
            v-model="dialog.dialogError"
            :resize-image="true"
        ></reusable-dialogs>


        <!-- popup bottom description -->
        <v-bottom-sheet v-model="popupbottom.consul" :persistent="true">
          <v-card flat style="border-top-left-radius: 12px; border-top-right-radius: 12px">
            <v-layout column pa-3>
              <v-layout row justify-end>
                <v-icon style="font-size: 20px !important; color: #505565 !important" @click="popupbottom.consul = false">close</v-icon>
              </v-layout>
              <v-layout column class="text-xs-center" justify-center>
                <img src="@/assets/finavest/invoice/illustration-consul.svg" alt="illustration-consul" style="margin: 0 auto;">
                <v-card-text class="pa-0 avenir-16-med pt-4 pb-3" style="font-size: 18px;">Biaya Konsultasi</v-card-text>
                <v-card-text class="pa-0 pb-4 avenir-14-reg">Biaya konsultasi merupakan biaya yang dikenakan atas jasa rekomendasi keuangan kami.</v-card-text>
              </v-layout>
            </v-layout>
          </v-card>
        </v-bottom-sheet>

        <v-snackbar color="success" v-model="snackbars" :timeout="1500">
          Text telah disalin
        </v-snackbar>
    </div>
</template>

<script>
import { trackRevenue } from '@/services/Analytics'
import Api from '@/services/Api'
import ApiGet from '@/services/ApiGet'
// Vuetify Import
import {
  VSnackbar,
  VSpacer,
  VDialog,
  VToolbar,
  VToolbarTitle,
  VDivider,
  VBottomSheet
} from 'vuetify/lib'
// Reusable component
import ReusableLoading from '@/components/reusable/ReusableLoading'
import ReusableImageLifeplan from '@/components/reusable/ReusableImageLifeplan'
// Helper functions
import { goToDashboard, numberingNumber, numberingReksadana, capitalizeWord, dateFormat, replaceDotWithComa, copyToClipboard } from '@/services/Helpers'

const { getTime } = require('date-fns')
const { convertToTimeZone } = require('date-fns-timezone')

export default {
  productName: 'FinaspendPaymentDetail',
  components: {
    VSnackbar,
    VSpacer,
    VDialog,
    VToolbar,
    VToolbarTitle,
    VDivider,
    ReusableLoading,
    ReusableImageLifeplan,
    VBottomSheet
  },
  data () {
    return {
      id: '',
      type: '',
      access: '',
      screenHeight: screen.height,
      fullheightCondition: false,
      disclaimerInvoice: '',
      remarkStatus: '',
      popupbottom: {
        consul: false
      },
      dialog: {
        dialogUpload: false,
        dialogError: false,
        dialogConfirm: false,
        dialogUploading: false,
        dialogDoneUploading: false,
        dialogCheckType: {
          isOpen: false,
          title: '',
          desc: ''
        },
        dialogAcquisition: false
      },
      acquisition: {
        image: '',
        productType: '',
        productName: '',
        transactionAmount: '',
        totalUnit: '',
        nav: '',
        navDate: ''
      },
      cashback: {
        cashback: null,
        cashbackValue: 0,
        cashbackAsset: '',
        cashbackType: '',
        cashbackUnit: ''
      },
      donation: {
        donationAmount: null
      },
      // Lifeplan
      lifeplanName: '',
      lifeplanType: '',
      transactionNumber: '',
      dateTransaction: '',
      expireDateTransaction: '',
      status: '',
      statusRedeem: '',
      statusType: '',
      uniqueCode: '',
      classColor: '',
      bgColor: '',
      // Detail pembayaran,
      bankAccount: '',
      total: '',
      bankName: '',
      counterDisplay: '0 Jam 0 Menit',
      accountName: '',
      items: [],
      // bukti,
      resultName: '',
      resultType: '',
      resultSize: '',
      result64: '',
      snackbars: false,
      screenshotName: '',
      fromOutstanding: false,
      orderData: {},
      // Redeem
      unit: 0
    }
  },
  watch: {
    resultName: function (value) {
      if (value !== '') {
        this.dialog.dialogUpload = true
      } else {
        this.dialog.dialogUpload = false
      }
    }
  },
  methods: {
    numberingNumber,
    numberingReksadana,
    capitalizeWord,
    dateFormat,
    replaceDotWithComa,
    convertToTimeZone,
    getTime,
    copyToClipboard,
    next () {
      this.$router.push({path: '/finavest/payment/bank'})
    },
    setLocalStorage (value) {
      localStorage.setItem('halofina-value-result', JSON.stringify(value))
    },
    gotoPerolehan () {
      this.$router.push('/finavest/new/invoice/value_result')
    },
    backToDashboard () {
      goToDashboard('history', 'assign')
    },
    fetchData () {
      if (this.type === 'buy') {
        ApiGet('finavest/v1/transaction/buy/detail/' + this.id, {})
          .then((res) => {
            let orderData = res.d.orderData
            let orderItems = res.d.orderItems
            this.orderData = orderData
            this.transactionNumber = orderData.order_number
            this.adminFee = orderData.admin_fee
            // this.advisoryDiscount = orderData.advisory_discount
            this.advisoryFee = orderData.advisory_fee
            this.bankName = orderItems[0].selected_bank_name
            this.bankAccount = orderItems[0].selected_bank_account_number
            this.total = orderData.total_amount
            this.accountName = orderItems[0].selected_bank_account_name
            this.items = orderItems
            // this.dateTransaction = orderData.date_trx
            // this.expireDateTransaction = orderData.payment_expire_time
            this.screenshotName = orderData.payment_receipt_url
            // this.donation.donationAmount = orderData.donation
            // this.fromOutstanding = orderData.from_outstanding
            this.fullheightCondition = document.body.scrollHeight > screen.height
            this.checkCashback(orderItems)
            // this.addDonation(Number(orderData.donation))
            this.uniqueCode = orderData.unique_code
            this.remarkFilter(orderItems)
            this.setLocalStorage(orderItems)
            // this.addUniqueCode(res.d.unique_code)
            // Set class based on status
            this.setClassForStatus(orderData.status)
            // Start countdown if status is entried
            if (orderData.status === 'ENTRIED') this.counter()
            if (orderData.status === 'COMPLETED') trackRevenue(this.total)
          })
          .catch(() => {
            this.dialog.dialogError = true
          })
      } else {
        Api('finavest/redeem/detail', {
          transactionid: this.id
        }).then((res) => {
          this.transactionNumber = res.d.transaction_number
          this.bankName = res.d.payment_bankname
          this.bankAccount = res.d.payment_accountnumber
          this.unit = res.d.unit
          this.accountName = res.d.payment_accountname
          this.lifeplanType = res.d.lifeplan_type
          this.lifeplanName = res.d.lifeplan_subtype ? res.d.lifeplan_subtype : res.d.lifeplan_type
          this.dateTransaction = res.d.date_trx
          this.items = res.d.detail_product
          this.remarkFilter(res.d.detail_product)
          // Set class based on status
          this.setClassForStatusRedeem(res.d.status_trx)
          // Start countdown if status is entried
        }).catch(() => {
          this.dialog.dialogError = true
        })
      }
      this.amount = localStorage.getItem('halofina-payment-amount')
    },
    checkCashback (items) {
      var self = this
      items.forEach((element) => {
        if (element.voucher_code) {
          self.cashback.cashback = element.voucher_code
          self.cashback.cashbackValue = element.cashback === '0.00' ? Number(element.discount) : Number(element.cashback)
          self.cashback.cashbackAsset = element.asset_class_name
          self.cashback.cashbackType = element.voucher_type
          self.cashback.cashbackUnit = element.discount_type
        }
      })
    },
    addUniqueCode (uniqueCode) {
      this.items.push({
        product_name: 'Kode Unik',
        amount: uniqueCode
      })
    },
    sleep (ms) {
      return new Promise(resolve => setTimeout(resolve, ms))
    },
    async counter () {
      var diff = 4 * 60 * 60
      var start = this.getTime(this.dateFormat(this.dateTransaction, 'YYYY-MM-DD HH:mm:ss'))
      while (diff > 0) {
        var end = this.getTime(this.convertToTimeZone(this.dateFormat(Date.now(), 'YYYY-MM-DD HH:mm:ss'), { timeZone: 'Asia/Jakarta' }))
        diff = ((start - end) / 1000) + (4 * 60 * 60)
        var H = Math.floor(diff / 3600)
        var M = Math.floor((diff - (3600 * H)) / 60)
        // hide second
        // var S = diff - (3600 * H) - (60 * M)
        this.counterDisplay = this.pad(H) + ' Jam ' + this.pad(M) + ' Menit '
        await this.sleep(1000)
      }
      // this.setClassForStatus('EXPIRED')
    },
    pad (num) {
      return ('0' + parseInt(num)).substr(-2)
    },
    setClassForStatus (status) {
      switch (status) {
        case 'QUEUEING':
          this.bgColor = 'bg-supportive-blue-2'
          this.classColor = 'color-supportive-blue-1'
          this.status = 'Dalam Proses'
          this.statusType = status
          break
        case 'OUTSTANDING':
          this.bgColor = 'bg-supportive-blue-2'
          this.classColor = 'color-supportive-blue-1'
          this.status = 'Menunggu Verifikasi'
          this.disclaimerInvoice = 'Transaksi kamu telah kami terima, pembelian investasi anda akan diproses setelah Verifikasi akun investasi kamu berhasil.'
          this.statusType = status
          break
        case 'KYC REJECT':
          this.bgColor = 'bg-supportive-blue-2'
          this.classColor = 'color-supportive-blue-1'
          this.status = 'Menunggu Verifikasi'
          this.disclaimerInvoice = 'Transaksi kamu telah kami terima, pembelian investasi anda akan diproses setelah Verifikasi akun investasi kamu berhasil.'
          this.statusType = status
          break
        case 'ON PROCESS':
          this.bgColor = 'bg-supportive-blue-2'
          this.classColor = 'color-supportive-blue-1'
          this.status = 'Dalam Proses'
          this.statusType = status
          break
        case 'ONPROCESS':
          this.bgColor = 'bg-supportive-blue-2'
          this.classColor = 'color-supportive-blue-1'
          this.status = 'Dalam Proses'
          this.statusType = status
          break
        case 'DISBURSE':
          this.bgColor = 'bg-supportive-blue-2'
          this.classColor = 'color-supportive-blue-1'
          this.status = 'Dalam Proses'
          this.statusType = status
          break
        case 'PAID':
          this.bgColor = 'bg-supportive-blue-2'
          this.classColor = 'color-supportive-blue-1'
          this.status = 'Dalam Proses'
          this.statusType = status
          break
        case 'VERIFIED':
          this.bgColor = 'bg-supportive-blue-2'
          this.classColor = 'color-supportive-blue-1'
          this.status = 'Dalam Proses'
          this.statusType = status
          break
        case 'ENTRIED':
          this.bgColor = 'bg-denotive-yellow-2'
          this.classColor = 'color-denotive-yellow-1'
          this.status = 'Menunggu Pembayaran'
          this.statusType = status
          break
        case 'COMPLETED':
          this.bgColor = 'bg-denotive-green-2'
          this.classColor = 'color-denotive-green-1'
          this.status = 'Berhasil'
          this.statusType = status
          break
        case 'REJECTED':
          this.bgColor = 'bg-denotive-red-2'
          this.classColor = 'color-denotive-red-1'
          this.status = 'Ditolak'
          this.statusType = status
          break
        case 'CANCELLED':
          this.bgColor = 'bg-border'
          this.classColor = 'color-text-2'
          this.status = 'Dibatalkan'
          this.statusType = status
          break
        case 'EXPIRED':
          this.bgColor = 'bg-supportive-lavender-2'
          this.classColor = 'color-supportive-lavender-1'
          this.status = 'Kadaluarsa'
          this.statusType = status
          break
      }
    },
    setClassForStatusRedeem (statusRedeem) {
      switch (statusRedeem) {
        case 'ENTRIED':
          this.bgColor = 'bg-supportive-blue-2'
          this.classColor = 'color-supportive-blue-1'
          this.statusRedeem = 'Dalam Proses'
          break
        case 'ONPROCESS':
          this.bgColor = 'bg-supportive-blue-2'
          this.classColor = 'color-supportive-blue-1'
          this.statusRedeem = 'Dalam Proses'
          break
        case 'COMPLETED':
          this.bgColor = 'bg-denotive-green-2'
          this.classColor = 'color-denotive-green-1'
          this.statusRedeem = 'Berhasil'
          break
        case 'REJECTED':
          this.bgColor = 'bg-denotive-red-2'
          this.classColor = 'color-denotive-red-1'
          this.statusRedeem = 'Gagal'
          break
      }
    },
    pickScreenshot () {
      this.$refs.imagescreenshot.click()
    },
    uploadScreenshot () {
      let orderData = this.orderData
      orderData.status = 'PAID'
      orderData.payment_receipt_url = this.result64
      this.dialog.dialogUploading = true
      Api('finavest/v1/transaction/buy/update', {
        orderData,
        remark: 'User Pay'
      })
        .then(() => {
          this.dialog.dialogUpload = false
          this.dialog.dialogUploading = false
          this.dialog.dialogDoneUploading = true
          this.screenshotName = this.resultName
          this.fetchData()
          this.trackUploadSuccess()
        })
        .catch(() => {
          this.dialog.dialogUploading = false
          this.dialog.dialogUpload = false
          this.dialog.dialogError = true
        })
    },
    onFilePickedScreenshot (e) {
      const files = e.target.files
      if (files[0] !== undefined) {
        // If file is not pdf jpg or png
        if (files[0].type !== 'image/png' && files[0].type !== 'image/jpeg' && files[0].type !== 'application/pdf') {
          this.dialogCheckType('Tidak dapat mengunggah foto', 'Format file yang kamu pilih harus PNG, JPG, atau PDF.')
          this.trackUploadError()
          return
        }
        // If files is null
        if (files[0].name.lastIndexOf('.') <= 0) {
          return
        }
        this.resizeImage(files[0])
      }
    },
    resizeImage (files) {
      const fr = new FileReader()
      var self = this
      fr.onload = function (readerEvent) {
        var image = new Image()
        image.onload = function (imageEvent) {
          var canvas = document.createElement('canvas')
          var maxSize = 544
          var width = image.width
          var height = image.height
          if (width > height) {
            if (width > maxSize) {
              height *= maxSize / width
              width = maxSize
            }
          } else {
            if (height > maxSize) {
              width *= maxSize / height
              height = maxSize
            }
          }
          canvas.width = width
          canvas.height = height
          canvas.getContext('2d').drawImage(image, 0, 0, width, height)
          var dataUrl = canvas.toDataURL('image/jpeg')
          self.result64 = dataUrl
          self.resultName = files.name
          self.resultType = files.type
        }
        image.src = readerEvent.target.result
      }
      fr.readAsDataURL(files)
    },
    dialogCheckType (title, desc) {
      this.resultName = ''
      this.dialog.dialogCheckType.isOpen = true
      this.dialog.dialogCheckType.title = title
      this.dialog.dialogCheckType.desc = desc
    },
    routeToBank (bank) {
      this.$router.push('/finavest/payment/invoice/1/' + false + '/' + this.id + '/null')
    },
    acquisitionDialog (unit, amount, productName, productType, nav, navDate, image) {
      this.dialog.dialogAcquisition = true
      this.acquisition.image = image
      this.acquisition.productName = productName
      this.acquisition.productType = productType
      this.acquisition.transactionAmount = amount
      this.acquisition.totalUnit = unit
      this.acquisition.nav = nav
      this.acquisition.navDate = navDate
    },
    trackUploadSuccess () {
      this.$analytics.track('Transaction Proof Submited')
    },
    trackUploadError () {
      this.$analytics.track('Transaction Format Rejected')
    },
    addDonation (donation, uniqueCode) {
      if (donation !== 0) {
        this.items.push({
          product_name: 'Donasi',
          amount: donation
        })
      }
    },
    remarkFilter (value) {
      const result = []
      const map = new Map()
      for (const item of value) {
        if (!map.has(item.remark)) {
          map.set(item.remark, true)
          result.push({
            remark: item.remark
          })
        }
      }
      this.remarkStatus = result
    }
  },
  created () {
    this.id = this.$route.params.id
    this.type = this.$route.params.type
    this.access = this.$route.params.access
    this.fetchData()
  }
}
</script>
<style lang="sass">

  .border-card-right-dashed
    border-right: 0.5px dashed #A8ADC4

  .border-card-botom-dashed
    border-bottom: 0.5px dashed #A8ADC4

  .wrap-img
    border: 1px solid #E9ECF0
    background: white
    padding: 4px 4px 0 4px
    border-radius: 3px
    width: 48px
    height: 48px
    overflow: hidden
    position: relative

    img
      width: 48px
      height: auto
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

  .finavest-payment-detail

    .toolbar-bottom
      height: 48px

    .verification
      border-left: 6px solid #3F99DD
      border-radius: 4px

    .amount
      position: absolute
      right: 0
      bottom: 0

    .pos-relative
      position: relative

    .bg-border
      background-color: #E8EAEF

    .wrap-countdown
      background-color: #FFF3DB
      height: 48px
      color: #ECA518
      border-radius: 4px
      border-left: 6px solid #FBAF18
      padding: 0 13px 0 11px

    .wrap-status
      border-radius: 13px

    .border-bottom-solid
      border-bottom: 1px solid #E8EAEF

    input
      outline: none

    .btn-copy
      border: 1px solid #E8EAEF
      background-color: white
      padding: 6px 18px
      font-weight: bold
      font-size: 12px

    .border-solid
      border-bottom: 0.5px solid #A8ADC4

    .v-toolbar
      z-index: 20
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

    .card-custom
      box-shadow: none !important

    .v-divider
      border-color: #F6F8FA !important

    .w-40
      height: 40px !important

    .cashback
      border: 1px solid #42A5F5

    .v-divider
      border-top-width: 8px

    .r-16
      border-radius: 16px

    .v-btn
      height: auto
      margin: 0px 4px

    .bg-system-warning-detail
      background-color: #FFD13B

    .image-acquisition
      width: 36px
      height: 36px
      align-self: center
      margin-bottom: 12px

    .border-bottom
      border-bottom-left-radius: 12px
      border-bottom-right-radius: 12px

    .btn-unggah-custom
      padding: 14px 0
      background: #388BF2
      margin-bottom: 8px !important
      margin-top: 8px !important

    .btn-unggah-ulang
      padding: 14px 0
      background: #FFFFFF
      border: 1px solid #E8EAEF

    .btn-beranda
      padding: 16px 0
      background: #51AAF4
      color: #fff

    .custom-img
      margin-bottom: -3px
      margin-left: 5px

    .wrapper-bank
      border: 1px solid #E9ECF0
      background: white
      border-radius: 3px
      width: 112px
      height: 68px
      overflow: hidden
      position: relative

      img
        width: 80px
        height: 36px
        height: auto
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

  @media only screen and (max-width: 320px)
    .finavest-payment-detail
      .avenir-10-med
        font-size: 9px


</style>
