<template>
  <div class="auth-pin-otp">
    <div class="text-align-center">
      <v-card-text class="nexa-18-bold mb-3"
        >Masukkan Kode Verifikasi
      </v-card-text>
      <v-card-text class="avenir-12-reg mb-4">
        <slot name="description"></slot>
      </v-card-text>
    </div>
    <v-layout column align-center class="card-radius px-3" style="border: 1px solid #F0F2F5">
      <v-card-text class="avenir-14-med my-2 text-align-center">
        Masukkan Kode
      </v-card-text>
      <input type="tel" class="otp-style my-3  input-otp" inputmode="numeric" v-model="value" @input="emitOtpValue(value)" maxlength="6">
      <input type="tel" maxlength="0" id="textOtp" style="height: 0px">
    </v-layout>
    <div
      class="full-width mt-4"
    >
      <v-card-text
        v-if="countdown > 0"
        class="text-align-center color-text-4 avenir-12-med mb-6"
      >
        Kirim ulang kode (0:{{ countdown }})
      </v-card-text>
      <v-card-text
        v-else
        class="text-align-center color-primary-1 avenir-12-med mb-6"
        @click="resendCode()"
      >
        Kirim ulang kode
      </v-card-text>
    </div>
  </div>
</template>
<script>
import Api from '@/services/Api'

export default {
  name: 'AuthPinOtp',
  data () {
    return {
      countdown: 30,
      value: ''
    }
  },
  computed: {
    email () {
      return this.$store.getters['auth/email']
    }
  },
  created () {
    this.countdownTimer()
  },
  watch: {
    value: function (value) {
      if (value.length === 6) {
        document.getElementById('textOtp').focus()
      } else {
        this.isdisabled = false
      }
    }
  },
  methods: {
    resendCode () {
      Api('verification/pin/create/request', {
        uuid_user: ''
      })
        .then((res) => {
          this.snackbar.isOpen = true
          this.initCountdown()
          this.countdownTimer()
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    initCountdown () {
      this.countdown = 30
    },
    countdownTimer () {
      if (this.countdown > 0) {
        setTimeout(() => {
          this.countdown -= 1
          this.countdownTimer()
        }, 1000)
      }
    },
    emitOtpValue (value) {
      this.$emit('input', value)
    }
  }
}
</script>
<style lang="sass">
  
.auth-pin-otp ::-webkit-input-placeholder
  text-align: center

.auth-pin-otp :-moz-placeholder
  text-align: center

.auth-pin-otp ::-moz-placeholder
  text-align: center

.auth-pin-otp :-ms-input-placeholder
  text-align: center

.auth-pin-otp input
  text-align: center

.auth-pin-otp
  *
    margin: 0px
    padding: 0px

  .v-toolbar
    box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

  .pincode-input-container
    display: inline-block
    position: relative

  .input-append input
    width: 26.9px
    height: 33px
    margin: auto
    margin-right: 2.3px
    border-top: 0
    border-left: 0
    border-right: 0
    border-bottom: 2px solid rgba(0,0,0,.2)
    padding: 0
    color: rgba(0,0,0,.7)
    margin-bottom: 0
    padding-bottom: 0
    font-size: 28px
    text-shadow: none
    box-shadow: none
    text-align: center
    background-color: transparent
    font-weight: 600
    line-height: 0
    border-radius: 0
    border-image-width: 0

  .otp-style
    padding-left: 5px
    padding-bottom: 8px
    border: none
    width: 230px
    background: repeating-linear-gradient(90deg, #AAADC4 0, #AAADC4 22px, transparent 0, transparent 41px) 0 100%/100% 1px no-repeat
    color: #2C3B50
    font-size: 21px
    letter-spacing: 30px
    text-align: left !important

  .otp-style:focus
    border: none
    outline: none

  .blankpage
    width: 100%
    height: 210px

  #textOtp
    outline: none !important
    border: none !important
    opacity: 0 !important

  #textOtp:focus
    outline: none !important
    border: none !important
</style>
