<template>
  <div class="auth-pin-input">
    <div class="text-align-center">
      <v-card-text class="nexa-18-bold mb-3">{{ title }}</v-card-text>
      <v-card-text class="avenir-14-reg"><slot name="description"></slot></v-card-text>
    </div>
    <v-layout column align-center justify-center class="mt-3">
      <input type="password" class="otp-style my-3 input-otp" inputmode="numeric" v-model="value" @input="emitInputValue(value)" maxlength="6">
      <input type="password" maxlength="0" id="textOtp" style="height: 0px">
      <div v-if="error" class="text-center color-system-error avenir-12-reg">
        <!-- @slot error message layout, appear when error is true -->
        <div slot="layout-error-message"></div>
      </div>
    </v-layout>
  </div>
</template>
<script>
export default {
  name: 'AuthPinInput',
  props: {
    title: {
      type: String,
      default: null
    },
    error: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      value: ''
    }
  },
  watch: {
    value: function (value) {
      if (value.length === 6) {
        document.getElementById('textOtp').focus()
      } else {
        this.isdisabled = false
      }
    }
  },
  methods: {
    emitInputValue (value) {
      this.$emit('input', value)
    }
  }
}
</script>
<style lang="sass">
.auth-pin-input ::-webkit-input-placeholder
  text-align: center

.auth-pin-input :-moz-placeholder
  text-align: center

.auth-pin-input ::-moz-placeholder
  text-align: center

.auth-pin-input :-ms-input-placeholder
  text-align: center

.auth-pin-input input
  text-align: center

.auth-pin-input
  *
    margin: 0px
    padding: 0px

  .v-toolbar
    box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

  .pincode-input-container
    display: inline-block
    position: relative

  .input-append input
    width: 26.9px
    height: 33px
    margin: auto
    margin-right: 2.3px
    border-top: 0
    border-left: 0
    border-right: 0
    border-bottom: 2px solid rgba(0,0,0,.2)
    padding: 0
    color: rgba(0,0,0,.7)
    margin-bottom: 0
    padding-bottom: 0
    font-size: 28px
    text-shadow: none
    box-shadow: none
    text-align: center
    background-color: transparent
    font-weight: 600
    line-height: 0
    border-radius: 0
    border-image-width: 0

  .otp-style
    padding-left: 5px
    padding-bottom: 8px
    border: none
    width: 230px
    background: repeating-linear-gradient(90deg, #AAADC4 0, #AAADC4 22px, transparent 0, transparent 41px) 0 100%/100% 1px no-repeat
    color: #2C3B50
    font-size: 21px
    letter-spacing: 30px
    text-align: left !important

  .otp-style:focus
    border: none
    outline: none

  .blankpage
    width: 100%
    height: 210px

  #textOtp
    outline: none !important
    border: none !important
    opacity: 0 !important

  #textOtp:focus
    outline: none !important
    border: none !important
</style>