<template>
  <div class="profile-dashboard" v-if="halofinaName && halofinaEmail" :style="'min-height: ' + screenHeight + 'px;'">
    <!-- wrap hero -->
    <div row class="wrap-hero">
      <v-card-text class="full-name avenir-14-med pt-5">
        {{halofinaName.split(' ').slice(0,2).join(' ')}}
      </v-card-text>
      <v-card-text class="gmail avenir-14-reg pb-5">
        {{halofinaEmail}}
      </v-card-text>

      <v-layout v-if="referral.isActive" @click="goToCodeReferal()" class="referal-code-profile pa-3 mr-3 align-center justify-space-between">
        <span class="avenir-14-reg">
          Raih keuntungan tambahan <br />
          dengan <b>kode referral!</b>
        </span>

        <img src="@/assets/icons/icon-arrow-blue.svg" alt="icon arrow blue">
      </v-layout>
      <div v-if="referral.isActive" style="height: 24px"></div>
    </div>

    <!-- list fiture -->
    <v-layout row>
      <v-flex xs12 sm6 offset-sm3>
        <v-card class="card-list" v-for="(listFeatures, index) in listFeature" :key="index">
          <v-list two-line subheader v-if="checkFeatures('halofina:redeem_voucher').version > 0">
            <v-list-tile
            avatar
            class="border-bottom px-20"
            @click="routeList(listFeatures.route)"
            >
            <!-- icon feature-->
              <v-list-tile-avatar>
                <img :src="listFeatures.icon" :alt="'icon ' + listFeatures.name">
              </v-list-tile-avatar>
            <!-- name feature -->
              <v-list-tile-content>
                <v-list-tile-title class="avenir-16-reg feature-name">{{listFeatures.name}}</v-list-tile-title>
              </v-list-tile-content>
            <!-- icon arrow-->
              <v-list-tile-action>
                <img src="@/assets/icons/icon-arrow.svg" alt="icon arrow" class="icon-arrow">
              </v-list-tile-action>
            </v-list-tile>
          </v-list>
          <v-list two-line subheader v-else>
            <v-list-tile
            v-if="index > 0"
            avatar
            class="border-bottom px-20"
            @click="routeList(listFeatures.route)"
            >
            <!-- icon feature-->
              <v-list-tile-avatar>
                <img :src="listFeatures.icon" :alt="'icon ' + listFeatures.name">
              </v-list-tile-avatar>
            <!-- name feature -->
              <v-list-tile-content>
                <v-list-tile-title class="avenir-16-reg feature-name">{{listFeatures.name}}</v-list-tile-title>
              </v-list-tile-content>
            <!-- icon arrow-->
              <v-list-tile-action>
                <img src="@/assets/icons/icon-arrow.svg" alt="icon arrow" class="icon-arrow">
              </v-list-tile-action>
            </v-list-tile>
          </v-list>
        </v-card>
      </v-flex>
    </v-layout>

    <!-- logout -->
    <v-layout row class="logout-feature mt-2">
      <v-flex xs12 sm6 offset-sm3>
        <v-card class="card-list">
          <v-list two-line subheader>
            <v-list-tile
            avatar
            class="border-top px-20"
            @click="logoutClick"
            >
            <!-- icon feature-->
              <v-list-tile-avatar>
                <img src="@/assets/profile/profile-logout.svg" alt="icon profile logout">
              </v-list-tile-avatar>
            <!-- name feature -->
              <v-list-tile-content>
                <v-list-tile-title class="avenir-16-reg feature-name">Logout</v-list-tile-title>
              </v-list-tile-content>
            <!-- icon arrow-->
              <v-list-tile-action>
                <img src="@/assets/icons/icon-arrow.svg" alt="icon arrow" class="icon-arrow">
              </v-list-tile-action>
            </v-list-tile>
          </v-list>
        </v-card>
      </v-flex>
    </v-layout>


  </div>
  <div v-else>
    <shimmering-template></shimmering-template>
  </div>
</template>
<script>
import Api from '@/services/Api'
import { checkFeatures } from '@/services/Helpers'

// import vuetify
import {
  VList,
  VSubheader,
  VListTile,
  VListTileAvatar,
  VListTileContent,
  VListTileTitle,
  VListTileSubTitle,
  VListTileAction
} from 'vuetify/lib'
const ShimmeringTemplate = () => import('@/components/v2/shimmering/Profile')

export default {
  components: {
    ShimmeringTemplate,
    VList,
    VSubheader,
    VListTile,
    VListTileAvatar,
    VListTileContent,
    VListTileTitle,
    VListTileSubTitle,
    VListTileAction
  },
  props: {
    halofinaName: {
      type: String
    },
    halofinaEmail: {
      type: String
    },
    isPremium: {
      type: Boolean,
      default: null
    }
  },
  data () {
    return {
      screenHeight: screen.height - 56,
      referral: {
        isActive: false
      },
      listFeature: [
        {
          name: 'Masukkan Kode Voucher',
          icon: require('@/assets/profile/profile-voucher.svg'),
          route: '/profile/voucher/add'
        },
        {
          name: 'Pengaturan Profil',
          icon: require('@/assets/profile/profile-settings.svg'),
          route: ''
        },
        {
          name: 'Ganti Profil Risiko',
          icon: require('@/assets/profile/profile-risk.svg'),
          route: ''
        },
        {
          name: 'Ganti Kata Sandi',
          icon: require('@/assets/profile/profile-change-password.svg'),
          route: '/password/change'
        },
        {
          name: 'Bantuan',
          icon: require('@/assets/profile/profile-customers.svg'),
          route: '/help'
        },
        {
          name: 'Akun Premium',
          icon: require('@/assets/profile/profile-premium.svg'),
          route: ''
        }
      ]
    }
  },
  methods: {
    checkFeatures,
    setRouteKyc () {
      if (localStorage.getItem('halofina-rpa') === null || localStorage.getItem('halofina-saving-profile') === null) {
        this.listFeature[1].route = '/new/finacheck/rpa/input/null'
        this.listFeature[2].route = '/new/finacheck/rpa/input/null'
      } else {
        if (this.kycStatus === null || this.kycStatus === 'REJECTED') {
          this.listFeature[1].route = '/finacheck/kyc/list'
          this.listFeature[2].route = '/new/finacheck/rpa/input/profil'
        } else if (this.kycStatus === 'ONPROCESS' || this.kycStatus === 'PENDING') {
          this.listFeature[1].route = '/v2/finacheck/kyc/process'
          this.listFeature[2].route = '/new/finacheck/rpa/input/profil'
        } else {
          this.listFeature[1].route = '/finacheck/kyc/data_kyc'
          this.listFeature[2].route = '/new/finacheck/rpa/input/profil'
        }
      }
    },
    goToCodeReferal () {
      this.$router.push('/profile/referalcode/dashboard')
    },
    routeList (route) {
      this.$router.push(route)
    },
    logoutClick () {
      this.$emit('logout-boolean', true)
    },
    setRoutePremium (condition) {
      let listFeature = this.listFeature
      if (condition === true) {
        listFeature[listFeature.length - 1].route = '/premium'
      } else {
        listFeature[listFeature.length - 1].route = '/notpremium'
      }
    },
    getKyc () {
      Api('finacheck/kyc/status', {})
        .then((res) => {
          this.kycStatus = res.d.status
          this.setRouteKyc()
        })
    },
    getReferralStatus () {
      this.referral.isActive = this.checkFeatures('halofina:referral').enabled
    }
  },
  created () {
    this.getKyc()
    // WIP harusnya jangan gini
    let interval = setInterval(() => {
      if (this.isPremium !== null) clearInterval(interval)
      this.setRoutePremium(this.isPremium)
    }, 500)
    this.getReferralStatus()
  }
}
</script>
<style lang="sass">
  .profile-dashboard
    *
      padding: 0
      margin: 0

    .wrap-hero
      width: 102%
      background-image: url('../../../assets/profile/hero-profile.svg')
      background-size: cover
      background-position: -1px center
      padding: 0 20px
      position: relative

      .full-name
        font-size: 24px
        color: #fff
        padding-bottom: 10px

      .gmail
        opacity: 0.8
        color: #fff

      .referal-code-profile
        border-radius: 8px
        width: 100%
        box-shadow: 0px 6px 10px rgba(23, 23, 23, 0.05)
        background-color: white

    .border-bottom
      border-bottom: 1px solid #E8EAEF

    .card-list
      border-radius: none
      border: none
      box-shadow: none

    .v-avatar
      border-radius: 0 !important
      width: auto !important
      height: auto !important

      img
        border-radius: 0 !important

    .v-list__tile__avatar
      min-width: 40px

    .icon-arrow
      width: 20px

    .v-list--two-line .v-list__tile
      height: 64px !important

    .px-20
      padding: 0 20px

    .logout-feature
      position: relative
      width: 100%
      bottom: 0
      border-top: 1px solid #E8EAEF

</style>
