<template>
  <div>
    <div v-if="isLoading" class="referal-code bg-primary-3" :style="'min-height: ' + screenHeight + 'px;'">
      <reusable-toolbar page-name=""></reusable-toolbar>

      <!-- hidden element -->
      <input id="text-copy" class="avenir-14-med pa-0" readonly :value="valueCopy"/>
      <v-layout column justify-center class="px-20 pb-4">
        <img src="@/assets/referral/hero-img.svg" />
        <v-card-text class="nexa-24-bold color-text-1 pb-3 pt-20 text-xs-center">
          Ajak Teman & <br /> Dapatkan Voucher
        </v-card-text>
        <v-card-text class="avenir-16-reg text-xs-center">
          Ajak teman daftar Halofina pake kode referral kamu!
        </v-card-text>
      </v-layout>

      <v-layout row align-center class="card-referral pa-3 mx-20">
        <v-flex xs7>
          <v-card-text class="avenir-14-reg color-text-3">
            Kode Referral Kamu
          </v-card-text>
          <v-card-text class="avenir-23-med color-text-1">
            {{ referral.code }}
          </v-card-text>
        </v-flex>
        <v-flex xs5>
          <v-btn color="primary" class="full-width btn-radius nexa-16-bold color-primary-3" depressed @click="popupbottom.share = true">Ajak Teman</v-btn>
        </v-flex>      
      </v-layout>

      <div class="card-voucher full-width mx-20 mt-3">
        <div class="header-voucher px-4 pt-4 pb-20 bg-brand-1">
          <v-card-text class="avenir-14-med color-primary-3 pa-0 pb-1">
            Ajak lebih banyak teman dong
          </v-card-text>
          <v-card-text class="avenir-18-bold color-primary-3 pa-0 pb-3">
            {{ banner.title }}
          </v-card-text>
          <v-card-text class="avenir-14-reg color-primary-3">
            Berlaku hingga {{ dateFormat(banner.end_date, 'DD MMMM YYYY') }}
          </v-card-text>
        </div>
        <div class="body-voucher py-3 pl-4 pr-3">
          <v-layout row>
            <img v-if="banner.status === 'ON PROGRESS'" src="@/assets/referral/icon-progress.svg" class="mr-3" />
            <img v-if="banner.status === 'SUCCEED'" src="@/assets/referral/icon-succeed.svg" class="mr-3" />
            <img v-if="banner.status === 'FAILED'" src="@/assets/referral/icon-fail.svg" class="mr-3" />
            <v-layout column>
              <v-card-text class="avenir-14-reg color-text-3 pb-1">
                Teman yang sudah diajak
              </v-card-text>
              <v-layout row align-center>
                <span class="nexa-18-bold color-text-1 pr-3">
                  {{banner.redeem}}/{{banner.quota}}
                </span>
                <div class="wrap-progressbar">
                  <div class="progress" :style="'width: '+ progress +'%'"></div>
                </div>
              </v-layout>
            </v-layout>
          </v-layout>
          <v-card-text class="pt-20 nexa-14-bold color-text-3" v-if="banner.status === 'ON PROGRESS' && Number(banner.redeem) >= Number(banner.quota)">
            Voucher kamu sedang diproses...
          </v-card-text>
          <v-card-text class="pt-20 nexa-14-bold color-text-3" v-if="banner.status === 'SUCCEED'">
            Voucher sudah bisa dipakai silakan <br /> cek di halaman voucher kamu
          </v-card-text>
          <v-card-text class="pt-20 nexa-14-bold color-text-3" v-if="banner.status === 'FAILED'">
            Maaf, kuota voucher sudah habis, silakan tunggu misi bulan berikutnya
          </v-card-text>
        </div>
      </div>

      <v-card-text class="avenir-14-med color-brand-1 snk text-xs-center" @click="popupbottom.snk = true">
        Lihat Syarat & Ketentuan
      </v-card-text>

      <!-- snackbar -->
      <v-snackbar color="success" v-model="snackbars" :timeout="1500">
        Kode Referal telah disalin.
      </v-snackbar>

      <v-bottom-sheet v-model="popupbottom.share">
        <v-card v-touch:swipe="swipeHandler" flat style="border-top-left-radius: 12px; border-top-right-radius: 12px">
          <v-layout column justify-center>
            <div class="tooltip-line mt-3"></div>
            <div class="tooltip-line"></div>
            <v-card-text class="pa-0 nexa-16-bold pt-3 pb-3 mb-20 text-xs-center color-text-1 border-bottom-solid">Ajak Teman Kamu</v-card-text>
            <v-layout column justify-center class="px-20">
            <social-sharing
              url="https://halofina.onelink.me/CEgY/referral"
              :title="'Dapatkan premium e-book dari Halofina untuk perencanaan hidup yang lebih baik. Pakai kode referral ini sebelum membuat akun Halofina kamu: ' + referral.code + ' Download sekarang'"
              :description="'Dapatkan premium e-book dari Halofina untuk perencanaan hidup yang lebih baik. Pakai kode referral ini sebelum membuat akun Halofina kamu: ' + referral.code + ' Download sekarang'"
              :quote="'Dapatkan premium e-book dari Halofina untuk perencanaan hidup yang lebih baik. Pakai kode referral ini sebelum membuat akun Halofina kamu: ' + referral.code + ' Download sekarang'"
              hashtags="halofina,investasi,kodereferral"
              twitter-user="halofina_id"
              @open="trackEvent"
              inline-template>
              <div>
                <v-layout row align-center>
                    <v-flex xs4 class="text-xs-center">
                      <network network="facebook" class="del-focus">
                        <div>
                          <img src="@/assets/referral/facebook.svg" />
                          <v-card-text class="avenir-16-reg color-black">
                            Facebook
                          </v-card-text>
                        </div> 
                      </network>
                    </v-flex>
                    <v-flex xs4 class="text-xs-center">
                      <network network="whatsapp" class="del-focus">
                        <div>
                          <img src="@/assets/referral/whatsapp.svg" />
                          <v-card-text class="avenir-16-reg color-black">
                            Whatsapp
                          </v-card-text>
                        </div> 
                      </network>
                    </v-flex>
                    <v-flex xs4 class="text-xs-center">
                      <network network="twitter" class="del-focus">
                        <div>
                          <img src="@/assets/referral/twitter.svg" />
                          <v-card-text class="avenir-16-reg color-black">
                            Twitter
                          </v-card-text>
                        </div> 
                      </network>
                    </v-flex>
                  </v-layout>
                </div>
              </social-sharing>
              <v-layout row justify-center align-center pt-3>
                <v-flex xs4 class="text-xs-center" @click="trackEvent('line')">
                  <span class="del-focus">
                    <a style="text-decoration: none !important"  :href="'http://line.me/msg/text/?Dapatkan%20premium%20e-book%20dari%20Halofina%20untuk%20perencanaan%20hidup%20yang%20lebih%20baik.%20Pakai%20kode%20referral%20ini%20sebelum%20membuat%20akun%20Halofina%20kamu:%20' + referral.code + '%20Download%20sekarang'">
                      <div>
                        <img src="@/assets/referral/line.svg" />
                        <v-card-text class="avenir-16-reg color-black">
                          Line
                        </v-card-text>
                      </div>
                    </a>
                  </span>
                </v-flex>
                <v-flex xs4 class="text-xs-center" @click="trackEvent('copy'); copyToClipboard(valueCopy, 'text-copy'); snackbars = true">
                  <span>
                    <div class="del-focus">
                      <img src="@/assets/referral/copy.svg" />
                      <v-card-text class="avenir-16-reg color-black">
                        Salin
                      </v-card-text>
                    </div>
                  </span>
                </v-flex>
              </v-layout>
            </v-layout>
          </v-layout>
        </v-card>
      </v-bottom-sheet>

      <!-- bottom sheet s&k -->
      <v-bottom-sheet v-model="popupbottom.snk">
        <v-card class="full-width" flat style="border-top-left-radius: 12px; border-top-right-radius: 12px">
          <v-layout column justify-center>
            <div class="tooltip-line mt-3"></div>
            <div class="tooltip-line"></div>
          </v-layout>
          <v-layout row justify-space-between class="border-bottom-solid px-20 pt-3 pb-20">
            <v-flex xs8>
              <v-card-text class="pa-0 nexa-16-bold color-text-1">Syarat & Ketentuan</v-card-text>
            </v-flex>
            <v-flex xs4 class="text-xs-right">
              <img src="@/assets/icons/icon-close.svg" @click="popupbottom.snk = false" />
            </v-flex>
          </v-layout>
          <div class="px-20 pt-3 pb-20 scroll-vbottom" v-html="banner.terms_conditions"></div>
        </v-card>
      </v-bottom-sheet>

    </div>
    <div v-else>
      <v-layout justify-center align-center column class="min-height-full">
        <reusable-loading></reusable-loading>
      </v-layout>
    </div>
  </div>
</template>
<script>

import {
  VList,
  VSubheader,
  VListTile,
  VListTileAvatar,
  VListTileContent,
  VListTileTitle,
  VListTileSubTitle,
  VListTileAction,
  VSnackbar,
  VBottomSheet
} from 'vuetify/lib'

import Api from '@/services/Api'

import ReusableLoading from '@/components/reusable/ReusableLoading'

import { copyToClipboard, dateFormat } from '@/services/Helpers'

/**
 * @group /finavest/profile
 * Referral Code Page
*/

export default {
  components: {
    VList,
    VSubheader,
    VListTile,
    VListTileAvatar,
    VListTileContent,
    VListTileTitle,
    VListTileSubTitle,
    VListTileAction,
    VSnackbar,
    VBottomSheet,
    ReusableLoading
  },
  data () {
    return {
      snackbars: false,
      openDialog: false,
      referral: null,
      banner: null,
      isLoading: false,
      progress: 0,
      screenHeight: screen.height,
      popupbottom: {
        about: false,
        benefit: false,
        share: false,
        snk: false
      },
      referralCode: 'RFK123',
      redeemedCount: '',
      amount: '',
      valueCopy: ''
    }
  },
  methods: {
    copyToClipboard,
    dateFormat,
    /**
     * @vuese
     * swipe bottom sheet
    */
    swipeHandler (direction) {
      if (this.persistent === false) {
        if (direction === 'bottom') {
          this.popupbottom.share = false
        }
      }
    },
    /**
     * @vuese
     * fetch data banner
    */
    fetchBanner () {
      Api('mobile/marketing/referral/banner', {}, true, 'GET')
        .then((res) => {
          this.banner = res.data
          this.progress = (res.data.redeem / res.data.quota) * 100
        })
        .catch((err) => {
          console.log(err)
        })
    },
    /**
     * @vuese
     * fetch data referral
    */
    fetchReferal () {
      Api('mobile/marketing/referral/code', {}, true, 'GET')
        .then((res) => {
          this.referral = res.data
          this.valueCopy = 'Dapatkan premium e-book dari Halofina untuk perencanaan hidup yang lebih baik. Pakai kode referral ini sebelum membuat akun Halofina kamu: ' + res.data.code + ' Download sekarang https://halofina.onelink.me/CEgY/referral'
          this.isLoading = true
        })
        .catch((err) => {
          console.log(err)
        })
    },
    /**
     * @vuese
     * go to page s&k
    */
    goSnk () {
      this.$router.push('/profile/referalcode/snk')
    },
    /**
     * @vuese
     * track mixpanel share referral clicked
    */
    trackEvent (network, url) {
      this.$analytics.track('Share Referral Clicked', {
        Channel: network
      })
    }
  },
  created () {
    this.fetchBanner()
    this.fetchReferal()
  }
}
</script>
<style lang="sass">
  .del-focus
    border: none !important
    outline: none !important

  .del-focus:focus
    outline: none !important

  .tooltip-line
    width: 35px
    height: 2px
    background-color: #A0A5B7
    margin: 0 auto
    margin-bottom: 2px

  .border-bottom-solid
    border-bottom: 1px solid #E8EAEF

  .scroll-vbottom
    overflow-y: auto
    max-height: 80vh
  
  .referal-code
    padding-bottom: 70px

    *
      padding: 0
      margin: 0

    .v-toolbar
      position: relative

    #text-copy
      color: transparent !important
      border: none !important
      position: absolute
      z-index: -10

    .primary
      background-color: #51AAF4 !important
      border-color: #51AAF4 !important
    
    #text-copy:focus
      border: none !important

    .card-referral
      border: 1px solid #E8EAEF
      box-shadow: 0px 6px 10px rgba(139, 139, 139, 0.07)
      border-radius: 8px

    .card-voucher
      border-radius: 6px
      width: auto
      height: auto
      overflow: hidden
      background-color: white
      border: 1px solid #E8EAEF

    .img-banner
      width: 100%
      height: auto

    .v-snack__content
      padding-left: 20px

    .body-voucher
      box-shadow: 0px 6px 10px rgba(139, 139, 139, 0.07)  
  
    .wrap-progressbar
      width: 100%
      height: 8px
      border-radius: 8px
      background: #ECEFF7
      position: relative
      overflow: hidden

      .progress
        height: 100%
        background: #51AAF4
        border-radius: 8px
    
    .snk
      position: absolute
      bottom: 20px
</style>
