<template>
    <div class="profile-settings">
      <reusable-toolbar page-name="Pengaturan Profil" :change-namespace="true" namespace="dashboard" :left="true" route="/dashboard?tab=profil"></reusable-toolbar>
        <div v-if="isLoaded === true" style="margin-top: 64px">
          <v-layout column class="mx-20 mb-3">
            <v-flex v-if="mother === null && checkFeatures('halofina:kyc_page').version > 2" xs12 class="mb-3">
              <div class="saldo">
                <v-layout row align-center>
                  <v-layout column>
                    <v-card-text class="avenir-14-bold pb-1">Tingkatkan Keamanan</v-card-text>
                    <v-card-text class="avenir-12-reg">Silakan lengkapi data verifikasimu</v-card-text>                        
                  </v-layout>
                  <v-btn depressed small block class="btn-radius-new" style="border-radius: 4px !important; height: 28px !important; min-width: 75px !important" color="primary" @click="$router.push('/v2/input/finacheck/kyc/list/existing')">
                    <v-card-text class="avenir-10-med color-primary-3">Lengkapi</v-card-text>
                  </v-btn>
                </v-layout>
              </div>
            </v-flex>
            <v-card class="bg-supportive-blue-2 card-radius pa-3" flat>
              <v-layout row align-start>
                <img src="@/assets/finacheck/kyc/secured.svg"/>
                <v-card-text class="ml-3 pa-0 color-supportive-blue-1 avenir-12-reg">
                  Halofina menggunakan standar enkripsi 256-bit. Kami hanya menggunakan data ini untuk syarat transaksi yang kamu lakukan. <br /><br /> Halofina Terdaftar di <span class="font-weight: 600">OJK</span> sebagai Penyelenggara Inovasi Keuangan Digital (No. 27)
                </v-card-text>
              </v-layout>
            </v-card>
          </v-layout>
          <v-container class="pa-0 wrap-list">
            <v-layout column>
              <v-layout class="bg-primary-3 pa-20 wrap-list" @click="go(item.route)" row justify-space-between align-center v-for="(item, index) in items" :key="index">
                <v-layout row align-center>
                  <img class="pr-20" :src="item.img">
                  <span class="avenir-16-med">{{item.title}}</span>
                </v-layout>
                <img src="@/assets/finacheck/kyc/ic-arrow.svg" alt="icon arrow">
              </v-layout>
            </v-layout>
            <!--  -->
          </v-container>
        </div>
        <div v-else>
          <v-layout align-center justify-center column class="full-height">
            <reusable-loading></reusable-loading>
          </v-layout>
        </div>
        <!-- Dialog Done -->
        <reusable-dialogs
          v-model="dialog.dialogDone"
          :image="dialog.dialogImageDone"
          :resize-image="true"
          :is-image-above-title="true"
          title="Verifikasi Kami Proses"
          classDialog="card-radius card pb-3"
          description="Data kamu akan kami proses, maksimal 2 hari kerja, kami akan memberitahu kamu saat verifikasi telah selesai">
          <div slot="layout-button">
            <v-btn depressed block class="btn-radius box-shadow mb-3" color="primary" @click.native="goToDashboard('lifeplan', 'assign')" :ripple="false" >Kembali ke Dashboard</v-btn>
          </div>
        </reusable-dialogs>
        <!-- Dialog Error -->
        <reusable-dialogs v-model="dialog.dialogError" :resize-image="true" :description="dialog.dialogErrorDesc"></reusable-dialogs>
        <!-- Dialog Loading -->
        <reusable-dialogs
            v-model="dialog.dialogLoading"
            :unclickable="true"
        >
            <div slot="layout">
              <v-card flat class="card-radius" style="width: 100%">
                <v-layout py-3 px-5 row align-center justify-center>
                  <div class="nexa-14-bold px-5">Memproses...</div>
                </v-layout>
              </v-card>
            </div>
        </reusable-dialogs>
    </div>
</template>

<script>
import { VListTileAction, VListTileSubTitle, VListTileAvatar, VListTileContent, VListTile, VListTileTitle, VList } from 'vuetify/lib'
import Api from '@/services/Api'
import { checkFeatures, goToDashboard } from '@/services/Helpers'

import ReusableLoading from '@/components/reusable/ReusableLoading'

export default {
  components: {
    ReusableLoading, VListTileAction, VListTileSubTitle, VListTileAvatar, VListTileContent, VListTile, VListTileTitle, VList
  },
  name: 'FinaspendPaymentBank',
  data () {
    return {
      dialog: {
        dialogErrorDesc: false,
        dialogError: false,
        dialogDone: false,
        dialogImageDone: require('@/assets/finavest/lifeplan/check.svg'),
        dialogLoading: false
      },
      checkImg: require('@/assets/finacheck/kyc/checklist.svg'),
      kycStatus: null,
      mother: null,
      items: [
        {
          title: 'Data Diri',
          data: null,
          img: require('@/assets/finacheck/kyc/personal.svg'),
          route: '/v2/input/finacheck/kyc/personal/profile/false',
          key: 'personal'
        },
        {
          title: 'Data Email',
          data: null,
          img: require('@/assets/finacheck/kyc/email.svg'),
          route: '/v2/input/finacheck/kyc/email',
          key: 'email'
        },
        {
          title: 'Data Pekerjaan',
          data: null,
          img: require('@/assets/finacheck/kyc/job.svg'),
          route: '/v2/input/finacheck/kyc/job/profile/false',
          key: 'job'
        },
        {
          title: 'Data Alamat',
          data: null,
          img: require('@/assets/finacheck/kyc/address.svg'),
          route: '/v2/input/finacheck/kyc/address/profile/false',
          key: 'address'
        },
        {
          title: 'Data Rekening',
          data: null,
          img: require('@/assets/finacheck/kyc/bank.svg'),
          route: '/v2/input/finacheck/kyc/bank/profile/false',
          key: 'bank'
        }
      ],
      disableButton: true,
      removeButton: false,
      isLoaded: false
    }
  },
  methods: {
    checkFeatures,
    goToDashboard,
    fetchDatas () {
      // get personal data
      Api('finacheck/kyc/personal', {})
        .then((res) => {
          this.items[0].data = res.d.ktp_number
          this.mother = res.d.mother_maiden_name
          // get address data
          Api('finacheck/kyc/address', {})
            .then((res) => {
              this.items[1].data = res.d
              // get bank data
              Api('finacheck/kyc/bank', {})
                .then((res) => {
                  this.items[2].data = res.d
                  this.fetchDataSign()
                })
                .catch(() => {
                  this.dialog.dialogError = true
                })
            })
            .catch(() => {
              this.dialog.dialogError = true
            })
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    fetchDataSign () {
      Api('finacheck/kyc/signature', {})
        .then((res) => {
          if (localStorage.getItem('halofina-sign')) {
            this.items[3].data = JSON.parse(localStorage.getItem('halofina-sign'))
          } else {
            if (res.d.length !== 0) this.items[3].data = res.d[0].image
          }
          this.checkButton(this.items)
        })
    },
    checkButton (items) {
      if (items[0].data === null || items[1].data === null || items[2].data === null || items[3].data === null) {
        this.disableButton = true
        this.isLoaded = true
      } else {
        this.isLoaded = true
        this.disableButton = false
      }
    },
    go (url) {
      this.$router.push(url)
    },
    getKycStatus () {
      Api('finacheck/kyc/status', {})
        .then((res) => {
          this.kycStatus = res.d.status
          if (res.d.status === 'PENDING' || res.d.status === 'ONPROCESS' || res.d.status === 'COMPLETED') {
            this.removeButton = true
          } else {
            this.disableButton = false
          }
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    submit () {
      this.dialog.dialogLoading = true
      Api('finacheck/kyc/personal/sign', {
        signature: JSON.parse(localStorage.getItem('halofina-sign'))
      }).then((res) => {
        this.trackEvent()
        this.disableButton = true
        this.dialog.dialogLoading = false
        this.dialog.dialogDone = true
      }).catch((err) => {
        this.disableButton = false
        this.dialog.dialogLoading = false
        this.dialog.dialogError = true
        this.dialog.dialogErrorDesc = err.m
      })
    },
    trackEvent () {
      this.$analytics.track('KYC Submited')
    }
  },
  created () {
    this.getKycStatus()
    this.fetchDatas()
  }
}
</script>
<style lang="sass">
  .profile-settings

    .saldo
      position: relative
      background: #fff
      width: 100%
      border-radius: 5px
      padding: 12px 16px
      border: 1px solid #E8EAEF
      box-shadow: 0px 6px 10px rgba(175, 211, 229, 0.15)
     
      *
        padding: 0
        margin: 0

    .img-left
      float: left

    .desc
      .title-wallet
        color: #A0A5B7

      .amount
        font-weight: 600
        color: #505565
        font-size: 14px

    .v-toolbar
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

    .v-divider--inset:not(.v-divider--vertical)
      margin-left: 0px
      max-width: none

    .wrap-list
      border: 1px solid #E8EAEF

    .btn-premium
      position: absolute
      bottom: 0
      background-color: #51AAF4
      width: 100%

    .wrap-list
      box-shadow: 0px 6px 10px rgba(23, 23, 23, 0.05)

</style>
