<template>
  <div class="snk bg-primary-3" :style="'min-height: ' + screenHeight + 'px;'">
    <reusable-toolbar page-name="Syarat & Ketentuan"></reusable-toolbar>
    <div class="pa-20 toolbar-margin">
      <div v-html="banner.terms_conditions"></div>
    </div>
    <!-- hidden element -->
  </div>
</template>
<script>

import ApiAdmin from '@/services/ApiAdmin'

/**
 * @group /finavest/profile
 * S&K Code Page
*/

export default {
  data () {
    return {
      screenHeight: screen.height,
      banner: null
    }
  },
  methods: {
    /**
     * @vuese
     * fetch data banner
    */
    fetchBanner () {
      ApiAdmin('mobile/marketing/referral/banner', 'GET', false, {})
        .then((res) => {
          this.banner = res.data
        })
        .catch((err) => {
          console.log(err)
        })
    }
  },
  created () {
    this.fetchBanner()
  }
}
</script>
<style lang="sass">
  .snk
    *
      padding: 0
      margin: 0

    .v-toolbar
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

</style>
