<template>
  <div class="finacheck-kyc-spending">
    <!-- ReusableToolbar -->
    <reusable-toolbar
      page-name="Kemampuan Menabung"
      :change-namespace="edit === 'edit' ? true : false"
      namespace="dashboard"
      title-color="#505565 !important" 
      :edit="edit === 'edit' ? true : false"
      route="/new/finacheck/rpa/input/not"
      route-edit="/dashboard?tab=lifeplan">
    </reusable-toolbar>
    <!-- App Layout -->
    <v-container class="pa-0" style="margin-top: 20px">
      <v-layout column :style="minHeight()">
        <div class="nexa-20-bold text-align-center">
          <img :src="img.fina" style="width: 274px; height: 240px"/>
          <v-card-text class="nexa-18-bold px-4 py-0" style="color: #000;">
            Dari pendapatan kamu, berapa yang dapat diinvestasikan untuk mencapai keinginan kamu?
          </v-card-text>
          <div class="px-4">
            <input
              type="tel"
              id="input-custom"
              v-model="investcustom"
              v-money="money"
              maxlength="15"
              @focus="scroll = true"
              @blur="scroll = false"
              class="input text-align-center nexa-18-bold" 
            />
            <v-card-text class="pa-0 pt-2 avenir-12-reg color-text-3 text-xs-center disclaimer">
              Kemampuan maksimal menabung kamu perbulan-nya
            </v-card-text>
          </div>
        </div>
        <v-layout justify-center class="wrap-button">
          <v-btn block depressed color="primary" class="nexa-16-bold" :disabled="transformedInvestValue < 1" @click="submit()">Simpan</v-btn>
        </v-layout>
        <!-- Blank box for Scrolling -->
        <div :class="scroll === true ? 'blank-box' : ''"></div>
      </v-layout>
    </v-container>
    <v-dialog v-model="isOpen" transition="dialog-bottom-transition">
      <v-card tile style="text-align: center" class="card-radius py-3 pl-0 pr-3">
        <v-layout row align-center justify-center>
          <reusable-loading></reusable-loading>
          <br />
          <div class="avenir-16-med ml-3">
            Menyimpan
          </div>
        </v-layout>
      </v-card>
    </v-dialog>
    <reusable-dialogs
      v-model="isOpen"
      :resize-image="true"
    ></reusable-dialogs>
  </div>
</template>

<script>
import { VSpacer, VToolbarTitle, VToolbar, VDialog, VCarouselItem, VCarousel } from 'vuetify/lib'
import Api from '@/services/Api'
import { VMoney } from 'v-money'
import ReusableLoading from '@/components/reusable/ReusableLoading'
import { minHeight, goToDashboard } from '@/services/Helpers'
export default {
  components: {
    ReusableLoading, VSpacer, VToolbarTitle, VToolbar, VDialog, VCarouselItem, VCarousel
  },
  directives: { money: VMoney },
  name: 'FinacheckKycSpending',
  data () {
    return {
      scroll: false,
      dialog: {
        isopen: false,
        desc: '',
        title: ''
      },
      money: {
        thousands: '.',
        precision: 0,
        prefix: 'Rp ',
        masked: true
      },
      img: {
        check: require('@/assets/finavest/lifeplan/check.svg'),
        fina: require('@/assets/finacheck/kyc/illustration-fina.svg'),
        warning: require('@/assets/finavest/lifeplan/warning.svg')
      },
      isOpen: false,
      savingProfile: [],
      slide: 0,
      datas: {},
      invest: 0,
      investcustom: '',
      saving: '',
      married: 0,
      ismuslim: 0,
      income: 0,
      edit: ''
    }
  },
  created () {
    this.edit = this.$route.params.id
    localStorage.setItem('halofina-route', '/finacheck/kyc/spending')
    this.getDataFromLocalStorage()
    this.checkRouteFromEdit()
  },
  computed: {
    // transform infdatavest custom
    transformedInvestValue: function () {
      return this.investcustom.replace(/\./g, '').substr(3)
    }
  },
  methods: {
    minHeight,
    trackSaving (value) {
      this.$analytics.track('Saving Amount Determined', {
        page_source: 'Profil Menabung',
        gap_amount: Number(this.invest) - Number(value)
      })
    },
    scrollUp (id) {
      this.scroll = true
      this.focused = true
      var elmnt = document.getElementById(id)
      elmnt.scrollIntoView({behavior: 'smooth'})
    },
    checkRouteFromEdit () {
      if (localStorage.getItem('halofina-spending' || this.edit === '')) {
        this.slide = localStorage.getItem('halofina-spending') - 1
      } else if (this.edit === 'edit') {
        localStorage.setItem('halofina-route', '/finacheck/kyc/spending/edit')
        Api('finacheck/kyc/savingprofile/user', {})
          .then((res) => {
            if (res.d.length !== 0) {
              this.savingProfile = res.d
              this.slide = res.d[0].savingtypeid - 1
            }
          })
          .catch(() => {
            this.dialogs('Ada kesalahan', 'Coba reload atau coba beberapa saat lagi')
          })
      }
    },
    getDataFromLocalStorage () {
      this.income = localStorage.getItem('halofina-income')
      this.married = localStorage.getItem('halofina-married')
      this.ismuslim = localStorage.getItem('halofina-ismuslim')
    },
    dialogs (title, desc, type, invest) {
      this.dialog.isopen = true
      this.dialog.title = title
      this.dialog.desc = desc
      var amount = 0
      // if type exist
      if (type) {
        if (type === 1) {
          amount = 10
        } else if (type === 2) {
          amount = 20
        } else {
          amount = 30
        }
        // if slide custom
        if (invest !== '0') {
          this.saving = invest
        } else {
          this.saving = (this.income / 100) * amount
        }
      }
    },
    addUserProperties (value) {
      this.$analytics.userProperties({
        '$phone': localStorage.getItem('halofina-phone'),
        '$name': JSON.parse(localStorage.getItem('halofina-name')),
        '$email': localStorage.getItem('halofina-email'),
        'saving': value
      })
    },
    submit () {
      this.isOpen = true
      var value = this.transformedInvestValue
      Api('finacheck/kyc/savingprofile', {
        savingtypeid: 5,
        nominal: Number(value)
      }).then((responses) => {
        this.addUserProperties(value)
        this.trackSaving(value)
        localStorage.setItem('halofina-saving-profile', value)
        this.isOpen = false
        this.toDashboard()
      }).catch(() => {
        this.isOpen = false
        this.dialogs('Ada kesalahan', 'Coba reload atau coba beberapa saat lagi')
      })
    },
    toDashboard () {
      var fromDashboard = localStorage.getItem('halofina-from-dashboard')
      if (this.edit === 'edit') {
        setTimeout(goToDashboard('lifeplan', 'assign'), 1000)
      } else if (this.edit === 'lifeplan') {
        setTimeout(this.$router.push('/finavest/new/lifeplan/dashboard'), 1000)
      } else {
        if (fromDashboard) {
          setTimeout(this.$router.push('/finacheck/kyc/list'), 1000)
        } else {
          setTimeout(this.$router.push('/finavest/new/lifeplan/add'), 1000)
        }
      }
    },
    trackCancelled () {
      this.$analytics.track('Saving Amount Cancelled')
    }
  }
}
</script>

<style lang="sass">
.finacheck-kyc-spending
  overflow-y: hidden
  background-color: white

  .blank-box
    height: 310px
    
  .wrap-button
    width: 100%
    position: fixed
    bottom: 0

    .v-btn
      height: 56px !important
      border-radius: 0 !important

  .disclaimer
    font-size: 11px !important

  .pos-absolute
    position: absolute

  .v-window
    height: auto !important

  .v-responsive
    height: auto !important

  .v-carousel
    height: 80vh
    box-shadow: none

  .v-text-field--solo .v-input__slot, .theme--light .v-text-field--solo .v-input__slot
    border-radius: 40px

  .v-text-field.v-text-field--solo .v-input__control
    min-height: 35px

  .v-carousel__controls
    top: 98%
    height: auto
    background: none !important

  .application .theme--light.v-toolbar, .theme--light .v-toolbar, .card-toolbar, .card-toolbar.toolbar
    border-bottom: none !important

  .v-btn .v-btn__content .v-icon
    color: black

  i
    font-size: 9px !important

  .v-btn--icon.v-btn--small
    width: 0px
    padding: 0 8px

  .theme--dark.v-card
    background-color: white

  .v-btn .v-btn__content .v-icon
    color: #2C3B50
    opacity: 0.2

  .v-btn--active
    i
      color: #2C3B50 !important
      opacity: 1 !important

  .input
    width: 100%
    padding: 5px 13px
    margin-top: 39px
    font-size: 16px
    border-bottom: 1px solid #E8EAEF
    outline: none
    color: #000 !important
    height: 45px

.inputnoborder
  width: 85%
  padding: 3px 13px
  margin-bottom: 16px
  border-radius: 50px
  font-size: 16px
  border: 1px solid white

@media only screen and (max-width: 320px)
  .finacheck-kyc-spending
    .disclaimer
      font-size: 10px !important


</style>
