<template>
  <div class="finacheck-kyc-alamat" style="background-color: white">
    <reusable-toolbar page-name="Alamat" route="/finacheck/kyc/list"></reusable-toolbar>
    <v-container class="toolbar-margin pa-0" v-if="isLoaded === true">
      <v-layout column>
        <v-form>
          <v-flex>
            <!-- Card Alamat -->
            <v-card flat class="pa-3">
              <v-card-text class="pl-0">Alamat sesuai E-KTP</v-card-text>
              <!-- Alamat -->
              <div class="avenir-12-reg">Alamat</div>
              <v-textarea maxlength="65" solo class="card-radius" flat v-model="address"  placeholder="Alamat" :rules="[rules.required]"></v-textarea>
              <br />
              <!-- Kota -->
              <div class="avenir-12-reg">Kota</div>
              <v-autocomplete solo flat v-model="city" class="card-radius" placeholder="Klik untuk mencari kota" :rules="[rules.required]" :items="cityNames"></v-autocomplete>
              <br />
              <!-- Kode Pos -->
              <div class="avenir-12-reg">Kode Pos</div>
              <v-text-field solo flat v-model="postal.postalCode" :rules="[rules.required, rules.numbers, rules.lessThanFive]" class="card-radius" placeholder="Kode Pos" maxlength="5" type="tel"></v-text-field>
            </v-card>
            <v-divider></v-divider>
            <!-- Card Surat Menyurat -->
            <v-card flat class="pa-3">
              <v-card-text class="pl-0 pt-0">Alamat Surat Menyurat</v-card-text>
              <!-- Checkbox -->
              <v-layout row align-center justify-center py-3>
                <v-card-text class="pa-0 text-align-right mr-2">Gunakan alamat yang sama dengan E-KTP</v-card-text>
                <v-checkbox v-model="checkbox" hide-details></v-checkbox>
              </v-layout>
              <br />
              <!-- Alamat -->
              <div class="avenir-12-reg">Alamat</div>
              <v-textarea :disabled="checked" maxlength="65" solo class="card-radius" flat v-model="addressMail" :rules="[rules.required]" placeholder="Alamat"></v-textarea>
              <br />
              <!-- Kota -->
              <div class="avenir-12-reg">Kota</div>
              <v-autocomplete :disabled="checked" id="kota" v-on:focus="scrollUp('kota')" v-on:blur="scroll = false" solo flat v-model="cityMail" class="card-radius" placeholder="Klik untuk mencari kota" :rules="[rules.required]" :items="cityNames"></v-autocomplete>
              <br />
              <!-- Kode Pos -->
              <div class="avenir-12-reg">Kode Pos</div>
              <v-text-field :disabled="checked" id="kodepos" v-on:focus="scrollUp('kodepos')" v-on:blur="scroll = false" solo flat v-model="postal.postalCodeMail" class="card-radius" placeholder="Kode Pos" maxlength="5" :rules="[rules.required, rules.numbers, rules.lessThanFive]" type="tel"  ></v-text-field>
            </v-card>
            <!-- Button -->
            <div class="pa-3">
              <v-btn block color="primary" depressed :disabled="address === '' || city === '' || postal.postalCode === '' || addressMail === '' || cityMail === '' || postal.postalCodeMail === '' || address === null || city === null || postal.postalCode === null || addressMail === null || cityMail === null || postal.postalCodeMail === null || disableButton === true" @click="submit" class="btn-radius box-shadow">Lanjut</v-btn>
              <!-- <v-btn block color="primary" flat depressed @click="submit" class="card-radius box-shadow">Simpan dan Lanjukan Nanti</v-btn> -->
            </div>
            <!-- Blank box for Scrolling -->
            <div :class="scroll === true ? 'blank-box' : ''"></div>
          </v-flex>
        </v-form>
      </v-layout>
    </v-container>
    <v-container v-else class="toolbar-margin full-height">
      <v-layout  align-center justify-center>
        <br /><br /><br /><br /><br />
        <reusable-loading></reusable-loading>
      </v-layout>
    </v-container>
    <!-- Dialog Error -->
    <reusable-dialogs v-model="dialog.dialogError" :resize-image="true"></reusable-dialogs>
  </div>
</template>

<script>
import { VTextField, VAutocomplete, VTextarea, VCheckbox, VDivider, VForm } from 'vuetify/lib'
import Api from '@/services/Api'
import { setRouteToLocalStorage } from '@/services/Helpers'

export default {
  components: {
    VTextField, VAutocomplete, VTextarea, VCheckbox, VDivider, VForm
  },
  name: 'FinacheckKycAlamat',
  data () {
    return {
      scroll: false,
      checked: false,
      address: '',
      city: '',
      addressMail: '',
      cityMail: '',
      postal: {
        postalCode: '',
        postalCodeMail: ''
      },
      dialog: {
        dialogError: false
      },
      rules: {
        error: 'Harus diisi',
        required: value => !!value || 'Harus diisi.',
        numbers: value => {
          const pattern = /^\d+$/
          return pattern.test(value) || 'Isi dengan angka'
        },
        lessThanFive: value => {
          if (value.length < 5) return 'Harus 5 digit'
        }
      },
      checkbox: false,
      disableButton: false,
      isLoaded: true,
      cityNames: []
    }
  },
  methods: {
    setRouteToLocalStorage,
    scrollUp (id) {
      this.scroll = true
      this.focused = true
      var elmnt = document.getElementById(id)
      elmnt.scrollIntoView({behavior: 'smooth'})
    },
    getCityDatas () {
      Api('finacheck/reference/city/kemendagri', {})
        .then((res) => {
          this.transformDataForSelect(res.d)
          this.getAddressData()
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    getAddressData () {
      // get address data
      Api('finacheck/kyc/address', {})
        .then((res) => {
          if (res.d !== null) {
            this.address = res.d.address
            this.city = res.d.cityid
            this.postal.postalCode = res.d.postal_code
            this.addressMail = res.d.cor_address
            this.cityMail = res.d.cor_cityid
            this.postal.postalCodeMail = res.d.cor_postal_code
            if (res.d.postal_code === res.d.cor_postal_code) {
              this.checkbox = true
            }
          }
          this.isLoaded = true
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    transformDataForSelect (items) {
      var transformedData = {}
      for (var i = 0; i < items.length; i++) {
        transformedData = {
          text: items[i].name_kemendagri,
          value: items[i].code_kemendagri
        }
        this.cityNames.push(transformedData)
      }
    },
    submit () {
      this.disableButton = true
      Api('finacheck/kyc/address/save', {
        address: this.address,
        cityid: this.city,
        postal_code: this.postal.postalCode,
        cor_address: this.addressMail,
        cor_cityid: this.cityMail,
        cor_postal_code: this.postal.postalCodeMail
      }).then((res) => {
        this.$router.push('/finacheck/kyc/bank')
        this.trackSubmit()
      }).catch(() => {
        this.disableButton = false
        this.dialogError = true
      })
    },
    dialogs (title, desc) {
      this.dialog.isopen = true
      this.dialog.title = title
      this.dialog.desc = desc
    },
    trackSubmit () {
      this.$analytics.track('KYC Address Saved')
    }
  },
  created () {
    this.setRouteToLocalStorage('/finacheck/kyc/work')
    this.getCityDatas()
  },
  watch: {
    postal: {
      handler (value) {
        // check if not number
        const pattern = /^\d+$/
        if (pattern.test(value.postalCodeMail) === false || pattern.test(value.postalCode) === false || value.postalCodeMail.length < 5 || value.postalCode.length < 5) {
          this.disableButton = true
        } else {
          this.disableButton = false
        }
      },
      deep: true
    },
    checkbox: function (value) {
      var self = this
      if (value === true) {
        this.checked = true
        self.addressMail = self.address
        self.cityMail = self.city
        self.postal.postalCodeMail = self.postal.postalCode
      } else {
        this.checked = false
        self.addressMail = ''
        self.cityMail = ''
        self.postal.postalCodeMail = ''
      }
    }
  }
}
</script>

<style lang="sass">
    .finacheck-kyc-alamat
      .v-input__slot
        margin-top: 0px
        height: auto !important
      .v-input
        margin-top: 0px
</style>
