<template>
  <div class="finacheck-kyc-bank full-height" style="background-color: white">
    <reusable-toolbar page-name="Rekening Bank">
      <template slot="button-toolbar">
        <v-btn icon @click="goBack()">
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </template>
    </reusable-toolbar>
    <v-container class="toolbar-margin pa-0" v-if="isLoaded === true">
      <!-- If User haven't done Inserting Data -->
      <v-layout column v-if="doneInserting === false" class="pa-3">
        <v-form>
          <v-card flat>
            <div class="avenir-12-reg">Nama Bank</div>
            <v-autocomplete solo class="card-radius" :rules="[rules.required]" flat v-model="bank" :placeholder="bank ? bankName : 'Nama Bank'" :items="bankNames"></v-autocomplete>
            <br />
            <div class="avenir-12-reg">Nomor Rekening Bank</div>
            <v-text-field solo class="card-radius" :rules="[rules.required, rules.numbers]" flat v-model="norekening" placeholder="Nomor Rekening Bank" type="tel" maxlength="20"></v-text-field>
            <!-- Card Nomor Rekening -->
            <v-card flat class="px-3 pb-3 pt-0 mt-2">
              <v-layout row align-center>
                <v-flex>
                  <v-card-text class="pa-0 avenir-12-reg">Pastikan nomor rekening yang kamu masukkan benar, rekening ini akan digunakan saat pencairan dana investasimu.</v-card-text>
                </v-flex>
              </v-layout>
            </v-card>
            <br />
            <div class="avenir-12-reg">Nama Pemilik Rekening</div>
            <v-text-field
              solo
              class="card-radius"
              id="namapemilikrekening"
              v-on:focus="scrollUp('namapemilikrekening')"
              v-on:blur="scroll = false"
              :rules="[rules.required]"
              flat
              v-model="pemilik"
              placeholder="Nama Pemilik Rekening">
            </v-text-field>
            <!-- Card Nama Pemilik Rekening -->
            <v-card flat class="px-3 pb-3 pt-0 mt-2">
              <v-layout row align-center>
                <v-flex>
                  <v-card-text class="pa-0 avenir-12-reg">kamu hanya dapat menambahkan rekening bank dengan nama yang sama dengan E-KTP yang terdaftar.</v-card-text>
                </v-flex>
              </v-layout>
            </v-card>
          </v-card>
          <br />
          <!-- Button Submit -->
          <v-btn block color="primary" depressed @click.native="doneInserting = true" class="btn-radius box-shadow" :disabled="bank === '' || norekening === '' || pemilik === '' || typeof bank === 'string' ||isDisabled">Simpan</v-btn>
        </v-form>
        <!-- Blank box for Scrolling -->
        <div :class="scroll === true ? 'blank-box' : ''"></div>
      </v-layout>
      <!-- If User done Insert Data -->
      <v-layout column v-else>
        <br />
        <!-- Card account -->
        <v-card flat class="pa-4 mx-3 card-bank-border box-shadow">
          <v-layout column justify-center align-center>
            <img :src="bank.image" style="height: 54px; width: auto; align-self: flex-end; margin-bottom: 16px"/>
            <v-card-text class="avenir-12-reg pa-0 mb-1">{{ bank.company }}</v-card-text>
            <v-card-text class="avenir-16-med pa-0 mb-1">{{ pemilik }}</v-card-text>
            <v-card-text class="avenir-16-reg pa-0">{{ norekening }}</v-card-text>
          </v-layout>
        </v-card>
        <!-- Card Description -->
        <v-card flat class="pa-4">
          <v-layout column>
            <v-card-text class="avenir-12-reg pa-0">Rekening ini diperlukan untuk penerimaan dana pencairan. Pencairan mungkin dikenakan biaya transfer antar bank, tergantung ketentuan pada tiap produk reksa dana.</v-card-text>
            <br />
            <v-card-text class="avenir-12-reg pa-0">Rekening ini juga akan digunakan sebagai rekening penerimaan imbal hasil SBN yang dikirimkan setiap bulan dan pencairan dana pada saat jatuh tempo. kamu tidak akan dikenakan biaya transfer.</v-card-text>
          </v-layout>
        </v-card>
        <div class="px-3">
          <!-- Button Lanjut -->
          <v-btn block color="primary" depressed class="btn-radius box-shadow" @click="submit($event)" id="save-btn" :disabled="isDisabled || bank === '' || norekening === '' || pemilik === '' || bank === null || typeof bank === 'string' || norekening === null || pemilik === null">Lanjut</v-btn>
          <!-- Button Submit -->
          <!-- <v-btn block color="primary" depressed flat class="card-radius box-shadow" @click="submit">Simpan & Lanjutkan Nanti</v-btn> -->
        </div>
      </v-layout>
    </v-container>
    <v-container v-else class="toolbar-margin full-height">
      <v-layout  align-center justify-center>
        <br /><br /><br /><br /><br />
        <reusable-loading></reusable-loading>
      </v-layout>
    </v-container>
    <reusable-dialogs
      :is-open="dialogError"
      :resize-image="true"
    ></reusable-dialogs>
  </div>
</template>

<script>
import { VTextField, VAutocomplete, VForm } from 'vuetify/lib'
import Api from '@/services/Api'
import { setRouteToLocalStorage } from '@/services/Helpers'
import TrackedPage from '@/services/tracker/components/baseClasses/TrackedPage'
import { tracker } from '@/services/tracker/tracker/tracker.js'

export default {
  components: {
    VTextField, VAutocomplete, VForm
  },
  extends: TrackedPage,
  name: 'FinacheckKycBank',
  data () {
    return {
      scroll: false,
      rules: {
        error: 'Harus diisi',
        required: value => !!value || 'Harus diisi.',
        numbers: value => {
          const pattern = /^\d+$/
          return pattern.test(value) || 'Isi dengan angka'
        }
      },
      dialogError: false,
      bank: '',
      bankName: '',
      norekening: '',
      pemilik: '',
      doneInserting: false,
      isLoaded: false,
      bankNames: [],
      isDisabled: false,
      validation: {
        bankvalidate: null
      }
    }
  },
  watch: {
    norekening: function (value) {
      const pattern = /^\d+$/
      if (pattern.test(value) === false) {
        this.isDisabled = true
      } else {
        this.isDisabled = false
      }
    }
  },
  methods: {
    setRouteToLocalStorage,
    scrollUp (id) {
      this.scroll = true
      this.focused = true
      var elmnt = document.getElementById(id)
      elmnt.scrollIntoView({behavior: 'smooth'})
    },
    submit (e) {
      this.isDisabled = true
      Api('finacheck/kyc/bank/save', {
        name_bank: this.bank.bank,
        bank_code: this.bank.code,
        account_number: this.norekening,
        username: this.pemilik
      }).then((res) => {
        this.isDisabled = false
        tracker(e)
        this.$router.push('/finacheck/kyc/sk')
      }).catch(() => {
        this.isDisabled = false
        this.dialogError = true
      })
    },
    dialogs (title, desc) {
      this.dialog.isopen = true
      this.dialog.title = title
      this.dialog.desc = desc
    },
    goBack () {
      if (this.doneInserting === true) {
        this.doneInserting = false
      } else {
        this.$router.push('/finacheck/kyc/list')
      }
    },
    getBankData () {
      Api('finacheck/reference/bank/ksei', {})
        .then((res) => {
          this.transformBankData(res.d)
          this.getBankInputData()
          this.isLoaded = true
        })
        .catch(() => {
          this.dialogError = true
        })
    },
    getBankInputData () {
      // get bank dafta
      Api('finacheck/kyc/bank', {})
        .then((res) => {
          if (res.d !== null) {
            this.bank = res.d.bank_code
            this.bankName = res.d.name_bank
            this.norekening = res.d.account_number
            this.pemilik = res.d.username
          }
          this.isLoaded = true
        })
        .catch(() => {
          this.dialogError = true
        })
    },
    transformBankData (items) {
      var transformedData = {}
      for (var i = 0; i < items.length; i++) {
        transformedData = {
          text: items[i].bank_name,
          value: {
            bank: items[i].bank_name,
            code: items[i].bank_code,
            company: items[i].company_name,
            image: items[i].bank_image
          }
        }
        this.bankNames.push(transformedData)
      }
    },
    trackEvent () {
      this.$analytics.track('KYC Bank Saved')
    }
  },
  created () {
    this.getBankData()
    this.setRouteToLocalStorage('/finacheck/kyc/bank')
  }
}
</script>

<style scoped lang="sass">
    .finacheck-kyc-bank
      .v-divider
        border-width: 6px
        opacity: 0.4
      .card-bank-border
        border: 2px solid #42A5F5
        border-radius: 14px
</style>
