<template>
  <div class="finacheck-data-kyc">
    <reusable-toolbar :page-name="kycStatus === 'PENDING' || kycStatus === 'ONPROCESS' ? 'Verifikasi' : 'Data Verifikasi'" :change-namespace="true" namespace="dashboard" route="/dashboard?tab=profil"></reusable-toolbar>
    <v-container class="toolbar-margin">
      <v-layout column>
        <!-- KYC Notif -->
        <!-- Notif KYC On Process -->
        <v-card style="margin-top: 10px" v-if="kycStatus === 'PENDING' || kycStatus === 'ONPROCESS'" flat class="bg-primary-1 card-radius box-shadow pa-3">
          <v-layout column justify-center align-center>
            <v-card-text class="color-primary-3 pa-0 mb-2 nexa-14-bold">
              Verifikasi kamu Dalam Proses...
            </v-card-text>
            <v-card-text class="color-primary-3 pa-0 mb-0 avenir-12-reg">
              Silahkan menunggu, proses verifikasi ini membutuhkan kurang lebih 1-2 hari kerja.
            </v-card-text>
          </v-layout>
        </v-card>
        <!-- Notif KYC REJECTED -->
        <v-card style="margin-top: 10px" v-else-if="kycStatus === 'REJECTED'" flat class="card-radius box-shadow pa-3 bg-system-error">
          <v-layout column justify-center align-center>
            <v-card-text class="color-primary-3 pa-0 mb-2 nexa-14-bold">
              Verifikasi kamu Ditolak
            </v-card-text>
            <v-card-text class="color-primary-3 pa-0 mb-4 avenir-12-reg">
              {{ kycRemark }}
            </v-card-text>
            <v-btn depressed block class="btn-radius box-shadow bg-primary-3 color-primary-1" @click.native="$router.push('/finacheck/kyc/list')">Perbaiki Data Verifikasi</v-btn>
          </v-layout>
        </v-card>
        <!-- Personal Data -->
        <v-card-title class="nexa-14-bold pt-4 pb-2">
          <img src="@/assets/finacheck/kyc/personalgrey.svg" class="mr-2"/>
          Data Diri
        </v-card-title>
        <v-card flat class="card-radius box-shadow">
          <div v-for="(personalData, index) in userData.personal" :key="index">
            <v-card-title class="avenir-12-med pb-0">{{ personalData.title }}</v-card-title>
            <v-card-text class="avenir-12-reg pt-0">{{ personalData.desc }}</v-card-text>
          </div>
          <v-layout column>
            <v-card-title class="avenir-12-med pb-1">KTP</v-card-title>
            <img :src="userData.ktpImage" style="width:80%; height:auto; align-self: center"/>
            <v-card-title class="avenir-12-med pb-0">Tanda Tangan</v-card-title>
            <img :src="userData.sign" style="width:80%; height:auto; align-self: center" class="mb-3"/>
          </v-layout>
        </v-card>
        <br />
        <!-- Address Data -->
        <v-card-title class="nexa-14-bold pb-2">
          <img src="@/assets/finacheck/kyc/addressgrey.svg" class="mr-2"/>
          Data Alamat
        </v-card-title>
        <v-card flat class="card-radius box-shadow">
          <div v-for="(addressData, index) in userData.address" :key="index">
            <v-card-title class="avenir-12-med pb-0">{{ addressData.title }}</v-card-title>
            <v-card-text class="avenir-12-reg pt-0">{{ addressData.desc }}</v-card-text>
          </div>
        </v-card>
        <br />
        <!-- Bank Data -->
        <v-card-title class="nexa-14-bold pb-2">
          <img src="@/assets/finacheck/kyc/bankgrey.svg" class="mr-2"/>
          Data Bank
        </v-card-title>
        <v-card flat class="card-radius box-shadow">
          <div v-for="(bankData, index) in userData.bank" :key="index">
            <v-card-title class="avenir-12-med pb-0">{{ bankData.title }}</v-card-title>
            <v-card-text class="avenir-12-reg pt-0">{{ bankData.desc }}</v-card-text>
          </div>
        </v-card>
      </v-layout>
    </v-container>
    <!-- Dialog Error -->
    <reusable-dialogs
      v-model="dialog.dialogError"
      :resize-image="true"
    ></reusable-dialogs>
  </div>
</template>

<script>
import { VCardTitle } from 'vuetify/lib'
import Api from '@/services/Api'

export default {
  components: {
    VCardTitle
  },
  name: 'FinacheckDataKyc',
  data () {
    return {
      userData: {
        bank: [],
        personal: [],
        address: [],
        sign: '',
        ktpImage: ''
      },
      kycStatus: null,
      kycRemark: null,
      dialog: {
        dialogError: false
      }
    }
  },
  methods: {
    fetchDataPersonal () {
      Api('finacheck/kyc/personal', {})
        .then((res) => {
          this.userData.personal.push(
            {
              title: 'Nama',
              desc: res.d.fullname
            },
            {
              title: 'Tanggal Lahir',
              desc: res.d.birthdate
            },
            {
              title: 'Jenis Kelamin',
              desc: res.d.gender
            },
            {
              title: 'Agama',
              desc: res.d.religion
            },
            {
              title: 'Email',
              desc: res.d.email
            },
            {
              title: 'Pendidikan Terakhir',
              desc: res.d.education
            },
            {
              title: 'Sumber Pendapatan',
              desc: res.d.fundsource
            },
            {
              title: 'Pendapatan per Tahun',
              desc: res.d.income
            },
            {
              title: 'Status',
              desc: res.d.marital
            },
            {
              title: 'Pekerjaan',
              desc: res.d.occupation
            }
          )
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    fetchDataBank () {
      Api('finacheck/kyc/bank', {})
        .then((res) => {
          this.userData.bank.push(
            {
              title: 'Nama Bank',
              desc: res.d.name_bank
            },
            {
              title: 'Nomor Rekening Bank',
              desc: res.d.account_number
            },
            {
              title: 'Nama Pemilik Akun',
              desc: res.d.username
            }
          )
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    fetchDataAddress () {
      Api('finacheck/kyc/address', {})
        .then((res) => {
          this.userData.address.push(
            {
              title: 'Alamat',
              desc: res.d.address
            },
            {
              title: 'Kota',
              desc: res.d.city_name
            },
            {
              title: 'Kode Pos',
              desc: res.d.postal_code
            },
            {
              title: 'Alamat Pengiriman',
              desc: res.d.cor_address
            },
            {
              title: 'Kota Pengiriman',
              desc: res.d.cor_city_name
            },
            {
              title: 'Kode Pos Pengiriman',
              desc: res.d.cor_postal_code
            }
          )
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    fetchDataKtp () {
      Api('finacheck/kyc/identity', {})
        .then((res) => {
          if (res.d.length !== 0) {
            if (res.d[0].image_url === null) {
              this.userData.ktpImage = res.d[0].image
            } else {
              this.userData.ktpImage = res.d[0].image_url
            }
          }
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    fetchDataSign () {
      Api('finacheck/kyc/signature', {})
        .then((res) => {
          if (res.d.length !== 0) {
            if (res.d[0].image_url === null) {
              this.userData.sign = res.d[0].image
            } else {
              this.userData.sign = res.d[0].image_url
            }
          }
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    fetchDataStatus () {
      Api('finacheck/kyc/status', {})
        .then((res) => {
          this.kycStatus = res.d.status
          this.kycRemark = res.d.remark
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    }
  },
  created () {
    this.fetchDataStatus()
    this.fetchDataPersonal()
    this.fetchDataBank()
    this.fetchDataAddress()
    this.fetchDataKtp()
    this.fetchDataSign()
  }
}
</script>

<style>

</style>
