<template>
	<div>
		<!-- Dialog KYC -->
		<reusable-dialogs
			v-model="dialog.dialogKyc"
      :image="require('@/assets/others/kyc-null.svg')"
      title="Kamu Belum Verifikasi"
      description="Verifikasi diperlukan agar kamu terdaftar menjadi investor resmi, data kamu kami lindungi"
      :is-image-above-title="true"
    >
      <v-layout slot="layout-button" class="full-width" row justify-center align-center px-3 pb-3>
        <v-flex xs6 mr-2>
          <v-btn depressed block outline class="btn-radius bg-primary-3 color-primary-1" @click="routeLater()">Nanti Saja</v-btn>
        </v-flex>
        <v-flex xs6 ml-2>
          <v-btn depressed block color="primary" class="btn-radius" @click="routeKyc()">Daftar</v-btn>
        </v-flex>
      </v-layout>
		</reusable-dialogs>
		<!-- Dialog Pending -->
		<reusable-dialogs
			v-model="dialog.dialogPending"
      :image="require('@/assets/others/kyc-proccess.svg')"
      :is-image-above-title="true"
      class-title="px-3 nexa-16-bold text-xs-center color-text-1"
      title="Verifikasi kamu masih dalam Proses"
      description="Silahkan menunggu, proses verifikasi ini membutuhkan kurang lebih 1-2 hari kerja"
    >
      <v-layout slot="layout-button" class="full-width pa-20" column align-center justify-center>
        <v-btn color="primary" class="py-2 btn-radius box-shadow" depressed block @click="goToDashboard('lifeplan', 'assign')">Saya Mengerti</v-btn>
      </v-layout>
		</reusable-dialogs>
		<!-- Dialog Rejected -->
		<reusable-dialogs
			v-model="dialog.dialogReject"
      :image="require('@/assets/others/kyc-rejected.svg')"
      :is-image-above-title="true"
      title="Verifikasi kamu ditolak, silahkan perbaiki data"
      :description="dialog.dialogRemark"
    >
      <v-layout slot="layout-button" class="full-width" row justify-center align-center pb-3 px-3>
        <v-flex xs6 mr-2>
          <v-btn block color="primary" outline flat class="btn-radius" @click="$analytics.track('KYC Failed'); goToDashboard('lifeplan', 'assign')">Nanti Saja</v-btn>
        </v-flex>
        <v-flex xs6 ml-2>
          <v-btn block color="primary" class="btn-radius" @click.native="$router.push('/finacheck/kyc/list'); $analytics.track('KYC Edited')">Perbaiki Data</v-btn>
        </v-flex>
      </v-layout>
		</reusable-dialogs>
		<!-- Error Dialog -->
		<reusable-dialogs
			v-model="dialog.dialogError"
			:resize-image="true"
			:is-image-above-title="true"
		></reusable-dialogs>
	</div>
</template>
<script>
import Api from '@/services/Api'
import { checkFeatures, goToDashboard } from '@/services/Helpers'

export default {
  name: 'KycDialogs',
  props: {
    openKycDialog: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      kycStatus: '',
      kycRemark: '',
      outstandingStatus: false,
      dialog: {
        dialogError: false,
        dialogKyc: false,
        dialogPending: false,
        dialogReject: false
      }
    }
  },
  model: {
    prop: 'openKycDialog',
    event: 'is-open-change'
  },
  computed: {
    mutableIsOpen: {
      get: function () {
        return this.openKycDialog
      },
      set: function (value) {
        this.$emit('is-open-change', value)
      }
    }
  },
  watch: {
    openKycDialog: function (data) {
      this.openDialog()
    }
  },
  created () {
    this.fetchStatusKyc()
  },
  methods: {
    goToDashboard,
    openDialog () {
      let status = this.kycStatus
      let outstanding = checkFeatures('halofina:outstanding').enabled
      if (this.openKycDialog === true) {
        if (outstanding === true) {
          if (status === null) {
            this.dialog.dialogKyc = true
          } else if (status === 'REJECTED') {
            this.dialog.dialogReject = true
          }
        } else {
          if (status === 'PENDING' || status === 'ONPROCESS') {
            this.dialog.dialogPending = true
          } else if (status === 'REJECTED') {
            this.dialog.dialogReject = true
          } else if (status === null) {
            this.dialog.dialogKyc = true
          }
        }
      }
    },
    fetchStatusKyc () {
      Api('finacheck/kyc/status', {})
        .then((res) => {
          this.kycStatus = res.d.status
          this.kycRemark = res.d.remark
          this.outstandingStatus = checkFeatures('halofina:outstanding').enabled
          this.emitStatus()
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    emitStatus () {
      let outstanding = this.outstandingStatus
      let status = this.kycStatus
      if (outstanding === true) {
        if (status === null || status === 'REJECTED') {
          this.$emit('status-open', true)
        } else {
          this.$emit('status-open', false)
        }
      } else {
        if (status === null || status === 'REJECTED' || status === 'PENDING' || status === 'ONPROCESS') {
          this.$emit('status-open', true)
        } else {
          this.$emit('status-open', false)
        }
      }
    },
    routeLater () {
      this.goToDashboard()
      this.trackRouteLater()
    },
    routeKyc () {
      this.$router.push('/finacheck/kyc/list')
      this.trackRouteKyc()
    },
    trackRouteLater () {
      this.$analytics.track('KYC Postponed')
    },
    trackRouteKyc () {
      this.$analytics.track('KYC Continued')
    }
  }
}
</script>
