<template>
    <div class="finaspend-payment-bank full-height bg-primary-3">
        <reusable-toolbar page-name="Verifikasi" :change-namespace="true" namespace="dashboard" route="/dashboard?tab=lifeplan"></reusable-toolbar>
        <v-container class="pa-0 bg-primary-3 toolbar-margin">
            <v-layout column v-if="isLoaded === true">
                <v-card-text class="avenir-14-reg">Silahkan lengkapi data di bawah ini :</v-card-text>
                <v-card flat>
                     <v-list class="pt-0">
                        <template v-for="(item, index) in items">
                            <v-subheader
                            v-if="item.header"
                            :key="item.header"
                            >
                            {{ item.header }}
                            </v-subheader>

                            <v-list-tile
                            v-else
                            :key="item.title"
                            avatar
                            @click="go(item.key)"
                            >
                              <v-list-tile-avatar class="ml-3">
                                <div v-if="item.data !== null" class="mr-2">
                                  <img class="img" :src="checkImg">
                                </div>
                                <div v-else class="mr-2">{{ index + 1 }}</div>
                                <img class="img" :src="item.img">
                              </v-list-tile-avatar>

                              <v-list-tile-content class="ml-3">
                                  <v-list-tile-title class="avenir-14-reg" v-html="item.title"></v-list-tile-title>
                              </v-list-tile-content>

                              <v-list-tile-action>
                                <v-btn icon>
                                  <v-icon color="black" style="font-size: 19px">arrow_forward_ios</v-icon>
                                </v-btn>
                              </v-list-tile-action>
                            </v-list-tile>
                        </template>
                    </v-list>
                </v-card>
                <div class="px-3" v-if="removeButton === false">
                  <v-btn depressed block class="btn-radius box-shadow" color="primary" @click="submit()" :ripple="false" :disabled="disableButton">Submit</v-btn>
                </div>
                <div class="px-3" v-else>
                  <v-btn depressed block class="btn-radius box-shadow" color="primary" @click.native="$router.push('/finacheck/kyc/data_kyc')" :ripple="false">Lihat Data</v-btn>
                </div>
            </v-layout>
            <v-layout v-else align-center justify-center column>
              <br /><br /><br /><br /><br />
              <reusable-loading></reusable-loading>
            </v-layout>
        </v-container>
        <!-- Dialog Done -->
        <reusable-dialogs
          v-model="dialog.dialogDone"
          :image="dialog.dialogImageDone"
          :resize-image="true"
          :is-image-above-title="true"
          title="Verifikasi Kami Proses"
          classDialog="card-radius card pb-3"
          description="Data kamu akan kami proses, maksimal 2 hari kerja, kami akan memberitahu kamu saat verifikasi telah selesai">
          <div slot="layout-button">
            <v-btn depressed block class="btn-radius box-shadow mb-3" color="primary" @click="goToDashboard()" :ripple="false" >Kembali ke Dashboard</v-btn>
          </div>
        </reusable-dialogs>
        <!-- Dialog Error -->
        <reusable-dialogs v-model="dialog.dialogError" :resize-image="true" :description="dialog.dialogErrorDesc"></reusable-dialogs>
        <!-- Dialog Loading -->
        <reusable-dialogs
            v-model="dialog.dialogLoading"
            :unclickable="true"
        >
            <div slot="layout">
              <v-card flat class="card-radius" style="width: 100%">
                <v-layout py-3 px-5 row align-center justify-center>
                  <div class="nexa-14-bold px-5">Memproses...</div>
                </v-layout>
              </v-card>
            </div>
        </reusable-dialogs>
    </div>
</template>

<script>
import { VListTileAction, VListTileSubTitle, VListTileAvatar, VListTileContent, VListTile, VListTileTitle, VList } from 'vuetify/lib'
import Api from '@/services/Api'
import { goToDashboard } from '@/services/Helpers'

import ReusableLoading from '@/components/reusable/ReusableLoading'

export default {
  components: {
    ReusableLoading, VListTileAction, VListTileSubTitle, VListTileAvatar, VListTileContent, VListTile, VListTileTitle, VList
  },
  name: 'FinaspendPaymentBank',
  data () {
    return {
      dialog: {
        dialogErrorDesc: false,
        dialogError: false,
        dialogDone: false,
        dialogImageDone: require('@/assets/finavest/lifeplan/check.svg'),
        dialogLoading: false
      },
      checkImg: require('@/assets/finacheck/kyc/checklist.svg'),
      kycStatus: null,
      items: [
        {
          title: 'Data Diri',
          data: null,
          img: require('@/assets/finacheck/kyc/personal.svg'),
          key: 'personal'
        },
        {
          title: 'Data Alamat',
          data: null,
          img: require('@/assets/finacheck/kyc/address.svg'),
          key: 'address'
        },
        {
          title: 'Data Rekening Bank',
          data: null,
          img: require('@/assets/finacheck/kyc/bank.svg'),
          key: 'bank'
        },
        {
          title: 'Syarat dan Ketentuan',
          data: null,
          img: require('@/assets/finacheck/kyc/sk.svg'),
          key: 'sk'
        }
      ],
      disableButton: true,
      removeButton: false,
      isLoaded: false
    }
  },
  methods: {
    goToDashboard,
    fetchDatas () {
      // get personal data
      Api('finacheck/kyc/personal', {})
        .then((res) => {
          this.items[0].data = res.d.ktp_number
          // get address data
          Api('finacheck/kyc/address', {})
            .then((res) => {
              this.items[1].data = res.d
              // get bank data
              Api('finacheck/kyc/bank', {})
                .then((res) => {
                  this.items[2].data = res.d
                  this.fetchDataSign()
                })
                .catch(() => {
                  this.dialog.dialogError = true
                })
            })
            .catch(() => {
              this.dialog.dialogError = true
            })
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    fetchDataSign () {
      Api('finacheck/kyc/signature', {})
        .then((res) => {
          if (localStorage.getItem('halofina-sign')) {
            this.items[3].data = JSON.parse(localStorage.getItem('halofina-sign'))
          } else {
            if (res.d.length !== 0) this.items[3].data = res.d[0].image
          }
          this.checkButton(this.items)
        })
    },
    checkButton (items) {
      if (items[0].data === null || items[1].data === null || items[2].data === null || items[3].data === null) {
        this.disableButton = true
        this.isLoaded = true
      } else {
        this.isLoaded = true
        this.disableButton = false
      }
    },
    go (type) {
      if (this.kycStatus === 'PENDING' || this.kycStatus === 'ONPROCESS' || this.kycStatus === 'COMPLETED') {
        this.$router.push(null)
      } else {
        this.$router.push('/finacheck/kyc/' + type)
      }
    },
    getKycStatus () {
      Api('finacheck/kyc/status', {})
        .then((res) => {
          this.kycStatus = res.d.status
          if (res.d.status === 'PENDING' || res.d.status === 'ONPROCESS' || res.d.status === 'COMPLETED') {
            this.removeButton = true
          } else {
            this.disableButton = false
          }
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    submit () {
      this.dialog.dialogLoading = true
      Api('finacheck/kyc/personal/sign', {
        signature: JSON.parse(localStorage.getItem('halofina-sign'))
      }).then((res) => {
        this.trackEvent()
        this.disableButton = true
        this.dialog.dialogLoading = false
        this.dialog.dialogDone = true
      }).catch((err) => {
        this.disableButton = false
        this.dialog.dialogLoading = false
        this.dialog.dialogError = true
        this.dialog.dialogErrorDesc = err.m
      })
    },
    trackEvent () {
      this.$analytics.track('KYC Submited')
    }
  },
  created () {
    this.getKycStatus()
    this.fetchDatas()
  }
}
</script>
<style>
    .finaspend-payment-bank .img {
        height: auto;
        border-radius: 0%
    }
    .finaspend-payment-bank .v-divider--inset:not(.v-divider--vertical) {
        margin-left: 0px;
        max-width: none;
    }
</style>
