<template>
  <div class="finacheck-kyc-personal" style="background-color: white">
    <reusable-toolbar page-name="Data Diri" route="/finacheck/kyc/list"></reusable-toolbar>
    <v-container class="toolbar-margin" v-if="isLoaded === true">
      <v-card-text class="pa-0">Silahkan isi informasi kamu dengan benar untuk membantu kami memverifikasi identitasmu.</v-card-text>
      <v-layout column>
        <v-form lazy-validation>
          <v-flex>
            <br />
            <v-card flat>
                <!-- Nomor e ktp -->
                <div class="avenir-12-reg">Nomor E-KTP</div>
                <v-text-field solo class="card-radius " maxlength="16" flat v-model="nomorektp" placeholder="Nomor E-KTP" type="tel" :rules="[rules.required, rules.length, rules.numbers]"></v-text-field>
                <br />
                <!-- Nama -->
                <div class="avenir-12-reg">Nama Sesuai Dengan KTP</div>
                <v-text-field solo class="card-radius " :rules="[rules.required, rules.names]" flat v-model="fullname" placeholder="Nama Sesuai Dengan KTP"></v-text-field>
                <br />
                <!-- Upload e ktp -->
                <div class="avenir-12-reg">Foto E-KTP</div>
                <v-layout @click="uploadidentitas" :rules="[rules.required]" column align-center justify-center class=" card-radius" pa-4>
                  <!-- Box -->
                  <template v-if="imageKtp === null">
                    <div class="card-radius white-box"></div>
                    <br />
                    <v-card-text class="pa-0 color-secondary-5 text-align-center">Unggah foto E-KTP kamu dan pastikan dapat terbaca dengan baik</v-card-text>
                  </template>
                  <template v-else>
                    <v-layout column align-center justify-center v-if="imageKtpType !== 'application/pdf'">
                        <img :src="imageKtp" alt="Red dot" style="width:80%; height:auto;"/>
                    </v-layout>
                    <v-layout column align-center justify-center v-else>
                        <v-card-text class="text-align-center">{{ imageKtpName }}</v-card-text>
                    </v-layout>
                  </template>
                  <!-- Input file -->
                  <input type="file" style="display: none" ref="imageidentitas" accept="image/*" @change="onFilePickedIdentitas">
                </v-layout>
                <br />
                <!-- Tempat Lahir -->
                <div class="avenir-12-reg">Tempat Lahir</div>
                <v-text-field solo class="card-radius " :rules="[rules.required, rules.names]" flat v-model="tempatlahir" placeholder="Tempat Lahir"></v-text-field>
                <br />
                <!-- Tanggal Lahir -->
                <div class="avenir-12-reg">Tanggal Lahir</div>
                <v-layout row>
                  <v-flex xs4 class="mr-3">
                    <v-select v-model="tanggal" :rules="[rules.required]" solo flat placeholder="Tgl" :items="dateDatas.tanggal"></v-select>
                  </v-flex>
                  <v-flex xs5 class="mr-3">
                    <v-select mt-0 v-model="bulan" :rules="[rules.required]" solo flat placeholder="Bln" :items="dateDatas.bulan"></v-select>
                  </v-flex>
                  <v-flex xs5>
                    <v-select mt-0 v-model="tahun" :rules="[rules.required]" solo flat placeholder="Thn" :items="dateDatas.tahun.slice(5)"></v-select>
                  </v-flex>
                </v-layout>
                <br />
                <!-- jenis kelamin -->
                <div class="avenir-12-reg">Jenis Kelamin</div>
                <v-radio-group v-model="gender" row :rules="[rules.required]">
                  <v-radio value="CSJKL001" label="Pria"></v-radio>
                  <v-radio value="CSJKL002" label="Wanita"></v-radio>
                </v-radio-group>
                <br />
                <!-- Status Menikah -->
                <div class="avenir-12-reg">Status Pernikahan</div>
                <v-select :rules="[rules.required]" v-model="statusnikah" solo flat placeholder="Status Nikah" :items="items.status" class=" card-radius"></v-select>
                <br />
                <!-- pendidikan terakhir -->
                <div class="avenir-12-reg">Pendidikan Terakhir</div>
                <v-select solo class="card-radius" flat v-model="pendidikan" placeholder="Pendidikan" :items="items.pendidikan" :rules="[rules.required]"></v-select>
                <br />

                <!-- Agama -->
                <div class="avenir-12-reg">Agama</div>
                <v-select solo class="card-radius" id="agama" v-on:focus="scrollUp('agama')" v-on:blur="scroll = false" flat v-model="agama" :items="items.agama" placeholder="Agama" :rules="[rules.required]"></v-select>
                <br />

                <!-- Pekerjaan -->
                <div class="avenir-12-reg">Pekerjaan</div>
                <v-select v-model="pekerjaan" id="pekerjaan" v-on:focus="scrollUp('pekerjaan')" v-on:blur="scroll = false" solo flat placeholder="Pekerjaan" :items="items.pekerjaan" class=" card-radius" :rules="[rules.required]"></v-select>
                <br />

                <!-- Sumber Pendapatan -->
                <div class="avenir-12-reg">Sumber Pendapatan</div>
                <v-select v-model="sumberpendapatan" id="sumber" v-on:focus="scrollUp('sumber')" v-on:blur="scroll = false" :rules="[rules.required]" solo flat placeholder="Sumber Pendapatan" :items="items.sumber" class=" card-radius"></v-select>

                <!-- Pendapatan Bulanan -->
                <v-card-text class="avenir-12-reg mt-3 mb-1 pa-0 center-vert">
                  Pendapatan Bulanan
                </v-card-text>
                <v-layout row align-center>
                    <span class="span input-income">Rp</span>
                    <input type="tel"
                            v-on:focus="scrollUp('income')"
                            v-on:blur="scroll = false"
                            v-model="income"
                            v-money="money"
                            id="income"
                            placeholder=" 0"
                            maxlength="12"
                            class=" v-input__control input-incomes input-income bg-primary-4" />
                </v-layout>
                <!-- Nomor telepon -->
                <!-- <div class="avenir-12-reg">Nomor Telepon</div>
                <v-text-field solo class="card-radius" hide-details style="background-color: #F6F8FA" flat v-model="telepon" placeholder="Nomor Telepon"></v-text-field> -->
            </v-card>
            <br />
            <v-btn block color="primary" class="btn-radius box-shadow" depressed @click="submit" round :disabled="validationNull || disableButton">Lanjut</v-btn>
            <!-- <v-btn block color="primary" flat class="card-radius box-shadow" depressed @click="submit" round>Simpan dan Lanjutkan Nanti</v-btn> -->
          </v-flex>
        </v-form>
      <!-- Blank box for Scrolling -->
      <div :class="scroll === true ? 'blank-box' : ''"></div>
      </v-layout>
    </v-container>
    <v-container v-else>
      <v-layout column justify-center align-center class="toolbar-margin full-height">
        <br /><br /><br /><br /><br />
        <reusable-loading></reusable-loading>
      </v-layout>
    </v-container>
    <!-- Dialog Error -->
    <reusable-dialogs
      v-model="dialog.dialogError"
      :resize-image="true"
      :description="dialog.dialogErrorDesc"
    >
    </reusable-dialogs>

    <!-- Dialog Type Not Supported -->
    <reusable-dialogs
        v-model="dialog.dialogCheckType.isOpen"
        :title="dialog.dialogCheckType.title"
        :description="dialog.dialogCheckType.desc"
        :resize-image="true"
        :image="image"
    ></reusable-dialogs>
  </div>
</template>

<script>
import { VSelect, VRadio, VRadioGroup, VTextField, VForm } from 'vuetify/lib'
import { VMoney } from 'v-money'
import Api from '@/services/Api'
// Import date datas
import { dateDatas } from '@/services/Helpers'

export default {
  components: {
    VSelect, VRadio, VRadioGroup, VTextField, VForm
  },
  name: 'FinacheckKycPersonal',
  directives: { money: VMoney },
  data () {
    return {
      dialog: {
        dialogError: false,
        dialogErrorDesc: '',
        dialogCheckType: {
          isOpen: false,
          title: '',
          desc: ''
        }
      },
      fullname: '',
      agama: '',
      tempatlahir: '',
      nomorektp: '',
      telepon: '',
      pendidikan: '',
      identitasimage: '',
      gender: '',
      pekerjaan: '',
      income: '',
      tahun: '',
      email: '',
      phone: '',
      bulan: '',
      tanggal: '',
      statusnikah: '',
      sumberpendapatan: '',
      focused: false,
      scroll: false,
      imageKtp: null,
      imageKtpType: '',
      imageKtpName: '',
      disableButton: false,
      isLoaded: false,
      image: require('@/assets/dashboard/danger.svg'),
      items: {
        status: [],
        pendapatan: [],
        sumber: [],
        pekerjaan: [],
        agama: [],
        pendidikan: []
      },
      money: {
        thousands: '.',
        precision: 0,
        masked: true
      },
      rules: {
        error: 'Harus diisi',
        required: value => !!value || 'Harus diisi.',
        length: value => value.length >= 16 || 'Nomor KTP harus 16 digit',
        names: value => {
          const pattern = /[^a-zA-Z' ]/
          return !pattern.test(value) || 'Isi dengan huruf'
        },
        numbers: value => {
          const pattern = /^\d+$/
          return pattern.test(value) || 'Isi dengan angka'
        },
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Format e-mail salah'
        }
      },
      dateDatas: dateDatas
    }
  },
  computed: {
    fullBirthDate: function () {
      return this.tahun + '-' + this.bulan + '-' + this.tanggal
    },
    validationNull () {
      if (this.fullname === '' || this.agama === '' || this.pendidikan === '' || this.nomorektp === '' || this.imageKtp === '' || this.tempatlahir === '' || this.gender === '' || this.statusnikah === '' || this.sumberpendapatan === '' || this.tanggal === '' || this.bulan === '' || this.tahun === '' || this.fullname === null || this.agama === null || this.pendidikan === null || this.nomorektp === null || this.imageKtp === null || this.tempatlahir === null || this.gender === null || this.statusnikah === null || this.sumberpendapatan === null || this.tanggal === null || this.bulan === null || this.tahun === null) return true
    }
  },
  watch: {
    nomorektp: function (value) {
      // is Number validation
      const pattern = /^\d+$/
      if (pattern.test(value) === false || value.length < 16) {
        this.disableButton = true
      } else {
        this.disableButton = false
      }
    },
    fullname: function (value) {
      // is Text validation
      const pattern = /[^a-zA-Z' ]/
      if (pattern.test(value) === true) {
        this.disableButton = true
      } else {
        this.disableButton = false
      }
    },
    tempatlahir: function (value) {
      // is Text validation
      const pattern = /[^a-zA-Z' ]/
      if (pattern.test(value) === true) {
        this.disableButton = true
      } else {
        this.disableButton = false
      }
    }
  },
  created () {
    localStorage.setItem('halofina-route', '/finacheck/kyc/personal')
    this.trackPage()
  },
  mounted () {
    this.fetchDataMarital()
    this.getUserKtp()
  },
  methods: {
    validations () {
      if (this.agama !== null || this.agama !== '') {
        if (this.pendidikan !== null || this.pendidikan !== '') {
          if (this.fullname !== null || this.fullname !== '') {
            if (this.nomorektp !== '' || this.nomorektp !== null) {
              if (this.imageKtp !== '' || this.imageKtp !== null) {
                if (this.tempatlahir !== null || this.tempatlahir !== '') {
                  if (this.gender !== null || this.gender !== '') {
                    if (this.statusnikah !== null || this.statusnikah !== '') {
                      if (this.sumberpendapatan !== null || this.sumberpendapatan !== '') {
                        if (this.tanggal !== null || this.tanggal !== '') {
                          if (this.bulan !== null || this.bulan !== '') {
                            if (this.tahun !== null || this.tahun !== '') {
                              this.disableButton = false
                              return true
                            } else {
                              this.disableButton = true
                              this.dialogs('Ada kesalahan', 'Ada kolom yang masih kosong, tolong lengkapi dahulu')
                              return false
                            }
                          } else {
                            this.disableButton = true
                            this.dialogs('Ada kesalahan', 'Ada kolom yang masih kosong, tolong lengkapi dahulu')
                            return false
                          }
                        } else {
                          this.disableButton = true
                          this.dialogs('Ada kesalahan', 'Ada kolom yang masih kosong, tolong lengkapi dahulu')
                          return false
                        }
                      } else {
                        this.disableButton = true
                        this.dialogs('Ada kesalahan', 'Ada kolom yang masih kosong, tolong lengkapi dahulu')
                        return false
                      }
                    } else {
                      this.disableButton = true
                      this.dialogs('Ada kesalahan', 'Ada kolom yang masih kosong, tolong lengkapi dahulu')
                      return false
                    }
                  } else {
                    this.disableButton = true
                    this.dialogs('Ada kesalahan', 'Ada kolom yang masih kosong, tolong lengkapi dahulu')
                    return false
                  }
                } else {
                  this.disableButton = true
                  this.dialogs('Ada kesalahan', 'Ada kolom yang masih kosong, tolong lengkapi dahulu')
                  return false
                }
              } else {
                this.disableButton = true
                this.dialogs('Ada kesalahan', 'Ada kolom yang masih kosong, tolong lengkapi dahulu')
                return false
              }
            } else {
              this.disableButton = true
              this.dialogs('Ada kesalahan', 'Ada kolom yang masih kosong, tolong lengkapi dahulu')
              return false
            }
          } else {
            this.disableButton = true
            this.dialogs('Ada kesalahan', 'Ada kolom yang masih kosong, tolong lengkapi dahulu')
            return false
          }
        } else {
          this.disableButton = true
          this.dialogs('Ada kesalahan', 'Ada kolom yang masih kosong, tolong lengkapi dahulu')
          return false
        }
      } else {
        this.disableButton = true
        this.dialogs('Ada kesalahan', 'Ada kolom yang masih kosong, tolong lengkapi dahulu')
        return false
      }
    },
    scrollUp (id) {
      document.getElementById(id).scrollIntoView({
        behavior: 'smooth'
      })
      this.scroll = true
      this.focused = true
    },
    dialogCheckType (title, desc) {
      this.imageKtp = null
      this.dialog.dialogCheckType.isOpen = true
      this.dialog.dialogCheckType.title = title
      this.dialog.dialogCheckType.desc = desc
    },
    submit () {
      var notNull = this.validations()
      this.disableButton = true
      if (notNull === true) {
        Api('finacheck/kyc/personal/edit', {
          fullname: this.fullname,
          religion: this.agama,
          education: this.pendidikan,
          ktp_number: this.nomorektp,
          ktp_image: this.imageKtp,
          birthdate: this.fullBirthDate,
          birthplace: this.tempatlahir,
          gender: this.gender,
          marital: this.statusnikah,
          fundsource: this.sumberpendapatan,
          occupation: this.pekerjaan,
          monthlyincome: Number(this.income.replace(/\./g, ''))
        }).then((res) => {
          this.trackEvent()
          this.disableButton = true
          this.$router.push('/finacheck/kyc/address')
          localStorage.setItem('halofina-name', JSON.stringify(this.fullname))
        }).catch((err) => {
          this.disableButton = false
          this.dialogs('Ada kesalahan', err.m)
        })
      }
    },
    dialogs (title, desc) {
      this.dialog.dialogError = true
      this.dialog.dialogErrorDesc = desc
    },
    uploadidentitas () {
      this.$refs.imageidentitas.click()
    },
    trackEvent () {
      this.$analytics.track('KYC Personal Saved')
    },
    onFilePickedIdentitas (e) {
      const files = e.target.files
      if (files[0] !== undefined) {
        // If file is not pdf jpg or png
        if (files[0].type !== 'image/png' && files[0].type !== 'image/jpeg' && files[0].type !== 'application/pdf') {
          this.dialogCheckType('Tidak dapat mengunggah foto', 'Format file yang kamu pilih harus PNG, JPG, atau PDF.')
          return
        }
        // if null
        if (files[0].name.lastIndexOf('.') <= 0) {
          return
        }
        this.resizeImage(files[0])
      }
    },
    resizeImage (files) {
      const fr = new FileReader()
      var self = this
      fr.onload = function (readerEvent) {
        var image = new Image()
        image.onload = function (imageEvent) {
          var canvas = document.createElement('canvas')
          var maxSize = 544
          var width = image.width
          var height = image.height
          if (width > height) {
            if (width > maxSize) {
              height *= maxSize / width
              width = maxSize
            }
          } else {
            if (height > maxSize) {
              width *= maxSize / height
              height = maxSize
            }
          }
          canvas.width = width
          canvas.height = height
          canvas.getContext('2d').drawImage(image, 0, 0, width, height)
          var dataUrl = canvas.toDataURL('image/jpeg')
          self.imageKtp = dataUrl
          self.imageKtpName = files.name
          self.imageKtpType = files.type
        }
        image.src = readerEvent.target.result
      }
      fr.readAsDataURL(files)
      this.$analytics.track('KYC Personal Card Saved')
    },
    fetchDataMarital () {
      // get Marital Info
      Api('finacheck/reference/marital', {})
        .then((res) => {
          this.transformDataMarital(res.d)
          this.fetchDataReligion()
        })
        .catch(() => {
          this.dialogError = true
        })
    },
    fetchDataReligion () {
      // get religion Info
      Api('finacheck/reference/religion', {})
        .then((res) => {
          this.transformDataReligion(res.d)
          this.fetchDataEducation()
        })
        .catch(() => {
          this.dialogError = true
        })
    },
    fetchDataEducation () {
      // get education Info
      Api('finacheck/reference/education', {})
        .then((res) => {
          this.transformDataEducation(res.d)
          this.fetchDataOccupation()
        })
        .catch(() => {
          this.dialogError = true
        })
    },
    fetchDataOccupation () {
      // get occupation Info
      Api('finacheck/reference/occupation', {})
        .then((res) => {
          this.transformDataOccupation(res.d)
          this.fetchDataFund()
        })
        .catch(() => {
          this.dialogError = true
        })
    },
    fetchDataFund () {
      // get income per year Info
      Api('finacheck/reference/sourcefund', {})
        .then((res) => {
          this.transformDataSourceOfFund(res.d)
          this.getUserData()
        })
        .catch(() => {
          this.dialogError = true
        })
    },
    getUserData () {
      // get user info
      Api('finacheck/kyc/personal', {})
        .then((res) => {
          this.nomorektp = res.d.ktp_number
          this.fullname = res.d.fullname
          this.tempatlahir = res.d.birthplace
          this.gender = res.d.gender_code
          this.statusnikah = res.d.marital_code
          this.pendidikan = res.d.education_code
          this.agama = res.d.religion_code
          this.pekerjaan = res.d.occupation_code
          this.sumberpendapatan = res.d.fundsource_code
          // this.tahun = res.d.birthdate.substr(0, 4)
          // this.bulan = res.d.birthdate.substr(5, 2)
          // this.tanggal = res.d.birthdate.substr(8, 2)
          this.phone = localStorage.getItem('halofina-phone')
          this.email = localStorage.getItem('halofina-email')
          this.getIncome()
        })
        .catch(() => {
          this.dialogError = true
        })
    },
    getIncome () {
      Api('finacheck/kyc/work', {})
        .then((res) => {
          this.income = res.d.monthlyincome
          this.isLoaded = true
        })
        .catch(() => {
          this.dialogError = true
        })
    },
    getUserKtp () {
      Api('finacheck/kyc/identity', {})
        .then((res) => {
          if (res.d.length !== 0) this.imageKtp = res.d[0].image
        })
        .catch(() => {
          this.dialogError = true
        })
    },
    transformDataMarital (items) {
      var i = 0
      var transformedData = {}
      for (i; i < items.length; i++) {
        transformedData = {
          text: items[i].description,
          value: items[i].general_code
        }
        this.items.status.push(transformedData)
      }
    },
    transformDataEducation (items) {
      var i = 0
      var transformedData = {}
      for (i; i < items.length; i++) {
        transformedData = {
          text: items[i].description,
          value: items[i].general_code
        }
        this.items.pendidikan.push(transformedData)
      }
    },
    transformDataSourceOfFund (items) {
      var i = 0
      var transformedData = {}
      for (i; i < items.length; i++) {
        transformedData = {
          text: items[i].description,
          value: items[i].general_code
        }
        this.items.sumber.push(transformedData)
      }
    },
    transformDataOccupation (items) {
      var i = 0
      var transformedData = {}
      for (i; i < items.length; i++) {
        transformedData = {
          text: items[i].description,
          value: items[i].general_code
        }
        this.items.pekerjaan.push(transformedData)
      }
    },
    transformDataReligion (items) {
      var i = 0
      var transformedData = {}
      for (i; i < items.length; i++) {
        transformedData = {
          text: items[i].description,
          value: items[i].general_code
        }
        this.items.agama.push(transformedData)
      }
    }
  }
}
</script>

<style scoped>
  .span {
    font-size: 14px;
    color: gray;
    padding: 6px 13px;
    padding-right: 0px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    background-color: #f6f8fa;
  }
    .white-box {
      width: 80px;
      height: 46px;
      background-color: white
    }

  .input-incomes {
    padding: 6px 13px;
    font-size: 14px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
  }
</style>
