<template>
  <div class="finacheck-kyc-sk">
    <reusable-toolbar page-name="Syarat dan Ketentuan">
      <template slot="button-toolbar">
        <v-btn icon @click="goBack()">
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </template>
    </reusable-toolbar>
    <v-container class="toolbar-margin pa-0" v-if="isLoaded === true">
      <v-layout v-if="signLayout === false" column>
        <!-- Card account -->
        <v-card flat class="pa-4">
          <v-layout column justify-center align-center>
            <v-card-text class="pa-0"><strong>Dengan menandatangani ini, Saya menyatakan bahwa :</strong></v-card-text>
            <br />
            <v-card-text class="pa-0 mb-1 text-align-left">1. Mengisi data dengan benar dan lengkap.</v-card-text>
            <v-card-text class="pa-0 mb-1 text-align-left">2. Mengerti dan menyetujui <span class="color-primary-1" @click="openDialogSK('syarat')"><b>Syarat & Ketentuan</b></span></v-card-text>
            <v-card-text class="pa-0 mb-1 text-align-left">3. Mengerti dan menyetujui <span class="color-primary-1" @click="openDialogSK('kebijakan')"><b>Kebijakan Privasi</b></span></v-card-text>
          </v-layout>
        </v-card>
        <v-divider></v-divider>
        <!-- Card Description -->
        <v-card flat class="pa-4">
          <v-layout column align-center justify-center>
            <v-card-text class="avenir-12-reg pa-0 text-align-center">{{ dateFormat(new Date(), 'DD MMMM YYYY') }}</v-card-text>
            <br />
            <br />
            <div v-if="signImage === null">
              <v-card-text class="nexa-14-bold pa-0 color-primary-1 text-align-center" @click="toSignLayout()">Ketuk disini untuk <br />membuat tanda tanganmu</v-card-text>
            </div>
            <div v-else>
              <img @click="toSignLayout()" :src="signImage" style="width: 100%; height: auto"/>
            </div>
            <br />
            <br />
            <v-card-text class="avenir-12-reg pa-0 color-secondary-5 text-align-center">Tertanda</v-card-text>
            <v-card-text class="avenir-12-reg pa-0 text-align-center">{{ name }}</v-card-text>
          </v-layout>
        </v-card>
        <v-divider></v-divider>
        <v-card flat class="px-3 py-4">
          <!-- Button Lanjut -->
          <v-btn block color="primary" depressed @click="submit" class="btn-radius box-shadow" :disabled="signImage === null || disableButton === true">Lanjut</v-btn>
          <!-- Button Submit -->
          <!-- <v-btn block color="primary" depressed flat class="card-radius box-shadow" @click="submit">Simpan & Lanjutkan Nanti</v-btn> -->
        </v-card>
      </v-layout>
      <!-- Sign Layout -->
      <v-layout v-else column align-center justify-center class="bg-primary-4">
        <vueSignature ref="signature" :sigOption="signLayoutOptions" :w="'100%'" :h="'430px'"></vueSignature>
        <v-layout row justify-space-between align-center>
          <v-flex>
            <v-btn color="primary" class="btn-radius box-shadow" small flat @click="clearSign()">Hapus</v-btn>
            <v-btn color="primary" class="btn-radius box-shadow" small flat @click="undoSign()">Batal</v-btn>
          </v-flex>
          <v-flex>
            <v-btn color="primary" class="btn-radius box-shadow" small @click="saveSign()">Simpan</v-btn>
          </v-flex>
        </v-layout>
      </v-layout>
    </v-container>
    <v-container class="toolbar-margin pa-0 full-height" v-else>
      <v-layout column align-center justify-center>
        <br /><br /><br /><br /><br />
        <reusable-loading></reusable-loading>
      </v-layout>
    </v-container>
    <!-- Dialog disclaimer -->
    <reusable-dialogs
      v-model="sk.isOpen"
      :title="sk.title"
      :full-screen="true"
      :hide-overlay="true">
      <div slot="layout">
        <v-card tile>
          <div class="scroll-ios">
            <v-toolbar card>
              <v-toolbar-title>
                {{sk.title}}
              </v-toolbar-title>
              <v-spacer></v-spacer>
              <v-btn icon @click.native="sk.isOpen = false">
                <v-icon>close</v-icon>
              </v-btn>
            </v-toolbar>
            <iframe :src="sk.url" style="border: 0;"/>
          </div>
        </v-card>
      </div>
    </reusable-dialogs>
    <!-- Dialog Error -->
    <reusable-dialogs
      v-model="dialogError"
      :resize-image="true"
    ></reusable-dialogs>
  </div>
</template>

<script>
import { VDivider, VSpacer, VToolbarTitle, VToolbar } from 'vuetify/lib'
import Api from '@/services/Api'
import { dateFormat, setPullToRefresh } from '@/services/Helpers'

export default {
  components: {
    VDivider, VSpacer, VToolbarTitle, VToolbar
  },
  name: 'FinacheckKycSK',
  data () {
    return {
      name: '',
      sk: {
        isOpen: false,
        url: ''
      },
      disableButton: false,
      signLayout: false,
      dialogSign: false,
      dialogError: false,
      signImage: null,
      isLoaded: false,
      signLayoutOptions: {
        penColor: 'rgb(0, 0, 0)',
        backgroundColor: 'rgb(255,255,255)'
      }
    }
  },
  methods: {
    dateFormat,
    setPullToRefresh,
    submit () {
      this.trackEvent()
      this.disableButton = true
      localStorage.setItem('halofina-sign', JSON.stringify(this.signImage))
      this.$router.push('/finacheck/kyc/list')
    },
    trackEvent () {
      this.$analytics.track('KYC Statement Saved')
      this.$analytics.track('KYC Signature Saved')
    },
    getName () {
      this.name = JSON.parse(localStorage.getItem('halofina-name'))
    },
    openDialogSK (type) {
      this.sk.url = 'https://landing-v1.halofina.com/' + type
      this.sk.isOpen = true
      this.trackSK(type)
    },
    trackSK (type) {
      if (type === 'syarat') {
        this.$analytics.track('KYC Term Opened')
      } else {
        this.$analytics.track('KYC Privacy Opened')
      }
    },
    saveSign () {
      this.signImage = this.$refs.signature.save()
      setTimeout(() => {
        this.signLayout = false
        this.setPullToRefresh('true')
      }, 600)
    },
    clearSign () {
      this.$refs.signature.clear()
    },
    undoSign () {
      this.$refs.signature.undo()
    },
    toSignLayout () {
      this.signLayout = true
      this.setPullToRefresh('false')
    },
    getSignData () {
      Api('finacheck/kyc/signature', {})
        .then((res) => {
          let signLocalStorage = JSON.parse(localStorage.getItem('halofina-sign'))
          this.signImage = res.d.signature ? res.d.signature : signLocalStorage
          this.isLoaded = true
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    goBack () {
      if (this.signLayout === true) {
        this.signLayout = false
      } else {
        this.$router.push('/finacheck/kyc/list')
      }
    }
  },
  created () {
    this.getSignData()
    this.getName()
  }
}
</script>

<style>
    .finacheck-kyc-sk .v-divider {
      border-width: 6px;
      opacity: 0.4;
    }
</style>
