<template>
  <div class="finacheck-kyc-spending full-height">
    <!-- ReusableToolbar -->
    <reusable-toolbar page-name="Profil Menabung" :change-namespace="true" namespace="dashboard" route="/dashboard?tab=lifeplan"></reusable-toolbar>
    <!-- App Layout -->
    <v-container class="pa-0 toolbar-margin">
      <v-layout column>
        <v-flex>
          <v-card-text class="px-4 pt-2 pb-0 nexa-16-bold" style="text-align: center">
            Berapa Kemampuan Menabung kamu Per Bulan?
          </v-card-text>
          <br />
        </v-flex>
        <v-flex>
          <div v-for="(item, i) in items" :key="i">
            <v-layout align-center justify-center>
              <v-card class="card-radius box-shadow" flat>
                <div class="nexa-20-bold text-align-center">
                  <img :src="item.img" style="width: 274px; height: 240px"/>
                  <v-card-text class="py-0">
                    {{item.text}}
                  </v-card-text>
                  <v-card-text class="avenir-12-reg pt-0 pb-1">
                    Komitmen menabung per bulan
                  </v-card-text>
                  <input
                    type="tel"
                    id="input-custom"
                    v-on:focus="scrollUp('input-custom')"
                    v-on:blur="scroll = false"
                    v-model="investcustom"
                    v-money="money"
                    maxlength="15"
                    class="input bg-primary-4 text-align-center" />
                </div>
              </v-card>
            </v-layout>
          </div>
        </v-flex>
        <v-layout justify-center class="mt-2 mb-3 pt-2 px-3">
          <v-btn block v-if="edit === 'edit'" depressed color="primary" class="btn-radius box-shadow" :disabled="transformedInvestValue < 1" style="width: 124px" @click="slide === 0 ? editdata(slide+1) : dialogs('save', '', slide+1, transformedInvestValue)">Pilih</v-btn>
          <v-btn block v-else depressed color="primary" class="btn-radius box-shadow" :disabled="transformedInvestValue < 1" style="width: 124px" @click="slide === 0 ? submit(slide+1) : dialogs('save', '', slide+1, transformedInvestValue)">Pilih</v-btn>
        </v-layout>
        <!-- Blank box for Scrolling -->
        <div :class="scroll === true ? 'blank-box' : ''"></div>
      </v-layout>
    </v-container>
    <v-dialog v-model="isOpen" transition="dialog-bottom-transition">
      <v-card tile style="text-align: center" class="card-radius py-3 pl-0 pr-3">
        <v-layout row align-center justify-center>
          <reusable-loading></reusable-loading>
          <br />
          <div class="avenir-16-med ml-3">
            Menyiapkan Rekomendasi
          </div>
        </v-layout>
      </v-card>
    </v-dialog>
    <v-dialog
            v-model="dialog.isopen"
            transition="dialog-bottom-transition"
            scrollable
    >
      <v-layout column>
        <v-toolbar v-if="dialog.title !== 'save'" card class="bg-transparent">
          <v-toolbar-title>
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn round color="white" :ripple="false" icon @click.native="dialog.isopen = false">
            <v-icon>close</v-icon>
          </v-btn>
        </v-toolbar>
        <!-- ReusableGuideTour Next -->
          <v-card v-if="dialog.title === 'save'" tile class="px-4 pt-3 pb-3 border card-radius box-shadow text-align-center">
              <br />
              <img v-if="saving < invest" :src="img.warning" style="width: 72px; align-self: center"/>
              <img v-if="saving > invest" :src="img.check" style="width: 72px; align-self: center"/>
              <div class="nexa-20-bold mt-2 mb-2" v-if="saving < invest">
                Kamu Ingin Lanjut?
              </div>
              <div class="nexa-20-bold mt-2 mb-2" v-if="saving > invest">
                Ingin Tambah LifePlan?
              </div>
              <v-card-text class="avenir-14-reg pa-0" v-if="saving > invest">
                Kemampuan menabung kamu masih cukup besar. kamu masih bisa edit atau menambahkan lifeplan baru
              </v-card-text>
              <v-card-text class="avenir-14-reg pa-0" v-if="saving < invest">
                Dibutuhkan tabungan investasi sebesar <strong>Rp {{Number(invest).toLocaleString(['ban', 'id'])}}</strong> per bulan agar semua LifePlan kamu bisa tercapai sesuai target
              </v-card-text>
              <v-layout row justify-center class="mt-2">
                <v-flex mr-2>
                  <v-btn class="btn-radius box-shadow bg-primary-3 color-primary-1" block depressed @click="toLifeplanPage()">Edit LifePlan</v-btn>
                </v-flex>
                <v-flex ml-2>
                  <v-btn class="btn-radius box-shadow" block depressed color="primary" @click="submit(slide+1)">Lanjut</v-btn>
                </v-flex>
              </v-layout>
          </v-card>
        <v-card v-else tile class="card-radius" style="display: flex; flex-direction: column; align-items: center; justify-content: center">
          <br />
          <v-card-text class="nexa-20-bold text-align-center pt-0">
            {{dialog.title}}
          </v-card-text>
          <img v-if="dialog.img" :src="dialog.img" style="width: 192px; height: 168px"/>
          <v-card-text class="avenir-14-reg text-align-center">
            {{dialog.desc}}
          </v-card-text>
        </v-card>
      </v-layout>
    </v-dialog>
    <reusable-dialogs
      v-model="isOpen"
      :resize-image="true"
    ></reusable-dialogs>
  </div>
</template>

<script>
import { VSpacer, VToolbarTitle, VToolbar, VDialog, VCarouselItem, VCarousel } from 'vuetify/lib'
import Api from '@/services/Api'
import { goToDashboard } from '@/services/Helpers'
import { VMoney } from 'v-money'
import ReusableLoading from '../../reusable/ReusableLoading'
export default {
  components: {
    ReusableLoading, VSpacer, VToolbarTitle, VToolbar, VDialog, VCarouselItem, VCarousel
  },
  directives: { money: VMoney },
  name: 'FinacheckKycSpending',
  data () {
    return {
      scroll: false,
      dialog: {
        isopen: false,
        desc: '',
        title: ''
      },
      money: {
        thousands: '.',
        precision: 0,
        prefix: 'Rp ',
        masked: true
      },
      img: {
        check: require('@/assets/finavest/lifeplan/check.svg'),
        warning: require('@/assets/finavest/lifeplan/warning.svg')
      },
      isOpen: false,
      savingProfile: [],
      slide: 0,
      datas: {},
      invest: 0,
      investcustom: '',
      saving: '',
      married: 0,
      ismuslim: 0,
      income: 0,
      edit: '',
      items: [
        {
          text: 'Atur Sendiri',
          img: require('@/assets/finacheck/kyc/calendar.svg'),
          desc: ''
        }
      ]
    }
  },
  created () {
    this.edit = this.$route.params.id
    localStorage.setItem('halofina-route', '/finacheck/kyc/spending')
    this.getDataFromLocalStorage()
    this.fetchInvest()
    this.checkRouteFromEdit()
  },
  computed: {
    // transform infdatavest custom
    transformedInvestValue: function () {
      return this.investcustom.replace(/\./g, '').substr(3)
    }
  },
  methods: {
    trackSaving (value) {
      this.$analytics.track('Saving Amount Determined', {
        page_source: 'Profil Menabung',
        gap_amount: Number(this.invest) - Number(value)
      })
    },
    scrollUp (id) {
      this.scroll = true
      this.focused = true
      var elmnt = document.getElementById(id)
      elmnt.scrollIntoView({behavior: 'smooth'})
    },
    checkRouteFromEdit () {
      if (localStorage.getItem('halofina-spending' || this.edit === '')) {
        this.slide = localStorage.getItem('halofina-spending') - 1
      } else if (this.edit === 'edit') {
        localStorage.setItem('halofina-route', '/finacheck/kyc/spending/edit')
        Api('finacheck/kyc/savingprofile/user', {})
          .then((res) => {
            if (res.d.length !== 0) {
              this.savingProfile = res.d
              this.slide = res.d[0].savingtypeid - 1
            }
          })
          .catch(() => {
            this.dialogs('Ada kesalahan', 'Coba reload atau coba beberapa saat lagi')
          })
      }
    },
    getDataFromLocalStorage () {
      this.income = localStorage.getItem('halofina-income')
      this.married = localStorage.getItem('halofina-married')
      this.ismuslim = localStorage.getItem('halofina-ismuslim')
    },
    dialogs (title, desc, type, invest) {
      this.dialog.isopen = true
      this.dialog.title = title
      this.dialog.desc = desc
      var amount = 0
      // if type exist
      if (type) {
        if (type === 1) {
          amount = 10
        } else if (type === 2) {
          amount = 20
        } else {
          amount = 30
        }
        // if slide custom
        if (invest !== '0') {
          this.saving = invest
        } else {
          this.saving = (this.income / 100) * amount
        }
      }
    },
    fetchInvest () {
      Api('finavest/lifeplan/target/user', {
      }).then((res) => {
        let regular = 0
        for (let i = 0; i < res.d.length; i++) {
          if (res.d[i].regularinvestment !== null) {
            regular = parseInt(res.d[i].regularinvestment)
            this.invest += regular
          }
        }
      }).catch((err) => {
        this.dialogs(err.m)
      })
    },
    addUserProperties (value) {
      this.$analytics.userProperties({
        '$phone': localStorage.getItem('halofina-phone'),
        '$name': JSON.parse(localStorage.getItem('halofina-name')),
        '$email': localStorage.getItem('halofina-email'),
        'saving': value
      })
    },
    submit (type) {
      var value = 0
      if (type === 1) {
        value = this.invest
      } else if (type === 2) {
        value = (this.income / 100) * 30
      } else if (type === 3) {
        value = (this.income / 100) * 20
      } else if (type === 4) {
        value = (this.income / 100) * 10
      } else {
        value = this.transformedInvestValue
      }
      this.isOpen = true
      Api('finacheck/kyc/savingprofile', {
        savingtypeid: type,
        nominal: value
      }).then((responses) => {
        this.addUserProperties(value)
        this.trackSaving(value)
        localStorage.setItem('halofina-saving-profile', value)
        this.isOpen = false
        this.toDashboard()
      }).catch(() => {
        this.isOpen = false
        this.dialogs('Ada kesalahan', 'Coba reload atau coba beberapa saat lagi')
      })
    },
    editdata (type) {
      var value = 0
      if (type === 1) {
        value = this.invest
      } else if (type === 2) {
        value = (this.income / 100) * 30
      } else if (type === 3) {
        value = (this.income / 100) * 20
      } else if (type === 4) {
        value = (this.income / 100) * 10
      } else {
        value = this.transformedInvestValue
      }
      if (this.savingProfile.length === 0) {
        this.submit(type)
      } else {
        Api('finacheck/kyc/savingprofile/edit', {
          savingtypeid: type,
          married: this.married,
          ismuslim: this.ismuslim,
          income: this.income,
          nominal: value
        }).then((responses) => {
          localStorage.setItem('halofina-saving-profile', value)
          this.addUserProperties(value)
          this.trackSaving(value)
          this.isOpen = false
          goToDashboard('lifeplan', 'assign')
        }).catch((err) => {
          this.isOpen = false
          this.dialogs('Ada kesalahan', err.m)
        })
      }
    },
    toDashboard () {
      if (this.edit === 'edit') {
        setTimeout(goToDashboard('lifeplan', 'assign'), 1000)
      } else {
        setTimeout(this.$router.push('/finacheck/kyc/personal'), 1000)
      }
    },
    toLifeplanPage () {
      if (this.edit === 'edit') {
        this.$router.push('/finavest/lifeplan/template/edit')
      } else {
        this.$router.push('/finavest/lifeplan/template')
      }
      this.trackCancelled()
    },
    trackCancelled () {
      this.$analytics.track('Saving Amount Cancelled')
    }
  }
}
</script>

<style lang="sass">
.finacheck-kyc-spending
  overflow-y: hidden
  background-color: white

  .pos-absolute
    position: absolute

  .v-window
    height: auto !important

  .v-responsive
    height: auto !important

  .v-carousel
    height: 80vh
    box-shadow: none

  .v-text-field--solo .v-input__slot, .theme--light .v-text-field--solo .v-input__slot
    border-radius: 40px

  .v-text-field.v-text-field--solo .v-input__control
    min-height: 35px

  .v-carousel__controls
    top: 98%
    height: auto
    background: none !important

  .application .theme--light.v-toolbar, .theme--light .v-toolbar, .card-toolbar, .card-toolbar.toolbar
    border-bottom: none !important

  .v-btn .v-btn__content .v-icon
    color: black

  i
    font-size: 9px !important

  .v-btn--icon.v-btn--small
    width: 0px
    padding: 0 8px

  .theme--dark.v-card
    background-color: white

  .v-btn .v-btn__content .v-icon
    color: #2C3B50
    opacity: 0.2

  .v-btn--active
    i
      color: #2C3B50 !important
      opacity: 1 !important

.input
  width: 85%
  padding: 3px 13px
  margin-bottom: 16px
  border-radius: 50px
  font-size: 16px
  border: 1px solid #42A5F5
  outline: none

.inputnoborder
  width: 85%
  padding: 3px 13px
  margin-bottom: 16px
  border-radius: 50px
  font-size: 16px
  border: 1px solid white

</style>

<style scoped>
img {
  width: 61px;
}
</style>
