<template>
  <div class="finacheck-kyc-password bg-primary-3 full-height">
    <reusable-toolbar v-if="!attemptDate" page-name="Login Password Page" :is-title-visible="false" route="/login/email"></reusable-toolbar>
    <v-container fill-height pt-0 :class="className">
      <v-layout row align-center justify-center>
        <v-flex>
          <v-form lazy-validation>
            <v-layout mb-4 row justify-center>
              <img src="@/assets/finacheck/login/password.svg"/>
            </v-layout>
            <v-form>
              <v-layout mt-1>
                <v-flex xs12>
                  <v-text-field
                    prepend-inner-icon="lock"
                    solo
                    label="Masukkan Kata Sandi"
                    class="btn-radius mb-0 py-1"
                    flat
                    v-model="password"
                    hide-details
                    :type="showPassword ? 'text' : 'password'"
                    :append-icon="showPassword ? 'visibility' : 'visibility_off'"
                    @click:append="showPassword = !showPassword">
                  </v-text-field>
                </v-flex>
              </v-layout>
              <v-layout mt-0>
                  <v-card-text v-html="validation.password" class="ml-2 mb-2 mt-0 pa-0 avenir-12-reg color-system-error">
                  </v-card-text>
              </v-layout>
              <v-layout row mt-1>
                <v-flex xs12>
                  <v-btn block color="primary" depressed @click="submit" :disabled="password === '' || password.length < 8 || isdisabled" class="btn-radius box-shadow">Masuk</v-btn>
                </v-flex>
              </v-layout>
              <v-flex v-if="countFalse === 3 && counter !== 0 && attemptDate" class="text-align-center pa-3">
                  <div class="avenir-12-reg">Terjadi 3 kali upaya memasukkan kata sandi yang tidak sesuai. Silahkan coba lagi setelah</div>
                  <div class="avenir-16-med pt-2">{{ counterDisplay }}</div>
              </v-flex>
              <v-layout column mt-1 justify-end class="full-width px-3 mt-4">
                <v-flex>
                  <v-card-text class="color-primary-1 text-align-center pa-0 avenir-14-reg" @click="goToForgetPassword()">
                    Lupa kata sandi?
                  </v-card-text>
                </v-flex>
              </v-layout>
            </v-form>
          </v-form>
        </v-flex>
      </v-layout>
    </v-container>

    <reusable-dialogs
      v-model="dialog.dialogError"
      :resize-image="true"
    ></reusable-dialogs>

    <reusable-dialogs
        v-model="dialog.dialogUploading"
        :unclickable="true"
    >
        <div slot="layout">
          <v-card flat class="card-radius" style="width: 100%">
            <v-layout py-3 px-5 row align-center justify-center>
              <div class="nexa-14-bold px-5">Loading...</div>
            </v-layout>
          </v-card>
        </div>
    </reusable-dialogs>

    <div :class="scroll === true ? 'blank-box' : ''"></div>
  </div>
</template>

<script>
import Api from '@/services/Api'
import { getNamespaces, goToNamespace } from '../../../../../../routing'
import { setBackRouteToAndroid, checkFeatures } from '@/services/Helpers'
import { VTextField, VDialog, VToolbar, VToolbarTitle, VSpacer, VForm } from 'vuetify/lib'

export default {
  name: 'FinacheckKycLogin',
  components: {
    VTextField, VDialog, VToolbar, VToolbarTitle, VSpacer, VForm
  },
  data () {
    return {
      validation: {
        password: ''
      },
      dialog: {
        dialogUploading: false,
        dialogError: false
      },
      isdisabled: false,
      password: '',
      showPassword: false,
      scroll: false,
      countFalse: 0,
      interval: null,
      counter: 0,
      counterInit: 0,
      counterDisplay: '10 menit',
      name: null,
      attemptDate: null,
      className: ''
    }
  },
  watch: {
    countFalse: function (value) {
      var attemptDate = this.attemptDate
      if (value === 3 && attemptDate) {
        this.countdown()
        setBackRouteToAndroid('/vuetify15/#/login/password')
      }
    }
  },
  methods: {
    checkFeatures,
    submit () {
      this.isdisabled = true
      this.dialog.dialogUploading = true
      let email = localStorage.getItem('halofina-email')
      Api('finacheck/kyc/login/v2', {
        email: email
      }).then((res) => {
        localStorage.setItem('halofina-token', res.d.token)
        this.submitPassword()
      }).catch(() => {
        // console.log(err)
      })
    },
    submitPassword () {
      this.isdisabled = true
      this.dialog.dialogUploading = true
      Api('finacheck/kyc/password/check', {
        oldpass: this.password
      }).then(async (res) => {
        localStorage.setItem('halofina-has-password', 1)
        await this.getPersonalData()
        if (this.name === null) {
          this.$router.push('/personal')
        } else {
          this.goToDashboard()
        }
      }).catch(() => {
        this.isdisabled = false
        this.dialog.dialogUploading = false
        this.countFalse++
        this.setFailedDate()
        this.validation.password = 'Kata sandi salah, silahkan coba lagi'
      })
    },
    goToDashboard () {
      const dashboard = getNamespaces().DASHBOARD
      goToNamespace(dashboard, '/dashboard?tab=lifeplan', 'replace')
    },
    setFailedDate () {
      var date = new Date()
      var attemptDate = localStorage.getItem('halofina-failed-attempt')
      if (this.countFalse === 3 && !attemptDate) {
        this.attemptDate = date.getTime()
        localStorage.setItem('halofina-failed-attempt', date.getTime())
      }
    },
    getFailedDate () {
      var attemptDate = localStorage.getItem('halofina-failed-attempt')
      if (attemptDate) {
        this.countFalse = 3
        this.attemptDate = attemptDate
      }
    },
    countdown () {
      var attemptDate = this.attemptDate
      this.isdisabled = true
      this.counterInit = 600 - Math.round(Number(Date.now()) / 1000 - Number(attemptDate) / 1000)
      if (this.interval) {
        clearInterval(this.interval)
        this.interval = null
        this.countFalse = 0
        this.attemptDate = null
        this.isdisabled = false
        localStorage.removeItem('halofina-failed-attempt')
        this.validation.password = null
      }

      this.counter = this.counterInit
      this.interval = setInterval(() => {
        if (this.counter === 0) {
          clearInterval(this.interval)
          localStorage.removeItem('halofina-failed-attempt')
          this.countFalse = 0
          this.attemptDate = null
          this.interval = null
          this.isdisabled = false
          this.validation.password = null
        }

        const counter = this.counter > 0 ? this.counter - 1 : 0
        const m = Math.floor(counter / 60)
        const s = counter % 60
        this.counter = counter
        this.counterDisplay = ('00' + m).slice(-2) + ' menit ' + ('00' + s).slice(-2) + ' detik'
      }, 1000)
    },
    getPersonalData () {
      return Api('finacheck/kyc/personal', {})
        .then((res) => {
          this.name = res.d.fullname
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    setDataToLocalStorage () {
      localStorage.setItem('halofina-route', '/login/password')
    },
    goToForgetPassword () {
      const passwordVersion = checkFeatures('halofina:password').version
      if (passwordVersion > 1) {
        this.$router.push('/password/forget/otp')
      } else {
        this.$router.push('/password/forget')
      }
    }
  },
  created () {
    this.setDataToLocalStorage()
  },
  mounted () {
    this.getFailedDate()
  }
}
</script>

<style lang="sass">
.finacheck-kyc-password
  background-color: white

  .v-input__prepend-inner
    padding-right: 8px

  .h-40
    height: 40px

  </style>
