<template>
  <div class="finacheck-kyc-login bg-primary-3 full-height">
    <reusable-toolbar :change-namespace="true" page-name="Login Email" :is-title-visible="false" namespace="onboarding"></reusable-toolbar>
    <v-container pt-0 :class="className" fill-height>
      <v-layout row align-center justify-center>
        <v-flex>
          <v-form lazy-validation>
            <v-layout mb-4 row justify-center>
              <img src="@/assets/finacheck/login/email.svg"/>
            </v-layout>
            <v-form>
              <v-layout mt-1>
                <v-flex xs12>
                  <v-text-field
                    prepend-inner-icon="mail_outline"
                    color="primary"
                    v-model="email"
                    solo
                    flat
                    hide-details
                    label="Masukkan email terdaftar"
                    type="email"
                    class="py-1 mb-0 btn-radius"
                  >
                  </v-text-field>
                </v-flex>
              </v-layout>
              <v-layout mt-0>
                  <v-card-text v-html="validation.email" class="ml-2 mb-2 mt-0 pa-0 avenir-12-reg color-system-error">
                  </v-card-text>
              </v-layout>
              <v-layout column mt-1>
                <v-flex mb-4>
                  <v-btn block color="primary" depressed @click="submit(email)" :disabled="email === '' || isdisabled" class="btn-radius box-shadow">Lanjut</v-btn>
                </v-flex>
                <!-- <v-flex>
                  <reusable-google-button @done="logInGoogle">
                    <img :src="require('@/assets/others/google.svg')" class="mr-2"/>Masuk dengan Google
                  </reusable-google-button>
                </v-flex> -->
              </v-layout>
              <v-layout column mt-1 justify-end class="full-width px-3 mt-4">
                <v-flex>
                  <v-card-text class="text-align-center pa-0 avenir-14-reg" @click="$router.push('/signup/v2')">
                    Belum punya akun, <span class="color-primary-1"><b>Buat Akun</b></span>
                  </v-card-text>
                </v-flex>
              </v-layout>
            </v-form>
          </v-form>
        </v-flex>
      </v-layout>
    </v-container>
    <v-dialog
      v-model="dialog.isopen"
      transition="dialog-bottom-transition"
      scrollable
    >
      <v-layout column>
        <v-toolbar card class="bg-transparent">
            <v-toolbar-title>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn class="popup-button" round color="white" :ripple="false" icon @click.native="dialog.isopen = false">
              <v-icon>close</v-icon>
            </v-btn>
        </v-toolbar>
        <v-card tile class="card-radius" style="display: flex; flex-direction: column; align-items: center; justify-content: center">
          <br />
          <v-card-text class="nexa-20-bold text-align-center pt-0">{{dialog.title}}</v-card-text>
          <v-card-text class="avenir-14-reg text-align-center">{{dialog.desc}}</v-card-text>
          </v-card>
        </v-layout>
      </v-dialog>

    <reusable-dialogs
        v-model="dialog.dialogUploading"
        :unclickable="true"
    >
        <div slot="layout">
          <v-card flat class="card-radius" style="width: 100%">
            <v-layout py-3 px-5 row align-center justify-center>
              <div class="nexa-14-bold px-5">Loading...</div>
            </v-layout>
          </v-card>
        </div>
    </reusable-dialogs>

    <div :class="scroll === true ? 'blank-box' : ''"></div>
  </div>
</template>

<script>
import Api from '@/services/Api'
import { VTextField, VDialog, VToolbar, VToolbarTitle, VSpacer, VForm } from 'vuetify/lib'
import ReusableGoogleButton from '@/components/reusable/ReusableGoogleButton'
import { checkFeatures, goToDashboard } from '@/services/Helpers'

export default {
  name: 'FinacheckKycLogin',
  components: {
    VTextField, VDialog, VToolbar, VToolbarTitle, VSpacer, VForm, ReusableGoogleButton
  },
  data () {
    return {
      validation: {
        email: ''
      },
      dialog: {
        dialogUploading: false,
        isopen: false,
        desc: '',
        title: ''
      },
      isdisabled: false,
      email: '',
      googleUser: {},
      scroll: false,
      className: ''
    }
  },
  watch: {
    email: function (value) {
      const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      if (pattern.test(value) === false) {
        this.isdisabled = true
        this.validation.email = 'Format e-mail salah'
      } else {
        this.isdisabled = false
        this.validation.email = ''
      }
    }
  },
  methods: {
    checkFeatures,
    logInGoogle (user) {
      var email = user.w3.U3
      this.submit(email, true)
    },
    dialogs (title, desc) {
      this.dialog.isopen = true
      this.dialog.title = title
      this.dialog.desc = desc
    },
    trackActivated () {
      this.$analytics.track('Account Activated', {isactive: true})
    },
    trackLoggedIn () {
      this.$analytics.track('Account Logged In')
    },
    submit (email, fromGoogle) {
      this.isdisabled = true
      this.dialog.dialogUploading = true
      Api('finacheck/kyc/login/v2', {
        email: email
      }).then((res) => {
        this.isdisabled = false
        this.dialog.dialogUploading = false
        this.$analytics.setIdentify(email)
        localStorage.setItem('halofina-email', email)
        localStorage.setItem('halofina-features', JSON.stringify(res.d.features))
        this.trackLoggedIn()
        this.setFcmToken()
        fromGoogle ? goToDashboard('lifeplan', 'assign') : this.setRoute(res.d.isenabled, res.d.has_password)
      }).catch(() => {
        this.isdisabled = false
        this.dialog.dialogUploading = false
        this.validation.email = 'Email tidak terdaftar'
      })
    },
    setFcmToken () {
      var fcmToken = localStorage.getItem('halofina-fcm-token')
      if (fcmToken) {
        Api('notification/savetoken', {
          token: fcmToken
        }).then(() => {
          // console.log(res)
        }).catch(() => {
          // console.log(err)
        })
      }
    },
    setRoute (isEnabled, hasPassword) {
      if (Number(isEnabled) === 0) {
        localStorage.setItem('halofina-is-enabled', 'false')
        this.$router.push('/activation/signup')
      } else {
        this.trackActivated()
        localStorage.setItem('halofina-is-enabled', 'true')
        if (hasPassword === false) {
          this.$router.push('/otp/type/login')
        } else {
          this.$router.push('/login/password')
        }
      }
    }
  }
}
</script>

<style lang="sass">
.finacheck-kyc-login
  background-color: white

  .v-input__prepend-inner
    padding-right: 8px

  .h-40
    height: 40px

  </style>
