<template>
  <div class="wrap-onboarding full-height" v-touch:swipe="swipeHandler">
    <v-card>
      <v-carousel
        v-model="sliders"
        :continuous="false"
        :show-arrows="false"
        :cycle="false"
        hide-delimiter-background
        :hide-delimiters="true"
        :hide-controls="true"
        :height="screenHeight"
      >
        <v-carousel-item v-for="(data, i) in carouselData" :key="i">
          <v-sheet :color="colors[i]" height="100%" tile>
            <img :src="data.bgImg" class="bg-illustrator" />
            <v-layout column class="fill-height">
              <div
                style="width: 100%; margin-top: -35px; overflow: hidden;"
                class="pos-relative"
              >
                <!-- <img v-if="data.img !== null" src="@/assets/onboarding2/image-bottom-3.svg" class="image-bottom"/> -->
                <div class="wrapper-illustration">
                  <img v-if="data.img !== null" :src="data.img" :class="data.img !== null ? 'pos-relative top-110' : 'illustrator-img'"/>
                </div>
                <!-- <img
                  v-if="data.img !== null"
                  src="@/assets/onboarding2/bottom-onboarding-2.svg"
                  style="position: absolute; bottom: 0"
                /> -->
              </div>
              <v-layout column class="mx-20">
                <v-card-text
                  :class="'nexa-24-bold color-primary-3 title-onboard-' + i"
                  v-html="data.title"
                ></v-card-text>
                <v-card-text class="avenir-14-reg pt-2 color-primary-3"
                v-html="data.description"></v-card-text>
              </v-layout>
            </v-layout>
          </v-sheet>
        </v-carousel-item>
        <div class="wrap-delimiters">
          <div @click="sliders = 0" class="controls" :class="sliders === 0 ? 'active' : ''"></div>
          <div @click="sliders = 1" class="controls" :class="sliders === 1 ? 'active' : ''"></div>
          <div @click="sliders = 2" class="controls" :class="sliders === 2 ? 'active' : ''"></div>
        </div>
        <div class="avenir-14-reg skip color-primary-3" @click="next()">
          LANJUT
        </div>
      </v-carousel>
    </v-card>
  </div>
</template>
<script>
// Vuetify import
import {
  VCarousel,
  VCarouselItem,
  VImg,
  VSheet
} from 'vuetify/lib'

// import Lottie from 'vue-lottie'
// import animationFirst from '@/assets/onboarding2/illustration-1.json'
// import animationSecond from '@/assets/onboarding2/illustration-2.json'
// import animationThird from '@/assets/onboarding2/illustration-3.json'

export default {
  name: 'Onboarding2',
  components: {
    VCarousel,
    VCarouselItem,
    VImg,
    VSheet
  },
  data: () => ({
    cek: '',
    screenHeight: null,
    colors: ['#51AAF4', '#27BDB1', '#FF8731'],
    slides: ['First', 'Second', 'Third'],
    sliders: 0,
    carouselData: [
      {
        img: require('@/assets/onboarding2/illustration-1.svg'),
        bgImg: require('@/assets/onboarding2/background-illustration-1.svg'),
        title: 'Gapapa Abisin <br /> Duitnya Asal Udah <br /> Direncanain',
        description: 'Lifeplan membantu kamu mencapai tujuan investasi berdasarkan rencana kehidupan masa depan yang kamu desain sendiri.'
        // defaultOptions: { animationData: animationFirst }
      },
      {
        img: require('@/assets/onboarding2/illustration-2.svg'),
        bgImg: require('@/assets/onboarding2/background-illustration-2.svg'),
        title: 'Pilih Solusi Sesuai<br /> Pilihan Hati',
        description: 'Dari nabung, investasi, sampai bayar <br /> zakat, sampai pilih perlindungan semua <br />urusan keuangan tau beres aja.'
        // defaultOptions: { animationData: animationSecond }
      },
      {
        img: require('@/assets/onboarding2/illustration-3.svg'),
        bgImg: require('@/assets/onboarding2/background-illustration-3.svg'),
        title: 'Buat yang Butuh <br /> Kepastian Sama <br /> Rasa Aman',
        description: 'Halofina telah resmi tercatat di <b>OJK</b> sebagai <br /> Penyelenggara Inovasi Keuangan Digital <br /> dengan Nomor : S-101/MS.72/2019'
        // defaultOptions: { animationData: animationThird }
      }
    ]
  }),
  mounted () {
    this.getScreenHeight()
  },
  methods: {
    /**
     * @vuese
     * get screen height device
    */
    getScreenHeight () {
      this.screenHeight = screen.height
    },
    /**
     * @vuese
     * go to page welcome
    */
    skip () {
      this.$router.push('/onboarding2/welcome')
    },
    /**
     * @vuese
     * next slide carousel
    */
    next () {
      if (this.sliders >= 2) {
        this.skip()
      } else {
        this.sliders += 1
      }
    },
    /**
     * @vuese
     * case 1 : if swipe to right then slider back (-1)
     * case 2 : if swipe to left then slider next (+1)
    */
    swipeHandler (direction) {
      if (direction === 'right') {
        if (this.sliders <= 0) {
          // nothing
        } else {
          this.sliders -= 1
        }
      } else if (direction === 'left') {
        if (this.sliders >= 2) {
          this.skip()
        } else {
          this.sliders += 1
        }
      }
    }
  }
}
</script>
<style lang="sass">
.wrap-onboarding
  overflow-y: hidden

  *
    padding: 0
    margin: 0
  //
  .v-carousel__controls
    background: transparent !important
    justify-content: start !important
    padding: 0 20px !important
  //
  .skip
    position: fixed
    bottom: 4%
    right: 20px
    z-index: 10
  //
  .wrapper-illustration
    width: 100%
    min-height: 300px
  //
  .v-btn .v-btn__content .v-icon
    font-size: 10px !important
    color: white !important
  //
  .v-btn--icon:before
    display: none !important
  // 
  .v-ripple__container
    background: none !important
  //
  .v-btn--icon.v-size--small
    height: 0
    width: 20px
  //
  .v-item-group
    padding-bottom: 15px
  //
  .v-btn--active
    .mdi-checkbox-blank-circle
      opacity: 1 !important
  //
  .icon-back
    position: absolute
    left: 20px
    top: 20px
    z-index: 5
  //
  .bg-illustrator
    position: absolute
    top: 0
    width: 100%
    height: auto
  //
  .illustrator
    position: absolute
    z-index: 5
    width: 25% !important
    height: auto !important
    bottom: 0 !important
  //
  .illustrator-img
    position: absolute
    width: 100%
    z-index: 5
    top: 35px
  //
  .image-bottom
    position: absolute
    bottom: 0
    width: 100%
    z-index: 10
  //
  .top-110
    margin-top: 86px
    width: 100%
  //
  .title-onboard-0
    margin-top: 15px
  .title-onboard-1
    margin-top: 25px
  .title-onboard-2
    margin-top: 25px
  //
  .wrap-delimiters
    position: fixed
    bottom: 4.8%
    left: 20px

    .controls
      width: 6px
      height: 6px
      border-radius: 100%
      background: #fff
      opacity: 0.2
      float: left
      margin-right: 8px

      &.active
        opacity: 1 !important
        width: 20px !important
        border-radius: 6px !important

  @media only screen and (max-width: 320px)
    .nexa-24-bold
      font-size: 21px !important
      letter-spacing: 0.4px !important
      line-height: 30px !important
</style>
