<template>
  <div
    class="onboarding"
    :style="{
      'min-height': screenHeight + 'vh',
      'background-color': colors[currentSlide],
    }"
    @touchstart="startDrag"
    @touchend="endDrag"
    ref="parent"
  >
  <img v-if="currentSlide != 0" class="icon-back" @click="slide(-1)" src="@/assets/icons/icon-back-white.svg"/>
    <!-- background images -->
    <template v-for="(slide, i) in slides">
      <img
        v-if="slide.bg"
        :key="'bg' + i"
        :class="{
          bg: true,
          active: i == currentSlide,
        }"
        :src="slide.bg"
      />
    </template>
    <!-- content slides -->
    <div
      class="slides"
      :style="{
        width: slides.length * 100 + '%',
        left: slidesX + '%',
        top: currentSlide === 3 ? screenWidth * 1 + 'px' : screenWidth * 1.1 + 'px'
      }"
    >
      <div
        v-for="(slide, i) in slides"
        :key="i"
        class="slide"
        :style="{
          width: screenWidth + 'px',
          left: (100 / slides.length) * i + '%',
        }"
      >
        <div :class="{ content: true, last: slide.isLast }">
          <div
            v-if="slide.title"
            class="title-onboard nexa-24-bold" :class="i < 3 ? 'color-primary-3' : ''"
            v-html="slide.title"
          />
          <div
            v-if="slide.description"
            class="description avenir-14-reg" :class="i < 3 ? 'color-primary-3' : ''"
            v-html="slide.description"
          />
          <template v-if="slide.isLast"> </template>

          <v-layout column pt-7 pt-4 v-if="i === 3">
            <v-flex xs12 mb-1>
              <v-btn block depressed outline large color="white" class="border-radius-4 color-brand-1 nexa-16-bold h-48" @click="goToLogin()">Masuk</v-btn>
            </v-flex>
            <v-flex xs12 mt-2>
              <v-btn large depressed color="primary" block class="border-radius-4 nexa-16-bold color-primary-3 h-48" @click="goToRegister()">Daftar</v-btn>
            </v-flex>
          </v-layout>

        </div>
      </div>

    </div>
    <!-- middle image layers -->
    <div class="layers">
      <template v-for="(slide, i) in slides">
        <template v-for="(shift, l) in layerShifts">
          <img
            v-if="slide.layers[l]"
            :key="'layer' + i + '-' + l"
            class="layer"
            :style="{
              left: (i - currentSlide) * shift + '%',
            }"
            :src="slide.layers[l]"
        /></template>
      </template>
    </div>
    <!-- foregrounds -->
    <div
      class="fgs"
      :style="{ top: screenWidth * 0.88 + 'px', left: '-25%' }"
    >
      <template v-for="(slide, i) in slides">
        <img
          v-if="slide.fg"
          :key="'fg' + i"
          class="fg"
          :style="{
            left: (i - currentSlide) * fgShift + '%',
          }"
          :src="slide.fg"
      /></template>
    </div>
    <!-- bottom UI -->
    <div class="bottom" v-if="currentSlide < 3">
      <div class="progress">
        <div
          v-for="s in 3"
          :key="'s' + s"
          :class="{ step: true, active: s - 1 == currentSlide }"
        />
      </div>
      <div class="lanjut avenir-14-reg color-primary-3" @click="slide(1)">LANJUT</div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'OnboardingNew',
  data: () => ({
    screenWidth: null,
    screenHeight: null,
    colors: ['#51AAF4', '#27BDB1', '#FF8731', 'white'],
    currentSlide: 0,
    slides: [
      {
        fg: require('@/assets/onboarding3/fg1.png'),
        bg: require('@/assets/onboarding3/bg1.png'),
        layers: [
          require('@/assets/onboarding3/1-1.png'),
          require('@/assets/onboarding3/1-2.png'),
          require('@/assets/onboarding3/1-3.png')
        ],
        title:
          'Gapapa Abisin <br /> Duitnya Asal Udah <br /> Direncanain',
        description:
          'Lifeplan membantu kamu mencapai tujuan <br /> investasi berdasarkan rencana kehidupan masa <br /> depan yang kamu desain sendiri.'
      },
      {
        fg: require('@/assets/onboarding3/fg2.png'),
        bg: require('@/assets/onboarding3/bg2.png'),
        layers: [
          require('@/assets/onboarding3/2-1.png'),
          require('@/assets/onboarding3/2-2.png'),
          require('@/assets/onboarding3/2-3.png')
        ],
        title: 'Pilih Solusi Sesuai<br /> Pilihan Hati',
        description:
          'Dari nabung, investasi, sampai bayar <br /> zakat, sampai pilih perlindungan semua <br /> urusan keuangan tau beres aja.'
      },
      {
        fg: require('@/assets/onboarding3/fg3.png'),
        bg: require('@/assets/onboarding3/bg3.png'),
        layers: [
          require('@/assets/onboarding3/3-1.png'),
          require('@/assets/onboarding3/3-2.png'),
          require('@/assets/onboarding3/3-3.png')
        ],
        title:
          'Buat yang Butuh <br /> Kepastian Sama <br /> Rasa Aman',
        description:
          'Halofina telah resmi tercatat di <b>OJK</b> sebagai <br /> Penyelenggara Inovasi Keuangan Digital <br /> dengan Nomor : S-101/MS.72/2019'
      },
      {
        bg: require('@/assets/onboarding3/bg4.png'),
        layers: [
          require('@/assets/onboarding3/4-1.png'),
          require('@/assets/onboarding3/4-2.png'),
          require('@/assets/onboarding3/4-3.png')
        ],
        filter:
          'hue-rotate(0deg) grayscale(100%) brightness(100)',
        title: 'Selamat Tinggal <br /> Masa Lalu',
        description:
          'Hidup penuh kebaikan dengan perencanaan <br /> yang matang.',
        isLast: true
      }
    ],
    fgShift: 400,
    layerShifts: [150, 250, 320],
    maxDrag: 0.2,
    slidesX: 0,
    dragStart: 0,
    isDragging: false
  }),
  mounted () {
    this.screenWidth = screen.width
    this.screenHeight = 100
    this.$refs.parent.addEventListener(
      'touchstart',
      this.startDrag
    )
    // preload images
    this.slides.map(slide => {
      const bgImage = new Image()
      bgImage.src = slide.bg
      const fgImage = new Image()
      fgImage.src = slide.fg
      slide.layers.map(layer => {
        const layerImg = new Image()
        layerImg.src = layer
      })
    })
  },
  methods: {
    goToLogin () {
      this.$router.push('/login/email')
    },
    goToRegister () {
      this.$router.push('/signup/v2')
    },
    startDrag (e) {
      this.dragStart = e.touches[0].clientX
      this.$refs.parent.addEventListener('touchmove', this.drag)
    },
    drag (e) {
      const dragDistance = e.touches[0].clientX - this.dragStart
      const dragFraction = dragDistance / this.screenWidth
      if (Math.abs(dragFraction) >= this.maxDrag) {
        if (dragFraction > 0) this.slide(-1)
        else if (dragFraction < 0) this.slide(1)
      }
    },
    endDrag () {
      this.$refs.parent.removeEventListener(
        'touchmove',
        this.drag
      )
    },
    slide (delta) {
      let slid = false
      if (delta < 0 && this.currentSlide > 0) {
        this.currentSlide--
        slid = true
      } else if (delta > 0 && this.currentSlide < this.slides.length - 1) {
        this.currentSlide++
        slid = true
      }
      if (slid) {
        this.endDrag()
        this.slidesX = 100 * -this.currentSlide
      }
    }
  }
}
</script>
<style lang="sass">
  .onboarding
    overflow-y: hidden
    overflow-x: hidden
    width: 100%
    height: 100%
    position: relative
    transition: background-color 1s
    .icon-back
      position: absolute
      top: 16px
      left: 16px
      width: 24px
      height: 24px
      z-index: 10
    .h-48
      height: 48px
    img
      position: absolute
      width: 135%
      height: auto
      transition: left 1s ease-out
      top: -2px
    .bg
      opacity: 0
      transition: opacity 1s
      left: -20%
      &.active
        opacity: 1
    .fgs
      width: 100%
      position: absolute
      .fg
        width: 200%
    .layers
      position: absolute
      width: 100%
      left: -20%
    .slides
      height: 100%
      position: absolute
      transition: left 1s ease-out 0.02s
      .slide
        position: absolute
        .content
          position: absolute
          padding: 0 20px
          width: 100%
          z-index: 10
          .title-onboard
            text-align: left
            padding-bottom: 10px
            user-select: none
          .description
            text-align: left
            user-select: none
    .bottom
      width: 100%
      position: fixed
      bottom: 5%
      .lanjut
        position: fixed
        right: 20px
      .progress
        position: fixed
        width: 50px
        left: 20px
        .step
          height: 6px
          width: 6px
          opacity: 0.5
          border-radius: 3px
          background-color: white
          display: inline-block
          margin-left: 6px
          transition: width 1s
          &.active
            width: 20px
            opacity: 1
  @media only screen and (max-width: 320px)
    .avenir-14-reg
      font-size: 13px !important
</style>