<template>
  <!-- eslint-disable -->
  <div class="welcome full-height">
    <!-- hero image -->
    <v-layout column>
      <div class="wrapper-illustration">
        <img src="@/assets/onboarding2/hero-welcome.svg" class="hero-image" />
      </div>
    </v-layout>
    <v-layout column pt-2>
      <!-- text -->
      <v-card-text class="nexa-24-bold pb-1 pt-2 px-20">
        Selamat Tinggal <br /> Masa Lalu
      </v-card-text>
      <v-card-text class="avenir-14-reg pb-4 mb-2 pt-2 px-20">
        Hidup penuh kebaikan dengan perencanaan <br /> yang matang.
      </v-card-text>
      <!-- button -->
      <v-layout column px-20 pt-7>
        <v-flex xs12 mb-1>
          <v-btn block depressed outline large color="white" class="border-radius-4 color-brand-1 nexa-16-bold h-48" @click="goToLogin()">Masuk</v-btn>
        </v-flex>
        <v-flex xs12 mt-2>
          <v-btn large depressed color="primary" block class="border-radius-4 nexa-16-bold color-primary-3 h-48" @click="goToRegister()">Daftar</v-btn>
        </v-flex>
      </v-layout>
      <!-- or -->
      <!-- <v-layout row px-20 align-center py-3>
        <v-flex>
          <div class="line"></div>
        </v-flex>
        <v-flex xs2>
          <v-card-text class="text-align-center avenir-12-reg color-primary-3"> atau </v-card-text>
        </v-flex>
        <v-flex>
          <div class="line"></div>
        </v-flex>
      </v-layout> -->
      <!-- button login -->
      <!-- <v-layout row px-20>
        <v-flex xs12>
          <v-btn block depressed large color="white" class="border-radius-4 color-text-3 avenir-14-med"><img src="@/assets/onboarding2/icon-google.svg" class="icon-google mr-2" />Daftar dengan google</v-btn>
        </v-flex>
      </v-layout> -->
    </v-layout>
  </div>
</template>
<script>
export default {
  data () {
    return {
      screenHeight: null
    }
  },
  mounted () {
    this.getScreenHeight()
  },
  methods: {
    getScreenHeight () {
      this.screenHeight = screen.height
    },
    goToLogin () {
      this.$router.push('/login/email')
    },
    goToRegister () {
      this.$router.push('/signup/v2')
    }
  }
}
</script>
<style lang="sass">
.welcome
  background-color: #ffffff
  *
    padding: 0
    margin: 0
  //
  .hero-image
    width: 100%
    height: auto
  //
  .border-radius-4
    border-radius: 4px !important
  //
  .line
    width: 100%
    background-color: #E8EAEF
    height: 1px
  //
  .icon-google
    width: 23px
    height: 23px
  //  
  .h-48
    height: 48px !important
  //
  .wrapper-illustration
    width: 100%
    min-height: 300px
  
</style>
