<template>
  <v-app light>
    <div id="app">
      <main>
        <router-view></router-view>
      </main>
    </div>
    <!-- Online Status -->
    <v-snackbar :color="color" v-model="snackbars" :timeout="timeout">
      {{ text }}
      <v-btn
        dark
        flat
        @click.native="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
  </v-app>
</template>

<script>
import { tokenIos, tokenAndroid } from '@/services/Messaging'
import { getConversionDataAndroid, getConversionDataIos, setConversionDatatoMixpanel } from '@/services/Analytics'
import { getOS, getName } from '@/services/Helpers'
import { VSnackbar } from 'vuetify/lib'
import Api from '@/services/Api'
export default {
  name: 'app',
  components: {
    VSnackbar
  },
  data () {
    return {
      visible: false,
      snackbars: false,
      timeout: 1500,
      text: '',
      color: '',
      platform: '',
      tokenFcm: null
    }
  },
  methods: {
    checkToken () {
      Api('finacheck/rpa/user', {})
        .then()
        .catch((err) => {
          if (err.m === 'Unauthorized Access' || err.m === 'User tidak dikenal' || err.m === 'User tidak aktif' || err.m === 'The JWT string must have two dots') {
            localStorage.removeItem('halofina-token')
            // window.location.replace(origin + '/onboarding')
          }
        })
    },
    onlineStatus () {
      const fun = this
      window.addEventListener('load', function () {
        fun.updateOnlineStatus()
        window.addEventListener('online', fun.updateOnlineStatus)
        window.addEventListener('offline', fun.updateOnlineStatus)
      })
    },
    getFcmToken () {
      var platform = getOS()
      if (platform === 'ios') {
        tokenIos()
      } else if (platform === 'android') {
        tokenAndroid()
      }
    },
    getConversionData () {
      var platform = getOS()
      let isSent = localStorage.getItem('halofina-conversion-sent')
      if (!isSent) {
        if (platform === 'ios') {
          getConversionDataIos()
            .then((conversionData) => {
              this.conversionDataIos = conversionData
              if (conversionData !== '') {
                localStorage.setItem('halofina-conversion-sent', 1)
                localStorage.setItem('halofina-conversion-data', conversionData)
                setConversionDatatoMixpanel(JSON.parse(conversionData))
              }
            })
            .catch(err => { this.text = err })
        } else if (platform === 'android') {
          getConversionDataAndroid()
            .then((conversionData) => {
              if (conversionData !== '') {
                localStorage.setItem('halofina-conversion-sent', 1)
                localStorage.setItem('halofina-conversion-data', conversionData)
                setConversionDatatoMixpanel(JSON.parse(conversionData))
              }
            })
            .catch(err => { this.text = err })
        }
      }
    },
    updateOnlineStatus: function () {
      const vm = this
      if (!navigator.onLine) {
        vm.snackbars = true
        vm.text = 'Tidak ada konektivitas'
        vm.color = 'red'
      }
    }
  },
  created () {
    this.getFcmToken()
  },
  mounted: function () {
    this.getConversionData()
    this.checkToken()
    this.onlineStatus()
    getName()
    this.platform = getOS()
  },
  beforeDestroy: function () {
    const func = this
    func.updateOnlineStatus()
    window.removeEventListener('online', func.updateOnlineStatus)
    window.removeEventListener('offline', func.updateOnlineStatus)
  }
}
</script>
