<template>
  <div class="finacheck-rpa-input full-height" style="background-color: white">
    <!-- GUide Tour -->
    <!-- <reusable-guide-tour name="rpaTour" :steps="steprpa" status="halofina-tour-rpa" :background="true"></reusable-guide-tour> -->
    <!-- ReusableToolbar -->
    <reusable-toolbar
      page-name="Pilih Profil Risiko kamu"
      title-color="#505565 !important"
    >
    <div slot="button-toolbar" style="width: 28px; height: 1px;" v-if="$route.params.edit !== 'edit'"></div>
    </reusable-toolbar>
    <!-- Layout App -->
    <v-container class="pa-0 toolbar-margin">
      <v-layout column>
        <v-carousel v-model="slide" :cycle="false" class="text-xs-center text-md-center text-lg-center text-xl-center">
          <v-carousel-item v-for="(item, i) in items" :key="i">
            <v-container fill-height class="pt-0 pb-2">
              <v-layout column align-center justify-center>
                <v-card-text class="pt-2 pb-1 nexa-16-bold text-align-center">
                  Kamu orang yang
                </v-card-text>
                <v-card-text class="pb-1 nexa-18-bold color-brand-1 text-align-center">
                  {{item.subtitle}}
                </v-card-text>
                <img :src="item.img" style="height: 200px; width: auto;" class="img-wrapper"/>
                <v-card-text id="rpa-text" v-html="item.desc" class="avenir-14-reg text-align-center pb-0 pt-0 px-20"></v-card-text>

                <!-- <v-layout row wrap mb-4 pb-3 pt-4 class="pos-relative">
                  <div class="line-center"></div>
                  <v-flex xs6>
                    <v-card-text class="pb-1 text-xs-center color-text-1 nexa-14-bold">
                      Potensi untung
                    </v-card-text>
                    <v-card-text class="color-up nexa-18-bold text-xs-center">
                      <img src="@/assets/finacheck/rpa/icon-up.svg" height="12" alt="icon up">
                      {{item.gain}} %
                    </v-card-text>
                  </v-flex>
                  <v-flex xs6>
                    <v-card-text class="pb-1 text-xs-center color-text-1 nexa-14-bold">
                      Potensi rugi
                    </v-card-text>
                    <v-card-text class="color-down nexa-18-bold text-xs-center">
                      <img src="@/assets/finacheck/rpa/icon-down.svg" height="12" alt="icon down">
                      {{item.loss}} %
                    </v-card-text>
                  </v-flex>
                </v-layout> -->
              </v-layout>
            </v-container>
          </v-carousel-item>
        </v-carousel>
        <v-layout row justify-center class="wrap-button">
          <v-flex>
            <v-btn depressed class="nexa-16-bold py-3" color="primary" block :disabled="isdisabled" @click="submit(slide+1)">Pilih</v-btn>
          </v-flex>
        </v-layout>
      </v-layout>
    </v-container>
    <!-- Dialog Risk Profile -->
    <reusable-dialogs
      v-model="dialog.dialogRpa"
      :title="dialog.title"
      :description="dialog.desc"
      :with-button="true"
    >
    </reusable-dialogs>
  </div>
</template>

<script>
import { VCarousel, VCarouselItem, VDialog, VSpacer } from 'vuetify/lib'
import Api from '@/services/Api'
import { goToDashboard } from '@/services/Helpers'
export default {
  name: 'FinacheckRpaInput',
  props: ['riskid'],
  components: {
    VCarousel, VCarouselItem, VDialog, VSpacer
  },
  data () {
    return {
      dialog: {
        dialogRpa: false,
        desc: '',
        title: '',
        img: ''
      },
      tabid: 'tab-' + (this.riskid || 1),
      show: false,
      edit: '',
      name: '',
      userDone: 0,
      income: 0,
      isdisabled: false,
      slide: 0,
      items: [
        {
          subtitle: 'berhati-hati',
          gain: '5,2',
          loss: '2,6',
          img: require('@/assets/finacheck/rpa/careful.svg'),
          risk: 'Dalam profil risiko berinvestasi, kamu masuk kategori Conservative',
          desc: 'Karena kamu penuh kehati-hatian maka <br /> kamu adalah tipe investor <b>Konservatif.</b> kamu <br /> lebih mengutamakan keamanan modal dan <br /> kepastian hasil investasi.'
        },
        {
          subtitle: 'cukup stabil',
          gain: '6,9',
          loss: '3,4',
          img: require('@/assets/finacheck/rpa/new-mid-conservative.svg'),
          risk: 'Dalam profil risiko berinvestasi, kamu masuk kategori Mid-Conservative',
          desc: 'Walau berhati-hati, kamu juga punya <br /> potensi lebih. kamu adalah tipe <br /> <b>Mid-Konservatif.</b> kamu cukup seimbang <br /> dalam menerima risiko dan hasil investasi.'
        },
        {
          subtitle: 'stabil',
          gain: '8,8',
          loss: '4,4',
          img: require('@/assets/finacheck/rpa/new-moderate.svg'),
          risk: 'Dalam profil risiko berinvestasi, kamu masuk kategori Moderate',
          desc: 'Karena kamu bisa menjaga kestabilan <br /> maka kamu adalah tipe <b>Moderat.</b> kamu <br /> lebih mengutamakan keseimbangan <br /> risiko dan hasil investasi.'
        },
        {
          subtitle: 'cukup ambisius',
          gain: '12',
          loss: '6',
          img: require('@/assets/finacheck/rpa/new-mid-aggressive.svg'),
          risk: 'Dalam profil risiko berinvestasi, kamu masuk kategori Mid-Aggressive',
          desc: 'Walau berani, kamu juga cukup berhati-hati <br /> maka kamu adalah tipe <b>Mid-Agresif.</b> kamu <br /> menerima risiko dalam batas tertentu untuk <br /> mendapatkan imbalan hasil yang tinggi.'
        },
        {
          subtitle: 'ambisius',
          gain: '13,6',
          loss: '6,8',
          img: require('@/assets/finacheck/rpa/new-aggressive.svg'),
          risk: 'Dalam profil risiko berinvestasi, kamu masuk kategori Aggressive',
          desc: 'Karena kamu memiliki keberanian tinggi <br /> maka kamu adalah tipe <b>Agresif.</b> kamu <br /> bersedia menerima Risiko tinggi untuk <br /> mendapatkan imbalan hasil yang tinggi.'
        }
      ]
    }
  },
  created () {
    this.edit = this.$route.params.edit
    this.name = JSON.parse(localStorage.getItem('halofina-name'))
    localStorage.setItem('halofina-route', '/finacheck/rpa/input')
    this.checkFromEdit()
  },
  methods: {
    checkFromEdit () {
      if (localStorage.getItem('halofina-rpa') !== 'null' && localStorage.getItem('halofina-rpa')) {
        this.slide = localStorage.getItem('halofina-rpa') - 1
      }
      if (this.edit === 'edit') {
        localStorage.setItem('halofina-route', '/new/finacheck/rpa/input/edit')
        Api('finacheck/rpa/user', {})
          .then((res) => {
            this.slide = res.d.riskid - 1
          })
          .catch(() => { this.dialogs('Ada kesalahan', 'Coba reload atau coba beberapa saat lagi') })
      }
    },
    dialogRpa (title, desc, img) {
      this.dialog.dialogRpa = true
      this.dialog.title = title
      this.dialog.desc = desc
      this.dialog.img = img
    },
    closeDialogs () {
      this.dialog.dialogDisclaimer = false
      localStorage.setItem('halofina-dialog-rpa', 1)
    },
    submit (riskid) {
      this.isdisabled = true
      Api('finacheck/rpa/input', {
        riskid: Number(riskid)
      })
        .then((res) => {
          this.isdisabled = false
          this.addUserProperties(this.items[riskid - 1].text)
          localStorage.setItem('halofina-rpa', riskid)
          if (this.edit === 'edit') {
            goToDashboard('lifeplan', 'assign')
          } else if (this.edit === 'profil') {
            goToDashboard('profil', 'assign')
          } else if (this.edit === 'kyc') {
            this.$router.push('/v2/input/finacheck/kyc/list/new')
          } else if (this.edit === 'lifeplan') {
            this.$router.push('/v2/input/finacheck/kyc/lifeplan')
          } else {
            this.$router.push('/new/finacheck/kyc/spending/null')
          }
          this.$analytics.track('Risk Profile Selected')
        })
        .catch(() => {
          this.isdisabled = false
          this.dialogRpa('Ada Kesalahan', 'Coba reload atau coba beberapa saat lagi', '')
        })
    },
    // editdata (riskid) {
    //   this.isdisabled = true
    //   this.$analytics.track({action: 'Risk Profile Edit Button Clicked', properties: {risk_profile: riskid}})
    //   Api('finacheck/rpa/edit', {
    //     riskid: Number(riskid)
    //   }).then((res) => {
    //     this.isdisabled = false
    //     this.$analytics.track({action: 'Edit Risk Profile Succeed', properties: {risk_profile: riskid}})
    //     this.addUserProperties(this.items[riskid - 1].text)
    //     goToDashboard('lifeplan', 'assign')
    //   })
    //     .catch(() => {
    //       this.dialogRpa('Ada Kesalahan', 'Coba reload atau coba beberapa saat lagi', '')
    //       this.isdisabled = false
    //     })
    // },
    addUserProperties (value) {
      let properties = {
        '$phone': localStorage.getItem('halofina-phone'),
        '$name': JSON.parse(localStorage.getItem('halofina-name')),
        '$email': localStorage.getItem('halofina-email'),
        'Risk Profile': value
      }
      this.$analytics.userProperties(properties)
    }
  }
}
</script>

<style lang="sass">
.finacheck-rpa-input
  overflow-y: hidden

  *
    padding: 0
    margin: 0

  .color-up
    color: #17CF82

  .color-down
    color: #FF6767

  .pos-relative
    position: relative
    width: 100%

    .line-center
      position: absolute
      height: 54px
      width: 1px
      left: 50%
      transform: translateX(-50%)
      background: #E8EAEF

  .wrap-button
    width: 100%
    position: absolute
    bottom: 0

    .v-btn
      height: 56px !important
      border-radius: 0 !important

  .v-window__container
    height: 100vh !important

  .px-36
    padding: 0 36px

  .img-wrapper
    margin: 35px 0

  .v-carousel__prev,
  .v-carousel__next
    top: 26%
    transform: translateY(-26%)

  .v-carousel__controls
    display: none

  #rpa-title
    margin-left: 36px

  .v-carousel__prev, .v-carousel__next
    z-index: 10 !important

  .v-image
    z-index: 2

  .v-window
    height: auto !important

  .v-responsive
    height: auto !important

  .v-carousel
    height: 60vh
    box-shadow: none

  .v-carousel__controls__item
    margin: 0 6px!important

  .v-carousel__controls
    height: 77%
    background: none !important
    z-index: 5

  .v-btn .v-btn__content .v-icon
    color: #2C3B50

  .v-carousel__next .v-btn i, .v-carousel__prev .v-btn i
    font-size: 28px !important

  .v-btn--active
    i
      color: #2C3B50 !important
      opacity: 1 !important

  i
    font-size: 9px !important

  .v-btn--icon.v-btn--small
    width: 0px

.popup-button
  float: right
  margin: 0px
  width: 32px !important
  height: 32px !important

@media only screen and (max-width: 320px)
  .finacheck-rpa-input
    .avenir-14-reg
      font-size: 13px

    .img-wrapper
      margin: 15px 0

</style>
