<template>
  <div class="result-risk-profile bg-primary-3" :style="'min-height: ' + screenHeight + 'px;'">
    <v-card-text class="nexa-16-bold text-xs-center py-3">
      Hasil
    </v-card-text>
    <v-card-text class="nexa-16-bold text-xs-center py-1">
      Kamu orang yang
    </v-card-text>
    <v-card-text class="nexa-18-bold text-xs-center color-brand-1 pb-3">
      berhati-hati
    </v-card-text>
    <v-layout row justify-center pb-4>
      <img src="@/assets/finacheck/rpa/careful.svg" alt="Careful">
    </v-layout>
    <v-layout row wrap>
      <v-card-text class="avenir-14-reg px-20 mx-3 text-xs-center">
        Karena kamu penuh kehati-hatian maka kamu adalah tipe investor <b>Konservatif.</b> kamu lebih mengutamakan keamanan modal dan kepastian hasil investasi.
      </v-card-text>
    </v-layout>

    <v-layout row wrap pt-4 mb-4 pb-3 class="pos-relative">
      <div class="line-center"></div>
      <v-flex xs6>
        <v-card-text class="pb-1 text-xs-center color-text-1 nexa-14-bold">
          Potensi untung
        </v-card-text>
        <v-card-text class="color-up nexa-18-bold text-xs-center">
          <img src="@/assets/finacheck/rpa/icon-up.svg" height="12" alt="icon up">
          5,2 %
        </v-card-text>
      </v-flex>
      <v-flex xs6>
        <v-card-text class="pb-1 text-xs-center color-text-1 nexa-14-bold">
          Potensi rugi
        </v-card-text>
        <v-card-text class="color-down nexa-18-bold text-xs-center">
          <img src="@/assets/finacheck/rpa/icon-down.svg" height="12" alt="icon down">
          2,6 %
        </v-card-text>
      </v-flex>
    </v-layout>

    <v-layout column class="px-20">
      <button class="nexa-14-bold btn-save">Simpan</button>
      <button class="nexa-14-bold btn-repeat-question">Ulangi Pertanyaan</button>
    </v-layout>
  </div>
</template>
<script>
export default {
  data: () => ({
    screenHeight: screen.height
  })
}
</script>
<style lang="sass">
  .result-risk-profile
    *
      padding: 0
      margin: 0

    .color-up
      color: #17CF82

    .color-down
      color: #FF6767

    .pos-relative
      position: relative

      .line-center
        position: absolute
        height: 54px
        width: 1px
        left: 50%
        transform: translateX(-50%)
        background: #E8EAEF

    .btn-repeat-question
      width: 100%
      padding: 14px 0
      background: #FFFFFF
      border: 1px solid #E8EAEF
      border-radius: 4px
      color: #3FA9EC

    .btn-save
      width: 100%
      padding: 16px 0
      background: #51AAF4
      color: #fff
      border-radius: 4px
      margin-bottom: 12px

</style>
