<template>
  <div class="bg-primary-3" style="height:100vh">
    <v-container grid-list-md text-xs-center class="new-riskprofile">
      <reusable-toolbar page-name="Profil Risiko"></reusable-toolbar>

      <v-layout row wrap class="mt-3rem">
        <v-flex v-for="i in 3" :key="`1${i}`" xs2>
          <v-card>
            <v-card-text class="px-0 line-red"></v-card-text>
          </v-card>
        </v-flex>
        <v-flex v-for="i in 3" :key="`1${i}`" xs2>
          <v-card>
            <v-card-text class="px-0 line-grey"></v-card-text>
          </v-card>
        </v-flex>
      </v-layout>

      <div class="wrapper-img pt-2rem" id="animated">
        <img src="@/assets/finacheck/rpa/counting-money.svg" alt="illustration">
      </div>

      <v-flex xs12>
        <v-card-text class="px-4rem">
          <span class="nexa-18-bold">Bagaimana pengalaman kamu berinvestasi di instrumen keuangan?</span>
        </v-card-text>
      </v-flex>

      <v-layout column class="responsive-bottom">
        <v-flex xs12>
          <v-btn outline class="btn-outline-grey">
            <span class="font-grey avenir-14-reg">Tabungan dan Deposito</span>
          </v-btn>
        </v-flex>
        <v-flex xs12>
          <v-btn outline class="btn-outline-grey">
            <span class="font-grey avenir-14-reg">ORI/Sukri, Reksa Dana Pasar Uang, <br> Proteksi atau Pendapatan Tetap</span>
          </v-btn>
        </v-flex>
        <v-flex xs12>
          <v-btn outline class="btn-outline-grey">
            <span class="font-grey avenir-14-reg">Saham, Reksa Dana Saham atau Campuran</span>
          </v-btn>
        </v-flex>
      </v-layout>

    </v-container>
  </div>
</template>


<script>
export default {

}
</script>

<style lang="sass">

  .new-riskprofile

    *
      margin: 0px
      padding: 0px

    .v-card
      border: none !important
      box-shadow: none !important
      background: transparent

    .line-red
      border-radius: 1px
      background: #43A6F5
      height: 2px

    .line-grey
      border-radius: 1px
      background: rgba(23, 126, 83, 0.15)
      height: 2px

    // margin
    .mt-3rem
      margin-top: 3rem !important

    // padding
    .px-4rem
      padding-top: 4rem !important
      padding-bottom: 4rem !important

    .pt-2rem
      padding-top: 2rem !important

    .wrapper-img
      padding-top: 2rem
      margin: 0 auto

    .btn-outline-grey
      color: #E8EAEF
      font-size: 14px
      width: 100%
      height: 41px
      line-height: 41px
      border-radius: 4px

    .font-grey
      color: #505565

    .responsive-bottom
      bottom: 20px
      width: 100%
</style>
