<template>
  <div class="finacheck-kyc-register bg-primary-3" :style="'min-height: ' + screenHeight + 'px;' ">
    <!-- ReusableToolbar -->
    <reusable-toolbar page-name="" :left="true" route="/personal">
      <div slot="button-toolbar" style="width: 40px">
        &nbsp;
      </div>
    </reusable-toolbar>

    <!-- App Layout -->
    <v-card-text class="nexa-18-bold color-text-1 px-20 pt-4 pb-3 mb-3">
      Lengkapi Data Diri kamu
    </v-card-text>

      <v-layout column class="px-20">
        <v-flex>
          <v-form lazy-validation>
            <!-- Name -->
            <v-card-text class="avenir-14-reg color-text-3 pb-1">
              Nama Lengkap
            </v-card-text>

            <v-text-field
              label="Nama (Harus sesuai KTP)"
              :rules="[rules.required, rules.names]"
              solo
              flat
              v-model="firstname">
            </v-text-field>

            <v-card-text class="avenir-14-reg color-text-3 pb-1">
              Tanggal Lahir
            </v-card-text>
            <v-layout row>
              <v-flex xs4 class="mr-3">
                <v-select v-model="tanggal" :rules="[rules.required]" solo flat placeholder="Tgl" :items="items.tanggal"></v-select>
              </v-flex>
              <v-flex xs5 class="mr-3">
                <v-select mt-0 v-model="bulan" :rules="[rules.required]" solo flat placeholder="Bln" :items="items.bulan"></v-select>
              </v-flex>
              <v-flex xs5>
                <v-select mt-0 v-model="tahun" :rules="[rules.required]" solo flat placeholder="Thn" :items="items.tahun"></v-select>
              </v-flex>
            </v-layout>

            <v-card-text v-if="referal === ''" @click="openReferalClick()" class="avenir-14-med color-brand-1">
              Saya memiliki Kode Referal
            </v-card-text>

            <div v-if="referal !== ''">
              <v-card-text class="avenir-14-reg color-text-3 pb-1">
                Kode Referal
              </v-card-text>
              <v-text-field class="card-radius" label="Kode Referal" v-on:focus="scrollUp('referal')" v-on:blur="scroll = false" solo flat v-model="referal" id="referal"></v-text-field>
            </div>
            <v-layout class="wrap-button-bottom">
              <v-btn block color="primary" depressed @click="checkFeatures().environment === 'production' ? submit() : checkReferal()" :disabled="firstname === '' || tanggal === '' || bulan === '' || tahun === '' || isdisabled">Lanjut</v-btn>
            </v-layout>
          </v-form>
          <!-- Blank box for Scrolling -->
          <div :class="scroll === true ? 'blank-box' : ''"></div>
        </v-flex>
      </v-layout>
    <!-- Dialog Referal -->
    <reusable-dialogs
      v-model="dialogReferal"
      description="Dapatkan berbagai manfaat dengan kode referal dari program dan komunitas halofina"
      title="Kode Referal"
      :image="null"
      :with-button="true">
    </reusable-dialogs>
    <!-- Dialog Description -->
    <reusable-dialogs
      v-model="dialog.isopen"
      :description="dialog.desc"
      :title="dialog.title"
      :image="dialog.title === 'Ada Kesalahan' || dialog.title === 'Data Diri' ? dialog.img : null"
      :is-image-below-title="true"
      :with-button="true"
      :resize-image="dialog.title === 'Ada Kesalahan' || dialog.title === 'Tanggal Lahir' ? true : false"
    >
    </reusable-dialogs>

    <reusable-bottom-sheet v-model="openReferal">
      <v-layout column pa-0 class="bg-primary-3 bottom-sheet-personal" slot="custom-layout">
        <v-card-text class="px-0 avenir-14-reg color-text-3 pb-1">
          Masukkan kode referal
        </v-card-text>
        <v-text-field hide-details class="card-radius" label="Kode Referal" solo flat v-model="copyReferal"></v-text-field>

        <v-layout row pt-3 class="full-width">
          <v-btn block color="primary" depressed @click="saveReferal()" :disabled="copyReferal === ''">Simpan</v-btn>
        </v-layout>
      </v-layout>
    </reusable-bottom-sheet>

  </div>
</template>

<script>
import { VTextField, VSelect, VSpacer, VToolbarTitle, VToolbar, VForm } from 'vuetify/lib'
import Api from '@/services/Api'
import ReusableBottomSheet from '@/components/reusable/ReusableBottomSheet'

// import ApiGet from '@/services/ApiGet'
import * as Sentry from '@sentry/browser'
import { VMoney } from 'v-money'
// Import date datas
import { setPullToRefresh, checkFeatures, goToDashboard } from '@/services/Helpers'

export default {
  components: {
    VTextField, VSelect, VSpacer, VToolbarTitle, VToolbar, VForm, ReusableBottomSheet
  },
  directives: { money: VMoney },
  name: 'FinacheckPersonal',
  props: ['code'],
  data () {
    return {
      openReferal: false,
      copyReferal: '',
      screenHeight: screen.height,
      scroll: false,
      fromGoogle: false,
      stepdone: false,
      dialogReferal: false,
      validation: {
        year: null,
        phone: null
      },
      rules: {
        error: 'Harus diisi',
        required: value => !!value || 'Harus diisi.',
        names: value => {
          const pattern = /[^a-zA-Z' ]/
          return !pattern.test(value) || 'Isi dengan huruf'
        },
        numbers: value => {
          const pattern = /^\d+$/
          return pattern.test(value) || 'Isi dengan angka'
        },
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Format e-mail salah'
        }
      },
      dialog: {
        isopen: false,
        desc: '',
        title: '',
        img: ''
      },
      sk: {
        isopen: false,
        title: '',
        url: ''
      },
      money: {
        thousands: '.',
        precision: 0,
        masked: true
      },
      isdisabled: true,
      firstname: '',
      phone: '',
      lastname: '',
      gender: '',
      email: '',
      birthdate: '',
      referal: '',
      religion: '',
      income: null,
      focused: false,
      tanggal: '',
      married: '',
      city: '',
      bulan: '',
      tahun: '',
      editroute: '',
      nohp: '',
      religionDatas: []
    }
  },
  watch: {
    firstname: function (value) {
      const pattern = /[^a-zA-Z' ]/
      this.firstname = value.charAt(0).toUpperCase() + value.slice(1)
      if (pattern.test(value) === true) {
        this.isdisabled = true
      } else {
        this.isdisabled = false
      }
    }
  },
  created () {
    this.stepdone = localStorage.getItem('halofina-tour-register')
    this.editroute = this.$route.params.id
    localStorage.setItem('halofina-route', '/personal')
    // this.openRegisterDialog()
    this.getReligionInfo()
    this.setPullToRefresh('false')
  },
  mounted () {
    this.getPersonalData()
  },
  methods: {
    setPullToRefresh,
    checkFeatures,
    saveReferal () {
      this.referal = this.copyReferal
      this.openReferal = false
    },
    openReferalClick () {
      this.openReferal = true
    },
    getUserDataGoogle () {
      var dataGoogle = JSON.parse(localStorage.getItem('halofina-google-user'))
      if (dataGoogle) {
        this.firstname = dataGoogle.name
      }
    },
    getPersonalData () {
      var name = JSON.parse(localStorage.getItem('halofina-name'))
      var fromGoogle = localStorage.getItem('halofina-from-google')
      var married = localStorage.getItem('halofina-married')
      if (fromGoogle) {
        this.getUserDataGoogle()
        this.fromGoogle = true
      } else {
        if (name) {
          Api('finacheck/kyc/personal', {})
            .then((res) => {
              this.firstname = res.d.fullname
              this.religion = res.d.religion_code
              this.tahun = res.d.birthdate.substr(0, 4)
              this.bulan = res.d.birthdate.substr(5, 2)
              this.tanggal = res.d.birthdate.substr(8, 2)
              this.married = !married ? null : married
            })
            .catch(() => {
              // console.log(err)
            })
          Api('finacheck/kyc/work', {})
            .then((res) => {
              this.income = res.d.monthlyincome
            })
            .catch(() => {
              this.dialogError = true
            })
        }
      }
    },
    openRegisterDialog () {
      var opened = localStorage.getItem('halofina-dialog-register')
      var self = this
      var img = require('@/assets/finacheck/kyc/register.svg')
      if (!opened) {
        setTimeout(function () {
          self.dialogs('Data Diri', 'Silahkan isi data diri kamu untuk mendapatkan rekomendasi yang sesuai', img)
        }, 1500)
      }
    },
    getReligionInfo () {
      // get religion Info
      Api('finacheck/reference/religion', {})
        .then((res) => {
          this.transformDataReligion(res.d)
        })
        .catch(() => {
          this.dialogError = true
        })
    },
    transformDataReligion (items) {
      var i = 0
      var transformedData = {}
      for (i; i < items.length; i++) {
        transformedData = {
          text: items[i].description,
          value: items[i].general_code
        }
        this.religionDatas.push(transformedData)
      }
    },
    scrollUp (id) {
      document.getElementById(id).scrollIntoView({
        behavior: 'smooth'
      })
      this.scroll = true
      this.focused = true
    },
    dialogs (title, desc, img) {
      this.dialog.isopen = true
      this.dialog.title = title
      this.dialog.desc = desc
      this.dialog.img = img
    },
    closeDialogs () {
      this.dialog.isopen = false
      localStorage.setItem('halofina-dialog-register', 1)
    },
    validateDate (year, month, _date) {
      var d = new Date(year, month - 1, _date)
      if (d.getFullYear() !== year || d.getMonth() !== (month - 1) || d.getDate() !== _date) {
        return 'invalid'
      }
      return 'valid'
    },
    trackRegistered () {
      this.$analytics.track('Account Registered')
    },
    checkReferal () {
      this.submit()
    },
    submit () {
      let email = localStorage.getItem('halofina-email')
      let data = {
        fullname: this.firstname,
        birthdate: this.tahun + '-' + this.bulan + '-' + this.tanggal,
        voucher: this.referal
      }
      let properties = {
        '$name': data.fullname,
        '$phone': data.phone,
        '$email': data.email,
        'Muslim': data.ismuslim === 1 ? 'Muslim' : 'Non Muslim',
        'Nama Awal': data.firstname,
        'Nama Akhir': data.lastname,
        'Pendapatan Bulanan': Number(data.monthlyincome).toLocaleString(['ban', 'id']),
        'Agama': data.religion,
        'Referal': data.referal,
        'JK': data.gender,
        'Tanggal Lahir': data.birthdate,
        'Tinggal': data.lived
      }
      this.isdisabled = true
      // check if birthdate valid
      var result = this.validateDate(Number(this.tahun), Number(this.bulan), Number(this.tanggal))
      if (result === 'invalid') {
        this.dialogs('Tanggal Lahir', 'Tanggal lahir kamu tidak masuk kalender!')
        this.isdisabled = false
        return
      }
      // access API
      Api('finacheck/kyc/user/data/fill', {...data}).then((res) => {
        localStorage.setItem('halofina-income', data.monthlyincome)
        localStorage.setItem('halofina-married', data.married)
        localStorage.setItem('halofina-ismuslim', data.ismuslim)
        localStorage.setItem('halofina-yearbirth', data.tahun)
        localStorage.setItem('halofina-name', JSON.stringify(data.fullname))
        this.$analytics.setIdentify(email)
        this.$analytics.userProperties(properties)
        this.trackRegistered()
        this.addSentryUserContext()
        this.setConversionDataToProperties()
        this.setFcmToken()
        this.editPhone()
        goToDashboard('lifeplan', 'assign')
      })
        .catch((err) => {
          this.isdisabled = false
          this.dialogs('Ada Kesalahan', err.m, '')
        })
    },
    editPhone () {
      if (this.fromGoogle === true) {
        Api('finacheck/kyc/personal/edit', {
          phone: this.phone
        }).then().catch((err) => console.log(err))
      }
    },
    addSentryUserContext () {
      Sentry.configureScope((scope) => {
        scope.setUser({
          'phone': this.phone,
          'name': this.name
        })
      })
    },
    setConversionDataToProperties () {
      var phone = localStorage.getItem('halofina-phone')
      var email = localStorage.getItem('halofina-email')
      var conversion = JSON.parse(localStorage.getItem('halofina-conversion-data'))
      this.$analytics.userProperties({
        '$phone': phone,
        '$email': email,
        ...conversion
      })
    },
    setFcmToken () {
      var fcmToken = localStorage.getItem('halofina-fcm-token')
      if (fcmToken) {
        Api('notification/savetoken', {
          token: fcmToken
        }).then(() => {
          // console.log(res)
        }).catch(() => {
          // console.log(err)
        })
      }
    }
  }
}
</script>

<style lang="sass">
  .bottom-sheet-personal
    .v-input__slot
      border-radius: 4px !important
      border: 1px solid #E8EAEF
      background-color: #FFF !important

  .finacheck-kyc-register
    *
      padding: 0
      margin: 0

    .wrap-button-bottom
      position: absolute
      width: 100%
      bottom: 0
      left: 0

      .v-btn
        height: 56px !important

    .v-input__slot
      border-radius: 4px !important
      border: 1px solid #E8EAEF
      background-color: #FFF !important

    .v-text-field.v-text-field--enclosed .v-text-field__details
      padding-top: 8px !important
      padding-left: 0 !important

    .v-toolbar
      position: relative

    .jenis-kelamin
      margin-top: 0

    .finacheck-kyc-register .v-divider
      margin: 5px

    .finacheck-kyc-register .v-btn
      margin: 0px

    .scroll-ios
      -webkit-overflow-scrolling: touch
      overflow-y: scroll
      position: fixed
      right: 0
      top: 0
      bottom: 0
      left: 0

    .scroll-ios iframe
      width: 100%
      height: 100%

    .input-incomes
      padding: 6px 13px
      font-size: 14px
      border-bottom-right-radius: 8px
      border-top-right-radius: 8px

    .input-register
      padding: 6px 13px
      font-size: 14px
      border-radius: 8px

    .span
      font-size: 14px
      color: gray
      padding: 9.5px 13px
      padding-right: 0px
      border-bottom-left-radius: 8px
      border-top-left-radius: 8px
      background-color: #f6f8fa

    .popup-button
      float: right
      margin: 0px
      width: 32px !important
      height: 32px !important

    .mtn-15
      margin-top: -15px

    .v-text-field--solo .v-input__slot, .theme--light .v-text-field--solo .v-input__slot
      border-radius: 6px !important

</style>
