<template>
  <div class="finacheck-kyc-choose min-height">
    <reusable-toolbar page-name="Choose Page" :is-title-visible="false"></reusable-toolbar>
    <v-container class="toolbar-margin" pa-0>
      <v-layout column align-center justify-center class="min-height bg-primary-3 disable-vertical-scrolling">
        <img src="@/assets/finacheck/login/email.svg" style="margin-bottom: 100px"/>
        <v-flex class="full-width">
          <v-layout row class="full-width pa-3">
            <v-flex xs6 mr-2>
              <v-btn color="primary" block outline @click.native="$router.push('/login/email')">Masuk</v-btn>
            </v-flex>
            <v-flex xs6 ml-2>
              <v-btn color="primary" block @click.native="$router.push('/signup/v2')" depressed>Daftar</v-btn>
            </v-flex>
          </v-layout>
          <v-layout row class="full-width px-3">
            <v-flex xs12>
              <reusable-google-button @done="signGoogle">
                <img :src="require('@/assets/others/google.svg')" class="mr-2"/>Masuk dengan Google
              </reusable-google-button>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import {
  VImg
} from 'vuetify/lib'
import ReusableGoogleButton from '@/components/reusable/ReusableGoogleButton'

export default {
  name: 'TheChoosePage',
  components: {
    VImg,
    ReusableGoogleButton
  },
  methods: {
    signGoogle (googleData) {
      console.log(googleData)
    }
  }
}
</script>

<style>

</style>
