<template>
  <div class="analysis">
    <v-layout row  class="bg-primary-3 pt-4 px-3">
      <v-flex xs6 class="pb-4">
        <span class="avenir-12-reg">Nilai Saat Ini</span> <br />
        <span class="nexa-14-bold">Rp 49.500.000,21</span>
      </v-flex>
      <v-flex xs6 class="pb-4">
        <span class="avenir-12-reg">Pertumbuhan</span> <br />
        <span class="nexa-14-bold"><img src="@/assets/finavest/portfolio/arrow_up_success.svg" alt="arrow up success"> 0,22% </span>
      </v-flex>
    </v-layout>

    <v-layout row class="bg-primary-3 px-3 pb-3 border-bottom-card">
      <v-flex xs6>
        <span class="avenir-12-reg">Modal Beli</span> <br />
        <span class="avenir-12-reg">Rp 49.000.000,00</span>
      </v-flex>
      <v-flex xs6>
        <span class="avenir-12-reg">Potensi Laba/Rugi</span> <br />
        <span class="avenir-12-reg">Rp 500.000,21</span>
      </v-flex>
    </v-layout>


    <!-- grafik comparison modal -->

    <v-layout row class="bg-primary-3" mt-2>
      <v-flex xs12 class="pt-4 px-3">
        <v-card-text class="avenir-12-med-bold">
          Grafik Perbandingan Modal
        </v-card-text>
      </v-flex>
    </v-layout>

    <v-layout row class="bg-primary-3">
      <v-flex xs12 class="pt-3 text-xs-right mr-3">
        <span class="color-denotive avenir-12-med-bold  mr-1"><img src="@/assets/finavest/portfolio/blue_dot.svg" class="mr-2 mb-n-1" alt="blue dot">Dengan Investasi</span>
        <span class="color-red avenir-12-med-bold "><img src="@/assets/finavest/portfolio/red_dot.svg" class="mr-2 mb-n-1" alt="red dot">Hanya Tabungan</span>
      </v-flex>
    </v-layout>

    <div class="high-chart">
      <vue-highcharts :highcharts="Highcharts" :options="options" ref="emasBuyChart"></vue-highcharts>
    </div>

  </div>
</template>
<script>
// Import highstock highchart
import VueHighcharts from 'vue2-highcharts'
import Highcharts from 'highcharts/highstock'
// Import Api
import Api from '@/services/Api'
import { dateFormat, numberingNumber } from '@/services/Helpers'

export default {
  components: {
    VueHighcharts
  },
  data () {
    return {
      dataAll: [],
      Highcharts: Highcharts,
      dataChart: [],
      options: {
        responsive: {
          rules: [{
            condition: {
              maxWidth: null
            },
            chartOptions: {
              chart: {
                height: 270,
                marginBottom: 40
              },
              subtitle: {
                text: null
              },
              navigator: {
                enabled: false
              }
            }
          }]
        },
        credits: {
          enabled: false
        },
        scrollbar: {
          enabled: false
        },
        navigator: {
          enabled: false
        },
        tooltip: {
          backgroundColor: null,
          useHTML: true,
          borderWidth: 0,
          shadow: false,
          formatter: function () {
            return ['<div style="position: relative; background: #fff; color: #B3B7C6; font-size: 10px;"><div style="width: 0; height: 0; border: 0 solid transparent; border-right-width: 6px; border-left-width: 6px; border-bottom: 9px solid #B3B7C6; position: absolute; top: -15px; left: 50%; transform: translateX(-50%)"></div> ' + dateFormat(new Date(this.x * 1), 'D-MMM-YYYY') + '</div>'].concat(
              this.points.map(function (point) {
                return '<div class="ceki" style="background: #fff; color:' + point.series.color + '; font-size: 12px; font-weight: bold; border: 2px solid  ' + point.series.color + '; border-radius: 10px; box-shadow: 0px 6px 10px rgba(23, 23, 23, 0.05); padding: 8px 10px; letter-spacing: 0; text-align: center"> Rp ' + numberingNumber(point.y) + '</div>'
                // return '<b style="color: ' + point.series.color + '">Rp ' + numberingNumber(point.y) + '</b>'
              })
            )
          },
          split: true
        },
        rangeSelector: {
          verticalAlign: 'bottom',
          buttonPosition: {
            align: 'center',
            x: -15,
            y: 0,
            padding: 0
          },
          labelStyle: {
            display: 'none'
          },
          buttons: [{
            type: 'day',
            count: 7,
            text: '7 Hri'
          }, {
            type: 'month',
            count: 1,
            text: '1 Bln'
          }, {
            type: 'month',
            count: 3,
            text: '3 Bln'
          }, {
            type: 'month',
            count: 6,
            text: '6 Bln'
          }, {
            type: 'year',
            count: 1,
            text: '1 Thn'
          }],
          buttonTheme: {
            fill: '#F6F6F7',
            width: 50,
            r: 3,
            padding: 4,
            style: {
              fontSize: 12,
              color: '#2C3B50',
              fontWeight: 'regular'
            },
            states: {
              select: {
                fill: '#42A5F5',
                style: {
                  color: '#FFFFFF',
                  fontWeight: 'bold'
                }
              }
            }
          },
          selected: 0,
          inputEnabled: false
        },
        xAxis: {
          gridLineWidth: 1,
          gridLineDashStyle: 'longdash',
          labels: {
            formatter: function () {
              return ''
            },
            style: {
              color: '#AAADC4',
              fontSize: 12
            }
          },
          crosshair: false
        },
        yAxis: {
          gridLineColor: '#E9ECF0',
          gridLineWidth: 2,
          min: null,
          opposite: false,
          crosshair: false,
          labels: {
            formatter: function () {
              return this.value.toString().substr(0, 3) + 'Rb'
            },
            style: {
              color: '#AAADC4',
              fontSize: 12
            }
          }
        },
        plotOptions: {
          series: {
            fillOpacity: 0.1
          }
        },
        series: []
      }
    }
  },
  methods: {
    setDataToChart (item) {
      var data = []
      var data2 = []
      var upperBound = item.length
      var charts = this.$refs.emasBuyChart
      for (var i = 0; i < upperBound; i++) {
        data.push([Number(item[i].price_time), Number(item[i].buy_price)])
        data2.push([Number(item[i].price_time), Number(item[i].sell_price)])
      }
      var min = Math.min.apply(Math, item.map(function (o) { return o.sell_price }))
      charts.delegateMethod('showLoading', 'Memuat...')
      charts.delegateMethod('update', ({
        yAxis: {
          min: min
        }
      }))
      charts.addSeries({
        type: 'areaspline',
        name: 'invest',
        data: data,
        shadow: false,
        color: '#388BF2',
        fillColor: {
          linearGradient: { x1: 0, x2: 0, y1: 0, y2: 0 },
          stops: [
            [0, Highcharts.Color('#BBDDFF').setOpacity(0.3).get('rgba')],
            [1, Highcharts.Color('#FFFFFF').setOpacity(0.1).get('rgba')]
          ]
        }
      })
      // data 2
      charts.addSeries({
        type: 'areaspline',
        name: 'notinvest',
        data: data2,
        shadow: false,
        color: '#EB5757',
        fillColor: {
          linearGradient: { x1: 0, x2: 0, y1: 0, y2: 0 },
          stops: [
            [0, Highcharts.Color('#BBDDFF').setOpacity(0.3).get('rgba')],
            [1, Highcharts.Color('#FFFFFF').setOpacity(0.1).get('rgba')]
          ]
        }
      })
      this.doneLoading = true
      charts.hideLoading()
    },
    fetchData () {
      Api('finavest/investment/product/price/history', {
        productid: 1
      })
        .then((res) => {
          this.setDataToChart(res.d)
          this.dataAll = res.d
        }).catch(() => {
          // Do something
        })
    }
  },
  created () {
    this.fetchData()
  }
}
</script>
<style lang="sass">
  .ceki
    margin-top: -13px

  .analysis
    .color-red
      color: #EB5757

    .mb-n-1
      margin-bottom: -1px

    .blank-box
      width: 100%
      height: 50px
      background: white

    .tooltip-tgl
      font-size: 10px !important
      color: #AAADC4 !important

    .color-abu
      color: #9B9EB3

    .tooltip-custom
      background: #fff
      color: #42A5F5
      font-size: 12px
      border: 2px solid #42A5F5
      border-radius: 10px
      box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.12)
      padding: 8px 10px
      letter-spacing: 0
      text-align: center

    .vue-highcharts
      margin: 0 auto !important
      border: none !important
      box-shadow: 0 0 0 rgba(255, 255, 255, 0) !important
      padding: 0 !important
</style>
