<template>
  <div class="portfolio-dashboard">

    <!-- Total -->
    <v-layout column class="bg-primary-3 text-xs-center total-saldo" pt-2 pb-3>
      <v-flex xs12 class="nexa-16-bold pt-1">
        Total Saldo
      </v-flex>
      <v-flex xs12 class="avenir-14-reg">
        Rp 49.500.000,21
      </v-flex>
    </v-layout>

    <!-- Grafik -->

    <v-layout row class="bg-primary-3 grafik-wrapper" pb-3 align-center id="grafik-wrapper">
      <v-flex xs7 class="nexa-16-bold pt-1 text-xs-right">
        <vue-high-chart class="my-0 pa-0 center-horizontal" classname="highcharts" style="height: 180px" :options="piePortfolioOptions.pieWithAsset" ref="pieChartWithAsset"></vue-high-chart>
      </v-flex>
      <v-flex xs5 class="avenir-14-reg">
        <div class="color-pasar-uang pb-1">
          <div class="border-left mr-2"></div>
          <span class="avenir-10-med color-grey">Reksa Dana</span> <br />
          <span class="avenir-12-reg">Pasar Uang</span>
        </div>
        <div class="color-tetap pb-1">
          <div class="border-left mr-2"></div>
          <span class="avenir-10-med color-grey">Reksa Dana</span> <br />
          <span class="avenir-12-reg">Pendapatan Tetap</span>
        </div>
        <div class="color-saham pb-1">
          <div class="border-left mr-2"></div>
          <span class="avenir-10-med color-grey">Reksa Dana</span> <br />
          <span class="avenir-12-reg">Saham</span>
        </div>
        <div class="color-emas pb-1">
          <div class="border-left mr-2"></div>
          <span class="avenir-10-med color-grey">Logam Mulia</span> <br />
          <span class="avenir-12-reg">Emas</span>
        </div>
      </v-flex>
    </v-layout>

    <v-layout row class="bg-primary-3 pb-3 pt-2 border-bottom-card target-allocation mb-3" id="target-allocation">
      <v-flex xs12 class="avenir-14-med color-denotive text-xs-center">
        Lihat Target Alokasi
        <img src="@/assets/finavest/portfolio/chevron_right_blue.svg" alt="chevron right" class="icon-chevron-right">
      </v-flex>
    </v-layout>

    <!-- card chart product money -->
    <v-layout row align-center pa-3 mb-3 mx-3 class="bg-primary-3 cart-product-money" id="cart-product-money" @click="routeToallocationtarget()">
      <img class="img-left mr-3" src="@/assets/finavest/portfolio/icon_cart.svg" alt="icon cart">
      <div class="desc">
        <div class="title-chart avenir-14-med color-denotive">Belanja Produk Keuangan</div>
        <div class="sub-title avenir-12-reg">Beli reksa dana, emas, obligasi, di sini.</div>
      </div>
      <img src="@/assets/finavest/portfolio/chevron_right_blue_rounded.svg" alt="chevron right" class="icon-right">
    </v-layout>


    <!-- analisa and asset -->
    <v-layout row wrap>
      <v-flex xs12>
        <v-tabs centered grow class="tabs-portfolio">
          <!-- Tab Title -->
          <v-tab active-class="active-tab">
            Analisa
          </v-tab>
          <v-tab active-class="active-tab">
            Aset Kamu
          </v-tab>
          <!-- analysis -->
          <v-tab-item>
            <analysis></analysis>
          </v-tab-item>
          <!-- my asset -->
          <v-tab-item>
            <my-asset></my-asset>
          </v-tab-item>
        </v-tabs>
      </v-flex>
    </v-layout>


  </div>
</template>
<script>

// Import vuetify
import {
  VTabs,
  VTab,
  VTabItem
} from 'vuetify/lib'

import * as $ from 'jquery'

import VueHighChart from 'vue2-highcharts'

const Analysis = () => import('./Analysis')
const MyAsset = () => import('./MyAsset')

export default {
  components: {
    VTabs,
    VTab,
    VTabItem,
    Analysis,
    MyAsset,
    VueHighChart
  },
  data: () => ({
    piePortfolioOptions: {
      pieWithAsset: {
        chart: {
          type: 'pie'
        },
        credits: {
          enabled: false
        },
        plotOptions: {
          series: {
            dataLabels: {
              enabled: true,
              format: '{point.y}%',
              distance: -20,
              fontSize: 10,
              style: {
                color: 'white',
                fontWeight: 'normal',
                textShadow: false,
                textOutline: false,
                fontSize: 10
              }
            }
          }
        },
        size: '100%',
        colors: ['#10CF99', '#42A5F5', '#EF5350', '#FFB300'],
        title: false,
        yAxis: {
          title: false
        },
        series: [
          {
            name: 'Target allocation',
            innerSize: '25%',
            colorByPoint: true,
            data: [
              {
                name: 'Pasar Uang',
                y: 10
              },
              {
                name: 'Pendapatan Tetap',
                y: 20
              },
              {
                name: 'Saham',
                y: 30
              },
              {
                name: 'Emas',
                y: 40
              }
            ]
          }
        ]
      }
    }
  }),
  methods: {
    hideCartCard () {
      $(window).scroll(function () {
        var wScroll = $(this).scrollTop()
        if (wScroll > $('#target-allocation').offset().top - 0) {
          $('.cart-product-money').css({'display': 'none'})
          // $('.grafik-wrapper').css({'display': 'none'})
          // $('.target-allocation').css({'display': 'none'})
          // $('.total-saldo').css({'margin-bottom': '8px'})
        } else {
          $('.cart-product-money').css({'display': 'flex'})
          // $('.grafik-wrapper').css({'display': 'flex'})
          // $('.target-allocation').css({'display': 'flex'})
          // $('.total-saldo').css({'margin-bottom': '0'})
        }
      })
    },
    routeToallocationtarget () {
      this.$router.push('/finavest/portfolio/allocation_target')
    }
  },
  mounted () {
    this.hideCartCard()
  }
}
</script>
<style lang="sass">
  .portfolio-dashboard

    .v-tabs__item
      opacity: 1
      color: #AAADC4
      font-weight: 100

    .v-tabs__item.active-tab
      color: #42A5F5
      opacity: 1
      font-weight: bold

    .v-tabs__slider-wrapper
      width: 100%/2 !important

    *
      padding: 0
      margin: 0

    .color-denotive
      color: #388BF2

    .border-bottom-card
      border-bottom: 1px solid #F2F2F2

    .color-grey
      color: #A0A5B7

    .grafik-wrapper
      .border-left
        width: 4px
        height: 32px
        float: left
        border-radius: 2px

    .color-pasar-uang
      .border-left
        background: #10CF99
        margin-top: 5px

    .color-tetap
      .border-left
        background: #42A5F5
        margin-top: 5px

    .color-saham
      .border-left
        background: #EF5350
        margin-top: 5px

    .color-emas
      .border-left
        background: #FFB300
        margin-top: 5px

    .icon-chevron-right
      margin-bottom: -3px
      margin-left: 5px

    .cart-product-money
      box-shadow: 0px 6px 10px rgba(23, 23, 23, 0.05)
      border-radius: 8px
      position: relative

      .img-left
        float: left

      .desc
        .sub-title
          color: #A0A5B7

      .icon-right
        position: absolute
        right: 16px



</style>
