<template>
  <div class="finavest-dashboard-portfolio">
    <!-- Layout Assets -->
  <!-- asset Null -->
  <div style="background-color:white; padding-top: 54px;" class="full-height" v-if="portfolioAccumulation === null || Number(portfolioAccumulation.total.grand_total_initial) === 0">
    <div class="px-4">
      <img src="../../../assets/finavest/portfolio/lifeplannull.svg" style="width:100%; height: 240px;" alt="Lifeplann Null">
      <v-card-text class="nexa-20-bold text-xs-center"> kamu belum punya aset </v-card-text>
      <v-card-text class="avenir-14-reg text-xs-center pt-0 pb-4 px-3">Buat lifeplan, tambah tabungan, pantau pertumbuhan tabungan kamu disini</v-card-text>
      <v-btn depressed @click.native="$router.push('/finavest/lifeplan/add/edit')" color="primary" block small class="btn-radius box-shadow">Buka Lifeplan kamu</v-btn>
    </div>
    <div class="blank"></div>
  </div>
  <!-- asset Not Null -->
  <div v-else>
    <v-layout class="bg-primary-3 con-layout-header card-shadow box-shadow pb-0" column>
      <v-layout column class="card-shadow box-shadow layout-recommendation gradient" style="border-radius: 0px !important">
        <v-layout row justify-center align-center>
          <!-- Amount Information -->
          <v-flex xs12 px-3>
            <v-card-text class="avenir-12-reg color-primary-3 text-align-center pa-0">Total Nilai Saat Ini</v-card-text>
            <v-card-text class="text-align-center sumTotal pa-0">Rp {{ numberingNumber(Number(portfolioAccumulation.total.grand_total_current), true) }}</v-card-text>
          </v-flex>
        </v-layout>
      </v-layout>
      <!-- Laba Information -->
      <v-layout row class="pb-1 pt-2 px-3">
        <v-flex xs-6>
          <v-card-text style="color: #9B9EB3" class="avenir-12-reg pa-0 pt-1">Modal Beli</v-card-text>
          <v-card-text style="color: #9B9EB3" class="avenir-12-reg pa-0 pt-1">Potensi Laba/Rugi</v-card-text>
          <v-card-text style="color: #9B9EB3" class="avenir-12-reg pa-0 pt-1">Pertumbuhan</v-card-text>
        </v-flex>
        <v-flex xs-6>
          <v-layout align-center justify-end row class="avenir-12-med text-align-right pa-0 pt-1">Rp {{ numberingNumber(portfolioAccumulation.total.grand_total_initial, true) }}</v-layout>
          <v-layout align-center justify-end row class="avenir-12-med text-align-right pa-0 pt-1">Rp {{ numberingNumber(portfolioAccumulation.total.grand_gain_loss, true) }}</v-layout>
          <!-- if -->
          <v-layout align-center justify-end row class="avenir-10-med text-align-right pa-0 pt-2px" v-if="portfolioAccumulation.total.grand_gain_loss_percentage < 0">
            <v-icon class="color-system-error" style="margin-top: -2px">arrow_drop_down</v-icon>
            <div style="float: right; margin-top: -2px;" class="avenir-10-med">{{numberingNumber(roundUp(portfolioAccumulation.total.grand_gain_loss_percentage, 2), true)}}%</div>
          </v-layout>
          <!-- else if -->
          <v-layout align-center justify-end row class="avenir-10-med text-align-right pa-0 pt-2px" v-else-if="portfolioAccumulation.total.grand_gain_loss_percentage > 0">
            <v-icon class="color-system-success">arrow_drop_up</v-icon>
            <div style="float: right; margin-top: 2px;" class="avenir-10-med">{{numberingNumber(roundUp(portfolioAccumulation.total.grand_gain_loss_percentage, 2), true)}}%</div>
          </v-layout>
          <!-- else -->
          <v-layout align-center justify-end row class="avenir-10-med text-align-right pa-0 pt-1" v-else>
            <div style="float: right; margin-top: 2px;" class="avenir-10-med">{{numberingNumber(roundUp(portfolioAccumulation.total.grand_gain_loss_percentage, 2), true)}}%</div>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-layout>

      <!-- Alokasi Dana -->
      <v-container pa-2>
        <v-layout column style="margin-top: 0px">
          <v-flex xs12>
            <v-layout row align-center text-align-center mx-3 mt-4>
              <v-card-text class="pa-0 pb-2 color-secondary-5 avenir-14-med">Alokasi Dana</v-card-text>
            </v-layout>
            <!-- Card Chart -->
            <reusable-cards style="margin-bottom: 0px !important; padding-top: 0px !important; padding-bottom: 0px !important;" :chart-class-boolean="true">
            <!-- Chart Layout -->
              <v-layout slot="custom-layout" row align-center justify-center pt-1>
                <!-- Chart -->
                <v-flex xs6 align-center justify-center>
                  <!-- If user has no asset -->
                  <vue-high-chart v-if="portfolioAccumulation.asset.length === 0" class="my-0 pa-0 center-horizontal" classname="highcharts" style="height: 100px" :options="piePortfolioOptions.pieNoAsset" ref="pieChartNoAsset"></vue-high-chart>
                  <!-- If user has asset -->
                  <vue-high-chart v-else class="my-0 pa-0 center-horizontal" classname="highcharts" style="height: 150px" :options="piePortfolioOptions.pieWithAsset" ref="pieChartWithAsset"></vue-high-chart>
                </v-flex>
                <!-- Chart Details -->
                <v-flex xs6>
                  <div v-for="details in portfolioDetail" :key="details.name">
                    <v-layout row class="my-2" v-if="details.percentage > 0">
                      <v-flex v-if="details.name === 'Reksadana Saham'" class="circle circle-saham ml-0 mr-2"></v-flex>
                      <v-flex v-if="details.name === 'Reksadana Campuran'" class="circle circle-campuran ml-0 mr-2"></v-flex>
                      <v-flex v-if="details.name === 'Emas'" class="circle circle-emas ml-0 mr-2"></v-flex>
                      <v-flex v-if="details.name === 'Reksadana Pendapatan Tetap'" class="circle circle-tetap ml-0 mr-2"></v-flex>
                      <v-flex v-if="details.name === 'Reksadana Pasar Uang'" class="circle circle-uang ml-0 mr-2"></v-flex>
                      <div class="avenir-12-med" v-if="details.name === 'Emas'">{{ details.name }}</div>
                      <div class="avenir-12-med" v-if="details.name.substring(0,9) === 'Reksadana'"> R. D. {{ details.name.slice(10) }}</div>
                      <v-spacer></v-spacer>
                      <div class="avenir-14-med">{{ details.percentage }}%</div>
                    </v-layout>
                  </div>
                </v-flex>
              </v-layout>
            </reusable-cards>
          </v-flex>
        </v-layout>
      </v-container>

      <!-- Portfolio Perlifeplan -->

      <!-- App Layout -->
      <v-container pa-0 px-2>
        <v-layout column style="margin-top: 0px">
          <v-flex xs12>
            <v-layout row align-center text-align-center mx-3 mt-4>
              <v-card-text class="pa-0 pb-2 color-secondary-5 avenir-14-med">Portofolio Per Lifeplan</v-card-text>
            </v-layout>

            <!-- Card -->
            <div v-for="(portfolio, index) in portfolioAccumulation.lifeplan" :key="index">
              <!-- <div @click="routeToDetailLifeplan(portfolio.id)"> -->
              <div @click="routeToDetailLifeplan(portfolio.id)" v-if="(Number(portfolio.grand_total_amount) + Number(portfolio.grand_pending_amount)) > 0">
                <reusable-cards
                  :card-title="portfolio.subtype ? portfolio.subtype : portfolio.type"
                  :card-description="'Rp ' + numberingNumber(portfolio.grand_total_current, true)"
                  :use-padding-for-section-item="true"
                  class-title="avenir-12-med pa-0 text-capitalize"
                  class-description="nexa-14-bold pa-0"
                >
                <div class="mr-3" slot="title-layout-image">
                  <reusable-image-lifeplan :type="portfolio.type"></reusable-image-lifeplan>
                </div>
                <!-- if > 0 -->
                <v-layout slot="menu-layout" align-center justify-end row v-if="roundUp(Number(portfolio.grand_gain_loss_percentage), 2) > 0">
                  <v-icon class="color-system-success">arrow_drop_up</v-icon>
                  <v-card-text class="avenir-12-med pa-0 text-align-center" style="width: 20px">{{numberingNumber(roundUp(Number(portfolio.grand_gain_loss_percentage), 2), true)}}<span>%</span></v-card-text>
                  <v-icon class="pl-35">chevron_right</v-icon>
                </v-layout>
                <!-- if < 0 -->
                <v-layout slot="menu-layout" align-center justify-end row v-else-if="roundUp(Number(portfolio.grand_gain_loss_percentage), 2) < 0">
                  <v-icon class="color-system-error">arrow_drop_down</v-icon>
                  <v-card-text class="avenir-12-med pa-0 text-align-center" style="width: 20px">{{numberingNumber(roundUp(Number(portfolio.grand_gain_loss_percentage), 2), true)}}<span>%</span></v-card-text>
                  <v-icon class="pl-35">chevron_right</v-icon>
                </v-layout>
                <!-- else (null) -->
                <v-layout slot="menu-layout" align-center justify-end row v-else>
                  <v-card-text class="avenir-12-med pa-0 text-align-center" style="width: 20px"></v-card-text>
                  <v-icon class="pl-35">chevron_right</v-icon>
                </v-layout>
                </reusable-cards>
              </div>
            </div>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
  </div>
</template>
<script>
// Import functions in helpers
import { numberingNumber, dateFormat, roundUp } from '@/services/Helpers'
// Reusable Components
import ReusableCards from '../../reusable/ReusableCards.vue'
import ReusableImageLifeplan from '../../reusable/ReusableImageLifeplan.vue'
import VueHighChart from 'vue2-highcharts'
// Import Vuetify
import { VSpacer } from 'vuetify/lib'

export default {
  name: 'PortfolioDashboard',
  components: { ReusableCards, VueHighChart, ReusableImageLifeplan, VSpacer },
  props: {
    portfolioAccumulation: {
      type: Object
    }
  },
  data () {
    return {
      totalDashboard: {
        modalBeli: this.portfolioAccumulation.total.grand_sum_amount,
        persen: this.portfolioAccumulation.total.grand_gain_loss / this.portfolioAccumulation.total.grand_sum_amount * 100,
        labaRugi: this.portfolioAccumulation.total.grand_gain_loss
      },
      displayDate: new Date(),
      portfolioTransformedData: [],
      portfolioDetail: [],
      piePortfolioOptions: {
        pieWithAsset: {
          chart: {
            backgroundColor: 'transparent',
            type: 'pie'
          },
          colors: [],
          title: false,
          yAxis: {
            title: false
          },
          plotOptions: {
            pie: {
              innerSize: 50,
              shadow: false,
              dataLabels: {
                enabled: false
              }
            }
          },
          series: [],
          credits: {
            enabled: false
          }
        },
        pieNoAsset: {
          chart: {
            backgroundColor: 'transparent',
            type: 'pie'
          },
          colors: ['#e9ecf0'],
          title: false,
          yAxis: {
            title: false
          },
          plotOptions: {
            series: {
              enableMouseTracking: false
            },
            pie: {
              innerSize: 50,
              shadow: false,
              dataLabels: {
                enabled: false
              }
            }
          },
          series: [],
          credits: {
            enabled: false
          }
        }
      }
    }
  },
  methods: {
    numberingNumber,
    dateFormat,
    roundUp,
    routeToDetailLifeplan (id) {
      this.$router.push('/finavest/portfolio/detail/' + id)
    },
    setDataForChart (item) {
      let total = this.portfolioAccumulation.total.grand_total_current
      let rdtetap = 0
      let rduang = 0
      let emas = 0
      let rdcampuran = 0
      let rdsaham = 0
      // Loop for asset overall amount
      for (let i = 0; i < item.length; i++) {
        switch (item[i].name) {
          case 'Reksadana Pendapatan Tetap':
            rdtetap += parseInt(item[i].grand_total_current)
            break
          case 'Reksadana Saham':
            rdsaham += parseInt(item[i].grand_total_current)
            break
          case 'Reksadana Campuran':
            rdcampuran += parseInt(item[i].grand_total_current)
            break
          case 'Reksadana Pasar Uang':
            rduang += parseInt(item[i].grand_total_current)
            break
          case 'Emas':
            emas += parseInt(item[i].grand_total_current)
            break
        }
      }

      rdtetap = Math.round((rdtetap / total) * 100)
      rduang = Math.round((rduang / total) * 100)
      rdcampuran = Math.round((rdcampuran / total) * 100)
      rdsaham = Math.round((rdsaham / total) * 100)
      emas = Math.round((emas / total) * 100)

      var maxAssets = Math.max(rdtetap, rduang, rdcampuran, rdsaham, emas)
      if ((rdtetap + rduang + rdcampuran + rdsaham + emas) === 99) {
        if (rdtetap === maxAssets) {
          rdtetap += 1
        }
        if (rduang === maxAssets) {
          rduang += 1
        }
        if (rdcampuran === maxAssets) {
          rdcampuran += 1
        }
        if (rdsaham === maxAssets) {
          rdsaham += 1
        }
        if (emas === maxAssets) {
          emas += 1
        }
      } else if ((rdtetap + rduang + rdcampuran + rdsaham + emas) === 101) {
        if (rdtetap === maxAssets) {
          rdtetap -= 1
        }
        if (rduang === maxAssets) {
          rduang -= 1
        }
        if (rdcampuran === maxAssets) {
          rdcampuran -= 1
        }
        if (rdsaham === maxAssets) {
          rdsaham -= 1
        }
        if (emas === maxAssets) {
          emas -= 1
        }
      }

      this.portfolioDetail.push({percentage: rduang, name: 'Reksadana Pasar Uang'})
      this.portfolioDetail.push({percentage: rdtetap, name: 'Reksadana Pendapatan Tetap'})
      this.portfolioDetail.push({percentage: rdcampuran, name: 'Reksadana Campuran'})
      this.portfolioDetail.push({percentage: emas, name: 'Emas'})
      this.portfolioDetail.push({percentage: rdsaham, name: 'Reksadana Saham'})
      // call load chart function
      setTimeout(() => {
        this.loadChart(rdsaham, rdcampuran, emas, rdtetap, rduang, total)
      }, 1000)
    },
    loadChart (rdsaham, rdcampuran, emas, rdtetap, rduang, total) {
      let series = []
      if (this.portfolioAccumulation.asset.length === 0) {
        this.$refs.pieChartNoAsset.addSeries({
          name: 'Belum ada aset',
          data: [{
            y: 10,
            name: 'belum ada aset'
          }],
          size: '72%'
        })
      } else {
        series.push({
          y: parseFloat(rdsaham),
          name: 'Saham'
        })

        series.push({
          y: parseFloat(rdcampuran),
          name: 'Campuran'
        })

        series.push({
          y: parseFloat(emas),
          name: 'Emas'
        })

        series.push({
          y: parseFloat(rdtetap),
          name: 'Pendapatan Tetap'
        })

        series.push({
          y: parseFloat(rduang),
          name: 'Pasar Uang'
        })
        this.$refs.pieChartWithAsset.addSeries({
          name: 'Persentase',
          data: series,
          size: '72%',
          colors: ['#EF5350', '#9575CD', '#FFB300', '#42A5F5', '#10CF99']
        })
      }
    },
    trackPage () {
      this.$analytics.track('Portfolio Dashboard Viewed')
    },
    buttonRouting (id) {
      this.$router.push('/finavest/portfolio/product/detail/' + id + '/' + false)
    },
    menuRouting (id) {
      this.$router.push('/finavest/investment/sell/product/' + id)
    }
  },
  created () {
    this.setDataForChart(this.portfolioAccumulation.asset)
    this.trackPage()
  }
}
</script>
<style lang="sass">
  .finavest-dashboard-portfolio
    .pl-35
      padding-left: 35px

    .pt-2px
      padding-top: 2px !important

    .blank
      width: 100%
      height: 50px
      background-color: white

    .con-layout-header
      height: auto
      position: relative
      padding-bottom: 16px

      .layout-recommendation
        width: 100%
        z-index: 1
        height: 67px

      .sumTotal
        font-family: "SFUIDisplay-Bold"
        font-size: 18px
        line-height: 24px
        color: #fff

</style>
