<template>
  <div class="finavest-detail-portfolio">
    <!-- Toolbar -->
    <reusable-toolbar page-name="Portofolio Lifeplan"></reusable-toolbar>
    <div v-if="isLoading === true">
      <v-layout column class="full-height bg-primary-3" align-center justify-center>
        <reusable-loading></reusable-loading>
      </v-layout>
    </div>
    <div v-else>
      <!-- If lifeplan doesn't have assets -->
      <div v-if="productData.length <= 0 || productData === null" class="min-height bg-primary-3 toolbar-margin">
        <div class="px-4">
          <img src="../../../assets/finavest/portfolio/lifeplannull.svg" style="width:100%; height: 240px;" alt="Lifeplan Null">
          <v-card-text class="nexa-20-bold text-xs-center"> kamu belum punya aset </v-card-text>
          <v-card-text class="avenir-14-reg text-xs-center pt-0 pb-4 px-3">Buat lifeplan, tambah tabungan, pantau pertumbuhan tabungan kamu disini</v-card-text>
          <v-btn depressed @click="routeToBuyLifeplan(lifeplanid)" color="primary" block small class="btn-radius box-shadow">Tambah Tabungan</v-btn>
        </div>
      </div>
      <!-- If lifeplan has asssets -->
      <div v-else>
        <!-- Header -->
        <v-layout class="bg-primary-3 con-layout-header card-shadow box-shadow mt-5" column>
          <v-layout row align-center justify-center>
            <reusable-image-lifeplan :type="lifeplans.total.type" :style-image="null" image-height="48" image-width="48"></reusable-image-lifeplan>
          </v-layout>
          <v-layout slot="menu-layout" align-center justify-center row>
            <v-card-text class="nexa-14-bold pa-0 text-align-center pt-1 text-capitalize" style="width: auto !important" v-if="lifeplans.total.subtype">{{lifeplans.total.subtype}}</v-card-text>
            <v-card-text class="nexa-14-bold pa-0 text-align-center pt-1 text-capitalize" style="width: auto !important" v-else>{{lifeplans.total.type}}</v-card-text>
            <!-- <v-icon>chevron_right</v-icon> -->
          </v-layout>

          <v-layout row justify-center align-center pb-2>
            <!-- Amount Information -->
            <v-flex xs12>
              <v-card-text class="avenir-12-reg text-align-center pa-0 pt-3">Total Nilai Saat Ini</v-card-text>
              <v-card-text class="text-align-center nexa-16-bold sumTotal pa-0 pt-1 ls-1">Rp {{numberingNumber(Number(lifeplans.total.grand_total_current), true)}}</v-card-text>
            </v-flex>
          </v-layout>

          <!-- Laba Information -->
          <v-layout row class="py-2">
            <v-flex xs-6>
              <v-card-text style="color: #9B9EB3" class="avenir-12-reg pa-0 pt-1">Modal Beli</v-card-text>
              <v-card-text style="color: #9B9EB3" class="avenir-12-reg pa-0 pt-1">Potensi Laba/Rugi</v-card-text>
              <v-card-text style="color: #9B9EB3" class="avenir-12-reg pa-0 pt-1">Pertumbuhan</v-card-text>
            </v-flex>
            <v-flex xs-6>
              <v-card-text class="avenir-12-med text-align-right pa-0 pt-1 ls-1">Rp {{numberingNumber(lifeplans.total.grand_total_initial, true)}}</v-card-text>
              <v-card-text class="avenir-12-med text-align-right pa-0 pt-1 ls-1">Rp {{numberingNumber(lifeplans.total.grand_gain_loss, true)}}</v-card-text>
              <v-card-text class="avenir-10-med text-align-right pa-0 pt-1">
                <v-icon v-if="Number(lifeplans.total.grand_gain_loss_percentage) > 0" class="color-system-success">arrow_drop_up</v-icon>
                <v-icon v-if="Number(lifeplans.total.grand_gain_loss_percentage) < 0" class="color-system-error">arrow_drop_down</v-icon>
                <v-icon v-if="Number(lifeplans.total.grand_gain_loss_percentage) === 0"></v-icon>
                <div style="float: right; margin-top: 2px;" class="ls-1">{{numberingNumber(Number(lifeplans.total.grand_gain_loss_percentage), true)}}%</div>
              </v-card-text>
            </v-flex>
          </v-layout>

          <!-- Button Jual & Beli -->
          <v-layout row justify-center align-center pb-3 pt-3>
            <v-flex xs-6 text-xs-center style="position: relative">
              <img src="@/assets/finavest/portfolio/jual.svg"/>
              <v-card-text class="avenir-12-med pt-1 pa-0 text-align-center" style="width: auto !important">Jual</v-card-text>
            </v-flex>
            <v-flex xs-6 text-xs-center style="position: relative">
              <img src="@/assets/finavest/portfolio/beli.svg" @click="routeToBuyLifeplan(lifeplanid)"/>
              <v-card-text class="avenir-12-med pt-1 pa-0 text-align-center" style="width: auto !important">Beli</v-card-text>
              <div class="line-center"></div>
            </v-flex>
          </v-layout>
        </v-layout>
          <!-- Alokasi Dana -->
          <div class="" v-if="Number(lifeplans.total.grand_total_current) > 0">
            <v-container px-2 pt-0 pb-0>
              <v-layout column style="margin-top: 0px">
                <v-flex xs12>
                  <v-layout row align-center text-align-center mx-3 mt-4>
                    <v-card-text class="pa-0 pb-2 color-secondary-5 avenir-14-med">Alokasi Dana</v-card-text>
                  </v-layout>
                  <!-- Card Chart -->
                  <reusable-cards class="pl-0 pr-3" style="margin-bottom: 0px !important; padding-top: 0px !important; padding-bottom: 0px !important;" :chart-class-boolean="true">
                    <!-- Chart Layout -->
                    <v-layout slot="custom-layout" row align-center justify-center pt-1>
                      <!-- Chart -->
                      <v-flex xs6 align-center justify-center>
                        <vue-high-chart class="my-0 pa-0 center-horizontal" classname="highcharts" style="height: 150px" :options="piePortfolioOptions.pieWithAsset" ref="pieChartWithAsset"></vue-high-chart>
                      </v-flex>
                      <!-- Chart Details -->
                      <v-flex xs6>
                        <div v-for="details in portfolioDetail" :key="details.name">
                          <v-layout row v-if="details.percentage > 0" class="my-2">
                            <v-flex v-if="details.name === 'Reksadana Saham'" class="circle circle-saham ml-0 mr-2"></v-flex>
                            <v-flex v-if="details.name === 'Reksadana Campuran'" class="circle circle-campuran ml-0 mr-2"></v-flex>
                            <v-flex v-if="details.name === 'Emas'" class="circle circle-emas ml-0 mr-2"></v-flex>
                            <v-flex v-if="details.name === 'Reksadana Pendapatan Tetap'" class="circle circle-tetap ml-0 mr-2"></v-flex>
                            <v-flex v-if="details.name === 'Reksadana Pasar Uang'" class="circle circle-uang ml-0 mr-2"></v-flex>
                            <div class="avenir-12-med" v-if="details.name === 'Emas'">{{ details.name }}</div>
                            <div class="avenir-12-med" v-if="details.name.substring(0,9) === 'Reksadana'"> R. D. {{ details.name.slice(10) }}</div>
                            <v-spacer></v-spacer>
                            <div class="avenir-14-med">{{ details.percentage }}%</div>
                          </v-layout>
                        </div>
                      </v-flex>
                    </v-layout>
                  </reusable-cards>
                </v-flex>
              </v-layout>
            </v-container>
          </div>

          <!-- Produk Dimiliki -->

          <!-- App Layout -->
          <v-container px-2 pt-0>
            <v-layout column style="margin-top: 0px">
              <v-flex xs12>
                <v-layout row align-center text-align-center mx-3 mt-4>
                  <v-card-text class="pa-0 pb-2 color-secondary-5 avenir-14-med">Produk Dimiliki</v-card-text>
                </v-layout>
                <div v-for="(data, index) in productData" :key="index">
                  <reusable-cards
                    :disabled-button="data.assetname === 'Emas' ? data.total_unit === '0' : buttonBoolean[index].buttonDisabled"
                    :card-title="data.productname"
                    :card-description="data.assetname"
                    :section-datas="productDetail[index]"
                    :use-padding-for-section-item="false"
                    :item-layout-row="true"
                    :item-layout-column="false"
                    :narrow-item="false"
                    :wide-item="true"
                    :with-radius="true"
                    :with-shadow="true"
                    :with-menu="true"
                    :with-icon="true"
                    class-button="pt-2 button-cards"
                    class-title="avenir-10-med pa-0 text-capitalize"
                    class-grid="pt-1"
                    class-title-layout="mb-2"
                    button-name="Jual"
                    :with-button="true"
                    @button-function="routeToSell(lifeplanid, data.id)"
                    @layout-title-function="data.assetname === 'Emas' ? routeToProductDetailEmas(lifeplanid, data.productid, data.id, productDetail[index][3].fluctuation) : routeToProductDetail(lifeplanid, data.productid, data.id, productDetail[index][3].fluctuation)"
                  >
                  <div class="mr-3" slot="title-layout-image">
                    <img :src="data.product_image" style="width: 24px !important; heigth: 24px !important;" alt="Product Image">
                  </div>
                  </reusable-cards>
                </div>
              </v-flex>
            </v-layout>
          </v-container>
        </div>
      </div>
    </div>
</template>
<script>
// Import functions in helpers
import { numberingNumber, dateFormat } from '@/services/Helpers'
// Reusable Components
import ReusableCards from '../../reusable/ReusableCards.vue'
// Reusable Image
import ReusableImageLifeplan from '@/components/reusable/ReusableImageLifeplan.vue'
// Vue High
import VueHighChart from 'vue2-highcharts'
// Import Api
import Api from '@/services/Api'
// Import Vuetify helpers
import { VSpacer } from 'vuetify/lib'

export default {
  name: 'PortfolioDashboard',
  components: { ReusableCards, VueHighChart, ReusableImageLifeplan, VSpacer },
  data () {
    return {
      displayDate: new Date(),
      buttonDisabled: false,
      lifeplans: [],
      buttonBoolean: [],
      productData: [],
      productDetail: [],
      portfolioDetail: [],
      alokasi: [],
      isLoading: true,
      lifeplanid: this.$route.params.id,
      piePortfolioOptions: {
        pieWithAsset: {
          chart: {
            backgroundColor: 'transparent',
            type: 'pie'
          },
          colors: [],
          title: false,
          yAxis: {
            title: false
          },
          plotOptions: {
            pie: {
              innerSize: 50,
              shadow: false,
              dataLabels: {
                enabled: false
              }
            }
          },
          series: [],
          credits: {
            enabled: false
          }
        },
        pieNoAsset: {
          chart: {
            backgroundColor: 'transparent',
            type: 'pie'
          },
          colors: ['#e9ecf0'],
          title: false,
          yAxis: {
            title: false
          },
          plotOptions: {
            series: {
              enableMouseTracking: false
            },
            pie: {
              innerSize: 50,
              shadow: false,
              dataLabels: {
                enabled: false
              }
            }
          },
          series: [],
          credits: {
            enabled: false
          }
        }
      }
    }
  },
  methods: {
    numberingNumber,
    dateFormat,
    // route to product detail
    routeToProductDetail (lifeplanid, productid, id, fluctuation) {
      this.$router.push('/finavest/portfolio/product/detailaset/' + lifeplanid + '/' + productid + '/' + id)
      this.trackDetailProduct(fluctuation)
    },
    // route to product detail emas
    routeToProductDetailEmas (lifeplanid, productid, id, fluctuation) {
      this.$router.push('/finavest/portfolio/product/detailasetemas/' + lifeplanid + '/' + productid + '/' + id)
      this.trackDetailProduct(fluctuation)
    },
    // route buy lifeplan
    routeToBuyLifeplan (id) {
      this.$router.push('/finavest/investment/buy/buy_investment/' + Number(id) + '/new')
    },
    // get data api
    fetchDataLifeplan (id) {
      Api('finavest/portfolio/lifeplan', {
        lifeplanid: this.$route.params.id
      })
        .then((res) => {
          this.lifeplans = res.d
          this.setDataForReusableCards(res.d.asset)
          this.productData = res.d.asset
          this.setDataForChart(res.d.class)
          this.trackPage()
          this.isLoading = false
        })
        .catch(() => {
          this.dialogError = true
          this.isLoading = false
        })
    },
    growthData (totalUnit, pandingUnit, GrandGainLossPercentage, grandTotalInitial) {
      if (Number(grandTotalInitial) === 0) {
        this.buttonBoolean.push({buttonDisabled: true})
        return '0,00%'
      } else if (Number(GrandGainLossPercentage) < 0) {
        this.buttonBoolean.push({buttonDisabled: false})
        return '<i  style="margin-top: -3px" class="color-system-error material-icons">arrow_drop_down</i><div style="float: right">' + this.numberingNumber(Number(GrandGainLossPercentage), true) + '%' + '</div>'
      } else if (Number(GrandGainLossPercentage) === 0) {
        this.buttonBoolean.push({buttonDisabled: false})
        return '0,00%'
      } else {
        this.buttonBoolean.push({buttonDisabled: false})
        return '<i class="color-system-success material-icons">arrow_drop_up</i><div style="float: right">' + this.numberingNumber(Number(GrandGainLossPercentage), true) + '%' + '</div>'
      }
    },
    // set data for reusable cards
    setDataForReusableCards (item) {
      var transformedData = []
      for (var i = 0; i < item.length; i++) {
        transformedData = [
          {
            title: 'Nilai Saat Ini',
            item: 'Rp ' + this.numberingNumber(Number(item[i].grand_total_current), true),
            classItem: 'text-align-right avenir-12-med-bold ls-5'
          },
          {
            title: 'Modal Beli',
            item: 'Rp ' + this.numberingNumber(Number(item[i].grand_total_initial), true),
            classItem: 'text-align-right avenir-12-med ls-5'
          },
          {
            title: 'Potensi Laba/Rugi',
            item: 'Rp ' + this.numberingNumber(Number(item[i].grand_gain_loss), true),
            classItem: 'text-align-right avenir-12-med ls-5'
          },
          {
            title: 'Pertumbuhan',
            item: this.growthData(item[i].total_unit, item[i].pending_unit, item[i].grand_gain_loss_percentage, item[i].total_unit),
            classItem: 'text-align-right height-10 avenir-12-med-bold ls-5',
            fluctuation: Number(item[i].grand_gain_loss) === 0 ? 0 : Number(item[i].grand_gain_loss_percentage)
          }
        ]
        this.productDetail.push(transformedData)
      }
    },
    // set data chart
    setDataForChart (item) {
      let total = this.lifeplans.total.grand_total_current
      let rdtetap = 0
      let rduang = 0
      let emas = 0
      let rdcampuran = 0
      let rdsaham = 0
      // Loop for asset overall amount
      for (let i = 0; i < item.length; i++) {
        switch (item[i].assetname) {
          case 'Reksadana Pendapatan Tetap':
            rdtetap += parseInt(item[i].grand_total_current)
            break
          case 'Reksadana Saham':
            rdsaham += parseInt(item[i].grand_total_current)
            break
          case 'Reksadana Campuran':
            rdcampuran += parseInt(item[i].grand_total_current)
            break
          case 'Reksadana Pasar Uang':
            rduang += parseInt(item[i].grand_total_current)
            break
          case 'Emas':
            emas += parseInt(item[i].grand_total_current)
            break
        }
      }

      rdtetap = Math.round((rdtetap / total) * 100)
      rduang = Math.round((rduang / total) * 100)
      rdcampuran = Math.round((rdcampuran / total) * 100)
      rdsaham = Math.round((rdsaham / total) * 100)
      emas = Math.round((emas / total) * 100)

      var maxAssets = Math.max(rdtetap, rduang, rdcampuran, rdsaham, emas)
      if ((rdtetap + rduang + rdcampuran + rdsaham + emas) === 99) {
        if (rdtetap === maxAssets) {
          rdtetap += 1
        }
        if (rduang === maxAssets) {
          rduang += 1
        }
        if (rdcampuran === maxAssets) {
          rdcampuran += 1
        }
        if (rdsaham === maxAssets) {
          rdsaham += 1
        }
        if (emas === maxAssets) {
          emas += 1
        }
      } else if ((rdtetap + rduang + rdcampuran + rdsaham + emas) === 101) {
        if (rdtetap === maxAssets) {
          rdtetap -= 1
        }
        if (rduang === maxAssets) {
          rduang -= 1
        }
        if (rdcampuran === maxAssets) {
          rdcampuran -= 1
        }
        if (rdsaham === maxAssets) {
          rdsaham -= 1
        }
        if (emas === maxAssets) {
          emas -= 1
        }
      }

      // set value to data for chart
      this.portfolioDetail.push({percentage: rduang, name: 'Reksa Dana Pasar Uang'})
      this.portfolioDetail.push({percentage: rdtetap, name: 'Reksa Dana Pendapatan Tetap'})
      this.portfolioDetail.push({percentage: rdcampuran, name: 'Reksa Dana Campuran'})
      this.portfolioDetail.push({percentage: emas, name: 'Emas'})
      this.portfolioDetail.push({percentage: rdsaham, name: 'Reksa Dana Saham'})

      // call load chart function
      setTimeout(() => {
        this.loadChart(rdsaham, rdcampuran, emas, rdtetap, rduang, total)
      }, 1000)
    },
    loadChart (rdsaham, rdcampuran, emas, rdtetap, rduang, total) {
      let series = []
      if (this.lifeplans.class.length === 0) {
        this.$refs.pieChartNoAsset.addSeries({
          name: 'Belum ada aset',
          data: [{
            y: 10,
            name: 'belum ada aset'
          }],
          size: '72%'
        })
      } else {
        series.push({
          y: parseFloat(rdsaham),
          name: 'Reksa Dana Saham'
        })

        series.push({
          y: parseFloat(rdcampuran),
          name: 'Reksa Dana Campuran'
        })

        series.push({
          y: parseFloat(emas),
          name: 'Emas'
        })

        series.push({
          y: parseFloat(rdtetap),
          name: 'Reksa Dana Pendapatan Tetap'
        })

        series.push({
          y: parseFloat(rduang),
          name: 'Reksa Dana Pasar Uang'
        })
        this.$refs.pieChartWithAsset.addSeries({
          name: 'Persentase',
          data: series,
          size: '60%',
          colors: ['#EF5350', '#9575CD', '#FFB300', '#42A5F5', '#10CF99']
        })
      }
    },
    trackPage () {
      var fluctuation = (Number(this.lifeplans.total.grand_gain_loss) / Number(this.lifeplans.total.grand_total_amount) * 100)
      this.$analytics.track('Portfolio Selected', {
        fluctuation: fluctuation
      })
    },
    trackDetailProduct (fluctuation) {
      this.$analytics.track('Portfolio Product Selected', {
        fluctuation: fluctuation
      })
    },
    routeToSell (lifeplanId, portfolioId) {
      this.trackEvent()
      this.$router.push('/finavest/investment/sell/sell_product/' + lifeplanId + '/' + portfolioId)
    },
    trackEvent () {
      this.$analytics.track('Investment Request Sold')
    }
  },
  created () {
    this.fetchDataLifeplan()
    this.trackPage()
  }
}
</script>
<style lang="sass">
  .finavest-detail-portfolio
    .button-cards
      .v-btn
        height: 32px !important
        line-height: 16px

    .line-center
      background: #AAADC4
      height: 30px
      width: 1px
      position: absolute
      top: 50%
      transform: translateY(-50%)

    .avenir-12-med-bold
      font-family: "SFUIDisplay-Bold" !important
      font-size: 12px !important
      color: #2C3B50 !important

    .avenir-12-med
      font-family: "SFUIDisplay-Medium" !important
      font-size: 12px !important
      color: #2C3B50 !important

    .height-10
      height: 19px !important

    .con-layout-header
      height: auto
      position: relative
      padding-bottom: 16px
      padding: 0 12px !important
      border-radius: 0 0 12px 12px

      .line-green
        width: 100%
        height: 6px
        background: #29EF72
        position: absolute
        top: 6px
        left: 0px

      .layout-recommendation
        width: 100%
        z-index: 1
        height: 75px

      .sumTotal
        font-size: 18px !important
        line-height: 24px !important
        color: #2C3B50

</style>
