<template>
  <div class="my-asset">
    <v-layout column mb-4>
      <v-layout column class="bg-primary-3 wrap-card" mx-3 mt-3 pt-3 pl-3 v-for="(datas, index) in assets" :key="index">
        <v-layout row>
          <img v-if="datas.classAsset === 'Pasar Uang'" src="@/assets/finavest/portfolio/asset/pasar_uang.svg" class="pr-2 mt-n-5" alt="pasar uang">
          <img v-if="datas.classAsset === 'Pendapatan Tetap'" src="@/assets/finavest/portfolio/asset/pendapatan_tetap.svg" class="pr-2 mt-n-5" alt="pendapatan tetap">
          <img v-if="datas.classAsset === 'Saham'" src="@/assets/finavest/portfolio/asset/saham.svg" class="pr-2 mt-n-5" alt="saham">
          <img v-if="datas.classAsset === 'Emas'" src="@/assets/finavest/portfolio/asset/emas.svg" class="pr-2 mt-n-5" alt="emas">
          <div class="desc">
            <div class="title-card-aset nexa-14-bold">{{datas.classAsset}}</div>
            <div class="sub-title avenir-10-med">{{datas.type}}</div>
          </div>
          <div class="percentage avenir-12-med">
            {{datas.percentage}}%
          </div>
        </v-layout>
        <v-layout row>
          <div class="border-full-aset mt-2"></div>
        </v-layout>
        <v-layout row pt-3 pr-3 pb-3>
          <v-flex xs6>
            <v-card-text class="avenir-12-med-bold">
              Rp {{datas.amount}}
            </v-card-text>
          </v-flex>
          <v-flex xs6>
            <v-card-text class="avenir-12-med-bold text-xs-right">
              {{datas.items}} Item
              <img src="@/assets/finavest/portfolio/chevron_right_black.svg" class="mb-n-1 ml-2" alt="icon right">
            </v-card-text>
          </v-flex>
        </v-layout>
      </v-layout>
    </v-layout>
  </div>
</template>
<script>
export default {
  data: () => ({
    assets: [
      {
        classAsset: 'Pasar Uang',
        type: 'Reksa Dana',
        amount: '19.800.000,10',
        percentage: '40,00',
        items: '1'
      },
      {
        classAsset: 'Pendapatan Tetap',
        type: 'Reksa Dana',
        amount: '14.850.540,10',
        percentage: '30,00',
        items: '4'
      },
      {
        classAsset: 'Saham',
        type: 'Reksa Dana',
        amount: '9.900.000,04',
        percentage: '20,00',
        items: '2'
      },
      {
        classAsset: 'Emas',
        type: 'Logam Mulia',
        amount: '4.950.000,02',
        percentage: '10,00',
        items: '3'
      }
    ]
  })
}
</script>
<style lang="sass">
  .my-asset

    .wrap-card
      box-shadow: 0px 6px 10px rgba(23, 23, 23, 0.05)
      border-radius: 8px
      position: relative

    .desc
      .title-card-aset

      .sub-title
        color: #A0A5B7

    .percentage
      color: #A0A5B7
      position: absolute
      right: 16px
      top: 16px

    .border-full-aset
      width: 100%
      height: 1px
      border-bottom: 1px solid #E8EAEF

    .mt-n-5
      margin-top: -5px
      margin-left: -8px

</style>
