<template>
  <v-layout column justify-center class="fcu-onboarding bg-primary-3 min-height">
    <v-layout column justify-center align-center>
      <img src="@/assets/finavest/allocation/hero-completed.svg" alt="hero-completed">
      <v-card-text class="nexa-18-bold color-text-1 text-xs-center pt-4">
        Alokasi aset berhasil
      </v-card-text>
      <v-card-text v-if="fromLifeplan === 'Aset Bebas' || fromLifeplan === 'Smart Saving'" class="avenir-14-reg pt-3 text-xs-center color-black px-4">
        Aset <b>{{productName}}</b> kamu sebesar <b>Rp {{numberingNumber(amount)}}</b> dari {{fromLifeplan}} berhasil dipindahkan.
      </v-card-text>
      <v-card-text v-else class="avenir-14-reg pt-3 text-xs-center color-black px-4">
        Aset <b>{{productName}}</b> kamu sebesar <b>Rp {{numberingNumber(amount)}}</b> dari lifeplan {{fromLifeplan}} berhasil dipindahkan.
      </v-card-text>
    </v-layout>
    <v-layout row justify-center class="wrap-button px-20">
      <v-flex>
        <v-btn depressed class="nexa-16-bold" color="primary" block @click="goDashboard()">OK</v-btn>
      </v-flex>
    </v-layout>
  </v-layout>
</template>
<script>
import { numberingNumber, goToDashboard } from '@/services/Helpers'
/**
 * @group /v2/finavest/allocation
 * Completed Allocation Page
*/
export default {
  data: () => ({
    screenHeight: screen.height,
    productName: null,
    amount: null,
    fromLifeplan: null
  }),
  methods: {
    numberingNumber,
    /**
     * @vuese
     * redirect to dashboard (../dashboard)
    */
    goDashboard () {
      goToDashboard('portfolio', 'assign')
    },
    /**
     * @vuese
     * get data from localstorage
    */
    getData () {
      const datas = JSON.parse(localStorage.getItem('halofina-allocation-itinerary'))
      this.productName = datas.product_name
      this.amount = datas.nominal_allocated
      this.fromLifeplan = JSON.parse(localStorage.getItem('halofina-allocation-product')).title
    }
  },
  created () {
    this.getData()
  }
}
</script>
<style lang="sass">
  .fcu-onboarding
    *
      padding: 0
      margin: 0

    .v-toolbar
      position: relative

    .wrap-button
      position: fixed
      bottom: 12px
      width: 100%

      .v-btn
        height: 48px

</style>