<template>
  <div class="allocation-confirmation min-height bg-primary-3">
    <reusable-toolbar page-name="Konfirmasi Alokasi"></reusable-toolbar>
    <v-layout column class="toolbar-margin">
      <v-divider></v-divider>
      <v-card-text class="nexa-14-bold color-text-1 pa-20">
        Produk yang dialokasikan
      </v-card-text>
      <v-layout row align-center pb-4 class="px-20">
        <div class="wrap-img mr-3">
          <img id="product-image" :src="datasProduct.product_image" alt="product" />
        </div>
        <v-layout column pa-0>
          <v-card-text class="nexa-14-bold pb-1">{{datasProduct.product_name}}</v-card-text>
          <v-card-text class="avenir-12-reg">{{datasProduct.to_lifeplan}}</v-card-text>
        </v-layout>
      </v-layout>
      <v-layout row justify-space-between class="px-20 pb-4">
        <v-layout column>
          <v-card-text class="avenir-14-reg color-text-3 pb-2">
            {{ unitCopy(assetId) }} dialokasikan
          </v-card-text>
          <v-card-text class="avenir-16-reg color-text-2">
            {{datasProduct.unit_allocated}}
          </v-card-text>
        </v-layout>
        <v-layout column class="text-xs-right">
          <v-card-text class="avenir-14-reg color-text-3 pb-2">
            Nominal dialokasikan
          </v-card-text>
          <v-card-text class="avenir-16-reg color-text-1">
            Rp {{numberingNumber(datasProduct.nominal_allocated)}}
          </v-card-text>
        </v-layout>
      </v-layout>
      <v-divider></v-divider>
      <v-card-text class="nexa-14-bold color-text-1 pa-20 mb-20">
        Rincian Alokasi
      </v-card-text>
      <v-layout row align-center class="px-20">
        <reusable-image-lifeplan :type="datasProduct.from_lifeplan_type" style-image="width: 48px; height: 48px;"></reusable-image-lifeplan>
        <v-layout column pa-0 class="ml-3">
          <v-card-text class="avenir-12-reg pb-1">Sumber</v-card-text>
          <v-card-text class="nexa-14-bold color-text-1">{{datasProduct.from_lifeplan}}</v-card-text>
        </v-layout>
      </v-layout>
      <v-layout row px-20 justify-space-between class="pt-20 mt-2 pb-20 border-bottom-solid">
        <v-card-text class="avenir-14-reg color-text-2 mb-3">
          Saldo akhir produk
        </v-card-text>
        <v-card-text class="avenir-14-reg color-text-1 text-xs-right mb-3">
          Rp {{numberingNumber(datasProduct.from_portfolio_total)}}
        </v-card-text>
      </v-layout>
      <v-layout row align-center class="px-20 pt-4">
        <reusable-image-lifeplan :type="datasProduct.to_lifeplan_type" style-image="width: 48px; height: 48px;"></reusable-image-lifeplan>
        <v-layout column pa-0 class="ml-3">
          <v-card-text class="avenir-12-reg pb-1">Tujuan</v-card-text>
          <v-card-text class="nexa-14-bold color-text-1">{{datasProduct.to_lifeplan}}</v-card-text>
        </v-layout>
      </v-layout>
      <v-layout row px-20 justify-space-between class="pt-20 mt-2">
        <v-card-text class="avenir-14-reg color-text-2">
          Saldo akhir produk
        </v-card-text>
        <v-card-text class="avenir-14-reg color-text-1 text-xs-right">
          Rp {{numberingNumber(datasProduct.to_portfolio_total)}}
        </v-card-text>
      </v-layout>
      <v-layout row justify-center class="wrap-button">
        <v-flex>
          <v-btn depressed class="nexa-16-bold" color="primary" block @click="postData()">Konfirmasi Alokasi</v-btn>
        </v-flex>
      </v-layout>
    </v-layout>
    <!-- Dialog Error -->
    <reusable-dialogs
      v-model="dialog.dialogError"
      :resize-image="true"
      :is-image-above-title="true"
    ></reusable-dialogs>
    <!-- Loading Dialog -->
    <reusable-dialogs
        v-model="dialog.dialogLoading"
        :unclickable="true"
    >
      <div slot="layout">
        <v-card flat class="card-radius" style="width: 100%">
          <v-layout py-3 px-4 row align-center justify-center>
            <reusable-loading></reusable-loading>
            <div class="nexa-14-bold px-5">Memproses</div>
          </v-layout>
        </v-card>
      </div>
    </reusable-dialogs>
  </div>
</template>
<script>
import { VDivider } from 'vuetify/lib'
import ReusableImageLifeplan from '@/components/reusable/ReusableImageLifeplan.vue'
import { numberingNumber } from '@/services/Helpers'
import Api from '@/services/Api'

/**
 * @group /v2/finavest/allocation
 * Confirmation Allocation Page
*/
export default {
  components: {
    VDivider,
    ReusableImageLifeplan
  },
  data () {
    return {
      title: null,
      datasProduct: null,
      assetId: 0,
      dialog: {
        dialogError: false,
        dialogLoading: false
      }
    }
  },
  methods: {
    numberingNumber,
    /**
     * @vuese
     * redirect to allocation completed (../finavest/allocation/completed)
    */
    next () {
      this.$router.push('/finavest/allocation/completed')
    },
    /**
     * @vuese
     * change unit copywriting based on product name
     * @arg productName: String
    */
    unitCopy (assetId) {
      if (assetId === 4) {
        return 'Gram'
      } else {
        return 'Unit'
      }
    },
    /**
     * @vuese
     * post API data itinerarry
    */
    postData () {
      this.dialog.dialogLoading = true
      Api('finavest/investment/allocation/save', {
        from_lifeplan_id: this.datasProduct.from_lifeplan_id,
        to_lifeplan_id: this.datasProduct.to_lifeplan_id,
        product_id: this.datasProduct.product_id,
        allocated_unit: this.datasProduct.unit_allocated,
        allocated_amount: this.datasProduct.nominal_allocated
      })
        .then(() => {
          this.next()
        })
        .catch(() => {
          this.dialog.dialogLoading = false
          this.dialog.dialogError = true
        })
    },
    /**
     * @vuese
     * fetch data itinerary from localstorage
    */
    fetchItineraryData () {
      this.datasProduct = JSON.parse(localStorage.getItem('halofina-allocation-itinerary'))
      this.datasProduct.from_lifeplan = JSON.parse(localStorage.getItem('halofina-allocation-product')).title
    },
    /**
     * @vuese
     * fetch data itinerarry from localstorage
    */
    fetchAssetId () {
      const allocation = JSON.parse(localStorage.getItem('halofina-allocation-product'))
      this.assetId = allocation.asset_class_id
    }
  },
  created () {
    this.fetchItineraryData()
    this.fetchAssetId()
  }
}
</script>
<style lang="sass">
  .allocation-confirmation
    *
      padding: 0
      margin: 0

    .v-divider
      border-top-width: 8px

    .wrap-img
      border: 1px solid #E9ECF0
      background: white
      padding: 4px 4px 0 4px
      border-radius: 3px
      width: 44px
      height: 44px
      overflow: hidden
      position: relative

      img
        width: 35px
        height: auto
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

    .border-bottom-solid
      border-bottom: 1px solid #E8EAEF

    .wrap-button
      position: fixed
      bottom: 0
      width: 100%

      .v-btn
        height: 48px
 
</style>

