<template>
  <div class="finavest-allocation-target">
    <reusable-toolbar :left="true" page-name="Tujuan alokasi aset"></reusable-toolbar>
    <v-layout column :style="$helpers.minHeight()" class="toolbar-margin bg-primary-3" v-if="isLoaded = true">
      <v-flex>
        <template v-if="recommendedLifeplans.length > 0">
          <v-layout row align-center class="nexa-14-bold pa-20">
            Direkomendasikan
            <img v-if="nonRecommendedLifeplans.length > 0" :src="require('@/assets/icons/ic-alert-circle.svg')" class="ml-2" @click="openDescSheet('Tujuan Alokasi yang direkomendasikan', 'kamu disarankan untuk mengalokasikan ke lifeplan berikut, karena portofolionya cocok / membutuhkan aset ini.')"/>
          </v-layout>
          <v-card-text class="color-text-2 px-20 mb-20" v-if="nonRecommendedLifeplans.length === 0">
            Kamu disarankan untuk mengalokasikan ke lifeplan berikut, karena portofolionya cocok / membutuhkan aset ini
          </v-card-text>
          <v-list class="pt-0">
            <div v-for="(active, index) in recommendedLifeplans" :key="index">
              <v-divider></v-divider>
              <v-list-tile
                avatar
                @click="openAllocationSheet(true); itineraryTransform(active.id_lifeplan)"
                class="pa-3"
              >
                <v-list-tile-avatar>
                  <reusable-image-lifeplan :type="active.type"></reusable-image-lifeplan>
                </v-list-tile-avatar>

                <v-list-tile-content class="ml-3">
                  <v-list-tile-title class="nexa-14-bold">{{ active.subtype || active.type }}</v-list-tile-title>
                  <v-list-tile-sub-title>Sisa Kekurangan : Rp {{ numberingNumber(active.amount_left) }}</v-list-tile-sub-title>
                </v-list-tile-content>

                <v-list-tile-action>
                  <v-btn icon>
                    <v-icon color="black" style="font-size: 19px">arrow_forward_ios</v-icon>
                  </v-btn>
                </v-list-tile-action>
              </v-list-tile>
              <v-divider></v-divider>
            </div>
          </v-list>
          <v-divider style="border-top-width: 8px"></v-divider>
        </template>
        <template v-if="nonRecommendedLifeplans.length > 0">
          <v-layout row align-center class="nexa-14-bold pa-20">
            Tidak direkomendasikan
            <img v-if="recommendedLifeplans.length > 0" :src="require('@/assets/icons/ic-alert-circle.svg')" class="ml-2" @click="openDescSheet('Tujuan Alokasi yang tidak direkomendasikan', 'kamu tidak disarankan untuk mengalokasikan ke lifeplan berikut, karena portofolio modelnya tidak memerlukan aset ini. Bila diteruskan kamu akan membutuhkan penyesuaian aset di kemudian waktu.')"/>
          </v-layout>
          <v-card-text class="color-text-2 px-20 mb-20" v-if="recommendedLifeplans.length === 0">
            Kamu tidak disarankan untuk mengalokasikan ke lifeplan berikut, karena portofolio modelnya tidak memerlukan aset ini. Bila diteruskan kamu akan membutuhkan penyesuaian aset di kemudian waktu.
          </v-card-text>
          <v-list class="pt-0">
            <div v-for="(inactive, index) in nonRecommendedLifeplans" :key="index">
              <v-divider></v-divider>
              <v-list-tile
                avatar
                @click="openAllocationSheet(true); itineraryTransform(inactive.id_lifeplan)"
                class="pa-3"
              >
                <v-list-tile-avatar>
                  <reusable-image-lifeplan :type="inactive.type"></reusable-image-lifeplan>
                </v-list-tile-avatar>

                <v-list-tile-content class="ml-3">
                  <v-list-tile-title class="nexa-14-bold">{{ inactive.subtype || inactive.type }}</v-list-tile-title>
                  <v-list-tile-sub-title>Sisa Kekurangan : Rp {{ numberingNumber(inactive.amount_left) }}</v-list-tile-sub-title>
                </v-list-tile-content>

                <v-list-tile-action>
                  <v-btn icon>
                    <v-icon color="black" style="font-size: 19px">arrow_forward_ios</v-icon>
                  </v-btn>
                </v-list-tile-action>
              </v-list-tile>
              <v-divider></v-divider>
            </div>
          </v-list>
        </template>
      </v-flex>
    </v-layout>
    <v-layout v-else align-center justify-center column :style="$helpers.minHeight()" class="toolbar-margin bg-primary-3">
      <reusable-loading></reusable-loading>
    </v-layout>
    <!-- Desc Sheet -->
    <reusable-bottom-sheet
      v-model="bottomSheetDesc.isOpen"
      :title="bottomSheetDesc.title"
      :description="bottomSheetDesc.desc"
    >
      Ok, Saya Mengerti
    </reusable-bottom-sheet>
    <!-- Allocation Sheet -->
    <reusable-bottom-sheet
      v-model="bottomSheetAllocation.isOpen"
      :persistent="true"
    >
      <v-layout column slot="custom-layout" class="bottom-sheet-allocation">
        <v-layout row align-center>
          <div style="border: 1px solid #E9ECF0; background: white; padding: 4px 4px 0 4px; border-radius: 3px; width: 44px; height: 44px; overflow: hidden; position: relative;">
            <img :src="product.product_img_url" alt="product" id="product-img" style="width: 35px; height: auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
          </div>
          <v-layout column pa-0 ml-3>
            <v-card-text class="nexa-14-bold pa-0" id="product-name">{{ product.product_name }}</v-card-text>
            <v-card-text class="avenir-12-reg pa-0" id="portfolio-name">{{ product.title }}</v-card-text>
          </v-layout>
          <img :src="require('@/assets/icons/icon-close.svg')" @click="openAllocationSheet(false)"/>
        </v-layout>
        <v-card-text class="px-0 avenir-14-reg color-text-3 pb-1">
          {{ unitCopy(product.asset_class_id) }} dialokasikan
        </v-card-text>
        <v-text-field class="card-radius" label="Kode Referal" solo flat v-model="allocationAmount" hide-details type="number" :suffix="unitCopy(product.asset_class_id)"></v-text-field>
        <v-slider v-model="allocationAmount" :max="product.unit" hide-details :step="0.0001"></v-slider>
        <v-card-text class="px-0 avenir-14-reg color-text-3 pb-1">
          Nominal Alokasi
        </v-card-text>
        <v-card-text class="px-0 avenir-16-reg pb-1 pt-0">
          Rp {{ numberingNumber(sellPrice) }}
        </v-card-text>
        <v-layout row pt-3 pb-4 class="full-width">
          <v-btn class="btn-radius box-shadow" height="56px" block color="primary" depressed @click="callItinerary()" :disabled="allocationAmount <= 0 || allocationAmount > product.unit ">Lanjut</v-btn>
        </v-layout>
      </v-layout>
    </reusable-bottom-sheet>
    <!-- Dialog Error -->
    <reusable-dialogs
      v-model="dialog.dialogError"
      :resize-image="true"
      :is-image-above-title="true"
    ></reusable-dialogs>
    <!-- Loading Dialog -->
    <reusable-dialogs
      v-model="dialog.dialogLoading"
      :unclickable="true"
    >
      <div slot="layout">
        <v-card flat class="card-radius" style="width: 100%">
          <v-layout py-3 px-4 row align-center justify-center>
            <reusable-loading></reusable-loading>
            <div class="nexa-14-bold px-5">Memproses</div>
          </v-layout>
        </v-card>
      </div>
    </reusable-dialogs>
  </div>
</template>

<script>
import Api from '@/services/Api'
import {
  VDivider,
  VList,
  VListTile,
  VListTileTitle,
  VListTileSubTitle,
  VListTileContent,
  VListTileAction,
  VSlider
} from 'vuetify/lib'
import { numberingNumber, numberingReksadana, replaceDot } from '@/services/Helpers'
const ReusableImageLifeplan = () => import('@/components/reusable/ReusableImageLifeplan')
/**
 * @group /v2/finavest/allocation
 * Target Alokasi page
*/
export default {
  name: 'AllocationTarget',
  components: {
    ReusableImageLifeplan,
    VDivider,
    VList,
    VListTile,
    VListTileTitle,
    VListTileSubTitle,
    VListTileContent,
    VListTileAction,
    VSlider
  },
  data () {
    return {
      bottomSheetDesc: {
        isOpen: false,
        title: '',
        desc: ''
      },
      bottomSheetAllocation: {
        isOpen: false
      },
      dialog: {
        dialogError: false,
        dialogLoading: false
      },
      product: {},
      allocationAmount: 0,
      isLoaded: false,
      lifeplanId: 0,
      assetId: 0,
      recommendedLifeplans: [],
      nonRecommendedLifeplans: []
    }
  },
  computed: {
    sellPrice: function () {
      return Number(this.allocationAmount) * Number(this.product.nav)
    }
  },
  created () {
    this.getParams()
    this.getProduct()
    this.fetchData()
  },
  methods: {
    numberingNumber,
    /**
     * @vuese
     * open tooltip sheet
     * @arg title, desc
    */
    openDescSheet (title, desc) {
      this.bottomSheetDesc.isOpen = true
      this.bottomSheetDesc.title = title
      this.bottomSheetDesc.desc = desc
    },
    /**
     * @vuese
     * open allocation sheet
     * @arg val: Boolean
    */
    openAllocationSheet (val) {
      this.bottomSheetAllocation.isOpen = val
    },
    /**
     * @vuese
     * change unit copywriting based on product name
     * @arg productName: String
    */
    unitCopy (assetId) {
      if (assetId === 4) {
        return 'Gram'
      } else {
        return 'Unit'
      }
    },
    /**
     * @vuese
     * get lifeplanid and assetId from params
    */
    getParams () {
      this.assetId = this.$route.params.assetId
      this.lifeplanId = this.$route.params.lifeplanId
    },
    /**
     * @vuese
     * get allocation product payload
    */
    getProduct () {
      this.product = JSON.parse(localStorage.getItem('halofina-allocation-product'))
      this.allocationAmount = replaceDot(numberingReksadana(this.product.unit.toString())).replace(/,/g, '.')
    },
    /**
     * @vuese
     * transform portfolio type
     * Case 1: If type is custom, returns unallocated
     * Case 2: If type is smartsaving, returns smart saving
     * Case 3: else returns lifeplan
     * @arg type: String
    */
    transformType (type) {
      if (type === 'custom') {
        return 'unallocated'
      } else if (type === 'smartsaving') {
        return 'smart saving'
      } else {
        return 'lifeplan'
      }
    },
    /**
     * @vuese
     * get lifeplan recommendation accorfing to its type and product
    */
    fetchData () {
      let assetId = this.assetId
      let lifeplanId = this.lifeplanId
      let type = this.product.type
      Api('finavest/v0/lifeplan/allocation/recommendation', {
        asset_class_id: assetId,
        type: this.transformType(type),
        lifeplan_id: lifeplanId
      })
        .then((res) => {
          this.recommendedLifeplans = res.d.recommended
          this.nonRecommendedLifeplans = res.d.not_recommended
          this.isLoaded = true
        })
        .catch(() => {
          this.isLoaded = true
          this.dialog.dialogError = true
        })
    },
    /**
     * @vuese
     * add to lifeplan id and allocated unit to product payload data
     * @arg toLifeplanId: Number
    */
    itineraryTransform (toLifeplanId) {
      this.product.to_lifeplan_id = toLifeplanId
      this.product.allocated_unit = this.allocationAmount
    },
    /**
     * @vuese
     * call itinerary data and redirect to confirm allocation page
    */
    callItinerary () {
      this.dialog.dialogLoading = true
      this.itineraryTransform(this.product.to_lifeplan_id)
      let data = this.product
      Api('finavest/investment/allocation/itinerary', {
        product_id: data.product_id,
        from_lifeplan_id: data.from_lifeplan_id,
        to_lifeplan_id: data.to_lifeplan_id,
        allocated_unit: Number(data.allocated_unit)
      })
        .then((res) => {
          this.setItineraryToStorage(res.d)
          this.$router.push('/finavest/allocation/confirmation')
        })
        .catch(() => {
          this.dialog.dialogLoading = false
          this.dialog.dialogError = true
        })
    },
    /**
     * @vuese
     * set response data from callItinerary to local storage
    */
    setItineraryToStorage (data) {
      localStorage.setItem('halofina-allocation-itinerary', JSON.stringify(data))
    }
  }
}
</script>

<style lang="sass">
.bottom-sheet-allocation
  // .v-input__slot
  //   border-radius: 4px !important
  //   border: 1px solid #E8EAEF
  //   background-color: #FFF !important

.finavest-allocation-target
  *
    margin: 0px
    padding: 0px
  
  .v-list__tile--avatar
    height: auto
</style>
