<template>
  <div class="pin-verification">
    <v-container class="full-height bg-primary-3" align-center>
      <reusable-toolbar page-name="Verification" :left="true" :is-fixed="false"></reusable-toolbar> 
      <v-layout column align-center style="padding: 0px 30px; margin-top: 40px">
        <auth-pin-otp @input="inputHandler">
          <span slot="description">
            Kami telah mengirimkan kode verifikasi <br /> melalui SMS ke <b>{{ phone }}</b>
          </span>
        </auth-pin-otp>
      </v-layout>
      <v-btn class="fixed-layout" color="primary" block depressed style="height: 56px !important">Lanjut</v-btn>
    </v-container>
  </div>
</template>

<script>
import AuthPinOtp from '@/components/reusable/pin/AuthPinOtp'

export default {
  name: 'PinVerification',
  components: {
    AuthPinOtp
  },
  data () {
    return {
      phone: '088288183911',
      otp: ''
    }
  },
  methods: {
    inputHandler (value) {
      this.otp = value
    }
  }
}
</script>

<style lang="sass">
  .pin-verification
    *
      margin: 0px
      padding: 0px
</style>