<template>
  <div class="finacheck-fqt-input" :style="'min-height: ' + screenHeight">
    <v-container v-if="isLoaded === true" class="pa-20">
      <reusable-toolbar page-name="Tes Kecerdasan" :left="true" class-name="box-shadow-down bg-primary-3"></reusable-toolbar>
      <v-layout column align-center justify-center class="full-height">
        <!-- <v-flex> -->
        <v-card flat class="btn-radius box-shadow pa-4" height="400">
          <v-card-text>
            <span class="avenir-18-med">{{ step + 1 }}</span>
            <span class="avenir-12-reg">/ {{ questions.length }}</span>
          </v-card-text>
          <div class="mb-36 border-thin"></div>
          <v-window v-model="step" :touchless="true">
            <template v-for="(question, qIndex) in questions">
              <v-window-item :key="qIndex">
                <v-card-text class="nexa-18-bold mb-20">{{ question.question }}</v-card-text>
                <v-container fluid>
                  <v-layout row wrap>
                    <v-flex
                      xs12
                      class="pb-2"
                      v-for="answer in question.option"
                      :key="answer"
                    >
                      <v-btn
                        @click="pushToAnswer(answer.id)"
                        block
                        outline
                        color="primary"
                        wrap
                        class="no-text-transform"
                      >
                        <span 
                          style="white-space: normal;"
                        >
                          {{ answer.label }}
                        </span>
                      </v-btn>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-window-item>
            </template>
          </v-window>
        </v-card>
        <!-- </v-flex> -->
      </v-layout>
    </v-container>
    <v-container v-else>
      <v-layout column justify-center align-center class="full-height">
        <br /><br /><br /><br /><br />
        <reusable-loading></reusable-loading>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import ApiGet from '@/services/ApiGet'
import Api from '@/services/Api'

import {
  VWindow,
  VWindowItem,
  VBtnToggle
} from 'vuetify/lib'

export default {
  name: 'FinacheckFqtInput',
  components: {
    VWindow,
    VWindowItem,
    VBtnToggle
  },
  data () {
    return {
      step: 0,
      isLoaded: false,
      screenHeight: screen.height,
      questions: [],
      answer: [],
      dialog: {
        dialogError: false
      }
    }
  },
  created () {
    this.getQuestions()
  },
  methods: {
    getQuestions () {
      ApiGet('finavest/v1/financial/assessment/investment/question', true)
        .then((res) => {
          this.questions = res.d
          this.isLoaded = true
        })
        .catch((err) => {
          console.log('ini error ', err)
        })
    },
    submitQuestions () {
      let obj = {}
      for (var i = 1; i < this.answer.length; i++) {
        obj[i] = this.answer[i].toString()
      }
      Api('finavest/v1/financial/assessment/investment/answer', { answer: obj }, true)
        .then((res) => {
          // this.questions = res.d
          localStorage.setItem('halofina-fqt-result2', JSON.stringify(res.d))
          this.$router.push('/v2/fqt/results/2')
        })
        .catch((err) => {
          console.log('ini error ', err)
        })
    },
    cancel () {
      this.$ma.trackEvent({action: this.$options.name, properties: {cancel: true, type: this.type}})
      this.$router.go(-1)
    },
    dialogs (title, desc) {
      this.dialog.isopen = true
      this.dialog.title = title
      this.dialog.desc = desc
    },
    pushToAnswer (answer) {
      console.log(answer.id)
      this.answer.push(answer)
      if (this.step + 1 !== this.questions.length) {
        this.step++
      } else {
        this.submitQuestions()
        this.isLoaded = false
      }
    }
  }
}
</script>

<style lang="sass">
  .finacheck-fqt-input
    background: #FFFFFF url('../../../../assets/finacheck/fqt/bg-checkup.svg') no-repeat
    background-position-y: 70%

    *
      margin: 0
      padding: 0

    .border-thin
      width: 14.5px
      border: 2px solid #3F99DD
      border-radius: 10px

    .box-shadow-down
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2)
    
    .v-btn
      width: 95%
</style>
