<template>
  <div class="finacheck-fqt-intro bg-primary-3" :style="'min-height: ' + screenHeight + 'px;'">
    <div class="box-shadow-down pb-3 fix-header">
      <reusable-toolbar page-name="FQT Intro" :is-title-visible="false" :is-fixed="false" :change-namespace="true" namespace="dashboard" route="/dashboard?tab=lifeplan" class-name="bg-primary-3"></reusable-toolbar>
      <v-card-text class="nexa-24-bold ml-3 mt-3">Financial Quotient Test</v-card-text>
    </div>
    <div class="cover-fixed"></div>
    <v-container class="pa-20">
      <v-layout column>
        <v-flex>
          <v-card-text class="avenir-14-reg mb-36">Tes Finansial adalah sebuah tes dalam mengukur kemampuan seseorang untuk mengerti arti dan manfaat keuangan</v-card-text>
          <v-card-text class="nexa-16-bold mb-12">Pilih Tipe Tes</v-card-text>
          <template v-for="type in testTypes">
            <div :key="type.title" :class="'card-radius pos-relative mb-20 ' + type.bgColor">
              <v-layout row align-center justify-start pt-3 @click="startTest(type.route)">
                <img :src="type.img"/>
                <v-layout column class="pos-absolute desc-layout">
                  <v-card-text :class="type.color + ' nexa-16-bold mb-2'">{{ type.title }}</v-card-text>
                  <v-card-text class="avenir-14-reg">{{ type.desc }}</v-card-text>
                </v-layout>
              </v-layout>
              <v-icon
                size="14px"
                :class="type.color + ' pos-absolute icon-layout'"
              >
                arrow_forward_ios
              </v-icon>
            </div>
          </template>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  name: 'FinacheckFqtIntro',
  data () {
    return {
      screenHeight: screen.height,
      testTypes: [
        {
          title: 'Kecerdasan Finansial',
          desc: 'Pemahaman Finansial kamu',
          img: require('@/assets/finacheck/fqt/female-fqt.svg'),
          bgColor: 'bg-denotive-yellow-2',
          color: 'color-denotive-yellow-1',
          route: '/v2/fqt/input'
        }
        // {
        //   title: 'Perencanaan Investasi',
        //   desc: 'Pemahaman Investasi kamu',
        //   img: require('@/assets/finacheck/fqt/female-fcu.svg'),
        //   bgColor: 'bg-supportive-blue-2',
        //   color: 'color-supportive-blue-1',
        //   route: '/v2/fqt/input/2'
        // }
      ]
    }
  },
  methods: {
    startTest (route) {
      let uuidData = localStorage.getItem('halofina-fqt-result')
      if (uuidData) {
        this.$router.push('/v2/fqt/results')
      } else {
        this.$router.push(route)
      }
    }
  }
}
</script>

<style lang="sass">
  .finacheck-fqt-intro
    *
      margin: 0
      padding: 0

    // .v-toolbar
    //   box-shadow: none !important

    .box-shadow-down
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2)

    .desc-layout
      right: 40px
      top: 28px

    .icon-layout
      right: 20px
      top: 30px

    .fix-header
      position: fixed
      background-color: white
      width: 100%

    .cover-fixed
      width: 100%
      height: 110px
      z-index: 10 
</style>
