<template>
  <div class="finacheck-fqt-result bg-primary-3" :style="'min-height: ' + screenHeight + 'px;'">
    <v-container v-if="isLoaded === true" class="py-20" style="height:100vh">
      <div class="box-shadow-down pb-3">
        <reusable-toolbar page-name="Hasil Tes" :left="true" class-name="box-shadow-down bg-primary-3"></reusable-toolbar>
      </div>
      <v-layout column pt-4>
        <v-flex>
          <div>
            <vue-high-chart class="my-0 pa-0 center-horizontal" classname="highcharts" style="height: 220px" :options="piePortfolioOptions.pieWithAsset" ref="pieChartWithAsset"></vue-high-chart>
            <v-layout column class="wrap-score">
              <div class="nexa-32-bold color-supportive-blue-1 text-xs-center score">{{dataResult.score}}</div>
              <div class="nexa-14-bold color-text-4 score-all text-xs-center">{{dataResult.maximum}}</div>
            </v-layout>
            <!-- Sangat Baik -->
            <v-layout column v-if="dataResult.score === dataResult.maximum">
              <v-card-text class="nexa-18-bold color-text-1 mb-2 text-xs-center px-5">
                Sangat Baik
              </v-card-text>
              <v-card-text class="avenir-14-reg color-text-1 text-xs-center mb-3 pb-3 px-5">
                Selamat. Kemampuan pengelolaan keuangan kamu sudah sangat baik, pertahankan.
              </v-card-text>
            </v-layout>
            <!-- Baik -->
            <v-layout column v-else-if="dataResult.score >= 100 && dataResult.score < 150">
              <v-card-text class="nexa-18-bold color-text-1 mb-2 text-xs-center px-5">
                Baik
              </v-card-text>
              <v-card-text class="avenir-14-reg color-text-1 text-xs-center mb-3 pb-3 px-5">
                Pengelolaan keuangan kamu sudah baik. Namun tetap masih ada ruang perbaikan untuk bisa jauh lebih baik lagi.
              </v-card-text>
            </v-layout>
            <!-- Cukup -->
            <v-layout column v-else-if="dataResult.score >= 75 && dataResult.score < 100">
              <v-card-text class="nexa-18-bold color-text-1 mb-2 text-xs-center px-5">
                Cukup
              </v-card-text>
              <v-card-text class="avenir-14-reg color-text-1 text-xs-center mb-3 pb-3 px-5">
                Pengelolaan keuangan kamu cukup baik. Perlu untuk meningkatkan kemampuan kamu agar bisa jauh lebih baik lagi.
              </v-card-text>
            </v-layout>
            <!-- Kurang Baik -->
            <v-layout column v-else-if="dataResult.score >= 0 && dataResult.score < 75">
              <v-card-text class="nexa-18-bold color-text-1 mb-2 text-xs-center px-5">
                Kurang Baik
              </v-card-text>
              <v-card-text class="avenir-14-reg color-text-1 text-xs-center mb-3 pb-3 px-5">
                Kamu perlu berhati-hati, pengelolaan keuangan kamu kurang baik. Segera perbaiki pengelolaan keuangan kamu.
              </v-card-text>
            </v-layout>
            <v-layout column v-else>
              <!-- nothing -->
            </v-layout>
          </div>
          <v-divider></v-divider>
          <div class="py-3 px-20">
            <!-- good -->
            <div>
              <v-card-text class="nexa-16-bold pb-4 color-text-1">Hasil tes kecerdasan kamu :</v-card-text>
              <v-layout row justify-space-between align-center class="pb-3" v-for="(good, index) in goodResult" :key="index">
                <v-card-text class="avenir-14-reg">{{ good.analysis }}</v-card-text>
                <img src="@/assets/finacheck/fqt/ic-good.svg" alt="ic good">
              </v-layout>
            </div>
            <!-- bad -->
            <div>
              <v-layout row justify-space-between align-center class="pb-3" v-for="(bad, index) in badResult" :key="index">
                <v-card-text class="avenir-14-reg">{{ bad.analysis }}</v-card-text>
                <img src="@/assets/finacheck/fqt/ic-bad.svg" alt="ic bad">
              </v-layout>
            </div>
          </div>
        </v-flex>
      </v-layout>
      <v-layout class="px-20" row wrap>
        <v-flex xs12 class="mt-4" >
        <v-btn block outline color="#E8EAEF" @click="repeatTest()">
          <span class="nexa-16-bold color-brand-1">Ulangi Test</span>
        </v-btn>
        </v-flex>
        <v-flex xs12 class="my-3">
          <v-btn block color="primary" @click="back()">
            <span class="nexa-16-bold color-primary-3">Kembali</span>
          </v-btn>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container v-else>
      <v-layout column justify-center align-center class="full-height">
        <reusable-loading></reusable-loading>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
// import reusable image assets
import ReusableImageAsset from '@/components/reusable/ReusableImageAsset'
// import global function
import { numberingNumber } from '@/services/Helpers'
// import api
import Api from '@/services/Api'
// import highchart
import VueHighChart from 'vue2-highcharts'
import {
  VTabs,
  VTab,
  VTabItem,
  VDivider
} from 'vuetify/lib'

export default {
  components: {
    ReusableImageAsset,
    VueHighChart,
    VTabs,
    VTab,
    VTabItem,
    VDivider
  },
  // props: ['assetsProps'],
  data: () => ({
    assets: null,
    isLoaded: false,
    dataResult: null,
    screenHeight: screen.height,
    piePortfolioOptions: {
      pieWithAsset: {
        chart: {
          type: 'pie'
        },
        credits: {
          enabled: false
        },
        tooltip: false,
        plotOptions: {
          series: {
            dataLabels: {
              enabled: true,
              format: '',
              distance: -20,
              fontSize: 10,
              style: {
                color: 'white',
                fontWeight: 'normal',
                textShadow: false,
                textOutline: false,
                fontSize: 10
              }
            }
          }
        },
        size: '100%',
        title: false,
        yAxis: {
          title: false
        }
      }
    },
    goodResult: [],
    badResult: []
  }),
  methods: {
    numberingNumber,
    gotoIdeal () {
      this.$router.push('/finavest/new/portfolio/ideal/' + true)
    },
    repeatTest () {
      this.$router.push('/v2/fqt/input')
    },
    back () {
      this.$router.push('/v2/fqt/intro')
    },
    fetchResult () {
      let result = localStorage.getItem('halofina-fqt-result')
      Api('finavest/v1/financial/assessment/quotient/get', {
        uuid: result
      }, true)
        .then((res) => {
          this.isLoaded = true
          this.dataResult = res.d
          // let data = res.d
          let goodResult = {}
          let badResult = {}
          for (let i = 0; i < res.d.detail.length; i++) {
            // console.log('ngopii', res.d.detail[i].type)
            if (res.d.detail[i].type === 'GOOD') {
              goodResult = {
                type: res.d.detail[i].type,
                analysis: res.d.detail[i].analysis
              }
              this.goodResult.push(goodResult)
            } else {
              badResult = {
                type: res.d.detail[i].type,
                analysis: res.d.detail[i].analysis
              }
              this.badResult.push(badResult)
            }
          }
          setTimeout(() => {
            this.loadChart(Number(res.d.score), Number(res.d.maximum - res.d.score))
            // let totalLength = this.goodResult.length + this.badResult.length
          }, 1000)
        })
        .catch(() => {
          this.isLoaded = true
        })
      this.name = JSON.parse(localStorage.getItem('halofina-name'))
    },
    // push data to charts
    loadChart (good, bad) {
      let series = []
      series.push({
        y: good,
        name: 'Bagus'
      })

      series.push({
        y: bad,
        name: 'Buruk'
      })

      this.$refs.pieChartWithAsset.addSeries({
        data: series,
        name: 'Persentase',
        colors: ['#4DA0EF', '#D3D8E7'],
        innerSize: '65%',
        colorByPoint: true
      })
    }
  },
  created () {
    this.fetchResult()
  }
}
</script>

<style lang="sass">
  .finacheck-fqt-result
    *
      padding: 0
      margin: 0

    .v-tabs__item.v-tabs__item--active
      color: #51AAF4 !important

    .v-toolbar
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important
      z-index: 20

    .vue-highcharts
      box-shadow: none
      border: none
      background: transparent
      margin: 0
      padding: 0
      height: 200px

    .bold
      font-Weight: bold

    .v-divider
      border-width: 4px !important

    .score
      width: 75px
      margin: auto
      margin-top: -146px
      z-index: 10
      border-bottom: 1px solid #E8EAEF

    .score-all
      width: 75px
      margin: auto
      margin-top: -75px
      z-index: 10
</style>
