<template>
  <div class="finacheck-fqt-result bg-primary-3" :style="'min-height: ' + screenHeight + 'px;'">
    <v-container v-if="isLoaded === true" class="pa-20" style="height:100vh">
      <div class="box-shadow-down pb-3">
        <reusable-toolbar page-name="Hasil Tes" :left="true" class-name="box-shadow-down bg-primary-3" :change-namespace="true" namespace="dashboard" route="/dashboard?tab=lifeplan"></reusable-toolbar>
      </div>
      <v-layout column>
        <v-flex>
          <vue-high-chart class="my-0 pa-0 center-horizontal" classname="highcharts" style="height: 220px" :options="piePortfolioOptions.pieWithAsset" ref="pieChartWithAsset"></vue-high-chart>
          <v-card-text class="avenir-18-med text-xs-center pb-2">
            Hi Adriana!
          </v-card-text>
          <v-card-text class="avenir-12-reg text-xs-center color-text-1 pb-3 mb-3 pl-4 pr-4">
            Kamu perlu hati-hati karena kondisi keuangan kamu tidak sehat (Be Careful). kamu perlu segera memperbaiki cara pengelolaan keuangan kamu/keluarga kamu.
          </v-card-text>
          <v-tabs fixed-tabs>
            <v-tab>
              Bagus
            </v-tab>
            <v-tab>
              Buruk
            </v-tab>
            <v-tab-item class="pa-3">
              <v-card-text>Kamu sudah memiliki kebiasaan baik dalam hal-hal berikut:</v-card-text>
              <v-layout row v-for="good in goodResult" align-center justify-center :key="good" py-3>
                <div class="mr-2" style="width: 20px; height: 20px; border-radius: 100%; background-color: #3F99DD"></div>
                <v-card-text>{{ good }}</v-card-text>
              </v-layout>
            </v-tab-item>
            <v-tab-item class="pa-3">
              <v-card-text>Kamu sudah memiliki kebiasaan baik dalam hal-hal berikut:</v-card-text>
              <v-layout row v-for="bad in badResult" align-center justify-center :key="bad" py-3>
                <div class="mr-2" style="width: 20px; height: 20px; border-radius: 100%; background-color: #FF8E8E"></div>
                <v-card-text>{{ bad }}</v-card-text>
              </v-layout>
            </v-tab-item>
          </v-tabs>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex
          xs12
          class="mt-4"
        >
          <v-btn block outline color="#E8EAEF">
          <span class="nexa-16-bold" style="color: #51AAF4; font-size:16px">Ulangi Test</span>
        </v-btn>
        </v-flex>
        <v-flex
          xs12
          class="my-2"
        >
          <v-btn block color="primary">
            <span class="nexa-16-bold" style="color: #ffffff; font-size:16px">kembali</span>
          </v-btn>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container v-else>
      <v-layout column justify-center align-center class="full-height">
        <br /><br /><br /><br /><br />
        <reusable-loading></reusable-loading>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
// import reusable image assets
import ReusableImageAsset from '@/components/reusable/ReusableImageAsset'
// import global function
import { numberingNumber } from '@/services/Helpers'
// import highchart
import VueHighChart from 'vue2-highcharts'
import {
  VTabs,
  VTab,
  VTabItem
} from 'vuetify/lib'

export default {
  components: {
    ReusableImageAsset,
    VueHighChart,
    VTabs,
    VTab,
    VTabItem
  },
  // props: ['assetsProps'],
  data: () => ({
    assets: null,
    isLoaded: false,
    screenHeight: screen.height,
    piePortfolioOptions: {
      pieWithAsset: {
        chart: {
          type: 'pie'
        },
        credits: {
          enabled: false
        },
        tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage}%</b>'
        },
        plotOptions: {
          series: {
            dataLabels: {
              enabled: true,
              format: '',
              distance: -20,
              fontSize: 10,
              style: {
                color: 'white',
                fontWeight: 'normal',
                textShadow: false,
                textOutline: false,
                fontSize: 10
              }
            }
          }
        },
        size: '100%',
        title: false,
        yAxis: {
          title: false
        }
      }
    },
    goodResult: [],
    badResult: []
  }),
  methods: {
    numberingNumber,
    gotoIdeal () {
      this.$router.push('/finavest/new/portfolio/ideal/' + true)
    },
    fetchResult () {
      let result = JSON.parse(localStorage.getItem('halofina-fqt-result2'))
      let goodResult = result.rank.good
      let badResult = result.rank.concerned
      let totalLength = goodResult.length + badResult.length
      this.goodResult = goodResult
      this.badResult = badResult
      setTimeout(() => {
        this.loadChart((goodResult.length / totalLength) * 100, (badResult.length / totalLength) * 100)
      }, 1000)
    },
    // push data to charts
    loadChart (good, bad) {
      let series = []
      series.push({
        y: parseFloat(good),
        name: 'Bagus'
      })

      series.push({
        y: parseFloat(bad),
        name: 'Buruk'
      })

      this.$refs.pieChartWithAsset.addSeries({
        data: series,
        name: 'Persentase',
        colors: ['#3F99DD', '#FF8E8E'],
        innerSize: '30%',
        colorByPoint: true
      })
    }
  },
  created () {
    this.fetchResult()
    this.isLoaded = true
  }
}
</script>

<style lang="sass">
  .finacheck-fqt-result
    *
      padding: 0
      margin: 0

    .v-tabs__item.v-tabs__item--active
      color: #51AAF4 !important

    .vue-highcharts
      box-shadow: none
      border: none
      background: transparent
      margin: 0
      padding: 0
      height: 200px
</style>
