<template>
    <div class="finavest-product-detail-emas" style="background-color: white">
      <!-- Toolbar -->
      <reusable-toolbar page-name="Detail Produk"></reusable-toolbar>
      <v-container class="pa-0 toolbar-margin">
        <v-layout column v-if="isLoaded === true">

          <!-- <v-layout row v-if="fromListProductPage === false || fromListProductPage === 'false'" class="bg-secondary-8" py-3>
            <v-flex xs5>
              <v-card-text class="pa-0 text-xs-center avenir-12-reg color-primary-3">
                Emas kamu
              </v-card-text>
              <v-card-text class="pa-0 text-xs-center avenir-16-med color-primary-3">
                {{parseFloat(totalUnit).toFixed(4).toString().replace(/\./g, ',')}} Gram
              </v-card-text>
            </v-flex>
            <v-flex xs2 class="pa-0 text-xs-center" align-self-center>
              <img src="@/assets/finavest/portfolio/chevron_right_white.svg" alt="icon">
            </v-flex>
            <v-flex xs5>
              <v-card-text class="pa-0 text-xs-center avenir-12-reg color-primary-3">
                Senilai
              </v-card-text>
              <v-card-text class="pa-0 text-xs-center avenir-16-med color-primary-3">
                Rp {{numberingNumber(totalAmount)}}
              </v-card-text>
            </v-flex>
          </v-layout> -->

          <v-tabs centered grow class="tabs-product">
            <!-- Tab Title -->
            <v-tab active-class="active-tab" class="avenir-14-reg">
              Harga Beli
            </v-tab>
            <v-tab active-class="active-tab" class="avenir-14-reg">
              Harga Jual
            </v-tab>
            <!-- Tab Item Kinerja -->
            <v-tab-item>
              <product-detail-emas-buy
                :product-id="productId"
                :product-name="productName"
                :product-image="productImage"
                :buy-price-today="buyPrice"
                :notes="notes"
              ></product-detail-emas-buy>
            </v-tab-item>
            <!-- Tab Item Detail -->
            <v-tab-item>
              <product-detail-emas-sell
                :product-id="productId"
                :product-name="productName"
                :product-image="productImage"
                :sell-price-today="sellPrice"
                :notes="notes"
              ></product-detail-emas-sell>
            </v-tab-item>
            <!-- Tab Item Dokumen -->
          </v-tabs>

          <!-- Layout Pilih -->
          <v-layout row align-center justify-space-between v-if="fromListProductPage === false || fromListProductPage === 'false'" class="btn-shadow fixed-layout zindex2" pa-3>
            <!-- <v-flex xs6 mr-1>
              <v-btn depressed block flat class="btn-radius box-shadow" color="primary" block>
                Cetak Emas
              </v-btn>
            </v-flex> -->
            <!-- <v-flex xs12>
              <v-btn depressed block class="btn-radius box-shadow" color="primary" @click="sellProduct(lifeplanId, portfolioId)">
                Jual
              </v-btn>
            </v-flex> -->
          </v-layout>
          <!-- Layout Pilih -->
          <v-layout row align-center justify-space-between v-if="fromListProductPage === true || fromListProductPage === 'true'" class="box-shadow-up fixed-layout" pa-3>
            <v-flex xs8 v-if="!fromMarket">
              <v-layout column>
                <v-card-text class="pa-0">Beli Produk</v-card-text>
                <v-card-text :class="amountBuy < startBuy ? 'pa-0 color-system-error nexa-16-bold' : 'pa-0 color-primary-1 nexa-16-bold'">Rp {{ numberingNumber(amountBuy) }}</v-card-text>
              </v-layout>
            </v-flex>
            <v-flex :xs4="!fromMarket" :xs12="fromMarket">
              <v-btn depressed class="btn-radius box-shadow" color="warning" block @click="openDialog()">
                Pilih
              </v-btn>
            </v-flex>
          </v-layout>
        </v-layout>
        <v-layout v-else column justify-center align-center class="full-height">
          <reusable-loading></reusable-loading>
        </v-layout>
      </v-container>
      <!-- Dialog -->
      <reusable-dialogs
        v-model="dialogReferal"
        description="Harga akan berubah setiap jam 12:00 WIB"
        title="Perubahan Harga"
        :image="null"
        :with-button="true">
      </reusable-dialogs>
      <!--  -->
      <reusable-dialogs
          v-model="dialog.isOpen"
          :title="dialog.title"
          :description="dialog.desc"
          :with-button="true"
          :callback="closeDialogs"
          :image="require('@/assets/finavest/lifeplan/danger.svg')"
          :resize-image="true"
          :is-image-above-title="true">
      </reusable-dialogs>
      <!-- Dialog KYC -->
      <reusable-dialogs
        v-model="dialog.dialogKyc"
        :image="require('@/assets/others/kyc-null.svg')"
        title="Kamu Belum Verifikasi"
        description="Verifikasi diperlukan agar kamu terdaftar menjadi investor resmi, data kamu kami lindungi"
        :is-image-above-title="true"
      >
        <v-layout slot="layout-button" class="full-width" row justify-center align-center px-3 pb-3>
          <v-flex xs6 mr-2>
            <v-btn depressed block outline class="btn-radius bg-primary-3 color-primary-1" @click="routeLater()">Nanti Saja</v-btn>
          </v-flex>
          <v-flex xs6 ml-2>
            <v-btn depressed block color="primary" class="btn-radius" @click="routeKyc()">Daftar</v-btn>
          </v-flex>
        </v-layout>
      </reusable-dialogs>
      <!-- Dialog Pending -->
      <reusable-dialogs
        v-model="dialog.dialogPending"
        :image="require('@/assets/others/kyc-proccess.svg')"
        :is-image-above-title="true"
        class-title="px-3 nexa-16-bold text-xs-center color-text-1"
        title="Verifikasi kamu masih dalam Proses"
        description="Silahkan menunggu, proses verifikasi ini membutuhkan kurang lebih 1-2 hari kerja"
      >
        <v-layout slot="layout-button" class="full-width pa-20" column align-center justify-center>
          <v-btn color="primary" class="py-2 btn-radius box-shadow" depressed block @click.native="goToDashboard('lifeplan', 'assign')">Saya Mengerti</v-btn>
        </v-layout>
      </reusable-dialogs>
      <!-- Dialog Rejected -->
      <reusable-dialogs
        v-model="dialog.dialogReject"
        :image="require('@/assets/others/kyc-rejected.svg')"
        :is-image-above-title="true"
        title="Verifikasi kamu ditolak, silahkan perbaiki data"
        :description="dialog.dialogRemark"
      >
        <v-layout slot="layout-button" class="full-width" row justify-center align-center pb-3 px-3>
          <v-flex xs6 mr-2>
            <v-btn block color="primary" outline flat class="btn-radius" @click.native="goToDashboard('lifeplan', 'assign'); $analytics.track('KYC Failed')">Nanti Saja</v-btn>
          </v-flex>
          <v-flex xs6 ml-2>
            <v-btn block color="primary" class="btn-radius" @click.native="$router.push('/finacheck/kyc/list'); $analytics.track('KYC Edited')">Perbaiki Data</v-btn>
          </v-flex>
        </v-layout>
      </reusable-dialogs>

      <!-- Dialog Amount -->
      <reusable-dialogs
        v-model="dialog.dialogAmount"
      >
        <v-card slot="layout" class="full-width text-align-center card-radius pa-4">
          <v-layout column justify-center align-center>
            <div class="wrap-img mb-3">
              <img :src="productImage" alt="Indogold">
            </div>
            <div class="avenir-14-reg">Emas</div>
            <div class="nexa-14-bold">{{ productName }}</div>
            <div class="border-bottom-dashed" style="height: 20px; width: 100%"></div>
            <v-layout row align-center justify-center class="full-width mt-4">
              <v-flex xs6>
                <div class="avenir-14-reg">Rencana Beli</div>
                <div class="nexa-14-bold">Rp {{ numberingNumber(amountBuy) }}</div>
              </v-flex>
              <v-flex xs6>
                <div class="avenir-14-reg">Minimal Beli</div>
                <div class="nexa-14-bold">Rp {{ numberingNumber(startBuy) }}</div>
              </v-flex>
            </v-layout>
            <div class="avenir-14-reg mt-4 pt-2">Nilai pembelian akan berubah mengikuti harga minimal pembelian produk ini.</div>
            <div class="mt-4 full-width">
              <v-btn block color="primary" class="btn-radius box-shadow" @click="chooseProduct()">Saya Mengerti</v-btn>
            </div>
          </v-layout>
        </v-card>
      </reusable-dialogs>
      <!-- Amount Sheet -->
      <reusable-bottom-sheet
        v-model="openAmountSheet"
      >
        <v-card flat class="rounded-top-corners" slot="custom-layout">
          <v-layout column>
            <v-flex>
              <v-card-text class="avenir-14-reg pa-0">Mau beli berapa?</v-card-text>
              <input
                v-on:focus="true"
                v-model="amountBuy"
                v-money="openAmountSheet ? money : null"
                solo
                flat
                type="tel"
                maxlength="12"
                placeholder="Rp 0"
                style="border: 1px solid #E8EAEF; border-radius: 8px; padding: 8px" class="v-input__control bg-primary-3 mb-3"
              />
              <v-card-text class="avenir-12-reg pa-0 py-3">*Minimum Beli Rp {{ numberingNumber(startBuy) }}</v-card-text>
              <v-btn color="warning" depressed block class="btn-radius box-shadow" :disabled="isDisabled" @click="chooseProduct()">Beli</v-btn>
            </v-flex>
          </v-layout>
        </v-card>
      </reusable-bottom-sheet>
    </div>
</template>

<script>
// import API
import Api from '@/services/Api'
import { dateFormat, numberingNumber, replaceDotWithComa, checkFeatures, replaceDot, goToDashboard } from '@/services/Helpers'
import {
  VTabs,
  VTab,
  VTabItem
} from 'vuetify/lib'
import { addToCart, checkProduct } from '@/components/v2/finavest/market/Helpers'
import { VMoney } from 'v-money'
// Import component for tabs
const ProductDetailEmasBuy = () => import('./ProductDetailEmasBuy')
const ProductDetailEmasSell = () => import('./ProductDetailEmasSell')

export default {
  name: 'FinavestInvestmentDetailEmas',
  components: {
    VTabs,
    VTab,
    VTabItem,
    ProductDetailEmasBuy,
    ProductDetailEmasSell
  },
  directives: { money: VMoney },
  data () {
    return {
      id: '',
      datenow: new Date(),
      dateYesterday: null,
      amountBuy: '',
      buyPrice: 0,
      sellPrice: 0,
      totalAmount: 0,
      totalUnit: 0,
      startBuy: 10000,
      lifeplanId: '',
      productId: '',
      productName: '',
      productImage: '',
      portfolioId: 0,
      fromListProductPage: true,
      dialogReferal: false,
      isLoaded: false,
      notes: '',
      isDisabled: true,
      dialog: {
        isOpen: false,
        desc: '',
        title: '',
        dialogRemark: '',
        dialogKyc: false,
        dialogPending: false,
        dialogReject: false,
        dialogAmount: false
      },
      money: {
        thousands: '.',
        precision: 0,
        masked: true
      },
      openAmountSheet: false,
      status: null,
      fromMarket: null
    }
  },
  watch: {
    amountBuy: function (value) {
      if (Number(replaceDot(value)) < this.startBuy) {
        this.isDisabled = true
      } else {
        this.isDisabled = false
      }
    }
  },
  methods: {
    dateFormat,
    numberingNumber,
    replaceDotWithComa,
    checkFeatures,
    replaceDot,
    goToDashboard,
    getYesterday () {
      this.dateYesterday = new Date(this.datenow)
      this.dateYesterday.setDate(this.datenow.getDate() - 1)
    },
    setRouteCondition () {
      this.fromListProductPage = this.$route.params.fromListProduct
    },
    splice (currentString, newString) {
      return currentString.slice(0, 2) + newString + currentString.slice(2)
    },
    getProductAmount () {
      this.amountBuy = localStorage.getItem('halofina-product-amount') || '0'
    },
    fetchData () {
      this.productId = this.$route.params.id
      Api('finavest/investment/product/gold', {
        productid: this.productId
      })
        .then((res) => {
          this.buyPrice = res.d[0].buy_price
          this.sellPrice = res.d[0].sell_price
          this.totalAmount = res.d[0].total_amount
          this.totalUnit = res.d[0].total_unit
          this.productName = res.d[0].product_code
          this.portfolioId = res.d[0].portfolioid
          this.productImage = res.d[0].product_image
          this.notes = this.productName === 'INDOGOLD' ? 'Produk ini disediakan oleh PT IndoGold Solusi Gadai, terdaftar dan diawasi oleh Badan Pengawas Perdagangan Berjangka Komoditi (BAPPEBTI) sesuai Perka Bappebti No. 4 tahun 2019.' : ''
          this.fetchStatusKyc()
          this.getAmountBuy()
        }).catch(() => {
          this.dialogError = true
        })
    },
    fetchStatusKyc () {
      Api('finacheck/kyc/status', {})
        .then((res) => {
          this.status = res.d.status
          this.dialog.dialogRemark = res.d.remark
          this.isLoaded = true
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    openDialog () {
      let status = this.status
      let outstanding = checkFeatures('halofina:outstanding').enabled
      let amountBuy = this.amountBuy
      let startBuy = this.startBuy
      if (outstanding === true) {
        if (amountBuy >= startBuy && status !== 'REJECTED' && status !== null) {
          if (this.fromMarket) {
            this.openAmountSheet = true
          } else {
            this.chooseProduct()
          }
        } else {
          if (status === null) {
            this.dialog.dialogKyc = true
          } else if (status === 'REJECTED') {
            this.dialog.dialogReject = true
          } else if (status === 'COMPLETED') {
            if (this.fromMarket) {
              this.openAmountSheet = true
            } else {
              this.dialog.dialogAmount = true
            }
          }
        }
      } else {
        if (amountBuy >= startBuy && status === 'COMPLETED') {
          if (this.fromMarket) {
            this.openAmountSheet = true
          } else {
            this.chooseProduct()
          }
        } else {
          if (status === 'PENDING' || status === 'ONPROCESS') {
            this.dialog.dialogPending = true
          } else if (status === 'REJECTED') {
            this.dialog.dialogReject = true
          } else if (status === null) {
            this.dialog.dialogKyc = true
          } else {
            if (this.fromMarket) {
              this.openAmountSheet = true
            } else {
              this.dialog.dialogAmount = true
            }
          }
        }
      }
    },
    chooseProduct () {
      let amountBuy = this.fromMarket ? Number(replaceDot(this.amountBuy)) : this.amountBuy
      var productObj = {
        product_id: this.productId,
        product_name: this.productName,
        product_image: this.productImage,
        asset_class_id: '4',
        asset_class_name: 'Emas',
        amount: amountBuy < this.startBuy ? this.startBuy : Number(amountBuy),
        ri: amountBuy < this.startBuy ? this.startBuy : Number(amountBuy),
        min_buy: this.startBuy
      }
      if (this.fromMarket) {
        addToCart(productObj)
        this.$router.push('/finavest/market/dashboard')
        return
      }
      this.customPortfolio(productObj)
      localStorage.setItem('halofina-class-emas', JSON.stringify(productObj))
      this.$router.go(-2)
    },
    getAmountBuy () {
      if (this.fromMarket) {
        this.amountBuy = checkProduct(this.productName).amount
      } else {
        this.amountBuy = Number(localStorage.getItem('halofina-product-amount')) || '0'
      }
    },
    customPortfolio (productObj) {
      var customPortfolio = JSON.parse(localStorage.getItem('halofina-custom-portfolio'))
      if (customPortfolio) {
        customPortfolio.forEach((element) => {
          if (element.asset === 'Emas') {
            element.ri = productObj.ri
            element.product = productObj
          }
        })
        localStorage.setItem('halofina-custom-portfolio', JSON.stringify(customPortfolio))
      }
    },
    sellProduct (lifeplanId, portfolioId) {
      this.$router.push('/finavest/investment/sell/sell_product/' + lifeplanId + '/' + portfolioId)
    },
    dialogs (title, desc) {
      this.dialog.isOpen = true
      this.dialog.title = title
      this.dialog.desc = desc
    },
    closeDialogs () {
      this.dialog.isOpen = false
    },
    routeLater () {
      goToDashboard('lifeplan', 'assign')
      this.trackRouteLater()
    },
    routeKyc () {
      this.$router.push('/finacheck/kyc/list')
      this.trackRouteKyc()
    },
    trackRouteLater () {
      this.$analytics.track('KYC Postponed')
    },
    trackRouteKyc () {
      this.$analytics.track('KYC Continued')
    },
    checkFromMarket () {
      this.fromMarket = localStorage.getItem('halofina-from-market')
    }
  },
  created () {
    this.checkFromMarket()
    this.fetchData()
    this.getProductAmount()
    this.setRouteCondition()
    this.getYesterday()
  }
}
</script>
<style lang="sass">
  .finavest-product-detail-emas

    .v-tabs__wrapper
      position: fixed !important
      width: 100%
      z-index: 10
      background-color: #fff

    .v-tabs__item
      opacity: 1
      color: #AAADC4
      font-weight: 100

    .v-tabs__item.active-tab
      color: #42A5F5
      opacity: 1
      font-weight: bold

    .box-shadow-up
      box-shadow: 0px -3px 12px 0px rgba(0,0,0,0.12)

    .wrap-img
      border: 1px solid #E9ECF0
      background: white
      padding: 4px 4px 0 4px
      border-radius: 3px
      width: 44px
      height: 44px
      overflow: hidden
      position: relative

      img
        width: 40px
        height: auto
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

      .tabs-product
        .v-tabs__item
          color: #AAADC4

        .v-tabs__item.active-tab
          opacity: 1 !important
          color: #42A5F5 !important

        .desc
          font-family: "SFUIDisplay-Regular", Helvetica, Arial, Sans-Serif
          font-size: 12px

        .amount
          font-family: "SFUIDisplay-Bold", Helvetica, Arial, Sans-Serif
          font-size: 14px
          line-height: 19px

        .accent
          background-color: #42A5F5 !important
          border-color: #42A5F5 !important

      .zindex2
        z-index: 2 !important

      .btn-shadow
        -webkit-box-shadow: 0px -3px 12px rgba(0, 0, 0, 0.12)
        -moz-box-shadow: 0px -3px 12px rgba(0, 0, 0, 0.12)
        box-shadow: 0px -3px 12px rgba(0, 0, 0, 0.12)

      .icon-information
        position: relative
        top: 3px
        margin-top: -10px

      .v-divider
        border-width: 2px

      .divider-6
        border-width: 6px

    .fixed-layout
      position: fixed
      background-color: white
      width: 100%
      bottom: 0px
</style>
