<template>
  <div class="product-detail-emas-sell toolbar-margin">

    <v-layout row px-3 pt-4 align-center class="mb-12">
      <div class="wrap-img mr-3">
        <img :src="productImage" :alt="productName">
      </div>
      <v-layout column pa-0>
        <v-card-text class="avenir-14-med pa-0 text-capitalize">{{ productName }}</v-card-text>
        <v-card-text class="avenir-12-reg pa-0">Emas</v-card-text>
      </v-layout>
    </v-layout>

    <v-card-text class="avenir-10-reg py-0 px-3 mb-12">
      {{ notes }}
    </v-card-text>

    <v-card-text class="avenir-12-reg py-0 px-3">
      Harga Jual
    </v-card-text>

    <v-layout row px-3 justify-space-between pb-3>
      <v-card-text class="avenir-14-med pa-0">Rp {{numberingNumber(this.sellPriceToday, true)}}/gr</v-card-text>
      <v-card-text class="avenir-12-reg pa-0 color-abu text-xs-right">
        <span v-if="datenow.getHours() < 12">{{ dateFormat(dateYesterday, 'DD MMMM YYYY') }}, 12.00 WIB</span>
        <span v-else>{{ dateFormat(datenow, 'DD MMMM YYYY') }}, 12.00 WIB</span>
      </v-card-text>
    </v-layout>

    <v-layout row px-3 py-0>
      <div class="border-bottom" pa-0></div>
    </v-layout>

    <v-card-text class="avenir-12-med py-4 px-3">
      Grafik Perubahan Harga
    </v-card-text>

    <!-- Grafik -->
    <div class="high-chart">
      <vue-highcharts :highcharts="Highcharts" :options="options" ref="emasSellChart"></vue-highcharts>
      <div class="blank-box"></div>
    </div>
  </div>
</template>
<script>
// Import highstock highchart
import VueHighcharts from 'vue2-highcharts'
import Highcharts from 'highcharts/highstock'

import { dateFormat, numberingNumber } from '@/services/Helpers'
// Import Api
import Api from '@/services/Api'
// Import Vuetify
import {
  VDivider
} from 'vuetify/lib'

export default {
  components: {
    VueHighcharts,
    VDivider
  },
  props: {
    productId: {
      type: String || Number
    },
    notes: {
      type: String
    },
    productName: {
      type: String
    },
    productImage: {
      type: String
    },
    sellPriceToday: {
      type: String || Number
    }
  },
  data () {
    return {
      dataAll: [],
      maxGraphic: this.buyPriceToday + 200000,
      buyPriceToday: null,
      datenow: new Date(),
      dateYesterday: null,
      Highcharts: Highcharts,
      dataChart: [],
      buyPrice: 0,
      sellPrice: 0,
      options: {
        responsive: {
          rules: [{
            condition: {
              maxWidth: null
            },
            chartOptions: {
              chart: {
                height: 270
              },
              subtitle: {
                text: null
              },
              navigator: {
                enabled: false
              }
            }
          }]
        },
        credits: {
          enabled: false
        },
        scrollbar: {
          enabled: false
        },
        navigator: {
          enabled: false
        },
        tooltip: {
          backgroundColor: null,
          useHTML: true,
          borderWidth: 0,
          shadow: false,
          formatter: function () {
            return '<div class="tooltip-custom avenir-12-med">Rp ' + numberingNumber(this.y) + '<p class="tooltip-tgl mb-0 mt-1 avenir-12-reg">' + dateFormat(new Date(this.x * 1), 'D-MMM-YYYY') + '</p></div>'
          }
        },
        rangeSelector: {
          verticalAlign: 'bottom',
          buttonPosition: {
            x: -40,
            y: 0,
            padding: 0
          },
          labelStyle: {
            display: 'none'
          },
          buttons: [{
            type: 'month',
            count: 1,
            text: '1 bln'
          }, {
            type: 'month',
            count: 3,
            text: '3 bln'
          }, {
            type: 'month',
            count: 6,
            text: '6 bln'
          }, {
            type: 'year',
            count: 1,
            text: '1 thn'
          }],
          buttonTheme: {
            fill: '#F6F6F7',
            width: 60,
            r: 3,
            padding: 4,
            style: {
              fontSize: 12,
              color: '#2C3B50',
              fontWeight: 'regular'
            },
            states: {
              select: {
                fill: '#42A5F5',
                style: {
                  color: '#FFFFFF',
                  fontWeight: 'bold'
                }
              }
            }
          },
          selected: 0,
          inputEnabled: false
        },
        xAxis: {
          gridLineWidth: 1,
          gridLineDashStyle: 'longdash',
          labels: {
            formatter: function () {
              return ''
            },
            style: {
              color: '#AAADC4',
              fontSize: 12
            }
          },
          crosshair: false
        },
        yAxis: {
          gridLineColor: '#E9ECF0',
          gridLineWidth: 2,
          min: null,
          opposite: false,
          crosshair: false,
          labels: {
            formatter: function () {
              return this.value.toString().substr(0, 3) + 'Rb'
            },
            style: {
              color: '#AAADC4',
              fontSize: 12
            }
          }
        },
        plotOptions: {
          series: {
            fillOpacity: 0.1
          }
        },
        series: []
      }
    }
  },
  methods: {
    dateFormat,
    numberingNumber,
    getYesterday () {
      this.dateYesterday = new Date(this.datenow)
      this.dateYesterday.setDate(this.datenow.getDate() - 1)
    },
    setDataToChart (item) {
      var data = []
      var upperBound = item.length
      var charts = this.$refs.emasSellChart
      for (var i = 0; i < upperBound; i++) {
        data.push([Number(item[i].price_time), Number(item[i].sell_price)])
      }
      var min = Math.min.apply(Math, item.map(function (o) { return o.sell_price }))
      charts.delegateMethod('showLoading', 'Memuat...')
      charts.delegateMethod('update', ({
        yAxis: {
          min: min
        }
      }))
      charts.addSeries({
        type: 'areaspline',
        data: data,
        shadow: false,
        color: '#42A5F5',
        fillColor: {
          linearGradient: { x1: 0, x2: 0, y1: 0.5, y2: 1 },
          stops: [
            [0, Highcharts.Color('#BBDDFF').setOpacity(0.3).get('rgba')],
            [1, Highcharts.Color('#FFFFFF').setOpacity(0.1).get('rgba')]
          ]
        }
      })
      this.doneLoading = true
      charts.hideLoading()
    },
    fetchData () {
      Api('finavest/investment/product/price/history', {
        productid: this.productId
      })
        .then((res) => {
          this.setDataToChart(res.d)
          this.dataAll = res.d
          this.buyPriceToday = res.d[res.d.length - 1].sell_price
        }).catch(() => {
          // Do something
        })
    }
  },
  created () {
    this.getYesterday()
    this.fetchData()
  },
  mounted () {
    document.getElementByClassName('highcharts-button-pressed').click()
  }
}
</script>
<style lang="sass">

  .product-detail-emas-sell
    .tooltip-tgl
      font-size: 10px !important
      color: #AAADC4 !important

    .color-abu
      color: #9B9EB3

    .tooltip-custom
      background: #fff
      color: #42A5F5
      font-size: 12px
      border: 2px solid #42A5F5
      border-radius: 10px
      box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.12)
      padding: 8px 10px
      letter-spacing: 0
      text-align: center

    .vue-highcharts
      margin: 0 auto !important
      border: none !important
      box-shadow: 0 0 0 rgba(255, 255, 255, 0) !important
      padding: 0 !important

    .blank-box
      width: 100%
      height: 100px

    .layout
      flex: 0 0 auto

    .pt-36
      padding-top: 36px !important

    .v-tabs__item
      height: 70px
      padding-bottom: 25px

    .border-bottom
      width: 100%
      height: 1px
      background: #E9ECF0

    .highcharts-range-selector-group
      transform: translate(0,249px)

  // Pixel 2, iphone 6/7/8 Plus
  @media only screen and (max-width: 414px)
    .product-detail-emas-sell
      .highcharts-range-selector-buttons
        transform: translate(32px,-7px)

  // iphone 6/7/8, iphonex
  @media only screen and (max-width: 393px)
    .product-detail-emas-sell
      .highcharts-range-selector-buttons
        transform: translate(26px,-7px)

  // iphone 6/7/8, iphonex
  @media only screen and (max-width: 375px)
    .product-detail-emas-sell
      .highcharts-range-selector-buttons
        transform: translate(15px,-7px)

  // nexus 5
  @media only screen and (max-width: 360px)
    .product-detail-emas-sell
      .highcharts-range-selector-buttons
        transform: translate(5px,-7px)

  // iphone 5
  @media only screen and (max-width: 320px)
    .product-detail-emas-sell
      .highcharts-range-selector-buttons
        transform: translate(-12px,-7px)


</style>
