<template>
  <div class="pin-confirm">
    <v-container class="full-height bg-primary-3" align-center>
      <reusable-toolbar page-name="Konfirmasi PIN" :left="true" :is-fixed="false"></reusable-toolbar>
      <v-layout column align-center style="margin-top: 40px">
        <auth-pin-input
          title="Masukkan Ulang 6 digit PIN"
          @input="inputHandler"
        >
          <span slot="description">PIN digunakan untuk masuk ke akun kamu <br/> dan untuk bertransaksi</span>
        </auth-pin-input>
      </v-layout>
      <v-flex class="fixed-layout">
        <v-btn :disabled="pin.length < 6" color="primary" block depressed style="height: 56px !important" @click="submitPin()">Lanjut</v-btn>
      </v-flex>
    </v-container>
    <reusable-bottom-sheet
      v-model="bottomSheet.confirm"
      title="PIN berhasil dibuat"
      :persistent="true"
      :image="require('@/assets/finacheck/pin/secure.svg')"
    >
      <v-btn class="btn-radius box-shadow py-3 nexa-16-bold" color="primary" depressed block @click="goToDashboard()" slot="button-layout">
        Oke
      </v-btn>
    </reusable-bottom-sheet>
  </div>
</template>

<script>
import { goToDashboard } from '@/services/Helpers'
import AuthPinInput from '@/components/reusable/pin/AuthPinInput'

export default {
  name: 'PinNew',
  components: {
    AuthPinInput
  },
  data () {
    return {
      pin: '',
      bottomSheet: {
        confirm: false
      }
    }
  },
  methods: {
    inputHandler (value) {
      this.pin = value
    },
    submitPin () {
      this.bottomSheet.confirm = true
    },
    goToDashboard () {
      goToDashboard('lifeplan', 'assign')
    }
  }
}
</script>

<style lang="sass">
.pin-confirm
  *
    margin: 0px
    padding: 0px
</style>