<template>
  <div class="pin-new">
    <v-container class="full-height bg-primary-3" align-center>
      <reusable-toolbar page-name="Buat PIN" :left="true" :is-fixed="false"></reusable-toolbar>
      <v-layout column align-center style="margin-top: 40px">
        <auth-pin-input
          title="Masukkan 6 digit PIN"
          @input="inputHandler"
        >
          <span slot="description">PIN digunakan untuk masuk ke akun kamu <br/> dan untuk bertransaksi</span>
        </auth-pin-input>
      </v-layout>
      <v-flex class="fixed-layout">
        <v-btn :disabled="pin.length < 6" color="primary" block depressed style="height: 56px !important" @click="goToConfirmPin()">Lanjut</v-btn>
      </v-flex>
    </v-container>
  </div>
</template>

<script>
import AuthPinInput from '@/components/reusable/pin/AuthPinInput'

export default {
  name: 'PinNew',
  components: {
    AuthPinInput
  },
  data () {
    return {
      pin: ''
    }
  },
  methods: {
    inputHandler (value) {
      this.pin = value
    },
    setPinToLocal () {
      localStorage.setItem('halofina-pin-temp', this.pin)
    },
    goToConfirmPin () {
      this.setPinToLocal()
      this.$router.push('/pin/new/confirm')
    }
  }
}
</script>

<style lang="sass">
.pin-new
  *
    margin: 0px
    padding: 0px
</style>