<template>
  <div class="finavest-investment-detail-voucher-card bg-primary-3"  :style="'min-height: ' + screenHeight + 'px; background: transparent;'">
    <reusable-toolbar page-name=""></reusable-toolbar>
    <v-container class="pa-0">
      <v-layout column v-if="isLoaded === true">
        <v-img :src="image"></v-img>
        <!-- Banner Header -->
        <v-card flat class="border-bottom pa-3">
          <v-card-text class="pa-0 nexa-16-bold mb-3">{{ name }}</v-card-text>
          <div class="border-bottom-dashed"></div>
          <v-layout row align-center justify-space-between class="mt-4">
            <v-card-text class="pa-0 avenir-12-reg">Berlaku hingga</v-card-text>
            <v-card-text class="pa-0 avenir-12-med text-align-right endtime">{{ dateFormat(endtime, 'D MMMM YYYY') }}</v-card-text>
          </v-layout>
        </v-card>

        <v-divider></v-divider>
        <div>
          <v-tabs centered grow class="tabs-product">
            <v-tab>
              Deskripsi
            </v-tab>
            <v-tab>
              Cara Pakai
            </v-tab>
            <v-tab>
              S&K
            </v-tab>
            <v-tab-item class="avenir-12-reg pa-3">
              <div v-html="description"></div>
            </v-tab-item>
            <v-tab-item class="pa-3">
              <div v-html="usage"></div>
            </v-tab-item>
            <v-tab-item class="pa-3">
              <div v-html="tnc"></div>
            </v-tab-item>
          </v-tabs>
        </div>
        <!-- Layout Pilih -->
        <div style="height: 72px"></div>
        <v-layout class="box-shadow-up fixed-layout" pa-3>
          <v-btn depressed class="btn-radius box-shadow" color="primary" :disabled="isDisabled" block @click="checkKycStatus()">
            Gunakan Sekarang
          </v-btn>
        </v-layout>
      </v-layout>
      <v-layout v-else class="full-height" column align-center justify-center>
        <reusable-loading></reusable-loading>
      </v-layout>
    </v-container>
		<!-- Dialog KYC -->
		<reusable-dialogs
			v-model="dialog.dialogKyc"
      :image="require('@/assets/others/kyc-null.svg')"
      title="Kamu Belum Verifikasi"
      description="Agar bisa menggunakan voucher ini, silahkan lakukan Verifikasi terlebih dahulu."
      :is-image-above-title="true"
    >
      <v-layout slot="layout-button" class="full-width" row justify-center align-center px-3 pb-3>
        <v-flex xs6 mr-2>
          <v-btn depressed block outline class="btn-radius bg-primary-3 color-primary-1" @click="routeLater()">Nanti Saja</v-btn>
        </v-flex>
        <v-flex xs6 ml-2>
          <v-btn depressed block color="primary" class="btn-radius" @click="routeKyc()">Daftar</v-btn>
        </v-flex>
      </v-layout>
		</reusable-dialogs>
		<!-- Dialog Pending -->
		<reusable-dialogs
			v-model="dialog.dialogPending"
      :image="require('@/assets/others/kyc-proccess.svg')"
      :is-image-above-title="true"
      class-title="px-3 nexa-16-bold text-xs-center color-text-1"
      title="Verifikasi kamu masih dalam Proses"
      description="Agar bisa menggunakan voucher ini, silahkan tunggu Verifikasi hingga berhasil."
    >
      <v-layout slot="layout-button" class="full-width pa-20" column align-center justify-center>
        <v-btn color="primary" class="py-2 btn-radius box-shadow" depressed block @click.native="goToDashboard('lifeplan', 'assign')">Saya Mengerti</v-btn>
      </v-layout>
		</reusable-dialogs>
		<!-- Dialog Rejected -->
		<reusable-dialogs
			v-model="dialog.dialogReject"
      :image="require('@/assets/others/kyc-rejected.svg')"
      :is-image-above-title="true"
      title="Verifikasi kamu ditolak, silahkan perbaiki data"
      description="Agar bisa menggunakan voucher ini, silahkan perbaiki data Verifikasi kamu hingga berhasil."
    >
      <v-layout slot="layout-button" class="full-width" row justify-center align-center pb-3 px-3>
        <v-flex xs6 mr-2>
          <v-btn block color="primary" outline flat class="btn-radius" @click.native="goToDashboard('lifeplan', 'assign'); $analytics.track('KYC Failed')">Nanti Saja</v-btn>
        </v-flex>
        <v-flex xs6 ml-2>
          <v-btn block color="primary" class="btn-radius" @click.native="$router.push('/finacheck/kyc/list'); $analytics.track('KYC Edited')">Perbaiki Data</v-btn>
        </v-flex>
      </v-layout>
		</reusable-dialogs>
    <!-- Dialog Error -->
    <reusable-dialogs
      v-model="dialog.dialogError"
      :resize-image="true"
      :is-image-above-title="true"
      :description="dialog.dialogErrorDesc"
    ></reusable-dialogs>
    <!-- Dialog loading -->
    <reusable-dialogs
        v-model="dialog.dialogUploading"
        :unclickable="true"
    >
        <div slot="layout">
          <v-card flat class="card-radius" style="width: 100%">
            <v-layout py-3 px-5 row align-center justify-center>
              <div class="nexa-14-bold px-5">Loading...</div>
            </v-layout>
          </v-card>
        </div>
    </reusable-dialogs>
  </div>
</template>

<script>
import Api from '@/services/Api'
import { numberingNumber, dateFormat, checkFeatures, renameObjectKeys, goToDashboard } from '@/services/Helpers'
import {
  VDivider,
  VTabs,
  VTab,
  VImg,
  VTabItem,
  VToolbar,
  VToolbarSideIcon,
  VToolbarTitle,
  VSpacer,
  VList,
  VSubheader,
  VListTile,
  VListTileAvatar,
  VListTileContent,
  VListTileTitle,
  VListTileSubTitle,
  VListTileAction,
  VBottomSheet
} from 'vuetify/lib'

export default {
  name: 'FinavestInvestmentDetailVoucher',
  components: {
    VDivider,
    VTabs,
    VTab,
    VImg,
    VTabItem,
    VToolbar,
    VToolbarSideIcon,
    VToolbarTitle,
    VSpacer,
    VList,
    VSubheader,
    VListTile,
    VListTileAvatar,
    VListTileContent,
    VListTileTitle,
    VListTileSubTitle,
    VListTileAction,
    VBottomSheet
  },
  data () {
    return {
      popupbottom: {
        description: false,
        howtouse: false
      },
      screenHeight: screen.height,
      description: '',
      image: '',
      name: '',
      endtime: '',
      tnc: '',
      usage: '',
      status: '',
      dialog: {
        dialogKyc: false,
        dialogPending: false,
        dialogReject: false,
        dialogError: false,
        dialogErrorDesc: '',
        dialogRemark: '',
        dialogUploading: false
      },
      isDisabled: false,
      isLoaded: false
    }
  },
  methods: {
    numberingNumber,
    dateFormat,
    checkFeatures,
    goToDashboard,
    fetchData (code) {
      var detail = JSON.parse(localStorage.getItem('halofina-detail-voucher'))
      this.description = detail.description
      this.image = detail.image
      this.name = detail.name
      this.endtime = detail.endtime
      this.tnc = detail.tnc
      this.usage = detail.usage
    },
    fetchStatusKyc () {
      Api('finacheck/kyc/status', {})
        .then((res) => {
          this.status = res.d.status
          this.dialog.dialogRemark = res.d.remark
          this.isLoaded = true
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    checkKycStatus () {
      let status = this.status
      let outstanding = checkFeatures('halofina:outstanding').enabled
      let detailVoucher = JSON.parse(localStorage.getItem('halofina-detail-voucher'))
      if (outstanding === true && detailVoucher.category !== 'F') {
        if (status === null) {
          this.dialog.dialogKyc = true
        } else if (status === 'REJECTED') {
          this.dialog.dialogReject = true
        } else {
          this.useCashback()
        }
      } else {
        if (status === 'PENDING' || status === 'ONPROCESS') {
          this.dialog.dialogPending = true
        } else if (status === 'REJECTED') {
          this.dialog.dialogReject = true
        } else if (status === null) {
          this.dialog.dialogKyc = true
        } else if (status === 'COMPLETED') {
          this.useCashback()
        }
      }
    },
    routeLater () {
      goToDashboard('lifeplan', 'assign')
      this.trackRouteLater()
    },
    routeKyc () {
      this.$router.push('/finacheck/kyc/list')
      this.trackRouteKyc()
    },
    trackRouteLater () {
      this.$analytics.track('KYC Postponed')
    },
    trackRouteKyc () {
      this.$analytics.track('KYC Continued')
    },
    dialogError (title, desc) {
      this.dialog.dialogError = true
      this.dialog.dialogErrorDesc = desc
    },
    useCashback () {
      this.dialog.dialogUploading = true
      var detailVoucher = JSON.parse(localStorage.getItem('halofina-detail-voucher'))
      var fromLifeplan = JSON.parse(localStorage.getItem('halofina-itenerary-data'))
      var voucherData = {
        cashbackUse: true,
        cashbackType: detailVoucher.category,
        cashbackCode: detailVoucher.voucher_code,
        cashbackMax: Number(detailVoucher.maxredeem),
        cashbackValue: Number(detailVoucher.vouchervalue),
        cashbackTotal: detailVoucher.redeem,
        cashbackId: detailVoucher.voucher_id,
        cashbackUnit: detailVoucher.type,
        cashbackGeneral: detailVoucher.general
      }
      if (detailVoucher.category === 'F') {
        Api('finavest/transaction/campaign/generate', {
          amount: detailVoucher.vouchervalue,
          voucherid: detailVoucher.voucher_id,
          ishold: detailVoucher.ishold,
          holdperiod: detailVoucher.holdperiod,
          productid: detailVoucher.productid,
          general: detailVoucher.general,
          payment_channel_id: '1'
        })
          .then((res) => {
            this.$router.replace('/finavest/payment/detail/' + res.d + '/buy/history')
          })
          .catch(() => {
            this.isDisabled = false
            this.dialog.dialogUploading = false
            this.dialog.dialogError = true
          })
      } else {
        if (fromLifeplan) {
          fromLifeplan.detail.forEach((element) => {
            if (checkFeatures('halofina:trx').version > 3) renameObjectKeys(element, 'id_product', 'product_id')
            element.discount_type = voucherData.cashbackUnit
            element.voucher_id = voucherData.cashbackId
            element.general = voucherData.cashbackGeneral
            if (voucherData.cashbackType === 'Cashback') {
              element.cashback = voucherData.cashbackTotal
            } else {
              element.discount = voucherData.cashbackValue
            }
          })
          Api('finavest/investment/voucher/validate', {
            detail: fromLifeplan.detail
          })
            .then((res) => {
              this.dialog.dialogUploading = false
              if (res.d.match === true) {
                localStorage.setItem('halofina-cashback', JSON.stringify(voucherData))
                this.$router.push('/finavest/investment/buy/detail')
              } else {
                this.isDisabled = false
                this.dialog.dialogUploading = false
                this.dialogError('', res.d.remark)
              }
            })
            .catch(() => {
              this.isDisabled = false
              this.dialog.dialogUploading = false
              this.dialogError('', 'Coba reload atau coba beberapa saat lagi')
            })
        } else {
          this.goToProductMarket(voucherData)
        }
      }
    },
    goToProductMarket (voucherData) {
      localStorage.setItem('halofina-cashback', JSON.stringify(voucherData))
      this.$router.push('/finavest/market/dashboard')
    }
  },
  created () {
    this.fetchData()
    this.fetchStatusKyc()
  }
}
</script>

<style lang="sass">
  .finavest-investment-detail-voucher-card
    .v-divider
      border-width: thick 0 0 0

    .absolute
      position: absolute

    .v-card
      box-shadow: none

    .box-shadow-up
      box-shadow: 0px -3px 12px 0px rgba(0,0,0,0.12)

    .fixed-layout
      position: fixed
      background-color: white
      width: 100%
      bottom: 0px

    .endtime
      color: #51AAF4

    .tabs-product
      .v-tabs__item
        opacity: 1
        color: #AAADC4
        font-weight: 100

      .v-tabs__item.v-tabs__item--active
        color: #42A5F5
        opacity: 1
        font-weight: bold

    .border-bottom
      border-bottom: 1px solid #E9ECF0

    .v-toolbar
      background-color: transparent !important

</style>
